USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[材料在庫更新処理]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE  PROCEDURE [dbo].[材料在庫更新処理] ( @YM VARCHAR(6) ) AS
-- * --------------------------------------------------------------------
-- *	Update 2004/06/14  By CIS - 1.日付判定の修正
-- *	Update 2010/01/11  By CIS - 土岐津VER、出庫情報：材料使用量テーブル追加
-- * --------------------------------------------------------------------

-- * TEST
--DECLARE @YM	VARCHAR(6)
--SELECT @YM = '200403'

DECLARE @DATE	VARCHAR(8)
DECLARE @WDATE  VARCHAR(8)
DECLARE @ZYM	VARCHAR(6)

SET NOCOUNT ON

SELECT @DATE = @YM + '01'
EXEC cDateAdd @DATE,'M',1,'','1',@WDATE OUTPUT
SELECT @ZYM = SUBSTRING(@WDATE,1,6)
-- * --------------------------------------------------------------------
-- *	ワークテーブル クリア
-- * --------------------------------------------------------------------
DELETE 材料在庫更新ワーク
	WHERE 処理端末 = HOST_NAME()

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END
-- * --------------------------------------------------------------------
-- *	入庫情報抽出
-- * --------------------------------------------------------------------

-- SELECT * FROM 材料マスタ
-- SELECT * FROM 材料在庫マスタ
-- SELECT * FROM 材料入荷テーブル

-- * (入荷テーブル) 
INSERT INTO 材料在庫更新ワーク
	(処理端末,材料管理番号,材質,寸法区分,板厚,幅,長さ,
	 在庫数,入庫数,出庫数,実棚日,作成区分,区分,SIZE)
	SELECT HOST_NAME(),HN.材料管理番号,HN.材質,HN.寸法区分,HN.板厚,HN.幅,HN.長さ,
		ISNULL(ZK.在庫数,0),SUM(ISNULL(NK.入荷数,0)) ,0,
		ISNULL(ZK.実棚日,''),ISNULL(ZZ.作成区分,0),0,HN.SIZE
	FROM 材料マスタ HN
	LEFT OUTER JOIN 材料在庫マスタ ZK
	  ON ZK.年月度 = @YM
	 AND ZK.材料管理番号 = HN.材料管理番号
	LEFT OUTER JOIN 材料在庫マスタ ZZ
	  ON ZZ.年月度 = @ZYM
	 AND ZZ.材料管理番号 = HN.材料管理番号
	LEFT OUTER JOIN 材料入荷テーブル NK
	  ON NK.材料管理番号 = HN.材料管理番号
	 AND SUBSTRING(NK.入荷日,1,6) = @YM
	 AND NK.入荷日 > ISNULL(ZK.実棚日,'')
	WHERE HN.在庫管理区分 <> 0
	GROUP BY HN.材料管理番号,HN.材質,HN.寸法区分,HN.板厚,HN.幅,HN.長さ,
		ZK.在庫数,ZK.実棚日,ZZ.作成区分,HN.SIZE

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END

-- * (実績管理テーブル・入庫) 
INSERT INTO 材料在庫更新ワーク
	(処理端末,材料管理番号,材質,寸法区分,板厚,幅,長さ,
	 在庫数,入庫数,出庫数,実棚日,作成区分,区分,SIZE)
	SELECT HOST_NAME(),HN.材料管理番号,HN.材質,HN.寸法区分,HN.板厚,HN.幅,HN.長さ,
		ISNULL(ZK.在庫数,0),SUM(ISNULL(JS.実績数,0)) ,0, 
		ISNULL(ZK.実棚日,''),ISNULL(ZZ.作成区分,0),0,HN.SIZE
	FROM 材料マスタ HN
	LEFT OUTER JOIN 材料在庫マスタ ZK
	  ON ZK.年月度 = @YM
	 AND ZK.材料管理番号 = HN.材料管理番号
	LEFT OUTER JOIN 材料在庫マスタ ZZ
	  ON ZZ.年月度 = @ZYM
	 AND ZZ.材料管理番号 = HN.材料管理番号
	LEFT OUTER JOIN 材料実績管理テーブル JS
	  ON JS.材質 = HN.材質
	 AND JS.寸法区分 = HN.寸法区分
	 AND JS.板厚 = HN.板厚
	 AND JS.幅 = HN.幅
	 AND JS.長さ = HN.長さ
	 AND SUBSTRING(JS.実績日,1,6) = @YM
	 AND JS.実績日 > ISNULL(ZK.実棚日,'')
         AND JS.実績区分 = 1		
	WHERE HN.在庫管理区分 <> 0
	GROUP BY HN.材料管理番号,HN.材質,HN.寸法区分,HN.板厚,HN.幅,HN.長さ,
		ZK.在庫数,ZK.実棚日,ZZ.作成区分,HN.SIZE

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END

-- SELECT * FROM 材料実績管理テーブル

-- * --------------------------------------------------------------------
-- *	出庫情報抽出
-- * --------------------------------------------------------------------
-- * (実績管理テーブル・出庫＆支給) 
INSERT INTO 材料在庫更新ワーク
	(処理端末,材料管理番号,材質,寸法区分,板厚,幅,長さ,
	 在庫数,入庫数,出庫数,実棚日,作成区分,区分,SIZE)
	SELECT HOST_NAME(),HN.材料管理番号,HN.材質,HN.寸法区分,HN.板厚,HN.幅,HN.長さ,
		ISNULL(ZK.在庫数,0),0,SUM(ISNULL(JS.実績数,0)),
		 ISNULL(ZK.実棚日,''),ISNULL(ZZ.作成区分,0),0,HN.SIZE
	FROM 材料マスタ HN
	LEFT OUTER JOIN 材料在庫マスタ ZK
	  ON ZK.年月度 = @YM
	 AND ZK.材料管理番号 = HN.材料管理番号
	LEFT OUTER JOIN 材料在庫マスタ ZZ
	  ON ZZ.年月度 = @ZYM
	 AND ZZ.材料管理番号 = HN.材料管理番号
	LEFT OUTER JOIN 材料実績管理テーブル JS
	  ON JS.材質 = HN.材質
	 AND JS.寸法区分 = HN.寸法区分
	 AND JS.板厚 = HN.板厚
	 AND JS.幅 = HN.幅
	 AND JS.長さ = HN.長さ
	 AND SUBSTRING(JS.実績日,1,6) = @YM
	 AND JS.実績日 > ISNULL(ZK.実棚日,'')
     AND JS.実績区分 <> 1		
	 AND JS.入力種類 <> 'A'				--2010/01/11
	WHERE HN.在庫管理区分 <> 0
	GROUP BY HN.材料管理番号,HN.材質,HN.寸法区分,HN.板厚,HN.幅,HN.長さ,
		ZK.在庫数,ZK.実棚日,ZZ.作成区分,HN.SIZE

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END


-- 2010/01/11 ADD
-- * (材料使用量テーブル) 
INSERT INTO 材料在庫更新ワーク
	(処理端末,材料管理番号,材質,寸法区分,板厚,幅,長さ,
	 在庫数,入庫数,出庫数,実棚日,作成区分,区分,SIZE)
	SELECT HOST_NAME(),HN.材料管理番号,HN.材質,HN.寸法区分,HN.板厚,HN.幅,HN.長さ,
		ISNULL(ZK.在庫数,0),0,SUM(ISNULL(ZS.使用量,0)),
		 ISNULL(ZK.実棚日,''),ISNULL(ZZ.作成区分,0),0,HN.SIZE
	FROM 材料マスタ HN
	LEFT OUTER JOIN 材料在庫マスタ ZK
	  ON ZK.年月度 = @YM
	 AND ZK.材料管理番号 = HN.材料管理番号
	LEFT OUTER JOIN 材料在庫マスタ ZZ
	  ON ZZ.年月度 = @ZYM
	 AND ZZ.材料管理番号 = HN.材料管理番号
	LEFT OUTER JOIN 材料使用量テーブル ZS
	  ON ZS.材料管理番号 = HN.材料管理番号
	 AND SUBSTRING(ZS.作業日,1,6) = @YM
	 AND ZS.作業日 > ISNULL(ZK.実棚日,'')
	WHERE HN.在庫管理区分 <> 0
	GROUP BY HN.材料管理番号,HN.材質,HN.寸法区分,HN.板厚,HN.幅,HN.長さ,
		ZK.在庫数,ZK.実棚日,ZZ.作成区分,HN.SIZE

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END

-- * --------------------------------------------------------------------
-- *	在庫数集計
-- * --------------------------------------------------------------------
INSERT INTO 材料在庫更新ワーク
	(処理端末,材料管理番号,材質,寸法区分,板厚,幅,長さ,
	 在庫数,入庫数,出庫数,実棚日,作成区分,区分,SIZE)
	SELECT HOST_NAME(),材料管理番号,材質,寸法区分,板厚,幅,長さ,
		在庫数 + SUM(入庫数) - SUM(出庫数),
		SUM(入庫数),SUM(出庫数),実棚日,作成区分,9,SIZE
		FROM 材料在庫更新ワーク
		WHERE 処理端末 = HOST_NAME()
		GROUP BY 処理端末,材料管理番号,材質,寸法区分,板厚,幅,長さ,
			在庫数,実棚日,作成区分,SIZE

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END
-- * --------------------------------------------------------------------
-- *	在庫更新処理
-- * --------------------------------------------------------------------
-- * 在庫マスタ
DELETE 材料在庫マスタ
	WHERE 年月度 = @ZYM
	  AND 作成区分 = 0

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END

INSERT INTO 材料在庫マスタ
	(年月度,材料管理番号,材質,寸法区分,板厚,幅,長さ,
	在庫数,実棚日,変更事由,作成区分,SIZE,作成日,作成者,作成端末)
	SELECT @ZYM,材料管理番号,材質,寸法区分,板厚,幅,長さ,
		在庫数,	'','',0,SIZE,GETDATE(),'',HOST_NAME()
		FROM 材料在庫更新ワーク
		WHERE 作成区分 = 0
		  AND 区分 <> 0

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END

-- * 在庫履歴マスタ・変更無し
UPDATE 材料在庫履歴マスタ SET
	材料在庫履歴マスタ.在庫数 = ZW.在庫数
	FROM 材料在庫履歴マスタ ZR
	LEFT OUTER JOIN 材料在庫更新ワーク ZW
	  ON ZW.処理端末 = HOST_NAME()
	 AND ZW.材料管理番号 = ZR.材料管理番号
	 AND 区分 <> 0
	WHERE ZR.年月度 = @ZYM
	  AND ZR.作成区分 = 0
	  AND ZR.履歴区分 = 0

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END

-- * 新規
INSERT INTO 材料在庫履歴マスタ
	(年月度,材料管理番号,材質,寸法区分,板厚,幅,長さ,
	 入力日付,入力担当者,在庫数,実棚日,変更事由,
	 作成区分,履歴区分,作成日,作成者,作成端末)
	SELECT @ZYM,ZW.材料管理番号,ZW.材質,ZW.寸法区分,ZW.板厚,ZW.幅,ZW.長さ,
		GETDATE(),'',ZW.在庫数,'','',0,0,GETDATE(),'',HOST_NAME()
		FROM 材料在庫更新ワーク ZW
		LEFT OUTER JOIN 材料在庫履歴マスタ ZR
		  ON ZR.年月度 = @ZYM
		 AND ZR.材料管理番号 = ZW.材料管理番号
		 AND ZR.作成区分 = 0
		 AND ZR.履歴区分 = 0
		WHERE ZW.作成区分 = 0
		  AND ZW.区分 <> 0
		  AND ZR.材料管理番号 IS NULL

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END


-- * --------------------------------------------------------------------
-- *	正   常   終   了
-- * --------------------------------------------------------------------
PRCO_END:

DELETE 材料在庫更新ワーク
	WHERE 処理端末 = HOST_NAME()

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END

RETURN(0)

-- * --------------------------------------------------------------------
-- *	異   常   終   了
-- * --------------------------------------------------------------------
PROC_ERR:
RETURN(1)





GO
