USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[メンテ用カレンダワーク作成]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[メンテ用カレンダワーク作成]	@TG_YM VARCHAR(6), @TORCD VARCHAR(7), @UKEIR VARCHAR(2) AS
SET NOCOUNT ON
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 * ( CNJ0020 / CNJ0030 )
 *
 *		生　産　計　画・発　注　内　示　メ　ン　テ　ナ　ン　ス　用　カ　レ　ン　ダ　ワ　ー　ク　作　成　( 仕掛/手配日算出用 )
 *
 *			PARAMETER	@TG_YM	( INPUT )	メンテ対象年月
 *					@TORCD	( INPUT )	取引先
 *					@UKEIR	( INPUT )	受入
 *
 *			RETURN		0 : 正常終了
 *			 		9 : 異常終了
 *
 *			COMMENT		「メンテ用仕掛・手配日算出」(ストアド)の前処理として、当ストアドを実行しておく事。
 *
 *			CREATE DATE	2004 / 03 / 02	By CIS
 *	    		UP DATE
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
DECLARE	@RTN		INT		/* リターン						*/

DECLARE	@STR1		VARCHAR(1000)	/* ワーク						*/
DECLARE	@INT1		INT		/* ワーク						*/
DECLARE	@INT2		INT		/* ワーク						*/

/*::::::::::::::::::::::*
 *	初期処理		*
 *::::::::::::::::::::::*/
SELECT	@RTN = 9

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *	自社カレンダ確認	 ( 発注・対象年月/対象年月-1/対象年月-2/対象年月-3 )	*
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
EXEC	社内カレンダチェック 1, @TG_YM, -3

/*::::::::::::::::::::::::::::::::::::::*
 *	カレンダワークメンテ用  削除	*
 *::::::::::::::::::::::::::::::::::::::*/
DELETE	カレンダワークメンテ用	WHERE 作成端末 = SUBSTRING( HOST_NAME(), 1, 20 )

/*::::::::::::::::::::::::::::::::::::::*
 *	カレンダワークメンテ用  作成	*
 *::::::::::::::::::::::::::::::::::::::*/
SELECT	@INT1 = 0, @INT2 = -3

WHILE	( @INT1 >= @INT2 )
    BEGIN

	SELECT	@STR1 = CONVERT( VARCHAR(6), DATEADD( M, @INT1, @TG_YM + '01' ), 112 )

	INSERT	INTO カレンダワークメンテ用
		( 取引先, 受入, 年月, 末日, 稼働末日, 稼働区分, 昼勤区分, 夜勤区分, 作成端末, 作成指示年月 )
		SELECT	@TORCD, @UKEIR, @STR1,
			C1.末日, 0, '', C1.稼動区分, C1.夜勤区分,
			SUBSTRING( HOST_NAME(), 1, 20 ), @TG_YM
			FROM カレンダマスタ C1
			WHERE C1.取引先区分 = 1
			AND   C1.取引先 = @TORCD
			AND   C1.受入 = @UKEIR
			AND   C1.年 = SUBSTRING( @STR1, 1, 4 )
			AND   C1.月 = SUBSTRING( @STR1, 5, 2 )
		UNION
		SELECT	@TORCD, @UKEIR, @STR1,
			C2.末日, 0, '', C2.稼動区分, C2.夜勤区分,
			SUBSTRING( HOST_NAME(), 1, 20 ), @TG_YM
			FROM カレンダマスタ C2
			LEFT OUTER JOIN カレンダマスタ C1
			ON    C1.取引先区分 = 1
			AND   C1.取引先 = @TORCD
			AND   C1.受入 = @UKEIR
			AND   C1.年 = C2.年
			AND   C1.月 = C2.月
			WHERE C2.取引先区分 = 1
			AND   C2.取引先 = ''
			AND   C2.受入 = ''
			AND   C2.年 = SUBSTRING( @STR1, 1, 4 )
			AND   C2.月 = SUBSTRING( @STR1, 5, 2 )
			AND   C1.取引先 IS NULL

	SELECT	@INT1 = @INT1 - 1
    END

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *	稼働区分(0:休み、1:半稼働、2:全稼働)、稼働末日(稼働日内の末日) 更新		*
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
UPDATE	カレンダワークメンテ用	SET
	稼働区分 = REPLACE(	REPLACE(	CAST(	CAST( REPLACE( REPLACE( 昼勤区分, '1', '2' ), '0', '1' ) AS DECIMAL(31) ) +
							CAST( REPLACE( REPLACE( 夜勤区分, '1', '2' ), '0', '1' ) AS DECIMAL(31) )
							AS VARCHAR(31) )
					, '4', '0' )
			, '3', '1' ),
	稼働末日 = CASE 
			WHEN SUBSTRING( 昼勤区分, 末日,      1 ) = 0 OR SUBSTRING( 夜勤区分, 末日,      1 ) = 0 THEN 末日
			WHEN SUBSTRING( 昼勤区分, 末日 -  1, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  1, 1 ) = 0 THEN 末日 -  1
			WHEN SUBSTRING( 昼勤区分, 末日 -  2, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  2, 1 ) = 0 THEN 末日 -  2
			WHEN SUBSTRING( 昼勤区分, 末日 -  3, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  3, 1 ) = 0 THEN 末日 -  3
			WHEN SUBSTRING( 昼勤区分, 末日 -  4, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  4, 1 ) = 0 THEN 末日 -  4
			WHEN SUBSTRING( 昼勤区分, 末日 -  5, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  5, 1 ) = 0 THEN 末日 -  5
			WHEN SUBSTRING( 昼勤区分, 末日 -  6, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  6, 1 ) = 0 THEN 末日 -  6
			WHEN SUBSTRING( 昼勤区分, 末日 -  7, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  7, 1 ) = 0 THEN 末日 -  7
			WHEN SUBSTRING( 昼勤区分, 末日 -  8, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  8, 1 ) = 0 THEN 末日 -  8
			WHEN SUBSTRING( 昼勤区分, 末日 -  9, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  9, 1 ) = 0 THEN 末日 -  9
			WHEN SUBSTRING( 昼勤区分, 末日 - 10, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 - 10, 1 ) = 0 THEN 末日 - 10
			WHEN SUBSTRING( 昼勤区分, 末日 - 11, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 - 11, 1 ) = 0 THEN 末日 - 11
			WHEN SUBSTRING( 昼勤区分, 末日 - 12, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 - 12, 1 ) = 0 THEN 末日 - 12
			WHEN SUBSTRING( 昼勤区分, 末日 - 13, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 - 13, 1 ) = 0 THEN 末日 - 13
			WHEN SUBSTRING( 昼勤区分, 末日 - 14, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 - 14, 1 ) = 0 THEN 末日 - 14
			WHEN SUBSTRING( 昼勤区分, 末日 - 15, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 - 15, 1 ) = 0 THEN 末日 - 15
			ELSE 末日 - 16
		   END
--			( ↑ 通常末日より１５日間も確認しとけば、よっぽどよいかと･･･ ↑ )

IF	@RTN = 9	BEGIN	SELECT	@RTN = 0	END	

/*::::::::::::::::::::::*
 *	終 了 処 理	*
 *::::::::::::::::::::::*/
PROC_END:
	RETURN ( @RTN )



GO
