USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[テキスト受注TEXT変換_東プレ]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE       PROCEDURE [dbo].[テキスト受注TEXT変換_東プレ] (
				@PROCYMD 	VARCHAR(8),
				@PROCRNO 	INT,
				@RIREKI		INT,
				@FILENAME 	VARCHAR(50),
				@RTCD 		TINYINT OUTPUT
) AS
-- ------------------------------------------------------------------------------------------------------
-- 
-- 	テキスト受注TEXT変換_東プレ
-- 
-- 
-- 		パラメータ	：	@PROCYMD	-	処理日
-- 					：	@PROCRNO	-	処理日内連番
-- 					：	@RIREKI		-	履歴管理番号
-- 					：	@FILENAME	-	TEXTファイル名
-- 
--		Return		： 	@RTCD	 	･･･	ｴﾗｰｺｰﾄﾞ
-- 
-- 		作 成 日	：  2023/08/23
--
-- 		UP	DATE	：
-- 
-- ------------------------------------------------------------------------------------------------------
--
-- テキスト受注データ(REC1) CSVの内容(配置)
--
--   1:納入者     2:機種    3:部品番号   4:部品名称     5:納期     6:注文数量
--   7:注文番号   8:発注日  9:納入場所  10:指示区分名  11:親注文番号
--  12:情報区分コード  13:発注者コード  14:メーカーコード  15:適用年月
--  16:訂正コード      17:単価区分      18:内外区分        19:購買担当
--  20:部品番号（編集形式）   21:荷姿   22:納入場所2
--  23:内示数量1  24:確定注文範囲マーク1  25:内示数量2  26:確定注文範囲マーク2
--  27:内示数量3  28:確定注文範囲マーク3  29:内示数量4  30:確定注文範囲マーク4
--  31:内示数量5  32:確定注文範囲マーク5  33:内示数量6  34:確定注文範囲マーク6
--  35:内示数量7  36:確定注文範囲マーク7  37:内示数量8  38:確定注文範囲マーク8
--  39:内示数量9  40:確定注文範囲マーク9  41:内示数量10 42:確定注文範囲マーク10
--  43:内示数量11 44:確定注文範囲マーク11 45:内示数量12 46:確定注文範囲マーク12
--  47:内示数量13 48:確定注文範囲マーク13 49:内示数量14 50:確定注文範囲マーク14
--  51:内示数量15 52:確定注文範囲マーク15 53:内示数量16 54:確定注文範囲マーク16
--  55:内示数量17 56:確定注文範囲マーク17 57:内示数量18 58:確定注文範囲マーク18
--  59:内示数量19 60:確定注文範囲マーク19 61:内示数量20 62:確定注文範囲マーク20
--  63:内示数量21 64:確定注文範囲マーク21 65:内示数量22 66:確定注文範囲マーク22
--  67:内示数量23 68:確定注文範囲マーク23 69:内示数量24 70:確定注文範囲マーク24
--  71:内示数量25 72:確定注文範囲マーク25 73:内示数量26 74:確定注文範囲マーク26
--  75:内示数量27 76:確定注文範囲マーク27 77:内示数量28 78:確定注文範囲マーク28
--  79:内示数量29 80:確定注文範囲マーク29 81:内示数量30 82:確定注文範囲マーク30
--  83:内示数量31 84:確定注文範囲マーク31
--  85:指示区分  86:メーカー名称カナ  87:発注区分  88:工作コード  89:ライン番号
--  90:カレンダ区分1   91:カレンダ区分2   92:カレンダ区分3   93:カレンダ区分4
--  94:カレンダ区分5   95:カレンダ区分6   96:カレンダ区分7   97:カレンダ区分8
--  98:カレンダ区分9   99:カレンダ区分10 100:カレンダ区分11 101:カレンダ区分12
-- 102:カレンダ区分13 103:カレンダ区分14 104:カレンダ区分15 105:カレンダ区分16
-- 106:カレンダ区分17 107:カレンダ区分18 108:カレンダ区分19 109:カレンダ区分20
-- 110:カレンダ区分21 111:カレンダ区分22 112:カレンダ区分23 113:カレンダ区分24
-- 114:カレンダ区分25 115:カレンダ区分26 116:カレンダ区分27 117:カレンダ区分28
-- 118:カレンダ区分29 119:カレンダ区分30 120:カレンダ区分31
-- 121:３発内示数1    122:３発内示数2    123:３発内示数3            124:３発内示数4 
-- 125:SNP            126:発注会社名     127:メーカー名称漢字       128:納入場所名称
-- 129:セット部品番号 130:発注部署       131:納入時間   132:取引先  133:受入
--
-- ------------------------------------------------------------------------------------------------------

SET NOCOUNT ON
-- TEST
--  DECLARE @PROCYMD 	VARCHAR(8)
--  DECLARE @PROCRNO 	INT
--  DECLARE @RIREKI   	int
--  DECLARE @FILENAME 	VARCHAR(20)
--  DECLARE @RTCD 		TINYINT
--  DECLARE @E 	INT
-- -- 
--  SELECT @PROCYMD = CONVERT(VARCHAR(8),Getdate(),112)
--  SELECT @PROCRNO = 1
--  SELECT @RIREKI = 1
--  SELECT @FILENAME = 'MFDFILE.TXT'

-- exec TOPPS受注TEXT変換_東プレ @PROCYMD,@PROCRNO,@RIREKI,@FILENAME,@RTCD
-- TEST END

DECLARE @TX_CNT			INT
DECLARE @TX_OTCNT 		INT
DECLARE @TX_NOCNT 		INT

DECLARE @TX_A_PUTFLG 	TINYINT
DECLARE @TX_B_PUTFLG	TINYINT
DECLARE @ERR 			TINYINT
DECLARE @JNO			INT		-- 受注管理番号
DECLARE @JGNO			TINYINT	-- 受注管理行番号
--DECLARE @TX_TYPE		TINYINT	-- 0:受注,1:出荷
DECLARE @TX_TYPE		TINYINT	-- 0:受注,1:出荷,2:受注(テクノエイト),3:受注(ヨロズ愛知),4:受注(東プレ)
DECLARE @WRTN			TINYINT	-- リターン
DECLARE @PROCCNT		INT		-- 退避連番

SELECT @TX_CNT = 0
SELECT @TX_OTCNT = 0,@TX_NOCNT = 0
SELECT @ERR = 0 
--SELECT @TX_TYPE = 0
SELECT @TX_TYPE = 4				

SELECT @PROCCNT = 退避連番	From	テキスト変換履歴テーブル
							Where	履歴管理番号 = @RIREKI

-- -----------------------
--  テキスト変換テーブル削除
-- -----------------------
Delete From テキスト変換テーブル
	Where 処理日     = @PROCYMD
	  And 処理回数   = @PROCRNO
	  And 処理区分   = @TX_TYPE
	  And ファイル名 = @FILENAME
IF @@ERROR <> 0 BEGIN SELECT @ERR = 70 GOTO PROC_ERROR END

-----  2006.04.14 Insert
-------------- 受注TOPPSテーブル（回数=1) 削除
IF @PROCRNO = 1 
   BEGIN
	Delete 受注TOPPSテーブル
		FROM  受注TOPPSテーブル
	 	Left  Outer Join 受注テーブル WK
		  ON  受注TOPPSテーブル.受注管理NO   = WK.受注管理NO
		 AND  受注TOPPSテーブル.受注管理行NO = WK.受注管理行NO
		Where IsNull(WK.受注管理NO,0) = 0
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 17 GOTO PROC_ERROR END
   END
-----  2006.04.14 Insert End

DECLARE TXCUR SCROLL CURSOR
FOR
	SELECT REC1						--,REC2,REC3	-- 2009.09.15 upd : REC1のみ、REC2,REC3不使用
	  From テキスト受注データ
FOR READ ONLY
OPEN TXCUR

DECLARE @TX_REC1	VARCHAR(MAX)	-- 2009.09.16 upd : REC1のみ : @TX_REC1 VARCHAR(323),@TX_REC2 VARCHAR(260),@TX_REC3 VARCHAR(162)

-- Aレコード
DECLARE @TA_JYMD	VARCHAR(8),		--受注日（処理日）	
		@TA_JBIN	VARCHAR(2),		--受注便（'01'）
		@TA_NYMD	VARCHAR(8),		--納入日（'20'＋納入年月日時分の1～6桁）
		@TA_NBIN	VARCHAR(2)		--納入便（'01'）
DECLARE @TA_NTORCD	VARCHAR(6),		--納入先（メーカー・デポ）						-- 2009.09.23 upd : 5-->6
		@TA_UKEIR	VARCHAR(2),		--受入　（納入場所の1～2桁）
--		@TA_NOUNO	VARCHAR(7)		--納入番号（発行NO）							-- 2009.09.23 upd : 5-->7
		@TA_NOUNO	VARCHAR(9)		--納入番号（発行NO）							-- 2009.09.23 upd : 5-->7
DECLARE @TA_NTORNM	VARCHAR(20)		--納入先名（----）
DECLARE @TA_CARD	VARCHAR(1)		--カード＃（----）			-- 2006.04.14 Insert

DECLARE @TA_NJIGYO	VARCHAR(2)		--納入先事業体（----）		-- 2008.07.18 Insert
DECLARE @TA_NJIGYOKJ VARCHAR(1)		--納入先事業体工区（----）	-- 2008.07.18 Insert
DECLARE @TA_SJIGYO	VARCHAR(2)		--仕入先事業体（----）		-- 2008.07.18 Insert
DECLARE @TA_SYUKABA VARCHAR(3)		--出荷場（----）			-- 2008.07.18 Insert
-- Bレコード
DECLARE @TB_BINKB	VARCHAR(1),		--便内分割区分（分納区分？'0'）
--		@TB_HINBN	VARCHAR(12),	--品番（部品番号）
		@TB_HINBN	VARCHAR(20),	--品番（部品番号）
		@TB_SEBAN	VARCHAR(8)		--背番号（品番取引先マスタ：納入先,受入,品番）	-- 2009.09.23 upd : 4-->8
DECLARE @TB_KMAI	INT,			--枚数（容器数(ラベル枚数)）
		@TB_SYUYO	INT,			--収容数（SNP）
		@TB_NSU		INT,			--端数または納入数（納入指示数）：注）納入数として使用する
		@TB_HASU	INT				--打切端数（'0'）：注）通常の端数として使用する		
DECLARE @TB_UKB		TINYINT,		--打切区分（'0'）
		@TB_UZAN	INT				--打切残数（'0'）
DECLARE @TB_HINNM	VARCHAR(40)		--品名（----）
DECLARE @TB_NOGYO	SMALLINT		--行連番（+1）				-- < 2006/06/14 ADD >

-- KEY項目
DECLARE @KEY_NTORCD	VARCHAR(5),		--納入先
		@KEY_UKEIR	VARCHAR(2),		--受入
		@KEY_NYMD	VARCHAR(8),		--納入日
		@KEY_NBIN	VARCHAR(2),		--納入便
		@KEY_NOUNO	VARCHAR(5)		--納入番号

DECLARE @IN_NYM 	VARCHAR(4),		--適用年月
		@IN_NDD	    VARCHAR(2)		--納期の日

SELECT @TA_NOUNO = '', @TB_NOGYO = 0
SELECT @TX_A_PUTFLG = 0

SELECT @KEY_NTORCD = '',@KEY_UKEIR = '',@KEY_NYMD = '',@KEY_NBIN = '',@KEY_NOUNO = ''

DECLARE @WYMD VARCHAR(8)
DECLARE @SYMD VARCHAR(8)
DECLARE @EYMD VARCHAR(8)

DECLARE @WDEC1 DECIMAL(7,1)

SELECT @SYMD = CONVERT(VARCHAR(8),DATEADD(m,-6,GETDATE()),112)
SELECT @EYMD = CONVERT(VARCHAR(8),DATEADD(m, 6,GETDATE()),112)

	
-- * TOPPS受注テキスト
FETCH NEXT FROM TXCUR INTO @TX_REC1	--2009.09.16 upd : ,@TX_REC2,@TX_REC3

WHILE @@FETCH_STATUS = 0 
    BEGIN
	SELECT @TX_CNT	= @TX_CNT + 1 

	SELECT @TA_JYMD	= (SELECT Data FROM dbo.Split(@TX_REC1, ',') WHERE Id = 8)					--発注日
	SELECT @TA_JBIN	= '01'			--受注便	--2009.09.16 upd : SUBSTRING(@TX_REC1,84,2) 	

	SET @IN_NYM = (SELECT Data FROM dbo.Split(@TX_REC1, ',') WHERE Id = 15)						--適用年月
	SET @IN_NDD = (SELECT RIGHT(Data, 2) AS Data FROM dbo.Split(@TX_REC1, ',') WHERE Id = 5)	--納期
	SELECT @TA_NYMD = '20' + @IN_NYM + @IN_NDD		--納入日
	SELECT @TA_NBIN = '01'							--納入便

	SET @TA_NTORCD = (SELECT Data FROM dbo.Split(@TX_REC1, ',') WHERE Id = 132) 	--納入先

/*
	IF RTRIM(@TA_NTORCD) = '' 
	   BEGIN
		SELECT @TA_NTORCD = '1020'
	   END

	SET @TA_UKEIR = (SELECT Data FROM dbo.Split(@TX_REC1, ',') WHERE Id = 133) 	--受入	

	IF RTRIM(@TA_UKEIR) = '' 
	   BEGIN
		SELECT @TA_UKEIR = '01'
	   END
*/

	SET @TA_NOUNO = (SELECT Data FROM dbo.Split(@TX_REC1, ',') WHERE Id = 7) 	--納入番号

	--SELECT @TA_NOUNO = CONVERT(VARCHAR(9),CONVERT(INT,@TA_NOUNO))

	SELECT @TA_NTORNM   = '' 						--納入先名：SUBSTRING(@TX_REC2,1,10)
	SELECT @TA_CARD	    = ''  						--ｶｰﾄﾞ# 　：SUBSTRING(@TX_REC1,70,1)

	SELECT @TA_NJIGYO   = ''  						--納入先事業体SUBSTRING(@TX_REC1,13,2)
	SELECT @TA_NJIGYOKJ = ''  						--納入先事業体工区SUBSTRING(@TX_REC1,15,1)
	SELECT @TA_SJIGYO   = ''						--仕入先事業体SUBSTRING(@TX_REC1,29,2)
	SELECT @TA_SYUKABA  = '' 						--出荷場SUBSTRING(@TX_REC1,36,3)

--	SELECT @TA_JYMD,@TA_JBIN,@TA_NYMD,@TA_NBIN,@TA_NTORCD,@TA_UKEIR,@TA_NOUNO,@TA_NTORNM,@TA_CARD
	SELECT @TB_BINKB = ''  							--便内分割区分：SUBSTRING(@TX_REC3,1,1)
	SET @TB_HINBN = (SELECT Data FROM dbo.Split(@TX_REC1, ',') WHERE Id = 3) 	--品番
  --SELECT @TB_SEBAN = LTRIM(SUBSTRING(@TX_REC3,20,4))--背番号	--2009.09.16 del


	SELECT @TA_NTORCD = ISNULL(MAX(取引先),'') , @TA_UKEIR = ISNULL(MAX(受入) ,'')
		FROM 品番取引先マスタ 
		WHERE 品番 = @TB_HINBN 
		AND 品目 = 0
	IF RTRIM(@TA_NTORCD) = '' 
	   BEGIN
		SELECT @TA_NTORCD = '1020'
	   END

	SET @TA_UKEIR = (SELECT Data FROM dbo.Split(@TX_REC1, ',') WHERE Id = 133) 	--受入	

	IF RTRIM(@TA_UKEIR) = '' 
	   BEGIN
		SELECT @TA_UKEIR = '01'
	   END



	SELECT @TB_SEBAN = ''
	SELECT @TB_SEBAN = ISNULL(背番号,'') From 品番取引先マスタ	--背番号	--2009.09.16 add				
	 Where 取引先 = @TA_NTORCD
	   And 受入   = @TA_UKEIR
	   And 品番   = @TB_HINBN
	
	SELECT @TB_KMAI  = 0 	--枚数
	
	SET @TB_SYUYO = CONVERT(INT,(SELECT Data FROM dbo.Split(@TX_REC1, ',') WHERE Id = 125)) 	--収容数
	SET @TB_NSU = CONVERT(INT,(SELECT Data FROM dbo.Split(@TX_REC1, ',') WHERE Id = 6))   	--納入数

	--枚数計算
	IF @TB_KMAI = 0 
	   BEGIN
		SELECT @WDEC1 = @TB_SYUYO
		SELECT @TB_KMAI = CEILING(@TB_NSU / @WDEC1)
	   END

	
	SELECT @TB_HASU  = 0 							--打切端数（通常端数として使用）：CONVERT(INT,SUBSTRING(@TX_REC1,104,6))
	SELECT @TB_UKB   = 0 							--打切区分：CONVERT(TINYINT,SUBSTRING(@TX_REC3,34,1))
	SELECT @TB_UZAN  = 0 							--打切残数：CONVERT(INT,SUBSTRING(@TX_REC3,35,7))

	SELECT @TB_HINNM = '' 							--品名：LTRIM(SUBSTRING(@TX_REC3,92,40))
  --SELECT @TB_HINNM = Replace(@TB_HINNM,'''','')	--2009.09.16 del
	SELECT @TB_NOGYO = '1'							-- 行連番：CONVERT( SMALLINT, SUBSTRING( @TX_REC3, 5, 3 ))

		IF (SELECT Count(品番) From テキスト変換テーブル
			Where 処理日   = @PROCYMD
			  And 処理回数  = @PROCRNO
			  And 処理区分 = @TX_TYPE
			  And ファイル名 = @FILENAME
			  And 納入先   = @TA_NTORCD
			  And 受入      = @TA_UKEIR
			  And 納入番号 = @TA_NOUNO
			  And 行連番   = @TB_NOGYO	-- < 2006/06/14 ADD >
			  And 納入日    = @TA_NYMD
			  And 納入便    = @TA_NBIN
			  And 品番       = @TB_HINBN
		          And 便内分割区分 =	@TB_BINKB ) = 0
		   BEGIN

			IF @KEY_NTORCD   <> @TA_NTORCD OR @KEY_UKEIR  <> @TA_UKEIR
			  OR @KEY_NOUNO <> @TA_NOUNO OR @KEY_NYMD   <> @TA_NYMD
			  OR @KEY_NBIN     <> @TA_NBIN
			    BEGIN
				-- -----------------
				--  受注管理NO 採番 
				-- -----------------
				EXEC 番号獲得  11,  @JNO OUTPUT, @WRTN OUTPUT
				IF @WRTN <> 0 	BEGIN	SELECT @ERR = 99 GOTO PROC_ERROR END
				SELECT @JGNO = 0
			    END

			SELECT @JGNO = @JGNO + 1

			INSERT INTO テキスト変換テーブル
				(処理日,処理回数, 処理区分,ファイル名,納入先, 受入, 納入番号, 納入日, 納入便,
				 品番,便内分割区分,退避連番,受注管理番号,受注管理行番号,出荷指示書NO,出荷指示書行NO,受注日,受注便,背番号,収容数,
				 かんばん枚数,納入数,打切端数,打切区分,打切残数,出荷数,挽回日,挽回便,
				 ERR重複,ERR収容数,ERR背番号,ERR受注,品番仮,品取仮,取引先仮,受入仮,
				 納入先名,品名, 作成日,作成端末, 行連番,
				納入先事業体,納入先事業体工区,仕入先事業体,出荷場 )					-- 2008/07/18ADD
			VALUES
				(@PROCYMD,@PROCRNO,@TX_TYPE,@FILENAME,@TA_NTORCD,@TA_UKEIR,@TA_NOUNO,@TA_NYMD,@TA_NBIN,
				 @TB_HINBN,@TB_BINKB,@PROCCNT,@JNO,@JGNO,0,0,@TA_JYMD,@TA_JBIN,@TB_SEBAN,@TB_SYUYO,
				 @TB_KMAI,@TB_NSU,@TB_HASU,@TB_UKB,@TB_UZAN,0,'','',
				 0,0,0,0,0,0,0,0,
				@TA_NTORNM,@TB_HINNM,
				 Getdate(),Substring(Host_Name(),1,20), @TB_NOGYO,
				 @TA_NJIGYO,@TA_NJIGYOKJ,@TA_SJIGYO,@TA_SYUKABA)				-- 2008/07/18ADD
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 2 GOTO PROC_ERROR END
			SELECT @TX_OTCNT = @TX_OTCNT + 1

		END

	SELECT @KEY_NTORCD = @TA_NTORCD, @KEY_UKEIR = @TA_UKEIR
	SELECT @KEY_NYMD   = @TA_NYMD  , @KEY_NBIN  = @TA_NBIN, @KEY_NOUNO = @TA_NOUNO
	

	--* 次ﾚｺｰﾄﾞ
	FETCH NEXT FROM TXCUR INTO @TX_REC1	-- 2009.09.16 upd : ,@TX_REC2,@TX_REC3
    END

--*  CLOSE & DEALLOCATE
CLOSE TXCUR
DEALLOCATE TXCUR


------------ TOPPS履歴更新
IF @RIREKI <> 0 
   BEGIN
	Update テキスト変換履歴テーブル
	   Set 入力件数 = 入力件数 + @TX_CNT
	 Where 履歴管理番号 = @RIREKI
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 4 GOTO PROC_ERROR END
   END

PROC_END:
--SELECT '入力件数' = @TX_CNT,'出力件数' = @TX_OTCNT,'対象外件数' = @TX_NOCNT
--* 正常終了 *--
RETURN(0)
PROC_ERROR:
--* 異常終了 *--
---TEST --------------------------------------------------
/*
IF @ERR <> 0 
   BEGIN
	 SELECT 'ERROR=',CONVERT(CHAR(2),@ERR)
   END	*/
------- --------------------------------------------------
--SELECT @ERR
SELECT @RTCD = @ERR
RETURN(@ERR)
--RETURN
GO
