USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[受給照合]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     PROCEDURE [dbo].[受給照合]
	   @PROC TINYINT,
	   @YM VARCHAR(6),
	   @TORCD VARCHAR(7),
	   @ERR  TINYINT OUTPUT,
	   @TCNT INT OUTPUT,
	   @JCNT INT OUTPUT,
	   @CNTA INT OUTPUT,
	   @CNTC INT OUTPUT,
	   @CNTB INT OUTPUT,
	   @CNTE INT OUTPUT,
	   @CNTD INT OUTPUT,
	   @CNTF INT OUTPUT,
	   @CNTG INT OUTPUT
AS 

--*-----------------------------------------------------------------------------------------------*--
--*	受給照合
--*
--*	処理内容	自社購入実績データと契約先売掛金データとの照合を行う。
--*
--*			照合対象契約先 ： 名称マスタ '照合対象受給契約先'に存在、数字1=照合タイプ
--*			照合対象データ ： 自社　購入明細テーブル 入力区分='4','5' 受給
--*			　　　　　　　　　　　契約先　TEXT買掛金テーブル 名称マスタ 'TEXT買掛金'の数字2=1
--*
--*	ﾊﾟﾗﾒﾀ		@PROC   : 	0:対象データ更新 & 対象件数取得,1:照合処理,2:両方
--*	        		@YM	    : 	対象年月
--*			@TORCD  : 	契約先
--*
--*	戻り値		@ERR     :      処理結果
--*					0  :正常終了
--*					≠0:異常終了
--*			@TCNT    :      得意先対象件数
--*			@JCNT    :      自社購入対象件数
--*			@CNTA    :      照合OK件数
--*			@CNTC    :      得意先未検収件数
--*			@CNTB    :      自社未検収件数
--*			@CNTE    :      単価差異件数
--*			@CNTD    :      数量差異件数
--*			@CNTF    :      単価数量差異件数
--*			@CNTG    :      日付差異件数(予備)
--*
--*	作 成 日	2006/08/23
--*	変 更 日	2009/03/06  '-'対応
--*	変 更 日	2009/06/10  受給材料対応
--*
--*-----------------------------------------------------------------------------------------------*--
SET NOCOUNT ON
/*
----TEST  
 DECLARE @PROC		TINYINT
 DECLARE @YM		VARCHAR(6)
 DECLARE @TORCD		VARCHAR(7)
 DECLARE @ERR		TINYINT
 DECLARE @TCNT   		INT
 DECLARE @JCNT		INT
 DECLARE @CNTA		INT
 DECLARE @CNTB		INT
 DECLARE @CNTC		INT
 DECLARE @CNTD		INT
 DECLARE @CNTE		INT
 DECLARE @CNTF		INT
 DECLARE @CNTG		INT
-- -- 
 SELECT @PROC = 2
 SELECT @YM = '200607'
 SELECT @TORCD = '7364'
---- TEST END
*/
-------------------
--* ﾜｰｸ項目定義 *--
-------------------
DECLARE @SYOKB	 VARCHAR(2)		-- 照合結果コード
DECLARE @KURIKB	 TINYINT		-- 翌月繰越し区分
DECLARE @SelectFCD VARCHAR(20)	-- 対象FCD
DECLARE @SelectSHI  VARCHAR(20)	-- 対象識別子
DECLARE @SGKB	 VARCHAR(1)		-- 照合区分

-- 受給照合 更新用
DECLARE @TERR	 TINYINT
DECLARE @UPDTYPE TINYINT		-- 照合項目タイプ
--
DECLARE @KIN	INT		-- 金額ワーク
-- 初期値セット
SELECT @TCNT = 0,@JCNT = 0
SELECT @CNTA = 0,@CNTB = 0,@CNTC = 0,@CNTD = 0,@CNTE = 0,@CNTF = 0,@CNTG = 0

SELECT @ERR = 0
SELECT @SGKB = 'K'
SELECT @UPDTYPE = 0

SELECT @UPDTYPE = 数字1 From 名称マスタ
		Where 区分名称 = '照合対象受給契約先'
		    And 値 = @TORCD
IF @PROC <> 1
   BEGIN
	---------------------------------
	-- 購入明細テーブル 再処理用
	---------------------------------
	UPDATE 購入明細テーブル SET
		照合年月 = '',
		照合処理日 = '',
		照合結果 = ''
		WHERE ISNULL(照合年月,'') = @YM
		    AND 契約先   = @TORCD
		    AND ISNULL(照合区分,'') = @SGKB
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 3 GOTO PROC_ERROR END
	-----------------------------------------------
	-- 購入明細テーブル 処理用 初期化 (繰越分・新規)
	-----------------------------------------------
	UPDATE 購入明細テーブル SET
		照合区分 = @SGKB,
		照合年月 = '',
		照合処理日 = '',
		照合結果 = ''
		WHERE ISNULL(照合年月,'') = ''
		    AND 契約先   = @TORCD
		    AND ISNULL(実績区分,0) = 0
		    AND 入力区分 IN ('4','5')		-- 入力区分='4':受給実績、'5':受給訂正
	 	    AND 単価 <> 0
		    AND 数量 <> 0	
		    AND 実績年月 = @YM				--2009/06/10
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 4 GOTO PROC_ERROR END
	

	--================================================ 2009/06/10 Start
	---------------------------------
	-- 材料購入明細テーブル 再処理用
	---------------------------------
	UPDATE 材料購入明細テーブル SET
		照合年月 = '',
		照合処理日 = '',
		照合結果 = ''
	FROM 材料購入明細テーブル ZM,材料取引先マスタ ZT
	WHERE ZM.材料管理番号 = ZT.材料管理番号
	AND ZM.仕入先 = ZT.取引先
	AND ZM.受入 = ZT.受入
	AND ( ISNULL(ZT.手配区分,0) = 1 OR ISNULL(ZT.手配区分,0) = 3 )		--受給/直送のみ
	AND ISNULL(ZT.受給品番,'') <> ''									--受給品番入力済み
	AND ISNULL(ZM.照合年月,'') = @YM
    AND ZM.契約先   = @TORCD
    AND ISNULL(ZM.照合区分,'') = @SGKB
    AND ISNULL(実績区分,0) = 0
	AND ISNULL(ZM.照合年月,'') = ''

	IF @@ERROR <> 0 BEGIN SELECT @ERR = 13 GOTO PROC_ERROR END
	-----------------------------------------------
	--　材料購入明細テーブル 処理用 初期化 (新規)
	-----------------------------------------------
	UPDATE 材料購入明細テーブル SET
		照合区分 = @SGKB,
		照合年月 = '',
		照合処理日 = '',
		照合結果 = ''
	FROM 材料購入明細テーブル ZM,材料取引先マスタ ZT
	WHERE ZM.材料管理番号 = ZT.材料管理番号
	AND ZM.仕入先 = ZT.取引先
	AND ZM.受入 = ZT.受入
	AND ( ISNULL(ZT.手配区分,0) = 1 OR ISNULL(ZT.手配区分,0) = 3 )		--受給/直送のみ
	AND ISNULL(ZT.受給品番,'') <> ''									--受給品番入力済み
    AND ISNULL(実績区分,0) = 0
	AND ISNULL(ZM.照合年月,'') = ''
	AND ZM.契約先 = @TORCD
	AND 入力区分 IN ('1')
    AND 単価 <> 0
    AND 数量 <> 0	
    AND 実績年月 = @YM				--2009/06/10

	IF @@ERROR <> 0 BEGIN SELECT @ERR = 14 GOTO PROC_ERROR END
	--================================================ 2009/06/10 End

	--------------------------------
	-- TEXT買掛金テーブル 更新
	--------------------------------
	UPDATE TEXT買掛金テーブル SET
		照合年月 = '',
		照合結果 = ''
--		WHERE 対象年月 <= @YM
		WHERE 対象年月 = @YM					--2009/06/10
		  AND 契約先 = @TORCD
		  AND 照合区分 = @SGKB
		  AND 照合年月 = @YM
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 5 GOTO PROC_ERROR END
	----------------------------------------------------
	-- TEXT買掛金テーブル 再処理用 初期化 (繰越分・新規)
	----------------------------------------------------
	UPDATE TEXT買掛金テーブル SET
		照合区分 = @SGKB,
		照合年月 = '',
		照合結果 = ''
		 From 名称マスタ SY
		 Where SY.区分名称 = 'TEXT買掛金'
		    And  SY.値 = TEXT買掛金テーブル.契約先 + TEXT買掛金テーブル.FCD + TEXT買掛金テーブル.識別子
		    And TEXT買掛金テーブル.対象年月 = @YM
	              And TEXT買掛金テーブル.契約先 = @TORCD
		    And ISNULL(SY.数字2,0) <> 0
		    AND TEXT買掛金テーブル.単価 <> 0
		    AND TEXT買掛金テーブル.数量 <> 0	
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 6 GOTO PROC_ERROR END

   END
-----------------------------
-- TNS買掛金対象件数
-----------------------------
SELECT @TCNT = COUNT(*) FROM TEXT買掛金テーブル
			WHERE 照合年月 = ''
			  AND 照合区分 = @SGKB
--			  AND 対象年月 <= @YM
			  AND 対象年月 = @YM					--2009/06/10
			  AND 契約先   = @TORCD
-----------------------------
-- 自社売上対象件数
-----------------------------
SELECT @JCNT = COUNT(*) FROM 購入明細テーブル
			WHERE ISNULL(照合年月,'') = ''
			  AND 契約先   = @TORCD
--			  AND 実績年月 <= @YM
   		      AND 実績年月 = @YM				--2009/06/10
			  AND 照合区分 = @SGKB

--================================================ 2009/06/10 Start
SELECT @JCNT = COUNT(*) + @JCNT FROM 材料購入明細テーブル ZM,材料取引先マスタ ZT
			WHERE ZM.材料管理番号 = ZT.材料管理番号
  			  AND ZM.仕入先 = ZT.取引先
			  AND ZM.受入 = ZT.受入
			  AND ( ISNULL(ZT.手配区分,0) = 1 OR ISNULL(ZT.手配区分,0) = 3 )		--受給/直送のみ
			  AND ISNULL(ZT.受給品番,'') <> ''									--受給品番入力済み
			  AND ISNULL(ZM.照合年月,'') = ''
			  AND ZM.契約先   = @TORCD
		      AND ZM.実績年月 = @YM				--2009/06/10
			  AND ZM.照合区分 = @SGKB
--================================================ 2009/06/10 End


IF @PROC = 0
   BEGIN
           GOTO END_PROC
   END
-----------------------------
-- 受給差異明細テーブル削除
-----------------------------
DELETE 受給差異明細テーブル 
		WHERE 照合年月 >= @YM
		    AND 契約先 = @TORCD
IF @@ERROR <> 0 BEGIN SELECT @ERR = 7 GOTO PROC_ERROR END


--//////////////////////////////////////////////////--
------------------------------------------------------
-- 照合項目更新
------------------------------------------------------
--//////////////////////////////////////////////////--
---//   日付(YYYYMM) 品番(12) 管理番号なし
IF @UPDTYPE = 0
   BEGIN
	UPDATE 購入明細テーブル SET
		照合日付 = SUBSTRING(検収日,1,6),
--============================= *** 2009/03/06 START
--		照合品番 = CASE WHEN RTRIM(SUBSTRING(品番,11,2)) = ''  THEN
		照合品番 = CASE WHEN RTRIM(SUBSTRING(REPLACE(品番,'-',''),11,2)) = ''  THEN
--============================= *** 2009/03/06 END
							           RTRIM(品番) + '00'
				    ELSE RTRIM(品番) END,
		照合納番 = 納入番号,
		照合赤黒 = 赤黒区分,
		照合管理 = ''
		WHERE ISNULL(照合年月,'') = ''
		    AND 契約先   = @TORCD
--		    AND 実績年月 <= @YM
		    AND 実績年月 = @YM				--2009/06/10
		    AND 照合区分 = @SGKB
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 8 GOTO PROC_ERROR END

--================================================ 2009/06/10 Start
	UPDATE 材料購入明細テーブル SET
		照合日付 = SUBSTRING(ZM.検収日,1,6),
		照合材料管理番号 = ZM.材料管理番号,
		照合受給品番 = CASE WHEN RTRIM(SUBSTRING(REPLACE(ZT.受給品番,'-',''),11,2)) = ''  THEN
							           RTRIM(ZT.受給品番) + '00'
				    ELSE RTRIM(ZT.受給品番) END,
		受給品番 = ZT.受給品番,
		照合納番 = ZM.納入番号,
		照合赤黒 = ZM.赤黒区分,
		照合管理 = ''
	FROM 材料購入明細テーブル ZM,材料取引先マスタ ZT
		WHERE ZM.材料管理番号 = ZT.材料管理番号
		  AND ZM.仕入先 = ZT.取引先
		  AND ZM.受入 = ZT.受入
		  AND ( ISNULL(ZT.手配区分,0) = 1 OR ISNULL(ZT.手配区分,0) = 3 )		--受給/直送のみ
		  AND ISNULL(ZT.受給品番,'') <> ''									--受給品番入力済み
		  AND ISNULL(照合年月,'') = ''
		  AND ZM.契約先   = @TORCD
		  AND 実績年月 = @YM
		  AND ZM.照合区分 = @SGKB
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 18 GOTO PROC_ERROR END
--================================================ 2009/06/10 End

	UPDATE TEXT買掛金テーブル SET
		照合日付 = SUBSTRING(検収日,1,6),
--============================= *** 2009/03/06 START
--		照合品番 = CASE WHEN RTRIM(SUBSTRING(品番,11,2)) = ''  THEN
		照合品番 = CASE WHEN RTRIM(SUBSTRING(REPLACE(品番,'-',''),11,2)) = ''  THEN
--============================= *** 2009/03/06 END
							           RTRIM(品番) + '00'
				    ELSE RTRIM(品番) END,
		照合納番 = 納入番号,
		照合赤黒 = CASE WHEN 金額 < 0 THEN 1 ELSE 0 END,
		照合管理 = ''
		WHERE 照合年月 = ''
		    AND 照合区分 = @SGKB
		    AND 対象年月 <= @YM
		    AND 契約先   = @TORCD
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 9 GOTO PROC_ERROR END
   END
---//   日付(YYYYMMDD) 品番(12) 管理番号なし
IF @UPDTYPE = 1
   BEGIN
	UPDATE 購入明細テーブル SET
		照合日付 = 検収日,
--============================ 2009/03/06 START
--		照合品番 = CASE WHEN RTRIM(SUBSTRING(品番,11,2)) = ''  THEN
		照合品番 = CASE WHEN RTRIM(SUBSTRING(REPLACE(品番,'-',''),11,2)) = ''  THEN
--============================ 2009/03/06 END
							           RTRIM(品番) + '00'
				    ELSE RTRIM(品番) END,
		照合納番 = 納入番号,
		照合赤黒 = 赤黒区分,
		照合管理 = ''
		WHERE ISNULL(照合年月,'') = ''
		    AND 契約先   = @TORCD
--		    AND 実績年月 <= @YM
		    AND 実績年月 = @YM				--2009/06/10
		    AND 照合区分 = @SGKB
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 10 GOTO PROC_ERROR END

--================================================ 2009/06/10 Start
	UPDATE 材料購入明細テーブル SET
		照合日付 = ZM.検収日,
		照合材料管理番号 = ZM.材料管理番号,
		照合受給品番 = CASE WHEN RTRIM(SUBSTRING(REPLACE(ZT.受給品番,'-',''),11,2)) = ''  THEN
							           RTRIM(ZT.受給品番) + '00'
				    ELSE RTRIM(ZT.受給品番) END,
		受給品番 = ZT.受給品番,
		照合納番 = ZM.納入番号,
		照合赤黒 = ZM.赤黒区分,
		照合管理 = ''
	FROM 材料購入明細テーブル ZM,材料取引先マスタ ZT
		WHERE ZM.材料管理番号 = ZT.材料管理番号
		  AND ZM.仕入先 = ZT.取引先
		  AND ZM.受入 = ZT.受入
		  AND ( ISNULL(ZT.手配区分,0) = 1 OR ISNULL(ZT.手配区分,0) = 3 )		--受給/直送のみ
		  AND ISNULL(ZT.受給品番,'') <> ''									--受給品番入力済み
		  AND ISNULL(照合年月,'') = ''
		  AND ZM.契約先   = @TORCD
		  AND ZM.実績年月 = @YM				--2009/06/10
		  AND Zm.照合区分 = @SGKB
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 15 GOTO PROC_ERROR END
--================================================ 2009/06/10 End


	UPDATE TEXT買掛金テーブル SET
		照合日付 = 検収日,
--============================ 2009/03/06 START
--		照合品番 = CASE WHEN RTRIM(SUBSTRING(品番,11,2)) = ''  THEN
		照合品番 = CASE WHEN RTRIM(SUBSTRING(REPLACE(品番,'-',''),11,2)) = ''  THEN
--============================ 2009/03/06 END
							           RTRIM(品番) + '00'
				    ELSE RTRIM(品番) END,
		照合納番 = 納入番号,
		照合赤黒 = CASE WHEN 金額 < 0 THEN 1 ELSE 0 END,
		照合管理 = ''
		WHERE 照合年月 = ''
		    AND 照合区分 = @SGKB
--		    AND 対象年月 <= @YM
		    AND 対象年月 = @YM							--2009/06/10
		    AND 契約先   = @TORCD
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 11 GOTO PROC_ERROR END
   END
---//   日付(YYYYMM) 品番(10) 管理番号なし				2006.05.09 追加(( START ))
IF @UPDTYPE = 2
   BEGIN
	UPDATE 購入明細テーブル SET
		照合日付 = SUBSTRING(検収日,1,6),
-- =========================== 2009/03/06 START
--		照合品番 = SUBSTRING(品番,1,10),
		照合品番 = SUBSTRING(REPLACE(品番,'-',''),1,10),
-- =========================== 2009/03/06 END
		照合納番 = 納入番号,
		照合赤黒 = 赤黒区分,
		照合管理 = ''
		WHERE ISNULL(照合年月,'') = ''
		    AND 契約先   = @TORCD
--		    AND 実績年月 <= @YM
		    AND 実績年月 = @YM				--2009/06/10
		    AND 照合区分 = @SGKB
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 8 GOTO PROC_ERROR END

--================================================ 2009/06/10 Start
	UPDATE 材料購入明細テーブル SET
		照合日付 = SUBSTRING(ZM.検収日,1,6),
		照合材料管理番号 = ZM.材料管理番号,
		照合受給品番 = SUBSTRING(REPLACE(ZT.受給品番,'-',''),1,10),
		受給品番 = ZT.受給品番,
		照合納番 = ZM.納入番号,
		照合赤黒 = ZM.赤黒区分,
		照合管理 = ''
	FROM 材料購入明細テーブル ZM,材料取引先マスタ ZT
		WHERE ZM.材料管理番号 = ZT.材料管理番号
		  AND ZM.仕入先 = ZT.取引先
		  AND ZM.受入 = ZT.受入
		  AND ( ISNULL(ZT.手配区分,0) = 1 OR ISNULL(ZT.手配区分,0) = 3 )		--受給/直送のみ
		  AND ISNULL(ZT.受給品番,'') <> ''									--受給品番入力済み
		  AND ISNULL(照合年月,'') = ''
		  AND ZM.契約先   = @TORCD
		  AND ZM.実績年月 = @YM				--2009/06/10
		  AND ZM.照合区分 = @SGKB
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 18 GOTO PROC_ERROR END
--================================================ 2009/06/10 End

	UPDATE TEXT買掛金テーブル SET
		照合日付 = SUBSTRING(検収日,1,6),
--================================ 2009/03/06 START
--		照合品番 = SUBSTRING(品番,1,10),
		照合品番 = SUBSTRING(REPLACE(品番,'-',''),1,10),
--================================ 2009/03/06 END
		照合納番 = 納入番号,
		照合赤黒 = CASE WHEN 金額 < 0 THEN 1 ELSE 0 END,
		照合管理 = ''
		WHERE 照合年月 = ''
		    AND 照合区分 = @SGKB
--		    AND 対象年月 <= @YM
		    AND 対象年月 = @YM						--2009/06/10
		    AND 契約先   = @TORCD
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 9 GOTO PROC_ERROR END
   END
---//   日付(YYYYMMDD) 品番(10) 管理番号なし				2006.05.09 追加(( START ))
IF @UPDTYPE = 3
   BEGIN
	UPDATE 購入明細テーブル SET
		照合日付 = 検収日,
-- =================================== 2009/03/06 START
--		照合品番 = SUBSTRING(品番,1,10),
		照合品番 = SUBSTRING(REPLACE(品番,'-',''),1,10),
-- =================================== 2009/03/06 END
		照合納番 = 納入番号,
		照合赤黒 = 赤黒区分,
		照合管理 = ''
		WHERE ISNULL(照合年月,'') = ''
		    AND 契約先   = @TORCD
--		    AND 実績年月 <= @YM
		    AND 実績年月 = @YM				--2009/06/10
		    AND 照合区分 = @SGKB
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 8 GOTO PROC_ERROR END

--================================================ 2009/06/10 Start
	UPDATE 材料購入明細テーブル SET
		照合日付 = ZM.検収日,
		照合材料管理番号 = ZM.材料管理番号,
		照合受給品番 = SUBSTRING(REPLACE(ZT.受給品番,'-',''),1,10),
		受給品番 = ZT.受給品番,
		照合納番 = ZM.納入番号,
		照合赤黒 = ZM.赤黒区分,
		照合管理 = ''
	FROM 材料購入明細テーブル ZM,材料取引先マスタ ZT
		WHERE ZM.材料管理番号 = ZT.材料管理番号
		  AND ZM.仕入先 = ZT.取引先
		  AND ZM.受入 = ZT.受入
		  AND ( ISNULL(ZT.手配区分,0) = 1 OR ISNULL(ZT.手配区分,0) = 3 )		--受給/直送のみ
		  AND ISNULL(ZT.受給品番,'') <> ''									--受給品番入力済み
		  AND ISNULL(照合年月,'') = ''
		  AND ZM.契約先   = @TORCD
--		  AND ZM.実績年月 <= @YM
		  AND ZM.実績年月 = @YM				--2009/06/10
		  AND ZM.照合区分 = @SGKB
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 18 GOTO PROC_ERROR END
--================================================ 2009/06/10 End

	UPDATE TEXT買掛金テーブル SET
		照合日付 = 検収日,
-- ================================== 2009/03/06 START
--		照合品番 = SUBSTRING(品番,1,10),
		照合品番 = SUBSTRING(REPLACE(品番,'-',''),1,10),
-- ================================== 2009/03/06 END
		照合納番 = 納入番号,
		照合赤黒 = CASE WHEN 金額 < 0 THEN 1 ELSE 0 END,
		照合管理 = ''
		WHERE 照合年月 = ''
		    AND 照合区分 = @SGKB
--		    AND 対象年月 <= @YM
		    AND 対象年月 = @YM					--2009/06/10
		    AND 契約先   = @TORCD
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 9 GOTO PROC_ERROR END
   END


--//////////////////////////////////////////////////--
------------------------------------------------------
-- 受給照合ワーク作成(自社受給集計)
------------------------------------------------------
--//////////////////////////////////////////////////--
-- 照合ワーク 削除
DELETE FROM 受給照合ワーク


-- 照合ワーク 作成
INSERT INTO 受給照合ワーク
 	 (照合結果,照合日付,照合品番,照合納番,照合管理,照合赤黒,照合単価,照合数量,照合金額,金額,
--	  計算方法,計算単位,品番,納入番号,最大日付,件数 )						2009/06/10
	  計算方法,計算単位,品番,納入番号,最大日付,件数,部品材料区分 )
  SELECT '',照合日付,照合品番,照合納番,照合管理,照合赤黒,単価,SUM(ABS(数量)),SUM(金額),SUM(金額),
--	       計算方法,計算単位,品番,納入番号,MAX(検収日),COUNT(*)				2009/06/10
	       計算方法,計算単位,品番,納入番号,MAX(検収日),COUNT(*),''
    FROM 購入明細テーブル
  WHERE ISNULL(照合年月,'') = ''
      AND 契約先   = @TORCD
--      AND 実績年月 <= @YM
      AND 実績年月 = @YM				--2009/06/10
      AND 照合区分 = @SGKB
  GROUP BY 照合日付,照合品番,照合納番,照合管理,照合赤黒,単価,計算方法,計算単位,品番,納入番号
IF @@ERROR <> 0 BEGIN SELECT @ERR = 20 GOTO PROC_ERROR END


--================================================ 2009/06/10 Start
INSERT INTO 受給照合ワーク
 	 (照合結果,照合日付,照合品番,照合納番,照合管理,照合赤黒,照合単価,照合数量,照合金額,金額,
--	  計算方法,計算単位,品番,納入番号,最大日付,件数 )							2009/06/10
	  計算方法,計算単位,品番,納入番号,最大日付,件数,部品材料区分 )
  SELECT '',ZM.照合日付,ZM.照合受給品番,ZM.照合納番,ZM.照合管理,ZM.照合赤黒,ZM.単価,SUM(ABS(ZM.数量)),SUM(ZM.金額),SUM(ZM.金額),
--	       ZM.計算方法,ZM.計算単位,ZM.受給品番,ZM.納入番号,MAX(ZM.検収日),COUNT(*)		2009/06/10
	       ZM.計算方法,ZM.計算単位,ZM.受給品番,ZM.納入番号,MAX(ZM.検収日),COUNT(*),'Z'
    FROM 材料購入明細テーブル ZM,材料取引先マスタ ZT
	WHERE ZM.材料管理番号 = ZT.材料管理番号
	  AND ZM.仕入先 = ZT.取引先
	  AND ZM.受入 = ZT.受入
	  AND ( ISNULL(ZT.手配区分,0) = 1 OR ISNULL(ZT.手配区分,0) = 3 )		--受給/直送のみ
	  AND ISNULL(ZT.受給品番,'') <> ''									--受給品番入力済み
      AND ISNULL(照合年月,'') = ''
      AND ZM.契約先   = @TORCD
--      AND ZM.実績年月 <= @YM
	  AND 実績年月 = @YM				--2009/06/10
      AND ZM.照合区分 = @SGKB
  GROUP BY ZM.照合日付,ZM.照合受給品番,ZM.照合納番,ZM.照合管理,ZM.照合赤黒,ZM.単価,ZM.計算方法,ZM.計算単位,ZM.受給品番,ZM.納入番号
IF @@ERROR <> 0 BEGIN SELECT @ERR = 20 GOTO PROC_ERROR END
--================================================ 2009/06/10 End


--//////////////////////////////////////////////////--
------------------------------------------------------
-- 複数件の時、金額再計算		※基本的には対象はないはず
------------------------------------------------------
--//////////////////////////////////////////////////--
UPDATE 受給照合ワーク
 	SET 照合金額 = CASE WHEN 計算単位 = 0 THEN ROUND(照合数量 * 照合単価,0,1)     -- 切捨て
 		      	      	  WHEN 計算単位 = 1 THEN CEILING(照合数量 * 照合単価) 	    -- 切上げ
 			            WHEN 計算単位 = 2 THEN ROUND(照合数量 * 照合単価,0)     -- 四捨五入
 			END
 WHERE 件数 > 1
IF @@ERROR <> 0 BEGIN SELECT @ERR = 21 GOTO PROC_ERROR END

-- 受給照合結果ワーク 削除
DELETE FROM 受給照合結果ワーク

--//////////////////////////////////////////////////--
------------------------------------------------------
-- 照合 (品番・納入番号・日付・単価・数量 ) 照合OK
------------------------------------------------------
--//////////////////////////////////////////////////--
SELECT @SYOKB = '1'
-- 照合 
INSERT INTO 受給照合結果ワーク
--	( 照合結果,照合日付,照合品番,照合納番,照合管理,照合赤黒,財務管理番号)				2009/06/10
--SELECT  @SYOKB ,UR.照合日付,UR.照合品番,UR.照合納番,UR.照合管理,UR.照合赤黒,TK.財務管理番号	2009/06/10
	( 照合結果,照合日付,照合品番,照合納番,照合管理,照合赤黒,財務管理番号,部品材料区分)
SELECT  @SYOKB ,UR.照合日付,UR.照合品番,UR.照合納番,UR.照合管理,UR.照合赤黒,TK.財務管理番号,部品材料区分		
    FROM 受給照合ワーク UR
    FULL OUTER JOIN TEXT買掛金テーブル TK
	ON      TK.契約先 = @TORCD
--================================= 2009/03/06 START
--	AND	TK.照合品番   = UR.照合品番
	AND	TK.照合品番   = REPLACE(UR.照合品番,'-','')
--================================= 2009/03/06 END
	AND 	TK.照合納番 = UR.照合納番
	AND 	TK.照合日付 = UR.照合日付
	AND 	TK.照合管理 = UR.照合管理
	AND 	TK.照合赤黒 = UR.照合赤黒
	AND	TK.数量     = UR.照合数量
	AND 	TK.単価     = UR.照合単価
	AND 	TK.照合区分 = @SGKB
	AND    TK.照合年月 = ''
--	AND 	TK.対象年月 <= @YM
	AND 	TK.対象年月 = @YM					--2009/06/10
  WHERE UR.照合品番 IS NOT NULL
     AND TK.照合品番 IS NOT NULL
     AND UR.照合結果 = ''
IF @@ERROR <> 0 BEGIN SELECT @ERR = 31 GOTO PROC_ERROR END

-------------------
-- 照合結果更新
-------------------
EXEC 受給照合更新 @YM,@SYOKB,1,'',@TERR OUTPUT
IF @TERR <> 0 BEGIN SELECT @ERR = @TERR GOTO PROC_ERROR END


------------------------------------------------------
-- 照合 (品番・納入番号・日付(年月)・単価･数量 ) 日違い
------------------------------------------------------
IF @UPDTYPE = 1
   BEGIN	
	SELECT @SYOKB = 'G'
	-- 照合 
	INSERT INTO 受給照合結果ワーク
--		( 照合結果,照合日付,照合品番,照合納番,照合管理,照合赤黒,財務管理番号)				2009/06/10
--	SELECT  @SYOKB ,UR.照合日付,UR.照合品番,UR.照合納番,UR.照合管理,UR.照合赤黒,TK.財務管理番号		2009/06/10
		( 照合結果,照合日付,照合品番,照合納番,照合管理,照合赤黒,財務管理番号,部品材料区分)
	SELECT  @SYOKB ,UR.照合日付,UR.照合品番,UR.照合納番,UR.照合管理,UR.照合赤黒,TK.財務管理番号,部品材料区分
	    FROM 受給照合ワーク UR
	  FULL OUTER JOIN TEXT買掛金テーブル TK
		ON      TK.契約先 = @TORCD
--============================== ***2009/03/06 START
--		AND	TK.照合品番   = UR.照合品番
		AND	TK.照合品番   = REPLACE(UR.照合品番,'-','')
--============================== ***2009/03/06 END
		AND 	TK.照合納番 = UR.照合納番
--		AND 	SUBSTRING(TK.照合日付,1,6) = SUBSTRING(UR.照合日付,1,6)
--		AND 	SUBSTRING(TK.照合日付,7,2) <> SUBSTRING(UR.照合日付,7,2)
		AND 	TK.照合日付 <> UR.照合日付
		AND 	TK.照合管理 = UR.照合管理
		AND 	TK.照合赤黒 = UR.照合赤黒
		AND	TK.数量     = UR.照合数量
		AND 	TK.単価     = UR.照合単価
		AND 	TK.照合区分 = @SGKB
		AND    TK.照合年月 = ''
--		AND 	TK.対象年月 <= @YM
		AND 	TK.対象年月 = @YM						--2009/06/10
	WHERE UR.照合品番 IS NOT NULL
	    AND TK.照合品番 IS NOT NULL
	    AND UR.照合結果 = ''
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 37 GOTO PROC_ERROR END
	-------------------
	-- 照合結果更新
	-------------------
	EXEC 受給照合更新 @YM,@SYOKB,1,'',@TERR OUTPUT
	IF @TERR <> 0 BEGIN SELECT @ERR = @TERR GOTO PROC_ERROR END
   END

--//////////////////////////////////////////////////--
------------------------------------------------------
-- 照合 (品番・納入番号・日付)  契約先未検収
------------------------------------------------------
--//////////////////////////////////////////////////--
SELECT @SYOKB = 'C'
-- 照合 
INSERT INTO 受給照合結果ワーク
--	( 照合結果,照合日付,照合品番,照合納番,照合管理,照合赤黒,財務管理番号)						2009/06/10
-- SELECT  @SYOKB ,UR.照合日付,UR.照合品番,UR.照合納番,UR.照合管理,UR.照合赤黒,TK.財務管理番号	2009/06/10
	( 照合結果,照合日付,照合品番,照合納番,照合管理,照合赤黒,財務管理番号,部品材料区分)
 SELECT  @SYOKB ,UR.照合日付,UR.照合品番,UR.照合納番,UR.照合管理,UR.照合赤黒,TK.財務管理番号,部品材料区分
    FROM 受給照合ワーク UR
  FULL OUTER JOIN TEXT買掛金テーブル TK
     ON   TK.契約先 = @TORCD
--============================== ***2009/03/06 START
--     AND TK.照合品番   = UR.照合品番
     AND TK.照合品番   = REPLACE(UR.照合品番,'-','')
--============================== ***2009/03/06 END
     AND TK.照合納番 = UR.照合納番
     AND TK.照合日付 = UR.照合日付
     AND TK.照合管理 = UR.照合管理
     AND TK.照合赤黒 = UR.照合赤黒
     AND TK.照合区分 = @SGKB
     AND TK.照合年月 = ''
--     AND TK.対象年月 <= @YM
     AND TK.対象年月 = @YM						--2009/06/10
  WHERE UR.照合品番 IS NOT NULL
      AND TK.照合品番 IS NULL
      AND UR.照合結果 = ''
IF @@ERROR <> 0 BEGIN SELECT @ERR = 32 GOTO PROC_ERROR END
-------------------
-- 照合結果更新
-------------------
EXEC 受給照合更新 @YM,@SYOKB,0,'1',@TERR OUTPUT
IF @TERR <> 0 BEGIN SELECT @ERR = @TERR GOTO PROC_ERROR END


--//////////////////////////////////////////////////--
------------------------------------------------------
-- 照合 (品番・納入番号・日付)  自社未検収
------------------------------------------------------
--//////////////////////////////////////////////////--
SELECT @SYOKB = 'B'
-- 照合 
INSERT INTO 受給照合結果ワーク
--	( 照合結果,照合日付,照合品番,照合納番,照合管理,照合赤黒,財務管理番号)						2009/06/10
-- SELECT  @SYOKB ,UR.照合日付,UR.照合品番,UR.照合納番,UR.照合管理,UR.照合赤黒,TK.財務管理番号	2009/06/10
	( 照合結果,照合日付,照合品番,照合納番,照合管理,照合赤黒,財務管理番号,部品材料区分)
 SELECT  @SYOKB ,UR.照合日付,UR.照合品番,UR.照合納番,UR.照合管理,UR.照合赤黒,TK.財務管理番号,部品材料区分
     FROM 受給照合ワーク UR
  FULL OUTER JOIN TEXT買掛金テーブル TK
--================================== ***2009/03/06 START
--    ON	 TK.照合品番   = UR.照合品番
    ON	 TK.照合品番   = REPLACE(UR.照合品番,'-','')
--================================== ***2009/03/06 END
    AND TK.照合納番 = UR.照合納番
    AND TK.照合日付 = UR.照合日付
    AND TK.照合管理 = UR.照合管理
    AND TK.照合赤黒 = UR.照合赤黒
 WHERE UR.照合品番 IS NULL
    AND TK.照合品番 IS NOT NULL
    AND TK.契約先 = @TORCD
    AND TK.照合区分 = @SGKB
    AND TK.照合年月 = ''
--    AND TK.対象年月 <= @YM
    AND TK.対象年月 = @YM						--2009/06/10
IF @@ERROR <> 0 BEGIN SELECT @ERR = 33 GOTO PROC_ERROR END
-------------------
-- 照合結果更新
-------------------
EXEC 受給照合更新 @YM,@SYOKB,0,'2',@TERR OUTPUT
IF @TERR <> 0 BEGIN SELECT @ERR = @TERR GOTO PROC_ERROR END

------------------------------------------------------
-- 照合 (品番・納入番号・日付 ) 数量・単価違い
------------------------------------------------------
SELECT @SYOKB = 'F'
-- 照合 
INSERT INTO 受給照合結果ワーク
--	( 照合結果,照合日付,照合品番,照合納番,照合管理,照合赤黒,財務管理番号)						2009/06/10
--SELECT  @SYOKB ,UR.照合日付,UR.照合品番,UR.照合納番,UR.照合管理,UR.照合赤黒,TK.財務管理番号	2009/06/10
	( 照合結果,照合日付,照合品番,照合納番,照合管理,照合赤黒,財務管理番号,部品材料区分)
SELECT  @SYOKB ,UR.照合日付,UR.照合品番,UR.照合納番,UR.照合管理,UR.照合赤黒,TK.財務管理番号,部品材料区分
   FROM 受給照合ワーク UR
 FULL OUTER JOIN TEXT買掛金テーブル TK
    ON   TK.契約先 = @TORCD
--==============================*** 2009/03/06 START
--    AND TK.照合品番   = UR.照合品番
    AND TK.照合品番   = REPLACE(UR.照合品番,'-','')
--==============================*** 2009/03/06 END
    AND TK.照合納番 = UR.照合納番
    AND TK.照合日付 = UR.照合日付
    AND TK.照合管理 = UR.照合管理
    AND TK.照合赤黒 = UR.照合赤黒
    AND TK.数量     <> UR.照合数量
    AND TK.単価     <> UR.照合単価
    AND TK.照合区分 = @SGKB
    AND TK.照合年月 = ''
--    AND TK.対象年月 <= @YM
    AND TK.対象年月 = @YM						--2009/06/10
 WHERE UR.照合品番 IS NOT NULL
    AND TK.照合品番 IS NOT NULL
    AND UR.照合結果 = ''
IF @@ERROR <> 0 BEGIN SELECT @ERR = 34 GOTO PROC_ERROR END
-------------------
-- 照合結果更新
-------------------
EXEC 受給照合更新 @YM,@SYOKB,1,'',@TERR OUTPUT
IF @TERR <> 0 BEGIN SELECT @ERR = @TERR GOTO PROC_ERROR END


--//////////////////////////////////////////////////--
------------------------------------------------------
-- 照合 (品番・納入番号・日付・数量 ) 単価違い
------------------------------------------------------
--//////////////////////////////////////////////////--
SELECT @SYOKB = 'E'
-- 照合 
INSERT INTO 受給照合結果ワーク
--	( 照合結果,照合日付,照合品番,照合納番,照合管理,照合赤黒,財務管理番号)						2009/06/10
-- SELECT  @SYOKB ,UR.照合日付,UR.照合品番,UR.照合納番,UR.照合管理,UR.照合赤黒,TK.財務管理番号	2009/06/10
	( 照合結果,照合日付,照合品番,照合納番,照合管理,照合赤黒,財務管理番号,部品材料区分)
 SELECT  @SYOKB ,UR.照合日付,UR.照合品番,UR.照合納番,UR.照合管理,UR.照合赤黒,TK.財務管理番号,部品材料区分
    FROM 受給照合ワーク UR
 FULL OUTER JOIN TEXT買掛金テーブル TK
    ON   TK.契約先 = @TORCD
--============================== *** 2009/03/06 START
--    AND TK.照合品番 = UR.照合品番
    AND TK.照合品番 = REPLACE(UR.照合品番,'-','')
--============================== *** 2009/03/06 END
    AND TK.照合納番 = UR.照合納番
    AND TK.照合日付 = UR.照合日付
    AND TK.照合管理 = UR.照合管理
    AND TK.照合赤黒 = UR.照合赤黒
    AND TK.数量     = UR.照合数量
    AND TK.単価     <> UR.照合単価
    AND TK.照合区分 = @SGKB
    AND TK.照合年月 = ''
--    AND TK.対象年月 <= @YM
    AND TK.対象年月 = @YM						--2009/06/10
 WHERE UR.照合品番 IS NOT NULL
    AND TK.照合品番 IS NOT NULL
    AND UR.照合結果 = ''
IF @@ERROR <> 0 BEGIN SELECT @ERR = 35 GOTO PROC_ERROR END
-------------------
-- 照合結果更新
-------------------
EXEC 受給照合更新 @YM,@SYOKB,1,'',@TERR OUTPUT
IF @TERR <> 0 BEGIN SELECT @ERR = @TERR GOTO PROC_ERROR END

------------------------------------------------------
-- 照合 (品番・納入番号・日付・単価 ) 数量違い
------------------------------------------------------
SELECT @SYOKB = 'D'
-- 照合 
INSERT INTO 受給照合結果ワーク
--	( 照合結果,照合日付,照合品番,照合納番,照合管理,照合赤黒,財務管理番号)						2009/06/10
-- SELECT  @SYOKB ,UR.照合日付,UR.照合品番,UR.照合納番,UR.照合管理,UR.照合赤黒,TK.財務管理番号	2009/06/10
	( 照合結果,照合日付,照合品番,照合納番,照合管理,照合赤黒,財務管理番号,部品材料区分)	
 SELECT  @SYOKB ,UR.照合日付,UR.照合品番,UR.照合納番,UR.照合管理,UR.照合赤黒,TK.財務管理番号,部品材料区分
     FROM 受給照合ワーク UR
 FULL OUTER JOIN TEXT買掛金テーブル TK
    ON   TK.契約先 = @TORCD
--================================= *** 2009/03/06 START
--    AND TK.照合品番 = UR.照合品番
    AND TK.照合品番 = REPLACE(UR.照合品番,'-','')
--================================= *** 2009/03/06 END
    AND TK.照合納番 = UR.照合納番
    AND TK.照合日付 = UR.照合日付
    AND TK.照合管理 = UR.照合管理
    AND TK.照合赤黒 = UR.照合赤黒
    AND TK.数量     <> UR.照合数量
    AND TK.単価     = UR.照合単価
    AND TK.照合区分 = @SGKB
    AND TK.照合年月 = ''
--    AND TK.対象年月 <= @YM
    AND TK.対象年月 = @YM						--2009/06/10
 WHERE UR.照合品番 IS NOT NULL
    AND TK.照合品番 IS NOT NULL
    AND UR.照合結果 = ''
IF @@ERROR <> 0 BEGIN SELECT @ERR = 36 GOTO PROC_ERROR END
-------------------
-- 照合結果更新
-------------------
EXEC 受給照合更新 @YM,@SYOKB,1,'',@TERR OUTPUT
IF @TERR <> 0 BEGIN SELECT @ERR = @TERR GOTO PROC_ERROR END

--SELECT * FROM 受給照合ワーク
--SELECT * FROM 受給照合結果ワーク WHERE 照合結果 = 'D'


--------------------------------------------------
--	差異明細テーブル 作成
--------------------------------------------------
INSERT INTO 受給差異明細テーブル
	(照合年月,照合結果,契約先, 照合日付, 照合品番, 照合納番, 照合管理, 照合赤黒,財務管理番号,
	 受入, 繰越, 実績年月, 対象年月, 管理番号, 品番, 納入日, 納入番号, 
	 FCD, 繰越区分, 識別子, 支給先, 仮単価, 
	 自社単価, 自社数量, 自社金額,  契約先単価, 契約先数量, 契約先金額,
	 最大日付, 削除区分, 作成日,作成端末)
SELECT @YM,UW.照合結果,@TORCD,ISNULL(UW.照合日付,''),ISNULL(UW.照合品番,''),
	  ISNULL(UW.照合納番,''),ISNULL(UW.照合管理,''),ISNULL(UW.照合赤黒,''),ISNULL(UW.財務管理番号,0),
	'' 受入,'' 繰越,'' 実績年月,ISNULL(TK.対象年月,'')  対象年月,'' 管理番号,
	CASE WHEN ISNULL(USW.品番,'') = '' THEN TK.品番
	     ELSE USW.品番 END 品番,
	CASE WHEN ISNULL(UW.照合日付,'') = '' THEN TK.照合日付
	     ELSE UW.照合日付 END 納入日,
	CASE WHEN ISNULL(USW.納入番号,'') = '' THEN TK.照合納番
	     ELSE USW.納入番号 END 納入番号,
	ISNULL(FCD,'') FCD,ISNULL(TK.繰越,'') 繰越区分,ISNULL(TK.識別子,'') 識別子,
	ISNULL(TK.支給先,'') 支給先,0 仮単価,
	ISNULL(USW.照合単価,0) 自社単価,ISNULL(USW.照合数量,0) 自社数量,ISNULL(USW.照合金額,0) 自社金額,
	ISNULL(TK.単価,0) 得意先単価,ISNULL(TK.数量,0) 得意先数量,ISNULL(TK.金額,0) 得意先金額,
	CASE WHEN ISNULL(USW.最大日付,'') > ISNULL(TK.検収日,'') Then ISNULL(USW.最大日付,'') Else ISNULL(TK.検収日,'') End,
	'' 削除区分,Getdate(),Host_Name()
	From 	受給照合結果ワーク UW
	LEFT OUTER JOIN TEXT買掛金テーブル TK
		 ON  TK.財務管理番号 = UW.財務管理番号
		 AND TK.照合結果 = UW.照合結果
	LEFT OUTER JOIN 受給照合ワーク USW
		 ON   USW.照合日付 = UW.照合日付
		 AND USW.照合納番   = UW.照合納番
		 AND USW.照合品番   = UW.照合品番
		 AND USW.照合管理   = UW.照合管理
		 AND USW.照合赤黒   = UW.照合赤黒
		 AND USW.照合結果  = UW.照合結果
	WHERE UW.照合結果 <> '1'
IF @@ERROR <> 0 BEGIN SELECT @ERR = 41 GOTO PROC_ERROR END


------------------------
-- 照合結果件数を求める
------------------------
SELECT @CNTA = ISNULL(COUNT(*),0) * 2 FROM 受給照合結果ワーク
			WHERE 照合結果 = '1'
SELECT @CNTB = ISNULL(COUNT(*),0) FROM 受給照合結果ワーク
			WHERE 照合結果 = 'B'
SELECT @CNTC = ISNULL(COUNT(*),0) FROM 受給照合結果ワーク
			WHERE 照合結果 = 'C'
SELECT @CNTD = ISNULL(COUNT(*),0) * 2 FROM 受給照合結果ワーク
			WHERE 照合結果 = 'D'
SELECT @CNTE = ISNULL(COUNT(*),0) * 2 FROM 受給照合結果ワーク
			WHERE 照合結果 = 'E'
SELECT @CNTF = ISNULL(COUNT(*),0) * 2 FROM 受給照合結果ワーク
			WHERE 照合結果 = 'F'
SELECT @CNTG = ISNULL(COUNT(*),0) * 2 FROM 受給照合結果ワーク
			WHERE 照合結果 = 'G'
------------------------------
--         終 了　
------------------------------
END_PROC:
--T
-- SELECT '契約先対象' = @TCNT, '自社売上' = @JCNT ,'照合OK' = @CNTA  ,'自社未検' = @CNTB ,'契約先未検' = @CNTC,  '数量差異' = @CNTD,  '単価差異' = @CNTE,  '単価数量差異' = @CNTF,'日付差' = @CNTG
--T
RETURN(0)
--RETURN
------------------------------
--    エラー処理
------------------------------
PROC_ERROR:
--T
-- IF @ERR <> 0 
--    BEGIN
-- 	SELECT 'ERR=' + CONVERT(CHAR(2),@ERR)
--    END
--T END

RETURN(@ERR)
--RETURN






GO
