USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[GETWSNAME]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [dbo].[GETWSNAME] (@WS VARCHAR(20) OUTPUT) AS
-- *------------------------------------------------------------------------------------------
-- *
-- *		コンピュータ名の編集
-- *
-- *		パラメータ	：	@WS - コンピュータ名 ( OUTPUT )
-- *
-- *		説明		：	HOST_NAME()にて取得したコンピュータ名に対して、
-- *					  ASCII文字セットコードの３３～４７・
-- *					  ３３～４７・５８～６４及び、９１～９４までの
-- *					  文字を削除して返します。
-- *
-- *		ASCII文字 ( 33 - 47 )	：	！＂＃＄％＆＇（）＊＋，－．／ ( !"#$%&'()*+,-./ )
-- *			  ( 58 - 64 )	：	：；＜＝＞？＠ ( :;<=>?@ )
-- *			  ( 91 - 94 )	：	［\］＾ ( [\]^ )
-- *			  ( 32 )	：	空白
-- *
-- *		使用例			：	
-- *			DECLARE @PCNAME 	VARCHAR(20)
-- *
-- *			EXEC GETWSNAME @PCNAME OUTPUT
-- *
-- *------------------------------------------------------------------------------------------
SET NOCOUNT ON

DECLARE @SCHAR  	VARCHAR(1)
DECLARE @SCCD 		TINYINT

SELECT @WS = HOST_NAME()
SELECT @SCCD = 32
		
WHILE @SCCD <= 96
   BEGIN
	IF @SCCD BETWEEN 32 AND 47
	   BEGIN
		SELECT @SCHAR = CHAR(@SCCD)
		WHILE CHARINDEX(@SCHAR,@WS)<>0
		   BEGIN
			SELECT @WS = STUFF(@WS,CHARINDEX(@SCHAR,@WS),1,null)
		   END
	   END
	IF @SCCD BETWEEN 58 AND 64
	   BEGIN
		SELECT @SCHAR = CHAR(@SCCD)
		WHILE CHARINDEX(@SCHAR,@WS)<>0
		   BEGIN
			SELECT @WS = STUFF(@WS,CHARINDEX(@SCHAR,@WS),1,null)
		   END
	   END
	IF @SCCD BETWEEN 91 AND 94
	   BEGIN
		SELECT @SCHAR = CHAR(@SCCD)
		WHILE CHARINDEX(@SCHAR,@WS)<>0
		   BEGIN
			SELECT @WS = STUFF(@WS,CHARINDEX(@SCHAR,@WS),1,null)
		   END
	   END
	SELECT @SCCD = @SCCD +1
   END

RETURN (0)





GO
