USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[ストアド_サンプル]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ストアド_サンプル]	
								@YYMM    VARCHAR(6),
								@EIGYO   VARCHAR(3),
								@TORCD4  VARCHAR(4),
								@OUTCNT  INT  OUTPUT
AS
BEGIN
/*	_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
    _/
    _/		ストアドサンプル
    _/
    _/			PARAMETER	@YYMM			: 対象年月
    _/						@EIGYO			: 営業所
    _/						@TORCD4			: 取引先
    _/						@OUTCNT			: 出力件数
    _/			
	_/			CREATE DATE : 2008/11/12
	_/				UP DATE	:	
    _/			
	_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ */
/*
																			-- ┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬
																			--			（　テスト用　）
																			-- ┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴
																			DECLARE	@RN INT
																			DECLARE @OUTCNT  INT
																			EXEC	@RN = ストアド_サンプル	@YYMM = '200810', @EIGYO = '950', @TORCD4 = '2434',@OUTCNT = @OUTCNT OUTPUT
																			PRINT	'RETURN : ' + CAST( @RN AS VARCHAR(5) ) 
*/
	SET NOCOUNT ON

	DECLARE	@RTN			INT				--
	DECLARE	@WDATE			DATETIME		-- ワーク	日付
	DECLARE	@WTIME			INT				-- ワーク
	DECLARE	@WINT1			INT				-- ワーク
	SELECT	@RTN = 0
	SELECT  @WINT1 = 0

BEGIN	TRY
	-- *≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	-- *  パラメータチェック
	-- *≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	IF	RTRIM( ISNULL(@YYMM,'')    ) = ''	BEGIN RAISERROR('対象年月：未設定', 15, 31 )	END
	IF	RTRIM( ISNULL(@EIGYO,'')   ) = ''	BEGIN RAISERROR('営業所：未設定',   15, 32 )	END
	IF	RTRIM( ISNULL(@TORCD4,'')  ) = ''	BEGIN RAISERROR('取引先：未設定',   15, 33 )	END

	-- *≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	-- *  対象年月値妥当性チェック
	-- *≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	SELECT	@WDATE = SUBSTRING( @YYMM, 1, 4 ) + '/' + SUBSTRING( @YYMM, 5, 2 ) + '/01'
	---- 日付加算
--	SELECT @YYMM = CONVERT(VARCHAR(6),DATEADD(MM,1,CONVERT(DATETIME,@YYMM + '01')),112)

	PRINT	'#DEBUG'													-- VB実行時のｴﾗｰﾒｯｾｰｼﾞには出力されない(「#DEBUG」を起点に非表示)
	PRINT	'-- ☆☆☆☆☆☆☆☆☆☆　【　ストアドサンプル　】処理開始  -  ' + Convert( CHAR(20) ,GETDATE(),20  ) + '(' + DB_NAME() + ')　☆☆☆☆☆☆☆☆☆☆'
	PRINT	'-- ☆'
-- ストアド本文追加 開始

	PRINT	'-- ☆ 処理件数 - ' + REPLACE( CONVERT( VARCHAR(10), CAST( @WINT1 AS MONEY ), 1 ), '.00', '' )	-- 件数表示(ｶﾝﾏ有)

	SELECT	@WDATE = GETDATE()																				-- 処理開始時刻退避

	DECLARE	@XXX			INT
	-- [カーソル定義]
	DECLARE	IN_CURSOR	CURSOR
	FOR
		SELECT	FLD_A	FROM サンプルテーブル	WHERE 区分 = 1
	FOR	READ ONLY

	OPEN	IN_CURSOR												-- ｶｰｿﾙ ｵｰﾌﾟﾝ

	FETCH NEXT FROM	IN_CURSOR INTO	@XXX

	WHILE @@FETCH_STATUS = 0
	    BEGIN
--			< 次 >
			FETCH NEXT FROM	IN_CURSOR INTO	@XXX
		END

	CLOSE		IN_CURSOR											-- ｶｰｿﾙ ｸﾛｰｽﾞ
	DEALLOCATE	IN_CURSOR											-- ｶｰｿﾙ 解放

	SELECT	@WTIME = DATEDIFF( S, @WDATE, GETDATE() )														-- 処理所要時間

--	[ １行２列のデータを２行に ]
	SELECT 品番, 類別, 持込先, データ番号, 見積依頼日, 項目 号補, 単価
		FROM 
		   ( SELECT 品番, 類別, 持込先, データ番号, 見積依頼日, 型ﾚｽ_見積 'G', 補給_見積 'H'
					FROM TW_GN01T02
					WHERE 対象年月 = @YYMM ) P
		UNPIVOT
		   ( 単価 FOR 項目 IN ( G, H ) )AS UNPVT
		WHERE 単価 <> 0					
--  [ 行Noを求める ]
	Select Row_Number() OVER(order by 区分名称 asc) 行番号,区分名称
				From 名称マスタ

-- ストアド本文追加 終了
	PRINT	'-- ☆'
	PRINT	'-- ☆☆☆☆☆☆☆☆☆☆　【　ストアドサンプル　】処理終了  -  ' + Convert( CHAR(20) ,GETDATE(),20  ) +  '(' + DB_NAME() + ') ' + REPLACE( CONVERT( VARCHAR(10), CAST( @WTIME AS MONEY ), 1 ), '.00', '' ) + ' 秒 ☆☆☆☆☆☆☆☆☆☆'
END		TRY

BEGIN CATCH							/*	RAISERROR( 'XXX Error', 15, 31 )… RAISERROR( 'ﾒｯｾｰｼﾞ', ERROR_SEVERITY, ERROR_STATE )
											※ SEVERITY=18でRAISERRORを発生させると、VB側のｴﾗｰﾒｯｾｰｼﾞは表示されない(変更可)
										
										ERROR_NUMBER	:	エラーの番号を返します。
										ERROR_SEVERITY	:	重大度を返します。
										ERROR_STATE		:	エラー状態番号を返します。
										ERROR_PROCEDURE	:	エラーが発生したストアド プロシージャまたはトリガの名前を返します。
										ERROR_LINE		:	エラーを発生させたルーチン内の行番号を返します。
										ERROR_MESSAGE	:	メッセージの完全なテキストを返します。									*/
	DECLARE	@WSEVERITY		INT
	DECLARE	@ERRMSG			VARCHAR(200)
	DECLARE	@ERRFLG			TINYINT

	SELECT  @ERRFLG = 1

	SELECT	@WSEVERITY = ERROR_SEVERITY(),@RTN = ERROR_STATE(), @ERRMSG = ERROR_MESSAGE()

	IF	ERROR_NUMBER() = 242 AND ERROR_SEVERITY() = 16 AND ERROR_STATE() = 3	--日付値範囲外
		BEGIN
			SELECT	@ERRMSG = '対象年月値範囲外(' + @YYMM + ')'
		END

	IF @RTN <> 0
	   BEGIN
			SELECT	@ERRMSG = @ERRMSG + '(' + CAST( @RTN AS CHAR(2) ) + ')'
	   END

	IF	ERROR_NUMBER() = 50000 AND ERROR_SEVERITY() = 18 AND ERROR_STATE() = 30
		BEGIN
			PRINT	'-- ☆☆☆☆☆☆☆☆☆☆　【　ストアドサンプル　】処理終了  -  ' + Convert( CHAR(20) ,GETDATE(),20  ) +  '(' + DB_NAME() + ')　☆☆☆☆☆☆☆☆☆☆'
			SELECT  @ERRFLG = 0
		END
	IF @ERRFLG = 1
	    BEGIN
			SELECT	@ERRMSG = @ERRMSG + SPACE(10)
			RAISERROR( @ERRMSG, @WSEVERITY, @RTN )
		END
	RETURN	( @RTN )
END CATCH
	RETURN	( @RTN )

END


GO
