USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[TOPPS出荷変換]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[TOPPS出荷変換] (@PROCKB VARCHAR(1), @STRDATE VARCHAR(12), @MAXDATE VARCHAR(12) OUTPUT)AS
-- *------------------------------------------------------------------------------------------------------
-- *
-- *		PARA	@PROCKB  : ''通常,'1'再変換
-- *			@STRDATE : 処理対象開始
-- *			@MAXDATE : 処理日+処理時間
-- *
-- * 
-- *		UPDATE: 2004/06/07	最終仕様確定
-- *		UPDATE	2004/12/09	データチェック項目変更
-- *				2008/04/11  背番号8桁
-- *		UPDATE:	2009/01/06  受注取引先CD変換ﾏｽﾀ追加
-- *		UPDATE:	2009/01/22  バグ修正
-- *		UPDATE:	2009/01/29  バグ修正
-- *		UPDATE:	2009/04/28  挽回日入力時の分納処理変更
-- *------------------------------------------------------------------------------------------------------
DECLARE @INCNT		INT
DECLARE	@OUTCNT		INT
DECLARE @ERRCNT		INT
DECLARE @ERR		VARCHAR(2)
DECLARE @ERRN		VARCHAR(50)
DECLARE @ERR_RKANRI	INT

SELECT @INCNT = 0
SELECT @OUTCNT = 0
SELECT @ERRCNT = 0
SELECT @ERR_RKANRI = 0
SELECT @ERR = ''
SELECT @ERRN = ''

/*  出荷テキスト 退避  */
DECLARE @SW_RKANRI	INT
DECLARE @SW_JSKBN	TINYINT
DECLARE @SW_FNAME	VARCHAR(30)
DECLARE @SW_SIIRE	VARCHAR(4)
DECLARE @SW_KOJYO	VARCHAR(1)
DECLARE @SW_SYUKA	VARCHAR(3)
DECLARE @SW_TORCD	VARCHAR(4)
DECLARE @SW_UKEIR	VARCHAR(2)
DECLARE @SW_BINKB	VARCHAR(1)
DECLARE @SW_NDATE	VARCHAR(8)
DECLARE @SW_NBIN	VARCHAR(2)
DECLARE @SW_BDATE	VARCHAR(8)
DECLARE @SW_BBIN	VARCHAR(2)
DECLARE @SW_NOUNO	VARCHAR(5)
DECLARE @SW_NOREN	TINYINT
DECLARE @SW_YUSOU	TINYINT
DECLARE @SW_SRDATE	VARCHAR(8)
DECLARE @SW_SRTIME	VARCHAR(4)
DECLARE @SW_NGYO	TINYINT
DECLARE @SW_SEBAN	VARCHAR(8)
DECLARE @SW_HINBN	VARCHAR(12)
DECLARE @SW_SYUYO	INT
DECLARE @SW_UHASU	INT
DECLARE @SW_SURYO	INT
DECLARE @SW_UCKBN	TINYINT
DECLARE @SW_HAKBN	TINYINT
DECLARE @SW_ZKOTEI	VARCHAR(8)
DECLARE @SW_ERR		VARCHAR(1)

DECLARE @CNT		TINYINT
DECLARE @JW_JNO		INT
DECLARE @JW_JGYO	TINYINT
DECLARE @JW_SJNO	INT
DECLARE @JW_SJGYO	TINYINT
DECLARE @JW_SYUKA	TINYINT
-- * 管理番号( 受注管理NO/出荷指示書NO/納品書管理NO )
DECLARE @WW_JNO		INT
DECLARE @WW_SJNO	INT
DECLARE @WW_KANRI	INT
DECLARE @WW_DATE	VARCHAR(8)
DECLARE @WW_BIN		VARCHAR(2)
DECLARE @WW_MAISU	INT
DECLARE @WW_SURYO	INT
DECLARE @WW_HASUR	INT

DECLARE @RTN		TINYINT
DECLARE @BK_RKANRI	INT
SELECT @BK_RKANRI = 0

SELECT @MAXDATE = @STRDATE
SET NOCOUNT ON
-- * --------------------------------------------------------------------------------
-- *	TOPPS出荷変換テキスト 削除
-- * --------------------------------------------------------------------------------
DELETE TOPPS出荷変換テキスト
	WHERE 端末番号 = HOST_NAME()

IF @@ERROR <> 0 BEGIN SELECT @ERR = '20'   GOTO PROC_ERR  END

-- * --------------------------------------------------------------------------------
-- *
-- *	TOPPS出荷変換テキスト 読込
-- *
-- * --------------------------------------------------------------------------------

IF @PROCKB = ''
    BEGIN	
	DECLARE SKCUR SCROLL CURSOR
	FOR
		SELECT TR.履歴管理番号,TR.受注出荷区分,TR.ファイルID,
			SUBSTRING(TA.REC,1,4),SUBSTRING(TA.REC,5,1), SUBSTRING(TA.REC,6,3),
			SUBSTRING(TA.REC,9,4),SUBSTRING(TA.REC,13,2),SUBSTRING(TA.REC,15,1),
			SUBSTRING(TA.REC,16,8),SUBSTRING(TA.REC,24,2),SUBSTRING(TA.REC,26,8),
			SUBSTRING(TA.REC,34,2),SUBSTRING(TA.REC,36,5),CONVERT(TINYINT,SUBSTRING(TA.REC,40,1)),
			CONVERT(TINYINT,SUBSTRING(TA.REC,41,1)),SUBSTRING(TA.REC,42,8),SUBSTRING(TA.REC,50,4),
			CONVERT(TINYINT,SUBSTRING(TA.REC,54,3)),LTRIM(SUBSTRING(TA.REC,57,3)),SUBSTRING(TA.REC,60,12),
			CONVERT(INT,SUBSTRING(TA.REC,72,5)),CONVERT(INT,SUBSTRING(TA.REC,77,5)),CONVERT(INT,SUBSTRING(TA.REC,82,8)),
			CONVERT(TINYINT,SUBSTRING(TA.REC,90,1)),CONVERT(TINYINT,SUBSTRING(TA.REC,91,1)),SUBSTRING(TA.REC,92,8)				-- 前工程情報任意項目

			FROM TOPPS変換履歴テーブル TR
			LEFT OUTER JOIN TOPPS変換テキスト TA
			  ON TR.履歴管理番号 = TA.履歴管理番号
			 AND TR.受注出荷区分 = TA.受注出荷区分
			 AND TR.ファイルID = TA.ファイルID
			WHERE TR.処理区分 <> 0
			  AND TR.受注出荷区分 <> 0
			  AND TA.REC IS NOT NULL
			  AND SUBSTRING(TA.REC,42,12) > @STRDATE			-- 処理日
			ORDER BY TR.ファイルID, TR.履歴管理番号, TR.受注出荷区分
	FOR READ ONLY
	OPEN SKCUR

    END
ELSE
    BEGIN
	DECLARE SKCUR SCROLL CURSOR
	FOR
		SELECT TR.履歴管理番号,TR.受注出荷区分,TR.ファイルID,
			SUBSTRING(TA.REC,1,4),SUBSTRING(TA.REC,5,1), SUBSTRING(TA.REC,6,3),
			SUBSTRING(TA.REC,9,4),SUBSTRING(TA.REC,13,2),SUBSTRING(TA.REC,15,1),
			SUBSTRING(TA.REC,16,8),SUBSTRING(TA.REC,24,2),SUBSTRING(TA.REC,26,8),
			SUBSTRING(TA.REC,34,2),SUBSTRING(TA.REC,36,5),CONVERT(TINYINT,SUBSTRING(TA.REC,40,1)),
			CONVERT(TINYINT,SUBSTRING(TA.REC,41,1)),SUBSTRING(TA.REC,42,8),SUBSTRING(TA.REC,50,4),
			CONVERT(TINYINT,SUBSTRING(TA.REC,54,3)),LTRIM(SUBSTRING(TA.REC,57,3)),SUBSTRING(TA.REC,60,12),
			CONVERT(INT,SUBSTRING(TA.REC,72,5)),CONVERT(INT,SUBSTRING(TA.REC,77,5)),CONVERT(INT,SUBSTRING(TA.REC,82,8)),
			CONVERT(TINYINT,SUBSTRING(TA.REC,90,1)),CONVERT(TINYINT,SUBSTRING(TA.REC,91,1)),SUBSTRING(TA.REC,92,8)				-- 前工程情報任意項目

			FROM TOPPS変換履歴テーブル TR
			LEFT OUTER JOIN TOPPS変換テキスト TA
			  ON TR.履歴管理番号 = TA.履歴管理番号
			 AND TR.受注出荷区分 = TA.受注出荷区分
			 AND TR.ファイルID = TA.ファイルID
			WHERE TR.処理区分 <> 0
			  AND TR.受注出荷区分 <> 0
			  AND TA.REC IS NOT NULL
			ORDER BY TR.ファイルID, TR.履歴管理番号, TR.受注出荷区分
	FOR READ ONLY
	OPEN SKCUR

    END


FETCH NEXT FROM SKCUR INTO
		@SW_RKANRI, @SW_JSKBN,  @SW_FNAME,
		@SW_SIIRE,  @SW_KOJYO,  @SW_SYUKA,
		@SW_TORCD,  @SW_UKEIR,  @SW_BINKB,
		@SW_NDATE,  @SW_NBIN,   @SW_BDATE,
		@SW_BBIN,   @SW_NOUNO,  @SW_NOREN, @SW_YUSOU,
		@SW_SRDATE, @SW_SRTIME, @SW_NGYO,
		@SW_SEBAN,  @SW_HINBN,  @SW_SYUYO,
		@SW_UHASU,  @SW_SURYO,  @SW_UCKBN,
		@SW_HAKBN,  @SW_ZKOTEI

WHILE @@FETCH_STATUS = 0
    BEGIN
	-- * ------------------------------------------------
	-- *	最終処理日+時間 更新
 	-- * ------------------------------------------------
	IF @SW_SRDATE + @SW_SRTIME > @MAXDATE
	    BEGIN	
		SELECT @MAXDATE = @SW_SRDATE + @SW_SRTIME
	    END		
	-- * ------------------------------------------------
	-- *	TOPPS変換履歴テーブル 処理件数更新
 	-- * ------------------------------------------------
	IF @BK_RKANRI <> @SW_RKANRI
	    BEGIN
		IF @BK_RKANRI <> 0
		    BEGIN
			UPDATE TOPPS変換履歴テーブル SET
				入力件数 = @INCNT,
				変換件数 = @OUTCNT,
				変換エラー件数 = @ERRCNT
				WHERE 履歴管理番号 = @BK_RKANRI

			IF @@ERROR <> 0
			    BEGIN
				SELECT @ERR = '21'
				SELECT @ERR_RKANRI = @BK_RKANRI
				GOTO PROC_ERR
			    END

		    END
		SELECT @BK_RKANRI = @SW_RKANRI
		SELECT @INCNT = 0
		SELECT @OUTCNT = 0
		SELECT @ERRCNT = 0
	    END

	SELECT @INCNT = @INCNT + 1

	-- * ---------------------------------------------------------------------------------------------------------------
	-- *
	-- *	受注 ＆ 出荷テーブル 作成
	-- * 		
	-- * ---------------------------------------------------------------------------------------------------------------
	SELECT @CNT = 0,@SW_ERR = ''
	WHILE @CNT <= @SW_NOREN
	    BEGIN
		-- =================================== 2009/04/28 Start
		IF @CNT = @SW_NOREN 
		    BEGIN
			-- * 納入日・便
			SELECT @WW_DATE = @SW_NDATE
			SELECT @WW_BIN = @SW_NBIN
			IF RTRIM(@SW_BDATE) <> '' 
			    BEGIN
				SELECT @WW_DATE = @SW_BDATE
				SELECT @WW_BIN = @SW_BBIN
			    END
		    END
		ELSE
		    BEGIN
			-- * 納入日・便
			SELECT @WW_DATE = @SW_NDATE
			SELECT @WW_BIN = @SW_NBIN
			END
		-- =================================== 2009/04/28 End

		-- * -------------------------------------------------------------------------------------------------------
		-- *	受注テーブル 作成
		-- * -------------------------------------------------------------------------------------------------------
		SELECT @JW_JNO = 0
		SELECT @JW_JNO = 受注管理NO
			FROM 受注テーブル 
			WHERE 作成種別 = 'T'
			  AND 納入番号 = SUBSTRING(@SW_NOUNO,1,4) + CONVERT(VARCHAR(1),@CNT)
			  AND 納品書行 = @SW_NGYO
--============================================= 2009/01/12 Start
--			  AND SUBSTRING(納入先,1,4) = @SW_TORCD
--			  AND 受入 = @SW_UKEIR
--			  AND 品番 = @SW_HINBN
				--TOPPSﾃｷｽﾄ:納入先CDが取引先ﾏｽﾀに存在する場合はそのまま使用				
--			  AND SUBSTRING(納入先,1,4) = CASE WHEN ( SELECT MIN(SUBSTRING(取引先CD,1,4)) FROM 取引先マスタ 
--	2009/01/29DEL													WHERE SUBSTRING(取引先CD,1,4) = @SW_TORCD
--														  AND 取引先区分 = 0 ) IS NULL THEN 
--										--TOPPSﾃｷｽﾄ:納入先CDが取引先ﾏｽﾀに存在しない場合,受注取引先CD変換マスタ検索				
--										--順位①.変換元CD/変換元受入にて検索
			AND SUBSTRING(納入先,1,4) =	CASE WHEN ( SELECT MIN(SUBSTRING(変換先CD,1,4)) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX    
																	WHERE SUBSTRING(JH.変換元CD,1,4)  = @SW_TORCD
																	  AND 変換元受入 = @SW_UKEIR
																	  AND HTX.取引先 = JH.変換先CD
																	  AND HTX.受入 = JH.変換先受入
																	  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																	  AND JH.契約先 = HTX.契約先
																		 ) IS NULL THEN 
													--順位②.変換元CDのみで検索
													CASE WHEN ( SELECT MIN(SUBSTRING(変換先CD,1,4)) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX     
																			WHERE SUBSTRING(JH.変換元CD,1,4)   = @SW_TORCD
																			  AND HTX.取引先 = JH.変換先CD
																			  AND HTX.受入 = JH.変換先受入
																			  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																			  AND JH.契約先 = HTX.契約先
																			 ) IS NULL THEN  @SW_TORCD
													ELSE      ( SELECT MIN(SUBSTRING(変換先CD,1,4)) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX      
																			WHERE SUBSTRING(変換元CD,1,4)   =  @SW_TORCD
																			  AND HTX.取引先 = JH.変換先CD
																			  AND HTX.受入 = JH.変換先受入
																			  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																			  AND JH.契約先 = HTX.契約先
																			 )
													END
										ELSE      ( SELECT MIN(SUBSTRING(変換先CD,1,4)) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX     
																	WHERE SUBSTRING(変換元CD,1,4)   =  @SW_TORCD 
																	  AND 変換元受入 = @SW_UKEIR
																	  AND HTX.取引先 = JH.変換先CD
																	  AND HTX.受入 = JH.変換先受入
																	  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																	  AND JH.契約先 = HTX.契約先
																		 )
										END

--							 ELSE @SW_TORCD END 
			--TOPPSﾃｷｽﾄ:受入,受注取引先CD変換マスタ検索				
			--順位①.変換元CD/変換元受入にて検索,無い場合はTOPPS受入を使用
			 AND 受入 = CASE WHEN ( SELECT MIN(変換先受入) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX     
																	WHERE SUBSTRING(変換元CD,1,4)   = @SW_TORCD
																	  AND 変換元受入 = @SW_UKEIR
																	  AND HTX.取引先 = JH.変換先CD
																	  AND HTX.受入 = JH.変換先受入
																	  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																	  AND JH.契約先 = HTX.契約先
																 ) IS NULL THEN  @SW_UKEIR
						   ELSE      ( SELECT MIN(変換先受入) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX      
																	WHERE SUBSTRING(変換元CD,1,4)   = @SW_TORCD
																	  AND 変換元受入 = @SW_UKEIR
																	  AND HTX.取引先 = JH.変換先CD
																	  AND HTX.受入 = JH.変換先受入
																	  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																	  AND JH.契約先 = HTX.契約先
																 )
						   END
			  AND REPLACE(品番,'-','') = @SW_HINBN
--============================================= 2009/01/12 End
			  AND 背番号 = @SW_SEBAN
-- ********************************************************************************************************************************
-- < 2004.12.09 ADD START >
-- ================================== 2009/04/28 Start
--			  AND 納入日 = @SW_NDATE
--			  AND 納入便 = @SW_NBIN
			  AND 納入日 = @WW_DATE
			  AND 納入便 = @WW_BIN
-- ================================== 2009/04/28 End
-- < 2004.12.09 ADD  END  >
-- ********************************************************************************************************************************

		IF ISNULL(@JW_JNO,0) = 0
		    BEGIN
			IF @CNT = 0 
			    BEGIN
				SELECT @SW_ERR = '1'		
				SELECT @ERRCNT = @ERRCNT + 1							
			    END
			ELSE
			    BEGIN
				-- * -----------------------------------------------------------------------------	
				-- *	管理番号 採番
				-- * -----------------------------------------------------------------------------	
				-- * 受注管理NO
				EXEC 番号獲得 11,@WW_JNO OUTPUT,@RTN OUTPUT
				IF @RTN <> 0
				    BEGIN
					SELECT @ERR = '23'
					SELECT @ERR_RKANRI = @SW_RKANRI
					GOTO PROC_ERR
				    END
				-- * 出荷指示書NO
				EXEC 番号獲得 12,@WW_SJNO OUTPUT,@RTN OUTPUT
				IF @RTN <> 0
				    BEGIN
					SELECT @ERR = '24'
					SELECT @ERR_RKANRI = @SW_RKANRI
					GOTO PROC_ERR
				    END
				-- * 納品書管理NO
				EXEC 番号獲得 14,@WW_KANRI OUTPUT,@RTN OUTPUT
				IF @RTN <> 0
				    BEGIN
					SELECT @ERR = '25'
					SELECT @ERR_RKANRI = @SW_RKANRI
					GOTO PROC_ERR
				    END

				IF @CNT = @SW_NOREN 
				    BEGIN
					-- * 納入日・便
					SELECT @WW_DATE = @SW_NDATE
					SELECT @WW_BIN = @SW_NBIN
					IF RTRIM(@SW_BDATE) <> '' 
					    BEGIN
						SELECT @WW_DATE = @SW_BDATE
						SELECT @WW_BIN = @SW_BBIN
					    END

					INSERT INTO 受注テーブル
						(受注管理NO,受注管理行NO,出荷指示書NO,出荷指示書行NO,
						 受注区分,受注日,受注便,納入日,納入便,
						 出荷予定日,出荷予定便,納入先,受入,機番,
						 納入番号,納品書頁,納品書行,分納区分,分納回数,
						 品番,背番号,枚数,収容数,納入数,端数,
						 抜取枚数,エフ発行枚数,エフ発行端数,作成種別,
						 納品書発行区分,指示書発行区分,出荷実績区分,
						 納品書管理NO,元出荷指示書NO,元出荷指示書行NO,
						 作成日,作成端末,作成者)				
						SELECT  @WW_JNO,1,@WW_SJNO,1,
							JY.受注区分, JY.受注日, JY.受注便, @WW_DATE, @WW_BIN,
							@WW_DATE, @WW_BIN, 納入先, 受入, 機番,
							SUBSTRING(@SW_NOUNO,1,4) + CONVERT(VARCHAR(1),@CNT),0,@SW_NGYO,1,JY.分納回数 + 1,
							JY.品番,JY.背番号,JY.枚数 - ISNULL(SK.出荷枚数,0),JY.収容数,JY.納入数 - ISNULL(SK.出荷数,0),(JY.納入数 - ISNULL(SK.出荷数,0)) % JY.収容数,
							抜取枚数,エフ発行枚数,エフ発行端数,作成種別,
							納品書発行区分,指示書発行区分,0,
							@WW_KANRI,JY.出荷指示書NO,JY.出荷指示書行NO,
							GETDATE(),SUBSTRING(HOST_NAME(),1,20),'CTOP0020_1'
							FROM 受注テーブル JY
							LEFT OUTER JOIN 出荷テーブル SK
							  ON SK.出荷指示書NO = JY.出荷指示書NO
							 AND SK.出荷指示書行NO = JY.出荷指示書行NO
							WHERE 作成種別 = 'T'
							  AND 納入番号 = SUBSTRING(@SW_NOUNO,1,4) + CONVERT(VARCHAR(1),@CNT - 1)
							  AND 納品書行 = @SW_NGYO
--========================================================================= 2009/01/12 Start
--							  AND SUBSTRING(納入先,1,4) = @SW_TORCD
--							  AND 受入 = @SW_UKEIR
--							  AND 品番 = @SW_HINBN
								--TOPPSﾃｷｽﾄ:納入先CDが取引先ﾏｽﾀに存在する場合はそのまま使用				
--							  AND SUBSTRING(納入先,1,4) = CASE WHEN ( SELECT MIN(SUBSTRING(取引先CD,1,4)) FROM 取引先マスタ 
--																		WHERE SUBSTRING(取引先CD,1,4) = @SW_TORCD
--	2009/01/29 DEL											  AND 取引先区分 = 0 ) IS NULL THEN 
--														--TOPPSﾃｷｽﾄ:納入先CDが取引先ﾏｽﾀに存在しない場合,受注取引先CD変換マスタ検索				
--														--順位①.変換元CD/変換元受入にて検索
							  AND SUBSTRING(納入先,1,4) = 	CASE WHEN ( SELECT MIN(SUBSTRING(変換先CD,1,4)) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX     
																					WHERE SUBSTRING(変換元CD,1,4)  = @SW_TORCD
																					  AND 変換元受入 = @SW_UKEIR
																					  AND HTX.取引先 = JH.変換先CD
																					  AND HTX.受入 = JH.変換先受入
																					  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																					  AND JH.契約先 = HTX.契約先
																					 ) IS NULL THEN 
																	--順位②.変換元CDのみで検索
																	CASE WHEN ( SELECT MIN(SUBSTRING(変換先CD,1,4)) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX      
																							WHERE SUBSTRING(変換元CD,1,4)   = @SW_TORCD
																							  AND HTX.取引先 = JH.変換先CD
																							  AND HTX.受入 = JH.変換先受入
																							  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																							  AND JH.契約先 = HTX.契約先
																						 ) IS NULL THEN  @SW_TORCD
																	ELSE      ( SELECT MIN(SUBSTRING(変換先CD,1,4)) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX      
																							WHERE SUBSTRING(変換元CD,1,4)   =  @SW_TORCD
																							  AND HTX.取引先 = JH.変換先CD
																							  AND HTX.受入 = JH.変換先受入
																							  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																							  AND JH.契約先 = HTX.契約先
																						 )
																	END
														ELSE      ( SELECT MIN(SUBSTRING(変換先CD,1,4)) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX      
																					WHERE SUBSTRING(変換元CD,1,4)   =  @SW_TORCD 
																					  AND 変換元受入 = @SW_UKEIR
																					  AND HTX.取引先 = JH.変換先CD
																					  AND HTX.受入 = JH.変換先受入
																					  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																					  AND JH.契約先 = HTX.契約先
																						 )
														END
--											 ELSE @SW_TORCD END 
							--TOPPSﾃｷｽﾄ:受入,受注取引先CD変換マスタ検索				
							--順位①.変換元CD/変換元受入にて検索,無い場合はTOPPS受入を使用
							 AND 受入 = CASE WHEN ( SELECT MIN(変換先受入) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX      
																					WHERE SUBSTRING(変換元CD,1,4)   = @SW_TORCD
																					  AND 変換元受入 = @SW_UKEIR
																					  AND HTX.取引先 = JH.変換先CD
																					  AND HTX.受入 = JH.変換先受入
																					  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																					  AND JH.契約先 = HTX.契約先
																						 ) IS NULL THEN  @SW_UKEIR
										   ELSE      ( SELECT MIN(変換先受入) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX      
																					WHERE SUBSTRING(変換元CD,1,4)   = @SW_TORCD
																					  AND 変換元受入 = @SW_UKEIR
																					  AND HTX.取引先 = JH.変換先CD
																					  AND HTX.受入 = JH.変換先受入
																					  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																					  AND JH.契約先 = HTX.契約先
																						 )
										   END
							  AND REPLACE(品番,'-','') = @SW_HINBN
--========================================================================= 2009/01/12 End

							  AND 背番号 = @SW_SEBAN
					IF @@ERROR <> 0
					    BEGIN
						SELECT @ERR = '26'
						SELECT @ERR_RKANRI = @SW_RKANRI
						GOTO PROC_ERR
				    	    END
				    END
				ELSE
				    BEGIN
					INSERT INTO 受注テーブル
						(受注管理NO,受注管理行NO,出荷指示書NO,出荷指示書行NO,
						 受注区分,受注日,受注便,納入日,納入便,
						 出荷予定日,出荷予定便,納入先,受入,機番,
						 納入番号,納品書頁,納品書行,分納区分,分納回数,
						 品番,背番号,枚数,収容数,納入数,端数,
						 抜取枚数,エフ発行枚数,エフ発行端数,作成種別,
						 納品書発行区分,指示書発行区分,出荷実績区分,
						 納品書管理NO,元出荷指示書NO,元出荷指示書行NO,
						 作成日,作成端末,作成者)				
						SELECT  @WW_JNO,1,@WW_SJNO,1,
							JY.受注区分, JY.受注日, JY.受注便, JY.納入日,JY.納入便,
							JY.出荷予定日, JY.出荷予定便, 納入先, 受入, 機番,
							SUBSTRING(@SW_NOUNO,1,4) + CONVERT(VARCHAR(1),@CNT),0,@SW_NGYO,1,JY.分納回数 + 1,
							JY.品番,JY.背番号,JY.枚数 - ISNULL(SK.出荷枚数,0),JY.収容数,JY.納入数 - ISNULL(SK.出荷数,0),(JY.納入数 - ISNULL(SK.出荷数,0)) % JY.収容数,
							抜取枚数,エフ発行枚数,エフ発行端数,作成種別,
							納品書発行区分,指示書発行区分,0,
							@WW_KANRI,JY.出荷指示書NO,JY.出荷指示書行NO,
							GETDATE(),SUBSTRING(HOST_NAME(),1,20),'CTOP0020_2'
							FROM 受注テーブル JY
							LEFT OUTER JOIN 出荷テーブル SK
							  ON SK.出荷指示書NO = JY.出荷指示書NO
							 AND SK.出荷指示書行NO = JY.出荷指示書行NO
							WHERE 作成種別 = 'T'
							  AND 納入番号 = SUBSTRING(@SW_NOUNO,1,4) + CONVERT(VARCHAR(1),@CNT - 1)
							  AND 納品書行 = @SW_NGYO
--================================================================================ 2009/01/121 Start
--							  AND SUBSTRING(納入先,1,4) = @SW_TORCD
--							  AND 受入 = @SW_UKEIR
--							  AND 品番 = @SW_HINBN
								--TOPPSﾃｷｽﾄ:納入先CDが取引先ﾏｽﾀに存在する場合はそのまま使用				
--							  AND SUBSTRING(納入先,1,4) = CASE WHEN ( SELECT MIN(SUBSTRING(取引先CD,1,4)) FROM 取引先マスタ 
--																		WHERE SUBSTRING(取引先CD,1,4) = @SW_TORCD
-- 2009/01/29 DEL													  AND 取引先区分 = 0 ) IS NULL THEN 
--														--TOPPSﾃｷｽﾄ:納入先CDが取引先ﾏｽﾀに存在しない場合,受注取引先CD変換マスタ検索				
--														--順位①.変換元CD/変換元受入にて検索
							  AND SUBSTRING(納入先,1,4) = 	CASE WHEN ( SELECT MIN(SUBSTRING(変換先CD,1,4)) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX     
																					WHERE SUBSTRING(変換元CD,1,4)  = @SW_TORCD
																					  AND 変換元受入 = @SW_UKEIR
																					  AND HTX.取引先 = JH.変換先CD
																					  AND HTX.受入 = JH.変換先受入
																					  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																					  AND JH.契約先 = HTX.契約先
																					 ) IS NULL THEN 
																	--順位②.変換元CDのみで検索
																	CASE WHEN ( SELECT MIN(SUBSTRING(変換先CD,1,4)) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX      
																							WHERE SUBSTRING(変換元CD,1,4)   = @SW_TORCD
																							  AND HTX.取引先 = JH.変換先CD
																							  AND HTX.受入 = JH.変換先受入
																							  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																							  AND JH.契約先 = HTX.契約先
																						 ) IS NULL THEN  @SW_TORCD
																	ELSE      ( SELECT MIN(SUBSTRING(変換先CD,1,4)) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX      
																							WHERE SUBSTRING(変換元CD,1,4)   =  @SW_TORCD
																							  AND HTX.取引先 = JH.変換先CD
																							  AND HTX.受入 = JH.変換先受入
																							  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																							  AND JH.契約先 = HTX.契約先
																						 )
																	END
														ELSE      ( SELECT MIN(SUBSTRING(変換先CD,1,4)) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX      
																					WHERE SUBSTRING(変換元CD,1,4)   =  @SW_TORCD 
																					  AND 変換元受入 = @SW_UKEIR
																					  AND HTX.取引先 = JH.変換先CD
																					  AND HTX.受入 = JH.変換先受入
																					  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																					  AND JH.契約先 = HTX.契約先
																						 )
														END
--											 ELSE @SW_TORCD END 
							--TOPPSﾃｷｽﾄ:受入,受注取引先CD変換マスタ検索				
							--順位①.変換元CD/変換元受入にて検索,無い場合はTOPPS受入を使用
							 AND 受入 = CASE WHEN ( SELECT MIN(変換先受入) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX      
																					WHERE SUBSTRING(変換元CD,1,4)   = @SW_TORCD
																					  AND 変換元受入 = @SW_UKEIR
																					  AND HTX.取引先 = JH.変換先CD
																					  AND HTX.受入 = JH.変換先受入
																					  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																					  AND JH.契約先 = HTX.契約先
																						 ) IS NULL THEN  @SW_UKEIR
										   ELSE      ( SELECT MIN(変換先受入) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX      
																					WHERE SUBSTRING(変換元CD,1,4)   = @SW_TORCD
																					  AND 変換元受入 = @SW_UKEIR
																					  AND HTX.取引先 = JH.変換先CD
																					  AND HTX.受入 = JH.変換先受入
																					  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																					  AND JH.契約先 = HTX.契約先
																						 )
										   END
							  AND REPLACE(品番,'-','') = @SW_HINBN
--================================================================================ 2009/01/121 End
							  AND 背番号 = @SW_SEBAN
					IF @@ERROR <> 0
					    BEGIN
						SELECT @ERR = '26'
						SELECT @ERR_RKANRI = @SW_RKANRI
						GOTO PROC_ERR
				    	    END
				    END						
			    END
		    END
		-- * -------------------------------------------------------------------------------------------------------
		-- *	出荷テーブル 作成
		-- * -------------------------------------------------------------------------------------------------------
		SELECT @JW_JNO = 0, @JW_JGYO = 0, @JW_SJNO = 0, @JW_SJGYO = 0
		SELECT  @JW_JNO = 受注管理NO, @JW_JGYO = 受注管理行NO,
			@JW_SJNO = 出荷指示書NO,@JW_SJGYO = 出荷指示書行NO,
			@JW_SYUKA = 出荷実績区分
			FROM 受注テーブル 
			WHERE 作成種別 = 'T'
			  AND 納入番号 = SUBSTRING(@SW_NOUNO,1,4) + CONVERT(VARCHAR(1),@CNT)
			  AND 納品書行 = @SW_NGYO
--================================================================ 2009/01/12 Start
--			  AND SUBSTRING(納入先,1,4) = @SW_TORCD
--			  AND 受入 = @SW_UKEIR
--			  AND 品番 = @SW_HINBN
				--TOPPSﾃｷｽﾄ:納入先CDが取引先ﾏｽﾀに存在する場合はそのまま使用				
--			  AND SUBSTRING(納入先,1,4) = CASE WHEN ( SELECT MIN(SUBSTRING(取引先CD,1,4)) FROM 取引先マスタ 
--														WHERE SUBSTRING(取引先CD,1,4) = @SW_TORCD
--	2009/01/29 DEL										  AND 取引先区分 = 0 ) IS NULL THEN 
--										--TOPPSﾃｷｽﾄ:納入先CDが取引先ﾏｽﾀに存在しない場合,受注取引先CD変換マスタ検索				
--										--順位①.変換元CD/変換元受入にて検索
			  AND SUBSTRING(納入先,1,4) = 	CASE WHEN ( SELECT MIN(SUBSTRING(変換先CD,1,4)) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX     
																	WHERE SUBSTRING(変換元CD,1,4)  = @SW_TORCD
																	  AND 変換元受入 = @SW_UKEIR
																	  AND HTX.取引先 = JH.変換先CD
																	  AND HTX.受入 = JH.変換先受入
																	  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																	  AND JH.契約先 = HTX.契約先
																	 ) IS NULL THEN 
													--順位②.変換元CDのみで検索
													CASE WHEN ( SELECT MIN(SUBSTRING(変換先CD,1,4)) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX      
																			WHERE SUBSTRING(変換元CD,1,4)   = @SW_TORCD
																			  AND HTX.取引先 = JH.変換先CD
																			  AND HTX.受入 = JH.変換先受入
																			  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																			  AND JH.契約先 = HTX.契約先
																		 ) IS NULL THEN  @SW_TORCD
													ELSE      ( SELECT MIN(SUBSTRING(変換先CD,1,4)) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX      
																			WHERE SUBSTRING(変換元CD,1,4)   =  @SW_TORCD
																			  AND HTX.取引先 = JH.変換先CD
																			  AND HTX.受入 = JH.変換先受入
																			  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																			  AND JH.契約先 = HTX.契約先
																		 )
													END
										ELSE      ( SELECT MIN(SUBSTRING(変換先CD,1,4)) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX      
																	WHERE SUBSTRING(変換元CD,1,4)   =  @SW_TORCD 
																	  AND 変換元受入 = @SW_UKEIR
																	  AND HTX.取引先 = JH.変換先CD
																	  AND HTX.受入 = JH.変換先受入
																	  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																	  AND JH.契約先 = HTX.契約先
																		 )
										END
--							 ELSE @SW_TORCD END 
			--TOPPSﾃｷｽﾄ:受入,受注取引先CD変換マスタ検索				
			--順位①.変換元CD/変換元受入にて検索,無い場合はTOPPS受入を使用
			 AND 受入 = CASE WHEN ( SELECT MIN(変換先受入) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX      
																	WHERE SUBSTRING(変換元CD,1,4)   = @SW_TORCD
																	  AND 変換元受入 = @SW_UKEIR
																	  AND HTX.取引先 = JH.変換先CD
																	  AND HTX.受入 = JH.変換先受入
																	  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																	  AND JH.契約先 = HTX.契約先
																		 ) IS NULL THEN  @SW_UKEIR
						   ELSE      ( SELECT MIN(変換先受入) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX      
																	WHERE SUBSTRING(変換元CD,1,4)   = @SW_TORCD
																	  AND 変換元受入 = @SW_UKEIR
																	  AND HTX.取引先 = JH.変換先CD
																	  AND HTX.受入 = JH.変換先受入
																	  AND REPLACE(HTX.品番,'-','') = @SW_HINBN
--																	  AND JH.契約先 = HTX.契約先
																		 )
						   END
			  AND REPLACE(品番,'-','') = @SW_HINBN
--================================================================ 2009/01/12 End
			  AND 背番号 = @SW_SEBAN
-- ********************************************************************************************************************************
-- < 2004.12.09 ADD START >
-- ================================== 2009/04/28 Start
--			  AND 納入日 = @SW_NDATE
--			  AND 納入便 = @SW_NBIN
			  AND 納入日 = @WW_DATE
			  AND 納入便 = @WW_BIN
-- ================================== 2009/04/28 End
-- < 2004.12.09 ADD  END  >
-- ********************************************************************************************************************************

		IF ISNULL(@JW_SYUKA,0) = 0
		    BEGIN
						
			IF @CNT = @SW_NOREN
			    BEGIN
				-- * ---------------------------------------------------------------------------------
				-- *	分納データ
				-- * ---------------------------------------------------------------------------------			
				SELECT @WW_MAISU = @SW_SURYO / @SW_SYUYO
				SELECT @WW_HASUR = @SW_SURYO % @SW_SYUYO
				IF @WW_HASUR <> 0 BEGIN SELECT @WW_MAISU = @WW_MAISU + 1	END

				-- * 納入日・便
				SELECT @WW_DATE = @SW_NDATE
				SELECT @WW_BIN = @SW_NBIN
				IF RTRIM(@SW_BDATE) <> '' 
				    BEGIN
					SELECT @WW_DATE = @SW_BDATE
					SELECT @WW_BIN = @SW_BBIN
				    END

				INSERT INTO 出荷テーブル 
					(出荷指示書NO,出荷指示書行NO,出荷日,出荷便,
					 出荷枚数,出荷端数,出荷数,分納数,
					 照合年月,照合処理日,照合結果,
					 実績年月,実績処理日,実績結果,
					 作成日,作成端末,作成者)
					SELECT 出荷指示書NO,出荷指示書行NO,@WW_DATE,@WW_BIN,
						@WW_MAISU,@WW_HASUR,@SW_SURYO,納入数 - @SW_SURYO,
						'','','', '','','',
						GETDATE(),SUBSTRING(HOST_NAME(),1,20),'CTOP0020_3'
						FROM 受注テーブル 
						WHERE 受注管理NO = @JW_JNO
						  AND 受注管理行NO = @JW_JGYO
						  AND 出荷指示書NO = @JW_SJNO
						  AND 出荷指示書行NO = @JW_SJGYO

				IF @@ERROR <> 0
				    BEGIN
					SELECT @ERR = '27'
					SELECT @ERR_RKANRI = @SW_RKANRI
					GOTO PROC_ERR
			    	    END

				SELECT @OUTCNT = @OUTCNT + 1
			    END
			ELSE
			    BEGIN
				-- * ---------------------------------------------------------------------------------
				-- *	全分納データ
				-- * ---------------------------------------------------------------------------------			
				INSERT INTO 出荷テーブル 
					(出荷指示書NO,出荷指示書行NO,出荷日,出荷便,
					 出荷枚数,出荷端数,出荷数,分納数,
					 照合年月,照合処理日,照合結果,
					 実績年月,実績処理日,実績結果,
					 作成日,作成端末,作成者)
					SELECT 出荷指示書NO,出荷指示書行NO,出荷予定日,出荷予定便,
						0, 0, 0, 納入数,
						'','','', '','','',
						GETDATE(),SUBSTRING(HOST_NAME(),1,20),'CTOP0020_4'
						FROM 受注テーブル 
						WHERE 受注管理NO = @JW_JNO
						  AND 受注管理行NO = @JW_JGYO
						  AND 出荷指示書NO = @JW_SJNO
						  AND 出荷指示書行NO = @JW_SJGYO
				IF @@ERROR <> 0
				    BEGIN
					SELECT @ERR = '27'
					SELECT @ERR_RKANRI = @SW_RKANRI
					GOTO PROC_ERR
			    	    END

				SELECT @OUTCNT = @OUTCNT + 1
			    END			
			-- * --------------------------------------------------------------------------------------------
			-- *	受注テーブル・出荷実績区分 更新
			-- * --------------------------------------------------------------------------------------------
			UPDATE 受注テーブル SET
				出荷実績区分 = 1,
				更新日 = GETDATE(),
				更新端末 = SUBSTRING(HOST_NAME(),1,20),
				更新者 = 'CTOP0020_5'
				WHERE 受注管理NO = @JW_JNO
				  AND 受注管理行NO = @JW_JGYO
				  AND 出荷指示書NO = @JW_SJNO
				  AND 出荷指示書行NO = @JW_SJGYO

			IF @@ERROR <> 0
			    BEGIN
				SELECT @ERR = '28'
				SELECT @ERR_RKANRI = @SW_RKANRI
				GOTO PROC_ERR
		    	    END

			

		    END
		SELECT @CNT = @CNT + 1
	    END
	-- * -------------------------------------------------------------------------------------------------------------
	-- *	TOPPS出荷変換テキスト 作成
	-- * -------------------------------------------------------------------------------------------------------------
	IF @SW_ERR <> '2'
	    BEGIN
		INSERT INTO TOPPS出荷変換テキスト
			(端末番号,仕入先,工区,出荷場,納入先,受入,便区分,
			 納入日,納入便,挽回日,挽回便,納入番号,輸送中FLG,
			 処理日,処理時間,行番号,背番号,品番,収容数,打切端数,
			 出荷個数,打切区分,端数打出FLG,前工程情報任意項目,ERR,
			 履歴管理番号,受注出荷区分,ファイルID,作成日) VALUES

			(HOST_NAME(),@SW_SIIRE,@SW_KOJYO,@SW_SYUKA,@SW_TORCD,@SW_UKEIR,@SW_BINKB,
			 @SW_NDATE,@SW_NBIN,@SW_BDATE,@SW_BBIN,@SW_NOUNO,@SW_YUSOU,
			 @SW_SRDATE,@SW_SRTIME,@SW_NGYO,@SW_SEBAN,@SW_HINBN,@SW_SYUYO,@SW_UHASU,
			 @SW_SURYO,@SW_UCKBN,@SW_HAKBN,@SW_ZKOTEI,@SW_ERR,
			 @SW_RKANRI,@SW_JSKBN,@SW_FNAME,GETDATE())
	
		IF @@ERROR <> 0
		    BEGIN
			SELECT @ERR = '30'
			SELECT @ERR_RKANRI = @SW_RKANRI
			GOTO PROC_ERR
    		    END
	    END

	-- * -------------------------------------------------------------------------------------------------------------
	-- *	次レコード 読込
	-- * -------------------------------------------------------------------------------------------------------------
	FETCH NEXT FROM SKCUR INTO
		@SW_RKANRI, @SW_JSKBN,  @SW_FNAME,
		@SW_SIIRE,  @SW_KOJYO,  @SW_SYUKA,
		@SW_TORCD,  @SW_UKEIR,  @SW_BINKB,
		@SW_NDATE,  @SW_NBIN,   @SW_BDATE,

		@SW_BBIN,   @SW_NOUNO,  @SW_NOREN, @SW_YUSOU,
		@SW_SRDATE, @SW_SRTIME, @SW_NGYO,
		@SW_SEBAN,  @SW_HINBN,  @SW_SYUYO,
		@SW_UHASU,  @SW_SURYO,  @SW_UCKBN,
		@SW_HAKBN,  @SW_ZKOTEI
    END

--*  CLOSE & DEALLOCATE
CLOSE SKCUR
DEALLOCATE SKCUR

-- *-----------------------------------------------------------------------------------
-- *	TOPPS変換履歴テーブル 処理件数更新
-- *-----------------------------------------------------------------------------------
IF @BK_RKANRI <> 0
    BEGIN
	UPDATE TOPPS変換履歴テーブル SET
		入力件数 = @INCNT,
		変換件数 = @OUTCNT,
		変換エラー件数 = @ERRCNT
		WHERE 履歴管理番号 = @BK_RKANRI

	IF @@ERROR <> 0
	    BEGIN
		SELECT @ERR = '21'
		SELECT @ERR_RKANRI = @BK_RKANRI
		GOTO PROC_ERR
	    END

    END

-- *-----------------------------------------------------------------------------------
-- *		正    常    終    了
-- *-----------------------------------------------------------------------------------
PROC_END:
RETURN(0)

-- *-----------------------------------------------------------------------------------
-- *		異    常    終    了
-- *-----------------------------------------------------------------------------------
PROC_ERR:
IF @ERR_RKANRI <> 0 
    BEGIN

	IF @ERR = '21' BEGIN SELECT @ERRN = '処理件数 更新エラー' END
--	IF @ERR = '22' BEGIN SELECT @ERRN = '出荷テーブル 作成エラー' END
	IF @ERR = '23' BEGIN SELECT @ERRN = '受注管理NO 採番エラー' END
	IF @ERR = '24' BEGIN SELECT @ERRN = '出荷指示書NO 採番エラー' END
	IF @ERR = '25' BEGIN SELECT @ERRN = '納品書管理NO 採番エラー' END
	IF @ERR = '26' BEGIN SELECT @ERRN = '受注テーブル 作成エラー' END
	IF @ERR = '27' BEGIN SELECT @ERRN = '出荷テーブル 作成エラー' END
	IF @ERR = '28' BEGIN SELECT @ERRN = '受注テーブル 出荷実績区分・更新エラー' END
	IF @ERR = '30' BEGIN SELECT @ERRN = 'TOPPS出荷テキスト 作成エラー' END

	UPDATE TOPPS変換履歴テーブル SET
		ERR = @ERR,
		ERR内容 = @ERRN
		WHERE 履歴管理番号 =  @ERR_RKANRI
    END

RETURN(1)





GO
