USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[在庫数算出]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[在庫数算出]	@TG_YM   VARCHAR(6),   @HINBN VARCHAR(25), @PROCKB TINYINT,
				@ZAIKB TINYINT OUTPUT, @ZAISU DECIMAL(11, 0) OUTPUT AS 
SET NOCOUNT ON
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 * (         )
 *			在　　庫　　数　　算　　出
 *
 *			PARAMETER	@TG_YM	( INPUT  )	対象年月
 *					@HINBN	( INPUT  )	品番
 *					@PROCKB	( INPUT  )	処理区分	( 0:月初在庫数、1:月末在庫数 )
 *					@ZAIKB	( OUTPUT )	在庫区分
 *					@ZAISU	( OUTPUT )	在庫数
 *
 *			RETURN		0 : 正常終了
 *			 		9 : 異常終了
 *
 *			COMMENT		区分 = 0	･･･	対象年月の前月在庫情報を基点に、発注内示データより月初在庫数を求める
 *					     = 1･･･	対象年月の　　在庫情報を基点に、　　実績データより月末在庫数を求める
 *					
 *
 *			CREATE DATE	2004 / 03 / 11	By CIS
 *	    		UP DATE 2010/01/11  By CIS  土岐津VER,在庫マスタ項目追加による変更
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
DECLARE	@RTN		INT		/* リターン						*/
DECLARE	@TG_YM_ZN	VARCHAR(6)	/* リターン						*/

/*::::::::::::::::::::::*
 *	初期処理		*
 *::::::::::::::::::::::*/
SELECT	@RTN = 9, @ZAIKB = 0, @ZAISU = 0, @TG_YM_ZN = ''

SELECT	@ZAIKB = 在庫管理区分 FROM 品番マスタ WHERE 品番 = @HINBN
IF	@ZAIKB = 0	BEGIN	GOTO PROC_NEXT	END

-- 2010/01/11 START
TRUNCATE TABLE	在庫数算出ワーク

IF @PROCKB = 0 
BEGIN
	INSERT INTO 在庫数算出ワーク
			( 年月度,品番,在庫数,実棚日 )
		SELECT ZK.年月度,ZK.品番,SUM(ZK.在庫数) 在庫数,MAX(実棚日) 実棚日 
		FROM 在庫マスタ ZK
		LEFT OUTER JOIN ( SELECT ZK1.品番,ZK1.取引先,ZK1.受入,MAX(ZK1.工順) 工順 
											FROM 在庫マスタ ZK1
											LEFT OUTER JOIN 品番工順マスタ HK1
											ON HK1.品番 = ZK1.品番
											AND HK1.取引先 = ZK1.取引先
											AND HK1.受入 = ZK1.受入
											AND HK1.工順 = ZK1.工順
											WHERE ZK1.年月度 = @TG_YM_ZN
											AND ISNULL(HK1.品番,'') <> ''
											AND HK1.棚卸プレシート発行 = 0
											GROUP BY ZK1.品番,ZK1.取引先,ZK1.受入 ) HK
		ON HK.品番 = ZK.品番
		AND HK.取引先 = ZK.取引先
		AND HK.受入 = ZK.受入
		AND HK.工順 = ZK.工順
		WHERE ISNULL(HK.品番,'') <> ''
		AND ZK.年月度 = @TG_YM_ZN
		GROUP BY ZK.年月度,ZK.品番
END
ELSE
BEGIN
	INSERT INTO 在庫数算出ワーク
			( 年月度,品番,在庫数,実棚日 )
		SELECT ZK.年月度,ZK.品番,SUM(ZK.在庫数) 在庫数,MAX(実棚日) 実棚日 
		FROM 在庫マスタ ZK
		LEFT OUTER JOIN ( SELECT ZK1.品番,ZK1.取引先,ZK1.受入,MAX(ZK1.工順) 工順 
											FROM 在庫マスタ ZK1
											LEFT OUTER JOIN 品番工順マスタ HK1
												ON HK1.品番 = ZK1.品番
												AND HK1.取引先 = ZK1.取引先
												AND HK1.受入 = ZK1.受入
												AND HK1.工順 = ZK1.工順
											WHERE ZK1.年月度 = @TG_YM
											AND ISNULL(HK1.品番,'') <> ''
											AND HK1.棚卸プレシート発行 = 0
											AND ZK1.品番 = @HINBN
											GROUP BY ZK1.品番,ZK1.取引先,ZK1.受入 ) HK
			ON HK.品番 = ZK.品番
			AND HK.取引先 = ZK.取引先
			AND HK.受入 = ZK.受入
			AND HK.工順 = ZK.工順
		WHERE ISNULL(HK.品番,'') <> ''
		AND ZK.年月度 = @TG_YM
		AND ZK.品番 = @HINBN
		GROUP BY ZK.年月度,ZK.品番
END
-- 2010/01/11 END

IF	@PROCKB = 1	BEGIN	GOTO JISSEKI_BASE	END

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *	月　初　在　庫　数　算　出	(　計画データより　)
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
SELECT	@TG_YM_ZN = CONVERT( VARCHAR(6), DATEADD( M, -1, @TG_YM + '01' ), 112 )

/* 2010/01/11
SELECT	@ZAISU = ZK.在庫数 + NK.入庫数 - SK.出庫数
		FROM 在庫マスタ ZK
		LEFT OUTER JOIN ( SELECT ZM.品番,
					 SUM( CASE WHEN ZM.実棚日 <= ISNULL( HN.納期, '' ) THEN ISNULL( HN.数量, 0 ) ELSE 0 END ) 入庫数 
						FROM 在庫マスタ ZM
						LEFT OUTER JOIN 発注内示テーブル HN
							ON  HN.内示年月 = ZM.年月度
							AND HN.品番 = ZM.品番
							AND SUBSTRING( HN.納期, 1, 6 ) = ZM.年月度
						WHERE ZM.年月度 = @TG_YM_ZN
							AND   ZM.品番 = @HINBN
						GROUP BY ZM.品番
				) NK
			ON  NK.品番 = ZK.品番
		LEFT OUTER JOIN ( SELECT ZM.品番,
					 SUM( CASE WHEN ZM.実棚日 <= ISNULL( HN.納期, '' ) THEN ISNULL( HN.数量, 0 )  * ISNULL( KS.構成数, 0 ) ELSE 0 END ) 出庫数
						FROM 在庫マスタ ZM
						LEFT OUTER JOIN 構成マスタ KS
							ON  KS.子品番 = ZM.品番
						LEFT OUTER JOIN 発注内示テーブル HN
							ON  HN.内示年月 = ZM.年月度
							AND HN.品番 = ISNULL( KS.親品番, '' )
							AND SUBSTRING( HN.納期, 1, 6 ) = ZM.年月度
						WHERE ZM.年月度 = @TG_YM_ZN
							AND   ZM.品番 = @HINBN
						GROUP BY ZM.品番
				) SK
			ON  SK.品番 = ZK.品番
		WHERE ZK.年月度 = @TG_YM_ZN
		AND   ZK.品番 = @HINBN
*/
SELECT	@ZAISU = ZK.在庫数 + NK.入庫数 - SK.出庫数
		FROM 在庫数算出ワーク ZK
		LEFT OUTER JOIN ( SELECT ZM.品番,
					 SUM( CASE WHEN ZM.実棚日 <= ISNULL( HN.納期, '' ) THEN ISNULL( HN.数量, 0 ) ELSE 0 END ) 入庫数 
						FROM 在庫数算出ワーク ZM
						LEFT OUTER JOIN 発注内示テーブル HN
							ON  HN.内示年月 = ZM.年月度
							AND HN.品番 = ZM.品番
							AND SUBSTRING( HN.納期, 1, 6 ) = ZM.年月度
						WHERE ZM.年月度 = @TG_YM_ZN
							AND   ZM.品番 = @HINBN
						GROUP BY ZM.品番
				) NK
			ON  NK.品番 = ZK.品番
		LEFT OUTER JOIN ( SELECT ZM.品番,
					 SUM( CASE WHEN ZM.実棚日 <= ISNULL( HN.納期, '' ) THEN ISNULL( HN.数量, 0 )  * ISNULL( KS.構成数, 0 ) ELSE 0 END ) 出庫数
						FROM 在庫数算出ワーク ZM
						LEFT OUTER JOIN 構成マスタ KS
							ON  KS.子品番 = ZM.品番
						LEFT OUTER JOIN 発注内示テーブル HN
							ON  HN.内示年月 = ZM.年月度
							AND HN.品番 = ISNULL( KS.親品番, '' )
							AND SUBSTRING( HN.納期, 1, 6 ) = ZM.年月度
						WHERE ZM.年月度 = @TG_YM_ZN
							AND   ZM.品番 = @HINBN
						GROUP BY ZM.品番
				) SK
			ON  SK.品番 = ZK.品番
		WHERE ZK.年月度 = @TG_YM_ZN
		AND   ZK.品番 = @HINBN

GOTO	PROC_NEXT

JISSEKI_BASE:
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *	月　末　在　庫　数　算　出	(　実績データより　)
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* 2010/01/11
SELECT	@ZAISU = ZK.在庫数 + ISNULL( NK.入庫数, 0 ) + ISNULL( SK.入出庫数, 0 )
		FROM 在庫マスタ ZK
		LEFT OUTER JOIN ( SELECT ZM.品番, 
					 SUM( CASE WHEN ZM.実棚日 <= ISNULL( NK.入荷日, '' ) THEN ISNULL( NK.入荷数, 0 ) ELSE 0 END ) 入庫数
						FROM 在庫マスタ ZM
						LEFT OUTER JOIN 入荷テーブル NK
							ON  NK.品番 = ZM.品番
							AND SUBSTRING( 入荷日, 1, 6 ) = ZM.年月度
						WHERE ZM.年月度 = @TG_YM
							AND   ZM.品番 = @HINBN
						GROUP BY ZM.品番
				) NK
		ON  NK.品番 = ZK.品番
		LEFT OUTER JOIN ( SELECT ZM.品番, 
					 SUM( CASE ISNULL( JS.実績区分, 0 ) 
						WHEN 0 THEN 0
						WHEN 1 THEN CASE WHEN ZM.実棚日 <= ISNULL( JS.実績日, '' ) THEN ISNULL( JS.実績数, 0 ) ELSE 0 END
						       ELSE CASE WHEN ZM.実棚日 <= ISNULL( JS.実績日, '' ) THEN ISNULL( JS.実績数, 0 ) ELSE 0 END * -1
					      END
					    ) 入出庫数
						FROM 在庫マスタ ZM
						LEFT OUTER JOIN 実績管理テーブル JS
							ON  JS.品番 = ZM.品番
							AND SUBSTRING( JS.実績日, 1, 6 ) = ZM.年月度
						WHERE ZM.年月度 = @TG_YM
							AND   ZM.品番 = @HINBN
						GROUP BY ZM.品番
				) SK
		ON  SK.品番 = ZK.品番
		WHERE ZK.年月度 = @TG_YM
		AND   ZK.品番 = @HINBN
*/
SELECT	@ZAISU = ZK.在庫数 + ISNULL( NK.入庫数, 0 ) + ISNULL( SK.入出庫数, 0 )
		FROM 在庫数算出ワーク ZK
		LEFT OUTER JOIN ( SELECT ZM.品番, 
					 SUM( CASE WHEN ZM.実棚日 <= ISNULL( NK.入荷日, '' ) THEN ISNULL( NK.入荷数, 0 ) ELSE 0 END ) 入庫数
						FROM 在庫数算出ワーク ZM
						LEFT OUTER JOIN 入荷テーブル NK
							ON  NK.品番 = ZM.品番
							AND SUBSTRING( 入荷日, 1, 6 ) = ZM.年月度
						WHERE ZM.年月度 = @TG_YM
							AND   ZM.品番 = @HINBN
						GROUP BY ZM.品番
				) NK
		ON  NK.品番 = ZK.品番
		LEFT OUTER JOIN ( SELECT ZM.品番, 
					 SUM( CASE ISNULL( JS.実績区分, 0 ) 
						WHEN 0 THEN 0
						WHEN 1 THEN CASE WHEN ZM.実棚日 <= ISNULL( JS.実績日, '' ) THEN ISNULL( JS.実績数, 0 ) ELSE 0 END
						       ELSE CASE WHEN ZM.実棚日 <= ISNULL( JS.実績日, '' ) THEN ISNULL( JS.実績数, 0 ) ELSE 0 END * -1
					      END
					    ) 入出庫数
						FROM 在庫数算出ワーク ZM
						LEFT OUTER JOIN 実績管理テーブル JS
							ON  JS.品番 = ZM.品番
							AND SUBSTRING( JS.実績日, 1, 6 ) = ZM.年月度
						WHERE ZM.年月度 = @TG_YM
							AND   ZM.品番 = @HINBN
						GROUP BY ZM.品番
				) SK
		ON  SK.品番 = ZK.品番
		WHERE ZK.年月度 = @TG_YM
		AND   ZK.品番 = @HINBN

PROC_NEXT:
IF	@RTN = 9	BEGIN	SELECT	@RTN = 0	END

/*::::::::::::::::::::::*
 *	終 了 処 理	*
 *::::::::::::::::::::::*/
PROC_END:
	RETURN ( @RTN )




GO
