USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[増減平準データ作成_Sav]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE  PROCEDURE [dbo].[増減平準データ作成_Sav]	@TG_NJYM VARCHAR(6), @PROCKB TINYINT, @FPROC TINYINT,
					@INSMCNT INT OUTPUT, @UPDMCNT INT OUTPUT,
					@INSZCNT INT OUTPUT, @UPDZCNT INT OUTPUT,
					@INSHCNT INT OUTPUT, @UPDHCNT INT OUTPUT, @ERRHCNT INT OUTPUT  AS
SET NOCOUNT ON
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 * ( CNJ0310/CNJ0030 )
 *			かんばん回転枚数・かんばん増減・かんばん平準化テーブル　データ作成
 *
 *			PARAMETER	@TG_NJYM( INPUT  )	対象内示年月
 *					@PROCKB	( INPUT  )	処理区分	( 0:初回分, 1:変更分 )
 *					@FPROC	( INPUT  )	前方処理	( 0:構成展開, 1:メンテナンス )
 *
 *					@INSMCNT( OUTPUT )	作成件数	( かんばん回転枚数テーブル )
 *					@UPDMCNT( OUTPUT )	更新係数	( 　　　　　〃　　　　　　 )
 *					@INSZCNT( OUTPUT )	作成件数	( かんばん増減テーブル )
 *					@UPDZCNT( OUTPUT )	更新係数	( 　　　　〃　　　　　 )
 *					@INSHCNT( OUTPUT )	作成件数	( かんばん平準化テーブル )
 *					@UPDHCNT( OUTPUT )	更新係数	( 　　　　　〃　　　　　 )
 *					@ERRHCNT( OUTPUT )	ｴﾗｰ係数	( 　　　　　〃　　　　　 )
 *
 *			RETURN		0 : 正常終了
 *			 		1 : カレンダ異常
 *			 		2 : 対象データなし	( 発注内示 )
 *			 		3 : 対象データなし	( 回転枚数が変わっていない )
 *			 		9 : 異常終了
 *
 *			CREATE DATE	2004 / 03 / 11	By CIS
 *	    		UP DATE		2004 / 05 / 17  かんばん増減テーブル更新(増減値＝０は対象外)
 *	    		UP DATE		2004 / 08 / 16  回転枚数ワーク参照条件追加
 *	    		UP DATE		2005 / 02 / 24	かんばん回転枚数計算変更
 *							（ 最終計算結果を切上げにする [ 変更前:日当り枚数時と最終での２回 ] )
 *	    		UP DATE		2005 / 03 / 08  メンテより発注内示集計ワーク作成時、抽出条件追加（内示年月）
 *	    		UP DATE
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
DECLARE	@RTN		INT		/* リターン						*/
DECLARE	@OPE_DAYS	DECIMAL( 3, 1 )	/* 稼働日数						*/
DECLARE	@PROCYMD	VARCHAR(8)	/* 処理日						*/
DECLARE	@STR_YMD	VARCHAR(8)	/* 開始日	( 処理区分･処理日をより )			*/
DECLARE	@END_YMD	VARCHAR(8)	/* 終了日	( 対象内示年月末日 )			*/

/*::::::::::::::::::::::*
 *	初 期 処 理	*
 *::::::::::::::::::::::*/
SELECT	@RTN = 9, @INSMCNT = 0, @UPDMCNT = 0, @INSZCNT = 0, @UPDZCNT = 0, @INSHCNT = 0, @UPDHCNT  = 0, @ERRHCNT  = 0,
	@OPE_DAYS = 0,
	@PROCYMD  = CONVERT( VARCHAR(8), GETDATE(), 112 ),
	@END_YMD  = CONVERT( VARCHAR(8), DATEADD( D, -1, DATEADD( M, 1, @TG_NJYM + '01') ), 112 )

SELECT	@STR_YMD = CASE WHEN @PROCKB = 0 
			THEN @TG_NJYM + '01'
			ELSE CASE WHEN @PROCYMD < @TG_NJYM + '01' THEN @TG_NJYM + '01'
				  WHEN SUBSTRING( @PROCYMD, 1, 6 ) = @TG_NJYM THEN @PROCYMD
					ELSE @END_YMD
			     END
		   END

/*::::::::::::::::::::::::::::::::::::::::::::::*
 *	自社カレンダ確認	 ( 発注当月 )		*
 *::::::::::::::::::::::::::::::::::::::::::::::*/
EXEC	社内カレンダチェック 1, @TG_NJYM, 0

/*::::::::::::::::::::::*
 *	稼働日数獲得	*
 *::::::::::::::::::::::*/
SELECT	@OPE_DAYS = 稼動日数	FROM カレンダマスタ
				WHERE 取引先 = ''
				AND   受入 = ''
				AND   月 = SUBSTRING( @TG_NJYM, 5, 2 )
				AND   年 = SUBSTRING( @TG_NJYM, 1, 4 )
				AND   取引先区分 = 1

IF	@OPE_DAYS = 0	BEGIN	SELECT	@RTN = 1	GOTO PROC_END	END

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *						発　注　内　示　集　計　ワ　ー　ク　作　成
 *
 *::::::::::::::::::::::::::::::::::::::::::::::*			対象データの数量集計を行い、前方処理の違いを無くす
 *	発 注 内 示 集 計 ワ ー ク 削 除		*
 *::::::::::::::::::::::::::::::::::::::::::::::* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
DELETE	発注内示集計ワーク	WHERE 作成端末 = SUBSTRING( HOST_NAME(), 1, 20 )

/*::::::::::::::::::::::::::::::::::::::::::::::*
 *	対　象　デ　ー　タ　集　計　出　力		*
 *::::::::::::::::::::::::::::::::::::::::::::::*/
IF	@FPROC = 0
    BEGIN
--	< 展開処理より >
	INSERT INTO 発注内示集計ワーク ( 内示年月, 品番, 手配先, 受入, 数量, 収容数, 背番号, か係数, サイクルA, サイクルB, サイクルC, 稼動日数, 作成端末 )

		SELECT	HN.内示年月, HN.品番, HN.手配先, HN.受入,
			SUM( HN.数量 ) 数量,
			CASE WHEN ISNULL( HT.変更日, '' ) <> ''
			      AND ISNULL( HT.変更日, '' ) <= @TG_NJYM + '01'
				THEN ISNULL( HT.収容数2, 0 )
				ELSE ISNULL( HT.収容数1, 0 )
			END 収容数,
			ISNULL( HT.背番号, '' ) 背番号,
			ISNULL( HT.か係数,  0 ) か係数,
			CAST( SUBSTRING( ISNULL( HT.サイクル, '' ), 1, 1 ) AS TINYINT ) サイクルA,
			CAST( SUBSTRING( ISNULL( HT.サイクル, '' ), 2, 2 ) AS TINYINT ) サイクルB,
			CAST( SUBSTRING( ISNULL( HT.サイクル, '' ), 4, 2 ) AS TINYINT ) サイクルC,
			@OPE_DAYS,
			SUBSTRING( HOST_NAME(), 1, 20 ) 作成端末
			FROM 発注内示テーブル HN
			INNER JOIN 品番取引先マスタ HT
				ON  HT.品番 = HN.品番
				AND HT.取引先 = HN.手配先
				AND HT.受入 = HN.受入
			WHERE HN.内示年月 = @TG_NJYM
				AND   HT.SK区分 = 0
				AND   SUBSTRING( HN.納期, 1, 6 ) = @TG_NJYM
			GROUP BY HN.内示年月, HN.手配先, HN.品番, HN.受入,
					HT.変更日, HT.収容数1, HT.収容数2, HT.背番号, HT.か係数, HT.サイクル
    END
ELSE
    BEGIN
--	< メンテより >
	INSERT INTO 発注内示集計ワーク ( 内示年月, 品番, 手配先, 受入, 数量, 収容数, 背番号, か係数, サイクルA, サイクルB, サイクルC, 稼動日数, 作成端末 )

		SELECT	HN.内示年月, HN.品番, HN.手配先, HN.受入,
			SUM( HN.数量 ) 数量,
			CASE WHEN ISNULL( HT.変更日, '' ) <> ''
			      AND ISNULL( HT.変更日, '' ) <= @TG_NJYM + '01'
				THEN ISNULL( HT.収容数2, 0 )
				ELSE ISNULL( HT.収容数1, 0 )
			END 収容数,
			ISNULL( HT.背番号, '' ) 背番号,
			ISNULL( HT.か係数,  0 ) か係数,
			CAST( SUBSTRING( ISNULL( HT.サイクル, '' ), 1, 1 ) AS TINYINT ) サイクルA,
			CAST( SUBSTRING( ISNULL( HT.サイクル, '' ), 2, 2 ) AS TINYINT ) サイクルB,
			CAST( SUBSTRING( ISNULL( HT.サイクル, '' ), 4, 2 ) AS TINYINT ) サイクルC,
			@OPE_DAYS,
			SUBSTRING( HOST_NAME(), 1, 20 ) 作成端末
			FROM 発注内示テーブル HN
			INNER JOIN 品番取引先マスタ HT
				ON  HT.品番 = HN.品番
				AND HT.取引先 = HN.手配先
				AND HT.受入 = HN.受入
			INNER JOIN ( SELECT DISTINCT 内示年月, 手配先, 品番, 受入
						FROM 発注内示テーブル
						WHERE 処理区分 <> 0 
						AND   CASE WHEN ISNULL( 更新端末, '' ) = '' THEN 作成端末 ELSE 更新端末 END
						    = SUBSTRING( HOST_NAME(), 1, 20 )
						AND   SUBSTRING( 納期, 1, 6 ) = @TG_NJYM
				     UNION
				     SELECT 内示年月, 手配先, 品番, 受入
						FROM 発注内示削除ワーク
						WHERE 作成端末 = SUBSTRING( HOST_NAME(), 1, 20 ) ) UP
			ON  UP.内示年月 = HN.内示年月
			AND UP.手配先 = HN.手配先
			AND UP.品番 = HN.品番
			AND UP.受入 = HN.受入
			WHERE CASE WHEN ISNULL( HN.更新端末, '' ) = '' THEN HN.作成端末 ELSE HN.更新端末 END = SUBSTRING( HOST_NAME(), 1, 20 )
-- ┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛[ 2005/03/08 Insert Start ]
			AND   HN.内示年月 = @TG_NJYM
-- ┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏[ 2005/03/08 Insert  End  ]
			AND   SUBSTRING( HN.納期, 1, 6 ) = @TG_NJYM
			GROUP BY HN.内示年月, HN.手配先, HN.品番, HN.受入,
					HT.変更日, HT.収容数1, HT.収容数2, HT.背番号, HT.か係数, HT.サイクル
    END

IF	@@ROWCOUNT = 0	BEGIN	SELECT	@RTN = 2	GOTO PROC_END	END

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *						回　　転　　枚　　数　　ワ　　ー　　ク　　作　　成
 *
 *::::::::::::::::::::::::::::::::::::::*		３テーブルを更新する為の基テーブル
 *	回 転 枚 数 ワ ー ク 削 除	*
 *::::::::::::::::::::::::::::::::::::::* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
DELETE	回転枚数ワーク	WHERE 作成端末 = SUBSTRING( HOST_NAME(), 1, 20 )

/*::::::::::::::::::::::::::::::::::::::*
 *	回 転 枚 数 ワ ー ク 作 成	*	( 更新区分 : 0/UPDATE, 1/INSERT )
 *::::::::::::::::::::::::::::::::::::::*/
INSERT INTO 回転枚数ワーク ( 年月, 仕入先, 品番, 受入, 背番号, 回転枚数, 稼動日数, 便数, 平準化区分, 平準化係数, 更新区分, 現回転枚数, 前月回転枚数, 作成端末 )

	SELECT	HS.内示年月, HS.手配先, HS.品番, HS.受入, HS.背番号,
		
		CEILING(

-- ┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛[ 2005.02.24 MNT START ]
--			CEILING( HS.数量 / HS.稼動日数 / CASE WHEN HS.収容数 = 0 THEN 1 ELSE HS.収容数 END )
			( HS.数量 / HS.稼動日数 / CASE WHEN HS.収容数 = 0 THEN 1 ELSE HS.収容数 END )
-- ┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏[ 2005.02.24 MNT  END  ]

			* 
			  ( (   HS.サイクルA * ( HS.サイクルC + 1 ) 
			      / CAST( CASE WHEN HS.サイクルB = 0 THEN 1 ELSE HS.サイクルB END AS DECIMAL( 4, 2 ) )
			    )
			    + HS.か係数
			  )
		       ),

		HS.稼動日数, HS.サイクルB, ISNULL( HT.平準化区分, 0 ), ISNULL( HT.平準化係数, 0 ),
		CASE WHEN KM.年月 IS NULL THEN 1 ELSE 0 END 更新区分,
		ISNULL( KM.回転枚数, 0 ) 現回転枚数,
		CASE WHEN KM.前月回転枚数 IS NULL THEN ISNULL( KZ.回転枚数, 0 ) ELSE KM.前月回転枚数 END,
		HS.作成端末
		FROM 発注内示集計ワーク HS
		LEFT OUTER JOIN 品番取引先マスタ HT
			ON  HT.品番 = HS.品番
			AND HT.取引先 = HS.手配先
			AND HT.受入 = HS.受入
		LEFT OUTER JOIN かんばん回転枚数テーブル KM
			ON  KM.年月 = HS.内示年月
			AND KM.仕入先 = HS.手配先
			AND KM.品番 = HS.品番
			AND KM.受入 = HS.受入
		LEFT OUTER JOIN かんばん回転枚数テーブル KZ
			ON  KZ.年月 = CONVERT( VARCHAR(6), DATEADD( M, -1, HS.内示年月 + '01' ), 112 )
			AND KZ.仕入先 = HS.手配先
			AND KZ.品番 = HS.品番
			AND KZ.受入 = HS.受入
		WHERE HS.作成端末 = SUBSTRING( HOST_NAME(), 1, 20 )
		AND   ISNULL( KM.回転枚数, 0 ) <> CEILING(

-- ┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛[ 2005.02.24 MNT START ]┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛
--								CEILING( HS.数量 / HS.稼動日数 / CASE WHEN HS.収容数 = 0 THEN 1 ELSE HS.収容数 END )
								( HS.数量 / HS.稼動日数 / CASE WHEN HS.収容数 = 0 THEN 1 ELSE HS.収容数 END )
-- ┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏[ 2005.02.24 MNT  END  ]┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏┏

								* 
								  ( (   HS.サイクルA * ( HS.サイクルC + 1 ) 
								      / CAST( CASE WHEN HS.サイクルB = 0 THEN 1 ELSE HS.サイクルB END AS DECIMAL( 4, 2 ) )
								    )
								    + HS.か係数
								  )
							       )

IF	@@ROWCOUNT = 0	BEGIN	SELECT	@RTN = 3	GOTO PROC_END	END

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *								か　ん　ば　ん　回　転　枚　数　テ　ー　ブ　ル　
 *::::::::::::::::::::::::::::::::::::::::::::::*
 *	かんばん回転枚数テーブル　  INSERT	*
 *::::::::::::::::::::::::::::::::::::::::::::::* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
INSERT INTO かんばん回転枚数テーブル
	( 年月, 仕入先, 品番, 受入, 背番号, 回転枚数, 前回回転枚数, 回転枚数差, 増発枚数, 抜取枚数, 増減区分, 前月回転枚数,
								平準化区分, 便上限枚数, 日上限枚数, 月上限枚数, 作成日, 作成者, 作成端末 )
	SELECT	年月, 仕入先, 品番, 受入, 背番号,
		回転枚数, 前月回転枚数 前回回転枚数,
		回転枚数 - 前月回転枚数 回転枚数差,
		CASE WHEN 回転枚数 > 前月回転枚数 THEN 回転枚数 - 前月回転枚数 ELSE 0 END 増発枚数,
		CASE WHEN 回転枚数 < 前月回転枚数 THEN 前月回転枚数 - 回転枚数 ELSE 0 END 抜取枚数,
		CASE WHEN 回転枚数 > 前月回転枚数 THEN 1 ELSE 0 END 増減区分,
		前月回転枚数, 平準化区分, 
		CASE WHEN 平準化区分 = 2 THEN CEILING( 回転枚数 / CAST( 便数 AS DECIMAL( 3,1 ) ) * ( 1 + 平準化係数 /100.0 ) )
												ELSE 0 END 便上限枚数,
		CASE WHEN 平準化区分 = 1 THEN CEILING( 回転枚数 * ( 1 + 平準化係数 /100.0 ) ) 	ELSE 0 END 日上限枚数,
		CASE WHEN 平準化区分 = 3 THEN CEILING( 回転枚数 * 稼動日数 * ( 1 + 平準化係数 /100.0 ) )
												ELSE 0 END 月上限枚数,
		GETDATE(), 'STORED', SUBSTRING( HOST_NAME(), 1, 20 )
		FROM 回転枚数ワーク
		WHERE 作成端末 = SUBSTRING( HOST_NAME(), 1, 20 )
		AND   更新区分 = 1

SELECT	@INSMCNT = @@ROWCOUNT

/*::::::::::::::::::::::::::::::::::::::::::::::*
 *	かんばん回転枚数テーブル　  UPDATE	*
 *::::::::::::::::::::::::::::::::::::::::::::::*/
UPDATE かんばん回転枚数テーブル SET
	回転枚数		= WK.回転枚数,
	前回回転枚数	= WK.現回転枚数,
	増発枚数		= CASE WHEN WK.回転枚数 > WK.前月回転枚数 THEN WK.回転枚数 - WK.前月回転枚数 ELSE 0 END,
	抜取枚数		= CASE WHEN WK.回転枚数 < WK.前月回転枚数 THEN WK.前月回転枚数 - WK.回転枚数 ELSE 0 END,
	増減区分		= CASE WHEN WK.回転枚数 > WK.前月回転枚数 THEN 1 ELSE 0 END,
	平準化区分	= WK.平準化区分,
/*
	増発枚数		= CASE WHEN WK.回転枚数 > WK.現回転枚数 THEN WK.回転枚数 - WK.現回転枚数 ELSE 0 END,
	抜取枚数		= CASE WHEN WK.回転枚数 < WK.現回転枚数 THEN WK.現回転枚数 - WK.回転枚数 ELSE 0 END,
	増減区分		= CASE WHEN WK.回転枚数 > WK.現回転枚数 THEN 1 ELSE 0 END,
*/
	便上限枚数	= CASE WHEN WK.平準化区分 = 2
				THEN CEILING( WK.回転枚数 / CAST( WK.便数 AS DECIMAL( 3,1 ) ) * ( 1 + WK.平準化係数 /100.0 ) )
				ELSE 0
			  END,
	日上限枚数	= CASE WHEN WK.平準化区分 = 1
				THEN CEILING( WK.回転枚数 * ( 1 + WK.平準化係数 /100.0 ) )
				ELSE 0
			  END,
	月上限枚数	= CASE WHEN WK.平準化区分 = 3
				THEN CEILING( WK.回転枚数 * WK.稼動日数 * ( 1 + WK.平準化係数 /100.0 ) )
				ELSE 0
			  END,
	作成日		= GETDATE(),
	作成者		= 'STORED',
	作成端末		= SUBSTRING( HOST_NAME(), 1, 20 )
	FROM 回転枚数ワーク WK
	WHERE かんばん回転枚数テーブル.年月 = WK.年月
	AND   かんばん回転枚数テーブル.仕入先 = WK.仕入先
	AND   かんばん回転枚数テーブル.品番 = WK.品番
	AND   WK.作成端末 = SUBSTRING( HOST_NAME(), 1, 20 )
	AND   WK.更新区分 = 0
	AND   かんばん回転枚数テーブル.回転枚数 <> WK.回転枚数

SELECT	@UPDMCNT = @@ROWCOUNT

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *							か ん ば ん 増 減 テ ー ブ ル デ ー タ 作 成
 *::::::::::::::::::::::::::::::*
 *	終　了　日　更　新	*
 *::::::::::::::::::::::::::::::* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
UPDATE	かんばん増減テーブル SET
	終了日		= CASE WHEN SUBSTRING( 開始日, 1, 6 ) < @TG_NJYM
				THEN CONVERT( VARCHAR(8), DATEADD( D, -1, @TG_NJYM + '01' ), 112 )
				ELSE @END_YMD
			  END,
	更新日		= GETDATE(),
	更新者		= 'STORED',
	更新端末		= SUBSTRING( HOST_NAME(), 1, 20 )
	FROM 回転枚数ワーク WK
	WHERE かんばん増減テーブル.取引先 = WK.仕入先
	AND   かんばん増減テーブル.受入 = WK.受入
	AND   かんばん増減テーブル.品番 = WK.品番
	AND   かんばん増減テーブル.終了日 = ''
	AND   かんばん増減テーブル.開始日 <= @TG_NJYM + '01'
/* ADD 2004.08.16 ST */
	AND   WK.作成端末 = SUBSTRING( HOST_NAME(), 1, 20 )
/* ADD 2004.08.16 ED */

/*::::::::::::::::::::::::::::::*
 *	同一期間データのみ更新	*
 *::::::::::::::::::::::::::::::*/
UPDATE	かんばん増減テーブル SET
	設定内容区分 = 0,
	増減区分 = CASE WHEN WK.回転枚数 > WK.前月回転枚数 THEN 1 ELSE 0 END,
	設定枚数 = WK.回転枚数 - WK.前月回転枚数,
	便当枚数 = 0,
/*
	増減区分 = CASE WHEN WK.回転枚数 > WK.現回転枚数 THEN 1 ELSE 0 END,
	設定枚数 = WK.回転枚数 - WK.現回転枚数,
*/
	更新日		= GETDATE(),
	更新者		= 'STORED',
	更新端末		= SUBSTRING( HOST_NAME(), 1, 20 )
	FROM 回転枚数ワーク WK
	WHERE かんばん増減テーブル.取引先 = WK.仕入先
	AND   かんばん増減テーブル.受入 = WK.受入
	AND   かんばん増減テーブル.品番 = WK.品番
	AND   かんばん増減テーブル.開始日 = @STR_YMD
	AND   かんばん増減テーブル.終了日 = @END_YMD
/* ADD 2004/05/17	*/
	AND   WK.回転枚数 <> WK.前月回転枚数
/* ADD 2004.08.16 ST */
	AND   WK.作成端末 = SUBSTRING( HOST_NAME(), 1, 20 )
/* ADD 2004.08.16 ED */

SELECT	@UPDZCNT = @@ROWCOUNT

/*::::::::::::::::::::::::::::::*
 *	期間外データのみ作成	*
 *::::::::::::::::::::::::::::::*/
INSERT	INTO かんばん増減テーブル
		( 取引先, 受入, 品番, 開始日, 終了日, 設定内容区分, 増減区分, 設定枚数, 便当枚数, 累積枚数, 完了日, 作成日, 作成者, 作成端末 )

	SELECT	WK.仕入先, WK.受入, WK.品番, @STR_YMD 開始日, @END_YMD 終了日, 0 設定内容区分,
		CASE WHEN WK.回転枚数 > WK.前月回転枚数 THEN 1 ELSE 0 END 増減区分,
		ABS( WK.回転枚数 - WK.前月回転枚数 ) 設定枚数,
/*
		CASE WHEN WK.回転枚数 > WK.現回転枚数 THEN 1 ELSE 0 END 増減区分,
		ABS( WK.回転枚数 - WK.現回転枚数 ) 設定枚数,
*/
		0 便当枚数, 0 累積枚数, '' 完了日,
		GETDATE(), 'STORED', SUBSTRING( HOST_NAME(), 1, 20 )
		FROM 回転枚数ワーク WK
		LEFT OUTER JOIN かんばん増減テーブル ZG
			ON  ZG.取引先 = WK.仕入先
			AND ZG.品番 = WK.品番
			AND ZG.受入 = WK.受入
			AND ISNULL( ZG.終了日, '9' ) >= @STR_YMD
			AND ISNULL( ZG.開始日, ''  ) <= @END_YMD
		WHERE ZG.品番 IS NULL
/* ADD 2004/05/17	*/
		AND   WK.回転枚数 <> WK.前月回転枚数
/* ADD 2004.08.16 ST */
		AND   WK.作成端末 = SUBSTRING( HOST_NAME(), 1, 20 )
/* ADD 2004.08.16 ED */

SELECT	@INSZCNT = @@ROWCOUNT

/*::::::::::::::::::::::::::::::*
 *	完　了　日　更　新	*
 *::::::::::::::::::::::::::::::*/
UPDATE	かんばん増減テーブル SET
	完了日	= @PROCYMD,
	更新日	= GETDATE(),
	更新者	= 'STORED',
	更新端末	= SUBSTRING( HOST_NAME(), 1, 20 )
	WHERE 完了日 = ''
	AND   設定枚数 <= 累積枚数

UPDATE	かんばん増減テーブル SET
	完了日 	= '',
	更新日	= GETDATE(),
	更新者	= 'STORED',
	更新端末	= SUBSTRING( HOST_NAME(), 1, 20 )
	WHERE 完了日 <> ''
	AND   設定枚数 > 累積枚数

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *							か ん ば ん 平　準　化 テ ー ブ ル デ ー タ 作 成
 *::::::::::::::::::::::::::::::*
 *	終　了　日　更　新	*
 *::::::::::::::::::::::::::::::* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
UPDATE	かんばん平準化テーブル SET
	終了日		= CASE WHEN SUBSTRING( 開始日, 1, 6 ) < @TG_NJYM
				THEN CONVERT( VARCHAR(8), DATEADD( D, -1, @TG_NJYM + '01' ), 112 )
				ELSE @END_YMD
			  END,
	更新日		= GETDATE(),
	更新者		= 'STORED',
	更新端末		= SUBSTRING( HOST_NAME(), 1, 20 )
	FROM 回転枚数ワーク WK
	WHERE かんばん平準化テーブル.取引先 = WK.仕入先
	AND   かんばん平準化テーブル.受入 = WK.受入
	AND   かんばん平準化テーブル.品番 = WK.品番
	AND   かんばん平準化テーブル.終了日 = ''
	AND   かんばん平準化テーブル.開始日 <= @TG_NJYM + '01'
	AND   WK.平準化区分 > 0
/* ADD 2004.08.16 ST */
	AND   WK.作成端末 = SUBSTRING( HOST_NAME(), 1, 20 )
/* ADD 2004.08.16 ED */

/*::::::::::::::::::::::::::::::*
 *	同一期間データのみ更新	*
 *::::::::::::::::::::::::::::::*/
UPDATE	かんばん平準化テーブル SET
	設定内容区分	= 0,
	平準化区分	= WK.平準化区分,
	便上限枚数	= CASE WHEN WK.平準化区分 = 2
				THEN CEILING( WK.回転枚数 / CAST( WK.便数 AS DECIMAL( 3,1 ) ) * ( 1 + WK.平準化係数 /100.0 ) )
				ELSE 0
			  END,
	日上限枚数	= CASE WHEN WK.平準化区分 = 1
				THEN CEILING( WK.回転枚数 * ( 1 + WK.平準化係数 /100.0 ) )
				ELSE 0
			  END,
	月上限枚数	= CASE WHEN WK.平準化区分 = 3
				THEN CEILING( WK.回転枚数 * WK.稼動日数 * ( 1 + WK.平準化係数 /100.0 ) )
				ELSE 0
			  END,
	更新日		= GETDATE(),
	更新者		= 'STORED',
	更新端末		= SUBSTRING( HOST_NAME(), 1, 20 )
	FROM 回転枚数ワーク WK
	WHERE かんばん平準化テーブル.取引先 = WK.仕入先
	AND   かんばん平準化テーブル.受入 = WK.受入
	AND   かんばん平準化テーブル.品番 = WK.品番
	AND   かんばん平準化テーブル.開始日 = @STR_YMD
	AND   かんばん平準化テーブル.終了日 = @END_YMD
	AND   WK.平準化区分 > 0
/* ADD 2004.08.16 ST */
	AND   WK.作成端末 = SUBSTRING( HOST_NAME(), 1, 20 )
/* ADD 2004.08.16 ED */

SELECT	@UPDHCNT = @@ROWCOUNT

/*::::::::::::::::::::::::::::::*
 *	期間外データのみ作成	*
 *::::::::::::::::::::::::::::::*/
INSERT	INTO かんばん平準化テーブル
		( 取引先, 受入, 品番, 開始日, 終了日, 設定内容区分, 平準化区分, 便上限枚数, 日上限枚数, 月上限枚数, 作成日, 作成者, 作成端末 )

	SELECT	WK.仕入先, WK.受入, WK.品番, @STR_YMD 開始日, @END_YMD 終了日,
		0 設定内容区分, WK.平準化区分,
		CASE WHEN WK.平準化区分 = 2
			THEN CEILING( WK.回転枚数 / CAST( WK.便数 AS DECIMAL( 3,1 ) ) * ( 1 + WK.平準化係数 /100.0 ) )
			ELSE 0
		END,
		CASE WHEN WK.平準化区分 = 1
			THEN CEILING( WK.回転枚数 * ( 1 + WK.平準化係数 /100.0 ) )
			ELSE 0
		END,
		CASE WHEN WK.平準化区分 = 3
			THEN CEILING( WK.回転枚数 * WK.稼動日数 * ( 1 + WK.平準化係数 /100.0 ) )
			ELSE 0
		END,
		GETDATE(), 'STORED', SUBSTRING( HOST_NAME(), 1, 20 )
		FROM 回転枚数ワーク WK
		LEFT OUTER JOIN かんばん平準化テーブル KH
			ON  KH.取引先 = WK.仕入先
			AND KH.品番 = WK.品番
			AND KH.受入 = WK.受入
			AND ISNULL( KH.終了日, '9' ) >= @STR_YMD
			AND ISNULL( KH.開始日, ''  ) <= @END_YMD
		WHERE KH.品番 IS NULL
		AND   WK.平準化区分 > 0
/* ADD 2004.08.16 ST */
		AND   WK.作成端末 = SUBSTRING( HOST_NAME(), 1, 20 )
/* ADD 2004.08.16 ED */

SELECT	@INSHCNT = @@ROWCOUNT

/*::::::::::::::::::::::::::::::::::::::::::::::*
 *	平準化設定更新エラーテーブル　削除		*
 *::::::::::::::::::::::::::::::::::::::::::::::*/
DELETE	平準化設定更新エラーテーブル	WHERE 作成端末 = SUBSTRING( HOST_NAME(), 1, 20 )

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *	平準化設定更新エラーテーブル　作成		[ 今回平準化データ出力 ( データ区分 = 0 ) ]		*
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
INSERT	INTO 平準化設定更新エラーテーブル
		( 取引先, 受入, 品番, 開始日, 終了日, データ区分, 設定内容区分, 平準化区分, 便上限枚数, 日上限枚数, 月上限枚数, 作成日, 作成端末 )

	SELECT	DISTINCT
		WK.仕入先, WK.受入, WK.品番, @STR_YMD 開始日, @END_YMD 終了日, 0 データ区分,
		0 設定内容区分, WK.平準化区分,
		CASE WHEN WK.平準化区分 = 2
			THEN CEILING( WK.回転枚数 / CAST( WK.便数 AS DECIMAL( 3,1 ) ) * ( 1 + WK.平準化係数 /100.0 ) )
			ELSE 0
		END,
		CASE WHEN WK.平準化区分 = 1
			THEN CEILING( WK.回転枚数 * ( 1 + WK.平準化係数 /100.0 ) )
			ELSE 0
		END,
		CASE WHEN WK.平準化区分 = 3
			THEN CEILING( WK.回転枚数 * WK.稼動日数 * ( 1 + WK.平準化係数 /100.0 ) )
			ELSE 0
		END,
		GETDATE(), SUBSTRING( HOST_NAME(), 1, 20 )
		FROM 回転枚数ワーク WK
		LEFT OUTER JOIN かんばん平準化テーブル KH
			ON  KH.取引先 = WK.仕入先
			AND KH.品番 = WK.品番
			AND KH.受入 = WK.受入
			AND ISNULL( KH.終了日, '9' ) >= @STR_YMD
			AND ISNULL( KH.開始日, ''  ) <= @END_YMD
		WHERE KH.品番 IS NOT NULL
		AND   WK.平準化区分 > 0
		AND   NOT( KH.開始日 = @STR_YMD AND KH.終了日 = @END_YMD )
/* ADD 2004.08.16 ST */
		AND   WK.作成端末 = SUBSTRING( HOST_NAME(), 1, 20 )
/* ADD 2004.08.16 ED */

SELECT	@ERRHCNT = @@ROWCOUNT

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *	平準化設定更新エラーテーブル　作成		[ 既存平準化データ出力 ( データ区分 = 1 ) ]		*
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
IF	@ERRHCNT <> 0
    BEGIN
	INSERT	INTO 平準化設定更新エラーテーブル
			( 取引先, 受入, 品番, 開始日, 終了日, データ区分, 設定内容区分, 平準化区分, 便上限枚数, 日上限枚数, 月上限枚数, 作成日, 作成端末 )
	
		SELECT	KH.取引先, KH.受入, KH.品番, KH.開始日, KH.終了日, 1 データ区分,
			KH.設定内容区分, KH.平準化区分, KH.便上限枚数, KH.日上限枚数, KH.月上限枚数,
			GETDATE(), SUBSTRING( HOST_NAME(), 1, 20 )
			FROM 回転枚数ワーク WK
			LEFT OUTER JOIN かんばん平準化テーブル KH
				ON  KH.取引先 = WK.仕入先
				AND KH.品番 = WK.品番
				AND KH.受入 = WK.受入
				AND ISNULL( KH.終了日, '9' ) >= @STR_YMD
				AND ISNULL( KH.開始日, ''  ) <= @END_YMD
			WHERE KH.品番 IS NOT NULL
			AND   WK.平準化区分 > 0
			AND   NOT( KH.開始日 = @STR_YMD AND KH.終了日 = @END_YMD )
/* ADD 2004.08.16 ST */
			AND   WK.作成端末 = SUBSTRING( HOST_NAME(), 1, 20 )
/* ADD 2004.08.16 ED */
    END

IF	@RTN = 9	BEGIN	SELECT	@RTN = 0	END

/*::::::::::::::::::::::*
 *	終 了 処 理	*4670863
 *::::::::::::::::::::::*/
PROC_END:
	RETURN ( @RTN )



GO
