USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[展開用ワーク作成]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [dbo].[展開用ワーク作成] AS

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[発注内示必要数結果テーブル]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
   BEGIN
	DROP TABLE [dbo].[発注内示必要数結果テーブル]
   END

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[発注内示結果テーブル]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
   BEGIN
	DROP TABLE [dbo].[発注内示結果テーブル]
   END

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[構成展開ワーク]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
   BEGIN
	DROP TABLE [dbo].[構成展開ワーク]
   END

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[生産計画集計ワーク]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
   BEGIN
	DROP TABLE [dbo].[生産計画集計ワーク]
   END

CREATE TABLE [dbo].[発注内示必要数結果テーブル] (
	[内示年月] [VARCHAR] (6) COLLATE JAPANESE_CI_AS NOT NULL ,
	[品番] [VARCHAR] (25) COLLATE JAPANESE_CI_AS NOT NULL ,
	[手配先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[受入] [VARCHAR] (2) COLLATE JAPANESE_CI_AS NOT NULL ,
	[直送先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[納期] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NOT NULL ,
	[数量] [INT] NULL ,
	[ローレベル] [TINYINT] NULL ,
	[計画年月] [VARCHAR] (6) COLLATE JAPANESE_CI_AS NULL ,
	[作成者] [VARCHAR] (15) COLLATE JAPANESE_CI_AS NULL ,
	[作成日] [DATETIME] NULL ,
	[作成端末] [VARCHAR] (20) COLLATE JAPANESE_CI_AS NULL 
) ON [PRIMARY]


CREATE TABLE [dbo].[発注内示結果テーブル] (
	[内示年月] [VARCHAR] (6) COLLATE JAPANESE_CI_AS NOT NULL ,
	[品番] [VARCHAR] (25) COLLATE JAPANESE_CI_AS NOT NULL ,
	[手配先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[受入] [VARCHAR] (2) COLLATE JAPANESE_CI_AS NOT NULL ,
	[直送先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[納期] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NOT NULL ,
	[仕掛日] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NULL ,
	[手配日] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NULL ,
	[数量] [INT] NULL ,
	[処理区分] [TINYINT] NULL ,
	[削除区分] [TINYINT] NULL ,
	[変更回数] [TINYINT] NULL ,
	[ローレベル] [TINYINT] NULL ,
	[計画年月] [VARCHAR] (6) COLLATE JAPANESE_CI_AS NULL ,
	[作成者] [VARCHAR] (15) COLLATE JAPANESE_CI_AS NULL ,
	[作成日] [DATETIME] NULL ,
	[作成端末] [VARCHAR] (20) COLLATE JAPANESE_CI_AS NULL ,
	[更新者] [VARCHAR] (15) COLLATE JAPANESE_CI_AS NULL ,
	[更新日] [DATETIME] NULL ,
	[更新端末] [VARCHAR] (20) COLLATE JAPANESE_CI_AS NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[構成展開ワーク] (
	[品番] [VARCHAR] (25) COLLATE JAPANESE_CI_AS NOT NULL ,
	[親手配先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[納期] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NOT NULL ,
	[数量] [DECIMAL](11, 4) NULL ,
	[展開レベル] [TINYINT] NULL ,
	[ローレベル] [TINYINT] NULL ,
	[引当後数量] [DECIMAL](11, 4) NULL ,
	[在庫管理区分] [TINYINT] NULL ,
	[在庫管理数値] [DECIMAL](8, 2) NULL ,
	[展開区分] [TINYINT] NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[生産計画集計ワーク] (
	[内示年月] [VARCHAR] (6) COLLATE JAPANESE_CI_AS NOT NULL ,
	[品番] [VARCHAR] (25) COLLATE JAPANESE_CI_AS NOT NULL ,
	[手配先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[受入] [VARCHAR] (2) COLLATE JAPANESE_CI_AS NOT NULL ,
	[納期] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NOT NULL ,
	[仕掛日] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NOT NULL ,
	[手配日] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NOT NULL ,
	[数量] [INT] NULL 
) ON [PRIMARY]

ALTER TABLE [dbo].[発注内示必要数結果テーブル] ADD 
	CONSTRAINT [PK_発注内示必要数結果テーブル] PRIMARY KEY  NONCLUSTERED 
	(
		[内示年月],
		[品番],
		[手配先],
		[受入],
		[直送先],
		[納期]
	) WITH  FILLFACTOR = 90  ON [PRIMARY] 

ALTER TABLE [dbo].[発注内示結果テーブル] ADD 
	CONSTRAINT [PK_発注内示結果テーブル] PRIMARY KEY  NONCLUSTERED 
	(
		[内示年月],
		[品番],
		[手配先],
		[受入],
		[直送先],
		[納期]
	) WITH  FILLFACTOR = 90  ON [PRIMARY] 

ALTER TABLE [dbo].[生産計画集計ワーク] WITH NOCHECK ADD 
	CONSTRAINT [PK_生産計画集計ワーク] PRIMARY KEY  CLUSTERED 
	(
		[内示年月],
		[品番],
		[手配先],
		[受入],
		[納期],
		[仕掛日],
		[手配日]
	) WITH  FILLFACTOR = 60  ON [PRIMARY] 

 CREATE  INDEX [IX_発注内示結果テーブル] ON [dbo].[発注内示結果テーブル]([内示年月], [計画年月], [品番], [手配先], [受入], [直送先], [納期]) WITH  FILLFACTOR = 90 ON [PRIMARY]

 CREATE  INDEX [IX_発注内示結果テーブル_展開] ON [dbo].[発注内示結果テーブル]([ローレベル], [内示年月], [品番]) WITH  FILLFACTOR = 90 ON [PRIMARY]

 CREATE  INDEX [IX_構成展開ワーク] ON [dbo].[構成展開ワーク]([納期], [品番], [親手配先]) WITH  FILLFACTOR = 60 ON [PRIMARY]

 CREATE  INDEX [IX_構成展開ワーク_1] ON [dbo].[構成展開ワーク]([在庫管理区分], [納期], [品番]) WITH  FILLFACTOR = 60 ON [PRIMARY]

 CREATE  INDEX [IX_構成展開ワーク_2] ON [dbo].[構成展開ワーク]([展開レベル], [品番]) WITH  FILLFACTOR = 60 ON [PRIMARY]

EXEC	展開確定用ワーク作成




GO
