USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[材料内示発注確定処理]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[材料内示発注確定処理] (@NJYM VARCHAR(6),@INCNT INT OUTPUT,@UPDCNT INT OUTPUT,@PR3CNT INT OUTPUT,
						@PR4CNT INT OUTPUT,@PRDCNT INT OUTPUT,@ERR TINYINT OUTPUT)AS
---------------------------------------------------------------------------
-- 	材料内示発注　確定処理
--
--	処理内容　：	1.打切チェックを行い、
--			  ①警告対象であれば、かんばん読取エラーテーブルに出力する（3:警告リスト）
--			  ②今回打切完了であれば、かんばん読取エラーテーブルに出力する（4:打切リスト）
--			  ③既に打切完了済であれば、かんばん読取エラーテーブルに出力する（13:打切完了済リスト）
--			2.残数打切対象であれば、材料発注打切テーブルの発注数・設定残数を更新する
--			3.打切チェック結果を材料発注画面入力ワークに更新する。
--
--	パラメタ　：(OUTPUT)	@INCNT    …	入力件数
--				@UPDCNT …	材料発注打切テーブル更新件数
--				@PR3CNT …	発注打切警告リスト件数
--				@PR4CNT …	発注打切リスト件数
--				@PRDCNT …	発注打切完了済リスト件数
--				@ERR	    …	エラーコード
--
--	UPDATE	:	2004/08/19	0除算修正
--
---------------------------------------------------------------------------
--DECLARE @NJYM VARCHAR(6),@INCNT INT,@UPDCNT INT,@PR3CNT INT,@PR4CNT INT,@PRDCNT INT,@ERR TINYINT

SET NOCOUNT ON
--SELECT @NJYM = '200401'

SELECT @ERR = 0
---------------------------------------------------------------------------
-- 	処理前データ削除 (発注打切警告リスト・発注打切リスト）
---------------------------------------------------------------------------
--	材料かんばん読取エラーテーブル    --
DELETE FROM 材料かんばん読取エラーテーブル
WHERE 材料かんばん読取エラーテーブル.エラー管理番号  = ( SELECT 管理No FROM 帳票出力テーブル
   							         WHERE 端末番号 = HOST_NAME()
							             AND 帳票区分 IN (23,24,33)
                  							GROUP BY 管理No )
  AND 材料かんばん読取エラーテーブル.エラー種類 IN (23,24,33)
IF @@ERROR <> 0 	BEGIN 	SELECT @ERR = 1 	GOTO PROC_ERR 	END
--	帳票出力テーブル   発注警告リスト   --
DELETE FROM 帳票出力テーブル
 WHERE 端末番号 = Host_Name()
     AND 帳票区分 IN (23,24,33)
IF @@ERROR <> 0 	BEGIN 	SELECT @ERR = 2 	GOTO PROC_ERR 	END

-----------------------------
--<<　 トランザクション開始         >>--
-----------------------------
BEGIN TRANSACTION HGTRAN
-- ------------------------------------------
--      材料発注画面入力ワークカーソル定義		
-- ------------------------------------------
DECLARE HGCUR SCROLL CURSOR
FOR

	SELECT  HG.発注区分,HG.仕入先,HG.受入,HG.納入日,
		HT.材質,HT.板厚,HT.幅,HT.長さ,HT.材料管理番号,HT.背番号,HT.SK区分,
			CASE WHEN ISNULL(HT.変更日,'') <> '' AND HG.納入日 >=  HT.変更日 THEN HT.収容数2
				ELSE HT.収容数1 END 収容数,
			HG.発注数,HT.手配区分
	 FROM 材料発注画面入力ワーク HG
	LEFT OUTER JOIN 材料取引先マスタ HT
		ON  HT.材料管理番号 = HG.材料管理番号
		AND HT.取引先 = HG.仕入先
		AND HT.受入 = HG.受入

	WHERE 処理端末 = HOST_NAME()
	    AND 作成種別 = 'N'
	    AND 処理区分 = 0
	ORDER BY HT.材質,HT.板厚,HT.幅,HT.長さ,HG.納入日,HG.仕入先

FOR READ ONLY
OPEN HGCUR

--  ｶｰｿﾙ項目定義 --
DECLARE @HCKBN TINYINT,@TORCD VARCHAR(7),@UKEIR VARCHAR(2),@NYMD VARCHAR(8)
DECLARE @ZAI VARCHAR(25),@ITA DECIMAL(6,2),@HABA DECIMAL(6,2),@NAGASA DECIMAL(6,2)
DECLARE @ZAIRNO INT,@SEBAN VARCHAR(8),@SKKBN TINYINT
DECLARE @SYUYO DECIMAL(9,3),@HSURYO DECIMAL(11,3),@TEHAI VARCHAR(1)
--  ワーク項目定義  --
--DECLARE @NBIN VARCHAR(2)
DECLARE @MAISU INT,@HASU DECIMAL(9,3)
DECLARE @RESULT VARCHAR(1) ,@USYU TINYINT,@UZANSU DECIMAL(11,3),@UYMD VARCHAR(8),@KEIKB TINYINT,@UHASU DECIMAL(9,3)
DECLARE @PRTKB TINYINT,@ERRKNO INT,@RTN TINYINT,@PRTC3 TINYINT,@PRTC4 TINYINT,@PRTCD TINYINT
DECLARE @WSYUYO BIGINT,@WHSURYO BIGINT
--  納入番号　採番キー初期化  --
--  ワーク初期化  --
SELECT @INCNT = 0,@UPDCNT = 0,@PR3CNT = 0,@PR4CNT = 0,@PRDCNT = 0
SELECT @ERRKNO = 0,@RTN = 0,@PRTC3 =0,@PRTC4 = 0,@PRTCD = 0
------------------------------------------------------------------------------------
--   材料発注画面入力ワーク  読込		
------------------------------------------------------------------------------------
FETCH NEXT FROM HGCUR INTO
		@HCKBN ,@TORCD ,@UKEIR ,@NYMD ,@ZAI ,@ITA ,@HABA ,@NAGASA ,
		@ZAIRNO ,@SEBAN ,@SKKBN ,@SYUYO ,@HSURYO ,@TEHAI
WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @INCNT = @INCNT + 1
	SELECT @PRTKB = 0

	-------------------------------------
	--　打切チェック
	-------------------------------------
	SELECT @RESULT = '',@USYU = 0,@UZANSU = 0,@UYMD = '',@KEIKB = 0,@UHASU = 0
	EXEC 材料発注打切チェック @TORCD ,@ZAIRNO ,@NYMD ,'00' ,@HSURYO ,
				@RESULT OUTPUT,@USYU OUTPUT,@UZANSU OUTPUT,@UYMD OUTPUT,@KEIKB OUTPUT,@UHASU OUTPUT
	-- @USYU = 9 設定無し

	-------------------------------------
	--　打切種別　= 残数　の時
	-------------------------------------
	IF @USYU = 0
	    BEGIN
		IF @RESULT = 'K'
		    BEGIN
			-- 完了　材料発注打切テーブル　更新(発注数・設定残数・完了日・完了便）
			IF @UZANSU = 0
			    BEGIN
				UPDATE 材料発注打切テーブル SET
				    発注数 = 発注数 + CASE WHEN @UHASU = 0 THEN @HSURYO ELSE @UHASU END,
				    設定残数 = 設定残数 - CASE WHEN @UHASU = 0 THEN @HSURYO ELSE @UHASU END,
				    完了日 = @NYMD,
				    完了便 = '',
				    更新日 = GETDATE(),
				    更新端末 = HOST_NAME()
				WHERE 打切種別 = @USYU
				  AND 材料管理番号 = @ZAIRNO
				IF @@ERROR <> 0 	BEGIN 	SELECT @ERR = 3 	GOTO PROC_ERR 	END
				SELECT @UPDCNT = @UPDCNT + 1
			    END
		/*かんばん無し、指示のみ
			-- 完了時端数のある時　材料発注画面入力ワーク　更新（端数区分）
			IF @HASU <> 0 AND @SKKBN = 0
			    BEGIN
				UPDATE 材料発注画面入力ワーク SET
				    端数区分 = 1
				WHERE 処理端末 = HOST_NAME()
				  AND 発注区分 = @HCKBN
				  AND 仕入先 = @TORCD
				  AND 受入 = @UKEIR
				  AND 納入日 = @NYMD
				  AND 納入便 = @NBIN
				  AND 材料管理番号 = @ZAIRNO
				IF @@ERROR <> 0 	BEGIN SELECT @RTN = 4 	GOTO PROC_ERR	 END
			    END
		*/
			-- 完了時　かんばん読取テーブル　出力（打切リスト印刷用）
			SELECT @PRTKB = 24
		    END
		IF @RESULT = ''
		    BEGIN
			-- 残数設定有りで未完了の時、材料発注打切テーブル　更新(発注数・設定残数）
			UPDATE 材料発注打切テーブル SET
			    発注数 = 発注数 + @HSURYO,
			    設定残数 = 設定残数 - @HSURYO,
			    更新日 = GETDATE(),
			    更新端末 = HOST_NAME()
			WHERE 打切種別 = @USYU
			  AND 材料管理番号 = @ZAIRNO
			IF @@ERROR <> 0 	BEGIN 	SELECT @ERR = 5 	GOTO PROC_ERR 	END
			SELECT @UPDCNT = @UPDCNT + 1

			IF @UZANSU <= (SELECT 警告数 FROM 材料発注打切テーブル
								WHERE 打切種別 = @USYU
								  AND 材料管理番号 = @ZAIRNO)
			    BEGIN
				SELECT @PRTKB = 23
			    END		
		    END
	    END
	---------------------------------------------------------------
	--	 完了済み時　かんばん読取テーブル　出力（打切完了済リスト印刷用）
	---------------------------------------------------------------
	IF @RESULT = 'Z'
	    BEGIN
		SELECT @PRTKB = 33
	    END
	-------------------------------------
	--　打切種別　<> 残数　の時
	-------------------------------------
	IF @USYU IN (1,2, 3) AND @KEIKB = 1
	    BEGIN
		SELECT @PRTKB = 23
	    END
	-------------------------------------
	--  枚数・端数を求める
	-------------------------------------
	SELECT @MAISU = 0,@HASU = 0
	SELECT @WSYUYO = @SYUYO * 1000 
	SELECT @WHSURYO = @HSURYO * 1000

/* ( 2004.08.19 ) MNT START */
/*
	SELECT @MAISU = @WHSURYO / @WSYUYO
	IF @WHSURYO % @WSYUYO <> 0
	    BEGIN
		SELECT @MAISU = @MAISU + 1
		SELECT @HASU = CONVERT(DECIMAL(15,3),@WHSURYO % @WSYUYO) / 1000
	    END
*/

	IF	@SYUYO = 0
	    BEGIN
		SELECT @MAISU = 1
	    END
	ELSE
	    BEGIN
		SELECT @MAISU = @WHSURYO / @WSYUYO
		IF @WHSURYO % @WSYUYO <> 0
		    BEGIN
			SELECT @MAISU = @MAISU + 1
			SELECT @HASU = CONVERT(DECIMAL(15,3),@WHSURYO % @WSYUYO) / 1000
		    END
	    END
	
/* ( 2004.08.19 ) MNT END   */

------------------------------------------------------------
-- 	発注打切警告リスト・発注打切リスト　発行用データ作成
------------------------------------------------------------
	IF @PRTKB <> 0
	    BEGIN
		--<< エラー管理番号　獲得  >>--
		IF @ERRKNO = 0
		    BEGIN
			EXEC 番号獲得 23,@ERRKNO OUTPUT,@RTN OUTPUT
			IF @RTN <> 0 BEGIN 	GOTO PROC_ERR	END
		    END
		--<< 帳票出力テーブル　出力 >>--
		IF @PRTKB = 23 AND @PRTC3 = 0
		    BEGIN
			INSERT INTO 帳票出力テーブル
				(端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日) VALUES (
				HOST_NAME(),@PRTKB,'','',@ERRKNO,0,0,0,GETDATE())
			IF @@ERROR <> 0 	BEGIN 	SELECT @ERR = 6 	GOTO PROC_ERR 	END
			SELECT @PRTC3 = 1
		    END
		IF @PRTKB = 24 AND @PRTC4 = 0
		    BEGIN
			INSERT INTO 帳票出力テーブル
				(端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日) VALUES (
				HOST_NAME(),@PRTKB,'','',@ERRKNO,0,0,0,GETDATE())
			IF @@ERROR <> 0 	BEGIN 	SELECT @ERR = 7 	GOTO PROC_ERR 	END
			SELECT @PRTC4 = 1
		    END
		IF @PRTKB = 33 AND @PRTCD = 0
		    BEGIN
			INSERT INTO 帳票出力テーブル
				(端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日) VALUES (
				HOST_NAME(),@PRTKB,'','',@ERRKNO,0,0,0,GETDATE())
			IF @@ERROR <> 0 	BEGIN 	SELECT @ERR = 8 	GOTO PROC_ERR 	END
		
			SELECT @PRTCD = 1
		    END

		--<< 材料かんばん読取エラーテーブル　出力 >>--
		IF (SELECT COUNT(材料管理番号) FROM 材料かんばん読取エラーテーブル
			WHERE エラー管理番号 = @ERRKNO
			    AND エラー種類 = @PRTKB
			    AND 材料管理番号 = @ZAIRNO
			    AND 取引先 = @TORCD
			    AND 受入 = @UKEIR
			    AND 発行NO = CASE WHEN @PRTKB = 33 THEN CONVERT(TINYINT,SUBSTRING(@NYMD,7,2)) ELSE 0 END
			    AND 収容数 = @SYUYO) = 0
		    BEGIN
			INSERT INTO 材料かんばん読取エラーテーブル
				(エラー管理番号,エラー種類,材料管理番号,取引先,受入,発行NO,収容数,材質,板厚,幅,長さ,背番号,
				手配区分,サイクル,エラー要因,平準化区分,平準化設定枚数,平準化超過枚数,
				打切種別,打切区分,完了区分,起算日,起算便,完了日,完了便,打切日,打切設定数,警告数,警告日,
				発注済数,今回発注数,設定残数,今回発注枚数,今回発注端数,打切エラー枚数,作成日,作成端末)
			SELECT @ERRKNO,@PRTKB,@ZAIRNO,@TORCD,@UKEIR,CONVERT(TINYINT,SUBSTRING(@NYMD,7,2)),
				@SYUYO,@ZAI,@ITA,@HABA,@NAGASA,@SEBAN,@TEHAI,'',0,0,0,0,@USYU,
				CASE WHEN @USYU = 0 AND @HASU <> 0 THEN 9 ELSE 0 END,0,
				起算日,起算便,完了日,完了便,打切日,設定数,警告数,警告日,
				発注数,@HSURYO,設定残数,@MAISU,@HASU,0,GETDATE(),HOST_NAME()
			  FROM 材料発注打切テーブル
			  WHERE 打切種別 = @USYU
			      AND 材料管理番号 = CASE WHEN @USYU <> 3 THEN @ZAIRNO ELSE '' END
			      AND 仕入先 = CASE WHEN @USYU = 2 OR @USYU = 3 THEN @TORCD ELSE '' END
			IF @@ERROR <> 0 	BEGIN 	SELECT @ERR = 9 	GOTO PROC_ERR 	END


			UPDATE 材料かんばん読取エラーテーブル SET
			    今回発注数 = @HSURYO
			WHERE エラー管理番号 = @ERRKNO
			    AND エラー種類 = @PRTKB
			    AND 材料管理番号 = @ZAIRNO
			    AND 取引先 = @TORCD
			    AND 受入 = @UKEIR
			    AND 発行NO = CASE WHEN @PRTKB = 33 THEN CONVERT(TINYINT,SUBSTRING(@NYMD,7,2)) ELSE 0 END
			    AND 収容数 = @SYUYO
			IF @@ERROR <> 0 	BEGIN 	SELECT @ERR = 10 	GOTO PROC_ERR 	END

			IF @USYU = 0
			    BEGIN
				UPDATE 材料かんばん読取エラーテーブル SET
				    発注済数 = HU.発注数
				FROM 材料かんばん読取エラーテーブル KE
				LEFT OUTER JOIN 材料発注打切テーブル HU
					ON HU.打切種別 = 0
					AND HU.材料管理番号 = @ZAIRNO
					AND HU.仕入先 = ''
				WHERE KE.エラー管理番号 = @ERRKNO
				    AND KE.エラー種類 = @PRTKB
				    AND KE.材料管理番号 = @ZAIRNO
				    AND KE.取引先 = @TORCD
				    AND KE.受入 = @UKEIR
				    AND KE.発行NO = CASE WHEN @PRTKB = 33 THEN CONVERT(TINYINT,SUBSTRING(@NYMD,7,2)) ELSE 0 END
				    AND KE.収容数 = @SYUYO
				IF @@ERROR <> 0 	BEGIN 	SELECT @ERR = 11 	GOTO PROC_ERR 	END

			    END


		    END

		IF @PRTKB = 23
		    BEGIN
			SELECT @PR3CNT = @PR3CNT + 1
		    END
		IF @PRTKB = 24
		    BEGIN
			SELECT @PR4CNT = @PR4CNT + 1
		    END
		IF @PRTKB = 33
		    BEGIN
			SELECT @PRDCNT = @PRDCNT + 1
		    END

	    END

	IF @RESULT <> 'Z'
	    BEGIN
	------------------------------------------------------------
	--  材料発注画面入力ワーク　処理済更新
	----------------------------------------------------------
		UPDATE 材料発注画面入力ワーク SET
		    発注日 = CONVERT(VARCHAR(8),GETDATE(),112),
		    材質 = HT.材質,
		    板厚 = HT.板厚,
		    長さ = HT.長さ,
		    幅 = HT.幅,
		    背番号 = HT.背番号,
		    手配区分 = HT.手配区分,
		    サイクル = HT.サイクル,
		    契約先 = HT.契約先,
		    SK区分 = HT.SK区分,
		    収容数 = @SYUYO,
		    枚数 = @MAISU,
		    端数 = @HASU,
		    発注数 = @HSURYO,
		    打切区分 = CASE WHEN @PRTKB = 23 THEN 1
					WHEN @PRTKB = 24 THEN 9 
					WHEN @PRTKB = 33 THEN 33 ELSE 0 END,
		    打切種別 = CASE WHEN @USYU <> 9 THEN @USYU ELSE 0 END,
		    打切残数 = CASE WHEN @USYU = 0 AND @KEIKB = 1 THEN @UZANSU ELSE 0 END,
		    打切日 = CASE WHEN @USYU IN (1,2, 3) AND @PRTKB <> 0 THEN @UYMD ELSE '' END,
		    処理区分 = 1
		FROM 材料発注画面入力ワーク HG
		LEFT OUTER JOIN 材料取引先マスタ HT
			ON  HT.材料管理番号 = HG.材料管理番号
			AND HT.取引先 = HG.仕入先
			AND HT.受入 = HG.受入
		WHERE HG.処理端末 = HOST_NAME()
		  AND HG.発注区分 = @HCKBN
		  AND HG.仕入先 = @TORCD
		  AND HG.受入 = @UKEIR
		  AND HG.納入日 = @NYMD
		  AND HG.納入便 = ''
		  AND HG.材料管理番号 = @ZAIRNO
--		  AND 背番号 = @SEBAN
		IF @@ERROR <> 0 	BEGIN SELECT @RTN = 12 	GOTO PROC_ERR	 END

		IF (SELECT COUNT(品番) FROM 内示発注チェックテーブル
			 WHERE 区分 = 1
			     AND 発注年月 = @NJYM
			     AND 手配先 = @TORCD
			     AND 受入 = @UKEIR
			     AND 材料管理番号 = @ZAIRNO ) = 0
		    BEGIN
			INSERT INTO 内示発注チェックテーブル (区分,発注年月,手配先,受入,品番,材料管理番号,発注処理日) VALUES 
				(1,@NJYM,@TORCD,@UKEIR,'',@ZAIRNO,CONVERT(VARCHAR(8),GETDATE(),112))
			IF @@ERROR <> 0 	BEGIN SELECT @RTN = 13 	GOTO PROC_ERR	 END
		    END
	    END
	ELSE
	    BEGIN
		DELETE FROM 材料発注画面入力ワーク
		WHERE 処理端末 = HOST_NAME()
		  AND 発注区分 = @HCKBN
		  AND 仕入先 = @TORCD
		  AND 受入 = @UKEIR
		  AND 納入日 = @NYMD
		  AND 納入便 = ''
		  AND 材料管理番号 = @ZAIRNO
		IF @@ERROR <> 0 	BEGIN SELECT @RTN = 14 	GOTO PROC_ERR	 END
	    END	
-- ----------------------------------------------------------
--   材料発注画面入力ワークカーソルスクロール(次レコード）		
-- ----------------------------------------------------------
	FETCH NEXT FROM HGCUR INTO
		@HCKBN ,@TORCD ,@UKEIR ,@NYMD ,@ZAI ,@ITA ,@HABA ,@NAGASA ,
		@ZAIRNO ,@SEBAN ,@SKKBN ,@SYUYO ,@HSURYO ,@TEHAI
END

CLOSE HGCUR
DEALLOCATE HGCUR

PROC_END:
--SELECT @INCNT,@UPDCNT,@PR3CNT,@PR4CNT,@PRDCNT

----------------------------
--<<　トランザクション終了        >>--
----------------------------
COMMIT TRANSACTION HGTRAN

RETURN(0)
--RETURN
PROC_ERR:
IF @RTN <> 0 BEGIN SELECT @ERR = @RTN + 50 END
--SELECT @ERR

RETURN




GO
