USE [SIMTOKIDB]
GO
/****** Object:  UserDefinedFunction [dbo].[Split]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Split](
    @target_str AS VARCHAR (MAX)       --分割対象の文字列
    , @separator AS VARCHAR (1)        --分割する文字
)

RETURNS @out_table TABLE (
    Id INT IDENTITY (1, 1)             --テーブル挿入インデックス（自動で連番を振る）
    , Data VARCHAR (MAX)               --分割後の文字列
) AS

BEGIN

---------------------------------------------
--文字列分割（Split）関数
--  使い方：  SELECT * FROM dbo.Split( 'aaa,bbb,ccc,ddd,eee', ',')
---------------------------------------------

    DECLARE @start_pos INT = 1
    DECLARE @end_pos INT = CHARINDEX(@separator, @target_str)
    DECLARE @str_len INT = LEN(@target_str)

    ---------------------------------------------
    --指定された文字列が空の場合は処理を行わない
    ---------------------------------------------
    IF @target_str = '' OR @target_str IS NULL BEGIN RETURN END

    --------------------------------------------------------------
    --文字列内の最後の分割する文字まで分割文字を検索して分割する
    --------------------------------------------------------------
    WHILE @end_pos > 0
    BEGIN
        INSERT INTO @out_table(Data)
        VALUES (
            SUBSTRING(@target_str, @start_pos, @end_pos - @start_pos)
        )
        SET @start_pos = @end_pos + 1
        SET @end_pos = CHARINDEX(@separator, @target_str, @start_pos)
    END
    ---------------------------------------------
    --最後の１つが残るのでここで追加する
    ---------------------------------------------
    INSERT INTO @out_table(Data)
    VALUES (
        SUBSTRING(@target_str, @start_pos, @str_len + 1 - @start_pos)
    )

    ---------------------------------------------
    --処理終了
    ---------------------------------------------
    RETURN

END
GO
