USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[支給単価決定]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE    PROCEDURE [dbo].[支給単価決定] (@HINBN VARCHAR(25),@TORCD VARCHAR(7),@DATE VARCHAR(8),
				@TANK DECIMAL(9,2) OUTPUT,@TKBN VARCHAR(1) OUTPUT,@UMUKB TINYINT OUTPUT,
				@TSYMD VARCHAR(8) OUTPUT,@RNO INT OUTPUT ) AS
------------------------------------------------------------------------------------------------
--	支給単価決定
--
--	支給単価を求める
--
--	Create Date  :  2004/11/25
--	Update Date  :
--					
--	ﾊﾟﾗﾒﾀ	  : 	
--			@HINBN   VARCHAR(18)	-- 品番
--			@TORCD VARCHAR(7)	-- 取引先
--			@DATE    VARCHAR(8)	-- 単価決定日付
--							
--	Return	  :  ( 単価 )
--		  : 	@TANK	 DECIMAL(9,2)	･･･	決定単価
--		  : 	@TKBN	 VARCHAR(1)	･･･	仮区分  '':正式単価
--								'1':仮単価
--								'9':単価未決
--		  : 	@TSYMD	 VARCHAR(8)	･･･	適用開始年月日(決定単価)
--							(単価未決時は最終の適用終了年月)			
--		  :       @RNO		INT		･･･	履歴NO    	 	
------------------------------------------------------------------------------------------------
SET NOCOUNT ON

-- Test
/*
DECLARE @HINBN   VARCHAR(25)
DECLARE @TORCD   VARCHAR(7)
DECLARE @DATE     VARCHAR(8)
DECLARE @KDATE   VARCHAR(8)
DECLARE @TANK    DECIMAL(9,2)
DECLARE @TKBN    VARCHAR(1)
DECLARE @UMUKB  TINYINT
DECLARE @TSYMD  VARCHAR(8)
DECLARE @RNO      INT

SELECT @HINBN = '742314706000'
SELECT @TORCD = '71954'
SELECT @DATE = '20040318'
*/
-- Test End

-- 単価を求める
SELECT @TANK = NULL
SELECT @TSYMD = NULL
SELECT @RNO = 0
SELECT @TANK = 単価 ,@TKBN = 仮単価区分,@TSYMD = 適用開始日付,@RNO = 履歴NO,@UMUKB = 有無償区分
 FROM 支給単価マスタ
 WHERE 品番 = @HINBN
  AND 取引先 = @TORCD
  AND 仮単価区分 = ''
  AND 適用開始日付 <= @DATE 
  And (適用終了日付 = '' Or (適用終了日付 <> ''  
  And  適用終了日付 >= @DATE ))
  AND 履歴NO = ( SELECT MAX(履歴NO) FROM  支給単価マスタ
			WHERE 品番 = @HINBN
			  AND 取引先 = @TORCD
			  AND 仮単価区分 = ''
			  AND 適用開始日付 <= @DATE 
	  		  And (適用終了日付 = '' Or (適用終了日付 <> ''  
			  And  適用終了日付 >= @DATE )) )  
IF @TANK IS NULL 
   BEGIN	
	SELECT @TANK = 単価 ,@TKBN = 仮単価区分,@TSYMD = 適用開始日付,@RNO = 履歴NO,@UMUKB = 有無償区分
	 FROM 支給単価マスタ
	WHERE 品番 = @HINBN
	  AND 取引先 = @TORCD
	  AND 仮単価区分 = '1'
	  AND 適用開始日付 <= @DATE 
	  And (適用終了日付 = '' Or (適用終了日付 <> ''  
	  And  適用終了日付 >= @DATE ))
	  AND 履歴NO = ( SELECT MAX(履歴NO) FROM  支給単価マスタ
				WHERE 品番 = @HINBN
				  AND 取引先 = @TORCD
				  AND 適用開始日付 <= @DATE 
				  AND 仮単価区分 = '1'
	  			  And (適用終了日付 = '' Or (適用終了日付 <> ''  
				  And  適用終了日付 >= @DATE )) )  


  END


IF @TANK IS NULL 
   BEGIN
	SELECT @TANK = 0
	SELECT @TKBN = '9'
	SELECT @RNO = 0
	SELECT @TSYMD = ''
	SELECT @TSYMD = ISNULL(MAX(適用終了日付),'') FROM 支給単価マスタ
				WHERE 品番 = @HINBN
				  AND 取引先 = @TORCD
				  AND 適用終了日付 < @DATE

	IF @TSYMD = '' 
	   BEGIN
		SELECT @TSYMD = ISNULL(MIN(適用開始日付),'') FROM 支給単価マスタ
					WHERE 品番 = @HINBN
					  AND 取引先 = @TORCD
					  AND 適用終了日付 >= @DATE
	   END
   END	
--* 無償の時
IF @TANK <> 0 AND @UMUKB <> 0
   BEGIN
	SELECT @TANK = 0
   END 

--T
-- SELECT @TANK,@TKBN,@TSYMD,@RNO
-- T End






GO
