USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[発注処理]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE                 PROCEDURE [dbo].[発注処理] (@SYORIKB VARCHAR(1),@INCNT INT OUTPUT,@HCCNT INT OUTPUT,@NBCNT INT OUTPUT,@JAMACNT INT OUTPUT,
					@TXTCNT INT OUTPUT,@NPAGE INT OUTPUT,@SPAGE INT OUTPUT,@JPAGE INT OUTPUT,@MNCNT INT OUTPUT,
					@RJCNT INT OUTPUT,@GPCNT INT OUTPUT,@HLCNT INT OUTPUT,@FAXCNT INT OUTPUT,@MAILCNT INT OUTPUT,
					@SCTCNT INT OUTPUT,@JCPCNT INT OUTPUT,@JCTCNT INT OUTPUT,@ERRCD TINYINT OUTPUT) AS

-----------------------------------------------------------------------------------------------------
--	発注処理
--
--	処理内容　：　入力元テーブル（発注画面入力ワーク・発注かんばん予定テーブル）より
--			1.納入番号・発注管理NOを採番し、発注テーブルに出力する
--			2.納品書・支給書・受領書発行データを作成する（発注帳票発行テーブル）
--			3.明細書・臨時かんばん・現品票・端数ラベル発行データを作成する（帳票出力テーブル）
--			4.入力元テーブルの削除を行う
--
--	パラメタ：(IN)	@SYORIKB 	…  G:画面入力発注、Y:かんばん発注指示、、K:かんばん読取直ぐ発注、
--		 (OUT)	@INCNT   	…　入力件数
--			@NBCNT   	…　納入番号採番件数
--			@HCCNT   	…　発注累積件数
--			@JAMACNT   	…　JAMAテキスト出力件数
--			@NPAGE   	…　納品書頁数
--			@SPAGE   	…　支給書頁数
--			@JPAGE   	…　受領書頁数
--			@MNCNT   	…　明細書納入番号件数
--			@RJCNT   	…　臨時かんばん件数
--			@GPCNT   	…　現品票件数
--			@HLCNT   	…　端数ラベル件数
--			@FAXCNT   	…　FAX件数
--			@MAILCNT   	…　MAIL件数
--			@SCTCNT   	…　支給チケットファイル件数
--			@JCPCNT   	…　自給チケット頁件数
--			@JCTCNT   	…　自給チケットファイル件数
--			@ERRCD   	…　エラーコード
--
--	作 成 日　：	2004/01/23
--	変 更 日　：	2004/05/17	カラ明細書の追加
--	変 更 日　：	2004/05/19	FAX件数・MAIL件数追加
--	変 更 日　：	2005/02/19	チケット対応(伝票種類に自給チケット、支給チケットの追加）
--	変 更 日　：	2005/04/11	「かんばん」で発注区分が「指示」品を発注画面入力した場合でも、現品票を出力する。
--	変 更 日　：	2006/02/08	取引先変換マスタ、【品番】キー追加に伴う修正
--	変 更 日　：	2007/12/11	納品書発行区分･支給書発行区分･受領書発行区分を品番単位で設定
--	変 更 日　：	2007/12/18	品番取引先マスタ・取引先変換マスタに代行契約先追加
--					発注テーブル・発注帳票発行テーブル・発注累積テーブル・発注累積ワークに代行契約先を追加
--	変 更 日　：	2008/01/15	取引先変換マスタの変更による修正
--
-----------------------------------------------------------------------------------------------------
DECLARE @OP_RNJPRT TINYINT,@OP_GEPPRT TINYINT,@OP_HASPRT TINYINT
SET NOCOUNT ON
DECLARE @OPTION VARCHAR(1)

-- TEST
-- DECLARE @SYORIKB VARCHAR(1)
-- DECLARE @INCNT INT,@HCCNT INT,@NPAGE INT,@SPAGE INT,@JPAGE INT,@JAMACNT INT,@NBCNT INT
-- DECLARE @MNCNT INT,@RJCNT INT,@GPCNT INT,@HLCNT INT,@TXTCNT INT,@ERRCD TINYINT
-- DECLARE @FAXCNT INT,@MAILCNT INT,@JCPCNT INT,@JCTCNT INT,@SCTCNT INT
-- 
-- SELECT @SYORIKB = 'G'
--

SELECT @INCNT = 0,@HCCNT = 0,@NPAGE = 0,@SPAGE = 0,@JPAGE = 0,@JAMACNT = 0,@NBCNT = 0
SELECT @MNCNT = 0,@RJCNT = 0,@GPCNT = 0,@HLCNT = 0,@TXTCNT = 0,@JCPCNT = 0,@JCTCNT = 0,@SCTCNT = 0,@ERRCD = 0
SELECT @FAXCNT = 0,@MAILCNT = 0

-----------------------------------------
-- 初期処理    発注累積テーブル　削除	
-----------------------------------------
DELETE FROM 発注累積テーブル
WHERE 処理端末 = HOST_NAME()
    AND 処理区分 = 9
IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 1	GOTO PROC_ERR	END
--*---------------------------------------
-- 初期処理    発注累積ワーク　削除	
-----------------------------------------
DELETE FROM 発注累積ワーク
WHERE 処理端末 = HOST_NAME()
IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 2	GOTO PROC_ERR	END
-----------------------------------------
-- 初期処理    帳票出力テーブル　削除	
-----------------------------------------
--自社伝票発行用（納品書・受領書・支給書）
DELETE FROM 帳票出力テーブル
WHERE 端末番号 = HOST_NAME()
    AND 帳票区分 IN (5,6,7,8,9,10,11,108,17,18,19)
IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 3	GOTO PROC_ERR	END

--カラ明細書発行用
IF @SYORIKB <> 'Y' 
    BEGIN
	DELETE FROM 帳票出力テーブル
	WHERE 端末番号 = HOST_NAME()
	    AND 帳票区分 = 15
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 9	GOTO PROC_ERR	END
    END
----------------------------------
--<<　 システムオプション設定獲得         >>--
-----------------------------------
SELECT @OP_RNJPRT = 0,@OP_GEPPRT = 0,@OP_HASPRT = 0
--臨時かんばん発行有無
SELECT @OPTION = ''
SELECT @OPTION = (SELECT oyian FROM irnaksic
			  WHERE bk = 'Option' AND  rno = 1)
IF @OPTION = '' OR @OPTION IS NULL BEGIN SELECT @OPTION = '0'	END
SELECT @OP_RNJPRT = CONVERT(TINYINT,@OPTION)
--現品票発行有無
SELECT @OPTION = ''
SELECT @OPTION = (SELECT oyian FROM irnaksic
			  WHERE bk = 'Option' AND  rno = 2)
IF @OPTION = '' OR @OPTION IS NULL  	BEGIN SELECT @OPTION = '0'	END
SELECT @OP_GEPPRT = CONVERT(TINYINT,@OPTION)
--端数ラベル発行有無
SELECT @OPTION = ''
SELECT @OPTION = (SELECT oyian FROM irnaksic
			  WHERE bk = 'Option' AND  rno = 3)
IF @OPTION = '' OR @OPTION IS NULL  	BEGIN SELECT @OPTION = '0'	END
SELECT @OP_HASPRT = CONVERT(TINYINT,@OPTION)

-----------------------------
--<<　 トランザクション開始         >>--
-----------------------------
BEGIN TRANSACTION HCCRT
--=========================================================================================
--       <<　 入力種別データ抽出   >>	発注累積ワークに出力する
--
--	処理区分 'G'    発注画面ワーク	
--	処理区分 'Y'    発注かんばん発注指示
--	処理区分 'K'    発注かんばん読取直発注
--
--	品番取引先マスタより　契約先・納入先・納入先受入・サイクル・
--				伝票種類・納品書形態・受領書形態・受領書発行を付加する
--=========================================================================================
IF @SYORIKB = 'G'
    BEGIN
	INSERT INTO 発注累積ワーク (
		処理端末,伝票発行区分,伝票種類,納品書形態,受領書形態,受領書発行,明細書発行,
		契約先,仕入先,受入,納入先,納入先受入,発注区分,手配区分,SK区分,納入日,納入便,
		品番,背番号,収容数,枚数,端数,発注数,サイクル,発注日,発注便,端数区分,
		打切区分,打切種別,打切残数,打切日,内示超過区分,帳票別発行区分,
		作成種別,処理区分,納入番号,分納区分,発注管理NO,作成日,作成端末,作成者,納品書行,
		納品書発行区分,支給書発行区分,受領書発行区分,代行契約先 )
	SELECT 処理端末,
		CASE WHEN ISNULL(HT.伝票種類,'') = '' THEN 0 ELSE 1 END,
		CASE WHEN ISNULL(HT.伝票種類,'') = '' THEN '1' ELSE ISNULL(HT.伝票種類,'') END,
		CASE WHEN ISNULL(HT.伝票種類,'') = '' THEN '' ELSE ISNULL(HT.納品書形態,'') END,
		CASE WHEN ISNULL(HT.伝票種類,'') = '' THEN ''
		         WHEN ISNULL(HT.受領書発行,1) = 1 THEN '' ELSE ISNULL(HT.受領書形態,'') END,
		CASE WHEN ISNULL(HT.伝票種類,'') = '' THEN 1 ELSE ISNULL(HT.受領書発行,1) END,
		CASE WHEN ISNULL(HT.明細書発行,'') = '2' THEN ISNULL(TR.明細書発行,'2') ELSE ISNULL(HT.明細書発行,'2') END,
		HT.契約先,HG.仕入先,HG.受入,HT.納入先,HT.納入先受入,HG.発注区分,HG.手配区分,HG.SK区分,HG.納入日,HG.納入便,
		HG.品番,HG.背番号,HG.収容数,HG.枚数,HG.端数,HG.発注数,HT.サイクル,HG.発注日,HG.発注便,HG.端数区分,
		HG.打切区分,HG.打切種別,HG.打切残数,HG.打切日,0,ISNULL(SY.英数字1,''),
		HG.作成種別,0,'',0,0,GETDATE(),HOST_NAME(),HG.作成者,0,
		ISNULL(HT.納品書発行区分,0),ISNULL(HT.支給書発行区分,0),ISNULL(HT.受領書発行区分,0),			-- 2007/12/11 ADD
		ISNULL(HT.代行契約先,'')												-- 2007/12/18 ADD
	FROM 発注画面入力ワーク HG
	LEFT OUTER JOIN 品番取引先マスタ HT
		ON HT.品目 = 1
		AND HT.品番 = HG.品番
		AND HT.取引先 = HG.仕入先
		AND HT.受入 = HG.受入
	LEFT OUTER JOIN 取引先マスタ TR
		ON TR.取引先区分 = 1
		AND TR.取引先CD = HG.仕入先
	LEFT OUTER JOIN 名称マスタ SY
		ON SY.区分名称 = '手配区分'
		AND SY.区分タイプ = ''
		AND SY.値 = HG.手配区分
	WHERE HG.処理端末 = HOST_NAME()
	    AND HG.処理区分 = 1
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 11	GOTO PROC_ERR	END
    END

IF @SYORIKB = 'Y' OR @SYORIKB = 'K'
    BEGIN
	-----------------------------------------------------------------------------
	--	発注かんばん予定テーブルを
	--	　　処理端末,発注区分,仕入先,受入,納入日,納入便,手配区分,SK区分,品番により
	--	　　枚数・端数・発注数を集計し発注累積ワークに出力する
	-----------------------------------------------------------------------------
	INSERT INTO 発注累積ワーク (
		処理端末,伝票発行区分,伝票種類,納品書形態,受領書形態,受領書発行,明細書発行,
		契約先,仕入先,受入,納入先,納入先受入,発注区分,手配区分,SK区分,納入日,納入便,
		品番,背番号,収容数,枚数,端数,発注数,サイクル,発注日,発注便,端数区分,
		打切区分,打切種別,打切残数,打切日,内示超過区分,帳票別発行区分,
		作成種別,処理区分,納入番号,分納区分,発注管理NO,作成日,作成端末,作成者,納品書行,
		納品書発行区分,支給書発行区分,受領書発行区分,代行契約先 )
	SELECT HK.処理端末,
		CASE WHEN ISNULL(HT.伝票種類,'') = '' THEN 0 ELSE 1 END,
		CASE WHEN ISNULL(HT.伝票種類,'') = '' THEN '1' ELSE ISNULL(HT.伝票種類,'') END,
		CASE WHEN ISNULL(HT.伝票種類,'') = '' THEN '' ELSE ISNULL(HT.納品書形態,'') END,
		CASE WHEN ISNULL(HT.伝票種類,'') = '' THEN ''
		         WHEN ISNULL(HT.受領書発行,1) = 1 THEN '' ELSE ISNULL(HT.受領書形態,'') END,
		CASE WHEN ISNULL(HT.伝票種類,'') = '' THEN 1 ELSE ISNULL(HT.受領書発行,1) END,
		CASE WHEN ISNULL(HT.明細書発行,'') = '2' THEN ISNULL(TR.明細書発行,'2') ELSE ISNULL(HT.明細書発行,'2') END,
		HT.契約先,HK.仕入先,HK.受入,HT.納入先,HT.納入先受入,HK.発注区分,HK.手配区分,HK.SK区分,HK.納入日,HK.納入便,
		HK.品番,'' 背番号,0 収容数,SUM(HK.枚数) 枚数,SUM(HK.端数) 端数,SUM(HK.発注数),
		HT.サイクル,'' 発注日,'' 発注便,0 端数区分,
		0 打切区分,0 打切種別,0 打切残数,'' 打切日,0,ISNULL(SY.英数字1,''),
		'' 作成種別,0,'',0,0,GETDATE(),HOST_NAME(),'' 作成者,0,
		ISNULL(HT.納品書発行区分,0),ISNULL(HT.支給書発行区分,0),ISNULL(HT.受領書発行区分,0),			-- 2007/12/11 ADD
		ISNULL(HT.代行契約先,'')												-- 2007/12/18 ADD
	FROM 発注かんばん予定テーブル HK
	LEFT OUTER JOIN 品番取引先マスタ HT
		ON HT.品目 = 1
		AND HT.品番 = HK.品番
		AND HT.取引先 = HK.仕入先
		AND HT.受入 = HK.受入
	LEFT OUTER JOIN 取引先マスタ TR
		ON TR.取引先区分 = 1
		AND TR.取引先CD = HK.仕入先
	LEFT OUTER JOIN 名称マスタ SY
		ON SY.区分名称 = '手配区分'
		AND SY.区分タイプ = ''
		AND SY.値 = HK.手配区分
	WHERE HK.処理端末 = HOST_NAME()
	    AND HK.処理区分 = 1
	GROUP BY HK.処理端末,HK.発注区分,HK.仕入先,HK.受入,HK.納入日,HK.納入便,HK.手配区分,HK.SK区分,HK.品番,
		HT.伝票種類,HT.納品書形態,HT.受領書形態,SY.英数字1,HT.受領書発行,HT.明細書発行,
		HT.契約先,HT.納入先,HT.納入先受入,HT.サイクル,TR.明細書発行,
		HT.納品書発行区分,HT.支給書発行区分,HT.受領書発行区分,							-- 2007/12/11 ADD
		HT.代行契約先													-- 2007/12/18 ADD
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 12	GOTO PROC_ERR	END

	-----------------------------------------------------------------------------
	--	作成日最新の情報で発注累積ワークを更新する
	-----------------------------------------------------------------------------
	UPDATE 発注累積ワーク SET
	    背番号 = HK.背番号,
	    収容数 = HK.収容数,
	    発注日 = HK.発注日,
	    発注便 = HK.発注便,
	    端数区分 = HK.端数区分,
	    打切区分 = HK.打切区分,
	    打切種別 = HK.打切種別,
	    打切残数 = HK.打切残数,
	    打切日 = HK.打切日,
	    作成種別 = HK.作成種別,
	    作成者 = HK.作成者
	 FROM 発注累積ワーク HW
	LEFT OUTER JOIN 発注かんばん予定テーブル HK
		ON  HK.処理端末 = HW.処理端末
		AND HK.発注区分 = HW.発注区分
		AND HK.仕入先 = HW.仕入先
		AND HK.受入 = HW.受入
		AND HK.納入日 = HW.納入日
		AND HK.納入便 = HW.納入便
		AND HK.手配区分 = HW.手配区分
		AND HK.SK区分 = HW.SK区分
		AND HK.品番 = HW.品番
		AND HK.作成日 = (SELECT MAX(作成日) FROM 発注かんばん予定テーブル HK1
						WHERE HK1.処理端末 = HW.処理端末
						AND HK1.発注区分 = HW.発注区分
						AND HK1.仕入先 = HW.仕入先
						AND HK1.受入 = HW.受入
						AND HK1.納入日 = HW.納入日
						AND HK1.納入便 = HW.納入便
						AND HK1.手配区分 = HW.手配区分
						AND HK1.SK区分 = HW.SK区分
						AND HK1.品番 = HW.品番)
	WHERE HW.処理端末 = HOST_NAME()
	    AND HW.処理区分 = 0
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 13	GOTO PROC_ERR	END
    END

--=========================================================================================--
--	1. 発注累積ワークより　納入番号の採番、発注管理NOの採番を行う 
--	2. 発注累積テーブルに出力する
--	3. 明細書・臨時かんばん・現品票・端数ラベルの発行対象分を帳票出力テーブルに出力する
--	4. 発注テーブルに出力する
--	5. 入力元データの削除を行う
--=========================================================================================--
--------------------------------------------
--     発注累積ワークカーソル定義		
--------------------------------------------
DECLARE HCCUR SCROLL CURSOR
FOR 
--* 2006/02/08 Update Start
/*
	SELECT HW.伝票発行区分,HW.伝票種類,HW.納品書形態,HW.受領書発行,HW.受領書形態,HW.明細書発行,
		HW.契約先,HW.仕入先,HW.受入,HW.納入先,HW.納入先受入,
		HW.発注区分,HW.手配区分,HW.SK区分,HW.納入日,HW.納入便,HW.品番,
		HW.端数区分,HW.管理NO,HW.帳票別発行区分
	 FROM 発注累積ワーク HW
	WHERE 処理端末 = HOST_NAME()
	  AND   処理区分 = 0
	ORDER BY HW.伝票種類,HW.契約先,HW.仕入先,HW.受入,HW.納入先,HW.納入先受入,
			HW.発注区分,HW.手配区分,HW.SK区分,HW.納入日,HW.納入便,
			HW.伝票発行区分,HW.納品書形態,HW.受領書発行,HW.受領書形態,HW.明細書発行,HW.品番
*/
	SELECT HW.伝票発行区分,HW.伝票種類,HW.納品書形態,HW.受領書発行,HW.受領書形態,HW.明細書発行,
		HW.契約先,HW.仕入先,HW.受入,HW.納入先,HW.納入先受入,
		HW.発注区分,HW.手配区分,HW.SK区分,HW.納入日,HW.納入便,HW.品番,
		HW.端数区分,HW.管理NO,HW.帳票別発行区分,
/*
		ISNULL(TH.契約先,''),ISNULL(TH.取引先,''),ISNULL(TH.契約取引先CD,''),ISNULL(TH.受入,''),ISNULL(TH.支給元,''),ISNULL(TH.被自社,''),
		ISNULL(TH.支給元2,''),ISNULL(TH.支給元2受入,''),ISNULL(TH.支給元工場2,''),ISNULL(TH.代行,''),ISNULL(TH.代行工場,''),
		ISNULL(TH.代行受入,''),ISNULL(TH.代行名称,''),ISNULL(TH.品番,''),
*/
		ISNULL(TH.契約取引先CD,''),ISNULL(TH.支給元,''),ISNULL(TH.支給元2,''),
		ISNULL(TH.納入先CD,''),ISNULL(TH.納入先受入,''),ISNULL(TH.納入先名称,''),ISNULL(TH.直直区分,0),

		HW.納品書発行区分,HW.支給書発行区分,HW.受領書発行区分,					-- 2007/12/11 ADD
		HW.代行契約先											-- 2007/12/18 ADD
	 FROM 発注累積ワーク HW
	 LEFT OUTER JOIN 取引先変換マスタ TH
		 ON TH.契約先 = HW.契約先
		 AND TH.代行契約先 = HW.代行契約先								-- 2007/12/18 ADD
		 AND TH.取引先 = HW.仕入先
		 AND TH.受入 = HW.受入
		 AND TH.品番 = HW.品番
	 LEFT OUTER JOIN 品番取引先マスタ HT
		 ON HT.品目 = 1
		 AND HT.取引先 = HW.仕入先
		 AND HT.受入 = HW.受入
		 AND HT.品番 = HW.品番
	WHERE 処理端末 = HOST_NAME()
	  AND   処理区分 = 0
	ORDER BY HW.伝票種類,HW.契約先,HW.代行契約先,HW.仕入先,HW.受入,
			TH.契約取引先CD,TH.納入先CD,TH.納入先受入,TH.支給元,TH.支給元2,
			TH.納入先名称,TH.直直区分,

--			TH.契約先,TH.取引先,TH.契約取引先CD,TH.受入,TH.支給元,TH.被自社,
--			TH.支給元2,TH.支給元2受入,TH.支給元工場2,TH.代行,TH.代行工場,TH.代行受入,TH.代行名称,TH.品番,

			HW.納入先,HW.納入先受入,
			HW.発注区分,HW.手配区分,HW.SK区分,HW.納入日,HW.納入便,HW.伝票発行区分,
			HT.納品書発行区分,HT.支給書発行区分,HT.受領書発行区分,
			HW.納品書形態,HW.受領書発行,HW.受領書形態,HW.明細書発行,HW.品番
--* 2006/02/08 Update End

FOR READ ONLY 
OPEN HCCUR

--( ｶｰｿﾙ項目定義  )--
DECLARE @DENHKB TINYINT,@DENSYU VARCHAR(1),@NOUKKB VARCHAR(1)
DECLARE @JYUKB TINYINT,@JYUKKB VARCHAR(1),@MEIKKB VARCHAR(1)
DECLARE @KTORCD VARCHAR(7),@TORCD VARCHAR(7),@UKEIR VARCHAR(2),@NONYU VARCHAR(7),@NOUKE VARCHAR(2)
DECLARE @HCKBN TINYINT,@TEKBN VARCHAR(1),@SKKBN TINYINT
DECLARE @NYMD VARCHAR(8),@NBIN VARCHAR(2),@HINBN VARCHAR(25)
DECLARE @HASUKB TINYINT,@KANRINO INT,@CYOHKB VARCHAR(10)
--* 2006/02/08 Update Start
--DECLARE @THKTORCD VARCHAR(7),@THTORCD VARCHAR(7),@THKTTORCD VARCHAR(7),@THUKEIR VARCHAR(2),@THHIJISYA VARCHAR(5)
--DECLARE @THSIKYU VARCHAR(5),@THSIKYU2 VARCHAR(5),@THSIKYUKJ2 VARCHAR(2),@THSIKYU2UKE VARCHAR(2)
--DECLARE @THDAIKO VARCHAR(5),@THDAIKOKJ VARCHAR(2),@THDUKE VARCHAR(2),@THDAIKONM VARCHAR(24)
--DECLARE @THHINBN VARCHAR(25)
--* 2006/02/08 Update End
--* 2008/01/15 Update Start
DECLARE @THKTTORCD VARCHAR(7),@THSIKYU VARCHAR(5),@THSIKYU2 VARCHAR(5)
DECLARE @THNTORCD VARCHAR(5),@THNUKEIR VARCHAR(2),@THNTORNM VARCHAR(24),@THCYOKUKB TINYINT
--* 2008/01/15 Update End

--* 
DECLARE @PRTKBN TINYINT,@PRTKBS TINYINT,@PRTKBJ TINYINT		-- 2007/12/11 ADD
DECLARE @DAIKOK VARCHAR(7)							-- 2007/12/18 ADD
--* 

--(  納入番号　採番キー  )--
DECLARE @KEY_DENHKB TINYINT,@KEY_DENSYU VARCHAR(1),@KEY_NOUKKB VARCHAR(1)
DECLARE @KEY_JYUKB TINYINT,@KEY_JYUKKB VARCHAR(1),@KEY_MEIKKB VARCHAR(1)
DECLARE @KEY_KTORCD VARCHAR(7),@KEY_TORCD VARCHAR(7),@KEY_UKEIR VARCHAR(2),@KEY_NONYU VARCHAR(7),@KEY_NOUKE VARCHAR(2)
DECLARE @KEY_HCKBN TINYINT,@KEY_TEKBN VARCHAR(1),@KEY_SKKBN TINYINT
DECLARE @KEY_NYMD VARCHAR(8),@KEY_NBIN VARCHAR(2)
--* 2006/02/08 Update Start
--DECLARE @KEY_THKTORCD VARCHAR(7),@KEY_THTORCD VARCHAR(7),@KEY_THKTTORCD VARCHAR(7),@KEY_THUKEIR VARCHAR(2),@KEY_THHIJISYA VARCHAR(5)
--DECLARE @KEY_THSIKYU VARCHAR(5),@KEY_THSIKYU2 VARCHAR(5),@KEY_THSIKYUKJ2 VARCHAR(2),@KEY_THSIKYU2UKE VARCHAR(2)
--DECLARE @KEY_THDAIKO VARCHAR(5),@KEY_THDAIKOKJ VARCHAR(2),@KEY_THDUKE VARCHAR(2),@KEY_THDAIKONM VARCHAR(24)
--* 2006/02/08 Update End
--* 2008/01/15 Update Start
DECLARE @KEY_THKTTORCD VARCHAR(7),@KEY_THSIKYU VARCHAR(5),@KEY_THSIKYU2 VARCHAR(5)
DECLARE @KEY_THNTORCD VARCHAR(5),@KEY_THNUKEIR VARCHAR(2),@KEY_THNTORNM VARCHAR(24),@KEY_THCYOKUKB TINYINT
--* 2008/01/15 Update End
--* 
DECLARE @KEY_PRTKBN TINYINT,@KEY_PRTKBS TINYINT,@KEY_PRTKBJ TINYINT	-- 2007/12/11 ADD
DECLARE @KEY_DAIKOK VARCHAR(7)							-- 2007/12/18 ADD
--* 

--(  ワーク項目定義  )--
DECLARE @NOUNO VARCHAR(5),@PAGE TINYINT,@GYO TINYINT,@NKANRINO INT
DECLARE @HCNO INT
DECLARE @JAMAKB TINYINT,@SAVE_SKKBN TINYINT 
DECLARE @GYOMAX TINYINT				--*2005.02.10追加
--(  納入番号　採番キー初期化  )--
SELECT @KEY_DENHKB = 0,@KEY_DENSYU = '',@KEY_NOUKKB = '',@KEY_JYUKB = 0,@KEY_JYUKKB = '',@KEY_MEIKKB = ''
SELECT @KEY_KTORCD = '',@KEY_TORCD = '',@KEY_UKEIR = '',@KEY_NONYU = '',@KEY_NOUKE = ''
SELECT @KEY_HCKBN = 0,@KEY_TEKBN = '',@KEY_SKKBN = 0,@KEY_NYMD = '',@KEY_NBIN = ''
--* 2006/02/08 Update Start
--SELECT @KEY_THKTORCD = '',@KEY_THTORCD = '',@KEY_THKTTORCD = '',@KEY_THUKEIR = '',@KEY_THHIJISYA = ''
--SELECT @KEY_THSIKYU = '',@KEY_THSIKYU2 = '',@KEY_THSIKYUKJ2 = '',@KEY_THSIKYU2UKE = ''
--SELECT @KEY_THDAIKO = '',@KEY_THDAIKOKJ = '',@KEY_THDUKE = '',@KEY_THDAIKONM = ''
--* 2006/02/08 Update End
--* 2008/01/15 Update Start
SELECT @KEY_THKTTORCD = '',@KEY_THSIKYU = '',@KEY_THSIKYU2 = ''
SELECT @KEY_THNTORCD = '',@KEY_THNUKEIR = '',@KEY_THNTORNM = '',@KEY_THCYOKUKB = 0
--* 2008/01/15 Update End
--* 
SELECT @KEY_PRTKBN = 0,@KEY_PRTKBS = 0,@KEY_PRTKBJ = 0			-- 2007/12/11 ADD
SELECT @KEY_DAIKOK = ''									-- 2007/12/18 ADD
--* 

--(  ワーク初期化  )--
SELECT @NOUNO = '',@PAGE = 0,@GYO = 0,@HCNO = 0,@NKANRINO = 0
SELECT @JAMAKB = 1,@SAVE_SKKBN = 0
------------------------------------------------------------------------------------
--   発注累積ワーク  読込		
------------------------------------------------------------------------------------
FETCH NEXT FROM HCCUR INTO @DENHKB ,@DENSYU ,@NOUKKB ,@JYUKB ,@JYUKKB ,@MEIKKB ,
					@KTORCD ,@TORCD ,@UKEIR ,@NONYU ,@NOUKE ,@HCKBN ,@TEKBN ,
					@SKKBN ,@NYMD ,@NBIN ,@HINBN ,@HASUKB ,@KANRINO ,@CYOHKB 
--* 2006/02/08 Update Start
--					,@THKTORCD ,@THTORCD ,@THKTTORCD ,@THUKEIR ,@THSIKYU ,@THHIJISYA,
--					@THSIKYU2 ,@THSIKYU2UKE ,@THSIKYUKJ2 ,@THDAIKO ,@THDAIKOKJ ,@THDUKE ,@THDAIKONM ,@THHINBN
--* 2006/02/08 Update End
--* 2008/01/15 Update Start
					,@THKTTORCD ,@THSIKYU ,@THSIKYU2 ,@THNTORCD ,@THNUKEIR ,@THNTORNM ,@THCYOKUKB
--* 2008/01/15 Update End
--* 2007/12/11 Update Start
					,@PRTKBN ,@PRTKBS ,@PRTKBJ 
--* 2007/12/11 Update End
--* 2007/12/18 Update Start
					,@DAIKOK
--* 2007/12/18 Update End

WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @INCNT = @INCNT + 1

	-- JAMA出力の時のキーは発注区分・仕入先・受入・契約先・納入日・納入便
	SELECT @SAVE_SKKBN = @SKKBN
	IF @DENHKB = '2'
	    BEGIN 
		SELECT @NONYU = '',@NOUKE = '',@TEKBN = '',@SKKBN = 0
	    END

	IF @KEY_DENHKB <> @DENHKB OR @KEY_DENSYU <> @DENSYU OR @KEY_NOUKKB <> @NOUKKB 
		OR @KEY_JYUKB <> @JYUKB OR @KEY_JYUKKB <> @JYUKKB OR @KEY_MEIKKB <> @MEIKKB
		OR @KEY_PRTKBN <> @PRTKBN OR @KEY_PRTKBS <> @PRTKBS OR @KEY_PRTKBJ <> @PRTKBJ		--2007/12/11ADD
		OR @KEY_KTORCD <> @KTORCD OR @KEY_TORCD <> @TORCD OR @KEY_UKEIR <> @UKEIR 
		OR @KEY_DAIKOK <> @DAIKOK 											--2007/12/18ADD
		OR @KEY_NONYU <> @NONYU OR @KEY_NOUKE <> @NOUKE OR @KEY_HCKBN <> @HCKBN 
		OR @KEY_TEKBN <> @TEKBN OR @KEY_SKKBN <> @SKKBN OR @KEY_NYMD <> @NYMD OR @KEY_NBIN <> @NBIN
--* 2006/02/08 Update Start
--		OR @KEY_THKTORCD <> @THKTORCD OR @KEY_THTORCD <> @THTORCD OR @KEY_THKTTORCD <> @THKTTORCD 
--		OR @KEY_THUKEIR <> @THUKEIR OR @KEY_THHIJISYA <> @THHIJISYA OR @KEY_THSIKYU <> @THSIKYU
--		OR @KEY_THSIKYU2 <> @THSIKYU2 OR @KEY_THSIKYUKJ2 <> @THSIKYUKJ2 OR @KEY_THSIKYU2UKE <> @THSIKYU2UKE
--		OR @KEY_THDAIKO <> @THDAIKO OR @KEY_THDAIKOKJ <> @THDAIKOKJ
--		OR @KEY_THDUKE <> @THDUKE OR @KEY_THDAIKONM <> @THDAIKONM
--* 2006/02/08 Update End
--* 2008/01/15 Update Start
		OR @KEY_THKTTORCD <> @THKTTORCD  OR @KEY_THSIKYU <> @THSIKYU OR @KEY_THSIKYU2 <> @THSIKYU2
		OR @KEY_THNTORCD <> @THNTORCD OR @KEY_THNUKEIR <> @THNUKEIR
--* 2008/01/15 Update End
	    BEGIN
		----------------------------
		--   納入番号 採番
		----------------------------
		SELECT @PAGE = 1,@GYO = 0
		EXEC 発注納入番号採番 @NOUNO OUTPUT,@ERRCD OUTPUT
		IF @ERRCD <> 0 BEGIN	SELECT @ERRCD = 21 	GOTO PROC_ERR	END
		SELECT @NOUNO = RTRIM(@NOUNO) + '0'		--納入番号初回
		SELECT @NBCNT = @NBCNT + 1
		---------------------------
		-- 納品書管理NO 採番
		---------------------------
		EXEC 番号獲得 4,@NKANRINO OUTPUT,@ERRCD OUTPUT
		IF @ERRCD <> 0 BEGIN	 SELECT @ERRCD = 20 	GOTO PROC_ERR	END

	    END
	---------------------------
	-- 発注管理NO 採番
	---------------------------
	EXEC 番号獲得 3,@HCNO OUTPUT,@ERRCD OUTPUT
	IF @ERRCD <> 0 BEGIN	 SELECT @ERRCD = 22 	GOTO PROC_ERR	END

	/*       2005.02.10 追加（チケット対応）      (START)    */
	IF @DENSYU = '3' OR @DENSYU = '4'
	    BEGIN
		SELECT @GYOMAX = 7
	    END
	ELSE
	    BEGIN
		SELECT @GYOMAX = 10
	    END
	/*       2005.02.10 追加（チケット対応）      (END  )    */

	SELECT @GYO = @GYO + 1
	IF @GYO > @GYOMAX
	    BEGIN 
		SELECT @PAGE = @PAGE + 1
		SELECT @GYO = 1
	    END 
	----------------------------
	--    発注累積テーブル　出力
	----------------------------
	INSERT INTO 発注累積テーブル(
		処理端末,発注区分,仕入先,受入,納入日,納入便,手配区分,SK区分,品番,
		発注管理NO,納品書管理NO,納入番号,納品書頁,納品書行,背番号,収容数,枚数,端数,発注数,
		契約先,納入先,納入先受入,サイクル,担当者,発注日,発注便,端数区分,
		打切区分,打切種別,打切残数,打切日,内示超過区分,
		伝票発行区分,伝票種類,納品書形態,受領書形態,
		納品書作成区分,支給書作成区分,受領書作成区分,明細書形態,
		作成種別,処理区分,作成日,作成端末,作成者,分納時初回行,
		納品書発行区分,支給書発行区分,受領書発行区分,								-- 2007/12/11 ADD
		代行契約先 )													-- 2007/12/18 ADD
	SELECT HOST_NAME(),発注区分,仕入先,受入,納入日,納入便,手配区分,SK区分,品番,
		@HCNO,@NKANRINO,@NOUNO,@PAGE,@GYO,背番号,収容数,枚数,端数,発注数,
		契約先,納入先,納入先受入,サイクル,'',発注日,発注便,端数区分,
		打切区分,打切種別,打切残数,打切日,0,
		伝票発行区分,伝票種類,納品書形態,受領書形態,
		CASE WHEN SUBSTRING(@CYOHKB,1,1) <> '' THEN 1 ELSE 0 END, 
		CASE WHEN SUBSTRING(@CYOHKB,3,1) <> '' THEN 1 ELSE 0 END, 
		CASE WHEN @JYUKB = 0 AND SUBSTRING(@CYOHKB,2,1) <> '' THEN 1 ELSE 0 END, 
		CASE WHEN @MEIKKB <> '2' THEN @MEIKKB ELSE '' END,
		作成種別,0,GETDATE(),HOST_NAME(),作成者,0,
		CASE WHEN @PRTKBN = 0 THEN 1 ELSE 0 END,								-- 2007/12/11 ADD
		CASE WHEN @PRTKBS = 0 THEN 1 ELSE 0 END,
		CASE WHEN @PRTKBJ = 0 THEN 1 ELSE 0 END,
		@DAIKOK 													-- 2007/12/18 ADD
	FROM 発注累積ワーク
	WHERE 管理NO = @KANRINO
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 23	GOTO PROC_ERR	END

	----------------------------
	--    発注テーブル　出力
	----------------------------
	INSERT INTO 発注テーブル (
		発注管理NO,納品書管理NO,納入番号,納品書頁,納品書行,分納区分,仕入先,受入,品番,背番号,納入日,納入便,
		収容数,枚数,端数,発注数,発注区分,手配区分,SK区分,契約先,納入先,納入先受入,サイクル,担当者,
		発注日,発注便,端数区分,打切区分,打切種別,打切残数,打切日,内示超過区分,
		納品書発行日,支給書発行日,受領書発行日,明細書発行日,明細書NO,初回発注管理NO,作成種別,
		作成日,作成端末,作成者,更新日,更新端末,更新者,初回納品書行,
		代行契約先 )													-- 2007/12/18 ADD
	SELECT @HCNO,@NKANRINO,@NOUNO,@PAGE,@GYO,0,仕入先,受入,品番,背番号,納入日,納入便,
		収容数,枚数,端数,発注数,発注区分,手配区分,SK区分,契約先,納入先,納入先受入,サイクル,'',
		発注日,発注便,端数区分,打切区分,打切種別,打切残数,打切日,内示超過区分,
		'','','','',0,@HCNO,作成種別,GETDATE(),HOST_NAME(),作成者,NULL,'','',@GYO,
		@DAIKOK 													-- 2007/12/18 ADD
	FROM 発注累積ワーク
	WHERE 管理NO = @KANRINO
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 24	GOTO PROC_ERR	END

	SELECT @HCCNT = @HCCNT + 1

	---------------------------------------------
	--    明細書　編集用出力（帳票出力テーブル'108')
	---------------------------------------------
	IF @MEIKKB <> '2'	-- AND SUBSTRING(@CYOHKB,3,1) <> ''
	    BEGIN 
		INSERT INTO 帳票出力テーブル (端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日)
			VALUES (HOST_NAME(),108,@MEIKKB,'',@HCNO,0,0,'',GETDATE())
		IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 31	GOTO PROC_ERR	END
		IF @MEIKKB = '1' 	BEGIN SELECT @MNCNT = @MNCNT + 1 	END
		IF @MEIKKB = '3' 	BEGIN SELECT @FAXCNT = @FAXCNT + 1 	END
		IF @MEIKKB = '4' 	BEGIN SELECT @MAILCNT = @MAILCNT + 1 	END
	    END
	-----------------------------------------
	--    臨時かんばん　出力（帳票出力テーブル'9')
	-----------------------------------------
	IF @HCKBN = 3 AND @SKKBN = 0 AND @OP_RNJPRT = 0
	    BEGIN 
		INSERT INTO 帳票出力テーブル (端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日)
			VALUES (HOST_NAME(),9,'','',@HCNO,0,0,0,GETDATE())
		IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 32	GOTO PROC_ERR	END
		SELECT @RJCNT = @RJCNT + 1
	    END
	-----------------------------------------
	--    現品票　出力（帳票出力テーブル'10')
	-----------------------------------------

-- ::::::::::::::::::::::::::::::::::::::::::::::::::< 2005.04.11 MNT START >::::::::::::::::::::::::::
--
--	IF @SAVE_SKKBN = 1 AND @OP_GEPPRT = 0
	IF ( @SAVE_SKKBN = 1 AND @OP_GEPPRT = 0 ) Or
	   ( @SYORIKB = 'G' AND @SAVE_SKKBN = 0 AND @OP_GEPPRT = 0 AND @HCKBN = 5 )
--
-- ::::::::::::::::::::::::::::::::::::::::::::::::::< 2005.04.11 MNT  END  >::::::::::::::::::::::::::

	    BEGIN 
		INSERT INTO 帳票出力テーブル (端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日)
			VALUES (HOST_NAME(),10,'','',@HCNO,0,0,0,GETDATE())
		IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 33	GOTO PROC_ERR	END
		SELECT @GPCNT = @GPCNT + 1
	    END
	-----------------------------------------
	--    端数ラベル　出力（帳票出力テーブル'11')
	-----------------------------------------
	IF @HASUKB <> 0 AND @OP_HASPRT = 0
	    BEGIN 
		INSERT INTO 帳票出力テーブル (端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日)
			VALUES (HOST_NAME(),11,'','',@HCNO,0,0,0,GETDATE())
		IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 34	GOTO PROC_ERR	END
		SELECT @HLCNT = @HLCNT + 1
	    END

	--* KEY項目退避 *--
	SELECT @KEY_DENHKB = @DENHKB,@KEY_DENSYU = @DENSYU,@KEY_NOUKKB = @NOUKKB,@KEY_JYUKB = @JYUKB
	SELECT @KEY_JYUKKB = @JYUKKB,@KEY_MEIKKB = @MEIKKB
	SELECT @KEY_KTORCD = @KTORCD,@KEY_TORCD = @TORCD,@KEY_UKEIR = @UKEIR,@KEY_NONYU = @NONYU,@KEY_NOUKE = @NOUKE
	SELECT @KEY_HCKBN = @HCKBN,@KEY_TEKBN = @TEKBN,@KEY_SKKBN = @SKKBN,@KEY_NYMD = @NYMD,@KEY_NBIN = @NBIN
--* 2006/02/08 Update Start
--	SELECT @KEY_THKTORCD = @THKTORCD,@KEY_THTORCD = @THTORCD,@KEY_THKTTORCD = @THKTTORCD,@KEY_THUKEIR = @THUKEIR,@KEY_THHIJISYA = @THHIJISYA
--	SELECT @KEY_THSIKYU = @THSIKYU,@KEY_THSIKYU2 = @THSIKYU2,@KEY_THSIKYUKJ2 = @THSIKYUKJ2,@KEY_THSIKYU2UKE = @THSIKYU2UKE
--	SELECT @KEY_THDAIKO = @THDAIKO,@KEY_THDAIKOKJ = @THDAIKOKJ,@KEY_THDUKE = @THDUKE,@KEY_THDAIKONM = @THDAIKONM
--* 2007/12/11 Update End
--* 2008/01/15 Update Start
	SELECT @KEY_THKTTORCD = @THKTTORCD,@KEY_THSIKYU = @THSIKYU,@KEY_THSIKYU2 = @THSIKYU2
	SELECT @KEY_THNTORCD = @THNTORCD,@KEY_THNUKEIR = @THNUKEIR,@KEY_THNTORNM = @THNTORNM
	SELECT @KEY_THCYOKUKB = @THCYOKUKB
--* 2008/01/15 Update End
	SELECT @KEY_PRTKBN = @PRTKBN,@KEY_PRTKBS = @PRTKBS,@KEY_PRTKBJ = @PRTKBJ
--* 2007/12/18 Update End
	SELECT @KEY_DAIKOK = @DAIKOK
------------------------------------------------------------
--  発注累積ワークカーソルスクロール(次レコード）  		       
------------------------------------------------------------
	FETCH NEXT FROM HCCUR INTO @DENHKB ,@DENSYU ,@NOUKKB ,@JYUKB ,@JYUKKB ,@MEIKKB ,
					@KTORCD ,@TORCD ,@UKEIR ,@NONYU ,@NOUKE ,@HCKBN ,@TEKBN ,
					@SKKBN ,@NYMD ,@NBIN ,@HINBN ,@HASUKB ,@KANRINO ,@CYOHKB  
--* 2006/02/08 Update Start
--					,@THKTORCD ,@THTORCD ,@THKTTORCD ,@THUKEIR ,@THSIKYU ,@THHIJISYA,
--					@THSIKYU2 ,@THSIKYU2UKE ,@THSIKYUKJ2 ,@THDAIKO ,@THDAIKOKJ ,@THDUKE ,@THDAIKONM ,@THHINBN
--* 2007/12/11 Update Start
--* 2008/01/15 Update Start
					,@THKTTORCD ,@THSIKYU ,@THSIKYU2 ,@THNTORCD ,@THNUKEIR ,@THNTORNM ,@THCYOKUKB
--* 2008/01/15 Update End
					,@PRTKBN ,@PRTKBS ,@PRTKBJ 
--* 2007/12/11 Update End
--* 2007/12/18 Update Start
					,@DAIKOK
--* 2007/12/18 Update End
--* 自社伝票は対象外 
	IF @DENSYU = 1 OR @DENSYU = 3 
	   BEGIN
--*2008/01/15 Update Start
--		SELECT @KEY_THKTORCD = @THKTORCD,@KEY_THTORCD = @THTORCD,@KEY_THKTTORCD = @THKTTORCD,@KEY_THUKEIR = @THUKEIR,@KEY_THHIJISYA = @THHIJISYA
--		SELECT @KEY_THSIKYU = @THSIKYU,@KEY_THSIKYU2 = @THSIKYU2,@KEY_THSIKYUKJ2 = @THSIKYUKJ2,@KEY_THSIKYU2UKE = @THSIKYU2UKE
--		SELECT @KEY_THDAIKO = @THDAIKO,@KEY_THDAIKOKJ = @THDAIKOKJ,@KEY_THDUKE = @THDUKE,@KEY_THDAIKONM = @THDAIKONM
--*2008/01/15 Update End
		SELECT @KEY_THKTTORCD = @THKTTORCD,@KEY_THSIKYU = @THSIKYU,@KEY_THSIKYU2 = @THSIKYU2
		SELECT @KEY_THNTORCD = @THNTORCD,@KEY_THNUKEIR = @THNUKEIR,@KEY_THNTORNM = @THNTORNM
		SELECT @KEY_THCYOKUKB = @THCYOKUKB
	   END
--* 2006/02/08 Update End
END

CLOSE HCCUR
DEALLOCATE HCCUR

--=========================================================================================--
--	発注明細書NO 採番
--=========================================================================================--
--------------------------------------------
--    発注テーブルカーソル定義		
--------------------------------------------
DECLARE CHCUR SCROLL CURSOR
FOR 

	SELECT CH.管理文字,HC.仕入先,HC.受入,HC.SK区分,HC.発注区分,HC.手配区分,
			HC.納入日,HC.納入便,HC.発注管理NO
	 FROM 帳票出力テーブル CH
	LEFT OUTER JOIN 発注テーブル HC
		ON HC.発注管理NO = CH.管理NO
	WHERE CH.端末番号 = HOST_NAME()
	  AND   CH.帳票区分 = 108
	ORDER BY CH.管理文字,HC.仕入先,HC.受入,SK区分,HC.発注区分,HC.手配区分,
			HC.納入日,HC.納入便,HC.納入番号,HC.納品書頁,HC.納品書行

FOR READ ONLY 
OPEN CHCUR
-- KEY項目　初期化
SELECT @KEY_MEIKKB = '',@KEY_TORCD = '',@KEY_UKEIR = '',@KEY_SKKBN = 0,@KEY_HCKBN = '',@KEY_TEKBN = ''
SELECT @KEY_NYMD = '',@KEY_NBIN = ''
------------------------------------------------------------------------------------
--   発注テーブル  読込		
------------------------------------------------------------------------------------
FETCH NEXT FROM CHCUR INTO @MEIKKB ,@TORCD ,@UKEIR ,@SKKBN ,@HCKBN ,@TEKBN ,@NYMD ,@NBIN ,@HCNO
WHILE @@FETCH_STATUS = 0
BEGIN

	IF @KEY_MEIKKB <> @MEIKKB OR @KEY_TORCD <> @TORCD OR @KEY_UKEIR <> @UKEIR OR @KEY_SKKBN <> @SKKBN OR 
	 @KEY_HCKBN <> @HCKBN OR @KEY_TEKBN <> @TEKBN OR @KEY_NYMD <> @NYMD OR @KEY_NBIN <> @NBIN
	    BEGIN
		---------------------------
		-- 発注明細書NO 採番
		---------------------------
		EXEC 番号獲得 5,@KANRINO OUTPUT,@ERRCD OUTPUT
		IF @ERRCD <> 0 BEGIN	 SELECT @ERRCD = 71 	GOTO PROC_ERR	END
		-----------------------------------------
		--    明細書　出力（帳票出力テーブル'8')
		-----------------------------------------
		INSERT INTO 帳票出力テーブル (端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日)
			VALUES (HOST_NAME(),8,@MEIKKB,'',@KANRINO,0,0,'',GETDATE())
		IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 72	GOTO PROC_ERR	END
	    END

	---------------------------
	-- 発注テーブル.明細書NO 更新
	---------------------------
	UPDATE 発注テーブル SET
	    明細書NO = @KANRINO
	WHERE 発注管理NO = @HCNO
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 73	GOTO PROC_ERR	END

	--* KEY項目退避 *--
	SELECT @KEY_MEIKKB = @MEIKKB,@KEY_TORCD = @TORCD,@KEY_UKEIR = @UKEIR,@KEY_SKKBN = @SKKBN
	SELECT @KEY_HCKBN = @HCKBN,@KEY_TEKBN = @TEKBN,@KEY_NYMD = @NYMD,@KEY_NBIN = @NBIN
------------------------------------------------------------
--  発注テーブルカーソルスクロール(次レコード）  		       
------------------------------------------------------------
	FETCH NEXT FROM CHCUR INTO @MEIKKB ,@TORCD ,@UKEIR ,@SKKBN ,@HCKBN ,@TEKBN ,@NYMD ,@NBIN ,@HCNO
END

CLOSE CHCUR
DEALLOCATE CHCUR

---------------------------------------
--<<　 発注指示の時、カラ件数を加算         >>--
---------------------------------------
IF @SYORIKB = 'Y'
    BEGIN
	SELECT @MNCNT = @MNCNT + (SELECT COUNT(*) FROM 帳票出力テーブル 
						WHERE 端末番号 = HOST_NAME()
						    AND 帳票区分 = 15 
						    AND 管理文字 = '1' )
	SELECT @FAXCNT = @FAXCNT + (SELECT COUNT(*) FROM 帳票出力テーブル 
						WHERE 端末番号 = HOST_NAME()
						    AND 帳票区分 = 15 
						    AND 管理文字 = '3' )
	SELECT @MAILCNT = @MAILCNT + (SELECT COUNT(*) FROM 帳票出力テーブル 
						WHERE 端末番号 = HOST_NAME()
						    AND 帳票区分 = 15 
						    AND 管理文字 = '4' )
    END

-----------------------------
--<<　 入力データ削除         >>--
-----------------------------
IF @SYORIKB = 'G'
    BEGIN
	DELETE FROM 発注画面入力ワーク 
	WHERE 処理端末 = HOST_NAME()
	    AND 処理区分 = 1
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 25	GOTO PROC_ERR	END
    END


IF @SYORIKB = 'Y' OR @SYORIKB = 'K'
    BEGIN
	DELETE FROM 発注かんばん予定テーブル 
	WHERE 処理端末 = HOST_NAME()
	    AND 処理区分 = 1
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 26	GOTO PROC_ERR	END
    END

-----------------------------
--<<　 トランザクション開始         >>--
-----------------------------
COMMIT TRANSACTION HCCRT

--=========================================================================================--
--	
--	納品書・受領書・支給書　発行データを作成する
--	
--=========================================================================================--

EXEC 発注帳票発行データ作成 @NPAGE OUTPUT,@SPAGE OUTPUT,@JPAGE OUTPUT,
					@JAMACNT OUTPUT,@TXTCNT OUTPUT,@JCPCNT OUTPUT,@JCTCNT OUTPUT,@SCTCNT OUTPUT,@ERRCD OUTPUT
IF @ERRCD <> 0 	BEGIN 	GOTO PROC_ERR 	END



PROC_END:
--*----------*--
--*  正常終了 *--
--*----------*--
--  SELECT '入力件数' = @INCNT,'累積件数' = @HCCNT,'納品書頁数' = @NPAGE,'支給書頁数' = @SPAGE,'受領書頁数' = @JPAGE,'JAMA件数' = @JAMACNT,
--  	 '明細書件数' = @MNCNT,'臨時か件数' = @RJCNT,'現品票件数' = @GPCNT,'端数ラ件数' = @HLCNT,'自社ファイル' = @TXTCNT,
--  	'自給チケット' = @JCPCNT,'自社チケットファイル' = @JCTCNT,'支給チケットファイル' = @SCTCNT


RETURN(0)
--RETURN

PROC_ERR:
--SELECT @ERRCD
--------------
--  異常終了 --
--------------
RETURN
--RETURN







GO
