USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[受注チケット処理]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[受注チケット処理]
		 			@PROCKB TINYINT,
		 			@OUTKB  TINYINT,
		 			@CHECKKB TINYINT,
					@HEAD   VARCHAR(56),	
					-- I-O
					@BODY   VARCHAR(300)	OUTPUT,
					-- OUTPUT
					@ERR	TINYINT		OUTPUT,
					@ERRGYO TINYINT		OUTPUT AS
SET NOCOUNT ON
-- ------------------------------------------------------------------------------------
-- 											
-- 	受注チケット内容チェック ＆ データ更新
-- 											
-- 	PROCEDURE-ID	受注チケット処理						
-- 											
-- 	PARAMETER	@PROCKB : 0/チェック&データ更新、NOT 0/内容チェックのみ	
-- 			@OUTKB	: 0/リーダー,1/手入力,2/リーダー&エラー修正
-- 			@CHECKKB: 0:確認MSG未処理,1:確認MSG処理済
-- 			@HEAD	: 伝票のヘッド部
-- 			@BODY	: ( IN/OUT ) 伝票の明細部(7明細分)

-- 			@ERR	: ( OUTPUT ) チェックエラーNO				
-- 			@ERRGYO	: ( OUTPUT ) チェックエラー行NO				
-- 											
-- 	RETURN( @ERR )	0 : 正常終了							
-- 			 	1 : 対象外チケット		 2 : カード＃エラー		
-- 			 	3 : 納入先変換エラー	 	 4 : 納入先未登録
-- 			 	5 : 自社向伝票でない	 	 6 : 
-- 			 	7 : 収容数違い		 	 8 : 納入数エラー(箱数×収容数≠納入数)	
--				9 : 納入数エラー(未入力)
-- 				15: 品番取引先マスタ未登録	
-- 				16: 受注重複エラー(受注テーブル)				
-- 				17: 受注重複エラー(受注入力ワーク)				

-- 				81: 受注管理NO獲得エラー
-- 				85: 受注データ出力エラー
-- 				99: データ更新エラー						
-- 											
-- 											
--	作成日		:	2008/05/23 By CIS
--	更新日		:	2008/12/26 By CIS  取引先マスタ：変換元取引先CD追加  千代田Ver
--	更新日		:	2009/01/06 By CIS  上記廃止、受注取引先CD変換ﾏｽﾀ追加
--	
-- ------------------------------------------------------------------------------------
--T
-- DECLARE
-- 	@PROCKB TINYINT,
-- 	@OUTKB  TINYINT,
-- 	@CHECKKB TINYINT,
-- 	@TANTO  VARCHAR(15),
-- 	@HEAD   VARCHAR(56),	
-- 	-- I-O
-- 	@BODY   VARCHAR(300),
-- 	-- OUTPUT
-- 	@ERR	TINYINT,
-- 	@ERRGYO TINYINT
-- 
-- SELECT @PROCKB = 0
-- SELECT @OUTKB = 0
-- SELECT @CHECKKB = 1
-- -- 7 明細
-- SELECT @HEAD = 'A00072E933001051000A10AAAACC917388    05120501051203  01'
-- SELECT @BODY = 'B01100000000001000100010000100      X02100000000002000120020000240      X03100000000003000130030000390      X04100000000004000140040000560      X05100000000005000159990149850      X06100000000006000161110017760      X07100000000007000170070001190      TY  '
-- -- 1 明細
-- SELECT @HEAD = 'A00012W0110010530184  760099917388    05040401050402  01'
-- SELECT @BODY = '   613782804000000200010000203000010                             0                                   0                                   0                                   0                                   0                                   0          '
-- T End
----------------------
-- 退避エリア
----------------------
DECLARE @NTORCD VARCHAR(7)		-- 納入先コード
DECLARE @UKE	VARCHAR(2)		-- 受入
--============================ 2008/12/26 Start
--DECLARE @HINBN  VARCHAR(12)		-- 品番
DECLARE @HINBN  VARCHAR(15)		-- 品番
--============================ 2008/12/26 End
DECLARE @NYMD   VARCHAR(8)		-- 納入日
DECLARE @NBIN   VARCHAR(2)		-- 納入便
DECLARE @SYUYO  INT			-- 収容数
DECLARE @SEBAN  VARCHAR(3)		-- 背番号
DECLARE @HAKO	INT			-- 箱数
DECLARE @SURYO  INT			-- 納入数
DECLARE @HASU	INT			-- 端数
DECLARE @UHASU  INT			-- 打切端数
DECLARE @UKB  	TINYINT			-- 打切区分
DECLARE @UZAN 	INT			-- 打切残数	
DECLARE @KIBAN	VARCHAR(2)		-- 機番
DECLARE @NOUNO  VARCHAR(5)		-- 納入番号
DECLARE @PAGENO TINYINT			-- ﾍﾟｰｼﾞ	
DECLARE @HKB    TINYINT			-- 発注区分
DECLARE @INTYPE VARCHAR(1)		-- 作成種別

DECLARE @GDBRFLG VARCHAR(7)		--  明細行重複チェック用(受注テーブル重複)
DECLARE @WDBRFLG VARCHAR(7)		--  明細行重複チェック用(受注入力ワーク重複)
----------------------
-- ワーク退避エリア
----------------------
DECLARE @WORK		VARCHAR(30)
DECLARE @TIWORK 	INT
DECLARE @TIWORK2 	INT
DECLARE @IWORK1		INT
DECLARE @IWORK2		INT
DECLARE @IWORK3		INT

--================================== 2008/12/26 Start
DECLARE @SIM_HINBN  VARCHAR(25)
DECLARE @SIM_TORCD	VARCHAR(7)
DECLARE @SIM_UKE	VARCHAR(2)
--================================== 2008/12/26 End

DECLARE @WRTN		TINYINT		--  リターン
----------------------
-- 初期値設定
----------------------
SELECT @ERR = 0
SELECT @ERRGYO = 0


---------------------------------------------------
--_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
--
-- 		内容チェック
--
--_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
---------------------------------------------------

----------------------------------
-- 対象チェック (ﾃﾞｰﾀ区分、分割)
----------------------------------
IF LEN(@HEAD) < 56 or SUBSTRING(@HEAD,1,1) <> 'A' or SUBSTRING(@HEAD,14,1) <> '0'
   BEGIN
	SELECT @ERR = 1
	GOTO END_PROC	
   END

--------------------------
-- カード＃チェック
--------------------------
-- IF SUBSTRING(@HEAD,22,1) <> '1'
--    BEGIN
-- 	SELECT @ERR = 2
-- 	GOTO END_PROC	
--    END
-- 
--------------------------
-- 発注区分
--------------------------

SELECT @HKB = CONVERT(TINYINT,SUBSTRING(@HEAD,6,1))


-------------------------------
-- 納入先を求める・ 受入退避
-------------------------------
SELECT @NTORCD = ''
SELECT @UKE = SUBSTRING( @HEAD, 27, 2 )
SELECT @NTORCD = SUBSTRING( @HEAD, 23, 4 )	--支給先	
SELECT @UKE = SUBSTRING( @HEAD, 27, 2 )		--受入

/*		2008/12/26 Start
SELECT @WORK = NULL
SELECT @WORK = ( SELECT MIN(取引先CD) FROM 取引先受入マスタ 
					WHERE 取引先区分 = 0
					  AND SUBSTRING(取引先CD,1,4) = @NTORCD 
					  And 受入                    = @UKE  )
IF @WORK IS NULL
   BEGIN
	SELECT @ERR = 3
	GOTO END_PROC
  END

SELECT @NTORCD = @WORK

		2008/12/26 End */

--============================ 2009/01/06 Start
SELECT @WORK = NULL,@SIM_UKE = NULL
--①取引先CD/受入にて変換マスタを検索
SELECT @WORK = MIN(変換先CD),@SIM_UKE = MIN(変換先受入)
				    FROM 受注取引先CD変換マスタ
					WHERE SUBSTRING(変換元CD,1,4) = @NTORCD 
					  And 変換元受入              = @UKE  
IF @WORK IS NULL
   BEGIN
	SELECT @WORK = NULL,@SIM_UKE = NULL
	--②取引先CDだけで変換マスタを検索
	SELECT @WORK = MIN(変換先CD)
						FROM 受注取引先CD変換マスタ
						WHERE SUBSTRING(変換元CD,1,4) = @NTORCD 
	IF @WORK IS NULL
	   BEGIN
		SELECT @WORK = NULL,@SIM_UKE = NULL
	--③取引先CD/受入で取引先受入マスタを検索
		SELECT @WORK = MIN(取引先CD),@SIM_UKE = MIN(受入)
						FROM 取引先受入マスタ 
							WHERE 取引先区分 = 0
							  AND SUBSTRING(取引先CD,1,4) = @NTORCD 
							  And 受入                    = @UKE  

		IF @WORK IS NULL
		   BEGIN
			--上記全てに当てはまらない場合はエラーとする
			SELECT @ERR = 3
			GOTO END_PROC
		   END
	   END
	ELSE
	   BEGIN
		SELECT @SIM_UKE = @UKE
	   END
  END

SELECT @NTORCD = @WORK
SELECT @UKE = @SIM_UKE
--============================ 2009/01/06 End

--------------------------
-- 自社伝票チェック
--------------------------
SELECT @WORK = NULL
SELECT @WORK = 被自社CD FROM 取引先マスタ 
				WHERE 取引先区分 = 0
				  AND 取引先CD = @NTORCD
IF @WORK IS NULL
   BEGIN

	SELECT @WORK = NULL
	SELECT @WORK = 被自社CD FROM 取引先マスタ 
					WHERE 取引先区分 = 0
					  AND 取引先CD = @SIM_TORCD
	
	IF @WORK IS NULL
	   BEGIN
		SELECT @ERR = 4
		GOTO END_PROC
	   END

	/*
	SELECT @ERR = 4
	GOTO END_PROC
	*/
  END

IF @WORK <> ''
   BEGIN
	IF SUBSTRING(@WORK,1,4) <> SUBSTRING( @HEAD, 16, 4 )
	   BEGIN
		SELECT @ERR = 5
		GOTO END_PROC
	   END
   END


--------------------------------------------------------
--------------------------------------------------------
--
--		明細内容チェック
--
--------------------------------------------------------
--------------------------------------------------------

-- 項目退避
SELECT @NYMD = '20' + SUBSTRING( @HEAD, 39, 6 )
SELECT @NBIN = SUBSTRING( @HEAD, 45, 2 )

SELECT @GDBRFLG = ''
SELECT @WDBRFLG = ''


SELECT @TIWORK = 0
WHILE ( @TIWORK <= 6 )
   BEGIN
	SELECT @TIWORK2 = @TIWORK * 36
	-- 背番・品番なしは処理対象外(明細ﾁｪｯｸ終了)
	IF SUBSTRING( @BODY, @TIWORK2 + 1, 15 ) = ''	BREAK
	SELECT @WORK = RTRIM(SUBSTRING( @BODY, @TIWORK2 + 1, 15 ))
	IF @WORK = '' OR @WORK IS NULL 	BREAK
	
	-- 項目退避(明細)
	SELECT @HINBN = SUBSTRING( @BODY, @TIWORK2 + 4, 12 )
	SELECT @GDBRFLG = RTRIM(@GDBRFLG) + '0'
	SELECT @WDBRFLG = RTRIM(@WDBRFLG) + '0'

	--【 品番取引先マスタ確認 】 
	SELECT  @SYUYO = NULL
	SELECT  @SYUYO = CASE
				WHEN 変更日 <> '' AND 変更日 + 変更便 <= @NYMD + @NBIN 
					THEN 収容数2
					ELSE 収容数1
			  END
				FROM 品番取引先マスタ
				WHERE 品番    = @HINBN
				  AND 取引先  = @NTORCD
				  AND 受入    = @UKE
				  AND 品目    = 0
	IF @SYUYO IS NULL 
	   BEGIN
		--======================= 2009/01/06 Start		
		SELECT  @SYUYO = CASE
					WHEN 変更日 <> '' AND 変更日 + 変更便 <= @NYMD + @NBIN 
						THEN 収容数2
						ELSE 収容数1
				  END
				,@SIM_HINBN = 品番,@SIM_UKE = 受入
					FROM 品番取引先マスタ
					WHERE REPLACE(品番,'-','')    = @HINBN
					  AND 取引先  = @NTORCD
					  AND 受入    = @UKE
					  AND 品目    = 0

		IF @SYUYO IS NULL 
		   BEGIN
			SELECT @ERR = 15
			SELECT @ERRGYO = @TIWORK + 1
			GOTO END_PROC
		   END
		--======================= 2009/01/06 End

		/* 2008/12/26 Start
		SELECT @ERR = 15
		SELECT @ERRGYO = @TIWORK + 1
		GOTO END_PROC
		   2008/12/26 End */
	   END
	ELSE
	   --====================== 2008/12/26 Start
	   BEGIN
		SELECT @SIM_HINBN = @HINBN
		SELECT @SIM_UKE = @UKE
	   END 
	   --====================== 2008/12/26 End

	--========================= 2008/12/26 Start	
	--SELECT @NTORCD = @SIM_TORCD	
	--SELECT @UKE = @SIM_UKE
	SELECT @HINBN = @SIM_HINBN
	--========================= 2008/12/26 End

	--///////////////////////
	--//	省略値セット
	--///////////////////////
	-- 箱数 
	IF CONVERT( SMALLINT, SUBSTRING( @BODY, @TIWORK2 + 21, 3)) =  0
	   BEGIN
		SELECT @BODY = STUFF( @BODY, @TIWORK2 + 21,  3, '001' )
	   END
	-- 収容数 
	IF CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 16, 5 )) =   0 AND
	   CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 24, 6 )) <>  0
	   BEGIN
		SELECT @IWORK1 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 24, 6 ))	-- 納入数
		SELECT @IWORK2 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 21, 3 ))	-- 箱数
		SELECT @IWORK3 = @IWORK1 / @IWORK2
		SELECT @WORK   = CONVERT( VARCHAR(5), @IWORK3 )
		SELECT @WORK   = ISNULL(REPLICATE('0', 5  - LEN(RTRIM(@WORK))) + RTRIM(@WORK), REPLICATE('0',5))
		SELECT @BODY = STUFF( @BODY, @TIWORK2 + 16, 5, @WORK )
	   END
	-- 納入数 
	IF CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 24, 6 )) =  0
	   BEGIN
		SELECT @IWORK1 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 16, 5 ))	-- 収容数

		SELECT @IWORK2 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 21, 3 ))	-- 箱数
		SELECT @IWORK3 = @IWORK1 * @IWORK2
		SELECT @WORK   = CONVERT( VARCHAR(6), @IWORK3 )
		SELECT @WORK   = ISNULL(REPLICATE('0', 6  - LEN(RTRIM(@WORK))) + RTRIM(@WORK), REPLICATE('0',6))
		SELECT @BODY   = STUFF( @BODY, @TIWORK2 + 24, 6, @WORK )
	   END
	IF CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 24, 6 )) =  0
	   BEGIN
		SELECT @ERR = 9
		SELECT @ERRGYO = @TIWORK + 1
		GOTO END_PROC
	   END
	IF @CHECKKB = 0
	   BEGIN
-- -- -- -- 		-- 【 収容数チェック 】 
-- -- -- -- 		SELECT @IWORK1 = ISNULL( @SYUYO, 0 )
-- -- -- -- 		SELECT @IWORK2 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 16, 5 ))
-- -- -- -- 		IF @IWORK1 <> 0 AND @IWORK1 <> @IWORK2
-- -- -- -- 		   BEGIN
-- -- -- -- 			SELECT @ERR = 7
-- -- -- -- 			SELECT @ERRGYO = @TIWORK + 1
-- -- -- -- 			GOTO END_PROC
-- -- -- -- 		   END
		-- 【 納入数チェック 】 
		SELECT @IWORK1 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 21, 3 ))	-- 箱数
		SELECT @IWORK2 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 16, 5 ))	-- 収容数
		SELECT @IWORK3 = @IWORK1 * @IWORK2	
		SELECT @IWORK1 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 24, 6 ))	-- 納入数
		IF @IWORK1 <> @IWORK3
		   BEGIN
			SELECT @ERR = 8
			SELECT @ERRGYO = @TIWORK + 1
			GOTO END_PROC
		   END
	   END
	--------------------------------------------------------------------
	-- 受注重複チェック【 受注テーブルとの重複チェック 明細行単位 】 
	---------------------------------------------------------------------
	SELECT @IWORK1 = 0
	SELECT @IWORK1 = ( SELECT COUNT(品番) FROM 受注テーブル

				WHERE 納入先     = @NTORCD
				  AND 受入	 = @UKE
				  AND 納入番号   = SUBSTRING( @HEAD, 7, 5 ) 
				  AND 品番 	 = @HINBN
				  AND 背番号     = SUBSTRING( @BODY, @TIWORK2 + 1, 3 )
				  AND 枚数	 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 21, 3 ))
				  AND 納入数     = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 24, 6 )) )
	IF @IWORK1 <> 0		SELECT @GDBRFLG = STUFF( @GDBRFLG, @TIWORK + 1, 1, '1' )

	--------------------------------------------------------------------
	-- 受注重複チェック【 受注入力ワークとの重複チェック 明細行単位 】 
	---------------------------------------------------------------------
	SELECT @IWORK1 = 0
	SELECT @IWORK1 = ( SELECT COUNT(品番) FROM 受注入力ワーク
				WHERE 端末番号   = Host_Name()
				  AND 納入先     = @NTORCD
				  AND 受入	 = @UKE
				  AND 納入番号   = SUBSTRING( @HEAD, 7, 5 ) 
				  AND 品番 	 = @HINBN
				  AND 背番号     = SUBSTRING( @BODY, @TIWORK2 + 1, 3 )
				  AND 枚数	 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 21, 3 ))
				  AND 納入数     = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 24, 6 )) )
	IF @IWORK1 <> 0		SELECT @WDBRFLG = STUFF( @WDBRFLG, @TIWORK + 1, 1, '1' )

	SELECT @TIWORK = @TIWORK + 1
   END
--------------------------------------------------------
--
--		受注テーブル　重複チェック
--
--------------------------------------------------------
IF @GDBRFLG = REPLICATE( '1', LEN(RTRIM(@GDBRFLG)) )
   BEGIN
-- 	-----------------------------------------------
-- 		受注テーブル カーソル定義		
-- 	-----------------------------------------------
	DECLARE GJYCUR SCROLL CURSOR
	FOR 
		SELECT COUNT(品番), 受注管理NO  FROM 受注テーブル
					WHERE 納入先    = @NTORCD
					  AND 受入	= @UKE
					  AND 納入番号  = SUBSTRING( @HEAD, 7, 5 ) 
					  AND 納品書頁  = CONVERT(TINYINT,SUBSTRING( @HEAD, 12, 2 ))
					  GROUP BY 受注管理NO
	FOR READ ONLY
	OPEN GJYCUR
	SELECT @IWORK3 = 0
-- 	*---------------------------------------*
-- 	*	受注テーブル 読込		*
-- 	*---------------------------------------*
	FETCH NEXT FROM GJYCUR INTO	@IWORK1, @IWORK2
	WHILE (@@FETCH_STATUS <> -1)
	   BEGIN
		IF (@@FETCH_STATUS <> -2)
		   BEGIN
			IF @IWORK1 = LEN(RTRIM(@GDBRFLG))
			   BEGIN
				SELECT @IWORK3 = 1
			   END
		   END
		FETCH NEXT FROM GJYCUR INTO	@IWORK1, @IWORK2
	   END
	CLOSE GJYCUR
	DEALLOCATE GJYCUR
	IF @IWORK3 <> 0		BEGIN	SELECT @ERR = 16	GOTO END_PROC	END
   END


--------------------------------------------------------
--
--		受注入力ワーク　重複チェック
--
--------------------------------------------------------
IF @WDBRFLG = REPLICATE( '1', LEN(RTRIM(@WDBRFLG)) )
   BEGIN
-- 	-----------------------------------------------
-- 		受注入力ワーク カーソル定義		
-- 	-----------------------------------------------
	DECLARE WJYCUR SCROLL CURSOR
	FOR 
		SELECT COUNT(品番), 受注管理NO  FROM 受注入力ワーク
					WHERE 端末番号  = Host_Name()
					  AND 納入先    = @NTORCD
					  AND 受入	= @UKE
					  AND 納入番号  = SUBSTRING( @HEAD, 7, 5 ) 
					  AND 納品書頁  = CONVERT(TINYINT,SUBSTRING( @HEAD, 12, 2 ))
					  GROUP BY 受注管理NO
	FOR READ ONLY
	OPEN WJYCUR
	SELECT @IWORK3 = 0
-- 	*---------------------------------------*
-- 	*	受注入力ワーク 読込		*
-- 	*---------------------------------------*
	FETCH NEXT FROM WJYCUR INTO	@IWORK1, @IWORK2
	WHILE (@@FETCH_STATUS <> -1)
	   BEGIN
		IF (@@FETCH_STATUS <> -2)
		   BEGIN
			IF @IWORK1 = LEN(RTRIM(@WDBRFLG))
			   BEGIN
				SELECT @IWORK3 = 1
			   END
		   END
		FETCH NEXT FROM WJYCUR INTO	@IWORK1, @IWORK2
	   END
	CLOSE WJYCUR
	DEALLOCATE WJYCUR
	IF @IWORK3 <> 0		BEGIN	SELECT @ERR = 17	GOTO END_PROC	END
   END

--------------------------------------------------------
--------------------------------------------------------
--
--		チェック終了処理
--
--------------------------------------------------------
--------------------------------------------------------
CHECK_END:

IF @PROCKB <> 0 OR @ERR <> 0 GOTO END_PROC


---------------------------------------------------
--_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
--
-- 		更  新  処  理
--
--_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
---------------------------------------------------

DECLARE @KANRNO		INT	-- 受注管理NO
DECLARE @KANRGNO	TINYINT	-- 受注管理行NO

SELECT @KANRNO = 0
SELECT @KANRGNO = 1

SELECT @KIBAN = SUBSTRING(@HEAD,29,2)
SELECT @NOUNO = SUBSTRING(@HEAD,7,5)
SELECT @PAGENO = CONVERT(TINYINT,SUBSTRING(@HEAD,12,2))

--作成種別 (0/リーダー,1/手入力,2/リーダー&エラー修正)
SELECT @INTYPE = 'D'
IF @OUTKB = 1 BEGIN  SELECT @INTYPE = 'E'  END
IF @OUTKB = 2 BEGIN  SELECT @INTYPE = 'F'  END

---------------------------------------------
--
--	明細行単位出力
--
---------------------------------------------
SELECT @TIWORK = 0
WHILE ( @TIWORK <= 6 )
   BEGIN
	SELECT @TIWORK2 = @TIWORK * 36
	-- 背番・品番なしは処理対象外
	IF SUBSTRING( @BODY, @TIWORK2 + 1, 15 ) = ''	BREAK
	SELECT @WORK = RTRIM(SUBSTRING( @BODY, @TIWORK2 + 1, 15 ))
	IF @WORK = '' OR @WORK IS NULL 	BREAK

	-- ----------------------------------
	--  受注管理NO 採番 
	-- ----------------------------------
	IF @KANRNO = 0
	   BEGIN
		EXEC 番号獲得  11,  @KANRNO OUTPUT, @WRTN OUTPUT
		IF @WRTN <> 0 	BEGIN	SELECT @ERR = 81	GOTO END_PROC_ERR	END
	   END

	SELECT @KANRGNO = @TIWORK + 1

	
	-- 項目退避(明細)
	SELECT @HINBN = SUBSTRING( @BODY, @TIWORK2 + 4, 12 )			-- 品番

	--==================== 2008/12/26 Start
	SELECT @SIM_HINBN = NULL
	SELECT @SIM_HINBN = 品番 from 品番マスタ
	WHERE REPLACE(品番,'-','') = @HINBN
	IF @SIM_HINBN = NULL 
	   BEGIN
		SELECT @SIM_HINBN = @HINBN
	   END
	ELSE
	   BEGIN
		SELECT @HINBN = @SIM_HINBN
	   END
		
	--==================== 2008/12/26 End

	SELECT @SEBAN = SUBSTRING( @BODY, @TIWORK2 + 1, 3 )			-- 背番号
	SELECT @HAKO = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 21, 3 ))	-- 箱数
	SELECT @SYUYO = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 16, 5 ))	-- 収容数
	SELECT @SURYO = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 24, 6 ))	-- 納入数
	SELECT @HASU = 0
	IF @SYUYO <> 0
	    BEGIN
		SELECT @HASU = @SURYO % @SYUYO
	    END
	SELECT @UKB = CONVERT( TINYINT, SUBSTRING( @BODY, @TIWORK2 + 30, 1 ))	-- 打切区分
	SELECT @UZAN = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 31, 6 ))	-- 打切残数
	-- 打切端数
	SELECT @UHASU = 0
	IF @UKB = 3
	   BEGIN
		SELECT @UHASU =	@HASU
	   END

	---------------------------
	--/////////////////////////
	--
	--   受注入力ワーク出力
	--
	--/////////////////////////
	---------------------------
          INSERT INTO 受注入力ワーク 
			(端末番号, 受注管理NO,受注管理行NO,受注区分, 受注日, 受注便,
			 納入日,納入便, 納入先, 出荷予定日, 出荷予定便,受入, 機番,
			 納入番号,納品書頁,納品書行,分納区分, 分納回数,
			 品番, 背番号,枚数,収容数, 納入数, 端数,
			 出荷指示書NO,出荷指示書行NO, 抜取枚数, 納品書発行区分,
			 エフ発行枚数, エフ発行端数,
			 作成種別, 累積区分, 納品書管理NO, 元出荷指示書NO,元出荷指示書行NO)
		Values
			(Host_Name(),@KANRNO,@KANRGNO,@HKB,@NYMD,@NBIN,
			 @NYMD,@NBIN,@NTORCD,@NYMD,@NBIN,@UKE,@KIBAN,
			 @NOUNO,@PAGENO,@KANRGNO,0,0,
			 @HINBN,@SEBAN,@HAKO,@SYUYO,@SURYO,@HASU,
 			 0,0,0,1,
			 0,0,
			 @INTYPE,0,0,0,0)
	IF @@ERROR <> 0	BEGIN	 SELECT @ERR = 85	GOTO END_PROC_ERR	END

	SELECT @TIWORK = @TIWORK + 1
   END

-- ----------------------------
-- 	終  了  処  理	
-- ----------------------------
END_PROC:
RETURN (0)
-- ------------------------------------
-- 	テーブル更新時 異常終了処理	
-- ------------------------------------
END_PROC_ERR:
RETURN (99)
-- TEST
-- IF @ERR <> 0
--    BEGIN
--  	SELECT 'ERR=' + CONVERT(CHAR(2),@ERR),'ERGYO=' + CONVERT(CHAR(1),@ERRGYO)
--    END 
-- TEST END


/****** オブジェクト:  StoredProcedure [dbo].[受注丸高伝票チェック]    スクリプト日付: 01/14/2009 10:28:33 ******/
SET ANSI_NULLS ON

GO
