USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[cFORMAT9]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [dbo].[cFORMAT9] @KETA TINYINT, @VAL INT,@FTYPE TINYINT, @RESULT CHAR(20) OUTPUT AS
-- *------------------------------------------------------------------------------------------
-- *
-- *	FORMAT(0)
-- *
-- *	パラメータ	：	@KETA 	- 桁数
-- *				@VAL  	- 対象数値
-- *				@FTYPE 	- 0/前ｾﾞﾛ編集,1/前ｽﾍﾟｰｽ編集
-- *				@RESULT - 結果	( OUTPUT )
-- *
-- *	説明		：	数値データ(INT型)を桁数に合わせて、編集
-- *
-- *	結果		：	桁数 = 0 なら、NULL
-- *				対象数値桁数 > 指定桁数なら、指定桁数分｢*｣
-- *
-- *	使用例		：	
-- *		DECLARE @X	CHAR(15)
-- *
-- *		EXEC cFORMAT_I_ZERO 3,10,0,@X OUTPUT
-- *
-- *------------------------------------------------------------------------------------------

IF @FTYPE = 0
   BEGIN
	SELECT @RESULT = RIGHT(REPLICATE('0',@KETA)+LTRIM(STR(@VAL,@KETA)),@KETA)
   END
ELSE
   BEGIN
	SELECT @RESULT = RIGHT(REPLICATE(' ',@KETA)+LTRIM(STR(@VAL,@KETA)),@KETA)
   END





GO
