USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[TOPPS受注変換]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[TOPPS受注変換] (@PROCKB VARCHAR(1)) AS
-- *------------------------------------------------------------------------------------------------------
-- *
-- *	ＴＯＰＰＳ 受 注 変 換 処 理
-- *
-- *		読込元テキスト：	INIFILE	[Topps]
-- *					JY_TEXT_Name=HSTEIKYO
-- *					JY_TEXTID=.BAK
-- *					JY_TEXTID_Change=.OLD
-- *
-- *				HSTEIKYO.BAK	→	HSTEIKYO.OLD
-- *
-- *		パラメータ：	@PROCKB		-	1:エラー再変換、その他:通常変換
-- *
-- *
-- *
-- *		CREATE	DATE	:
-- *		    UP	DATE	:	2004.11.29	TOPPS受注変換テキスト　PK変更
-- *		    UP	DATE	:	2004.12.08	パラメータの追加
-- *		    UP	DATE	:	2005.02.09	TOPPS受注変換テキスト作成時、受注テーブルチェックに品番追加
-- *		    UP	DATE	:   2008/04/11  背番号8桁 
-- *			UP  DATE	:	2009/01/06  受注取引先CD変換ﾏｽﾀ追加
-- *			UP  DATE	:	2009/01/22  バグ修正
-- *
-- *------------------------------------------------------------------------------------------------------
DECLARE @INCNT		INT
DECLARE	@OUTCNT		INT
DECLARE @ERRCNT		INT
DECLARE @ERR		VARCHAR(2)
DECLARE @ERRN		VARCHAR(50)
DECLARE @ERR_RKANRI	INT
DECLARE	@DUPLICNT	INT

SELECT @INCNT = 0
SELECT @OUTCNT = 0
SELECT @ERRCNT = 0
SELECT @ERR_RKANRI = 0
SELECT @ERR = ''
SELECT @ERRN = ''

DECLARE @JW_RKANRI	INT
DECLARE @JW_JSKBN	TINYINT
DECLARE @JW_FNAME	VARCHAR(20)
DECLARE @JW_JYKBN	TINYINT
DECLARE @JW_JDATE	VARCHAR(8)
DECLARE @JW_JBIN	VARCHAR(2)
DECLARE @JW_SDATE	VARCHAR(8)
DECLARE @JW_SBIN	VARCHAR(2)
DECLARE @JW_NDATE	VARCHAR(8)
DECLARE @JW_NBIN	VARCHAR(2)
DECLARE @JW_TORCD	VARCHAR(5)
DECLARE @JW_UKEIR	VARCHAR(2)
DECLARE @JW_KEIYK	VARCHAR(7)
DECLARE @JW_SKKBN	TINYINT
DECLARE @JW_KIBAN	VARCHAR(2)
DECLARE @JW_NOUNO	VARCHAR(5)
DECLARE @JW_NOGYO	TINYINT
DECLARE @JW_HINBN	VARCHAR(12)
DECLARE @JW_SEBAN	VARCHAR(8)

DECLARE @JW_MAISU	INT
DECLARE @JW_SYUYO	INT
DECLARE @JW_SURYO	INT
DECLARE @JW_HASUR	INT

DECLARE @JW_ERR		VARCHAR(10)
DECLARE @JW_ERR1	VARCHAR(1)
DECLARE @JW_ERR2	VARCHAR(1)
DECLARE @JW_ERR3	VARCHAR(1)
DECLARE @JW_ERR4	VARCHAR(1)
DECLARE @JW_ERR5	VARCHAR(1)
DECLARE @JW_ERR6	VARCHAR(1)
DECLARE @JW_ERR7	VARCHAR(1)
DECLARE @JW_ERR8	VARCHAR(1)

DECLARE @JW_JNO		INT
DECLARE @JW_JGYO	TINYINT
DECLARE @JW_SJNO	INT
DECLARE @JW_SJGYO	TINYINT
DECLARE @JW_NKANRI	INT

DECLARE @WW_JNO		INT
DECLARE @WW_NKANRI	INT

DECLARE @HW_HINBN	VARCHAR(25)
DECLARE @HN_SYUYO	INT
DECLARE @HN_SEBAN	VARCHAR(5)
DECLARE @HT_SYUYO1	INT
DECLARE @HT_SYUYO2	INT
DECLARE @HT_CDATE	VARCHAR(8)
DECLARE @HT_CBIN	VARCHAR(2)
DECLARE @HT_SEBAN	VARCHAR(8)

DECLARE @RTN		TINYINT

DECLARE @BK_RKANRI	INT
SELECT @BK_RKANRI = 0
-- * 出荷指示書採番用 退避
DECLARE @SJW_JYKBN	TINYINT
DECLARE @SJW_SDATE	VARCHAR(8)
DECLARE @SJW_SBIN	VARCHAR(2)
DECLARE @SJW_TORCD	VARCHAR(7)
DECLARE @SJW_UKEIR	VARCHAR(7)
DECLARE @SJW_NDATE	VARCHAR(8)
DECLARE @SJW_NBIN	VARCHAR(2)
DECLARE @SJW_SKKBN	TINYINT
DECLARE @SJW_KEIYK	VARCHAR(7)
DECLARE @SJW_MAXNO	TINYINT
SELECT @SJW_MAXNO = 15

SET NOCOUNT ON
-- * --------------------------------------------------------------------------------
-- *	TOPPS受注変換エラー 削除
-- * --------------------------------------------------------------------------------
DELETE TOPPS受注変換テキスト
	WHERE 端末番号 = HOST_NAME()

IF @@ERROR <> 0 BEGIN SELECT @ERR = '20'   GOTO PROC_ERR  END

-- * --------------------------------------------------------------------------------
-- *
-- *	TOPPS受注変換テキスト 作成
-- *
-- * --------------------------------------------------------------------------------
INSERT INTO TOPPS受注変換テキスト
	(端末番号,受注管理NO,受注管理行NO,受注区分,受注日,受注便,
	 納入日,納入便,納入先,受入,出荷予定日,出荷予定便,
	 納入番号,納品書頁,納品書行,分納区分,分納回数,品番,背番号,
	 枚数,収容数,納入数,端数,出荷指示書NO,出荷指示書行NO,
	 納品書管理NO,元出荷指示書NO,元出荷指示書行NO,
	 ERR1, ERR2, ERR3, ERR4, ERR5, ERR6, ERR7, 
	 履歴管理番号,受注出荷区分,ファイルID,作成日)

	SELECT SUBSTRING(HOST_NAME(),1,20) 端末番号,
		CASE WHEN ISNULL(J2.受注管理NO,0) = 0 THEN 0 ELSE J2.受注管理NO END 受注管理NO,
		CONVERT(TINYINT,SUBSTRING(TB.REC,7,3)) 受注管理行NO,
		1 受注区分, 
		SUBSTRING(TA.REC,50,8) 受注日, 
		SUBSTRING(TA.REC,58,2) 受注便,
		SUBSTRING(TA.REC,60,8) 納入日, 
		SUBSTRING(TA.REC,68,2) 納入便,
--================================================= 2009/01/08 Start
--		SUBSTRING(TA.REC,40,5) 納入先, 
--		SUBSTRING(TA.REC,45,2) 受入,	
/* --2009/01/22 UPDATE
		CASE WHEN ISNULL(H1.変換先CD,'') <> '' THEN H1.変換先CD 
			 WHEN ISNULL(H1.変換先CD,'') = '' AND ISNULL(H2.変換先CD,'') <> '' THEN H2.変換先CD
		ELSE SUBSTRING(TA.REC,40,5) END 納入先, 
		CASE WHEN ISNULL(H1.変換先受入,'') <> '' THEN H1.変換先受入 
		ELSE SUBSTRING(TA.REC,45,2) END 受入,	
*/ 
		TR.取引先CD 納入先,TU.受入 受入,
--================================================= 2009/01/08 End
		SUBSTRING(TA.REC,60,8) 出荷予定日, 
		SUBSTRING(TA.REC,68,2) 出荷予定便,
		SUBSTRING(TA.REC,11,5)  納入番号,
		0 納品書頁,
		CONVERT(TINYINT,SUBSTRING(TB.REC,7,3)) 納品書行,	
		0 分納区分, 0 分納回数,
--================================================= 2009/01/08 Start
--		SUBSTRING(TB.REC,10,12) 品番,
		CASE WHEN ISNULL(HN.品番,'') <> '' THEN HN.品番 ELSE SUBSTRING(TB.REC,10,12) END 品番,
--================================================= 2009/01/08 End
		LTRIM(SUBSTRING(TB.REC,22,3))  背番号,
		CONVERT(INT,SUBSTRING(TB.REC,4,3)) 枚数,
		CONVERT(INT,SUBSTRING(TB.REC,25,5)) 収容数,

		CONVERT(INT,SUBSTRING(TB.REC,4,3)) * CONVERT(INT,SUBSTRING(TB.REC,25,5)) 納入数,
		CONVERT(INT,SUBSTRING(TB.REC,30,5)) 端数,
		CASE WHEN ISNULL(JY.出荷指示書NO,0) = 0 THEN 0 ELSE JY.出荷指示書NO END 出荷指示書NO,
		CASE WHEN ISNULL(JY.出荷指示書行NO,0) = 0 THEN 0 ELSE JY.出荷指示書行NO END 出荷指示書行NO,
		CASE WHEN ISNULL(J2.納品書管理NO,0) = 0 THEN 0 ELSE J2.納品書管理NO END 納品書管理NO,
		0 元出荷指示書NO,
		0 元出荷指示書行NO,
		CASE WHEN ISNULL(JY.受注管理NO,0) = 0 THEN '' ELSE '1' END ERR1,
		CASE WHEN ISNULL(TR.取引先CD,'') <> '' THEN '' ELSE '1' END ERR2,
		CASE WHEN ISNULL(TU.取引先CD,'') <> '' THEN '' ELSE '1' END ERR3,
		CASE WHEN ISNULL(HN.品番,'') <> '' THEN '' ELSE '1' END ERR4,
		CASE WHEN ISNULL(HT.品番,'') <> '' THEN '' ELSE '1' END ERR5,
		CASE WHEN ISNULL(HT.品番,'') <> '' 
			THEN	CASE WHEN RTRIM(HT.変更日) = '' OR HT.変更日 + HT.変更便 > SUBSTRING(TA.REC,60,10)
					THEN CASE WHEN HT.収容数1 = CONVERT(INT,SUBSTRING(TB.REC,25,5)) THEN '' ELSE '1' END
					ELSE CASE WHEN HT.収容数2 = CONVERT(INT,SUBSTRING(TB.REC,25,5)) THEN '' ELSE '1' END
				END
			ELSE ''
		END ERR6,
		CASE WHEN ISNULL(HT.背番号,'') <> ''
			THEN 	CASE WHEN HT.背番号 = LTRIM(SUBSTRING(TB.REC,22,3)) THEN '' ELSE '1' END
			ELSE ''
		END ERR7,	
		TP.履歴管理番号,	TP.受注出荷区分,	TP.ファイルID,GETDATE()

		FROM TOPPS変換履歴テーブル TP
		LEFT OUTER JOIN TOPPS変換テキスト TA
		  ON TP.履歴管理番号 = TA.履歴管理番号
		 AND TP.受注出荷区分 = TA.受注出荷区分
		 AND TP.ファイルID = TA.ファイルID
		 AND SUBSTRING(TA.REC,2,1) = 'A'
--
--< 2004.11.29 MNT START >============================================================================================================
--
/*		
		LEFT OUTER JOIN TOPPS変換テキスト TB
		  ON TA.履歴管理番号 = TB.履歴管理番号
		 AND TA.受注出荷区分 = TB.受注出荷区分
		 AND TA.ファイルID = TB.ファイルID
		 AND TA.納入番号 = TB.納入番号
		 AND SUBSTRING(TB.REC,2,1) = 'B'

		LEFT OUTER JOIN 受注テーブル JY
		  ON JY.納入先 = SUBSTRING(TA.REC,40,5)
		 AND JY.受入 = SUBSTRING(TA.REC,45,2)
		 AND JY.納入番号 = SUBSTRING(TA.REC,11,5)
		 AND JY.品番 = SUBSTRING(TB.REC,10,12)
		 AND JY.背番号 = SUBSTRING(TB.REC,22,3)

		LEFT OUTER JOIN (SELECT 納入番号,納入先,受入,納品書管理NO,受注管理NO
					FROM 受注テーブル
					GROUP BY 納入番号,納入先,受入,納品書管理NO,受注管理NO ) J2
		  ON J2.納入先 = SUBSTRING(TA.REC,40,5)
		 AND J2.受入 = SUBSTRING(TA.REC,45,2)
		 AND J2.納入番号 = SUBSTRING(TA.REC,11,5)
*/
		LEFT OUTER JOIN TOPPS変換テキスト TB
		  ON TA.履歴管理番号 = TB.履歴管理番号
		 AND TA.受注出荷区分 = TB.受注出荷区分
		 AND TA.ファイルID = TB.ファイルID
		 AND TA.納入番号 = TB.納入番号
		 AND TA.納入先 = TB.納入先
		 AND TA.納入先工場 = TB.納入先工場
		 AND TA.受入 = TB.受入
		 AND TA.納入日 = TB.納入日
		 AND TA.納入便 = TB.納入便
		 AND SUBSTRING(TB.REC,2,1) = 'B'
		LEFT OUTER JOIN 受注テーブル JY
--============================================ 2009/01/08 Start
--		  ON JY.納入先 = SUBSTRING(TA.REC,40,5)
--		 AND JY.受入 = SUBSTRING(TA.REC,45,2)
			--TOPPSﾃｷｽﾄ:納入先CDが取引先ﾏｽﾀに存在する場合はそのまま使用				
		  ON JY.納入先 = CASE WHEN ( SELECT MIN(取引先CD) FROM 取引先マスタ 
													WHERE 取引先CD = SUBSTRING(TA.REC,40,5)
													  AND 取引先区分 = 0 ) IS NULL THEN 
									--TOPPSﾃｷｽﾄ:納入先CDが取引先ﾏｽﾀに存在しない場合,受注取引先CD変換マスタ検索				
									--順位①.変換元CD/変換元受入にて検索
									CASE WHEN ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HT 
																WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5) 
																  AND JH.変換元受入 = SUBSTRING(TA.REC,45,2)
																  AND HT.取引先 = JH.変換先CD
																  AND HT.受入 = JH.変換先受入
																  AND REPLACE(HT.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																  AND JH.契約先 = HT.契約先
																	 ) IS NULL THEN 
												--順位②.変換元CDのみで検索
												CASE WHEN ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HT 
																		WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5)
																		  AND HT.取引先 = JH.変換先CD
																		  AND REPLACE(HT.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																		  AND JH.契約先 = HT.契約先
																				 ) IS NULL THEN SUBSTRING(TA.REC,40,5)
												ELSE      ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HT  
																		WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5) 
																		  AND HT.取引先 = JH.変換先CD
																		  AND REPLACE(HT.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																		  AND JH.契約先 = HT.契約先
																				 )
												END
									ELSE      ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HT 
																WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5) 
																  AND JH.変換元受入 = SUBSTRING(TA.REC,45,2)
																  AND HT.取引先 = JH.変換先CD
																  AND HT.受入 = JH.変換先受入
																  AND REPLACE(HT.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																  AND JH.契約先 = HT.契約先
																	 )
									END
						 ELSE SUBSTRING(TA.REC,40,5) END 
		--TOPPSﾃｷｽﾄ:受入,受注取引先CD変換マスタ検索				
		--順位①.変換元CD/変換元受入にて検索,無い場合はTOPPS受入を使用
		 AND JY.受入 = CASE WHEN ( SELECT MIN(変換元受入) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HT  
																WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5) 
																  AND JH.変換元受入 = SUBSTRING(TA.REC,45,2)
																  AND HT.取引先 = JH.変換先CD
																  AND HT.受入 = JH.変換先受入
																  AND REPLACE(HT.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																  AND JH.契約先 = HT.契約先
																	 ) IS NULL THEN  SUBSTRING(TA.REC,45,2)
					   ELSE      ( SELECT MIN(変換元受入) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HT   
																WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5) 
																  AND JH.変換元受入 = SUBSTRING(TA.REC,45,2)
																  AND HT.取引先 = JH.変換先CD
																  AND HT.受入 = JH.変換先受入
																  AND REPLACE(HT.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																  AND JH.契約先 = HT.契約先
																	 )
					   END
--============================================ 2009/01/08 End
		 AND JY.納入番号 = SUBSTRING(TA.REC,11,5)
		 AND JY.納品書行 = CONVERT(TINYINT,SUBSTRING(TB.REC,7,3))
		 AND JY.納入日 = SUBSTRING(TA.REC,60,8)
		 AND JY.納入便 = SUBSTRING(TA.REC,68,2)
--=======================================================< 2005.02.09 ADD START >
--============================================ 2009/01/08 Start		
--*		 AND JY.品番 = SUBSTRING(TB.REC,10,12)
		 AND REPLACE(JY.品番,'-','') = SUBSTRING(TB.REC,10,12)
--============================================ 2009/01/08 End
		 AND JY.作成種別 = 'T'
--=======================================================< 2005.02.09 ADD  END  >


--< 2005.02.09 MNT START >=============================================================================================
--		LEFT OUTER JOIN (SELECT 納入先, 受入, 納入日, 納入便, 納入番号, 納品書管理NO, 受注管理NO
--					FROM 受注テーブル
--					GROUP BY 納入先, 受入, 納入日, 納入便, 納入番号, 納品書管理NO, 受注管理NO ) J2
--		  ON J2.納入先 = SUBSTRING(TA.REC,40,5)
--		 AND J2.受入 = SUBSTRING(TA.REC,45,2)
--		 AND J2.納入番号 = SUBSTRING(TA.REC,11,5)
--		 AND J2.納入日 = SUBSTRING(TAREC,60,8)
--		 AND J2.納入便 = SUBSTRING(TA.REC,68,2)
		LEFT OUTER JOIN (SELECT 納入先, 受入, 納入日, 納入便, 納入番号, 納品書管理NO, 受注管理NO, 品番
					FROM 受注テーブル
					WHERE 作成種別 = 'T'
					GROUP BY 納入先, 受入, 納入日, 納入便, 納入番号, 納品書管理NO, 受注管理NO, 品番 ) J2
--=================================================== 2009/01/08 Start
--		  ON J2.納入先 = SUBSTRING(TA.REC,40,5)
--		 AND J2.受入 = SUBSTRING(TA.REC,45,2)
			--TOPPSﾃｷｽﾄ:納入先CDが取引先ﾏｽﾀに存在する場合はそのまま使用				
		  ON J2.納入先 = CASE WHEN ( SELECT MIN(取引先CD) FROM 取引先マスタ 
													WHERE 取引先CD = SUBSTRING(TA.REC,40,5)
													  AND 取引先区分 = 0 ) IS NULL THEN 
									--TOPPSﾃｷｽﾄ:納入先CDが取引先ﾏｽﾀに存在しない場合,受注取引先CD変換マスタ検索				
									--順位①.変換元CD/変換元受入にて検索
									CASE WHEN ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HT   
																WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5) 
																  AND JH.変換元受入 = SUBSTRING(TA.REC,45,2)
																  AND HT.取引先 = JH.変換先CD
																  AND HT.受入 = JH.変換先受入
																  AND REPLACE(HT.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																  AND JH.契約先 = HT.契約先
																	 ) IS NULL THEN 
												--順位②.変換元CDのみで検索
												CASE WHEN ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HT  
																		WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5)
																		  AND HT.取引先 = JH.変換先CD
																		  AND REPLACE(HT.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																		  AND JH.契約先 = HT.契約先
																		 ) IS NULL THEN SUBSTRING(TA.REC,40,5)
												ELSE      ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ  JH,品番取引先マスタ HT  
																		WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5)
																		  AND HT.取引先 = JH.変換先CD
																		  AND REPLACE(HT.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																		  AND JH.契約先 = HT.契約先 
																		 )
												END
									ELSE      ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HT   
																WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5) 
																  AND JH.変換元受入 = SUBSTRING(TA.REC,45,2)
																  AND HT.取引先 = JH.変換先CD
																  AND HT.受入 = JH.変換先受入
																  AND REPLACE(HT.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																  AND JH.契約先 = HT.契約先
																	 )
									END
						 ELSE SUBSTRING(TA.REC,40,5) END 
		--順位①.変換元CD/変換元受入にて検索,無い場合はTOPPS受入を使用
		 AND J2.受入 = CASE WHEN ( SELECT MIN(変換元受入) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HT  
																WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5) 
																  AND JH.変換元受入 = SUBSTRING(TA.REC,45,2)
																  AND HT.取引先 = JH.変換先CD
																  AND HT.受入 = JH.変換先受入
																  AND REPLACE(HT.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																  AND JH.契約先 = HT.契約先
																	 ) IS NULL THEN  SUBSTRING(TA.REC,45,2)
					   ELSE      ( SELECT MIN(変換元受入) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HT   
																WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5) 
																  AND JH.変換元受入 = SUBSTRING(TA.REC,45,2)
																  AND HT.取引先 = JH.変換先CD
																  AND HT.受入 = JH.変換先受入
																  AND REPLACE(HT.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																  AND JH.契約先 = HT.契約先
																	 )
					   END
--=================================================== 2009/01/08 End
		 AND J2.納入番号 = SUBSTRING(TA.REC,11,5)
		 AND J2.納入日 = SUBSTRING(TA.REC,60,8)
		 AND J2.納入便 = SUBSTRING(TA.REC,68,2)
--================================================ 2009/01/08 Start
--		 AND J2.品番 = SUBSTRING(TB.REC,10,12)
		 AND REPLACE(J2.品番,'-','') = SUBSTRING(TB.REC,10,12)
--================================================ 2009/01/08 End
--< 2005.02.09 MNT  END  >=============================================================================================

--
--< 2004.11.29 MNT  END  >============================================================================================================
--
		LEFT OUTER JOIN 取引先マスタ TR
		  ON TR.取引先区分 = 0
--================================================ 2009/01/08 Start
--		 AND TR.取引先CD = SUBSTRING(TA.REC,40,5)
		  AND TR.取引先CD = CASE WHEN ( SELECT MIN(取引先CD) FROM 取引先マスタ 
													WHERE 取引先CD = SUBSTRING(TA.REC,40,5)
													  AND 取引先区分 = 0 ) IS NULL THEN 
									--TOPPSﾃｷｽﾄ:納入先CDが取引先ﾏｽﾀに存在しない場合,受注取引先CD変換マスタ検索				
									--順位①.変換元CD/変換元受入にて検索
									CASE WHEN ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX   
																WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5) 
																  AND JH.変換元受入 = SUBSTRING(TA.REC,45,2)
																  AND HTX.取引先 = JH.変換先CD
																  AND HTX.受入 = JH.変換先受入
																  AND REPLACE(HTX.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																  AND JH.契約先 = HTX.契約先
																	 ) IS NULL THEN 
												--順位②.変換元CDのみで検索
												CASE WHEN ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX  
																		WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5)
																		  AND HTX.取引先 = JH.変換先CD
																		  AND REPLACE(HTX.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																		  AND JH.契約先 = HTX.契約先
																		 ) IS NULL THEN SUBSTRING(TA.REC,40,5)
												ELSE      ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ  JH,品番取引先マスタ HTX  
																		WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5)
																		  AND HTX.取引先 = JH.変換先CD
																		  AND REPLACE(HTX.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																		  AND JH.契約先 = HTX.契約先 
																		 )
												END
									ELSE      ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX   
																WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5) 
																  AND JH.変換元受入 = SUBSTRING(TA.REC,45,2)
																  AND HTX.取引先 = JH.変換先CD
																  AND HTX.受入 = JH.変換先受入
																  AND REPLACE(HTX.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																  AND JH.契約先 = HTX.契約先
																	 )
									END
						 ELSE SUBSTRING(TA.REC,40,5) END 
--================================================ 2009/01/08 End

		LEFT OUTER JOIN 取引先受入マスタ TU
		  ON TU.取引先区分 = 0
--================================================ 2009/01/08 Start
--		 AND TU.取引先CD = SUBSTRING(TA.REC,40,5)
--		 AND TU.受入 = SUBSTRING(TA.REC,45,2)
			--TOPPSﾃｷｽﾄ:納入先CDが取引先ﾏｽﾀに存在する場合はそのまま使用				
		  AND TU.取引先CD = CASE WHEN ( SELECT MIN(取引先CD) FROM 取引先マスタ 
													WHERE 取引先CD = SUBSTRING(TA.REC,40,5)
													  AND 取引先区分 = 0 ) IS NULL THEN 
									--TOPPSﾃｷｽﾄ:納入先CDが取引先ﾏｽﾀに存在しない場合,受注取引先CD変換マスタ検索				
									--順位①.変換元CD/変換元受入にて検索
									CASE WHEN ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX   
																WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5) 
																  AND JH.変換元受入 = SUBSTRING(TA.REC,45,2)
																  AND HTX.取引先 = JH.変換先CD
																  AND HTX.受入 = JH.変換先受入
																  AND REPLACE(HTX.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																  AND JH.契約先 = HTX.契約先
																	 ) IS NULL THEN 
												--順位②.変換元CDのみで検索
												CASE WHEN ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX  
																		WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5)
																		  AND HTX.取引先 = JH.変換先CD
																		  AND REPLACE(HTX.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																		  AND JH.契約先 = HTX.契約先
																		 ) IS NULL THEN SUBSTRING(TA.REC,40,5)
												ELSE      ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ  JH,品番取引先マスタ HTX  
																		WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5)
																		  AND HTX.取引先 = JH.変換先CD
																		  AND REPLACE(HTX.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																		  AND JH.契約先 = HTX.契約先 
																		 )
												END
									ELSE      ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX   
																WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5) 
																  AND JH.変換元受入 = SUBSTRING(TA.REC,45,2)
																  AND HTX.取引先 = JH.変換先CD
																  AND HTX.受入 = JH.変換先受入
																  AND REPLACE(HTX.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																  AND JH.契約先 = HTX.契約先
																	 )
									END
						 ELSE SUBSTRING(TA.REC,40,5) END 
		--順位①.変換元CD/変換元受入にて検索,無い場合はTOPPS受入を使用
		 AND TU.受入 = CASE WHEN ( SELECT MIN(変換元受入) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX  
																WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5) 
																  AND JH.変換元受入 = SUBSTRING(TA.REC,45,2)
																  AND HTX.取引先 = JH.変換先CD
																  AND HTX.受入 = JH.変換先受入
																  AND REPLACE(HTX.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																  AND JH.契約先 = HTX.契約先
																	 ) IS NULL THEN  SUBSTRING(TA.REC,45,2)
					   ELSE      ( SELECT MIN(変換元受入) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX   
																WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5) 
																  AND JH.変換元受入 = SUBSTRING(TA.REC,45,2)
																  AND HTX.取引先 = JH.変換先CD
																  AND HTX.受入 = JH.変換先受入
																  AND REPLACE(HTX.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																  AND JH.契約先 = HTX.契約先
																	 )
					   END
--================================================ 2009/01/08 End
		
		LEFT OUTER JOIN 品番マスタ HN
--================================================ 2009/01/08 Start
--		  ON HN.品番 = SUBSTRING(TB.REC,10,12)
		  ON REPLACE(HN.品番,'-','') = SUBSTRING(TB.REC,10,12)
--================================================ 2009/01/08 End

		LEFT OUTER JOIN 品番取引先マスタ HT
		  ON HT.品目 = 0
--================================================ 2009/01/08 Start
--		 AND HT.品番 = SUBSTRING(TB.REC,10,12)
--		 AND HT.取引先 = SUBSTRING(TA.REC,40,5)
--		 AND HT.受入 = SUBSTRING(TA.REC,45,2)
		 AND REPLACE(HT.品番,'-','') = SUBSTRING(TB.REC,10,12)
			--TOPPSﾃｷｽﾄ:納入先CDが取引先ﾏｽﾀに存在する場合はそのまま使用				
		  AND HT.取引先 = CASE WHEN ( SELECT MIN(取引先CD) FROM 取引先マスタ 
													WHERE 取引先CD = SUBSTRING(TA.REC,40,5)
													  AND 取引先区分 = 0 ) IS NULL THEN 
									--TOPPSﾃｷｽﾄ:納入先CDが取引先ﾏｽﾀに存在しない場合,受注取引先CD変換マスタ検索				
									--順位①.変換元CD/変換元受入にて検索
									CASE WHEN ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX   
																WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5) 
																  AND JH.変換元受入 = SUBSTRING(TA.REC,45,2)
																  AND HTX.取引先 = JH.変換先CD
																  AND HTX.受入 = JH.変換先受入
																  AND REPLACE(HTX.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																  AND JH.契約先 = HTX.契約先
																	 ) IS NULL THEN 
												--順位②.変換元CDのみで検索
												CASE WHEN ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX  
																		WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5)
																		  AND HTX.取引先 = JH.変換先CD
																		  AND REPLACE(HTX.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																		  AND JH.契約先 = HTX.契約先
																		 ) IS NULL THEN SUBSTRING(TA.REC,40,5)
												ELSE      ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ  JH,品番取引先マスタ HTX  
																		WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5)
																		  AND HTX.取引先 = JH.変換先CD
																		  AND REPLACE(HTX.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																		  AND JH.契約先 = HTX.契約先 
																		 )
												END
									ELSE      ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX   
																WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5) 
																  AND JH.変換元受入 = SUBSTRING(TA.REC,45,2)
																  AND HTX.取引先 = JH.変換先CD
																  AND HTX.受入 = JH.変換先受入
																  AND REPLACE(HTX.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																  AND JH.契約先 = HTX.契約先
																	 )
									END
						 ELSE SUBSTRING(TA.REC,40,5) END 
		--順位①.変換元CD/変換元受入にて検索,無い場合はTOPPS受入を使用
		 AND HT.受入 = CASE WHEN ( SELECT MIN(変換元受入) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX  
																WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5) 
																  AND JH.変換元受入 = SUBSTRING(TA.REC,45,2)
																  AND HTX.取引先 = JH.変換先CD
																  AND HTX.受入 = JH.変換先受入
																  AND REPLACE(HTX.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																  AND JH.契約先 = HTX.契約先
																	 ) IS NULL THEN  SUBSTRING(TA.REC,45,2)
					   ELSE      ( SELECT MIN(変換元受入) FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HTX   
																WHERE JH.変換元CD   = SUBSTRING(TA.REC,40,5) 
																  AND JH.変換元受入 = SUBSTRING(TA.REC,45,2)
																  AND HTX.取引先 = JH.変換先CD
																  AND HTX.受入 = JH.変換先受入
																  AND REPLACE(HTX.品番,'-','') = SUBSTRING(TB.REC,10,12)
--																  AND JH.契約先 = HTX.契約先
																	 )
					   END
/*  2009/01/22 UPDATE
		LEFT OUTER JOIN 受注取引先CD変換マスタ H1
		  ON  H1.変換元CD = SUBSTRING(TA.REC,40,5)
			AND H1.変換元受入 = SUBSTRING(TA.REC,45,2)
		LEFT OUTER JOIN ( SELECT 変換元CD,変換先CD FROM 受注取引先CD変換マスタ
											GROUP BY 変換元CD,変換先CD ) H2
		  ON  H2.変換元CD = SUBSTRING(TA.REC,40,5)
*/
--================================================ 2009/01/08 End

		WHERE TP.処理区分 <> 0
		  AND TB.REC IS NOT NULL
		ORDER BY TP.履歴管理番号,TP.受注出荷区分,TP.ファイルID

IF @@ERROR <> 0
    BEGIN
	SELECT @ERR = '22'
	SELECT @ERR_RKANRI = @JW_RKANRI
	GOTO PROC_ERR
    END

-- * ------------------------------------------------
-- *	TOPPS変換履歴テーブル 処理件数更新
-- * ------------------------------------------------
IF @BK_RKANRI <> 0
    BEGIN
	UPDATE TOPPS変換履歴テーブル SET
		入力件数 = @INCNT,
		変換件数 = @OUTCNT,
		変換エラー件数 = @ERRCNT
		WHERE 履歴管理番号 = @BK_RKANRI

	IF @@ERROR <> 0
	    BEGIN
		SELECT @ERR = '21'
		SELECT @ERR_RKANRI = @BK_RKANRI
		GOTO PROC_ERR
	    END

    END

-- * ------------------------------------------------------------------------------------
-- *
-- *	受注管理NO・納品書管理NO	採番
-- *
-- * ------------------------------------------------------------------------------------
IF (SELECT COUNT(*) FROM TOPPS受注変換テキスト 
			WHERE 受注管理NO = 0
			  AND ERR1 = ''
			  AND ERR2 = ''
			  AND ERR3 = ''
			  AND ERR4 = ''
			  AND ERR5 = ''
			  AND ERR6 = ''
			  AND ERR7 = ''
			  AND 端末番号 = HOST_NAME()) <> 0
    BEGIN

--
--< 2004.11.29 MNT START >============================================================================================================
--
/*
	DECLARE JNCUR SCROLL CURSOR
	FOR
		SELECT 納入番号,履歴管理番号
			FROM TOPPS受注変換テキスト
			WHERE 受注管理NO = 0
			  AND ERR1 = ''
			  AND ERR2 = ''
			  AND ERR3 = ''
			  AND ERR4 = ''
			  AND ERR5 = ''
			  AND ERR6 = ''
			  AND ERR7 = ''
			  AND 端末番号 = HOST_NAME()
			GROUP BY 納入番号,履歴管理番号
		FOR READ ONLY
*/
	DECLARE JNCUR SCROLL CURSOR
	FOR
		SELECT 納入先, 受入, 納入日, 納入便, 納入番号, 履歴管理番号
			FROM TOPPS受注変換テキスト
			WHERE 受注管理NO = 0
			  AND ERR1 = ''
			  AND ERR2 = ''
			  AND ERR3 = ''
			  AND ERR4 = ''
			  AND ERR5 = ''
			  AND ERR6 = ''
			  AND ERR7 = ''
			  AND 端末番号 = HOST_NAME()
			GROUP BY 納入先, 受入, 納入日, 納入便, 納入番号, 履歴管理番号
		FOR READ ONLY

--
--< 2004.11.29 MNT  END  >============================================================================================================
--
	OPEN JNCUR

	-- * TOPPS受注変換テキスト 読込
--
--< 2004.11.29 MNT START >============================================================================================================
--
--	FETCH NEXT FROM JNCUR INTO @JW_NOUNO, @JW_RKANRI
	FETCH NEXT FROM JNCUR INTO @JW_TORCD , @JW_UKEIR , @JW_NDATE , @JW_NBIN , @JW_NOUNO, @JW_RKANRI
--
--< 2004.11.29 MNT  END  >============================================================================================================
--
	WHILE @@FETCH_STATUS = 0
	    BEGIN

		-- * 受注管理NO
		EXEC 番号獲得 11,@JW_JNO OUTPUT,@RTN OUTPUT
		IF @RTN <> 0
		    BEGIN
			SELECT @ERR = '23'
			SELECT @ERR_RKANRI = @JW_RKANRI
			GOTO PROC_ERR

		    END
		-- * 納品書管理NO
		EXEC 番号獲得 14,@JW_NKANRI OUTPUT,@RTN OUTPUT
		IF @RTN <> 0
		    BEGIN
			SELECT @ERR = '24'
			SELECT @ERR_RKANRI = @JW_RKANRI
			GOTO PROC_ERR
		    END

		-- * 受注管理NO・納品書管理NO 更新
		UPDATE TOPPS受注変換テキスト SET
			受注管理NO = @JW_JNO,
			納品書管理NO = @JW_NKANRI
--< 2004.11.29 MNT START >============================================================================================================
--
--			WHERE 納入番号 = @JW_NOUNO
			WHERE 納入先    = @JW_TORCD
			    AND 受入       = @JW_UKEIR
			    AND 納入日    = @JW_NDATE
			    AND 納入便    = @JW_NBIN
			    AND 納入番号 = @JW_NOUNO
--
--< 2004.11.29 MNT  END  >============================================================================================================
		
		IF @@ERROR <> 0
		    BEGIN
			SELECT @ERR = '25'
			SELECT @ERR_RKANRI = @JW_RKANRI
			GOTO PROC_ERR
		    END

--< 2004.11.29 MNT START >============================================================================================================
--
		-- * TOPPS受注変換テキスト 読込
--		FETCH NEXT FROM JNCUR INTO @JW_NOUNO, @JW_RKANRI
		FETCH NEXT FROM JNCUR INTO @JW_TORCD , @JW_UKEIR , @JW_NDATE , @JW_NBIN , @JW_NOUNO, @JW_RKANRI
--
--< 2004.11.29 MNT  END  >============================================================================================================
	    END

	--*  CLOSE & DEALLOCATE
	CLOSE JNCUR
	DEALLOCATE JNCUR
    END

-- * ------------------------------------------------------------------------------------
-- *
-- *	出荷指示書NO 採番
-- *
-- * ------------------------------------------------------------------------------------
IF (SELECT COUNT(*)
		FROM TOPPS受注変換テキスト
		WHERE 出荷指示書NO = 0
		  AND ERR1 = ''
		  AND ERR2 = ''
		  AND ERR3 = ''
		  AND ERR4 = ''
		  AND ERR5 = ''
		  AND ERR6 = ''
		  AND ERR7 = ''
		  AND 端末番号 = HOST_NAME()) <> 0
    BEGIN

	DECLARE SJCUR SCROLL CURSOR
	FOR
		SELECT JN.受注区分,JN.出荷予定日,JN.出荷予定便
			,JN.納入先,JN.受入,JN.納入日,JN.納入便
			,ISNULL(HT.SK区分,0)
			,ISNULL(HT.契約先,'')
			,JN.受注管理NO,JN.受注管理行NO,JN.履歴管理番号
			FROM TOPPS受注変換テキスト JN
		 	LEFT OUTER JOIN 品番取引先マスタ HT
			  ON HT.品番 = JN.品番
			 AND HT.取引先 = JN.納入先
			 AND HT.受入 = JN.受入
			 AND HT.品目 = 0
			WHERE 出荷指示書NO = 0
			  AND ERR1 = ''
			  AND ERR2 = ''
			  AND ERR3 = ''
			  AND ERR4 = ''
			  AND ERR5 = ''
			  AND ERR6 = ''
			  AND ERR7 = ''
			  AND 端末番号 = HOST_NAME()
	 		ORDER BY JN.受注区分,JN.出荷予定日,JN.出荷予定便,
		   		 JN.納入先,JN.受入,JN.納入日,JN.納入便,
		   		 HT.SK区分,HT.契約先,JN.品番,JN.背番号
	FOR READ ONLY
	OPEN SJCUR
	
	-- * TOPPS受注管理テキスト
	FETCH NEXT FROM SJCUR INTO @JW_JYKBN,@JW_SDATE,@JW_SBIN,@JW_TORCD,@JW_UKEIR,@JW_NDATE,@JW_NBIN,
				   @JW_SKKBN,@JW_KEIYK,@JW_JNO,@JW_JGYO,@JW_RKANRI

	SELECT @JW_SJGYO = 99
	WHILE @@FETCH_STATUS = 0
	    BEGIN
		
		SELECT @JW_SJGYO = @JW_SJGYO + 1 
		IF @JW_SJGYO >  @SJW_MAXNO OR @JW_JYKBN <> @SJW_JYKBN OR
		   @JW_SDATE <> @SJW_SDATE OR @JW_SBIN  <> @SJW_SBIN  OR
		   @JW_TORCD <> @SJW_TORCD OR @JW_UKEIR <> @SJW_UKEIR OR 
		   @JW_NDATE <> @SJW_NDATE OR @JW_NBIN  <> @SJW_NBIN  OR
		   @JW_SKKBN <> @SJW_SKKBN OR @JW_KEIYK <> @SJW_KEIYK 
		    BEGIN

			--* 出荷指示書NO 採番
			EXEC 番号獲得 12,@JW_SJNO OUTPUT,@RTN OUTPUT
			IF @RTN <> 0
			    BEGIN
				SELECT @ERR = '26'
				SELECT @ERR_RKANRI = @JW_RKANRI
				GOTO PROC_ERR
			    END


			SELECT @JW_SJGYO = 1
			
			--* キー項目退避
			SELECT @SJW_JYKBN = @JW_JYKBN
			SELECT @SJW_SDATE = @JW_SDATE
			SELECT @SJW_SBIN = @JW_SBIN
			SELECT @SJW_TORCD = @JW_TORCD
			SELECT @SJW_UKEIR = @JW_UKEIR
			SELECT @SJW_NDATE = @JW_NDATE
			SELECT @SJW_NBIN = @JW_NBIN
			SELECT @SJW_SKKBN = @JW_SKKBN
			SELECT @SJW_KEIYK = @JW_KEIYK
		    END		   			


		--* TOPPS受注変換テキスト 更新(出荷指示書NO)
		UPDATE TOPPS受注変換テキスト SET
		        出荷指示書NO = @JW_SJNO,
			出荷指示書行NO = @JW_SJGYO
	 		WHERE 端末番号 = HOST_NAME()
	   		  AND 受注管理NO = @JW_JNO
	   		  AND 受注管理行NO = @JW_JGYO
		IF @@ERROR <> 0
		    BEGIN
			SELECT @ERR = '27'
			SELECT @ERR_RKANRI = @JW_RKANRI
			GOTO PROC_ERR
		    END

		--* 次ﾚｺｰﾄﾞ
		FETCH NEXT FROM SJCUR INTO @JW_JYKBN,@JW_SDATE,@JW_SBIN,@JW_TORCD,@JW_UKEIR,@JW_NDATE,@JW_NBIN,
				   @JW_SKKBN,@JW_KEIYK,@JW_JNO,@JW_JGYO,@JW_RKANRI
	    END

	--*  CLOSE & DEALLOCATE
	CLOSE SJCUR
	DEALLOCATE SJCUR
    END

-- * ------------------------------------------------------------------------------------
-- *
-- *	受注テーブル作成
-- *
-- * ------------------------------------------------------------------------------------
INSERT INTO 受注テーブル
	(受注管理NO,受注管理行NO,出荷指示書NO,出荷指示書行NO,受注区分,
	 受注日,受注便,納入日,納入便,出荷予定日,出荷予定便,納入先,受入,
	 機番,納入番号,納品書頁,納品書行,分納区分,分納回数,品番,背番号,
	 枚数,収容数,納入数,端数,抜取枚数,エフ発行枚数,エフ発行端数,
	 作成種別,納品書発行区分,指示書発行区分,出荷実績区分,納品書管理NO,
	 元出荷指示書NO,元出荷指示書行NO,作成日,作成端末,作成者)
	SELECT 受注管理NO,受注管理行NO,出荷指示書NO,出荷指示書行NO,受注区分,
		受注日,受注便,納入日,納入便,出荷予定日,出荷予定便,納入先,受入,
		'',納入番号,納品書頁,納品書行,分納区分,分納回数,品番,背番号,
		枚数,収容数,納入数,端数,0,0,0,
		'T',9,0,0,納品書管理NO,
		出荷指示書NO,出荷指示書行NO,GETDATE(),HOST_NAME(),''
		FROM TOPPS受注変換テキスト
		WHERE 端末番号 = HOST_NAME()
		  AND ERR1 = ''
		  AND ERR2 = ''
		  AND ERR3 = ''
		  AND ERR4 = ''
		  AND ERR5 = ''
		  AND ERR6 = ''
		  AND ERR7 = ''

IF @@ERROR <> 0
    BEGIN
	SELECT @ERR = '28'
	SELECT @ERR_RKANRI = @JW_RKANRI
	GOTO PROC_ERR
    END

-- *-----------------------------------------------------------------------------------
-- *	TOPPS変換履歴テーブル	処理件数更新
-- *-----------------------------------------------------------------------------------
DECLARE JRCUR SCROLL CURSOR
FOR

	SELECT 履歴管理番号 
		FROM TOPPS受注変換テキスト
		WHERE 端末番号 = HOST_NAME()
		  AND 受注出荷区分 = 0
		GROUP BY 履歴管理番号

FOR READ ONLY
OPEN JRCUR

-- * TOPPS受注管理テキスト
FETCH NEXT FROM JRCUR INTO @JW_RKANRI


WHILE @@FETCH_STATUS = 0
    BEGIN
	
	SELECT @OUTCNT = 0
	SELECT @ERRCNT = 0
	
	SELECT @OUTCNT = COUNT(*) FROM TOPPS受注変換テキスト
		WHERE 履歴管理番号 = @JW_RKANRI
		  AND ERR1 = ''
		  AND ERR2 = ''
		  AND ERR3 = ''
		  AND ERR4 = ''
		  AND ERR5 = ''
		  AND ERR6 = ''
		  AND ERR7 = ''
		GROUP BY 履歴管理番号

--
--< 2004.12.08 MNT START >============================================================================================================
--
/*
	SELECT @ERRCNT = COUNT(*) FROM TOPPS受注変換テキスト
		WHERE 履歴管理番号 = @JW_RKANRI
		  AND (ERR2 <> ''
		   OR  ERR3 <> ''
		   OR  ERR4 <> ''
		   OR  ERR5 <> ''
		   OR  ERR6 <> ''
		   OR  ERR7 <> '')
		GROUP BY 履歴管理番号

	UPDATE TOPPS変換履歴テーブル SET
		変換件数 = @OUTCNT,
		変換エラー件数 = @ERRCNT
		WHERE 履歴管理番号 = @JW_RKANRI
		  AND 受注出荷区分 = 0
*/

	SELECT @ERRCNT = COUNT(*) FROM TOPPS受注変換テキスト
		WHERE 履歴管理番号 = @JW_RKANRI
		  AND (ERR1 <> ''
		   OR  ERR2 <> ''
		   OR  ERR3 <> ''
		   OR  ERR4 <> ''
		   OR  ERR5 <> ''
		   OR  ERR6 <> ''
		   OR  ERR7 <> '')
		GROUP BY 履歴管理番号

	SELECT	@INCNT = 0, @DUPLICNT = 0
	
--	[ 入力件数 ]
--
	SELECT	@INCNT = COUNT(*) FROM TOPPS受注変換テキスト
		WHERE 履歴管理番号 = @JW_RKANRI

--	[ 重複件数 ]
--
	SELECT	@DUPLICNT = COUNT(*) FROM TOPPS受注変換テキスト
		WHERE 履歴管理番号 = @JW_RKANRI
		AND   ERR1 = '1'

	UPDATE TOPPS変換履歴テーブル SET
		変換件数 = @OUTCNT,
		変換エラー件数 = @ERRCNT,
		ERR     = CASE WHEN @INCNT = @DUPLICNT THEN '50' ELSE '' END,
		ERR内容 = CASE WHEN @INCNT = @DUPLICNT THEN '<<　全データ重複　>>' ELSE '' END
		WHERE 履歴管理番号 = @JW_RKANRI
		  AND 受注出荷区分 = 0

--
--< 2004.12.08 MNT  END  >============================================================================================================
--
	IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END

	FETCH NEXT FROM JRCUR INTO @JW_RKANRI
    END

--*  CLOSE & DEALLOCATE
CLOSE JRCUR
DEALLOCATE JRCUR

-- *-----------------------------------------------------------------------------------
-- *		正    常    終    了
-- *-----------------------------------------------------------------------------------
PROC_END:
RETURN(0)

-- *-----------------------------------------------------------------------------------
-- *		異    常    終    了
-- *-----------------------------------------------------------------------------------
PROC_ERR:
IF @ERR_RKANRI <> 0 
    BEGIN

	IF @ERR = '21' BEGIN SELECT @ERRN = '処理件数 更新エラー' END
	IF @ERR = '22' BEGIN SELECT @ERRN = 'TOPPS受注変換テキスト 作成エラー' END
	IF @ERR = '23' BEGIN SELECT @ERRN = '受注管理番号 採番エラー' END
	IF @ERR = '24' BEGIN SELECT @ERRN = '納品書管理番号 採番エラー' END
	IF @ERR = '25' BEGIN SELECT @ERRN = 'TOPPS受注変換テキスト 更新エラー' END
	IF @ERR = '26' BEGIN SELECT @ERRN = '出荷指示書番号 採番エラー' END
	IF @ERR = '27' BEGIN SELECT @ERRN = 'TOPPS受注変換テキスト 更新エラー' END
	IF @ERR = '28' BEGIN SELECT @ERRN = '受注テーブル 作成エラー' END

	UPDATE TOPPS変換履歴テーブル SET
		ERR = @ERR,
		ERR内容 = @ERRN
		WHERE 履歴管理番号 =  @ERR_RKANRI
    END

RETURN(1)



/****** オブジェクト:  StoredProcedure [dbo].[TOPPS出荷変換]    スクリプト日付: 01/14/2009 10:35:42 ******/
SET ANSI_NULLS ON

GO
