USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[カレンダ稼働日獲得]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
create   PROCEDURE [dbo].[カレンダ稼働日獲得](@CLKB TINYINT,@DATE VARCHAR(8),@TORCD VARCHAR(7),	@UKEIR VARCHAR(2),
						@DAYKB VARCHAR(31) OUTPUT,@NIGHTKB VARCHAR(31) OUTPUT,@RTN TINYINT OUTPUT) AS

--*-------------------------------------------------------------------------------------*--
--*	カレンダマスタの稼働区分を獲得する
--*
--*		@CLKB	= システムオプション（0:自社カレンダー、1:仕入先カレンダー）	
--*		@DATE	= 対象月（日付）
--*		@TORCD	= 仕入先
--*		@UKEIR	= 受入
--*
--*	戻り値	@DAYKB	= ﾘﾀｰﾝｺｰﾄﾞ
--*		@NIGHTKB	= 加算後日付
--*		@RTN		= 0:正常、1:対象月カレンダー無し
--*
--*
--*	作成日	 ：	2006/04/27
--*-------------------------------------------------------------------------------------*--
/*
DECLARE @CLKB TINYINT,@DATE VARCHAR(8),@TORCD VARCHAR(7),@UKEIR VARCHAR(2)
DECLARE @RTN TINYINT ,@DAYKB VARCHAR(31)  ,@NIGHTKB VARCHAR(31) 

SELECT @CLKB = 1,@TORCD = '0001A',@UKEIR = '02'
SELECT @DATE = '20070712'
*/

SET NOCOUNT ON

SELECT @DAYKB = '',@NIGHTKB = '',@RTN = 0

IF @DATE = '' BEGIN SELECT @DATE = CONVERT(VARCHAR(8),GETDATE(),112) END

-- (( 当月ｶﾚﾝﾀﾞｰﾏｽﾀ 登録チェック ))
IF @CLKB = 1 			/* 仕入先カレンダー */
    BEGIN
	SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
	WHERE 取引先区分 = 1
	  AND 取引先 = @TORCD
	  AND 年 = SUBSTRING(@DATE,1,4)
	  AND 月 = SUBSTRING(@DATE,5,2)
	  AND 受入 = @UKEIR		-- 2006/03/28 MNT '' → @UKEIR
	IF @DAYKB = '' 
	   BEGIN
		SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
		WHERE 取引先区分 = 1
		  AND 取引先 = @TORCD
		  AND 年 = SUBSTRING(@DATE,1,4)
		  AND 月 = SUBSTRING(@DATE,5,2)
		  AND 受入 = ''
	   END
    END
IF @DAYKB = '' 
    BEGIN
	SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
	WHERE 取引先区分 = 1
	  AND 取引先 = ''
	  AND 年 = SUBSTRING(@DATE,1,4)
	  AND 月 = SUBSTRING(@DATE,5,2)
	  AND 受入 = @UKEIR
    END
IF @DAYKB = '' 
   BEGIN
	SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
	WHERE 取引先区分 = 1
	  AND 取引先 = ''
	  AND 年 = SUBSTRING(@DATE,1,4)
	  AND 月 = SUBSTRING(@DATE,5,2)
	  AND 受入 = ''
   END
IF @DAYKB = ''  BEGIN	SELECT @RTN = 1 	GOTO PROC_ERROR    END




PROC_END:

RETURN(0)
--SELECT '起算日' = @DATE,'昼稼働' = @DAYKB, '夜稼働' = @NIGHTKB,@RTN
--RETURN

PROC_ERROR:

--SELECT 'ERROR' = @RTN
RETURN




GO
