USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[発注かんばん予定削除処理]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[発注かんばん予定削除処理]	@HEICNT INT OUTPUT,@UCHCNT INT OUTPUT
 AS 
-- ----------------------------------------------------------------------------------------------------*
-- 								
-- 		発注かんばん予定削除処理		
-- 								
--		Parameter :
--		  :	@HEICNT 	INT	　･･･ 	処理区分 1:一括,2:指定
-- 		RETURN   :     0 … ＯＫ	≠ 0 … ＮＧ

-- 			CREATE DATE	:	2004/02/05
-- 			UPDATE DATE	:         2005/06/18   かんばん流動履歴テーブル　削除追加
-- 													
-- ----------------------------------------------------------------------------------------------------
SET NOCOUNT ON
--TEST----------------------------------------------------------------
/*
*/
--TEST----------------------------------------------------------------

-- 退避エリア
DECLARE @ERR  	TINYINT
DECLARE @INCNT 	INT

SELECT @HEICNT = 0
SELECT @UCHCNT = 0
-- ------------------------------------------
--      発注かんばん予定テーブルカーソル定義		
-- ------------------------------------------
DECLARE HYCUR SCROLL CURSOR
FOR 

	SELECT 管理番号,仕入先,受入,納入日,納入便,品番,
		  収容数,枚数,端数,発注数,発注区分,
		  平準化区分,平準化開始日,打切種別
	  FROM 発注かんばん予定テーブル
	WHERE 処理端末 = HOST_NAME()
	   AND  処理区分 = 2
	   AND ( 平準化区分 <> 0 Or 打切種別 = 0 )
	ORDER BY 作成日 Desc,品番,仕入先,受入

FOR READ ONLY 
OPEN HYCUR

--  ｶｰｿﾙ項目定義  --
DECLARE @KANNO INT,@TORCD VARCHAR(7),@UKEIR VARCHAR(2)
DECLARE @NYMD VARCHAR(8),@NBIN VARCHAR(2),@HINBN VARCHAR(25)
DECLARE @SYUYO INT,@MAISU INT,@HASU INT,@HSURYO INT,@HCKB VARCHAR(1)
DECLARE @HEIKB TINYINT,@HEIYMD VARCHAR(8),@UHKB TINYINT
--  ワーク項目定義  --
DECLARE @HEISU	INT
DECLARE @HEIYY	INT

--  ワーク初期化  --
SELECT @ERR = 0
SELECT @INCNT = 0
----------------------------------------------------------------------------------
--   発注かんばん予定テーブル  読込		
----------------------------------------------------------------------------------
FETCH NEXT FROM HYCUR INTO 
			@KANNO ,@TORCD ,@UKEIR ,
			@NYMD   ,@NBIN  ,@HINBN ,
			@SYUYO ,@MAISU ,@HASU ,@HSURYO,@HCKB,
			@HEIKB  ,@HEIYMD,@UHKB
WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @INCNT = @INCNT + 1
	-- 平準化　復元
	SELECT @HEISU = 0
	SELECT @HEIYY = 0
	IF @HEIKB <> 0 AND @HCKB <> '3'
	   BEGIN
		-- 日当り設定
		IF @HEIKB = 1
		   BEGIN 
			SELECT @HEISU = ISNULL(枚数,0)
				 From かんばんチェックテーブル
				Where 納入日 = @NYMD
				    And 納入便 = ''
				    And 取引先 = @TORCD
				    And 受入    = @UKEIR 
				    And 品番 	 = @HINBN
		   END
		-- 便当り設定
		IF @HEIKB = 2
		   BEGIN 
			SELECT @HEISU = ISNULL(枚数,0)
				 From かんばんチェックテーブル
				Where 納入日 = @NYMD
				    And 納入便 = @NBIN
				    And 取引先 = @TORCD
				    And 受入    = @UKEIR 
				    And 品番 	 = @HINBN
		   END
		-- 月当り設定
		IF @HEIKB = 3
		   BEGIN 
			SELECT @HEISU = ISNULL(枚数,0)
				 From かんばんチェックテーブル
				 Where 納入日 = SUBSTRING(@NYMD,1,6) + '99'
				    And 取引先 = @TORCD
				    And 受入    = @UKEIR 
				    And 品番 	 = @HINBN
		   END
		SELECT @HEISU = @HEISU - @MAISU
		IF @HEISU < 0 
		   BEGIN
			SELECT @HEISU = 0
		   END 
		-- かんばんチェックテーブル更新
		-- 日当り設定
		IF @HEIKB = 1
		   BEGIN 
			UPDATE かんばんチェックテーブル Set 枚数 = @HEISU
				Where 納入日 = @NYMD
				    And 納入便 = ''
				    And 取引先 = @TORCD
				    And 受入    = @UKEIR 
				    And 品番 	 = @HINBN
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 1 GOTO PROC_ERROR END
			SELECT @HEICNT = @HEICNT + 1
		   END
		-- 便当り設定
		IF @HEIKB = 2
		   BEGIN 
			UPDATE かんばんチェックテーブル Set 枚数 = @HEISU
				Where 納入日 = @NYMD
				    And 納入便 = @NBIN
				    And 取引先 = @TORCD
				    And 受入    = @UKEIR 
				    And 品番 	 = @HINBN
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 2 GOTO PROC_ERROR END
			SELECT @HEICNT = @HEICNT + 1
		   END
		-- 月当り設定
		IF @HEIKB = 3
		   BEGIN 
			SELECT @HEIYY = ISNULL(月上限枚数,0)
				 From かんばん平準化テーブル
				Where 取引先 = @TORCD
				    And 受入    = @UKEIR 
				    And 品番 	 = @HINBN
				    And 設定内容区分 = 0
				    And 開始日 = @HEIYMD

			UPDATE かんばんチェックテーブル Set
				 枚数 = @HEISU,
				 月完了区分 = CASE WHEN @HEIYY > @HEISU THEN 0 ELSE 月完了区分 END
				 Where 納入日 = SUBSTRING(@NYMD,1,6) + '99'
				    And 取引先 = @TORCD
				    And 受入    = @UKEIR 
				    And 品番 	 = @HINBN
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 3 GOTO PROC_ERROR END

			SELECT @HEICNT = @HEICNT + 1
			
		   END
	   END
	-- 打切情報　復元（設定残数)
	IF @UHKB = 0
	   BEGIN
		UPDATE 発注打切テーブル Set
				発注数 = 発注数 - @HSURYO,
				完了日 =  '',
				完了便 =  '',
				設定残数 =  設定残数 + @HSURYO,
				更新日 = Getdate(),
				更新端末 = Host_Name()
				Where 打切種別 = 0
				    And 品番 = @HINBN
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 4 GOTO PROC_ERROR END
		SELECT @UCHCNT = @UCHCNT + 1
		--------------------------------
		-- 打切対象品番リスト 出力用
		--------------------------------
		IF Not EXISTS(Select * From 帳票出力テーブル
					Where 端末番号 = Host_Name()
					   And 帳票区分 = 12 
					   And 管理NO = @KANNO )
		   BEGIN
			INSERT INTO 帳票出力テーブル 
				( 端末番号,帳票区分,管理NO,作成日)
				Values
				( Host_Name(),12,@KANNO,Getdate() )
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 5 GOTO PROC_ERROR END
		  END

		UPDATE 発注かんばん予定テーブル Set
			打切残数 = HU.設定残数,
			打切日 = '',
			端数区分 = 0,
			端数 = 0,
			打切区分 = Case When HU.設定残数 > HU.警告数 THEN 9 ELSE 1 END
			From 発注打切テーブル HU
			Where 発注かんばん予定テーブル.品番 = @HINBN
			   And 発注かんばん予定テーブル.処理区分 <> 2
			   And  HU.品番 = @HINBN
			   And  HU.打切種別 = 0
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 6 GOTO PROC_ERROR END

	   END
-- ----------------------------------------------------------
--   発注かんばん予定テーブルカーソルスクロール(次レコード）  		      
-- ----------------------------------------------------------
	FETCH NEXT FROM HYCUR INTO
			@KANNO ,@TORCD ,@UKEIR ,
			@NYMD   ,@NBIN  ,@HINBN ,
			@SYUYO ,@MAISU ,@HASU ,@HSURYO,@HCKB,
			@HEIKB  ,@HEIYMD,@UHKB
END

CLOSE HYCUR
DEALLOCATE HYCUR


----------------------------------
-- かんばん重複チェックテーブル 削除
----------------------------------
Delete かんばん重複チェックテーブル
	From かんばん重複チェックテーブル KJ
	Left Outer Join 発注かんばん予定テーブル KY
		On KY.仕入先 = KJ.取引先
		And KY.受入 = KJ.受入
		And KY.納入日 = KJ.納入日
		And KY.納入便 = KJ.納入便
		And KY.品番 = KJ.品番
	WHERE KY.処理端末 = HOST_NAME()
	   AND  KY.処理区分 = 2
	   AND  KJ.処理区分 = ''
-------------------------------------------------------------------     2005/06/18 Insert
----------------------------------
-- かんばん流動履歴テーブル 削除
----------------------------------
Delete かんばん流動履歴テーブル
	From かんばん流動履歴テーブル KJ
	Left Outer Join 発注かんばん予定テーブル KY
		On KY.仕入先 = KJ.取引先
		And KY.受入 = KJ.受入
		And KY.納入日 = KJ.納入日
		And KY.納入便 = KJ.納入便
		And KY.品番 = KJ.品番
	WHERE KY.処理端末 = HOST_NAME()
	   AND  KY.処理区分 = 2
	   AND  KJ.処理区分 = ''

-------------------------------------------------------------------     2005/06/18 Insert End
----------------------------------
-- 発注明細出力用　打ち切り情報更新
----------------------------------
/*
UPDATE 発注かんばん予定テーブル Set
	打切残数 = HU.設定残数,
	打切日 = '',
	端数区分 = 0,
	端数 = 0,
	打切区分 = Case When HU.設定残数 > HU.警告数 THEN 9 ELSE 1 END
	From 発注打切テーブル HU
	Where 発注かんばん予定テーブル.品番 = (Select 品番 From 発注かんばん予定テーブル 
									WHERE 処理端末 = HOST_NAME()
									   AND  処理区分 = 2
									   AND  打切種別 = 0 
									Group by 品番 ) 
	   And  HU.品番 = (Select 品番 From 発注かんばん予定テーブル 
									WHERE 処理端末 = HOST_NAME()
									   AND  処理区分 = 2
									   AND  打切種別 = 0 
									Group by 品番 ) 
	   And  HU.打切種別 = 0
*/

PROC_END:
-- 正常終了 --
RETURN(0)
PROC_ERROR:
-- 異常終了 --
---TEST --------------------------------------------------
/*
IF @ERR <> 0 
   BEGIN
	 SELECT 'ERROR=',CONVERT(CHAR(2),@ERR)
   END
*/
----------------------------------------------------------
RETURN(@ERR)



GO
