USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[受注期首単価抽出]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   PROCEDURE [dbo].[受注期首単価抽出] (@SYORI VARCHAR(1),@TORCD VARCHAR(7),@YM VARCHAR(6),
				@OUTCNT INT OUTPUT,@ERR TINYINT OUTPUT) AS
------------------------------------------------------------------------------------------------
--	受注期首単価抽出
--
--	期首の受注単価を抽出し、受注単価ワークへ出力する。
--
--	作成日  :  2004/03/22
--	変更日  :  
--					
--	ﾊﾟﾗﾒﾀ	  : 	
--			@SYORI   VARCHAR(1)	-- ''=受注単価マスタより品番を抽出する
--							     '1'=品番取引先マスタより品番を抽出する
--			@TORCD VARCHAR(7)	-- 納入先
--			@YM    VARCHAR(6)		-- 期首月
--							
--	Return	  :  ( 単価 )
--		  : 	@OUTCNT	 INT		･･･	ワーク出力件数
--		  :       @ERR		 TINYINT	･･･	エラーNO    	 	
------------------------------------------------------------------------------------------------
DECLARE @TSYMD VARCHAR(8),@TEYMD VARCHAR(8)
DECLARE @ZEYMD VARCHAR(8)
SET NOCOUNT ON
--T
/*
DECLARE @SYORI VARCHAR(1),@TORCD VARCHAR(7),@YM VARCHAR(6),@OUTCNT INT,@ERR TINYINT

SELECT @SYORI = '',@TORCD = '7388',@YM = '200507'
*/
--T

SELECT @OUTCNT = 0,@ERR = 0
SELECT @TSYMD = @YM + '01'
SELECT @TEYMD = CONVERT(VARCHAR(8),DATEADD(d,-1,DATEADD(m,6,@TSYMD)),112)
SELECT @ZEYMD = CONVERT(VARCHAR(8),DATEADD(d,-1,@TSYMD),112)
SELECT @TSYMD,@TEYMD,@ZEYMD



--*------------------------------------------------*--
--*	ワーク削除
--*------------------------------------------------*--
DELETE FROM 受注単価ワーク WHERE 処理端末 = HOST_NAME()
IF @@ERROR <> 0 	BEGIN SELECT @ERR = 1 	GOTO PROC_END 	END
--*------------------------------------------------*--
--*	品番抽出
--*------------------------------------------------*--
IF @SYORI = ''
    BEGIN
	--<< 受注単価マスタより品番抽出  >>
	INSERT INTO 受注単価ワーク (処理端末,品番,取引先,前回履歴NO,履歴NO)
	SELECT HOST_NAME(),品番,取引先,0,0 FROM 受注単価マスタ
	WHERE 取引先 = @TORCD
	GROUP BY 品番,取引先
    END
ELSE
    BEGIN
	--<< 品番取引先マスタより品番抽出  >>
	INSERT INTO 受注単価ワーク (処理端末,品番,取引先,前回履歴NO,履歴NO)
	SELECT HOST_NAME(),品番,取引先,0,0 FROM 品番取引先マスタ
	WHERE 取引先 = @TORCD
	    AND 品目 = 0
	GROUP BY 品番,取引先
    END
SELECT @OUTCNT = @@ROWCOUNT

IF @OUTCNT = 0 BEGIN 	GOTO PROC_END 	END
--*------------------------------------------------*--
--*	単価付加
--*------------------------------------------------*--
UPDATE 受注単価ワーク SET
 履歴NO = ISNULL(JT1.履歴NO,0),
 単価 = ISNULL(JT1.単価,0),
 仮単価区分 = ISNULL(JT1.仮単価区分,''),
 部品単価 = ISNULL(JT1.部品単価,0),
 梱包単価 = ISNULL(JT1.梱包単価,0),
 適用開始日付 = ISNULL(JT1.適用開始日付,''),
 適用終了日付 = ISNULL(JT1.適用終了日付,''),
 前回履歴NO = ISNULL(JT2.履歴NO,0),
 前回単価 =  ISNULL(JT2.単価,0),
 前回仮単価区分 = ISNULL(JT2.仮単価区分,''),
 前回部品単価 = ISNULL(JT2.部品単価,0),
 前回梱包単価 = ISNULL(JT2.梱包単価,0)
  FROM 受注単価ワーク JT
 LEFT OUTER JOIN 受注単価マスタ JT1
   ON JT1.取引先 = JT.取引先
   AND JT1.品番 = JT.品番
   AND JT1.履歴NO = (SELECT MAX(JT1S.履歴NO)履歴NO FROM 受注単価マスタ JT1S
				 WHERE JT1S.取引先 = @TORCD
				     AND JT1S.品番 = JT.品番
				     AND JT1S.適用開始日付 = @TSYMD
				     AND JT1S.適用終了日付 = @TEYMD
				 GROUP BY JT1S.取引先,JT1S.品番)
 LEFT OUTER JOIN 受注単価マスタ JT2
   ON JT2.取引先 = JT.取引先
   AND JT2.品番 = JT.品番
   AND JT2.履歴NO = (SELECT MAX(JT2S.履歴NO)履歴NO FROM 受注単価マスタ JT2S
				 WHERE JT2S.取引先 = @TORCD
				     AND JT2S.品番 = JT.品番
				     AND JT2S.適用終了日付 = @ZEYMD
				 GROUP BY JT2S.取引先,JT2S.品番)
 WHERE JT.取引先 = @TORCD
IF @@ERROR <> 0 	BEGIN SELECT @ERR = 2 	GOTO PROC_END 	END

PROC_END:
--SELECT @OUTCNT,@ERR
--SELECT * FROM 受注単価ワーク

RETURN(@ERR)








GO
