USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[かんばん発注指示抽出]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[かんばん発注指示抽出] (
					@SHYMD 	VARCHAR(08),
					@SHTIME 	VARCHAR(04),
					@ERRNO 	TINYINT OUTPUT
					 )  AS 
------------------------------------------------------------------------------------------------
--	かんばん発注指示抽出
--
--	かんばん発注指示用データ作成
--
--	Create Date  :  2004/05/12 
--					
--	ﾊﾟﾗﾒﾀ	  : 	@SHYMD	 VARCHAR(08)    ･･･	指定発注日
--		  : 	@SHTIME	 VARCHAR(04)    ･･･	指定発行時間
--							
--	Return	  : 
--		  : 	@ERRNO	 TINYINT	･･･	ｴﾗｰｺｰﾄﾞ
--										
--			ｴﾗｰ要因 	0   : 正常終了
--			 		0≠: 異常終了
------------------------------------------------------------------------------------------------
SET NOCOUNT ON
--T
/*
DECLARE @SHYMD VARCHAR(08)
DECLARE @SHTIME VARCHAR(04)

SELECT @SHYMD = Convert(varchar(8),Getdate(),112)
SELECT @SHTIME = '0830'
*/
-- T END

-- 退避エリア
DECLARE @ERR  		TINYINT
DECLARE @RTN  		TINYINT

-- 初期値設定
SELECT @ERR = 0

-- 前回　発注予定テーブル削除
Delete 発注予定テーブル Where 端末番号 = Host_Name()
IF @@ERROR <> 0 BEGIN SELECT @ERR = 1 GOTO PROC_ERROR END

/*
--IDENTITY の初期化
IF Not EXISTS(Select 仕入先 From 発注予定テーブル )
   BEGIN
	DBCC CHECKIDENT(発注予定テーブル,RESEED,0)
IF @@ERROR <> 0 BEGIN SELECT @ERR = 1 GOTO PROC_ERROR END
   END
*/
--------------------------------
--	発注予定テーブル作成 
--------------------------------
Insert Into 発注予定テーブル
	( 端末番号,仕入先,受入,サイクル,便,指定発注日,指定発行時間,最終発注日,
	  発注予定日,納入日,納入便,処理日時 )
SELECT Host_Name(),HS.仕入先,HS.受入,HS.サイクル,HS.振出便,@SHYMD,@SHTIME,HS.最終発注日,
	CASE WHEN SUBSTRING(HS.サイクル,1,1) = '1' THEN @SHYMD Else '' END, --Convert(VARCHAR(8),Getdate(),112) ELSE '' END,
	'','',Getdate()
	From 発注サイクルマスタ HS
 Where HS.発行時間 =@SHTIME
     And HS.行識別 = 0
Group By HS.仕入先,HS.受入,HS.振出便,HS.サイクル,HS.最終発注日

IF @@ERROR <> 0 BEGIN SELECT @ERR = 2 GOTO PROC_ERROR END

--  ｶｰｿﾙ項目定義  --
DECLARE @NO INT,@TORCD VARCHAR(8),@UKEIR VARCHAR(2),@CYCLE VARCHAR(6),@BIN VARCHAR(2),@EYMD VARCHAR(8)
DECLARE @HYDATE	VARCHAR(8)
--  ワーク項目定義  --
DECLARE @YDATE	VARCHAR(8)
DECLARE @HI		INT
DECLARE @W_NYMD 	VARCHAR(8)
DECLARE @W_NBIN 	VARCHAR(2)
DECLARE @HDATE 	VARCHAR(8)
DECLARE @HTIME 	VARCHAR(4)
DECLARE @PDATE 	VARCHAR(8) 
DECLARE @PTIME 	VARCHAR(4)
DECLARE @WDATE   VARCHAR(8)
DECLARE @ADDDAY INT

-- システム日付退避
SELECT @WDATE = Convert(varchar(8),Getdate(),112)

-----------------------------------------
--	発注予定テーブル最終発注日未設定分更新 
-----------------------------------------
---------------------------------------------
--	発注開始日より発注予定日を求める 
---------------------------------------------
-- ------------------------------------------
--      発注予定テーブルカーソル定義		
-- ------------------------------------------
DECLARE HYSCUR SCROLL CURSOR
FOR 

	SELECT HY.番号,HY.サイクル,ISNULL(TR.開始発注日,'')
	  FROM 発注予定テーブル HY
		Left Outer Join 取引先マスタ TR
			ON  TR.取引先CD = HY.仕入先
		          And TR.取引先区分 = 1
	WHERE 端末番号 = HOST_NAME()
	    And 最終発注日 = ''
	    And SUBSTRING(サイクル,1,1) <> '1'
	    And ISNULL(TR.開始発注日,'') <> ''
FOR READ ONLY 
OPEN HYSCUR
----------------------------------------------------------------------------------
--   発注予定テーブル  読込		
----------------------------------------------------------------------------------
FETCH NEXT FROM HYSCUR INTO 
			@NO , @CYCLE , @EYMD
WHILE @@FETCH_STATUS = 0
BEGIN
	-- サイクルより日を求める
	SELECT @HI = CAST(SUBSTRING(@CYCLE,1,1) AS INT)
	-- 日付減算（稼働日）
	SELECT @ADDDAY = @HI * -1
	EXEC 日付加算 @EYMD,@ADDDAY,@YDATE OUTPUT,@RTN OUTPUT
	UPDATE 発注予定テーブル SET
		最終発注日 = @YDATE
	WHERE 端末番号 = HOST_NAME()
	     And 番号 = @NO
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 3 GOTO PROC_ERROR END

-- ----------------------------------------------------------
--   発注予定テーブルカーソルスクロール(次レコード）  		      
-- ----------------------------------------------------------
	FETCH NEXT FROM HYSCUR INTO 
			@NO , @CYCLE , @EYMD
END

CLOSE HYSCUR
DEALLOCATE HYSCUR

---------------------------------------------
--	最終発注日より発注予定日を求める 
---------------------------------------------
-- ------------------------------------------
--      発注予定テーブルカーソル定義		
-- ------------------------------------------
DECLARE HYCUR SCROLL CURSOR
FOR 

	SELECT 番号,仕入先,受入,サイクル,便,最終発注日,発注予定日
	  FROM 発注予定テーブル
	WHERE 端末番号 = HOST_NAME()
	   AND  ( 最終発注日 <> '' or 発注予定日 <> '' )

FOR READ ONLY 
OPEN HYCUR

----------------------------------------------------------------------------------
--   発注予定テーブル  読込		
----------------------------------------------------------------------------------
FETCH NEXT FROM HYCUR INTO 
			@NO ,@TORCD ,@UKEIR , @CYCLE , @BIN , @EYMD,
			@HYDATE
WHILE @@FETCH_STATUS = 0
BEGIN
	-- サイクルより日を求める
	SELECT @HI = CAST(SUBSTRING(@CYCLE,1,1) AS INT)
	IF @EYMD = '' And @HYDATE = '' 
	   BEGIN
		-- 日付減算（稼働日）
		SELECT @ADDDAY = @HI * -1
		EXEC 日付加算 @WDATE,@ADDDAY,@EYMD OUTPUT,@RTN OUTPUT
		UPDATE 発注予定テーブル SET
			最終発注日 = @EYMD
		WHERE 端末番号 = HOST_NAME()
		     And 番号 = @NO
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 4 GOTO PROC_ERROR END
	   END
	-- 発注予定日を求める（日が１以外)
	IF @HYDATE = ''
	   SELECT @HYDATE = @EYMD
	   BEGIN	
		WHILE @HYDATE < @SHYMD
		   BEGIN
			-- 日付加算（稼働日）
			EXEC 日付加算 @HYDATE,@HI,@YDATE OUTPUT,@RTN OUTPUT
			IF @RTN <> 0 
			   BEGIN
				BREAK
			   END
			SELECT @HYDATE = @YDATE
		   END
	   END
	-- 発注予定日更新  日付加算が正常
	IF @HYDATE <> ''
	   BEGIN
		SELECT @W_NYMD = ''
		SELECT @W_NBIN = ''
		SELECT @HDATE = ''
		SELECT @HTIME = ''
		SELECT @PDATE = ''
		SELECT @PTIME = ''
		-- 発注予定日が指定発注日と同じ時、納期を求める
		IF @SHYMD = @HYDATE
		   BEGIN
			EXEC 便算出 '+' , @TORCD , @CYCLE , @UKEIR , @HYDATE , @BIN OUTPUT ,0,0,
				@RTN OUTPUT,@W_NYMD OUTPUT,@W_NBIN OUTPUT,
				@HDATE OUTPUT,@HTIME OUTPUT,
				@PDATE OUTPUT,@PTIME OUTPUT
		   END
		UPDATE 発注予定テーブル SET
			発注予定日 = @HYDATE,
			便 = @BIN,
			納入日 = @W_NYMD,
			納入便 = @W_NBIN
		WHERE 端末番号 = HOST_NAME()
		     And 番号 = @NO
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 5 GOTO PROC_ERROR END
	   END
-- ----------------------------------------------------------
--   発注予定テーブルカーソルスクロール(次レコード）  		      
-- ----------------------------------------------------------
	FETCH NEXT FROM HYCUR INTO
			@NO ,@TORCD ,@UKEIR , @CYCLE , @BIN , @EYMD ,
			@HYDATE
END

CLOSE HYCUR
DEALLOCATE HYCUR

-- 正常終了 --
RETURN(0)
PROC_ERROR:
-- 異常終了 --
---TEST --------------------------------------------------
/*
IF @ERR <> 0
   BEGIN
	 SELECT 'ERROR=',CONVERT(CHAR(2),@ERR)
   END	
*/
------- --------------------------------------------------
RETURN(@ERR)





GO
