USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[売上照合更新]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[売上照合更新]	(
			@YM		VARCHAR(6),
			@SYOKB	VARCHAR(2),
			@KURIKB	TINYINT,
			@PROC	VARCHAR(1),
		-- OUTPUT
			@TERR	TINYINT	OUTPUT
)	 AS	
--*-----------------------------------------------------------------------------------------------*--
--*	売上照合更新
--*
--*	処理内容		売上照合内容の更新を行う。
--*
--*	ﾊﾟﾗﾒﾀ		@YM		 : 	照合年月
--*			@SYOKB	 : 	照合結果
--*			@KURIKB	 : 	繰越し区分	
--*						0：翌月繰越し有り
--*						1：翌月繰越し無し
--*			@PROC	 :	更新区分(繰越有りの時)
--*						'' ：売上テーブル,TEXT買掛金テーブル更新
--*						'1'：売上テーブル更新
--*						'2'：TEXT買掛金テーブル更新
--*
--*	戻り値		@TERR   	 :      処理結果
--*						0  :正常終了
--*						≠0:異常終了
--*
--*	Create Date	2004/11/16
--*
--*-----------------------------------------------------------------------------------------------*--
SET NOCOUNT ON
-- --T 
-- 
--  DECLARE @YM	VARCHAR(6)
--  DECLARE @SYOKB	VARCHAR(2)		-- 照合結果コード
--  DECLARE @KURIKB	TINYINT
--  DECLARE @PROC	VARCHAR(1)		-- 更新パターン
--  DECLARE @TERR	TINYINT
-- -- 
--  SELECT @YM = '200410'
--  SELECT @SYOKB = '1'
--  SELECT @PROC = ''
--  SELECT @KURIKB = 1
-- --
-- 初期値セット
SELECT @TERR = 0

UPDATE 売上照合ワーク	SET
	照合結果 = UW.照合結果
	 FROM 売上照合結果ワーク UW
		WHERE ISNULL(売上照合ワーク.照合日付,'') = UW.照合日付
		    AND ISNULL(売上照合ワーク.照合納番,'')   = UW.照合納番
		    AND ISNULL(売上照合ワーク.照合品番,'')   = UW.照合品番
		    AND ISNULL(売上照合ワーク.照合管理,'')   = UW.照合管理
		    AND UW.照合結果 = @SYOKB
IF @@ERROR <> 0 BEGIN SELECT @TERR = 81 GOTO PROC_ERROR END
IF @KURIKB = 1 
   BEGIN
	UPDATE 売上明細テーブル	SET
		照合年月 = @YM,
		照合処理日 = CONVERT(CHAR(8),GETDATE(),112),
		照合結果 = UW.照合結果,
		更新日 = GETDATE(),
		更新端末 = Host_Name()
		 FROM 売上照合結果ワーク UW
			WHERE ISNULL(売上明細テーブル.照合日付,'') = UW.照合日付
			    AND ISNULL(売上明細テーブル.照合納番,'')   = UW.照合納番
			    AND ISNULL(売上明細テーブル.照合品番,'')   = UW.照合品番
			    AND ISNULL(売上明細テーブル.照合管理,'')   = UW.照合管理
			    AND UW.照合結果 = @SYOKB
	IF @@ERROR <> 0 BEGIN SELECT @TERR = 82 GOTO PROC_ERROR END
	UPDATE TEXT買掛金テーブル  SET
		照合年月 = @YM,
		照合結果 = UW.照合結果,
		照合処理日 = CONVERT(CHAR(8),GETDATE(),112),
		更新日 = GETDATE(),
		更新端末 = Host_Name()
		 FROM 売上照合結果ワーク UW
			WHERE TEXT買掛金テーブル.財務管理番号 = UW.財務管理番号
			  AND UW.照合結果 = @SYOKB
	IF @@ERROR <> 0 BEGIN SELECT @TERR = 83 GOTO PROC_ERROR END
   END
ELSE
   BEGIN
	IF @PROC = '1'	OR @PROC = ''
	   BEGIN
		UPDATE 売上明細テーブル	SET
			照合処理日 = CONVERT(CHAR(8),GETDATE(),112),
			照合結果 = UW.照合結果,
			更新日 = GETDATE(),
			更新端末 = Host_Name()
			 FROM 売上照合結果ワーク UW
				WHERE ISNULL(売上明細テーブル.照合日付,'') = UW.照合日付
				    AND ISNULL(売上明細テーブル.照合納番,'')   = UW.照合納番
				    AND ISNULL(売上明細テーブル.照合品番,'')   = UW.照合品番
				    AND ISNULL(売上明細テーブル.照合管理,'')   = UW.照合管理
				    AND UW.照合結果 = @SYOKB
		IF @@ERROR <> 0 BEGIN SELECT @TERR = 85 GOTO PROC_ERROR END
	   END	
	IF @PROC = '2'	OR @PROC = ''
	   BEGIN
		UPDATE TEXT買掛金テーブル  SET
			照合結果 = UW.照合結果,
			照合処理日 = CONVERT(CHAR(8),GETDATE(),112),
			更新日 = GETDATE(), 
			更新端末 = Host_Name()
			 FROM 売上照合結果ワーク UW
				WHERE TEXT買掛金テーブル.財務管理番号 = UW.財務管理番号
				  AND UW.照合結果 = @SYOKB
		IF @@ERROR <> 0 BEGIN SELECT @TERR = 86 GOTO PROC_ERROR END
	   END	
  END
------------------------------
--         終 了　
------------------------------
END_PROC:

RETURN(0)

------------------------------
--    エラー処理
------------------------------
PROC_ERROR:
--T
--SELECT 'ERR=' + CONVERT(CHAR(2),@TERR)
--T END

RETURN(@TERR)



















GO
