USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[材料発注入荷処理]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE  PROCEDURE [dbo].[材料発注入荷処理] (@INJCNT INT OUTPUT,@INBCNT INT OUTPUT,@HCCNT INT OUTPUT,@NBCNT INT OUTPUT,@JAMACNT INT OUTPUT,
					@TXTCNT INT OUTPUT,@NPAGE INT OUTPUT,@SPAGE INT OUTPUT,@JPAGE INT OUTPUT,@MNCNT INT OUTPUT,
					@RJCNT INT OUTPUT,@GPCNT INT OUTPUT,@HLCNT INT OUTPUT,@ERRCD TINYINT OUTPUT) AS
-----------------------------------------------------------------------------------------------------
--	材料発注分納累積
--
--	処理内容　：　材料入荷実績処理ワークより
--			1.入荷に対する受領書データの作成（品番取引先MSの受領書発行=受領時、受領書形態<>''
--			2.分納分の発注累積
--			 2-1.納入番号・発注管理NOを採番し、材料発注テーブルに出力する
--			 2-2.納品書・支給書・受領書発行データを作成する（発注帳票発行テーブル）
--			 2-3.明細書・臨時かんばん・現品票・端数ラベル発行データを作成する（帳票出力テーブル）
--			4.材料入荷実績処理ワークの削除を行う
--
--	パラメタ：(IN)	
--		 (OUT)	@INJCNT   	…　受領件数
--			@INBCNT   	…　分納件数
--			@HCCNT   	…　発注累積件数
--			@NBCNT   	…　納入番号採番件数
--			@JAMACNT   	…　JAMAテキスト出力件数
--			@NPAGE   	…　納品書頁数
--			@SPAGE   	…　支給書頁数
--			@JPAGE   	…　受領書頁数
--			@MNCNT   	…　明細書納入番号件数
--			@RJCNT   	…　臨時かんばん件数	（未使用）
--			@GPCNT   	…　現品票件数
--			@HLCNT   	…　端数ラベル件数	（未使用）
--			@ERR   	…　エラーコード
--
--	作 成 日　：	2004/02/24
--	変 更 日　：	2007/12/12	納品書発行区分･支給書発行区分･受領書発行区分を品番単位で設定
--
--
-----------------------------------------------------------------------------------------------------
DECLARE @OP_RNJPRT TINYINT,@OP_GEPPRT TINYINT,@OP_HASPRT TINYINT
SET NOCOUNT ON
DECLARE @OPTION VARCHAR(1)

-- TEST
--DECLARE @INJCNT INT,@INBCNT INT,@HCCNT INT,@NPAGE INT,@SPAGE INT,@JPAGE INT,@JAMACNT INT,@NBCNT INT
--DECLARE @MNCNT INT,@RJCNT INT,@GPCNT INT,@HLCNT INT,@TXTCNT INT,@ERRCD TINYINT

--

SELECT @INJCNT = 0,@INBCNT = 0,@HCCNT = 0,@NPAGE = 0,@SPAGE = 0,@JPAGE = 0,@JAMACNT = 0,@NBCNT = 0
SELECT @MNCNT = 0,@RJCNT = 0,@GPCNT = 0,@HLCNT = 0,@TXTCNT = 0,@ERRCD = 0

-----------------------------------------
-- 初期処理    材料発注累積テーブル　削除	
-----------------------------------------
DELETE FROM 材料発注累積テーブル
WHERE 処理端末 = HOST_NAME()
    AND 処理区分 = 9
IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 101	GOTO PROC_ERR	END
--*---------------------------------------
-- 初期処理    材料発注累積ワーク　削除	
-----------------------------------------
DELETE FROM 材料発注累積ワーク
WHERE 処理端末 = HOST_NAME()
IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 102	GOTO PROC_ERR	END
-----------------------------------------
-- 初期処理    帳票出力テーブル　削除	
-----------------------------------------
--自社伝票発行用（納品書・受領書・支給書）
DELETE FROM 帳票出力テーブル
WHERE 端末番号 = HOST_NAME()
    AND 帳票区分 = 25
IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 103	GOTO PROC_ERR	END
--自社ファイル出力用
DELETE FROM 帳票出力テーブル
WHERE 端末番号 = HOST_NAME()
    AND 帳票区分 = 26
IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 104	GOTO PROC_ERR	END
--JAMAファイル出力用
--DELETE FROM 帳票出力テーブル
--WHERE 端末番号 = HOST_NAME()
--    AND 帳票区分 = 27
--IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 105	GOTO PROC_ERR	END
--発注明細書発行用
DELETE FROM 帳票出力テーブル
WHERE 端末番号 = HOST_NAME()
    AND 帳票区分 = 28
IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 106	GOTO PROC_ERR	END
--発注明細書発行編集用
DELETE FROM 帳票出力テーブル
WHERE 端末番号 = HOST_NAME()
    AND 帳票区分 = 128
IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 106	GOTO PROC_ERR	END
--臨時かんばん発行用
--DELETE FROM 帳票出力テーブル
--WHERE 端末番号 = HOST_NAME()
--    AND 帳票区分 = 29
--IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 107	GOTO PROC_ERR	END
--現品票発行用
DELETE FROM 帳票出力テーブル
WHERE 端末番号 = HOST_NAME()
    AND 帳票区分 = 30
IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 108	GOTO PROC_ERR	END
--端数ラベル発行用
--DELETE FROM 帳票出力テーブル
--WHERE 端末番号 = HOST_NAME()
--    AND 帳票区分 = 31
--IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 109	GOTO PROC_ERR	END

----------------------------------
--<<　 システムオプション設定獲得         >>--
-----------------------------------
SELECT @OP_RNJPRT = 0,@OP_GEPPRT = 0,@OP_HASPRT = 0
--臨時かんばん発行有無
SELECT @OPTION = ''
SELECT @OPTION = (SELECT oyian FROM irnaksic
			  WHERE bk = 'Option' AND  rno = 1)
IF @OPTION = '' OR @OPTION IS NULL BEGIN SELECT @OPTION = '0'	END
SELECT @OP_RNJPRT = CONVERT(TINYINT,@OPTION)
--現品票発行有無
SELECT @OPTION = ''
SELECT @OPTION = (SELECT oyian FROM irnaksic
			  WHERE bk = 'Option' AND  rno = 2)
IF @OPTION = '' OR @OPTION IS NULL  	BEGIN SELECT @OPTION = '0'	END
SELECT @OP_GEPPRT = CONVERT(TINYINT,@OPTION)
--端数ラベル発行有無
SELECT @OPTION = ''
SELECT @OPTION = (SELECT oyian FROM irnaksic
			  WHERE bk = 'Option' AND  rno = 3)
IF @OPTION = '' OR @OPTION IS NULL  	BEGIN SELECT @OPTION = '0'	END
SELECT @OP_HASPRT = CONVERT(TINYINT,@OPTION)

-----------------------------
--<<　 トランザクション開始         >>--
-----------------------------
BEGIN TRANSACTION HCCRT
--=========================================================================================
--       <<　 受領データ抽出   >>	材料発注累積テーブルに出力する
--
--	抽出条件    	材料入荷テーブル.入荷数 <> 0	
--			材料取引先マスタ.受領書発行 = 1 (受領時)
--			材料取引先マスタ.受領書形態 <> '' (発行・ファイル出力)
--	
--=========================================================================================
	INSERT INTO 材料発注累積テーブル (
		処理端末,発注区分,仕入先,受入,納入日,納入便,手配区分,SK区分,材料管理番号,
		発注管理NO,納品書管理NO,納入番号,納品書頁,納品書行,
		材質,板厚,幅,長さ,背番号,収容数,枚数,端数,発注数,
		契約先,納入先,納入先受入,サイクル,担当者,発注日,発注便,端数区分,
		打切区分,打切種別,打切残数,打切日,内示超過区分,
		伝票発行区分,伝票種類,納品書形態,受領書形態,
		納品書作成区分,支給書作成区分,受領書作成区分,明細書形態,
		作成種別,処理区分,作成日,作成端末,作成者,
		納品書発行区分,支給書発行区分,受領書発行区分)					-- 2007/12/12 ADD
	SELECT 処理端末,HC.発注区分,HC.仕入先,HC.受入,NY.入荷日,NY.入荷便,HC.手配区分,HC.SK区分,HC.材料管理番号,
		HC.発注管理NO,HC.納品書管理NO,HC.納入番号,HC.納品書頁,HC.納品書行,
		HC.材質,HC.板厚,HC.幅,HC.長さ,HC.背番号,HC.収容数,NY.入荷枚数,NY.入荷端数,NY.入荷数,
		HT.契約先,HT.メーカー,HT.メーカー受入,HT.サイクル,'',HC.発注日,HC.発注便,0,0,'',0,'',0,
		2,ISNULL(HT.伝票種類,''),'',ISNULL(HT.受領書形態,''),
		0,0,1,'','J',0,GETDATE(),HOST_NAME(),NY.作成者,
		0,0,CASE WHEN ISNULL(HT.受領書発行区分,1) = 0 THEN 1 ELSE 0 END		-- 2007/12/12 ADD
	FROM 材料入荷実績処理ワーク NW
	LEFT OUTER JOIN 材料発注テーブル HC
		ON HC.発注管理NO = NW.発注管理NO
	LEFT OUTER JOIN 材料入荷テーブル NY
		ON NY.発注管理NO = NW.発注管理NO
	LEFT OUTER JOIN 材料取引先マスタ HT
		ON  HT.材料管理番号 = HC.材料管理番号
		AND HT.取引先 = HC.仕入先
		AND HT.受入 = HC.受入
	LEFT OUTER JOIN 名称マスタ SY
		ON SY.区分名称 = '手配区分'
		AND SY.区分タイプ = ''
		AND SY.値 = HC.手配区分
	WHERE NW.処理端末 = HOST_NAME()
	    AND NW.処理区分 = 0
	    AND ISNULL(HT.受領書発行,1) = 1
	    AND ISNULL(HT.受領書形態,'') <> ''
	    AND SUBSTRING(ISNULL(SY.英数字1,''),2,1) <> ''
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 114	GOTO PROC_ERR	END

	--(( 受領データ件数 ))
	SELECT @INJCNT = (SELECT COUNT(*) FROM 材料発注累積テーブル
				WHERE 処理端末 = HOST_NAME()
	    			    AND 処理区分 = 0)
				
--=========================================================================================
--       <<　 分納分発注データ抽出   >>	材料発注累積ワークに出力する
--
--	抽出条件    	材料入荷テーブル.分割数 <> 0	
--	
--=========================================================================================
	INSERT INTO 材料発注累積ワーク (
		処理端末,伝票発行区分,伝票種類,納品書形態,受領書形態,受領書発行,明細書発行,
		契約先,仕入先,受入,納入先,納入先受入,発注区分,手配区分,SK区分,納入日,納入便,
		材質,板厚,幅,長さ,材料管理番号,背番号,収容数,枚数,端数,発注数,サイクル,
		発注日,発注便,端数区分,打切区分,打切種別,打切残数,打切日,内示超過区分,帳票別発行区分,
		作成種別,処理区分,納入番号,分納区分,発注管理NO,作成日,作成端末,作成者 )
	SELECT 処理端末,
		CASE WHEN ISNULL(HT.伝票種類,'') = '' THEN 0 ELSE 1 END,
		CASE WHEN ISNULL(HT.伝票種類,'') = '' THEN '1' ELSE ISNULL(HT.伝票種類,'') END,
		CASE WHEN ISNULL(HT.伝票種類,'') = '' THEN '' ELSE ISNULL(HT.納品書形態,'') END,
		CASE WHEN ISNULL(HT.伝票種類,'') = '' THEN ''
		         WHEN ISNULL(HT.受領書発行,1) = 1 THEN '' ELSE ISNULL(HT.受領書形態,'') END,
		CASE WHEN ISNULL(HT.伝票種類,'') = '' THEN 1 ELSE ISNULL(HT.受領書発行,1) END,
		CASE WHEN ISNULL(HT.伝票種類,'') = '2' THEN ISNULL(TR.明細書発行,'2') ELSE ISNULL(HT.明細書発行,'2') END,
		HT.契約先,HC.仕入先,HC.受入,HT.メーカー,HT.メーカー受入,HC.発注区分,HC.手配区分,HC.SK区分,
		NY.挽回日,NY.挽回便,HC.材質,HC.板厚,HC.幅,HC.長さ,HC.材料管理番号,
		HC.背番号,HC.収容数,0,0,NY.分割数,HT.サイクル,
		HC.発注日,'',0,
		0,'',0,'',0,ISNULL(SY.英数字1,''),
		'J',0,HC.納入番号,HC.分納区分,HC.初回発注管理NO,GETDATE(),HOST_NAME(),NY.作成者
	FROM 材料入荷実績処理ワーク NW
	LEFT OUTER JOIN 材料発注テーブル HC
		ON HC.発注管理NO = NW.発注管理NO
	LEFT OUTER JOIN 材料入荷テーブル NY
		ON NY.発注管理NO = NW.発注管理NO
	LEFT OUTER JOIN 材料取引先マスタ HT
		ON   HT.材料管理番号 = HC.材料管理番号
		AND HT.取引先 = HC.仕入先
		AND HT.受入 = HC.受入
	LEFT OUTER JOIN 取引先マスタ TR
		ON TR.取引先区分 = 1
		AND TR.取引先CD = HC.仕入先
	LEFT OUTER JOIN 名称マスタ SY
		ON SY.区分名称 = '手配区分'
		AND SY.区分タイプ = ''
		AND SY.値 = HC.手配区分
	WHERE NW.処理端末 = HOST_NAME()
	    AND NW.処理区分 = 0
	    AND NY.分割数 <> 0
	ORDER BY HC.納入番号,HC.納品書頁,HC.納品書行
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 115	GOTO PROC_ERR	END

	--(( 分納発注データ件数 ))
	SELECT @INBCNT = (SELECT COUNT(*) FROM 材料発注累積ワーク
				WHERE 処理端末 = HOST_NAME()
	    			    AND 処理区分 = 0)

--------------------------------------
-- 	材料入荷実績処理ワーク.処理区分　更新
--------------------------------------
UPDATE 材料入荷実績処理ワーク SET
        処理区分 = 9
WHERE 処理端末 = HOST_NAME()
    AND 処理区分 = 0
IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 116	GOTO PROC_ERR	END

-------------------
-- 	処理分岐
-------------------
IF @INBCNT = 0 	BEGIN 	GOTO PROC_DENPYO	END

--=========================================================================================--
--       <<　 分納分発注データ作成   >>	材料発注累積ワークから材料発注累積テーブルに出力する
--
--	1. 納入番号の下1桁を +1 し、分納分の納入番号とする
--	2. 納品書の頁数は納入番号内の連番とする。
--	3. 枚数・端数を算出する。
--	4 .発注管理NOの採番・納品書管理NOの採番
--	5. 材料発注累積テーブルに出力する
--	6. 明細書・現品票(収容数=00)の発行対象分を帳票出力テーブルに出力する
--	    （　臨時かんばん・現品票(収容数<>0)・端数ラベルは発行対象外　）
--	7. 材料発注テーブルに出力する
--	8. 材料入荷実績処理ワークの削除を行う
--=========================================================================================--
--------------------------------------------
--     材料発注累積ワークカーソル定義		
--------------------------------------------
DECLARE HCCUR SCROLL CURSOR
FOR 
	SELECT HW.伝票発行区分,HW.伝票種類,HW.納品書形態,HW.受領書発行,HW.受領書形態,HW.明細書発行,
		HW.納入番号,HW.分納区分,HW.収容数,HW.発注数,HW.SK区分,HW.発注管理NO,
		HW.管理NO,HW.帳票別発行区分,
		ISNULL(HT.納品書発行区分,1),ISNULL(HT.支給書発行区分,1),ISNULL(HT.受領書発行区分,1)			-- 2007/12/12 ADD
	 FROM 材料発注累積ワーク HW
	LEFT OUTER JOIN 材料取引先マスタ HT
		ON   HT.材料管理番号 = HW.材料管理番号
		AND HT.取引先 = HW.仕入先
		AND HT.受入 = HW.受入
	WHERE 処理端末 = HOST_NAME()
	  AND   処理区分 = 0
	ORDER BY HW.納入番号,HW.納入日,HW.納入便,HW.伝票発行区分,HW.納品書形態,HW.受領書発行,HW.受領書形態,HW.明細書発行

FOR READ ONLY 
OPEN HCCUR

--( ｶｰｿﾙ項目定義  )--
DECLARE @DENHKB TINYINT,@DENSYU VARCHAR(1),@NOUKKB VARCHAR(1)
DECLARE @JYUKB TINYINT,@JYUKKB VARCHAR(1),@MEIKKB VARCHAR(1)
DECLARE @NOUNO VARCHAR(5),@BUNKB TINYINT,@SYUYO DECIMAL(9,3) ,@HSURYO DECIMAL(11,3),@SKKBN TINYINT
DECLARE @HKANRINO INT,@KANRINO INT,@CYOHKB VARCHAR(10)
--* 2007/12/12 Update Start
DECLARE @PRTKBN TINYINT,@PRTKBS TINYINT,@PRTKBJ TINYINT			
--* 2007/12/12 Update End
--(  納入番号　採番キー  )--
DECLARE @KEY_NOUNO VARCHAR(5)
--
--(  ワーク項目定義  )--
DECLARE @BNOUNO VARCHAR(5),@BNKANRINO INT
DECLARE @PAGE TINYINT,@GYO TINYINT
DECLARE @HCNO INT
DECLARE @MAISU INT,@HASU DECIMAL(9,3)
--(  納入番号　採番キー初期化  )--
SELECT @KEY_NOUNO = ''
--(  ワーク初期化  )--
SELECT @BNOUNO = ''
------------------------------------------------------------------------------------
--   材料発注累積ワーク  読込		
------------------------------------------------------------------------------------
FETCH NEXT FROM HCCUR INTO @DENHKB ,@DENSYU ,@NOUKKB ,@JYUKB ,@JYUKKB ,@MEIKKB ,
					@NOUNO ,@BUNKB ,@SYUYO ,@HSURYO ,@SKKBN ,@HKANRINO ,@KANRINO ,@CYOHKB 
					,@PRTKBN ,@PRTKBS ,@PRTKBJ									-- 2007/12/12 ADD
WHILE @@FETCH_STATUS = 0
BEGIN

	IF @KEY_NOUNO <> @NOUNO
	    BEGIN
		----------------------------
		--   納入番号 採番
		----------------------------
		SELECT @BNOUNO = SUBSTRING(@NOUNO,1,4) + CONVERT(VARCHAR(1),@BUNKB + 1)
		---------------------------
		-- 納品書管理NO 採番
		---------------------------
		EXEC 番号獲得 8,@BNKANRINO OUTPUT,@ERRCD OUTPUT
		IF @ERRCD <> 0 BEGIN	 SELECT @ERRCD = 120 	GOTO PROC_ERR	END

		SELECT @PAGE = 0,@GYO = 0
	    END
	---------------------------
	-- 発注管理NO 採番
	---------------------------
	EXEC 番号獲得 7,@HCNO OUTPUT,@ERRCD OUTPUT
	IF @ERRCD <> 0 BEGIN	 SELECT @ERRCD = 122 	GOTO PROC_ERR	END

	SELECT @PAGE = @PAGE + 1
	SELECT @GYO = 1

	---------------------------
	-- 枚数・端数の再計算
	---------------------------
	SELECT @MAISU = 0,@HASU = 0
	SELECT @MAISU = CASE WHEN @SYUYO = 0 THEN 0
	                			ELSE 
	              			CASE WHEN @HSURYO - (@SYUYO * (CAST(ROUND(@HSURYO / @SYUYO,0,1) as int)))  <> 0 Then 
							CAST(ROUND(@HSURYO / @SYUYO,0,1) as int) + 1
						ELSE   CAST(ROUND(@HSURYO / @SYUYO,0,1) as int)
					END
				END
	
	SELECT @HASU = CASE WHEN @SYUYO = 0 THEN 0
				      ELSE
	                  			CASE WHEN @HSURYO < @SYUYO THEN @HSURYO
						WHEN @HSURYO = @SYUYO THEN 0
						WHEN @HSURYO > @SYUYO THEN
	                               			@HSURYO - (@SYUYO * (CAST(ROUND(@HSURYO / @SYUYO,0,1) as int))) 
					END
				END

	----------------------------
	--    材料発注累積テーブル　出力
	----------------------------
	INSERT INTO 材料発注累積テーブル(
		処理端末,発注区分,仕入先,受入,納入日,納入便,手配区分,SK区分,材料管理番号,
		発注管理NO,納品書管理NO,納入番号,納品書頁,納品書行,
		材質,板厚,幅,長さ,背番号,収容数,枚数,端数,発注数,
		契約先,納入先,納入先受入,サイクル,担当者,発注日,発注便,端数区分,
		打切区分,打切種別,打切残数,打切日,内示超過区分,
		伝票発行区分,伝票種類,納品書形態,受領書形態,
		納品書作成区分,支給書作成区分,受領書作成区分,明細書形態,
		作成種別,処理区分,作成日,作成端末,作成者,
		納品書発行区分,支給書発行区分,受領書発行区分)					-- 2007/12/12 ADD
	SELECT HOST_NAME(),発注区分,仕入先,受入,納入日,納入便,手配区分,SK区分,材料管理番号,
		@HCNO,@BNKANRINO,@BNOUNO,@PAGE,@GYO,
		材質,板厚,幅,長さ,背番号,収容数,@MAISU,@HASU,発注数,
		契約先,納入先,納入先受入,サイクル,'',発注日,発注便,端数区分,
		打切区分,打切種別,打切残数,打切日,0,
		伝票発行区分,伝票種類,納品書形態,受領書形態,
		CASE WHEN SUBSTRING(@CYOHKB,1,1) <> '' THEN 1 ELSE 0 END, 
		CASE WHEN SUBSTRING(@CYOHKB,3,1) <> '' THEN 1 ELSE 0 END, 
		CASE WHEN @JYUKB = 0 AND SUBSTRING(@CYOHKB,2,1) <> '' THEN 1 ELSE 0 END, 
		CASE WHEN @MEIKKB <> '2' THEN @MEIKKB ELSE '' END,
		作成種別,0,GETDATE(),HOST_NAME(),作成者,
		CASE WHEN @PRTKBN = 0 THEN 1 ELSE 0 END,								-- 2007/12/12 ADD
		CASE WHEN @PRTKBS = 0 THEN 1 ELSE 0 END,
		CASE WHEN @PRTKBJ = 0 THEN 1 ELSE 0 END
	FROM 材料発注累積ワーク
	WHERE 管理NO = @KANRINO
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 123	GOTO PROC_ERR	END

	----------------------------
	--    材料発注テーブル　出力
	----------------------------
	INSERT INTO 材料発注テーブル (
		発注管理NO,納品書管理NO,納入番号,納品書頁,納品書行,分納区分,仕入先,受入,
		材質,板厚,幅,長さ,材料管理番号,背番号,納入日,納入便,
		収容数,枚数,端数,発注数,発注区分,手配区分,SK区分,契約先,納入先,納入先受入,サイクル,担当者,
		発注日,発注便,端数区分,打切区分,打切種別,打切残数,打切日,内示超過区分,
		納品書発行日,支給書発行日,受領書発行日,明細書発行日,明細書NO,作成種別,
		初回発注管理NO,作成日,作成端末,作成者,更新日,更新端末,更新者 )
	SELECT @HCNO,@BNKANRINO,@BNOUNO,@PAGE,@GYO,@BUNKB + 1,仕入先,受入,
		材質,板厚,幅,長さ,材料管理番号,背番号,納入日,納入便,
		収容数,@MAISU,@HASU,発注数,発注区分,手配区分,SK区分,契約先,納入先,納入先受入,サイクル,'',
		発注日,発注便,端数区分,打切区分,打切種別,打切残数,打切日,内示超過区分,
		'','','','',0,作成種別,@HKANRINO,GETDATE(),HOST_NAME(),作成者,NULL,'',''
	FROM 材料発注累積ワーク
	WHERE 管理NO = @KANRINO
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 124	GOTO PROC_ERR	END

	SELECT @HCCNT = @HCCNT + 1

	---------------------------------------------
	--    明細書　編集用出力（帳票出力テーブル'128')
	---------------------------------------------
	IF @MEIKKB <> '2'	-- AND SUBSTRING(@CYOHKB,3,1) <> ''
	    BEGIN 
		INSERT INTO 帳票出力テーブル (端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日)
			VALUES (HOST_NAME(),128,@MEIKKB,'',@HCNO,0,0,'',GETDATE())
		IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 131	GOTO PROC_ERR	END
		SELECT @MNCNT = @MNCNT + 1
	    END
	-----------------------------------------
	--    臨時かんばん　出力（帳票出力テーブル'9')
	-----------------------------------------
--	IF @HCKBN = 3 AND @SKKBN = 0 AND @OP_RNJPRT = 0
--	    BEGIN 
--		INSERT INTO 帳票出力テーブル (端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日)
--			VALUES (HOST_NAME(),9,'','',@HCNO,0,0,0,GETDATE())
--		IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 132	GOTO PROC_ERR	END
--		SELECT @RJCNT = @RJCNT + 1
--	    END
	-----------------------------------------
	--    現品票　出力（帳票出力テーブル'30')
	-----------------------------------------
	IF @SKKBN = 1 AND @OP_GEPPRT = 0 AND @SYUYO = 0
	    BEGIN 
		INSERT INTO 帳票出力テーブル (端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日)
			VALUES (HOST_NAME(),30,'','',@HCNO,0,0,0,GETDATE())
		IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 133	GOTO PROC_ERR	END
		SELECT @GPCNT = @GPCNT + 1
	    END

	--* KEY項目退避 *--
	SELECT @KEY_NOUNO = @NOUNO

------------------------------------------------------------
--  材料発注累積ワークカーソルスクロール(次レコード）  		       
------------------------------------------------------------
	FETCH NEXT FROM HCCUR INTO @DENHKB ,@DENSYU ,@NOUKKB ,@JYUKB ,@JYUKKB ,@MEIKKB ,
					@NOUNO ,@BUNKB ,@SYUYO ,@HSURYO ,@SKKBN ,@HKANRINO ,@KANRINO ,@CYOHKB  
					,@PRTKBN ,@PRTKBS ,@PRTKBJ									-- 2007/12/12 ADD
END

CLOSE HCCUR
DEALLOCATE HCCUR

--=========================================================================================--
--	発注明細書NO 採番
--=========================================================================================--
--------------------------------------------
--    材料発注テーブルカーソル定義		
--------------------------------------------
DECLARE CHCUR SCROLL CURSOR
FOR 

	SELECT CH.管理文字,HC.仕入先,HC.受入,HC.納入先,HC.納入先受入,
			HC.SK区分,HC.発注区分,HC.手配区分,HC.納入日,HC.納入便,HC.発注管理NO
	 FROM 帳票出力テーブル CH
	LEFT OUTER JOIN 材料発注テーブル HC
		ON HC.発注管理NO = CH.管理NO
	WHERE CH.端末番号 = HOST_NAME()
	  AND   CH.帳票区分 = 128
	ORDER BY CH.管理文字,HC.仕入先,HC.受入,SK区分,HC.発注区分,HC.手配区分,
			HC.納入日,HC.納入便,HC.納入番号,HC.納品書頁,HC.納品書行

FOR READ ONLY 
OPEN CHCUR

--( カーソル項目　定義  )--
DECLARE @TORCD VARCHAR(7),@UKEIR VARCHAR(2),@NONYU VARCHAR(7),@NOUKE VARCHAR(2)
DECLARE @HCKBN TINYINT,@TEKBN VARCHAR(1),@NYMD VARCHAR(8),@NBIN VARCHAR(2)
--( KEY項目　定義  )--
DECLARE @KEY_MEIKKB VARCHAR(1),@KEY_NYMD VARCHAR(8),@KEY_TORCD VARCHAR(7),@KEY_UKEIR VARCHAR(2)
DECLARE @KEY_NONYU VARCHAR(7),@KEY_NOUKE VARCHAR(2)
DECLARE @KEY_SKKBN TINYINT,@KEY_NBIN VARCHAR(2),@KEY_HCKBN TINYINT,@KEY_TEKBN VARCHAR(1)
--( KEY項目　初期化 )--
SELECT @KEY_MEIKKB = '',@KEY_TORCD = '',@KEY_UKEIR = '',@KEY_SKKBN = 0,@KEY_HCKBN = '',@KEY_TEKBN = ''
SELECT @KEY_NONYU = '',@KEY_NOUKE = ''
SELECT @KEY_NYMD = '',@KEY_NBIN = ''
------------------------------------------------------------------------------------
--   材料発注テーブル  読込		
------------------------------------------------------------------------------------
FETCH NEXT FROM CHCUR INTO @MEIKKB ,@TORCD ,@UKEIR ,@NONYU ,@NOUKE ,@SKKBN ,@HCKBN ,@TEKBN ,@NYMD ,@NBIN ,@HCNO
WHILE @@FETCH_STATUS = 0
BEGIN

	IF @KEY_MEIKKB <> @MEIKKB OR @KEY_TORCD <> @TORCD OR @KEY_UKEIR <> @UKEIR OR 
	 @KEY_NONYU <> @NONYU OR @KEY_NOUKE <> @NOUKE OR @KEY_SKKBN <> @SKKBN OR 
	 @KEY_HCKBN <> @HCKBN OR @KEY_TEKBN <> @TEKBN OR @KEY_NYMD <> @NYMD OR @KEY_NBIN <> @NBIN
	    BEGIN
		---------------------------
		-- 発注明細書NO 採番
		---------------------------
		EXEC 番号獲得 9,@KANRINO OUTPUT,@ERRCD OUTPUT
		IF @ERRCD <> 0 BEGIN	 SELECT @ERRCD = 171 	GOTO PROC_ERR	END
		-----------------------------------------
		--    明細書　出力（帳票出力テーブル'28')
		-----------------------------------------
		INSERT INTO 帳票出力テーブル (端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日)
			VALUES (HOST_NAME(),28,@MEIKKB,'',@KANRINO,0,0,'',GETDATE())
		IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 172	GOTO PROC_ERR	END
	    END

	---------------------------
	-- 材料発注テーブル.明細書NO 更新
	---------------------------
	UPDATE 材料発注テーブル SET
	    明細書NO = @KANRINO
	WHERE 発注管理NO = @HCNO
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 173	GOTO PROC_ERR	END

	--* KEY項目退避 *--
	SELECT @KEY_MEIKKB = @MEIKKB,@KEY_TORCD = @TORCD,@KEY_UKEIR = @UKEIR,@KEY_SKKBN = @SKKBN
	SELECT @KEY_NONYU = @NONYU,@KEY_NOUKE = @NOUKE
	SELECT @KEY_HCKBN = @HCKBN,@KEY_TEKBN = @TEKBN,@KEY_NYMD = @NYMD,@KEY_NBIN = @NBIN
------------------------------------------------------------
--  材料発注テーブルカーソルスクロール(次レコード）  		       
------------------------------------------------------------
	FETCH NEXT FROM CHCUR INTO @CYOHKB ,@TORCD ,@UKEIR ,@NONYU ,@NOUKE ,@SKKBN ,@HCKBN ,@TEKBN ,@NYMD ,@NBIN ,@HCNO
END

CLOSE CHCUR
DEALLOCATE CHCUR



PROC_DENPYO:
-----------------------------
--<<　 入力データ削除         >>--
-----------------------------
DELETE FROM 材料入荷実績処理ワーク 
WHERE 処理端末 = HOST_NAME()
    AND 処理区分 = 9
IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 25	GOTO PROC_ERR	END

----------------------------
--<<　トランザクション終了        >>--
----------------------------
COMMIT TRANSACTION HCCRT

-------------------
-- 	処理分岐
-------------------
IF @INJCNT = 0 AND @INBCNT = 0 	BEGIN 	GOTO PROC_END	END


--=========================================================================================--
--	
--	納品書・受領書・支給書　発行データを作成する
--	
--=========================================================================================--
EXEC 材料発注帳票発行データ作成 @NPAGE OUTPUT,@SPAGE OUTPUT,@JPAGE OUTPUT,
					@JAMACNT OUTPUT,@TXTCNT OUTPUT,@ERRCD OUTPUT
IF @ERRCD <> 0 	BEGIN 	GOTO PROC_ERR 	END


PROC_END:
--*----------*--
--*  正常終了 *--
--*----------*--
--SELECT '受領件数' = @INJCNT,'分納件数' = @INBCNT,'累積件数' = @HCCNT,'納品書頁数' = @NPAGE,'支給書頁数' = @SPAGE,'受領書頁数' = @JPAGE,'JAMA件数' = @JAMACNT,
--	 '明細書件数' = @MNCNT,'臨時か件数' = @RJCNT,'現品票件数' = @GPCNT,'端数ラ件数' = @HLCNT,'自社ファイル' = @TXTCNT


RETURN(0)
--RETURN

PROC_ERR:
--SELECT @ERRCD
--------------
--  異常終了 --
--------------
RETURN


GO
