USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[DSP_SELECT_CONTENTS]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[DSP_SELECT_CONTENTS]	@STRVAL VARCHAR(8000), @PROCKB VARCHAR(1), @RL INT AS
/*-----------------------------------------------------------------------------------------------------------*
 *
 *	文　字　列　分　割　表　示
 *
 *		PARAMATER	@STRVAL	    -	対象文字列
 *				@PROCKB	    -	処理区分 ( 'D'以外は、当ストアドは処理しません
 *				@RL	    -	分割バイト数 ( 0は250 )
 *
 *		COMMENT		ストアド作成中等に、ＳＱＬ文をワークで構成した時のデバッグ用として使用
 *				  分割文字列は PRINT文にて表示。
 *
 *		EXAMPLE
 *
--	<< ＳＱＬ分割表示 [ デバッグ用 ] >>
	EXEC	DSP_SELECT_CONTENTS @SL_SELECT, 'D', 250
 *
 *		CREATE DATE	2002 / 11 / 26
 *		    UP DATE
 *
 *-----------------------------------------------------------------------------------------------------------*/
SET NOCOUNT ON

DECLARE	@J		INT

IF	ISNULL( @PROCKB, '') <> 'D'	BEGIN	RETURN	END

PRINT	'-- =====<<<<<  START ( Length = ' + CAST( LEN( @STRVAL ) AS VARCHAR(4) ) + ' )  >>>>>====='
DECLARE	@I		INT

--IF	@RL = 0		BEGIN	SELECT	@RL = 250	END
IF	@RL = 0		BEGIN	SELECT	@RL = LEN( @STRVAL )	END

SELECT	@I = 1

WHILE RTRIM( SUBSTRING( @STRVAL, @I, @RL ) ) <> ''
   BEGIN
	SELECT	@J = CHARINDEX( CHAR(13), SUBSTRING( @STRVAL, @I, @RL ) )

	IF	@J <> 0
	   BEGIN
		PRINT	SUBSTRING( @STRVAL, @I, @J )
		SELECT	@I = @I + @J
	   END
	ELSE
	   BEGIN
		PRINT	SUBSTRING( @STRVAL, @I, @RL )
		SELECT	@I = @I + @RL
	   END

--	PRINT	SUBSTRING( @STRVAL, @I, @RL )
--	SELECT	@I = @I + @RL
   END

PRINT	'-- =====<<<<<   END  ( Length = ' + CAST( LEN( @STRVAL ) AS VARCHAR(4) ) + ' )  >>>>>====='
PRINT	''



GO
