USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[SYS_インデックスメンテ]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SYS_インデックスメンテ] 
AS
BEGIN
/*	_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
    _/
    _/		インデックス再構築・再編成
    _/
	_/			CREATE DATE : 2016/07/08 
    _/			
	_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ */

	SET NOCOUNT ON;

	DECLARE @SCH_NAME	NVARCHAR(MAX)
	DECLARE @TBL_NAME	NVARCHAR(MAX)
	DECLARE @IDX_NAME	NVARCHAR(MAX)
	DECLARE @FRG_PER	FLOAT
	DECLARE @SQL_CMD	NVARCHAR(MAX)

	DECLARE IDX_CUR CURSOR FOR
		SELECT SCH.name,OBJ.name,IDX.name,IPS.avg_fragmentation_in_percent
		  FROM sys.dm_db_index_physical_stats(DB_ID(),NULL,NULL,NULL,'LIMITED') IPS
		  INNER JOIN sys.objects OBJ
		       ON  OBJ.object_id = IPS.object_id
		  INNER JOIN sys.schemas SCH
		       ON  SCH.schema_id = OBJ.schema_id
		  INNER JOIN sys.indexes IDX
		       ON  IDX.object_id = IPS.object_id
		       AND IDX.index_id  = IPS.index_id
		  WHERE IPS.index_id > 0
		    AND IPS.avg_fragmentation_in_percent > 10

	OPEN IDX_CUR

	FETCH NEXT FROM IDX_CUR INTO @SCH_NAME,@TBL_NAME,@IDX_NAME,@FRG_PER

	WHILE @@FETCH_STATUS = 0
		BEGIN
			
			IF @FRG_PER < 30.0
				BEGIN
					SET @SQL_CMD = N'ALTER INDEX ' + @IDX_NAME + N' ON ' + @SCH_NAME + N'.' + @TBL_NAME + N' REORGANIZE';
				END
			ELSE
				BEGIN
					SET @SQL_CMD = N'ALTER INDEX ' + @IDX_NAME + N' ON ' + @SCH_NAME + N'.' + @TBL_NAME + N' REBUILD';
				END
			
			EXEC (@SQL_CMD);			

			FETCH NEXT FROM IDX_CUR INTO @SCH_NAME,@TBL_NAME,@IDX_NAME,@FRG_PER

		END

	CLOSE		IDX_CUR
	DEALLOCATE	IDX_CUR

END

GO
