USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[S構成レベルチェック]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[S構成レベルチェック]	AS
SET NOCOUNT ON
/*----------------------------------------------------------------------------------------------------------*
 * (         )
 *			構成上の品番レベルの更新
 *
 *			RETURN		0 : 正常終了
 *			 		1 : 対象内示年月獲得エラー
 *			 		2 : 生産計画データなし
 *
 *			CREATE DATE	2004 / 02 / 29	By CIS
 *	    		UP DATE
 *
 *----------------------------------------------------------------------------------------------------------*/
DECLARE	@RTN		INT		/* リターン						*/
DECLARE	@TG_NJYM	VARCHAR(6)	/* 対象内示年月						*/

DECLARE	@CNT1		TINYINT		/* ワーク						*/
DECLARE	@CNT2		TINYINT		/* ワーク						*/
DECLARE	@INT1		INT		/* ワーク						*/

/*----------------------*
 *	対象内示年月	*
 *----------------------*/
/*
SELECT	@TG_NJYM = ''
SELECT	@TG_NJYM = 英数字1
			FROM 名称マスタ
			WHERE 区分名称 = '内示年月'
			AND   区分タイプ = ''
			AND   値 = '4'
IF	RTRIM( @TG_NJYM ) = ''		BEGIN	SELECT	@RTN = 1 GOTO PROC_END	END
*/
/*----------------------*
 *	初期処理		*
 *----------------------*/
SELECT	@RTN = 9
TRUNCATE TABLE	構成レベルワーク

-- SELECT * FROM 構成レベルワーク

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*
 *
 *
 *					生　産　計　画　テ　ー　ブ　ル　よ　り　出　荷　品　番　情　報　を　セ　ッ　ト
 *
 *
 *--------------------------------------------------------------------------------------------------------------------------------------------------------------*/
INSERT	INTO 構成レベルワーク	( 親品番, 品番, レベル, 展開区分 )
	SELECT	SK.品番, SK.品番, 0, 0
			FROM S生産計画テーブル SK
			INNER JOIN 品番取引先マスタ HT
			ON  HT.品番 = SK.品番
			AND HT.取引先 = SK.手配先
			AND HT.受入 = SK.受入
--			WHERE SK.内示年月 = @TG_NJYM
			GROUP BY SK.品番

IF	@@ROWCOUNT = 0	BEGIN	SELECT	@RTN = 2	GOTO PROC_END	END

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*
 *
 *
 *				構　成　マ　ス　タ　よ　り　１　階　層　ず　つ　展　開　し、　構　成　レ　ベ　ル　ワ　ー　ク　へ　セ　ッ　ト
 *
 *
 *--------------------------------------------------------------------------------------------------------------------------------------------------------------*/
SELECT	@CNT1 = 0, @CNT2 = 1
WHILE	( @CNT2 < 100 OR @INT1 <> 0 )
    BEGIN
	INSERT	INTO 構成レベルワーク	( 親品番, 品番, レベル, 展開区分 )
		SELECT	HN.品番, KS.子品番, @CNT2, KS.展開区分
				FROM 構成レベルワーク HN
				INNER JOIN 構成マスタ KS
				ON  KS.親品番 = HN.品番
				WHERE HN.レベル = @CNT1
				AND   KS.展開区分 <> 2  
	
	SELECT	@INT1 = @@ROWCOUNT
	SELECT	@CNT1 = @CNT2, @CNT2 = @CNT2 + 1
    END

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------*
 *
 *
 *								構　成　マ　ス　タ　レ　ベ　ル　更　新
 *
 *
 *--------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------*
 *	構成マスタ　レベル　初期クリア	*
 *--------------------------------------*/
UPDATE	構成マスタ	SET
	レベル = 0
	WHERE レベル <> 0

/*--------------------------------------*
 *	構成マスタ　レベル　更新		*
 *--------------------------------------*/
UPDATE	構成マスタ	SET
	レベル = KS.レベル
	FROM 	(SELECT	品番, MAX( レベル ) レベル	FROM 構成レベルワーク
							WHERE レベル <> 0
							GROUP BY 品番) KS
	WHERE 構成マスタ.子品番 = KS.品番

IF	@RTN = 9	BEGIN	SELECT	@RTN = 0	END	
/*----------------------*
 *	終 了 処 理	*
 *----------------------*/
PROC_END:
	RETURN ( @RTN )





GO
