USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[買掛購入型費]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[買掛購入型費] (@JYM VARCHAR(6),@JTORCD VARCHAR(7),@SSHIME  SMALLINT,
				@ESHIME  SMALLINT,@JSYORI VARCHAR(1),@TANTO VARCHAR(15),
				@RTN TINYINT OUTPUT,@INCNT INT OUTPUT,@OUTCNT INT OUTPUT) AS
--*----------------------------------------------------------------------------------------------*
--*	買掛型費実績更新（型費）
--*
--*	買掛型費テーブルより購入実績テーブルの作成を行う ( 識別子 = '11' )
--*
--*					
--*	ﾊﾟﾗﾒﾀ	  : 	@JYM    VARCHAR(6) 	-- 対象年月
--*		  : 	@JTORCD VARCHAR(7)	-- 契約先
--*		  : 	@JSYORI VARCHAR(1)	-- 処理区分 (0:新規,1:再処理)
--*		  : 	@JSHIME SMALLINT		-- 締日 (0:全て、99:末日、その他:締日）		
--*							
--*	Return	  : 	@RTN	     TINYINT		-- 終了コード
--*		  : 	@INCNT    INT		-- 入力件数
--*		  : 	@OUTCNT INT		-- 出力件数
--*			
--*	作成日  :  	2004/04/16
--*	更新日  :	2009/04/03  再処理時のデータ削除は実績年月以上とする     千代田Ver
--*			
--
--	備考　：	取引先マスタの締日の末日設定は 0
--*----------------------------------------------------------------------------------------------*
SET NOCOUNT ON

--T
--* INPUT
/*
DECLARE @JYM       VARCHAR(6) 	-- 対象年月
DECLARE @JTORCD VARCHAR(7)	-- 納入先
DECLARE @JSYORI   VARCHAR(1)	-- 処理区分 
DECLARE @SSHIME   SMALLINT	-- 締日
DECLARE @ESHIME   SMALLINT	-- 締日
DECLARE @TANTO VARCHAR(15)
-- OUTPUT
DECLARE @RTN	 TINYINT	-- 終了コード
DECLARE @INCNT     INT		-- 入力件数
DECLARE @OUTCNT  INT		-- 出力件数

--T 条件セット
SELECT @JTORCD = '%'
SELECT @JYM = '200410'
SELECT @JSYORI = '1'
SELECT @JSHIME = 0
*/
--T END

--* 
DECLARE @SAIYM  VARCHAR(6)	-- 処理区分(再処理用 実績年月)
DECLARE @SJYM	VARCHAR(6)	-- 正式実績年月
DECLARE @SJYMD  VARCHAR(8)	-- 正式自責処理日
DECLARE @KNO	INT		-- 検収管理№

DECLARE @WKIN 	DECIMAL(10,1)	-- ﾄﾖﾀ実績金額計算
DECLARE @SCODE  VARCHAR(2)	-- 識別子
DECLARE @INKBN    VARCHAR(1)	-- 入力区分
----------------------------------+
--  リターン情報初期化
----------------------------------+
SELECT @RTN = 0
SELECT @INCNT = 0,@OUTCNT = 0

SELECT @SCODE = '02'
SELECT @INKBN = '2'
--------------------------------
--<<　 トランザクション開始         >>--
--------------------------------
BEGIN TRANSACTION KTCRT
----------------------------------------------------
-- 再処理用 実績年月セット
----------------------------------------------------
SELECT @SAIYM = ''
IF @JSYORI = '1'
   BEGIN
	SELECT @SAIYM = @JYM
	--------------------------------------
	--	( 再処理 ) 購入実績テーブル　削除
	--------------------------------------
	DELETE 購入実績テーブル
--	 WHERE 実績年月 = @SAIYM				'2009/04/03
	 WHERE 実績年月 >= @SAIYM	
	     AND 入力区分 = @INKBN	
	     AND 契約先 LIKE @JTORCD
	     AND 締日 >= @SSHIME	
	     AND 締日 <= @ESHIME 	
	IF @@ERROR <> 0 	BEGIN 	SELECT @RTN = 31 	GOTO PROC_ERR 	END
   END	

-- *-------------------------------------------------*
-- *  型費テーブル ｶｰｿﾙ定義			     *
-- *-------------------------------------------------*
DECLARE KNCUR SCROLL CURSOR
FOR 
	SELECT KT.品番,KT.取引先,連番,対象開始年月,金額,適用開始年月,適用終了年月,
	      	 回数,投資金額,	
	       	ISNULL(車型,''),ISNULL(TR.締日,0),ISNULL(TR.計算方法,0),ISNULL(TR.計算単位,0)
	 FROM 買掛型費テーブル KT
	LEFT OUTER JOIN 品番マスタ HN
		ON   SUBSTRING(HN.品番,1,10) = SUBSTRING(KT.品番,1,10)
		AND HN.品番 = ( SELECT MIN(HN2.品番) FROM 品番マスタ HN2
					WHERE SUBSTRING(HN2.品番,1,10) = SUBSTRING(KT.品番,1,10) ) 
	LEFT OUTER JOIN 取引先マスタ TR 
		ON   TR.取引先ＣＤ = KT.取引先
		AND TR.取引先区分 = 1  
	WHERE KT.取引先 LIKE @JTORCD
	    AND 対象開始年月 <= @JYM
	    AND ISNULL(締日,0) >= @SSHIME
	    AND ISNULL(締日,0) <= @ESHIME		
	    AND ( ISNULL(実績年月,'') = '' 
	      OR   ISNULL(実績年月,'') = @SAIYM ) 
							
FOR READ ONLY
OPEN KNCUR
-- *  買掛型費テーブル ｶｰｿﾙ定義	     *
DECLARE @HINBN VARCHAR(25),@TORCD VARCHAR(7),@RENNO TINYINT,@TYM VARCHAR(6),
	     @KIN INT,@TSYM VARCHAR(6),@TEYM VARCHAR(6),@KAISU TINYINT,@TKIN INT
DECLARE @SYAKEI VARCHAR(5),@SHIME SMALLINT,@KHOHO SMALLINT,@KTANI SMALLINT
-- *--------------------------------------------*
-- *    買掛型費テーブル読込み(1件目)		*
-- *--------------------------------------------*
FETCH NEXT FROM KNCUR INTO @HINBN ,@TORCD ,@RENNO ,@TYM ,
					@KIN ,@TSYM,@TEYM, @KAISU,@TKIN ,@SYAKEI, @SHIME ,@KHOHO ,@KTANI
WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @INCNT = @INCNT + 1
	----------------------------------+
	-- 金額計算（トヨタのみ) 
	----------------------------------+
	IF @TORCD = '1000' 
	   BEGIN
		SELECT @WKIN = @KIN
		SELECT @KIN = CEILING(@WKIN / 2) * 2
	   END
	----------------------------------+
	-- 買掛検収管理NO 採番
	----------------------------------+
	EXEC 番号獲得 16,@KNO OUTPUT,@RTN  OUTPUT
	IF @RTN <> 0 	BEGIN 	SELECT @RTN = 12 	GOTO PROC_ERR 	END
	----------------------------------+
	-- 購入実績テーブル出力
	----------------------------------+
	INSERT INTO 購入実績テーブル
		( 検収管理NO,実績年月,入力区分,識別子,契約先,品番,仕入先,受入,背番号,
		車型,納入番号,検収日,赤黒区分,単価,仮単価区分,数量,金額,
		部品区分,単位,持込先,購入区分,訂正理由,科目,発注管理NO,遡り区分,
		訂正管理NO,実績区分,実績処理日,計算方法,計算単位,締日,明細件数,
		送信区分,送信処理日,作成日,作成端末,作成者 )
	    VALUES
		( @KNO,@JYM,@INKBN,@SCODE,@TORCD,@HINBN,@TORCD ,'' ,'',
		  @SYAKEI,'',@TYM,0,0,'',0,@KIN,
		  'K','','','','','',0,0,
		  0,0,CONVERT(VARCHAR(8),GETDATE(),112),@KHOHO,@KTANI,@SHIME,0,
		  0,'',Getdate(),Host_Name(),@TANTO )
	IF @@ERROR <> 0 	BEGIN 	SELECT @RTN = 32 	GOTO PROC_ERR 	END


	SELECT @OUTCNT = @OUTCNT + 1		 -- 出力件数加算

	-- *-------------------------------*
	-- *  型費テーブル更新 		     	*
	-- *-------------------------------*
	UPDATE 買掛型費テーブル SET
		実績年月 = @JYM   ,
		実績処理日 = CONVERT(VARCHAR(8),GETDATE(),112) ,
		更新日	 = GETDATE(),
		更新者 = @TANTO,
		更新端末 = HOST_NAME()
	WHERE 品番 = @HINBN
	    AND 取引先 = @TORCD
	    AND 連番 = @RENNO
	    AND 対象開始年月 = @TYM
	IF @@ERROR <> 0 	BEGIN 	SELECT @RTN = 33 	GOTO PROC_ERR 	END

	-------------------------
	--     買掛契約先ワーク更新
	-------------------------
	IF (SELECT COUNT(*) FROM 買掛契約先ワーク WHERE 契約先 = @TORCD) = 0 
	    BEGIN 
		INSERT INTO 買掛契約先ワーク (契約先,締日,作成端末) VALUES (@TORCD,@SHIME,HOST_NAME())
	 	IF @@ERROR <> 0 BEGIN SELECT @RTN = 34 GOTO PROC_ERR END
	    END

-- *--------------------------------------------*
-- *   買掛型費テーブル読込み(次レコード)		*
-- *--------------------------------------------*
		        FETCH NEXT FROM KNCUR INTO @HINBN ,@TORCD ,@RENNO ,@TYM ,
					@KIN ,@TSYM,@TEYM, @KAISU,@TKIN ,@SYAKEI, @SHIME ,@KHOHO ,@KTANI
  END			

DEALLOCATE KNCUR 


PROC_END:
--T 
-- SELECT @RTN,@INCNT,@OUTCNT
--T END

------------------------------
--<<　トランザクション終了        >>--
------------------------------
COMMIT TRANSACTION KTCRT

RETURN(0)
--RETURN

PROC_ERR:
RETURN(@RTN)
--RETURN

GO
