USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[社内カレンダチェック]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[社内カレンダチェック] 	@TORKB TINYINT, @BASEYM VARCHAR(6), @MONVAL SMALLINT AS
SET	NOCOUNT ON
/*-----------------------------------------------------------------------------------------------------------------------------------------------------*
 * ( 生産計画時 )
 *
 *		社　内　カ　レ　ン　ダ　の　チ　ェ　ッ　ク　と　作　成　
 *
 *			PARAMETER	@TORKB	( INPUT  )	取引区分	( 0:受注, 1:発注 )
 *					@BASEYM ( INPUT  )	基準年月
 *					@MONVAL ( INPUT  )	月加算数 ( 基準よりｎヶ月 )
 *
 *			RETURN		0 : 正常終了
 *			 		9 : 異常終了
 *
 *					カレンダマスタをチェックし、なければ、土日を休みとしてカレンダを作成する
 *
 *			CREATE DATE	2004 / 02 / 16	By CIS
 *	    		UP DATE
 *
 *-----------------------------------------------------------------------------------------------------------------------------------------------------*/
DECLARE	@RTN		INT		/* リターン用			*/
DECLARE	@SINT1		SMALLINT	/* ワーク			*/
DECLARE	@SINT2		SMALLINT	/* ワーク			*/
DECLARE	@SINT3		SMALLINT	/* ワーク			*/
DECLARE	@CNT1		TINYINT		/* ワーク			*/
DECLARE	@STR1		VARCHAR(1)	/* ワーク			*/
DECLARE	@YM		VARCHAR(6)	/* ワーク			*/
DECLARE	@WDATE		DATETIME	/* ワーク			*/
DECLARE	@LASTD		TINYINT		/* 末日				*/
DECLARE	@OPESU		TINYINT		/* 稼動日数			*/
DECLARE	@OPEKB		VARCHAR(31)	/* 稼動区分			*/

/*----------------------*
 *	初 期 処 理	*
 *----------------------*/
SELECT	@RTN = 0, @SINT1 = 0, @SINT2 = ABS( @MONVAL ), @SINT3 = CASE WHEN @MONVAL >= 0 THEN 1 ELSE -1 END

WHILE	( @SINT1 <= @SINT2 )
    BEGIN
	SELECT	@YM = CONVERT( VARCHAR(6), DATEADD( M, @SINT1 * @SINT3, @BASEYM + '01' ), 112 )

	IF  NOT	EXISTS( SELECT	取引先区分
					FROM	カレンダマスタ
					WHERE	取引先区分 = @TORKB
					AND	取引先 = ''
					AND	受入 = ''
					AND     年 = SUBSTRING( @YM, 1, 4 )
					AND	月 = SUBSTRING( @YM, 5, 2 ) )
	    BEGIN
--		[ カレンダなし ]

		SELECT	@WDATE = @YM + '01'
		SELECT	@LASTD = DATEPART( D, DATEADD( D, -1, DATEADD( M, 1, @WDATE ) ) ),
			@CNT1 = 0, @OPEKB = '', @OPESU = 0

		WHILE	( @CNT1 < @LASTD )
		    BEGIN
			SELECT	@STR1 = CAST( CASE DATEPART( DW, DATEADD( D, @CNT1, @WDATE ) ) 
						WHEN 1 THEN 1
						WHEN 7 THEN 1 ELSE 0 END
					      AS VARCHAR(1) )
		
			SELECT	@OPEKB = @OPEKB + @STR1,
				@OPESU = @OPESU + CASE WHEN @STR1 = 1 THEN 0 ELSE 1 END
		
			SELECT	@CNT1 = @CNT1 + 1
		    END

--		[ カレンダ作成 ]
		INSERT	INTO カレンダマスタ
			( 取引先区分, 取引先, 年, 月, 受入, 末日,
			  稼動日数, 昼勤日数, 夜勤日数, 稼動区分, 夜勤区分, 作成日, 作成端末 )
			VALUES
			( @TORKB, '', SUBSTRING( @YM, 1, 4 ), SUBSTRING( @YM, 5, 2 ), '', @LASTD,
			  @OPESU, @OPESU, @OPESU, @OPEKB, @OPEKB, GETDATE(), SUBSTRING( HOST_NAME(), 1, 20 ) )
	    END

	SELECT	@SINT1 = @SINT1 + 1
    END

PROC_END:
RETURN	( @RTN )



GO
