USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[買掛支給実績]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[買掛支給実績]
		(  @JYM VARCHAR(6),@JTORCD VARCHAR(7),@SSHIME TINYINT,@ESHIME TINYINT,@JSYORI VARCHAR(1),@TANTO VARCHAR(15),
		   @ERR TINYINT OUTPUT,@TCNT INT OUTPUT,@ECNT INT OUTPUT,@JCNT INT OUTPUT,@MCNT INT OUTPUT ) AS
---------------------------------------------------------------------------------------------------
--	買掛支給実績
--
--	処理内容	実績管理テーブルより支給実績データを作成する	( 識別子 = '25' )
--			条件　･･･　	実績区分 = 3
--					実績先 <> ''
--					実績元の取引先マスタ.社内区分 = 0
--				
--	ﾊﾟﾗﾒﾀ		@JYM	   : 	支給年月
--			@JEYMD :      終了対象年月日
--		  	@JTORCD :    契約先
--		  	@JSHIME :     締日 (0:全て、99:末日、その他:締日）		
--		  	@JSYORI :     処理区分 (0:新規,1:再処理)
--		  	@TANTO  :     処理担当者
--
--	戻り値		@ERR     :      処理結果
--					0  :正常終了
--					≠0:異常終了
--			@TCNT    :      支給対象データ件数（実績管理テーブル）
--			@ECNT    :      単価未決件数
--			@JCNT    :      支給実績作成件数
--			@MCNT    :     支給実績明細作成件数
--
--	作成日　：	2004/11/30
--	Update Date    2008/06/11  取引先マスタ[計算位]追加､計算単位：３（詳細設定）
--*	更新日  :	2009/04/03  再処理時のデータ削除は実績年月以上とする     千代田Ver
--
--	備考　：	取引先マスタの締日の末日設定は 0
---------------------------------------------------------------------------------------------------
SET NOCOUNT ON

--T 
/*
DECLARE @JYM	VARCHAR(6)
DECLARE @JEYMD	VARCHAR(8)
DECLARE @JTORCD VARCHAR(7)
DECLARE @SSHIME   TINYINT
DECLARE @ESHIME   TINYINT
DECLARE @JSYORI  VARCHAR(1)
DECLARE @TANTO  VARCHAR(15)
DECLARE @ERR		TINYINT

DECLARE @TCNT 	INT
DECLARE @ECNT	INT
DECLARE @JCNT	INT
DECLARE @MCNT	INT

SELECT @JYM = '200410'
SELECT @JEYMD = '20041099'
SELECT @SSHIME = 0
SELECT @ESHIME = 0
SELECT @JTORCD = '%'
SELECT @TANTO = ''
SELECT @JSYORI = '1'
*/
--T

-- ワーク 	
DECLARE @SYORI		VARCHAR(6)
DECLARE @KIN		INT
DECLARE @SCODE		VARCHAR(2)
DECLARE @INKBN		VARCHAR(1)
--*--------------------*--
--<<　トランザクション開始 >>------
BEGIN TRANSACTION SICRT
--*--------------------*--
-- 初期値セット
SELECT @ERR = 0
SELECT @TCNT = 0
SELECT @ECNT = 0
SELECT @JCNT = 0,@MCNT = 0

SELECT @SCODE = '25'				--識別子
SELECT @INKBN = '3'				--入力区分

-- 再処理用 実績年月セット
SELECT @SYORI = ''
IF @JSYORI = '1'
   BEGIN
	SELECT @SYORI = @JYM

	DELETE 支給実績テーブル
--	 WHERE 実績年月 = @JYM						2009/04/03
	 WHERE 実績年月 >= @JYM
	   AND 契約先 LIKE @JTORCD
	   AND 締日 >= @SSHIME
	   AND 締日 <= @ESHIME
	   AND 入力区分 = @INKBN
 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 41 GOTO PROC_ERROR END

	DELETE 支給明細テーブル
--	 WHERE 実績年月 = @JYM						2009/04/03
	 WHERE 実績年月 = @JYM
	   AND 契約先 LIKE @JTORCD
	   AND 締日 >= @SSHIME
	   AND 締日 <= @ESHIME
	   AND 入力区分 = @INKBN
 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 42 GOTO PROC_ERROR END

   END		
-- *------------------------------------*
-- * 実績管理テーブルカーソル定義  			*
-- *------------------------------------*
DECLARE NYCUR SCROLL CURSOR
FOR
 
	SELECT CASE WHEN TR.契約先区分 = 0 THEN ISNULL(TR2.計算方法,0) ELSE TR.計算方法 END,
		  CASE WHEN TR.契約先区分 = 0 THEN ISNULL(TR2.計算単位,0) ELSE TR.計算単位 END,
		  CASE WHEN TR.契約先区分 = 0 THEN ISNULL(TR2.締日,0) ELSE TR.締日 END,
		  CASE WHEN ISNULL(TR.契約先区分,0) = 0 THEN ISNULL(TR.契約先,'') ELSE JK.実績先 END,
		ISNULL(HN.車型,''),JK.実績管理NO,JK.品番,JK.背番号,JK.実績先,JK.受入,JK.実績日,
		  JK.納入番号,JK.実績数,JK.実績元,JK.有無償区分
		  ----------------------------------***** 2008/06/11 Start				
		  ,CASE WHEN TR.契約先区分 = 0 THEN ISNULL(TR2.計算位1,0) ELSE ISNULL(TR.計算位1,0) END  
		  ,CASE WHEN TR.契約先区分 = 0 THEN ISNULL(TR2.計算位2,0) ELSE ISNULL(TR.計算位2,0) END  
		  ----------------------------------***** 2008/06/11 End
	 FROM 実績管理テーブル JK
	LEFT OUTER JOIN 品番マスタ HN
		ON HN.品番 = JK.品番
	LEFT OUTER JOIN 取引先マスタ TR
		ON TR.取引先CD = JK.実績先
		AND TR.取引先区分 = 1
	LEFT OUTER JOIN 取引先マスタ TR2
		ON TR2.取引先CD = TR.契約先
		AND TR2.取引先区分 = 1
	WHERE JK.実績区分 = 3
	   AND JK.実績先 <> ''
	   AND TR.社内区分 = 0
	   AND ( ISNULL(検収年月,'') = '' 
--	      OR ISNULL(検収年月,'') = @SYORI )					2009/04/03
	      OR ISNULL(検収年月,'') >= @SYORI )				
	   AND 実績日 <= CASE WHEN TR.契約先区分 = 0 THEN 
					CASE WHEN ISNULL(TR2.締日,0) = 0 THEN @JYM + '99' ELSE @JYM + CAST(ISNULL(TR2.締日,0) as char(2)) END	
				      WHEN TR.契約先区分 = 1 THEN 
					CASE WHEN ISNULL(TR.締日,0) = 0 THEN @JYM + '99' ELSE @JYM + CAST(ISNULL(TR.締日,0) as char(2)) END	
				END
	   AND  ((TR.契約先区分 = 0 AND ISNULL(TR.契約先,'') LIKE @JTORCD) 
	   OR    (TR.契約先区分 = 1 AND ISNULL(TR.取引先CD,'') LIKE @JTORCD)) 
	   AND  ((TR.契約先区分 = 0 AND ISNULL(TR2.締日,0) >= @SSHIME) 
	   OR    (TR.契約先区分 = 1 AND ISNULL(TR.締日,0) >= @SSHIME)) 
	   AND  ((TR.契約先区分 = 0 AND ISNULL(TR2.締日,0) <= @ESHIME) 
	   OR    (TR.契約先区分 = 1 AND ISNULL(TR.締日,0) <= @ESHIME)) 
FOR READ ONLY 

OPEN NYCUR

--* ｶｰｿﾙ項目定義 *--

DECLARE @KTANI TINYINT,@KHOHO TINYINT,@SHIME TINYINT,@KTORCD VARCHAR(8),@SYAKEI VARCHAR(5)
DECLARE @JSNO  INT,@HINBN VARCHAR(25),@SEBAN VARCHAR(8),
	    @TORCD VARCHAR(7),@UKEIR VARCHAR(2),@JYMD VARCHAR(8),
	    @NOUNO VARCHAR(9),@SURYO INT,@SMOTO VARCHAR(7),@UMUKB TINYINT
-------------------------------------------***** 2008/06/11 Start
DECLARE @TR_KURAI1 TINYINT , @TR_KURAI2 TINYINT
-------------------------------------------***** 2008/06/11 End
--* ﾜｰｸ項目定義 *--
DECLARE @KANRINO INT,@RTN TINYINT
DECLARE @SAVE_KANRINO INT
--* 単価決定　戻り値
DECLARE @TANK DECIMAL(10,2) ,@TKBN VARCHAR(1) , @TSYMD VARCHAR(8),@RNO INT
DECLARE @UMUSYO TINYINT
--*--------------------------------------------------------------------------------*--
--* 実績管理テーブル  読込 							           *
--*--------------------------------------------------------------------------------*--
FETCH NEXT FROM NYCUR INTO 
			@KHOHO,@KTANI ,@SHIME ,@KTORCD ,@SYAKEI ,
			@JSNO,@HINBN ,@SEBAN ,@TORCD ,@UKEIR ,@JYMD ,
			@NOUNO ,@SURYO ,@SMOTO ,@UMUKB
			-------------------------------------***** 2008/06/11 Start
			,  @TR_KURAI1 , @TR_KURAI2
			-------------------------------------***** 2008/06/11 End
WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @TCNT = @TCNT + 1

-- *----------------------------------------------------*
-- *  単価チェック
-- *----------------------------------------------------*
	SELECT @TANK = 0,@TKBN = '',@UMUSYO = 0,@TSYMD = '',@RNO = 0
	IF @UMUKB = 1
	    BEGIN
		EXEC 支給単価決定 @HINBN,@TORCD,@JYMD,
					 @TANK OUTPUT,@TKBN OUTPUT,@UMUSYO OUTPUT,@TSYMD OUTPUT,@RNO OUTPUT
	    END
	ELSE
	    BEGIN
		SELECT @TKBN = '',@TANK = 0,@UMUSYO = 1
	    END 
	IF @TKBN = '9' 
	   BEGIN
-- *----------------------------------------------------*
-- *  支給単価未決ワーク 作成
-- *----------------------------------------------------*
		INSERT INTO 支給単価未決ワーク 
			( 契約先,支給先,支給元,品番,検収日,数量,処理端末) VALUES
			(@KTORCD,@TORCD,@SMOTO,@HINBN,@JYMD,@SURYO,HOST_NAME() )
	 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 13 GOTO PROC_ERROR END 
		SELECT @ECNT = @ECNT + 1
	   END
	ELSE
	   BEGIN
		SELECT @KIN = 0
		IF @KTANI = 0 
		   BEGIN
			SELECT @KIN = ROUND( @SURYO * @TANK,0,1)	-- 切捨て
		   END
		IF @KTANI = 1 
		   BEGIN
			SELECT @KIN = CEILING( @SURYO * @TANK)	-- 切上げ
		   END
		IF @KTANI = 2
		   BEGIN
			SELECT @KIN = ROUND( @SURYO * @TANK,0)	-- 四捨五入
		   END
		-------------------------------------------------***** 2008/06/11 Start
		-- 詳細設定 小数点１桁単位にて計算
		IF @KTANI = 3
		   BEGIN
				IF ISNULL(@TR_KURAI1, 0) = 0 
				   BEGIN									
					    IF ISNULL(@TR_KURAI2, 0) = 0
						   BEGIN
								SELECT @KIN = ROUND(ROUND(@SURYO * @TANK, 1, 1), 0, 1)			-- １：切捨て　　２：切捨て
						   END
						IF ISNULL(@TR_KURAI2, 0) = 1
						   BEGIN	
								SELECT @KIN = ROUND(CEILING(@SURYO * @TANK * 10) / 10, 0, 1)	-- １：切捨て　　２：切上げ
						   END
						IF ISNULL(@TR_KURAI2, 0) = 2
						   BEGIN	
								SELECT @KIN = ROUND(ROUND(@SURYO * @TANK, 1) , 0, 1)			-- １：切捨て　　２：四捨五入
						   END
				   END	
				IF ISNULL(@TR_KURAI1, 0) = 1
				   BEGIN
					    IF ISNULL(@TR_KURAI2, 0) = 0
						   BEGIN
								SELECT @KIN = CEILING(ROUND(@SURYO * @TANK, 1, 1))			-- １：切上げ　　２：切捨て
						   END
						IF ISNULL(@TR_KURAI2, 0) = 1
						   BEGIN
								SELECT @KIN = CEILING(CEILING(@SURYO * @TANK * 10) / 10)	-- １：切上げ　　２：切上げ
						   END
						IF ISNULL(@TR_KURAI2, 0) = 2
						   BEGIN
								SELECT @KIN = CEILING(ROUND(@SURYO * @TANK, 1))			-- １：切上げ　　２：四捨五入
						   END
	 		       END
				IF ISNULL(@TR_KURAI1, 0) = 2
				   BEGIN	
					    IF ISNULL(@TR_KURAI2, 0) = 0
						   BEGIN
								SELECT @KIN = ROUND(ROUND(@SURYO * @TANK, 1, 1), 0)		-- １：四捨五入　２：切捨て
						   END
						IF ISNULL(@TR_KURAI2, 0) = 1
						   BEGIN
								SELECT @KIN = ROUND(CEILING(@SURYO * @TANK * 10)/ 10, 0)	-- １：四捨五入　２：切上げ
						   END
						IF ISNULL(@TR_KURAI2, 0) = 2
						   BEGIN	
								SELECT @KIN = ROUND(ROUND(@SURYO * @TANK, 1 ), 0)			-- １：四捨五入　２：四捨五入
						   END
				   END
		   END
		-------------------------------------------------***** 2008/06/11 End
	----------------------------------+
	-- 買掛検収管理NO 獲得
	----------------------------------+
		EXEC 番号獲得 16,@KANRINO OUTPUT,@RTN OUTPUT
		IF @RTN <> 0 BEGIN 	SELECT @ERR = 14 	GOTO PROC_ERROR 	END
	----------------------------------+
	-- 支給実績テーブル出力
	----------------------------------+
		SELECT @SAVE_KANRINO = 0
		IF @KHOHO = 0
		    BEGIN		
		----------------------------------+
		-- 支給実績テーブル出力
		----------------------------------+
			INSERT INTO 支給実績テーブル
				( 検収管理NO,実績年月,入力区分,識別子,契約先,品番,支給先,受入,背番号,出庫者,
				車型,納入番号,検収日,赤黒区分,単価,仮単価区分,数量,金額,
				有無償区分,部品区分,単位,訂正理由,科目,発注管理NO,遡り区分,
				訂正管理NO,実績区分,実績処理日,計算方法,計算単位,締日,明細件数,
				送信区分,送信処理日,作成日,作成端末,作成者 )
			    VALUES
				( @KANRINO,@JYM,@INKBN,@SCODE,@KTORCD,@HINBN,@TORCD ,@UKEIR ,@SEBAN,@SMOTO,
				  @SYAKEI,@NOUNO,@JYMD,0,@TANK,@TKBN,@SURYO,@KIN,
				  @UMUSYO,'','','','',@JSNO,0,
				  0,0,CONVERT(VARCHAR(8),GETDATE(),112),@KHOHO,@KTANI,@SHIME,0,
				  0,'',Getdate(),Host_Name(),@TANTO )
		 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 15 GOTO PROC_ERROR END
			SELECT @JCNT = @JCNT + 1
		    END
		ELSE
		    BEGIN		
		--(( 計算方法 = 月位 ))		品番・契約先・単価・仮単価区分・赤黒区分で数量集計
			SELECT @SAVE_KANRINO = 検収管理NO FROM 支給実績テーブル
			WHERE 実績年月 = @JYM
			    AND 品番  = @HINBN
			    AND 契約先  = @KTORCD
			    AND 単価  = @TANK
			    AND 仮単価区分  = @TKBN
			    AND 入力区分  = @INKBN
			IF @SAVE_KANRINO <> 0 AND @SAVE_KANRINO IS NOT NULL
			   BEGIN
				UPDATE 支給実績テーブル SET
					検収日 = '',
					納入番号 = '',
					数量 = 数量 + @SURYO,
					明細件数  = 明細件数 + 1
				WHERE 実績年月 = @JYM
				    AND 品番  = @HINBN
				    AND 契約先  = @KTORCD
				    AND 単価  = @TANK
				    AND 仮単価区分  = @TKBN
				    AND 入力区分  = @INKBN
			 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 16 GOTO PROC_ERROR END

			   END
			ELSE
			   BEGIN
				INSERT INTO 支給実績テーブル
					( 検収管理NO,実績年月,入力区分,識別子,契約先,品番,支給先,受入,背番号,出庫者,
					車型,納入番号,検収日,赤黒区分,単価,仮単価区分,数量,金額,
					有無償区分,部品区分,単位,訂正理由,科目,発注管理NO,遡り区分,
					訂正管理NO,実績区分,実績処理日,計算方法,計算単位,締日,明細件数,
					送信区分,送信処理日,作成日,作成端末,作成者 )
				    VALUES
					( @KANRINO,@JYM,@INKBN,@SCODE,@KTORCD,@HINBN,@TORCD ,@UKEIR ,@SEBAN,@SMOTO,
					  @SYAKEI,@NOUNO,@JYMD,0,@TANK,@TKBN,@SURYO,@KIN,
					  @UMUSYO,'','','','',@JSNO,0,
					  0,0,CONVERT(VARCHAR(8),GETDATE(),112),@KHOHO,@KTANI,@SHIME,1,
					  0,'',Getdate(),Host_Name(),@TANTO )
			 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 17 GOTO PROC_ERROR END
				SELECT @JCNT = @JCNT + 1
			   END
		    END

		IF @SAVE_KANRINO = 0 BEGIN SELECT @SAVE_KANRINO = @KANRINO END
	----------------------------------+
	-- 支給明細テーブル出力
	----------------------------------+
		INSERT INTO 支給明細テーブル
			( 検収管理NO,実績年月,入力区分,識別子,契約先,品番,支給先,受入,背番号,出庫者,
			車型,納入番号,検収日,赤黒区分,単価,仮単価区分,数量,金額,
			有無償区分,部品区分,単位,訂正理由,科目,発注管理NO,遡り区分,
			実績区分,実績処理日,計算方法,計算単位,締日,明細件数,
			集約検収管理NO,送信区分,送信処理日,作成日,作成端末,作成者 )
		    VALUES
			( @KANRINO,@JYM,@INKBN,@SCODE,@KTORCD,@HINBN,@TORCD ,@UKEIR ,@SEBAN,@SMOTO,
			  @SYAKEI,@NOUNO,@JYMD,0,@TANK,@TKBN,@SURYO,@KIN,
			  @UMUSYO,'','','','',@JSNO,0,
			  0,CONVERT(VARCHAR(8),GETDATE(),112),@KHOHO,@KTANI,@SHIME,0,
			  @SAVE_KANRINO,0,'',Getdate(),Host_Name(),@TANTO )
	 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 18 GOTO PROC_ERROR END
		SELECT @MCNT = @MCNT + 1


		-------------------------
		--     買掛契約先ワーク更新
		-------------------------
		IF (SELECT COUNT(*) FROM 買掛契約先ワーク WHERE 契約先 = @KTORCD) = 0 
		    BEGIN 
			INSERT INTO 買掛契約先ワーク (契約先,締日,作成端末) VALUES (@KTORCD,@SHIME,HOST_NAME())
		 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 20 GOTO PROC_ERROR END
		    END
	   END

	-------------------------
	--     実績管理テーブル更新
	-------------------------
	UPDATE 実績管理テーブル SET
		検収年月 = CASE WHEN @TKBN <> '9' THEN @JYM ELSE '' END,
		検収処理日 = CONVERT(VARCHAR(8),GETDATE(),112),
		検収区分 = @TKBN
	   WHERE 実績管理NO = @JSNO
 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 19 GOTO PROC_ERROR END

-- *----------------------------------------------------*
-- *  実績管理テーブルカーソルスクロール(次レコード）  		       *
-- *----------------------------------------------------*
	FETCH NEXT FROM NYCUR INTO
			@KHOHO,@KTANI ,@SHIME ,@KTORCD ,@SYAKEI ,
			@JSNO,@HINBN ,@SEBAN ,@TORCD ,@UKEIR ,@JYMD ,
			@NOUNO ,@SURYO ,@SMOTO ,@UMUKB
			-------------------------------------***** 2008/06/11 Start
			,  @TR_KURAI1 , @TR_KURAI2
			-------------------------------------***** 2008/06/11 End
END

CLOSE NYCUR
DEALLOCATE NYCUR

---------------------------------------------------------------------
--	明細が複数ある時、金額再計算
---------------------------------------------------------------------
UPDATE 支給実績テーブル SET
    金額 = CASE WHEN 計算単位 = 0 THEN ROUND( 数量 * 単価,0,1)	-- 切捨て
    		   WHEN 計算単位 = 1 THEN CEILING( 数量 * 単価)		-- 切上げ
    		   WHEN 計算単位 = 2 THEN ROUND( 数量 * 単価,0)		-- 四捨五入
	END
 WHERE 実績年月 = @JYM
   AND 契約先 LIKE @JTORCD
   AND 締日 >= @SSHIME
   AND 締日 <= @ESHIME
   AND 入力区分 = @INKBN
   AND 明細件数 > 1
IF @@ERROR <> 0 BEGIN SELECT @ERR = 20 GOTO PROC_ERROR END

------------------------------
--         終 了　
------------------------------
END_PROC:
--SELECT '入力件数' = @TCNT,'実績件数' = @JCNT,'明細件数' = @MCNT,'未決件数' = @ECNT	--T 
--<<　トランザクション終了 >>------
COMMIT TRANSACTION SICRT

--RETURN(0)
RETURN
------------------------------
--    エラー処理
------------------------------
PROC_ERROR:
/*
--T

IF @ERR <> 0 
   BEGIN
	SELECT 'ERR=' + CONVERT(CHAR(2),@ERR)
  END
*/
--T END

--RETURN
RETURN(@ERR)

GO
