USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[納入指示構成情報抽出]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[納入指示構成情報抽出]  AS

DECLARE @IND		TINYINT
DECLARE @INDX		VARCHAR(3)
DECLARE @LOOP		TINYINT
DECLARE @MAX_LOOP	TINYINT
DECLARE @WHINBN		VARCHAR(25)
/* 構成情報退避 */
/* DECLARE @KO_ORDER	VARCHAR(300)
DECLARE @KO_LEVEL	TINYINT
DECLARE @KO_OHINBN	VARCHAR(25)
DECLARE @KO_KHINBN	VARCHAR(25)
DECLARE @KO_KOSUR	DECIMAL(8,4)
DECLARE @KO_TENKB	TINYINT
DECLARE @KO_LTIME		TINYINT
DECLARE @KO_SDATE	VARCHAR(8)
DECLARE @KO_EDATE	VARCHAR(8) */

/* レベル0カーソル使用 */
DECLARE @JY_HINBN	VARCHAR(25)
DECLARE @JY_TORCD	VARCHAR(07)

/* レベル1カーソル使用 */
DECLARE @OY_HINBN		VARCHAR(25)
DECLARE @OY_TORCD	VARCHAR(07)
DECLARE @OY_SAGYO	VARCHAR(04)
DECLARE @OY_ZKANRI	INT
DECLARE @OY_ZAISITU	VARCHAR(25)
DECLARE @OY_ITAATU	DECIMAL(6,2)
DECLARE @OY_HABA		DECIMAL(6,2)
DECLARE @OY_NAGASA	DECIMAL(6,2)
DECLARE @OY_OHINBN	VARCHAR(25)
DECLARE @OY_OTORCD	VARCHAR(07)

/* レベル2以降カーソル使用 */
DECLARE @KO_HINBN		VARCHAR(25)
DECLARE @KO_TORCD	VARCHAR(07)
DECLARE @KO_SAGYO	VARCHAR(04)
DECLARE @KO_ZKANRI	INT
DECLARE @KO_ZAISITU	VARCHAR(25)
DECLARE @KO_ITAATU	DECIMAL(6,2)
DECLARE @KO_HABA		DECIMAL(6,2)
DECLARE @KO_NAGASA	DECIMAL(6,2)
DECLARE @KO_OHINBN	VARCHAR(25)
DECLARE @KO_OTORCD	VARCHAR(07)
DECLARE @KO_ORDER	VARCHAR(50)
DECLARE @OA_HINBN		VARCHAR(25)
DECLARE @OA_OHINBN	VARCHAR(25)
DECLARE @OA_OTORCD	VARCHAR(07)

SELECT @IND = 0
SELECT @MAX_LOOP = 99
SET NOCOUNT ON
/*-----------------------------------------------------------------*/
/*	納入指示構成ワーク	削除							       */
/*-----------------------------------------------------------------*/
DELETE 納入指示構成ワーク 
	WHERE 処理端末 = HOST_NAME()
IF @@ERROR <> 0	BEGIN	GOTO PROC_ERR	END

/*-----------------------------------------------------------------*/
/*	レベル０ セット(受注情報セット)						       */	
/*-----------------------------------------------------------------*/

DECLARE JY_CUR	CURSOR
FOR
SELECT 品番,取引先
	FROM 品番取引先マスタ 
	WHERE 品目 = 0
	AND 取引先 = '5555'
OPEN JY_CUR
FETCH NEXT FROM JY_CUR	INTO @JY_HINBN,@JY_TORCD
WHILE	@@FETCH_STATUS = 0
    BEGIN
	INSERT INTO 納入指示構成ワーク ( 処理端末,順位,レベル,部品材料区分,大親品番,大親納入先,
						品番,材料管理番号,材質,板厚,
						幅,長さ,使用品番,仕入先,加工CD ) VALUES 
					       ( HOST_NAME(),'',0,'B',@JY_HINBN,@JY_TORCD,
						@JY_HINBN,0,'',0,
						0,0,'',@JY_TORCD,'' )
		
	IF @@ERROR <> 0	BEGIN	GOTO PROC_ERR	END

	FETCH NEXT FROM JY_CUR	INTO @JY_HINBN,@JY_TORCD
    END

CLOSE JY_CUR
DEALLOCATE JY_CUR

/*GOTO PROC_ERR*/
/*-----------------------------------------------------------------*/
/*	レベル１ セット									       */
/*-----------------------------------------------------------------*/

DECLARE OY_CUR	CURSOR
FOR
/*SELECT 大親品番,大親納入先,ISNULL(子品番,'')
	FROM 構成マスタ KO
	LEFT OUTER JOIN 納入指示構成ワーク NW
	ON NW.品番 = KO.親品番
	WHERE ISNULL(大親品番,'') <> ''*/
SELECT 大親品番,大親納入先,子品番
	FROM 納入指示構成ワーク NW	
	LEFT OUTER JOIN 構成マスタ KO
	ON NW.品番 = KO.親品番
	WHERE ISNULL(大親品番,'') <> ''
OPEN OY_CUR
FETCH NEXT FROM OY_CUR	INTO @OY_OHINBN,@OY_OTORCD,@OY_HINBN
WHILE	@@FETCH_STATUS = 0
    BEGIN
	SELECT @OY_TORCD = MIN(取引先)
		FROM 品番取引先マスタ
		WHERE 品番 = @OY_HINBN
		AND	品目 = 1 
	IF @WHINBN <> @OY_HINBN
	    BEGIN
		SELECT @IND = 0
		SELECT @WHINBN = @OY_HINBN
	    END
		
	SELECT @IND = @IND + 1	
	EXEC cFORMATX 3,@IND,0,@INDX OUTPUT

	IF ISNULL(@OY_TORCD,'') <> '' 
	   BEGIN	
/*	  	SELECT @OY_SAGYO = 作業
			FROM 品番取引作業マスタ
			WHERE 品番 = @OY_HINBN
			AND 取引先 = @OY_TORCD
			AND 作業順 = ( SELECT MAX(作業順) FROM 品番取引作業マスタ
							WHERE 品番 = @OY_HINBN
							AND 取引先 = @OY_TORCD )*/

		SELECT @OY_HINBN
/*		INSERT INTO 納入指示構成ワーク (処理端末,順位,レベル,部品材料区分,大親品番,大親納入先,
							品番,材料管理番号,材質,板厚,
							幅,長さ,使用品番,仕入先,加工CD) VALUES
						       (HOST_NAME(),@INDX,1,'B',@OY_OHINBN,@OY_OTORCD,
							@OY_HINBN,0,'',0,
							0,0,'',@OY_TORCD,@OY_SAGYO)*/
		INSERT INTO 納入指示構成ワーク (処理端末,順位,レベル,部品材料区分,大親品番,大親納入先,品番) VALUES 
							(HOST_NAME(),@INDX,1,'B',@OY_OHINBN,@OY_OTORCD,'6666666666')
/*		INSERT INTO 納入指示構成ワーク  VALUES
						       (HOST_NAME(),@INDX,1,'B',@OY_OHINBN,@OY_OTORCD,
							SUBSTRING(@OY_HINBN,1,9),0,'',0,
							0,0,'',@OY_TORCD,@OY_SAGYO)*/
		IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END

	   END 
/*
	SELECT @OY_ZKANRI = ISNULL(ZM.材料管理番号,0),@OY_ZAISITU = ISNULL(材質,''),@OY_ITAATU = ISNULL(板厚,0),
		@OY_HABA = ISNULL(幅,0),@OY_NAGASA = ISNULL(長さ,0)
		FROM 材料品番マスタ ZH
		LEFT OUTER JOIN 材料マスタ ZM
		ON ZM.材料管理番号 = ZH.材料管理番号
		WHERE 使用品番 = @OY_HINBN
	IF ISNULL(@OY_ZKANRI,0) <> 0 
	   BEGIN
		INSERT INTO 納入指示構成ワーク ( 処理端末,順位,レベル,部品材料区分,大親品番,大親納入先,
							品番,材料管理番号,材質,板厚,
							幅,長さ,使用品番,仕入先,加工CD ) VALUES 
						       ( HOST_NAME(),@INDX,1,'Z',@OY_OHINBN,@OY_OTORCD,
							@OY_HINBN,@OY_ZKANRI,@OY_ZAISITU,@OY_ITAATU,
							@OY_HABA,@OY_NAGASA,@OY_HINBN,'','' )
	
	   END 
*/
	FETCH NEXT FROM OY_CUR	INTO @OY_OHINBN,@OY_OTORCD,@OY_HINBN
    END

CLOSE OY_CUR
DEALLOCATE OY_CUR

GOTO PROC_ERR
/*-----------------------------------------------------------------*/
/*	レベル２以降 セット								       */	
/*-----------------------------------------------------------------*/
DECLARE OA_CUR	CURSOR
FOR
SELECT 大親品番,大親納入先,品番
	FROM 納入指示構成ワーク
	WHERE 部品材料区分 = 'B'
	AND レベル = 1

OPEN OA_CUR
FETCH NEXT FROM OA_CUR	INTO @OA_OHINBN,@OA_OTORCD,@OA_HINBN
WHILE	@@FETCH_STATUS = 0
    BEGIN

	SELECT @LOOP = 1
	SELECT @WHINBN = ''
	WHILE @LOOP < @MAX_LOOP
	    BEGIN
		
		DECLARE KO_CUR	CURSOR
		FOR
		SELECT NW.順位,NW.大親品番,NW.大親納入先,KO.子品番
			FROM 納入指示構成ワーク NW
			LEFT OUTER JOIN 構成マスタ KO
			  ON KO.親品番 = NW.品番
			WHERE NW.レベル = @LOOP
			   AND NW.処理端末 = HOST_NAME()
			 ORDER BY NW.レベル,KO.子品番
		
		OPEN KO_CUR
		FETCH NEXT FROM KO_CUR	INTO @KO_ORDER,@KO_OHINBN,@KO_OTORCD,@KO_HINBN
			
		WHILE	@@FETCH_STATUS = 0
		    BEGIN
			IF @WHINBN <> @KO_OHINBN
			    BEGIN
				SELECT @IND = 0
				SELECT @WHINBN = @KO_OHINBN
			    END
	
			SELECT @IND = @IND + 1	
			EXEC cFORMATX 3,@IND,0,@INDX OUTPUT

			SELECT @KO_TORCD = MIN(取引先)
				FROM 品番取引先マスタ
				WHERE 品番 = @KO_HINBN
				AND	品目 = 1 

			IF ISNULL(@KO_TORCD,'') <> '' 
			   BEGIN	
			  	SELECT @KO_SAGYO = ISNULL(作業,'')
					FROM 品番取引作業マスタ
					WHERE 品番 = @KO_HINBN
					AND 取引先 = @KO_TORCD
					AND 作業順 = ( SELECT MAX(作業順) FROM 品番取引作業マスタ
									WHERE 品番 = @KO_HINBN
									AND 取引先 = @KO_TORCD )
		
				INSERT INTO 納入指示構成ワーク ( 処理端末,順位,レベル,部品材料区分,大親品番,大親納入先,
									品番,材料管理番号,材質,板厚,
									幅,長さ,使用品番,仕入先,加工CD ) VALUES 
								       ( HOST_NAME(),@INDX,@LOOP + 1,'B',@KO_OHINBN,@KO_OTORCD,
									@KO_HINBN,0,'',0,
									0,0,'',@KO_TORCD,ISNULL(@KO_SAGYO,'') )
				IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END
		
			   END 
					
			SELECT @KO_ZKANRI = ISNULL(ZM.材料管理番号,0),	@KO_ZAISITU = ISNULL(材質,''),@KO_ITAATU = ISNULL(板厚,0),
				@KO_HABA = ISNULL(幅,0),@KO_NAGASA = ISNULL(長さ,0)
				FROM 材料品番マスタ ZH
				LEFT OUTER JOIN 材料マスタ ZM
				ON ZM.材料管理番号 = ZH.材料管理番号
				WHERE 使用品番 = @KO_HINBN
			IF ISNULL(@KO_ZKANRI,0) <> 0 
			   BEGIN
				INSERT INTO 納入指示構成ワーク ( 処理端末,順位,レベル,部品材料区分,大親品番,大親納入先,
									品番,材料管理番号,材質,板厚,
									幅,長さ,使用品番,仕入先,加工CD ) VALUES 
								       ( HOST_NAME(),@INDX,@LOOP + 1,'Z',@KO_OHINBN,@KO_OTORCD,
									@KO_HINBN,@KO_ZKANRI,@KO_ZAISITU,@KO_ITAATU,
									@KO_HABA,@KO_NAGASA,@KO_HINBN,'','' )
			
			   END 
	
			FETCH NEXT FROM KO_CUR	INTO @KO_ORDER,@KO_OHINBN,@KO_OTORCD,@KO_HINBN
		    END 
	
		-- *---------------------------------------------------*
		-- *	CURSOR CLOSE & DELETE
		-- *---------------------------------------------------*
		CLOSE KO_CUR
		DEALLOCATE KO_CUR
	
		SELECT @LOOP = @LOOP + 1
	
	    END

	FETCH NEXT FROM OA_CUR	INTO @OA_OHINBN,@OA_OTORCD,@OA_HINBN
   END

CLOSE OA_CUR
DEALLOCATE OA_CUR

-- *--------------------------------------------------*
-- *	正  常  終  了
-- *--------------------------------------------------*
PROC_END:
RETURN(0)
-- *--------------------------------------------------*
-- *	異  常  終  了
-- *--------------------------------------------------*
PROC_ERR:
RETURN(1)



GO
