USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[GETWORKTBL]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [dbo].[GETWORKTBL] (@WSNM VARCHAR(20), @KB TINYINT,@WFNM VARCHAR(30) OUTPUT) AS
-- *----------------------------------------------------------------------------------
-- *
-- *	ストアード内ワークテーブル名 & ワークテーブルの削除
-- *
-- *	パラメータ ： 	@WSNM - コンピュータ名(『GETWSNAME』より取得したもの )
-- *			@KB   - ワークテーブル№( 0 - 9 ) 又は、10より大きい値
-- *			@WFNM - ワークテーブル名 ( OUTPUT ﾊﾟﾗﾒｰﾀ )
-- *
-- *	説明	：	ｺﾝﾋﾟｭｰﾀ名を基にﾜｰｸﾃｰﾌﾞﾙ№で指定されたﾜｰｸﾃｰﾌﾞﾙ名を編集し、
-- *			  該当のﾃｰﾌﾞﾙを削除します。
-- *
-- *			ﾜｰｸﾃｰﾌﾞﾙ№に１０以上の値をセットした場合は、
-- *			  ｺﾝﾋﾟｭｰﾀ名に基づく一連のﾜｰｸﾃｰﾌﾞﾙ( ﾜｰｸ№ 0 - 9 )を削除し、
-- *			  ﾜｰｸﾃｰﾌﾞﾙ名にﾜｰｸ№『０』のﾜｰｸﾃｰﾌﾞﾙ名を返します。
-- *
-- *			(注)：ワークテーブルの作成はしません！！！
-- *
-- *	使用例	：	
-- *			DECLARE @PCNAME 	VARCHAR(20),
-- *				@WKNAME		VARCHAR(30)
-- *
-- *			EXEC GETWSNAME @PCNAME OUTPUT
-- *
-- *			EXEC GETWORKTBL @PCNAME,1,@WKNAME OUTPUT
-- *
-- *			EXEC ('SELECT * INTO ' + @WKNAME + ' FROM … )  
-- *
-- *-----------------------------------------------------------------------------------
SET NOCOUNT ON

DECLARE @NM	VARCHAR(30)

IF @KB < 10
   BEGIN
	SELECT @NM = 'WK' + CONVERT(CHAR(1),@KB) + @WSNM
	IF EXISTS (Select * From sysobjects Where id = object_id(@NM))

		EXEC ('DROP TABLE ' + @NM)

	SELECT @WFNM = @NM
	RETURN (0)
   END
ELSE
   BEGIN
	DECLARE @CNT	TINYINT

	SELECT @CNT = 0
	WHILE @CNT < 10
	   BEGIN
		SELECT @NM = 'WK' + CONVERT(CHAR(1),@CNT) + @WSNM
		IF EXISTS (Select * From sysobjects Where id = object_id(@NM))
			EXEC ('DROP TABLE ' + @NM)
		SELECT @CNT = @CNT + 1
	   END

	SELECT @WFNM = 'WK0' + @WSNM
   END
RETURN (0)





GO
