USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[売上予想型費]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE       PROCEDURE [dbo].[売上予想型費] (@NJYM VARCHAR(6),@KEIYAKU VARCHAR(07),@ERR TINYINT OUTPUT,
					@INCNT INT OUTPUT,@OUTCNT INT OUTPUT) AS
--*----------------------------------------------------------------------------------------------*
--*	売上予想型費作成
--*
--*	型費テーブルより売上予想テーブルの作成を行う
--*					
--*	ﾊﾟﾗﾒﾀ	  : 	@NJYM    VARCHAR(6) 	-- 対象年月
--*							
--*	Return	  :  
--*		  : 	@RTN	 　　TINYINT		-- 終了コード
--*		  : 	@INCNT  　INT		-- 入力件数
--*		  : 	@OUTCNT INT		-- 出力件数
--*
--*	作成日　：	2004/11/02
--*	変更日　：	
--*			
--*----------------------------------------------------------------------------------------------*
SET NOCOUNT ON
--T
--DECLARE @NJYM VARCHAR(6),@KEIYAKU VARCHAR(07),@ERR TINYINT,@INCNT INT,@OUTCNT INT
--SELECT @NJYM = '200412'
--SELECT @KEIYAKU = ''
--T END

--* リターン情報初期化
SELECT @ERR = 0,@INCNT = 0,@OUTCNT = 0
SELECT @KEIYAKU = RTRIM(@KEIYAKU) + '%'
--* 
DECLARE @NJYME	VARCHAR(6)	-- 予想年月
DECLARE @NJYM1	VARCHAR(6)	-- 予想年月
DECLARE @NJYM2	VARCHAR(6)	-- 予想年月
DECLARE @NJYM3	VARCHAR(6)	-- 予想年月
DECLARE @NJYM4	VARCHAR(6)	-- 予想年月
DECLARE @NJYM5	VARCHAR(6)	-- 予想年月
DECLARE @NJYM6	VARCHAR(6)	-- 予想年月
DECLARE @NJYM7	VARCHAR(6)	-- 予想年月
DECLARE @NJYM8	VARCHAR(6)	-- 予想年月
DECLARE @NJYM9	VARCHAR(6)	-- 予想年月
DECLARE @NJYM10	VARCHAR(6)	-- 予想年月
DECLARE @NJYM11	VARCHAR(6)	-- 予想年月
DECLARE @NJYM12	VARCHAR(6)	-- 予想年月
DECLARE @NJYM13	VARCHAR(6)	-- 予想年月
DECLARE @NJYM14	VARCHAR(6)	-- 予想年月
DECLARE @WKIN 	DECIMAL(11,0)	-- ﾄﾖﾀ予想金額計算
DECLARE @KI 	INT		-- 期開始月
DECLARE @KIMM 	VARCHAR(2)	-- 期開始月

DECLARE @STYM	VARCHAR(6)	-- 開始年月
DECLARE @EDYM	VARCHAR(6)	-- 終了年月
DECLARE @NJCOL   TINYINT
--*--------------------------------------*--
--*	開始月・終了月を求める
--*--------------------------------------*--
SELECT @KI = 0
SELECT @KI = (SELECT 数字1 FROM 名称マスタ
			WHERE 区分名称 = '自社情報'
			    AND 区分タイプ = ''
			    AND 値 = '3')
IF @KI = 0 OR @KI IS NULL BEGIN SELECT @KI = 4 	END
SELECT @KIMM = RIGHT(REPLICATE('0',2) + LTRIM(STR(CONVERT(INT,@KI))),2)

IF @KIMM > SUBSTRING(@NJYM,5,2)
    BEGIN
	SELECT @STYM = CONVERT(VARCHAR(6),DATEADD(yy,-1,CONVERT(DATETIME,SUBSTRING(@NJYM,1,4) + @KIMM + '01')),112)
    END
ELSE 
    BEGIN
	SELECT @STYM = SUBSTRING(@NJYM,1,4) + @KIMM
    END
SELECT @EDYM = CONVERT(VARCHAR(6),DATEADD(mm,13,CONVERT(DATETIME,@STYM + '01')),112)

-- *----------------------------*
-- *	売上予想型費テーブル削除	*
-- *----------------------------*
DELETE FROM 売上予想型費テーブル
WHERE 年度 = SUBSTRING(@STYM,1,4)
    AND 予想年月 = @NJYM
    AND 契約先 LIKE @KEIYAKU
IF @@ERROR <> 0 BEGIN 	SELECT @ERR = 30 GOTO PROC_ERR 	END
--* 売上予想テーブル削除(当月-12)
DELETE FROM 売上予想型費テーブル
WHERE 予想年月 < CONVERT(CHAR(6),DATEADD(mm,-12,CONVERT(DATETIME,@NJYM+ '01')),112)
    AND 契約先 LIKE @KEIYAKU
IF @@ERROR <> 0 BEGIN SELECT @ERR = 30   GOTO PROC_ERR 	END

--*   内示年月設定
SELECT @NJYM1 = @STYM
SELECT @NJYM2 = CONVERT(VARCHAR(06),DATEADD(mm,1,CONVERT(DATETIME,@NJYM1+'01')),112)
SELECT @NJYM3 = CONVERT(VARCHAR(06),DATEADD(mm,2,CONVERT(DATETIME,@NJYM1+'01')),112)
SELECT @NJYM4 = CONVERT(VARCHAR(06),DATEADD(mm,3,CONVERT(DATETIME,@NJYM1+'01')),112)
SELECT @NJYM5 = CONVERT(VARCHAR(06),DATEADD(mm,4,CONVERT(DATETIME,@NJYM1+'01')),112)
SELECT @NJYM6 = CONVERT(VARCHAR(06),DATEADD(mm,5,CONVERT(DATETIME,@NJYM1+'01')),112)
SELECT @NJYM7 = CONVERT(VARCHAR(06),DATEADD(mm,6,CONVERT(DATETIME,@NJYM1+'01')),112)
SELECT @NJYM8 = CONVERT(VARCHAR(06),DATEADD(mm,7,CONVERT(DATETIME,@NJYM1+'01')),112)
SELECT @NJYM9 = CONVERT(VARCHAR(06),DATEADD(mm,8,CONVERT(DATETIME,@NJYM1+'01')),112)
SELECT @NJYM10 = CONVERT(VARCHAR(06),DATEADD(mm,9,CONVERT(DATETIME,@NJYM1+'01')),112)
SELECT @NJYM11 = CONVERT(VARCHAR(06),DATEADD(mm,10,CONVERT(DATETIME,@NJYM1+'01')),112)
SELECT @NJYM12 = CONVERT(VARCHAR(06),DATEADD(mm,11,CONVERT(DATETIME,@NJYM1+'01')),112)
SELECT @NJYM13 = CONVERT(VARCHAR(06),DATEADD(mm,12,CONVERT(DATETIME,@NJYM1+'01')),112)
SELECT @NJYM14 = CONVERT(VARCHAR(06),DATEADD(mm,13,CONVERT(DATETIME,@NJYM1+'01')),112)
IF @NJYM1 = @NJYM BEGIN SELECT @NJCOL = 1 	END
IF @NJYM2 = @NJYM BEGIN SELECT @NJCOL = 2 	END
IF @NJYM3 = @NJYM BEGIN SELECT @NJCOL = 3 	END
IF @NJYM4 = @NJYM BEGIN SELECT @NJCOL = 4 	END
IF @NJYM5 = @NJYM BEGIN SELECT @NJCOL = 5 	END
IF @NJYM6 = @NJYM BEGIN SELECT @NJCOL = 6 	END
IF @NJYM7 = @NJYM BEGIN SELECT @NJCOL = 7 	END
IF @NJYM8 = @NJYM BEGIN SELECT @NJCOL = 8 	END
IF @NJYM9 = @NJYM BEGIN SELECT @NJCOL = 9 	END
IF @NJYM10 = @NJYM BEGIN SELECT @NJCOL = 10 	END
IF @NJYM11 = @NJYM BEGIN SELECT @NJCOL = 11 	END
IF @NJYM12 = @NJYM BEGIN SELECT @NJCOL = 12 	END
IF @NJYM13 = @NJYM BEGIN SELECT @NJCOL = 13 	END
IF @NJYM14 = @NJYM BEGIN SELECT @NJCOL = 14 	END

SELECT @NJYME = CONVERT(VARCHAR(06),DATEADD(mm,2,CONVERT(DATETIME,@NJYM+'01')),112)
-- *-------------------------------------------------*
-- *  型費テーブル ｶｰｿﾙ定義			     *
-- *-------------------------------------------------*
DECLARE KNCUR SCROLL CURSOR
FOR
 
	SELECT KT.品番,KT.取引先,連番,対象開始年月,
		切替年月,金額,適用開始年月,適用終了年月,回数,投資金額,
	       	CASE WHEN HN.車型 IS NOT NULL THEN HN.車型 ELSE ISNULL(HN2.車型,'') END,
	       	CASE WHEN HN.品番編集 IS NOT NULL THEN HN.品番編集 ELSE ISNULL(HN2.品番編集,'552') END
	 FROM 型費テーブル KT
	LEFT OUTER JOIN 品番マスタ HN
	   ON  HN.品番 = KT.品番
	LEFT OUTER JOIN 品番マスタ HN2
	   ON   SUBSTRING(HN2.品番,1,10) = SUBSTRING(KT.品番,1,10)
	   AND HN2.品番 = ( SELECT MIN(HN3.品番) FROM 品番マスタ HN3
				WHERE SUBSTRING(HN3.品番,1,10) = SUBSTRING(KT.品番,1,10) ) 
	WHERE 対象開始年月 >= @STYM
	    AND 対象開始年月 <= @EDYM
	    AND (切替年月 = '' OR (切替年月 <> '' AND 対象開始年月 <= 切替年月))
	    AND 取引先 LIKE @KEIYAKU
	ORDER BY KT.品番,KT.取引先,連番,対象開始年月

FOR READ ONLY
OPEN KNCUR

-- *  型費テーブル ｶｰｿﾙ定義	     *
DECLARE @HINBN VARCHAR(25),@TORCD VARCHAR(7),@RENNO TINYINT,@TYM VARCHAR(6),
	@KYM VARCHAR(6),@KIN MONEY,@TSYM VARCHAR(6),@TEYM VARCHAR(6),@KAISU TINYINT,@TKIN MONEY
DECLARE @SYAKEI VARCHAR(5),@HINHEN VARCHAR(05)
--*  KEY項目
DECLARE @KEY_HINBN VARCHAR(25),@KEY_TORCD VARCHAR(7)
--*  ワーク定義
DECLARE @SYUHIN VARCHAR(25)			-- *集約品番
DECLARE @WK1 INT,@WK2 INT
DECLARE @KATA1 MONEY,@KATA2 MONEY,@KATA3 MONEY,@KATA4 MONEY,@KATA5 MONEY,@KATA6 MONEY
DECLARE @KATA7 MONEY,@KATA8 MONEY,@KATA9 MONEY,@KATA10 MONEY,@KATA11 MONEY,@KATA12 MONEY
DECLARE @KATA13 MONEY,@KATA14 MONEY
DECLARE @W_SYAKEI VARCHAR(5),@W_HINHEN VARCHAR(05)

--* ワーク初期化
SELECT @KEY_HINBN = '',@KEY_TORCD = ''
-- *--------------------------------------------*
-- *    型費テーブル読込み(1件目)		*
-- *--------------------------------------------*
FETCH NEXT FROM KNCUR INTO @HINBN ,@TORCD ,@RENNO ,@TYM ,
			@KYM ,@KIN ,@TSYM  ,@TEYM ,@KAISU ,@TKIN ,@SYAKEI ,@HINHEN
WHILE (@@FETCH_STATUS = 0)
    BEGIN
	IF @TYM >= @NJYM AND @TYM <= @NJYME
	    BEGIN
		SELECT @INCNT = @INCNT + 1
	    END
			
	IF @KEY_HINBN <> @HINBN OR @KEY_TORCD <> @TORCD
	    BEGIN
		IF @KEY_HINBN <> ''
		    BEGIN
			IF (SELECT COUNT(*) FROM 売上予想型費テーブル
				WHERE 年度 = SUBSTRING(@STYM,1,4)
				  AND 予想年月 = @NJYM
				  AND 契約先 	= @KEY_TORCD
				  AND 品番 	= @KEY_HINBN ) <> 0 
			    BEGIN
				UPDATE 売上予想型費テーブル SET
					金額1 = 金額1 + @KATA1,
					金額2 = 金額2 + @KATA2,
					金額3 = 金額3 + @KATA3,
					金額4 = 金額4 + @KATA4,
					金額5 = 金額5 + @KATA5,
					金額6 = 金額6 + @KATA6,
					金額7 = 金額7 + @KATA7,
					金額8 = 金額8 + @KATA8,
					金額9 = 金額9 + @KATA9,
					金額10 = 金額10 + @KATA10,
					金額11 = 金額11 + @KATA11,
					金額12 = 金額12 + @KATA12,
					金額13 = 金額13 + @KATA13,
					金額14 = 金額14 + @KATA14
				WHERE 年度 = SUBSTRING(@STYM,1,4)
				  AND 予想年月 = @NJYM
				  AND 契約先 = @KEY_TORCD
				  AND 品番 = @KEY_HINBN
				IF @@ERROR <> 0 BEGIN 	SELECT @ERR = 31 GOTO PROC_ERR 	END
			    END
			ELSE
			    BEGIN		
				INSERT INTO 売上予想型費テーブル (年度,予想年月,契約先,品番,開始年月,車型,工区,
					金額1,金額2,金額3,金額4,金額5,金額6,金額7,金額8,金額9,金額10,金額11,金額12,
					金額13,金額14,内示位置,集約品番,品番編集,作成日,作成端末,更新日,更新端末)
				VALUES (SUBSTRING(@STYM,1,4),@NJYM,@KEY_TORCD,@KEY_HINBN,@STYM,@W_SYAKEI,'',
					@KATA1,@KATA2,@KATA3,@KATA4,@KATA5,@KATA6,
					@KATA7,@KATA8,@KATA9,@KATA10,@KATA11,@KATA12,
					@KATA13,@KATA14,@NJCOL,@SYUHIN,@W_HINHEN,GETDATE(),HOST_NAME(),NULL,'')
				IF @@ERROR <> 0 BEGIN 	SELECT @ERR = 32 GOTO PROC_ERR 	END

				SELECT @OUTCNT = @OUTCNT + 1
			    END
		    END
		--*------------------------------------------------*--
		--*	 集約品番編集 
		--*------------------------------------------------*--
		SELECT @WK1 = CONVERT(INT,SUBSTRING(@HINHEN,1,1))
		SELECT @WK2 = CONVERT(INT,SUBSTRING(@HINHEN,2,1))
		SELECT @SYUHIN = SUBSTRING(@HINBN,1,@WK1+@WK2)
		SELECT @W_HINHEN = @HINHEN
		
		SELECT @KATA1 = 0,@KATA2 = 0,@KATA3 = 0,@KATA4 = 0,@KATA5 = 0,@KATA6 = 0
		SELECT @KATA7 = 0,@KATA8 = 0,@KATA9 = 0,@KATA10 = 0,@KATA11 = 0,@KATA12 = 0
		SELECT @KATA13 = 0,@KATA14 = 0
	    END

	--*--------------------------------+
	--*	金額計算（トヨタのみ) 
	--*--------------------------------+
	IF @TORCD = '1000' 
	   BEGIN
		SELECT @WKIN = @KIN
		SELECT @KIN = CEILING(@WKIN / 2) * 2
	   END
	
	IF @TYM = @NJYM1		SELECT @KATA1 = @KATA1 + @KIN
	IF @TYM = @NJYM2		SELECT @KATA2 = @KATA2 + @KIN
	IF @TYM = @NJYM3		SELECT @KATA3 = @KATA3 + @KIN
	IF @TYM = @NJYM4		SELECT @KATA4 = @KATA4 + @KIN
	IF @TYM = @NJYM5		SELECT @KATA5 = @KATA5 + @KIN
	IF @TYM = @NJYM6		SELECT @KATA6 = @KATA6 + @KIN
	IF @TYM = @NJYM7		SELECT @KATA7 = @KATA7 + @KIN
	IF @TYM = @NJYM8		SELECT @KATA8 = @KATA8 + @KIN
	IF @TYM = @NJYM9		SELECT @KATA9 = @KATA9 + @KIN
	IF @TYM = @NJYM10	SELECT @KATA10 = @KATA10 + @KIN
	IF @TYM = @NJYM11	SELECT @KATA11 = @KATA11 + @KIN
	IF @TYM = @NJYM12	SELECT @KATA12 = @KATA12 + @KIN
	IF @TYM = @NJYM13	SELECT @KATA13 = @KATA13 + @KIN
	IF @TYM = @NJYM14	SELECT @KATA14 = @KATA14 + @KIN

	SELECT @KEY_HINBN = @HINBN
	SELECT @KEY_TORCD = @TORCD

	SELECT @W_SYAKEI = @SYAKEI
-- *--------------------------------------------*
-- *   型費テーブル読込み(次レコード)		*
-- *--------------------------------------------*
        FETCH NEXT FROM KNCUR INTO @HINBN ,@TORCD ,@RENNO ,@TYM ,
					@KYM ,@KIN ,@TSYM  ,@TEYM ,@KAISU ,@TKIN ,@SYAKEI ,@HINHEN
    END
			
CLOSE KNCUR
DEALLOCATE KNCUR 

--*---------------------------------------------*
--*	最終レコード出力
--*---------------------------------------------*
IF @KEY_HINBN <> ''
    BEGIN
	IF (SELECT COUNT(*) FROM 売上予想型費テーブル
		WHERE 年度 = SUBSTRING(@STYM,1,4)
		  AND 予想年月 = @NJYM
		  AND 契約先 	= @KEY_TORCD
		  AND 品番 	= @KEY_HINBN ) <> 0 
	    BEGIN
		UPDATE 売上予想型費テーブル SET
			金額1 = 金額1 + @KATA1,
			金額2 = 金額2 + @KATA2,
			金額3 = 金額3 + @KATA3,
			金額4 = 金額4 + @KATA4,
			金額5 = 金額5 + @KATA5,
			金額6 = 金額6 + @KATA6,
			金額7 = 金額7 + @KATA7,
			金額8 = 金額8 + @KATA8,
			金額9 = 金額9 + @KATA9,
			金額10 = 金額10 + @KATA10,
			金額11 = 金額11 + @KATA11,
			金額12 = 金額12 + @KATA12,
			金額13 = 金額13 + @KATA13,
			金額14 = 金額14 + @KATA14
		WHERE 年度 = SUBSTRING(@STYM,1,4)
		  AND 予想年月 = @NJYM
		  AND 契約先 = @KEY_TORCD
		  AND 品番 = @KEY_HINBN
		IF @@ERROR <> 0 BEGIN 	SELECT @ERR = 31 GOTO PROC_ERR 	END
	    END
	ELSE
	    BEGIN		
		INSERT INTO 売上予想型費テーブル (年度,予想年月,契約先,品番,開始年月,車型,工区,
			金額1,金額2,金額3,金額4,金額5,金額6,金額7,金額8,金額9,金額10,金額11,金額12,
			金額13,金額14,内示位置,集約品番,品番編集,作成日,作成端末,更新日,更新端末)
		VALUES (SUBSTRING(@STYM,1,4),@NJYM,@KEY_TORCD,@KEY_HINBN,@STYM,@W_SYAKEI,'',
			@KATA1,@KATA2,@KATA3,@KATA4,@KATA5,@KATA6,
			@KATA7,@KATA8,@KATA9,@KATA10,@KATA11,@KATA12,
			@KATA13,@KATA14,@NJCOL,@SYUHIN,@W_HINHEN,GETDATE(),HOST_NAME(),NULL,'')
		IF @@ERROR <> 0 BEGIN 	SELECT @ERR = 32 GOTO PROC_ERR 	END

		SELECT @OUTCNT = @OUTCNT + 1
	    END
    END


PROC_END:

--SELECT '入力件数' = @INCNT, '出力件数' = @OUTCNT


RETURN(0)


PROC_ERR:
--SELECT 'ERROR' = @ERR

RETURN(@ERR)











GO
