USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[名称マスタ作成]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[名称マスタ作成] (@KUBUN VARCHAR(30),@ATAI VARCHAR(20),@MEISYO VARCHAR(30),
	@KETA SMALLINT,@EBC1 VARCHAR(30),@EBC2 VARCHAR(30),@EBC3 VARCHAR(30),
	@SU1 DECIMAL(14,4),@SU2 DECIMAL(14,4),@SU3 DECIMAL(14,4),@SEIGYO VARCHAR(1),@ERR TINYINT OUTPUT)AS
--*=====================================================================================================================--
--*	名称マスタ作成
--*
--*	作成日　：	2004/01/23
--*=====================================================================================================================--

SET NOCOUNT ON

/*
DECLARE @KUBUN VARCHAR(30),@ATAI VARCHAR(20),@MEISYO VARCHAR(30),
	@KETA SMALLINT,@EBC1 VARCHAR(30),@EBC2 VARCHAR(30),@EBC3 VARCHAR(30),
	@SU1 DECIMAL(14,4),@SU2 DECIMAL(14,4),@SU3 DECIMAL(14,4),@SEIGYO VARCHAR(1),@ERR TINYINT

SELECT @KUBUN = '発注納入番号',@ATAI = '1',@MEISYO = '発注納入番号',
	@KETA = 1,@EBC1 = 'A',@EBC2 = 'B',@EBC3 = 'C',@SU1 = 1,@SU2 = 2,@SU3 = 3,@SEIGYO = 'X'
*/

SELECT @ERR = 0

--* 管理レコードを作成する *--
IF ( SELECT COUNT(*) FROM 名称マスタ
		 WHERE 区分名称 = @KUBUN
		   AND 区分タイプ = 'K'  ) = 0
    BEGIN
	 INSERT INTO 名称マスタ 
		  (区分名称,区分タイプ,値,値名称,区分桁数,英数字1,英数字2,英数字3,
		  数字1,数字2,数字3,制御区分,作成日,作成者,作成端末,更新者,更新端末) VALUES
		  (@KUBUN,'K','','',@KETA,
		  '','','',0,0,0,@SEIGYO,GETDATE(),'MCRT',HOST_NAME(),'','' )
	 IF @@ERROR <> 0 BEGIN SELECT @ERR = 1 GOTO PROC_ERROR END
    END

IF ( SELECT COUNT(*) FROM 名称マスタ
  		WHERE 区分名称 = @KUBUN
		  AND 区分タイプ = ''
	          AND 値 = @ATAI ) = 0
    BEGIN 
	 INSERT INTO 名称マスタ 
		  (区分名称,区分タイプ,値,値名称,区分桁数,英数字1,英数字2,英数字3,
		  数字1,数字2,数字3,制御区分,作成日,作成者,作成端末,更新者,更新端末) VALUES
		  (@KUBUN,'',@ATAI,@MEISYO,0,
		  @EBC1,@EBC2,@EBC3,@SU1,@SU2,@SU3,@SEIGYO,GETDATE(),'MCRT',HOST_NAME(),'','' )
	 IF @@ERROR <> 0 BEGIN SELECT @ERR = 2 GOTO PROC_ERROR END
    END


PROC_END:
RETURN

PROC_ERROR:

--SELECT @ERR
RETURN








GO
