USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[テキスト受注TEXT変換_テクノエイト]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE       PROCEDURE [dbo].[テキスト受注TEXT変換_テクノエイト] (
				@PROCYMD 	VARCHAR(8),
				@PROCRNO 	INT,
				@RIREKI		INT,
				@FILENAME 	VARCHAR(50),
				@RTCD 		TINYINT OUTPUT
) AS
-- ------------------------------------------------------------------------------------------------------
-- 
-- 	テキスト受注TEXT変換_テクノエイト
-- 
-- 
-- 		パラメータ	：	@PROCYMD	-	処理日
-- 					：	@PROCRNO	-	処理日内連番
-- 					：	@RIREKI		-	履歴管理番号
-- 					：	@FILENAME	-	TEXTファイル名
-- 
--		Return		： 	@RTCD	 	･･･	ｴﾗｰｺｰﾄﾞ
-- 
-- 		作 成 日	：  2009/09/22
--
-- 		UP	DATE	：	2010/02/22	品番桁数変更
-- 
-- ------------------------------------------------------------------------------------------------------
SET NOCOUNT ON
-- TEST
--  DECLARE @PROCYMD 	VARCHAR(8)
--  DECLARE @PROCRNO 	INT
--  DECLARE @RIREKI   	int
--  DECLARE @FILENAME 	VARCHAR(20)
--  DECLARE @RTCD 		TINYINT
--  DECLARE @E 	INT
-- -- 
--  SELECT @PROCYMD = CONVERT(VARCHAR(8),Getdate(),112)
--  SELECT @PROCRNO = 1
--  SELECT @RIREKI = 1
--  SELECT @FILENAME = 'Juchu'

-- exec TOPPS受注TEXT変換 @PROCYMD,@PROCRNO,@RIREKI,@FILENAME,@RTCD
-- TEST END

DECLARE @TX_CNT			INT
DECLARE @TX_OTCNT 		INT
DECLARE @TX_NOCNT 		INT

DECLARE @TX_A_PUTFLG 	TINYINT
DECLARE @TX_B_PUTFLG	TINYINT
DECLARE @ERR 			TINYINT
DECLARE @JNO			INT		-- 受注管理番号
DECLARE @JGNO			TINYINT	-- 受注管理行番号
DECLARE @TX_TYPE		TINYINT	-- 0:受注,1:出荷
DECLARE @WRTN			TINYINT	-- リターン
DECLARE @PROCCNT		INT		-- 退避連番

SELECT @TX_CNT = 0
SELECT @TX_OTCNT = 0,@TX_NOCNT = 0
SELECT @ERR = 0 
SELECT @TX_TYPE = 0

SELECT @PROCCNT = 退避連番	From	テキスト変換履歴テーブル
							Where	履歴管理番号 = @RIREKI

-- -----------------------
--  テキスト変換テーブル削除
-- -----------------------
Delete From テキスト変換テーブル
	Where 処理日     = @PROCYMD
	  And 処理回数   = @PROCRNO
	  And 処理区分   = @TX_TYPE
	  And ファイル名 = @FILENAME
IF @@ERROR <> 0 BEGIN SELECT @ERR = 70 GOTO PROC_ERROR END


-----  2006.04.14 Insert
-------------- 受注TOPPSテーブル（回数=1) 削除
IF @PROCRNO = 1 
   BEGIN
	Delete 受注TOPPSテーブル
		FROM  受注TOPPSテーブル
	 	Left  Outer Join 受注テーブル WK
		  ON  受注TOPPSテーブル.受注管理NO   = WK.受注管理NO
		 AND  受注TOPPSテーブル.受注管理行NO = WK.受注管理行NO
		Where IsNull(WK.受注管理NO,0) = 0
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 17 GOTO PROC_ERROR END
   END
-----  2006.04.14 Insert End


DECLARE TXCUR SCROLL CURSOR
FOR
	SELECT REC1						--,REC2,REC3	-- 2009.09.15 upd : REC1のみ、REC2,REC3不使用
	  From テキスト受注データ
FOR READ ONLY
OPEN TXCUR

DECLARE @TX_REC1	VARCHAR(260)	-- 2009.09.16 upd : REC1のみ : @TX_REC1 VARCHAR(323),@TX_REC2 VARCHAR(260),@TX_REC3 VARCHAR(162)
-- Aレコード
DECLARE @TA_JYMD	VARCHAR(8),		--受注日（処理日）	
		@TA_JBIN	VARCHAR(2),		--受注便（'01'）
		@TA_NYMD	VARCHAR(8),		--納入日（'20'＋納入年月日時分の1～6桁）
		@TA_NBIN	VARCHAR(2)		--納入便（'01'）
DECLARE @TA_NTORCD	VARCHAR(6),		--納入先（メーカー・デポ）						-- 2009.09.23 upd : 5-->6
		@TA_UKEIR	VARCHAR(2),		--受入　（納入場所の1～2桁）
		@TA_NOUNO	VARCHAR(7)		--納入番号（発行NO）							-- 2009.09.23 upd : 5-->7
DECLARE @TA_NTORNM	VARCHAR(20)		--納入先名（----）
DECLARE @TA_CARD	VARCHAR(1)		--カード＃（----）			-- 2006.04.14 Insert

DECLARE @TA_NJIGYO	VARCHAR(2)		--納入先事業体（----）		-- 2008.07.18 Insert
DECLARE @TA_NJIGYOKJ VARCHAR(1)		--納入先事業体工区（----）	-- 2008.07.18 Insert
DECLARE @TA_SJIGYO	VARCHAR(2)		--仕入先事業体（----）		-- 2008.07.18 Insert
DECLARE @TA_SYUKABA VARCHAR(3)		--出荷場（----）			-- 2008.07.18 Insert
-- Bレコード
DECLARE @TB_BINKB	VARCHAR(1),		--便内分割区分（分納区分？'0'）
--		@TB_HINBN	VARCHAR(12),	--品番（部品番号）	2010/02/22
		@TB_HINBN	VARCHAR(25),	--品番（部品番号）	2010/02/22
		@TB_SEBAN	VARCHAR(8)		--背番号（品番取引先マスタ：納入先,受入,品番）	-- 2009.09.23 upd : 4-->8
DECLARE @TB_KMAI	INT,			--枚数（容器数(ラベル枚数)）
		@TB_SYUYO	INT,			--収容数（SNP）
		@TB_NSU		INT,			--端数または納入数（納入指示数）：注）納入数として使用する
		@TB_HASU	INT				--打切端数（'0'）：注）通常の端数として使用する		
DECLARE @TB_UKB		TINYINT,		--打切区分（'0'）
		@TB_UZAN	INT				--打切残数（'0'）
DECLARE @TB_HINNM	VARCHAR(40)		--品名（----）
DECLARE @TB_NOGYO	SMALLINT		--行連番（+1）				-- < 2006/06/14 ADD >

-- KEY項目
DECLARE @KEY_NTORCD	VARCHAR(5),		--納入先
		@KEY_UKEIR	VARCHAR(2),		--受入
		@KEY_NYMD	VARCHAR(8),		--納入日
		@KEY_NBIN	VARCHAR(2),		--納入便
		@KEY_NOUNO	VARCHAR(5)		--納入番号

SELECT @TA_NOUNO = '', @TB_NOGYO = 0
SELECT @TX_A_PUTFLG = 0

SELECT @KEY_NTORCD = '',@KEY_UKEIR = '',@KEY_NYMD = '',@KEY_NBIN = '',@KEY_NOUNO = ''

DECLARE @WYMD VARCHAR(8)
DECLARE @SYMD VARCHAR(8)
DECLARE @EYMD VARCHAR(8)

SELECT @SYMD = CONVERT(VARCHAR(8),DATEADD(m,-6,GETDATE()),112)
SELECT @EYMD = CONVERT(VARCHAR(8),DATEADD(m, 6,GETDATE()),112)

	
-- * TOPPS受注テキスト
FETCH NEXT FROM TXCUR INTO @TX_REC1	--2009.09.16 upd : ,@TX_REC2,@TX_REC3

WHILE @@FETCH_STATUS = 0 
    BEGIN
	SELECT @TX_CNT	= @TX_CNT + 1 

	SELECT @TA_JYMD	= @PROCYMD		--受注日	--2009.09.16 upd : SUBSTRING(@TX_REC1,76,8) 	
	SELECT @TA_JBIN	= '01'			--受注便	--2009.09.16 upd : SUBSTRING(@TX_REC1,84,2) 	

	SELECT @TA_NYMD = SUBSTRING(@TX_REC1,10,8)		--納入日
	SELECT @TA_NBIN = SUBSTRING(@TX_REC1,18,8)		--納入便

	SELECT @TA_NTORCD   = SUBSTRING(@TX_REC1,1,7) 	--納入先
	SELECT @TA_UKEIR    = SUBSTRING(@TX_REC1,8,2) 	--受入	
	SELECT @TA_NOUNO    = SUBSTRING(@TX_REC1,20,5) 	--納入番号
	SELECT @TA_NTORNM   = '' 						--納入先名：SUBSTRING(@TX_REC2,1,10)
	SELECT @TA_CARD	    = ''  						--ｶｰﾄﾞ# 　：SUBSTRING(@TX_REC1,70,1)

	SELECT @TA_NJIGYO   = ''  						--納入先事業体SUBSTRING(@TX_REC1,13,2)
	SELECT @TA_NJIGYOKJ = ''  						--納入先事業体工区SUBSTRING(@TX_REC1,15,1)
	SELECT @TA_SJIGYO   = ''						--仕入先事業体SUBSTRING(@TX_REC1,29,2)
	SELECT @TA_SYUKABA  = '' 						--出荷場SUBSTRING(@TX_REC1,36,3)

--	SELECT @TA_JYMD,@TA_JBIN,@TA_NYMD,@TA_NBIN,@TA_NTORCD,@TA_UKEIR,@TA_NOUNO,@TA_NTORNM,@TA_CARD
	SELECT @TB_BINKB = ''  							--便内分割区分：SUBSTRING(@TX_REC3,1,1)
	SELECT @TB_HINBN = SUBSTRING(@TX_REC1,27,30) 	--品番
    SELECT @TB_SEBAN = LTRIM(SUBSTRING(@TX_REC1,57,5))--背番号	--2009.09.16 del
	SELECT @TB_KMAI  = CONVERT(INT,SUBSTRING(@TX_REC1,68,3)) 	--枚数
	SELECT @TB_SYUYO = CONVERT(INT,SUBSTRING(@TX_REC1,62,6)) 	--収容数
	SELECT @TB_NSU = CONVERT(INT,SUBSTRING(@TX_REC1,77,6)) 	--納入数

	SELECT @TB_HASU  = CONVERT(INT,SUBSTRING(@TX_REC1,71,6))	--打切端数（通常端数として使用）
	SELECT @TB_UKB   = 0 							--打切区分：CONVERT(TINYINT,SUBSTRING(@TX_REC3,34,1))
	SELECT @TB_UZAN  = 0 							--打切残数：CONVERT(INT,SUBSTRING(@TX_REC3,35,7))

	SELECT @TB_HINNM = '' 							--品名：LTRIM(SUBSTRING(@TX_REC3,92,40))
  --SELECT @TB_HINNM = Replace(@TB_HINNM,'''','')	--2009.09.16 del
	SELECT @TB_NOGYO = '1'							-- 行連番：CONVERT( SMALLINT, SUBSTRING( @TX_REC3, 5, 3 ))

--	SELECT @TB_BINKB,@TB_HINBN,@TB_SEBAN,@TB_KMAI,@TB_SYUYO,@TB_HASU,@TB_UKB,@TB_UZAN,@TB_HINNM,@TB_NOGYO
-- 	IF @TB_HINBN = ''
-- 	    BEGIN
-- 		--　品番無しは発注０データ
-- 		SELECT @TX_NOCNT = @TX_NOCNT + 1
-- 	    END
-- 	ELSE
--	    BEGIN
		--SELECT @TX_B_PUTFLG = 0
		--IF @TB_UKB = '3'				-- 打切最終データ
		--   BEGIN
		--	SELECT @TB_NSU = @TB_HASU
		--	IF (SELECT Count(品番) From テキスト変換テーブル
		--		Where 処理日   = @PROCYMD
		--		  And 処理回数  = @PROCRNO
		--		  And 処理区分 = @TX_TYPE
		--		  And ファイル名 = @FILENAME
		--		  And 納入先   = @TA_NTORCD
		--		  And 受入      = @TA_UKEIR
		--		  And 納入番号 = @TA_NOUNO
		--		  And 行連番   = @TB_NOGYO	-- < 2006/06/14 ADD >
		--		  And 納入日    = @TA_NYMD
		--		  And 納入便    = @TA_NBIN
		--		  And 品番       = @TB_HINBN
		--	          And 便内分割区分 =	@TB_BINKB ) <> 0
		--	   BEGIN
		--		SELECT @TB_NSU = @TB_HASU

		--		Update テキスト変換テーブル Set
		--				かんばん枚数 = かんばん枚数 + @TB_KMAI,
		--				納入数        = 納入数 + @TB_HASU,
		--				打切端数     = @TB_HASU,
		--				打切区分     = @TB_UKB,
		--				打切残数     = @TB_UZAN
		--			Where 処理日   = @PROCYMD
		--			  And 処理回数  = @PROCRNO
		--			  And 処理区分 = @TX_TYPE
		--			  And ファイル名 = @FILENAME
		--			  And 納入先   = @TA_NTORCD
		--			  And 受入      = @TA_UKEIR
		--			  And 納入番号 = @TA_NOUNO
		--			  And 行連番   = @TB_NOGYO	-- < 2006/06/14 ADD >
		--			  And 納入日    = @TA_NYMD
		--			  And 納入便    = @TA_NBIN
		--			  And 品番       = @TB_HINBN
		--		            And 便内分割区分 =	@TB_BINKB
		--		IF @@ERROR <> 0 BEGIN SELECT @ERR = 4 GOTO PROC_ERROR END
		--		SELECT @TX_OTCNT = @TX_OTCNT + 1
		--		SELECT @TX_B_PUTFLG = 1
		--	   END
		--   END
		--ELSE
		--   BEGIN
		--	SELECT @TB_NSU = CONVERT(INT,SUBSTRING(@TX_REC1,77,6)) 	--納入数
		--	---SELECT @TB_NSU = @TB_KMAI * @TB_SYUYO --納入数(かんばん枚数×収容数)
		--   END
		--IF @TX_B_PUTFLG = 0
		--   BEGIN
			IF (SELECT Count(品番) From テキスト変換テーブル
				Where 処理日   = @PROCYMD
				  And 処理回数  = @PROCRNO
				  And 処理区分 = @TX_TYPE
				  And ファイル名 = @FILENAME
				  And 納入先   = @TA_NTORCD
				  And 受入      = @TA_UKEIR
				  And 納入番号 = @TA_NOUNO
				  And 行連番   = @TB_NOGYO	-- < 2006/06/14 ADD >
				  And 納入日    = @TA_NYMD
				  And 納入便    = @TA_NBIN
				  And 品番       = @TB_HINBN
			          And 便内分割区分 =	@TB_BINKB ) = 0
			   BEGIN

				IF @KEY_NTORCD   <> @TA_NTORCD OR @KEY_UKEIR  <> @TA_UKEIR
				  OR @KEY_NOUNO <> @TA_NOUNO OR @KEY_NYMD   <> @TA_NYMD
				  OR @KEY_NBIN     <> @TA_NBIN
				    BEGIN
					-- -----------------
					--  受注管理NO 採番 
					-- -----------------
					EXEC 番号獲得  11,  @JNO OUTPUT, @WRTN OUTPUT
					IF @WRTN <> 0 	BEGIN	SELECT @ERR = 99 GOTO PROC_ERROR END
					SELECT @JGNO = 0
				    END

				SELECT @JGNO = @JGNO + 1

				INSERT INTO テキスト変換テーブル
					(処理日,処理回数, 処理区分,ファイル名,納入先, 受入, 納入番号, 納入日, 納入便,
					 品番,便内分割区分,退避連番,受注管理番号,受注管理行番号,出荷指示書NO,出荷指示書行NO,受注日,受注便,背番号,収容数,
					 かんばん枚数,納入数,打切端数,打切区分,打切残数,出荷数,挽回日,挽回便,
					 ERR重複,ERR収容数,ERR背番号,ERR受注,品番仮,品取仮,取引先仮,受入仮,
					 納入先名,品名, 作成日,作成端末, 行連番,
					納入先事業体,納入先事業体工区,仕入先事業体,出荷場 )					-- 2008/07/18ADD
				VALUES
					(@PROCYMD,@PROCRNO,@TX_TYPE,@FILENAME,@TA_NTORCD,@TA_UKEIR,@TA_NOUNO,@TA_NYMD,@TA_NBIN,
					 @TB_HINBN,@TB_BINKB,@PROCCNT,@JNO,@JGNO,0,0,@TA_JYMD,@TA_JBIN,@TB_SEBAN,@TB_SYUYO,
					 @TB_KMAI,@TB_NSU,@TB_HASU,@TB_UKB,@TB_UZAN,0,'','',
					 0,0,0,0,0,0,0,0,
					@TA_NTORNM,@TB_HINNM,
					 Getdate(),Substring(Host_Name(),1,20), @TB_NOGYO,
					 @TA_NJIGYO,@TA_NJIGYOKJ,@TA_SJIGYO,@TA_SYUKABA)				-- 2008/07/18ADD
				IF @@ERROR <> 0 BEGIN SELECT @ERR = 2 GOTO PROC_ERROR END
				SELECT @TX_OTCNT = @TX_OTCNT + 1

			------   2006.04.14 Insert
			--	IF (SELECT Count(品番) From 受注TOPPSテーブル
			--		Where 受注管理NO   = @JNO
			--		  And 受注管理行NO = @JGNO ) <> 0
			--	   BEGIN
			--		Update 受注TOPPSテーブル Set
			--			カード = @TA_CARD
			--			Where 受注管理NO   = @JNO
			--		  	  And 受注管理行NO = @JGNO 
			--		IF @@ERROR <> 0 BEGIN SELECT @ERR = 13 GOTO PROC_ERROR END
			--	   END 
			--	ELSE
			--	   BEGIN			 	
			--		INSERT INTO 受注TOPPSテーブル	
			--			( 受注管理NO,受注管理行NO,カード,
			--			  納入先, 受入, 納入番号, 納入日, 納入便,
			--			  品番,便内分割区分,
		 --				  作成日,作成端末)
			--			VALUES
			--			( @JNO,@JGNO,@TA_CARD,
			--			  @TA_NTORCD,@TA_UKEIR,@TA_NOUNO,@TA_NYMD,@TA_NBIN,
			--			  @TB_HINBN,@TB_BINKB,	
			--			  Getdate(),Substring(Host_Name(),1,20) )
			--		IF @@ERROR <> 0 BEGIN SELECT @ERR = 14 GOTO PROC_ERROR END
			--	   END
			--    END
--		   END

			 END
	SELECT @KEY_NTORCD = @TA_NTORCD, @KEY_UKEIR = @TA_UKEIR
	SELECT @KEY_NYMD   = @TA_NYMD  , @KEY_NBIN  = @TA_NBIN, @KEY_NOUNO = @TA_NOUNO
	

	--* 次ﾚｺｰﾄﾞ
	FETCH NEXT FROM TXCUR INTO @TX_REC1	-- 2009.09.16 upd : ,@TX_REC2,@TX_REC3
    END

--*  CLOSE & DEALLOCATE
CLOSE TXCUR
DEALLOCATE TXCUR


------------ TOPPS履歴更新
IF @RIREKI <> 0 
   BEGIN
	Update テキスト変換履歴テーブル
	   Set 入力件数 = 入力件数 + @TX_CNT
	 Where 履歴管理番号 = @RIREKI
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 4 GOTO PROC_ERROR END
   END

PROC_END:
--SELECT '入力件数' = @TX_CNT,'出力件数' = @TX_OTCNT,'対象外件数' = @TX_NOCNT
--* 正常終了 *--
RETURN(0)
PROC_ERROR:
--* 異常終了 *--
---TEST --------------------------------------------------
/*
IF @ERR <> 0 
   BEGIN
	 SELECT 'ERROR=',CONVERT(CHAR(2),@ERR)
   END	*/
------- --------------------------------------------------
--SELECT @ERR
SELECT @RTCD = @ERR
RETURN(@ERR)
--RETURN


/****** オブジェクト:  StoredProcedure [dbo].[テキスト受注出荷更新]    スクリプト日付: 02/22/2010 17:28:08 ******/
SET ANSI_NULLS ON

GO
