USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[番号獲得]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE         PROCEDURE [dbo].[番号獲得] (@NOKBN TINYINT,
    			     @NUMBER INT OUTPUT,
			     @RTN TINYINT OUTPUT) AS
--*-----------------------------------------------------------------------------------------*--
--* 各番号獲得・更新  
--*
--* CREATE Date  : 2001/05/23          
--* Update Date  :  2004/03/23
--* Update Date  :  2004/12/20
--* Update Date  :  2005/01/31	By CIS	区分(番号)
--*					16:TOPPS履歴管理NO
--*					16:買掛検収管理NO
--*            				が重複した為、18:TOPPS履歴管理NOに変更
--* Update Date  :  2007/12/21	19:受給検収管理NO
--* Update Date  :  2008/06/12	20:材料買掛検収管理NO
--* Update Date  :  2010/01/05	23:棚卸プレシート伝票NO
--* Update Date  :  2010/01/12	24:材料棚卸プレシート伝票NO
--*            
--* Parameter :  @NOKBN   ･･･  処理区分 1:材料管理番号,2:かんばん読取エラー管理番号
--*               :  @NUMBER  ･･･ 戻り値   ??番号
--*               :  @RTN     ･･･ 戻り値
--*            
--* 戻り値    : @NUMBER  ･･･ 9999999連番+99端末番号
--*    	      : @RTN     ･･･ 0:正常､0以外:異常
--*            
--*            
-- 使用例
--DECLARE @NUMBER INT
--DECLARE @RTN TINYINT

--EXEC 番号獲得 1,@NUMBER OUTPUT,@RTN OUTPUT
--SELECT @NUMBER
--*------------------------------------------------------------------------------------------*--
SET NOCOUNT ON
--T
--DECLARE @NOKBN TINYINT
--DECLARE @NUMBER INT
--DECLARE @RTN TINYINT
--SELECT @NOKBN = 0
--T 
DECLARE @ERR TINYINT
SELECT @ERR = 0
SELECT @RTN = 0
DECLARE @WSNO INT,@NO INT,@MAXNO INT,@SYMKBN VARCHAR(20)

SELECT @SYMKBN = CASE WHEN @NOKBN = 1 THEN '材料管理番号'
 		                 WHEN @NOKBN = 2 THEN 'かんばんエラー管理番号'	
 		                 WHEN @NOKBN = 3 THEN '発注管理NO'	
 		                 WHEN @NOKBN = 4 THEN '納品書管理NO'	
 		                 WHEN @NOKBN = 5 THEN '発注明細書NO'	
 		                 WHEN @NOKBN = 6 THEN '実績管理NO'	
 		                 WHEN @NOKBN = 7 THEN '材料発注管理NO'	
 		                 WHEN @NOKBN = 8 THEN '材料納品書管理NO'	
 		                 WHEN @NOKBN = 9 THEN '材料発注明細書NO'	
 		                 WHEN @NOKBN = 10 THEN '材料実績管理NO'	
 		                 WHEN @NOKBN = 11 THEN '受注管理NO'	
 		                 WHEN @NOKBN = 12 THEN '出荷指示書NO'	
 		                 WHEN @NOKBN = 13 THEN '検収管理NO'	
 		                 WHEN @NOKBN = 14 THEN '受注納品書管理NO'	
 		                 WHEN @NOKBN = 15 THEN 'エラー管理NO'	
 		                 WHEN @NOKBN = 16 THEN '買掛検収管理NO'	
 		                 WHEN @NOKBN = 17 THEN '生産指示書NO'	
 		                 WHEN @NOKBN = 18 THEN 'TOPPS履歴管理NO'	
 		                 WHEN @NOKBN = 19 THEN '受給検収管理NO'	
 		                 WHEN @NOKBN = 20 THEN '材料買掛検収管理NO'	
 		                 WHEN @NOKBN = 21 THEN '作業日報管理NO'
 		                 WHEN @NOKBN = 22 THEN '材料使用量管理NO'
 		                 WHEN @NOKBN = 23 THEN '棚卸プレシート伝票NO'
 		                 WHEN @NOKBN = 24 THEN '材料棚卸プレシート伝票NO'
        ELSE ''
   END
SELECT @NUMBER = 0,@RTN = 0
--* 名称マスタ より 各番号を獲得する  --*
SELECT @WSNO = 数字1,@NO = 数字2,@MAXNO = 数字3
	 FROM 名称マスタ
	 WHERE 区分名称 = @SYMKBN
	   AND 区分タイプ = ''
	   AND 値 = Host_Name()
IF @WSNO IS NULL
    BEGIN
 	EXEC 番号登録 @SYMKBN,@WSNO OUTPUT,@RTN OUTPUT
	IF @RTN <> 0 BEGIN SELECT @ERR = @RTN GOTO PROC_ERROR END
--* 名称マスタ より 各番号を獲得する  --*
	SELECT @WSNO = 数字1,@NO = 数字2,@MAXNO = 数字3
		 FROM 名称マスタ
		 WHERE 区分名称 = @SYMKBN
		   AND 区分タイプ = ''
		   AND 値 = Host_Name()
    END
-- 番号加算
IF @NO + 1 > @MAXNO BEGIN SELECT @NO = 0  END
SELECT @NO = @NO + 1
SELECT @NUMBER = @NO * 100 + @WSNO   -- 連番+端末番号
--* 名称マスタ を更新する  --*
UPDATE 名称マスタ SET
	 数字2 = @NO
	 WHERE 区分名称 = @SYMKBN
	   AND 区分タイプ = ''
	   AND 値 = Host_Name()
IF @@ERROR <> 0 BEGIN SELECT @ERR = 10 GOTO PROC_ERROR END

RETURN(0)
--* 異常終了 *--
PROC_ERROR:
--T
--IF @ERR <> 0 
--   BEGIN
--	SELECT 'ERR=' + CONVERT(CHAR(2),@ERR)
--   END
--SELECT @NUMBER
--T END
RETURN(@ERR)






GO
