USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[cFORMATX]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [dbo].[cFORMATX] @KETA	TINYINT, @VAL CHAR(15),@FTYPE TINYINT, @RESULT CHAR(20) OUTPUT AS
-- *------------------------------------------------------------------------------------------
-- *
-- *	FORMAT(0)
-- *
-- *	パラメータ	：	@KETA 	- 桁数
-- *				@VAL  	- 対象数値
-- *				@FTYPE 	- 0/前ｾﾞﾛ編集,1/前ｽﾍﾟｰｽ編集
-- *				@RESULT - 結果	( OUTPUT )
-- *
-- *	説明		：	文字データ(CHAR(15))を桁数に合わせて編集
-- *
-- *	結果		：	桁数 = 0 なら、NULL
-- *
-- *	使用例		：	
-- *		DECLARE @X	CHAR(15)
-- *
-- *		EXEC cFORMAT_C_ZERO 3,'10',0,@X OUTPUT
-- *
-- *------------------------------------------------------------------------------------------

IF @FTYPE = 0
   BEGIN
	SELECT @RESULT = RIGHT(REPLICATE('0',@KETA) + LTRIM(STR(CONVERT(INT,@VAL))),@KETA)
   END
ELSE
   BEGIN
	SELECT @RESULT = RIGHT(REPLICATE(' ',@KETA) + LTRIM(STR(CONVERT(INT,@VAL))),@KETA)
   END





GO
