USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[便算出発注テーブル]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE            PROCEDURE [dbo].[便算出発注テーブル](@TORCD VARCHAR(7),@CYCLE VARCHAR(5),@UKEIR VARCHAR(2),
			@RTN TINYINT OUTPUT,@NDATE VARCHAR(8) OUTPUT,@NBIN VARCHAR(2) OUTPUT,
			@HDATE VARCHAR(8) OUTPUT,@HBIN VARCHAR(2) OUTPUT,@HTIME VARCHAR(4) OUTPUT) AS

--*-------------------------------------------------------------------------------------*--
--*	昼夜勤・稼働日を考慮し､発注テーブルより納入日・便を求める		
--*
--*	@TORCD	= 仕入先
--*	@CYCLE	= サイクル
--*	@UKEIR	= 受入
--*
--*	戻り値	@RTN	= ﾘﾀｰﾝｺｰﾄﾞ
--*		@NDATE	= 納入日
--*		@NBIN		= 納入便
--*		@HDATE	= 発注日
--*		@HBIN		= 発注便
--*		@HTIME	= 発注時間
--*
--*
--*	作成日	 ：	2005/03/04
--*	変更日	 ：	2005/04/19 	発注テーブルの設定方法に関係なく、最終発注便＋１便
--*	変更日	 ：	2005/07/22 	曜日発注の機能追加
--*	変更日	 ：	2005/11/15 	システムオプション（稼働日カレンダー）の追加
--*					発注日算出は自社カレンダー、納入日算出は仕入先カレンダー
--*
--*-------------------------------------------------------------------------------------*--
--* TEST
/*
DECLARE @TORCD VARCHAR(5),@CYCLE VARCHAR(5),@UKEIR VARCHAR(2)
DECLARE @RTN TINYINT ,@NDATE VARCHAR(8) ,@NBIN VARCHAR(2)
DECLARE @HDATE VARCHAR(8),@HBIN VARCHAR(2),@HTIME VARCHAR(4) 

SELECT @TORCD = '0001A',@CYCLE = '10101',@UKEIR = '01'
*/
--* TEST END

DECLARE @ENDHYMD	VARCHAR(08)		--発注サイクルマスタ　最終発注日
DECLARE @ENDHBIN		VARCHAR(02)		--発注サイクルマスタ　最終発注便
DECLARE @ENDHKAI		TINYINT		--発注サイクルマスタ　最終発注回

DECLARE @BINIDX		SMALLINT
DECLARE @WDATE		DATETIME
DECLARE @WBIN		SMALLINT
DECLARE @WBINX		VARCHAR(02)
DECLARE @WENDBIN		SMALLINT
DECLARE @SYM		VARCHAR(06)		-- 年月退避
DECLARE @DAYKB		VARCHAR(31)		-- 昼勤稼動区分
DECLARE @NIGHTKB		VARCHAR(31)		-- 夜勤稼動区分
DECLARE @DAYNIGHT	TINYINT		-- 昼夜勤区分

DECLARE @KASANBIN	SMALLINT

DECLARE @YOUBIHC	TINYINT		-- 曜日発注区分
DECLARE @YOUBI1		TINYINT		-- 月曜日発注区分
DECLARE @YOUBI2		TINYINT		-- 火曜日発注区分
DECLARE @YOUBI3		TINYINT		-- 水曜日発注区分
DECLARE @YOUBI4		TINYINT		-- 木曜日発注区分
DECLARE @YOUBI5		TINYINT		-- 金曜日発注区分

DECLARE @SYSCLKB	TINYINT		-- システムオプション　稼働日カレンダー

SET NOCOUNT ON
-- 初期クリア
SELECT @RTN = 0,@NDATE = '',@NBIN = '',@HDATE = '',@HBIN = '',@HTIME = ''

-- システムオプション　稼働日カレンダー(自社・仕入先）					( 2005/11/15追加 )
SELECT @SYSCLKB = 0
SELECT @SYSCLKB = CONVERT(TINYINT,SUBSTRING(oyian,1,1)) FROM irnaksic
WHERE bk = 'Option'
    AND rno = 33

--(( 発注ｻｲｸﾙﾏｽﾀより最終発注日・便を求める ))
SELECT @ENDHYMD = '',@ENDHBIN = '',@ENDHKAI = 0
SELECT @ENDHYMD = HC.最終発注日,@ENDHBIN = HC.最終発注便,@ENDHKAI = HC.最終便,
	@YOUBIHC = ISNULL(TU.曜日発注,0),@YOUBI1 = ISNULL(TU.曜日1,0),@YOUBI2 = ISNULL(TU.曜日2,0),
	@YOUBI3 = ISNULL(TU.曜日3,0),@YOUBI4 = ISNULL(TU.曜日4,0),@YOUBI5 = ISNULL(TU.曜日5,0)
 FROM 発注サイクルマスタ HC
LEFT OUTER JOIN 取引先受入マスタ TU
	ON TU.取引先ＣＤ = HC.仕入先
	AND TU.受入 = HC.受入
	AND TU.取引先区分 = 1WHERE HC.仕入先 = @TORCD
  AND HC.サイクル = @CYCLE
  AND HC.受入  = @UKEIR
  AND HC.行識別 = 1
IF @ENDHKAI = 0 	BEGIN	SELECT @RTN = 2	GOTO PROC_END	END		--発注サイクルマスタ未登録


--(( 発注ｻｲｸﾙﾏｽﾀより最終発注日・便が無い場合、取引先マスタの発注開始日 ))
IF @ENDHYMD = ''
    BEGIN
	SELECT @ENDHYMD = 開始発注日 FROM 取引先マスタ
	WHERE 取引先CD = @TORCD AND 取引先区分 = 1
	IF @ENDHYMD = '' 
	    BEGIN
		SELECT @RTN = 100								--最終発注日なし
		GOTO PROC_END
	    END
	ELSE
	    BEGIN
		IF @ENDHYMD > CONVERT(VARCHAR(8),GETDATE(),112)
		    BEGIN
			SELECT @RTN = 101							--発注開始前
			GOTO PROC_END
		    END
		SELECT @ENDHBIN = '01' 
	    END
    END 

--(( 当月カレンダ読込み ))
SELECT @SYM = CONVERT(VARCHAR(6),@WDATE,112) 
SELECT @DAYKB = '',@NIGHTKB = ''
SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
WHERE 取引先区分 = 1
  AND 取引先 = ''
  AND 年 = SUBSTRING(@ENDHYMD,1,4)
  AND 月 = SUBSTRING(@ENDHYMD,5,2)
  AND 受入 = ''
IF @DAYKB = ''  	BEGIN SELECT @RTN = 1 	GOTO PROC_ERROR 	END		--カレンダーマスタ未登録
--*----------------------------------------------------------------------------------------*--
--*	通常発注と曜日発注の分岐
--*----------------------------------------------------------------------------------------*--
IF @YOUBIHC <> 0 	BEGIN 	GOTO PROC_YOUBIHC 	END
--*========================================================================================*--
--*	【通常発注】
--*========================================================================================*--
/*-----------------------------------------------------------------------------------------*/
/*    《通常発注》発注日・便を求める	（最終発注便　+　１便）								*/
/*-----------------------------------------------------------------------------------------*/
SELECT @BINIDX = 0
SELECT @WDATE = CONVERT(DATETIME,@ENDHYMD,112)
SELECT @WBIN = CONVERT(SMALLINT,@ENDHBIN)
SELECT @SYM = SUBSTRING(@ENDHYMD,1,6)
SELECT @WENDBIN = 99
/* IF @WBIN <= @ENDHKAI 	BEGIN 	SELECT @WENDBIN = @ENDHKAI 	END		2005.04.19DEL   */
SELECT @WENDBIN = CONVERT(SMALLINT,SUBSTRING(@CYCLE,2,2))
SELECT @KASANBIN = CONVERT(SMALLINT,SUBSTRING(@CYCLE,1,1))
WHILE ( @BINIDX < @KASANBIN ) 
	BEGIN
	--(( 便の加算 ))
		SELECT @WBIN = @WBIN + 1
		IF @WBIN > @WENDBIN
		    BEGIN
			SELECT @WDATE = DATEADD(dd,1,@WDATE)
			IF @SYM <> CONVERT(VARCHAR(6),@WDATE,112) 
			    BEGIN	-- (( 年月が変わった時、ｶﾚﾝﾀﾞｰﾏｽﾀ読込み ))
				SELECT @SYM = CONVERT(VARCHAR(6),@WDATE,112) 
				SELECT @DAYKB = ''
				SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
				WHERE 取引先区分 = 1
				  AND 取引先 = ''
				  AND 年 = SUBSTRING(@SYM,1,4)
				  AND 月 = SUBSTRING(@SYM,5,2)
				  AND 受入 = ''
				IF @DAYKB = ''  	BEGIN SELECT @RTN = 1 	GOTO PROC_ERROR 	END
			    END
/*			SELECT @WENDBIN = 99				2005.04.19DEL  */
		    END
		IF @WBIN > CONVERT(SMALLINT,SUBSTRING(@CYCLE,2,2)) 
		    BEGIN
			SELECT @WBIN = 1
/*			SELECT @WENDBIN = @ENDHKAI			2005.04.19DEL  */
		    END
		SELECT @WBINX = '' 
		IF @WBIN < 10
			BEGIN	SELECT @WBINX = '0' + CONVERT(VARCHAR(1),@WBIN)	END		ELSE
			BEGIN	SELECT @WBINX = CONVERT(VARCHAR(2),@WBIN)	END

--(( 発注ｻｲｸﾙﾏｽﾀより昼勤便か夜勤便かを求める ))
		SET ROWCOUNT 1
		SELECT @DAYNIGHT = 昼夜区分,@HTIME = 発行時間
			 FROM 発注サイクルマスタ			WHERE 仕入先 = @TORCD
			  AND サイクル = @CYCLE
			  AND 受入  = @UKEIR
			  AND 振出便  = @WBINX
			  AND 行識別 = 0 		IF @DAYNIGHT IS NULL 	BEGIN	SELECT @RTN = 2	GOTO PROC_END	END
		SET ROWCOUNT 0
		IF @DAYNIGHT = 0
		    BEGIN
			IF SUBSTRING(@DAYKB,DATEPART(dd,@WDATE),1) = '0'
			    BEGIN
				SELECT @BINIDX = @BINIDX + 1
			    END
		    END 
		ELSE
		    BEGIN
			IF SUBSTRING(@NIGHTKB,DATEPART(dd,@WDATE),1) = '0'
			    BEGIN
				SELECT @BINIDX = @BINIDX + 1
			    END
		    END
	END
SELECT @HDATE = CONVERT(VARCHAR(8),@WDATE,112)
SELECT @HBIN = @WBINX


/*-----------------------------------------------------------------------------------------*/
/*    《通常発注》納入日・便を求める	（発注日・便　+　サイクル（便）後）							*/
/*-----------------------------------------------------------------------------------------*/
SELECT @BINIDX = 0
SELECT @WDATE = CONVERT(DATETIME,@HDATE,112)
SELECT @WBIN = CONVERT(SMALLINT,@HBIN)
SELECT @SYM = SUBSTRING(@HDATE,1,6)
--(( 当月カレンダ読込み ))
IF @SYSCLKB = 1
    BEGIN
	SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
	WHERE 取引先区分 = 1
	  AND 取引先 = @TORCD
	  AND 年 = SUBSTRING(@SYM,1,4)
	  AND 月 = SUBSTRING(@SYM,5,2)
	  AND 受入 = ''
    END
SELECT @WENDBIN = 99
/* IF @WBIN <= @ENDHKAI 	BEGIN 	SELECT @WENDBIN = @ENDHKAI 	END      	2005.04.19DEL	*/
SELECT @WENDBIN = CONVERT(SMALLINT,SUBSTRING(@CYCLE,2,2))
SELECT @KASANBIN = CONVERT(SMALLINT,SUBSTRING(@CYCLE,1,1)) * CONVERT(SMALLINT,SUBSTRING(@CYCLE,4,2))
WHILE ( @BINIDX < @KASANBIN ) 
	BEGIN
	--(( 便の加算 ))
		SELECT @WBIN = @WBIN + 1
		IF @WBIN > @WENDBIN
		    BEGIN
			SELECT @WDATE = DATEADD(dd,1,@WDATE)
			IF @SYM <> CONVERT(VARCHAR(6),@WDATE,112) 
			    BEGIN	-- (( 年月が変わった時、ｶﾚﾝﾀﾞｰﾏｽﾀ読込み ))
				SELECT @SYM = CONVERT(VARCHAR(6),@WDATE,112) 
				SELECT @DAYKB = ''
				IF @SYSCLKB = 1
				    BEGIN
					SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
					WHERE 取引先区分 = 1
					  AND 取引先 = @TORCD
					  AND 年 = SUBSTRING(@SYM,1,4)
					  AND 月 = SUBSTRING(@SYM,5,2)
					  AND 受入 = ''
				    END
				IF @DAYKB = ''
				    BEGIN
					SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
					WHERE 取引先区分 = 1
					  AND 取引先 = ''
					  AND 年 = SUBSTRING(@SYM,1,4)
					  AND 月 = SUBSTRING(@SYM,5,2)
					  AND 受入 = ''
				    END
				IF @DAYKB = ''  	BEGIN SELECT @RTN = 1 	GOTO PROC_ERROR 	END
			    END
/*			SELECT @WENDBIN = 99				2005.04.19DEL	*/
		    END
		IF @WBIN > CONVERT(SMALLINT,SUBSTRING(@CYCLE,2,2)) 
		    BEGIN
			SELECT @WBIN = 1
/*			SELECT @WENDBIN = @ENDHKAI			2005.04.19DEL	*/
		    END
		SELECT @WBINX = '' 
		IF @WBIN < 10
			BEGIN	SELECT @WBINX = '0' + CONVERT(VARCHAR(1),@WBIN)	END		ELSE
			BEGIN	SELECT @WBINX = CONVERT(VARCHAR(2),@WBIN)	END

--(( 発注ｻｲｸﾙﾏｽﾀより昼勤便か夜勤便かを求める ))
		SET ROWCOUNT 1
		SELECT @DAYNIGHT = 昼夜区分
			 FROM 発注サイクルマスタ			WHERE 仕入先 = @TORCD
			  AND サイクル = @CYCLE
			  AND 受入  = @UKEIR
			  AND 振出便  = @WBINX
			  AND 行識別 = 0 		IF @DAYNIGHT IS NULL 	BEGIN	SELECT @RTN = 2	GOTO PROC_END	END
		SET ROWCOUNT 0
		IF @DAYNIGHT = 0
		    BEGIN
			IF SUBSTRING(@DAYKB,DATEPART(dd,@WDATE),1) = '0'
			    BEGIN
				SELECT @BINIDX = @BINIDX + 1
			    END
		    END 
		ELSE
		    BEGIN
			IF SUBSTRING(@NIGHTKB,DATEPART(dd,@WDATE),1) = '0'
			    BEGIN
				SELECT @BINIDX = @BINIDX + 1
			    END
		    END
	END
SELECT @NDATE = CONVERT(VARCHAR(8),@WDATE,112)
SELECT @NBIN = @WBINX
GOTO PROC_END

PROC_YOUBIHC:
--*============================================================================*--
--*
--*	【曜日発注】						2005/07/21機能追加
--*
--*============================================================================*--
/*-----------------------------------------------------------------------------*/
/*    《曜日発注》発注日を求める	（便　は　１便）								*/
/*-----------------------------------------------------------------------------*/
SELECT @BINIDX = 0
SELECT @WDATE = CONVERT(DATETIME,@ENDHYMD,112)
SELECT @WBIN = CONVERT(SMALLINT,@ENDHBIN)
SELECT @SYM = SUBSTRING(@ENDHYMD,1,6)
SELECT @HBIN = '01',@NBIN = '01'
IF @YOUBI1 <> 0 BEGIN SELECT @YOUBI1 = 2 	END
IF @YOUBI2 <> 0 BEGIN SELECT @YOUBI2 = 3 	END
IF @YOUBI3 <> 0 BEGIN SELECT @YOUBI3 = 4 	END
IF @YOUBI4 <> 0 BEGIN SELECT @YOUBI4 = 5 	END
IF @YOUBI5 <> 0 BEGIN SELECT @YOUBI5 = 6 	END

/*  発注日を求める		*/
WHILE ( @BINIDX < 1 ) 
	BEGIN
	--(( 日の加算 ))
		SELECT @WDATE = DATEADD(dd,1,@WDATE)
		SELECT @WBIN = DATEPART(WEEKDAY,@WDATE)
		IF @WBIN = @YOUBI1 OR @WBIN = @YOUBI2 OR @WBIN = @YOUBI3 OR @WBIN = @YOUBI4 OR @WBIN = @YOUBI5 
		    BEGIN
			IF @SYM <> CONVERT(VARCHAR(6),@WDATE,112) 
			    BEGIN	-- (( 年月が変わった時、ｶﾚﾝﾀﾞｰﾏｽﾀ読込み ))
				SELECT @SYM = CONVERT(VARCHAR(6),@WDATE,112) 
				SELECT @DAYKB = ''
				SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
				WHERE 取引先区分 = 1
				  AND 取引先 = ''
				  AND 年 = SUBSTRING(@SYM,1,4)
				  AND 月 = SUBSTRING(@SYM,5,2)
				  AND 受入 = ''
				IF @DAYKB = ''  	BEGIN SELECT @RTN = 1 	GOTO PROC_ERROR 	END
			    END
	--(( 発注ｻｲｸﾙﾏｽﾀより昼勤便か夜勤便かを求める ))
			SET ROWCOUNT 1
			SELECT @DAYNIGHT = 昼夜区分,@HTIME = 発行時間
				 FROM 発注サイクルマスタ				WHERE 仕入先 = @TORCD
				  AND サイクル = @CYCLE
				  AND 受入  = @UKEIR
				  AND 振出便  = 1
				  AND 行識別 = 0 			IF @DAYNIGHT IS NULL 	BEGIN	SELECT @RTN = 2	GOTO PROC_END	END
			SET ROWCOUNT 0
			IF @DAYNIGHT = 0
			    BEGIN
				IF SUBSTRING(@DAYKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @BINIDX = @BINIDX + 1
					SELECT @HDATE = CONVERT(VARCHAR(8),@WDATE,112)
				    END
			    END 
			ELSE
			    BEGIN
				IF SUBSTRING(@NIGHTKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @BINIDX = @BINIDX + 1
					SELECT @HDATE = CONVERT(VARCHAR(8),@WDATE,112)
				    END
			    END

		    END
	END

/*-----------------------------------------------------------------------------*/
/*    《曜日発注》納入日を求める	（便　は　１便）								*/
/*-----------------------------------------------------------------------------*/
SELECT @SYM = CONVERT(VARCHAR(6),@WDATE,112) 
IF @SYSCLKB = 1
    BEGIN
	SELECT @DAYKB = ''
	SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
	WHERE 取引先区分 = 1
	  AND 取引先 = @TORCD
	  AND 年 = SUBSTRING(@SYM,1,4)
	  AND 月 = SUBSTRING(@SYM,5,2)
	  AND 受入 = ''
    END
IF @DAYKB = ''
    BEGIN
	SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
	WHERE 取引先区分 = 1
	  AND 取引先 = ''
	  AND 年 = SUBSTRING(@SYM,1,4)
	  AND 月 = SUBSTRING(@SYM,5,2)
	  AND 受入 = ''
    END
/*  納入日を求める		*/
WHILE ( @BINIDX < 2 ) 
	BEGIN
	--(( 日の加算 ))
		SELECT @WDATE = DATEADD(dd,1,@WDATE)
		SELECT @WBIN = DATEPART(WEEKDAY,@WDATE)
		IF @WBIN = @YOUBI1 OR @WBIN = @YOUBI2 OR @WBIN = @YOUBI3 OR @WBIN = @YOUBI4 OR @WBIN = @YOUBI5 
		    BEGIN
			IF @SYM <> CONVERT(VARCHAR(6),@WDATE,112) 
			    BEGIN	-- (( 年月が変わった時、ｶﾚﾝﾀﾞｰﾏｽﾀ読込み ))
				SELECT @SYM = CONVERT(VARCHAR(6),@WDATE,112) 
				SELECT @DAYKB = ''
				IF @SYSCLKB = 1
				    BEGIN
					SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
					WHERE 取引先区分 = 1
					  AND 取引先 = @TORCD
					  AND 年 = SUBSTRING(@SYM,1,4)
					  AND 月 = SUBSTRING(@SYM,5,2)
					  AND 受入 = ''
				    END
				IF @DAYKB = ''
				    BEGIN
					SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
					WHERE 取引先区分 = 1
					  AND 取引先 = ''
					  AND 年 = SUBSTRING(@SYM,1,4)
					  AND 月 = SUBSTRING(@SYM,5,2)
					  AND 受入 = ''
				    END
				IF @DAYKB = ''  	BEGIN SELECT @RTN = 1 	GOTO PROC_ERROR 	END
			    END
	--(( 発注ｻｲｸﾙﾏｽﾀより昼勤便か夜勤便かを求める ))
			SET ROWCOUNT 1
			SELECT @DAYNIGHT = 昼夜区分,@HTIME = 発行時間
				 FROM 発注サイクルマスタ				WHERE 仕入先 = @TORCD
				  AND サイクル = @CYCLE
				  AND 受入  = @UKEIR
				  AND 振出便  = 1
				  AND 行識別 = 0 			IF @DAYNIGHT IS NULL 	BEGIN	SELECT @RTN = 2	GOTO PROC_END	END
			SET ROWCOUNT 0
			IF @DAYNIGHT = 0
			    BEGIN
				IF SUBSTRING(@DAYKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @BINIDX = @BINIDX + 1
					SELECT @NDATE = CONVERT(VARCHAR(8),@WDATE,112)
				    END
			    END 
			ELSE
			    BEGIN
				IF SUBSTRING(@NIGHTKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @BINIDX = @BINIDX + 1
					SELECT @NDATE = CONVERT(VARCHAR(8),@WDATE,112)
				    END
			    END

		    END
	END

PROC_END:
--SELECT '発注日' = @HDATE + '-' + @HBIN,'納入日' = @NDATE + '-' + @NBIN,'RETURN' = @RTN

RETURN(0)
--RETURN

PROC_ERROR:

--SELECT 'ERROR' = @RTN
RETURN



GO
