USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[発注納入番号採番]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[発注納入番号採番] (@NOUNO VARCHAR(5) OUTPUT,@ERTN TINYINT OUTPUT) AS
--*=============================================================================*--
--*	発注納入番号　採番
--*
--*	処理内容　：	名称マスタの'発注納入番号管理'より納入番号を採番する
--*
--*	    ﾊﾟﾗﾒﾀ　(OUTPUT) 　@NOUNO　…  納入番号(X999)の４桁
--*				  @ERTN    …　エラーコード
--*
--*	作成日　　：	2004/01/23
--*	更新日　　：	2005/04/01	空き納入番号のチェックをはずす
--*	更新日　　：
--*
--*=============================================================================*--
--DECLARE @NOUNO VARCHAR(5)
DECLARE @EIJI VARCHAR(30),@RENBAN INT,@MAXNO INT,@EIJINO INT
DECLARE @ERR TINYINT,@RESULT VARCHAR(20)
DECLARE @HCINV TINYINT

SET NOCOUNT ON
SELECT @NOUNO = '',@EIJI = '',@RENBAN = 0,@ERTN = 0
SELECT @HCINV = 0
--*----------------------------------------------------------------------------*--
--*	名称マスタ確認
--*----------------------------------------------------------------------------*--
SELECT @EIJI = 英数字1,@RENBAN = 数字1,@MAXNO = 数字2,@EIJINO = 数字3 FROM 名称マスタ
WHERE 区分名称 = '発注納入番号管理'
  AND 区分タイプ = ''
  AND 値 = '1'
IF @EIJI = ''
    BEGIN
	SELECT @EIJI = 'ABCDEFGHJKMNPQRSTUVWXYZ',@RENBAN = 0,@MAXNO = 999,@EIJINO = 1
	EXEC 名称マスタ作成 '発注納入番号管理','1','発注納入番号',1,
				@EIJI,'','',@RENBAN,@MAXNO,@EIJINO,'X',@ERR OUTPUT
    END 

--*----------------------------------------------------------------------------*--
--*	頭英字・連番　決定
--*----------------------------------------------------------------------------*--
WHILE @HCINV = 0
BEGIN
	SELECT @RENBAN = @RENBAN + 1
	IF @RENBAN > @MAXNO 
	    BEGIN
		SELECT @EIJINO = @EIJINO + 1
		IF RTRIM(SUBSTRING(@EIJI,@EIJINO,1)) = ''
		    BEGIN
			SELECT @EIJINO = 1
		    END
		SELECT @RENBAN = 1
	    END
	--* 納入番号　編集 *--
	SELECT @NOUNO = RTRIM(SUBSTRING(@EIJI,@EIJINO,1)) + RIGHT(REPLICATE('0',3)+LTRIM(STR(@RENBAN,3)),3)

--┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛< 2005.04.01 MNT START >
--
--	IF (SELECT COUNT(納入番号) FROM 発注テーブル WHERE 納入番号 = @NOUNO + '0') = 0
--	    BEGIN
--		SELECT @HCINV = 1
--	    END
--

	SELECT @HCINV = 1

--┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛< 2005.04.01 MNT  END  >

END

--* 名称マスタ　更新 *--
UPDATE 名称マスタ SET
    数字1 = @RENBAN,
    数字3 = @EIJINO
WHERE 区分名称 = '発注納入番号管理'
  AND 区分タイプ = ''
  AND 値 = '1'
IF @@ERROR <> 0 BEGIN 	SELECT @ERTN = 1 GOTO PROC_ERR END

IF @NOUNO = '' OR @RENBAN = 0  BEGIN SELECT @ERTN = 2 GOTO PROC_ERR END

PROC_END:
RETURN

PROC_ERR:
RETURN



GO
