USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[番号登録]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[番号登録](@NUMKBN VARCHAR(30),@KANRINO INT OUTPUT,@RTN TINYINT OUTPUT)AS
--*---------------------------------------------------------------------------------*--
--* ????番号を端末番号単位で区分名称マスタに登録する
--*
--* ﾊﾟﾗﾒﾀ : @NUMKBN ･･･ 名称マスタの ????番号管理
--*
--* 戻り値 : @KANRINO･･･ 端末管理番号
--*  : @RTN ･･･ 0:正常､0以外:異常
--*
--* Create Date : 2001/05/23
--* Update Date  :  2010/01/05	23:棚卸プレシート伝票NO用最大値変更
--* Update Date  :  2010/01/12	24:材料棚卸プレシート伝票NO用最大値変更
--*---------------------------------------------------------------------------------*--
SET NOCOUNT ON
--T
--DECLARE @NUMKBN VARCHAR(30)
--DECLARE @KANRINO INT
--DECLARE @RTN TINYINT
--SELECT @NUMKBN = '番号テスト'
--T 
DECLARE @MAXNO SMALLINT
DECLARE @ERR TINYINT
SELECT @RTN = 0
SELECT @KANRINO = 0
SELECT @MAXNO = 0
SELECT @ERR = 0
--* 名称マスタ存在チェック --*
SELECT @KANRINO = ISNULL(数字1,0) FROM 名称マスタ
	WHERE 区分名称 = 'クライアント管理'
	  AND 区分タイプ = ''
	  AND 値 = HOST_NAME()
IF @KANRINO = 0
    BEGIN
--* 名称マスタ存在チェック(管理レコード) --*
	IF ( SELECT COUNT(*) FROM 名称マスタ
			WHERE 区分名称 = 'クライアント管理'
			  AND 区分タイプ = 'K' ) = 0
	     BEGIN
		 INSERT INTO 名称マスタ 
		  (区分名称,区分タイプ,値,値名称,区分桁数,
		  英数字1,英数字2,英数字3,数字1,数字2,数字3,制御区分,作成日) VALUES
		  ('クライアント管理','K','','',20,
		  '','','',0,0,0,'X',GETDATE())
		 IF @@ERROR <> 0 BEGIN SELECT @ERR = 1 GOTO PROC_ERROR END
	     END					
--* クライアントの登録 *--
	 SELECT @MAXNO = MAX(数字1) FROM 名称マスタ
		 WHERE 区分名称 = 'クライアント管理'
		   AND 区分タイプ = ''
		 GROUP BY 区分名称
		 SELECT @KANRINO = @MAXNO + 1
		 INSERT INTO 名称マスタ 
		  (区分名称,区分タイプ,値,値名称,区分桁数,
		  英数字1,英数字2,英数字3,数字1,数字2,数字3,制御区分,作成日) VALUES
		  ('クライアント管理','',HOST_NAME(),HOST_NAME(),0,
		  '','','',@KANRINO,0,0,'X',GETDATE())
		 IF @@ERROR <> 0 BEGIN SELECT @ERR = 2 GOTO PROC_ERROR END
    END
--* ????番号管理の管理レコードを作成する *--
IF ( SELECT COUNT(*) FROM 名称マスタ
		 WHERE 区分名称 = @NUMKBN
		   AND 区分タイプ = 'K'  ) = 0
    BEGIN
	 INSERT INTO 名称マスタ 
		  (区分名称,区分タイプ,値,値名称,区分桁数,
		  英数字1,英数字2,英数字3,数字1,数字2,数字3,制御区分,作成日) VALUES
		  (@NUMKBN,'K','','',20,
		  '','','',0,0,0,'X',GETDATE() )
	 IF @@ERROR <> 0 BEGIN SELECT @ERR = 3 GOTO PROC_ERROR END
    END
--* ????番号管理に端末番号を登録する *--
IF ( SELECT COUNT(*) FROM 名称マスタ
  		WHERE 区分名称 = @NUMKBN
		  AND 区分タイプ = ''
	          AND 値 = HOST_NAME() ) = 0
    BEGIN 
		-- < 2010/01/05 MNT START >
		IF	@NUMKBN = '棚卸プレシート伝票NO' or @NUMKBN = '材料棚卸プレシート伝票NO'
			BEGIN
				INSERT INTO 名称マスタ 
				  (区分名称,区分タイプ,値,値名称,区分桁数,
				  英数字1,英数字2,英数字3,数字1,数字2,数字3,制御区分,作成日) VALUES
				  (@NUMKBN,'',HOST_NAME(),HOST_NAME(),0,
				  '','','',@KANRINO,0,9999,'X',GETDATE() )
				IF @@ERROR <> 0 BEGIN SELECT @ERR = 4 GOTO PROC_ERROR END
			END
		ELSE
			BEGIN
			 INSERT INTO 名称マスタ 
				  (区分名称,区分タイプ,値,値名称,区分桁数,
				  英数字1,英数字2,英数字3,数字1,数字2,数字3,制御区分,作成日) VALUES
				  (@NUMKBN,'',HOST_NAME(),HOST_NAME(),0,
				  '','','',@KANRINO,0,9999999,'X',GETDATE() )
			 IF @@ERROR <> 0 BEGIN SELECT @ERR = 4 GOTO PROC_ERROR END
			END
		-- < 2010/01/05 MNT  END  >
    END
RETURN(0)
--* 異常終了 *--
PROC_ERROR:
--T
--IF @ERR <> 0 
--   BEGIN
--	SELECT 'ERR=' + CONVERT(CHAR(2),@ERR)
--   END
--T END
RETURN(@ERR)



GO
