USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[発注かんばん処理]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE                PROCEDURE [dbo].[発注かんばん処理]	
					@PROC 	VARCHAR(1),
					@HKKB 	VARCHAR(1),	
					@KANKB	VARCHAR(1), 
					@HINBN	VARCHAR(25),
					@SEBAN	VARCHAR(8),
					@TORCD	VARCHAR(7),
					@UKEIR	VARCHAR(2),
					@CYCLE	VARCHAR(5), 
					@RENNO	SMALLINT,
					@SYUYO	INT,	              --  収容数			
					@FTIME	VARCHAR(4),           --  振出時間(処理区分='1'のみ)
					@GROUP	TINYINT,    	      --  処理グループ
					@OPTION	VARCHAR(1),           --  オプション設定
					@MIRYU	VARCHAR(1),           --  オプション設定(未流動管理)   2006/02/03 Insert
					@NYMD 	VARCHAR(8),           --  納入日 	指定で通常の時は、発注日を指定する
					@NBIN	VARCHAR(2),    	      --　納入便 	指定で通常の時は、発注便を指定する
					@POKET 	TINYINT	   OUTPUT,    --　指定ポケット№(OUTPUT) 
					@ERRNO 	TINYINT	   OUTPUT,    --　エラー番号(OUTPUT) 
					@ERRCNT INT	   OUTPUT,    --　エラー出力件数
					@OUTCNT INT	   OUTPUT,     --　正常出力件数
					@HANSU 	TINYINT
 AS
-- ----------------------------------------------------------------------------------------------------*
-- 								
-- 		発注かんばん処理		
-- 								
--		Parameter :
--		  :	@PROC 	VARCHAR(1)   　･･･ 	処理区分 1:一括,2:指定
--		  :	@HKKB 	VARCHAR(1)   　･･･ 	発注区分 '1':通常,2:納期指定(特配),3:臨時(処理区分='2'のみ)
--		  : 	@KANKB	VARCHAR(1)     ･･･	かんばん区分   		
--		  : 	@HINBN	VARCHAR(25)    ･･･	品番			
--		  : 	@SEBAN	VARCHAR(5)     ･･･	背番号 				
--		  : 	@TORCD	VARCHAR(7)     ･･･	仕入先 				
--		  : 	@UKEIR	VARCHAR(2)     ･･･	受入 				
--		  : 	@CYCLE	VARCHAR(5)     ･･･	サイクル
--		  : 	@RENNO	SMALLINT       ･･･	連番			
--		  : 	@SYUYO	INT	       ･･･	収容数			
--		  : 	@FTIME	VARCHAR(4)     ･･･	振出時間(処理区分='1'のみ)
--		  :	@GROUP	TINYINT        ･･･	処理グループ(処理区分='1'のみ)
--		  : 	@OPTION	VARCHAR(1)     ･･･	オプション設定
--								平準化超過の扱い _/発注なし,1/発注あり
--		  :     @MIRYU 	VARCHAR(1)     ･･･	未流動管理	2006/02/03 Insert
--				
--		  :     @NYMD 	VARCHAR(8)	・・・　納入日(I-O) 	指定で通常の時は、発注日を指定する
--		  :     @NBIN	VARCHAR(2)	・・・　納入便(I-O) 	指定で通常の時は、発注便を指定する
--		  :     @POKET 	TINYINT	  	・・・　指定ポケット№(OUTPUT) 
--		  :     @ERRNO 	TINYINT	  	・・・　エラー番号(OUTPUT) 
--		  :     @ERRCNT INT		・・・　エラー出力件数
--		  :     @OUTCNT INT		・・・　正常出力件数
--		  :     @HANSU 	TINYINT	   	・・・　版数
--
--		   @ERRNO
--			発注なし：かんばん読取エラーリスト
--				1 ：対象外かんばん（かんばん区分）
--				2 ：品番取引先未登録
--				3 ：発注サイクルマスタ未登録
--				4 ：かんばん流動管理テーブル未登録
--				5 ：かんばん重複読取
--				6 ：カレンダマスタ未登録			(< 2005.02.24 ADD >)
--				9 ：版数異常					(< 2006.12.20 ADD >)
--				10：収容数相違
--				11：背番号相違
--				15：無効かんばん
--				16：未流動かんばん(未使用)
--				17：滞留かんばん
--				18：打切済
--				19：有効期限範囲外
--				20：サイクルエラー
--				21：減かんばん
--				25：かんばん色違い <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 2007/03/30 ADD
--				30：最終発注日・開始発注日なし
--				31：開始発注日以前
--				32：サイクル違い
--				33：手配区分相違			
--				35：発注テーブル設定の時、最終発注日・便以前	<< 2005.03.10 ADD >>
--				45：グループ外
--			発注なし：平準化エラーリスト
--				40：平準化エラー（日）
--				41：平準化エラー（便）
--				42：平準化エラー（月）
--			発注あり：平準化エラーリスト
--				0：平準化エラー（日）	平準化リスト出力フラグ(＠HEIFLG = 1)
--				0：平準化エラー（便）	平準化リスト出力フラグ(＠HEIFLG = 2)
--				0：平準化エラー（月）	平準化リスト出力フラグ(＠HEIFLG = 3) 初回のみ

--			発注あり
--				51：打切完了 or 打切端数
--				52：打切警告
--
-- 		RETURN   :     0 … ＯＫ	≠ 0 … ＮＧ

-- 			CREATE DATE	:	2004/01/19
-- 			UPDATE DATE	:	2004/05/13  便算出方法変更（サイクル(日)が２以上）
--									品番取引先マスタの最終発注日の更新
-- 			UPDATE DATE	:	2004/05/31  エラー内容(32：サイクル違い)追加
-- 			UPDATE DATE	:	2004/11/26  エラー内容(33：手配区分相違)追加
--			変更日			：	2005/01/17  便算出の日付またぎの不具合修正
--									振出時間を読取時に取得（変更前はPG起動時取得）
-- 			UPDATE DATE	:	2005/02/24  便算出時、カレンダ無しエラーが
--								『EXECUTE後のトランザクション数は、COMMIT TRANまたは･･･』となるのを
--								カレンダ未登録エラーに変更( ERROR No = 6 )
-- 			UPDATE DATE	:	2005/03/04  発注テーブルによる納入日算出方法の追加
-- 			UPDATE DATE	:	2005/05/26  かんばん増減対象の発行区分(有効/未流動、無効、滞留)変更
-- 			UPDATE DATE	:	2005/06/18  かんばん流動履歴テーブル　出力　追加(発注区分が臨時以外)
-- 			UPDATE DATE	:	2006/02/03  未流動管理　処理の追加	
-- 			UPDATE DATE	:	2006/12/20  版数のチェック、かんばん流動管理テーブルの版数と違う場合はエラー
--			UPDATE DATE	:	2007/03/30  かんばんの色チェック追加
--			UPDATE DATE	:	2007/04/04  サイクルチェックしない(品取のサイクルで行う)[かんばん差替えしないので]
-- 													
-- 			UPDATE DATE	:	2007/09/21  かんばんポケットテーブル読み取り異常修正
-- 			UPDATE DATE	:	2008/10/20  手配区分チェック無・・・千代田工業ｶｽﾀﾏｲｽﾞ
-- 													
-- ----------------------------------------------------------------------------------------------------
SET NOCOUNT ON
--TEST----------------------------------------------------------------
/*
DECLARE @PROC     VARCHAR(1)
DECLARE @HKKB 	VARCHAR(1)
DECLARE @KANKB	VARCHAR(1)
DECLARE @HINBN	VARCHAR(25)
DECLARE @SEBAN	VARCHAR(8)
DECLARE @TORCD	VARCHAR(7)
DECLARE @UKEIR	VARCHAR(2)
DECLARE @CYCLE	VARCHAR(5)
DECLARE @RENNO	SMALLINT
DECLARE @SYUYO	INT	  
DECLARE @NYMD     VARCHAR(8)
DECLARE @NBIN       VARCHAR(8)
DECLARE @POKET 	TINYINT
DECLARE @ERRNO   TINYINT
DECLARE @FTIME	VARCHAR(4)
DECLARE @GROUP	TINYINT
DECLARE @OPTION  VARCHAR(1)
DECLARE @OPTION  VARCHAR(1)
DECLARE @ERRCNT INT
DECLARE @OUTCNT INT
DECLARE @MIRYU  VARCHAR(1)	-- 2006/02/03 Insert
DECLARE @HANSU  TINYINT	-- 2006/12/20 Insert

SELECT @PROC = '1'
SELECT @HKKB = ''
SELECT @KANKB = '0'
SELECT @HINBN = '112118830100'
SELECT @SEBAN = '001'
SELECT @TORCD = '87001'
SELECT @UKEIR = '01'
SELECT @CYCLE = '10201'
SELECT @RENNO = 4
SELECT @SYUYO = 28
SELECT @FTIME = '1200'
SELECT @GROUP = 1
SELECT @NYMD = '20040122'
SELECT @NBIN = '01'
SELECT @OPTION = ''
SELECT @MIRYU = ''		-- 2006/02/03 Insert
SELECT @HANSU = 1

DELETE かんばん重複チェックテーブル
DELETE 帳票出力テーブル where 端末番号 = Host_Name()
DELETE  かんばん読取エラーテーブル where エラー種類 IN (1,2,3,4)
DELETE 発注かんばん枚数累積テーブル where 処理端末 = Host_Name()
*/
--TEST----------------------------------------------------------------

-- 退避エリア
DECLARE @ERR  TINYINT
DECLARE @RTN  TINYINT
DECLARE @W_SYUYO1 INT
DECLARE @W_SYUYO2 INT
DECLARE @W_SEBAN  VARCHAR(8)
DECLARE @W_YSYMD VARCHAR(8)
DECLARE @W_YEYMD VARCHAR(8)
DECLARE @W_KYMD  VARCHAR(8)
DECLARE @W_KBIN    VARCHAR(2)	
DECLARE @W_HKKB  TINYINT			-- かんばん流動区分
DECLARE @W_NYMD  VARCHAR(8)			-- 納入日算出用
DECLARE @W_NBIN   VARCHAR(2)		-- 納入日算出用便
DECLARE @W_SBIN	VARCHAR(2)
DECLARE @W_SKKB 	TINYINT			-- SK区分
DECLARE @W_CYCLE 	VARCHAR(5)		-- サイクル
DECLARE @W_ENDHYMD 	VARCHAR(8)		-- 最終発注日
DECLARE @W_KANKB VARCHAR(1)			-- かんばん区分(2004/11/26)
DECLARE @GYOKB 	TINYINT
DECLARE @HDATE 	VARCHAR(8) 
DECLARE @HTIME 	VARCHAR(4)
DECLARE @PDATE 	VARCHAR(8) 
DECLARE @PTIME 	VARCHAR(4)
DECLARE @HYMD	VARCHAR(8)			-- 発注日
DECLARE @HBIN	VARCHAR(2)			-- 発注便

DECLARE @COLORNO TINYINT			-- かんばん色NO(2007/03/30 ADD)

DECLARE @ERKNO	INT					-- エラー管理番号
DECLARE @CHONO	INT					-- 帳票区分
DECLARE @HNPOKET TINYINT			-- 品番ポケット指定
-- 打切りチェック用
DECLARE @RESULT VARCHAR(1)
DECLARE @UKBN 	TINYINT,@UZANSU INT,@UYMD VARCHAR(8),@KEIKB TINYINT
DECLARE @KIYMD	VARCHAR(8)			-- 起算日
DECLARE @KIBIN	VARCHAR(2)			-- 起算便
DECLARE @SETSU	INT					-- 設定数	
DECLARE @KNYMD	VARCHAR(8)			-- 完了日
DECLARE @KNBIN	VARCHAR(2)			-- 完了便
DECLARE @EDYMD	VARCHAR(8)			-- 打切日
DECLARE @KEISU	INT					-- 警告数	
DECLARE @KEYMD	VARCHAR(8)			-- 警告日
DECLARE @UCHIFLG	TINYINT			-- 打切情報出力フラグ
DECLARE @UHASU	INT					-- 打切端数
DECLARE @HSU	INT					-- 発注済数
DECLARE @UKB	TINYINT				-- 打切区分
-- 平準化チェック用
DECLARE @HEIFLG	TINYINT				-- 平準化リスト出力フラグ
DECLARE @HEIKB	TINYINT				-- 平準化区分	
DECLARE @HEIYMD	VARCHAR(8)			-- 平準化開始日
DECLARE @HEIHI	INT					-- 日上限枚数
DECLARE @HEIBIN	INT					-- 便上限枚数
DECLARE @HEIYY	INT					-- 月上限枚数
DECLARE @HEISU	INT					-- 平準化確認枚数
DECLARE @HEIMAX    INT				-- 上限枚数
DECLARE @HEICYMD	VARCHAR(8)		-- 月超過日
DECLARE @HEICBIN	VARCHAR(2)		-- 月超過便
DECLARE @HEIYEND  TINYINT			-- 月完了区分
-- 増減チェック用
DECLARE @ZOUGEN TINYINT				-- 増減区分
DECLARE @ZGSU	INT					-- 累積枚数
DECLARE @ZGSSU	INT					-- 設定枚数
DECLARE @ZGYMD   VARCHAR(8)			-- 開始日
DECLARE @ZGBSU	INT					-- 便当枚数
DECLARE @ZGFLG	TINYINT				-- かんばん増減更新フラグ
DECLARE @ZGBSUR	INT					-- 便枚数

DECLARE @SYSOPTION TINYINT			-- システム設定（納入日算出方法） 2005.03.04追加
DECLARE @WEHYMD VARCHAR(8)
DECLARE @WEHBIN VARCHAR(3)

DECLARE @W_SYUKB TINYINT			-- 収容区分（かんばん流動管理テーブル)    ------------------------- 2005/06/18 Insert
DECLARE @W_HANSU TINYINT			-- 版数（かんばん流動管理テーブル)    ----------------------------- 2006/12/20 Insert



-- 初期値設定
SELECT @ERR = 0
SELECT @POKET = 0
SELECT @ERRNO = 0
SELECT @W_NYMD =''
SELECT @W_NBIN = ''
SELECT @W_CYCLE = ''
SELECT @ERKNO = 0
SELECT @CHONO = 0
SELECT @HYMD = @NYMD
SELECT @HBIN = @NBIN
SELECT @PDATE = ''
SELECT @PTIME = ''
SELECT @HNPOKET = 0
SELECT @ERRCNT = 0
SELECT @OUTCNT = 0

-- 平準化情報初期化
SELECT @HEIFLG = 0
SELECT @HEIKB = 0
SELECT @HEIYMD = ''
SELECT @HEIHI = 0
SELECT @HEIBIN = 0
SELECT @HEIYY = 0
SELECT @HEIMAX = 0
SELECT @HEISU = 0
SELECT @HEICYMD = ''
SELECT @HEICBIN = ''
SELECT @HEIYEND = 0
-- 増減情報初期化
SELECT @ZOUGEN = 0
SELECT @ZGSU = 0
SELECT @ZGSSU = 0
SELECT @ZGYMD = Null
SELECT @ZGBSU = 0
SELECT @ZGFLG = 0
SELECT @ZGBSUR = 0

-- 打切情報初期化
SELECT @KIYMD = ''
SELECT @KIBIN = ''
SELECT @SETSU = 0
SELECT @KNYMD = ''
SELECT @KNBIN = ''
SELECT @EDYMD = ''
SELECT @KEISU = 0
SELECT @KEYMD = ''
SELECT @UKB = 0

SELECT @UCHIFLG = 0

-----------------------------
--<<　 トランザクション開始         >>--
-----------------------------
BEGIN TRANSACTION KNCRT

/* ( システム設定　納入日算出方法 )       2005/03/04 ADD 		*/
SELECT @SYSOPTION = CONVERT(TINYINT,SUBSTRING(oyian,1,1)) FROM irnaksic
WHERE bk = 'Option'
    AND rno = 14

--///////	かんばん区分チェック	( 購入･直送･受給　かんばんのみ）
--IF @KANKB <> '0' And  @KANKB <> '1' And  @KANKB <> '3'  
IF @KANKB NOT IN ('0','1','3' )
   BEGIN
	SELECT @POKET = 3
	SELECT @ERRNO = 1
	GOTO PROC_DB
   END
--////////////////////////////////
--//		マスタ入力チェック
--////////////////////////////////
SELECT @W_KANKB = ''
--//////    品番取引先マスタ
SELECT @W_SEBAN = 背番号,@W_SYUYO1 = 収容数1,@W_SYUYO2 = 収容数2,
	   @W_KYMD = 変更日,@W_KBIN = 変更便,@HNPOKET = Isnull(PNO,0),
	   @W_YSYMD = 有効期限開始,@W_YEYMD = 有効期限終了,
	   @W_SKKB = SK区分,@W_CYCLE = サイクル,
	  @W_KANKB = 手配区分
		From 品番取引先マスタ
		Where 品番 	 = @HINBN
		    And 取引先 = @TORCD
		    And 受入    = @UKEIR
IF @@ROWCOUNT = 0
   BEGIN
	SELECT @POKET = 3
	SELECT @ERRNO = 2
	GOTO PROC_DB
   END

-- *:::::::::::::::::::::::< 2007/04/04 ADD >
SELECT	@CYCLE = @W_CYCLE
-- *:::::::::::::::::::::::< 2007/04/04 ADD END　>

--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX 2007/03/30 INSERT START
--//////  色設定テーブル
--IF @GROUP <> 0
--   BEGIN
--	SELECT IST.GRP FROM 品番取引先マスタ HTM
--				   LEFT OUTER JOIN 色設定テーブル IST
--						ON IST.色パターン = HTM.色パターン
--	 WHERE HTM.品番   = @HINBN
--	   AND HTM.取引先 = @TORCD
--	   AND HTM.受入   = @UKEIR 
--	   AND IST.GRP = @GROUP
--	IF @@ROWCOUNT = 0
--	   BEGIN
-- 		SELECT @POKET = 10
--		SELECT @ERRNO = 25
--		GOTO PROC_DB
--	   END
--	SELECT @POKET = 0 
--   END
--XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX 2007/03/30 INSERT START

-- 千代田ｶｽﾏﾏｲｽﾞ 2008/10/20 手配区分ﾁｪｯｸ無 Start
SELECT @KANKB = @W_KANKB
-- 千代田ｶｽﾏﾏｲｽﾞ 2008/10/20 手配区分ﾁｪｯｸ無 End

--  かんばん区分チェック (2004/11/26)
IF @KANKB <> @W_KANKB
   BEGIN
	SELECT @POKET = 3
	SELECT @ERRNO = 33
	GOTO PROC_DB
   END
--///////	サイクルチェック	( 指定・通常のみ）
IF @PROC = '2'	 And @HKKB = '1'
   BEGIN
	IF SUBSTRING(@W_CYCLE,2,2) < @NBIN
           BEGIN
 		SELECT @POKET = 3
		SELECT @ERRNO = 20
		GOTO PROC_DB
 	   END 	
   END
IF @CYCLE <> @W_CYCLE
   BEGIN
	SELECT @POKET = 3
	SELECT @ERRNO = 32
	GOTO PROC_DB
   END

--//////  かんばんポケットテーブル
IF @GROUP <> 0
   BEGIN
	Select @POKET = ポケットNO From かんばんポケットテーブル
				Where グループ = @GROUP
				And 取引先 = @TORCD
				And 受入    = @UKEIR 
	IF @@ROWCOUNT = 0
	   BEGIN
		Select @POKET = ポケットNO From かんばんポケットテーブル
					Where グループ = @GROUP
					And 取引先 = @TORCD
					And 受入    = '' 
		IF @@ROWCOUNT = 0
		   BEGIN
	 		SELECT @POKET = 10
			SELECT @ERRNO = 45
			GOTO PROC_DB
		   END
	   END
	SELECT @POKET = 0 
	IF @HNPOKET <> 0
	   BEGIN
 		SELECT @POKET = @HNPOKET
	   END
   END
--//////  発注サイクルマスタ
IF @PROC = '1' 	
   BEGIN
	--*----------------------------------------------------------------------------------------------*--
	--*	2005.01.17 変更　（日付またぎの不具合修正）
	--*----------------------------------------------------------------------------------------------*--
	SELECT @FTIME = CONVERT(VARCHAR(2),GETDATE(),114) + SUBSTRING(CONVERT(VARCHAR(5),GETDATE(),114),4,2)
	--*----------------------------------------------------------------------------------------------*--
	--*	2005.03.04 変更　（発注テーブルによる納入日算出の追加）
	--*----------------------------------------------------------------------------------------------*--
	IF @SYSOPTION = 0 
	    BEGIN
		-- 振出便を求める
		Select @W_SBIN = 振出便,@GYOKB = 行識別,@W_ENDHYMD = 最終発注日
			 FROM 発注サイクルマスタ
			WHERE 仕入先 = @TORCD
	 		    AND サイクル = @CYCLE
			    AND (受入  = @UKEIR OR 受入 = '')
			    AND 振出開始 <= @FTIME
			    AND  振出終了 >  @FTIME
			ORDER BY 受入 DESC
		IF @@ROWCOUNT = 0
		   BEGIN
			SELECT @POKET = 3
			SELECT @ERRNO = 3
			GOTO PROC_DB
		   END
	
		SELECT @NYMD = Convert(VARCHAR(8),GetDate(),112)
	
		EXEC 便算出 '+' , @TORCD , @CYCLE , @UKEIR , @NYMD , @W_SBIN OUTPUT,@GYOKB,1,
				@RTN OUTPUT,@W_NYMD OUTPUT,@W_NBIN OUTPUT,
				@HDATE OUTPUT,@HTIME OUTPUT,
				@PDATE OUTPUT,@PTIME OUTPUT
	    END
	ELSE
	    BEGIN
		EXEC 便算出発注テーブル @TORCD , @CYCLE ,@UKEIR ,@RTN OUTPUT,
				@W_NYMD OUTPUT,@W_NBIN OUTPUT,
				@HDATE OUTPUT,@W_SBIN OUTPUT,@HTIME OUTPUT
		SELECT @PDATE = @HDATE,@PTIME = @HTIME
	    END

-- ====================================< 2005.02.24 ADD START >
	IF @RTN = 1 
	   BEGIN
		SELECT @POKET = 3
		SELECT @ERRNO = 6
		GOTO PROC_DB
	   END
-- ====================================< 2005.02.24 ADD  END  >

	IF @RTN = 2 
	   BEGIN
		SELECT @POKET = 3
		SELECT @ERRNO = 3
		GOTO PROC_DB
	   END
	IF @RTN = 100 			--開始発注日・最終発注日なし
	   BEGIN
		SELECT @POKET = 3
		SELECT @ERRNO = 30
		GOTO PROC_DB
	   END
	IF @RTN = 101 			--開始発注日以前
	   BEGIN
		SELECT @POKET = 3
		SELECT @ERRNO = 31
		GOTO PROC_DB
	   END
	IF @RTN <> 0
	   BEGIN
		SELECT @ERR = 2 
		GOTO PROC_ERROR
	   END
	SELECT @NYMD = @W_NYMD
	SELECT @NBIN = @W_NBIN
	SELECT @HYMD = @HDATE
	SELECT @HBIN = @W_SBIN
   END
ELSE
   BEGIN
	IF @HKKB = '1'		-- 指定・通常
	   BEGIN
		-- ====================================< 2005.03.10 ADD START >
		IF @SYSOPTION <> 0
		    BEGIN
			--発注テーブル設定の時、最終発注日・便以前の発注日は不可  2005/03/10追加
			SELECT @WEHYMD= '',@WEHBIN = ''
			SELECT @WEHYMD = 最終発注日,@WEHBIN = 最終発注便 FROM 発注サイクルマスタ
			WHERE 仕入先 = @TORCD
			     AND サイクル = @CYCLE
			     AND 受入 = @UKEIR
			     AND 行識別 = 1
			IF @WEHYMD + @WEHBIN > @HYMD + @HBIN
			    BEGIN
				SELECT @POKET = 3
				SELECT @ERRNO = 35
				GOTO PROC_DB
			    END
		    END
		-- ====================================< 2005.03.10 ADD END >

		EXEC 便算出 '+' , @TORCD , @CYCLE , @UKEIR ,  @HYMD , @HBIN OUTPUT,0,0,
				@RTN OUTPUT,@W_NYMD OUTPUT,@W_NBIN OUTPUT,
				@HDATE OUTPUT,@HTIME OUTPUT,
				@PDATE OUTPUT,@PTIME OUTPUT

-- ====================================< 2005.02.24 ADD START >
		IF @RTN = 1
		   BEGIN
			SELECT @POKET = 3
			SELECT @ERRNO = 6
			GOTO PROC_DB
		   END
-- ====================================< 2005.02.24 ADD  END  >

		IF @RTN = 2
		   BEGIN
			SELECT @POKET = 3
			SELECT @ERRNO = 3
			GOTO PROC_DB
		   END
		IF @RTN <> 0
		   BEGIN
			SELECT @ERR = 3 
			GOTO PROC_ERROR
		   END
		SELECT @NYMD = @W_NYMD
		SELECT @NBIN = @W_NBIN
	   END
	ELSE
	   BEGIN	-- 納入日･便指定時
		SELECT @HYMD = Convert(varchar(8),Getdate(),112)
		SELECT @HBIN = ''
	   END
   END
--////// かんばん重複チェック
IF EXISTS(Select 品番 From かんばん重複チェックテーブル
			Where 処理区分 = ''
			And 納入日 = @NYMD
			And 納入便 = @NBIN
			And 取引先 = @TORCD
			And 品番 	 = @HINBN
			And 背番号  = @SEBAN
			And 受入    = @UKEIR
			And 連番 = @RENNO )
   BEGIN
	SELECT @POKET = 2
	SELECT @ERRNO = 5
	GOTO PROC_DB
   END
--////////////////////////////////
--//		マスタ整合性チェック
--////////////////////////////////
--//////   品番取引先マスタ
-- 収容数チェック
IF @W_KYMD = '' 
   BEGIN
	IF @SYUYO <> @W_SYUYO1 
	      BEGIN
		SELECT @POKET = 3
		SELECT @ERRNO = 10
		GOTO PROC_DB
	      END  
   END
ELSE
   BEGIN
	IF @NYMD + @NBIN < @W_KYMD + @W_KBIN
	   BEGIN
	      	IF @SYUYO <> @W_SYUYO1 
	         	   BEGIN
			SELECT @POKET = 3
			SELECT @ERRNO = 10
			GOTO PROC_DB
	             END
	   END	
          ELSE
             BEGIN
		IF @SYUYO <> @W_SYUYO2 
		   BEGIN
			SELECT @POKET = 3
			SELECT @ERRNO = 10
			GOTO PROC_DB
	             END	
	   END
   END
-- 背番号チェック
IF @W_SEBAN <> @SEBAN
   BEGIN
	SELECT @POKET = 3
	SELECT @ERRNO = 11
	GOTO PROC_DB
   END
-- ////// 有効期限チェック
IF @W_YEYMD = '' BEGIN SELECT @W_YEYMD = '99999999' END

IF @NYMD < @W_YSYMD OR @NYMD > @W_YEYMD
   BEGIN
	SELECT @POKET = 3
	SELECT @ERRNO = 19
	GOTO PROC_DB
   END

--//////   かんばん流動管理テーブル
--SELECT @W_HKKB = 発行区分					-----------     2005/06/18 Delete
-----------------------------------------------------------------------     2005/06/18 Insert
-----------------------------------------------------------------------     2006/12/20 版数Insert
SELECT @W_HKKB = 発行区分,@W_SYUKB = 収容区分,@W_HANSU = 版数
-----------------------------------------------------------------------     2006/12/20 版数Insert End
-----------------------------------------------------------------------     2005/06/18 Insert End
		From かんばん流動管理テーブル 
		Where 取引先 = @TORCD
		    And 受入    = @UKEIR
		    And 品番 	 = @HINBN
		    And 発行NO = @RENNO
IF @@ROWCOUNT = 0
   BEGIN
	IF @HKKB <> '3' 	-- 臨時は対象外
	   BEGIN
		SELECT @POKET = 3
		SELECT @ERRNO = 4
		GOTO PROC_DB
	   END	
   END
-----------------------------------------------------------------------  2006/12/20 Insert
--(( 版数チェック ))
IF @HKKB <> '3' AND @W_HANSU <> 0 AND @W_HANSU <> @HANSU 	-- 臨時は対象外
   BEGIN
	SELECT @POKET = 3
	SELECT @ERRNO = 9
	GOTO PROC_DB
   END	
-----------------------------------------------------------------------  2006/12/20 End

-----------------------------------------------------------------------  2006/02/03 Insert
--  未流動かんばん　管理（オプション設定）
IF @W_HKKB = 0
   BEGIN
	-- 有効扱い
	IF @MIRYU <> '1'
	   BEGIN
		SELECT  @W_HKKB = 1
	   END
	ELSE
	-- 無効扱い
	   BEGIN
		SELECT 	@W_HKKB = 2
	   END
   END
-----------------------------------------------------------------------  2006/02/03 Insert End
--/////////////////////////////////////////
--//	かんばん増減チェック(臨時は対象外)
--/////////////////////////////////////////
IF @HKKB <> '3' 
   BEGIN
	SELECT @ZGYMD = 開始日,@ZOUGEN = 増減区分,
			        @ZGSU = 累積枚数,@ZGSSU = 設定枚数,
			        @ZGBSU = 便当枚数	
				 From かんばん増減テーブル
				Where 取引先 = @TORCD
				    And 受入    = @UKEIR 
				    And 品番 	 = @HINBN
				    And 設定内容区分 = 0
				    And 開始日 = (Select MAX(開始日) From かんばん増減テーブル
								Where 取引先 = @TORCD
								   And 受入    = @UKEIR 
								   And 品番 	 = @HINBN
								    And 設定内容区分 = 0
							              And 開始日 <= @NYMD
							              And (終了日 = ''
								       Or (終了日 <> '' AND  終了日 >=  @NYMD ))
								    And 完了日 = '' )
				    And 完了日 = ''
	IF @ZGYMD Is Not Null
	   BEGIN 
		SELECT @ZGSU = @ZGSU + 1		
--		IF @W_HKKB IN (2,3)			-- 無効かんばん・滞留かんばんの時増確認		    2005/05/26 変更
--		IF @W_HKKB IN (0,2,3)			-- 無効かんばん・滞留かんばんの時増確認(未流動含む) 2006/02/03 削除	
		IF @W_HKKB IN (2,3)			-- 無効かんばん・滞留かんばんの時増確認		    2006/02/03 復活
		   BEGIN
			IF @ZOUGEN = 1	-- 増
			    BEGIN
				IF @ZGSU <= @ZGSSU
				   BEGIN
					SELECT @ZGFLG = 1
				   END	
			    END
		   END
--		IF @ZOUGEN = 0 And @W_HKKB IN (0,1)		-- 減設定で有効かんばん・未流動かんばん時減確認    2005/05/26変更
		IF @ZOUGEN = 0 And @W_HKKB = 1			-- 減設定で有効かんばん時減確認
		   BEGIN
			IF @ZGBSU <> 0		-- 便当設定されている時
			   BEGIN
				SELECT @ZGBSUR = 0
				SELECT @ZGBSUR = ISNULL(増減枚数,0)
					 From かんばんチェックテーブル
					Where 納入日 = @NYMD
					    And 納入便 = @NBIN
					    And 取引先 = @TORCD
					    And 受入    = @UKEIR
					    And 品番 	 = @HINBN
				IF @ZGSSU >= @ZGSU
				   BEGIN
					IF @ZGBSUR < @ZGBSU
					   BEGIN
						SELECT @ZGFLG = 2
						SELECT @POKET = 4
						SELECT @ERRNO = 21
						GOTO PROC_DB
					   END	
				   END
			   END	
			ELSE
			   BEGIN
				IF @ZGSU <= @ZGSSU
				   BEGIN
					SELECT @ZGFLG = 3
					SELECT @POKET = 4
					SELECT @ERRNO = 21
					GOTO PROC_DB
				   END	
			   END
		   END
	   END
   END	

--//////   かんばん流動チェック
IF @HKKB <> '3' And @ZGFLG <> 1 	-- 発注区分が臨時で増かんばんはﾁｪｯｸ対象外
   BEGIN
	-- 無効かんばんはエラー
	IF @W_HKKB = 2 
	   BEGIN
		SELECT @POKET = 4
		SELECT @ERRNO = 15
		GOTO PROC_DB
	
	   END
	-- 滞留はエラー
	IF @W_HKKB = 3 
	   BEGIN
		SELECT @POKET = 4
		SELECT @ERRNO = 17
		GOTO PROC_DB
	   END
   END
--////////////////////////////////
--//		打切りチェック(確認)
--////////////////////////////////
EXEC 発注打切チェック @TORCD ,@HINBN ,@NYMD ,@NBIN ,@SYUYO,
			 @RESULT OUTPUT,@UKBN OUTPUT,@UZANSU OUTPUT,@UYMD OUTPUT,@KEIKB OUTPUT,@UHASU OUTPUT

-- 打切区分を求める
IF @RESULT <> '' 
   BEGIN
	SELECT @UKB = 9
   END
ELSE
   BEGIN
	IF @KEIKB = 1 
	   BEGIN
		SELECT @UKB = 1
	   END
   END
--////////////////////////////////
--//	平準化チェック(臨時は対象外)
--////////////////////////////////
IF @HKKB <> '3' 
   BEGIN
	SELECT @HEIKB = ISNULL(平準化区分,0),
		  @HEIBIN = ISNULL(便上限枚数,0),
		  @HEIHI = ISNULL(日上限枚数,0),
		  @HEIYY = ISNULL(月上限枚数,0),
		  @HEIYMD = ISNULL(開始日,'')
		 From かんばん平準化テーブル
		Where 取引先 = @TORCD
		    And 受入    = @UKEIR 
		    And 品番 	 = @HINBN
		    And 設定内容区分 = 0
		    And 開始日 = (Select MAX(開始日) From かんばん平準化テーブル
						Where 取引先 = @TORCD
						   And 受入    = @UKEIR 
						   And 品番 	 = @HINBN
						    And 設定内容区分 = 0
					              And 開始日 <= @NYMD
					              And (終了日 = '' 
						       Or (終了日 <> '' AND  終了日 >=  @NYMD )) )
   END
-- 日当り設定
IF @HEIKB = 1
   BEGIN 
	SELECT @HEIMAX = @HEIHI
	SELECT @HEISU = ISNULL(枚数,0)
		 From かんばんチェックテーブル
		Where 納入日 = @NYMD
		    And 納入便 = ''
		    And 取引先 = @TORCD
		    And 受入    = @UKEIR 
		    And 品番 	 = @HINBN
   END
-- 便当り設定
IF @HEIKB = 2
   BEGIN 
	SELECT @HEIMAX = @HEIBIN
	SELECT @HEISU = ISNULL(枚数,0)
		 From かんばんチェックテーブル
		Where 納入日 = @NYMD
		    And 納入便 = @NBIN
		    And 取引先 = @TORCD
		    And 受入    = @UKEIR 
		    And 品番 	 = @HINBN
   END
-- 月当り設定
IF @HEIKB = 3
   BEGIN 
	SELECT @HEIMAX = @HEIYY
	SELECT @HEISU = ISNULL(枚数,0),
		 @HEIYEND = ISNULL(月完了区分,0) 
		 From かんばんチェックテーブル
		 Where 納入日 = SUBSTRING(@NYMD,1,6) + '99'
		    And 取引先 = @TORCD
		    And 受入    = @UKEIR 
		    And 品番 	 = @HINBN
   END

IF @HEIKB IN (1, 2, 3)
   BEGIN
	IF @HEISU >= @HEIMAX
	    BEGIN
		IF @HEIKB = 1 
		   BEGIN
			SELECT @POKET = 8

			SELECT @ERRNO = 40
		   	GOTO PROC_DB
		   END
		IF @HEIKB = 2
		   BEGIN
			SELECT @POKET = 8
			SELECT @ERRNO = 41
		   	GOTO PROC_DB
		   END
		IF @HEIKB = 3
		   BEGIN
			IF SUBSTRING(@OPTION,1,1) = ''
			    BEGIN
				SELECT @POKET = 8
				SELECT @ERRNO = 42
			   	GOTO PROC_DB
			    END
			ELSE
			    BEGIN
				SELECT @HEICYMD = @NYMD
				SELECT @HEICBIN = @NBIN
				IF @HEIYEND = 0
				   BEGIN
					SELECT @HEIFLG = 3		-- 発注処理を行うがエラーリストの作成も行う
				   END
			    END		
		   END
	    END
   END
--////////////////////////////////
--//		打切りチェック(判定)
--////////////////////////////////
-- 打切り済
IF @RESULT = 'Z' 
   BEGIN
	SELECT @POKET = 3
	SELECT @ERRNO = 18
	GOTO PROC_DB
   END
-- 打切り
IF @RESULT = 'K'
   BEGIN
	SELECT @ERRNO = 51
	IF @UHASU = 0
	    BEGIN
		SELECT @POKET = 6
	    END
	ELSE	
	    BEGIN
		SELECT @POKET = 7
	    END
	GOTO PROC_DB
   END
-- 打切り警告
IF @KEIKB = 1
   BEGIN
	SELECT @ERRNO = 52
	GOTO PROC_DB
   END

PROC_DB:
--////////////////////////////////////////////
--//
--//	かんばん読取エラーテーブル　作成
--//

--////////////////////////////////////////////
-- 読取エラーがある時は、エラー管理番号を求める
IF @ERRNO <> 0 
   BEGIN
	SELECT @ERKNO = MAX(管理NO) From 帳票出力テーブル
				Where 端末番号 = Host_Name()
				    And 帳票区分 IN(1,2,3,4)
	IF @ERKNO IS NULL
	    BEGIN
		EXEC 番号獲得 2,@ERKNO OUTPUT,@RTN OUTPUT
		IF @ERKNO = 0 
		   BEGIN
			 SELECT @ERR = 10 
			 GOTO PROC_ERROR
		   END
	    END
   END
-- ERRNO が40未満はかんばんエラーリスト作成
SELECT @CHONO = 1
IF @ERRNO > 0  And @ERRNO < 40 or @ERRNO = 45
   BEGIN
	IF Not EXISTS(Select 品番 From かんばん読取エラーテーブル
				Where エラー管理番号 = @ERKNO
				   And エラー種類 = @CHONO
	  			   And 品番 	 = @HINBN
				   And 取引先 = @TORCD
				   And 受入    = @UKEIR 
				   And 発行NO = @RENNO
				   And 収容数 = @SYUYO )
	   BEGIN
		INSERT INTO かんばん読取エラーテーブル 
			( エラー管理番号,エラー種類,品番,取引先,受入,
			 背番号,手配区分,サイクル,収容数,発行NO,エラー要因,
			 作成日,作成端末)
			Values 
			(@ERKNO,@CHONO,@HINBN,@TORCD,@UKEIR,
			 @SEBAN,@KANKB,@CYCLE,@SYUYO,@RENNO,@ERRNO,
			 Getdate(),Host_Name() )
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 31 GOTO PROC_ERROR END
		SELECT @ERRCNT = @ERRCNT + 1

		IF Not EXISTS(Select * From 帳票出力テーブル
					Where 端末番号 = Host_Name()
					   And 帳票区分 = @CHONO )
		   BEGIN

			INSERT INTO 帳票出力テーブル 
					( 端末番号,帳票区分,管理NO,作成日)
				Values 
					(Host_Name(),@CHONO,@ERKNO,Getdate())
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 41 GOTO PROC_ERROR END
		   END	
	   END
   END
--///// ERRNO が40,41,42は平準化エラーリスト作成
SELECT @CHONO = 2
IF @ERRNO IN (40,41,42) Or @HEIFLG <> 0
   BEGIN
	IF Not EXISTS(Select 品番 From かんばん読取エラーテーブル
				Where エラー管理番号 = @ERKNO
				   And エラー種類 = @CHONO
	  			   And 品番 	 = @HINBN
				   And 取引先 = @TORCD
				   And 受入    = @UKEIR 
				   And 発行NO = @RENNO
				   And 収容数 = @SYUYO )
	   BEGIN
		INSERT INTO かんばん読取エラーテーブル 
			( エラー管理番号,エラー種類,品番,取引先,受入,
			 背番号,手配区分,収容数,発行NO,エラー要因,
			 平準化区分,平準化設定枚数,平準化超過枚数,
			 作成日,作成端末)
			Values 
			(@ERKNO,@CHONO,@HINBN,@TORCD,@UKEIR,
			 @SEBAN,@KANKB,@SYUYO,@RENNO,@ERRNO,
			 @HEIKB,@HEIMAX,1,
			 Getdate(),Host_Name() )
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 32 GOTO PROC_ERROR END
		SELECT @ERRCNT = @ERRCNT + 1

		IF Not EXISTS(Select * From 帳票出力テーブル
					Where 端末番号 = Host_Name()
					   And 帳票区分 = @CHONO )
		   BEGIN
			INSERT INTO 帳票出力テーブル 
					( 端末番号,帳票区分,管理NO,作成日)
				Values 
					(Host_Name(),@CHONO,@ERKNO,Getdate())
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 42 GOTO PROC_ERROR END
		   END	
	   END
   END

-- ERRNO が51は打切りリスト作成

IF @ERRNO = 51 or @ERRNO = 52
   BEGIN
	-- 打切り情報取得

	IF @UKBN = 0 Or @UKBN = 1
	   BEGIN
		SELECT @KIYMD = ISNULL(起算日,''), @KIBIN = ISNULL(起算便,''),
			  @SETSU = ISNULL(	設定数,0),@HSU = ISNULL(発注数,0),
			  @KNYMD = ISNULL(完了日,''),@KNBIN = ISNULL(完了便,''),
			  @EDYMD = ISNULL(	打切日,''),
			  @KEISU = ISNULL(	警告数,0),@KEYMD = ISNULL(警告日,'')
					From 発注打切テーブル 
					Where 打切種別 = @UKBN
					    And 品番 = @HINBN
	   END
	IF @UKBN = 2
	   BEGIN
		SELECT @KIYMD = ISNULL(起算日,''), @KIBIN = ISNULL(起算便,''),
			  @SETSU = ISNULL(	設定数,0),@HSU = ISNULL(発注数,0),
			  @KNYMD = ISNULL(完了日,''),@KNBIN = ISNULL(完了便,''),
			  @EDYMD = ISNULL(	打切日,''),
			  @KEISU = ISNULL(	警告数,0),@KEYMD = ISNULL(警告日,'')
					From 発注打切テーブル 
					Where 打切種別 = @UKBN
					    And 品番 = @HINBN
					    And 仕入先 = @TORCD
	   END
	IF @UKBN = 3
	   BEGIN
		SELECT @KIYMD = ISNULL(起算日,''), @KIBIN = ISNULL(起算便,''),
			  @SETSU = ISNULL(	設定数,0),@HSU = ISNULL(発注数,0),
			  @KNYMD = ISNULL(完了日,''),@KNBIN = ISNULL(完了便,''),
			  @EDYMD = ISNULL(	打切日,''),
			  @KEISU = ISNULL(	警告数,0),@KEYMD = ISNULL(警告日,'')
					From 発注打切テーブル 
					Where 打切種別 = @UKBN
					    And 仕入先 = @TORCD
	   END
   END
--///// ERRNO が18は打切りリスト用　打切エラー枚数　更新
SELECT @CHONO = 4
IF @ERRNO = 18
   BEGIN
	Update  かんばん読取エラーテーブル Set
			打切エラー枚数 = 打切エラー枚数 + 1
				Where エラー管理番号 = @ERKNO
				   And エラー種類 = @CHONO
	  			   And 品番 	 = @HINBN
				   And 取引先 = @TORCD
				   And 受入    = @UKEIR 
				   And 発行NO = 0
				   And 収容数 = @SYUYO
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 36 GOTO PROC_ERROR END
   END
--///// ERRNO が51は打切りリスト作成
IF @ERRNO = 51
   BEGIN
	IF Not EXISTS(Select 品番 From かんばん読取エラーテーブル
				Where エラー管理番号 = @ERKNO
				   And エラー種類 = @CHONO
	  			   And 品番 	 = @HINBN
				   And 取引先 = @TORCD
				   And 受入    = @UKEIR 
				   And 発行NO = 0
				   And 収容数 = @SYUYO )
	   BEGIN
		INSERT INTO かんばん読取エラーテーブル 
			( エラー管理番号,エラー種類,品番,取引先,受入,
			 背番号,手配区分,収容数,発行NO,エラー要因,
			 打切種別,完了区分,打切区分,起算日,起算便,
			 完了日,
			 完了便,
			 打切日,打切設定数,
			 今回発注枚数,今回発注端数,打切エラー枚数,
			 作成日,作成端末)
			Values 
			(@ERKNO,@CHONO,@HINBN,@TORCD,@UKEIR,
			 @SEBAN,@KANKB,@SYUYO,0,@ERRNO,
			 @UKBN,@RESULT,@UKB,@KIYMD,@KIBIN,
			 CASE WHEN @KNYMD = ''  THEN @NYMD ELSE @KNYMD END ,
			 CASE WHEN @KNYMD = ''  THEN @NBIN ELSE @KNBIN END ,
			 @EDYMD,@SETSU,
			 0,@UHASU,0,
			 Getdate(),'D' + Cast(@UKB as char(1)) )
--			 Getdate(),Host_Name() )
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 33 GOTO PROC_ERROR END
		SELECT @ERRCNT = @ERRCNT + 1

		-- 打切完了の為、打切警告エラーデータ削除
		DELETE かんばん読取エラーテーブル
				Where エラー管理番号 = @ERKNO
				   And エラー種類 = 3
  				   And 品番 	 = @HINBN
				   And 発行NO = 0
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 38 GOTO PROC_ERROR END

		IF Not EXISTS(Select * From 帳票出力テーブル
					Where 端末番号 = Host_Name()
					   And 帳票区分 = @CHONO )
		   BEGIN
			INSERT INTO 帳票出力テーブル 
					( 端末番号,帳票区分,管理NO,作成日)
				Values 
					(Host_Name(),@CHONO,@ERKNO,Getdate())
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 43 GOTO PROC_ERROR END
		   END	
		SELECT @UCHIFLG = 1
	   END
	ELSE
	   BEGIN
		UPDATE かんばん読取エラーテーブル Set
				打切エラー枚数 = 打切エラー枚数 + 1
				Where エラー管理番号 = @ERKNO
				   And エラー種類 = @CHONO
	  			   And 品番 	 = @HINBN
				   And 取引先 = @TORCD
				   And 受入    = @UKEIR 
				   And 発行NO = 0
				   And 収容数 = @SYUYO
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 37 GOTO PROC_ERROR END
	   END
   END
--///// ERRNO が52は打切警告リスト作成
SELECT @CHONO = 3
IF @ERRNO = 52
   BEGIN
	IF Not EXISTS(Select 品番 From かんばん読取エラーテーブル
				Where エラー管理番号 = @ERKNO
				   And エラー種類 = @CHONO
	  			   And 品番 	 = @HINBN
				   And 取引先 = @TORCD
				   And 受入    = @UKEIR 
				   And 発行NO = 0
				   And 収容数 = @SYUYO )
	   BEGIN
		INSERT INTO かんばん読取エラーテーブル 
			( エラー管理番号,エラー種類,品番,取引先,受入,
			 背番号,手配区分,収容数,発行NO,エラー要因,
			 打切種別,完了区分,起算日,起算便,打切日,打切設定数,
			 警告数,警告日,設定残数,発注済数,今回発注数,
			 作成日,作成端末)
			Values 
			(@ERKNO,@CHONO,@HINBN,@TORCD,@UKEIR,
			 @SEBAN,@KANKB,@SYUYO,0,@ERRNO,
			 @UKBN,@RESULT,@KIYMD,@KIBIN,@EDYMD,@SETSU,
			 @KEISU,@KEYMD,@UZANSU,@HSU,0,
			 Getdate(),Host_Name() )
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 34 GOTO PROC_ERROR END
		SELECT @ERRCNT = @ERRCNT + 1

		IF Not EXISTS(Select * From 帳票出力テーブル
					Where 端末番号 = Host_Name()
					   And 帳票区分 = @CHONO )
		   BEGIN
			INSERT INTO 帳票出力テーブル 
					( 端末番号,帳票区分,管理NO,作成日)
				Values 
					(Host_Name(),@CHONO,@ERKNO,Getdate())
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 44 GOTO PROC_ERROR END
		   END	
	   END
	ELSE
	   BEGIN
		UPDATE かんばん読取エラーテーブル SET
			設定残数  =  @UZANSU,
			発注済数  =  @HSU
			Where エラー管理番号 = @ERKNO
			   And エラー種類      = @CHONO
  			   And 品番 	        = @HINBN
			   And 取引先         = @TORCD
			   And 受入            = @UKEIR 
			   And 発行NO        = 0
			   And 収容数         = @SYUYO
	   END	
   END

--//////////////////////////////////
--//
--//	データ更新
--//
--//////////////////////////////////

--//////////////////////////////////////////////////////
--// かんばん流動管理テーブル更新(増減処理にて減設定のもの
--//////////////////////////////////////////////////////
IF @ZGFLG IN (2,3)
   BEGIN
	UPDATE かんばん流動管理テーブル Set
--		流動日付 = '',
		発行区分 = 2,
		回収日 = Convert(VARCHAR(8),Getdate(),112),
		有効指示日 = '',
--		無効指示日 = '',
		更新日 = Getdate(),
		更新端末 = Host_Name()
		Where 取引先 = @TORCD
		   And 受入    = @UKEIR
		   And 品番  = @HINBN
		   And 発行NO = @RENNO
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 51 GOTO PROC_ERROR END
	--////////////////////////////////////////////////////////////////////////////
	--// かんばん増減テーブル(減数累積）
	--////////////////////////////////////////////////////////////////////////////
	UPDATE かんばん増減テーブル SET
			完了日 = CASE When @ZGSSU <= @ZGSU THEN  CONVERT(VARCHAR(8),GETDATE(),112) ELSE 完了日 END,
			累積枚数 = @ZGSU
 			WHERE 取引先 = @TORCD
 			    AND 受入    = @UKEIR 
 			    AND 品番 	 = @HINBN
 			    AND 開始日 = @ZGYMD
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 56 GOTO PROC_ERROR END
	--////////////////////////////////////////////////////////////////////////////
	--// かんばんチェックテーブル(かんばん増減テーブルが存在し@ZGBSU<>0(便当設定)の時のみ行う
	--////////////////////////////////////////////////////////////////////////////
	IF @ZGBSU <> 0
	   BEGIN
		IF Not EXISTS(Select 品番 From かんばんチェックテーブル

					Where 納入日 = @NYMD
					   And 納入便 = @NBIN
					   And 取引先 = @TORCD
					   And 受入    = @UKEIR
		  			   And 品番 	 = @HINBN )
		   BEGIN
			INSERT INTO かんばんチェックテーブル
				( 納入日,納入便,取引先,受入,品番,枚数,増減枚数,月完了区分,
				 作成日)
				Values 
				( @NYMD,@NBIN,@TORCD,@UKEIR,@HINBN,0,1,0,
				Getdate() )
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 21 GOTO PROC_ERROR END
		   END
		ELSE			
		   BEGIN
			Update かんばんチェックテーブル Set 
				増減枚数 = 増減枚数 + 1,
				更新日 = Getdate()
				Where 納入日 = @NYMD
				   And 納入便 = @NBIN
				   And 取引先 = @TORCD
				   And 受入    = @UKEIR
	  			   And 品番 	 = @HINBN
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 26 GOTO PROC_ERROR END
		   END
	   END
   END

-- 発注対象外データは終了
IF @ERRNO <> 0 AND  @ERRNO < 50 BEGIN GOTO PROC_END END

--//////////////////////////////////////////////////////
--// 発注サイクルマスタ（最終発注日）
--//////////////////////////////////////////////////////
IF @PROC = '1' AND @SYSOPTION = 0  AND @W_ENDHYMD <> @HDATE
--IF @PROC = '1' AND @W_ENDHYMD <> @HDATE
   BEGIN
	UPDATE 発注サイクルマスタ Set
		最終発注日 = @HDATE,
		更新日 = Getdate(),
		更新端末 = Host_Name()
		Where 仕入先 = @TORCD
		   And 受入    = @UKEIR
		   And サイクル	 = @CYCLE
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 54 GOTO PROC_ERROR END
   END

--//////////////////////////////////////////////////////
--// かんばん流動管理テーブル更新(処理区分が指定で臨時以外の時
--//////////////////////////////////////////////////////
IF Not ( @PROC = '2' And @HKKB = '3' )
   BEGIN
	UPDATE かんばん流動管理テーブル Set
		流動日付 = Convert(VARCHAR(8),Getdate(),112),
		発行区分 = 1,
		回収日 = '',
--		有効指示日 = '',
--		無効指示日 = '',
		更新日 = Getdate(),
		更新端末 = Host_Name()
		Where 取引先 = @TORCD
		   And 受入    = @UKEIR
		   And 品番 	 = @HINBN
		   And 発行NO = @RENNO
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 52 GOTO PROC_ERROR END
   END

--////////////////////////////////////////////////////////////////////////////
--// かんばん増減テーブル(かんばん増減テーブルが存在する時のみ行う
--////////////////////////////////////////////////////////////////////////////
IF @ZGYMD Is Not Null And  @ZGFLG = 1
   BEGIN
	UPDATE かんばん増減テーブル SET
			完了日 = CASE When @ZGSSU <= @ZGSU THEN  CONVERT(VARCHAR(8),GETDATE(),112) ELSE 完了日 END,
			累積枚数 = @ZGSU
 			WHERE 取引先 = @TORCD
 			    AND 受入    = @UKEIR 
 			    AND 品番 	 = @HINBN
 			    AND 開始日 = @ZGYMD
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 53 GOTO PROC_ERROR END
   END

--//////////////////////////////////////////////
--// かんばんチェックテーブル(平準化区分<>0の時のみ行う
--//////////////////////////////////////////////
-- 日当り設定
IF @HEIKB = 1
   BEGIN 
	IF Not EXISTS(Select 品番 From かんばんチェックテーブル
				Where 納入日 = @NYMD
				   And 納入便 = ''
				   And 取引先 = @TORCD
				   And 受入    = @UKEIR
	  			   And 品番 	 = @HINBN )
	   BEGIN
		INSERT INTO かんばんチェックテーブル
			( 納入日,納入便,取引先,受入,品番,枚数,増減枚数,月完了区分,
			 作成日)
			Values 
			( @NYMD,'',@TORCD,@UKEIR,@HINBN,1,0,0,
			Getdate() )
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 22 GOTO PROC_ERROR END
	   END
	ELSE			
	   BEGIN
		Update かんばんチェックテーブル Set 
			枚数 = 枚数 + 1,
			更新日 = Getdate()
			Where 納入日 = @NYMD
			   And 納入便 = ''
			   And 取引先 = @TORCD
			   And 受入    = @UKEIR
  			   And 品番 	 = @HINBN
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 27 GOTO PROC_ERROR END
	   END
   END
-- 便当り設定
IF @HEIKB = 2
   BEGIN 
	IF Not EXISTS(Select 品番 From かんばんチェックテーブル
				Where 納入日 = @NYMD
				   And 納入便 = @NBIN
				   And 取引先 = @TORCD
				   And 受入    = @UKEIR
	  			   And 品番 	 = @HINBN )
	   BEGIN
		INSERT INTO かんばんチェックテーブル

			( 納入日,納入便,取引先,受入,品番,枚数,増減枚数,月完了区分,
			 作成日)
			Values 
			( @NYMD,@NBIN,@TORCD,@UKEIR,@HINBN,1,0,0,
			Getdate() )
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 23 GOTO PROC_ERROR END
	   END
	ELSE			
	   BEGIN
		Update かんばんチェックテーブル Set 
			枚数 = 枚数 + 1,
			更新日 = Getdate()
			Where 納入日 = @NYMD
			   And 納入便 = @NBIN
			   And 取引先 = @TORCD
			   And 受入    = @UKEIR
  			   And 品番 	 = @HINBN
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 28 GOTO PROC_ERROR END
	   END
   END
-- 月当り設定
IF @HEIKB = 3 --And @HEIYEND = 0
   BEGIN 
	IF Not EXISTS(Select 品番 From かんばんチェックテーブル
				 Where 納入日 = SUBSTRING(@NYMD,1,6) + '99'
				   And 取引先 = @TORCD
				   And 受入    = @UKEIR
	  			   And 品番 	 = @HINBN )
	   BEGIN
		INSERT INTO かんばんチェックテーブル
			( 納入日,納入便,取引先,受入,品番,枚数,増減枚数,月完了区分,
			 作成日)
			Values 
			( SUBSTRING(@NYMD,1,6) + '99','',@TORCD,@UKEIR,@HINBN,1,0,0,
			Getdate() )
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 24 GOTO PROC_ERROR END
	   END
	ELSE			
	   BEGIN
		Update かんばんチェックテーブル Set 
			枚数 = 枚数 + 1,
			更新日 = Getdate()
			 Where 納入日 = SUBSTRING(@NYMD,1,6) + '99'
			   And 取引先 = @TORCD
			   And 受入    = @UKEIR
  			   And 品番 	 = @HINBN
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 29 GOTO PROC_ERROR END
	   END
   END
--//////////////////////////////////////////////
--// 発注打切テーブル(打切種別=0:残数の時のみ行う)
--//////////////////////////////////////////////
IF @UKBN = 0
   BEGIN
	IF @KIYMD + @KIBIN <= @NYMD + @NBIN 	-- 納入日・便が起算日・便と同じか大きい時、更新を行う。
	   BEGIN
		IF @KNYMD = ''	-- 未完了更新
		    BEGIN
			UPDATE 発注打切テーブル Set
					発注数 = 発注数 + CASE WHEN @UHASU = 0 THEN @SYUYO ELSE @UHASU END,
					完了日 = Case When 設定数 - (発注数 + CASE WHEN @UHASU = 0 THEN @SYUYO ELSE @UHASU END) <= 0 Then @NYMD Else '' END,
					完了便 = Case When 設定数 - (発注数 + CASE WHEN @UHASU = 0 THEN @SYUYO ELSE @UHASU END) <= 0 Then @NBIN Else '' END,
					設定残数 = Case When 設定数 - (発注数 + CASE WHEN @UHASU = 0 THEN @SYUYO ELSE @UHASU END) <= 0 Then 0 Else 設定数 - (発注数 + CASE WHEN @UHASU = 0 THEN @SYUYO ELSE @UHASU END) END,
					更新日 = Getdate(),
					更新端末 = Host_Name()
					Where 打切種別 = 0
					    And 品番 = @HINBN
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 54 GOTO PROC_ERROR END
		    END
		ELSE			-- 完了時更新（発注数のみ）
		    BEGIN
			IF @UCHIFLG = 1 And @UZANSU > 0 -- 打切り情報出力時で残数がZERO以外の時のみ発注数を加算
			   BEGIN
				UPDATE 発注打切テーブル Set
						発注数 = 発注数 + CASE WHEN @UHASU = 0 THEN @SYUYO ELSE @UHASU END,
						更新日 = Getdate(),
						更新端末 = Host_Name()
						Where 打切種別 = 0
						    And 品番 = @HINBN
				IF @@ERROR <> 0 BEGIN SELECT @ERR = 55 GOTO PROC_ERROR END
			   END
		    END			

	   END

   END
--//////////////////////////////////////////////
--// 発注かんばん枚数累積テーブル　
--//////////////////////////////////////////////
IF Not EXISTS(Select 品番 From 発注かんばん枚数累積テーブル
			Where 処理端末 = Host_Name()
			   And 納入日 = @NYMD
			   And 納入便 = @NBIN
  			   And 品番 	 = @HINBN
			   And 取引先 = @TORCD
			   And 受入    = @UKEIR
			   And 収容数 = @SYUYO )
   BEGIN
	INSERT INTO 発注かんばん枚数累積テーブル
		( 処理端末,納入日,納入便,品番,取引先,受入,収容数,
		  読取処理,発注区分,読取枚数,手配区分,SK区分,発注数,
		  背番号,発注日,発注便,サイクル,
		  打切種別,完了区分,打切区分,打切日,打切残数,打切端数,
		  平準化区分, 平準化開始日,平準化月超過日,平準化月超過便,発行日,発行時間,処理区分,
		 作成日)
		Values 
		( Host_Name(),@NYMD,@NBIN,@HINBN,@TORCD,@UKEIR,@SYUYO ,
		  @PROC,@HKKB,1,@KANKB,@W_SKKB,CASE WHEN @UHASU = 0 THEN @SYUYO ELSE @UHASU END,
		  @SEBAN,@HYMD,@HBIN,@CYCLE,
		  @UKBN,@RESULT,@UKB,@UYMD,@UZANSU,@UHASU,
		  @HEIKB,@HEIYMD,@HEICYMD,@HEICBIN,@PDATE, @PTIME,0,
		  Getdate() )
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 61 GOTO PROC_ERROR END

	SELECT @OUTCNT = @OUTCNT + 1
   END
ELSE			
   BEGIN
	Update 発注かんばん枚数累積テーブル Set 
		読取枚数 = 読取枚数 + 1,
		発注数 = 発注数 +  CASE WHEN @UHASU = 0 THEN @SYUYO ELSE @UHASU END,
		完了区分 = @RESULT,
		打切区分 = @UKB,
		打切日 = @UYMD,
		打切残数 = @UZANSU,
		打切端数 = @UHASU,
		平準化月超過日 = Case When 平準化月超過日 = '' THEN @HEICYMD Else 平準化月超過日 END,
		平準化月超過便 = Case When 平準化月超過日 = '' THEN @HEICBIN Else 平準化月超過便 END
		Where 処理端末 = Host_Name()
		   And 納入日 = @NYMD
		   And 納入便 = @NBIN

		   And 品番 	 = @HINBN
		   And 取引先 = @TORCD
		   And 受入    = @UKEIR
		   And 収容数 = @SYUYO
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 62 GOTO PROC_ERROR END
	SELECT @OUTCNT = @OUTCNT + 1
   END
--//////////////////////////////////////////////
--// かんばん重複チェックテーブル
--//////////////////////////////////////////////
IF Not EXISTS(Select 品番 From かんばん重複チェックテーブル
			Where 処理区分 = ''
			And 納入日 = @NYMD
			And 納入便 = @NBIN
			And 取引先 = @TORCD
			And 品番 	 = @HINBN
			And 背番号  = @SEBAN
			And 受入    = @UKEIR
			And 連番 = @RENNO )
   BEGIN
	Insert Into かんばん重複チェックテーブル
		( 処理区分, 納入日, 納入便, 取引先, 品番, 背番号, 受入, 連番,版数 ,作成端末,作成日)
		Values
		('',@NYMD,@NBIN,@TORCD,@HINBN,@SEBAN,@UKEIR,@RENNO,@HANSU ,Host_Name(),Getdate())
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 1 GOTO PROC_ERROR END
   END


-------------------------------------------------------------------------------      2005/06/18 Insert

--////////////////////////////////////////////////////////////
--// かんばん流動履歴テーブル 出力 (処理区分が指定で臨時以外の時)
--////////////////////////////////////////////////////////////
IF Not ( @PROC = '2' And @HKKB = '3' )
   BEGIN
	Insert Into かんばん流動履歴テーブル
		( 処理区分, 流動日,納入日, 納入便, 取引先, 品番, 背番号, 受入, 連番,版数,収容区分,作成端末,作成日)
		Values
		('',Convert(Varchar(8),Getdate(),112),@NYMD,@NBIN,@TORCD,@HINBN,@SEBAN,@UKEIR,@RENNO,@HANSU,@W_SYUKB,Host_Name(),Getdate())
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 63 GOTO PROC_ERROR END
   END 

-------------------------------------------------------------------------------      2005/06/18 Insert End


-- 品番にてポケット指定がある時、ポケットNOをセット
IF @HNPOKET <> 0 And @POKET = 0
   BEGIN
	SELECT @POKET = @HNPOKET
   END

PROC_END:
----------------------------
--<<　トランザクション終了        >>--
----------------------------
COMMIT TRANSACTION KNCRT

--* 正常終了 *--
RETURN(0)
PROC_ERROR:
-- ====================================< 2005.02.24 ADD START >
ROLLBACK TRANSACTION KNCRT
-- ====================================< 2005.02.24 ADD  END  >
--* 異常終了 *--
---TEST --------------------------------------------------
/*
IF @ERR <> 0 or @ERRNO <> 0
   BEGIN
	 SELECT 'ERROR=',CONVERT(CHAR(2),@ERR), 'ERRNo=',CONVERT(CHAR(2),@ERRNO)  
   END
*/
------- --------------------------------------------------
RETURN(@ERR)



GO
