USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[出荷指示書NO採番累積]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE       PROCEDURE [dbo].[出荷指示書NO採番累積] (@DEL53 TINYINT
						  ,@CNT1 INT OUTPUT
						  ,@CNT2 INT OUTPUT
						  ,@CNT3 INT OUTPUT,@ERRCD TINYINT OUTPUT) AS
--*--------------------------------------------------------------------------------------*--
--*	出荷指示書NO 採番 & 受注累積
--*							Create Date : 2004/03/23
--*							Update Date : 2004/06/24 - 受領書・出荷時発行の対応
--*
--*	処理内容：	1:出荷指示書NO 採番  	( 出荷指示書NO = 0 対象)	
--*			2:納入番号 採番		( 納入番号 = '' 対象 )
--*			3:受注テーブルヘ出力	( 累積区分 = 0 対象 )
--*			4:帳票出力テーブルヘ出力( 0:出荷指示書NO 全対象 )
--*
--*	戻り値：	@CNT1 =	出荷指示書 採番対象件数
--*			@CNT2 =	納入番号 採番対象件数
--*			@CNT3 =	受注テーブル 出力対象件数
--*			@ERRCD =  0:正常終了、以外:異常終了
--*
--*	更新内容
--*	変 更 日　：	2007/12/11	納品書発行区分･支給書発行区分･受領書発行区分を品番単位で設定
--*					納入番号を採番する（伝票種類があり納入番号が空白）場合
--* 変 更 日  ：　　2008/04/03　背番号の桁数を５桁から８桁に修正
--* 変 更 日  ：　　2008/04/10　伝票種類で納品書種類判断
--* 変 更 日  :     2009/01/16  受注テーブル書込み部一部修正
--* 変 更 日  :     2009/09/21  土岐津Ver 採番条件：出荷管理部署、指示書発行区分 追加
--* 変 更 日  :     2010/07/02  土岐津Ver 出荷指示書行No　背番号/品番順
--*
--*--------------------------------------------------------------------------------------*--
DECLARE @WSID	VARCHAR(20)
DECLARE @MAXGYO	TINYINT

SET NOCOUNT ON

SELECT @WSID = HOST_NAME()
SELECT @CNT1 = 0
SELECT @CNT2 = 0
SELECT @CNT3 = 0
SELECT @ERRCD = 99

--------------------------------
--<<  トランザクション開始  >>--
--------------------------------
BEGIN TRANSACTION JYTRAN

-- *=====================================================================================*
-- *	帳票出力テーブルのクリア - 2004/06/24 .. @DEL53の判定を追加
-- *=====================================================================================*
IF @DEL53 = 0
   BEGIN
	DELETE FROM 帳票出力テーブル
		WHERE 端末番号 = @WSID
		  AND 帳票区分 IN ( 50, 51, 53, 54 )
   END
ELSE
   BEGIN
	DELETE FROM 帳票出力テーブル
		WHERE 端末番号 = @WSID
		  AND 帳票区分 IN ( 50, 51, 54 )
   END

-- *=====================================================================================*
-- *	1.出荷指示書NOを採番し､受注入力ワークを更新する
-- *	
-- *=====================================================================================*
--* ｶｰｿﾙ項目定義
DECLARE @JYKB	TINYINT
DECLARE @SYMD	VARCHAR(08)
DECLARE @SBIN	VARCHAR(02)
DECLARE @TORCD	VARCHAR(07)
DECLARE @UKEIR	VARCHAR(02)
DECLARE @NYMD	VARCHAR(08)
DECLARE @NBIN	VARCHAR(02)
DECLARE @SKKB	TINYINT
DECLARE @KEIYAKU	VARCHAR(07)
DECLARE @HINBN	VARCHAR(25)
DECLARE @SEBAN  VARCHAR(8)     --DECLARE @SEBAN	VARCHAR(05)     2008/04/03
DECLARE @SSEBAN	VARCHAR(05)
DECLARE @JYNO	INT
DECLARE @JYGNO	TINYINT
DECLARE @SYUKAK	VARCHAR(07)			--2009/09/21
DECLARE @SYUKAPRT	TINYINT			--2009/09/21
--* << 採番キー ワーク >>
--* 受注区分・出荷予定日・出荷予定便・納入先・受入・納入日・納入便・契約先 --*
DECLARE @KEY_JYKB		TINYINT
DECLARE @KEY_SYMD		VARCHAR(08)
DECLARE @KEY_SBIN		VARCHAR(02)
DECLARE @KEY_TORCD	VARCHAR(07)
DECLARE @KEY_UKEIR	VARCHAR(02)
DECLARE @KEY_NYMD		VARCHAR(08)
DECLARE @KEY_NBIN		VARCHAR(02)
DECLARE @KEY_SKKB		TINYINT
DECLARE @KEY_KEIYAKU	VARCHAR(07)
DECLARE @KEY_SYUKAK		VARCHAR(07)				--2009/09/21
DECLARE @KEY_SYUKAPRT	TINYINT					--2009/09/21
--* ﾜｰｸ項目の定義 *---
DECLARE @SIJINO	INT
DECLARE @SIJIGYO	TINYINT

--<< 出荷指示書 採番 該当データの有無  >>------------
SELECT @CNT1 = (SELECT COUNT(出荷指示書NO) FROM 受注入力ワーク
		     WHERE 出荷指示書NO = 0
		       AND 端末番号 = @WSID)
IF @CNT1 = 0 	BEGIN 	GOTO NOUNO_SET 	END

--<< 最大行数のｾｯﾄ  >>--
SELECT @MAXGYO = 15
-- *-------------------------------------------------*
-- *  受注入力ワーク ｶｰｿﾙ定義	出荷指示書NO 採番用    *
-- *-------------------------------------------------*
DECLARE JNCUR SCROLL CURSOR
FOR
	SELECT JN.受注区分,JN.出荷予定日,JN.出荷予定便
		,JN.納入先,JN.受入,JN.納入日,JN.納入便
		,ISNULL(HT.SK区分,0)
		,ISNULL(HT.契約先,'')
		,JN.品番,JN.背番号,HN.社内背番
		,JN.受注管理NO,JN.受注管理行NO
		,ISNULL(HT.出荷管理部署,'')					-- 2009/09/21
		,ISNULL(HT.指示書発行区分,0)				-- 2009/09/21
	  FROM 受注入力ワーク JN
		 LEFT OUTER JOIN 品番取引先マスタ HT
			   ON HT.品番 = JN.品番
			  AND HT.取引先 = JN.納入先
			  AND HT.受入 = JN.受入
			  AND HT.品目 = 0
		 LEFT OUTER JOIN 品番マスタ HN
			   ON HN.品番 = JN.品番
	 WHERE 出荷指示書NO = 0
	   AND 端末番号 = @WSID
	 ORDER BY ISNULL(HT.指示書発行区分,0),JN.受注区分,JN.出荷予定日,JN.出荷予定便
		   ,JN.納入先,JN.受入,JN.納入日,JN.納入便
		   ,HT.SK区分,HT.契約先,ISNULL(HT.出荷管理部署,'')			--2009/09/21
--		   ,JN.品番,JN.背番号										--2010/07/02
		   ,JN.背番号,JN.品番										--2010/07/02
FOR READ ONLY
OPEN JNCUR
-- *----------------------------*
-- *    受注入力ワーク読込
-- *----------------------------*
FETCH NEXT FROM JNCUR INTO @JYKB,@SYMD,@SBIN,@TORCD,@UKEIR,@NYMD,@NBIN
				  ,@SKKB,@KEIYAKU,@HINBN,@SEBAN,@SSEBAN,@JYNO,@JYGNO,@SYUKAK,@SYUKAPRT		--2009/09/21

WHILE @@FETCH_STATUS = 0
   BEGIN
--*	(( 出荷指示書NO 採番 ))
	EXEC 番号獲得 12,@SIJINO OUTPUT,@ERRCD OUTPUT
	IF @ERRCD <> 0 	BEGIN	 SELECT @ERRCD = 1 	GOTO PROC_ERR	END

--*	(( 出荷指示書行NO ｸﾘｱ ))
	SELECT @SIJIGYO = 0

--*	(( キー項目退避 ))
	SELECT @KEY_JYKB = @JYKB
	SELECT @KEY_SYMD = @SYMD
	SELECT @KEY_SBIN = @SBIN
	SELECT @KEY_TORCD = @TORCD
	SELECT @KEY_UKEIR = @UKEIR
	SELECT @KEY_NYMD = @NYMD
	SELECT @KEY_NBIN = @NBIN
	SELECT @KEY_SKKB = @SKKB
	SELECT @KEY_KEIYAKU = @KEIYAKU

	SELECT @KEY_SYUKAK = @SYUKAK			--2009/09/21
	SELECT @KEY_SYUKAPRT = @SYUKAPRT		--2009/09/21

--*	<><><><><> キーが変わる迄、実行 <><><><><>
	WHILE @@FETCH_STATUS = 0 AND
		@JYKB = @KEY_JYKB AND
		@SYMD = @KEY_SYMD AND
		@SBIN = @KEY_SBIN AND
		@TORCD = @KEY_TORCD AND
		@UKEIR = @KEY_UKEIR AND
		@NYMD = @KEY_NYMD AND
		@NBIN = @KEY_NBIN AND
		@SKKB = @KEY_SKKB AND
		@KEIYAKU = @KEY_KEIYAKU AND
		@SYUKAK = @KEY_SYUKAK AND
		@SYUKAPRT = @KEY_SYUKAPRT AND
		@SIJIGYO < @MAXGYO
	   BEGIN
--*		(( 出荷指示書行NO ｶｳﾝﾄ ))
		SELECT @SIJIGYO = @SIJIGYO + 1

--*		(( 受注入力ワーク更新 ))
		UPDATE 受注入力ワーク
		   SET 出荷指示書NO = @SIJINO
			,出荷指示書行NO = @SIJIGYO
		 WHERE 端末番号 = @WSID
		   AND 受注管理NO = @JYNO
		   AND 受注管理行NO = @JYGNO
		IF @@ERROR <> 0	BEGIN	 SELECT @ERRCD = 2	GOTO PROC_ERR	END

--*		(( 次ﾚｺｰﾄﾞ ))
		FETCH NEXT FROM JNCUR INTO @JYKB,@SYMD,@SBIN,@TORCD,@UKEIR,@NYMD,@NBIN
						  ,@SKKB,@KEIYAKU,@HINBN,@SEBAN,@SSEBAN,@JYNO,@JYGNO,@SYUKAK,@SYUKAPRT		--2009/09/21
	   END
--*	<><><><><><><><><><><><><><><><><><><><><>
   END
--*  JN ｶｰｿﾙｸﾛｰｽﾞ
CLOSE JNCUR
DEALLOCATE JNCUR


NOUNO_SET:
-- *=====================================================================================*
-- *	1.納入番号＆納品書管理NOを採番し､受注入力ワークを更新する
-- *	2.受注入力ワークより帳票出力テーブルに出力する(納品書＆受領書＆支給書)
-- *=====================================================================================*
--* ｶｰｿﾙ項目定義
DECLARE @NOUKKB	VARCHAR(01)
DECLARE @JYUKKB	VARCHAR(01)
DECLARE @NOUBAN	VARCHAR(09)

DECLARE @PRTKBN	TINYINT,@PRTKBS	TINYINT,@PRTKBJ	TINYINT			-- 2007/12/12 ADD
--* << 採番キー ワーク >>
--* 受注区分・納入先・受入・契約先・出荷予定日・出荷予定便・納品書形態・受領書形態 --*
--* 2004/06/25 出荷指示書NOの追加 --*
DECLARE @KEY_NOUKKB	VARCHAR(01)
DECLARE @KEY_JYUKKB	VARCHAR(01)
DECLARE @KEY_NOUNO	VARCHAR(09)
DECLARE @KEY_SIJINO	INT

DECLARE @KEY_PRTKBN TINYINT,@KEY_PRTKBS TINYINT,@KEY_PRTKBJ TINYINT			-- 2007/12/12 ADD
--* ﾜｰｸ項目の定義 *---
DECLARE @NOUNO	VARCHAR(09)
DECLARE @PAGENO	TINYINT 
DECLARE @PAGEGYO	TINYINT
DECLARE @NKANRI	INT
DECLARE @PRINTKB	INT

SELECT @CNT2 = (SELECT COUNT(受注区分) FROM 受注入力ワーク
		     WHERE 納品書発行区分 = 0
		       AND 端末番号 = @WSID)
IF @CNT2 = 0 	BEGIN 	GOTO JYUCYU_INSERT 	END

--<< 最大行数のｾｯﾄ  >>--
SELECT @MAXGYO = 10
-- *-------------------------------------------------*
-- *  受注入力ワーク ｶｰｿﾙ定義	納入番号 採番用      *
-- *-------------------------------------------------*
DECLARE JN1CUR SCROLL CURSOR
FOR
	SELECT JN.受注区分,JN.納入先,JN.受入
		,ISNULL(HT.契約先,'')
		,JN.出荷予定日,JN.出荷予定便
--*		,ISNULL(HT.納品書形態,'')				--2008/04/10
		,ISNULL(HT.伝票種類,'')					--2008/04/10
		,CASE WHEN ISNULL(HT.受領書発行,0) = 0 THEN ISNULL(HT.受領書形態,'') ELSE '9' END
		,ISNULL(HT.SK区分,0)
		,JN.受注管理NO,JN.受注管理行NO
		,JN.品番,JN.背番号
		,JN.納入番号
		,JN.出荷指示書NO
		,ISNULL(HT.納品書発行区分,0),ISNULL(HT.支給書発行区分,0),ISNULL(HT.受領書発行区分,0)
	  FROM 受注入力ワーク JN
		 LEFT OUTER JOIN 品番取引先マスタ HT
		   ON HT.品番 = JN.品番
		  AND HT.取引先 = JN.納入先
		  AND HT.受入 = JN.受入
		  AND HT.品目 = 0
	 WHERE JN.納品書発行区分 = 0
	   AND 端末番号 = @WSID
	 ORDER BY JN.納入番号
		,JN.受注区分,JN.納入先,JN.受入
		,ISNULL(HT.契約先,'')
		,JN.出荷予定日,JN.出荷予定便
		,JN.出荷指示書NO
		,ISNULL(HT.納品書形態,'')
		,ISNULL(HT.受領書形態,'')
		,JN.背番号,JN.品番
FOR READ ONLY
OPEN JN1CUR

-- *----------------------------*
-- *    受注入力ﾃｰﾌﾞﾙ読込	*
-- *----------------------------*
FETCH NEXT FROM JN1CUR INTO @JYKB,@TORCD,@UKEIR,@KEIYAKU,@SYMD,@SBIN
				   ,@NOUKKB,@JYUKKB,@SKKB
				   ,@JYNO,@JYGNO,@HINBN,@SEBAN
				   ,@NOUBAN,@SIJINO
				   ,@PRTKBN	,@PRTKBS ,@PRTKBJ
WHILE @@FETCH_STATUS = 0
   BEGIN
--*	(( 納品書管理NO 採番 ))
	EXEC 番号獲得 14,@NKANRI OUTPUT,@ERRCD OUTPUT
	IF @ERRCD <> 0 	BEGIN	 SELECT @ERRCD = 6 	GOTO PROC_ERR	END
--* 	(( 納入番号 採番 ))
	IF @NOUBAN = ''
	   BEGIN
		EXEC 受注納入番号採番 @NOUNO OUTPUT,@ERRCD OUTPUT
		IF @ERRCD <> 0 	BEGIN	 SELECT @ERRCD = 5 	GOTO PROC_ERR	END
--*
		SELECT @NOUNO = RTRIM(@NOUNO) + '0'
	   END
	ELSE
--* 	   <><><> 分納の時、納入番号の採番は実行しない <><><>
	   BEGIN
		SELECT @NOUNO = @NOUBAN
	   END

--*	(( 納品書頁＆納品書行 ｸﾘｱ ))
	SELECT @PAGENO = 0
	SELECT @PAGEGYO = @MAXGYO

--*	(( キー項目退避 ))
	SELECT @KEY_JYKB = @JYKB
	SELECT @KEY_TORCD = @TORCD
	SELECT @KEY_UKEIR = @UKEIR
	SELECT @KEY_KEIYAKU = @KEIYAKU
	SELECT @KEY_SYMD = @SYMD
	SELECT @KEY_SBIN = @SBIN
	SELECT @KEY_NOUKKB = @NOUKKB
	SELECT @KEY_JYUKKB = @JYUKKB
	SELECT @KEY_SKKB = @SKKB
	SELECT @KEY_NOUNO = @NOUNO
	SELECT @KEY_SIJINO = @SIJINO
	SELECT @KEY_PRTKBN = @PRTKBN				-- 2007/12/12ADD
	SELECT @KEY_PRTKBS = @PRTKBS
	SELECT @KEY_PRTKBJ = @PRTKBJ

--*	<><><><><> キーが変わる迄、実行 <><><><><>
	WHILE @@FETCH_STATUS = 0 AND
		@JYKB = @KEY_JYKB AND
		@TORCD = @KEY_TORCD AND
		@UKEIR = @KEY_UKEIR AND
		@KEIYAKU = @KEY_KEIYAKU AND
		@SYMD = @KEY_SYMD AND
		@SBIN = @KEY_SBIN AND
		@NOUKKB = @KEY_NOUKKB AND
		@JYUKKB = @KEY_JYUKKB AND
		@SKKB = @KEY_SKKB AND
		@NOUNO = @KEY_NOUNO AND
		@SIJINO = @KEY_SIJINO AND
		@PRTKBN = @KEY_PRTKBN AND
		@PRTKBS = @KEY_PRTKBS AND
		@PRTKBJ = @KEY_PRTKBJ 
	   BEGIN
--*		(( 納品書 ｶｳﾝﾄ ))
		SELECT @PAGEGYO = @PAGEGYO + 1
		IF @PAGEGYO > @MAXGYO
		   BEGIN
			SELECT @PAGENO = @PAGENO + 1
			SELECT @PAGEGYO = 1
--*			::::::::::::::::::::::::::::::::::::::::::::::::::
--* 			(( 帳票出力ﾃｰﾌﾞﾙへ出力：53=納品書 ))
			SELECT @PRINTKB = 0
			SELECT @PRINTKB = CASE @KEY_NOUKKB WHEN '1' THEN 53
								     WHEN '2' THEN 54
						END
			IF @PRINTKB <> 0 AND @KEY_PRTKBN = 0
			   BEGIN
				INSERT INTO 帳票出力テーブル
						(端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日)
					VALUES(@WSID,@PRINTKB,@NOUNO,'7',@NKANRI,0,@PAGENO,0,GETDATE())
				IF @@ERROR <> 0	BEGIN	 SELECT @ERRCD = 4	GOTO PROC_ERR	END
			   END
--* 			(( 帳票出力ﾃｰﾌﾞﾙへ出力：53=受領書 ))
			SELECT @PRINTKB = 0
			SELECT @PRINTKB = CASE @KEY_JYUKKB WHEN '1' THEN 53
								     WHEN '2' THEN 54
						END
			IF @PRINTKB <> 0 AND @KEY_PRTKBJ = 0
			   BEGIN
				INSERT INTO 帳票出力テーブル
						(端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日)
					VALUES(@WSID,@PRINTKB,@NOUNO,'6',@NKANRI,0,@PAGENO,0,GETDATE())
				IF @@ERROR <> 0	BEGIN	 SELECT @ERRCD = 4	GOTO PROC_ERR	END
			   END
--* 			(( 帳票出力ﾃｰﾌﾞﾙへ出力：53=支給書 ))
			IF SUBSTRING(@KEY_TORCD,1,4) <> SUBSTRING(@KEY_KEIYAKU,1,4)
			   BEGIN
				SELECT @PRINTKB = 0
				SELECT @PRINTKB = CASE @KEY_NOUKKB WHEN '1' THEN 53
									     WHEN '2' THEN 54
							END
				IF @PRINTKB <> 0  AND @KEY_PRTKBS = 0
				   BEGIN
					INSERT INTO 帳票出力テーブル
							(端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日)
						VALUES(@WSID,@PRINTKB,@NOUNO,'8',@NKANRI,0,@PAGENO,0,GETDATE())
					IF @@ERROR <> 0	BEGIN	 SELECT @ERRCD = 4	GOTO PROC_ERR	END
				   END
	   		   END
--*			::::::::::::::::::::::::::::::::::::::::::::::::::
		   END

--* 		(( 受注入力ﾃｰﾌﾞﾙの更新 納入番号))
		UPDATE 受注入力ワーク
		   SET 納入番号 = @NOUNO
			,納品書頁 = @PAGENO
			,納品書行 = @PAGEGYO
			,納品書発行区分 = 1
			,納品書管理NO = @NKANRI
		 WHERE 端末番号 = @WSID
		   AND 受注管理NO = @JYNO
		   AND 受注管理行NO = @JYGNO
		IF @@ERROR <> 0	BEGIN  SELECT @ERRCD = 2	GOTO PROC_ERR	END

--*		(( 次ﾚｺｰﾄﾞ ))
		FETCH NEXT FROM JN1CUR INTO @JYKB,@TORCD,@UKEIR,@KEIYAKU,@SYMD,@SBIN
						   ,@NOUKKB,@JYUKKB,@SKKB
						   ,@JYNO,@JYGNO,@HINBN,@SEBAN
						   ,@NOUBAN,@SIJINO
						   ,@PRTKBN	,@PRTKBS ,@PRTKBJ
--* 		(( 分納の時、納品書は１頁単位 ))
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2009/01/16 update start
------	   IF @NOUBAN <> ''
------		   BEGIN
------			SELECT @NOUNO = @NOUBAN
------			SELECT @PAGEGYO = @MAXGYO
------		   END
------	   END
	   IF @NOUBAN <> ''
           BEGIN
			SELECT @NOUNO = @NOUBAN
		   END
	   IF @NOUBAN <> '' AND SUBSTRING(@NOUBAN, 5, 1) <> '0'
		   BEGIN
			SELECT @PAGEGYO = @MAXGYO
		   END
	   END
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2009/01/16 update end

   END
--*  JN1 ｶｰｿﾙ ｸﾛｰｽﾞ
CLOSE JN1CUR
DEALLOCATE JN1CUR


JYUCYU_INSERT:
-- *=====================================================================================*
-- *	1.受注入力ワークより受注テーブルに出力する
-- *	2.受注入力ワークより帳票出力テーブルに出力する(出荷指示書＆ノーかんばんエフ)
-- *=====================================================================================*
--* ｶｰｿﾙ項目定義
DECLARE @JYMD	VARCHAR(08)
DECLARE @JBIN	VARCHAR(02)
DECLARE @KIBAN	VARCHAR(03)
DECLARE @BUNKU	TINYINT
DECLARE @BUNKAI	TINYINT
DECLARE @HAKO	INT
DECLARE @SYUYO	INT
DECLARE @SURYO	INT
DECLARE @HASU	INT
DECLARE @NUKISU	SMALLINT
DECLARE @FMAISU	SMALLINT
DECLARE @FHASU	INT
DECLARE @INTYPE	VARCHAR(01)
DECLARE @NDENKU	TINYINT
DECLARE @MSIJINO	INT
DECLARE @MSIJIGYO	TINYINT

--<< 受注テーブル 出力 該当データの有無  >>------------
SELECT @CNT3 = (SELECT COUNT(受注区分) FROM 受注入力ワーク
		     WHERE 端末番号 = @WSID 
		       AND 累積区分 = 0)
IF @CNT3 = 0 	BEGIN 	GOTO PROC_END 	END
-- *--------------------------------------------------*
-- *  受注入力ワーク ｶｰｿﾙ定義			      	*
-- *--------------------------------------------------*
DECLARE JN2CUR SCROLL CURSOR
FOR 
	SELECT JN.受注管理NO,JN.受注管理行NO,JN.出荷指示書NO,JN.出荷指示書行NO,JN.受注区分
		,JN.受注日,JN.受注便,JN.納入日,JN.納入便
		,JN.出荷予定日,JN.出荷予定便
		,JN.納入先,JN.受入,JN.機番
		,JN.納入番号,JN.納品書頁,JN.納品書行
		,JN.分納区分,JN.分納回数
		,JN.品番,JN.背番号
		,JN.枚数,JN.収容数,JN.納入数,JN.端数
		,JN.抜取枚数,JN.エフ発行枚数,JN.エフ発行端数
		,JN.作成種別,JN.納品書発行区分
		,JN.納品書管理NO,JN.元出荷指示書NO,JN.元出荷指示書行NO
		,ISNULL(HT.指示書発行区分,0)							--2009/09/21
	  FROM 受注入力ワーク JN
		 LEFT OUTER JOIN 品番取引先マスタ HT					--2009/09/21
		   ON HT.品番 = JN.品番
		  AND HT.取引先 = JN.納入先
		  AND HT.受入 = JN.受入
		  AND HT.品目 = 0
	 WHERE JN.端末番号 = @WSID
	   AND JN.累積区分 = 0
	 ORDER BY JN.出荷指示書NO,JN.出荷指示書行NO,JN.受注管理NO
FOR READ ONLY
OPEN JN2CUR

--* ﾜｰｸ項目の初期化 *---
SELECT @KEY_SIJINO = 0
-- *----------------------------*
-- *    受注入力ワーク読込	  *
-- *----------------------------*
FETCH NEXT FROM JN2CUR INTO @JYNO,@JYGNO,@SIJINO,@SIJIGYO,@JYKB,@JYMD,@JBIN,@NYMD,@NBIN,@SYMD,@SBIN
				   ,@TORCD,@UKEIR,@KIBAN,@NOUNO,@PAGENO,@PAGEGYO,@BUNKU,@BUNKAI
				   ,@HINBN,@SEBAN,@HAKO,@SYUYO,@SURYO,@HASU
				   ,@NUKISU,@FMAISU,@FHASU,@INTYPE,@NDENKU
				   ,@NKANRI,@MSIJINO,@MSIJIGYO
				   ,@SYUKAPRT									--2009/09/21
WHILE @@FETCH_STATUS = 0
   BEGIN
	IF @MSIJINO = 0
	   BEGIN
		SELECT @MSIJINO = @SIJINO
		SELECT @MSIJIGYO = @SIJIGYO
	   END
--* (( 受注テーブル 出力 ))
	INSERT INTO 受注テーブル
			(受注管理NO,受注管理行NO,出荷指示書NO,出荷指示書行NO,受注区分
			,受注日,受注便,納入日,納入便
			,出荷予定日,出荷予定便,納入先,受入
			,機番,納入番号,納品書頁,納品書行,分納区分,分納回数
			,品番,背番号,枚数,収容数,納入数,端数
			,抜取枚数,エフ発行枚数,エフ発行端数
			,作成種別,納品書発行区分,指示書発行区分,出荷実績区分
			,納品書管理NO,元出荷指示書NO,元出荷指示書行NO
			,作成日,作成端末,作成者)
		VALUES(@JYNO,@JYGNO,@SIJINO,@SIJIGYO,@JYKB
			,@JYMD,@JBIN,@NYMD,@NBIN
			,@SYMD,@SBIN,@TORCD,@UKEIR
			,@KIBAN,@NOUNO,@PAGENO,@PAGEGYO,@BUNKU,@BUNKAI
			,@HINBN,@SEBAN,@HAKO,@SYUYO,@SURYO,@HASU
			,@NUKISU,@FMAISU,@FHASU
			,@INTYPE,@NDENKU,0,0
			,@NKANRI,@MSIJINO,@MSIJIGYO
			,GETDATE(),HOST_NAME(),'' )
	IF @@ERROR <> 0	BEGIN	 SELECT @ERRCD = 3	GOTO PROC_ERR	END
--* (( 受注入力ワーク 更新 ))
	UPDATE 受注入力ワーク
	   SET 累積区分 = 1
	 WHERE 端末番号 = @WSID
	   AND 受注管理NO = @JYNO
	   AND 受注管理行NO = @JYGNO
	IF @@ERROR <> 0	BEGIN	 SELECT @ERRCD = 2	GOTO PROC_ERR	END

--* (( 帳票出力テーブルへ出力：51=ノーかんばんエフ ))
	IF @JYKB IN ( 2, 4, 5, 6, 7, 8 ) AND @FMAISU <> 0 AND @INTYPE <> 'K'
	   BEGIN
		INSERT INTO 帳票出力テーブル
				(端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日)
			VALUES(@WSID,51,'','',@SIJINO,@SIJIGYO,0,0,GETDATE())
		IF @@ERROR <> 0	BEGIN	 SELECT @ERRCD = 4	GOTO PROC_ERR	END
	   END
--* (( 帳票出力テーブルへ出力：50=出荷指示書 ))
	IF @SIJINO <> @KEY_SIJINO
	   BEGIN
		IF @SYUKAPRT = 0						--2009/09/21
		   BEGIN
			INSERT INTO 帳票出力テーブル
					(端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日)
				VALUES(@WSID,50,'','',@SIJINO,0,0,0,GETDATE())
			IF @@ERROR <> 0	BEGIN	 SELECT @ERRCD = 4	GOTO PROC_ERR	END
		   END
	   END
--* (( キー項目退避 ))
	SELECT @KEY_SIJINO = @SIJINO
	SELECT @KEY_SYUKAPRT = @SYUKAPRT			--2009/09/21

--*	(( 次ﾚｺｰﾄﾞ ))
	FETCH NEXT FROM JN2CUR INTO @JYNO,@JYGNO,@SIJINO,@SIJIGYO,@JYKB,@JYMD,@JBIN,@NYMD,@NBIN,@SYMD,@SBIN
					   ,@TORCD,@UKEIR,@KIBAN,@NOUNO,@PAGENO,@PAGEGYO,@BUNKU,@BUNKAI
					   ,@HINBN,@SEBAN,@HAKO,@SYUYO,@SURYO,@HASU
					   ,@NUKISU,@FMAISU,@FHASU,@INTYPE,@NDENKU
					   ,@NKANRI,@MSIJINO,@MSIJIGYO
					   ,@SYUKAPRT								--2009/09/21 	

   END

--*  JN2 ｶｰｿﾙ ｸﾛｰｽﾞ
CLOSE JN2CUR
DEALLOCATE JN2CUR


PROC_END:
--------------------------------
--<<  トランザクション終了  >>--
--------------------------------
COMMIT TRANSACTION JYTRAN

----------------
--  正常終了  --
----------------
SELECT @ERRCD = 0
RETURN

PROC_ERR:
----------------
--  異常終了  --
----------------
RETURN





GO
