USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[S内示問合せ日量ワーク作成]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[S内示問合せ日量ワーク作成]( @PROCKB VARCHAR(1) , @STRYMD VARCHAR(8) , @ORDER VARCHAR(300) , @HINBN VARCHAR(25) , @TORCD VARCHAR(7) , @UKEIR VARCHAR(2) ) AS

/* TEST
DECLARE @STRYMD		VARCHAR(8)
DECLARE @ORDER		VARCHAR(300)
DECLARE @HINBN		VARCHAR(25)
DECLARE @TORCD		VARCHAR(7)
DECLARE @UKEIR		VARCHAR(2)
SELECT @STRYMD = '20040501'
SELECT @ORDER = '001004'
SELECT @HINBN = 'P800SCK00200'
SELECT @TORCD = '0001A'
SELECT @UKEIR = '01'
*/

DECLARE @DATE		VARCHAR(8)
DECLARE @WDATE		VARCHAR(8)
DECLARE @ENDYMD		VARCHAR(8)
SET NOCOUNT ON

/*::::::::::::::::::::::::::::::::::::::*
 *	処理最終日 算出			*
 *::::::::::::::::::::::::::::::::::::::*/
EXEC cDateAdd @STRYMD,'M',2,'0','1',@ENDYMD OUTPUT
/*::::::::::::::::::::::::::::::::::::::*
 *	S内示問合せ日量ワーク　削除	*
 *::::::::::::::::::::::::::::::::::::::*/
TRUNCATE TABLE	S内示問合せ日量ワーク

/*::::::::::::::::::::::::::::::::::::::*
 *	S内示問合せ日量ワーク　作成	*
 *::::::::::::::::::::::::::::::::::::::*/
SELECT @DATE = @STRYMD
WHILE @DATE <= @ENDYMD
    BEGIN
			
	IF @PROCKB = ''
	    BEGIN
		INSERT INTO S内示問合せ日量ワーク
			(処理端末,順位,レベル,品番,手配先,受入,背番号,納期,数量)
			SELECT SUBSTRING(HOST_NAME(),1,20),@ORDER,0,@HINBN,@TORCD,@UKEIR,
				HN.背番号,@DATE,SUM(ISNULL(NW.数量,0))
				FROM 品番取引先マスタ HN
				LEFT OUTER JOIN S発注内示構成テーブル NW
				  ON NW.処理端末 = SUBSTRING(HOST_NAME(),1,20)
				 AND NW.順位 = @ORDER
				 AND NW.品番 = HN.品番
				 AND NW.手配先 = HN.取引先
				 AND NW.受入 = HN.受入
				 AND NW.納期 = @DATE
				WHERE HN.品番 = @HINBN
				  AND HN.取引先 = @TORCD
				  AND HN.受入 = @UKEIR
				GROUP BY NW.処理端末,NW.順位,NW.品番,NW.手配先,NW.受入,HN.背番号
	    END
	ELSE
	    BEGIN
		INSERT INTO S内示問合せ日量ワーク
			(処理端末,順位,レベル,品番,手配先,受入,背番号,納期,数量)
			SELECT SUBSTRING(HOST_NAME(),1,20),'',0,@HINBN,@TORCD,@UKEIR,
				HN.背番号,@DATE,SUM(ISNULL(NW.数量,0))
				FROM 品番取引先マスタ HN
				LEFT OUTER JOIN S発注内示テーブル NW
				  ON NW.品番 = HN.品番
				 AND NW.手配先 = HN.取引先
				 AND NW.受入 = HN.受入
				 AND NW.納期 = @DATE
				WHERE HN.品番 = @HINBN
				  AND HN.取引先 = @TORCD
				  AND HN.受入 = @UKEIR
				GROUP BY NW.品番,NW.手配先,NW.受入,HN.背番号
	    END


	SELECT @WDATE = @DATE
	EXEC cDateAdd @WDATE,'D',1,'0','0',@DATE OUTPUT

    END

PROC_END:
RETURN(0)




GO
