USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[材料展開用ワーク作成]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [dbo].[材料展開用ワーク作成] AS

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[カレンダワーク]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
   BEGIN
	DROP TABLE [dbo].[カレンダワーク]
   END

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[材料展開在庫ワーク]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
   BEGIN
	DROP TABLE [dbo].[材料展開在庫ワーク]
   END

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[材料展開在庫品番ワーク]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
   BEGIN
	DROP TABLE [dbo].[材料展開在庫品番ワーク]
   END

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[材料構成展開ワーク]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
   BEGIN
	DROP TABLE [dbo].[材料構成展開ワーク]
   END

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[材料構成展開集計ワーク]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
   BEGIN
	DROP TABLE [dbo].[材料構成展開集計ワーク]
   END

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[材料発注内示ワーク]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
   BEGIN
	DROP TABLE [dbo].[材料発注内示ワーク]
   END

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[材料発注内示仕掛ワーク]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
   BEGIN
	DROP TABLE [dbo].[材料発注内示仕掛ワーク]
   END

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[材料発注内示必要数結果テーブル]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
   BEGIN
	DROP TABLE [dbo].[材料発注内示必要数結果テーブル]
   END

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[材料発注内示結果テーブル]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
   BEGIN
	DROP TABLE [dbo].[材料発注内示結果テーブル]
   END

CREATE TABLE [dbo].[カレンダワーク] (
	[取引先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[受入] [VARCHAR] (2) COLLATE JAPANESE_CI_AS NOT NULL ,
	[年月] [VARCHAR] (6) COLLATE JAPANESE_CI_AS NOT NULL ,
	[末日] [TINYINT] NULL ,
	[稼働末日] [TINYINT] NULL ,
	[稼働区分] [VARCHAR] (31) COLLATE JAPANESE_CI_AS NULL ,
	[昼勤区分] [VARCHAR] (31) COLLATE JAPANESE_CI_AS NULL ,
	[夜勤区分] [VARCHAR] (31) COLLATE JAPANESE_CI_AS NULL 
) ON [PRIMARY]


CREATE TABLE [dbo].[材料展開在庫ワーク] (
	[材料管理番号] [INT] NOT NULL ,
	[月初有効在庫数] [DECIMAL](12, 3) NULL 
) ON [PRIMARY]


CREATE TABLE [dbo].[材料展開在庫品番ワーク] (
	[年月度] [VARCHAR] (6) COLLATE JAPANESE_CI_AS NOT NULL ,
	[材料管理番号] [INT] NOT NULL ,
	[在庫数] [DECIMAL](12, 3) NULL ,
	[実棚日] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NOT NULL ,
	[安全在庫数] [DECIMAL](12, 3) NULL 
) ON [PRIMARY]


CREATE TABLE [dbo].[材料構成展開ワーク] (
	[材料管理番号] [INT] NOT NULL ,
	[親手配先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[納期] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NOT NULL ,
	[数量] [DECIMAL](12, 3) NULL ,
	[引当後数量] [DECIMAL](12, 3) NULL ,
	[在庫管理区分] [TINYINT] NULL ,
	[在庫管理数値] [DECIMAL](8, 2) NULL 
) ON [PRIMARY]


CREATE TABLE [dbo].[材料構成展開集計ワーク] (
	[材料管理番号] [INT] NOT NULL ,
	[親手配先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[納期] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NOT NULL ,
	[数量] [DECIMAL](12, 3) NULL ,
	[引当後数量] [DECIMAL](12, 3) NULL ,
	[在庫管理区分] [TINYINT] NULL ,
	[月初有効在庫数] [DECIMAL](11, 3) NULL ,
	[件数] [INT] NULL 
) ON [PRIMARY]


CREATE TABLE [dbo].[材料発注内示ワーク] (
	[材料管理番号] [INT] NOT NULL ,
	[手配先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[受入] [VARCHAR] (2) COLLATE JAPANESE_CI_AS NOT NULL ,
	[直送先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[納期] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NOT NULL ,
	[指定納期] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NULL ,
	[仕掛日] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NULL ,
	[数量] [DECIMAL](12, 3) NULL ,
	[引当後数量] [DECIMAL](12, 3) NULL ,
	[係数1] [DECIMAL](3, 2) NULL ,
	[係数2] [DECIMAL](3, 2) NULL ,
	[係数3] [DECIMAL](3, 2) NULL ,
	[サイクル] [VARCHAR] (5) COLLATE JAPANESE_CI_AS NULL ,
	[LT] [TINYINT] NULL ,
	[ロット] [DECIMAL](9, 3) NULL ,
	[WEEK1] [TINYINT] NULL ,
	[WEEK2] [TINYINT] NULL ,
	[WEEK3] [TINYINT] NULL ,
	[WEEK4] [TINYINT] NULL ,
	[WEEK5] [TINYINT] NULL ,
	[DAY1] [TINYINT] NULL ,
	[DAY2] [TINYINT] NULL ,
	[DAY3] [TINYINT] NULL ,
	[DAY4] [TINYINT] NULL ,
	[DAY5] [TINYINT] NULL ,
	[手配区分] [VARCHAR] (1) COLLATE JAPANESE_CI_AS NULL ,
	[発注比率] [INT] NULL ,
	[発注比率計] [INT] NULL ,
	[件数] [INT] NULL ,
	[換算値] [DECIMAL](9, 3) NULL 
) ON [PRIMARY]


CREATE TABLE [dbo].[材料発注内示仕掛ワーク] (
	[材料管理番号] [INT] NOT NULL ,
	[手配先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[受入] [VARCHAR] (2) COLLATE JAPANESE_CI_AS NOT NULL ,
	[直送先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[納期] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NOT NULL ,
	[仕掛日] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NULL ,
	[発注日] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NULL ,
	[数量] [DECIMAL](12, 3) NULL ,
	[LT] [TINYINT] NULL ,
	[ロット] [DECIMAL](9, 3) NULL ,
	[WEEK1] [TINYINT] NULL ,
	[WEEK2] [TINYINT] NULL ,
	[WEEK3] [TINYINT] NULL ,
	[WEEK4] [TINYINT] NULL ,
	[WEEK5] [TINYINT] NULL ,
	[DAY1] [TINYINT] NULL ,
	[DAY2] [TINYINT] NULL ,
	[DAY3] [TINYINT] NULL ,
	[DAY4] [TINYINT] NULL ,
	[DAY5] [TINYINT] NULL ,
	[稼動カウント] [TINYINT] NULL ,
	[ロット端数] [DECIMAL](12, 3) NULL ,
	[処理番号] [INT] NULL 
) ON [PRIMARY]


CREATE TABLE [dbo].[材料発注内示必要数結果テーブル] (
	[内示年月] [VARCHAR] (6) COLLATE JAPANESE_CI_AS NOT NULL ,
	[材料管理番号] [INT] NOT NULL ,
	[手配先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[受入] [VARCHAR] (2) COLLATE JAPANESE_CI_AS NOT NULL ,
	[直送先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[納期] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NOT NULL ,
	[数量] [DECIMAL](12, 3) NULL ,
	[計画年月] [VARCHAR] (6) COLLATE JAPANESE_CI_AS NULL ,
	[作成者] [VARCHAR] (15) COLLATE JAPANESE_CI_AS NULL ,
	[作成日] [DATETIME] NULL ,
	[作成端末] [VARCHAR] (20) COLLATE JAPANESE_CI_AS NULL 
) ON [PRIMARY]


CREATE TABLE [dbo].[材料発注内示結果テーブル] (
	[内示年月] [VARCHAR] (6) COLLATE JAPANESE_CI_AS NOT NULL ,
	[材料管理番号] [INT] NOT NULL ,
	[手配先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[受入] [VARCHAR] (2) COLLATE JAPANESE_CI_AS NOT NULL ,
	[直送先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[納期] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NOT NULL ,
	[仕掛日] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NULL ,
	[手配日] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NULL ,
	[材質] [VARCHAR] (25) COLLATE JAPANESE_CI_AS NULL ,
	[寸法区分] [TINYINT] NULL ,
	[板厚] [DECIMAL](6, 2) NULL ,
	[幅] [DECIMAL](6, 2) NULL ,
	[長さ] [DECIMAL](6, 2) NULL ,
	[数量] [DECIMAL](12, 3) NULL ,
	[処理区分] [TINYINT] NULL ,
	[削除区分] [TINYINT] NULL ,
	[変更回数] [TINYINT] NULL ,
	[計画年月] [VARCHAR] (6) COLLATE JAPANESE_CI_AS NULL ,
	[作成者] [VARCHAR] (15) COLLATE JAPANESE_CI_AS NULL ,
	[作成日] [DATETIME] NULL ,
	[作成端末] [VARCHAR] (20) COLLATE JAPANESE_CI_AS NULL ,
	[更新者] [VARCHAR] (15) COLLATE JAPANESE_CI_AS NULL ,
	[更新日] [DATETIME] NULL ,
	[更新端末] [VARCHAR] (20) COLLATE JAPANESE_CI_AS NULL 
) ON [PRIMARY]


ALTER TABLE [dbo].[カレンダワーク] WITH NOCHECK ADD 
	CONSTRAINT [PK_カレンダワーク] PRIMARY KEY  CLUSTERED 
	(
		[取引先],
		[受入],
		[年月]
	) WITH  FILLFACTOR = 60  ON [PRIMARY] 


ALTER TABLE [dbo].[材料展開在庫ワーク] WITH NOCHECK ADD 
	CONSTRAINT [PK_材料展開在庫ワーク] PRIMARY KEY  CLUSTERED 
	(
		[材料管理番号]
	) WITH  FILLFACTOR = 60  ON [PRIMARY] 


ALTER TABLE [dbo].[材料展開在庫品番ワーク] WITH NOCHECK ADD 
	CONSTRAINT [PK_材料展開在庫品番ワーク] PRIMARY KEY  CLUSTERED 
	(
		[年月度],
		[材料管理番号]
	) WITH  FILLFACTOR = 60  ON [PRIMARY] 


ALTER TABLE [dbo].[材料構成展開ワーク] WITH NOCHECK ADD 
	CONSTRAINT [PK_材料構成展開ワーク] PRIMARY KEY  CLUSTERED 
	(
		[材料管理番号],
		[親手配先],
		[納期]
	) WITH  FILLFACTOR = 60  ON [PRIMARY] 


ALTER TABLE [dbo].[材料構成展開集計ワーク] WITH NOCHECK ADD 
	CONSTRAINT [PK_材料構成展開集計ワーク] PRIMARY KEY  CLUSTERED 
	(
		[材料管理番号],
		[親手配先],
		[納期]
	) WITH  FILLFACTOR = 60  ON [PRIMARY] 


ALTER TABLE [dbo].[材料発注内示ワーク] WITH NOCHECK ADD 
	CONSTRAINT [PK_材料発注内示ワーク] PRIMARY KEY  CLUSTERED 
	(
		[材料管理番号],
		[手配先],
		[受入],
		[直送先],
		[納期]
	) WITH  FILLFACTOR = 60  ON [PRIMARY] 


ALTER TABLE [dbo].[材料発注内示必要数結果テーブル] WITH NOCHECK ADD 
	CONSTRAINT [PK_材料発注内示必要数結果テーブル] PRIMARY KEY  CLUSTERED 
	(
		[内示年月],
		[材料管理番号],
		[手配先],
		[受入],
		[直送先],
		[納期]
	) WITH  FILLFACTOR = 90  ON [PRIMARY] 


ALTER TABLE [dbo].[材料発注内示結果テーブル] WITH NOCHECK ADD 
	CONSTRAINT [PK_材料発注内示結果テーブル] PRIMARY KEY  CLUSTERED 
	(
		[内示年月],
		[材料管理番号],
		[手配先],
		[受入],
		[直送先],
		[納期]
	) WITH  FILLFACTOR = 90  ON [PRIMARY] 


ALTER TABLE [dbo].[材料発注内示仕掛ワーク] ADD 
	CONSTRAINT [PK_材料発注内示仕掛ワーク] PRIMARY KEY  NONCLUSTERED 
	(
		[材料管理番号],
		[手配先],
		[受入],
		[直送先],
		[納期]
	) WITH  FILLFACTOR = 60  ON [PRIMARY]




GO
