USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[発注点データ抽出材料]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE  PROCEDURE [dbo].[発注点データ抽出材料]
					@ZAIST	VARCHAR(25),		-- 材質
					@ATSU	DECIMAL(6,2),		-- 板厚
					@HABA	DECIMAL(6,2),		-- 幅
					@NAGA	DECIMAL(6,2),		-- 長さ
					@TANT	VARCHAR(3),		-- 担当者
					@ZANSU	TINYINT,    	  	-- 発注残
					@ERR	TINYINT OUTPUT,		-- 処理結果
					@TCNT 	INT	OUTPUT		-- データ作成件数
AS
--*-----------------------------------------------------------------------------------------------*--
--*	発注点データ抽出材料
--*
--*	処理内容	材料マスタ在庫発注が '係数','発注点','日数'の時対象とし、
--*			現在庫が設定数を下回るデータの作成を行う。	
--*				
--*	ﾊﾟﾗﾒﾀ		@ZAIST  : 	材質
--*			@ATSU  	: 	板厚
--*			@HABA  	: 	幅
--*			@NAGA  	: 	長さ
--*			@TANT  	: 	担当者
--*			@ZANSU  : 	発注残　　0：含む、1:含まない
--*
--*	戻り値		@ERR     :      処理結果
--*					0  :正常終了
--*					≠0:異常終了
--*			@TCNT    :      発注点データ作成件数
--*
--*	Create Date	2004/11/22
--*
--*-----------------------------------------------------------------------------------------------*--
SET NOCOUNT ON

-- TEST  
-- DECLARE @ZANSU	TINYINT
-- DECLARE @ERR	TINYINT
-- DECLARE @TCNT   	INT
-- 
-- SELECT @ZANSU = 1

-- T
-- 初期値セット
SELECT @TCNT = 0,@ERR = 0
-- *----------------------*
-- * ワークエリア定義		    *
-- *----------------------*
DECLARE @W_SETSU		DECIMAL(11,3)	-- 設定数
DECLARE @W_ZAISU		DECIMAL(11,3)	-- 現在庫数
DECLARE @W_YSU			DECIMAL(11,3)	-- 発注予定数(退避用)
DECLARE @W_HSU			DECIMAL(11,3)	-- 発注予定数
DECLARE @W_SRYO			DECIMAL(11,3)	-- 所要量
DECLARE @W_SYUYO		DECIMAL(11,3)	-- 収容数 
DECLARE @W_LOT			DECIMAL(11,3)	-- 発注ロット
DECLARE @W_YMD			VARCHAR(8)	-- システム日付
DECLARE @W_HZAN			DECIMAL(11,3)	-- 発注残
DECLARE @W_JYMD			VARCHAR(8)	-- 実棚日
DECLARE @W_SURYO		DECIMAL(11,3)	-- 数量計算ワーク
DECLARE @W_KADO			DECIMAL(3,1)	--稼動日数ワーク

DECLARE	@W_YMZEN		VARCHAR(6)	-- システム日付前月
DECLARE	@W_ZKYM			VARCHAR(6)	-- 在庫年月度
DECLARE	@S_ZAIST		VARCHAR(25)	-- 材質(抽出条件)
DECLARE	@S_TANT			VARCHAR(3)	-- 担当(抽出条件)
DECLARE	@S_ATSU_S		DECIMAL(6,2)	-- 板厚(抽出条件)開始
DECLARE	@S_ATSU_E		DECIMAL(6,2)	-- 板厚(抽出条件)終了
DECLARE	@S_HABA_S		DECIMAL(6,2)	-- 幅　(抽出条件)開始
DECLARE	@S_HABA_E		DECIMAL(6,2)	-- 幅　(抽出条件)終了
DECLARE	@S_NAGA_S		DECIMAL(6,2)	-- 長さ(抽出条件)開始
DECLARE	@S_NAGA_E		DECIMAL(6,2)	-- 長さ(抽出条件)終了

SELECT	@W_YMD = CONVERT(VARCHAR(8),GetDate(),112),
	@W_YMZEN = CONVERT(VARCHAR(8),DATEADD( M , -1, GetDate() ),112),
	@S_ZAIST = REPLACE( @ZAIST, '*', '%' ),
	@S_TANT  = @TANT,
	@S_ATSU_S = @ATSU, @S_HABA_S = @HABA, @S_NAGA_S = @NAGA

SELECT	@S_ZAIST  = CASE WHEN @S_ZAIST = '' THEN '%'     ELSE @S_ZAIST END,
	@S_TANT   = CASE WHEN @S_TANT  = '' THEN '%'     ELSE @S_TANT  END,
	@S_ATSU_E = CASE WHEN @ATSU = 0     THEN 9999.99 ELSE @ATSU    END,
	@S_HABA_E = CASE WHEN @HABA = 0     THEN 9999.99 ELSE @HABA    END,
	@S_NAGA_E = CASE WHEN @NAGA = 0     THEN 9999.99 ELSE @NAGA    END

---------------------------------
-- 材料発注点発注ワーク  初期化
---------------------------------
DELETE 材料発注点発注ワーク
	WHERE 処理端末 = Host_Name()
IF @@ERROR <> 0 BEGIN SELECT @ERR = 1 GOTO PROC_ERROR END

-- *---------------------*
-- * カーソル用項目 定義 *
-- *---------------------*
DECLARE @HN_ZKNO			INT			-- 材料管理番号
DECLARE @HN_ZAIKB		VARCHAR(1)		-- 在庫管理区分
DECLARE @HN_ZAIKSU		DECIMAL(3,0)		-- 在庫係数
DECLARE @HN_ZAIDAY		DECIMAL(3,1)		-- 在庫日数
DECLARE @HN_ZAISU		DECIMAL(11,3)	-- 在庫発注点
DECLARE @HN_SETSU		DECIMAL(11,3)	-- 設定数
DECLARE @HN_ZAI			VARCHAR(25)		-- 材質
DECLARE @HN_ITA			DECIMAL(6,2)		-- 板厚
DECLARE @HN_HABA			DECIMAL(6,2)		-- 幅
DECLARE @HN_NAGASA		DECIMAL(6,2)		-- 長さ

DECLARE @HT_TORCD		VARCHAR(7)  	-- 仕入先
DECLARE @HT_UKEIR		VARCHAR(2)  	-- 受入
DECLARE @HT_SYUYO1		DECIMAL(11,3)	-- 収容数1
DECLARE @HT_LOT1			DECIMAL(11,3)	-- 発注ロット1
DECLARE @HT_SYUYO2		DECIMAL(11,3)	-- 収容数2
DECLARE @HT_LOT2			DECIMAL(11,3)	-- 発注ロット2
DECLARE @HT_HYMD		VARCHAR(8)		-- 変更日
-- *-----------------------------------------*
-- * 対象材料　カーソル定義 *
-- *-----------------------------------------*
DECLARE HNCUR SCROLL CURSOR
FOR 
	SELECT HN.材料管理番号,HN.在庫管理区分,
		  HN.在庫管理係数,HN.在庫管理日数,HN.在庫管理発注点,ISNULL(HN.設定数,0) 設定数, 	
		  HN.材質,HN.板厚,HN.幅,HN.長さ,
		  HT.取引先,HT.受入,
		  HT.収容数1,HT.ロット1, HT.収容数2,HT.ロット2,HT.変更日
		From 材料マスタ HN
		Left Outer Join 材料取引先マスタ HT
			ON   HT.材料管理番号 = HN.材料管理番号
		WHERE HN.在庫管理区分 IN ('2','3','4')
		    AND ISNULL(HT.材質,'') <> ''
		    AND HN.材質    LIKE @S_ZAIST
--		    AND HN.担当者  LIKE @S_TANT
		    AND HN.板厚 BETWEEN @S_ATSU_S AND @S_ATSU_E
		    AND HN.幅   BETWEEN @S_HABA_S AND @S_HABA_E
		    AND HN.長さ BETWEEN @S_NAGA_S AND @S_NAGA_E
FOR READ ONLY
-- *-------------------*
-- * カーソル オープン *
-- *-------------------*
OPEN HNCUR

-- *------------*
-- * データ読込 *
-- *------------*
FETCH NEXT FROM HNCUR INTO	
			@HN_ZKNO,@HN_ZAIKB,
			@HN_ZAIKSU,@HN_ZAIDAY,@HN_ZAISU,@HN_SETSU,
			@HN_ZAI,@HN_ITA,@HN_HABA,@HN_NAGASA,
			@HT_TORCD,@HT_UKEIR,
			@HT_SYUYO1,@HT_LOT1,@HT_SYUYO2,@HT_LOT2,@HT_HYMD
WHILE @@FETCH_STATUS = 0
   BEGIN
	SELECT @W_SRYO = 0
	SELECT @W_SETSU = 0
	SELECT @W_ZAISU = 0
	--///////////////
	-- 所要量を求める
	--///////////////
	SELECT @W_SRYO = 0
	SELECT @W_SRYO = SUM(数量)
			From 材料発注内示必要数テーブル
			Where 内示年月 = Substring(@W_YMD,1,6)
			    And 内示年月 = 計画年月
			    And 材料管理番号   =  @HN_ZKNO
	IF ISNULL(@W_SRYO,0) = 0
	   BEGIN
	      SELECT @W_SRYO = 0
	   END	
	
	--///////////////
	-- 在庫設定数を求める
	--///////////////
	IF @W_SETSU = 0 
	   BEGIN
 		IF @HN_ZAIKB = '2'	-- 係数
 		   BEGIN
			IF @W_SRYO <> 0 And @HN_ZAIKSU <> 0
			   BEGIN
				SELECT @W_SETSU =  @W_SRYO * ( @HN_ZAIKSU / 100 )
			   END
 		   END
 		IF @HN_ZAIKB = '3'	-- 発注点
		   BEGIN
			SELECT @W_SETSU = @HN_ZAISU
		   END
 		IF @HN_ZAIKB = '4'	-- 日数
 		   BEGIN
			SELECT @W_KADO = 0
			Select @W_KADO = 稼動日数 From カレンダマスタ
					Where 取引先 = ''
					   AND 受入 = ''
					   AND 年 = SUBSTRING( @W_YMD, 1, 4 )
					   AND 月 = SUBSTRING( @W_YMD, 5, 2 )
					   AND 取引先区分 = 1
			IF @W_SRYO <> 0 And @W_KADO <> 0 And @HN_ZAIDAY <> 0
			   BEGIN
				SELECT @W_SETSU =  @W_SRYO / @W_KADO * @HN_ZAIDAY
 			   END
		   END

		-- 材料マスタ　設定数更新
		IF @W_SETSU <> @HN_SETSU
		   BEGIN
			UPDATE 材料マスタ SET
				設定数 = @W_SETSU
				Where 材料管理番号 = @HN_ZKNO
			IF @@ERROR <> 0 	BEGIN	SELECT @ERR = 10	GOTO PROC_ERROR	END 
		   END	
	   END
	--///////////////
	--  現在庫を求める
	--///////////////
	-- 在庫マスタより在庫を求める
	SELECT	@W_ZAISU = 0, @W_JYMD = '', @W_ZKYM = ''
	SELECT	TOP 1
		@W_ZAISU = 在庫数, @W_JYMD = 実棚日, @W_ZKYM = 年月度
		From 材料在庫マスタ
		Where 年月度 IN ( @W_YMZEN, Substring(@W_YMD,1,6) )
		    And 材料管理番号 = @HN_ZKNO
		ORDER BY 年月度 DESC

	IF ISNULL( @W_ZKYM, '' ) = ''
	   BEGIN
		SELECT @W_ZAISU = 0
		SELECT @W_JYMD = @W_YMZEN + '00'
	   END
	ELSE
	   BEGIN
		IF ISNULL( @W_JYMD, '' ) = ''
		   BEGIN
			SELECT @W_JYMD = @W_ZKYM + '00'
		   END
	   END
/*
	SELECT @W_ZAISU = 0
	SELECT @W_ZAISU = 在庫数,@W_JYMD = 実棚日
		From 材料在庫マスタ
		Where 年月度 = Substring(@W_YMD,1,6)
		    And 材料管理番号 = @HN_ZKNO
	IF ISNULL(@W_ZAISU,0) = 0
	   BEGIN
	      SELECT @W_ZAISU = 0
	      SELECT @W_JYMD = Substring(@W_YMD,1,6) + '00'
	   END	
*/
	-- 材料入荷テーブル(加算)
	SELECT @W_SURYO = 0
	SELECT @W_SURYO = SUM(入荷数)
			  From 材料発注テーブル HC  ( NoLock)
			   Left Outer Join 材料入荷テーブル NK  ( NoLock)
			     ON NK.発注管理NO = HC.発注管理NO
			  Where HC.材料管理番号   = @HN_ZKNO
			     And ISNULL(NK.入荷日,'') <> ''
			     And ISNULL(NK.入荷日,'') > @W_JYMD
			     And ISNULL(NK.入荷日,'') <= @W_YMD
--			     And ISNULL(NK.入荷日,'') <= @W_JYMD
	IF ISNULL(@W_SURYO,0) <> 0
	   BEGIN
	      SELECT @W_ZAISU = @W_ZAISU + @W_SURYO
	   END	
	-- 材料実績管理テーブル(入庫：加算、入庫以外/出庫･支給：減算)
	SELECT @W_SURYO = 0
	SELECT @W_SURYO = SUM(CASE WHEN 実績区分 = 1 Then 実績数
					         WHEN 実績区分 <> 1 THEN 実績数 * -1
					ELSE 0 END )
			  From 材料実績管理テーブル ( NoLock)
			  Where 材質 = @HN_ZAI
			     And  板厚 = @HN_ITA
			     And  幅    = @HN_HABA
			     And  長さ = @HN_NAGASA
			     And  実績日 > @W_JYMD
			     And  実績日 <= @W_YMD
	IF ISNULL(@W_SURYO,0) <> 0
	   BEGIN
	      SELECT @W_ZAISU = @W_ZAISU + @W_SURYO
	   END	
	--///////////////
	-- 発注残含む
	--///////////////
	IF @ZANSU = 0 
	   BEGIN
   	          SELECT @W_HZAN = 0

		SELECT  @W_HZAN = SUM(発注数)
			  From 材料発注テーブル HC  ( NoLock)
			   Left Outer Join 材料入荷テーブル NK  ( NoLock)
			     ON NK.発注管理NO = HC.発注管理NO
			  Where HC.材料管理番号 = @HN_ZKNO
			     And  HC.仕入先  = @HT_TORCD
			     AND HC.受入     = @HT_UKEIR
			     And ISNULL(NK.入荷日,'') = ''
		IF @W_HZAN IS Null
		   BEGIN	
		      SELECT @W_HZAN = 0
		   END	
		SELECT @W_ZAISU = @W_ZAISU + @W_HZAN
	   END
	--*--------------------*
	--* 材料発注点発注ワーク 出力   *
	--*--------------------*
	IF @W_ZAISU < @W_SETSU
	   BEGIN
		-----------------
		-- 発注予定数計算
		-----------------
		IF @HT_HYMD <> ''
		    BEGIN
			IF @HT_HYMD > @W_YMD
			   BEGIN
				SELECT @W_SYUYO = @HT_SYUYO1
				SELECT @W_LOT  = @HT_LOT1
			   END
			ELSE
			   BEGIN
				SELECT @W_SYUYO = @HT_SYUYO2
				SELECT @W_LOT  = @HT_LOT2
			   END
		    END
		ELSE
		    BEGIN
			SELECT @W_SYUYO = @HT_SYUYO1
			SELECT @W_LOT  = @HT_LOT1
		    END

		IF @W_LOT <> 0 
		   BEGIN
			SELECT @W_SYUYO = @W_LOT
		   END	

		SELECT @W_YSU = @W_SETSU - @W_ZAISU
		SELECT @W_HSU = 0
		IF @W_SYUYO = 0 
		   BEGIN
			SELECT @W_HSU = @W_YSU
		   END
		ELSE
		   BEGIN
			WHILE @W_HSU < @W_YSU
			   BEGIN
				SELECT @W_HSU = @W_HSU + @W_SYUYO
			   END
		   END

		Insert Into 材料発注点発注ワーク
			   ([処理端末], [材料管理番号], [仕入先], [受入], 
			    [現在庫数], [発注予定数],[所要量], 
			    [作成日])
			VALUES 
			   (HOST_NAME(),@HN_ZKNO,@HT_TORCD,@HT_UKEIR,
			    @W_ZAISU,@W_HSU,@W_SRYO,
			    Getdate() )	
		IF @@ERROR <> 0 	BEGIN	SELECT @ERR = 90	GOTO PROC_ERROR	END 
		SELECT @TCNT = @TCNT + 1
	   END

-- 	*--------------*
-- 	* 次データ読込  *
-- 	*--------------*
	FETCH NEXT FROM HNCUR INTO	
				@HN_ZKNO,@HN_ZAIKB,
				@HN_ZAIKSU,@HN_ZAIDAY,@HN_ZAISU,@HN_SETSU,
				@HN_ZAI,@HN_ITA,@HN_HABA,@HN_NAGASA,
				@HT_TORCD,@HT_UKEIR,
				@HT_SYUYO1,@HT_LOT1,@HT_SYUYO2,@HT_LOT2,@HT_HYMD
   END	--@@FETCH_STATUS = 0
-- *-------------------*
-- * カーソル クローズ *
-- *-------------------*
CLOSE HNCUR
DEALLOCATE HNCUR

------------------------------
--         終 了　
------------------------------
END_PROC:
--T
-- SELECT '作成件数 = ' + CONVERT(CHAR(5),@TCNT)  
--T
RETURN(0)

------------------------------
--    エラー処理
------------------------------
PROC_ERROR:
--T
-- IF @ERR <> 0 
--    BEGIN
-- 	SELECT 'ERR=' + CONVERT(CHAR(2),@ERR)
--    END
--T END

RETURN(@ERR)



GO
