USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[発注点データ抽出]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[発注点データ抽出]  
					@HINBN	VARCHAR(25),	-- 品番
					@TANT	VARCHAR(3),		-- 担当者
					@ZANSU	TINYINT,    	  	-- 発注残
					@ERR		TINYINT OUTPUT,	-- 処理結果
					@TCNT 	INT     OUTPUT	-- データ作成件数
AS
--*-----------------------------------------------------------------------------------------------*--
--*	発注点データ抽出
--*
--*	処理内容	品番マスタ在庫発注が '係数','発注点','日数'の時対象品番とし、
--*			現在庫が設定数を下回るデータの作成を行う。	
--*				
--*	ﾊﾟﾗﾒﾀ		@HINBN  : 	品番
--*			@TANT   : 	担当者
--*			@ZANSU : 	発注残　　0：含む、1:含まない
--*
--*	戻り値		@ERR     :      処理結果
--*					0  :正常終了
--*					≠0:異常終了
--*			@TCNT    :      発注点データ作成件数
--*
--*	Create Date	2004/11/22
--*
--*-----------------------------------------------------------------------------------------------*--
SET NOCOUNT ON

-- TEST  
-- DECLARE @ZANSU	TINYINT
-- DECLARE @ERR	TINYINT
-- DECLARE @TCNT   	INT
-- 
-- SELECT @ZANSU = 1

-- T
-- 初期値セット
SELECT @TCNT = 0,@ERR = 0
-- *----------------------*
-- * ワークエリア定義	  *
-- *----------------------*
DECLARE @W_SETSU		INT		-- 設定数
DECLARE @W_ZAISU			INT		-- 現在庫数
DECLARE @W_YSU			INT		-- 発注予定数(退避用)
DECLARE @W_HSU			INT		-- 発注予定数
DECLARE @W_SRYO			INT		-- 所要量
DECLARE @W_SYUYO		INT		-- 収容数 
DECLARE @W_LOT			INT		-- 発注ロット
DECLARE @W_YMD			VARCHAR(8)	-- システム日付
DECLARE @W_HZAN			INT		-- 発注残
DECLARE @W_JYMD			VARCHAR(8)	-- 実棚日
DECLARE @W_SURYO		INT		-- 数量計算ワーク
DECLARE @W_KADO			DECIMAL(3,1)	-- 稼動日数ワーク
DECLARE @W_YMZEN		VARCHAR(6)	-- システム日付前月
DECLARE @W_ZKYM			VARCHAR(6)	-- 在庫年月度
DECLARE @S_HINBN			VARCHAR(25)	-- 品番(抽出条件)
DECLARE @S_TANT			VARCHAR(3)	-- 担当(抽出条件)

SELECT	@W_YMD = CONVERT(VARCHAR(8),GetDate(),112),
	@W_YMZEN = CONVERT(VARCHAR(8),DATEADD( M , -1, GetDate() ),112),
	@S_HINBN = REPLACE( @HINBN, '*', '%' ),
	@S_TANT  = @TANT

SELECT	@S_HINBN = CASE WHEN @S_HINBN = '' THEN '%' ELSE @S_HINBN END,
	@S_TANT  = CASE WHEN @S_TANT  = '' THEN '%' ELSE @S_TANT  END

SELECT	@S_HINBN, @S_TANT
---------------------------------
-- 発注点発注ワーク  初期化
---------------------------------
DELETE 発注点発注ワーク
	WHERE 処理端末 = Host_Name()
IF @@ERROR <> 0 BEGIN SELECT @ERR = 1 GOTO PROC_ERROR END

-- *---------------------*
-- * カーソル用項目 定義 *
-- *---------------------*
DECLARE @HN_HINBN		VARCHAR(25)	-- 品番
DECLARE @HN_ZAIKB		VARCHAR(1)	-- 在庫管理区分
DECLARE @HN_ZAIKSU		DECIMAL(3,0)	-- 在庫係数
DECLARE @HN_ZAIDAY		DECIMAL(3,1)	-- 在庫日数
DECLARE @HN_ZAISU		INT		-- 在庫発注点
DECLARE @HN_SETSU		INT		-- 設定数

DECLARE @HT_TORCD		VARCHAR(7)  	-- 仕入先
DECLARE @HT_UKEIR		VARCHAR(2)  	-- 受入
DECLARE @HT_SYUYO1		INT		-- 収容数1
DECLARE @HT_LOT1			INT	-- 発注ロット1
DECLARE @HT_SYUYO2		INT		-- 収容数2
DECLARE @HT_LOT2			INT	-- 発注ロット2
DECLARE @HT_HYMD		VARCHAR(8)	-- 変更日
-- *-----------------------------------------*
-- * 対象品番　カーソル定義 *
-- *-----------------------------------------*
DECLARE HNCUR SCROLL CURSOR
FOR 
	SELECT HN.品番,HN.在庫管理区分,
		  HN.在庫係数,HN.在庫日数,HN.在庫発注点,ISNULL(HN.設定数,0) 設定数, 	
		  HT.取引先,HT.受入,
		  HT.収容数1,HT.ロット1, HT.収容数2,HT.ロット2,HT.変更日
		From 品番マスタ HN
		Left Outer Join 品番取引先マスタ HT
			ON   HT.品番 = HN.品番
			AND HT.品目 = 1
		WHERE HN.在庫管理区分 IN ('2','3','4')
		    AND ISNULL(HT.品番,'') <> ''
		    AND HN.品番 LIKE @S_HINBN
		    AND HN.担当 LIKE @S_TANT

FOR READ ONLY
-- *-------------------*
-- * カーソル オープン *
-- *-------------------*
OPEN HNCUR

-- *------------*
-- * データ読込 *
-- *------------*
FETCH NEXT FROM HNCUR INTO	
			@HN_HINBN,@HN_ZAIKB,
			@HN_ZAIKSU,@HN_ZAIDAY,@HN_ZAISU,@HN_SETSU,
			@HT_TORCD,@HT_UKEIR,
			@HT_SYUYO1,@HT_LOT1,@HT_SYUYO2,@HT_LOT2,@HT_HYMD
WHILE @@FETCH_STATUS = 0
   BEGIN
	SELECT @W_SRYO = 0
	SELECT @W_SETSU = 0
	SELECT @W_ZAISU = 0
	--///////////////
	-- 所要量を求める
	--///////////////
	SELECT @W_SRYO = 0

	SELECT @W_SRYO = SUM(数量)
			From 発注内示必要数テーブル
			Where 内示年月 = Substring(@W_YMD,1,6)
			    And 内示年月 = 計画年月
			    And 品番       =  @HN_HINBN
	IF ISNULL(@W_SRYO,0) = 0
	   BEGIN
	      SELECT @W_SRYO = 0
	   END	
	
	--///////////////
	-- 在庫設定数を求める
	--///////////////
--	SELECT @W_SETSU = @HN_SETSU
	IF @W_SETSU = 0 
	   BEGIN
 		IF @HN_ZAIKB = '2'	-- 係数
 		   BEGIN
			IF @W_SRYO <> 0 And @HN_ZAIKSU <> 0
			   BEGIN
				SELECT @W_SETSU = CEILING( @W_SRYO * ( @HN_ZAIKSU / 100 ) )
			   END
 		   END
 		IF @HN_ZAIKB = '3'	-- 発注点
		   BEGIN
			SELECT @W_SETSU = @HN_ZAISU
		   END
 		IF @HN_ZAIKB = '4'	-- 日数
 		   BEGIN
			SELECT @W_KADO = 0
			Select @W_KADO = 稼動日数 From カレンダマスタ
					Where 取引先 = ''
					   AND 受入 = ''
					   AND 年 = SUBSTRING( @W_YMD, 1, 4 )
					   AND 月 = SUBSTRING( @W_YMD, 5, 2 )
					   AND 取引先区分 = 1
			IF @W_SRYO <> 0 And @W_KADO <> 0 And @HN_ZAIDAY <> 0
			   BEGIN
				SELECT @W_SETSU = CEILING( @W_SRYO / @W_KADO * @HN_ZAIDAY )
 			   END
		   END

		-- 品番マスタ　設定数更新
		IF @W_SETSU <> @HN_SETSU
		   BEGIN
			UPDATE 品番マスタ SET
				設定数 = @W_SETSU
				Where 品番 = @HN_HINBN
			IF @@ERROR <> 0 	BEGIN	SELECT @ERR = 10	GOTO PROC_ERROR	END 
		   END	
	   END

	--///////////////
	--  現在庫を求める
	--///////////////
	-- 在庫マスタより在庫を求める
	SELECT	@W_ZAISU = 0, @W_JYMD = '', @W_ZKYM = ''
	SELECT	TOP 1
		@W_ZAISU = 在庫数, @W_JYMD = 実棚日, @W_ZKYM = 年月度
		From 在庫マスタ
		Where 年月度 IN ( @W_YMZEN, Substring(@W_YMD,1,6) )
		    And 品番 = @HN_HINBN
		ORDER BY 年月度 DESC

	IF ISNULL( @W_ZKYM, '' ) = ''
	   BEGIN
		SELECT @W_ZAISU = 0
		SELECT @W_JYMD = @W_YMZEN + '00'
	   END
	ELSE
	   BEGIN
		IF ISNULL( @W_JYMD, '' ) = ''
		   BEGIN
			SELECT @W_JYMD = @W_ZKYM + '00'
		   END
	   END

/*
	SELECT @W_ZAISU = 0
	SELECT @W_ZAISU = 在庫数,@W_JYMD = 実棚日
		From 在庫マスタ
		Where 年月度 = Substring(@W_YMD,1,6)
		    And 品番 = @HN_HINBN
	IF ISNULL(@W_ZAISU,0) = 0
	   BEGIN
	      SELECT @W_ZAISU = 0
	      SELECT @W_JYMD = Substring(@W_YMD,1,6) + '00'
	   END	
*/
	-- 入荷テーブル(加算)
	SELECT @W_SURYO = 0
	SELECT @W_SURYO = SUM(入荷数)
			  From 発注テーブル HC  ( NoLock)
			   Left Outer Join 入荷テーブル NK  ( NoLock)
			     ON NK.発注管理NO = HC.発注管理NO
			  Where HC.品番     = @HN_HINBN
			     And ISNULL(NK.入荷日,'') <> ''
			     And ISNULL(NK.入荷日,'') > @W_JYMD
			     And ISNULL(NK.入荷日,'') <= @W_YMD
--			     And ISNULL(NK.入荷日,'') <= @W_JYMD
	IF ISNULL(@W_SURYO,0) <> 0
	   BEGIN
	      SELECT @W_ZAISU = @W_ZAISU + @W_SURYO
	   END	
	-- 実績管理テーブル(入庫：加算、入庫以外/出庫･支給：減算)
	SELECT @W_SURYO = 0
	SELECT @W_SURYO = SUM(CASE WHEN 実績区分 = 1 Then 実績数
					         WHEN 実績区分 <> 1 THEN 実績数 * -1
					ELSE 0 END )
			  From 実績管理テーブル ( NoLock)
			  Where 品番     = @HN_HINBN
			     And  実績日 > @W_JYMD
			     And  実績日 <= @W_YMD
	IF ISNULL(@W_SURYO,0) <> 0
	   BEGIN
	      SELECT @W_ZAISU = @W_ZAISU + @W_SURYO
	   END	
	-- 出荷テーブル(減算)
	SELECT @W_SURYO = 0
	SELECT @W_SURYO = SUM(出荷数)
			  From 受注テーブル JY  ( NoLock)
			   Left Outer Join 出荷テーブル SK  ( NoLock)
			     ON SK.出荷指示書NO = JY.出荷指示書NO
			     AND SK.出荷指示書行NO = JY.出荷指示書行NO
			  Where JY.品番     = @HN_HINBN
			     And ISNULL(SK.出荷日,'') <> ''
			     And ISNULL(SK.出荷日,'') > @W_JYMD
			     And ISNULL(SK.出荷日,'') <= @W_YMD
	IF ISNULL(@W_SURYO,0) <> 0
	   BEGIN
	      SELECT @W_ZAISU = @W_ZAISU - @W_SURYO
	   END	
	--///////////////
	-- 発注残含む
	--///////////////
	IF @ZANSU = 0 
	   BEGIN
   	          SELECT @W_HZAN = 0

		SELECT  @W_HZAN = SUM(発注数)
			  From 発注テーブル HC  ( NoLock)
			   Left Outer Join 入荷テーブル NK  ( NoLock)
			     ON NK.発注管理NO = HC.発注管理NO
			  Where HC.品番     = @HN_HINBN
			     And  HC.仕入先  = @HT_TORCD
			     AND HC.受入     = @HT_UKEIR
			     And ISNULL(NK.入荷日,'') = ''
		IF @W_HZAN IS Null
		   BEGIN	
		      SELECT @W_HZAN = 0
		   END	
		SELECT @W_ZAISU = @W_ZAISU + @W_HZAN
	   END
	--*--------------------*
	--* 発注点発注ワーク 出力   *
	--*--------------------*
	IF @W_ZAISU < @W_SETSU
	   BEGIN
		-----------------
		-- 発注予定数計算
		-----------------
		IF @HT_HYMD <> ''
		    BEGIN
			IF @HT_HYMD > @W_YMD
			   BEGIN
				SELECT @W_SYUYO = @HT_SYUYO1
				SELECT @W_LOT  = @HT_LOT1
			   END
			ELSE
			   BEGIN
				SELECT @W_SYUYO = @HT_SYUYO2
				SELECT @W_LOT  = @HT_LOT2
			   END
		    END
		ELSE
		    BEGIN
			SELECT @W_SYUYO = @HT_SYUYO1
			SELECT @W_LOT  = @HT_LOT1
		    END

		IF @W_LOT <> 0 
		   BEGIN
			SELECT @W_SYUYO = @W_LOT
		   END	

		SELECT @W_YSU = @W_SETSU - @W_ZAISU
		SELECT @W_HSU = 0
		IF @W_SYUYO = 0 
		   BEGIN
			SELECT @W_HSU = @W_YSU
		   END
		ELSE
		   BEGIN
			WHILE @W_HSU < @W_YSU
			   BEGIN
				SELECT @W_HSU = @W_HSU + @W_SYUYO
			   END
		   END

		Insert Into 発注点発注ワーク
			   ([処理端末], [品番], [仕入先], [受入], 
			    [現在庫数], [発注予定数],[所要量], 
			    [作成日])
			VALUES 
			   (HOST_NAME(),@HN_HINBN,@HT_TORCD,@HT_UKEIR,
			    @W_ZAISU,@W_HSU,@W_SRYO,
			    Getdate() )	
		IF @@ERROR <> 0 	BEGIN	SELECT @ERR = 90	GOTO PROC_ERROR	END 
		SELECT @TCNT = @TCNT + 1
	   END

-- 	*--------------*
-- 	* 次データ読込  *
-- 	*--------------*
	FETCH NEXT FROM HNCUR INTO	
				@HN_HINBN,@HN_ZAIKB,
				@HN_ZAIKSU,@HN_ZAIDAY,@HN_ZAISU,@HN_SETSU,
				@HT_TORCD,@HT_UKEIR,
				@HT_SYUYO1,@HT_LOT1,@HT_SYUYO2,@HT_LOT2,@HT_HYMD
   END	--@@FETCH_STATUS = 0
-- *-------------------*
-- * カーソル クローズ *
-- *-------------------*
CLOSE HNCUR
DEALLOCATE HNCUR

------------------------------
--         終 了　
------------------------------
END_PROC:
--T
-- SELECT '作成件数 = ' + CONVERT(CHAR(5),@TCNT)  
--T
RETURN(0)

------------------------------
--    エラー処理
------------------------------
PROC_ERROR:
--T
-- IF @ERR <> 0 
--    BEGIN
-- 	SELECT 'ERR=' + CONVERT(CHAR(2),@ERR)
--    END
--T END

RETURN(@ERR)





GO
