USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[売上予想作成]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE      PROCEDURE [dbo].[売上予想作成] (@NJYM VARCHAR(06),@KEIYAKU VARCHAR(07),
				@NJTCNT INT OUTPUT,@HTMCNT INT OUTPUT,
				@TNMCNT INT OUTPUT,@UYTCNT INT OUTPUT,@NJZCNT INT OUTPUT) AS
--*----------------------------------------------------------------------------------------*--
--*	内示テーブルより売上予想データ作成
--*         
--*	
--*	処理内容	1.内示テーブルより対象年月データ抽出	
--*			2.品番取引先マスタの登録ﾁｪｯｸ		品番未登録ﾘｽﾄﾃﾞｰﾀ作成
--*			3.単価マスタの登録ﾁｪｯｸ			単価未決ﾘｽﾄﾃﾞｰﾀ作成
--*			4.前月内示あり当月内示なしの作成
--*			5.売上予想テーブル作成
--*	
--*	ﾊﾟﾗﾒﾀ	:	@NJYM	･･	対象内示年月	
--*	
--*	戻り値	:	@NJTCNT	･･	対象内示データ件数
--*			@HNMCNT	･･	品番未登録リストデータ件数
--*			@TNMCNT	･･	単価未決リストデータ件数
--*			@UYTCNT	･･	売上予想テーブル出力件数
--*	
--*	作成日  :	2004/10/28
--*     変更日  :  	
--*			
--*----------------------------------------------------------------------------------------*--
--*TEST
--DECLARE @NJYM VARCHAR(06),@KEIYAKU VARCHAR(07)
--DECLARE @NJTCNT INT,@HTMCNT INT,@TNMCNT INT,@UYTCNT INT

--SELECT @NJYM = '200312'
--SELECT @KEIYAKU = ''
--*TEST

--* ワーク領域
DECLARE @NJYMD1 VARCHAR(08),@NJYMD2 VARCHAR(08),@NJYMD3 VARCHAR(08)
DECLARE @NJZYM VARCHAR(06)

DECLARE @ERR TINYINT	-- エラーコード

DECLARE @WCNT   INT
-- --* 単価参照ﾜｰｸ
DECLARE @KYMD   VARCHAR(08)	-- 単価参照 対象日付
DECLARE @TANK    DECIMAL(9,2)	-- 単価
DECLARE @TKBN    VARCHAR(1)	-- 単価決定フラグ
DECLARE @TSYMD  VARCHAR(8)	-- 適用開始日付
DECLARE @RNO      INT		-- 履歴NO		
-- --* 単価ﾜｰｸ
DECLARE @TN_CNT TINYINT,@TN_SURYO INT
DECLARE @TN_SYMD VARCHAR(08),@TN_EYMD VARCHAR(08)
DECLARE @CNT TINYINT
--* 印刷ワーク領域
DECLARE @PDATE 	VARCHAR(10)	-- 作成日
DECLARE @PTIME	VARCHAR(5)	-- 作成時間
DECLARE @YOUIN VARCHAR(20)	-- 要因


SET NOCOUNT ON

/*   当月･翌月･翌々月    */
SELECT @NJYMD1 = @NJYM + '01'
SELECT @NJYMD2 = CONVERT(VARCHAR(08),DATEADD(mm,1,CONVERT(DATETIME,@NJYMD1)),112)
SELECT @NJYMD3 = CONVERT(VARCHAR(08),DATEADD(mm,2,CONVERT(DATETIME,@NJYMD1)),112)
SELECT @NJZYM = SUBSTRING(CONVERT(VARCHAR(08),DATEADD(mm,-1,CONVERT(DATETIME,@NJYMD1)),112),1,6)

/*   リターン情報初期化    */
SELECT @NJTCNT = 0,@HTMCNT = 0,@TNMCNT = 0,@UYTCNT = 0,@NJZCNT = 0

SELECT @KEIYAKU = RTRIM(@KEIYAKU) + '%'

--* 処理日付･時間
SELECT @PDATE = CONVERT(VARCHAR(10),GETDATE(),111)
SELECT @PTIME = CONVERT(VARCHAR(5),GETDATE(),108)
--*------------------------------------*--
--*	 初期処理
--*------------------------------------*--
--* 売上予想ワーク削除
DELETE FROM 売上予想ワーク
IF @@ERROR <> 0 BEGIN SELECT @ERR = 2   GOTO PROC_ERR 	END
--* 売上単価未登録テーブル削除
DELETE FROM 売上予想未登録テーブル
IF @@ERROR <> 0 BEGIN SELECT @ERR = 3   GOTO PROC_ERR 	END
--* 売上予想未決テーブル削除
DELETE FROM 売上予想未決テーブル
IF @@ERROR <> 0 BEGIN SELECT @ERR = 4   GOTO PROC_ERR 	END
--* 売上予想テーブル削除(当月)
DELETE FROM 売上予想テーブル
WHERE 内示年月 = @NJYM
    AND 契約先 LIKE @KEIYAKU
IF @@ERROR <> 0 BEGIN SELECT @ERR = 5   GOTO PROC_ERR 	END
--* 売上予想テーブル削除(当月-12)
DELETE FROM 売上予想テーブル
WHERE 内示年月 < CONVERT(CHAR(6),DATEADD(mm,-12,CONVERT(DATETIME,@NJYMD1)),112)
    AND 契約先 LIKE @KEIYAKU
IF @@ERROR <> 0 BEGIN SELECT @ERR = 6   GOTO PROC_ERR 	END

--* 対象件数 確認
IF (SELECT COUNT(*) FROM 内示テーブル 
	WHERE 内示年月 = @NJYM
	    AND 内示区分 = '' 
	    AND 契約先 LIKE @KEIYAKU) = 0
    BEGIN SELECT @ERR = 1 	GOTO PROC_END END
 	
--*--------------------------------------------------------------------*--
-- *-------------------------------------------------*
-- *  内示テーブル ｶｰｿﾙ定義			     *
-- *-------------------------------------------------*
DECLARE NJCUR SCROLL CURSOR
FOR 
	SELECT '',NJ.品番,NJ.納入先,NJ.受入,NJ.契約先,NJ.工区,NJ.号補区分,NJ.層別区分,NJ.管理NO,
		NJ.内示数,NJ.翌月内示数,NJ.翌々月内示数,ISNULL(HN.品番編集,'552'),
		ISNULL(HN.車型,'') 車型,ISNULL(HN.表示品番,'') 表示品番,ISNULL(HT.契約先,'') 品取契約先,
		ISNULL(NZ.翌月内示数,0),ISNULL(NZ.翌々月内示数,0)
	 FROM 内示テーブル NJ
	 LEFT OUTER JOIN 品番マスタ HN
		ON HN.品番 = NJ.品番
	 LEFT OUTER JOIN 品番取引先マスタ HT
		ON   HT.品番 = NJ.品番
		AND  HT.取引先 = NJ.納入先
		AND  HT.受入 = NJ.受入
		AND  HT.品目 = 0
	 LEFT OUTER JOIN 内示テーブル NZ
		ON   NZ.内示年月 = @NJZYM
		AND  NZ.納入先 = NJ.納入先
		AND  NZ.受入 = NJ.受入
		AND  NZ.品番 = NJ.品番
		AND  NZ.内示区分 = ''
	WHERE NJ.内示年月 = @NJYM
	  AND NJ.内示区分 = ''
	  AND NJ.契約先 LIKE @KEIYAKU
	  AND (NJ.内示数 <> 0 OR NJ.翌月内示数 <> 0 OR NJ.翌々月内示数 <> 0)
	UNION
	SELECT 'Z',NJ.品番,NJ.納入先,NJ.受入,NJ.契約先,NJ.工区,NJ.号補区分,NJ.層別区分,NJ.管理NO,
		0,0,0,ISNULL(HN.品番編集,'552'),
		ISNULL(HN.車型,'') 車型,ISNULL(HN.表示品番,'') 表示品番,ISNULL(HT.契約先,'') 品取契約先,
		ISNULL(NJ.翌月内示数,0),ISNULL(NJ.翌々月内示数,0)
	 FROM 内示テーブル NJ
	 LEFT OUTER JOIN 品番マスタ HN
		ON HN.品番 = NJ.品番
	 LEFT OUTER JOIN 品番取引先マスタ HT
		ON   HT.品番 = NJ.品番
		AND  HT.取引先 = NJ.納入先
		AND  HT.受入 = NJ.受入
		AND  HT.品目 = 0
	 LEFT OUTER JOIN 内示テーブル NZ
		ON   NZ.内示年月 = @NJYM
		AND  NZ.納入先 = NJ.納入先
		AND  NZ.受入 = NJ.受入
		AND  NZ.品番 = NJ.品番
		AND  NZ.内示区分 = ''
	WHERE NJ.内示年月 = @NJZYM
	  AND NJ.内示区分 = ''
	  AND NJ.契約先 LIKE @KEIYAKU
	  AND (NJ.翌月内示数 <> 0 OR NJ.翌々月内示数 <> 0)
	  AND NZ.納入先 IS NULL
FOR READ ONLY
OPEN NJCUR

--* ｶｰｿﾙ項目定義
DECLARE @DKBN VARCHAR(1),@HINBN VARCHAR(25),@TORCD VARCHAR(7),@UKEIR VARCHAR(2),@NJKTORCD VARCHAR(07),
	@KOUKU VARCHAR(01),@GHKBN VARCHAR(01),@SOKBN VARCHAR(01),@NJKRNO VARCHAR(06),
	@NJSU1 INT,@NJSU2 INT,@NJSU3 INT,@HINHEN VARCHAR(5)
DECLARE @SYAKEI VARCHAR(5),@HHINBN VARCHAR(30),@KTORCD VARCHAR(7)
DECLARE @ZNJSU2 INT,@ZNJSU3 INT
--* ﾜｰｸ定義
DECLARE @SYUHIN VARCHAR(25)			-- *集約品番
DECLARE @WK1 INT,@WK2 INT
DECLARE @TANKA1 DECIMAL(11,2),@TANKA2 DECIMAL(11,2),@TANKA3 DECIMAL(11,2)
DECLARE @KARI1 VARCHAR(01),@KARI2 VARCHAR(01),@KARI3 VARCHAR(01)
DECLARE @KINGK1 MONEY,@KINGK2 MONEY,@KINGK3 MONEY
DECLARE @KINHI1 MONEY,@KINHI2 MONEY,@KINHI3 MONEY
DECLARE @ZYKIN2 MONEY,@ZYKIN3 MONEY
-- *--------------------------------------------*
-- *    内示テーブル読込み(1件目)		*
-- *--------------------------------------------*
FETCH NEXT FROM NJCUR INTO @DKBN,@HINBN,@TORCD,@UKEIR,@NJKTORCD,@KOUKU,@GHKBN,@SOKBN,@NJKRNO,
					@NJSU1,@NJSU2,@NJSU3,@HINHEN,@SYAKEI,@HHINBN ,@KTORCD,@ZNJSU2,@ZNJSU3
WHILE (@@FETCH_STATUS = 0)
    BEGIN

	IF @DKBN = ''
	    BEGIN
		SELECT @NJTCNT = @NJTCNT + 1
	    END
	ELSE
	    BEGIN
		SELECT @NJZCNT = @NJZCNT + 1
	    END
	--*------------------------------------------------*--
	--*	 集約品番編集 
	--*------------------------------------------------*--
	SELECT @WK1 = CONVERT(INT,SUBSTRING(@HINHEN,1,1))
	SELECT @WK2 = CONVERT(INT,SUBSTRING(@HINHEN,2,1))
	SELECT @SYUHIN = SUBSTRING(@HINBN,1,@WK1+@WK2)
	--*------------------------------------------------*--
	--*	 品番マスタ チェック
	--*------------------------------------------------*--
	IF @HHINBN = ''
	    BEGIN
		SELECT @HHINBN = @HINBN
	    END
	--*------------------------------------------------*--
	--*	 品番取引先マスタ チェック
	--*------------------------------------------------*--
	IF @KTORCD = ''
	    BEGIN 
		IF (SELECT COUNT(*) FROM 売上予想未登録テーブル
			WHERE 内示年月 = @NJYM
			  AND 取引先 = @TORCD
			  AND 受入 = @UKEIR
			  AND 品番 = @HHINBN
			  AND 号補区分 = @GHKBN
			  AND 管理番号 = @NJKRNO ) = 0
		    BEGIN
			INSERT INTO 売上予想未登録テーブル (
				内示年月,取引先,受入,品番,管理番号,号補区分,
				工区,内示数,翌月内示数,翌々月内示数,
				作成端末,作成日,作成時間 ) VALUES (
				@NJYM,@TORCD,@UKEIR,@HHINBN,@NJKRNO,@GHKBN,
				@KOUKU,@NJSU1,@NJSU2,@NJSU3,
				HOST_NAME(),@PDATE,@PTIME)
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 10   GOTO PROC_ERR 	END

			SELECT @HTMCNT = @HTMCNT + 1
		    END
		ELSE
		    BEGIN
			UPDATE 売上予想未登録テーブル SET
				内示数 = 内示数 + @NJSU1,
				翌月内示数 = 翌月内示数 + @NJSU2,
				翌々月内示数 = 翌々月内示数 + @NJSU3
			WHERE 内示年月 = @NJYM
			  AND 取引先 = @TORCD
			  AND 受入 = @UKEIR
			  AND 品番 = @HHINBN
			  AND 号補区分 = @GHKBN
			  AND 管理番号 = @NJKRNO
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 11   GOTO PROC_ERR 	END
		    END	
	    END 
	--*------------------------------------------------*--
	--*	 契約先 
	--*------------------------------------------------*--
	IF @KTORCD = ''
	    BEGIN
		SELECT @KTORCD = @NJKTORCD
	    END
	--*------------------------------------------------*--
	--*	 単価マスタ チェック
	--*------------------------------------------------*--	
	SELECT @TN_CNT = 0,@TN_SURYO = 0,@TN_SYMD = '',@TN_EYMD = ''

	SELECT @TANKA1 = 0,@TANKA2 = 0,@TANKA3 = 0
	SELECT @KARI1 = '',@KARI2 = '',@KARI3 = ''
	SELECT @KINGK1 = 0,@KINGK2 = 0,@KINGK3 = 0
	SELECT @KINHI1 = 0,@KINHI2 = 0,@KINHI3 = 0
	SELECT @CNT = 0	


-- 当月･翌月･翌々月を繰返す
	WHILE @CNT < 3
	    BEGIN
		SELECT @CNT = @CNT + 1

		SELECT @KYMD = CASE WHEN @CNT = 1 THEN @NJYMD1
					      WHEN @CNT = 2 THEN @NJYMD2
					      WHEN @CNT = 3 THEN @NJYMD3
					END
	-- *----------------------------------------------------*
	-- *  単価チェック
	-- *----------------------------------------------------*
		SELECT @TANK = 0,@TKBN = ''
		EXEC 受注単価決定 @HINBN,@TORCD,@KYMD,
					 @TANK OUTPUT,@TKBN OUTPUT,@TSYMD OUTPUT,@RNO OUTPUT

		IF @CNT = 1	SELECT @KARI1 = @TKBN
		IF @CNT = 2	SELECT @KARI2 = @TKBN
		IF @CNT = 3	SELECT @KARI3 = @TKBN
--
		IF @TKBN = '9'
	-- 単価未決の時
		    BEGIN 
			SELECT @TN_CNT = @TN_CNT + 1
			SELECT @TN_SURYO = @TN_SURYO +  CASE WHEN @CNT = 1 THEN @NJSU1
					    				     WHEN @CNT = 2 THEN @NJSU2
					   				     WHEN @CNT = 3 THEN @NJSU3
									END
		
			IF @TSYMD IS NOT NULL AND @TSYMD <> ''
			    BEGIN
				IF @TSYMD < @KYMD
				    BEGIN
					SELECT @TN_SYMD = CONVERT(VARCHAR(08),DATEADD(dd,1,CONVERT(DATETIME,@TSYMD)),112)
				    END
				ELSE
				    BEGIN
					SELECT @TN_EYMD = CONVERT(VARCHAR(08),DATEADD(dd,-1,CONVERT(DATETIME,@TSYMD)),112)
				    END
			    END
		    END
		ELSE
		    BEGIN
			IF @CNT = 1
			    BEGIN
				SELECT @TANKA1 = @TANK
				SELECT @KINGK1 = FLOOR(@NJSU1 * @TANK)
				SELECT @KINHI1 = FLOOR(@ZNJSU2 * @TANK)
			    END
			IF @CNT = 2
			    BEGIN
				SELECT @TANKA2 = @TANK
				SELECT @KINGK2 = FLOOR(@NJSU2 * @TANK)
				SELECT @KINHI2 = FLOOR(@ZNJSU3 * @TANK)
			    END
			IF @CNT = 3
			    BEGIN
				SELECT @TANKA3 = @TANK
				SELECT @KINGK3 = FLOOR(@NJSU3 * @TANK)
			    END
		    END
	    END
	
	--*-----------------------------------------------------------*--
	--*	売上予想ワーク出力	
	--*-----------------------------------------------------------*--
	IF (SELECT COUNT(*) FROM 売上予想ワーク
		WHERE 内示年月 = @NJYM
		  AND 納入先 = @TORCD
		  AND 受入 = @UKEIR
		  AND 契約先 = @KTORCD
		  AND 品番 = @HINBN 
		  AND 工区 = @KOUKU
		  AND 車型 = @SYAKEI ) = 0
	    BEGIN
		INSERT INTO 売上予想ワーク
			(内示年月,納入先,受入,契約先,品番,工区,車型,号補区分,ライン,連番,
			単価1,仮区分1,数量1,金額1,前月比1,
			単価2,仮区分2,数量2,金額2,前月比2,
			単価3,仮区分3,数量3,金額3,前月比3,
			集約品番,品番編集,作成日,作成端末,更新日,更新端末 )
		VALUES  (@NJYM,@TORCD,@UKEIR,@KTORCD,@HINBN,@KOUKU,@SYAKEI,@GHKBN,'',0,
			@TANKA1,@KARI1,@NJSU1,@KINGK1,@KINGK1-@KINHI1,
			@TANKA2,@KARI2,@NJSU2,@KINGK2,@KINGK2-@KINHI2,
			@TANKA3,@KARI3,@NJSU3,@KINGK3,0,
			@SYUHIN,@HINHEN,GETDATE(),HOST_NAME(),NULL,'')	
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 12   GOTO PROC_ERR 	END
	    END
	ELSE
	    BEGIN
		UPDATE 売上予想ワーク SET
			数量1 = 数量1 + @NJSU1,
			数量2 = 数量2 + @NJSU2,
			数量3 = 数量3 + @NJSU3,
			金額1 = 金額1 + @KINGK1,
			金額2 = 金額2 + @KINGK2,
			金額3 = 金額3 + @KINGK3,
			前月比1 = 前月比1 + @KINGK1 - @KINHI1,
			前月比2 = 前月比2 + @KINGK2 - @KINHI2
		WHERE 内示年月 = @NJYM
		  AND 納入先 = @TORCD
		  AND 受入 = @UKEIR
		  AND 契約先 = @KTORCD
		  AND 品番 = @HINBN 
		  AND 工区 = @KOUKU
		  AND 車型 = @SYAKEI 
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 13   GOTO PROC_ERR 	END

	    END	
	--*-----------------------------------------------------------*--
	--*	単価未決が存在する時、未決テーブル出力	
	--*-----------------------------------------------------------*--
	IF @TN_CNT <> 0 AND @KTORCD <> ''
	    BEGIN
		IF @TN_SYMD = '' AND @TN_EYMD = ''
		    BEGIN SELECT @YOUIN = '単価未登録'	END
		ELSE
		    BEGIN 
			IF @TN_EYMD <> ''
			    BEGIN
				SELECT @YOUIN = SUBSTRING(@TN_EYMD,1,4) + '/' + SUBSTRING(@TN_EYMD,5,2) + '/' +
							SUBSTRING(@TN_EYMD,7,2) + 'まで未決'	
			    END
		    	ELSE
			    BEGIN
				SELECT @YOUIN = SUBSTRING(@TN_SYMD,1,4) + '/' + SUBSTRING(@TN_SYMD,5,2) + '/' +
						SUBSTRING(@TN_SYMD,7,2) + 'から未決'	
			    END
		    END
--
		IF @KARI1 <> '9' 	SELECT @NJSU1 = 0
		IF @KARI2 <> '9' 	SELECT @NJSU2 = 0
		IF @KARI3 <> '9' 	SELECT @NJSU3 = 0

		IF (SELECT COUNT(*) FROM 売上予想未決テーブル
			WHERE 内示年月 = @NJYM
			  AND 取引先 = @TORCD
			  AND 受入 = @UKEIR
			  AND 品番 = @HINBN ) = 0
		    BEGIN
			INSERT INTO 売上予想未決テーブル
				(内示年月,取引先,受入,品番,車型,管理番号,号補区分,
				ライン,工区,数量1,数量2,数量3,要因,作成端末,作成日,作成時間 )
			VALUES  (@NJYM,@TORCD,@UKEIR,@HINBN,@SYAKEI,@NJKRNO,@GHKBN,
				'',@KOUKU,@NJSU1,@NJSU2,@NJSU3,@YOUIN,HOST_NAME(),@PDATE,@PTIME)	
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 14   GOTO PROC_ERR 	END
			SELECT @TNMCNT = @TNMCNT + 1
		    END
		ELSE
		    BEGIN
			UPDATE 売上予想未決テーブル SET
				数量1 = 数量1 + @NJSU1,
				数量2 = 数量2 + @NJSU2,
				数量3 = 数量3 + @NJSU3
			WHERE 内示年月 = @NJYM
			    AND 取引先 = @TORCD
			    AND 受入 = @UKEIR
			    AND 品番 = @HINBN 
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 15   GOTO PROC_ERR 	END

		    END	
	    END 
-- *--------------------------------------------*
-- *   内示テーブル読込み(次レコード)		*
-- *--------------------------------------------*
        FETCH NEXT FROM NJCUR INTO @DKBN,@HINBN,@TORCD,@UKEIR,@NJKTORCD,@KOUKU,@GHKBN,@SOKBN,@NJKRNO,
					@NJSU1,@NJSU2,@NJSU3,@HINHEN,@SYAKEI,@HHINBN ,@KTORCD,@ZNJSU2,@ZNJSU3
    END			

CLOSE NJCUR
DEALLOCATE NJCUR 

-- *--------------------------------------------*
-- *   売上予想テーブル作成					*
-- *--------------------------------------------*
INSERT INTO 売上予想テーブル (内示年月,契約先,品番,工区,車型,号補区分,ライン,連番,
	単価1,仮区分1,数量1,金額1,前月比1,単価2,仮区分2,数量2,金額2,前月比2,
	単価3,仮区分3,数量3,金額3,前月比3,集約品番,品番編集,作成日,作成端末,更新日,更新端末)
SELECT 内示年月,契約先,品番,工区,車型,'','',0,
	単価1,仮区分1,SUM(数量1),SUM(金額1),SUM(前月比1),
	単価2,仮区分2,SUM(数量2),SUM(金額2),SUM(前月比2),
	単価3,仮区分3,SUM(数量3),SUM(金額3),SUM(前月比3),
	集約品番,品番編集,GETDATE(),HOST_NAME(),NULL,''
 FROM 売上予想ワーク
GROUP BY 内示年月,契約先,品番,工区,車型,単価1,仮区分1,単価2,仮区分2,単価3,仮区分3,集約品番,品番編集
IF @@ERROR <> 0 BEGIN SELECT @ERR = 16   GOTO PROC_ERR 	END

/*
--*---------------------------------------------------------------------*--
--*	前月データがあって当月にない品番を当月分の売上予想テーブル 出力
--*---------------------------------------------------------------------*--
INSERT INTO 売上予想テーブル (内示年月,契約先,品番,工区,車型,号補区分,ライン,連番,
	単価1,仮区分1,数量1,金額1,前月比1,単価2,仮区分2,数量2,金額2,前月比2,
	単価3,仮区分3,数量3,金額3,前月比3,集約品番,品番編集,作成日,作成端末,更新日,更新端末)
SELECT @NJYM,UY1.契約先,UY1.品番,UY1.工区,UY1.車型,'','',0,
	UY1.単価2,UY1.仮区分2,UY1.数量2,UY1.金額2,UY1.金額2 * -1,
	UY1.単価3,UY1.仮区分3,UY1.数量3,UY1.金額3,UY1.金額3 * -1,
	0,'',0,0,0,
	UY1.集約品番,UY1.品番編集,GETDATE(),HOST_NAME(),NULL,''
 FROM 売上予想テーブル UY1
LEFT OUTER JOIN 売上予想テーブル UY2
	ON  UY2.内示年月 = @NJYM
	AND UY2.契約先 = UY1.契約先
	AND UY2.工区 = UY1.工区
	AND UY2.品番 = UY1.品番
	AND UY2.車型 = UY1.車型
WHERE UY1.内示年月 = @NJZYM
  AND (UY1.金額2 <> 0 OR UY1.金額3 <> 0 )
  AND UY2.品番 IS NULL 
IF @@ERROR <> 0 BEGIN SELECT @ERR = 17   GOTO PROC_ERR 	END
*/
--* 売上予想作成件数
SELECT @UYTCNT = (SELECT COUNT(*) FROM 売上予想テーブル
				WHERE 内示年月 = @NJYM)

PROC_END:

--SELECT '内示件数' = @NJTCNT,'品番未登録件数' = @HTMCNT,'単価未決件数' = @TNMCNT,'売上予想作成件数' = @UYTCNT

RETURN(0) 


PROC_ERR:
--SELECT 'ERROR',@ERR 
RETURN(@ERR)






GO
