USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[発注打切チェック]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE  PROCEDURE [dbo].[発注打切チェック] (@TORCD VARCHAR(7),@HINBN VARCHAR(25),@NYMD VARCHAR(8),@NBIN VARCHAR(2),
						@SURYO INT,@RESULT VARCHAR(1) OUTPUT,@UKBN TINYINT OUTPUT,
						@UZANSU INT OUTPUT,@UYMD VARCHAR(8) OUTPUT,@KEIKB TINYINT OUTPUT,
						@UHASU INT OUTPUT) AS
--*------------------------------------------------------------------------------------------*--
--*	発注打切チェック
--*
--*	処理内容　　：		発注打切テーブルより打切の設定の有無・完了の未済をチェックする
--*				チェック順… 3:仕入先→（0:残数、1:品番、2:品番・仕入先）
--*						※0:残数、1:品番、2:品番・仕入先の中での重複設定はない
--*						※0:残数、1:品番、2:品番・仕入先の設定を優先する
--*
--*	パラメタ   (INPUT)	@TORCE  	：仕入先
--*				@HINBN 	：品番
--*				@NYMD 	：納入日
--*				@NBIN 		：納入便
--*				@SURYO 	：発注数
--*
--*		  (OUTPUT)	@RESULT 	：'':打切無、'Z':打切完了済、'K':残数の時今回完了
--*				@UKBN 	：打切種別 0:残数、1:品番、2:品番・仕入先、3:仕入先,9:打切対象外
--*				@UZANSU 	：打切種別 0:残数の時、設定残数
--*				@UYMD 	：打切種別 1:品番、2:品番・仕入先、3:仕入先の時、打切日
--*				@KEIKB 	：1:打切警告中、0：警告無
--*				@UHASU 	：打切完了時の端数
--*
--*	作成日　：	2004/01/21
--*	変更日　：	2005/02/15 - 納入便が未入力時は 01 とみなす。
--*
--*------------------------------------------------------------------------------------------*--
SET NOCOUNT ON
-- T
/*
DECLARE @TORCD VARCHAR(7),@HINBN VARCHAR(25),@NYMD VARCHAR(8),@NBIN VARCHAR(2),@SURYO INT
DECLARE @RESULT VARCHAR(1)
DECLARE @UKBN TINYINT,@UZANSU INT,@UYMD VARCHAR(8),@KEIKB TINYINT,@UHASU INT

SELECT @TORCD = '0001A',@HINBN = '1111122222',@NYMD = '20040119',@NBIN = '01',@SURYO = 50
*/
-- T
--<< 2005/02/15 Insert Strt >>
DECLARE @W_NBIN	VARCHAR(2)
IF @NBIN = ''
    BEGIN
	SELECT @W_NBIN = '01'
    END
ELSE
    BEGIN
	SELECT @W_NBIN = @NBIN
    END
--<< 2005/02/15 Insert End >>

SELECT @RESULT = '',@UKBN = 9,@UZANSU = 0,@UYMD = '',@KEIKB = 0,@UHASU = 0

DECLARE @KEISU INT,@ZANSU INT,@KYMD VARCHAR(8)

--<<  打切種別 3:仕入先  >>--
SELECT @KYMD = NULL
SELECT @KYMD = 警告日,@UYMD = 打切日 FROM 発注打切テーブル
WHERE 仕入先 = @TORCD
  AND 打切種別 = 3
IF @KYMD IS NOT NULL
    BEGIN
	SELECT @UKBN = 3
	-- 完了済
	IF @UYMD <= @NYMD 
	    BEGIN
		SELECT @RESULT = 'Z'
		GOTO PROC_END
	    END
	-- 警告中
	IF @KYMD <= @NYMD 
	    BEGIN
		SELECT @KEIKB = 1
	    END
    END

--<<  打切種別 0:残数  >>--
SELECT @KYMD = NULL
SELECT @KEISU = 警告数,@ZANSU = 設定残数,@KYMD = 完了日 FROM 発注打切テーブル
WHERE 品番 = @HINBN
  AND 打切種別 = 0
  AND RTRIM(起算日) + RTRIM(起算便) <= @NYMD + @W_NBIN
IF @KYMD IS NOT NULL
    BEGIN
	SELECT @UKBN = 0
	-- 完了済
	IF @KYMD <> '' 
	    BEGIN
		SELECT @RESULT = 'Z'
		GOTO PROC_END
	    END
	IF @SURYO >= @ZANSU 
	    BEGIN
	-- 今回打切完了
		SELECT @RESULT = 'K'
		IF @ZANSU < @SURYO
		    BEGIN 	
			SELECT @UHASU = @ZANSU	    
		    END

		SELECT @UZANSU = 0
		GOTO PROC_END
	    END
	ELSE
	    BEGIN
	-- 今回打切中(警告）
		SELECT @RESULT = ''
		SELECT @UZANSU = @ZANSU - @SURYO
		IF @UZANSU <= @KEISU
		    BEGIN
			SELECT @KEIKB = 1
		    END
		GOTO PROC_END
	    END
    END

--<<  打切種別 1:品番  >>--
SELECT @KYMD = NULL
SELECT @KYMD = 警告日,@UYMD = 打切日 FROM 発注打切テーブル
WHERE 品番 = @HINBN
  AND 打切種別 = 1
IF @KYMD IS NOT NULL
    BEGIN
	SELECT @UKBN = 1
	-- 完了済
	IF @UYMD <= @NYMD 
	    BEGIN
		SELECT @RESULT = 'Z'
		GOTO PROC_END
	    END
	-- 警告中
	IF @KYMD <= @NYMD 
	    BEGIN
		SELECT @KEIKB = 1
		GOTO PROC_END
	    END
	GOTO PROC_END
    END

--<<  打切種別 2:品番・仕入先  >>--
SELECT @KYMD = NULL
SELECT @KYMD = 警告日,@UYMD = 打切日 FROM 発注打切テーブル
WHERE 品番 = @HINBN
  AND 仕入先 = @TORCD
  AND 打切種別 = 2
IF @KYMD IS NOT NULL
    BEGIN
	SELECT @UKBN = 2
	-- 完了済
	IF @UYMD <= @NYMD 
	    BEGIN
		SELECT @RESULT = 'Z'
		GOTO PROC_END
	    END
	-- 警告中
	IF @KYMD <= @NYMD 
	    BEGIN
		SELECT @KEIKB = 1
		GOTO PROC_END
	    END
	GOTO PROC_END
    END

PROC_END:

--SELECT @RESULT,@UKBN,@UZANSU,@UYMD,@KEIKB
RETURN






GO
