USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[売上実績型費]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[売上実績型費] (@JYM VARCHAR(6),@JTORCD VARCHAR(7),@JSYORI VARCHAR(1),@JSHIME  SMALLINT,
				@TANTO VARCHAR(15),@RTN TINYINT OUTPUT,@INCNT INT OUTPUT,@OUTCNT INT OUTPUT) AS
--*----------------------------------------------------------------------------------------------*
--*	売上実績更新（型費）
--*
--*	型費テーブルより売上実績テーブル(売上明細)の作成を行う
--*
--*					
--*	ﾊﾟﾗﾒﾀ	  : 	@JYM    VARCHAR(6) 	-- 対象年月
--*		  : 	@JTORCD VARCHAR(7)	-- 契約先
--*		  : 	@JSYORI VARCHAR(1)	-- 処理区分 (0:新規,1:再処理)
--*		  : 	@JSHIME SMALLINT		-- 締日 (0:全て、99:末日、その他:締日）		
--*							
--*	Return	  : 	@RTN	 TINYINT		-- 終了コード
--*		  : 	@KINCNT  INT		-- 入力件数(号口)
--*		  : 	@KOUTCNT INT		-- 出力件数(号口)
--*			
--*	作成日  :  	2004/04/16
--*	更新日  :	
--*			
--
--	備考　：	取引先マスタの締日の末日設定は 0
--*----------------------------------------------------------------------------------------------*
SET NOCOUNT ON

--T
--* INPUT
--DECLARE @JYM       VARCHAR(6) 	-- 対象年月
--DECLARE @JTORCD VARCHAR(7)	-- 納入先
--DECLARE @JSYORI   VARCHAR(1)	-- 処理区分 
--DECLARE @JSHIME   SMALLINT	-- 締日
--DECLARE @TANTO VARCHAR(15)
-- OUTPUT
--DECLARE @RTN	 TINYINT	-- 終了コード
--DECLARE @INCNT     INT		-- 入力件数
--DECLARE @OUTCNT  INT		-- 出力件数

--T 条件セット
--SELECT @JTORCD = '0001'
--SELECT @JYM = '200008'
--SELECT @JSYORI = ''
--SELECT @JSHIME = 0
--T END

--* 
DECLARE @SAIYM  VARCHAR(6)	-- 処理区分(再処理用 実績年月)
DECLARE @SSHIME SMALLINT	-- 締日(開始)
DECLARE @ESHIME SMALLINT	-- 締日(終了)
DECLARE @SJYM	VARCHAR(6)	-- 正式実績年月
DECLARE @SJYMD  VARCHAR(8)	-- 正式自責処理日
DECLARE @KNO	INT		-- 検収管理№

DECLARE @WKIN 	DECIMAL(10,1)	-- ﾄﾖﾀ実績金額計算
----------------------------------+
--  リターン情報初期化
----------------------------------+
SELECT @RTN = 0
SELECT @INCNT = 0,@OUTCNT = 0
SELECT @JTORCD = @JTORCD + '%'
----------------------------------+
-- 正式実績年月ｾｯﾄ 
----------------------------------+
SELECT @SJYM = @JYM
SELECT @SJYMD = CONVERT(VARCHAR(8),GETDATE(),112)

----------------------------------+
-- 締日セット（開始・終了)
----------------------------------+
SELECT @SSHIME  = 0
SELECT @ESHIME  = 99
IF @JSHIME = 99  
    BEGIN
	SELECT @JSHIME = 0
	SELECT @ESHIME = 0
    END
IF @JSHIME <> 0 
   BEGIN
	SELECT @SSHIME  = @JSHIME
	SELECT @ESHIME  = @JSHIME
   END 	

--------------------------------
--<<　 トランザクション開始         >>--
--------------------------------
BEGIN TRANSACTION KTCRT
----------------------------------------------------
-- 再処理用 実績年月セット
----------------------------------------------------
SELECT @SAIYM = ''
IF @JSYORI = '1'
   BEGIN
	SELECT @SAIYM = @JYM
	--------------------------------------
	--	( 再処理 ) 売上実績テーブル　削除
	--------------------------------------
	DELETE 売上実績テーブル
	 WHERE 実績年月 = @SAIYM	
	     AND 入力区分 = '2'	
	     AND 契約先 LIKE @JTORCD
	     AND 締日 >= @SSHIME	
	     AND 締日 <= @ESHIME 	
	IF @@ERROR <> 0 	BEGIN 	SELECT @RTN = 11 	GOTO PROC_ERR 	END
   END	

-- *-------------------------------------------------*
-- *  型費テーブル ｶｰｿﾙ定義			     *
-- *-------------------------------------------------*
DECLARE KNCUR SCROLL CURSOR
FOR 
	SELECT KT.品番,KT.取引先,連番,対象開始年月,金額,適用開始年月,適用終了年月,
	      	 回数,投資金額,	
	       	ISNULL(車型,''),ISNULL(TR.締日,0),ISNULL(TR.計算方法,0),ISNULL(TR.計算単位,0)
	 FROM 型費テーブル KT
	LEFT OUTER JOIN 品番マスタ HN
		ON   SUBSTRING(HN.品番,1,10) = SUBSTRING(KT.品番,1,10)
		AND HN.品番 = ( SELECT MIN(HN2.品番) FROM 品番マスタ HN2
					WHERE SUBSTRING(HN2.品番,1,10) = SUBSTRING(KT.品番,1,10) ) 
	LEFT OUTER JOIN 取引先マスタ TR 
		ON   TR.取引先ＣＤ = KT.取引先
		AND TR.取引先区分 = 0  
	WHERE KT.取引先 LIKE @JTORCD
	    AND 対象開始年月 <= @JYM
	    AND ISNULL(締日,0) >= @SSHIME
	    AND ISNULL(締日,0) <= @ESHIME		
	    AND ( ISNULL(実績年月,'') = '' 
	      OR   ISNULL(実績年月,'') = @SAIYM ) 
							
FOR READ ONLY
OPEN KNCUR
-- *  型費テーブル ｶｰｿﾙ定義	     *
DECLARE @HINBN VARCHAR(25),@TORCD VARCHAR(7),@RENNO TINYINT,@TYM VARCHAR(6),
	     @KIN INT,@TSYM VARCHAR(6),@TEYM VARCHAR(6),@KAISU TINYINT,@TKIN INT
DECLARE @SYAKEI VARCHAR(5),@SHIME SMALLINT,@KHOHO SMALLINT,@KTANI SMALLINT
-- *--------------------------------------------*
-- *    型費テーブル読込み(1件目)		*
-- *--------------------------------------------*
FETCH NEXT FROM KNCUR INTO @HINBN ,@TORCD ,@RENNO ,@TYM ,
					@KIN ,@TSYM,@TEYM, @KAISU,@TKIN ,@SYAKEI, @SHIME ,@KHOHO ,@KTANI
WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @INCNT = @INCNT + 1
	----------------------------------+
	-- 金額計算（トヨタのみ) 
	----------------------------------+
	IF @TORCD = '1000' 
	   BEGIN
		SELECT @WKIN = @KIN
		SELECT @KIN = CEILING(@WKIN / 2) * 2
	   END
	----------------------------------+
	-- 検収管理NO 採番
	----------------------------------+
	EXEC 番号獲得 13,@KNO OUTPUT,@RTN  OUTPUT
	IF @RTN <> 0 	BEGIN 	SELECT @RTN = 12 	GOTO PROC_ERR 	END
	----------------------------------+
	-- 売上実績テーブル出力(売上明細)
	----------------------------------+
	INSERT INTO 売上実績テーブル 
		(検収管理NO,検収管理行NO,実績年月,品番,背番号,納入先,契約先,受入,車型,実績区分,実績処理日,
		正式実績年月,正式実績処理日,納入番号,検収年月日,赤黒区分,単価,仮単価区分,納入数,
		適用開始日付,金額,計算方法,計算単位,締日,前回実績年月,明細件数,入力区分,作成日,作成端末,作成者) VALUES (
		@KNO,@RENNO,@JYM,@HINBN,'',@TORCD,@TORCD,'',@SYAKEI,0,@SJYMD,
		'','','',@TYM,CASE WHEN @KIN < 0 THEN 1 ELSE 0 END,
		@KIN,'',0,@TSYM,@KIN,@KHOHO,@KTANI,@SHIME,'',1,'2',GETDATE(),HOST_NAME(),@TANTO)
	IF @@ERROR <> 0 	BEGIN 	SELECT @RTN = 13 	GOTO PROC_ERR 	END

	SELECT @OUTCNT = @OUTCNT + 1		 -- 出力件数加算

	-- *-------------------------------*
	-- *  型費テーブル更新 		     	*
	-- *-------------------------------*
	UPDATE 型費テーブル SET
		実績年月 = @JYM   ,
		実績処理日 = @SJYMD ,
		更新日	 = GETDATE(),
		更新者 = @TANTO,
		更新端末 = HOST_NAME()
	WHERE 品番 = @HINBN
	    AND 取引先 = @TORCD
	    AND 連番 = @RENNO
	    AND 対象開始年月 = @TYM
	IF @@ERROR <> 0 	BEGIN 	SELECT @RTN = 14 	GOTO PROC_ERR 	END

-- *--------------------------------------------*
-- *   型費テーブル読込み(次レコード)		*
-- *--------------------------------------------*
		        FETCH NEXT FROM KNCUR INTO @HINBN ,@TORCD ,@RENNO ,@TYM ,
					@KIN ,@TSYM,@TEYM, @KAISU,@TKIN ,@SYAKEI, @SHIME ,@KHOHO ,@KTANI
  END			

DEALLOCATE KNCUR 


PROC_END:
--T 
-- SELECT @RTN,@INCNT,@OUTCNT
--T END

------------------------------
--<<　トランザクション終了        >>--
------------------------------
COMMIT TRANSACTION KTCRT

RETURN(0)

PROC_ERR:
RETURN(@RTN)



GO
