USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[eかんばん出荷TEXT変換]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[eかんばん出荷TEXT変換] (
				@PROCYMD 	VARCHAR(8),
				@PROCRNO 	INT,
				@RIREKI		INT,
				@FILENAME 	VARCHAR(50),
				@RTCD 		TINYINT OUTPUT
) AS

-- ------------------------------------------------------------------------------------------------------
-- 
-- 	eかんばん出荷TEXT 変 換処理
-- 
-- 
-- 		パラメータ：	@PROCYMD	-	処理日
-- 			  ：	@PROCRNO	-	処理日内連番
-- 			  ：	@RIREKI	-	履歴管理番号
-- 			  ：	@FILENAME	-	TEXTファイル名
-- 
--		Return	   :  	@RTCD	 	･･･	ｴﾗｰｺｰﾄﾞ
--										
-- 
-- 
-- 		CREATE	DATE	:       2005.11.29
-- 		    UP	DATE	:       2006.03.28	累積を行う（便内分割対応)
-- 		    UP	DATE	:       2006/06/14	出荷データ行連番対応 [ eかんばん変換テーブル：行連番 項目追加 ]
--							(便内分割で行連番のみが違う実績が２つのテキストに
--									分かれるとダブリとなってしまう為、変更)
--					TOPPSより移行
-- 		作 成 日	:       2008/07/22
-- 		変 更 日	:       2009/07/07    千代田Verに変更
-- 
-- ------------------------------------------------------------------------------------------------------
SET NOCOUNT ON
-- TEST
-- DECLARE @PROCYMD 	VARCHAR(8)
-- DECLARE @PROCRNO 	INT
-- DECLARE @RIREKI   	int
-- DECLARE @FILENAME 	VARCHAR(20)
-- DECLARE @RTCD 		TINYINT
-- 
-- SELECT @PROCYMD = '20080718'
-- SELECT @PROCRNO = 2
-- SELECT @RIREKI = 33175
-- SELECT @FILENAME = 'SYUKKA'

-- exec eかんばん出荷TEXT変換 @PROCYMD,@PROCRNO,@RIREKI,@FILENAME,@RTCD
-- TEST END

DECLARE @TX_CNT		INT
DECLARE @TX_OTCNT 	INT
DECLARE @TX_A_PUTFLG 	TINYINT
DECLARE @ERR 		TINYINT
DECLARE @JNO		INT		-- 受注管理番号
DECLARE @JGNO		TINYINT	-- 受注管理行番号
DECLARE @TX_TYPE		TINYINT	-- 0:受注,1:出荷
DECLARE @WRTN		TINYINT	-- リターン
DECLARE @PROCCNT		INT		-- 退避連番

DECLARE @SK_NTORCD 	VARCHAR(5)	-- 納入先
DECLARE @SK_UKEIR 	VARCHAR(2)	-- 受入
DECLARE @SK_NYMD 	VARCHAR(8)	-- 納入日
DECLARE @SK_NBIN 		VARCHAR(2)	-- 納入便
DECLARE @SK_NOUNO 	VARCHAR(5)	-- 納入番号
DECLARE @SK_HINBN 	VARCHAR(12)	-- 品番
DECLARE @SK_SEBAN 	VARCHAR(4)	-- 背番号
DECLARE @SK_SYUYO 	INT		-- 収容数
DECLARE @SK_SSU 		INT		-- 出荷数
DECLARE @SK_UHAU 	INT		-- 打切端数
DECLARE @MAISU 		INT		-- 枚数
DECLARE @HASU 		INT		-- 端数
DECLARE @SK_BYMD 	VARCHAR(8)	-- 挽回日
DECLARE @SK_BBIN 		VARCHAR(2)	-- 挽回便

DECLARE @READ_JY		TINYINT	-- 受注データ確認フラグ
DECLARE @ERR_JYCNT	INT		-- 受注データ未登録件数

DECLARE @READ_SK		TINYINT	-- 出荷データ確認フラグ(重複)
DECLARE @JY_JKNO		INT		-- 受注管理番号
DECLARE @JY_JKGYO	TINYINT	-- 受注管理行番号
DECLARE @JY_SJNO		INT		-- 出荷指示書NO
DECLARE @JY_SJGYO	TINYINT	-- 出荷指示書行NO
DECLARE @JY_NSU 		INT		-- 受注数
DECLARE @SK__PUTFLG	TINYINT


DECLARE @SK_NOGYO 	SMALLINT	-- 行連番	-- < 2006/06/14 ADD >

DECLARE @SK_NJIGYO VARCHAR(2)		-- 2008.07.22 Insert
DECLARE @SK_NJIGYOKJ VARCHAR(1)		-- 2008.07.22 Insert
DECLARE @SK_SJIGYO VARCHAR(2)		-- 2008.07.22 Insert
DECLARE @SK_SYUKABA VARCHAR(3)		-- 2008.07.22 Insert

DECLARE @WYMD VARCHAR(8)
DECLARE @SYMD VARCHAR(8)
DECLARE @EYMD VARCHAR(8)

SELECT @SYMD = CONVERT(VARCHAR(8),DATEADD(m,-6,GETDATE()),112)
SELECT @EYMD = CONVERT(VARCHAR(8),DATEADD(m,6,GETDATE()),112)

--* 2009/07/07 Start
DECLARE @HX_NTORCD	VARCHAR(07)
DECLARE @HX_UKEIR   VARCHAR(02)
DECLARE @HX_HINBN   VARCHAR(14)
--* 2009/07/07 End

SELECT @TX_CNT = 0
SELECT @TX_OTCNT = 0
SELECT @ERR = 0 
SELECT @TX_TYPE = 1		
SELECT @ERR_JYCNT = 0

SELECT @PROCCNT = 退避連番 From
	 eかんばん変換履歴テーブル
		Where 履歴管理番号 = @RIREKI

-- -----------------------
--  eかんばん変換テーブル削除
-- -----------------------
Delete From eかんばん変換テーブル
	Where 処理日     = @PROCYMD
	  And 処理回数   = @PROCRNO
	  And 処理区分   = @TX_TYPE
	  And ファイル名 = @FILENAME
IF @@ERROR <> 0 BEGIN SELECT @ERR = 70 GOTO PROC_ERROR END

DECLARE TXCUR SCROLL CURSOR
FOR
	SELECT REC1 
		From eかんばん出荷データ
FOR READ ONLY
OPEN TXCUR

DECLARE @TX_REC VARCHAR(356)
	
-- * eかんばん出荷テキスト
FETCH NEXT FROM TXCUR INTO @TX_REC

WHILE @@FETCH_STATUS = 0 
    BEGIN
		
	SELECT @TX_CNT = @TX_CNT + 1 

	SELECT @SK_NTORCD = SUBSTRING(@TX_REC,16,5) 			-- 納入先
	SELECT @SK_UKEIR  = SUBSTRING(@TX_REC,21,2)			-- 受入

	IF SUBSTRING(@TX_REC,77,4) = ''					--メインルート日付
	    BEGIN
		SELECT @SK_NYMD   = SUBSTRING(@TX_REC,45,8) 	--納入日（オーダーNO,1,8)
	    END			
	ELSE
	    BEGIN
		SELECT @WYMD   = SUBSTRING(@TX_REC,45,4) + SUBSTRING(@TX_REC,77,4) 	--納入日(メインルート日付)
		IF @WYMD < @SYMD
		    BEGIN 
			SELECT @WYMD = CONVERT(VARCHAR(8),DATEADD(m,12,CONVERT(DATETIME,@WYMD)),112)
		    END
		IF @WYMD > @EYMD
		    BEGIN 
			SELECT @WYMD = CONVERT(VARCHAR(8),DATEADD(m,-12,CONVERT(DATETIME,@WYMD)),112)
		    END
		SELECT @SK_NYMD   = @WYMD
	    END			
	IF SUBSTRING(@TX_REC,81,2) = ''
	    BEGIN
		SELECT @SK_NBIN   = SUBSTRING(@TX_REC,53,2) 	--納入便（オーダーNO,9,2)
	    END			
	ELSE
	    BEGIN
		SELECT @SK_NBIN   = SUBSTRING(@TX_REC,81,2) 	--納入便(メインルート便SEQ)
	    END			

	SELECT @SK_NOUNO  = SUBSTRING(@TX_REC,57,5)			-- 納入番号
	SELECT @SK_HINBN  = SUBSTRING(@TX_REC,95,12)			-- 品番
	SELECT @SK_SEBAN  =  LTRIM(SUBSTRING(@TX_REC,91,4))		-- 背番号
	SELECT @SK_SYUYO  = CONVERT(INT,SUBSTRING(@TX_REC,107,5))	-- 収容数
	SELECT @SK_SSU      = CONVERT(INT,SUBSTRING(@TX_REC,145,7))	-- 出荷数
	SELECT @SK_UHAU   = CONVERT(INT,SUBSTRING(@TX_REC,112,5))	-- 打切端数
	SELECT @SK_BYMD   = SUBSTRING(@TX_REC,66,8)			-- 挽回日
	SELECT @SK_BBIN   = SUBSTRING(@TX_REC,74,2)			-- 挽回便

	SELECT @SK_NOGYO  = CAST( SUBSTRING( @TX_REC, 88, 3 ) AS SMALLINT )	-- 行連番

	SELECT @SK_NJIGYO  = SUBSTRING(@TX_REC,13,2)  		--納入先事業体
	SELECT @SK_NJIGYOKJ  = SUBSTRING(@TX_REC,15,1)  	--納入先事業体工区
	SELECT @SK_SJIGYO  = SUBSTRING(@TX_REC,29,2)  		--仕入先事業体
	SELECT @SK_SYUKABA  = SUBSTRING(@TX_REC,36,3)  	--出荷場

--	SELECT @SK_NTORCD,@SK_UKEIR,@SK_NYMD,@SK_NBIN,@SK_NOUNO,@SK_HINBN,@SK_SEBAN,@SK_SYUYO,@SK_SSU,@SK_UHAU,@SK_BYMD,@SK_BBIN,@SK_NOGYO

	---------------------------
	-- 枚数・端数の再計算
	---------------------------
	SELECT @MAISU = 0,@HASU = 0
	IF @SK_SYUYO <> 0
	    BEGIN
		SELECT @HASU = @SK_SSU % @SK_SYUYO
		SELECT @MAISU = @SK_SSU / @SK_SYUYO
		IF @HASU <> 0 BEGIN 	SELECT @MAISU = @MAISU + 1 	END
	    END

	SELECT @SK__PUTFLG = 0
	IF SUBSTRING(@TX_REC,117,1) = '3'					-- 端数打出フラグ確認
	   BEGIN
		SELECT @SK_SSU = @SK_UHAU
		IF (SELECT Count(品番) From eかんばん変換テーブル
				Where 処理日   = @PROCYMD
				  And 処理回数  = @PROCRNO
				  And 処理区分 = @TX_TYPE
				  And ファイル名 = @FILENAME
				  And 納入先   = @SK_NTORCD
				  And 受入      = @SK_UKEIR
				  And 納入番号 = @SK_NOUNO
				  And 行連番   = @SK_NOGYO	-- < 2006/06/14 ADD >
				  And 納入日    = @SK_NYMD
				  And 納入便    = @SK_NBIN
				  And 品番       = @SK_HINBN ) <> 0
		   BEGIN
			SELECT @SK_SSU = @SK_UHAU
			SELECT @MAISU  = 1
			SELECT @HASU  = @SK_UHAU

			Update eかんばん変換テーブル Set
					かんばん枚数 = かんばん枚数 + 1,
					出荷数        = 出荷数 + @SK_UHAU,
					打切端数     = @SK_UHAU
				Where 処理日   = @PROCYMD
				  And 処理回数  = @PROCRNO
				  And 処理区分 = @TX_TYPE
				  And ファイル名 = @FILENAME
				  And 納入先   = @SK_NTORCD
				  And 受入      = @SK_UKEIR
				  And 納入番号 = @SK_NOUNO
				  And 行連番   = @SK_NOGYO	-- < 2006/06/14 ADD >
				  And 納入日    = @SK_NYMD
				  And 納入便    = @SK_NBIN
				  And 品番       = @SK_HINBN
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 4 GOTO PROC_ERROR END
			SELECT @TX_OTCNT = @TX_OTCNT + 1
			SELECT @SK__PUTFLG = 1
		   END
	   END
--	Insert 2006.03.28
	ELSE
	   BEGIN
		IF (SELECT Count(品番) From eかんばん変換テーブル
				Where 処理日   = @PROCYMD
				  And 処理回数  = @PROCRNO
				  And 処理区分 = @TX_TYPE
				  And ファイル名 = @FILENAME
				  And 納入先   = @SK_NTORCD
				  And 受入      = @SK_UKEIR
				  And 納入番号 = @SK_NOUNO
				  And 行連番   = @SK_NOGYO	-- < 2006/06/14 ADD >
				  And 納入日    = @SK_NYMD
				  And 納入便    = @SK_NBIN
				  And 品番       = @SK_HINBN ) <> 0
		   BEGIN
			Update eかんばん変換テーブル Set
					かんばん枚数 = かんばん枚数 + @MAISU,
					出荷数        = 出荷数 + @SK_SSU,
					打切端数     = @HASU
				Where 処理日   = @PROCYMD
				  And 処理回数  = @PROCRNO
				  And 処理区分 = @TX_TYPE
				  And ファイル名 = @FILENAME
				  And 納入先   = @SK_NTORCD
				  And 受入      = @SK_UKEIR
				  And 納入番号 = @SK_NOUNO
				  And 行連番   = @SK_NOGYO	-- < 2006/06/14 ADD >
				  And 納入日    = @SK_NYMD
				  And 納入便    = @SK_NBIN
				  And 品番       = @SK_HINBN
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 4 GOTO PROC_ERROR END
			SELECT @TX_OTCNT = @TX_OTCNT + 1
			SELECT @SK__PUTFLG = 1
		   END
	   END
--	Insert End 2006.03.28
	
	-- -------------------------------------
	--  受注データ確認 & 出荷重複チェック
	-- -------------------------------------
	SELECT @READ_JY  = 0
	SELECT @READ_SK  = 0
	SELECT @JY_JKNO  = Null
	SELECT @JY_JKGYO = Null
	SELECT @JY_SJNO  = Null
	SELECT @JY_SJGYO = Null
	SELECT @JY_NSU = Null

	--* 2009/07/07 Start  取引先CD変換
	SELECT @HX_NTORCD	= NULL
	SELECT @HX_UKEIR	= NULL
	SELECT @HX_HINBN	= NULL

	SELECT @HX_NTORCD = 取引先CD
			FROM 取引先マスタ
			WHERE 取引先CD   = @SK_NTORCD
			  AND 取引先区分 = 0
	
	IF @HX_NTORCD IS NULL 
	   BEGIN
		SELECT @HX_NTORCD = NULL
--		SELECT @HX_NTORCD = MIN(変換先CD)
--				from 受注取引先CD変換マスタ
--				Where 変換元CD = @SK_NTORCD
		SELECT @HX_NTORCD = MIN(変換先CD)
				FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HT 
					WHERE JH.変換元CD   = @SK_NTORCD
					  AND JH.変換元受入 = @SK_UKEIR
					  AND HT.取引先 = JH.変換先CD
					  AND HT.受入 = JH.変換先受入
					  AND REPLACE(HT.品番,'-','') = @SK_HINBN
		IF @HX_NTORCD IS NULL
		   BEGIN
			SELECT @HX_NTORCD = MIN(変換先CD)
					FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HT 
						WHERE JH.変換元CD   = @SK_NTORCD
						  AND HT.取引先 = JH.変換先CD
						  AND REPLACE(HT.品番,'-','') = @SK_HINBN
		   END

		IF ISNULL(@HX_NTORCD,'') = '' 
		   BEGIN
			SELECT @HX_NTORCD = @SK_NTORCD
		   END 
	   END	

	---  取引先受入マスタ確認
	Select @HX_UKEIR = 受入
			 from 取引先受入マスタ
			Where 取引先CD   = @HX_NTORCD
			  And 取引先区分 = 0 
			  And 受入 	 = @SK_UKEIR
	IF @HX_UKEIR IS NULL 
	   BEGIN
		SELECT @HX_UKEIR = NULL
		---  変換マスタ確認
		SELECT @HX_UKEIR = MIN(変換先受入)
				from 受注取引先CD変換マスタ
				WHERE 変換元CD = @HX_NTORCD
				AND   変換元受入 = @HX_UKEIR
		IF ISNULL(@HX_UKEIR,'') <> '' 
		   BEGIN
			SELECT @HX_UKEIR = @SK_UKEIR
		   END
	   END

	--* 2009/07/07 End

	SELECT @JY_JKNO = 受注管理NO,@JY_JKGYO = 受注管理行NO,
	       	 @JY_SJNO  = 出荷指示書NO,@JY_SJGYO = 出荷指示書行NO,
		 @JY_NSU   = 納入数,
	       	 @READ_SK = 出荷実績区分
			From 受注テーブル
			 Where 作成種別 = 'S'
--			   And 納入先   = @SK_NTORCD		2009/07/07
--			   And 受入	= @SK_UKEIR
			   And 納入先   = @HX_NTORCD
			   And 受入	= @HX_UKEIR

			   And 納入日	= @SK_NYMD
			   And 納入便	= @SK_NBIN
			   And 納入番号	= @SK_NOUNO
			   And 納品書行	= @SK_NOGYO	-- < 2006/06/14 ADD >
--			   And 品番	= @SK_HINBN								2009/07/07
			   And REPLACE(品番,'-','')	= @SK_HINBN
	IF ISNULL(@JY_JKNO,0) = 0
 	   BEGIN
		SELECT @READ_JY = 1
		SELECT @READ_SK = 0
		SELECT @ERR_JYCNT = @ERR_JYCNT + 1
	   END

	IF @SK__PUTFLG = 0
	   BEGIN	
		-- -------------------------
		--  eかんばん変換テーブル出力
		-- -------------------------
		INSERT INTO eかんばん変換テーブル
			(処理日,処理回数, 処理区分,ファイル名,
			 納入先, 受入,納入番号, 納入日, 納入便,
			 品番,便内分割区分,退避連番,受注管理番号,受注管理行番号,出荷指示書NO,出荷指示書行NO,受注日,受注便,
			 背番号,収容数,かんばん枚数,
			 納入数,打切端数,打切区分,打切残数,挽回日,挽回便,出荷数,
			 ERR重複,ERR収容数,ERR背番号,ERR受注,品番仮,品取仮,取引先仮,受入仮,
			 納入先名,品名, 作成日,作成端末, 行連番,
			納入先事業体,納入先事業体工区,仕入先事業体,出荷場 )
		   VALUES 
		 	(@PROCYMD,@PROCRNO,@TX_TYPE,@FILENAME,
			 @SK_NTORCD,@SK_UKEIR,@SK_NOUNO,@SK_NYMD,@SK_NBIN,
			 @SK_HINBN,'',@PROCCNT,ISNULL(@JY_JKNO,0),ISNULL(@JY_JKGYO,0),ISNULL(@JY_SJNO,0),ISNULL(@JY_SJGYO,0),'','',
			 @SK_SEBAN,@SK_SYUYO,@MAISU,
			 ISNULL(@JY_NSU,0),@HASU,0,0,@SK_BYMD,@SK_BBIN,@SK_SSU,
			 ISNULL(@READ_SK,0),0,0,ISNULL(@READ_JY,0),0,0,0,0,
		 	 '','', Getdate(),Substring(Host_Name(),1,20), @SK_NOGYO,
			 @SK_NJIGYO,@SK_NJIGYOKJ,@SK_SJIGYO,@SK_SYUKABA)
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 1 GOTO PROC_ERROR END
	
		SELECT @TX_OTCNT = @TX_OTCNT + 1
	   END

	--* 次ﾚｺｰﾄﾞ
	FETCH NEXT FROM TXCUR INTO @TX_REC
    END

--*  CLOSE & DEALLOCATE
CLOSE TXCUR
DEALLOCATE TXCUR

------------ eかんばん履歴更新

IF @RIREKI <> 0 
   BEGIN
	Update eかんばん変換履歴テーブル Set
		   入力件数 = 入力件数 + ISNULL(@TX_OTCNT,0),
		   ERR受注 = ERR受注 + @ERR_JYCNT
			Where 履歴管理番号 = @RIREKI
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 5 GOTO PROC_ERROR END
   END

--* 正常終了 *--
RETURN(0)
PROC_ERROR:
--* 異常終了 *--
---TEST --------------------------------------------------
/*
IF @ERR <> 0 
   BEGIN
	 SELECT 'ERROR=',CONVERT(CHAR(2),@ERR)
   END	*/
------- --------------------------------------------------
SELECT @RTCD = @ERR
RETURN(@ERR)





GO
