USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[CRT_BCP_SF_CMD]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [dbo].[CRT_BCP_SF_CMD]	@WKFILE VARCHAR(30) AS
-- *------------------------------------------------------------------------------------*
-- *											*
-- *	PROCEDURE	bcp ｴｸｽﾎﾟｰﾄ用ﾊﾞｯﾁﾌｧｲﾙ作成					*
-- *				( ﾜｰｸﾌｧｲﾙの内容より )					*
-- *											*
-- *	PARAMETER	@WKFILE	- ｴｸｽﾎﾟｰﾄ対象ﾃｰﾌﾞﾙが指定されたﾜｰｸﾌｧｲﾙ			*
-- *											*
-- *	ﾜｰｸﾌｧｲﾙの内容									*
-- *			TBLName char(50)	- テーブル名(データベース名より指定)	*
-- *			TXTName char(100)	- 出力先退避ファイル名( FULL PATH )	*
-- *			SVRName char(15)	- サーバ名				*
-- *			UsrName char(15)	- ユーザ名				*
-- *			PasName char(15)	- パスワード				*
-- *											*
-- *	RETURN		0   -	正常終了						*
-- *			1   -	異常終了						*
-- *											*
-- *------------------------------------------------------------------------------------*
SET NOCOUNT ON

IF @WKFILE = '' 	RETURN(1)


-- *------------------------------------*
-- *	Ｂｃｐコマンドライン作成	*
-- *------------------------------------*
DECLARE	@QUERY1		VARCHAR(255)
DECLARE	@QUERY2		VARCHAR(255)

SELECT @QUERY1	= 'SELECT ''bcp '' + RTRIM(TBLName) + '' out '' + RTRIM(TXTName)'

SELECT @QUERY2	= ' + '' -t"," -r\n -c '	+ 
			'-S'' + RTRIM(SVRName) + '	+
			''' -U'' + RTRIM(UsrName) + '	+

			''' -P'' + RTRIM(PasName)'	+
			' FROM ' 	+ @WKFILE


EXEC	(@QUERY1 + @QUERY2)


-- *------------*
-- *	終了	* 
-- *------------*
RETURN(0)





GO
