USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[生産計画表抽出]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[生産計画表抽出] ( @YM VARCHAR(6),@KBN TINYINT) AS
-- * -------------------------------------------------------------------------------------------------
-- *
-- *		生産計画表抽出
-- *
-- * -------------------------------------------------------------------------------------------------
-- * TEST
--DECLARE @YM		VARCHAR(6)
--DECLARE @KBN		TINYINT
--SELECT @YM = '200312'


DECLARE @ZYM		VARCHAR(6)
DECLARE @DATE		VARCHAR(8)
DECLARE @WDATE		VARCHAR(8)
SET NOCOUNT ON

SELECT @DATE = @YM + '01'
EXEC cDateAdd @DATE,'M',-1,'','1',@WDATE OUTPUT
SELECT @ZYM = SUBSTRING(@WDATE,1,6)
-- * ---------------------------------------------------------
-- * 	前回内容削除
-- * ---------------------------------------------------------
DELETE 生産計画表発行ワーク
	WHERE 処理端末 = HOST_NAME()

IF @@ERROR <> 0	BEGIN	GOTO PROC_ERR	END

-- * ---------------------------------------------------------
-- * 	当月生産計画表データ 抽出
-- * ---------------------------------------------------------
-- * 生産計画数 
IF @KBN = 0
    BEGIN
	INSERT INTO 生産計画表発行ワーク
		(処理端末,区分,品番,工区,
		 前月計画数,当月計画数,前月内示数,当月内示数,翌月内示数,翌々月内示数,変更区分 )
		SELECT HOST_NAME() 処理端末,'1',SK.品番,SK.工区,
			0,SUM(数量) 当月生産数,0,0,0,0,0
			FROM 生産計画テーブル SK
			WHERE 内示年月 = @YM
			  AND SUBSTRING(SK.納期,1,6) = @YM		
			GROUP BY SK.品番,SK.工区
    END
ELSE
    BEGIN
	INSERT INTO 生産計画表発行ワーク
		(処理端末,区分,品番,工区,
		 前月計画数,当月計画数,前月内示数,当月内示数,翌月内示数,翌々月内示数,変更区分 )
		SELECT HOST_NAME() 処理端末,'1',SK.品番,SK.工区,
			0,SUM(数量) 当月生産数,0,0,0,0,1
			FROM 生産計画テーブル SK
			WHERE 内示年月 = @YM
			  AND SUBSTRING(SK.納期,1,6) = @YM		
			  AND SK.変更回数 = @KBN
			GROUP BY SK.品番,SK.工区
    END

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END

-- * 内示数
INSERT INTO 生産計画表発行ワーク
	(処理端末,区分,品番,工区,
	 前月計画数,当月計画数,前月内示数,当月内示数,翌月内示数,翌々月内示数,変更区分 )
	SELECT HOST_NAME(),'2',CASE WHEN ISNULL(HH.品番,'') = ''
		THEN NJ.品番 ELSE HH.品番 END,NJ.工区,
		0,0,0,NJ.内示数,NJ.翌月内示数,NJ.翌々月内示数,SW.変更区分
		FROM 内示テーブル NJ
		LEFT OUTER JOIN 品番置換マスタ HH
		  ON HH.得意先品番 = NJ.品番
		 AND HH.納入先 = NJ.納入先
		 AND HH.受入 = NJ.受入
		LEFT OUTER JOIN 生産計画表発行ワーク SW
		  ON SW.処理端末 = HOST_NAME()
		 AND SW.区分 = '1'		
		 AND SW.品番 = CASE WHEN ISNULL(HH.品番,'') = ''
			THEN NJ.品番 ELSE HH.品番 END
	         AND SW.工区 = NJ.工区
		WHERE SW.品番 IS	 NOT NULL
		  AND NJ.内示年月 = @YM

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END

-- * 前月生産計画数
INSERT INTO 生産計画表発行ワーク
	(処理端末,区分,品番,工区,
	 前月計画数,当月計画数,前月内示数,当月内示数,翌月内示数,翌々月内示数,変更区分 )
	SELECT HOST_NAME() 処理端末,'3',SK.品番,SK.工区,
		SUM(SK.数量) ,0,0,0,0,0,SW.変更区分
		FROM 生産計画表発行ワーク SW
		LEFT OUTER JOIN 生産計画テーブル SK
		  ON SK.内示年月 = @ZYM
		 AND SUBSTRING(SK.納期,1,6) = @ZYM
		 AND SK.品番 = SW.品番
		WHERE SW.処理端末 = HOST_NAME()
		  AND SW.区分 = '1'
		  AND SK.品番 IS NOT NULL
		GROUP BY SK.品番,SK.工区,SW.変更区分

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END

-- * 前月内示
INSERT INTO 生産計画表発行ワーク
	(処理端末,区分,品番,工区,
	 前月計画数,当月計画数,前月内示数,当月内示数,翌月内示数,翌々月内示数,変更区分 )
	SELECT HOST_NAME(),'4',CASE WHEN ISNULL(HH.品番,'') = ''
		THEN NJ.品番 ELSE HH.品番 END,NJ.工区,
		0,0,NJ.内示数,0,0,0,SW.変更区分
		FROM 内示テーブル NJ
		LEFT OUTER JOIN 品番置換マスタ HH
		  ON HH.得意先品番 = NJ.品番
		 AND HH.納入先 = NJ.納入先
		 AND HH.受入 = NJ.受入
		LEFT OUTER JOIN 生産計画表発行ワーク SW
		  ON SW.処理端末 = HOST_NAME()
		 AND SW.区分 = '1'		
		 AND SW.品番 = CASE WHEN ISNULL(HH.品番,'') = ''
			THEN NJ.品番 ELSE HH.品番 END
	         AND SW.工区 = NJ.工区
		WHERE SW.品番 IS	 NOT NULL
		  AND NJ.内示年月 = @ZYM

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END

-- * ---------------------------------------------------------
-- * 	正  常  終  了
-- * ---------------------------------------------------------
PROC_END:
RETURN(0)

-- * ---------------------------------------------------------
-- * 	異  常  終  了
-- * ---------------------------------------------------------
PROC_ERR:
RETURN(1)



GO
