USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[材料発注打切チェック]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[材料発注打切チェック] (@TORCD VARCHAR(7),@ZAIKNO INT,@NYMD VARCHAR(8),@NBIN VARCHAR(2),
						@SURYO DECIMAL(11,3),@RESULT VARCHAR(1) OUTPUT,@UKBN TINYINT OUTPUT,
						@UZANSU DECIMAL(11,3) OUTPUT,@UYMD VARCHAR(8) OUTPUT,@KEIKB TINYINT OUTPUT,
						@UHASU DECIMAL(9,3) OUTPUT) AS

--*------------------------------------------------------------------------------------------*--
--*	発注打切チェック
--*
--*	処理内容　　：		材料発注打切テーブルより打切の設定の有無・完了の未済をチェックする
--*				チェック順… 3:仕入先→（0:残数、1:材料、2:材料・仕入先）
--*						※0:残数、1:材料、2:材料・仕入先の中での重複設定はない
--*						※0:残数、1:材料、2:材料・仕入先の設定を優先する
--*
--*	パラメタ   (INPUT)	@TORCE  	：仕入先
--*				@ZAIKNO 	：材料管理番号
--*				@NYMD 	：納入日
--*				@NBIN 	：納入便
--*				@SURYO 	：発注数
--*
--*		  (OUTPUT)	@RESULT 	：'':打切無、'Z':打切完了済、'K':残数の時今回完了
--*				@UKBN 	：打切種別 0:残数、1:材料、2:材料・仕入先、3:仕入先,9:打切対象外
--*				@UZANSU 	：打切種別 0:残数の時、設定残数
--*				@UYMD 	：打切種別 1:材料、2:材料・仕入先、3:仕入先の時、打切日
--*				@KEIKB 	：1:打切警告中、0：警告無
--*				@UHASU 	：打切完了時の端数
--*
--*	作成日　：	2004/02/20
--*
--*------------------------------------------------------------------------------------------*--
SET NOCOUNT ON
-- T
/*
DECLARE @TORCD VARCHAR(7),@ZAIKNO INT,@NYMD VARCHAR(8),@NBIN VARCHAR(2),@SURYO DECIMAL(11,3)
DECLARE @RESULT VARCHAR(1)
DECLARE @UKBN TINYINT,@UZANSU DECIMAL(11,3),@UYMD VARCHAR(8),@KEIKB TINYINT,@UHASU DECIMAL(11,3)

SELECT @TORCD = '0001A',@ZAIKNO = 1801,@NYMD = '20040305',@NBIN = '01',@SURYO = 1
*/
-- T

SELECT @RESULT = '',@UKBN = 9,@UZANSU = 0,@UYMD = '',@KEIKB = 0,@UHASU = 0

DECLARE @KEISU DECIMAL(11,3),@ZANSU DECIMAL(11,3),@KYMD VARCHAR(8)

--<<  打切種別 3:仕入先  >>--
SELECT @KYMD = NULL
SELECT @KYMD = 警告日,@UYMD = 打切日 FROM 材料発注打切テーブル
WHERE 仕入先 = @TORCD
  AND 打切種別 = 3
IF @KYMD IS NOT NULL
    BEGIN
	SELECT @UKBN = 3
	-- 完了済
	IF @UYMD <= @NYMD 
	    BEGIN
		SELECT @RESULT = 'Z'
		GOTO PROC_END
	    END
	-- 警告中
	IF @KYMD <= @NYMD 
	    BEGIN
		SELECT @KEIKB = 1
	    END
    END

--<<  打切種別 0:残数  >>--
SELECT @KYMD = NULL
SELECT @KEISU = 警告数,@ZANSU = 設定残数,@KYMD = 完了日 FROM 材料発注打切テーブル
WHERE 材料管理番号 = @ZAIKNO
  AND 打切種別 = 0
  AND 起算日 + 起算便 <= @NYMD + @NBIN
IF @KYMD IS NOT NULL
    BEGIN
	SELECT @UKBN = 0
	-- 完了済
	IF @KYMD <> '' 
	    BEGIN
		SELECT @RESULT = 'Z'
		GOTO PROC_END
	    END
	IF @SURYO >= @ZANSU 
	    BEGIN
	-- 今回打切完了
		SELECT @RESULT = 'K'
		IF @ZANSU < @SURYO
		    BEGIN 	
			SELECT @UHASU = @ZANSU	    
		    END

		SELECT @UZANSU = 0
		GOTO PROC_END
	    END
	ELSE
	    BEGIN
	-- 今回打切中(警告）
		SELECT @RESULT = ''
		SELECT @UZANSU = @ZANSU - @SURYO
		IF @UZANSU <= @KEISU
		    BEGIN
			SELECT @KEIKB = 1
		    END
		GOTO PROC_END
	    END
    END

--<<  打切種別 1:材料  >>--
SELECT @KYMD = NULL
SELECT @KYMD = 警告日,@UYMD = 打切日 FROM 材料発注打切テーブル
WHERE 材料管理番号 = @ZAIKNO
  AND 打切種別 = 1
IF @KYMD IS NOT NULL
    BEGIN
	SELECT @UKBN = 1
	-- 完了済
	IF @UYMD <= @NYMD 
	    BEGIN
		SELECT @RESULT = 'Z'
		GOTO PROC_END
	    END
	-- 警告中
	IF @KYMD <= @NYMD 
	    BEGIN
		SELECT @KEIKB = 1
		GOTO PROC_END
	    END
	GOTO PROC_END
    END

--<<  打切種別 2:材料・仕入先  >>--
SELECT @KYMD = NULL
SELECT @KYMD = 警告日,@UYMD = 打切日 FROM 材料発注打切テーブル
WHERE 材料管理番号 = @ZAIKNO
  AND 仕入先 = @TORCD
  AND 打切種別 = 2
IF @KYMD IS NOT NULL
    BEGIN
	SELECT @UKBN = 2
	-- 完了済
	IF @UYMD <= @NYMD 
	    BEGIN
		SELECT @RESULT = 'Z'
		GOTO PROC_END
	    END
	-- 警告中
	IF @KYMD <= @NYMD 
	    BEGIN
		SELECT @KEIKB = 1
		GOTO PROC_END
	    END
	GOTO PROC_END
    END

PROC_END:

--SELECT @RESULT,@UKBN,@UZANSU,@UYMD,@KEIKB,@UHASU
RETURN



GO
