USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[受注SIM納品書チェック_ナルコ]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO










CREATE PROCEDURE [dbo].[受注SIM納品書チェック_ナルコ]
		 			@PROCKB TINYINT,
					@JYKB	TINYINT,
					@YMD	VARCHAR(8) , 
					@BIN	VARCHAR(2) ,
					@HEAD   VARCHAR(55),				-- 2009.09.07 upd : 45→55	
					-- I-O
					@BODY   VARCHAR(600)	OUTPUT,		-- 2009.09.07 upd : 400→600
					@BODY2	VARCHAR(300)	OUTPUT,		-- 2009.09.07 upd : 200→300
					-- OUTPUT
					@UKE2   VARCHAR(2)	OUTPUT,
					@NTORCD VARCHAR(7)	OUTPUT,
					@ERR	TINYINT		OUTPUT,
					@ERRGYO TINYINT		OUTPUT AS
SET NOCOUNT ON
-- ------------------------------------------------------------------------------------
-- 											
-- 	受注かんばんJAMAチェック内容チェック ＆ データ更新(自動読取処理のみ)	 
-- 											
-- 	PROCEDURE-ID	受注JAMAチェック						
-- 											
-- 	PARAMETER	@PROCKB : 0/リーダー処理(データ更新有)、NOT 0/内容チェックのみ	
-- 			@JYKB	: 受注区分						
-- 			@YMD		: 受注日又は、納入日					
-- 			@BIN		: 受注便又は、納入便					
-- 			@HEAD	: 伝票のヘッド部(納入先～受注者事業所・納品書№・ページ)
-- 			@BODY	: ( IN/OUT ) 伝票の明細部(品番～納入数<5明細分>)
-- 			@BODY2	: ( IN/OUT ) 伝票の明細部(品番～納入数<5明細分>)
-- 			@UKE2		: ( OUTPUT ) 変換後 受入				
-- 			@NTORCD	: ( OUTPUT ) 変換後 納入先				
-- 			@ERR		: ( OUTPUT ) チェックエラーNO				
-- 			@ERRGYO	: ( OUTPUT ) チェックエラー行NO				
-- 											11
-- 	RETURN( @ERR )	0 : 正常終了							
-- 			 	1 : 納入先変換エラー		 2 : 納入先未登録		
-- 			 	3 : 自社向伝票でない	 	 4 : 受入未登録			
-- 			 	5 : 便未登録			 6 : 				
-- 			 	7 : 収容数違い		 8 : 納入数エラー		
-- 				15 : 品番取引先マスタ未登録	
-- 				16 : 受注重複エラー(号口受注テーブル)				
-- 				17 : 伝票重複エラー(受注入力テーブル)				
-- 				99 : データ更新エラー						
-- 											
-- 	OUTLINE		Jama内容チェックを行い ﾘｰﾀﾞｰ処理( @PROCKB = 0 )ならば、		
-- 					エラー( @ERR )の有無に応じて、データを出力する。
-- 											
-- 			  手入力による新規・リーダーデータのエラー分修正処理に		
-- 					関しては、伝票内容のチェックしか行わない。	
-- 						( データの更新は、一切行わない。)	
-- 											
--	作成日		:	2004/03/29
--	更新日		:	2006/06/22	By CIS	1.ﾘｰﾀﾞ処理時、品番マスタなしデータ分の登録で、端数に『9』は入ってしまう
--							2.品番マスタ未登録時はエラーとする
--	更新日		:	2008/12/26 By CIS  取引先マスタ：変換元取引先CD追加  千代田Ver
--	更新日		:	2009/01/06 By CIS  上記廃止、受注取引先CD変換ﾏｽﾀ追加
--	更新日		:	2009/11/19 By CIS  品番桁数チェック追加
--	更新日		:	2009/12/22 By CIS  分納伝票処理時､ﾜｰｸﾌｧｲﾙに出力
--	更新日		:	2011/10/04 By CIS  重複チェック変更→解除
--	更新日		:	2020/11/19 By CIS  対象桁数取得時の取引先CD条件修正
--	
-- ------------------------------------------------------------------------------------
--T
/*
DECLARE	@PROCKB TINYINT,@JYKB	TINYINT,
	@YMD VARCHAR(8), 
	@BIN	VARCHAR(2),	@HEAD   VARCHAR(45),	
	@BODY   VARCHAR(400)	,
	@BODY2   VARCHAR(200)	,
	@UKE2   VARCHAR(2)	,
	@NTORCD VARCHAR(7)	,
	@JYMD   VARCHAR(8)	,
	@JBIN   VARCHAR(2)	,
	@NYMD   VARCHAR(80)	,
	@NBIN   VARCHAR(20)	,
	@ERR	TINYINT		,
	@ERRGYO TINYINT		

SELECT @PROCKB = 0,@JYKB = 0,@YMD = '20031203',@BIN = '01'
SELECT @HEAD = '1000C S3200312100220 610004794 XX0010101011'
SELECT @BODY = '112017003000      401 000100020000020                      000000000000000                      000000000000000                      000000000000000                      000000000000000'
SELECT @BODY2 = '                      000000000000000                      000000000000000                      000000000000000                      000000000000000                      000000000000000'
*/
-- T End
DECLARE @C_DENSY	TINYINT			--  伝票種類
DECLARE @WRTN		TINYINT			--  リターン
DECLARE @WORK		VARCHAR(30)		--  ワーク
DECLARE @WORK2		VARCHAR(30)		--  ワーク
DECLARE @WORK3		VARCHAR(30)		--  ワーク
DECLARE @WORK4		VARCHAR(30)		--  ワーク
DECLARE @TIWORK 	bigint --INT				--  ワーク
DECLARE @TIWORK2 	bigint --INT				--  ワーク
DECLARE @BODYALL 	VARCHAR(600)	--  パラメータ退避ワーク(リーダー処理用) 0907 400→600


DECLARE @IWORK1		bigint --INT				--  ワーク
DECLARE @IWORK2		bigint --INT				--  ワーク
DECLARE @IWORK3		bigint --INT				--  ワーク
DECLARE @DBRFLG		VARCHAR(10)		--  明細行重複チェック用(伝票重複)
DECLARE @GDBRFLG	VARCHAR(10)		--  明細行重複チェック用(受注重複)
DECLARE @HINER		VARCHAR(10)		--  明細行品番取引先マスタチェック用
DECLARE @KHINBN		VARCHAR(25)		--  検索用品番			-- 2009.09.10 upd : 18-->25
DECLARE @HMSYUYO	INT				--  品番マスタ収容数
DECLARE @W_SEBAN	VARCHAR(6)      --  ワーク背番号		-- 2009.09.10 upd :  4--> 6
DECLARE @SEBANWK	VARCHAR(6)		--  背番号(ﾁｪｯｸ用)		-- 2009.09.10 upd :  4--> 6
DECLARE @EJYNO		INT				--  受注重複先の受注管理NO

DECLARE @HINKETA	INT				--  品番チェック桁数	-- 2009.11.19 add

---------------
-- 初期値設定
---------------
SELECT @C_DENSY = 1
SELECT @UKE2 = ''
SELECT @NTORCD = ''
SELECT @ERR = 0
SELECT @ERRGYO =0

IF @YMD = '' 
   BEGIN
	SELECT @YMD = SUBSTRING( @HEAD, 9, 8 )
	SELECT @BIN = SUBSTRING( @HEAD, 17, 2 )
   END
--//////////////////////////////////////////////////////////
--//
--//		内容チェック
--//
--//////////////////////////////////////////////////////////
SELECT @BODY = SUBSTRING(@BODY,1,260) + @BODY2	--(@BODY,1,185)
SELECT @BODYALL = @BODY

-- ----------------------------
-- 	ヘッド部 チェック
-- ----------------------------
--伝票違い
IF SUBSTRING( @HEAD, 1, 4 ) <> '5002'
   BEGIN
	SELECT @ERR = 9
	GOTO END_PROC
   END 

-- 納入先格納
SELECT @NTORCD = SUBSTRING( @HEAD, 1, 5 )
--  【 受入変換 】 
SELECT @UKE2 = SUBSTRING( @HEAD, 7, 2 )
--  【 納入先確認 】 
/*
SELECT @WORK = NULL
SELECT @WORK = ( SELECT MIN(取引先CD) FROM 取引先マスタ 
					WHERE 取引先区分 = 0
					AND 	 取引先CD = SUBSTRING( @HEAD, 1, 5 ) )
IF @WORK IS NULL
   BEGIN

	SELECT @WORK = ( SELECT MIN(取引先CD) FROM 取引先マスタ 
						WHERE 取引先区分 = 0
						AND 	 変換元取引先CD = SUBSTRING( @HEAD, 1, 5 ) )
	IF @WORK IS NULL
	   BEGIN
		SELECT @ERR = 1
		GOTO END_PROC
	   END
	ELSE
	   BEGIN
		SELECT @NTORCD = @WORK
	   END
	
	/* 2008/12/26 Start
	SELECT @ERR = 1
	GOTO END_PROC
	   2008/12/26 End */
  END
*/
SELECT @WORK = NULL
SELECT @WORK = ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ 
--					WHERE	 変換元CD = SUBSTRING( @HEAD, 1, 5 ) )
					WHERE	 変換元CD = SUBSTRING( @HEAD, 1, 5 ) 
					AND       変換元受入 = @UKE2 )
IF @WORK IS NULL
   BEGIN

	SELECT @WORK = ( SELECT MIN(取引先CD) FROM 取引先マスタ 
						WHERE 取引先区分 = 0
						AND 	 取引先CD = SUBSTRING( @HEAD, 1, 5 ) )
	IF @WORK IS NULL
	   BEGIN
		SELECT @ERR = 1
		GOTO END_PROC
	   END
  END

SELECT @NTORCD = @WORK

--  【 受入確認 】 
SELECT @WORK = NULL
SELECT @WORK = ( SELECT MIN(取引先CD) FROM 取引先受入マスタ 
					WHERE 取引先区分 = 0
					AND   取引先CD = @NTORCD
				    And	  受入 =  @UKE2 )
IF @WORK IS NULL
   BEGIN
	SELECT @WORK = NULL
	SELECT @WORK = ( SELECT MIN(変換先受入) FROM 受注取引先CD変換マスタ 
						WHERE 変換元CD = SUBSTRING( @HEAD, 1, 5 )
						And	  変換元受入 =  @UKE2 )

	IF @WORK IS NULL 
	   BEGIN
		SELECT @ERR = 4
		GOTO END_PROC
	   END
	ELSE
	   BEGIN
		SELECT @UKE2 = @WORK
	   END
  END

------------------------------------------------------------------------  2009.11.19 add start
--　品番チェック桁数取得
SELECT @HINKETA = NULL													
SELECT @HINKETA = (SELECT ISNULL(品番チェック桁数,0) 品番チェック桁数	
	   FROM  取引先マスタ
--       WHERE 取引先 = @NTORCD AND 取引先区分 = 0				--2020/11/19 comment
       WHERE 取引先CD = @NTORCD AND 取引先区分 = 0				--2020/11/19
)
IF @HINKETA = 0 OR @HINKETA > 25
   BEGIN
	SELECT @HINKETA = 25
   END
------------------------------------------------------------------------  2009.11.19 add end

--++++++++++++++++++++++++++++++++++++
--+		
--+	Body 部 品番～納入数（10明細）
--+		
--++++++++++++++++++++++++++++++++++++
SELECT @HINER = '0000000000'
SELECT @DBRFLG = ''
SELECT @GDBRFLG = ''
SELECT @TIWORK = 0
WHILE ( @TIWORK <= 9 )
   BEGIN
	SELECT @TIWORK2 = @TIWORK * 52								-- 2009.09.10 upd : * 37
-- 背番・品番なしは処理対象外(明細ﾁｪｯｸ終了)
	IF SUBSTRING( @BODY, @TIWORK2 + 1, 31 ) = ''	BREAK		-- 品番・背番号未入力は処理しない	-- 2009.09.07 upd : 22-->31
	SELECT @WORK = RTRIM(SUBSTRING( @BODY, @TIWORK2 + 1, 31 ))	-- 2009.09.10 upd : , 22-->31
	IF @WORK = '' OR @WORK IS NULL 	BREAK
	SELECT @DBRFLG  = RTRIM(@DBRFLG)  + '0'
	SELECT @GDBRFLG = RTRIM(@GDBRFLG) + '0'
--  背番号編集
	SELECT @W_SEBAN = ''
	SELECT @W_SEBAN = SUBSTRING( @BODY, @TIWORK2 + 26, 6 )		-- 2009.09.10 upd : 19, 4
	SELECT @WORK = NULL
	SELECT @WORK = ( SELECT MIN(背番号) FROM 品番取引先マスタ
					  WHERE 取引先 = @NTORCD
					    AND 受入   = @UKE2
--					    AND REPLACE(品番,'-','') = REPLACE(SUBSTRING( @BODY, @TIWORK2 + 1, 25 ),'-','')	-- 2009.09.07 upd : 18-->25 / 2009.09.14 upd : 右側もREPLACE'-',''入れた
					    AND SUBSTRING(REPLACE(品番,'-',''), 1, @HINKETA) =								-- 2009.11.19 add	
                            SUBSTRING(REPLACE(SUBSTRING( @BODY, @TIWORK2 + 1, 25 ),'-',''), 1, @HINKETA)-- 2009.11.19 add
					    AND 品目 	   = 0 )
	IF @WORK IS NOT NULL
	   BEGIN
 		SELECT @W_SEBAN = @WORK
   	   END
--	 【 省略フィールド データセット 】 
--	 背番 から 品番 
	IF SUBSTRING( @BODY, @TIWORK2 +  26, 6) <> '' AND			-- 2009.09.10 upd : 19, 4
	   SUBSTRING( @BODY, @TIWORK2 +  1, 25) =  ''				-- 2009.09.10 upd : 1, 18
	   BEGIN

		SELECT @WORK = NULL
		SELECT @WORK = ( SELECT MIN(品番) FROM 品番取引先マスタ
						WHERE 取引先 = @NTORCD
						    AND 受入 	= @UKE2
						    AND 背番号  = @W_SEBAN
						    AND 品目 	= 0 )
		IF @WORK IS NOT NULL
		   BEGIN
			SELECT @WORK = ISNULL(RTRIM(@WORK) + REPLICATE(' ', 25 - LEN(RTRIM(@WORK))), SPACE(25))	-- 2009.09.07 upd : 18
			SELECT @BODY = STUFF( @BODY, @TIWORK2 + 1, 25, @WORK )	-- 2009.09.07 upd : 18-->25
		   END
	   END
--	 箱数 
	IF CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 38, 5)) =  0		-- 2009.09.10 upd : 28, 3-->38, 5	/	SMALLINT-->INT
		SELECT @BODY = STUFF( @BODY, @TIWORK2 + 38,  5, '00001' )	-- 2009.09.10 upd : 28, 3-->38, 5	/	'001'-->'00001'
--	 収容数 
	IF CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 32, 6 )) =   0 AND	-- 2009.09.10 upd : 23, 5-->32, 6
	   CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 43, 10 )) <>  0		-- 2009.09.10 upd : 31, 7-->43, 10
	   BEGIN
		SELECT @IWORK1 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 43, 10 ))	-- 納入数	-- 2009.09.10 upd : 31, 7-->43, 10
		SELECT @IWORK2 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 38, 5 ))	-- 箱数		-- 2009.09.10 upd : 28, 3-->38, 5
		SELECT @IWORK3 = @IWORK1 / @IWORK2
		SELECT @WORK   = CONVERT( VARCHAR(6), @IWORK3 )				-- 2009.09.07 upd : VARCHAR(5)-->VARCHAR(6)
		SELECT @WORK   = ISNULL(REPLICATE('0', 6  - LEN(RTRIM(@WORK))) + RTRIM(@WORK), REPLICATE('0',6))	-- 2009.09.07 upd : 5-->6
		SELECT @BODY = STUFF( @BODY, @TIWORK2 + 32, 6, @WORK )		-- 2009.09.10 upd : 23, 5-->32, 6
	   END
--	 納入数 
	IF CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 43, 10 )) =  0	-- 2009.09.10 upd : 31, 7-->43, 10
	   BEGIN
		SELECT @IWORK1 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 32, 6 ))	-- 収容数	-- 2009.09.10 upd : 23, 5-->32, 6

		SELECT @IWORK2 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 38, 5 ))	-- 箱数		-- 2009.09.10 upd : 28, 3-->38, 5
		SELECT @IWORK3 = @IWORK1 * @IWORK2
		SELECT @WORK   = CONVERT( VARCHAR(10), @IWORK3 )			-- 2009.09.10 upd : 7-->10
		SELECT @WORK   = ISNULL(REPLICATE('0', 10  - LEN(RTRIM(@WORK))) + RTRIM(@WORK), REPLICATE('0',10))	-- 2009.09.07 upd : 7-->10
		SELECT @BODY   = STUFF( @BODY, @TIWORK2 + 43, 10, @WORK )	-- 2009.09.10 upd : 31, 7-->43, 10
	   END
	SELECT	@KHINBN = SUBSTRING( @BODY, @TIWORK2 + 1, 25 )			-- 2009.09.07 upd : 18-->25

	--* ======================= 2009/11/19 Start
	--* 取引先マスタ：品番桁数ﾁｪｯｸ分の品番を検索
	IF @HINKETA <> 25
	   BEGIN
		
		--１回目､品番が存在するかﾁｪｯｸ
		SELECT @WORK = NULL
		SELECT @WORK = ( SELECT 品番 FROM 品番マスタ 
						WHERE REPLACE(品番,'-','') = REPLACE(@KHINBN,'-','') )
		IF @WORK IS NOT NULL 
		   BEGIN
			SELECT @KHINBN = @WORK
			SELECT @WORK = ISNULL(RTRIM(@WORK) + REPLICATE(' ', 25 - LEN(RTRIM(@WORK))), SPACE(25))
			SELECT @BODY = STUFF( @BODY, @TIWORK2 + 1, 25, @WORK )
		   END
		ELSE
		   BEGIN
			--２回目､ﾁｪｯｸ桁数と同桁数の品番が存在するかﾁｪｯｸ
			SELECT @WORK = NULL
			SELECT @WORK = ( SELECT 品番 FROM 品番マスタ 
							WHERE REPLACE(品番,'-','') = SUBSTRING(REPLACE(@KHINBN,'-',''),1,@HINKETA) )
			IF @WORK IS NOT NULL 
			   BEGIN
				SELECT @KHINBN = @WORK
				SELECT @WORK = ISNULL(RTRIM(@WORK) + REPLICATE(' ', 25 - LEN(RTRIM(@WORK))), SPACE(25))
				SELECT @BODY = STUFF( @BODY, @TIWORK2 + 1, 25, @WORK )
			   END
			ELSE
			   BEGIN
				--３回目､ﾁｪｯｸ桁数と頭桁が同一の品番が存在するかﾁｪｯｸ
				SELECT @WORK = NULL
				SELECT @WORK = ( SELECT MIN(品番) FROM 品番マスタ
								  WHERE SUBSTRING(REPLACE(品番,'-',''),1,@HINKETA)  = SUBSTRING(REPLACE(@KHINBN,'-',''),1,@HINKETA) )
					
				IF @WORK IS NOT NULL
				   BEGIN
					SELECT @KHINBN = @WORK
					SELECT @WORK = ISNULL(RTRIM(@WORK) + REPLICATE(' ', 25 - LEN(RTRIM(@WORK))), SPACE(25))
					SELECT @BODY = STUFF( @BODY, @TIWORK2 + 1, 25, @WORK )
				   END
			   END	
		   END
	   END
	--* ======================= 2009/11/19 End


--	 【 品番取引先マスタ確認 】 
	SELECT  @WORK = NULL ,@WORK2 = NULL,@IWORK1 = NULL
	SELECT @WORK = サイクル,
		  @IWORK1 = CASE
				WHEN 変更日 <> '' AND 変更日 + 変更便 <= @YMD + @BIN 
					THEN 収容数2
					ELSE 収容数1
			  END
			,@UKE2 = 受入	
				FROM 品番取引先マスタ
				WHERE REPLACE(品番,'-','')  = REPLACE(@KHINBN,'-','')	-- 2009.09.14 upd : 右側をREPLACEにした
				    AND 取引先  = @NTORCD
				    AND 受入	   = @UKE2
				    AND 背番号   = @W_SEBAN
				    AND 品目	   = 0
	IF @WORK IS NULL 

-- <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>< 2006/06/22 MNT >
	   BEGIN
--			* QR処理以外は (品番取引先未登録)エラー *
		SELECT @ERR = 15
		SELECT @ERRGYO = @TIWORK + 1
		GOTO END_PROC
	   END
/*
	   BEGIN
		IF @PROCKB = 1 
		   BEGIN
--			* QR処理以外は (品番取引先未登録)エラー *
			SELECT @ERR = 15
			SELECT @ERRGYO = @TIWORK + 1
			GOTO END_PROC
		   END
		ELSE
		   BEGIN
-- 読込ﾃﾞｰﾀ 背番が空白で、品番取引先ﾏｽﾀ 背番が空白以外の場合、'2'をセットする
			IF SUBSTRING( @BODY, @TIWORK2 + 19,  4 ) = '' 
			   BEGIN
				SELECT @SEBANWK = '' 
				SELECT @SEBANWK = ISNULL(背番号,'')  FROM 品番取引先マスタ
					WHERE 品番 	   = @KHINBN
					    AND 取引先  = @NTORCD
					    AND 受入	   = @UKE2
					    AND 品目	   = 0
				IF @SEBANWK <> '' 
				   BEGIN
					SELECT @HINER = STUFF( @HINER, @TIWORK + 1, 1, '2' )
					SELECT @HINER
				   END 
			   END    	
-- 読込ﾃﾞｰﾀ 背番が空白以外で、品番取引先ﾏｽﾀ 背番が空白の場合、'3'をセットする
			IF SUBSTRING( @BODY, @TIWORK2 + 19,  4 ) <> '' 
			   BEGIN
				SELECT @SEBANWK = '' 
				SELECT @SEBANWK = 背番号  FROM 品番取引先マスタ
					WHERE 品番 	   = @KHINBN
					    AND 取引先  = @NTORCD
					    AND 受入	   = @UKE2
					    AND 品目	   = 0
				IF @SEBANWK = '' 
				   BEGIN
					SELECT @HINER = STUFF( @HINER, @TIWORK + 1, 1, '3' )
				   END 
			   END    	
		   END
	   END	
*/
-- <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>< 2006/06/22 MNT END >

--	 【 収容数チェック 】 
	SELECT @IWORK1 = ISNULL( @IWORK1, 0 )
	SELECT @IWORK2 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 32, 6 ))	-- 2009.09.10 upd : 23, 5-->32,6
	IF @IWORK1 <> 0 AND @IWORK1 <> @IWORK2
		BEGIN	SELECT @ERR = 7		SELECT @ERRGYO = @TIWORK + 1	GOTO END_PROC   END

--	 【 納入数チェック 】 
	SELECT @IWORK1 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 38, 5 ))	-- 箱数   -- 2009.09.09 upd : 28, 3-->38,5
	SELECT @IWORK2 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 32, 6 ))	-- 収容数 -- 2009.09.09 upd : 23, 5-->32,6
	SELECT @IWORK3 = @IWORK1 * @IWORK2
	SELECT @IWORK1 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 43,10 ))	-- 納入数 -- 2009.09.09 upd : 31, 7-->43,10
--  リーダー処理は (納入数エラー) 
	IF @IWORK1 <> @IWORK3 AND @PROCKB = 0 	
		BEGIN	SELECT @ERR = 8		SELECT @ERRGYO = @TIWORK + 1	GOTO END_PROC   END
--select @ERR = @IWORK3	--test
--goto END_PROC			--test
--	-------------------------------------------------------------------
--	 伝票重複チェック【 受注入力テーブルとの重複チェック 明細行単位 】 
--	-------------------------------------------------------------------
	SELECT @IWORK1 = 0
	SELECT @IWORK1 = ( SELECT COUNT(品番) FROM 受注入力ワーク
				WHERE 端末番号 = HOST_NAME()
				    AND 納入先     = @NTORCD
				    AND 受入	      = @UKE2
				    AND 納入番号 = SUBSTRING( @HEAD, 35, 5 )								-- 納入番号 -- 2009.09.09 upd : 32, 5-->35, 5 
--========================= 2008/12/26 Start
--				    AND 品番 	     = SUBSTRING( @BODY, @TIWORK2 + 1, 18 )
				    AND REPLACE(品番,'-','') = REPLACE(SUBSTRING( @BODY, @TIWORK2 + 1, 25 ),'-','')	  -- 2009.09.09 upd : 18-->25 / 2009.09.14 upd : 右側をREPLACEにした
--========================= 2008/12/26 End
				    AND 背番号    = @W_SEBAN
				    AND 枚数	     = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 38, 5 ))	-- 箱数   -- 2009.09.10 upd : 28 ,3-->38,5
				    AND 納入数     = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 43,10 )) )	-- 納入数 -- 2009.09.10 upd : 31, 7-->43,10
--============================= 2011/10/04 Start
	IF @IWORK1 <> 0		SELECT @DBRFLG = STUFF( @DBRFLG, @TIWORK + 1, 1, '1' )
/*
	IF @IWORK1 <> 0		
	   BEGIN
		SELECT @ERR = 17
		SELECT @ERRGYO = @TIWORK + 1
		GOTO END_PROC
	   END
*/
--============================= 2011/10/04 End
--	-------------------------------------------------------------------
--	 受注重複チェック【 受注テーブルとの重複チェック 明細行単位 】 
--	-------------------------------------------------------------------
	SELECT @IWORK1 = 0
	SELECT @IWORK1 = ( SELECT COUNT(品番) FROM 受注テーブル

				WHERE 納入先     = @NTORCD
				    AND 受入	     = @UKE2
				    AND 納入番号 = SUBSTRING( @HEAD, 35, 5 )								-- 2009.09.09 upd 32-->35 
--========================= 2008/12/26 Start
--				    AND 品番 	     = SUBSTRING( @BODY, @TIWORK2 + 1, 18 )
				    AND REPLACE(品番,'-','') = REPLACE(SUBSTRING( @BODY, @TIWORK2 + 1, 25 ),'-','')	-- 2009.09.09 upd : 18-->25 / 2009.09.14 upd : 右側をREPLACEにした
--========================= 2008/12/26 End
				    AND 背番号    = @W_SEBAN
				    AND 枚数	     = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 38, 5 ))	-- 2009.09.10 upd 28, 3-->38,5
				    AND 納入数     = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 43, 10 )))	-- 2009.09.10 upd 31, 7-->43, 10
--============================= 2011/10/04 Start
	IF @IWORK1 <> 0		SELECT @GDBRFLG = STUFF( @GDBRFLG, @TIWORK + 1, 1, '1' )
/*
	IF @IWORK1 <> 0		
	   BEGIN
		SELECT @ERR = 16
		SELECT @ERRGYO = @TIWORK + 1
		GOTO END_PROC
	   END
*/
--============================= 2011/10/04 End
	SELECT @TIWORK = @TIWORK + 1
   END
-- ----------------------------------------------------
-- 						
-- 		伝 票 重 複  チ ェ ッ ク		
-- 							
--  【 受注入力ワークとの重複チェック 明細行数 】	
-- 							
-- ----------------------------------------------------
IF @DBRFLG = REPLICATE( '1', LEN(RTRIM(@DBRFLG)) )
   BEGIN
-- 	-----------------------------------------------
-- 		受注入力ワーク カーソル定義		
-- 	-----------------------------------------------
	DECLARE JYNCUR SCROLL CURSOR
	FOR 
		SELECT COUNT(品番) FROM 受注入力ワーク
					WHERE 端末番号  = HOST_NAME()
					    AND 納入先     = @NTORCD
					    AND 受入	      = @UKE2
					    AND 納入番号  = SUBSTRING( @HEAD, 35, 5 )					-- 2009.09.09 upd : 32-->35
					AND     納品書頁  = CONVERT(INT,SUBSTRING( @HEAD, 40, 2 ))		-- 2009.09.09 upd : 37-->40
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2009/01/16 INSERT START
					AND     納入日    = SUBSTRING( @HEAD, 9, 8 )
					AND     納入便    = SUBSTRING( @HEAD, 17, 2)
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2009/01/16 INSERT END
					GROUP BY 納入番号,納品書頁
	FOR READ ONLY
	OPEN JYNCUR
	SELECT @IWORK2 = 0
-- 	---------------------------------------
-- 		受注入力ワーク 読込		
-- 	---------------------------------------
	FETCH NEXT FROM JYNCUR INTO	@IWORK1
	WHILE (@@FETCH_STATUS <> -1)
	   BEGIN
		IF (@@FETCH_STATUS <> -2)
		   BEGIN
			IF @IWORK1 = LEN(RTRIM(@DBRFLG))	SELECT @IWORK2 = 1
		   END
		FETCH NEXT FROM JYNCUR INTO	@IWORK1
	   END
	CLOSE JYNCUR
	DEALLOCATE JYNCUR
	IF @IWORK2 <> 0		BEGIN	SELECT @ERR = 17	GOTO END_PROC	END
   END
-- ----------------------------------------------------
-- 							
-- 		受 注 重 複  チ ェ ッ ク		
-- 							
--         【 受注テーブルとの重複チェック 明細行数 】	
-- 							
-- ----------------------------------------------------
SELECT @EJYNO = 0
IF @GDBRFLG = REPLICATE( '1', LEN(RTRIM(@GDBRFLG)) )
   BEGIN
-- 	-----------------------------------------------
-- 		受注テーブル カーソル定義		
-- 	-----------------------------------------------
	DECLARE GJYCUR SCROLL CURSOR
	FOR 
		SELECT COUNT(品番), 受注管理NO  FROM 受注テーブル
					WHERE 納入先     = @NTORCD
					AND     受入	      = @UKE2
					AND     納入番号  = SUBSTRING( @HEAD, 35, 5 )					-- 2009.09.09 upd : 32-->35
					AND     納品書頁  = CONVERT(INT,SUBSTRING( @HEAD, 40, 2 ))		-- 2009.09.09 upd : 37-->40
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2009/01/16 INSERT START
					AND     納入日    = SUBSTRING( @HEAD, 9, 8 )
					AND     納入便    = SUBSTRING( @HEAD, 17, 2)
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2009/01/16 INSERT END
					GROUP BY 受注管理NO
	FOR READ ONLY
	OPEN GJYCUR
	SELECT @IWORK3 = 0
-- 	*---------------------------------------*
-- 	*	受注テーブル 読込		*
-- 	*---------------------------------------*
	FETCH NEXT FROM GJYCUR INTO	@IWORK1, @WORK2
	WHILE (@@FETCH_STATUS <> -1)
	   BEGIN
		IF (@@FETCH_STATUS <> -2)
		   BEGIN
			IF @IWORK1 = LEN(RTRIM(@GDBRFLG))
			   BEGIN
				SELECT @IWORK3 = 1
			   END
		   END
		FETCH NEXT FROM GJYCUR INTO	@IWORK1, @WORK2
	   END
	CLOSE GJYCUR
	DEALLOCATE GJYCUR
	IF @IWORK3 <> 0		BEGIN	SELECT @ERR = 16	GOTO END_PROC	END
   END
-- *----------------------------*
-- *	チェック終了処理	*
-- *----------------------------*
END_PROC:
SELECT @BODY2 = SUBSTRING(@BODY,261,260)	-- 2009.09.10 upd : 186,185-->261,260
SELECT @BODY  = SUBSTRING(@BODY,  1,260)	-- 2009.09.10 upd : 185-->270

IF @PROCKB <> 0
   BEGIN
           RETURN (@ERR)
--       goto END_OCRPROC_ERR	
   END
IF @ERR <> 0	GOTO OCR_ERR

--//////////////////////////////////////////////////////////
--//
--//		更         新       処        理 
--//
--//////////////////////////////////////////////////////////
-- ----------------------------------------------------------------------------
-- 	リーダー処理の場合は、これ以降のテーブル出力処理を続けて行います。	
-- ----------------------------------------------------------------------------
SELECT @BODY = SUBSTRING(@BODY,1,260) + @BODY2		-- 2009.09.10 upd : 185-->260

DECLARE @KANRNO		INT		-- 管理NO (受注管理番号)
DECLARE @KANRGNO	TINYINT	-- 管理行NO (受注管理番号)
-- ----------------------------
-- 	【  変換ＯＫ  】	*
-- ----------------------------
BEGIN TRANSACTION

SELECT @KANRNO = 0
SELECT @KANRGNO = 1

SELECT @TIWORK = 0
WHILE ( @TIWORK <= 9 )
   BEGIN
	SELECT @TIWORK2 = @TIWORK * 52								-- 2009.09.10 upd : 37-->52
	IF SUBSTRING( @BODY, @TIWORK2 + 1, 31 ) = ''	BREAK		-- 品番・背番号未入力は処理しない	-- 2009.09.10 upd : 22-->31
	-- 背番・品番なしは処理対象外(明細ﾁｪｯｸ終了)
	SELECT @WORK = RTRIM(SUBSTRING( @BODY, @TIWORK2 + 1, 31 ))	-- 2009.09.10 upd : 22-->31
	IF @WORK = '' OR @WORK IS NULL 	BREAK
	-- -----------------
	--  受注管理NO 採番 
	-- -----------------
	IF @KANRNO = 0
	   BEGIN
		EXEC 番号獲得  11,  @KANRNO OUTPUT, @WRTN OUTPUT
		IF @WRTN <> 0 	BEGIN	SELECT @ERR = 99	GOTO END_OCRPROC_ERR	END
	   END
	SELECT @KANRGNO = @TIWORK + 1
	-- // 品番
	SELECT @KHINBN = SUBSTRING( @BODY, @TIWORK2 + 1, 25 )		-- 2009.09.09 upd : 18-->25
	-- // 背番号
	SELECT @W_SEBAN = SUBSTRING( @BODY, @TIWORK2 + 26, 6 )		-- 2009.09.10 upd : 19, 4-->26, 6

	SELECT @WORK = NULL
	SELECT @WORK = ( SELECT MIN(背番号) FROM 品番取引先マスタ
					WHERE 取引先  = @NTORCD
					    AND 受入 	   = @UKE2
--					    AND 品番	   = @KHINBN
					    AND REPLACE(品番,'-','') = REPLACE(@KHINBN,'-','')	-- 2009.09.14 upd : 右側をREPLACEにした
					    AND 品目 	   = 0 )
	IF @WORK IS NOT NULL
	   BEGIN
 		SELECT @W_SEBAN = @WORK
   	   END
	--==================== 2008/12/26 Start
	SELECT @WORK = ''
	SELECT @WORK = ISNULL(品番,'') from 品番マスタ
	WHERE REPLACE(品番,'-','') = REPLACE(@KHINBN,'-','')		-- 2009.09.14 upd : 右側をREPLACEにした
	IF @WORK <> ''
	   BEGIN
		SELECT @KHINBN = @WORK
	   END
		
	--==================== 2008/12/26 End
	IF RIGHT(SUBSTRING( @HEAD, 35, 5 ),1) = '0'			--2009/12/22 分納伝票の場合は､ワークに出力
	   BEGIN
--	-------------------------------
--	 ≪ 受注入力ワーク INSERT ≫ 
--	-------------------------------
          INSERT INTO 受注入力ワーク 
			(端末番号, 受注管理NO,受注管理行NO,受注区分, 受注日, 受注便,
			 納入日,納入便, 納入先, 出荷予定日, 出荷予定便,受入, 機番,
			 納入番号,納品書頁,納品書行,分納区分, 分納回数,
			 品番, 背番号,
			 枚数,
			 収容数,
			 納入数, 端数,
			 出荷指示書NO,出荷指示書行NO, 抜取枚数, 納品書発行区分,
			 エフ発行枚数, エフ発行端数,
			 作成種別, 累積区分, 納品書管理NO, 元出荷指示書NO,元出荷指示書行NO)
		Values
			(Host_Name(),@KANRNO,@KANRGNO,@JYKB,CONVERT(VARCHAR(8),Getdate(),112),'',
			 @YMD,@BIN,@NTORCD,@YMD,@BIN,@UKE2,SUBSTRING( @HEAD, 19, 3 ),						-- 2009.09.09 upd : 19, 2-->19, 3
			 SUBSTRING( @HEAD, 35, 5 ),CONVERT(INT,SUBSTRING( @HEAD, 40, 2 )),@TIWORK + 1,0,0,	-- 2009.09.09 upd : 32-->35 37-->40
--=========================== 2008/12/26 Start
--			 SUBSTRING( @BODY, @TIWORK2 + 1, 18 ),@W_SEBAN,
			 @KHINBN,@W_SEBAN,
--=========================== 2008/12/26 End
			 CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 38, 5 )),		-- 2009.09.10 upd : 28, 3-->38,5
			 CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 32, 6 )),		-- 2009.09.10 upd : 23, 5-->32,6

-- <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>< 2006/06/22 MNT >
--			 CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 31, 7 )),9,
			 CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 43,10 )), 0,	-- 2009.09.10 upd : 31, 7-->43,10
-- <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>< 2006/06/22 MNT >

			 0,0,0,9,			--0,											   2008/06/24 MNT
			CASE WHEN @JYKB IN(2,4,5,6,7,8) Then CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 38, 5 )) Else 0 End,0,	-- 2009.09.10 upd : 28, 3-->38,5
			'N',0,0,0,0 )
			IF @@ERROR <> 0  BEGIN	SELECT @ERR = 99  GOTO END_OCRPROC_ERR	END
	   END
	ELSE
	   BEGIN
--	-------------------------------
--	 ≪ 受注SIM伝票分納ワーク INSERT ≫ 
--	-------------------------------
          INSERT INTO 受注SIM伝票分納ワーク
			(端末番号, 受注日, 受注便,受注区分,
			 納入日,納入便, 納入先, 出荷予定日, 出荷予定便,受入, 機番,
			 納入番号,納品書頁,納品書行,
			 品番, 背番号,
			 枚数,
			 収容数,
			 納入数, 端数 )
		Values
			(Host_Name(),CONVERT(VARCHAR(8),Getdate(),112),'',@JYKB,
			 @YMD,@BIN,@NTORCD,@YMD,@BIN,@UKE2,SUBSTRING( @HEAD, 19, 3 ),	
			 SUBSTRING( @HEAD, 35, 5 ),CONVERT(INT,SUBSTRING( @HEAD, 40, 2 )),@TIWORK + 1,
			 @KHINBN,@W_SEBAN,
			 CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 40, 5 )),	
			 CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 34, 6 )),	
			 CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 45,10 )), 0 )	
			IF @@ERROR <> 0  BEGIN	SELECT @ERR = 99  GOTO END_OCRPROC_ERR	END
	   END

	SELECT @TIWORK = @TIWORK + 1
   END
COMMIT TRANSACTION

GOTO END_OCRPROC
-- ----------------------------
-- 	【  変換エラー  】	
-- ----------------------------
OCR_ERR:

-- ----------------------------
-- 	チェック終了処理	
-- ----------------------------
END_OCRPROC:
RETURN (0)
-- ------------------------------------
-- 	テーブル更新時 異常終了処理	
-- ------------------------------------
END_OCRPROC_ERR:
RETURN (99)
-- TEST
/*
IF @ERR <> 0
   BEGIN
 	SELECT 'ERR=' + CONVERT(CHAR(2),@ERR)
   END */
-- TEST END



/****** オブジェクト:  StoredProcedure [dbo].[受注TBチケットチェック]    スクリプト日付: 01/14/2009 10:30:28 ******/
SET ANSI_NULLS ON











GO
