USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[便算出]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE     PROCEDURE [dbo].[便算出](@KASAN VARCHAR(1),@TORCD VARCHAR(7),@CYCLE VARCHAR(5),@UKEIR VARCHAR(2),
			@DATE VARCHAR(8),@BIN VARCHAR(2) OUTPUT,@GYOKB TINYINT,@HADDKB TINYINT,
			@RTN TINYINT OUTPUT,@SDATE VARCHAR(8) OUTPUT,@SBIN VARCHAR(2) OUTPUT,
			@HDATE VARCHAR(8) OUTPUT,@HTIME VARCHAR(4) OUTPUT,
			@PDATE VARCHAR(8) OUTPUT,@PTIME VARCHAR(4) OUTPUT) AS
--*-------------------------------------------------------------------------------------*--
--*	昼夜勤・稼働日を考慮し､発注サイクルより納入日・便を求める		
--*
--*	@KASAN	= 加減		+:加算（振出日→納入日）	-:減算（納入日→振出日）
--*	@TORCD	= 仕入先
--*	@CYCLE	= サイクル
--*	@UKEIR	= 受入
--*	@DATE	= 振出日・納入日	
--*	@BIN		= 振出便・納入日	
--*	@GYOKB	= 行識別
--*	@HADDKB	= 1:発注サイクルマスタの振出加算日で加算を行う	、0:行わない
--*
--*	戻り値	@RTN	= ﾘﾀｰﾝｺｰﾄﾞ
--*		@SDATE	= (+)納入日,(-)発注日　　　　納入加算を行う（発注サイクルマスタの発注加算日)
--*		@SBIN		= (+)納入便・(-)発注便
--*		@FDATE	= 振出加算日を加算後の発注日
--*		@HTIME	= 発注時間
--*		@PDATE	= 発行日
--*		@PTIME	= 発行時間
--*
--*
--*	作成日	 ：	2004/01/19
--*	変更日	 ：	2004/05/12	サイクル（日）が２以上の時、最終発注日より今回発注日を求める
--*	変更日	 ：	2005/11/17 	曜日発注の機能追加
--*	変更日	 ：	2005/11/17 	システムオプション（稼働日カレンダー）の追加
--*					発注日算出は自社カレンダー、納入日算出は仕入先カレンダー
--*	変更日	 ：	2006/07/06	曜日発注-納入日算出時のカレンダマスタ読込み修正
--*	変更日	 ：	
--*
--*-------------------------------------------------------------------------------------*--
DECLARE @RDYMD 	 	VARCHAR(8)
DECLARE @RDTIME 	 	VARCHAR(4)
--* TEST
/*
DECLARE @KASAN VARCHAR(1)
DECLARE @TORCD VARCHAR(7),@CYCLE VARCHAR(5),@UKEIR VARCHAR(2)
DECLARE @DATE VARCHAR(8),@BIN VARCHAR(2) ,@GYOKB TINYINT,@HADDKB TINYINT
DECLARE @RTN TINYINT ,@SDATE VARCHAR(8) ,@SBIN VARCHAR(2)
DECLARE @HDATE VARCHAR(8),@HTIME VARCHAR(4) ,@PDATE VARCHAR(8),@PTIME VARCHAR(4)

SELECT @KASAN = '+'
SELECT @HADDKB = 1
SELECT @TORCD = '10172',@CYCLE = '20102',@UKEIR = '01',@DATE = '20040512',@BIN = '01',@GYOKB = 1
SELECT @RTN = 0,@SDATE = '',@SBIN = '',@HDATE = '',@HTIME = '',@PTIME = '',@PDATE = ''

SELECT @RDYMD = @DATE
SELECT @RDTIME = '1800'
*/
--* TEST END
DECLARE @HADDDAY         INT
DECLARE @FADDDAY         INT
DECLARE @PADDDAY         INT

DECLARE @INTERVAL 	SMALLINT		-- 日付間隔
DECLARE @DAYNIGHT	TINYINT		-- 昼夜勤区分
DECLARE @DAYKB		VARCHAR(31)		-- 昼勤稼動区分
DECLARE @NIGHTKB		VARCHAR(31)		-- 夜勤稼動区分
DECLARE @HCDAYKB	VARCHAR(08)		--
DECLARE @TDATE		DATETIME		-- 日付型

DECLARE @SYM		VARCHAR(06)		-- 年月退避
DECLARE @INTDAY		SMALLINT		
DECLARE @DCNT		SMALLINT
DECLARE @WDATE		DATETIME
DECLARE @SAVEYMD	VARCHAR(08)		--

DECLARE @AFTERBIN	SMALLINT
DECLARE @BINIDX		SMALLINT
DECLARE @WBIN		SMALLINT
DECLARE @WBINX		VARCHAR(02)

DECLARE @YOUBIHC	TINYINT		-- 曜日発注区分				( 2005/11/17追加 )
DECLARE @YOUBI1		TINYINT		-- 月曜日発注区分				( 2005/11/17追加 )
DECLARE @YOUBI2		TINYINT		-- 火曜日発注区分				( 2005/11/17追加 )
DECLARE @YOUBI3		TINYINT		-- 水曜日発注区分				( 2005/11/17追加 )
DECLARE @YOUBI4		TINYINT		-- 木曜日発注区分				( 2005/11/17追加 )
DECLARE @YOUBI5		TINYINT		-- 金曜日発注区分				( 2005/11/17追加 )

DECLARE @SYSCLKB	TINYINT		-- システムオプション　稼働日カレンダー	( 2005/11/17追加 )

SET NOCOUNT ON
-- 初期クリア
SELECT @RTN = 0,@SDATE = '',@SBIN = '',@HDATE = '',@HTIME = '',@PTIME = '',@PDATE = ''

-- システムオプション　稼働日カレンダー(自社・仕入先）					( 2005/11/17追加 )
SELECT @SYSCLKB = 0
SELECT @SYSCLKB = CONVERT(TINYINT,SUBSTRING(oyian,1,1)) FROM irnaksic
WHERE bk = 'Option'
    AND rno = 33

--(( 発注ｻｲｸﾙﾏｽﾀより開始シーケンス便を求める ))
SELECT @WBIN = 0,@HADDDAY = 0,@HTIME = ''
SELECT @WBIN = CONVERT(SMALLINT,HC.シーケンス便),
	@HADDDAY = HC.発注加算日,@FADDDAY = HC.振出加算日,@HTIME = HC.振出時間,
	@DAYNIGHT = HC.昼夜区分,@PADDDAY = HC.発行加算日,@PTIME = HC.発行時間,
	@YOUBIHC = ISNULL(TU.曜日発注,0),@YOUBI1 = ISNULL(TU.曜日1,0),@YOUBI2 = ISNULL(TU.曜日2,0),
	@YOUBI3 = ISNULL(TU.曜日3,0),@YOUBI4 = ISNULL(TU.曜日4,0),@YOUBI5 = ISNULL(TU.曜日5,0)
 FROM 発注サイクルマスタ HC
LEFT OUTER JOIN 取引先受入マスタ TU
	ON TU.取引先ＣＤ = HC.仕入先
	AND TU.受入 = HC.受入
	AND TU.取引先区分 = 1WHERE HC.仕入先 = @TORCD
  AND HC.サイクル = @CYCLE
  AND HC.受入  = @UKEIR
  AND HC.振出便  = @BIN
  AND HC.行識別 = @GYOKB 
ORDER BY HC.受入 DESC
IF @WBIN = 0 	BEGIN	SELECT @RTN = 2	GOTO PROC_ERROR	END
-- (( ｶﾚﾝﾀﾞｰﾏｽﾀ 登録チェック ))
SELECT @DAYKB = ''
SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
WHERE 取引先区分 = 1
  AND 取引先 = ''
  AND 年 = SUBSTRING(@DATE,1,4)
  AND 月 = SUBSTRING(@DATE,5,2)
  AND 受入 = ''
IF @DAYKB = ''  BEGIN	SELECT @RTN = 1 	GOTO PROC_ERROR    END

--*----------------------------------------------------------------------------------------*--
--*	通常発注と曜日発注の分岐
--*----------------------------------------------------------------------------------------*--
IF @YOUBIHC <> 0 	BEGIN 	GOTO PROC_YOUBIHC 	END
--*========================================================================================*--
--*	【通常発注】
--*========================================================================================*--

SELECT @SAVEYMD = @DATE
-- 読取日が休日の時
IF @DAYNIGHT = 0
    BEGIN 
	IF SUBSTRING(@DAYKB,CONVERT(TINYINT,SUBSTRING(@DATE,7,2)),1) = '1'
	    BEGIN
		EXEC 日付加算 @DATE,1,@SAVEYMD OUTPUT,@RTN OUTPUT
	    END
    END
ELSE
    BEGIN 
	IF SUBSTRING(@NIGHTKB,CONVERT(TINYINT,SUBSTRING(@DATE,7,2)),1) = '1'
	    BEGIN
		EXEC 日付加算 @DATE,1,@SAVEYMD OUTPUT,@RTN OUTPUT
	    END
    END
--(( 発注日が変わった時、発注サイクルの振出便は最初の便 ))
IF @DATE <> @SAVEYMD
    BEGIN
	SET ROWCOUNT 1

	SELECT @BIN  = 振出便,@GYOKB = 行識別
	 FROM 発注サイクルマスタ	WHERE 仕入先 = @TORCD
	  AND サイクル = @CYCLE
	  AND 受入  = @UKEIR
	ORDER BY  シーケンス便 ,行識別 
	IF @WBIN = 0 	BEGIN	SELECT @RTN = 2	GOTO PROC_END	END

	SET ROWCOUNT 0
	SELECT @DATE = @SAVEYMD

	--(( 発注ｻｲｸﾙﾏｽﾀより開始シーケンス便を求める ))
	SELECT @WBIN = 0,@HADDDAY = 0,@HTIME = ''
	SELECT @WBIN = CONVERT(SMALLINT,シーケンス便),
		@HADDDAY = 発注加算日,@FADDDAY = 振出加算日,@HTIME = 振出時間,
		@DAYNIGHT = 昼夜区分,@PADDDAY = 発行加算日,@PTIME = 発行時間
	 FROM 発注サイクルマスタ	WHERE 仕入先 = @TORCD
	  AND サイクル = @CYCLE
	  AND 受入  = @UKEIR
	  AND 振出便  = @BIN
	  AND 行識別 = @GYOKB 
	ORDER BY 受入 DESC
	IF @WBIN = 0 	BEGIN	SELECT @RTN = 2	GOTO PROC_END	END

    END

----------------------------------------------------------
--	発注日加算有り
----------------------------------------------------------
IF @HADDKB <> 0
    BEGIN
	-------------------------
	--* 振出加算日<>0の時、
	-------------------------
	IF @FADDDAY <> 0 
	    BEGIN
		EXEC 日付加算 @DATE,@FADDDAY,@DATE OUTPUT,@RTN OUTPUT
		SELECT @RTN = 0
	    END
	----------------------------------
	--* 発注日算出
	----------------------------------
	IF SUBSTRING(@CYCLE,1,1) = '1'
	    BEGIN
		IF @HADDKB <> 0 AND @HADDDAY <> 0
		    BEGIN
			EXEC 日付加算 @DATE,@HADDDAY,@DATE OUTPUT,@RTN OUTPUT
			IF @RTN <> 0	BEGIN SELECT @HDATE = @DATE	END
			SELECT @RTN = 0
		    END
	    END 
	ELSE
	    BEGIN 
		SELECT @RDYMD = CONVERT(VARCHAR(8),GETDATE(),112)
		SELECT @RDTIME = SUBSTRING(CONVERT(VARCHAR(5),GETDATE(),114),1,2) + SUBSTRING(CONVERT(VARCHAR(5),GETDATE(),114),4,2)
	
		EXEC 発注日算出 @TORCD,@UKEIR,@CYCLE,@HTIME,@BIN,@GYOKB,@RDYMD,@RDTIME,@DATE OUTPUT,@RTN OUTPUT
		IF @RTN <> 0 BEGIN 	GOTO PROC_ERROR 	END
	    END
    END

SELECT @HDATE = @DATE

--* 納入日を日付型に変換
SELECT @TDATE = CONVERT(DATETIME,@HDATE,112)

-- (( ｶﾚﾝﾀﾞｰﾏｽﾀ 登録チェック ))
SELECT @DAYKB = ''
IF @SYSCLKB = 1 			/* 仕入先カレンダー */
    BEGIN
	SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
	WHERE 取引先区分 = 1
	  AND 取引先 = @TORCD
	  AND 年 = SUBSTRING(@HDATE,1,4)
	  AND 月 = SUBSTRING(@HDATE,5,2)
	  AND 受入 = ''
    END
IF @DAYKB = '' 
    BEGIN
	SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
	WHERE 取引先区分 = 1
	  AND 取引先 = ''
	  AND 年 = SUBSTRING(@HDATE,1,4)
	  AND 月 = SUBSTRING(@HDATE,5,2)
	  AND 受入 = ''
    END
IF @DAYKB = ''  BEGIN	SELECT @RTN = 1 	GOTO PROC_ERROR    END

-- 算出元日付
SELECT @WDATE = CONVERT(DATETIME,@HDATE,112)
SELECT @SYM = SUBSTRING(@HDATE,1,6)

---
-- 日付間隔   ｻｲｸﾙ(3-01-01等)
IF CONVERT(SMALLINT,SUBSTRING(@CYCLE,1,1)) / CONVERT(SMALLINT,SUBSTRING(@CYCLE,2,2)) > 1
	BEGIN
		SELECT @AFTERBIN = CONVERT(SMALLINT,SUBSTRING(@CYCLE,4,2)) * CONVERT(SMALLINT,SUBSTRING(@CYCLE,1,1))
	END
ELSE
	BEGIN		SELECT @AFTERBIN = CONVERT(SMALLINT,SUBSTRING(@CYCLE,4,2))
	END

SELECT @DAYKB,@AFTERBIN
--(( 稼動区分により便を加減算 ))
SELECT @BINIDX = 0
WHILE ( @BINIDX < @AFTERBIN ) 
	BEGIN
		IF @KASAN = '+'
			BEGIN		
			--(( 便の加算 ))
				SELECT @WBIN = @WBIN + 1
				IF @WBIN > CONVERT(SMALLINT,SUBSTRING(@CYCLE,2,2)) 
					BEGIN
						SELECT @WBIN = 1
						SELECT @WDATE = DATEADD(dd,1,@WDATE)
						IF @SYM <> CONVERT(VARCHAR(6),@WDATE,112) 
							BEGIN	-- (( 年月が変わった時、ｶﾚﾝﾀﾞｰﾏｽﾀ読込み ))
								SELECT @SYM = CONVERT(VARCHAR(6),@WDATE,112) 
								SELECT @DAYKB = ''
								IF @SYSCLKB = 1 
								    BEGIN
									SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
									WHERE 取引先区分 = 1
									  AND 取引先 = @TORCD
									  AND 年 = SUBSTRING(@SYM,1,4)
									  AND 月 = SUBSTRING(@SYM,5,2)
									  AND 受入 = ''
								    END
								IF @DAYKB = ''
								    BEGIN
									SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
									WHERE 取引先区分 = 1
									  AND 取引先 = ''
									  AND 年 = SUBSTRING(@SYM,1,4)
									  AND 月 = SUBSTRING(@SYM,5,2)
									  AND 受入 = ''
								    END
								IF @DAYKB = ''  	BEGIN SELECT @RTN = 3 	GOTO PROC_ERROR 	END
							END
					END
			END
		ELSE
			BEGIN	
			--(( 便の減算 ))
				SELECT @WBIN = @WBIN - 1
				IF @WBIN < 1
					BEGIN
						SELECT @WBIN = CONVERT(SMALLINT,SUBSTRING(@CYCLE,2,2)) 
						SELECT @WDATE = DATEADD(dd,-1,@WDATE)
						IF @SYM <> CONVERT(VARCHAR(6),@WDATE,112) 							BEGIN	-- (( 年月が変わった時、ｶﾚﾝﾀﾞｰﾏｽﾀ読込み ))
								SELECT @SYM = CONVERT(VARCHAR(6),@WDATE,112) 
								SELECT @DAYKB = ''
								IF @SYSCLKB = 1 
								    BEGIN
									SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
									WHERE 取引先区分 = 1
									  AND 取引先 = @TORCD
									  AND 年 = SUBSTRING(@SYM,1,4)
									  AND 月 = SUBSTRING(@SYM,5,2)
									  AND 受入 = ''
								    END
								IF @DAYKB = ''
								    BEGIN
									SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
									WHERE 取引先区分 = 1
									  AND 取引先 = ''
									  AND 年 = SUBSTRING(@SYM,1,4)
									  AND 月 = SUBSTRING(@SYM,5,2)
									  AND 受入 = ''
								    END

								IF @DAYKB = ''  	BEGIN SELECT @RTN = 4 	GOTO PROC_ERROR 	END
							END
					END

			END
		SELECT @WBINX = '' 
		IF @WBIN < 10
			BEGIN	SELECT @WBINX = '0' + CONVERT(VARCHAR(1),@WBIN)	END		ELSE
			BEGIN	SELECT @WBINX = CONVERT(VARCHAR(2),@WBIN)	END

--(( 発注ｻｲｸﾙﾏｽﾀより昼勤便か夜勤便かを求める ))
		SET ROWCOUNT 1
		SELECT @DAYNIGHT = 昼夜区分,@SBIN = 振出便
			 FROM 発注サイクルマスタ			WHERE 仕入先 = @TORCD
			  AND サイクル = @CYCLE
			  AND (受入  = @UKEIR OR 受入 = '')
			  AND シーケンス便  = @WBINX
			  AND 行識別 = 0 
		ORDER BY 受入 DESC
		IF @DAYNIGHT IS NULL 	BEGIN	SELECT @RTN = 2	GOTO PROC_END	END
		SET ROWCOUNT 0

		IF @DAYNIGHT = 0
			BEGIN
				IF SUBSTRING(@DAYKB,DATEPART(dd,@WDATE),1) = '0'
					BEGIN
						SELECT @BINIDX = @BINIDX + 1
					END
			END 
		ELSE
			BEGIN
				IF SUBSTRING(@NIGHTKB,DATEPART(dd,@WDATE),1) = '0'
					BEGIN
						SELECT @BINIDX = @BINIDX + 1
					END
			END
	END


--(( 納入日算出 ))--
SELECT @SDATE = CONVERT(VARCHAR(8),@WDATE,112)
/*2004/05/12削除
IF @NADDDAY <> 0 AND @HADDKB <> 0
    BEGIN
	EXEC 日付加算 @SDATE,@NADDDAY,@SDATE OUTPUT,@RTN OUTPUT
	SELECT @RTN = 0
    END
*/
--(( 発行日算出 ))--
SELECT @PDATE = @HDATE
/*2004/05/12削除
IF @PADDDAY <> 0 AND @HADDKB <> 0
    BEGIN
	EXEC 日付加算 @PDATE,@PADDDAY,@PDATE OUTPUT,@RTN OUTPUT
	SELECT @RTN = 0
    END
*/
GOTO PROC_END

PROC_YOUBIHC:
--*============================================================================*--
--*
--*	【曜日発注】						2005/11/17機能追加
--*
--*============================================================================*--
--*   発注日を求める
/*-----------------------------------------------------------------------------*/
/*    《曜日発注》発注日を求める	（便　は　１便）								*/
/*-----------------------------------------------------------------------------*/
SELECT @BINIDX = 0
SELECT @WDATE = CONVERT(DATETIME,@DATE,112)
SELECT @SYM = SUBSTRING(@DATE,1,6)
SELECT @BIN = '01',@SBIN = '01'
IF @YOUBI1 <> 0 BEGIN SELECT @YOUBI1 = 2 	END
IF @YOUBI2 <> 0 BEGIN SELECT @YOUBI2 = 3 	END
IF @YOUBI3 <> 0 BEGIN SELECT @YOUBI3 = 4 	END
IF @YOUBI4 <> 0 BEGIN SELECT @YOUBI4 = 5 	END
IF @YOUBI5 <> 0 BEGIN SELECT @YOUBI5 = 6 	END
IF @GYOKB = 0
    BEGIN
	SELECT @WDATE = DATEADD(dd,-1,@WDATE)
    END

/*  発注日を求める		*/
WHILE ( @BINIDX < 1 ) 
	BEGIN
	--(( 日の加算 ))
		SELECT @WDATE = DATEADD(dd,1,@WDATE)
		SELECT @WBIN = DATEPART(WEEKDAY,@WDATE)
		IF @WBIN = @YOUBI1 OR @WBIN = @YOUBI2 OR @WBIN = @YOUBI3 OR @WBIN = @YOUBI4 OR @WBIN = @YOUBI5 
		    BEGIN
			IF @SYM <> CONVERT(VARCHAR(6),@WDATE,112) 
			    BEGIN	-- (( 年月が変わった時、ｶﾚﾝﾀﾞｰﾏｽﾀ読込み ))
				SELECT @SYM = CONVERT(VARCHAR(6),@WDATE,112) 
				SELECT @DAYKB = ''
				SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
				WHERE 取引先区分 = 1
				  AND 取引先 = ''
				  AND 年 = SUBSTRING(@SYM,1,4)
				  AND 月 = SUBSTRING(@SYM,5,2)
				  AND 受入 = ''
				IF @DAYKB = ''  	BEGIN SELECT @RTN = 1 	GOTO PROC_ERROR 	END
			    END
	--(( 発注ｻｲｸﾙﾏｽﾀより昼勤便か夜勤便かを求める ))
			SET ROWCOUNT 1
			SELECT @DAYNIGHT = 昼夜区分,@HTIME = 発行時間
				 FROM 発注サイクルマスタ				WHERE 仕入先 = @TORCD
				  AND サイクル = @CYCLE
				  AND 受入  = @UKEIR
				  AND 振出便  = 1
				  AND 行識別 = 0 			IF @DAYNIGHT IS NULL 	BEGIN	SELECT @RTN = 2	GOTO PROC_END	END
			SET ROWCOUNT 0
			IF @DAYNIGHT = 0
			    BEGIN
				IF SUBSTRING(@DAYKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @BINIDX = @BINIDX + 1
				    END
			    END 
			ELSE
			    BEGIN
				IF SUBSTRING(@NIGHTKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @BINIDX = @BINIDX + 1
				    END
			    END

		    END
	END
SELECT @HDATE = CONVERT(VARCHAR(8),@WDATE,112)
SELECT @PDATE = @HDATE
/*-----------------------------------------------------------------------------*/
/*    《曜日発注》納入日を求める	（便　は　１便）								*/
/*-----------------------------------------------------------------------------*/
SELECT @SYM = CONVERT(VARCHAR(6),@WDATE,112) 
IF @SYSCLKB = 1
    BEGIN
	SELECT @DAYKB = ''
	SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
	WHERE 取引先区分 = 1
	  AND 取引先 = @TORCD
	  AND 年 = SUBSTRING(@SYM,1,4)
	  AND 月 = SUBSTRING(@SYM,5,2)
	  AND 受入 = ''
    END
IF @DAYKB = ''
    BEGIN
	SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
	WHERE 取引先区分 = 1

-- <><>    <><>    <><>    <><>    <><>  < 2006/07/06 MNT > 
--	  AND 取引先 = @TORCD
	  AND 取引先 = ''
-- <><>    <><>    <><>    <><>    <><>  < 2006/07/06 MNT END > 

	  AND 年 = SUBSTRING(@SYM,1,4)
	  AND 月 = SUBSTRING(@SYM,5,2)
	  AND 受入 = ''
    END
/*  納入日を求める		*/
WHILE ( @BINIDX < 2 ) 
	BEGIN
	--(( 日の加算 ))
		SELECT @WDATE = DATEADD(dd,1,@WDATE)
		SELECT @WBIN = DATEPART(WEEKDAY,@WDATE)
		IF @WBIN = @YOUBI1 OR @WBIN = @YOUBI2 OR @WBIN = @YOUBI3 OR @WBIN = @YOUBI4 OR @WBIN = @YOUBI5 
		    BEGIN
			IF @SYM <> CONVERT(VARCHAR(6),@WDATE,112) 
			    BEGIN	-- (( 年月が変わった時、ｶﾚﾝﾀﾞｰﾏｽﾀ読込み ))
				SELECT @SYM = CONVERT(VARCHAR(6),@WDATE,112) 
				SELECT @DAYKB = ''
				IF @SYSCLKB = 1
				    BEGIN
					SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
					WHERE 取引先区分 = 1
					  AND 取引先 = @TORCD
					  AND 年 = SUBSTRING(@SYM,1,4)
					  AND 月 = SUBSTRING(@SYM,5,2)
					  AND 受入 = ''
				    END
				IF @DAYKB = ''
				    BEGIN
					SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
					WHERE 取引先区分 = 1
					  AND 取引先 = ''
					  AND 年 = SUBSTRING(@SYM,1,4)
					  AND 月 = SUBSTRING(@SYM,5,2)
					  AND 受入 = ''
				    END
				IF @DAYKB = ''  	BEGIN SELECT @RTN = 1 	GOTO PROC_ERROR 	END
			    END
	--(( 発注ｻｲｸﾙﾏｽﾀより昼勤便か夜勤便かを求める ))
			SET ROWCOUNT 1
			SELECT @DAYNIGHT = 昼夜区分,@HTIME = 発行時間
				 FROM 発注サイクルマスタ				WHERE 仕入先 = @TORCD
				  AND サイクル = @CYCLE
				  AND 受入  = @UKEIR
				  AND 振出便  = 1
				  AND 行識別 = 0 			IF @DAYNIGHT IS NULL 	BEGIN	SELECT @RTN = 2	GOTO PROC_END	END
			SET ROWCOUNT 0
			IF @DAYNIGHT = 0
			    BEGIN
				IF SUBSTRING(@DAYKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @BINIDX = @BINIDX + 1
				    END
			    END 
			ELSE
			    BEGIN
				IF SUBSTRING(@NIGHTKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @BINIDX = @BINIDX + 1
				    END
			    END

		    END
	END

SELECT @SDATE = CONVERT(VARCHAR(8),@WDATE,112)



PROC_END:

--SELECT '振出日加算' = @FADDDAY,'発行日加算' = @HADDDAY,'振出時間' = @HTIME,'発行時間' = @PTIME,'サイクル' = @CYCLE
--SELECT '振出日' = @DATE + '-' + @BIN,'発注日' = @HDATE + '-' + @BIN, '納入日' = @SDATE + '-' + @SBIN
RETURN(0)
--RETURN

PROC_ERROR:

--SELECT 'ERROR' = @RTN
RETURN



GO
