USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[買掛支給訂正]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[買掛支給訂正]
		(  @JYM VARCHAR(6),@JTORCD VARCHAR(7),@SSHIME TINYINT,@ESHIME TINYINT,@JSYORI VARCHAR(1),@TANTO VARCHAR(15),
		   @ERR TINYINT OUTPUT,@TCNT INT OUTPUT,@JCNT INT OUTPUT ) AS
---------------------------------------------------------------------------------------------------
--	買掛支給訂正
--
--	処理内容	支給実績データの入力区分=''(訂正入力分) の実績区分を更新する
--			対象となった契約先を買掛契約先ワークに出力する				
--				
--	ﾊﾟﾗﾒﾀ		@JYM	   : 	支給年月
--			@JEYMD :      終了対象年月日
--		  	@JTORCD :    契約先
--		  	@JSHIME :     締日 (0:全て、99:末日、その他:締日）		
--		  	@JSYORI :     処理区分 (0:新規,1:再処理)
--		  	@TANTO  :     処理担当者
--
--	戻り値		@ERR     :      処理結果
--					0  :正常終了
--					≠0:異常終了
--			@TCNT    :      支給対象データ件数（支給実績テーブル）
--			@JCNT    :      支給実績更新件数
--
--	作成日　：	2004/12/09
--
---------------------------------------------------------------------------------------------------
SET NOCOUNT ON
--T 
/*
DECLARE @JYM	VARCHAR(6)
DECLARE @JTORCD VARCHAR(7)
DECLARE @SSHIME   TINYINT
DECLARE @ESHIME   TINYINT
DECLARE @JSYORI  VARCHAR(1)
DECLARE @TANTO  VARCHAR(15)
DECLARE @ERR		TINYINT
DECLARE @TCNT 	INT
DECLARE @JCNT	INT
SELECT @JYM = '200412'
SELECT @SSHIME = 0
SELECT @ESHIME = 99
SELECT @JTORCD = '%'
SELECT @TANTO = ''
SELECT @JSYORI = ''
*/
--T
--*--------------------*--
--<<　トランザクション開始 >>------
BEGIN TRANSACTION JSCRT
--*--------------------*--
-- 初期値セット
SELECT @ERR = 0
SELECT @TCNT = 0
SELECT @JCNT = 0

-- 再処理用 実績年月セット
IF @JSYORI = '1'
   BEGIN
	UPDATE 支給実績テーブル SET
		実績区分 = 1
	 WHERE 実績年月 = @JYM
	   AND 契約先 LIKE @JTORCD
	   AND 締日 >= @SSHIME
	   AND 締日 <= @ESHIME
	   AND 入力区分 = ''
 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 25 GOTO PROC_ERROR END
   END

-- 対象件数
SELECT @TCNT = (	SELECT COUNT(検収管理NO) FROM 支給実績テーブル
			 WHERE 実績年月 = @JYM
			   AND 契約先 LIKE @JTORCD
			   AND 締日 >= @SSHIME
			   AND 締日 <= @ESHIME
			   AND 入力区分 = ''
			   AND 実績区分 = 1)
IF @TCNT = 0 BEGIN GOTO END_PROC 	END

-- *------------------------------------*
-- * 支給実績テーブルカーソル定義  			*
-- *------------------------------------*
DECLARE JSCUR SCROLL CURSOR
FOR 
	SELECT 契約先,MIN(締日) FROM 支給実績テーブル
	 WHERE 実績年月 = @JYM
	   AND 契約先 LIKE @JTORCD
	   AND 締日 >= @SSHIME
	   AND 締日 <= @ESHIME
	   AND 入力区分 = ''
	   AND 実績区分 = 1
	GROUP BY 契約先
FOR READ ONLY 
OPEN JSCUR

--* ｶｰｿﾙ項目定義 *--
DECLARE @SHIME TINYINT,@KTORCD VARCHAR(8)
--* ﾜｰｸ項目定義 *--
--* 単価決定　戻り値
--*--------------------------------------------------------------------------------*--
--* 支給実績テーブル  読込 							           *
--*--------------------------------------------------------------------------------*--
FETCH NEXT FROM JSCUR INTO @KTORCD ,@SHIME 
WHILE @@FETCH_STATUS = 0
BEGIN
--	SELECT @TCNT = @TCNT + 1

	-------------------------
	--     買掛契約先ワーク更新
	-------------------------
	IF (SELECT COUNT(*) FROM 買掛契約先ワーク WHERE 契約先 = @KTORCD) = 0 
	    BEGIN 
		INSERT INTO 買掛契約先ワーク (契約先,締日,作成端末) VALUES (@KTORCD,@SHIME,HOST_NAME())
	 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 26 GOTO PROC_ERROR END
	    END


-- *----------------------------------------------------*
-- *  支給実績テーブルカーソルスクロール(次レコード）  		       *
-- *----------------------------------------------------*
	FETCH NEXT FROM JSCUR INTO @KTORCD ,@SHIME 
END

CLOSE JSCUR
DEALLOCATE JSCUR

UPDATE 支給実績テーブル SET
	実績区分 = 0
 WHERE 実績年月 = @JYM
   AND 契約先 LIKE @JTORCD
   AND 締日 >= @SSHIME
   AND 締日 <= @ESHIME
   AND 入力区分 = ''
   AND 実績区分 = 1
SELECT @JCNT = @@ROWCOUNT

------------------------------
--         終 了　
------------------------------
END_PROC:
--SELECT '入力件数' = @TCNT,'実績件数' = @JCNT	--T 
--<<　トランザクション終了 >>------
COMMIT TRANSACTION JSCRT

RETURN(0)
------------------------------
--    エラー処理
------------------------------
PROC_ERROR:
/*
--T

IF @ERR <> 0 
   BEGIN
	SELECT 'ERR=' + CONVERT(CHAR(2),@ERR)
  END
*/
--T END

RETURN(@ERR)

GO
