USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[展開処理]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE     PROCEDURE [dbo].[展開処理]	@TG_NJYM VARCHAR(6), @PROCKB TINYINT, 
				@INCNT   INT OUTPUT, @OUTCNT INT OUTPUT AS
SET NOCOUNT ON
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 * ( CNJ0310 )
 *			展　　開　　処　　理
 *
 *			PARAMETER	@TG_NJYM( INPUT  )	対象内示年月
 *					@PROCKB	( INPUT  )	処理区分	( 0:前回内容削除, 1:前回内容退避 )
 *					@INCNT  ( OUTPUT )	入力件数 ( 生産計画データ件数 )
 *					@OUTCNT ( OUTPUT )	出力件数 ( 発注内示結果データ件数 )
 *
 *			RETURN		0 : 正常終了
 *			 		9 : 異常終了
 *
 *			COMMENT		「発注内示結果テーブル」・「発注内示必要数結果テーブル」を作成
 *					後方処理「展開結果更新」にて、発注内示テーブル等へ出力する
 *
 *			CREATE DATE	2004 / 02 / 19	By CIS
 *	    		UP DATE		2005 / 01 / 06  By CIS	大親発注内示しかない(構成展開ループ処理を通らない)場合、
 *								かんばん回転枚数・増減・平準等の処理が流れない
 *	    		UP DATE		2005 / 02 / 22	By CIS	２回目以降の処理速度の改善
 *	    		UP DATE		2007 / 05 / 11	By CIS	構成Ｍ使用数の少数点対応(かなり小さい値の時、実数との差が大きくなっていた為)
 *	    		UP DATE		
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
DECLARE	@RTN		INT		/* リターン						*/

DECLARE	@LVLCNT1	TINYINT		/* 階層レベル　カウント					*/
DECLARE	@LVLCNT2	TINYINT		/* 階層レベル　カウント					*/

DECLARE	@SELECT		VARCHAR(5000)	/* ワーク						*/
DECLARE	@CNT1		TINYINT		/* ワーク						*/
DECLARE	@STR1		VARCHAR(1000)	/* ワーク						*/
DECLARE	@INT1		INT		/* ワーク						*/
DECLARE	@DTCNT		INT		/* ワーク						*/

DECLARE	@DEBUG		TINYINT		/* デバッグ用						*/
DECLARE	@TIMEST		DATETIME	/* デバッグ用						*/
DECLARE	@TIMEED		DATETIME	/* デバッグ用						*/

DECLARE	@RC		INT		/* 発注内示データ作成用リターンワーク			*/
DECLARE	@HJ_OUTCNT	INT		/* 発注内示データ作成件数					*/

/*::::::::::::::::::::::*
 *	初期処理		*
 *::::::::::::::::::::::*/
SELECT	@RTN = 9, @INCNT = 0, @OUTCNT = 0

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *	発注内示・発注内示前回テーブル　初期処理		*
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
-- ===============================================================[ 2005.02.22 DEL START ]==============================
-- TRUNCATE TABLE	発注内示前回テーブル
-- TRUNCATE TABLE	発注内示必要数前回テーブル
-- IF	@PROCKB = 1
--     BEGIN
-- --	< 変更 >
-- 	INSERT	INTO 発注内示前回テーブル		SELECT	* FROM 発注内示テーブル		WHERE	内示年月 = @TG_NJYM
-- 	INSERT	INTO 発注内示必要数前回テーブル	SELECT	* FROM 発注内示必要数テーブル	WHERE	内示年月 = @TG_NJYM
--     END
-- 
-- DELETE	発注内示テーブル		WHERE 内示年月 = @TG_NJYM
-- DELETE	発注内示必要数テーブル	WHERE 内示年月 = @TG_NJYM
-- ===============================================================[ 2005.02.22 DEL  END  ]==============================

-- ▼====================================================================================================▼ ( DEBUG ST )
	SELECT	@DEBUG = 0		/* デバッグ ( 1 : 処理時間出力 )				*/
-- ▲====================================================================================================▲ ( DEBUG ED )

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *							生　産　計　画　デ　ー　タ　数　量　集　計
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
-- ▼====================================================================================================▼ ( DEBUG ST )
IF	@DEBUG = 1	BEGIN	SELECT	@TIMEST = GETDATE()	END
-- ▲====================================================================================================▲ ( DEBUG ED )

/*::::::::::::::::::::::::::::::::::::::*
 *	　生産計画集計ワーク　削除	*
 *::::::::::::::::::::::::::::::::::::::*/
-- ===========================================[ 2005.02.22 DEL START ]
-- TRUNCATE TABLE	生産計画集計ワーク
-- ===========================================[ 2005.02.22 DEL  END  ]

/*::::::::::::::::::::::::::::::::::::::*
 *	　生産計画集計ワーク　作成	*
 *::::::::::::::::::::::::::::::::::::::*/
INSERT	INTO 生産計画集計ワーク
	SELECT	SK.内示年月, SK.品番, SK.手配先, SK.受入, SK.納期, SK.仕掛日, SK.手配日, SUM( SK.数量 ) 数量
		FROM 生産計画テーブル SK
		INNER JOIN 品番取引先マスタ HT	( NOLOCK )
		ON  HT.品番 = SK.品番
		AND HT.取引先 = SK.手配先
		AND HT.受入 = SK.受入
		WHERE 内示年月 = @TG_NJYM
		GROUP BY SK.内示年月, SK.品番, SK.手配先, SK.受入, SK.納期, SK.仕掛日, SK.手配日

SELECT	@INCNT = @@ROWCOUNT

-- ▼====================================================================================================▼ ( DEBUG ST )
IF	@DEBUG = 1	BEGIN	SELECT	@TIMEED = GETDATE()	SELECT	DATEDIFF( S, @TIMEST, @TIMEED ), '生産計画集計ワーク　削除＆作成'		END
-- ▲====================================================================================================▲ ( DEBUG ED )

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *	( 親データ )					「０」　レ　ベ　ル　デ　ー　タ　(　大　親　)　出　力
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
SELECT	@LVLCNT1 = 0

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *	発注内示結果テーブル　作成 ( 生産計画テーブルより )	*
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
-- ▼====================================================================================================▼ ( DEBUG ST )
IF	@DEBUG = 1	BEGIN	SELECT	@TIMEST = GETDATE()	END
-- ▲====================================================================================================▲ ( DEBUG ED )

-- [ 2005.02.22 MNT START ]=============================================================================================
-- INSERT	INTO	発注内示テーブル
INSERT	INTO	発注内示結果テーブル
-- [ 2005.02.22 MNT  END  ]=============================================================================================
		( 内示年月, 品番, 手配先, 受入, 直送先, 納期, 仕掛日, 手配日, 数量, 処理区分, 削除区分, 変更回数, ローレベル, 計画年月, 作成者, 作成日, 作成端末 )

		SELECT	SK.内示年月, SK.品番, SK.手配先, SK.受入, '' 直送先, SK.納期, SK.仕掛日, SK.手配日, SK.数量,
			0 処理区分, 0 削除区分, CASE WHEN ISNULL( NZ.品番, '' ) = '' THEN 0 ELSE 1 END 変更回数, ISNULL( KS.レベル, 0 ) ローレベル,
			SUBSTRING( SK.納期, 1, 6 ) 計画年月,
			'CNJ0310' 作成者, GETDATE() 作成日, SUBSTRING( HOST_NAME(), 1, 20 ) 作成端末			FROM 生産計画集計ワーク SK
-- [ 2005.02.22 MNT START ]=============================================================================================
--			LEFT OUTER JOIN ( SELECT DISTINCT 内示年月, 品番, 手配先, 受入 FROM 発注内示前回テーブル ) NZ 
			LEFT OUTER JOIN ( SELECT DISTINCT 内示年月, 品番, 手配先, 受入 FROM 発注内示テーブル WHERE 内示年月 = @TG_NJYM ) NZ 
-- [ 2005.02.22 MNT  END  ]=============================================================================================
				ON  NZ.内示年月 = SK.内示年月
				AND NZ.品番 = SK.品番
				AND NZ.手配先 = SK.手配先
				AND NZ.受入 = SK.受入
			LEFT OUTER JOIN ( SELECT 子品番, MAX( レベル ) レベル FROM 構成マスタ GROUP BY 子品番 ) KS
				ON  KS.子品番 = SK.品番
			WHERE ISNULL( KS.レベル, 0 ) = 0

-- =============================[ 2005.01.06 ADD START ]=========================================================================
SELECT	@OUTCNT = @@ROWCOUNT
-- =============================[ 2005.01.06 ADD  END  ]=========================================================================

-- ▼====================================================================================================▼ ( DEBUG ST )
IF	@DEBUG = 1	BEGIN	SELECT	@TIMEED = GETDATE()	SELECT	DATEDIFF( S, @TIMEST, @TIMEED ), '発注内示結果テーブル　作成　０レベル出力'	END
-- ▲====================================================================================================▲ ( DEBUG ED )

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *	　発注内示必要数結果テーブル　作成 ( 生産計画テーブルより )		*
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
-- ▼====================================================================================================▼ ( DEBUG ST )
IF	@DEBUG = 1	BEGIN	SELECT	@TIMEST = GETDATE()	END
-- ▲====================================================================================================▲ ( DEBUG ED )

-- [ 2005.02.22 MNT START ]=============================================================================================
--INSERT	INTO	発注内示必要数テーブル
INSERT	INTO	発注内示必要数結果テーブル
-- [ 2005.02.22 MNT  END  ]=============================================================================================
		( 内示年月, 品番, 手配先, 受入, 直送先, 納期, 数量, ローレベル, 計画年月, 作成者, 作成日, 作成端末 )

		SELECT	SK.内示年月, SK.品番, SK.手配先, SK.受入, '' 直送先, SK.納期, 数量, ISNULL( KS.レベル, 0 ) ローレベル,
			SUBSTRING( SK.納期, 1, 6 ) 計画年月,
			'CNJ0310' 作成者, GETDATE() 作成日, SUBSTRING( HOST_NAME(), 1, 20 ) 作成端末
			FROM 生産計画集計ワーク SK
			INNER JOIN 品番取引先マスタ HT	( NOLOCK )
				ON  HT.品番 = SK.品番
				AND HT.取引先 = SK.手配先
				AND HT.受入 = SK.受入
			LEFT OUTER JOIN ( SELECT 子品番, MAX( レベル ) レベル FROM 構成マスタ GROUP BY 子品番 ) KS
				ON  KS.子品番 = SK.品番
			WHERE ISNULL( KS.レベル, 0 ) = 0

-- ▼====================================================================================================▼ ( DEBUG ST )
IF	@DEBUG = 1	BEGIN	SELECT	@TIMEED = GETDATE()	SELECT	DATEDIFF( S, @TIMEST, @TIMEED ), '発注内示必要数結果テーブル　作成　０レベル出力'	END
-- ▲====================================================================================================▲ ( DEBUG ED )

/*::::::::::::::::::::::::::::::* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *	 構成展開ワーク削除	* *																*
 *::::::::::::::::::::::::::::::* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
-- ▼====================================================================================================▼ ( DEBUG ST )
IF	@DEBUG = 1	BEGIN	SELECT	@TIMEST = GETDATE()	END
-- ▲====================================================================================================▲ ( DEBUG ED )

-- ===========================================[ 2005.02.22 DEL START ]
--TRUNCATE TABLE	構成展開ワーク
-- ===========================================[ 2005.02.22 DEL  END  ]

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *	( 親データ )					「０」　レ　ベ　ル　以　外　デ　ー　タ　出　力
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
INSERT	INTO	構成展開ワーク	( 品番, 親手配先, 納期, 数量, 展開レベル, ローレベル, 引当後数量, 在庫管理区分, 在庫管理数値, 展開区分 )

	SELECT	SK.品番, SK.手配先, SK.納期, SK.数量, 0 展開レベル, ISNULL( KS.レベル, 0 ) ローレベル,
		SK.数量, ISNULL( HN.在庫管理区分, 0 ) 在庫管理区分, ISNULL( HN.在庫管理数値, 0 ) 在庫管理数値,
		ISNULL( KS.展開区分, 0 ) 展開区分
		FROM 生産計画集計ワーク SK
		INNER JOIN 品番マスタ HN	( NOLOCK )
			ON  HN.品番 = SK.品番
		LEFT OUTER JOIN ( SELECT 子品番, MAX( レベル ) レベル, MAX( 展開区分 ) 展開区分 FROM 構成マスタ GROUP BY 子品番 ) KS
			ON  KS.子品番 = SK.品番
		WHERE ISNULL( KS.レベル, 0 ) > 0

-- ▼====================================================================================================▼ ( DEBUG ST )
IF	@DEBUG = 1	BEGIN	SELECT	@TIMEED = GETDATE()	SELECT	DATEDIFF( S, @TIMEST, @TIMEED ), '構成展開ワーク　削除＆作成　０レベル以外'	END
-- ▲====================================================================================================▲ ( DEBUG ED )

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *
 *							構　成　展　開　ル　ー　プ　処　理
 *
 *
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
SELECT	@LVLCNT1 = 1, @LVLCNT2 = 0
WHILE	( @LVLCNT1 <= 99 AND @DTCNT <> 0 )
    BEGIN
	/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
	 *
	 *					「ｎ( @LVLCNT1 )」 　レ　ベ　ル　展　開	[ 　@LVLCNT2　:　ｎ－１　 ]
	 *
	 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
-- ▼====================================================================================================▼ ( DEBUG ST )
IF	@DEBUG = 1	BEGIN	SELECT	@TIMEST = GETDATE()	END
-- ▲====================================================================================================▲ ( DEBUG ED )

	INSERT	INTO	構成展開ワーク	( 品番, 親手配先, 納期, 数量, 展開レベル, ローレベル, 引当後数量, 在庫管理区分, 在庫管理数値, 展開区分 )

		SELECT	KS.子品番, HJ.手配先 親手配先,
			HJ.仕掛日 納期,

-- +++++   +++++   +++++   +++++   +++++   +++++   < 2007/05/11 MNT >
--			CEILING( HJ.数量 * KS.構成数 ) 数量,
			HJ.数量 * KS.構成数 数量,
-- +++++   +++++   +++++   +++++   +++++   +++++   < 2007/05/11 MNT END >

			@LVLCNT1, KS.レベル,

-- +++++   +++++   +++++   +++++   +++++   +++++   < 2007/05/11 MNT >
--			CEILING( HJ.数量 * KS.構成数 ) 引当後数量,
			HJ.数量 * KS.構成数 引当後数量,
-- +++++   +++++   +++++   +++++   +++++   +++++   < 2007/05/11 MNT END >

			ISNULL( HN.在庫管理区分, 0 ) 在庫管理区分,
			ISNULL( HN.在庫管理数値, 0 ) 在庫管理数値,
			KS.展開区分
-- [ 2005.02.22 MNT START ]=============================================================================================
--			FROM 発注内示テーブル HJ
			FROM 発注内示結果テーブル HJ
-- [ 2005.02.22 MNT  END  ]=============================================================================================
			INNER JOIN 構成マスタ KS		( NOLOCK )
			ON  KS.親品番 = HJ.品番
			AND KS.適用開始日 <= HJ.仕掛日
			AND CASE WHEN KS.適用終了日 = '' THEN '9' ELSE KS.適用終了日 END >= HJ.仕掛日
			LEFT OUTER JOIN 品番マスタ HN	( NOLOCK )
			ON  HN.品番 = KS.子品番
			WHERE HJ.内示年月 = @TG_NJYM
			AND   HJ.ローレベル = @LVLCNT2
			AND   KS.展開区分 <> 2

	SELECT	@DTCNT = 0
	SELECT	@DTCNT = COUNT(*) FROM 構成展開ワーク WHERE 展開レベル = @LVLCNT1
-- ▼====================================================================================================▼ ( DEBUG ST )
IF	@DEBUG = 1	BEGIN	SELECT	@TIMEED = GETDATE()	SELECT	DATEDIFF( S, @TIMEST, @TIMEED ), CAST( @LVLCNT1 as varchar(3) ) + ')レベル展開　構成展開ワーク　作成'	END
-- ▲====================================================================================================▲ ( DEBUG ED )

	/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
	 *
	 *					該　当　レ　ベ　ル　分　の　発　注　内　示　デ　ー　タ　作　成　処　理
	 *
	 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
	IF	@DTCNT <> 0
	    BEGIN
-- ▼====================================================================================================▼ ( DEBUG ST )
IF	@DEBUG = 1	BEGIN	SELECT	@TIMEST = GETDATE()	END
-- ▲====================================================================================================▲ ( DEBUG ED )

		EXEC	@RC = 展開処理_確定 @TG_NJYM, @LVLCNT1, @HJ_OUTCNT OUTPUT 	

		SELECT	@OUTCNT = @OUTCNT + @HJ_OUTCNT

-- ▼====================================================================================================▼ ( DEBUG ST )
IF	@DEBUG = 1	BEGIN	SELECT	@TIMEED = GETDATE()	SELECT	DATEDIFF( S, @TIMEST, @TIMEED ), '展開処理_確定'	END
-- ▲====================================================================================================▲ ( DEBUG ED )

		/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
		 *
		 *						発　注　内　示　テ　ー　ブ　ル　最　終　デ　ー　タ　出　力
		 *
		 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
-- ▼====================================================================================================▼ ( DEBUG ST )
IF	@DEBUG = 1	BEGIN	SELECT	@TIMEST = GETDATE()	END
-- ▲====================================================================================================▲ ( DEBUG ED )

-- [ 2005.02.22 MNT START ]=============================================================================================
--		INSERT	INTO	発注内示テーブル ( 内示年月, 品番, 手配先, 受入, 直送先, 納期, 仕掛日, 手配日, 数量, 処理区分, 削除区分, 変更回数, ローレベル, 計画年月, 作成者, 作成日, 作成端末 )
		INSERT	INTO	発注内示結果テーブル ( 内示年月, 品番, 手配先, 受入, 直送先, 納期, 仕掛日, 手配日, 数量, 処理区分, 削除区分, 変更回数, ローレベル, 計画年月, 作成者, 作成日, 作成端末 )
-- [ 2005.02.22 MNT  END  ]=============================================================================================
		
			SELECT	@TG_NJYM 内示年月, HJ.品番, HJ.手配先, HJ.受入, HJ.直送先, HJ.納期, HJ.仕掛日, 
				CASE WHEN HJ.発注日 = '' THEN HJ.仕掛日 ELSE HJ.発注日 END 手配日, HJ.数量,
				0 処理区分, 0 削除区分, 
				CASE WHEN ISNULL( NZ.品番, '' ) = '' THEN 0 ELSE 1 END 変更回数,
				@LVLCNT1 ローレベル,
				SUBSTRING( HJ.納期, 1, 6 ) 計画年月,
				'CNJ0310', GETDATE(), SUBSTRING( HOST_NAME(), 1, 20 )
				FROM 発注内示仕掛ワーク HJ
-- [ 2005.02.22 MNT START ]=============================================================================================
--				LEFT OUTER JOIN ( SELECT DISTINCT 内示年月, 品番, 手配先, 受入, 直送先 FROM 発注内示前回テーブル ) NZ 
				LEFT OUTER JOIN ( SELECT DISTINCT 内示年月, 品番, 手配先, 受入, 直送先 FROM 発注内示テーブル WHERE 内示年月 = @TG_NJYM ) NZ 
-- [ 2005.02.22 MNT  END  ]=============================================================================================
					ON  NZ.内示年月 = @TG_NJYM
					AND NZ.品番 = HJ.品番
					AND NZ.手配先 = HJ.手配先
					AND NZ.受入 = HJ.受入
					AND NZ.直送先 = HJ.直送先
				WHERE HJ.展開区分 <> 3			-- 展開区分 = 3 : のみ対象外

-- ▼====================================================================================================▼ ( DEBUG ST )
IF	@DEBUG = 1	BEGIN	SELECT	@TIMEED = GETDATE()	SELECT	DATEDIFF( S, @TIMEST, @TIMEED ), '発注内示結果テーブル　作成'	END
-- ▲====================================================================================================▲ ( DEBUG ED )

		/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
		 *
		 *					構　成　展　開　ワ　ー　ク　処　理　済　レ　ベ　ル　デ　ー　タ　削　除
		 *
		 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
-- ▼====================================================================================================▼ ( DEBUG ST )
IF	@DEBUG = 1	BEGIN	SELECT	@TIMEST = GETDATE()	END
-- ▲====================================================================================================▲ ( DEBUG ED )

		DELETE	構成展開ワーク	WHERE ローレベル = @LVLCNT1

		/*::::::::::::::::::::::::::::::::::::::*
		 *	 次レベル用 カウントアップ	*
		 *::::::::::::::::::::::::::::::::::::::*/
		SELECT	@LVLCNT1 = @LVLCNT1 + 1, @LVLCNT2 = @LVLCNT2 + 1

		/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
		 *
		 *			前 レ ベ ル で 展 開 区 分 = 3 ( のみ対象外 ) の デ ー タ に 対 し、次 レ ベ ル 用 構 成 展 開 ワ ー ク へ 出 力
		 *
		 *				<<<  展開区分=3( のみ対象外 )データは、発注内示データには出力されない為、以下の処理が必要となる  >>>
		 *
		 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
		INSERT	INTO	構成展開ワーク	( 品番, 親手配先, 納期, 数量, 展開レベル, ローレベル, 引当後数量, 在庫管理区分, 在庫管理数値, 展開区分 )
	
			SELECT	KS.子品番, HJ.手配先 親手配先,
				HJ.仕掛日 納期,
				CEILING( HJ.数量 * KS.構成数 ) 数量,
				@LVLCNT1, KS.レベル,
				CEILING( HJ.数量 * KS.構成数 ) 引当後数量,
				ISNULL( HN.在庫管理区分, 0 ) 在庫管理区分,
				ISNULL( HN.在庫管理数値, 0 ) 在庫管理数値,
				KS.展開区分
				FROM 発注内示仕掛ワーク HJ
				INNER JOIN 構成マスタ KS		( NOLOCK )
					ON  KS.親品番 = HJ.品番
					AND KS.適用開始日 <= HJ.仕掛日
					AND CASE WHEN KS.適用終了日 = '' THEN '9' ELSE KS.適用終了日 END >= HJ.仕掛日
				LEFT OUTER JOIN 品番マスタ HN	( NOLOCK )
					ON  HN.品番 = KS.子品番
				WHERE HJ.展開区分 = 3
					AND   KS.展開区分 <> 2

-- ▼====================================================================================================▼ ( DEBUG ST )
IF	@DEBUG = 1	BEGIN	SELECT	@TIMEED = GETDATE()	SELECT	DATEDIFF( S, @TIMEST, @TIMEED ), '次レベル　前処理'	END
-- ▲====================================================================================================▲ ( DEBUG ED )

	    END

    END

IF	@RTN = 9	BEGIN	SELECT	@RTN = 0	END	
/*::::::::::::::::::::::*
 *	終 了 処 理	*
 *::::::::::::::::::::::*/
PROC_END:
	RETURN ( @RTN )




GO
