USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[cDateAdd]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




/****** Object:  Stored Procedure dbo.cDateAdd    Script Date: 99/03/11 10:55:31 ******/
/****** Object:  Stored Procedure dbo.cDateAdd    Script Date: 98/10/15 18:53:21 ******/
/****** Object:  Stored Procedure dbo.cDateAdd    Script Date: 98/10/14 21:46:18 ******/
CREATE PROCEDURE [dbo].[cDateAdd] 
			@DATE CHAR(8),@TYPE CHAR(1),
			@ADD  INT,@CVTTYPE CHAR(1),
			@ENDDD CHAR(1),
			@WDATE CHAR(8) OUTPUT
AS
--*-----------------------------------------------------------------------------------------*--
--*	年月日の加算を行う			Create Date : 1998/10/09
--*
--*
--*	ﾊﾟﾗﾒﾀ	:	@DATE	･･･	変換前年月日
--*			@TYPE	･･･	加算対象項目  Y:年 , M:月 , D:日
--*			@ADD	･･･	加算数字
--*                     @CVTTYPE･･･ 	戻り値種類    0:年月日(YYYYMMDD)  1:年月(YYYYMM)
--*                     @ENDDD  ･･･  	末日指定      0:日はそのまま      1:末日にて戻す
--*			
--*	戻り値	:	@WDATE	･･･	文字(８桁) 年月日の加算を行った文字列
--*
--*     使用例  :
--DECLARE @WDATE CHAR(8)

--EXEC cDateAdd '19980930','M',6,'','1',@WDATE OUTPUT

--SELECT @WDATE

--*-----------------------------------------------------------------------------------------*--

SET NOCOUNT ON

--DECLARE @DATE CHAR(8)
--DECLARE @ADD  INT
--DECLARE @TYPE CHAR(1)
--DECLARE @CVTTYPE CHAR(1)
--DECLARE @ENDDD CHAR(1)

--DECLARE @WDATE CHAR(8)
--DECLARE @WCVTTYPE TINYINT

--SELECT @DATE = '19980831'
--SELECT @ADD = 1
--SELECT @TYPE = 'M'
--SELECT @CVTTYPE = ''
--SELECT @ENDDD = '1'

IF @ENDDD = '1'
   BEGIN
	SELECT @ADD = @ADD + 1
	SELECT @DATE = SUBSTRING(@DATE,1,6) + '01'
   END

IF @TYPE = 'Y'
   BEGIN	
	SELECT @WDATE = CONVERT(CHAR(8),DATEADD(yy,@ADD,CONVERT(DATETIME,@DATE)),112)
   END
IF @TYPE = 'M' 
   BEGIN	
	SELECT @WDATE = CONVERT(CHAR(8),DATEADD(mm,@ADD,CONVERT(DATETIME,@DATE)),112)
   END
IF @TYPE = 'D' 
   BEGIN	
	SELECT @WDATE = CONVERT(CHAR(8),DATEADD(dd,@ADD,CONVERT(DATETIME,@DATE)),112)
   END

IF @CVTTYPE = '1' BEGIN SELECT @WDATE = SUBSTRING(@WDATE,1,6) END
IF @ENDDD = '1'
   BEGIN
	SELECT @WDATE = CONVERT(CHAR(8),DATEADD(dd,-1,CONVERT(DATETIME,@WDATE)),112)
   END
	
--T SELECT @DATE,@WDATE

RETURN







GO
