USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[出荷画面入力後方処理]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE          PROCEDURE [dbo].[出荷画面入力後方処理] (@INCNT TINYINT OUTPUT ,@JYCNT INT OUTPUT
						  ,@NOUCNT INT OUTPUT,@ERRCD TINYINT OUTPUT) AS
--*--------------------------------------------------------------------------------------*--
--*	出荷指示書NO 採番 & 受注累積
--*							Create Date : 2004/03/23
--*							Update Date : 2004/06/24 - 受領書・出荷時発行の対応
--*
--*	処理内容：	1:出荷指示書NO 採番  	( 出荷指示書NO = 0 対象)	
--*			2:納入番号 採番		( 納入番号 = '' 対象 )
--*			3:受注テーブルヘ出力	( 累積区分 = 0 対象 )
--*			4:帳票出力テーブルヘ出力( 0:出荷指示書NO 全対象 )
--*
--*	戻り値：	@CNT1 =	出荷指示書 採番対象件数
--*			@CNT2 =	納入番号 採番対象件数
--*			@CNT3 =	受注テーブル 出力対象件数
--*			@ERRCD =  0:正常終了、以外:異常終了
--*
--*	更新内容
--*
--*--------------------------------------------------------------------------------------*--
--
--DECLARE @INCNT TINYINT ,@JYCNT INT ,@NOUCNT INT ,@ERRCD TINYINT
--
DECLARE @MAXGYO	TINYINT
DECLARE @CNT1 INT

SET NOCOUNT ON

SELECT @CNT1 = 0
SELECT @INCNT = 0
SELECT @JYCNT = 0
SELECT @NOUCNT = 0
SELECT @ERRCD = 99

--------------------------------
--<<  トランザクション開始  >>--
--------------------------------
BEGIN TRANSACTION JYTRAN

-- *=====================================================================================*
-- *	1.出荷指示書NOを採番し､出荷画面入力ワークを更新する
-- *	
-- *=====================================================================================*
--* ｶｰｿﾙ項目定義
DECLARE @JYKB	TINYINT
DECLARE @TORCD	VARCHAR(07)
DECLARE @UKEIR	VARCHAR(02)
DECLARE @NYMD	VARCHAR(08)
DECLARE @NBIN	VARCHAR(02)
DECLARE @SKKB	TINYINT
DECLARE @KEIYAKU	VARCHAR(07)
DECLARE @HINBN	VARCHAR(25)
DECLARE @SEBAN	VARCHAR(08)
DECLARE @SSEBAN	VARCHAR(05)
DECLARE @JYNO	INT
DECLARE @JYGNO	TINYINT
--* << 採番キー ワーク >>
--* 受注区分・出荷予定日・出荷予定便・納入先・受入・納入日・納入便・契約先 --*
DECLARE @KEY_JYKB		TINYINT
DECLARE @KEY_SYMD		VARCHAR(08)
DECLARE @KEY_SBIN		VARCHAR(02)
DECLARE @KEY_TORCD	VARCHAR(07)
DECLARE @KEY_UKEIR	VARCHAR(02)
DECLARE @KEY_NYMD		VARCHAR(08)
DECLARE @KEY_NBIN		VARCHAR(02)
DECLARE @KEY_SKKB		TINYINT
DECLARE @KEY_KEIYAKU	VARCHAR(07)
--* ﾜｰｸ項目の定義 *---
DECLARE @SIJINO	INT
DECLARE @SIJIGYO	TINYINT
--<< 出荷指示書 採番 該当データの有無  >>------------
SELECT @CNT1 = (SELECT COUNT(出荷指示書NO) FROM 出荷画面入力ワーク
		     WHERE 出荷指示書NO = 0
		       AND 処理端末 = HOST_NAME()
		       AND 処理区分 = 0)
IF @CNT1 = 0 	BEGIN 	GOTO NOUNO_SET 	END


--<< 最大行数のｾｯﾄ  >>--
SELECT @MAXGYO = 15
-- *-------------------------------------------------*
-- *  出荷画面入力ワーク ｶｰｿﾙ定義	出荷指示書NO 採番用    *
-- *-------------------------------------------------*
DECLARE JNCUR SCROLL CURSOR
FOR
	SELECT JN.受注区分,JN.納入先,JN.受入,JN.納入日,JN.納入便,
		ISNULL(HT.SK区分,0),ISNULL(HT.契約先,''),JN.品番,JN.背番号,HN.社内背番
	  FROM 出荷画面入力ワーク JN
	 LEFT OUTER JOIN 品番取引先マスタ HT
		   ON HT.品番 = JN.品番
		  AND HT.取引先 = JN.納入先
		  AND HT.受入 = JN.受入
		  AND HT.品目 = 0
	 LEFT OUTER JOIN 品番マスタ HN
		   ON HN.品番 = JN.品番
	 WHERE 出荷指示書NO = 0
	   AND 処理端末 = HOST_NAME()
	   AND 処理区分 = 0
	 ORDER BY JN.受注区分,JN.納入先,JN.受入,JN.納入日,JN.納入便,HT.SK区分,HT.契約先,JN.納入番号,JN.品番,JN.背番号
FOR READ ONLY
OPEN JNCUR
-- *----------------------------*
-- *    出荷画面入力ワーク読込
-- *----------------------------*
FETCH NEXT FROM JNCUR INTO @JYKB,@TORCD,@UKEIR,@NYMD,@NBIN,@SKKB,@KEIYAKU,@HINBN,@SEBAN,@SSEBAN

WHILE @@FETCH_STATUS = 0
   BEGIN
--*	(( 受注管理NO 採番 ))
	EXEC 番号獲得 11,@JYNO OUTPUT,@ERRCD OUTPUT
	IF @ERRCD <> 0 	BEGIN	 SELECT @ERRCD = 1 	GOTO PROC_ERR	END
--*	(( 出荷指示書NO 採番 ))
	EXEC 番号獲得 12,@SIJINO OUTPUT,@ERRCD OUTPUT
	IF @ERRCD <> 0 	BEGIN	 SELECT @ERRCD = 2 	GOTO PROC_ERR	END

--*	(( 受注管理行NO・出荷指示書行NO ｸﾘｱ ))
	SELECT @SIJIGYO = 0

--*	(( キー項目退避 ))
	SELECT @KEY_JYKB = @JYKB
	SELECT @KEY_TORCD = @TORCD
	SELECT @KEY_UKEIR = @UKEIR
	SELECT @KEY_NYMD = @NYMD
	SELECT @KEY_NBIN = @NBIN
	SELECT @KEY_SKKB = @SKKB
	SELECT @KEY_KEIYAKU = @KEIYAKU

--*	<><><><><> キーが変わる迄、実行 <><><><><>
	WHILE @@FETCH_STATUS = 0 AND
		@JYKB = @KEY_JYKB AND
		@TORCD = @KEY_TORCD AND
		@UKEIR = @KEY_UKEIR AND
		@NYMD = @KEY_NYMD AND
		@NBIN = @KEY_NBIN AND
		@SKKB = @KEY_SKKB AND
		@KEIYAKU = @KEY_KEIYAKU AND
		@SIJIGYO < @MAXGYO
	   BEGIN
		SELECT @INCNT = @INCNT + 1
--*		(( 出荷指示書行NO ｶｳﾝﾄ ))
		SELECT @SIJIGYO = @SIJIGYO + 1

--*		(( 出荷画面入力ワーク更新 ))
		UPDATE 出荷画面入力ワーク
		   SET 受注管理NO = @JYNO,
			受注管理行NO = @SIJIGYO,
		          出荷指示書NO = @SIJINO,
			出荷指示書行NO = @SIJIGYO,
			契約先 = @KEIYAKU,
			SK区分 = @SKKB,
			処理区分 = 1
		 WHERE 処理端末 = HOST_NAME()
		   AND 処理区分 = 0
		   AND 受注区分 = @JYKB
		   AND 納入先 = @TORCD
		   AND 受入 = @UKEIR
		   AND 納入日 = @NYMD
		   AND 納入便 = @NBIN
		   AND 品番 = @HINBN
		IF @@ERROR <> 0	BEGIN	 SELECT @ERRCD = 3	GOTO PROC_ERR	END

--*		(( 次ﾚｺｰﾄﾞ ))
		FETCH NEXT FROM JNCUR INTO @JYKB,@TORCD,@UKEIR,@NYMD,@NBIN,@SKKB,@KEIYAKU,@HINBN,@SEBAN,@SSEBAN
	   END
--*	<><><><><><><><><><><><><><><><><><><><><>
   END
--*  JN ｶｰｿﾙｸﾛｰｽﾞ
CLOSE JNCUR
DEALLOCATE JNCUR


NOUNO_SET:
-- *=====================================================================================*
-- *	1.納入番号＆納品書管理NOを採番し､出荷画面入力ワークを更新する
-- *	2.出荷画面入力ワークより帳票出力テーブルに出力する(納品書＆受領書＆支給書)
-- *=====================================================================================*
--* ｶｰｿﾙ項目定義
DECLARE @NOUBAN	VARCHAR(09)
DECLARE @DENSYU	VARCHAR(01)
--* << 採番キー ワーク >>
--* 受注区分・納入先・受入・契約先・出荷予定日・出荷予定便・納品書形態・受領書形態 --*
--* 2004/06/25 出荷指示書NOの追加 --*
DECLARE @KEY_NOUNO	VARCHAR(09)
DECLARE @KEY_SIJINO	INT
DECLARE @KEY_DENSYU	VARCHAR(01)
--* ﾜｰｸ項目の定義 *---
DECLARE @NOUNO	VARCHAR(09)
DECLARE @PAGENO	TINYINT 
DECLARE @PAGEGYO	TINYINT
DECLARE @NKANRI	INT

SELECT @CNT1 = (SELECT COUNT(受注区分) FROM 出荷画面入力ワーク
		     WHERE 処理端末 = HOST_NAME()
		       AND 処理区分 = 1)
IF @CNT1 = 0 	BEGIN 	GOTO PROC_END 	END

SELECT @MAXGYO = 10
-- *-------------------------------------------------*
-- *  出荷画面入力ワーク ｶｰｿﾙ定義	納入番号 採番用      *
-- *-------------------------------------------------*
DECLARE JN1CUR SCROLL CURSOR
FOR
	SELECT JN.納入番号,JN.受注区分,JN.納入先,JN.受入,JN.契約先,JN.SK区分,JN.伝票種類,JN.出荷指示書NO,
		JN.受注管理NO,JN.受注管理行NO,JN.品番,JN.背番号
	  FROM 出荷画面入力ワーク JN
		 LEFT OUTER JOIN 品番取引先マスタ HT
		   ON HT.品番 = JN.品番
		  AND HT.取引先 = JN.納入先
		  AND HT.受入 = JN.受入
		  AND HT.品目 = 0
	 WHERE 処理区分 = 1
	   AND 処理端末 = HOST_NAME()
	 ORDER BY JN.納入番号,JN.受注区分,JN.納入先,JN.受入,JN.契約先,JN.SK区分,JN.伝票種類,
			JN.出荷指示書NO,JN.背番号,JN.品番
FOR READ ONLY
OPEN JN1CUR

-- *----------------------------*
-- *    出荷画面入力ﾃｰﾌﾞﾙ読込	*
-- *----------------------------*
FETCH NEXT FROM JN1CUR INTO @NOUBAN,@JYKB,@TORCD,@UKEIR,@KEIYAKU,@SKKB,@DENSYU,@SIJINO,
				   @JYNO,@JYGNO,@HINBN,@SEBAN
				   
WHILE @@FETCH_STATUS = 0
   BEGIN
--*	(( 納品書管理NO 採番 ))
	EXEC 番号獲得 14,@NKANRI OUTPUT,@ERRCD OUTPUT
	IF @ERRCD <> 0 	BEGIN	 SELECT @ERRCD = 6 	GOTO PROC_ERR	END
--* 	(( 納入番号 採番 ))
	IF @NOUBAN = ''
	   BEGIN
		EXEC 受注納入番号採番 @NOUNO OUTPUT,@ERRCD OUTPUT
		IF @ERRCD <> 0 	BEGIN	 SELECT @ERRCD = 5 	GOTO PROC_ERR	END
--*
		SELECT @NOUNO = RTRIM(@NOUNO) + '0'
		SELECT @NOUCNT = @NOUCNT + 1
	   END
	ELSE
--* 	   <><><> 分納の時、納入番号の採番は実行しない <><><>
	   BEGIN
		SELECT @NOUNO = @NOUBAN
	   END

--*	(( 納品書頁＆納品書行 ｸﾘｱ ))
	SELECT @PAGENO = 0
	
--<< 最大行数のｾｯﾄ  >>--
	SELECT @MAXGYO = CASE WHEN @DENSYU = '1' THEN 10 
					  ELSE 10 END
	SELECT @PAGEGYO = @MAXGYO
--*	(( キー項目退避 ))
	SELECT @KEY_JYKB = @JYKB
	SELECT @KEY_TORCD = @TORCD
	SELECT @KEY_UKEIR = @UKEIR
	SELECT @KEY_KEIYAKU = @KEIYAKU
	SELECT @KEY_SKKB = @SKKB
	SELECT @KEY_NOUNO = @NOUBAN
	SELECT @KEY_SIJINO = @SIJINO
	SELECT @KEY_DENSYU = @DENSYU

--*	<><><><><> キーが変わる迄、実行 <><><><><>
	WHILE @@FETCH_STATUS = 0 AND
		@JYKB = @KEY_JYKB AND
		@TORCD = @KEY_TORCD AND
		@UKEIR = @KEY_UKEIR AND
		@KEIYAKU = @KEY_KEIYAKU AND
		@SKKB = @KEY_SKKB AND
		@NOUBAN = @KEY_NOUNO AND
		@SIJINO = @KEY_SIJINO AND
		@DENSYU = @KEY_DENSYU
	   BEGIN
--*		(( 納品書 ｶｳﾝﾄ ))
		SELECT @PAGEGYO = @PAGEGYO + 1
		IF @PAGEGYO > @MAXGYO
		   BEGIN
			SELECT @PAGENO = @PAGENO + 1
			SELECT @PAGEGYO = 1
		   END

--* 		(( 受注入力ﾃｰﾌﾞﾙの更新 納入番号))
		UPDATE 出荷画面入力ワーク
		   SET 納入番号 = @NOUNO	,
			納品書頁 = @PAGENO,
			納品書行 = @PAGEGYO,
			処理区分 = 2	,
			納品書管理NO = @NKANRI
		 WHERE 処理端末 = HOST_NAME()
		   AND 受注管理NO = @JYNO
		   AND 受注管理行NO = @JYGNO
		IF @@ERROR <> 0	BEGIN  SELECT @ERRCD = 2	GOTO PROC_ERR	END
		SELECT @JYCNT = @JYCNT + 1

		INSERT INTO 受注テーブル (受注管理NO,受注管理行NO,出荷指示書NO,出荷指示書行NO,受注区分,受注日,受注便,納入日,納入便,
				出荷予定日,出荷予定便,納入先,受入,機番,納入番号,納品書頁,納品書行,分納区分,分納回数,品番,背番号,枚数,収容数,納入数,端数,
				抜取枚数,エフ発行枚数,エフ発行端数,作成種別,納品書発行区分,指示書発行区分,出荷実績区分,納品書管理NO,
				元出荷指示書NO,元出荷指示書行NO,作成日,作成端末,作成者,更新日,更新端末,更新者) 
		SELECT 受注管理NO,受注管理行NO,出荷指示書NO,出荷指示書行NO,受注区分,CONVERT(VARCHAR(8),GETDATE(),112),'',納入日,納入便,
				納入日,納入便,納入先,受入,'',@NOUNO,@PAGENO,@PAGEGYO,0,0,品番,背番号,枚数,収容数,納入数,端数,
				0,0,0,作成種別,0,0,1,@NKANRI,
				0,0,GETDATE(),HOST_NAME(),作成者,NULL,'',''
		 FROM 出荷画面入力ワーク
		 WHERE 処理端末 = HOST_NAME()
		   AND 受注管理NO = @JYNO
		   AND 受注管理行NO = @JYGNO

		INSERT INTO 出荷テーブル (出荷指示書NO,出荷指示書行NO,出荷日,出荷便,出荷枚数,出荷端数,出荷数,分納数,
				照合年月,照合処理日,照合結果,実績年月,実績処理日,実績結果,作成日,作成端末,作成者,更新日,更新端末,更新者)
		SELECT 出荷指示書NO,出荷指示書行NO,納入日,納入便,枚数,端数,納入数,0,
				'','','','','','',GETDATE(),HOST_NAME(),作成者,NULL,'',''
		 FROM 出荷画面入力ワーク
		 WHERE 処理端末 = HOST_NAME()
		   AND 受注管理NO = @JYNO
		   AND 受注管理行NO = @JYGNO



--*		(( 次ﾚｺｰﾄﾞ ))
		FETCH NEXT FROM JN1CUR INTO @NOUBAN,@JYKB,@TORCD,@UKEIR,@KEIYAKU,@SKKB,@DENSYU,@SIJINO,
				   			@JYNO,@JYGNO,@HINBN,@SEBAN
	   END

   END
--*  JN1 ｶｰｿﾙ ｸﾛｰｽﾞ
CLOSE JN1CUR
DEALLOCATE JN1CUR


PROC_END:
--------------------------------
--<<  トランザクション終了  >>--
--------------------------------
COMMIT TRANSACTION JYTRAN

--SELECT 'IN ' = @INCNT,'OUT ' = @JYCNT,'納入番号 ' =@NOUCNT
----------------
--  正常終了  --
----------------
SELECT @ERRCD = 0
RETURN

PROC_ERR:
----------------
--  異常終了  --
----------------
--SELECT 'ERROR = ' = @ERRCD
RETURN












GO
