USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[材料発注かんばん処理]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     PROCEDURE [dbo].[材料発注かんばん処理]	
					@PROC 	VARCHAR(1),
					@HKKB 	VARCHAR(1),	
					@KANKB	VARCHAR(1), 
					@ZAIKNO	INT,
					@SEBAN	VARCHAR(8),
					@TORCD	VARCHAR(7),
					@UKEIR	VARCHAR(2),
					@CYCLE	VARCHAR(5), 
					@RENNO	SMALLINT,
					@SYUYO	DECIMAL(9,3),    --	収容数			
					@FTIME	VARCHAR(4),     --	振出時間(処理区分='1'のみ)
					@GROUP	TINYINT,    	   --	処理グループ
					@OPTION	VARCHAR(1),     --	オプション設定
					@NYMD 	VARCHAR(8)	   ,    --  納入日 	指定で通常の時は、発注日を指定する
					@NBIN	 	VARCHAR(2)	   ,    --　納入便 	指定で通常の時は、発注便を指定する
					@POKET 	TINYINT	   OUTPUT,    --　指定ポケット№(OUTPUT) 
					@ERRNO 	TINYINT	   OUTPUT,    --　エラー番号(OUTPUT) 
					@ERRCNT 	INT		   OUTPUT,    --　エラー出力件数
					@OUTCNT 	INT		   OUTPUT     --　正常出力件数

					
 AS	
-- ----------------------------------------------------------------------------------------------------*
-- 								
-- 		材料発注かんばん処理		
-- 								
--		Parameter :
--		  :	@PROC 	VARCHAR(1)	　･･･ 	処理区分 1:一括,2:指定
--		  :	@HKKB 	VARCHAR(1)	　･･･ 	発注区分 '1':通常,2:納期指定(特配),3:臨時(処理区分='2'のみ)
--		  : 	@KANKB	VARCHAR(1)     ･･･	かんばん区分   		
--		  : 	@ZAIKNO	INT		   ･･･	材料管理番号
--		  : 	@SEBAN	VARCHAR(5)     ･･･	背番号 				
--		  : 	@TORCD	VARCHAR(7)     ･･･	仕入先 				
--		  : 	@UKEIR	VARCHAR(2)     ･･･	受入 				
--		  : 	@CYCLE	VARCHAR(5)     ･･･	サイクル
--		  : 	@RENNO	SMALLINT	   ･･･	連番			
--		  : 	@SYUYO	INT	             ･･･	収容数			
--		  : 	@FTIME	VARCHAR(4)     ･･･	振出時間(処理区分='1'のみ)
--		  :	@GROUP	TINYINT    	  ･･･	処理グループ(処理区分='1'のみ)
--		  : 	@OPTION	VARCHAR(1)     ･･･	オプション設定
--								平準化超過の扱い _/発注なし,1/発注あり
--				
--		 :        @NYMD 	VARCHAR(8)	   ・・・　納入日(I-O) 	指定で通常の時は、発注日を指定する
--		 :        @NBIN	 	VARCHAR(2)	   ・・・　納入便(I-O) 	指定で通常の時は、発注便を指定する
--		 :        @POKET 	TINYINT	   ・・・　指定ポケット№(OUTPUT) 
--		 :        @ERRNO 	TINYINT	   ・・・　エラー番号(OUTPUT) 
--		 :        @ERRCNT 	INT		   ・・・　エラー出力件数
--		 :        @OUTCNT 	INT		   ・・・　正常出力件数
--
--		   @ERRNO
--			発注なし：かんばん読取エラーリスト
--				1 ：対象外かんばん（かんばん区分）
--				2 ：材料管理番号取引先未登録
--				3 ：発注サイクルマスタ未登録
--				5 ：かんばん重複読取
--				6 ：カレンダマスタ未登録			(< 2005.02.24 ADD >)
--				10：収容数相違
--				11：背番号相違
--				18：打切済
--				19：有効期限範囲外
--				20：サイクルエラー
--				30：最終発注日・開始発注日なし
--				31：開始発注日以前
--				32：サイクル違い
--				33：手配区分相違			
--			発注あり
--				51：打切完了 or 打切端数
--				52：打切警告
--
-- 		RETURN   :     0 … ＯＫ	≠ 0 … ＮＧ

-- 			CREATE DATE	:	2004/02/20
-- 			UPDATE DATE	:	2004/11/26  エラー内容(32：サイクル違い)追加
--									エラー内容(33：手配区分相違)追加
--			変更日			：	2005/01/17  便算出の日付またぎの不具合修正
--									振出時間を読取時に取得（変更前はPG起動時取得）
-- 			UPDATE DATE	:	2004/05/24  便算出時、カレンダ無しエラーが
--								『EXECUTE後のトランザクション数は、COMMIT TRANまたは･･･』となるのを
--								カレンダ未登録エラーに変更( ERROR No = 6 )
-- 													
-- ----------------------------------------------------------------------------------------------------
SET NOCOUNT ON
--TEST----------------------------------------------------------------
/*
DECLARE @PROC     VARCHAR(1)
DECLARE @HKKB 	VARCHAR(1)
DECLARE @KANKB	VARCHAR(1)
DECLARE @ZAIKNO	INT
DECLARE @SEBAN	VARCHAR(8)
DECLARE @TORCD	VARCHAR(7)
DECLARE @UKEIR	VARCHAR(2)
DECLARE @CYCLE	VARCHAR(5)
DECLARE @RENNO	SMALLINT
DECLARE @SYUYO	DECIMAL(9,3)	  
DECLARE @NYMD     VARCHAR(8)
DECLARE @NBIN       VARCHAR(8)
DECLARE @POKET 	TINYINT
DECLARE @ERRNO   TINYINT
DECLARE @FTIME	VARCHAR(4)
DECLARE @GROUP	TINYINT
DECLARE @OPTION  VARCHAR(1)
DECLARE @ERRCNT INT
DECLARE @OUTCNT INT

SELECT @PROC = ''
SELECT @HKKB = '2'
SELECT @KANKB = '0'
SELECT @ZAIKNO = 302
SELECT @SEBAN = 'ZZ01'
SELECT @TORCD = '0002A'
SELECT @UKEIR = '01'
SELECT @CYCLE = '10201'
SELECT @RENNO = 4
SELECT @SYUYO = 120.25
SELECT @FTIME = '1200'
SELECT @GROUP = 0
SELECT @NYMD = '20040123'
SELECT @NBIN = '01'
SELECT @OPTION = ''

DELETE 材料かんばん重複チェックテーブル
DELETE 帳票出力テーブル where 端末番号 = Host_Name()
--DELETE  材料かんばん読取エラーテーブル where エラー種類 IN (21,23,24)
-- DELETE 材料発注かんばん枚数累積テーブル where 処理端末 = Host_Name()
*/
--TEST----------------------------------------------------------------
-- 退避エリア
DECLARE @ERR  TINYINT
DECLARE @RTN  TINYINT
DECLARE @W_SYUYO1 DECIMAL(9,3)
DECLARE @W_SYUYO2 DECIMAL(9,3)
DECLARE @W_SEBAN  VARCHAR(8)
DECLARE @W_YSYMD VARCHAR(8)
DECLARE @W_YEYMD VARCHAR(8)
DECLARE @W_KYMD  VARCHAR(8)
DECLARE @W_KBIN    VARCHAR(2)	
DECLARE @W_SKKB 	TINYINT		-- SK区分
DECLARE @W_CYCLE 	VARCHAR(5)		-- サイクル
DECLARE @W_ENDHYMD 	VARCHAR(8)		-- 最終発注日
DECLARE @ZKPOKET TINYINT		-- 材料管理番号ポケット指定
DECLARE @W_KANKB VARCHAR(1)			-- かんばん区分(2004/11/26)
DECLARE @GYOKB 	TINYINT
DECLARE @HDATE 	VARCHAR(8) 
DECLARE @HTIME 	VARCHAR(4)
DECLARE @PDATE 	VARCHAR(8) 
DECLARE @PTIME 	VARCHAR(4)
DECLARE @HYMD	VARCHAR(8)		-- 発注日
DECLARE @HBIN	VARCHAR(2)		-- 発注便
DECLARE @W_NYMD  VARCHAR(8)		-- 納入日算出用
DECLARE @W_NBIN   VARCHAR(2)		-- 納入日算出用便
DECLARE @W_SBIN	VARCHAR(2)

DECLARE @W_ZAIS	VARCHAR(25)
DECLARE @W_ITA	DECIMAL(6,2)	
DECLARE @W_HABA	DECIMAL(6,2)	
DECLARE @W_NAGA	DECIMAL(6,2)	

DECLARE @ERKNO	INT			-- エラー管理番号
DECLARE @CHONO	INT			-- 帳票区分
-- 打切りチェック用
DECLARE @RESULT VARCHAR(1)
DECLARE @UKBN 	TINYINT,@UZANSU DECIMAL(11,3),@UYMD VARCHAR(8),@KEIKB TINYINT
DECLARE @KIYMD	VARCHAR(8)	-- 起算日
DECLARE @KIBIN	VARCHAR(2)	-- 起算便
DECLARE @SETSU	DECIMAL(11,3)		-- 設定数	
DECLARE @KNYMD	VARCHAR(8)	-- 完了日
DECLARE @KNBIN	VARCHAR(2)	-- 完了便
DECLARE @EDYMD	VARCHAR(8)	-- 打切日
DECLARE @KEISU	DECIMAL(11,3)		-- 警告数	
DECLARE @KEYMD	VARCHAR(8)	-- 警告日
DECLARE @UCHIFLG	TINYINT	-- 打切情報出力フラグ
DECLARE @UHASU	DECIMAL(11,3)		-- 打切端数
DECLARE @HSU	DECIMAL(11,3)		-- 発注済数
DECLARE @UKB	TINYINT	-- 打切区分


-- 初期値設定
SELECT @ERR = 0
SELECT @POKET = 0
SELECT @ERRNO = 0
SELECT @W_NYMD =''
SELECT @W_NBIN = ''
SELECT @W_CYCLE = ''
SELECT @ERKNO = 0
SELECT @CHONO = 0
SELECT @HYMD = @NYMD
SELECT @HBIN = @NBIN
SELECT @PDATE = ''
SELECT @PTIME = ''

SELECT @ZKPOKET = 0
SELECT @ERRCNT = 0
SELECT @OUTCNT = 0
-- 打切情報初期化
SELECT @KIYMD = ''
SELECT @KIBIN = ''
SELECT @SETSU = 0
SELECT @KNYMD = ''
SELECT @KNBIN = ''
SELECT @EDYMD = ''
SELECT @KEISU = 0
SELECT @KEYMD = ''
SELECT @UKB = 0

SELECT @UCHIFLG = 0
-----------------------------
--<<　 トランザクション開始         >>--
-----------------------------
BEGIN TRANSACTION KNZCRT
--///////	かんばん区分チェック	( 購入･直送　かんばんのみ）
IF @KANKB NOT IN ('0','1' )
   BEGIN
	SELECT @POKET = 3
	SELECT @ERRNO = 1
	GOTO PROC_DB
   END
--////////////////////////////////
--//		マスタ入力チェック
--////////////////////////////////
SELECT @W_KANKB = ''
--//////    材料取引先マスタ
SELECT  @W_SEBAN = 背番号,@W_SYUYO1 = 収容数1,@W_SYUYO2 = 収容数2,
	   @W_KYMD = 変更日,@W_KBIN = 変更便,@ZKPOKET = Isnull(PNO,0),
	   @W_YSYMD = 有効期限開始,@W_YEYMD = 有効期限終了,
	   @W_SKKB = SK区分,@W_CYCLE = サイクル,
	   @W_ZAIS = 材質,@W_ITA = 板厚,@W_HABA = 幅,@W_NAGA = 長さ,
	  @W_KANKB = 手配区分
		From 材料取引先マスタ
		Where 材料管理番号  = @ZAIKNO
		    And 取引先 = @TORCD
		    And 受入    = @UKEIR
IF @@ROWCOUNT = 0
   BEGIN
	SELECT @POKET = 3
	SELECT @ERRNO = 2
	GOTO PROC_DB
   END
--  かんばん区分チェック (2004/11/26)
IF @KANKB <> @W_KANKB
   BEGIN
	SELECT @POKET = 3
	SELECT @ERRNO = 33
	GOTO PROC_DB
   END
--///////	サイクルチェック	( 指定・通常のみ）
IF @PROC = '2'	 And @HKKB = '1'
   BEGIN
	IF SUBSTRING(@W_CYCLE,2,2) < @NBIN
           BEGIN
 		SELECT @POKET = 3
		SELECT @ERRNO = 20
		GOTO PROC_DB
 	   END 	
   END
IF @CYCLE <> @W_CYCLE
   BEGIN
	SELECT @POKET = 3
	SELECT @ERRNO = 32
	GOTO PROC_DB
   END
--//////  かんばんポケットテーブル
IF @GROUP <> 0
   BEGIN
	Select @POKET = ポケットNO From かんばんポケットテーブル
				Where グループ = @GROUP
				And 取引先 = @TORCD
				And 受入    = @UKEIR 
	IF @@ROWCOUNT = 0
	   BEGIN
		Select @POKET = ポケットNO From かんばんポケットテーブル
					Where グループ = @GROUP
					And 取引先 = @TORCD
		IF @@ROWCOUNT = 0
		   BEGIN
	 		SELECT @POKET = 10
			SELECT @ERRNO = 45
			GOTO PROC_DB
		   END
	   END
	SELECT @POKET = 0
	IF @ZKPOKET <> 0
	   BEGIN
 		SELECT @POKET = @ZKPOKET
	   END
   END
--//////  発注サイクルマスタ
IF @PROC = '1' 	
   BEGIN
	--*----------------------------------------------------------------------------------------------*--
	--*	2005.01.17 変更　（日付またぎの不具合修正）
	--*----------------------------------------------------------------------------------------------*--
	SELECT @FTIME = CONVERT(VARCHAR(2),GETDATE(),114) + SUBSTRING(CONVERT(VARCHAR(5),GETDATE(),114),4,2)
	--*----------------------------------------------------------------------------------------------*--
	-- 振出便を求める
	Select @W_SBIN = 振出便,@GYOKB = 行識別,@W_ENDHYMD = 最終発注日
		 FROM 発注サイクルマスタ
		WHERE 仕入先 = @TORCD
 		    AND サイクル = @CYCLE
		    AND (受入  = @UKEIR OR 受入 = '')
		    AND 振出開始 <= @FTIME
		    AND  振出終了 >  @FTIME
		ORDER BY 受入 DESC
	IF @@ROWCOUNT = 0
	   BEGIN
		SELECT @POKET = 3
		SELECT @ERRNO = 3
		GOTO PROC_DB
	   END

	SELECT @NYMD = Convert(VARCHAR(8),GetDate(),112)

	EXEC 便算出 '+' , @TORCD , @CYCLE , @UKEIR , @NYMD , @W_SBIN OUTPUT,@GYOKB,1,
			@RTN OUTPUT,@W_NYMD OUTPUT,@W_NBIN OUTPUT,
			@HDATE OUTPUT,@HTIME OUTPUT,
			@PDATE OUTPUT,@PTIME OUTPUT

-- ====================================< 2005.02.24 ADD START >
	IF @RTN = 1 
	   BEGIN
		SELECT @POKET = 3
		SELECT @ERRNO = 6
		GOTO PROC_DB
	   END
-- ====================================< 2005.02.24 ADD  END  >

	IF @RTN = 2
	   BEGIN
		SELECT @POKET = 3
		SELECT @ERRNO = 3
		GOTO PROC_DB
	   END
	IF @RTN = 100 			--開始発注日・最終発注日なし
	   BEGIN
		SELECT @POKET = 3
		SELECT @ERRNO = 30
		GOTO PROC_DB
	   END
	IF @RTN = 101 			--開始発注日以前
	   BEGIN
		SELECT @POKET = 3
		SELECT @ERRNO = 31
		GOTO PROC_DB
	   END
	IF @RTN <> 0
	   BEGIN
		SELECT @ERR = 2 
		GOTO PROC_ERROR
	   END
	SELECT @NYMD = @W_NYMD
	SELECT @NBIN = @W_NBIN
	SELECT @HYMD = @HDATE
	SELECT @HBIN = @W_NBIN
   END
ELSE
   BEGIN
	IF @HKKB = '1'		-- 指定・通常
	   BEGIN
		EXEC 便算出 '+' , @TORCD , @CYCLE , @UKEIR , @HYMD , @HBIN OUTPUT,0,0,
				@RTN OUTPUT,@W_NYMD OUTPUT,@W_NBIN OUTPUT,
				@HDATE OUTPUT,@HTIME OUTPUT,
				@PDATE OUTPUT,@PTIME OUTPUT

-- ====================================< 2005.02.24 ADD START >
		IF @RTN = 1
		   BEGIN
			SELECT @POKET = 3
			SELECT @ERRNO = 6
			GOTO PROC_DB
		   END
-- ====================================< 2005.02.24 ADD  END  >

		IF @RTN = 2
		   BEGIN
			SELECT @POKET = 3
			SELECT @ERRNO = 3
			GOTO PROC_DB
		   END
		IF @RTN <> 0
		   BEGIN
			SELECT @ERR = 3 
			GOTO PROC_ERROR
		   END
		SELECT @NYMD = @W_NYMD
		SELECT @NBIN = @W_NBIN
	   END
	ELSE
	   BEGIN	-- 納入日･便指定時
		SELECT @HYMD = Convert(varchar(8),Getdate(),112)
		SELECT @HBIN = ''
	   END
   END

--////// かんばん重複チェック
IF EXISTS(Select 材料管理番号 From 材料かんばん重複チェックテーブル
			Where 納入日 = @NYMD
			    And 納入便 = @NBIN
			    And 材料管理番号 = @ZAIKNO
			    And 取引先 = @TORCD
			    And 背番号  = @SEBAN
			    And 受入    = @UKEIR
			    And 連番 = @RENNO )
   BEGIN
	SELECT @POKET = 2
	SELECT @ERRNO = 5
	GOTO PROC_DB
   END
--////////////////////////////////
--//		マスタ整合性チェック
--////////////////////////////////
--//////   材料管理番号取引先マスタ
-- 収容数チェック
IF @W_KYMD = '' 
   BEGIN
	IF @SYUYO <> @W_SYUYO1 
	      BEGIN
		SELECT @POKET = 3
		SELECT @ERRNO = 10
		GOTO PROC_DB
	      END  
   END
ELSE
   BEGIN
	IF @NYMD + @NBIN < @W_KYMD + @W_KBIN
	   BEGIN
	      	IF @SYUYO <> @W_SYUYO1 
	         	   BEGIN
			SELECT @POKET = 3
			SELECT @ERRNO = 10
			GOTO PROC_DB
	             END
	   END	
          ELSE
             BEGIN
		IF @SYUYO <> @W_SYUYO2 
		   BEGIN
			SELECT @POKET = 3
			SELECT @ERRNO = 10
			GOTO PROC_DB
	             END	
	   END
   END
-- 背番号チェック
IF @W_SEBAN <> @SEBAN
   BEGIN
	SELECT @POKET = 3
	SELECT @ERRNO = 11
	GOTO PROC_DB
   END
-- ////// 有効期限チェック
IF @W_YEYMD = '' BEGIN SELECT @W_YEYMD = '99999999' END

IF @NYMD < @W_YSYMD OR @NYMD > @W_YEYMD
   BEGIN
	SELECT @POKET = 3
	SELECT @ERRNO = 19
	GOTO PROC_DB
   END

--////////////////////////////////
--//		打切りチェック(確認)
--////////////////////////////////
EXEC 材料発注打切チェック @TORCD ,@ZAIKNO ,@NYMD ,@NBIN ,@SYUYO,
			 @RESULT OUTPUT,@UKBN OUTPUT,@UZANSU OUTPUT,@UYMD OUTPUT,@KEIKB OUTPUT,@UHASU OUTPUT


-- 打切区分を求める
IF @RESULT <> '' 
   BEGIN
	SELECT @UKB = 9
   END
ELSE
   BEGIN
	IF @KEIKB = 1 
	   BEGIN
		SELECT @UKB = 1
	   END
   END
--////////////////////////////////
--//		打切りチェック(判定)
--////////////////////////////////
-- 打切り済
IF @RESULT = 'Z' 
   BEGIN
	SELECT @POKET = 3
	SELECT @ERRNO = 18
	GOTO PROC_DB
   END
-- 打切り
IF @RESULT = 'K'
   BEGIN
	SELECT @ERRNO = 51
	IF @UHASU = 0
	    BEGIN
		SELECT @POKET = 6
	    END
	ELSE	
	    BEGIN
		SELECT @POKET = 7
	    END
	GOTO PROC_DB
   END
-- 打切り警告
IF @KEIKB = 1
   BEGIN
	SELECT @ERRNO = 52
	GOTO PROC_DB
   END

PROC_DB:
--////////////////////////////////////////////
--//
--//	かんばん読取エラーテーブル　作成
--//
--////////////////////////////////////////////
-- 読取エラーがある時は、エラー管理番号を求める
IF @ERRNO <> 0 
   BEGIN
	SELECT @ERKNO = MAX(管理NO) From 帳票出力テーブル
				Where 端末番号 = Host_Name()
				    And 帳票区分 IN(21,23,24)
	IF @ERKNO IS NULL
	    BEGIN
		EXEC 番号獲得 2,@ERKNO OUTPUT,@RTN OUTPUT
		IF @ERKNO = 0 
		   BEGIN
			 SELECT @ERR = 10 
			 GOTO PROC_ERROR
		   END
	    END
   END

-- ERRNO が40未満はかんばんエラーリスト作成
SELECT @CHONO = 21
IF @ERRNO > 0  And @ERRNO < 40 or @ERRNO = 45
   BEGIN
	IF Not EXISTS(Select 材料管理番号 From 材料かんばん読取エラーテーブル
				Where エラー管理番号 = @ERKNO
				   And エラー種類 = @CHONO
	  			   And 材料管理番号 	 = @ZAIKNO
				   And 取引先 = @TORCD
				   And 受入    = @UKEIR 
				   And 発行NO = @RENNO
				   And 収容数 = @SYUYO )
	   BEGIN
		INSERT INTO 材料かんばん読取エラーテーブル 
			( エラー管理番号,エラー種類,材料管理番号,取引先,受入,
			 背番号,手配区分,サイクル,収容数,発行NO,エラー要因,材質,板厚,幅,長さ,
			 作成日,作成端末)
			Values 
			(@ERKNO,@CHONO,@ZAIKNO,@TORCD,@UKEIR,
			 @SEBAN,@KANKB,@W_CYCLE,@SYUYO,@RENNO,@ERRNO,@W_ZAIS,@W_ITA,@W_HABA,@W_NAGA,
			 Getdate(),Host_Name() )
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 31 GOTO PROC_ERROR END
		SELECT @ERRCNT = @ERRCNT + 1

		IF Not EXISTS(Select * From 帳票出力テーブル
					Where 端末番号 = Host_Name()
					   And 帳票区分 = @CHONO )
		   BEGIN

			INSERT INTO 帳票出力テーブル 
					( 端末番号,帳票区分,管理NO,作成日)
				Values 
					(Host_Name(),@CHONO,@ERKNO,Getdate())
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 41 GOTO PROC_ERROR END
		   END	
	   END
   END

-- ERRNO が51は打切りリスト作成

IF @ERRNO = 51 or @ERRNO = 52
   BEGIN
	-- 打切り情報取得

	IF @UKBN = 0 Or @UKBN = 1
	   BEGIN
		SELECT @KIYMD = ISNULL(起算日,''), @KIBIN = ISNULL(起算便,''),
			  @SETSU = ISNULL(	設定数,0),@HSU = ISNULL(発注数,0),
			  @KNYMD = ISNULL(完了日,''),@KNBIN = ISNULL(完了便,''),
			  @EDYMD = ISNULL(	打切日,''),
			  @KEISU = ISNULL(	警告数,0),@KEYMD = ISNULL(警告日,'')
					From 材料発注打切テーブル 
					Where 打切種別 = @UKBN
					    And 材料管理番号 = @ZAIKNO
	   END
	IF @UKBN = 2
	   BEGIN
		SELECT @KIYMD = ISNULL(起算日,''), @KIBIN = ISNULL(起算便,''),
			  @SETSU = ISNULL(	設定数,0),@HSU = ISNULL(発注数,0),
			  @KNYMD = ISNULL(完了日,''),@KNBIN = ISNULL(完了便,''),
			  @EDYMD = ISNULL(	打切日,''),
			  @KEISU = ISNULL(	警告数,0),@KEYMD = ISNULL(警告日,'')
					From 材料発注打切テーブル 
					Where 打切種別 = @UKBN
					    And 材料管理番号 = @ZAIKNO
					    And 仕入先 = @TORCD
	   END
	IF @UKBN = 3
	   BEGIN
		SELECT @KIYMD = ISNULL(起算日,''), @KIBIN = ISNULL(起算便,''),
			  @SETSU = ISNULL(	設定数,0),@HSU = ISNULL(発注数,0),
			  @KNYMD = ISNULL(完了日,''),@KNBIN = ISNULL(完了便,''),
			  @EDYMD = ISNULL(	打切日,''),
			  @KEISU = ISNULL(	警告数,0),@KEYMD = ISNULL(警告日,'')
					From 材料発注打切テーブル 
					Where 打切種別 = @UKBN
					    And 仕入先 = @TORCD
	   END
   END
--///// ERRNO が18は打切りリスト用　打切エラー枚数　更新
SELECT @CHONO = 24
IF @ERRNO = 18
   BEGIN
	Update  材料かんばん読取エラーテーブル Set
			打切エラー枚数 = 打切エラー枚数 + 1
				Where エラー管理番号 = @ERKNO
				   And エラー種類 = @CHONO
	  			   And 材料管理番号 	 = @ZAIKNO
				   And 取引先 = @TORCD
				   And 受入    = @UKEIR 
				   And 発行NO = 0
				   And 収容数 = @SYUYO
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 36 GOTO PROC_ERROR END
   END
--///// ERRNO が51は打切りリスト作成
IF @ERRNO = 51
   BEGIN
	IF Not EXISTS(Select 材料管理番号 From 材料かんばん読取エラーテーブル
				Where エラー管理番号 = @ERKNO
				   And エラー種類 = @CHONO
	  			   And 材料管理番号 	 = @ZAIKNO
				   And 取引先 = @TORCD
				   And 受入    = @UKEIR 
				   And 発行NO = 0
				   And 収容数 = @SYUYO )
	   BEGIN
		INSERT INTO 材料かんばん読取エラーテーブル 
			( エラー管理番号,エラー種類,材料管理番号,取引先,受入,
			 背番号,手配区分,収容数,発行NO,エラー要因,材質,板厚,幅,長さ,
			 打切種別,完了区分,打切区分,起算日,起算便,
			 完了日,
			 完了便,
			 打切日,打切設定数,
			 今回発注枚数,今回発注端数,打切エラー枚数,
			 作成日,作成端末)
			Values 
			(@ERKNO,@CHONO,@ZAIKNO,@TORCD,@UKEIR,
			 @SEBAN,@KANKB,@SYUYO,0,@ERRNO,@W_ZAIS,@W_ITA,@W_HABA,@W_NAGA,
			 @UKBN,@RESULT,@UKB,@KIYMD,@KIBIN,
			 CASE WHEN @KNYMD = ''  THEN @NYMD ELSE @KNYMD END ,
			 CASE WHEN @KNYMD = ''  THEN @NBIN ELSE @KNBIN END ,
			 @EDYMD,@SETSU,
			 0,@UHASU,0,
			 Getdate(),Host_Name() )
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 33 GOTO PROC_ERROR END
		SELECT @ERRCNT = @ERRCNT + 1

		-- 打切完了の為、打切警告エラーデータ削除
		DELETE 材料かんばん読取エラーテーブル
				Where エラー管理番号 = @ERKNO
				   And エラー種類 = 23
  				   And 材料管理番号 	 = @ZAIKNO
				   And 取引先 = @TORCD
				   And 受入    = @UKEIR 
				   And 発行NO = 0
				   And 収容数 = @SYUYO
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 38 GOTO PROC_ERROR END

		IF Not EXISTS(Select * From 帳票出力テーブル
					Where 端末番号 = Host_Name()
					   And 帳票区分 = @CHONO )
		   BEGIN
			INSERT INTO 帳票出力テーブル 
					( 端末番号,帳票区分,管理NO,作成日)
				Values 
					(Host_Name(),@CHONO,@ERKNO,Getdate())
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 43 GOTO PROC_ERROR END
		   END	
		SELECT @UCHIFLG = 1
	   END
	ELSE
	   BEGIN
		UPDATE 材料かんばん読取エラーテーブル Set
				打切エラー枚数 = 打切エラー枚数 + 1
				Where エラー管理番号 = @ERKNO
				   And エラー種類 = @CHONO
	  			   And 材料管理番号 	 = @ZAIKNO
				   And 取引先 = @TORCD
				   And 受入    = @UKEIR 
				   And 発行NO = 0
				   And 収容数 = @SYUYO
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 37 GOTO PROC_ERROR END
	   END
   END
--///// ERRNO が52は打切警告リスト作成
SELECT @CHONO = 23
IF @ERRNO = 52
   BEGIN
	IF Not EXISTS(Select 材料管理番号 From 材料かんばん読取エラーテーブル
				Where エラー管理番号 = @ERKNO
				   And エラー種類 = @CHONO
	  			   And 材料管理番号 	 = @ZAIKNO
				   And 取引先 = @TORCD
				   And 受入    = @UKEIR 
				   And 発行NO = 0
				   And 収容数 = @SYUYO )
	   BEGIN
		INSERT INTO 材料かんばん読取エラーテーブル 
			( エラー管理番号,エラー種類,材料管理番号,取引先,受入,
			 背番号,手配区分,収容数,発行NO,エラー要因,材質,板厚,幅,長さ,
			 打切種別,完了区分,起算日,起算便,打切日,打切設定数,
			 警告数,警告日,設定残数,発注済数,今回発注数,
			 作成日,作成端末)
			Values 
			(@ERKNO,@CHONO,@ZAIKNO,@TORCD,@UKEIR,
			 @SEBAN,@KANKB,@SYUYO,0,@ERRNO,@W_ZAIS,@W_ITA,@W_HABA,@W_NAGA,
			 @UKBN,@RESULT,@KIYMD,@KIBIN,@EDYMD,@SETSU,
			 @KEISU,@KEYMD,@UZANSU,@HSU,0,
			 Getdate(),Host_Name() )
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 34 GOTO PROC_ERROR END
		SELECT @ERRCNT = @ERRCNT + 1

		IF Not EXISTS(Select * From 帳票出力テーブル
					Where 端末番号 = Host_Name()
					   And 帳票区分 = @CHONO )
		   BEGIN
			INSERT INTO 帳票出力テーブル 
					( 端末番号,帳票区分,管理NO,作成日)
				Values 
					(Host_Name(),@CHONO,@ERKNO,Getdate())
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 44 GOTO PROC_ERROR END
		   END	
	   END
	ELSE
	   BEGIN
		UPDATE 材料かんばん読取エラーテーブル SET
			設定残数  =  @UZANSU,
			発注済数  =  @HSU
			Where エラー管理番号 = @ERKNO
			   And エラー種類 = @CHONO
  			   And 材料管理番号 	 = @ZAIKNO
			   And 取引先 = @TORCD
			   And 受入    = @UKEIR 
			   And 発行NO = 0
			   And 収容数 = @SYUYO 
	   END	
   END

--//////////////////////////////////
--//
--//	データ更新
--//
--//////////////////////////////////
-- 発注対象外データは終了
IF @ERRNO <> 0 AND  @ERRNO < 50 BEGIN GOTO PROC_END END
--//////////////////////////////////////////////////////
--// かんばん流動管理テーブル更新(処理区分が指定で臨時以外の時
--//////////////////////////////////////////////////////
IF Not ( @PROC = '2' And @HKKB = '3' )
   BEGIN
	UPDATE かんばん材料管理テーブル Set
		流動日付 = Convert(VARCHAR(8),Getdate(),112),
		発行区分 = 1,
		回収日 = '',
		更新日 = Getdate(),
		更新端末 = Host_Name()
		Where 取引先 = @TORCD
		   And 受入    = @UKEIR
		   And 材料管理番号 	 = @ZAIKNO
		   And 発行NO = @RENNO
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 52 GOTO PROC_ERROR END
   END
--//////////////////////////////////////////////////////
--// 発注サイクルマスタ（最終発注日）
--//////////////////////////////////////////////////////
IF @PROC = '1' AND @W_ENDHYMD <> @HDATE
   BEGIN
	UPDATE 発注サイクルマスタ Set
		最終発注日 = @HDATE,
		更新日 = Getdate(),
		更新端末 = Host_Name()
		Where 仕入先 = @TORCD
		   And 受入    = @UKEIR
		   And サイクル	 = @CYCLE
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 54 GOTO PROC_ERROR END
   END
--//////////////////////////////////////////////
--// 発注打切テーブル(打切種別=0:残数の時のみ行う)
--//////////////////////////////////////////////
IF @UKBN = 0
   BEGIN
	IF @KIYMD + @KIBIN <= @NYMD + @NBIN 	-- 納入日・便が起算日・便と同じか大きい時、更新を行う。
	   BEGIN
		IF @KNYMD = ''	-- 未完了更新
		    BEGIN
			UPDATE 材料発注打切テーブル Set
					発注数 = 発注数 + CASE WHEN @UHASU = 0 THEN @SYUYO ELSE @UHASU END,
					完了日 = Case When 設定数 - (発注数 + CASE WHEN @UHASU = 0 THEN @SYUYO ELSE @UHASU END) <= 0 Then @NYMD Else '' END,
					完了便 = Case When 設定数 - (発注数 + CASE WHEN @UHASU = 0 THEN @SYUYO ELSE @UHASU END) <= 0 Then @NBIN Else '' END,
					設定残数 = Case When 設定数 - (発注数 + CASE WHEN @UHASU = 0 THEN @SYUYO ELSE @UHASU END) <= 0 Then 0 Else 設定数 - (発注数 + CASE WHEN @UHASU = 0 THEN @SYUYO ELSE @UHASU END) END,
					更新日 = Getdate(),
					更新端末 = Host_Name()
					Where 打切種別 = 0
					    And 材料管理番号 = @ZAIKNO
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 54 GOTO PROC_ERROR END
		    END
		ELSE			-- 完了時更新（発注数のみ）
		    BEGIN
			IF @UCHIFLG = 1 And @UZANSU > 0 -- 打切り情報出力時で残数がZERO以外の時のみ発注数を加算
			   BEGIN
				UPDATE 材料発注打切テーブル Set
						発注数 = 発注数 + CASE WHEN @UHASU = 0 THEN @SYUYO ELSE @UHASU END,
						更新日 = Getdate(),
						更新端末 = Host_Name()
						Where 打切種別 = 0
						    And 材料管理番号 = @ZAIKNO
				IF @@ERROR <> 0 BEGIN SELECT @ERR = 55 GOTO PROC_ERROR END
			   END
		    END			

	   END
   END
--//////////////////////////////////////////////
--// 材料発注かんばん枚数累積テーブル　
--//////////////////////////////////////////////
IF Not EXISTS(Select 材料管理番号 From 材料発注かんばん枚数累積テーブル
			Where 処理端末 = Host_Name()
			   And 納入日 = @NYMD
			   And 納入便 = @NBIN
  			   And 材料管理番号 	 = @ZAIKNO
			   And 取引先 = @TORCD
			   And 受入    = @UKEIR
			   And 収容数 = @SYUYO )
   BEGIN
	INSERT INTO 材料発注かんばん枚数累積テーブル
		( 処理端末,納入日,納入便,材料管理番号,取引先,受入,収容数,
		  読取処理,発注区分,読取枚数,手配区分,SK区分,発注数,
		  背番号,材質,板厚,幅,長さ,発注日,発注便,サイクル,
		  打切種別,完了区分,打切区分,打切日,打切残数,打切端数,
		  平準化区分, 平準化開始日,平準化月超過日,平準化月超過便,発行日,発行時間,処理区分,
		 作成日)
		Values 
		( Host_Name(),@NYMD,@NBIN,@ZAIKNO,@TORCD,@UKEIR,@SYUYO,
		  @PROC,@HKKB,1,@KANKB,@W_SKKB,CASE WHEN @UHASU = 0 THEN @SYUYO ELSE @UHASU END,
		  @SEBAN,@W_ZAIS,@W_ITA,@W_HABA,@W_NAGA,@HYMD,@HBIN,@CYCLE,
		  @UKBN,@RESULT,@UKB,@UYMD,@UZANSU,@UHASU,
		  0,'','','',@PDATE, @PTIME,0,
		  Getdate() )
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 61 GOTO PROC_ERROR END

	SELECT @OUTCNT = @OUTCNT + 1
   END
ELSE			
   BEGIN
	Update 材料発注かんばん枚数累積テーブル Set 
		読取枚数 = 読取枚数 + 1,
		発注数 = 発注数 + CASE WHEN @UHASU = 0 THEN @SYUYO ELSE @UHASU END,
		完了区分 = @RESULT,
		打切区分 = @UKB,
		打切日 = @UYMD,
		打切残数 = @UZANSU,
		打切端数 = @UHASU
		Where 処理端末 = Host_Name()
		   And 納入日 = @NYMD
		   And 納入便 = @NBIN
		   And 材料管理番号 	 = @ZAIKNO
		   And 取引先 = @TORCD
		   And 受入    = @UKEIR
		   And 収容数 = @SYUYO
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 62 GOTO PROC_ERROR END
	SELECT @OUTCNT = @OUTCNT + 1
   END
--//////////////////////////////////////////////
--// かんばん重複チェックテーブル
--//////////////////////////////////////////////
IF Not EXISTS(Select 材料管理番号 From 材料かんばん重複チェックテーブル
			Where 納入日 = @NYMD
			And 納入便 = @NBIN
			And 取引先 = @TORCD
			And 材料管理番号 	 = @ZAIKNO
			And 背番号  = @SEBAN
			And 受入    = @UKEIR
			And 連番 = @RENNO )
   BEGIN
	Insert Into 材料かんばん重複チェックテーブル
		( 納入日, 納入便, 取引先, 材料管理番号, 背番号, 受入, 連番,作成端末,作成日)
		Values
		( @NYMD,@NBIN,@TORCD,@ZAIKNO,@SEBAN,@UKEIR,@RENNO,Host_Name(),Getdate())
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 1 GOTO PROC_ERROR END
   END

-- 材料管理番号にてポケット指定がある時、ポケットNOをセット
IF @ZKPOKET <> 0 And @POKET = 0
   BEGIN
	SELECT @POKET = @ZKPOKET
   END



PROC_END:
----------------------------
--<<　トランザクション終了        >>--
----------------------------
COMMIT TRANSACTION KNZCRT

--* 正常終了 *--
RETURN(0)
PROC_ERROR:
-- ====================================< 2005.02.24 ADD START >
ROLLBACK TRANSACTION KNZCRT
-- ====================================< 2005.02.24 ADD  END  >
--* 異常終了 *--
---TEST --------------------------------------------------
/*
IF @ERR <> 0 or @ERRNO <> 0
   BEGIN
	 SELECT 'ERROR=',CONVERT(CHAR(2),@ERR), 'ERRNo=',CONVERT(CHAR(2),@ERRNO)  
   END
*/
------- --------------------------------------------------
RETURN(@ERR)



GO
