USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[構成問合せ情報抽出]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[構成問合せ情報抽出] (@HINBN VARCHAR(25) , @HINKB TINYINT , @TENKB TINYINT , @OYAKB TINYINT) AS
--*=============================================================================*--
--*	構成問合せ情報抽出
--*
--*	処理内容　：	構成マスタ照会情報の抽出
--*
--*	    ﾊﾟﾗﾒﾀ	@HINBN　…  
--*			@HINKB  …　0:品番, 1:材料
--*			@TENKB  …　0:正  , 1:逆
--*			@OYAKB  …　0:直前, 1:製品
--*
--*	作成日　　：	2004/04/06
--*
--*=============================================================================*--
/*	TEST	 */
--T DECLARE @HINBN		VARCHAR(25)
--T DECLARE @TENKB		TINYINT
--T DECLARE @HINKB		TINYINT
--T DECLARE @OYAKB		TINYINT
--T SELECT @HINBN = 'AAAA'
--T SELECT @TENKB = 0
--T SELECT @HINKB = 0
--T SELECT @OYAKB = 0
/*	TEST	*/

DECLARE @IND		TINYINT
DECLARE @INDX		VARCHAR(3)
DECLARE @LOOP		TINYINT
DECLARE @MAX_LOOP	TINYINT
DECLARE @WHINBN		VARCHAR(25)
-- 構成情報退避
DECLARE @KO_ORDER	VARCHAR(300)
DECLARE @KO_LEVEL	TINYINT
DECLARE @KO_OHINBN	VARCHAR(25)
DECLARE @KO_KHINBN	VARCHAR(25)
DECLARE @KO_KOSUR	DECIMAL(8,4)
DECLARE @KO_TENKB	TINYINT
DECLARE @KO_LTIME		TINYINT
DECLARE @KO_SDATE	VARCHAR(8)
DECLARE @KO_EDATE	VARCHAR(8)
DECLARE @KO_HHIN	VARCHAR(30)
DECLARE @KO_HINNM	VARCHAR(40)
DECLARE @KO_ZKANR	INT

SELECT @IND = 0
SELECT @MAX_LOOP = 99
SET NOCOUNT ON
-- *-----------------------------------------------------------------
-- *	構成問合せワーク	削除
-- *-----------------------------------------------------------------
DELETE 構成問合せワーク 
	WHERE 処理端末 = HOST_NAME()
IF @@ERROR <> 0	BEGIN	GOTO PROC_ERR	END

DELETE 構成問合せワーク2
	WHERE 処理端末 = HOST_NAME()
IF @@ERROR <> 0	BEGIN	GOTO PROC_ERR	END

-- *=================================================================================================
-- *	正   展   開
-- *=================================================================================================
IF @TENKB = 0
    BEGIN

	-- *	レベル０ セット
	INSERT INTO 構成問合せワーク
		(処理端末,順位,レベル,親品番,子品番,構成数,展開区分,LT,
		 適用開始日,適用終了日,区分,表示品番,表示寸法,品名,材料管理番号) 
		SELECT HOST_NAME(),'',0,'',@HINBN,1,0,0,
			'','','',表示品番,'',品名, 0
			FROM 品番マスタ
			WHERE 品番 = @HINBN			
	IF @@ERROR <> 0	BEGIN	GOTO PROC_ERR	END

	-- *--------------------------------------------------------------------------------------
	-- *	レベル１（材料） セット
	-- *--------------------------------------------------------------------------------------
	DECLARE ZR_CUR	CURSOR
	FOR
	SELECT ZH.使用品番,ZR.材質,ZH.使用量,
		ZH.展開区分,ZH.有効期限開始,ZH.有効期限終了,
		ZR.表示寸法,ZR.材料名,ZR.材料管理番号
		FROM 材料品番マスタ ZH
		LEFT OUTER JOIN 材料マスタ ZR
		  ON ZR.材料管理番号 = ZH.材料管理番号
		WHERE ZH.使用品番 = @HINBN
		 ORDER BY ZR.材質,ZR.板厚,ZR.幅,ZR.長さ

	OPEN ZR_CUR
	FETCH NEXT FROM ZR_CUR	INTO @KO_OHINBN,@KO_KHINBN,@KO_KOSUR,
				@KO_TENKB,@KO_SDATE,@KO_EDATE,
				@KO_HHIN, @KO_HINNM,@KO_ZKANR
	
	WHILE	@@FETCH_STATUS = 0
	    BEGIN

		SELECT @IND = @IND + 1	
		EXEC cFORMATX 3,@IND,0,@INDX OUTPUT

		INSERT INTO 構成問合せワーク
			(処理端末,順位,レベル,親品番,子品番,構成数,展開区分,LT,
			 適用開始日,適用終了日,区分,表示品番,表示寸法,品名,材料管理番号) VALUES
			(HOST_NAME(),@INDX,1,@KO_OHINBN,@KO_KHINBN,@KO_KOSUR,@KO_TENKB,0,
			 @KO_SDATE,@KO_EDATE,'1',@KO_KHINBN,@KO_HHIN,@KO_HINNM,@KO_ZKANR)
		IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END


	FETCH NEXT FROM ZR_CUR	INTO @KO_OHINBN,@KO_KHINBN,@KO_KOSUR,
				@KO_TENKB,@KO_SDATE,@KO_EDATE,
				@KO_HHIN, @KO_HINNM,@KO_ZKANR
	    END

	-- *	CURSOR CLOSE & DELETE
	CLOSE ZR_CUR
	DEALLOCATE ZR_CUR

	-- *--------------------------------------------------------------------------------------
	-- *	レベル１（部品） セット
	-- *--------------------------------------------------------------------------------------
	DECLARE KO_CUR	CURSOR
	FOR
	SELECT KO.親品番,KO.子品番,KO.構成数,
		KO.展開区分,KO.LT,KO.適用開始日,KO.適用終了日,
		HN.表示品番,HN.品名
		FROM 構成マスタ KO
		LEFT OUTER JOIN 品番マスタ HN
		  ON HN.品番 = KO.子品番
		WHERE KO.親品番 = @HINBN
		 ORDER BY KO.子品番

	OPEN KO_CUR
	FETCH NEXT FROM KO_CUR	INTO @KO_OHINBN,@KO_KHINBN,@KO_KOSUR,
				@KO_TENKB,@KO_LTIME,@KO_SDATE,@KO_EDATE,
				@KO_HHIN, @KO_HINNM
	
	WHILE	@@FETCH_STATUS = 0
	    BEGIN

		SELECT @IND = @IND + 1	
		EXEC cFORMATX 3,@IND,0,@INDX OUTPUT

		INSERT INTO 構成問合せワーク
			(処理端末,順位,レベル,親品番,子品番,構成数,展開区分,LT,
			 適用開始日,適用終了日,区分,表示品番,表示寸法,品名,材料管理番号) VALUES
			(HOST_NAME(),@INDX,1,@KO_OHINBN,@KO_KHINBN,@KO_KOSUR,@KO_TENKB,@KO_LTIME,
			 @KO_SDATE,@KO_EDATE,'',@KO_HHIN,'',@KO_HINNM,0)
		IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END


		FETCH NEXT FROM KO_CUR	INTO @KO_OHINBN,@KO_KHINBN,@KO_KOSUR,
				@KO_TENKB,@KO_LTIME,@KO_SDATE,@KO_EDATE,
				@KO_HHIN, @KO_HINNM
	    END

	-- *	CURSOR CLOSE & DELETE
	CLOSE KO_CUR
	DEALLOCATE KO_CUR



	-- *--------------------------------------------------------------------------------------
	-- *	レベル２以降 セット
	-- *--------------------------------------------------------------------------------------
	SELECT @LOOP = 1
	SELECT @WHINBN = ''
	WHILE @LOOP < @MAX_LOOP
	    BEGIN
	
		IF (SELECT COUNT(*) FROM 構成問合せワーク
				WHERE レベル = @LOOP) = 0 
		    BEGIN SELECT @LOOP = @MAX_LOOP END
	-- *--------------------------------------------------------------------------------------
	-- *	材料
	-- *--------------------------------------------------------------------------------------
		DECLARE ZR_CUR	CURSOR
		FOR
		SELECT KW.順位,ZH.使用品番,ZR.材質,ZH.使用量,
			ZH.展開区分,ZH.有効期限開始,ZH.有効期限終了,
			ZR.表示寸法,ZR.材料名,ZR.材料管理番号
			FROM 構成問合せワーク KW
			LEFT OUTER JOIN 材料品番マスタ ZH
			  ON ZH.使用品番 = KW.子品番
			LEFT OUTER JOIN 材料マスタ ZR
			  ON ZR.材料管理番号 = ZH.材料管理番号
			WHERE KW.レベル = @LOOP
			  AND KW.処理端末 = HOST_NAME()
			  AND KW.区分 = ''
			ORDER BY KW.順位,ZR.材質,ZR.板厚,ZR.幅,ZR.長さ
	
		OPEN ZR_CUR
		FETCH NEXT FROM ZR_CUR	INTO @KO_ORDER,@KO_OHINBN,@KO_KHINBN,@KO_KOSUR,
					@KO_TENKB,@KO_SDATE,@KO_EDATE,
					@KO_HHIN, @KO_HINNM,@KO_ZKANR
		
		WHILE	@@FETCH_STATUS = 0
		    BEGIN
		
			IF ISNULL(@KO_OHINBN,'') <> ''
			    BEGIN
				IF @WHINBN <> @KO_OHINBN
				    BEGIN
					SELECT @IND = 0
					SELECT @WHINBN = @KO_OHINBN
				    END
	
				SELECT @IND = @IND + 1	
				EXEC cFORMATX 3,@IND,0,@INDX OUTPUT
	
				INSERT INTO 構成問合せワーク
					(処理端末,順位,レベル,
					 親品番,子品番,構成数,
					 展開区分,LT,
					 適用開始日,適用終了日,区分,
					 表示品番,表示寸法,品名,材料管理番号) VALUES
					(HOST_NAME(),@KO_ORDER + @INDX,@LOOP + 1,
					 @KO_OHINBN,@KO_KHINBN,@KO_KOSUR,
					 @KO_TENKB,0,
					 @KO_SDATE,@KO_EDATE,'1',
					 @KO_KHINBN,@KO_HHIN,@KO_HINNM,@KO_ZKANR)
	
				IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END
			    END

			FETCH NEXT FROM ZR_CUR	INTO @KO_ORDER,@KO_OHINBN,@KO_KHINBN,@KO_KOSUR,
					@KO_TENKB,@KO_SDATE,@KO_EDATE,
					@KO_HHIN, @KO_HINNM,@KO_ZKANR
		    END 

		-- *	CURSOR CLOSE & DELETE
		CLOSE ZR_CUR
		DEALLOCATE ZR_CUR

	-- *--------------------------------------------------------------------------------------
	-- *	部品
	-- *--------------------------------------------------------------------------------------
		DECLARE KO_CUR	CURSOR
		FOR
		SELECT KW.順位,KO.親品番,KO.子品番,KO.構成数,
			KO.展開区分,KO.LT,KO.適用開始日,KO.適用終了日,
			HN.表示品番,HN.品名
			FROM 構成問合せワーク KW
			LEFT OUTER JOIN 構成マスタ KO
			  ON KO.親品番 = KW.子品番
			LEFT OUTER JOIN 品番マスタ HN
			  ON HN.品番 = KO.子品番
			WHERE KW.レベル = @LOOP
			  AND KW.処理端末 = HOST_NAME()
			  AND KW.区分 = ''
			ORDER BY KW.順位,KO.子品番
	
		OPEN KO_CUR
		FETCH NEXT FROM KO_CUR	INTO @KO_ORDER,@KO_OHINBN,@KO_KHINBN,@KO_KOSUR,
					@KO_TENKB,@KO_LTIME,@KO_SDATE,@KO_EDATE,
					@KO_HHIN, @KO_HINNM
		
		WHILE	@@FETCH_STATUS = 0
		    BEGIN
		
			IF ISNULL(@KO_OHINBN,'') <> ''
			    BEGIN
				IF @WHINBN <> @KO_OHINBN
				    BEGIN
					SELECT @IND = 0
					SELECT @WHINBN = @KO_OHINBN
				    END
	
				SELECT @IND = @IND + 1	
				EXEC cFORMATX 3,@IND,0,@INDX OUTPUT
	
				INSERT INTO 構成問合せワーク
					(処理端末,順位,レベル,
					 親品番,子品番,構成数,
					 展開区分,LT,
					 適用開始日,適用終了日,区分,
					 表示品番,表示寸法,品名,材料管理番号) VALUES
					(HOST_NAME(),@KO_ORDER + @INDX,@LOOP + 1,
					 @KO_OHINBN,@KO_KHINBN,@KO_KOSUR,
					 @KO_TENKB,@KO_LTIME,
					 @KO_SDATE,@KO_EDATE,'',
					 @KO_HHIN,'',@KO_HINNM,0)
	
				IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END
			    END

			FETCH NEXT FROM KO_CUR	INTO @KO_ORDER,@KO_OHINBN,@KO_KHINBN,@KO_KOSUR,
					@KO_TENKB,@KO_LTIME,@KO_SDATE,@KO_EDATE,
					@KO_HHIN, @KO_HINNM
		    END 

		-- *	CURSOR CLOSE & DELETE
		CLOSE KO_CUR
		DEALLOCATE KO_CUR

		SELECT @LOOP = @LOOP + 1

	    END
    END
-- *=================================================================================================
-- *	逆   展   開
-- *=================================================================================================
ELSE
    BEGIN
	-- *-----------------------------------------------------------------------------------------
	-- *	直  前  品  番
	-- *-----------------------------------------------------------------------------------------
	IF @OYAKB = 0 
	    BEGIN
		IF @HINKB = 0 
		    BEGIN
		-- * 部品 *			
			INSERT INTO 構成問合せワーク
				(処理端末,順位,レベル,親品番,子品番,構成数,展開区分,LT,
				 適用開始日,適用終了日,区分,表示品番,表示寸法,品名,材料管理番号)
				SELECT HOST_NAME(),'',0,KO.親品番,KO.子品番,0,0,0,
					'','','',HN.表示品番,'',HN.品名,0
					FROM 構成マスタ KO
					LEFT OUTER JOIN 品番マスタ HN
					  ON HN.品番 = KO.親品番
					WHERE KO.子品番 = @HINBN
					  AND HN.品番 IS NOT NULL		

			IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END
		    END
		ELSE		
		    BEGIN
		-- * 材料 *
			INSERT INTO 構成問合せワーク
				(処理端末,順位,レベル,親品番,子品番,構成数,展開区分,LT,
				 適用開始日,適用終了日,区分,表示品番,表示寸法,品名,材料管理番号)
				SELECT HOST_NAME(),'',0,ZH.使用品番,ZR.材質,0,0,0,
					'','','',HN.表示品番,ZR.表示寸法,HN.品名,0
					FROM 材料品番マスタ ZH
					LEFT OUTER JOIN 品番マスタ HN
					  ON HN.品番 = ZH.使用品番
					LEFT OUTER JOIN 材料マスタ ZR
					  ON ZR.材料管理番号 = ZH.材料管理番号
					WHERE ZR.材質 = @HINBN
					  AND HN.品番 IS NOT NULL

			IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END
		    END
	    END
	-- *-----------------------------------------------------------------------------------------
	-- *	製  品  品  番
	-- *-----------------------------------------------------------------------------------------
	ELSE
	    BEGIN
		IF @HINKB = 0 
		    BEGIN
		-- * 部品 *
			INSERT INTO 構成問合せワーク2
				(処理端末,順位,レベル,親品番,子品番,構成数,展開区分,LT,
				 適用開始日,適用終了日,区分,表示品番,表示寸法,品名,材料管理番号) 
				SELECT HOST_NAME(),'',1,KO.親品番,KO.子品番,0,0,0,
					'','','',HN.表示品番,'',HN.品名,0
					FROM 構成マスタ KO
					LEFT OUTER JOIN 品番マスタ HN
					  ON HN.品番 = KO.親品番
					WHERE KO.子品番 = @HINBN			
					  AND HN.品番 IS NOT NULL
			IF @@ERROR <> 0	BEGIN	GOTO PROC_ERR	END
		    END
		ELSE
		    BEGIN
		-- * 材料 *
			INSERT INTO 構成問合せワーク2
				(処理端末,順位,レベル,親品番,子品番,構成数,展開区分,LT,
				 適用開始日,適用終了日,区分,表示品番,表示寸法,品名,材料管理番号) 
				SELECT HOST_NAME(),'',1,ZH.使用品番,ZR.材質,0,0,0,
					'','','',HN.表示品番,ZR.表示寸法,HN.品名,0
					FROM 材料品番マスタ ZH
					LEFT OUTER JOIN 品番マスタ HN
					  ON HN.品番 = ZH.使用品番
					LEFT OUTER JOIN 材料マスタ ZR
					  ON ZR.材料管理番号 = ZH.材料管理番号
					WHERE ZR.材質 = @HINBN			
					  AND HN.品番 IS NOT NULL
			IF @@ERROR <> 0	BEGIN	GOTO PROC_ERR	END
		    END
		
		-- * 製品品番獲得
		SELECT @LOOP = 1
		SELECT @WHINBN = ''
		WHILE @LOOP < @MAX_LOOP
		    BEGIN

			IF (SELECT COUNT(*) FROM 構成問合せワーク2
					WHERE レベル = @LOOP) = 0 
			    BEGIN SELECT @LOOP = @MAX_LOOP END

			-- * 親レベル 退避
			INSERT INTO 構成問合せワーク2
				(処理端末,順位,レベル,親品番,子品番,構成数,展開区分,LT,
				 適用開始日,適用終了日,区分,表示品番,表示寸法,品名,材料管理番号) 
				SELECT HOST_NAME(),'',@LOOP + 1,KO.親品番,KO.子品番,0,0,0,
					'','','',HN.表示品番,KW.表示寸法,HN.品名,0
					FROM 構成問合せワーク2 KW
					LEFT OUTER JOIN 構成マスタ KO
					  ON KO.子品番 = KW.親品番
					LEFT OUTER JOIN 品番マスタ HN
					  ON HN.品番 = KO.親品番
					WHERE KW.レベル = @LOOP
					  AND 処理端末 = HOST_NAME()
					  AND KO.親品番 IS NOT NULL
					  AND HN.品番 IS NOT NULL
			IF @@ERROR <> 0	BEGIN	GOTO PROC_ERR	END

			-- * 製品品番情報 
			INSERT INTO 構成問合せワーク
				(処理端末,順位,レベル,親品番,子品番,構成数,展開区分,LT,
				 適用開始日,適用終了日,区分,表示品番,表示寸法,品名,材料管理番号) 
				SELECT HOST_NAME(),'',@LOOP,KW.親品番,KW.子品番,0,0,0,
					'','','',KW.表示品番,KW.表示寸法,KW.品名,0
					FROM 構成問合せワーク2 KW
					LEFT OUTER JOIN 構成マスタ KO
					  ON KO.子品番 = KW.親品番
					WHERE KW.レベル = @LOOP
					  AND 処理端末 = HOST_NAME()
					  AND KO.親品番 IS NULL
			IF @@ERROR <> 0	BEGIN	GOTO PROC_ERR	END


			SELECT @LOOP = @LOOP + 1
		    END
	    END

    END
-- SELECT * FROM 構成問合せワーク
-- SELECT * FROM 品番マスタ WHERE 品番 = '76660720150H1'
-- *--------------------------------------------------*
-- *	正  常  終  了
-- *--------------------------------------------------*
PROC_END:
RETURN(0)
-- *--------------------------------------------------*
-- *	異  常  終  了
-- *--------------------------------------------------*
PROC_ERR:
RETURN(1)




GO
