USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[材料発注かんばん予定削除処理]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  PROCEDURE [dbo].[材料発注かんばん予定削除処理]	@HEICNT INT OUTPUT,@UCHCNT INT OUTPUT
 AS 
-- ----------------------------------------------------------------------------------------------------*
-- 								
-- 		材料発注かんばん予定削除処理		
-- 								
--		Parameter :
--		  :	@HEICNT 	INT	　･･･ 	処理区分 1:一括,2:指定
-- 		RETURN   :     0 … ＯＫ	≠ 0 … ＮＧ

-- 			CREATE DATE	:	2004/02/23
-- 			UPDATE DATE	:
-- 													
-- ----------------------------------------------------------------------------------------------------
SET NOCOUNT ON
--TEST----------------------------------------------------------------
/*
*/
--TEST----------------------------------------------------------------

-- 退避エリア
DECLARE @ERR  	TINYINT
DECLARE @INCNT 	INT

SELECT @HEICNT = 0
SELECT @UCHCNT = 0
-- ------------------------------------------
--      材料発注かんばん予定テーブルカーソル定義		
-- ------------------------------------------
DECLARE HYCUR SCROLL CURSOR
FOR 

	SELECT 管理番号,仕入先,受入,
		  納入日,納入便,材料管理番号,
		  材質,板厚,幅,長さ,
		  収容数,枚数,端数,発注数,発注区分,
		  平準化区分,平準化開始日,打切種別
	  FROM 材料発注かんばん予定テーブル
	WHERE 処理端末 = HOST_NAME()
	   AND  処理区分 = 2
	   AND  打切種別 = 0 
	ORDER BY 作成日 Desc,材質,板厚,幅,長さ,仕入先,受入

FOR READ ONLY 
OPEN HYCUR

--  ｶｰｿﾙ項目定義  --
DECLARE @KANNO INT,@TORCD VARCHAR(7),@UKEIR VARCHAR(2)
DECLARE @NYMD VARCHAR(8),@NBIN VARCHAR(2),@ZAIKNO	INT
DECLARE @ZAIS VARCHAR(25),@ITA DECIMAL(6,2),@HABA DECIMAL (6,2),@NAGASA DECIMAL(6,2)
DECLARE @SYUYO DECIMAL(11,3),@MAISU INT,@HASU DECIMAL(11,3),@HSURYO DECIMAL(11,3),@HCKB VARCHAR(1)
DECLARE @HEIKB TINYINT,@HEIYMD VARCHAR(8),@UHKB TINYINT
--  ワーク項目定義  --
DECLARE @HEISU	INT
DECLARE @HEIYY	INT

--  ワーク初期化  --
SELECT @ERR = 0
SELECT @INCNT = 0
----------------------------------------------------------------------------------
--   発注かんばん予定テーブル  読込		
----------------------------------------------------------------------------------
FETCH NEXT FROM HYCUR INTO 
			@KANNO ,@TORCD ,@UKEIR ,
			@NYMD   ,@NBIN  , @ZAIKNO,
			@ZAIS     ,@ITA    ,@HABA  ,@NAGASA ,
			@SYUYO ,@MAISU ,@HASU ,@HSURYO,@HCKB,
			@HEIKB  ,@HEIYMD,@UHKB
WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @INCNT = @INCNT + 1
	-- 打切情報　復元（設定残数)
	IF @UHKB = 0
	   BEGIN
		UPDATE 材料発注打切テーブル Set
				発注数 = 発注数 - @HSURYO,
				完了日 =  '',
				完了便 =  '',
				設定残数 =  設定残数 + @HSURYO,
				更新日 = Getdate(),
				更新端末 = Host_Name()
				Where 打切種別 = 0
				    And 材料管理番号 = @ZAIKNO
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 4 GOTO PROC_ERROR END
		SELECT @UCHCNT = @UCHCNT + 1
		--------------------------------
		-- 打切対象品番リスト 出力用
		--------------------------------
		IF Not EXISTS(Select * From 帳票出力テーブル
					Where 端末番号 = Host_Name()
					   And 帳票区分 = 32 
					   And 管理NO = @KANNO )
		   BEGIN
			INSERT INTO 帳票出力テーブル 
				( 端末番号,帳票区分,管理NO,作成日)
				Values
				( Host_Name(),32,@KANNO,Getdate() )
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 5 GOTO PROC_ERROR END
		  END
	   END
-- ----------------------------------------------------------
--   材料発注かんばん予定テーブルカーソルスクロール(次レコード）  		      
-- ----------------------------------------------------------
	FETCH NEXT FROM HYCUR INTO
			@KANNO ,@TORCD ,@UKEIR ,
			@NYMD   ,@NBIN  ,@ZAIKNO,
			@ZAIS     ,@ITA    ,@HABA  ,@NAGASA ,
			@SYUYO ,@MAISU ,@HASU ,@HSURYO,@HCKB,
			@HEIKB  ,@HEIYMD,@UHKB
END

CLOSE HYCUR
DEALLOCATE HYCUR


----------------------------------
-- 材料かんばん重複チェックテーブル 削除
----------------------------------
Delete 材料かんばん重複チェックテーブル
	From 材料かんばん重複チェックテーブル KJ
	Left Outer Join 材料発注かんばん予定テーブル KY
		On KY.仕入先 = KJ.取引先
		And KY.受入 = KJ.受入
		And KY.納入日 = KJ.納入日
		And KY.納入便 = KJ.納入便
		And KY.材料管理番号 = KJ.材料管理番号
	WHERE KY.処理端末 = HOST_NAME()
	   AND  KY.処理区分 = 2
----------------------------------
-- 発注明細出力用　打ち切り情報更新
----------------------------------
UPDATE 材料発注かんばん予定テーブル Set
	打切残数 = HU.設定残数,
	打切日 = '',
	端数区分 = 0,
	端数 = 0,
	打切区分 = Case When HU.設定残数 > HU.警告数 THEN 9 ELSE 1 END
	From 材料発注打切テーブル HU
	Where 材料発注かんばん予定テーブル.材料管理番号 = (Select 材料管理番号 From 材料発注かんばん予定テーブル 
									WHERE 処理端末 = HOST_NAME()
									   AND  処理区分 = 2
									   AND  打切種別 = 0 
									Group by 材料管理番号 ) 
	   And  HU.材料管理番号 = (Select 材料管理番号 From 材料発注かんばん予定テーブル 
									WHERE 処理端末 = HOST_NAME()
									   AND  処理区分 = 2
									   AND  打切種別 = 0 
									Group by 材料管理番号 ) 
	   And  HU.打切種別 = 0
IF @@ERROR <> 0 BEGIN SELECT @ERR = 6 GOTO PROC_ERROR END

PROC_END:
-- 正常終了 --
RETURN(0)
PROC_ERROR:
-- 異常終了 --
---TEST --------------------------------------------------
/*
IF @ERR <> 0 
   BEGIN
	 SELECT 'ERROR=',CONVERT(CHAR(2),@ERR)
   END
*/
----------------------------------------------------------
RETURN(@ERR)



GO
