USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[展開確定用ワーク作成]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO





CREATE PROCEDURE [dbo].[展開確定用ワーク作成] AS
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 * ( CNJ0310 )
 *			展　開　確　定　用　ワ　ー　ク　作　成
 *
 *			CREATE DATE		
 *	    		UP DATE		2007 / 05 / 11	By CIS	構成Ｍ使用数の少数点対応(かなり小さい値の時、実数との差が大きくなっていた為)
 *	    		UP DATE		
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[カレンダワーク]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
   BEGIN
	DROP TABLE [dbo].[カレンダワーク]
   END 

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[展開在庫ワーク]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
   BEGIN
	DROP TABLE [dbo].[展開在庫ワーク]
   END

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[展開在庫品番ワーク]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
   BEGIN
	DROP TABLE [dbo].[展開在庫品番ワーク]
   END

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[構成展開集計ワーク]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
   BEGIN
	DROP TABLE [dbo].[構成展開集計ワーク]
   END

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[発注内示ワーク]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
   BEGIN
	DROP TABLE [dbo].[発注内示ワーク]
   END

IF EXISTS (SELECT * FROM dbo.SYSOBJECTS WHERE ID = OBJECT_ID(N'[dbo].[発注内示仕掛ワーク]') AND OBJECTPROPERTY(ID, N'ISUSERTABLE') = 1)
   BEGIN
	DROP TABLE [dbo].[発注内示仕掛ワーク]
   END

CREATE TABLE [dbo].[カレンダワーク] (
	[取引先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[受入] [VARCHAR] (2) COLLATE JAPANESE_CI_AS NOT NULL ,
	[年月] [VARCHAR] (6) COLLATE JAPANESE_CI_AS NOT NULL ,
	[末日] [TINYINT] NULL ,
	[稼働末日] [TINYINT] NULL ,
	[稼働区分] [VARCHAR] (31) COLLATE JAPANESE_CI_AS NULL ,
	[昼勤区分] [VARCHAR] (31) COLLATE JAPANESE_CI_AS NULL ,
	[夜勤区分] [VARCHAR] (31) COLLATE JAPANESE_CI_AS NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[展開在庫ワーク] (
	[品番] [VARCHAR] (25) COLLATE JAPANESE_CI_AS NOT NULL ,
	[月初有効在庫数] [DECIMAL](11, 0) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[展開在庫品番ワーク] (
	[年月度] [VARCHAR] (6) COLLATE JAPANESE_CI_AS NOT NULL ,
	[品番] [VARCHAR] (25) COLLATE JAPANESE_CI_AS NOT NULL ,
	[在庫数] [DECIMAL](11, 0) NULL ,
	[実棚日] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NOT NULL ,
	[安全在庫数] [DECIMAL](11, 0) NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[構成展開集計ワーク] (
	[品番] [VARCHAR] (25) COLLATE JAPANESE_CI_AS NOT NULL ,
	[親手配先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[納期] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NOT NULL ,
	[数量] [DECIMAL](11, 4) NULL ,
	[展開レベル] [TINYINT] NULL ,
	[ローレベル] [TINYINT] NULL ,
	[引当後数量] [DECIMAL](11, 4) NULL ,
	[在庫管理区分] [TINYINT] NULL ,
	[月初有効在庫数] [DECIMAL](11, 0) NULL ,
	[件数] [INT] NULL ,
	[展開区分] [TINYINT] NOT NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[発注内示ワーク] (
	[品番] [VARCHAR] (25) COLLATE JAPANESE_CI_AS NOT NULL ,
	[手配先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[受入] [VARCHAR] (2) COLLATE JAPANESE_CI_AS NOT NULL ,
	[直送先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[納期] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NOT NULL ,
	[指定納期] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NULL ,
	[仕掛日] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NULL ,
	[数量] [DECIMAL](11, 4) NULL ,
	[引当後数量] [DECIMAL](11, 4) NULL ,
	[係数1] [DECIMAL](3, 2) NULL ,
	[係数2] [DECIMAL](3, 2) NULL ,
	[係数3] [DECIMAL](3, 2) NULL ,
	[サイクル] [VARCHAR] (5) COLLATE JAPANESE_CI_AS NULL ,
	[LT] [TINYINT] NULL ,
	[ロット] [INT] NULL ,
	[WEEK1] [TINYINT] NULL ,
	[WEEK2] [TINYINT] NULL ,
	[WEEK3] [TINYINT] NULL ,
	[WEEK4] [TINYINT] NULL ,
	[WEEK5] [TINYINT] NULL ,
	[DAY1] [TINYINT] NULL ,
	[DAY2] [TINYINT] NULL ,
	[DAY3] [TINYINT] NULL ,
	[DAY4] [TINYINT] NULL ,
	[DAY5] [TINYINT] NULL ,
	[手配区分] [VARCHAR] (1) COLLATE JAPANESE_CI_AS NULL ,
	[発注比率] [INT] NULL ,
	[発注比率計] [INT] NULL ,
	[件数] [INT] NULL ,
	[展開区分] [TINYINT] NOT NULL 
) ON [PRIMARY]

CREATE TABLE [dbo].[発注内示仕掛ワーク] (
	[品番] [VARCHAR] (25) COLLATE JAPANESE_CI_AS NOT NULL ,
	[手配先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[受入] [VARCHAR] (2) COLLATE JAPANESE_CI_AS NOT NULL ,
	[直送先] [VARCHAR] (7) COLLATE JAPANESE_CI_AS NOT NULL ,
	[納期] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NOT NULL ,
	[仕掛日] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NULL ,
	[発注日] [VARCHAR] (8) COLLATE JAPANESE_CI_AS NULL ,

-- +++++   +++++   +++++   +++++   < 2007/05/11 ADD >
--	[数量] [INT] NULL ,
	[数量] [DECIMAL](11, 4) NULL ,
-- +++++   +++++   +++++   +++++   < 2007/05/11 ADD END >

	[LT] [TINYINT] NULL ,
	[ロット] [INT] NULL ,
	[WEEK1] [TINYINT] NULL ,
	[WEEK2] [TINYINT] NULL ,
	[WEEK3] [TINYINT] NULL ,
	[WEEK4] [TINYINT] NULL ,
	[WEEK5] [TINYINT] NULL ,
	[DAY1] [TINYINT] NULL ,
	[DAY2] [TINYINT] NULL ,
	[DAY3] [TINYINT] NULL ,
	[DAY4] [TINYINT] NULL ,
	[DAY5] [TINYINT] NULL ,
	[展開区分] [TINYINT] NOT NULL ,
	[稼動カウント] [TINYINT] NULL ,

-- +++++   +++++   +++++   +++++   < 2007/05/11 ADD >
--	[ロット端数] [INT] NULL ,
	[ロット端数] [DECIMAL](11, 4) NULL ,
-- +++++   +++++   +++++   +++++   < 2007/05/11 ADD END >

	[処理番号] [INT] NULL 
) ON [PRIMARY]

ALTER TABLE [dbo].[カレンダワーク] WITH NOCHECK ADD 
	CONSTRAINT [PK_カレンダワーク] PRIMARY KEY  CLUSTERED 
	(
		[取引先],
		[受入],
		[年月]
	) WITH  FILLFACTOR = 60  ON [PRIMARY] 

ALTER TABLE [dbo].[展開在庫ワーク] WITH NOCHECK ADD 
	CONSTRAINT [PK_展開在庫ワーク] PRIMARY KEY  CLUSTERED 
	(
		[品番]
	) WITH  FILLFACTOR = 60  ON [PRIMARY] 

ALTER TABLE [dbo].[展開在庫品番ワーク] WITH NOCHECK ADD 
	CONSTRAINT [PK_展開在庫品番ワーク] PRIMARY KEY  CLUSTERED 
	(
		[年月度],
		[品番]
	) WITH  FILLFACTOR = 60  ON [PRIMARY] 

ALTER TABLE [dbo].[構成展開集計ワーク] WITH NOCHECK ADD 
	CONSTRAINT [PK_構成展開集計ワーク] PRIMARY KEY  CLUSTERED 
	(
		[品番],
		[親手配先],
		[納期],
		[展開区分]
	) WITH  FILLFACTOR = 60  ON [PRIMARY] 

ALTER TABLE [dbo].[発注内示ワーク] WITH NOCHECK ADD 
	CONSTRAINT [PK_発注内示ワーク] PRIMARY KEY  CLUSTERED 
	(
		[品番],
		[手配先],
		[受入],
		[直送先],
		[納期],
		[展開区分]
	) WITH  FILLFACTOR = 60  ON [PRIMARY] 

 CREATE  INDEX [IX_展開在庫品番ワーク] ON [dbo].[展開在庫品番ワーク]([年月度], [品番], [実棚日]) WITH  FILLFACTOR = 60 ON [PRIMARY]

 CREATE  INDEX [IX_構成展開集計ワーク] ON [dbo].[構成展開集計ワーク]([納期], [品番], [親手配先]) WITH  FILLFACTOR = 60 ON [PRIMARY]

 CREATE  INDEX [IX_構成展開集計ワーク_1] ON [dbo].[構成展開集計ワーク]([在庫管理区分], [納期], [品番]) WITH  FILLFACTOR = 60 ON [PRIMARY]

 CREATE  INDEX [IX_構成展開集計ワーク_2] ON [dbo].[構成展開集計ワーク]([展開レベル], [品番]) WITH  FILLFACTOR = 60 ON [PRIMARY]

 CREATE  INDEX [IX_発注内示ワーク] ON [dbo].[発注内示ワーク]([品番], [手配先], [受入], [直送先], [納期]) WITH  FILLFACTOR = 60 ON [PRIMARY]

ALTER TABLE [dbo].[発注内示仕掛ワーク] ADD 
	CONSTRAINT [PK_発注内示仕掛ワーク] PRIMARY KEY  NONCLUSTERED 
	(
		[品番],
		[手配先],
		[受入],
		[直送先],
		[納期],
		[展開区分]
	) WITH  FILLFACTOR = 60  ON [PRIMARY] 

 CREATE  INDEX [IX_発注内示仕掛ワーク] ON [dbo].[発注内示仕掛ワーク]([ロット], [納期], [品番], [手配先], [受入], [処理番号]) WITH  FILLFACTOR = 60 ON [PRIMARY]

 CREATE  INDEX [IX_発注内示仕掛ワーク_1] ON [dbo].[発注内示仕掛ワーク]([展開区分]) WITH  FILLFACTOR = 60 ON [PRIMARY]






GO
