USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[展開結果更新]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE  PROCEDURE [dbo].[展開結果更新]	@TG_NJYM VARCHAR(6), @PROCKB TINYINT AS
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 * ( CNJ0310 )
 *			展　開　結　果　更　新　処　理
 *
 *			PARAMETER	@TG_NJYM( INPUT  )	対象内示年月
 *					@PROCKB	( INPUT  )	処理区分	( 0:前回内容削除, 1:前回内容退避 )
 *
 *			RETURN		0 : 正常終了
 *			 		9 : 異常終了
 *
 *			CREATE DATE	2004 / 02 / 19	By CIS
 *	    		UP DATE
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
DECLARE	@RTN		INT		/* リターン						*/

/*::::::::::::::::::::::*
 *	初期処理		*
 *::::::::::::::::::::::*/
SELECT	@RTN = 9

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *	前　回　内　容　テ　ー　ブ　ル　削　除
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
TRUNCATE TABLE	発注内示前回テーブル
TRUNCATE TABLE	発注内示必要数前回テーブル

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *	前　回　内　容　テ　ー　ブ　ル　退　避
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
IF	@PROCKB = 1
    BEGIN
	INSERT	INTO 発注内示前回テーブル		SELECT	* FROM 発注内示テーブル		WHERE	内示年月 = @TG_NJYM
	INSERT	INTO 発注内示必要数前回テーブル	SELECT	* FROM 発注内示必要数テーブル	WHERE	内示年月 = @TG_NJYM
    END

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *		前　回　内　容　削　除
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
DELETE	発注内示テーブル		WHERE	内示年月 = @TG_NJYM
DELETE	発注内示必要数テーブル	WHERE	内示年月 = @TG_NJYM

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *		今　回　結　果　出　力
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
INSERT INTO	発注内示テーブル		SELECT	* FROM 発注内示結果テーブル
INSERT INTO	発注内示必要数テーブル	SELECT	* FROM 発注内示必要数結果テーブル


SELECT	@RTN = 0
/*::::::::::::::::::::::*
 *	終 了 処 理	*
 *::::::::::::::::::::::*/
PROC_END:

RETURN ( @RTN )







GO
