USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[材料棚卸プレシート発行データ作成]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[材料棚卸プレシート発行データ作成]	
								@HYM     VARCHAR(6),
								@BASYO   VARCHAR(2),
								@RKBN	 TINYINT,
								@SSBI    VARCHAR(8),
								@SSBI2   VARCHAR(8),
								@OUTCNT  INT  OUTPUT
AS
BEGIN
/*	_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
    _/
    _/		材料棚卸プレシート発行データ作成
    _/
    _/			PARAMETER	@HYM			: 対象年月
    _/						@BASYO			: 在庫場所
    _/						@RKBN			: 理論在庫表示区分  0:有  1:無
    _/						@SSBI			: 最終出庫日（開始）
    _/						@SSBI2			: 最終出庫日（終了）
    _/						@OUTCNT			: 出力件数
    _/			
	_/			CREATE DATE : 2010/01/12
	_/				UP DATE	:	
    _/			
	_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ */

--																			 ┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬
--																						（　テスト用　）
--																			 ┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴
--																			DECLARE	@RN INT
--																			DECLARE @OUTCNT  INT
--																			EXEC	@RN = 材料棚卸プレシート発行データ作成	@HYM = '200912', @BASYO = '', @RKBN = 0,@SSBI = '',@OUTCNT = @OUTCNT OUTPUT
--																			PRINT	'RETURN : ' + CAST( @RN AS VARCHAR(5) ) 

	SET NOCOUNT ON

	DECLARE	@RTN		INT					--
	DECLARE	@WDATE		DATETIME			-- ワーク	日付
	DECLARE	@CNT1		TINYINT				-- ワーク
	DECLARE @WBASYO1	VARCHAR(2)
	DECLARE @WBASYO2	VARCHAR(2)
	
	DECLARE @DENNO      INT					-- 伝票NO
	DECLARE @GYONO      INT					-- 伝票行NO
	DECLARE @BASYO1     VARCHAR(2)			-- 在庫場所1
	DECLARE @BASYO2     VARCHAR(2)			-- 在庫場所2
	DECLARE @TANABAN    VARCHAR(5)			-- 棚番
	DECLARE @KANRIBAN   VARCHAR(8)          -- 材料管理番号
	DECLARE @ZAIKOSU    INT					-- 理論在庫数
	DECLARE @SAKUBI     DATETIME			-- 作成日
	DECLARE @SAKUSYA    VARCHAR(15)			-- 作成者
	DECLARE @SAKUTAN    VARCHAR(20)			-- 作成端末
	DECLARE @ERRCD      TINYINT				-- エラーコード

	SELECT @CNT1 = 0
	SELECT @SAKUBI = GETDATE()
	SELECT @SAKUSYA = 'SYSTEM'
	SELECT @SAKUTAN = HOST_NAME()
	SELECT @RTN = 0

BEGIN	TRY
	-- *≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	-- *  パラメータチェック
	-- *≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	IF	RTRIM( ISNULL(@HYM,'')    ) = ''	BEGIN RAISERROR('対象年月：未設定', 15, 31 )	END

	-- *≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	-- *  対象年月値妥当性チェック
	-- *≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	SELECT	@WDATE = SUBSTRING( @HYM, 1, 4 ) + '/' + SUBSTRING( @HYM, 5, 2 ) + '/01'

	PRINT	'#DEBUG'													-- VB実行時のｴﾗｰﾒｯｾｰｼﾞには出力されない(「#DEBUG」を起点に非表示)
	PRINT	'-- ☆☆☆☆☆☆☆☆☆☆　【　材料棚卸プレシート発行データ作成　】処理開始  -  ' + Convert( CHAR(20) ,GETDATE(),20  ) + '(' + DB_NAME() + ')　☆☆☆☆☆☆☆☆☆☆'
	PRINT	'-- ☆'
	/*--------------------------------------
	 *     在 庫 場 所 空 白 時 置 換
	 *--------------------------------------*/
	IF ISNULL(@BASYO,'') = ''
		BEGIN
			SELECT @BASYO = '%'
		END
	/*--------------------------------------------
	 *
	 *     実 行 前 削 除 処 理
	 *
	 *--------------------------------------------*/
	----------------------------------
	-- 材料棚卸理論在庫ワーク削除
	----------------------------------
	DELETE 材料棚卸理論在庫ワーク
	 WHERE 処理端末 = @SAKUTAN
	----------------------------------
	-- 材料棚卸最終出庫実績ワーク削除
	----------------------------------
	DELETE 材料棚卸最終出庫実績ワーク
	 WHERE 処理端末 = @SAKUTAN
	----------------------------------
	-- 材料棚卸理論在庫プラスワーク削除
	----------------------------------
	DELETE 材料棚卸理論在庫プラスワーク
	 WHERE 処理端末 = @SAKUTAN
	----------------------------------
	-- 材料棚卸理論在庫マイナスワーク削除
	----------------------------------
	DELETE 材料棚卸理論在庫マイナスワーク
	 WHERE 処理端末 = @SAKUTAN
	----------------------------------
	-- 材料棚卸プレシート発行テーブル削除
	----------------------------------
	DELETE 材料棚卸プレシート発行テーブル
	 WHERE 発行年月 = @HYM
	   AND 在庫場所1 LIKE @BASYO
	/*--------------------------------------
	 *
	 *     理 論 在 庫 数 計 算
	 *
	 *--------------------------------------*/
	IF @RKBN = 0
		BEGIN
			-------------------------------------
			-- 材料棚卸理論在庫プラスワーク作成
			-------------------------------------
			INSERT INTO 材料棚卸理論在庫プラスワーク
			SELECT SZ.材料管理番号,SUM(SZ.合計) 在庫数,@SAKUTAN 処理端末
			  FROM (
					SELECT ZN.材料管理番号,SUM(ISNULL(ZN.入荷数,0)) 合計
					  FROM 材料入荷テーブル ZN
					  LEFT OUTER JOIN 材料在庫マスタ ZM
						ON ZM.年月度 = @HYM
					   AND ZM.材料管理番号 = ZN.材料管理番号
					  LEFT OUTER JOIN 材料取引先マスタ ZR
					    ON ZR.材料管理番号 = ZN.材料管理番号
					   AND ZR.材質         = ZN.材質
					   AND ZR.板厚         = ZN.板厚
					   AND ZR.幅           = ZN.幅
					 WHERE SUBSTRING(ZN.入荷日,1,6) = @HYM
					   AND ZN.入荷日 > ISNULL(ZM.実棚日,'')
					   AND ZR.棚卸区分 = 0
					 GROUP BY ZN.材料管理番号
					UNION
					SELECT ZR.材料管理番号,SUM(ISNULL(ZK.実績数,0)) 合計
					  FROM 材料実績管理テーブル ZK
					  LEFT OUTER JOIN 材料マスタ ZR
					    ON ZR.材質     = ZK.材質
					   AND ZR.寸法区分 = ZK.寸法区分
					   AND ZR.板厚     = ZK.板厚
					   AND ZR.幅       = ZK.幅
					  LEFT OUTER JOIN 材料在庫マスタ ZM
						ON ZM.年月度 = @HYM
					   AND ZM.材料管理番号 = ZR.材料管理番号
			          LEFT OUTER JOIN 材料取引先マスタ ZRT
					    ON ZRT.材質         = ZK.材質
					   AND ZRT.寸法区分     = ZK.寸法区分
					   AND ZRT.板厚         = ZK.板厚
					   AND ZRT.幅           = ZK.幅
					 WHERE SUBSTRING(ZK.実績日,1,6) = @HYM
					   AND ZK.実績区分 = 1
					   AND ZK.実績日 > ISNULL(ZM.実棚日,'')
					   AND ZRT.棚卸区分 = 0
					 GROUP BY ZR.材料管理番号
					) SZ
			 GROUP BY SZ.材料管理番号
			---------------------------------------
			-- 材料棚卸理論在庫マイナスワーク作成
			---------------------------------------
			INSERT INTO 材料棚卸理論在庫マイナスワーク
			SELECT SZ.材料管理番号,SUM(SZ.合計) 在庫数,@SAKUTAN 処理端末
			  FROM (
					SELECT ZS.材料管理番号,SUM(ISNULL(ZS.使用量,0)) 合計
					  FROM 材料使用量テーブル ZS
					  LEFT OUTER JOIN 材料在庫マスタ ZM
						ON ZM.年月度 = @HYM
					   AND ZM.材料管理番号 = ZS.材料管理番号
					  LEFT OUTER JOIN 材料取引先マスタ ZRM
					    ON ZRM.材料管理番号 = ZS.材料管理番号
					   AND ZRM.材質         = ZS.材質
					   AND ZRM.板厚         = ZS.板厚
					   AND ZRM.幅           = ZS.幅
					 WHERE SUBSTRING(ZS.作業日,1,6) = @HYM
					   AND ZS.作業日 > ISNULL(ZM.実棚日,'')
					   AND ZRM.棚卸区分 = 0
					 GROUP BY ZS.材料管理番号
					UNION
					SELECT ZR.材料管理番号,SUM(ISNULL(ZK.実績数,0)) 合計
					  FROM 材料実績管理テーブル ZK
					  LEFT OUTER JOIN 材料マスタ ZR
					    ON ZR.材質     = ZK.材質
					   AND ZR.寸法区分 = ZK.寸法区分
					   AND ZR.板厚     = ZK.板厚
					   AND ZR.幅       = ZK.幅
					  LEFT OUTER JOIN 材料在庫マスタ ZM
						ON ZM.年月度 = @HYM
					   AND ZM.材料管理番号 = ZR.材料管理番号
			          LEFT OUTER JOIN 材料取引先マスタ ZRT
					    ON ZRT.材質         = ZK.材質
					   AND ZRT.寸法区分     = ZK.寸法区分
					   AND ZRT.板厚         = ZK.板厚
					   AND ZRT.幅           = ZK.幅
					 WHERE SUBSTRING(ZK.実績日,1,6) = @HYM
					   AND ZK.実績区分 <> 1
					   AND ZK.入力種類 <> 'A'
					   AND ZK.実績日 > ISNULL(ZM.実棚日,'')
					   AND ZRT.棚卸区分 = 0
					 GROUP BY ZR.材料管理番号
					) SZ
			 GROUP BY SZ.材料管理番号

			----------------------------------
			-- 材料棚卸理論在庫ワーク作成
			----------------------------------
			INSERT INTO 材料棚卸理論在庫ワーク
			SELECT RZ.材料管理番号,SUM(RZ.在庫数) 理論在庫数,@SAKUTAN 処理端末
			  FROM (
					SELECT ZM.材料管理番号,ZM.在庫数
					  FROM 材料在庫マスタ ZM
					  LEFT OUTER JOIN 材料取引先マスタ ZR
					    ON ZR.材料管理番号 = ZM.材料管理番号
					   AND ZR.材質         = ZM.材質
					   AND ZR.寸法区分     = ZM.寸法区分
					   AND ZR.板厚         = ZM.板厚
					   AND ZR.幅           = ZM.幅
					 WHERE ZM.年月度 = @HYM
					   AND ZR.棚卸区分 = 0
					UNION
					SELECT WP.材料管理番号,WP.在庫数
					  FROM 材料棚卸理論在庫プラスワーク WP
					 WHERE WP.処理端末 = @SAKUTAN
					UNION
					SELECT WM.材料管理番号,(WM.在庫数 * -1) 在庫数
					  FROM 材料棚卸理論在庫マイナスワーク WM
					 WHERE WM.処理端末 = @SAKUTAN
					) RZ
			 GROUP BY RZ.材料管理番号
		END
		
	PRINT	'-- ☆         [ 材料棚卸理論在庫ワーク作成         ] 作成件数 - ' + CONVERT(VARCHAR,@@ROWCOUNT) + ' 件'
	PRINT	'-- ☆'
	
	/*--------------------------------------
	 *
	 *     材料棚卸最終出庫実績ワーク作成
	 *
	 *--------------------------------------*/
	IF ISNULL(@SSBI,'') <> '' AND ISNULL(@SSBI2,'') <> ''
		BEGIN
			INSERT INTO 材料棚卸最終出庫実績ワーク
			SELECT ZZ.材料管理番号,@SAKUTAN 処理端末
			  FROM 材料実績管理テーブル ZS
			  LEFT OUTER JOIN 材料在庫マスタ ZZ
				ON ZZ.材質     = ZS.材質
			   AND ZZ.寸法区分 = ZS.寸法区分
			   AND ZZ.板厚     = ZS.板厚
			   AND ZZ.幅       = ZS.幅
	          LEFT OUTER JOIN 材料取引先マスタ ZRT
			    ON ZRT.材質         = ZS.材質
			   AND ZRT.寸法区分     = ZS.寸法区分
			   AND ZRT.板厚         = ZS.板厚
			   AND ZRT.幅           = ZS.幅 
			 WHERE (ZS.実績日   < @SSBI
			    OR ZS.実績日   > @SSBI2)
   			   AND ZRT.棚卸区分 = 0  
			 GROUP BY ZZ.材料管理番号
		END
	ELSE
		if ISNULL(@SSBI,'') <> '' AND ISNULL(@SSBI2,'') = ''
			BEGIN
				INSERT INTO 材料棚卸最終出庫実績ワーク
				SELECT ZZ.材料管理番号,@SAKUTAN 処理端末
				  FROM 材料実績管理テーブル ZS
				  LEFT OUTER JOIN 材料在庫マスタ ZZ
					ON ZZ.材質     = ZS.材質
				   AND ZZ.寸法区分 = ZS.寸法区分
				   AND ZZ.板厚     = ZS.板厚
				   AND ZZ.幅       = ZS.幅
				  LEFT OUTER JOIN 材料取引先マスタ ZRT
					ON ZRT.材質         = ZS.材質
				   AND ZRT.寸法区分     = ZS.寸法区分
				   AND ZRT.板厚         = ZS.板厚
				   AND ZRT.幅           = ZS.幅  
				 WHERE ZS.実績日   < @SSBI
				   AND ZRT.棚卸区分 = 0  
				 GROUP BY ZZ.材料管理番号
			END
		ELSE
			if ISNULL(@SSBI,'') = '' AND ISNULL(@SSBI2,'') <> ''
				BEGIN
					INSERT INTO 材料棚卸最終出庫実績ワーク
					SELECT ZZ.材料管理番号,@SAKUTAN 処理端末
					  FROM 材料実績管理テーブル ZS
					  LEFT OUTER JOIN 材料在庫マスタ ZZ
						ON ZZ.材質     = ZS.材質
					   AND ZZ.寸法区分 = ZS.寸法区分
					   AND ZZ.板厚     = ZS.板厚
					   AND ZZ.幅       = ZS.幅
					  LEFT OUTER JOIN 材料取引先マスタ ZRT
						ON ZRT.材質         = ZS.材質
					   AND ZRT.寸法区分     = ZS.寸法区分
					   AND ZRT.板厚         = ZS.板厚
					   AND ZRT.幅           = ZS.幅
					 WHERE ZS.実績日   > @SSBI2
					   AND ZRT.棚卸区分 = 0  
					 GROUP BY ZZ.材料管理番号
				END
			ELSE
				BEGIN
					INSERT INTO 材料棚卸最終出庫実績ワーク
					SELECT 材料管理番号,@SAKUTAN 処理端末
					  FROM 材料取引先マスタ
					  where 棚卸区分 = 0
					 GROUP BY 材料管理番号
				END
	 
	 
	--IF ISNULL(@SSBI,'') <> ''
	--	BEGIN
	--		INSERT INTO 材料棚卸最終出庫実績ワーク
	--		SELECT ZZ.材料管理番号,@SAKUTAN 処理端末
 --             FROM 材料実績管理テーブル ZS
 --             LEFT OUTER JOIN 材料在庫マスタ ZZ
 --               ON ZZ.材質     = ZS.材質
 --              AND ZZ.寸法区分 = ZS.寸法区分
 --              AND ZZ.板厚     = ZS.板厚
 --              AND ZZ.幅       = ZS.幅
 --            WHERE ZS.実績日 <= @SSBI
 --            GROUP BY ZZ.材料管理番号
	--	END
	--ELSE
	--	BEGIN
	--		INSERT INTO 材料棚卸最終出庫実績ワーク
	--		SELECT 材料管理番号,@SAKUTAN 処理端末
	--		  FROM 材料取引先マスタ
	--		 GROUP BY 材料管理番号
	--	END
		
	PRINT	'-- ☆         [ 棚卸最終出庫実績ワーク作成　　 ] 作成件数 - ' + CONVERT(VARCHAR,@@ROWCOUNT) + ' 件'
	PRINT	'-- ☆'
	
	/*---------------------------------------------
	 *
	 *      材料棚卸プレシート発行テーブル追加処理
	 *
	 *----------------------------------------------*/
	DECLARE	IN_CURSOR	CURSOR
	FOR
		SELECT SUBSTRING(ZTM.置場,1,2) 在庫場所1, SUBSTRING(ZTM.置場,3,2) 在庫場所2
			 , CASE WHEN SUBSTRING(ZTM.置場,7,2) <> ''
					THEN SUBSTRING(ZTM.置場,5,2) + SUBSTRING(ZTM.置場,7,2)
					ELSE SUBSTRING(ZTM.置場,5,2)
				END 棚番
			 , ZTM.材料管理番号,ISNULL(TR.在庫数,'') 在庫数
		  FROM (SELECT ZT.置場,ZT.材料管理番号 
		          FROM 材料取引先マスタ ZT 
		          where 棚卸区分 = 0
		          GROUP BY ZT.置場,ZT.材料管理番号
		        ) ZTM
		  LEFT OUTER JOIN 材料棚卸理論在庫ワーク TR
		    ON TR.材料管理番号 = ZTM.材料管理番号
		   AND TR.処理端末 = @SAKUTAN
		 INNER JOIN 材料棚卸最終出庫実績ワーク TS
		    ON TS.材料管理番号 = ZTM.材料管理番号
		   AND TS.処理端末 = @SAKUTAN
		 WHERE SUBSTRING(ZTM.置場,1,2) LIKE @BASYO
		 ORDER BY SUBSTRING(ZTM.置場,1,2), SUBSTRING(ZTM.置場,3,2),SUBSTRING(ZTM.置場,5,4),ZTM.材料管理番号
	FOR	READ ONLY

	OPEN	IN_CURSOR												-- ｶｰｿﾙ ｵｰﾌﾟﾝ

	FETCH NEXT FROM	IN_CURSOR INTO	@BASYO1,@BASYO2,@TANABAN,@KANRIBAN,@ZAIKOSU
	
	SELECT @GYONO = 50
	SELECT @WBASYO1 = @BASYO1
	SELECT @WBASYO2 = @BASYO2
	
	WHILE @@FETCH_STATUS = 0
		BEGIN
			IF @GYONO = 50 OR @WBASYO1 <> @BASYO1 OR @WBASYO2 <> @BASYO2
				BEGIN
					---------------------------
					-- 伝票NO 採番
					---------------------------
					EXEC 番号獲得 24,@DENNO OUTPUT,@ERRCD OUTPUT
					--IF @ERRCD <> 0 BEGIN	 SELECT @ERRCD = 71 	GOTO PROC_ERR	END
					
					SELECT @GYONO = 0
					SELECT @WBASYO1 = @BASYO1
					SELECT @WBASYO2 = @BASYO2
				END
			
			SELECT @CNT1 = @CNT1 + 1
			SELECT @GYONO = @GYONO + 1
			
			-----------------------------------
			-- 材料棚卸プレシート発行テーブル追加
			-----------------------------------
			INSERT INTO 材料棚卸プレシート発行テーブル
			       VALUES (@HYM,@DENNO,@GYONO,@BASYO1,@BASYO2,@TANABAN,@KANRIBAN
						  ,@ZAIKOSU,0,@SAKUBI,@SAKUSYA,@SAKUTAN)
		
	--		< 次 >
			FETCH NEXT FROM	IN_CURSOR INTO	@BASYO1,@BASYO2,@TANABAN,@KANRIBAN,@ZAIKOSU
		END

	CLOSE		IN_CURSOR											-- ｶｰｿﾙ ｸﾛｰｽﾞ
	DEALLOCATE	IN_CURSOR											-- ｶｰｿﾙ 解放

	PRINT	'-- ☆         [ 材料棚卸プレシート発行テーブル追加 ] 追加件数 - ' + CONVERT(VARCHAR,@CNT1) + ' 件'
	PRINT	'-- ☆'
	PRINT	'-- ☆☆☆☆☆☆☆☆☆☆　【　材料棚卸プレシート発行データ作成　】処理終了   ☆☆☆☆☆☆☆☆☆☆'
END		TRY

BEGIN CATCH							/*	RAISERROR( 'XXX Error', 15, 31 )… RAISERROR( 'ﾒｯｾｰｼﾞ', ERROR_SEVERITY, ERROR_STATE )
											※ SEVERITY=18でRAISERRORを発生させると、VB側のｴﾗｰﾒｯｾｰｼﾞは表示されない(変更可)
										
										ERROR_NUMBER	:	エラーの番号を返します。
										ERROR_SEVERITY	:	重大度を返します。
										ERROR_STATE		:	エラー状態番号を返します。
										ERROR_PROCEDURE	:	エラーが発生したストアド プロシージャまたはトリガの名前を返します。
										ERROR_LINE		:	エラーを発生させたルーチン内の行番号を返します。
										ERROR_MESSAGE	:	メッセージの完全なテキストを返します。									*/
	DECLARE	@WSEVERITY		INT
	DECLARE	@ERRMSG			VARCHAR(200)
	DECLARE	@ERRFLG			TINYINT

	SELECT  @ERRFLG = 1

	SELECT	@WSEVERITY = ERROR_SEVERITY(),@RTN = ERROR_STATE(), @ERRMSG = ERROR_MESSAGE()

	IF	ERROR_NUMBER() = 242 AND ERROR_SEVERITY() = 16 AND ERROR_STATE() = 3	--日付値範囲外
		BEGIN
			SELECT	@ERRMSG = '対象年月値範囲外(' + @HYM + ')'
		END

	IF @RTN <> 0
	   BEGIN
			SELECT	@ERRMSG = @ERRMSG + '(' + CAST( @RTN AS CHAR(2) ) + ')'
	   END

	IF	ERROR_NUMBER() = 50000 AND ERROR_SEVERITY() = 18 AND ERROR_STATE() = 30
		BEGIN
			PRINT	'-- ☆☆☆☆☆☆☆☆☆☆　【　材料棚卸プレシート発行データ作成　】処理終了  -  ' + Convert( CHAR(20) ,GETDATE(),20  ) +  '(' + DB_NAME() + ')　☆☆☆☆☆☆☆☆☆☆'
			SELECT  @ERRFLG = 0
		END
	IF @ERRFLG = 1
	    BEGIN
			SELECT	@ERRMSG = @ERRMSG + SPACE(10)
			RAISERROR( @ERRMSG, @WSEVERITY, @RTN )
		END
	RETURN	( @RTN )
END CATCH
	RETURN	( @RTN )

END

GO
