USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[入荷画面入力後方処理]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE  PROCEDURE [dbo].[入荷画面入力後方処理] (@INCNT INT OUTPUT,@HCCNT INT OUTPUT,
						@NBCNT INT OUTPUT,@ERRCD TINYINT OUTPUT) AS
-----------------------------------------------------------------------------------------------------
--	入荷画面入力後方処理
--
--	処理内容　：　入荷画面入力ワークより
--			1.納入番号・発注管理NOを採番し、発注テーブル・入荷テーブルに出力する
--
--	パラメタ：(IN)	
--		 (OUT)	@INCNT   	…　入力件数
--			@HCCNT   	…　発注累積件数
--			@NBCNT   	…　納入番号採番件数
--			@ERRCD   	…　エラーコード
--
--	作 成 日　：	2004/02/17
--
--
-----------------------------------------------------------------------------------------------------
SET NOCOUNT ON

-- TEST
--DECLARE @INCNT INT,@HCCNT INT,@NYCNT INT,@NBCNT INT
--DECLARE @ERRCD TINYINT

--

SELECT @INCNT = 0,@HCCNT = 0,@NBCNT = 0,@ERRCD = 0

-----------------------------
--<<　 トランザクション開始         >>--
-----------------------------
BEGIN TRANSACTION HCCRT
--------------------------------------------
--     入荷画面入力ワークカーソル定義		
--------------------------------------------
DECLARE NYCUR SCROLL CURSOR
FOR 
	SELECT NW.納入番号,NW.契約先,NW.仕入先,NW.受入,NW.発注区分,NW.納入日,NW.納入便,
		NW.手配区分,NW.SK区分,NW.品番,NW.背番号,
		NW.収容数,NW.枚数,NW.端数,NW.発注数,NW.作成者
	 FROM 入荷画面入力ワーク NW
	WHERE 処理端末 = HOST_NAME()
	  AND   処理区分 = 0
	ORDER BY NW.納入番号,NW.契約先,NW.仕入先,NW.受入,NW.発注区分,NW.納入日,NW.納入便,
			NW.手配区分,NW.SK区分,NW.品番

FOR READ ONLY 
OPEN NYCUR

--( ｶｰｿﾙ項目定義  )--
DECLARE @NOUNO VARCHAR(5),@KTORCD VARCHAR(7),@TORCD VARCHAR(7),@UKEIR VARCHAR(2),@HCKBN TINYINT
DECLARE @NYMD VARCHAR(8),@NBIN VARCHAR(2),@TEKBN VARCHAR(1),@SKKBN TINYINT
DECLARE @HINBN VARCHAR(25),@SEBAN VARCHAR(8),@SYUYO INT,@MAISU INT,@HASU INT,@HSURYO INT
DECLARE @SAKUSEI VARCHAR(15)
--(  納入番号　採番キー  )--
DECLARE @KEY_NOUNO VARCHAR(5),@KEY_KTORCD VARCHAR(7),@KEY_TORCD VARCHAR(7),@KEY_UKEIR VARCHAR(2),@KEY_HCKBN TINYINT
DECLARE @KEY_NYMD VARCHAR(8),@KEY_NBIN VARCHAR(2),@KEY_TEKBN VARCHAR(1),@KEY_SKKBN TINYINT
--(  ワーク項目定義  )--
DECLARE @WNOUNO VARCHAR(5),@PAGE TINYINT,@GYO TINYINT,@NKANRINO INT
DECLARE @HKANRINO INT
--(  納入番号　採番キー初期化  )--
SELECT @KEY_NOUNO = '',@KEY_KTORCD = '',@KEY_TORCD = '',@KEY_UKEIR = '',@KEY_HCKBN = 0
SELECT @KEY_TEKBN = '',@KEY_SKKBN = 0,@KEY_NYMD = '',@KEY_NBIN = ''
--(  ワーク初期化  )--
SELECT @WNOUNO = '',@PAGE = 0,@GYO = 0,@HKANRINO = 0,@NKANRINO = 0
------------------------------------------------------------------------------------
--   入荷画面入力ワーク  読込		
------------------------------------------------------------------------------------
FETCH NEXT FROM NYCUR INTO @NOUNO ,@KTORCD ,@TORCD ,@UKEIR ,@HCKBN ,@NYMD ,@NBIN ,@TEKBN ,@SKKBN ,
					@HINBN ,@SEBAN ,@SYUYO ,@MAISU ,@HASU ,@HSURYO ,@SAKUSEI
WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @INCNT = @INCNT + 1


	IF  @KEY_NOUNO <> @NOUNO OR @KEY_KTORCD <> @KTORCD OR @KEY_TORCD <> @TORCD OR @KEY_UKEIR <> @UKEIR 
		OR @KEY_HCKBN <> @HCKBN  OR @KEY_NYMD <> @NYMD OR @KEY_NBIN <> @NBIN
		OR @KEY_TEKBN <> @TEKBN OR @KEY_SKKBN <> @SKKBN
	    BEGIN
		SELECT @PAGE = 1,@GYO = 0
		IF @NOUNO = ''
		    BEGIN
			----------------------------
			--   納入番号 採番
			----------------------------
			EXEC 発注納入番号採番 @WNOUNO OUTPUT,@ERRCD OUTPUT
			IF @ERRCD <> 0 BEGIN	SELECT @ERRCD = 11 	GOTO PROC_ERR	END
			SELECT @WNOUNO = RTRIM(@WNOUNO) + '0'		--納入番号初回
			SELECT @NBCNT = @NBCNT + 1		    END
		ELSE
		    BEGIN
			SELECT @WNOUNO = @NOUNO
		    END
		---------------------------
		-- 納品書管理NO 採番
		---------------------------
		EXEC 番号獲得 4,@NKANRINO OUTPUT,@ERRCD OUTPUT
		IF @ERRCD <> 0 BEGIN	 SELECT @ERRCD = 12 	GOTO PROC_ERR	END

	    END
	---------------------------
	-- 発注管理NO 採番
	---------------------------
	EXEC 番号獲得 3,@HKANRINO OUTPUT,@ERRCD OUTPUT
	IF @ERRCD <> 0 BEGIN	 SELECT @ERRCD = 13 	GOTO PROC_ERR	END

	SELECT @GYO = @GYO + 1
	IF @GYO > 10
	    BEGIN 
		SELECT @PAGE = @PAGE + 1
		SELECT @GYO = 1
	    END 

	----------------------------
	--    発注テーブル　出力
	----------------------------
	INSERT INTO 発注テーブル (
		発注管理NO,納品書管理NO,納入番号,納品書頁,納品書行,分納区分,仕入先,受入,品番,背番号,
		納入日,納入便,収容数,枚数,端数,発注数,発注区分,手配区分,SK区分,契約先,
		納入先,納入先受入,サイクル,担当者,発注日,発注便,端数区分,打切区分,打切種別,打切残数,打切日,内示超過区分,
		納品書発行日,支給書発行日,受領書発行日,明細書発行日,明細書NO,初回発注管理NO,作成種別,
		作成日,作成端末,作成者,更新日,更新端末,更新者 )
	SELECT @HKANRINO,@NKANRINO,@WNOUNO,@PAGE,@GYO,0,@TORCD,@UKEIR,@HINBN,@SEBAN,
		@NYMD,@NBIN,@SYUYO,@MAISU,@HASU,@HSURYO,@HCKBN,@TEKBN,@SKKBN,@KTORCD,
		HT.納入先,HT.納入先受入,HT.サイクル,'',NW.発注日,NW.発注便,0,0,0,0,'',0,
		'','','','',0,@HKANRINO,NW.作成種別,GETDATE(),HOST_NAME(),@SAKUSEI,NULL,'',''
	FROM 入荷画面入力ワーク NW
	LEFT OUTER JOIN 品番取引先マスタ HT
		ON  HT.品番 = @HINBN
		AND HT.取引先 = @TORCD
		AND HT.受入 = @UKEIR
	WHERE NW.処理端末 = HOST_NAME()
	    AND NW.処理区分 = 0
	    AND NW.契約先 = @KTORCD
	    AND NW.仕入先 = @TORCD
	    AND NW.受入 = @UKEIR
	    AND NW.納入日 = @NYMD
	    AND NW.納入便 = @NBIN
	    AND NW.発注区分 = @HCKBN
	    AND NW.品番 = @HINBN
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 14	GOTO PROC_ERR	END

	----------------------------
	--    入荷テーブル　出力
	----------------------------
	INSERT INTO 入荷テーブル
		(発注管理NO,納入番号,納品書頁,納品書行,分納区分,仕入先,受入,品番,背番号,
		入荷日,入荷便,収容数,入荷枚数,入荷端数,入荷数,分割数,挽回日,挽回便,
		分割納品書NO,検収区分,検収年月,検収処理日,
		作成日,作成端末,作成者,更新日,更新端末,更新者)
	SELECT @HKANRINO,@WNOUNO,@PAGE,@GYO,0,@TORCD,@UKEIR,@HINBN,@SEBAN,
		@NYMD,@NBIN,@SYUYO,@MAISU,@HASU,@HSURYO,0,'','',
		'',0,'','',GETDATE(),HOST_NAME(),@SAKUSEI,NULL,'',''
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 15	GOTO PROC_ERR	END

	SELECT @HCCNT = @HCCNT + 1

	----------------------------
	--    入荷画面入力ワーク　更新
	----------------------------
	UPDATE 入荷画面入力ワーク SET
	    納入番号 = @WNOUNO,
	    納品書頁 = @PAGE,
	    納品書行 = @GYO,
	    処理区分 = 1
	WHERE 処理端末 = HOST_NAME()
	    AND 処理区分 = 0
	    AND 契約先 = @KTORCD
	    AND 仕入先 = @TORCD
	    AND 受入 = @UKEIR
	    AND 納入日 = @NYMD
	    AND 納入便 = @NBIN
	    AND 発注区分 = @HCKBN
	    AND 品番 = @HINBN
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 16	GOTO PROC_ERR	END

	--* KEY項目退避 *--
	SELECT @KEY_NOUNO = @NOUNO ,@KEY_KTORCD = @KTORCD,@KEY_TORCD = @TORCD,@KEY_UKEIR = @UKEIR,@KEY_HCKBN = @HCKBN
	SELECT @KEY_NYMD = @NYMD,@KEY_NBIN = @NBIN,@KEY_TEKBN = @TEKBN,@KEY_SKKBN = @SKKBN
------------------------------------------------------------
--  入荷画面入力ワークカーソルスクロール(次レコード）  		       
------------------------------------------------------------
	FETCH NEXT FROM NYCUR INTO @NOUNO ,@KTORCD ,@TORCD ,@UKEIR ,@HCKBN ,@NYMD ,@NBIN ,@TEKBN ,@SKKBN ,
						@HINBN ,@SEBAN ,@SYUYO ,@MAISU ,@HASU ,@HSURYO ,@SAKUSEI   
END

CLOSE NYCUR
DEALLOCATE NYCUR

/*
-----------------------------------------------
--	終了処理　入荷画面入力ワーク　削除	
-----------------------------------------------
DELETE FROM 入荷画面入力ワーク
WHERE 処理端末 = HOST_NAME()
  AND 処理区分 = 1
IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 67	GOTO PROC_ERR	END
*/


PROC_END:
-----------------------------
--<<　 トランザクション開始         >>--
-----------------------------
COMMIT TRANSACTION HCCRT

--*----------*--
--*  正常終了 *--
--*----------*--
--SELECT '入力件数' = @INCNT,'発注件数' = @HCCNT,'入荷件数' = @NYCNT,'納番件数' = @NBCNT


RETURN(0)
--RETURN

PROC_ERR:
--SELECT @ERRCD
--------------
--  異常終了 --
--------------
RETURN
--RETURN




GO
