USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[日量数算出]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[日量数算出]	@TG_YM   VARCHAR(6), @MONSU INT,
				@TORCD   VARCHAR(7), @UKEIR VARCHAR(2),
				@DAYSU01 INT OUTPUT, @DAYSU02 INT OUTPUT, @DAYSU03 INT OUTPUT, @DAYSU04 INT OUTPUT, @DAYSU05 INT OUTPUT,
				@DAYSU06 INT OUTPUT, @DAYSU07 INT OUTPUT, @DAYSU08 INT OUTPUT, @DAYSU09 INT OUTPUT, @DAYSU10 INT OUTPUT,
				@DAYSU11 INT OUTPUT, @DAYSU12 INT OUTPUT, @DAYSU13 INT OUTPUT, @DAYSU14 INT OUTPUT, @DAYSU15 INT OUTPUT,
				@DAYSU16 INT OUTPUT, @DAYSU17 INT OUTPUT, @DAYSU18 INT OUTPUT, @DAYSU19 INT OUTPUT, @DAYSU20 INT OUTPUT,
				@DAYSU21 INT OUTPUT, @DAYSU22 INT OUTPUT, @DAYSU23 INT OUTPUT, @DAYSU24 INT OUTPUT, @DAYSU25 INT OUTPUT,
				@DAYSU26 INT OUTPUT, @DAYSU27 INT OUTPUT, @DAYSU28 INT OUTPUT, @DAYSU29 INT OUTPUT, @DAYSU30 INT OUTPUT,
				@DAYSU31 INT OUTPUT  AS
SET NOCOUNT ON
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 * ( CNJ0010 )
 *			日　　量　　数　　算　　出
 *
 *			PARAMETER	@TG_YM	( INPUT  )	対象年月
 *					@MONSU	( INPUT  )	月数量
 *					@TORCD	( INPUT  )	取引先
 *					@UKEIR	( INPUT  )	受入
 *
 *					@DAYSU01 ～ 31
 *						( OUTPUT )	日程数量01～31
 *
 *			RETURN		0 : 正常終了
 *			 		9 : 異常終了
 *
 *			COMMENT		生産計画処理の日程数量算出処理に基づき、当ストアドを作成
 *					本来、生産計画処理中でも共通処理として使用するべきだが
 *					　　　　処理単位が異なる為、共通化する事ができない
 *
 *			CREATE DATE	2004 / 03 / 10	By CIS
 *	    		UP DATE
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
DECLARE	@RTN		INT		/* リターン						*/

DECLARE	@CNT1		TINYINT		/* ワーク						*/
DECLARE	@CNT2		TINYINT		/* ワーク						*/
DECLARE	@CNT3		TINYINT		/* ワーク						*/
DECLARE	@CNT4		TINYINT		/* ワーク						*/
DECLARE	@CNT5		TINYINT		/* ワーク						*/

DECLARE	@OPEKBH		VARCHAR(31)	/* 昼勤区分	( カレンダマスタ値 )			*/
DECLARE	@OPEKBY		VARCHAR(31)	/* 夜勤区分	( カレンダマスタ値 )			*/
DECLARE	@OPESU		TINYINT		/* 稼動日数	( カレンダマスタ値 )			*/

DECLARE	@OPEKB		VARCHAR(31)	/* 稼動区分						*/
DECLARE	@OPEACKS	VARCHAR(62)	/* 稼動累積						*/
DECLARE	@OPEACKE	VARCHAR(62)	/* 稼動累積						*/

/*::::::::::::::::::::::*
 *	初 期 処 理	*
 *::::::::::::::::::::::*/
SELECT	@RTN = 9,     @OPEKBH = '', @OPEKBY = '', @OPESU = 0,
	@DAYSU01 = 0, @DAYSU02 = 0, @DAYSU03 = 0, @DAYSU04 = 0, @DAYSU05 = 0,
	@DAYSU06 = 0, @DAYSU07 = 0, @DAYSU08 = 0, @DAYSU09 = 0, @DAYSU10 = 0,
	@DAYSU11 = 0, @DAYSU12 = 0, @DAYSU13 = 0, @DAYSU14 = 0, @DAYSU15 = 0,
	@DAYSU16 = 0, @DAYSU17 = 0, @DAYSU18 = 0, @DAYSU19 = 0, @DAYSU20 = 0,
	@DAYSU21 = 0, @DAYSU22 = 0, @DAYSU23 = 0, @DAYSU24 = 0, @DAYSU25 = 0,
	@DAYSU26 = 0, @DAYSU27 = 0, @DAYSU28 = 0, @DAYSU29 = 0, @DAYSU30 = 0,
	@DAYSU31 = 0

/*::::::::::::::::::::::::::::::*
 *	自社カレンダ確認		*
 *::::::::::::::::::::::::::::::*/
EXEC	社内カレンダチェック 0, @TG_YM, 0

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *	カレンダマスタ参照	( 稼動区分の区分値入替　[ 0:稼動, 1:休日 ] → [ 0:休日, 1:稼動 ] )
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
--< 取引先・受入 >
SELECT	@OPESU  = 昼勤日数 + 夜勤日数,
	@OPEKBH = REPLACE( REPLACE( REPLACE( 稼動区分, '1', '2' ), '0', '1' ), '2', '0'),
	@OPEKBY = REPLACE( REPLACE( REPLACE( 夜勤区分, '1', '2' ), '0', '1' ), '2', '0')
				FROM カレンダマスタ
				WHERE	取引先 = @TORCD
				AND     受入 = @UKEIR
				AND	年 = SUBSTRING( @TG_YM, 1, 4 )
				AND	月 = SUBSTRING( @TG_YM, 5, 2 )
				AND	取引先区分 = 0

IF	@@ROWCOUNT = 0 
    BEGIN
--< 取引先 >
	SELECT	@OPESU  = 昼勤日数 + 夜勤日数,
		@OPEKBH = REPLACE( REPLACE( REPLACE( 稼動区分, '1', '2' ), '0', '1' ), '2', '0'),
		@OPEKBY = REPLACE( REPLACE( REPLACE( 夜勤区分, '1', '2' ), '0', '1' ), '2', '0')
					FROM カレンダマスタ
					WHERE	取引先 = @TORCD
					AND     受入 = ''
					AND	年 = SUBSTRING( @TG_YM, 1, 4 )
					AND	月 = SUBSTRING( @TG_YM, 5, 2 )
					AND	取引先区分 = 0
	IF	@@ROWCOUNT = 0
	    BEGIN
--< 社内 >
		SELECT	@OPESU  = 昼勤日数 + 夜勤日数,
			@OPEKBH = REPLACE( REPLACE( REPLACE( 稼動区分, '1', '2' ), '0', '1' ), '2', '0'),
			@OPEKBY = REPLACE( REPLACE( REPLACE( 夜勤区分, '1', '2' ), '0', '1' ), '2', '0')
						FROM カレンダマスタ
						WHERE	取引先 = ''
						AND     受入 = ''
						AND	年 = SUBSTRING( @TG_YM, 1, 4 )
						AND	月 = SUBSTRING( @TG_YM, 5, 2 )
						AND	取引先区分 = 0
	    END
    END
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *	稼 動 区 分 合 算	( 0:休み、1:半稼動、2:全稼動 )
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
SELECT	@CNT1 = 1,   @CNT2 = LEN( @OPEKBH ), @CNT4 = 0,    @CNT5 = 0,
	@OPEKB = '', @OPEACKS = '',          @OPEACKE = ''

WHILE	( @CNT1 <= @CNT2 )
    BEGIN

--	< 稼働区分合計 & 稼働区分文字列作成 >
	SELECT	@CNT3 = CAST( SUBSTRING( @OPEKBH, @CNT1, 1 ) AS TINYINT ) + CAST( SUBSTRING( @OPEKBY, @CNT1, 1 ) AS TINYINT )
	SELECT	@OPEKB = @OPEKB + CAST( @CNT3 AS VARCHAR(1) )

--	< 稼動数文字列作成 >
	SELECT	@CNT4 = @CNT4 + @CNT3
	SELECT	@CNT5 = @CNT4 - CASE WHEN @CNT3 = 2 THEN 1 ELSE 0 END 

	SELECT	@OPEACKS = @OPEACKS + REPLICATE( '0', 2 - LEN( @CNT5 ) ) + CAST( @CNT5 AS VARCHAR(2) )
	SELECT	@OPEACKE = @OPEACKE + REPLICATE( '0', 2 - LEN( @CNT4 ) ) + CAST( @CNT4 AS VARCHAR(2) )

	SELECT	@CNT1 = @CNT1 + 1

    END

/*::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *	 日　　程　　数　　量　　算　　出
 *
 *::::::::::::::::::::::::::::::::::::::::::::::*/
SELECT	@DAYSU01 = CASE WHEN SUBSTRING( @OPEKB,  1, 1 ) > '0' 
		     THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB,  1, 1 ) AS TINYINT )
			+ CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS,  1, 2 ) THEN 1 ELSE 0 END
			+ CASE SUBSTRING( @OPEKB,  1, 1 ) WHEN '1' 
			       THEN 0 
			       ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE,  1, 2 ) THEN 1 ELSE 0 END
			  END
		     ELSE 0
		   END,
	@DAYSU02 = CASE WHEN SUBSTRING( @OPEKB,  2, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB,  2, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS,  3, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB,  2, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE,  3, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU03 = CASE WHEN SUBSTRING( @OPEKB,  3, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB,  3, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS,  5, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB,  3, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE,  5, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU04 = CASE WHEN SUBSTRING( @OPEKB,  4, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB,  4, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS,  7, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB,  4, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE,  7, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU05 = CASE WHEN SUBSTRING( @OPEKB,  5, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB,  5, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS,  9, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB,  5, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE,  9, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU06 = CASE WHEN SUBSTRING( @OPEKB,  6, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB,  6, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 11, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB,  6, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 11, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU07 = CASE WHEN SUBSTRING( @OPEKB,  7, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB,  7, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 13, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB,  7, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 13, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU08 = CASE WHEN SUBSTRING( @OPEKB,  8, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB,  8, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 15, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB,  8, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 15, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU09 = CASE WHEN SUBSTRING( @OPEKB,  9, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB,  9, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 17, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB,  9, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 17, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU10 = CASE WHEN SUBSTRING( @OPEKB, 10, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 10, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 19, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 10, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 19, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU11 = CASE WHEN SUBSTRING( @OPEKB, 11, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 11, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 21, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 11, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 21, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU12 = CASE WHEN SUBSTRING( @OPEKB, 12, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 12, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 23, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 12, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 23, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU13 = CASE WHEN SUBSTRING( @OPEKB, 13, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 13, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 25, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 13, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 25, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU14 = CASE WHEN SUBSTRING( @OPEKB, 14, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 14, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 27, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 14, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 27, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU15 = CASE WHEN SUBSTRING( @OPEKB, 15, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 15, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 29, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 15, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 29, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU16 = CASE WHEN SUBSTRING( @OPEKB, 16, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 16, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 31, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 16, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 31, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU17 = CASE WHEN SUBSTRING( @OPEKB, 17, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 17, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 33, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 17, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 33, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU18 = CASE WHEN SUBSTRING( @OPEKB, 18, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 18, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 35, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 18, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 35, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU19 = CASE WHEN SUBSTRING( @OPEKB, 19, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 19, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 37, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 19, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 37, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU20 = CASE WHEN SUBSTRING( @OPEKB, 20, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 20, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 39, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 20, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 39, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU21 = CASE WHEN SUBSTRING( @OPEKB, 21, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 21, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 41, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 21, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 41, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU22 = CASE WHEN SUBSTRING( @OPEKB, 22, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 22, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 43, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 22, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 43, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU23 = CASE WHEN SUBSTRING( @OPEKB, 23, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 23, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 45, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 23, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 45, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU24 = CASE WHEN SUBSTRING( @OPEKB, 24, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 24, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 47, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 24, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 47, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU25 = CASE WHEN SUBSTRING( @OPEKB, 25, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 25, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 49, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 25, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 49, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU26 = CASE WHEN SUBSTRING( @OPEKB, 26, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 26, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 51, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 26, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 51, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU27 = CASE WHEN SUBSTRING( @OPEKB, 27, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 27, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 53, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 27, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 53, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU28 = CASE WHEN SUBSTRING( @OPEKB, 28, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 28, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 55, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 28, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 55, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU29 = CASE WHEN SUBSTRING( @OPEKB, 29, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 29, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 57, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 29, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 57, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU30 = CASE WHEN SUBSTRING( @OPEKB, 30, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 30, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 59, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 30, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 59, 2 ) THEN 1 ELSE 0 END END ELSE 0 END,
	@DAYSU31 = CASE WHEN SUBSTRING( @OPEKB, 31, 1 ) > '0' THEN ( @MONSU / @OPESU ) * CAST( SUBSTRING( @OPEKB, 31, 1 ) AS TINYINT ) + CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKS, 61, 2 ) THEN 1 ELSE 0 END + CASE SUBSTRING( @OPEKB, 31, 1 ) WHEN '1' THEN 0  ELSE CASE WHEN ( @MONSU % @OPESU ) >= SUBSTRING( @OPEACKE, 61, 2 ) THEN 1 ELSE 0 END END ELSE 0 END
	
IF	@RTN = 9	BEGIN	SELECT	@RTN = 0	END	

/*::::::::::::::::::::::*
 *	終 了 処 理	*
 *::::::::::::::::::::::*/
PROC_END:
	RETURN ( @RTN )



GO
