USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[かんばん発注回数抽出]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE             PROCEDURE [dbo].[かんばん発注回数抽出] (
					@HYMD 	VARCHAR(08),
					@KAISU 	TINYINT,
					@ERR 	TINYINT OUTPUT
					 )  AS 

------------------------------------------------------------------------------------------------
--	かんばん発注回数抽出
--
--	発注テーブルによるかんばん発注指示用データ作成
--
--	ﾊﾟﾗﾒﾀ	  : 	@HYMD	 VARCHAR(08)    ･･･	指定発注日
--		  : 	@KAISU	 TINYINT	    ･･･	指定回数
--							
--	Return	  : 
--		  : 	@ERRNO	 TINYINT	･･･	ｴﾗｰｺｰﾄﾞ
--										
--			ｴﾗｰ要因 	0   : 正常終了
--			 		0≠: 異常終了
--					
--	作成日  :  2005/03/07 
--	変更日  :  2005/04/18	前日発行機能の追加 
--	変更日  :  2005/07/22	曜日発注機能の追加 
--	変更日  :  2005/11/16	システムオプション（稼働日カレンダー）の追加
--					  発注日算出：自社カレンダー、納入日算出：仕入先カレンダー
--					
------------------------------------------------------------------------------------------------
SET NOCOUNT ON
--T
/*
DECLARE @HYMD VARCHAR(08)
DECLARE @KAISU TINYINT
DECLARE @ERR TINYINT

SELECT @HYMD = '20050519'
SELECT @KAISU = 1
*/
-- T END

-- 退避エリア
DECLARE @RTN  		TINYINT

-- 初期値設定
SELECT @ERR = 0
--  ｶｰｿﾙ項目定義  --
DECLARE @NO INT,@TORCD VARCHAR(8),@UKEIR VARCHAR(2),@CYCLE VARCHAR(6),@BIN VARCHAR(2),
	@EHYMD VARCHAR(8),@HTSYMD VARCHAR(8)
DECLARE @HYDATE	VARCHAR(8)
--  ワーク項目定義  --
DECLARE @YDATE	VARCHAR(8)
DECLARE @HDATE 	VARCHAR(8)
DECLARE @HBIN 	VARCHAR(2)
DECLARE @NDATE 	VARCHAR(8)
DECLARE @NBIN 	VARCHAR(2)

DECLARE @HI		INT
DECLARE @W_NYMD 	VARCHAR(8)
DECLARE @W_NBIN 	VARCHAR(2)
DECLARE @HTIME 	VARCHAR(4)
DECLARE @PDATE 	VARCHAR(8) 
DECLARE @PTIME 	VARCHAR(4)
DECLARE @ADDDAY INT
DECLARE @HYYMD VARCHAR(8),@HKASAN INT,@PRTYMD VARCHAR(8)

DECLARE @SYSCLKB	TINYINT		-- システムオプション　稼働日カレンダー
-- システムオプション　稼働日カレンダー(自社・仕入先）					( 2005/11/15追加 )
SELECT @SYSCLKB = 0
SELECT @SYSCLKB = CONVERT(TINYINT,SUBSTRING(oyian,1,1)) FROM irnaksic
WHERE bk = 'Option'
    AND rno = 33

-- 前回　発注予定テーブル削除
DELETE FROM 発注予定回数テーブル WHERE 端末番号 = Host_Name()
IF @@ERROR <> 0 BEGIN SELECT @ERR = 1 GOTO PROC_ERROR END

DELETE FROM 発注予定回数ワーク WHERE 端末番号 = Host_Name()
IF @@ERROR <> 0 BEGIN SELECT @ERR = 2 GOTO PROC_ERROR END
/*=========================================================================================*/
/*																*/
/*	今回対象となる仕入先・受入・サイクルを抽出する									*/
/*																*/
/*=========================================================================================*/
Insert Into 発注予定回数ワーク
	( 端末番号,仕入先,受入,サイクル,発行日,発行加算日,発注日,発注便,納入日,納入便,
	発注予定日,発注予定便,最終発注日,最終発注便,曜日発注 )
SELECT HOST_NAME(),HC.仕入先,HC.受入,HC.サイクル,@HYMD,ISNULL(HC.発行加算日,0),
	CASE WHEN ISNULL(HC.発行加算日,0) = 0 THEN @HYMD ELSE '' END,HC.振出便,'','',
	'',HC.振出便,HC.最終発注日,HC.最終発注便,ISNULL(TU.曜日発注,0)
  FROM 発注サイクルマスタ HC
LEFT OUTER JOIN 取引先受入マスタ TU
	ON  TU.取引先ＣＤ = HC.仕入先
	AND TU.受入 = HC.受入
	AND TU.取引先区分 = 1
 WHERE HC.発注処理回数 = @KAISU
     AND HC.行識別 = 0
IF @@ERROR <> 0 BEGIN SELECT @ERR = 3 GOTO PROC_ERROR END

/*=========================================================================================*/
/*	前日発行分の発注日を求める												*/
/*		※発注サイクルマスタの発行加算日<>0の時、前日発注							*/
/*																*/
/*=========================================================================================*/
DECLARE HYSCUR SCROLL CURSOR
FOR 

	SELECT HY.番号,HY.発行加算日,HY.発行日
	  FROM 発注予定回数ワーク HY
	WHERE 端末番号 = HOST_NAME()
	    And 発注日 = ''
FOR READ ONLY 
OPEN HYSCUR
----------------------------------------------------------------------
--   発注予定テーブル  読込		
----------------------------------------------------------------------
FETCH NEXT FROM HYSCUR INTO @NO ,@HKASAN ,@PRTYMD
WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @HDATE = @PRTYMD
	IF @HKASAN <> 0
	    BEGIN
		--発行日加算
		EXEC 日付加算 @PRTYMD,@HKASAN,@HDATE OUTPUT,@RTN OUTPUT
		IF @RTN <> 0 BEGIN SELECT @ERR = 15 GOTO PROC_ERROR END

	    END

	UPDATE 発注予定回数ワーク SET
	    発注日 = @HDATE
	WHERE 端末番号 = HOST_NAME()
	     And 番号 = @NO
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 16 GOTO PROC_ERROR END

-- ----------------------------------------------------------
--   発注予定テーブルカーソルスクロール(次レコード）  		      
-- ----------------------------------------------------------
	FETCH NEXT FROM HYSCUR INTO @NO , @HKASAN ,@PRTYMD
END
CLOSE HYSCUR
DEALLOCATE HYSCUR

/*=========================================================================================*/
/*	発注予定日を求める		最終発注日より次回発注日を計算する						*/
/*		1.サイクル 1-XX-XX												*/
/*		2.サイクル 2-XX-XX												*/
/*		3.曜日発注													*/
/*=========================================================================================*/
--*----------------------------*--
--*	1.《サイクル (1-XX-XX) 》
--*----------------------------*--
	UPDATE 発注予定回数ワーク SET
	    発注予定日 = 発注日
	WHERE 端末番号 = HOST_NAME()
	     And 曜日発注 = 0
	     And SUBSTRING(サイクル,1,1) = '1'

--*----------------------------*--
--	2.《サイクル (2-XX-XX) 》
--*----------------------------*--
DECLARE HYSCUR SCROLL CURSOR
FOR 

	SELECT HY.番号,HY.サイクル,HY.発注日,HY.最終発注日,ISNULL(TR.開始発注日,'')
	  FROM 発注予定回数ワーク HY
	LEFT OUTER JOIN 取引先マスタ TR
		ON  TR.取引先CD = HY.仕入先
		AND TR.取引先区分 = 1
	WHERE 端末番号 = HOST_NAME()
	    And 発注予定日 = ''
	     And 曜日発注 = 0
	    And SUBSTRING(サイクル,1,1) <> '1'
	    And (ISNULL(HY.最終発注日,'') <> '' OR ISNULL(TR.開始発注日,'') <> '')
FOR READ ONLY 
OPEN HYSCUR
----------------------------------------------------------------------------------
--   発注予定テーブル  読込		
----------------------------------------------------------------------------------
FETCH NEXT FROM HYSCUR INTO @NO , @CYCLE , @HDATE, @EHYMD, @HTSYMD 
WHILE @@FETCH_STATUS = 0
BEGIN
	-- サイクルより日を求める
	SELECT @ADDDAY = CAST(SUBSTRING(@CYCLE,1,1) AS INT)
	--*-----------------------------*--
	--*	最終発注日を求める
	--*-----------------------------*--
	IF @EHYMD = ''
	    BEGIN
		SELECT @YDATE = @HTSYMD
		WHILE @YDATE < @HYMD
		BEGIN
			SELECT @EHYMD = @YDATE
			-- 日付減算（稼働日）
			EXEC 日付加算 @EHYMD,@ADDDAY,@YDATE OUTPUT,@RTN OUTPUT
			IF @RTN <> 0 BEGIN SELECT @ERR = 5 GOTO PROC_ERROR END
		END
	    END
	--*-----------------------------*--
	--*	発注予定日を求める
	--*-----------------------------*--
	SELECT @YDATE = @EHYMD,@NDATE = @EHYMD
	WHILE @YDATE < @HDATE
	BEGIN
		SELECT @NDATE = @YDATE
		-- 日付減算（稼働日）
		EXEC 日付加算 @NDATE,@ADDDAY,@YDATE OUTPUT,@RTN OUTPUT
		IF @RTN <> 0 BEGIN SELECT @ERR = 6 GOTO PROC_ERROR END
	END
	SELECT @HYDATE = @YDATE
	--*-----------------------------*--
	--*	納入日を求める
	--*-----------------------------*--
	-- 日付減算（稼働日）
	EXEC 日付加算 @YDATE,@ADDDAY,@NDATE OUTPUT,@RTN OUTPUT
	IF @RTN <> 0 BEGIN SELECT @ERR = 8 GOTO PROC_ERROR END

	UPDATE 発注予定回数ワーク SET
		発注予定日 = @HYDATE,
		発注予定便 = '01',
		納入日 = @NDATE,
		納入便 = '01'
	WHERE 端末番号 = HOST_NAME()
	     And 番号 = @NO
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 9 GOTO PROC_ERROR END

-- ----------------------------------------------------------
--   発注予定テーブルカーソルスクロール(次レコード）  		      
-- ----------------------------------------------------------
	FETCH NEXT FROM HYSCUR INTO @NO , @CYCLE , @HDATE, @EHYMD, @HTSYMD 
END

CLOSE HYSCUR
DEALLOCATE HYSCUR

--*----------------------------*--
--*	3.《曜日発注 》
--*----------------------------*--
DECLARE HYSCUR SCROLL CURSOR
FOR 

	SELECT HY.番号,HY.仕入先,HY.受入,HY.サイクル,HY.発注日,HY.最終発注日,ISNULL(TR.開始発注日,''),
		ISNULL(TU.曜日1,0),ISNULL(TU.曜日2,0),ISNULL(TU.曜日3,0),ISNULL(TU.曜日4,0),ISNULL(TU.曜日5,0)
	  FROM 発注予定回数ワーク HY
	LEFT OUTER JOIN 取引先マスタ TR
		ON  TR.取引先CD = HY.仕入先
		AND TR.取引先区分 = 1
	LEFT OUTER JOIN 取引先受入マスタ TU
		ON  TU.取引先CD = HY.仕入先
		AND TU.受入 = HY.受入
		AND TU.取引先区分 = 1
	WHERE HY.端末番号 = HOST_NAME()
	    And HY.発注予定日 = ''
	     And HY.曜日発注 <> 0
	    And (ISNULL(HY.最終発注日,'') <> '' OR ISNULL(TR.開始発注日,'') <> '')
FOR READ ONLY 
OPEN HYSCUR

DECLARE @DAYKB		VARCHAR(31)		-- 昼勤稼動区分
DECLARE @NIGHTKB		VARCHAR(31)		-- 夜勤稼動区分
DECLARE @DAYNIGHT	TINYINT		-- 昼夜勤区分
DECLARE @WDATE		DATETIME
DECLARE @WBIN		SMALLINT
DECLARE @SYM		VARCHAR(06)		-- 年月退避
DECLARE @YOUBI1		TINYINT		-- 月曜日発注区分
DECLARE @YOUBI2		TINYINT		-- 火曜日発注区分
DECLARE @YOUBI3		TINYINT		-- 水曜日発注区分
DECLARE @YOUBI4		TINYINT		-- 木曜日発注区分
DECLARE @YOUBI5		TINYINT		-- 金曜日発注区分
DECLARE @WIDX		SMALLINT
----------------------------------------------------------------------------------
--   発注予定テーブル  読込		
----------------------------------------------------------------------------------
FETCH NEXT FROM HYSCUR INTO @NO ,@TORCD ,@UKEIR ,@CYCLE ,@HDATE, @EHYMD, @HTSYMD ,@YOUBI1 ,@YOUBI2 ,@YOUBI3 ,@YOUBI4 ,@YOUBI5 
WHILE @@FETCH_STATUS = 0
BEGIN
	--*-----------------------------*--
	--*	最終発注日を求める
	--*-----------------------------*--
	IF @EHYMD = ''
	    BEGIN
		SELECT @EHYMD = @HTSYMD
	    END

	SELECT @WDATE = CONVERT(DATETIME,@EHYMD,112)
	SELECT @SYM = SUBSTRING(@EHYMD,1,6)
	IF @YOUBI1 <> 0 BEGIN SELECT @YOUBI1 = 2 	END
	IF @YOUBI2 <> 0 BEGIN SELECT @YOUBI2 = 3 	END
	IF @YOUBI3 <> 0 BEGIN SELECT @YOUBI3 = 4 	END
	IF @YOUBI4 <> 0 BEGIN SELECT @YOUBI4 = 5 	END
	IF @YOUBI5 <> 0 BEGIN SELECT @YOUBI5 = 6 	END
	-- ( 稼動区分 )
	SELECT @DAYKB = '',@NIGHTKB = ''
	SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
	WHERE 取引先区分 = 1
	  AND 取引先 = ''
	  AND 年 = SUBSTRING(@SYM,1,4)
	  AND 月 = SUBSTRING(@SYM,5,2)
	  AND 受入 = ''
	IF @DAYKB = ''  	BEGIN SELECT @RTN = 1 	GOTO PROC_ERROR 	END		--カレンダーマスタ未登録
	--(( 発注ｻｲｸﾙﾏｽﾀより昼勤便か夜勤便かを求める ))
	SET ROWCOUNT 1
	SELECT @DAYNIGHT = 昼夜区分
		 FROM 発注サイクルマスタ		WHERE 仕入先 = @TORCD
		  AND サイクル = @CYCLE
		  AND 受入  = @UKEIR
		  AND 振出便  = 1
		  AND 行識別 = 0 	IF @DAYNIGHT IS NULL 	BEGIN	SELECT @RTN = 2	GOTO PROC_END	END
	SET ROWCOUNT 0
	SELECT @YDATE = @EHYMD
	--*-----------------------------*--
	--*	発注予定日を求める
	--*-----------------------------*--
	WHILE @YDATE < @HDATE
	BEGIN
	--(( 日の加算 ))
		SELECT @WDATE = DATEADD(dd,1,@WDATE)
		SELECT @WBIN = DATEPART(WEEKDAY,@WDATE)
		IF @WBIN = @YOUBI1 OR @WBIN = @YOUBI2 OR @WBIN = @YOUBI3 OR @WBIN = @YOUBI4 OR @WBIN = @YOUBI5 
		    BEGIN
			IF @SYM <> CONVERT(VARCHAR(6),@WDATE,112) 
			    BEGIN	-- (( 年月が変わった時、ｶﾚﾝﾀﾞｰﾏｽﾀ読込み ))
				SELECT @SYM = CONVERT(VARCHAR(6),@WDATE,112) 
				SELECT @DAYKB = ''
				SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
				WHERE 取引先区分 = 1
				  AND 取引先 = ''
				  AND 年 = SUBSTRING(@SYM,1,4)
				  AND 月 = SUBSTRING(@SYM,5,2)
				  AND 受入 = ''
				IF @DAYKB = ''  	BEGIN SELECT @RTN = 1 	GOTO PROC_ERROR 	END
			    END

			IF @DAYNIGHT = 0
			    BEGIN
				IF SUBSTRING(@DAYKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @YDATE = CONVERT(VARCHAR(8),@WDATE,112)
				    END
			    END 
			ELSE
			    BEGIN
				IF SUBSTRING(@NIGHTKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @YDATE = CONVERT(VARCHAR(8),@WDATE,112)
				    END
			    END
		    END
	END
	SELECT @HDATE = @YDATE
	--*-----------------------------*--
	--*	納入日を求める
	--*-----------------------------*--
	IF @SYSCLKB = 1
	    BEGIN
		-- ( 仕入先カレンダー )
		SELECT @DAYKB = '',@NIGHTKB = ''
		SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
		WHERE 取引先区分 = 1
		  AND 取引先 = @TORCD
		  AND 年 = SUBSTRING(@HDATE,1,4)
		  AND 月 = SUBSTRING(@HDATE,5,2)
		  AND 受入 = ''
	    END
	IF @DAYKB = ''
	    BEGIN
		SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
		WHERE 取引先区分 = 1
		  AND 取引先 = ''
		  AND 年 = SUBSTRING(@HDATE,1,4)
		  AND 月 = SUBSTRING(@HDATE,5,2)
		  AND 受入 = ''
	    END
	IF @DAYKB = ''  	BEGIN SELECT @RTN = 1 	GOTO PROC_ERROR 	END		--カレンダーマスタ未登録

	SELECT @WDATE = CONVERT(DATETIME,@HDATE,112)
	SELECT @WIDX = 0
	WHILE @WIDX = 0
	BEGIN
	--(( 日の加算 ))
		SELECT @WDATE = DATEADD(dd,1,@WDATE)
		SELECT @WBIN = DATEPART(WEEKDAY,@WDATE)
		IF @WBIN = @YOUBI1 OR @WBIN = @YOUBI2 OR @WBIN = @YOUBI3 OR @WBIN = @YOUBI4 OR @WBIN = @YOUBI5 
		    BEGIN
			IF @SYM <> CONVERT(VARCHAR(6),@WDATE,112) 
			    BEGIN	-- (( 年月が変わった時、ｶﾚﾝﾀﾞｰﾏｽﾀ読込み ))
				SELECT @SYM = CONVERT(VARCHAR(6),@WDATE,112) 
				SELECT @DAYKB = ''
				IF @SYSCLKB = 1
				    BEGIN
					-- ( 仕入先カレンダー )
					SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
					WHERE 取引先区分 = 1
					  AND 取引先 = @TORCD
					  AND 年 = SUBSTRING(@SYM,1,4)
					  AND 月 = SUBSTRING(@SYM,5,2)
					  AND 受入 = ''
				    END
				IF @DAYKB = ''
				    BEGIN
					SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
					WHERE 取引先区分 = 1
					  AND 取引先 = ''
					  AND 年 = SUBSTRING(@SYM,1,4)
					  AND 月 = SUBSTRING(@SYM,5,2)
					  AND 受入 = ''
				    END
				IF @DAYKB = ''  	BEGIN SELECT @RTN = 1 	GOTO PROC_ERROR 	END
			    END

			IF @DAYNIGHT = 0
			    BEGIN
				IF SUBSTRING(@DAYKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @YDATE = CONVERT(VARCHAR(8),@WDATE,112)
					SELECT @WIDX = 1
				    END
			    END 
			ELSE
			    BEGIN
				IF SUBSTRING(@NIGHTKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @YDATE = CONVERT(VARCHAR(8),@WDATE,112)
					SELECT @WIDX = 1
				    END
			    END
		    END
	END
	SELECT @NDATE = @YDATE


	UPDATE 発注予定回数ワーク SET
		発注予定日 = @HDATE,
		発注予定便 = '01',
		納入日 = @NDATE,
		納入便 = '01'
	WHERE 端末番号 = HOST_NAME()
	     And 番号 = @NO
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 9 GOTO PROC_ERROR END

-- ----------------------------------------------------------
--   発注予定テーブルカーソルスクロール(次レコード）  		      
-- ----------------------------------------------------------
	FETCH NEXT FROM HYSCUR INTO @NO ,@TORCD ,@UKEIR ,@CYCLE, @HDATE, @EHYMD, @HTSYMD ,@YOUBI1 ,@YOUBI2 ,@YOUBI3 ,@YOUBI4 ,@YOUBI5 
END

CLOSE HYSCUR
DEALLOCATE HYSCUR

/*=========================================================================================*/
/*																*/
/*	今回発注対象データを発注かんばん予定テーブルより抽出する							*/
/*																*/
/*=========================================================================================*/
Insert Into 発注予定回数テーブル
	( 端末番号,仕入先,受入,サイクル,発注日,発注便,納入日,納入便,
	手配区分,発注区分,SK区分,明細書発行,作成種別,
	最終発注日,最終発注便,発注予定日,発注予定便,品番数,枚数,発行加算日,発行日,曜日発注,今回区分 )
SELECT HOST_NAME(),HC.仕入先,HC.受入,HC.サイクル,
	HC.発注日,HC.発注便,ISNULL(KY.納入日,HC.納入日),ISNULL(KY.納入便,HC.納入便),
	ISNULL(KY.手配区分,''),ISNULL(KY.発注区分,''),ISNULL(KY.SK区分,0),ISNULL(HT.明細書発行,TR.明細書発行),ISNULL(KY.作成種別,'9'),
	HC.最終発注日,HC.最終発注便,HC.発注予定日,HC.発注予定便,
	SUM(CASE WHEN ISNULL(KY.品番,'') <> '' THEN 1 ELSE 0 END),SUM(ISNULL(KY.枚数,0)),
	HC.発行加算日,HC.発行日,HC.曜日発注,0
  FROM 発注予定回数ワーク HC
 LEFT OUTER JOIN 発注かんばん予定テーブル KY
     ON  KY.仕入先 = HC.仕入先
     AND KY.受入 = HC.受入
     AND KY.サイクル = HC.サイクル
     AND KY.発注日 = HC.発注日
     AND KY.発注便 = HC.発注便
     AND KY.処理区分 <> 2
 LEFT OUTER JOIN 品番取引先マスタ HT
          ON  HT.品番 = KY.品番
          And HT.取引先 = KY.仕入先
          And HT.受入 = KY.受入
          And HT.品目 = 1
 LEFT OUTER JOIN 取引先マスタ TR
          ON  TR.取引先区分 = 1
          And TR.取引先CD = HC.仕入先
 WHERE HC.端末番号 = HOST_NAME()
     AND HC.発行日 = @HYMD
     AND HC.発注日 = HC.発注予定日
 GROUP BY HC.仕入先,HC.受入,HC.サイクル,HC.発注日,HC.発注便,KY.納入日,KY.納入便,HC.納入日,HC.納入便,KY.手配区分,KY.SK区分,
         KY.発注区分, KY.作成種別,HC.最終発注日,HC.最終発注便,HC.発注予定日,HC.発注予定便,HC.発行日,HT.明細書発行,TR.明細書発行,HC.発行加算日,HC.曜日発注
IF @@ERROR <> 0 BEGIN SELECT @ERR = 2 GOTO PROC_ERROR END

/*=========================================================================================*/
/*																*/
/*	空明細用の納入日算出（サイクル 1-XX-XX )									*/
/*																*/
/*=========================================================================================*/
-- ------------------------------------------
--      発注予定回テーブルカーソル定義		
-- ------------------------------------------
DECLARE HYCUR SCROLL CURSOR
FOR 

	SELECT 番号,仕入先,受入,サイクル,発注予定日,発注予定便,発行加算日
	  FROM 発注予定回数テーブル
	WHERE 端末番号 = HOST_NAME()
	   AND  納入日 = ''
	   AND  SUBSTRING(サイクル,1,1) = '1'

FOR READ ONLY 
OPEN HYCUR

DECLARE @BINIDX		SMALLINT
DECLARE @WBINX		VARCHAR(02)
DECLARE @WENDBIN		SMALLINT
DECLARE @ENDHKAI		TINYINT		--発注サイクルマスタ　最終発注回
----------------------------------------------------------------------------------
--   発注予定テーブル  読込		
----------------------------------------------------------------------------------
FETCH NEXT FROM HYCUR INTO @NO,@TORCD,@UKEIR,@CYCLE,@HDATE,@HBIN ,@HKASAN
			
WHILE @@FETCH_STATUS = 0
BEGIN

	--(( 当月カレンダ読込み ))
	SELECT @SYM = SUBSTRING(@HDATE,1,6) 
	SELECT @DAYKB = '',@NIGHTKB = ''
	IF @SYSCLKB = 1
	    BEGIN
		SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
		WHERE 取引先区分 = 1
		  AND 取引先 = @TORCD
		  AND 年 = SUBSTRING(@HDATE,1,4)
		  AND 月 = SUBSTRING(@HDATE,5,2)
		  AND 受入 = ''
	    END
	IF @DAYKB = ''
	    BEGIN
		SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
		WHERE 取引先区分 = 1
		  AND 取引先 = ''
		  AND 年 = SUBSTRING(@HDATE,1,4)
		  AND 月 = SUBSTRING(@HDATE,5,2)
		  AND 受入 = ''
	    END		
	IF @DAYKB = ''  	BEGIN SELECT @RTN = 10 	GOTO PROC_ERROR 	END		--カレンダーマスタ未登録
	/*-----------------------------------------------------------------------------------------*/
	/*    納入日・便を求める													*/
	/*-----------------------------------------------------------------------------------------*/
	SELECT @BINIDX = 0
	SELECT @WDATE = CONVERT(DATETIME,@HDATE,112)
	SELECT @WBIN = CONVERT(SMALLINT,@HBIN)
	SELECT @WENDBIN = 99
	SELECT @WENDBIN = CONVERT(SMALLINT,SUBSTRING(@CYCLE,2,2))

	WHILE ( @BINIDX < CONVERT(SMALLINT,SUBSTRING(@CYCLE,4,2)) ) 
		BEGIN
		--(( 便の加算 ))
			SELECT @WBIN = @WBIN + 1
			IF @WBIN > @WENDBIN
			    BEGIN
				SELECT @WDATE = DATEADD(dd,1,@WDATE)
				IF @SYM <> CONVERT(VARCHAR(6),@WDATE,112) 
				    BEGIN	-- (( 年月が変わった時、ｶﾚﾝﾀﾞｰﾏｽﾀ読込み ))
					SELECT @SYM = CONVERT(VARCHAR(6),@WDATE,112) 
					SELECT @DAYKB = ''
					IF @SYSCLKB = 1
					    BEGIN
						SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
						WHERE 取引先区分 = 1
						  AND 取引先 = @TORCD
						  AND 年 = SUBSTRING(@SYM,1,4)
						  AND 月 = SUBSTRING(@SYM,5,2)
						  AND 受入 = ''
					    END
					IF @DAYKB = ''
					    BEGIN
						SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
						WHERE 取引先区分 = 1
						  AND 取引先 = ''
						  AND 年 = SUBSTRING(@SYM,1,4)
						  AND 月 = SUBSTRING(@SYM,5,2)
						  AND 受入 = ''
					    END
					IF @DAYKB = ''  	BEGIN SELECT @RTN = 12 	GOTO PROC_ERROR 	END
				    END
			    END
			IF @WBIN > CONVERT(SMALLINT,SUBSTRING(@CYCLE,2,2)) 
			    BEGIN
				SELECT @WBIN = 1
			    END
			SELECT @WBINX = '' 
			IF @WBIN < 10
				BEGIN	SELECT @WBINX = '0' + CONVERT(VARCHAR(1),@WBIN)	END			ELSE
				BEGIN	SELECT @WBINX = CONVERT(VARCHAR(2),@WBIN)	END
	
	--(( 発注ｻｲｸﾙﾏｽﾀより昼勤便か夜勤便かを求める ))
			SET ROWCOUNT 1
			SELECT @DAYNIGHT = 昼夜区分
				 FROM 発注サイクルマスタ				WHERE 仕入先 = @TORCD
				  AND サイクル = @CYCLE
				  AND 受入  = @UKEIR
				  AND 振出便  = @WBINX
				  AND 行識別 = 0 			IF @DAYNIGHT IS NULL 	BEGIN	SELECT @RTN = 13	GOTO PROC_ERROR	END
			SET ROWCOUNT 0
			IF @DAYNIGHT = 0
			    BEGIN
				IF SUBSTRING(@DAYKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @BINIDX = @BINIDX + 1
				    END
			    END 
			ELSE
			    BEGIN
				IF SUBSTRING(@NIGHTKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @BINIDX = @BINIDX + 1
				    END
			    END
		END
	SELECT @NDATE = CONVERT(VARCHAR(8),@WDATE,112)
	SELECT @NBIN = @WBINX

	UPDATE 発注予定回数テーブル SET
		納入日 = @NDATE,
		納入便 = @NBIN
	WHERE 端末番号 = HOST_NAME()
	     And 番号 = @NO
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 14 GOTO PROC_ERROR END

-- ----------------------------------------------------------
--   発注予定テーブルカーソルスクロール(次レコード）  		      
-- ----------------------------------------------------------
	FETCH NEXT FROM HYCUR INTO @NO,@TORCD,@UKEIR,@CYCLE,@HDATE,@HBIN ,@HKASAN
END

CLOSE HYCUR
DEALLOCATE HYCUR
/*=========================================================================================*/
/*	未発注データの抽出													*/
/*		今回発注日・便で未発注のものが存在する時、今回対象とする						*/
/*		※発注回数の変更(発注テーブルメンテ)や発注未選択（発注処理）で発生する可能性がある			*/
/*=========================================================================================*/
Insert Into 発注予定回数テーブル
	( 端末番号,仕入先,受入,サイクル,発注日,発注便,納入日,納入便,
	手配区分,発注区分,SK区分,明細書発行,作成種別,
	最終発注日,最終発注便,発注予定日,発注予定便,品番数,枚数,発行加算日,発行日,曜日発注,今回区分 )
SELECT HOST_NAME(),HC.仕入先,HC.受入,HC.サイクル,
	KY.発注日,KY.発注便,ISNULL(KY.納入日,''),ISNULL(KY.納入便,''),
	ISNULL(KY.手配区分,''),ISNULL(KY.発注区分,''),ISNULL(KY.SK区分,0),ISNULL(HT.明細書発行,TR.明細書発行),ISNULL(KY.作成種別,'9'),
	HC.最終発注日,HC.最終発注便,KY.発注日,KY.発注便,
	SUM(CASE WHEN ISNULL(KY.品番,'') <> '' THEN 1 ELSE 0 END),SUM(ISNULL(KY.枚数,0)),
	HC.発行加算日,HC.発行日,ISNULL(TU.曜日発注,0),1
  FROM 発注予定回数ワーク HC
 LEFT OUTER JOIN 発注かんばん予定テーブル KY
     ON  KY.仕入先 = HC.仕入先
     AND KY.受入 = HC.受入
     AND KY.サイクル = HC.サイクル
     AND KY.発注日 + KY.発注便 < HC.発注日 + HC.発注便
     AND KY.処理区分 <> 2
 LEFT OUTER JOIN 品番取引先マスタ HT
          ON  HT.品番 = KY.品番
          And HT.取引先 = KY.仕入先
          And HT.受入 = KY.受入
          And HT.品目 = 1
 LEFT OUTER JOIN 取引先マスタ TR
          ON  TR.取引先区分 = 1
          And TR.取引先CD = HC.仕入先
 LEFT OUTER JOIN 取引先受入マスタ TU
          ON  TU.取引先区分 = 1
          And TU.取引先CD = HC.仕入先
          And TU.受入 = HC.受入
 WHERE HC.端末番号 = HOST_NAME()
     AND HC.発行日 = @HYMD
     AND HC.発注日 = HC.発注予定日
     AND KY.発注日 IS NOT NULL
 GROUP BY HC.仕入先,HC.受入,HC.サイクル,KY.発注日,KY.発注便,KY.納入日,KY.納入便,HC.納入日,HC.納入便,KY.手配区分,KY.SK区分,
         KY.発注区分, KY.作成種別,HC.最終発注日,HC.最終発注便,HC.発注予定日,HC.発注予定便,HC.発行日,HT.明細書発行,TR.明細書発行,HC.発行加算日,TU.曜日発注


PROC_END:
/*
SELECT * FROM 発注予定回数ワーク
WHERE 端末番号 = HOST_NAME()
SELECT * FROM 発注予定回数テーブル
WHERE 端末番号 = HOST_NAME()
--    AND 発行日 = '20050519'
*/
-- 正常終了 --
--RETURN
RETURN(0)
PROC_ERROR:
-- 異常終了 --
---TEST --------------------------------------------------
/*
IF @ERR <> 0
   BEGIN
	 SELECT 'ERROR=',CONVERT(CHAR(2),@ERR)
	RETURN
   END	
*/
------- --------------------------------------------------
RETURN(@ERR)
--return






















GO
