USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[S展開処理]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[S展開処理]	@TG_NJYM VARCHAR(6), @INCNT   INT OUTPUT, @OUTCNT INT OUTPUT AS
SET NOCOUNT ON
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 * ( CNJ0310 )
 *			展　　開　　処　　理
 *
 *			PARAMETER	@TG_NJYM( INPUT  )	対象内示年月
 *					@INCNT  ( OUTPUT )	入力件数 ( 生産計画データ件数 )
 *					@OUTCNT ( OUTPUT )	出力件数 ( 発注内示データ件数 )
 *
 *			RETURN		0 : 正常終了
 *			 		9 : 異常終了
 *
 *			CREATE DATE	2004 / 04 / 30	By CIS
 *	    		UP DATE
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
DECLARE	@RTN		INT		/* リターン						*/

DECLARE	@LVLCNT1	TINYINT		/* 階層レベル　カウント					*/
DECLARE	@LVLCNT2	TINYINT		/* 階層レベル　カウント					*/

DECLARE	@SELECT		VARCHAR(5000)	/* ワーク						*/
DECLARE	@CNT1		TINYINT		/* ワーク						*/
DECLARE	@STR1		VARCHAR(1000)	/* ワーク						*/
DECLARE	@INT1		INT		/* ワーク						*/
DECLARE	@DTCNT		INT		/* ワーク						*/

DECLARE	@DEBUG		TINYINT		/* デバッグ用						*/
DECLARE	@TIMEST		DATETIME	/* デバッグ用						*/
DECLARE	@TIMEED		DATETIME	/* デバッグ用						*/

DECLARE	@RC		INT		/* 発注内示データ作成用リターンワーク			*/
DECLARE	@HJ_OUTCNT	INT		/* 発注内示データ作成件数					*/

DECLARE	@TGW_NJYM_YG	VARCHAR(6)	/* 翌月内示年月						*/
DECLARE	@TGW_NJYM_YYG	VARCHAR(6)	/* 翌々月内示年月					*/

/*::::::::::::::::::::::*
 *	初期処理		*
 *::::::::::::::::::::::*/
SELECT	@RTN = 9, @INCNT = 0, @OUTCNT = 0, @DEBUG = 0,
	@TGW_NJYM_YG = CONVERT( VARCHAR(6), DATEADD( M, 1, @TG_NJYM + '01' ), 112 ),
	@TGW_NJYM_YYG = CONVERT( VARCHAR(6), DATEADD( M, 2, @TG_NJYM + '01' ), 112 )


/*::::::::::::::::::::::::::::::::::::::*
 *	　構成レベルチェック		*
 *::::::::::::::::::::::::::::::::::::::*/
EXEC S構成レベルチェック


DELETE	S発注内示テーブル		WHERE 内示年月 = @TG_NJYM
DELETE	S発注内示必要数テーブル	WHERE 内示年月 = @TG_NJYM
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *							生　産　計　画　デ　ー　タ　数　量　集　計
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*::::::::::::::::::::::::::::::::::::::*
 *	　生産計画集計ワーク　削除	*
 *::::::::::::::::::::::::::::::::::::::*/
TRUNCATE TABLE	S生産計画集計ワーク

/*::::::::::::::::::::::::::::::::::::::*
 *	　生産計画集計ワーク　作成	*
 *::::::::::::::::::::::::::::::::::::::*/
INSERT	INTO S生産計画集計ワーク
	SELECT	SK.内示年月, SK.品番, SK.手配先, SK.受入, SK.納期, SK.仕掛日, SK.手配日, SUM( SK.数量 ) 数量
		FROM S生産計画テーブル SK
		INNER JOIN 品番取引先マスタ HT	( NOLOCK )
		ON  HT.品番 = SK.品番
		AND HT.取引先 = SK.手配先
		AND HT.受入 = SK.受入
		WHERE 内示年月 = @TG_NJYM
		GROUP BY SK.内示年月, SK.品番, SK.手配先, SK.受入, SK.納期, SK.仕掛日, SK.手配日

SELECT	@INCNT = @@ROWCOUNT

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *	( 親データ )					「０」　レ　ベ　ル　デ　ー　タ　(　大　親　)　出　力
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
SELECT	@LVLCNT1 = 0

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *	　発注内示テーブル　作成 ( 生産計画テーブルより )		*
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
INSERT	INTO	S発注内示テーブル
		( 内示年月, 品番, 手配先, 受入, 直送先, 納期, 仕掛日, 手配日, 数量, 処理区分, 削除区分, 変更回数, ローレベル, 計画年月, 作成者, 作成日, 作成端末 )

		SELECT	SK.内示年月, SK.品番, SK.手配先, SK.受入, '' 直送先, SK.納期, SK.仕掛日, SK.手配日, SK.数量,
			0 処理区分, 0 削除区分,  0 変更回数, ISNULL( KS.レベル, 0 ) ローレベル,
			SUBSTRING( SK.納期, 1, 6 ) 計画年月,
			'CNJ0450' 作成者, GETDATE() 作成日, SUBSTRING( HOST_NAME(), 1, 20 ) 作成端末
			FROM S生産計画集計ワーク SK
			LEFT OUTER JOIN ( SELECT 子品番, MAX( レベル ) レベル FROM 構成マスタ GROUP BY 子品番 ) KS
				ON  KS.子品番 = SK.品番
			WHERE ISNULL( KS.レベル, 0 ) = 0

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *	　発注内示必要数テーブル　作成 ( 生産計画テーブルより )		*
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
INSERT	INTO	S発注内示必要数テーブル
		( 内示年月, 品番, 手配先, 受入, 直送先, 納期, 数量, ローレベル, 計画年月, 作成者, 作成日, 作成端末 )

		SELECT	SK.内示年月, SK.品番, SK.手配先, SK.受入, '' 直送先, SK.納期, 数量, ISNULL( KS.レベル, 0 ) ローレベル,
			SUBSTRING( SK.納期, 1, 6 ) 計画年月,
			'CNJ0450' 作成者, GETDATE() 作成日, SUBSTRING( HOST_NAME(), 1, 20 ) 作成端末
			FROM S生産計画集計ワーク SK
			INNER JOIN 品番取引先マスタ HT	( NOLOCK )
				ON  HT.品番 = SK.品番
				AND HT.取引先 = SK.手配先
				AND HT.受入 = SK.受入
			LEFT OUTER JOIN ( SELECT 子品番, MAX( レベル ) レベル FROM 構成マスタ GROUP BY 子品番 ) KS
				ON  KS.子品番 = SK.品番
			WHERE ISNULL( KS.レベル, 0 ) = 0

/*::::::::::::::::::::::::::::::* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *	 構成展開ワーク削除	* *																*
 *::::::::::::::::::::::::::::::* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
TRUNCATE TABLE	S構成展開ワーク

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *	( 親データ )					「０」　レ　ベ　ル　以　外　デ　ー　タ　出　力
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
INSERT	INTO	S構成展開ワーク	( 品番, 親手配先, 納期, 数量, 展開レベル, ローレベル, 引当後数量, 在庫管理区分, 在庫管理数値, 展開区分 )

	SELECT	SK.品番, SK.手配先, SK.納期, SK.数量, 0 展開レベル, ISNULL( KS.レベル, 0 ) ローレベル,
		SK.数量, ISNULL( HN.在庫管理区分, 0 ) 在庫管理区分, ISNULL( HN.在庫管理数値, 0 ) 在庫管理数値,
		ISNULL( KS.展開区分, 0 ) 展開区分
		FROM S生産計画集計ワーク SK
		INNER JOIN 品番マスタ HN	( NOLOCK )
			ON  HN.品番 = SK.品番
		LEFT OUTER JOIN ( SELECT 子品番, MAX( レベル ) レベル, MAX( 展開区分 ) 展開区分 FROM 構成マスタ GROUP BY 子品番 ) KS
			ON  KS.子品番 = SK.品番
		WHERE ISNULL( KS.レベル, 0 ) > 0

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *
 *							構　成　展　開　ル　ー　プ　処　理
 *
 *
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
SELECT	@LVLCNT1 = 1, @LVLCNT2 = 0
WHILE	( @LVLCNT1 <= 99 AND @DTCNT <> 0 )
    BEGIN
	/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
	 *
	 *					「ｎ( @LVLCNT1 )」 　レ　ベ　ル　展　開	[ 　@LVLCNT2　:　ｎ－１　 ]
	 *
	 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
	INSERT	INTO	S構成展開ワーク	( 品番, 親手配先, 納期, 数量, 展開レベル, ローレベル, 引当後数量, 在庫管理区分, 在庫管理数値, 展開区分 )

		SELECT	KS.子品番, HJ.手配先 親手配先,
			HJ.仕掛日 納期,
			CEILING( HJ.数量 * KS.構成数 ) 数量,
			@LVLCNT1, KS.レベル,
			CEILING( HJ.数量 * KS.構成数 ) 引当後数量,
			ISNULL( HN.在庫管理区分, 0 ) 在庫管理区分,
			ISNULL( HN.在庫管理数値, 0 ) 在庫管理数値,
			KS.展開区分
			FROM S発注内示テーブル HJ
			INNER JOIN 構成マスタ KS		( NOLOCK )
			ON  KS.親品番 = HJ.品番
			AND KS.適用開始日 <= HJ.仕掛日
			AND CASE WHEN KS.適用終了日 = '' THEN '9' ELSE KS.適用終了日 END >= HJ.仕掛日
			LEFT OUTER JOIN 品番マスタ HN	( NOLOCK )
			ON  HN.品番 = KS.子品番
			WHERE HJ.内示年月 = @TG_NJYM
			AND   HJ.ローレベル = @LVLCNT2
			AND   KS.展開区分 <> 2

	SELECT	@DTCNT = 0
	SELECT	@DTCNT = COUNT(*) FROM S構成展開ワーク WHERE 展開レベル = @LVLCNT1

	/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
	 *
	 *					該　当　レ　ベ　ル　分　の　発　注　内　示　デ　ー　タ　作　成　処　理
	 *
	 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
	IF	@DTCNT <> 0
	    BEGIN
		EXEC	@RC = S展開処理_確定 @TG_NJYM, @LVLCNT1, @HJ_OUTCNT OUTPUT 	

		SELECT	@OUTCNT = @OUTCNT + @HJ_OUTCNT

		/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
		 *
		 *						発　注　内　示　テ　ー　ブ　ル　最　終　デ　ー　タ　出　力
		 *
		 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
		INSERT	INTO	S発注内示テーブル ( 内示年月, 品番, 手配先, 受入, 直送先, 納期, 仕掛日, 手配日, 数量, 処理区分, 削除区分, 変更回数, ローレベル, 計画年月, 作成者, 作成日, 作成端末 )
		
			SELECT	@TG_NJYM 内示年月, HJ.品番, HJ.手配先, HJ.受入, HJ.直送先, HJ.納期, HJ.仕掛日, 
				CASE WHEN HJ.発注日 = '' THEN HJ.仕掛日 ELSE HJ.発注日 END 手配日, HJ.数量,
				0 処理区分, 0 削除区分, 0 変更回数,
				@LVLCNT1 ローレベル,
				SUBSTRING( HJ.納期, 1, 6 ) 計画年月,
				'CNJ0310', GETDATE(), SUBSTRING( HOST_NAME(), 1, 20 )
				FROM S発注内示仕掛ワーク HJ
				WHERE HJ.展開区分 <> 3			-- 展開区分 = 3 : のみ対象外

		/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
		 *
		 *					構　成　展　開　ワ　ー　ク　処　理　済　レ　ベ　ル　デ　ー　タ　削　除
		 *
		 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
		DELETE	S構成展開ワーク	WHERE ローレベル = @LVLCNT1

		/*::::::::::::::::::::::::::::::::::::::*
		 *	 次レベル用 カウントアップ	*
		 *::::::::::::::::::::::::::::::::::::::*/
		SELECT	@LVLCNT1 = @LVLCNT1 + 1, @LVLCNT2 = @LVLCNT2 + 1

		/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
		 *
		 *			前 レ ベ ル で 展 開 区 分 = 3 ( のみ対象外 ) の デ ー タ に 対 し、次 レ ベ ル 用 構 成 展 開 ワ ー ク へ 出 力
		 *
		 *				<<<  展開区分=3( のみ対象外 )データは、発注内示データには出力されない為、以下の処理が必要となる  >>>
		 *
		 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
		INSERT	INTO	S構成展開ワーク	( 品番, 親手配先, 納期, 数量, 展開レベル, ローレベル, 引当後数量, 在庫管理区分, 在庫管理数値, 展開区分 )
	
			SELECT	KS.子品番, HJ.手配先 親手配先,
				HJ.仕掛日 納期,
				CEILING( HJ.数量 * KS.構成数 ) 数量,
				@LVLCNT1, KS.レベル,
				CEILING( HJ.数量 * KS.構成数 ) 引当後数量,
				ISNULL( HN.在庫管理区分, 0 ) 在庫管理区分,
				ISNULL( HN.在庫管理数値, 0 ) 在庫管理数値,
				KS.展開区分
				FROM S発注内示仕掛ワーク HJ
				INNER JOIN 構成マスタ KS		( NOLOCK )
					ON  KS.親品番 = HJ.品番
					AND KS.適用開始日 <= HJ.仕掛日
					AND CASE WHEN KS.適用終了日 = '' THEN '9' ELSE KS.適用終了日 END >= HJ.仕掛日
				LEFT OUTER JOIN 品番マスタ HN	( NOLOCK )
					ON  HN.品番 = KS.子品番
				WHERE HJ.展開区分 = 3
					AND   KS.展開区分 <> 2
	    END

    END

TRUNCATE TABLE	S内示問合せワーク
-- *-----------------------------------------------------------------
-- *	S内示問合せワーク	  作成
-- *-----------------------------------------------------------------
INSERT INTO S内示問合せワーク
	(処理端末, 年月, 順位, レベル , 品番, 手配先, 受入, 直送先, 区分, 当月数, 翌月数, 翌々月数,
	 日量数01, 日量数02, 日量数03, 日量数04, 日量数05, 日量数06, 日量数07, 日量数08, 日量数09, 日量数10, 
	 日量数11, 日量数12, 日量数13, 日量数14, 日量数15, 日量数16, 日量数17, 日量数18, 日量数19, 日量数20, 
	 日量数21, 日量数22, 日量数23, 日量数24, 日量数25, 日量数26, 日量数27, 日量数28, 日量数29, 日量数30, 日量数31) 
	SELECT HOST_NAME(), HK.内示年月,'', 0, HK.品番, HK.手配先, HK.受入, HK.直送先, 0, 0, 0, 0,
		0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
		0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 
		0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
		FROM S発注内示テーブル HK
		GROUP BY HK.内示年月,HK.品番, HK.手配先, HK.受入, HK.直送先

IF @@ERROR <> 0 BEGIN	GOTO PROC_END	END
-- *-----------------------------------------------------------------
-- *	S内示問合せワーク	  月量数更新
-- *-----------------------------------------------------------------
UPDATE S内示問合せワーク SET
	S内示問合せワーク.当月数 = ISNULL(TG.数量,0),
	S内示問合せワーク.翌月数 = ISNULL(YG.数量,0),
	S内示問合せワーク.翌々月数 = ISNULL(YYG.数量,0)
	FROM S内示問合せワーク HK
	LEFT OUTER JOIN (SELECT 品番,手配先,受入,直送先,SUM(数量) 数量 
				FROM S発注内示テーブル 
				WHERE SUBSTRING(納期,1,6) = @TG_NJYM
				GROUP BY 品番,手配先,受入,直送先) TG
	  ON TG.品番 = HK.品番
	 AND TG.手配先 = HK.手配先
	 AND TG.受入 = HK.受入
	 AND TG.直送先 = HK.直送先
	LEFT OUTER JOIN (SELECT 品番,手配先,受入,直送先,SUM(数量) 数量 
				FROM S発注内示テーブル 
				WHERE SUBSTRING(納期,1,6) = @TGW_NJYM_YG
				GROUP BY 品番,手配先,受入,直送先) YG
	  ON YG.品番 = HK.品番
	 AND YG.手配先 = HK.手配先
	 AND YG.受入 = HK.受入
	 AND YG.直送先 = HK.直送先
	LEFT OUTER JOIN (SELECT 品番,手配先,受入,直送先,SUM(数量) 数量 
				FROM S発注内示テーブル 
				WHERE SUBSTRING(納期,1,6) = @TGW_NJYM_YYG
				GROUP BY 品番,手配先,受入,直送先) YYG
	  ON YYG.品番 = HK.品番
	 AND YYG.手配先 = HK.手配先
	 AND YYG.受入 = HK.受入
	 AND YYG.直送先 = HK.直送先

IF	@RTN = 9	BEGIN	SELECT	@RTN = 0	END	

/*::::::::::::::::::::::*
 *	終 了 処 理	*
 *::::::::::::::::::::::*/
PROC_END:
	RETURN ( @RTN )






GO
