USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[日付加算]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[日付加算](@DATE VARCHAR(8),@ADDDAY INT,@SDATE VARCHAR(8) OUTPUT,@RTN TINYINT OUTPUT) AS
--*-------------------------------------------------------------------------------------*--
--*	稼働日を考慮し､日付の加算を行う
--*
--*	@DATE		= 加算前日付	
--*	@ADDDAY	= 加減日数
--*
--*	戻り値	@RTN	= ﾘﾀｰﾝｺｰﾄﾞ
--*		@SDATE	= 加算後日付
--*		@RTN		= 0:正常、1:当月カレンダー無し、2:翌月カレンダー無し、3:前月カレンダー無し
--*
--*
--*	作成日	 ：	2004/01/20
--*-------------------------------------------------------------------------------------*--
/* TEST
DECLARE @DATE VARCHAR(8),@ADDDAY INT
DECLARE @RTN TINYINT ,@SDATE VARCHAR(8) 
SELECT @DATE = '20040119'
SELECT @ADDDAY = -1
SELECT @RTN = 0,@SDATE = ''
 TEST END  */

DECLARE @DAYKB		VARCHAR(31)		-- 昼勤稼動区分
DECLARE @NIGHTKB		VARCHAR(31)		-- 夜勤稼動区分
DECLARE @SYM		VARCHAR(06)		-- 年月退避
DECLARE @WDATE		DATETIME		-- 年月日退避
DECLARE @AFTERDAY	SMALLINT
DECLARE @DAYIDX		SMALLINT
DECLARE @ADDKB		VARCHAR(1)

SET NOCOUNT ON

SELECT @RTN = 0

IF @DATE = '' BEGIN SELECT @DATE = CONVERT(VARCHAR(8),GETDATE(),112) END

IF @ADDDAY = 0        BEGIN 	SELECT @SDATE = @DATE 	GOTO PROC_END	END

-- (( 当月ｶﾚﾝﾀﾞｰﾏｽﾀ 登録チェック ))
SELECT @DAYKB = ''
SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
WHERE 取引先区分 = 1
  AND 取引先 = ''
  AND 年 = SUBSTRING(@DATE,1,4)
  AND 月 = SUBSTRING(@DATE,5,2)
  AND 受入 = ''
IF @DAYKB = ''  BEGIN	SELECT @RTN = 1 	GOTO PROC_ERROR    END

-- 算出元日付
SELECT @WDATE = CONVERT(DATETIME,@DATE,112)
SELECT @SYM = SUBSTRING(@DATE,1,6)

-- 加算日数
SELECT @AFTERDAY = ABS(@ADDDAY)
IF @ADDDAY > 0
    BEGIN 
	SELECT @ADDKB = '+'
    END
ELSE
    BEGIN 
	SELECT @ADDKB = '-'
    END

--(( 稼動区分により便を加減算 ))
SELECT @DAYIDX = 0
WHILE ( @DAYIDX < @AFTERDAY ) 
	BEGIN
		IF @ADDKB = '+'
		    BEGIN		
		--(( 日の加算 ))
			SELECT @WDATE = DATEADD(dd,1,@WDATE)
			IF @SYM <> CONVERT(VARCHAR(6),@WDATE,112) 
			    BEGIN	-- (( 年月が変わった時、ｶﾚﾝﾀﾞｰﾏｽﾀ読込み ))
				SELECT @SYM = CONVERT(VARCHAR(6),@WDATE,112) 
				SELECT @DAYKB = ''
				SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
				WHERE 取引先区分 = 1
				  AND 取引先 = ''
				  AND 年 = SUBSTRING(@SYM,1,4)
				  AND 月 = SUBSTRING(@SYM,5,2)
				  AND 受入 = ''
				IF @DAYKB = ''  	BEGIN SELECT @RTN = 2 	GOTO PROC_ERROR 	END
			    END
		    END
		ELSE
		    BEGIN	
		--(( 日の減算 ))
			SELECT @WDATE = DATEADD(dd,-1,@WDATE)
			IF @SYM <> CONVERT(VARCHAR(6),@WDATE,112) 			    BEGIN	-- (( 年月が変わった時、ｶﾚﾝﾀﾞｰﾏｽﾀ読込み ))
				SELECT @SYM = CONVERT(VARCHAR(6),@WDATE,112) 
				SELECT @DAYKB = ''
				SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
				WHERE 取引先区分 = 1
				  AND 取引先 = ''
				  AND 年 = SUBSTRING(@SYM,1,4)
				  AND 月 = SUBSTRING(@SYM,5,2)
				  AND 受入 = ''
				IF @DAYKB = ''  	BEGIN SELECT @RTN = 3 	GOTO PROC_ERROR 	END
			    END

		    END

		IF SUBSTRING(@DAYKB,DATEPART(dd,@WDATE),1) = '0' OR SUBSTRING(@NIGHTKB,DATEPART(dd,@WDATE),1) = '0'
		    BEGIN
			SELECT @DAYIDX = @DAYIDX + 1
		    END
	END


--(( 算出日付ｾｯﾄ ))----------------------------------------------------
SELECT @SDATE = CONVERT(VARCHAR(8),@WDATE,112)

--SELECT '発注日' = @DATE,'加算日' = @ADDDAY, '納入日' = @SDATE


PROC_END:

RETURN(0)

PROC_ERROR:

--SELECT 'ERROR' = @RTN
RETURN



GO
