USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[買掛相殺処理]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[買掛相殺処理]
		(  @JYM VARCHAR(6),@TANTO VARCHAR(15),
		   @ERR TINYINT OUTPUT,@TCNT INT OUTPUT,@SCNT INT OUTPUT) AS
---------------------------------------------------------------------------------------------------
--	買掛相殺処理
--
--	処理内容	購入実績テーブル・支給実績テーブルより買掛支払テーブルを作成する
--				
--	ﾊﾟﾗﾒﾀ		@JYM	   : 	購入年月
--		  	@TANTO  :     処理担当者
--
--	戻り値		@ERR     :      処理結果
--					0  :正常終了
--					≠0:異常終了
--			@TCNT    :      契約先件数（今回対象契約先）
--			@SCNT    :      買掛支払テーブル作成件数
--
--	作成日　：	2004/12/01
--
---------------------------------------------------------------------------------------------------
SET NOCOUNT ON

--T 
/*
DECLARE @JYM	VARCHAR(6)
DECLARE @TANTO  VARCHAR(15)
DECLARE @ERR		TINYINT

DECLARE @TCNT 	INT
DECLARE @SCNT	INT

SELECT @JYM = '200411'
SELECT @TANTO = ''
*/
--T
DECLARE @ZYM VARCHAR(6)
DECLARE @TAX DECIMAL(5,2)		-- 消費税率
DECLARE @THASU TINYINT			-- 消費税端数処理
DECLARE @KURIKAN TINYINT		-- 繰越管理

DECLARE @AFTERMM1 INT		-- 月後
DECLARE @SHDAY1 INT		-- 日
DECLARE @SHPER1 INT		-- 率
DECLARE @AFTERMM2 INT		-- 月後
DECLARE @SHDAY2 INT		-- 日
DECLARE @SHPER2 INT		-- 率

DECLARE @SHKB1 VARCHAR(1)	-- 支払区分
DECLARE @SYMD1 VARCHAR(8)	-- 支払区分
DECLARE @SHKIN1 MONEY		-- 支払金額
DECLARE @SHKB2 VARCHAR(1)	-- 支払区分
DECLARE @SYMD2 VARCHAR(8)	-- 支払区分
DECLARE @SHKIN2 MONEY		-- 支払金額
--*----------------------------------------------*--
--<<　トランザクション開始 					>>----
--*----------------------------------------------*--
BEGIN TRANSACTION SHCRT
--*--------------------*--
--(( 初期値セット ))--
SELECT @ERR = 0,@TCNT = 0,@SCNT = 0
--*----------------------------------------------*--
--*	前月 
--*----------------------------------------------*--
SELECT @ZYM = CONVERT(VARCHAR(6),DATEADD(m,-1,CONVERT(DATETIME,@JYM + '01')),112)
--*----------------------------------------------*--
--*	消費税率
--*----------------------------------------------*--
SELECT @TAX = 数字1,@THASU = 数字2 FROM 名称マスタ 
			WHERE 区分名称 = '消費税'
			    AND 値 = '1'
IF @TAX IS NULL OR @TAX = 0
    BEGIN
	SELECT @TAX = 5,@THASU = 0
    END
SELECT @TAX = @TAX / 100
--*----------------------------------------------*--
--*	繰越管理
--*----------------------------------------------*--
SELECT @KURIKAN = 0
SELECT @KURIKAN = (SELECT 数字1 FROM 名称マスタ 
			WHERE 区分名称 = '買掛管理'
			    AND 値 = '1')
IF @KURIKAN IS NULL
    BEGIN
	SELECT @KURIKAN = 0
    END
--*----------------------------------------------*--
--*	支払区分　現金
--*----------------------------------------------*--
SELECT @AFTERMM1 = 数字1,@SHDAY1 = 数字2,@SHPER1 = 数字3 FROM 名称マスタ 
			WHERE 区分名称 = '買掛支払区分'
			    AND 値 = '1'
--*----------------------------------------------*--
--*	支払区分　手形
--*----------------------------------------------*--
SELECT @AFTERMM2 = 数字1,@SHDAY2 = 数字2,@SHPER2 = 数字3 FROM 名称マスタ 
			WHERE 区分名称 = '買掛支払区分'
			    AND 値 = '2'
IF @SHPER1 = 0 AND @SHPER2 = 0
     BEGIN
	SELECT @AFTERMM1 = 1,@SHDAY1 = 0,@SHPER1 = 100
    END
--*----------------------------------------------*--
--*	支払日を求める
--*----------------------------------------------*--
SELECT @SHKB1 = '',@SHKB2 = '',@SYMD1 = '',@SYMD2 = ''
IF @SHPER1 <> 0 BEGIN SELECT @SHKB1 = '1' END
IF @SHPER2 <> 0 BEGIN SELECT @SHKB2 = '2' END
IF @SHKB1 <> '' 
    BEGIN 
	IF @SHDAY1 = 0
	    BEGIN 
		SELECT @AFTERMM1 = @AFTERMM1 + 1
		SELECT @SYMD1 = CONVERT(VARCHAR(8),DATEADD(m,@AFTERMM1,CONVERT(DATETIME,@JYM + '01')),112)
		SELECT @SYMD1 = CONVERT(VARCHAR(8),DATEADD(d,-1,CONVERT(DATETIME,@SYMD1)),112)
	    END
	ELSE
	    BEGIN 
		SELECT @SYMD1 = @JYM + RIGHT(REPLICATE('0',2)+LTRIM(STR(@SHDAY1,2)),2)
		SELECT @SYMD1 = CONVERT(VARCHAR(8),DATEADD(m,@AFTERMM1,CONVERT(DATETIME,@SYMD1)),112)
	    END
	SELECT @SYMD1 = CONVERT(VARCHAR(8),DATEADD(d,1,CONVERT(DATETIME,@SYMD1)),112)
	EXEC 日付加算 @SYMD1,-1,@SYMD1 OUTPUT,@ERR  OUTPUT
    END
IF @SHKB2 <> '' 
    BEGIN 
	IF @SHDAY2 = 0
	    BEGIN 
		SELECT @AFTERMM2 = @AFTERMM2 + 1
		SELECT @SYMD2 = CONVERT(VARCHAR(8),DATEADD(m,@AFTERMM2,CONVERT(DATETIME,@JYM + '01')),112)
		SELECT @SYMD2 = CONVERT(VARCHAR(8),DATEADD(d,-1,CONVERT(DATETIME,@SYMD2)),112)
	    END
	ELSE
	    BEGIN 
		SELECT @SYMD2 = @JYM + RIGHT(REPLICATE('0',2)+LTRIM(STR(@SHDAY2,2)),2)
		SELECT @SYMD2 = CONVERT(VARCHAR(8),DATEADD(m,@AFTERMM2,CONVERT(DATETIME,@SYMD2)),112)
	    END
	SELECT @SYMD2 = CONVERT(VARCHAR(8),DATEADD(d,1,CONVERT(DATETIME,@SYMD2)),112)
	EXEC 日付加算 @SYMD2,-1,@SYMD2 OUTPUT,@ERR  OUTPUT

    END
-- *------------------------------------*
-- * 今回対象契約先ワークカーソル定義		*
-- *------------------------------------*
DECLARE KWCUR SCROLL CURSOR
FOR 
/*
	SELECT KW.契約先,ISNULL(KJ.購入金額,0) 購入金額,ISNULL(SJ.支給金額,0) 支給金額,
			ISNULL(KS.繰越金額,0) 前月繰越,KW.締日,
			ISNULL(KJ.購入件数,0) 購入件数,ISNULL(SJ.支給件数,0) 支給件数
	 FROM 買掛契約先ワーク KW
	LEFT OUTER JOIN (SELECT 契約先,SUM(金額) 購入金額,COUNT(金額) 購入件数 FROM 購入実績テーブル
				WHERE 実績年月 = @JYM
				GROUP BY 契約先) KJ
		ON KJ.契約先 = KW.契約先
	LEFT OUTER JOIN (SELECT 契約先,SUM(金額) 支給金額,COUNT(金額) 支給件数 FROM 支給実績テーブル
				WHERE 実績年月 = @JYM
				GROUP BY 契約先) SJ
		ON SJ.契約先 = KW.契約先
	LEFT OUTER JOIN 買掛支払テーブル KS
		ON KS.契約先 = KW.契約先
		AND KS.実績年月 = @ZYM
	ORDER BY KW.契約先
*/
	SELECT KW.契約先,ISNULL(KJ.購入金額,0) 購入金額,ISNULL(SJ.支給金額,0) 支給金額,
			ISNULL(KS.繰越金額,0) 前月繰越,KW.締日,
			ISNULL(KJ.購入件数,0) 購入件数,ISNULL(SJ.支給件数,0) 支給件数
			,ISNULL(ZK.購入金額,0) 材料購入金額,ISNULL(ZS.支給金額,0) 材料支給金額,
			ISNULL(ZK.購入件数,0) 材料購入件数,ISNULL(ZS.支給件数,0) 材料支給件数
	 FROM 買掛契約先ワーク KW
	LEFT OUTER JOIN (SELECT 契約先,SUM(金額) 購入金額,COUNT(金額) 購入件数 FROM 購入実績テーブル
				WHERE 実績年月 = @JYM
				GROUP BY 契約先) KJ
		ON KJ.契約先 = KW.契約先
	LEFT OUTER JOIN (SELECT 契約先,SUM(金額) 支給金額,COUNT(金額) 支給件数 FROM 支給実績テーブル
				WHERE 実績年月 = @JYM
				GROUP BY 契約先) SJ
		ON SJ.契約先 = KW.契約先
	LEFT OUTER JOIN (SELECT 契約先,SUM(金額) 購入金額,COUNT(金額) 購入件数 FROM 材料購入実績テーブル
				WHERE 実績年月 = @JYM
				GROUP BY 契約先) ZK
		ON ZK.契約先 = KW.契約先
	LEFT OUTER JOIN (SELECT 契約先,SUM(金額) 支給金額,COUNT(金額) 支給件数 FROM 材料支給実績テーブル
				WHERE 実績年月 = @JYM
				GROUP BY 契約先) ZS
		ON ZS.契約先 = KW.契約先
	LEFT OUTER JOIN 買掛支払テーブル KS
		ON KS.契約先 = KW.契約先
		AND KS.実績年月 = @ZYM
	ORDER BY KW.契約先
FOR READ ONLY 
OPEN KWCUR

--* ｶｰｿﾙ項目定義 *--
DECLARE @KTORCD VARCHAR(8),@KKIN MONEY,@SKIN MONEY,@ZKIN MONEY
DECLARE @SHIME TINYINT,@KKENSU INT,@SKENSU INT
--================================ ***2008/06/13 Start
DECLARE @ZKKIN MONEY,@ZSKIN MONEY
DECLARE @ZKKENSU INT,@ZSKENSU INT
--================================ ***2008/06/13 End
--* ﾜｰｸ項目定義 *--
DECLARE @KAIZEI MONEY,@URIZEI MONEY,@SEIKYU MONEY,@KURIKIN MONEY,@PAYKIN MONEY
--*--------------------------------------------------------------------------------*--
--* 今回対象契約先ワーク  読込 							           *
--*--------------------------------------------------------------------------------*--
FETCH NEXT FROM KWCUR INTO 
			@KTORCD ,@KKIN ,@SKIN ,@ZKIN ,@SHIME ,@KKENSU ,@SKENSU
--================================ ***2008/06/13 Start
			,@ZKKIN ,@ZSKIN ,@ZKKENSU ,@ZSKENSU 
--================================ ***2008/06/13 End
WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @TCNT = @TCNT + 1

	IF @THASU = 0 
	   BEGIN
--================================ ***2008/06/13 Start
--*		SELECT @KAIZEI = ROUND( @KKIN * @TAX,0,1)	-- 切捨て
--*		SELECT @URIZEI = ROUND( @SKIN * @TAX,0,1)	-- 切捨て
		SELECT @KAIZEI = ROUND( ( @KKIN + @ZKKIN ) * @TAX,0,1)	-- 切捨て
		SELECT @URIZEI = ROUND( ( @SKIN + @ZSKIN ) * @TAX,0,1)	-- 切捨て
--================================ ***2008/06/13 End
	   END
	IF @THASU = 1 
	   BEGIN
--================================ ***2008/06/13 Start
--*		SELECT @KAIZEI = CEILING( @KKIN * @TAX)	-- 切上げ
--*		SELECT @URIZEI = CEILING( @SKIN * @TAX)	-- 切上げ
		SELECT @KAIZEI = CEILING( ( @KKIN + @ZKKIN ) * @TAX)	-- 切上げ
		SELECT @URIZEI = CEILING( ( @SKIN + @ZSKIN ) * @TAX)	-- 切上げ
--================================ ***2008/06/13 End
	   END
	IF @THASU = 2
	   BEGIN
--================================ ***2008/06/13 Start
--*		SELECT @KAIZEI = ROUND( @KKIN * @TAX,0)	-- 四捨五入
--*		SELECT @URIZEI = ROUND( @SKIN * @TAX,0)	-- 四捨五入
		SELECT @KAIZEI = ROUND( ( @KKIN + @ZKKIN ) * @TAX,0)	-- 四捨五入
		SELECT @URIZEI = ROUND( ( @SKIN + @ZSKIN ) * @TAX,0)	-- 四捨五入
--================================ ***2008/06/13 End
	   END

	IF @KURIKAN = 0
	    BEGIN
--================================ ***2008/06/13 Start
--*		SELECT @SEIKYU = @KKIN + @KAIZEI - @SKIN - @URIZEI
		SELECT @SEIKYU = ( @KKIN + @ZKKIN ) + @KAIZEI - ( @SKIN + @ZSKIN ) - @URIZEI
--================================ ***2008/06/13 End
	    END
	ELSE
	    BEGIN
--================================ ***2008/06/13 Start
--*		SELECT @SEIKYU = @ZKIN + @KKIN + @KAIZEI - @SKIN - @URIZEI
		SELECT @SEIKYU = @ZKIN + ( @KKIN + @ZKKIN ) + @KAIZEI - ( @SKIN + @ZSKIN ) - @URIZEI
--================================ ***2008/06/13 End
	    END

	--* 支払区分別支払金額算出
	SELECT @SHKIN1 = 0,@SHKIN2 = 0
	IF @SHPER1 <> 0 
	    BEGIN
		SELECT @SHKIN1 = @SEIKYU * (CONVERT(DECIMAL(5,2),@SHPER1) / 100)
	    END
	IF @SHPER2 <> 0 
	    BEGIN
		SELECT @SHKIN2 = @SEIKYU * (CONVERT(DECIMAL(5,2),@SHPER2) / 100)
	    END
	IF @SEIKYU <> @SHKIN1 + @SHKIN2
	    BEGIN
		IF @SHKIN1 <> 0
		    BEGIN
			SELECT @SHKIN1 = @SEIKYU - @SHKIN2
		    END
		ELSE
		    BEGIN
			SELECT @SHKIN2 = @SEIKYU - @SHKIN1
		    END
	    END
	--*-------------------------------------------------*--
	--*	買掛支払テーブル 作成
	--*-------------------------------------------------*--
	IF (SELECT COUNT(*) FROM 買掛支払テーブル
		WHERE 実績年月 = @JYM
		    AND 契約先  = @KTORCD) <> 0
	   BEGIN
		UPDATE 買掛支払テーブル SET
			前月繰越 = @ZKIN,
			仕入金額 = @KKIN,
			仕入消費税 = @KAIZEI,
			相殺金額 = @SKIN,
			相殺消費税 = @URIZEI,
			請求金額 = @SEIKYU,
			支払区分1 = @SHKB1,
			支払率1 = @SHPER1,
			支払日1 = @SYMD1,
			支払金額1 = @SHKIN1,
			支払区分2 = @SHKB2,
			支払率2 = @SHPER2,
			支払日2 = @SYMD2,
			支払金額2 = @SHKIN2,
			繰越金額 = CASE WHEN @KURIKAN = 0 THEN 0 ELSE @SEIKYU - 支払金額 END,
--================================ ***2008/06/13 Start
--*			請求件数 = @KKENSU + @SKENSU,
			請求件数 = @KKENSU + @SKENSU + @ZKKENSU + @ZSKENSU,
--================================ ***2008/06/13 End
			締日 = @SHIME
		WHERE 実績年月 = @JYM
		    AND 契約先  = @KTORCD
	 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 51 GOTO PROC_ERROR END
		SELECT @SCNT = @SCNT + 1

	   END
	ELSE
	   BEGIN
		INSERT INTO 買掛支払テーブル
			( 実績年月,契約先,前月繰越,仕入金額,仕入消費税,相殺金額,相殺消費税,請求金額,
			請求書NO,支払金額,繰越金額,支払区分1,支払率1,支払日1,支払手数料1,支払金額1,
			支払区分2,支払率2,支払日2,支払手数料2,支払金額2,
			請求件数,締日,作成日,作成端末,作成者,更新日,更新端末,更新者)
		    VALUES
			( @JYM,@KTORCD,@ZKIN,@KKIN ,@KAIZEI ,@SKIN ,@URIZEI,@SEIKYU,
			  '',0,CASE WHEN @KURIKAN = 0 THEN 0 ELSE @SEIKYU END,
			  @SHKB1,@SHPER1,@SYMD1,0,@SHKIN1,@SHKB2,@SHPER2,@SYMD2,0,@SHKIN2,
--================================ ***2008/06/13 Start
--*			  @KKENSU+@SKENSU,@SHIME,Getdate(),Host_Name(),@TANTO,NULL,'','' )
			  @KKENSU+@SKENSU+@ZKKENSU+@ZSKENSU,@SHIME,Getdate(),Host_Name(),@TANTO,NULL,'','' )
--================================ ***2008/06/13 End
	 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 52 GOTO PROC_ERROR END
		SELECT @SCNT = @SCNT + 1
	   END



-- *----------------------------------------------------*
-- *  今回対象契約先ワークカーソルスクロール(次レコード）  		       *
-- *----------------------------------------------------*
	FETCH NEXT FROM KWCUR INTO 
			@KTORCD ,@KKIN ,@SKIN ,@ZKIN ,@SHIME ,@KKENSU ,@SKENSU
--================================ ***2008/06/13 Start
			,@ZKKIN ,@ZSKIN ,@ZKKENSU ,@ZSKENSU 
--================================ ***2008/06/13 End
END

CLOSE KWCUR
DEALLOCATE KWCUR

------------------------------
--         終 了　
------------------------------
END_PROC:
--SELECT '入力件数' = @TCNT,'作成件数' = @SCNT	--T 
--<<　トランザクション終了 >>------
COMMIT TRANSACTION SHCRT

RETURN(0)
--RETURN
------------------------------
--    エラー処理
------------------------------
PROC_ERROR:
/*
--T

IF @ERR <> 0 
   BEGIN
	SELECT 'ERR=' + CONVERT(CHAR(2),@ERR)
  END
*/
--T END

--RETURN
RETURN(@ERR)

GO
