USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[GETROWCOUNT]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [dbo].[GETROWCOUNT](   @TBLNM	VARCHAR(30),	@WHERE	VARCHAR(255),
				@RCOUNT	INT	OUTPUT)AS
-- *--------------------------------------------------------------------*
-- *									*
-- *	PROCEDURE	GETROWCOUNT					*
-- *									*
-- *	PARAMETER	@TBLNM	- テーブル名				*
-- *			@WHERE	- 条件文設定				*
-- *			@RCOUNT	- データ件数 ( OUTPUT )			*
-- *									*
-- *	OUT-LINE	変数にて確保いているテーブルに対して、		*
-- *			  そのテーブル内の行数を獲得する。		*
-- *									*
-- *	For Example	｢WK1(コンピュータ名)｣テーブルの			*
-- *			  		行数を獲得する場合等…		*
-- *									*
-- *			・条件なし					*
-- *			EXEC GETROWCOUNT @WKNAME1,'',@CNT OUTPUT	*
-- *			・条件あり					*
-- *			SELECT @WHERE = 'WHERE 区分 = 1'		*
-- *			EXEC GETROWCOUNT @WKNAME1,@WHERE,@CNT OUTPUT	*
-- *									*
-- *--------------------------------------------------------------------*
DECLARE @PROCID	VARCHAR(35)

IF @TBLNM = '' RETURN(1)
-- *------------------------------------*
-- *	作成するプロシージャの確認	*
-- *------------------------------------*
SELECT @PROCID = @TBLNM + '_RCNT'
IF NOT EXISTS (select * from sysobjects where id = object_id(@PROCID) and sysstat & 0xf = 4)
   BEGIN
	EXEC ('CREATE PROCEDURE ' + @PROCID + ' (@RCNT INT OUTPUT) AS ' 	+	
		' SELECT @RCNT = (SELECT COUNT(*) FROM ' + @TBLNM 		+
					' ' + @WHERE + ' )'			+
		' RETURN(0) ')
   END

-- *------------------------------------*
-- *	該当テーブルの行数獲得		*
-- *------------------------------------*
EXEC @PROCID @RCOUNT OUTPUT

-- *------------------------------------*
-- *	使用済みプロシージャの削除	*
-- *------------------------------------*
EXEC ('DROP PROCEDURE ' + @PROCID )

RETURN (0)





GO
