USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[TEXT変換システムオブジェクト]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[TEXT変換システムオブジェクト] (@FNAME VARCHAR(50),@OUTCNT INT OUTPUT) AS
--*------------------------------------------------------------------------------------------*--
--*	システムオブジェクトをDAOで直接読込みできない為の処理
--*------------------------------------------------------------------------------------------*--
SET NOCOUNT ON

SELECT @OUTCNT = 0
--ワーク削除
DELETE FROM TEXT変換システムワーク

--挿入
INSERT INTO TEXT変換システムワーク
Select c.[name] cname,t.[name] tname,c.prec,c.scale
 From sysobjects o,syscolumns c,systypes t
 Where o.[name] = @FNAME
 And o.[id] = c.[id]
 And c.usertype = t.usertype
 Order By c.colid, t.variable Desc


SELECT @OUTCNT = (SELECT COUNT(*) FROM TEXT変換システムワーク)

RETURN(0)










GO
