USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[棚卸プレシート発行データ作成]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[棚卸プレシート発行データ作成]	
								@HYM     VARCHAR(6),
								@BASYO   VARCHAR(2),
								@RKBN	 TINYINT,
								@SSBI    VARCHAR(8),
								@SSBI2   VARCHAR(8),
								@OUTCNT  INT  OUTPUT
AS
BEGIN
/*	_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
    _/
    _/		棚卸プレシート発行データ作成
    _/
    _/			PARAMETER	@HYM			: 対象年月
    _/						@BASYO			: 在庫場所
    _/						@RKBN			: 理論在庫表示区分  0:有  1:無
    _/						@SSBI			: 最終出庫日（開始）
    _/						@SSBI2			: 最終出庫日（終了）
    _/						@OUTCNT			: 出力件数
    _/			
	_/			CREATE DATE : 2010/01/06
	_/				UP DATE	: 2010/09/24    By CIS  @CNT1 TINYINT → INT に変更	
    _/			
	_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ */
/*
																			-- ┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬┬
																			--			（　テスト用　）
																			-- ┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴┴
																			DECLARE	@RN INT
																			DECLARE @OUTCNT  INT
																			EXEC	@RN = 棚卸プレシート発行データ作成	@HYM = '200911', @BASYO = '', @RKBN = 0,@SSBI = '',@OUTCNT = @OUTCNT OUTPUT
																			PRINT	'RETURN : ' + CAST( @RN AS VARCHAR(5) ) 
*/
	SET NOCOUNT ON

	DECLARE	@RTN		INT					--
	DECLARE	@WDATE		DATETIME			-- ワーク	日付		
--	DECLARE	@CNT1		TINYINT				-- ワーク			2010/09/24
	DECLARE	@CNT1		INT					-- ワーク			2010/09/24
	DECLARE @WBASYO1	VARCHAR(2)
	DECLARE @WBASYO2	VARCHAR(2)
	DECLARE @WKUBUN1    TINYINT
	DECLARE @WKUBUN2    TINYINT
	
	DECLARE @DENNO      INT					-- 伝票NO
	DECLARE @GYONO      INT					-- 伝票行NO
	DECLARE @BASYO1     VARCHAR(2)			-- 在庫場所1
	DECLARE @BASYO2     VARCHAR(2)			-- 在庫場所2
	DECLARE @TANABAN    VARCHAR(5)			-- 棚番
	DECLARE @SEBAN      VARCHAR(8)			-- 背番号
	DECLARE @HINBAN     VARCHAR(25)			-- 品番
	DECLARE @TORISAKI   VARCHAR(7)			-- 取引先
	DECLARE @UKEIRE     VARCHAR(2)			-- 受入
	DECLARE @KOUJUN     TINYINT				-- 工順
	DECLARE @ZAIKOSU    INT					-- 理論在庫数
	
	DECLARE @Buhin      TINYINT             -- 部品区分
	DECLARE @Gass       TINYINT             -- 自動車/ガス
	
	DECLARE @SAKUBI     DATETIME			-- 作成日
	DECLARE @SAKUSYA    VARCHAR(15)			-- 作成者
	DECLARE @SAKUTAN    VARCHAR(20)			-- 作成端末
	DECLARE @ERRCD      TINYINT				-- エラーコード

	SELECT @CNT1 = 0
	SELECT @SAKUBI = GETDATE()
	SELECT @SAKUSYA = 'SYSTEM'
	SELECT @SAKUTAN = HOST_NAME()
	SELECT @RTN = 0

BEGIN	TRY
	-- *≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	-- *  パラメータチェック
	-- *≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	IF	RTRIM( ISNULL(@HYM,'')    ) = ''	BEGIN RAISERROR('対象年月：未設定', 15, 31 )	END

	-- *≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	-- *  対象年月値妥当性チェック
	-- *≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	SELECT	@WDATE = SUBSTRING( @HYM, 1, 4 ) + '/' + SUBSTRING( @HYM, 5, 2 ) + '/01'

	PRINT	'#DEBUG'													-- VB実行時のｴﾗｰﾒｯｾｰｼﾞには出力されない(「#DEBUG」を起点に非表示)
	PRINT	'-- ☆☆☆☆☆☆☆☆☆☆　【　棚卸プレシート発行データ作成　】処理開始  -  ' + Convert( CHAR(20) ,GETDATE(),20  ) + '(' + DB_NAME() + ')　☆☆☆☆☆☆☆☆☆☆'
	PRINT	'-- ☆'
	/*--------------------------------------
	 *     在 庫 場 所 空 白 時 置 換
	 *--------------------------------------*/
	IF ISNULL(@BASYO,'') = ''
		BEGIN
			SELECT @BASYO = '%'
		END
	/*--------------------------------------------
	 *
	 *     実 行 前 削 除 処 理
	 *
	 *--------------------------------------------*/
	----------------------------------
	-- 棚卸理論在庫ワーク削除
	----------------------------------
	DELETE 棚卸理論在庫ワーク
	 WHERE 処理端末 = @SAKUTAN
	----------------------------------
	-- 棚卸最終出庫実績ワーク削除
	----------------------------------
	DELETE 棚卸最終出庫実績ワーク
	 WHERE 処理端末 = @SAKUTAN
	----------------------------------
	-- 棚卸理論在庫プラスワーク削除
	----------------------------------
	DELETE 棚卸理論在庫プラスワーク
	 WHERE 処理端末 = @SAKUTAN
	----------------------------------
	-- 棚卸理論在庫マイナスワーク削除
	----------------------------------
	DELETE 棚卸理論在庫マイナスワーク
	 WHERE 処理端末 = @SAKUTAN
	----------------------------------
	-- 棚卸プレシート発行テーブル削除
	----------------------------------
	DELETE 棚卸プレシート発行テーブル
	 WHERE 発行年月 = @HYM
	   AND 在庫場所1 LIKE @BASYO
	/*--------------------------------------
	 *
	 *     理 論 在 庫 数 計 算
	 *
	 *--------------------------------------*/
	IF @RKBN = 0
		BEGIN
			----------------------------------
			-- 棚卸理論在庫プラスワーク作成
			----------------------------------
			INSERT INTO 棚卸理論在庫プラスワーク
			SELECT SZ.品番,SZ.実績先,SZ.受入,SZ.工順,SUM(SZ.合計) 在庫数,@SAKUTAN 処理端末
			  FROM (
					SELECT SN.品番,SN.部門 実績先,SN.受入,SN.工順,SUM(ISNULL(SN.加工数,0)) 合計
					  FROM 作業日報テーブル SN
					  LEFT OUTER JOIN 在庫マスタ ZM
						ON ZM.年月度 = @HYM
					   AND ZM.品番 = SN.品番
					   AND ZM.取引先 = SN.部門
					   AND ZM.受入 = SN.受入
					   AND ZM.工順 = SN.工順
					 WHERE SUBSTRING(SN.作業日,1,6) = @HYM
					   AND SN.作業日 > ISNULL(ZM.実棚日,'')
					 GROUP BY SN.品番,SN.部門,SN.受入,SN.工順
					UNION
					SELECT ZK.品番,ZK.実績先,ZK.受入,ZK.工順,SUM(ISNULL(ZK.実績数,0)) 合計
					  FROM 実績管理テーブル ZK
					  LEFT OUTER JOIN 在庫マスタ ZM
						ON ZM.年月度 = @HYM
					   AND ZM.品番 = ZK.品番
					   AND ZM.取引先 = ZK.実績先
					   AND ZM.受入 = ZK.受入
					   AND ZM.工順 = ZK.工順
					 WHERE SUBSTRING(ZK.実績日,1,6) = @HYM
					   AND ZK.実績区分 = 1
					   AND ZK.実績日 > ISNULL(ZM.実棚日,'')
					 GROUP BY ZK.品番,ZK.実績先,ZK.受入,ZK.工順
					) SZ
			 GROUP BY SZ.品番,SZ.実績先,SZ.受入,SZ.工順
			----------------------------------
			-- 棚卸理論在庫マイナスワーク作成
			---------------------------------- 
			INSERT INTO 棚卸理論在庫マイナスワーク
			SELECT ZK.品番,ZK.実績先,ZK.受入,ZK.工順,SUM(ISNULL(ZK.実績数,0)) 在庫数,@SAKUTAN 処理端末
			  FROM 実績管理テーブル ZK
			  LEFT OUTER JOIN 在庫マスタ ZM
				ON ZM.年月度 = @HYM
			   AND ZM.品番 = ZK.品番
			   AND ZM.取引先 = ZK.実績先
			   AND ZM.受入 = ZK.受入
			   AND ZM.工順 = ZK.工順
			 WHERE SUBSTRING(ZK.実績日,1,6) = @HYM
			   AND ZK.実績区分 <> 1
			   AND ZK.入力種類 <> 'A'
			   AND ZK.実績日 > ISNULL(ZM.実棚日,'')
			 GROUP BY ZK.品番,ZK.実績先,ZK.受入,ZK.工順
			----------------------------------
			-- 棚卸理論在庫ワーク作成
			----------------------------------
			INSERT INTO 棚卸理論在庫ワーク
			SELECT RZ.品番,RZ.実績先,RZ.受入,RZ.工順,SUM(RZ.在庫数) 理論在庫数,@SAKUTAN 処理端末
			  FROM (
					SELECT ZM.品番,ZM.取引先 実績先,ZM.受入,ZM.工順,ZM.在庫数
					  FROM 在庫マスタ ZM
					 WHERE ZM.年月度 = @HYM
					UNION
					SELECT TP.品番,TP.実績先,TP.受入,TP.工順,TP.在庫数
					  FROM 棚卸理論在庫プラスワーク TP
					 WHERE TP.処理端末 = @SAKUTAN
					UNION
					SELECT TM.品番,TM.実績先,TM.受入,TM.工順,(TM.在庫数 * -1) 在庫数
					  FROM 棚卸理論在庫マイナスワーク TM
					 WHERE TM.処理端末 = @SAKUTAN
					) RZ
			 GROUP BY RZ.品番,RZ.実績先,RZ.受入,RZ.工順
		END
		
	PRINT	'-- ☆         [ 棚卸理論在庫ワーク作成         ] 作成件数 - ' + CONVERT(VARCHAR,@@ROWCOUNT) + ' 件'
	PRINT	'-- ☆'
	
	/*--------------------------------------
	 *
	 *     棚卸最終出庫実績ワーク作成
	 *
	 *--------------------------------------*/
	 
	IF ISNULL(@SSBI,'') <> '' AND ISNULL(@SSBI2,'') <> ''
		BEGIN
			INSERT INTO 棚卸最終出庫実績ワーク
			SELECT 品番,実績先,受入,工順,@SAKUTAN 処理端末
			  FROM 実績管理テーブル
			 WHERE 実績日 < @SSBI
			    Or 実績日 > @SSBI2
			 GROUP BY 品番,実績先,受入,工順
		END
	Else
		if ISNULL(@SSBI,'') <> '' AND ISNULL(@SSBI2,'') = ''
			BEGIN
				INSERT INTO 棚卸最終出庫実績ワーク
				SELECT 品番,実績先,受入,工順,@SAKUTAN 処理端末
				  FROM 実績管理テーブル
				 WHERE 実績日 < @SSBI
				 GROUP BY 品番,実績先,受入,工順
			END
		else
			if ISNULL(@SSBI,'') = '' AND ISNULL(@SSBI2,'') <> ''
				BEGIN
					INSERT INTO 棚卸最終出庫実績ワーク
					SELECT 品番,実績先,受入,工順,@SAKUTAN 処理端末
					  FROM 実績管理テーブル
					 WHERE 実績日 > @SSBI2
					 GROUP BY 品番,実績先,受入,工順
				END
			else
				BEGIN
					INSERT INTO 棚卸最終出庫実績ワーク
					SELECT 品番,取引先,受入,工順,@SAKUTAN 処理端末
					  FROM 品番工順マスタ
					 WHERE 棚卸プレシート発行 = 0
					 GROUP BY 品番,取引先,受入,工順
				END
			
	--IF ISNULL(@SSBI,'') <> '' 
	--	BEGIN
	--		INSERT INTO 棚卸最終出庫実績ワーク
	--		SELECT 品番,実績先,受入,工順,@SAKUTAN 処理端末
	--		  FROM 実績管理テーブル
	--		 WHERE 実績日 <= @SSBI
	--		 GROUP BY 品番,実績先,受入,工順
	--	END
	--ELSE
	--	BEGIN
	--		INSERT INTO 棚卸最終出庫実績ワーク
	--		SELECT 品番,取引先,受入,工順,@SAKUTAN 処理端末
	--		  FROM 品番工順マスタ
	--		 WHERE 棚卸プレシート発行 = 0
	--		 GROUP BY 品番,取引先,受入,工順
	--	END
		
	PRINT	'-- ☆         [ 棚卸最終出庫実績ワーク作成　　 ] 作成件数 - ' + CONVERT(VARCHAR,@@ROWCOUNT) + ' 件'
	PRINT	'-- ☆'
	
	/*---------------------------------------------
	 *
	 *      棚卸プレシート発行テーブル追加処理
	 *
	 *----------------------------------------------*/
	DECLARE	IN_CURSOR	CURSOR
	FOR
		SELECT SUBSTRING(HKM.置場,1,2) 在庫場所1, SUBSTRING(HKM.置場,3,2) 在庫場所2
			 , CASE WHEN SUBSTRING(HKM.置場,7,2) <> ''
					THEN SUBSTRING(HKM.置場,5,2) + '-' + SUBSTRING(HKM.置場,7,2)
					ELSE SUBSTRING(HKM.置場,5,2)
				END 棚番
			 , ISNULL(HTM.背番号,'') 背番号, HKM.品番, HKM.取引先, HKM.受入, HKM.工順, ISNULL(TR.理論在庫数,'') 在庫数
			 , ISNULL(HTM.部品区分,0) 部品区分, ISNULL(HN.部品区分,0) ガス
		  FROM 品番工順マスタ HKM
		  --LEFT OUTER JOIN 名称マスタ SM
		  --  ON SM.区分名称 = '管理場所'
		  -- AND SM.値 = SUBSTRING(HKM.置場,1,2)
		  --LEFT OUTER JOIN 名称マスタ SY
		  --  ON SY.区分名称 = '管理場所ユーザー'
		  -- AND SY.値 = SUBSTRING(HKM.置場,3,2)
		  LEFT OUTER JOIN 品番取引先マスタ HTM
		    ON HTM.品番 = HKM.品番
		   AND HTM.取引先 = HKM.取引先
		   AND HTM.受入 = HKM.受入
		  LEFT OUTER JOIN 品番マスタ HN
		    ON HN.品番 = HKM.品番
		  LEFT OUTER JOIN 棚卸理論在庫ワーク TR
		    ON TR.品番 = HKM.品番
		   AND TR.実績先 = HKM.取引先
		   AND TR.受入 = HKM.受入
		   AND TR.工順 = HKM.工順
		   AND TR.処理端末 = @SAKUTAN
		 INNER JOIN 棚卸最終出庫実績ワーク TS
		    ON TS.品番 = HKM.品番
		   AND TS.実績先 = HKM.取引先
		   AND TS.受入 = HKM.受入
		   AND TS.工順 = HKM.工順
		   AND TS.処理端末 = @SAKUTAN
		 WHERE HKM.棚卸プレシート発行 = 0
		   AND SUBSTRING(HKM.置場,1,2) LIKE @BASYO
--		 ORDER BY HKM.置場,HTM.背番号,HKM.品番
		 ORDER BY SUBSTRING(HKM.置場,1,2),SUBSTRING(HKM.置場,3,2),ISNULL(HTM.部品区分,0),ISNULL(HN.部品区分,0),SUBSTRING(HKM.置場,5,4),HTM.背番号,HKM.品番
	FOR	READ ONLY

	OPEN	IN_CURSOR												-- ｶｰｿﾙ ｵｰﾌﾟﾝ

	FETCH NEXT FROM	IN_CURSOR INTO	@BASYO1,@BASYO2,@TANABAN,@SEBAN,@HINBAN,@TORISAKI,@UKEIRE,@KOUJUN,@ZAIKOSU,@BUHIN,@GASS
	
	SELECT @GYONO = 50
	SELECT @WBASYO1 = @BASYO1
	SELECT @WBASYO2 = @BASYO2
	SELECT @WKUBUN1 = @BUHIN
	SELECT @WKUBUN2 = @GASS
	
	WHILE @@FETCH_STATUS = 0
		BEGIN
			IF @GYONO = 50 OR @WBASYO1 <> @BASYO1 OR @WBASYO2 <> @BASYO2 OR @WKUBUN1 <> @BUHIN OR @WKUBUN2 <> @GASS
				BEGIN
					---------------------------
					-- 伝票NO 採番
					---------------------------
					EXEC 番号獲得 23,@DENNO OUTPUT,@ERRCD OUTPUT
					--IF @ERRCD <> 0 BEGIN	 SELECT @ERRCD = 71 	GOTO PROC_ERR	END
					
					SELECT @GYONO = 0
					SELECT @WBASYO1 = @BASYO1
					SELECT @WBASYO2 = @BASYO2
					SELECT @WKUBUN1 = @BUHIN
					SELECT @WKUBUN2 = @GASS
				END
			
			SELECT @CNT1 = @CNT1 + 1
			SELECT @GYONO = @GYONO + 1
			
			-----------------------------------
			-- 棚卸プレシート発行テーブル追加
			-----------------------------------
			INSERT INTO 棚卸プレシート発行テーブル
			       VALUES (@HYM,@DENNO,@GYONO,@BASYO1,@BASYO2,@TANABAN,@SEBAN,@HINBAN
						  ,@TORISAKI,@UKEIRE,@KOUJUN,@ZAIKOSU,0,@BUHIN,@GASS,@SAKUBI,@SAKUSYA,@SAKUTAN)
		
	--		< 次 >
			FETCH NEXT FROM	IN_CURSOR INTO	@BASYO1,@BASYO2,@TANABAN,@SEBAN,@HINBAN,@TORISAKI,@UKEIRE,@KOUJUN,@ZAIKOSU,@BUHIN,@GASS
		END

	CLOSE		IN_CURSOR											-- ｶｰｿﾙ ｸﾛｰｽﾞ
	DEALLOCATE	IN_CURSOR											-- ｶｰｿﾙ 解放

	PRINT	'-- ☆         [ 棚卸プレシート発行テーブル追加 ] 追加件数 - ' + CONVERT(VARCHAR,@CNT1) + ' 件'
	PRINT	'-- ☆'
	PRINT	'-- ☆☆☆☆☆☆☆☆☆☆　【　棚卸プレシート発行データ作成　】処理終了   ☆☆☆☆☆☆☆☆☆☆'
END		TRY

BEGIN CATCH							/*	RAISERROR( 'XXX Error', 15, 31 )… RAISERROR( 'ﾒｯｾｰｼﾞ', ERROR_SEVERITY, ERROR_STATE )
											※ SEVERITY=18でRAISERRORを発生させると、VB側のｴﾗｰﾒｯｾｰｼﾞは表示されない(変更可)
										
										ERROR_NUMBER	:	エラーの番号を返します。
										ERROR_SEVERITY	:	重大度を返します。
										ERROR_STATE		:	エラー状態番号を返します。
										ERROR_PROCEDURE	:	エラーが発生したストアド プロシージャまたはトリガの名前を返します。
										ERROR_LINE		:	エラーを発生させたルーチン内の行番号を返します。
										ERROR_MESSAGE	:	メッセージの完全なテキストを返します。									*/
	DECLARE	@WSEVERITY		INT
	DECLARE	@ERRMSG			VARCHAR(200)
	DECLARE	@ERRFLG			TINYINT

	SELECT  @ERRFLG = 1

	SELECT	@WSEVERITY = ERROR_SEVERITY(),@RTN = ERROR_STATE(), @ERRMSG = ERROR_MESSAGE()

	IF	ERROR_NUMBER() = 242 AND ERROR_SEVERITY() = 16 AND ERROR_STATE() = 3	--日付値範囲外
		BEGIN
			SELECT	@ERRMSG = '対象年月値範囲外(' + @HYM + ')'
		END

	IF @RTN <> 0
	   BEGIN
			SELECT	@ERRMSG = @ERRMSG + '(' + CAST( @RTN AS CHAR(2) ) + ')'
	   END

	IF	ERROR_NUMBER() = 50000 AND ERROR_SEVERITY() = 18 AND ERROR_STATE() = 30
		BEGIN
			PRINT	'-- ☆☆☆☆☆☆☆☆☆☆　【　棚卸プレシート発行データ作成　】処理終了  -  ' + Convert( CHAR(20) ,GETDATE(),20  ) +  '(' + DB_NAME() + ')　☆☆☆☆☆☆☆☆☆☆'
			SELECT  @ERRFLG = 0
		END
	IF @ERRFLG = 1
	    BEGIN
			SELECT	@ERRMSG = @ERRMSG + SPACE(10)
			RAISERROR( @ERRMSG, @WSEVERITY, @RTN )
		END
	RETURN	( @RTN )
END CATCH
	RETURN	( @RTN )

END



GO
