USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[S展開処理_構成]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[S展開処理_構成] (@NJYM VARCHAR(6) , @RTN TINYINT OUTPUT ) AS
-- *-----------------------------------------------------------------
-- *	S展開処理_構成 （内示シュミレーション用）
-- *-----------------------------------------------------------------

/*	TEST	 */
--Ｔ  DECLARE @NJYM		VARCHAR(6)
--Ｔ  DECLARE @RTN		TINYINT
--Ｔ  SELECT @NJYM = '200405'
--Ｔ  SELECT @RTN = 0	
/*	TEST	*/

DECLARE @WDATE		VARCHAR(8)
DECLARE @NJYM_YG	VARCHAR(6)
DECLARE @NJYM_YYG	VARCHAR(6)

DECLARE @IND		TINYINT
DECLARE @INDX		VARCHAR(3)
DECLARE @LOOP		TINYINT
DECLARE @MAX_LOOP	TINYINT
DECLARE @WHINBN		VARCHAR(25)
-- 構成情報退避
DECLARE @KO_ORDER	VARCHAR(300)
DECLARE @KO_LEVEL	TINYINT
DECLARE @KO_OHINBN	VARCHAR(25)
DECLARE @KO_KHINBN	VARCHAR(25)
DECLARE @KO_KOSUR	DECIMAL(8,4)
DECLARE @KO_TENKB	TINYINT
DECLARE @KO_LTIME		TINYINT
DECLARE @KO_SDATE	VARCHAR(8)
DECLARE @KO_EDATE	VARCHAR(8)


SELECT @IND = 0
SELECT @MAX_LOOP = 20
SET NOCOUNT ON

SELECT @WDATE = @NJYM + '01'
EXEC cDateAdd @WDATE,'M',1,'1','',@NJYM_YG  OUTPUT
EXEC cDateAdd @WDATE,'M',2,'1','',@NJYM_YYG OUTPUT

-- *-----------------------------------------------------------------
-- *	S発注内示構成ワーク	削除
-- *-----------------------------------------------------------------
DELETE S発注内示構成テーブル 
	WHERE 処理端末 = HOST_NAME()
IF @@ERROR <> 0	BEGIN	GOTO PROC_ERR	END

DELETE S発注内示構成ワーク 
	WHERE 処理端末 = HOST_NAME()
IF @@ERROR <> 0	BEGIN	GOTO PROC_ERR	END

-- *-----------------------------------------------------------------
-- *	S発注内示構成ワーク 作成 (レベル０)
-- *-----------------------------------------------------------------
/*
INSERT INTO S発注内示構成テーブル
	(処理端末,順位,レベル,親品番,品番,手配先,受入,直送先,親納期,納期,仕掛日,手配日,数量,構成数,
	 手配区分,展開区分,作成日,作成者,作成端末)
	SELECT SUBSTRING(HOST_NAME(),1,20),'',0,'',品番, 手配先, 受入, '', 納期, 納期, 仕掛日, 手配日, 数量, 0,
		'', 0,GETDATE(),'CNJ0450',SUBSTRING(HOST_NAME(),1,20)
		FROM S生産計画テーブル

IF @@ERROR <> 0	BEGIN	GOTO PROC_ERR	END
*/
-- SELECT * FROM S発注内示構成テーブル

-- *-----------------------------------------------------------------
-- *	S発注内示構成ワーク 作成 (レベル０)
-- *-----------------------------------------------------------------
DECLARE KO_CUR	CURSOR
FOR
SELECT 品番
	FROM S生産計画テーブル
	GROUP BY 品番
	ORDER BY 品番

OPEN KO_CUR
FETCH NEXT FROM KO_CUR	INTO @KO_OHINBN
	
SELECT @IND = 0
WHILE	@@FETCH_STATUS = 0
    BEGIN

	SELECT @IND = @IND + 1	
	EXEC cFORMATX 3,@IND,0,@INDX OUTPUT


	INSERT INTO S発注内示構成テーブル
		(処理端末,順位,レベル,親品番,品番,手配先,受入,直送先,親納期,納期,仕掛日,手配日,数量,構成数,
		 手配区分,展開区分,作成日,作成者,作成端末)
		SELECT SUBSTRING(HOST_NAME(),1,20),@INDX,0,'',品番, 手配先, 受入, '', 納期, 納期, 仕掛日, 手配日, 数量, 0,
			'', 0,GETDATE(),'CNJ0450',SUBSTRING(HOST_NAME(),1,20)
			FROM S生産計画テーブル
			WHERE 品番 = @KO_OHINBN

	IF @@ERROR <> 0	BEGIN	GOTO PROC_ERR	END



	FETCH NEXT FROM KO_CUR	INTO @KO_OHINBN
    END
-- *---------------------------------------------------*
-- *	CURSOR CLOSE & DELETE
-- *---------------------------------------------------*
CLOSE KO_CUR
DEALLOCATE KO_CUR

-- *-----------------------------------------------------------------
-- *	レベル１以降 セット
-- *-----------------------------------------------------------------

SELECT @LOOP = 0
SELECT @WHINBN = ''
WHILE @LOOP < @MAX_LOOP
    BEGIN
	
	DECLARE KO_CUR	CURSOR
	FOR
	SELECT KW.順位,KO.親品番,KO.子品番,KO.構成数,
		KO.展開区分,KO.LT,KO.適用開始日,KO.適用終了日
		FROM S発注内示構成テーブル KW
		LEFT OUTER JOIN 構成マスタ KO
		  ON KO.親品番 = KW.品番
		WHERE KW.レベル = @LOOP
		   AND KW.処理端末 = HOST_NAME()
		GROUP BY KW.順位,KO.親品番,KO.子品番,KO.構成数,
			 KO.展開区分,KO.LT,KO.適用開始日,KO.適用終了日
		ORDER BY KW.順位,KO.子品番
	
	OPEN KO_CUR
	FETCH NEXT FROM KO_CUR	INTO @KO_ORDER,@KO_OHINBN,@KO_KHINBN,@KO_KOSUR,
					@KO_TENKB,@KO_LTIME,@KO_SDATE,@KO_EDATE
		
	SELECT @IND = 0
	WHILE	@@FETCH_STATUS = 0
	    BEGIN
		
		IF ISNULL(@KO_OHINBN,'') <> ''
		    BEGIN
			IF @WHINBN <> @KO_OHINBN
			    BEGIN
				SELECT @IND = 0
				SELECT @WHINBN = @KO_OHINBN
			    END
	
			SELECT @IND = @IND + 1	
			EXEC cFORMATX 3,@IND,0,@INDX OUTPUT
	
			INSERT INTO S発注内示構成ワーク
				(処理端末,順位,レベル,親品番,品番,手配先,受入,直送先,親納期,納期,仕掛日,手配日,数量, 構成数,
				 LT,Week1,Week2,Week3,Week4,Week5,Day1,Day2,Day3,Day4,Day5,
				 手配区分,発注比率,発注比率計,件数,展開区分,稼動カウント)
				SELECT SUBSTRING(HOST_NAME(),1,20),@KO_ORDER + @INDX,@LOOP + 1,@KO_OHINBN,@KO_KHINBN,

					CASE ISNULL( H1.取引先, '' ) WHEN '' THEN ISNULL( H2.取引先, '' ) ELSE H1.取引先 END 手配先,
					CASE ISNULL( H1.受入,   '' ) WHEN '' THEN ISNULL( H2.受入,   '' ) ELSE H1.受入   END 受入,
					ISNULL( H1.納入先, '' ) 直送先, KT.納期, '' 納期, '' 仕掛日, '' 手配日, KT.数量 * @KO_KOSUR, @KO_KOSUR,

					CASE WHEN H1.LT IS NULL		THEN ISNULL( H2.LT, '' ) 	ELSE H1.LT 	END LT,
					CASE WHEN H1.Week1 IS NULL 	THEN ISNULL( H2.Week1, 0 ) 	ELSE H1.Week1 	END Week1,
					CASE WHEN H1.Week2 IS NULL 	THEN ISNULL( H2.Week2, 0 ) 	ELSE H1.Week2 	END Week2,
					CASE WHEN H1.Week3 IS NULL 	THEN ISNULL( H2.Week3, 0 ) 	ELSE H1.Week3 	END Week3,
					CASE WHEN H1.Week4 IS NULL 	THEN ISNULL( H2.Week4, 0 ) 	ELSE H1.Week4 	END Week4,
					CASE WHEN H1.Week5 IS NULL 	THEN ISNULL( H2.Week5, 0 ) 	ELSE H1.Week5 	END Week5,

					CASE WHEN H1.Day1 IS NULL 	THEN ISNULL( H2.Day1, 0 ) 	ELSE H1.Day1 	END Day1,
					CASE WHEN H1.Day2 IS NULL 	THEN ISNULL( H2.Day2, 0 ) 	ELSE H1.Day2 	END Day2,
					CASE WHEN H1.Day3 IS NULL 	THEN ISNULL( H2.Day3, 0 ) 	ELSE H1.Day3 	END Day3,
					CASE WHEN H1.Day4 IS NULL 	THEN ISNULL( H2.Day4, 0 ) 	ELSE H1.Day4 	END Day4,
					CASE WHEN H1.Day5 IS NULL 	THEN ISNULL( H2.Day5, 0 ) 	ELSE H1.Day5 	END Day5,

					CASE WHEN H1.手配区分 IS NULL 	THEN ISNULL( H2.手配区分, 0 ) 	ELSE H1.手配区分 END 手配区分,
					CASE WHEN H1.発注比率 IS NULL 	THEN CASE WHEN ISNULL( H2.発注比率, 0 ) = 0
										THEN 100
										ELSE H2.発注比率
								     END
								ELSE CASE WHEN H1.発注比率 = 0
										THEN 100
										ELSE H1.発注比率
								     END
								END 発注比率,
					CASE WHEN H1.発注比率 IS NULL 	THEN CASE WHEN ISNULL( H2.発注比率, 0 ) = 0
										THEN 100
										ELSE H2.発注比率
								     END
								ELSE CASE WHEN H1.発注比率 = 0
										THEN 100
										ELSE H1.発注比率
								     END
								END 発注比率計,
					1 件数, KT.展開区分, 0 稼動カウント
					FROM S発注内示構成テーブル KT

					LEFT OUTER JOIN 品番取引先マスタ H1
					  ON  H1.品番 = @KO_KHINBN
					 AND  H1.品目 = 1
					 AND  H1.手配区分 = 1
					 AND  H1.納入先 = KT.手配先
					 AND  H1.有効期限開始 <= KT.親納期
					 AND  CASE WHEN H1.有効期限終了 = '' THEN '9' ELSE H1.有効期限終了 END >= KT.親納期
					LEFT OUTER JOIN 品番取引先マスタ H2
					  ON   H2.品番 = CASE WHEN ISNULL( H1.品番, '' ) = '' THEN @KO_KHINBN ELSE '' END 	
					 AND  H2.品目 = 1
					 AND  H2.手配区分 <> 1
					 AND  H2.有効期限開始 <= KT.親納期
					 AND  CASE WHEN H2.有効期限終了 = '' THEN '9' ELSE H2.有効期限終了 END >= KT.親納期
					WHERE KT.品番 = @KO_OHINBN
					  AND KT.順位 = @KO_ORDER
					  AND KT.レベル = @LOOP

	
			IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END
		END

		FETCH NEXT FROM KO_CUR	INTO @KO_ORDER,@KO_OHINBN,@KO_KHINBN,@KO_KOSUR,
					@KO_TENKB,@KO_LTIME,@KO_SDATE,@KO_EDATE
	    END 

	-- *---------------------------------------------------*
	-- *	CURSOR CLOSE & DELETE
	-- *---------------------------------------------------*
	CLOSE KO_CUR
	DEALLOCATE KO_CUR

	-- *-----------------------------------------------------------------
	-- *	S発注内示構成ワーク 納期算出 (レベル１)
	-- *-----------------------------------------------------------------
	SELECT @LOOP = @LOOP + 1

	TRUNCATE TABLE	S発注内示構成納期ワーク

	INSERT INTO S発注内示構成納期ワーク
		(処理端末,順位,レベル,親品番,品番,手配先,受入,直送先,親納期,納期,仕掛日,手配日,数量,構成数,
		 LT,Week1,Week2,Week3,Week4,Week5,Day1,Day2,Day3,Day4,Day5,
		 手配区分,発注比率,発注比率計,件数,展開区分,稼動カウント)
		SELECT 処理端末,MIN(順位),レベル,親品番,品番,手配先,受入,直送先,親納期,納期,仕掛日,手配日,SUM(数量),構成数,
			 LT,Week1,Week2,Week3,Week4,Week5,Day1,Day2,Day3,Day4,Day5,
			 手配区分,発注比率,発注比率計,件数,展開区分,稼動カウント
			FROM S発注内示構成ワーク
			WHERE レベル = @LOOP
			GROUP BY 処理端末,レベル,親品番,品番,手配先,受入,直送先,親納期,納期,仕掛日,手配日,構成数,
				 LT,Week1,Week2,Week3,Week4,Week5,Day1,Day2,Day3,Day4,Day5,
				 手配区分,発注比率,発注比率計,件数,展開区分,稼動カウント


	EXEC S展開処理_構成納期 @NJYM,@LOOP,@RTN OUTPUT

    END



TRUNCATE TABLE	S内示問合せワーク
-- *-----------------------------------------------------------------
-- *	S内示問合せワーク	  作成
-- *-----------------------------------------------------------------
INSERT INTO S内示問合せワーク
	(処理端末, 年月, 順位, レベル , 品番, 手配先, 受入, 直送先, 区分, 当月数, 翌月数, 翌々月数,
	 日量数01, 日量数02, 日量数03, 日量数04, 日量数05, 日量数06, 日量数07, 日量数08, 日量数09, 日量数10, 
	 日量数11, 日量数12, 日量数13, 日量数14, 日量数15, 日量数16, 日量数17, 日量数18, 日量数19, 日量数20, 
	 日量数21, 日量数22, 日量数23, 日量数24, 日量数25, 日量数26, 日量数27, 日量数28, 日量数29, 日量数30, 日量数31) 
	SELECT HOST_NAME(), HK.年月,HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 0, 0, 0, 0,
		SUM(日01), SUM(日02), SUM(日03), SUM(日04), SUM(日05), SUM(日06), SUM(日07), SUM(日08), SUM(日09), SUM(日10),
		SUM(日11), SUM(日12), SUM(日13), SUM(日14), SUM(日15), SUM(日16), SUM(日17), SUM(日18), SUM(日19), SUM(日20),
		SUM(日21), SUM(日22), SUM(日23), SUM(日24), SUM(日25), SUM(日26), SUM(日27), SUM(日28), SUM(日29), SUM(日30), SUM(日31)
		FROM S内示問合せビュー HK
		GROUP BY 年月,HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END
-- *-----------------------------------------------------------------
-- *	S内示問合せワーク	  月量数更新
-- *-----------------------------------------------------------------
UPDATE S内示問合せワーク SET
	S内示問合せワーク.当月数 = ISNULL(TG.数量,0),
	S内示問合せワーク.翌月数 = ISNULL(YG.数量,0),
	S内示問合せワーク.翌々月数 = ISNULL(YYG.数量,0)
	FROM S内示問合せワーク HK
	LEFT OUTER JOIN (SELECT 順位,レベル,品番,手配先,受入,直送先,SUM(数量) 数量 
				FROM S発注内示構成テーブル 
				WHERE SUBSTRING(納期,1,6) = @NJYM
				GROUP BY 順位,レベル,品番,手配先,受入,直送先) TG
	  ON TG.順位 = HK.順位
	 AND TG.レベル = HK.レベル
	 AND TG.品番 = HK.品番
	 AND TG.手配先 = HK.手配先
	 AND TG.受入 = HK.受入
	 AND TG.直送先 = HK.直送先
	LEFT OUTER JOIN (SELECT 順位,レベル,品番,手配先,受入,直送先,SUM(数量) 数量 
				FROM S発注内示構成テーブル 
				WHERE SUBSTRING(納期,1,6) = @NJYM_YG
				GROUP BY 順位,レベル,品番,手配先,受入,直送先) YG
	  ON YG.順位 = HK.順位
	 AND YG.レベル = HK.レベル
	 AND YG.品番 = HK.品番
	 AND YG.手配先 = HK.手配先
	 AND YG.受入 = HK.受入
	 AND YG.直送先 = HK.直送先
	LEFT OUTER JOIN (SELECT 順位,レベル,品番,手配先,受入,直送先,SUM(数量) 数量 
				FROM S発注内示構成テーブル 
				WHERE SUBSTRING(納期,1,6) = @NJYM_YYG
				GROUP BY 順位,レベル,品番,手配先,受入,直送先) YYG
	  ON YYG.順位 = HK.順位
	 AND YYG.レベル = HK.レベル
	 AND YYG.品番 = HK.品番
	 AND YYG.手配先 = HK.手配先
	 AND YYG.受入 = HK.受入
	 AND YYG.直送先 = HK.直送先

-- *--------------------------------------------------*
-- *	正  常  終  了
-- *--------------------------------------------------*
PROC_END:
RETURN(0)
-- *--------------------------------------------------*
-- *	異  常  終  了
-- *--------------------------------------------------*
PROC_ERR:
RETURN(1)



GO
