USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[発注日算出]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO






CREATE   PROCEDURE [dbo].[発注日算出] (@TORCD VARCHAR(7),@UKEIR VARCHAR(2),@CYCLE VARCHAR(5),@HTIME VARCHAR(4),
					@FBIN VARCHAR(2),@FGYO TINYINT,@RDYMD VARCHAR(8),@RDTIME VARCHAR(4),
					@HYMD VARCHAR(8) OUTPUT,@CERR TINYINT OUTPUT ) AS
-------------------------------------------------------------------------------------------------
--  	発注日算出
--
--	処理内容　：	サイクル（日）が２以上の場合の発注日算出
--
--	パラメタ		@TORCD 	仕入先
--			@UKEIR	受入
--			@CYCLE	サイクル
--			@HTIME	振出時間
--			@HINBN	品番
--			@RDYMD	読取日
--			@RDTIME	読取時間
--	(戻り値）	@HYMD	発注日
--			@CERR	0:正常終了,100:最終発注日なし、101:開始発注日より前
--
--	作成日　：	2005/05/12
--
-------------------------------------------------------------------------------------------------
DECLARE @ENDHYMD VARCHAR(8),@STHYMD VARCHAR(8)
DECLARE @CYCLEDAY TINYINT		--サイクル（日）
SET NOCOUNT ON


/*
DECLARE @TORCD VARCHAR(7),@CYCLE VARCHAR(5),@UKEIR VARCHAR(2),@HTIME VARCHAR(4)
DECLARE @HINBN VARCHAR(25),@RDYMD VARCHAR(8),@RDTIME VARCHAR(4)
DECLARE @HYMD VARCHAR(8),@CERR TINYINT
SELECT @TORCD = '10030',@CYCLE = '20101',@UKEIR = '01',@RDYMD = '20040506',@RDTIME = '1730',@HTIME = '1730'
SELECT @FBIN = '01',@FGYO = 0
*/

--
SELECT @HYMD = '',@ENDHYMD = '',@STHYMD = '',@CERR = 0
SELECT @CYCLEDAY = CONVERT(TINYINT,SUBSTRING(@CYCLE,1,1))
-------------------------------------------------------
--	最終発注日を求める
-------------------------------------------------------
SELECT @ENDHYMD = HT.最終発注日,@STHYMD = TR.開始発注日
 FROM 発注サイクルマスタ HT
LEFT OUTER JOIN 取引先マスタ TR
	ON TR.取引先CD = HT.仕入先
	AND TR.取引先区分 = 1
WHERE HT.仕入先 = @TORCD
    AND HT.サイクル = @CYCLE
    AND HT.受入 = @UKEIR
    AND HT.振出便 = @FBIN
    AND HT.行識別 = @FGYO

IF @ENDHYMD = '' AND @STHYMD = ''
    BEGIN
	SELECT @CERR = 100
	GOTO PROC_ERR
    END
-------------------------------------
--	開始発注日チェック
-------------------------------------
IF @ENDHYMD = '' AND @STHYMD <> ''
    BEGIN
	EXEC 日付加算 @RDYMD,@CYCLEDAY,@HYMD OUTPUT,@CERR OUTPUT
	IF @HYMD < @STHYMD
	    BEGIN
		SELECT @CERR = 101			-- 開始発注日以前
		GOTO PROC_ERR
	    END
	SELECT @ENDHYMD = @STHYMD
    END
SELECT @HYMD = @ENDHYMD

---------------------------------------------------
--	読取日を超えるまで最終発注日にサイクル（日）を加算
---------------------------------------------------
WHILE @HYMD + @HTIME <= @RDYMD + @RDTIME
    BEGIN 
	EXEC 日付加算 @HYMD,@CYCLEDAY,@HYMD OUTPUT,@CERR OUTPUT
    END	


PROC_END:
--SELECT '最終発注日' = @ENDHYMD + @HTIME, '読取日' = @RDYMD + @RDTIME, '発注日' = @HYMD

RETURN

PROC_ERR:
--SELECT 'ERROR' = @CERR
RETURN







GO
