USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[在庫更新処理_20200108変更前]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE  PROCEDURE [dbo].[在庫更新処理_20200108変更前] ( @YM VARCHAR(6) ) AS
-- * --------------------------------------------------------------------------------------------
-- *
-- *	在　庫　更　新　処　理
-- *
-- *		PARAMETER		@YM	：対象年月
-- *						　@YM + 1 月初在庫データを作成する
-- *
-- *		UPDATE		2004/06/14	By CIS	1.日付判定の修正
-- *		UPDATE		2004/11/01	By CIS	在庫履歴マスタへの更新方法の変更
-- *		UPDATE		2010/01/11	By CIS	土岐津Ver,在庫マスタキー項目追加による変更
-- *
-- *
-- * --------------------------------------------------------------------------------------------

-- * TEST
--DECLARE @YM	VARCHAR(6)
--SELECT @YM = '200403'

DECLARE @DATE	VARCHAR(8)
DECLARE @WDATE  VARCHAR(8)
DECLARE @ZYM	VARCHAR(6)

SET NOCOUNT ON

SELECT @DATE = @YM + '01'
EXEC cDateAdd @DATE,'M',1,'','1',@WDATE OUTPUT
SELECT @ZYM = SUBSTRING(@WDATE,1,6)
-- * --------------------------------------------------------------------
-- *	ワークテーブル クリア
-- * --------------------------------------------------------------------
DELETE 在庫更新ワーク
	WHERE 処理端末 = HOST_NAME()

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END
-- * --------------------------------------------------------------------
-- *	入庫情報抽出
-- * --------------------------------------------------------------------
-- * (入荷テーブル) 
/*  2010/01/11 UpDate
INSERT INTO 在庫更新ワーク
	(処理端末,品番,在庫数,入庫数,出庫数,実棚日,作成区分,区分)
	SELECT HOST_NAME(),HN.品番,ISNULL(ZK.在庫数,0),SUM(ISNULL(NK.入荷数,0)) ,0,
		ISNULL(ZK.実棚日,''),ISNULL(ZZ.作成区分,0),0
	FROM 品番マスタ HN
	LEFT OUTER JOIN 在庫マスタ ZK
	  ON ZK.年月度 = @YM
	 AND ZK.品番 = HN.品番
	LEFT OUTER JOIN 在庫マスタ ZZ
	  ON ZZ.年月度 = @ZYM
	 AND ZZ.品番 = HN.品番
	LEFT OUTER JOIN 入荷テーブル NK
	  ON NK.品番 = HN.品番
	 AND SUBSTRING(NK.入荷日,1,6) = @YM
	 AND NK.入荷日 > ISNULL(ZK.実棚日,'')
	WHERE HN.在庫管理区分 <> 0
	GROUP BY HN.品番,ZK.在庫数,ZK.実棚日,ZZ.作成区分
*/
INSERT INTO 在庫更新ワーク
	(処理端末,品番,取引先,受入,工順,在庫数,入庫数,出庫数,実棚日,作成区分,区分)
	SELECT HOST_NAME(),HK.品番,HK.取引先,HK.受入,HK.工順,ISNULL(ZK.在庫数,0),SUM(ISNULL(NK.入荷数,0)) ,0,
		ISNULL(ZK.実棚日,''),ISNULL(ZZ.作成区分,0),0
	FROM 品番工順マスタ HK
	LEFT OUTER JOIN 品番マスタ HN
	  ON HK.品番 = HN.品番
	LEFT OUTER JOIN 在庫マスタ ZK
	  ON ZK.年月度 = @YM
	 AND ZK.品番 = HK.品番
	 AND ZK.取引先 = HK.取引先
	 AND ZK.受入 = HK.受入
	 AND ZK.工順 = HK.工順
	LEFT OUTER JOIN 在庫マスタ ZZ
	  ON ZZ.年月度 = @ZYM
	 AND ZZ.品番 = HK.品番
	 AND ZZ.取引先 = HK.取引先
	 AND ZZ.受入 = HK.受入
	 AND ZZ.工順 = HK.工順
	LEFT OUTER JOIN 入荷テーブル NK
	  ON NK.品番 = HK.品番
	 AND NK.仕入先 = HK.取引先
	 AND NK.受入 = HK.受入
	 AND SUBSTRING(NK.入荷日,1,6) = @YM
	 AND NK.入荷日 > ISNULL(ZK.実棚日,'')
	WHERE ISNULL(HN.在庫管理区分,0) <> 0
	AND   HK.棚卸プレシート発行 = 0
	GROUP BY HK.品番,HK.取引先,HK.受入,HK.工順,ZK.在庫数,ZK.実棚日,ZZ.作成区分


IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END

/*  2010/01/11 UpDate
-- * (実績管理テーブル・入庫) 
INSERT INTO 在庫更新ワーク
	(処理端末,品番,在庫数,入庫数,出庫数,実棚日,作成区分,区分)
	SELECT HOST_NAME(),HN.品番,ISNULL(ZK.在庫数,0),SUM(ISNULL(JS.実績数,0)) ,0, 
		ISNULL(ZK.実棚日,''),ISNULL(ZZ.作成区分,0),0
	FROM 品番マスタ HN
	LEFT OUTER JOIN 在庫マスタ ZK
	  ON ZK.年月度 = @YM
	 AND ZK.品番 = HN.品番
	LEFT OUTER JOIN 在庫マスタ ZZ
	  ON ZZ.年月度 = @ZYM
	 AND ZZ.品番 = HN.品番
	LEFT OUTER JOIN 実績管理テーブル JS
	  ON JS.品番 = HN.品番
	 AND SUBSTRING(JS.実績日,1,6) = @YM
	 AND JS.実績日 > ISNULL(ZK.実棚日,'')
         AND JS.実績区分 = 1		
	WHERE HN.在庫管理区分 <> 0
	GROUP BY HN.品番,ZK.在庫数,ZK.実棚日,ZZ.作成区分
*/
INSERT INTO 在庫更新ワーク
	(処理端末,品番,取引先,受入,工順,在庫数,入庫数,出庫数,実棚日,作成区分,区分)
	SELECT HOST_NAME(),HK.品番,HK.取引先,HK.受入,HK.工順,ISNULL(ZK.在庫数,0),SUM(ISNULL(JS.実績数,0)) ,0, 
		ISNULL(ZK.実棚日,''),ISNULL(ZZ.作成区分,0),0
	FROM 品番工順マスタ HK
	LEFT OUTER JOIN 品番マスタ HN
	  ON HK.品番 = HN.品番
	LEFT OUTER JOIN 在庫マスタ ZK
	  ON ZK.年月度 = @YM
	 AND ZK.品番 = HK.品番
	 AND ZK.取引先 = HK.取引先
	 AND ZK.受入 = HK.受入
	 AND ZK.工順 = HK.工順
	LEFT OUTER JOIN 在庫マスタ ZZ
	  ON ZZ.年月度 = @ZYM
	 AND ZZ.品番 = HK.品番
	 AND ZZ.取引先 = HK.取引先
	 AND ZZ.受入 = HK.受入
	 AND ZZ.工順 = HK.工順
	LEFT OUTER JOIN 実績管理テーブル JS
	  ON JS.品番 = HK.品番
	 AND JS.実績先 = HK.取引先
	 AND JS.受入 = HK.受入
	 AND JS.工順 = HK.工順
	 AND SUBSTRING(JS.実績日,1,6) = @YM
	 AND JS.実績日 > ISNULL(ZK.実棚日,'')
         AND JS.実績区分 = 1		
	WHERE ISNULL(HN.在庫管理区分,0) <> 0
	AND   HK.棚卸プレシート発行 = 0
	GROUP BY HK.品番,HK.取引先,HK.受入,HK.工順,ZK.在庫数,ZK.実棚日,ZZ.作成区分

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END


INSERT INTO 在庫更新ワーク
	(処理端末,品番,取引先,受入,工順,在庫数,入庫数,出庫数,実棚日,作成区分,区分)
	SELECT HOST_NAME(),HK.品番,HK.取引先,HK.受入,HK.工順,ISNULL(ZK.在庫数,0),SUM(ISNULL(SN.加工数,0)) ,0, 
		ISNULL(ZK.実棚日,''),ISNULL(ZZ.作成区分,0),0
	FROM 品番工順マスタ HK
	LEFT OUTER JOIN 品番マスタ HN
	  ON HK.品番 = HN.品番
	LEFT OUTER JOIN 在庫マスタ ZK
	  ON ZK.年月度 = @YM
	 AND ZK.品番 = HK.品番
	 AND ZK.取引先 = HK.取引先
	 AND ZK.受入 = HK.受入
	 AND ZK.工順 = HK.工順
	LEFT OUTER JOIN 在庫マスタ ZZ
	  ON ZZ.年月度 = @ZYM
	 AND ZZ.品番 = HK.品番
	 AND ZZ.取引先 = HK.取引先
	 AND ZZ.受入 = HK.受入
	 AND ZZ.工順 = HK.工順
	LEFT OUTER JOIN 作業日報テーブル SN
	  ON SN.品番 = HK.品番
	 AND SN.部門 = HK.取引先
	 AND SN.受入 = HK.受入
	 AND SN.工順 = HK.工順
	 AND SUBSTRING(SN.作業日,1,6) = @YM
	 AND SN.作業日 > ISNULL(ZK.実棚日,'')
	WHERE ISNULL(HN.在庫管理区分,0) <> 0
	AND   HK.棚卸プレシート発行 = 0
	GROUP BY HK.品番,HK.取引先,HK.受入,HK.工順,ZK.在庫数,ZK.実棚日,ZZ.作成区分

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END


-- * --------------------------------------------------------------------
-- *	出庫情報抽出
-- * --------------------------------------------------------------------
-- * (実績管理テーブル・出庫＆支給) 
/*  2010/01/11 UpDate
INSERT INTO 在庫更新ワーク
	(処理端末,品番,在庫数,入庫数,出庫数,実棚日,作成区分,区分)
	SELECT HOST_NAME(),HN.品番,ISNULL(ZK.在庫数,0),0,SUM(ISNULL(JS.実績数,0)),
		 ISNULL(ZK.実棚日,''),ISNULL(ZZ.作成区分,0),0
	FROM 品番マスタ HN
	LEFT OUTER JOIN 在庫マスタ ZK
	  ON ZK.年月度 = @YM
	 AND ZK.品番 = HN.品番
	LEFT OUTER JOIN 在庫マスタ ZZ
	  ON ZZ.年月度 = @ZYM
	 AND ZZ.品番 = HN.品番
	LEFT OUTER JOIN 実績管理テーブル JS
	  ON JS.品番 = HN.品番
	 AND SUBSTRING(JS.実績日,1,6) = @YM
	 AND JS.実績日 > ISNULL(ZK.実棚日,'')
         AND JS.実績区分 <> 1		
	WHERE HN.在庫管理区分 <> 0
	GROUP BY HN.品番,ZK.在庫数,ZK.実棚日,ZZ.作成区分
*/
INSERT INTO 在庫更新ワーク
	(処理端末,品番,取引先,受入,工順,在庫数,入庫数,出庫数,実棚日,作成区分,区分)
	SELECT HOST_NAME(),HK.品番,HK.取引先,HK.受入,HK.工順,ISNULL(ZK.在庫数,0),0,SUM(ISNULL(JS.実績数,0)),
		 ISNULL(ZK.実棚日,''),ISNULL(ZZ.作成区分,0),0
	FROM 品番工順マスタ HK
	LEFT OUTER JOIN 品番マスタ HN
	  ON HK.品番 = HN.品番
	LEFT OUTER JOIN 在庫マスタ ZK
	  ON ZK.年月度 = @YM
	 AND ZK.品番 = HK.品番
	 AND ZK.取引先 = HK.取引先
	 AND ZK.受入 = HK.受入
	 AND ZK.工順 = HK.工順
	LEFT OUTER JOIN 在庫マスタ ZZ
	  ON ZZ.年月度 = @ZYM
	 AND ZZ.品番 = HK.品番
	 AND ZZ.取引先 = HK.取引先
	 AND ZZ.受入 = HK.受入
	 AND ZZ.工順 = HK.工順
	LEFT OUTER JOIN 実績管理テーブル JS
	  ON JS.品番 = HN.品番
	 AND JS.実績先 = HK.取引先
	 AND JS.受入 = HK.受入
	 AND JS.工順 = HK.工順
	 AND SUBSTRING(JS.実績日,1,6) = @YM
	 AND JS.実績日 > ISNULL(ZK.実棚日,'')
     AND JS.実績区分 <> 1		
     AND JS.入力種類 <> 'A'		
	WHERE ISNULL(HN.在庫管理区分,0) <> 0
	AND   HK.棚卸プレシート発行 = 0
	GROUP BY HK.品番,HK.取引先,HK.受入,HK.工順,ZK.在庫数,ZK.実棚日,ZZ.作成区分

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END
-- * --------------------------------------------------------------------
-- *	在庫数集計
-- * --------------------------------------------------------------------
/*  2010/01/11 UpDate
INSERT INTO 在庫更新ワーク
	(処理端末,品番,在庫数,入庫数,出庫数,実棚日,作成区分,区分)
	SELECT 処理端末,品番,在庫数 + SUM(入庫数) - SUM(出庫数),
		SUM(入庫数),SUM(出庫数),実棚日,作成区分,9
		FROM 在庫更新ワーク
		WHERE 処理端末 = HOST_NAME()
		GROUP BY 処理端末,品番,在庫数,実棚日,作成区分
*/

INSERT INTO 在庫更新ワーク
	(処理端末,品番,取引先,受入,工順,在庫数,入庫数,出庫数,実棚日,作成区分,区分)
	SELECT 処理端末,品番,取引先,受入,工順,在庫数 + SUM(入庫数) - SUM(出庫数),
		SUM(入庫数),SUM(出庫数),実棚日,作成区分,9
		FROM 在庫更新ワーク
		WHERE 処理端末 = HOST_NAME()
		GROUP BY 処理端末,品番,取引先,受入,工順,在庫数,実棚日,作成区分


IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END
-- * --------------------------------------------------------------------
-- *	在庫更新処理
-- * --------------------------------------------------------------------
-- * 在庫マスタ
DELETE 在庫マスタ
	WHERE 年月度 = @ZYM
	  AND 作成区分 = 0

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END

/*  2010/01/11 UpDate
INSERT INTO 在庫マスタ
	(年月度,品番,在庫数,実棚日,変更事由,作成区分,作成日,作成者,作成端末)
	SELECT @ZYM,品番,在庫数,	'','',0,GETDATE(),'',HOST_NAME()
		FROM 在庫更新ワーク
		WHERE 作成区分 = 0
		  AND 区分 = 9
*/
INSERT INTO 在庫マスタ
	(年月度,品番,取引先,受入,工順,在庫数,実棚日,変更事由,作成区分,作成日,作成者,作成端末)
	SELECT @ZYM,品番,取引先,受入,工順,在庫数,	'','',0,GETDATE(),'',HOST_NAME()
		FROM 在庫更新ワーク
		WHERE 作成区分 = 0
		  AND 区分 = 9

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END

-- * 在庫履歴マスタ・変更無し

-- ******************************************[ 2004.11.01 MNT START ]
-- *
-- * 在庫履歴マスタ・変更無し
UPDATE 在庫履歴マスタ SET
	在庫数 = ZW.在庫数
	FROM 在庫更新ワーク ZW
	WHERE 在庫履歴マスタ.年月度 = @ZYM
	  AND 在庫履歴マスタ.作成区分 = 0
	  AND 在庫履歴マスタ.履歴区分 = 0
	  AND ZW.処理端末 = HOST_NAME()
	  AND ZW.品番 = 在庫履歴マスタ.品番
	  AND ZW.取引先 = 在庫履歴マスタ.取引先
	  AND ZW.受入 = 在庫履歴マスタ.受入
	  AND ZW.工順 = 在庫履歴マスタ.工順
	  AND ZW.区分 = 9
/*  2010/01/11 UpDate
UPDATE 在庫履歴マスタ SET
	在庫履歴マスタ.在庫数 = ZW.在庫数
	FROM 在庫履歴マスタ ZR
	LEFT OUTER JOIN 在庫更新ワーク ZW
	  ON ZW.処理端末 = HOST_NAME()
	 AND ZW.品番 = ZR.品番
	 AND 区分 <> 0
	WHERE ZR.年月度 = @ZYM
	  AND ZR.作成区分 = 0
	  AND ZR.履歴区分 = 0
*/
-- *
-- ******************************************[ 2004.11.01 MNT END   ]

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END

-- * 新規
/*  2010/01/11 UpDate
INSERT INTO 在庫履歴マスタ
	(年月度,品番,入力日付,入力担当者,在庫数,実棚日,変更事由,
	 作成区分,履歴区分,作成日,作成者,作成端末)
	SELECT @ZYM,ZW.品番,GETDATE(),'',ZW.在庫数,'','',0,0,GETDATE(),'',HOST_NAME()
		FROM 在庫更新ワーク ZW
		LEFT OUTER JOIN 在庫履歴マスタ ZR
		  ON ZR.年月度 = @ZYM
		 AND ZR.品番 = ZW.品番
		 AND ZR.作成区分 = 0
		 AND ZR.履歴区分 = 0
		WHERE ZW.作成区分 = 0
		  AND ZW.区分 = 9
		  AND ZR.品番 IS NULL
*/
INSERT INTO 在庫履歴マスタ
	(年月度,品番,取引先,受入,工順,入力日付,入力担当者,在庫数,実棚日,変更事由,
	 作成区分,履歴区分,作成日,作成者,作成端末)
	SELECT @ZYM,ZW.品番,ZW.取引先,ZW.受入,ZW.工順,GETDATE(),'',ZW.在庫数,'','',0,0,GETDATE(),'',HOST_NAME()
		FROM 在庫更新ワーク ZW
		LEFT OUTER JOIN 在庫履歴マスタ ZR
		  ON ZR.年月度 = @ZYM
		 AND ZR.品番 = ZW.品番
		 AND ZR.取引先 = ZW.取引先
		 AND ZR.受入 = ZW.受入
		 AND ZR.工順 = ZW.工順
		 AND ZR.作成区分 = 0
		 AND ZR.履歴区分 = 0
		WHERE ZW.作成区分 = 0
		  AND ZW.区分 = 9
		  AND ZR.品番 IS NULL

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END


-- * --------------------------------------------------------------------
-- *	正   常   終   了
-- * --------------------------------------------------------------------
PRCO_END:

DELETE 在庫更新ワーク
	WHERE 処理端末 = HOST_NAME()

IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END

RETURN(0)

-- * --------------------------------------------------------------------
-- *	異   常   終   了
-- * --------------------------------------------------------------------
PROC_ERR:
RETURN(1)





GO
