USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[受注TBチケットチェック]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[受注TBチケットチェック]
		 			@PROCKB TINYINT,
		 			@OUTKB TINYINT,
					@JYKB	TINYINT,
					@YMD VARCHAR(8), 
					@BIN	VARCHAR(2),
					@HEAD   VARCHAR(26),	
					-- I-O
					@BODY   VARCHAR(220)	OUTPUT,
					-- OUTPUT
					@UKE2   VARCHAR(2)	OUTPUT,
					@NTORCD VARCHAR(7)	OUTPUT,
					@ERR	TINYINT		OUTPUT,
					@ERRGYO TINYINT		OUTPUT AS
SET NOCOUNT ON
-- ------------------------------------------------------------------------------------
-- 											
-- 	受注チケットチェック（トヨタ紡織伝票） ＆ データ更新(自動読取処理のみ)	 
-- 											
-- 	PROCEDURE-ID	受注TBチケットチェック
-- 											
-- 	PARAMETER	@PROCKB : 0/リーダー処理(データ更新有)、NOT 0/内容チェックのみ	
-- 			@OUTKB	: 出力区分						
-- 			@JYKB	: 受注区分						
-- 			@YMD		: 納入日					
-- 			@BIN		: 納入便					
-- 			@HEAD	: 伝票のヘッド部(区,＃,仕入先,発注者,受入,機番,月日便,行,CD)
-- 			@BODY	: ( IN/OUT ) 伝票の明細部(受付№～納入数<5明細分>)
-- 			@BODY2	: ( IN/OUT ) 伝票の明細部(受付№～納入数<5明細分>)
-- 			@UKE2		: ( OUTPUT ) 変換後 受入				
-- 			@NTORCD	: ( OUTPUT ) 変換後 納入先				
-- 			@ERR		: ( OUTPUT ) チェックエラーNO				
-- 			@ERRGYO	: ( OUTPUT ) チェックエラー行NO				
-- 											
-- 	RETURN( @ERR )	0 : 正常終了							
-- 			 	1 : 納入先変換エラー		 2 : 納入先未登録		
-- 			 	3 : 自社向伝票でない	 	 4 : 受入未登録			
-- 			 	5 : 対象伝票違い		 6 : チェックデジットエラー(HEAD部)
-- 			 	7 : 収容数違い			 8 : 納入数エラー		
--				9 : チェックデジットエラー(BODY部)
-- 				15 : 品番取引先マスタ未登録	
-- 				16 : 受注重複エラー(受注テーブル)				
-- 				17 : 伝票重複エラー(受注入力テーブル)				
-- 				99 : データ更新エラー						
-- 											
-- 											
-- 	OUTLINE		内容チェックを行い ﾘｰﾀﾞｰ処理( @PROCKB = 0 )ならば、		
-- 				エラー( @ERR )の有無に応じて、データを出力する。
-- 											
-- 			  手入力による新規・リーダーデータのエラー分修正処理に		
-- 					関しては、伝票内容のチェックしか行わない。	
-- 						( データの更新は、一切行わない。)	
-- 											
--	作成日		:	2005/03/01
--	更新日		:	2009/01/06 By CIS  受注取引先CD変換ﾏｽﾀ追加
--	
-- ------------------------------------------------------------------------------------
--T
/*
DECLARE	@PROCKB TINYINT,@JYKB	TINYINT,
	@YMD VARCHAR(8), 
	@BIN	VARCHAR(2),	@HEAD   VARCHAR(45),	
	@BODY   VARCHAR(400)	,
	@UKE2   VARCHAR(2)	,
	@NTORCD VARCHAR(7)	,
	@JYMD   VARCHAR(8)	,
	@JBIN   VARCHAR(2)	,
	@NYMD   VARCHAR(80)	,
	@NBIN   VARCHAR(20)	,
	@ERR	TINYINT		,
	@ERRGYO TINYINT		

SELECT @PROCKB = 0,@JYKB = 0,@YMD = '20051114',@BIN = '02'
SELECT @HEAD = '122218073645501231114025  '
SELECT @BODY = '35669 301491R467708-53030-B000006001000006  35669 301502R467708-53030-C000006003000018  35669 30151R2SD770S-317S1-  00007001000007  35669 30152G0SD77AS-317S1-  00007004000028  35669 30153G1SD77BS-317S1-  00007003000021  '
*/
-- T End
DECLARE @C_DENSY	TINYINT			--  伝票種類

DECLARE @WRTN		TINYINT		--  リターン
DECLARE @WORK		VARCHAR(30)		--  ワーク
DECLARE @WORK2		VARCHAR(42)		--  ワーク
DECLARE @WORK3		VARCHAR(30)		--  ワーク
DECLARE @WORK4		VARCHAR(30)		--  ワーク
DECLARE @TIWORK 		INT			--  ワーク
DECLARE @TIWORK2 		INT			--  ワーク
DECLARE @BODYALL 		VARCHAR(400)	--  パラメータ退避ワーク(リーダー処理用)

DECLARE @IWORK1		INT			--  ワーク
DECLARE @IWORK2		INT			--  ワーク
DECLARE @IWORK3		INT			--  ワーク
DECLARE @DBRFLG		VARCHAR(10)		--  明細行重複チェック用(伝票重複)
DECLARE @GDBRFLG		VARCHAR(10)		--  明細行重複チェック用(受注重複)
DECLARE @HINER		VARCHAR(10)		--  明細行品番取引先マスタチェック用
DECLARE @KHINBN		VARCHAR(18)		--  検索用品番
DECLARE @HMSYUYO	INT			--  品番マスタ収容数
DECLARE @W_SEBAN          VARCHAR(4)           	--  ワーク背番号
DECLARE @W_HINBN		VARCHAR(14)		--  編集無品番
DECLARE @W_UKE		VARCHAR(2)		--  受入（品番取引先マスタから）
DECLARE @SEBANWK		VARCHAR(4)		--  背番号(ﾁｪｯｸ用)
DECLARE @EJYNO		INT			--  受注重複先の受注管理NO

---------------
-- 初期値設定
---------------
SELECT @C_DENSY = 1
SELECT @UKE2 = ''
SELECT @NTORCD = ''
SELECT @ERR = 0
SELECT @ERRGYO =0

IF @YMD = '' 
   BEGIN
	SELECT @YMD = SUBSTRING( @HEAD, 9, 8 )
	SELECT @BIN = SUBSTRING( @HEAD, 17, 2 )
   END
--//////////////////////////////////////////////////////////
--//
--//		内容チェック
--//
--//////////////////////////////////////////////////////////
SELECT @BODYALL = @BODY

-- ----------------------------
-- 	ヘッド部 チェック
-- ----------------------------
/*
-- * 【 ヘッド部チェックデジット チェック 】 * 
SELECT @WORK2 = SUBSTRING( @HEAD, 1, 24 )
EXEC PCD_TB @WORK2, 24, @WORK OUTPUT, @WRTN OUTPUT
IF @PROCKB = 1 
   BEGIN
	IF @WRTN <> 0 OR SUBSTRING( @HEAD, 25, 2) <> RTRIM(@WORK)
		BEGIN	SELECT @ERR = 6 GOTO END_PROC   END
   END
*/
-- 納入先格納
SELECT @NTORCD = SUBSTRING( @HEAD, 8, 5 )
--  【 受入変換 】 
SELECT @UKE2 = SUBSTRING( @HEAD, 13, 2 )
--  【 納入先確認 】 
SELECT @WORK = NULL
--================================================== 2009/01/13 Start
/*
SELECT @WORK = ( SELECT MIN(取引先CD) FROM 取引先マスタ 
					WHERE 取引先区分 = 0
					AND   取引先CD = SUBSTRING( @HEAD, 8, 5 ) )
IF @WORK IS NULL
   BEGIN
	SELECT @ERR = 1
	GOTO END_PROC
  END
*/
SELECT @WORK = ( SELECT MIN(変換先CD) FROM 受注取引先CD変換マスタ 
					WHERE	 変換元CD = SUBSTRING( @HEAD, 8, 5 ) )
IF @WORK IS NULL
   BEGIN

	SELECT @WORK = ( SELECT MIN(取引先CD) FROM 取引先マスタ 
						WHERE 取引先区分 = 0
						AND 	 取引先CD = SUBSTRING( @HEAD, 8, 5 ) )
	IF @WORK IS NULL
	   BEGIN
		SELECT @ERR = 1
		GOTO END_PROC
	   END
  END

SELECT @NTORCD = @WORK
--================================================== 2009/01/13 End

--  【 受入確認 】 
SELECT @WORK = NULL
--=============================================== 2009/01/13 Start
/*
SELECT @WORK = ( SELECT MIN(取引先CD) FROM 取引先受入マスタ 
					WHERE 取引先区分 = 0
					AND   取引先CD = SUBSTRING( @HEAD, 8, 5 ) 
					AND   受入 =  @UKE2 )
IF @WORK IS NULL
   BEGIN
	SELECT @ERR = 4
	GOTO END_PROC
  END
*/
SELECT @WORK = ( SELECT MIN(変換先受入) FROM 受注取引先CD変換マスタ 
					WHERE 変換元CD = SUBSTRING( @HEAD, 8, 5 ) 
					And	  変換元受入 =  @UKE2 )
IF @WORK IS NULL
   BEGIN
	SELECT @WORK = NULL

	SELECT @WORK = ( SELECT MIN(取引先CD) FROM 取引先受入マスタ 
						WHERE 取引先区分 = 0
						AND   取引先CD = @NTORCD
						And	  受入 =  @UKE2 )
	IF @WORK IS NULL 
	   BEGIN
		SELECT @ERR = 4
		GOTO END_PROC
	   END
	ELSE
	   BEGIN
		SELECT @UKE2 = @WORK
	   END
   END
ELSE
   BEGIN
	SELECT @UKE2 = @WORK
   END  
--=============================================== 2009/01/13 End

-- * 【 ＃チェック 】 *
SELECT @WORK = SUBSTRING( @HEAD, 2, 1 )
--*IF @WORK <> '2' BEGIN SELECT @ERR = 5 GOTO END_PROC END

--  【 自社向けチェック 】 
--  【 被自社獲得 】
DECLARE @JTOR1	VARCHAR(5)
SELECT @JTOR1 = NULL
SELECT @JTOR1 = 被自社 FROM 	取引先マスタ
					WHERE 取引先区分 = 0
					    AND 取引先ＣＤ = @NTORCD
IF @JTOR1 = '' 
   BEGIN
	SELECT @WORK = ( select oyian from Irnaksic
				Where bk = 'Company' and rno = 0 )
	IF @WORK <> ''
	   BEGIN
		   BEGIN	SELECT @JTOR1 = @WORK	END
	   END
   END
IF  SUBSTRING( @HEAD, 3, 4 ) <> SUBSTRING( @JTOR1, 1, 4 )
    BEGIN
 	SELECT @ERR = 3
 	GOTO END_PROC
   END

--++++++++++++++++++++++++++++++++++++
--+		
--+	Body 部 品番～納入数（5明細）
--+		
--++++++++++++++++++++++++++++++++++++
SELECT @HINER = '0000000000'
SELECT @DBRFLG = ''
SELECT @GDBRFLG = ''
SELECT @TIWORK = 0
WHILE ( @TIWORK <= 4 )
   BEGIN
	SELECT @TIWORK2 = @TIWORK * 44
-- 背番・品番なしは処理対象外(明細ﾁｪｯｸ終了)
	IF SUBSTRING( @BODY, @TIWORK2 + 12, 17 ) = ''	BREAK		-- 品番・背番号未入力は処理しない
	SELECT @WORK = RTRIM(SUBSTRING( @BODY, @TIWORK2 + 12, 17 ))
	IF @WORK = '' OR @WORK IS NULL 	BREAK
	SELECT @DBRFLG = RTRIM(@DBRFLG) + '0'
	SELECT @GDBRFLG = RTRIM(@GDBRFLG) + '0'
	SELECT @W_HINBN = RTRIM(SUBSTRING( @BODY, @TIWORK2 + 15, 14 ))
	SELECT @W_HINBN = REPLACE( @W_HINBN, '-', '' )			--"-"無し品番	
/*
--* 【 ボディ部チェックデジット チェック 】 * 
	SELECT @WORK2 = SUBSTRING( @BODY, @TIWORK2 + 1, 42 )
	EXEC PCD_TB @WORK2, 42, @WORK OUTPUT, @WRTN OUTPUT
	IF @PROCKB = 1 
	   BEGIN
		IF @WRTN <> 0 OR SUBSTRING( @BODY, @TIWORK2 + 43, 2 ) <> RTRIM(@WORK)
				BEGIN	SELECT @ERR = 9	SELECT @ERRGYO = @TIWORK + 1	GOTO END_PROC   END
	   END 
*/
--  背番号編集
	SELECT @W_SEBAN = ''
	SELECT @W_SEBAN = SUBSTRING( @BODY, @TIWORK2 + 12, 3 )
	SELECT @WORK = NULL
	SELECT @WORK = ( SELECT MIN(背番号) FROM 品番取引先マスタ
					WHERE 取引先  = @NTORCD
					  AND 受入    = @UKE2	
--================================================= 2009/01/13 Start
--					  AND 品番    = @W_HINBN
				      AND REPLACE(品番,'-','')	   = @W_HINBN
--================================================= 2009/01/13 End
					  AND 品目    = 0 )
	IF @WORK IS NOT NULL
	   BEGIN
 		SELECT @W_SEBAN = @WORK
   	   END
--	 箱数 
	IF CONVERT( SMALLINT, SUBSTRING( @BODY, @TIWORK2 + 34, 3)) =  0
		SELECT @BODY = STUFF( @BODY, @TIWORK2 + 34,  3, '001' )
--	 収容数 
	IF CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 29, 5 )) =   0 AND
	   CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 37, 6 )) <>  0
	   BEGIN
		SELECT @IWORK1 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 37, 6 ))	-- 納入数
		SELECT @IWORK2 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 34, 3 ))	-- 箱数
		SELECT @IWORK3 = @IWORK1 / @IWORK2
		SELECT @WORK   = CONVERT( VARCHAR(5), @IWORK3 )
		SELECT @WORK   = ISNULL(REPLICATE('0', 5  - LEN(RTRIM(@WORK))) + RTRIM(@WORK), REPLICATE('0',5))
		SELECT @BODY = STUFF( @BODY, @TIWORK2 + 29, 5, @WORK )
	   END
--	 納入数 
	IF CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 37, 6 )) =  0
	   BEGIN
		SELECT @IWORK1 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 29, 5 ))	-- 収容数
		SELECT @IWORK2 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 34, 3 ))	-- 箱数
		SELECT @IWORK3 = @IWORK1 * @IWORK2
		SELECT @WORK   = CONVERT( VARCHAR(6), @IWORK3 )
		SELECT @WORK   = ISNULL(REPLICATE('0', 6  - LEN(RTRIM(@WORK))) + RTRIM(@WORK), REPLICATE('0',6))
		SELECT @BODY   = STUFF( @BODY, @TIWORK2 + 37, 6, @WORK )
	   END
	SELECT	@KHINBN = SUBSTRING( @BODY, @TIWORK2 + 1, 18 )
--	 【 品番取引先マスタ確認 】 
	SELECT @WORK = NULL ,@WORK2 = NULL,@IWORK1 = NULL
	SELECT @WORK = サイクル,
		  @IWORK1 = CASE
				WHEN 変更日 <> '' AND 変更日 + 変更便 <= @YMD + @BIN 
					THEN 収容数2
					ELSE 収容数1
			  END
				FROM 品番取引先マスタ
--=========================================== 2009/01/13 Start
--				WHERE 品番 	   = @W_HINBN
				WHERE REPLACE(品番,'-','')	   = @W_HINBN
--=========================================== 2009/01/13 End
				  AND 取引先       = @NTORCD
				  AND 受入	   = @UKE2
				  AND 品目	   = 0
	IF @WORK IS NULL 
	   BEGIN
--		* QR処理以外は (品番取引先未登録)エラー *
		SELECT @ERR = 15
		SELECT @ERRGYO = @TIWORK + 1
		GOTO END_PROC
	   END	
--	 【 収容数チェック 】 
	SELECT @IWORK1 = ISNULL( @IWORK1, 0 )
	SELECT @IWORK2 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 29, 5 ))
	IF @IWORK1 <> 0 AND @IWORK1 <> @IWORK2
		BEGIN	SELECT @ERR = 7		SELECT @ERRGYO = @TIWORK + 1	GOTO END_PROC   END

--	 【 納入数チェック 】 

	SELECT @IWORK1 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 34, 3 ))
	SELECT @IWORK2 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 29, 5 ))
	SELECT @IWORK3 = @IWORK1 * @IWORK2
	SELECT @IWORK1 = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 37, 6 ))
--  リーダー処理は (納入数エラー) 
	IF @IWORK1 <> @IWORK3 AND @PROCKB = 0  AND @OUTKB = 0 
		BEGIN	SELECT @ERR = 8		SELECT @ERRGYO = @TIWORK + 1	GOTO END_PROC   END
--	-------------------------------------------------------------------
--	 伝票重複チェック【 受注入力テーブルとの重複チェック 明細行単位 】 
--	-------------------------------------------------------------------
	SELECT @IWORK1 = 0
	SELECT @IWORK1 = ( SELECT COUNT(品番) FROM 受注入力ワーク
				WHERE 端末番号 = HOST_NAME()
				  AND 納入先   = @NTORCD
				  AND 受入     = @UKE2
				  AND 納入日 = @YMD
				  AND 納入番号 = SUBSTRING( @BODY, @TIWORK2 + 7, 5 ) 
--========================================== 2009/01/13 Start
--				  AND 品番     = @W_HINBN
				  AND REPLACE(品番,'-','')	   = @W_HINBN
--========================================== 2009/01/13 End
				  AND 背番号   = @W_SEBAN
				  AND 枚数     = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 34, 3 ))
				  AND 納入数   = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 37, 6 )) )
	IF @IWORK1 <> 0		
	   BEGIN
		SELECT @ERR = 17
		SELECT @ERRGYO = @TIWORK + 1
		GOTO END_PROC
	   END

--	-------------------------------------------------------------------
--	 受注重複チェック【 受注テーブルとの重複チェック 明細行単位 】 
--	-------------------------------------------------------------------
	SELECT @IWORK1 = 0
	SELECT @IWORK1 = ( SELECT COUNT(品番) FROM 受注テーブル
				WHERE 納入先   = @NTORCD
			    	  AND 受入     = @UKE2
				  AND 納入番号 = SUBSTRING( @BODY, @TIWORK2 + 7, 5 ) 
				  AND 納入日 = @YMD
--========================================== 2009/01/13 Start
--				  AND 品番     = @W_HINBN
				  AND REPLACE(品番,'-','')	   = @W_HINBN
--========================================== 2009/01/13 End
				  AND 背番号   = @W_SEBAN
				  AND 枚数     = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 34, 3 ))
				  AND 納入数   = CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 37, 6 )) )
	IF @IWORK1 <> 0		
	   BEGIN
		SELECT @ERR = 16
		SELECT @ERRGYO = @TIWORK + 1
		GOTO END_PROC
	   END

	SELECT @TIWORK = @TIWORK + 1
   END
-- *----------------------------*
-- *	チェック終了処理	*
-- *----------------------------*
END_PROC:

IF @PROCKB <> 0
   BEGIN
           RETURN (@ERR)
   END
IF @ERR <> 0	GOTO OCR_ERR

--//////////////////////////////////////////////////////////
--//
--//		更         新       処        理 
--//
--//////////////////////////////////////////////////////////
-- ----------------------------------------------------------------------------
-- 	リーダー処理の場合は、これ以降のテーブル出力処理を続けて行います。	
-- ----------------------------------------------------------------------------

DECLARE @KANRNO		INT		-- 管理NO (受注管理番号)
DECLARE @KANRGNO		TINYINT	-- 管理行NO (受注管理番号)
-- ----------------------------
-- 	【  変換ＯＫ  】	*
-- ----------------------------
BEGIN TRANSACTION

SELECT @KANRNO = 0
SELECT @KANRGNO = 1

SELECT @TIWORK = 0
WHILE ( @TIWORK <= 4 )
   BEGIN
	SELECT @TIWORK2 = @TIWORK * 44
	IF SUBSTRING( @BODY, @TIWORK2 + 12, 17 ) = ''	BREAK		-- 品番・背番号未入力は処理しない
	-- 背番・品番なしは処理対象外
	SELECT @WORK = RTRIM(SUBSTRING( @BODY, @TIWORK2 + 12, 17 ))
	IF @WORK = '' OR @WORK IS NULL 	BREAK
	-- -----------------
	--  受注管理NO 採番 
	-- -----------------
	IF @KANRNO = 0
	   BEGIN
		EXEC 番号獲得  11,  @KANRNO OUTPUT, @WRTN OUTPUT
		IF @WRTN <> 0 	BEGIN	SELECT @ERR = 88	GOTO END_OCRPROC_ERR	END
	   END
	SELECT @KANRGNO = @TIWORK + 1
	-- // 品番
	SELECT @W_HINBN = SUBSTRING( @BODY, @TIWORK2 + 15, 14 )
	SELECT @W_HINBN = REPLACE( @W_HINBN, '-', '' )			--"-"無し品番	
	-- // 背番号
	SELECT @W_SEBAN = SUBSTRING( @BODY, @TIWORK2 + 12, 3 )

	SELECT @WORK = NULL
	SELECT @WORK = ( SELECT MIN(背番号) FROM 品番取引先マスタ
					WHERE 取引先  = @NTORCD
					    AND 受入 	   = @UKE2
--=============================================== 2009/01/13 Start
--					    AND 品番	   = @W_HINBN
	  				    AND REPLACE(品番,'-','')	   = @W_HINBN
--=============================================== 2009/01/13 End
					    AND 品目 	   = 0 )
	IF @WORK IS NOT NULL
	   BEGIN
 		SELECT @W_SEBAN = @WORK

--==================== 2009/01/13 Start
		SELECT @WORK = ''
		SELECT @WORK = ISNULL(品番,'') from 品番マスタ
		WHERE REPLACE(品番,'-','') = @W_HINBN
		IF @WORK <> ''
		   BEGIN
			SELECT @W_HINBN = @WORK
		   END
--==================== 2008/01/13 End

   	   END
--	-------------------------------
--	 ≪ 受注入力ワーク INSERT ≫ 
--	-------------------------------
          INSERT INTO 受注入力ワーク 
			(端末番号, 受注管理NO,受注管理行NO,受注区分, 受注日, 受注便,
			 納入日,納入便, 納入先, 出荷予定日, 出荷予定便,受入, 機番,
			 納入番号,納品書頁,納品書行,分納区分, 分納回数,
			 品番, 背番号,
			 枚数,
			 収容数,
			 納入数, 端数,
			 出荷指示書NO,出荷指示書行NO, 抜取枚数, 納品書発行区分,
			 エフ発行枚数, エフ発行端数,
			 作成種別, 累積区分, 納品書管理NO, 元出荷指示書NO,元出荷指示書行NO)
		Values
			(Host_Name(),@KANRNO,@KANRGNO,@JYKB,CONVERT(VARCHAR(8),Getdate(),112),'',
			 @YMD,@BIN,@NTORCD,@YMD,@BIN,@UKE2,SUBSTRING( @HEAD, 15, 3 ),
			 SUBSTRING( @BODY, @TIWORK2 + 7, 5  ),1,1,0,0,
			 @W_HINBN,@W_SEBAN,
			 CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 34, 3 )),
			 CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 29, 5 )),
			 CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 37, 6 )),0,
			 0,0,0,9,
			CASE WHEN @JYKB IN(2,4,5,6,7,8) Then CONVERT( INT, SUBSTRING( @BODY, @TIWORK2 + 34, 3 )) Else 0 End,0,
			'C',0,0,0,0 )
	IF @@ERROR <> 0  BEGIN	SELECT @ERR = 99  GOTO END_OCRPROC_ERR	END

	SELECT @TIWORK = @TIWORK + 1
   END
COMMIT TRANSACTION

GOTO END_OCRPROC
-- ----------------------------
-- 	【  変換エラー  】	
-- ----------------------------
OCR_ERR:


-- ----------------------------
-- 	チェック終了処理	
-- ----------------------------
END_OCRPROC:
RETURN (0)
-- ------------------------------------
-- 	テーブル更新時 異常終了処理	
-- ------------------------------------
END_OCRPROC_ERR:
RETURN (99)
-- TEST
/*
IF @ERR <> 0
   BEGIN
 	SELECT 'ERR=' + CONVERT(CHAR(2),@ERR)
   END */
-- TEST END



/****** オブジェクト:  StoredProcedure [dbo].[受注チケット処理]    スクリプト日付: 01/14/2009 10:27:23 ******/
SET ANSI_NULLS ON

GO
