USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[愛知機械出庫データ作成]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE       PROCEDURE [dbo].[愛知機械出庫データ作成] (
				@RTCD 	TINYINT OUTPUT
) AS
-- ------------------------------------------------------------------------------------------------------
-- 
-- 	愛知機械出庫データ作成
-- 
-- 
--		Return	   :  	@RTCD	 	･･･	ｴﾗｰｺｰﾄﾞ
--										
-- 		作 成 日	:       2010/08/26
-- 
-- ------------------------------------------------------------------------------------------------------
SET NOCOUNT ON
DECLARE @ERR TINYINT
--DECLARE @RTCD TINYINT

DECLARE @JK_CNT		INT
DECLARE @JK_OTCNT 	INT

SELECT @JK_CNT = 0
SELECT @JK_OTCNT = 0

DECLARE JKCUR SCROLL CURSOR
FOR
	SELECT JKT.品番,JKT.納入日,JKT.納入便,JKT.納入番号,
		   JKT.納品書頁,JKT.納品書行,
		   JKT.出荷指示書NO,JKT.出荷指示書行NO,
		   SJT.出荷日,SJT.出荷便,JKT.収容数,SJT.出荷数	
		From 受注テーブル JKT
		LEFT OUTER JOIN 出荷テーブル SJT
			ON  SJT.出荷指示書NO = JKT.出荷指示書NO
			AND SJT.出荷指示書行NO = JKT.出荷指示書行NO
		LEFT OUTER JOIN ( SELECT 出荷指示書NO,出荷指示書行NO 
									FROM 実績管理テーブル 
									GROUP BY 出荷指示書NO,出荷指示書行NO ) JSK
			ON  JSK.出荷指示書NO = JKT.出荷指示書NO
			AND JSK.出荷指示書行NO = JKT.出荷指示書行NO
		WHERE ISNULL(JKT.出荷実績区分,0) = 1
		AND   ISNULL(JKT.作成種別,'') = 'X'	
		AND   ISNULL(SJT.出荷指示書NO,0) <> 0
		AND   ISNULL(SJT.出荷日,'') >= '20100701'
		AND   ISNULL(JSK.出荷指示書NO,0) = 0
		AND   JKT.納入先 = '1010'
FOR READ ONLY
OPEN JKCUR

-- 受注/出荷カーソル
DECLARE @JK_HINBN VARCHAR(25),@JK_NOUNO VARCHAR(9),@JK_NOUPAGE TINYINT
DECLARE @JK_NOUGYO TINYINT,@JK_NYMD VARCHAR(8),@JK_NBIN VARCHAR(2)
DECLARE @JK_SJNO INT,@JK_SJGYO TINYINT
DECLARE @JK_SYMD VARCHAR(8),@JK_SBIN VARCHAR(2),@JK_SYUYO INT,@JK_SSU INT

-- 構成ワーク/品番工順カーソル
DECLARE @HK_HINBN VARCHAR(25),@HK_TORCD VARCHAR(7),@HK_UKE VARCHAR(2)
DECLARE @HK_SYUYO INT,@HK_KSU DECIMAL(8,4),@HK_LV TINYINT,@HK_KJ VARCHAR(2)

DECLARE @KANRNO		INT		-- 管理NO (実績管理番号)
DECLARE @WRTN		TINYINT	--  リターン

DECLARE @JSYUYO INT			-- 収容数
DECLARE @JSU  INT			-- 実績数
DECLARE @JMAI INT			-- 実績枚数
DECLARE @JHSU INT			-- 実績端数
DECLARE @JOYA TINYINT		-- 親品番




--SELECT @SYMD = CONVERT(VARCHAR(8),DATEADD(m,-6,GETDATE()),112)
--SELECT @EYMD = CONVERT(VARCHAR(8),DATEADD(m,6,GETDATE()),112)
	
-- * 受注/出荷テーブル
FETCH NEXT FROM JKCUR INTO
			 @JK_HINBN,@JK_NYMD,@JK_NBIN,@JK_NOUNO,
			 @JK_NOUPAGE,@JK_NOUGYO,
			 @JK_SJNO,@JK_SJGYO,@JK_SYMD,@JK_SBIN,@JK_SYUYO,@JK_SSU

WHILE @@FETCH_STATUS = 0 
    BEGIN
	SELECT @JK_CNT = @JK_CNT + 1 

-- *----------------------------------------------------*
-- *  構成品番情報の取得
-- *----------------------------------------------------*
	EXEC 構成問合せ情報抽出 @JK_HINBN,0,0,0

	IF @@ERROR = 0 
	   BEGIN
		SELECT @JK_OTCNT = @JK_OTCNT + 1

		DECLARE HKCUR SCROLL CURSOR
		FOR
			SELECT HK.品番,HK.取引先,HK.受入,
				   ISNULL(HK.収容数,0) 収容数,KO.構成数,KO.レベル,HK.工順
				From 構成問合せワーク KO
				LEFT OUTER JOIN 品番工順マスタ HK
				ON  HK.品番 = KO.子品番
				AND ISNULL(HK.棚卸プレシート発行,0) = 0
				WHERE 処理端末 = HOST_NAME()
				AND   ISNULL(HK.品番,'') <> ''
				ORDER BY KO.順位,HK.品番,HK.取引先,HK.受入,HK.工順 

			FOR READ ONLY
			OPEN HKCUR

			FETCH NEXT FROM HKCUR INTO @HK_HINBN,@HK_TORCD,@HK_UKE,
									   @HK_SYUYO,@HK_KSU,@HK_LV,@HK_KJ
			WHILE @@FETCH_STATUS = 0 
			   BEGIN
					--実績管理NO取得
					EXEC 番号獲得  6,  @KANRNO OUTPUT, @WRTN OUTPUT
					IF @WRTN <> 0 	BEGIN	SELECT @ERR = 10	GOTO PROC_ERROR	END
					
					-- 収容数
					IF @HK_SYUYO <> 0 
					   BEGIN
						SELECT @JSYUYO = @HK_SYUYO
					   END
					ELSE
					   BEGIN
						SELECT @JSYUYO = @JK_SYUYO
					   END
					--実績数
					SELECT @JSU = @JK_SSU * @HK_KSU
					--実績端数
					SELECT @JHSU = @JSU % @JSYUYO
					--実績枚数
					SELECT @JMAI = CEILING( @JSU / @JSYUYO)	
					IF @JHSU <> 0 
					   BEGIN
						SELECT @JMAI = @JMAI + 1
					   END
					--親品番判定
					IF @HK_LV = 0 
					   BEGIN
						SELECT @JOYA = 1
					   END
					ELSE
					   BEGIN
						SELECT @JOYA = 0
					   END
					--実績管理テーブル追加
					INSERT INTO 実績管理テーブル
						( 実績管理NO,実績区分,納入番号,納品書頁,納品書行,分納区分,実績先,受入,
						  実績元,品番,背番号,実績日,実績便,収容数,実績枚数,実績端数,実績数,
						  分割数,挽回日,挽回便,有無償区分,分割納品書NO,検収区分,検収年月,
						  検収処理日,作成日,作成端末,作成者,入力種類,工順,
						  出荷指示書NO,出荷指示書行NO,親品番 ) VALUES
						( @KANRNO,4,@JK_NOUNO,@JK_NOUPAGE,@JK_NOUGYO,0,@HK_TORCD,@HK_UKE,
						  '',@HK_HINBN,'',@JK_SYMD,@JK_SBIN,@JSYUYO,@JMAI,@JHSU,@JSU,
						  0,'','',1,'','','',
						  '',GETDATE(),HOST_NAME(),'AITI_SYUKO','S',@HK_KJ,
						  @JK_SJNO,@JK_SJGYO,@JOYA )

					IF @@ERROR <> 0  BEGIN	SELECT @ERR = 99  GOTO PROC_ERROR	END
			
					--* 次ﾚｺｰﾄﾞ
					FETCH NEXT FROM HKCUR INTO @HK_HINBN,@HK_TORCD,@HK_UKE,
											   @HK_SYUYO,@HK_KSU,@HK_LV,@HK_KJ
			   END
			--*  CLOSE & DEALLOCATE
			CLOSE HKCUR
			DEALLOCATE HKCUR

	   END		
	--* 次ﾚｺｰﾄﾞ
	FETCH NEXT FROM JKCUR INTO
				 @JK_HINBN,@JK_NYMD,@JK_NBIN,@JK_NOUNO,
				 @JK_NOUPAGE,@JK_NOUGYO,
				 @JK_SJNO,@JK_SJGYO,@JK_SYMD,@JK_SBIN,@JK_SYUYO,@JK_SSU

   END		


--*  CLOSE & DEALLOCATE
CLOSE JKCUR
DEALLOCATE JKCUR

PROC_END:
SELECT '入力件数' = @JK_CNT,'出力件数' = @JK_OTCNT
--* 正常終了 *--
RETURN(0)
PROC_ERROR:
--* 異常終了 *--
---TEST --------------------------------------------------
/*
IF @ERR <> 0 
   BEGIN
	 SELECT 'ERROR=',CONVERT(CHAR(2),@ERR)
   END	*/
------- --------------------------------------------------
SELECT @ERR
SELECT @RTCD = @ERR
RETURN(@ERR)
--RETURN









GO
