USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[材料在庫数算出]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[材料在庫数算出]	@TG_YM   VARCHAR(6),   @ZAINO INT, @PROCKB TINYINT,
				@ZAIKB TINYINT OUTPUT, @ZAISU DECIMAL(11, 0) OUTPUT AS 
SET NOCOUNT ON
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 * (         )
 *			材　　料　　在　　庫　　数　　算　　出
 *
 *			PARAMETER	@TG_YM	( INPUT  )	対象年月
 *					@ZAINO	( INPUT  )	材質管理番号
 *					@PROCKB	( INPUT  )	処理区分	( 0:月初在庫数、1:月末在庫数 )
 *					@ZAIKB	( OUTPUT )	在庫区分
 *					@ZAISU	( OUTPUT )	在庫数
 *
 *			RETURN		0 : 正常終了
 *			 		9 : 異常終了
 *
 *			COMMENT		区分 = 0	･･･	対象年月の前月在庫情報を基点に、材料発注内示データより月初在庫数を求める
 *					     = 1･･･	対象年月の　　在庫情報を基点に、　　実績データより月末在庫数を求める
 *					
 *
 *			CREATE DATE	2004 / 03 / 11	By CIS
 *	    		UP DATE
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
DECLARE	@RTN		INT		/* リターン						*/
DECLARE	@TG_YM_ZN	VARCHAR(6)	/* リターン						*/

/*::::::::::::::::::::::*
 *	初期処理		*
 *::::::::::::::::::::::*/
SELECT	@RTN = 9, @ZAIKB = 0, @ZAISU = 0, @TG_YM_ZN = ''

SELECT	@ZAIKB = 在庫管理区分 FROM 材料マスタ WHERE 材料管理番号 = @ZAINO
IF	@ZAIKB = 0	BEGIN	GOTO PROC_NEXT	END

IF	@PROCKB = 1	BEGIN	GOTO JISSEKI_BASE	END

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *	月　初　在　庫　数　算　出	(　計画データより　)
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
SELECT	@TG_YM_ZN = CONVERT( VARCHAR(6), DATEADD( M, -1, @TG_YM + '01' ), 112 )

SELECT	@ZAISU = ZK.在庫数 + NK.入庫数 - SK.出庫数
		FROM 材料在庫マスタ ZK
		LEFT OUTER JOIN ( SELECT ZM.材料管理番号,
					 SUM( CASE WHEN ZM.実棚日 <= ISNULL( HN.納期, '' ) THEN ISNULL( HN.数量, 0 ) ELSE 0 END ) 入庫数 
						FROM 材料在庫マスタ ZM
						LEFT OUTER JOIN 材料発注内示テーブル HN
							ON  HN.内示年月 = ZM.年月度
							AND HN.材料管理番号 = ZM.材料管理番号
							AND SUBSTRING( HN.納期, 1, 6 ) = ZM.年月度
						WHERE ZM.年月度 = @TG_YM_ZN
							AND   ZM.材料管理番号 = @ZAINO
						GROUP BY ZM.材料管理番号
				) NK
			ON  NK.材料管理番号 = ZK.材料管理番号
		LEFT OUTER JOIN ( SELECT ZM.材料管理番号,
					 SUM( CASE WHEN ZM.実棚日 <= ISNULL( HN.納期, '' ) THEN ISNULL( HN.数量, 0 )  * ISNULL( KS.使用量, 0 ) ELSE 0 END ) 出庫数
						FROM 材料在庫マスタ ZM
						LEFT OUTER JOIN 材料品番マスタ KS
							ON  KS.材料管理番号 = ZM.材料管理番号
						LEFT OUTER JOIN 発注内示テーブル HN
							ON  HN.内示年月 = ZM.年月度
							AND HN.品番 = ISNULL( KS.使用品番, '' )
							AND SUBSTRING( HN.納期, 1, 6 ) = ZM.年月度
						WHERE ZM.年月度 = @TG_YM_ZN
							AND   ZM.材料管理番号 = @ZAINO
						GROUP BY ZM.材料管理番号
				) SK
			ON  SK.材料管理番号 = ZK.材料管理番号
		WHERE ZK.年月度 = @TG_YM_ZN
		AND   ZK.材料管理番号 = @ZAINO

GOTO	PROC_NEXT

JISSEKI_BASE:
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *	月　末　在　庫　数　算　出	(　実績データより　)
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
SELECT	@ZAISU = ZK.在庫数 + ISNULL( NK.入庫数, 0 ) + ISNULL( SK.入出庫数, 0 )
		FROM 材料在庫マスタ ZK
		LEFT OUTER JOIN ( SELECT ZM.材料管理番号, 
					 SUM( CASE WHEN ZM.実棚日 <= ISNULL( NK.入荷日, '' ) THEN ISNULL( NK.入荷数, 0 ) ELSE 0 END ) 入庫数
						FROM 材料在庫マスタ ZM
						LEFT OUTER JOIN 材料入荷テーブル NK
							ON  NK.材料管理番号 = ZM.材料管理番号
							AND SUBSTRING( 入荷日, 1, 6 ) = ZM.年月度
						WHERE ZM.年月度 = @TG_YM
							AND   ZM.材料管理番号 = @ZAINO
						GROUP BY ZM.材料管理番号
				) NK
		ON  NK.材料管理番号 = ZK.材料管理番号
		LEFT OUTER JOIN ( SELECT ZM.材料管理番号, 
					 SUM( CASE ISNULL( JS.実績区分, 0 ) 
						WHEN 0 THEN 0
						WHEN 1 THEN CASE WHEN ZM.実棚日 <= ISNULL( JS.実績日, '' ) THEN ISNULL( JS.実績数, 0 ) ELSE 0 END
						       ELSE CASE WHEN ZM.実棚日 <= ISNULL( JS.実績日, '' ) THEN ISNULL( JS.実績数, 0 ) ELSE 0 END * -1
					      END
					    ) 入出庫数
						FROM 材料在庫マスタ ZM
						LEFT OUTER JOIN 材料品番マスタ KS
							ON  KS.材料管理番号 = ZM.材料管理番号
						LEFT OUTER JOIN 実績管理テーブル JS
							ON  JS.品番 = KS.使用品番
							AND SUBSTRING( JS.実績日, 1, 6 ) = ZM.年月度
						WHERE ZM.年月度 = @TG_YM
							AND   ZM.材料管理番号 = @ZAINO
						GROUP BY ZM.材料管理番号
				) SK
		ON  SK.材料管理番号 = ZK.材料管理番号
		WHERE ZK.年月度 = @TG_YM
		AND   ZK.材料管理番号 = @ZAINO


PROC_NEXT:
IF	@RTN = 9	BEGIN	SELECT	@RTN = 0	END

/*::::::::::::::::::::::*
 *	終 了 処 理	*
 *::::::::::::::::::::::*/
PROC_END:
	RETURN ( @RTN )



GO
