USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[S展開処理_構成納期]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [dbo].[S展開処理_構成納期] (@NJYM VARCHAR(6) , @LEVEL TINYINT , @RTN TINYINT OUTPUT ) AS
/* ：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：

	展開処理_構成納期 (内示シュミレーション用)
				

   ：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：：： */
/*	TEST		*/
--T DECLARE @NJYM	VARCHAR(6)
--T DECLARE @LEVEL	TINYINT
--T DECLARE @RTN	TINYINT
--T SELECT @NJYM = '200405'
--T SELECT @LEVEL = 1


DECLARE	@TG_NJYM_ZN	VARCHAR(6)	/* 前月内示年月						*/
DECLARE	@TG_NJYM_YKYK	VARCHAR(6)	/* 翌々月内示年月					*/

DECLARE	@STR1		VARCHAR(1000)	/* ワーク						*/
DECLARE	@STR2		VARCHAR(1000)	/* ワーク						*/
DECLARE	@CNT1		TINYINT		/* ワーク						*/
DECLARE	@CNT2		TINYINT		/* ワーク						*/
DECLARE	@INT1		INT		/* ワーク						*/
DECLARE	@INT2		INT		/* ワーク						*/



SET NOCOUNT ON

/*::::::::::::::::::::::*
 *	初期処理		*
 *::::::::::::::::::::::*/
SELECT	@TG_NJYM_ZN = CONVERT( VARCHAR(6), DATEADD( M, -1, @NJYM + '01' ), 112 ),
	@TG_NJYM_YKYK = CONVERT( VARCHAR(6), DATEADD( M, 2, @NJYM + '01' ), 112 ),
	@STR1 = CONVERT( VARCHAR(6), DATEADD( M, 2, @NJYM + '01' ), 112 )

/*::::::::::::::::::::::::::::::::::::::::::::::*
 *	手配先・受入違いデータの件数更新		*
 *::::::::::::::::::::::::::::::::::::::::::::::*/

UPDATE	S発注内示構成納期ワーク SET
	件数 = HJ.件数,
	発注比率計 = HJ.発注比率計
	FROM ( SELECT 品番, 直送先, 親納期, COUNT(*) 件数, SUM( 発注比率 ) 発注比率計
			FROM S発注内示構成納期ワーク
			WHERE 手配先 <> ''
			GROUP BY 品番, 直送先, 親納期
			HAVING COUNT(*) > 1 ) HJ
	WHERE S発注内示構成納期ワーク.品番 = HJ.品番
	  AND S発注内示構成納期ワーク.直送先 = HJ.直送先
	  AND S発注内示構成納期ワーク.親納期 = HJ.親納期
	  AND S発注内示構成納期ワーク.レベル = @LEVEL


/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *		複　数　発　注　時　の　発　注　比　率　に　よ　る　数　量　配　分
 *
 *						発 注 比 率 計 に 基 づ い た 分 配 を 行 う ( 比率/比率計 ex. 10/70, 20/70, 40/70 )
 *	
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

DECLARE	@CUR_NYMD	VARCHAR(8)		-- 納期
DECLARE	@CUR_HINBN	VARCHAR(25)		-- 品番
DECLARE	@CUR_TORCD	VARCHAR(7)		-- 手配先
DECLARE	@CUR_UKEIR	VARCHAR(2)		-- 受入
DECLARE	@CUR_CHOKU	VARCHAR(7)		-- 直送先
DECLARE	@CUR_SURYO	DECIMAL(11,4)			-- 数量
DECLARE	@CUR_HIKISU	DECIMAL(11,4)			-- 引当後数量
DECLARE	@CUR_RITU	TINYINT			-- 発注比率
DECLARE	@CUR_RITUK	SMALLINT		-- 発注比率計
DECLARE	@CUR_RECNT	TINYINT			-- 件数

DECLARE	@SV_NYMD	VARCHAR(8)		-- 納期
DECLARE	@SV_HINBN	VARCHAR(25)		-- 品番
DECLARE	@SV_CHOKU	VARCHAR(1)		-- 直送先
DECLARE	@SV_SURYO	DECIMAL(11,4)			-- 数量
DECLARE	@SV_HIKISU	DECIMAL(11,4)			-- 引当後数量

DECLARE	@WK_SURYO	DECIMAL(11,4)			-- 数量
DECLARE	@WK_HIKISU	DECIMAL(11,4)			-- 引当後数量

DECLARE	PS_CURSOR	CURSOR
FOR
	SELECT	納期, 品番, 手配先, 受入, 直送先, 数量, 発注比率, 発注比率計, 件数
		FROM S発注内示構成納期ワーク
		WHERE 件数 > 1
		  AND レベル = @LEVEL
		ORDER BY 納期, 品番, 発注比率 DESC, 手配先, 受入

OPEN	PS_CURSOR

FETCH NEXT FROM	PS_CURSOR 
		INTO @CUR_NYMD, @CUR_HINBN, @CUR_TORCD, @CUR_UKEIR, @CUR_CHOKU, @CUR_SURYO, @CUR_RITU, @CUR_RITUK, @CUR_RECNT

SELECT	@SV_NYMD = @CUR_NYMD, @SV_HINBN = @CUR_HINBN, @SV_CHOKU = @CUR_CHOKU, @SV_SURYO = 0, @SV_HIKISU = 0

WHILE @@FETCH_STATUS = 0
    BEGIN

--	[ 分配数計算 [ 数量 × ( 発注比率 ÷ 発注比率計 ) ] ]	< ROUND( 999, 0 ) ：四捨五入 >
	SELECT	@WK_SURYO  = ROUND( @CUR_SURYO  * ( CAST( @CUR_RITU AS DECIMAL( 5, 2 ) ) / @CUR_RITUK ), 4 )

	UPDATE	S発注内示構成納期ワーク SET
		数量 = @WK_SURYO
		WHERE 品番 = @CUR_HINBN
		  AND 手配先 = @CUR_TORCD
		  AND 受入 = @CUR_UKEIR
		  AND 直送先 = @CUR_CHOKU
		  AND 納期 = @CUR_NYMD

	FETCH NEXT FROM	PS_CURSOR 
		INTO @CUR_NYMD, @CUR_HINBN, @CUR_TORCD, @CUR_UKEIR, @CUR_CHOKU, @CUR_SURYO, @CUR_RITU, @CUR_RITUK, @CUR_RECNT


    END

CLOSE		PS_CURSOR
DEALLOCATE	PS_CURSOR

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *		カレンダワークの作成 ( 日程を変更する為に、手配先のカレンダなければ、自社カレンダ等の面倒な条件が予想される為、
 *									予め該当分のみのカレンダワークを作成し、結合又は、処理を簡素化する )
 *
 *::::::::::::::::::::::::::::::::::::::*
 *	自社カレンダ確認	 ( 発注 )	*
 *::::::::::::::::::::::::::::::::::::::* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
EXEC	社内カレンダチェック 1, @TG_NJYM_YKYK, -5

/*::::::::::::::::::::::::::::::*
 *	カレンダワーク削除	*
 *::::::::::::::::::::::::::::::*/
TRUNCATE TABLE	カレンダワーク

/*::::::::::::::::::::::::::::::*
 *	カレンダワーク作成	*
 *::::::::::::::::::::::::::::::*/
SELECT	@INT1 = 0, @INT2 = -5
WHILE	( @INT1 >= @INT2 )
    BEGIN
-- SELECT * FROM カレンダワーク
	SELECT	@STR1 = CONVERT( VARCHAR(6), DATEADD( M, @INT1, @TG_NJYM_YKYK + '01' ), 112 )

	INSERT	INTO カレンダワーク
		( 取引先, 受入, 年月, 末日, 稼働末日, 稼働区分, 昼勤区分, 夜勤区分 )
		SELECT	CK.手配先, CK.受入, @STR1,
			C1.末日, 0, '', C1.稼動区分, C1.夜勤区分
			FROM (SELECT 手配先, 受入
					FROM S発注内示構成納期ワーク
					WHERE 手配先 <> ''
					  AND レベル = @LEVEL
					GROUP BY 手配先, 受入) CK
			INNER JOIN カレンダマスタ C1
			ON  C1.取引先区分 = 1
			AND C1.取引先 = CK.手配先
			AND C1.受入 = CK.受入
			AND C1.年 = SUBSTRING( @STR1, 1, 4 )
			AND C1.月 = SUBSTRING( @STR1, 5, 2 )
		UNION
		SELECT	CK.手配先, CK.受入, @STR1,
			C2.末日, 0, '', C2.稼動区分, C2.夜勤区分
			FROM (SELECT 手配先, 受入
					FROM S発注内示構成納期ワーク
					WHERE 手配先 <> ''
					  AND レベル = @LEVEL
					GROUP BY 手配先, 受入) CK
			LEFT OUTER JOIN カレンダマスタ C1
			ON  C1.取引先区分 = 1
			AND C1.取引先 = CK.手配先
			AND C1.受入 = CK.受入
			AND C1.年 = SUBSTRING( @STR1, 1, 4 )
			AND C1.月 = SUBSTRING( @STR1, 5, 2 )
			INNER JOIN カレンダマスタ C2
			ON  C2.取引先区分 = 1
			AND C2.取引先 = CK.手配先
			AND C2.受入 = ''
			AND C2.年 = SUBSTRING( @STR1, 1, 4 )
			AND C2.月 = SUBSTRING( @STR1, 5, 2 )
			WHERE C1.取引先 IS NULL
		UNION
		SELECT	CK.手配先, CK.受入, @STR1,
			C3.末日, 0, '', C3.稼動区分, C3.夜勤区分
			FROM (SELECT 手配先, 受入
					FROM S発注内示構成納期ワーク
					WHERE 手配先 <> ''
					  AND レベル = @LEVEL
					GROUP BY 手配先, 受入) CK
			LEFT OUTER JOIN カレンダマスタ C1
			ON  C1.取引先区分 = 1
			AND C1.取引先 = CK.手配先
			AND C1.受入 = CK.受入
			AND C1.年 = SUBSTRING( @STR1, 1, 4 )
			AND C1.月 = SUBSTRING( @STR1, 5, 2 )
			LEFT OUTER JOIN カレンダマスタ C2
			ON  C2.取引先区分 = 1
			AND C2.取引先 = CK.手配先
			AND C2.受入 = ''
			AND C2.年 = SUBSTRING( @STR1, 1, 4 )
			AND C2.月 = SUBSTRING( @STR1, 5, 2 )
			LEFT OUTER JOIN カレンダマスタ C3
			ON  C3.取引先区分 = 1
			AND C3.取引先 = ''
			AND C3.受入 = ''
			AND C3.年 = SUBSTRING( @STR1, 1, 4 )
			AND C3.月 = SUBSTRING( @STR1, 5, 2 )
			WHERE C1.取引先 IS NULL
			AND   C2.取引先 IS NULL
		UNION
		SELECT	'', '', @STR1,
			末日, 0, '', 稼動区分, 夜勤区分
			FROM カレンダマスタ
			WHERE 取引先区分 = 1
			AND   取引先 = ''
			AND   受入 = ''
			AND   年 = SUBSTRING( @STR1, 1, 4 )
			AND   月 = SUBSTRING( @STR1, 5, 2 )

	SELECT	@INT1 = @INT1 - 1
    END

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *	稼動区分(0:休み、1:半稼動、2:全稼動)、稼動末日(稼動日内の末日) 更新		*
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
UPDATE	カレンダワーク	SET
	稼働区分 = REPLACE(	REPLACE(	CAST(	CAST( REPLACE( REPLACE( 昼勤区分, '1', '2' ), '0', '1' ) AS DECIMAL(31) ) +
							CAST( REPLACE( REPLACE( 夜勤区分, '1', '2' ), '0', '1' ) AS DECIMAL(31) )
							AS VARCHAR(31) )
					, '4', '0' )
			, '3', '1' ),
	稼働末日 = CASE 
			WHEN SUBSTRING( 昼勤区分, 末日,      1 ) = 0 OR SUBSTRING( 夜勤区分, 末日,      1 ) = 0 THEN 末日
			WHEN SUBSTRING( 昼勤区分, 末日 -  1, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  1, 1 ) = 0 THEN 末日 -  1
			WHEN SUBSTRING( 昼勤区分, 末日 -  2, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  2, 1 ) = 0 THEN 末日 -  2
			WHEN SUBSTRING( 昼勤区分, 末日 -  3, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  3, 1 ) = 0 THEN 末日 -  3
			WHEN SUBSTRING( 昼勤区分, 末日 -  4, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  4, 1 ) = 0 THEN 末日 -  4
			WHEN SUBSTRING( 昼勤区分, 末日 -  5, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  5, 1 ) = 0 THEN 末日 -  5
			WHEN SUBSTRING( 昼勤区分, 末日 -  6, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  6, 1 ) = 0 THEN 末日 -  6
			WHEN SUBSTRING( 昼勤区分, 末日 -  7, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  7, 1 ) = 0 THEN 末日 -  7
			WHEN SUBSTRING( 昼勤区分, 末日 -  8, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  8, 1 ) = 0 THEN 末日 -  8
			WHEN SUBSTRING( 昼勤区分, 末日 -  9, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  9, 1 ) = 0 THEN 末日 -  9
			WHEN SUBSTRING( 昼勤区分, 末日 - 10, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 - 10, 1 ) = 0 THEN 末日 - 10
			WHEN SUBSTRING( 昼勤区分, 末日 - 11, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 - 11, 1 ) = 0 THEN 末日 - 11
			WHEN SUBSTRING( 昼勤区分, 末日 - 12, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 - 12, 1 ) = 0 THEN 末日 - 12
			WHEN SUBSTRING( 昼勤区分, 末日 - 13, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 - 13, 1 ) = 0 THEN 末日 - 13
			WHEN SUBSTRING( 昼勤区分, 末日 - 14, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 - 14, 1 ) = 0 THEN 末日 - 14
			WHEN SUBSTRING( 昼勤区分, 末日 - 15, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 - 15, 1 ) = 0 THEN 末日 - 15
			ELSE 末日 - 16
		   END

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *						指　定　納　期　確　定　（　指　定　曜　日　・　指　定　日　反　映　）
 *
 *				注) 前倒し最大日数は９３日(３ヶ月)とし、それを超えるものは、３ヶ月前の１日(稼動・非稼動に関わらず)とする。
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *	指定曜日又は、指定日と納期にて、指定納期を更新	*
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
SELECT	@INT1 = 0, @INT2 = 1
WHILE	( @INT1 >= -93 AND @INT2 <> 0 )
    BEGIN
	UPDATE	S発注内示構成納期ワーク	SET
		納期 = CASE	WHEN SUBSTRING( CL.稼働区分, DAY( DATEADD( D, @INT1, SK.親納期 ) ), 1 ) = 0
				THEN ''
				ELSE
				  CASE 	WHEN DATEPART( DW, DATEADD( D, @INT1, SK.親納期 ) ) = 2 AND SK.WeeK1 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.親納期 ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, SK.親納期 ) ) = 3 AND SK.WeeK2 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.親納期 ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, SK.親納期 ) ) = 4 AND SK.WeeK3 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.親納期 ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, SK.親納期 ) ) = 5 AND SK.WeeK4 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.親納期 ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, SK.親納期 ) ) = 6 AND SK.WeeK5 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.親納期 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.親納期 ) ) = SK.Day1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.親納期 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.親納期 ) ) = SK.Day2 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.親納期 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.親納期 ) ) = SK.Day3 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.親納期 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.親納期 ) ) = SK.Day4 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.親納期 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.親納期 ) ) = SK.Day5 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.親納期 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.親納期 ) ) >= CL.稼働末日 AND SK.Day1 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.親納期 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.親納期 ) ) >= CL.稼働末日 AND SK.Day2 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.親納期 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.親納期 ) ) >= CL.稼働末日 AND SK.Day3 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.親納期 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.親納期 ) ) >= CL.稼働末日 AND SK.Day4 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.親納期 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.親納期 ) ) >= CL.稼働末日 AND SK.Day5 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.親納期 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					WHEN WeeK1 + WeeK2 + WeeK3 + WeeK4 + WeeK5 + Day1  + Day2  + Day3  + Day4  + Day5 = 0 THEN 親納期
					ELSE ''
				  END
			   END
		FROM	S発注内示構成納期ワーク SK, カレンダワーク CL
		WHERE	CL.取引先 = SK.手配先
		AND	CL.受入 = SK.受入
		AND	CL.年月 = CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.親納期 ), 112 )
		AND	SK.納期 = ''
		AND	DATEADD( M, -3, SUBSTRING( SK.親納期, 1, 6 ) + '01' ) <= DATEADD( D, @INT1, SK.親納期 )
		AND 	SK.レベル = @LEVEL
	SELECT	@INT2 = @@ROWCOUNT
	SELECT	@INT1 = @INT1 - 1
    END

IF	@INT2 = 0 OR @INT1 < -93
    BEGIN
	SELECT	@INT1 = 0
	SELECT	@INT1 = COUNT(*) FROM S発注内示構成納期ワーク
				 WHERE 納期 = ''
	IF	@INT1 <> 0
	    BEGIN
		SELECT	@RTN = 2

		UPDATE	S発注内示構成納期ワーク	SET
			納期 = CONVERT( VARCHAR(8), DATEADD( M, -3, SUBSTRING( 親納期, 1, 6 ) + '01' ), 112 )
			WHERE	納期 = ''
	    END
    END


/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *						仕　掛　日　の　決　定　（　リ　ー　ド　タ　イ　ム　分　の　前　倒　し　）
 *
 *				注) 前倒し最大日数は９３日(３ヶ月)とし、それを超えるものは、３ヶ月前の１日(稼動・非稼動に関わらず)とする。
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

SELECT	@INT1 = 0, @INT2 = 1
WHILE	( @INT1 >= -93 AND @INT2 <> 0 )
    BEGIN

	UPDATE	S発注内示構成納期ワーク SET
		仕掛日 = 	CASE	WHEN SUBSTRING( CL.稼働区分, DAY( DATEADD( D, @INT1, SK.納期 ) ), 1 ) > 0
					AND  LT <= 稼動カウント
					THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.納期 ), 112 )
					ELSE ''
				END,
		稼動カウント =	CASE	WHEN SUBSTRING( CL.稼働区分, DAY( DATEADD( D, @INT1, SK.納期 ) ), 1 ) = 0
					THEN 稼動カウント
					ELSE 稼動カウント + 1
				END
		FROM	S発注内示構成納期ワーク SK, カレンダワーク CL
		WHERE	CL.取引先 = SK.手配先
		AND	CL.受入 = SK.受入
		AND	CL.年月 = CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.納期 ), 112 )
		AND	SK.仕掛日 = ''
		AND	DATEADD( M, -3, SUBSTRING( SK.納期, 1, 6 ) + '01' ) <= DATEADD( D, @INT1, SK.納期 )
		AND 	SK.レベル = @LEVEL

	SELECT	@INT2 = @@ROWCOUNT
	SELECT	@INT1 = @INT1 - 1
    END

IF	@INT2 = 0 OR @INT1 < -93
    BEGIN
	SELECT	@INT1 = 0
	SELECT	@INT1 = COUNT(*) FROM S発注内示構成納期ワーク
				 WHERE 仕掛日 = ''
				   AND レベル = @LEVEL
	IF	@INT1 <> 0
	    BEGIN
		SELECT	@RTN = 3

		UPDATE	S発注内示構成納期ワーク	SET
			仕掛日 = CONVERT( VARCHAR(8), DATEADD( M, -3, SUBSTRING( 納期, 1, 6 ) + '01' ), 112 )
			WHERE	仕掛日 = ''
			  AND 	レベル = @LEVEL
	    END
    END

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *					仕　掛　日　を　指　定　曜　日　又　は、　指　定　日　で　前　倒　し　し　て、発　注　日　を　更　新
 *
 *				注) 前倒し最大日数は９３日(３ヶ月)とし、それを超えるものは、３ヶ月前の１日(稼動・非稼動に関わらず)とする。
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

SELECT	@INT1 = 0, @INT2 = 1
WHILE	( @INT1 >= -93 AND @INT2 <> 0 )
    BEGIN
	UPDATE	S発注内示構成納期ワーク SET
		手配日 = CASE	WHEN SUBSTRING( CL.稼働区分, DAY( DATEADD( D, @INT1, SK.仕掛日 ) ), 1 ) = 0
				THEN ''
				ELSE
				  CASE 	WHEN DATEPART( DW, DATEADD( D, @INT1, SK.仕掛日 ) ) = 2 AND SK.WeeK1 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, SK.仕掛日 ) ) = 3 AND SK.WeeK2 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, SK.仕掛日 ) ) = 4 AND SK.WeeK3 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, SK.仕掛日 ) ) = 5 AND SK.WeeK4 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, SK.仕掛日 ) ) = 6 AND SK.WeeK5 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) = SK.Day1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) = SK.Day2 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) = SK.Day3 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) = SK.Day4 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )

					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) = SK.Day5 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) >= CL.稼働末日 AND SK.Day1 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.仕掛日 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) >= CL.稼働末日 AND SK.Day2 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.仕掛日 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) >= CL.稼働末日 AND SK.Day3 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.仕掛日 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) >= CL.稼働末日 AND SK.Day4 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.仕掛日 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) >= CL.稼働末日 AND SK.Day5 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.仕掛日 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					ELSE ''
				  END
			  END
		FROM	S発注内示構成納期ワーク SK, カレンダワーク CL
		WHERE	CL.取引先 = SK.手配先
		AND	CL.受入 = SK.受入
		AND	CL.年月 = CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
		AND	SK.手配日 = ''
		AND	SK.LT <> 0
		AND	WeeK1 + WeeK2 + WeeK3 + WeeK4 + WeeK5
		      + Day1  + Day2  + Day3  + Day4  + Day5  <> 0
		AND	DATEADD( M, -3, SUBSTRING( SK.仕掛日, 1, 6 ) + '01' ) <= DATEADD( D, @INT1, SK.仕掛日 )
		AND 	SK.レベル = @LEVEL

	SELECT	@INT2 = @@ROWCOUNT
	SELECT	@INT1 = @INT1 - 1
    END

IF	@INT2 = 0 OR @INT1 < -93
    BEGIN

-- 前倒し指定無し	
	UPDATE	S発注内示構成納期ワーク	SET
		手配日 = 仕掛日
		WHERE	手配日 = ''
		AND	LT = 0
		AND	WeeK1 + WeeK2 + WeeK3 + WeeK4 + WeeK5
		      + Day1  + Day2  + Day3  + Day4  + Day5  = 0

	SELECT	@INT1 = 0
	SELECT	@INT1 = COUNT(*) FROM S発注内示構成納期ワーク
				 WHERE  手配日 = ''
				 AND 	レベル = @LEVEL
				 AND	LT <> 0
				 AND	WeeK1 + WeeK2 + WeeK3 + WeeK4 + WeeK5
				      + Day1  + Day2  + Day3  + Day4  + Day5  <> 0
	IF	@INT1 <> 0
	    BEGIN
		SELECT	@RTN = 4

		UPDATE	S発注内示構成納期ワーク	SET
			手配日 = CONVERT( VARCHAR(8), DATEADD( M, -3, SUBSTRING( 仕掛日, 1, 6 ) + '01' ), 112 )
			WHERE	手配日 = ''
			AND 	レベル = @LEVEL
			AND	LT <> 0
			AND	WeeK1 + WeeK2 + WeeK3 + WeeK4 + WeeK5
			      + Day1  + Day2  + Day3  + Day4  + Day5  <> 0
	    END
    END


/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *		S発注内示構成テーブル 作成
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

INSERT INTO S発注内示構成テーブル 
		(処理端末,順位,レベル,親品番,品番,手配先,受入,直送先,親納期,納期,仕掛日,手配日,数量,構成数,
		 手配区分,展開区分,作成日,作成者,作成端末)
		SELECT 	処理端末,順位,レベル,親品番,品番,手配先,受入,直送先,親納期,納期,仕掛日,手配日,SUM(数量),構成数,
			 手配区分,展開区分,GETDATE(),'CNJ0450',SUBSTRING(HOST_NAME(),1,20)
			FROM S発注内示構成納期ワーク
			GROUP BY 処理端末,順位,レベル,親品番,品番,手配先,受入,直送先,親納期,納期,仕掛日,手配日,構成数,手配区分,展開区分

PROC_END:
RETURN(0)





GO
