USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[構成マスタメンテ情報抽出]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[構成マスタメンテ情報抽出] (@HINBN VARCHAR(25)) AS
SET NOCOUNT ON
/*	TEST		 */
--T DECLARE @HINBN		VARCHAR(25)
--T SELECT @HINBN = 'AAAA'
/*	TEST	*/

DECLARE @IND		TINYINT
DECLARE @INDX		VARCHAR(3)
DECLARE @LOOP		TINYINT
DECLARE @MAX_LOOP	TINYINT
DECLARE @WHINBN		VARCHAR(25)
-- 構成情報退避
DECLARE @KO_ORDER	VARCHAR(300)
DECLARE @KO_LEVEL	TINYINT
DECLARE @KO_OHINBN	VARCHAR(25)
DECLARE @KO_KHINBN	VARCHAR(25)
DECLARE @KO_KOSUR	DECIMAL(8,4)
DECLARE @KO_TENKB	TINYINT
DECLARE @KO_LTIME		TINYINT
DECLARE @KO_SDATE	VARCHAR(8)
DECLARE @KO_EDATE	VARCHAR(8)

DECLARE @KENSU		TINYINT
DECLARE @END_FLG	VARCHAR(8)


SELECT @IND = 0
SELECT @MAX_LOOP = 99
SET NOCOUNT ON
-- *-----------------------------------------------------------------
-- *	構成メンテワーク	削除
-- *-----------------------------------------------------------------
DELETE 構成メンテワーク 
	WHERE 処理端末 = HOST_NAME()
IF @@ERROR <> 0	BEGIN	GOTO PROC_ERR	END

-- *-----------------------------------------------------------------
-- *	レベル０ セット
-- *-----------------------------------------------------------------
INSERT INTO 構成メンテワーク
	(処理端末,順位,レベル,親品番,子品番,構成数,展開区分,LT,適用開始日,適用終了日) VALUES
	(HOST_NAME(),'',0,'',@HINBN,1,0,0,'','')
IF @@ERROR <> 0	BEGIN	GOTO PROC_ERR	END

-- *-----------------------------------------------------------------
-- *	レベル１ セット
-- *-----------------------------------------------------------------
DECLARE KO_CUR	CURSOR
FOR
SELECT 親品番,子品番,構成数,
	展開区分,LT,適用開始日,適用終了日
	FROM 構成マスタ 
	WHERE 親品番 = @HINBN
	 ORDER BY 子品番

OPEN KO_CUR
FETCH NEXT FROM KO_CUR	INTO @KO_OHINBN,@KO_KHINBN,@KO_KOSUR,
				@KO_TENKB,@KO_LTIME,@KO_SDATE,@KO_EDATE
	
WHILE	@@FETCH_STATUS = 0
    BEGIN

	SELECT @IND = @IND + 1	
	EXEC cFORMATX 3,@IND,0,@INDX OUTPUT

	INSERT INTO 構成メンテワーク
		(処理端末,順位,レベル,親品番,子品番,構成数,展開区分,LT,適用開始日,適用終了日) VALUES
		(HOST_NAME(),@INDX,1,@KO_OHINBN,@KO_KHINBN,@KO_KOSUR,@KO_TENKB,@KO_LTIME,@KO_SDATE,@KO_EDATE)
	IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END


	FETCH NEXT FROM KO_CUR	INTO @KO_OHINBN,@KO_KHINBN,@KO_KOSUR,
					@KO_TENKB,@KO_LTIME,@KO_SDATE,@KO_EDATE
    END
-- *---------------------------------------------------*
-- *	CURSOR CLOSE & DELETE
-- *---------------------------------------------------*
CLOSE KO_CUR
DEALLOCATE KO_CUR

-- *-----------------------------------------------------------------
-- *	レベル２以降 セット
-- *-----------------------------------------------------------------
SELECT @LOOP = 1
SELECT @WHINBN = ''
SELECT @KENSU = 0

WHILE @LOOP < @MAX_LOOP
    BEGIN
	
	DECLARE KO_CUR	CURSOR
	FOR
	SELECT KW.順位,KO.親品番,KO.子品番,KO.構成数,
		KO.展開区分,KO.LT,KO.適用開始日,KO.適用終了日
		FROM 構成メンテワーク KW
		LEFT OUTER JOIN 構成マスタ KO
		  ON KO.親品番 = KW.子品番
		WHERE KW.レベル = @LOOP
		   AND KW.処理端末 = HOST_NAME()
		 ORDER BY KW.順位,KO.子品番
	
	OPEN KO_CUR
	FETCH NEXT FROM KO_CUR	INTO @KO_ORDER,@KO_OHINBN,@KO_KHINBN,@KO_KOSUR,
					@KO_TENKB,@KO_LTIME,@KO_SDATE,@KO_EDATE
		
	WHILE	@@FETCH_STATUS = 0
	    BEGIN
		IF ISNULL(@KO_OHINBN,'') <> ''
		    BEGIN
				SELECT @KENSU = @KENSU + 1 
				IF @WHINBN <> @KO_OHINBN
					BEGIN
					SELECT @IND = 0
					SELECT @WHINBN = @KO_OHINBN
					END
				SELECT @IND = @IND + 1	
				EXEC cFORMATX 3,@IND,0,@INDX OUTPUT
				INSERT INTO 構成メンテワーク
					(処理端末,順位,レベル,
					 親品番,子品番,構成数,
					 展開区分,LT,適用開始日,適用終了日) VALUES
					(HOST_NAME(),@KO_ORDER + @INDX,@LOOP + 1,
					 @KO_OHINBN,@KO_KHINBN,@KO_KOSUR,
					 @KO_TENKB,@KO_LTIME,@KO_SDATE,@KO_EDATE)
				IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END		
			END
		FETCH NEXT FROM KO_CUR	INTO @KO_ORDER,@KO_OHINBN,@KO_KHINBN,@KO_KOSUR,
					@KO_TENKB,@KO_LTIME,@KO_SDATE,@KO_EDATE
	    END 
	IF @KENSU = 0 BEGIN SELECT @LOOP = 99 END
	SELECT @KENSU = 0

	-- *---------------------------------------------------*
	-- *	CURSOR CLOSE & DELETE
	-- *---------------------------------------------------*
	CLOSE KO_CUR
	DEALLOCATE KO_CUR

	SELECT @LOOP = @LOOP + 1

    END

-- *--------------------------------------------------*
-- *	正  常  終  了
-- *--------------------------------------------------*
PROC_END:
RETURN(0)
-- *--------------------------------------------------*
-- *	異  常  終  了
-- *--------------------------------------------------*
PROC_ERR:
RETURN(1)





GO
