USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[材料発注帳票発行データ作成]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[材料発注帳票発行データ作成] ( @NPAGE INT OUTPUT,@SPAGE INT OUTPUT,@JPAGE INT OUTPUT,
						@JAMACNT INT OUTPUT,@TXTCNT INT OUTPUT,@ERRCD TINYINT OUTPUT ) AS
--=========================================================================================--
--	材料発注帳票発行データ作成
--	
--	処理内容　：	1.材料発注累積テーブル (かんばん読取・発注画面入力・入荷実績入力）より
--			　　自社伝票・JAMA伝票発行用データを作成する（納品書・受領書・支給書）	
--			2.発行対象の伝票を帳票出力テーブルに出力する。
--				自社伝票発行(5)、JAMAファイル出力(6)、自社ファイル出力(7)
--	
--	パラメタ　：	@NPAGE      …　納品書頁数		
--			@SPAGE      …　支給書頁数			
--			@JPAGE      …　受領書頁数			
--			@JAMACNT  …　JAMAファイル出力件数			
--			@TXTCNT    …　自社伝票ファイル出力件数			
--			@ERRCD      …　エラーコード
--	
--	作成日　：	2004/02/21
--	変 更 日　：	2007/12/12	納品書発行区分･支給書発行区分･受領書発行区分を品番単位で設定
--					発行無しもデータは作成する
--	
--=========================================================================================--
-- T
--DECLARE @NPAGE INT,@SPAGE INT,@JPAGE INT,@JAMACNT INT,@TXTCNT INT
--DECLARE @ERRCD TINYINT
-- T
SET NOCOUNT ON

SELECT @NPAGE = 0,@SPAGE = 0,@JPAGE = 0,@JAMACNT = 0,@TXTCNT = 0,@ERRCD = 0

----------------------------
--<<　トランザクション開始        >>--
----------------------------
BEGIN TRANSACTION DENCRT
--------------------------------------------
--     材料発注累積テーブルカーソル定義		
--------------------------------------------
DECLARE JMCUR SCROLL CURSOR
FOR 

	SELECT HU.契約先,HU.仕入先,HU.受入,HU.納入先,HU.納入先受入,HU.発注区分,HU.納入日,HU.納入便,
		HU.材料管理番号,HU.納品書管理NO,HU.納入番号,HU.納品書頁,HU.納品書行,HU.手配区分,
		HU.SK区分,HU.収容数,HU.枚数,HU.端数,HU.発注数,HU.伝票種類,HU.伝票発行区分,
		HU.納品書作成区分,HU.支給書作成区分,HU.受領書作成区分,HU.納品書形態,HU.受領書形態,
		HU.納品書発行区分,HU.支給書発行区分,HU.受領書発行区分						-- 2007/12/12 ADD
	 FROM 材料発注累積テーブル HU
	WHERE 処理端末 = HOST_NAME()
	  AND   処理区分 = 0
	ORDER BY HU.納入番号,HU.納品書頁,HU.納品書行

FOR READ ONLY 
OPEN JMCUR

--*  ｶｰｿﾙ項目定義  *--
DECLARE @KTORCD VARCHAR(7),@TORCD VARCHAR(7),@UKEIR VARCHAR(2),@NONYU VARCHAR(7),@NOUKE VARCHAR(2)
DECLARE @HCKBN TINYINT,@NYMD VARCHAR(8),@NBIN VARCHAR(2),@ZAIRNO INT
DECLARE @NKANRINO INT,@NOUNO VARCHAR(5),@PAGE TINYINT,@GYO TINYINT,@TEKBN VARCHAR(1),@SKKBN TINYINT
DECLARE @SYUYO DECIMAL(9,3) ,@MAISU INT,@HASU DECIMAL(9,3),@HSURYO DECIMAL(11,3),@DENSYU VARCHAR(1),@DENHKB TINYINT
DECLARE @NCRTKB TINYINT,@SCRTKB TINYINT,@JCRTKB TINYINT,@NOUKKB VARCHAR(1),@JYUKKB VARCHAR(1)

DECLARE @PRTKBN TINYINT,@PRTKBS TINYINT,@PRTKBJ TINYINT							-- 2007/12/12 ADD
--*  キー項目  *--
DECLARE @KEY_NOUNO VARCHAR(5)
--*  ワーク項目定義  *--
DECLARE @NPPAGE INT,@SPPAGE INT,@JPPAGE INT
DECLARE @WSEL1 VARCHAR(255),@WSEL2 VARCHAR(255)
DECLARE @GYOX VARCHAR(2),@PAGEX VARCHAR(2),@ZAIRNOX VARCHAR(10)
DECLARE @MAISUX VARCHAR(5),@SYUYOX VARCHAR(10),@HASUX VARCHAR(10),@SURYOX VARCHAR(12)
DECLARE @CRTYMD VARCHAR(8),@CRTTIME VARCHAR(8)
--*  キー項目　初期化  *--
SELECT @KEY_NOUNO = ''
--*  ワーク初期化  *--
SELECT @NPPAGE = 0,@SPPAGE = 0,@JPPAGE = 0
SELECT @CRTYMD = CONVERT(VARCHAR(8),GETDATE(),112)
SELECT @CRTTIME = CONVERT(VARCHAR(8),GETDATE(),114)
--*--------------------------------------------------------------------------------*--
--*   材料発注累積テーブル  読込		
--*
--*--------------------------------------------------------------------------------*--
FETCH NEXT FROM JMCUR INTO 
		@KTORCD ,@TORCD ,@UKEIR ,@NONYU ,@NOUKE ,@HCKBN ,@NYMD ,@NBIN ,@ZAIRNO ,
		@NKANRINO ,@NOUNO ,@PAGE ,@GYO ,@TEKBN ,@SKKBN ,@SYUYO ,@MAISU ,@HASU ,@HSURYO ,
		@DENSYU ,@DENHKB ,@NCRTKB ,@SCRTKB ,@JCRTKB ,@NOUKKB ,@JYUKKB
		,@PRTKBN ,@PRTKBS ,@PRTKBJ										-- 2007/12/12 ADD
WHILE @@FETCH_STATUS = 0
BEGIN

	IF @KEY_NOUNO <> @NOUNO
	    BEGIN
		IF @KEY_NOUNO <> ''
		    BEGIN
		--  総頁数（１納入番号1帳票単位）・物理総頁数（１納入番号全帳票単位） 更新
			UPDATE 材料発注帳票発行テーブル SET
			    総頁数 = CASE WHEN カード = 6 THEN @JPPAGE
					       WHEN カード = 7 THEN @NPPAGE
					        WHEN カード = 8 THEN @SPPAGE ELSE 0 END,
			    物理総頁数 = @NPPAGE + @SPPAGE + @JPPAGE
			WHERE 納入番号 = @KEY_NOUNO
			  AND 処理端末 = HOST_NAME()
			IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 41	GOTO PROC_ERR	END
		--  END表示区分（１納入番号１帳票単位） 更新
			UPDATE 材料発注帳票発行テーブル SET
			    END表示区分 = 1
			WHERE 納入番号 = @KEY_NOUNO
			  AND カード = 6
			  AND 頁NO = @JPPAGE
			  AND 処理端末 = HOST_NAME()
			IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 42	GOTO PROC_ERR	END
			UPDATE 材料発注帳票発行テーブル SET
			    END表示区分 = 1
			WHERE 納入番号 = @KEY_NOUNO
			  AND カード = 7
			  AND 頁NO = @NPPAGE
			  AND 処理端末 = HOST_NAME()
			IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 43	GOTO PROC_ERR	END
			UPDATE 材料発注帳票発行テーブル SET
			    END表示区分 = 1
			WHERE 納入番号 = @KEY_NOUNO
			  AND カード = 8
			  AND 頁NO = @SPPAGE
			  AND 処理端末 = HOST_NAME()
			IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 44	GOTO PROC_ERR	END
		    END
		SELECT @NPPAGE = 0,@SPPAGE = 0,@JPPAGE = 0
	    END

	IF @GYO = 1
	    BEGIN
		-----------------------
		--	新レコード作成
		-----------------------
		-- 材料発注帳票発行テーブルへ１品番目出力(納品書)
		IF (SELECT COUNT(納入番号) FROM 材料発注帳票発行テーブル
			WHERE 納入番号 = @NOUNO
			    AND 頁NO = @PAGE
			    AND カード = 7
			    AND 納品書管理NO = @NKANRINO ) = 0 AND @NCRTKB <> 0
		    BEGIN
			INSERT INTO 材料発注帳票発行テーブル (		
				納品書管理NO,納入番号,頁NO,カード,発行順,契約先,仕入先,受入,納入先,納入先受入,発注区分,納入日,納入便,手配区分,SK区分,
				箱総数,総頁数,作成日,作成時間,グループNO,物理現頁数,物理総頁数,END表示区分,ALLEND表示区分,明細行数,
				行1,材料管理番号1,収容数1,箱数1,端数1,納入数1,
				処理端末,処理区分,TEXTNAME,発行区分,発行種類,発行形態,発行日,作成端末 ) VALUES (
				@NKANRINO ,@NOUNO,@PAGE,'7',1,@KTORCD,@TORCD,@UKEIR,@NONYU,@NOUKE,@HCKBN,@NYMD,@NBIN,@TEKBN,@SKKBN,
				@MAISU,@PAGE,@CRTYMD,@CRTTIME,SUBSTRING(@NOUNO,2,3),0,0,0,0,@GYO,
				1,@ZAIRNO,@SYUYO,@MAISU,@HASU,@HSURYO,
--				HOST_NAME(),1,'',@DENHKB,@DENSYU,@NOUKKB,'',HOST_NAME() )				2007/12/12 MNT
				HOST_NAME(),1,'',@PRTKBN,@DENSYU,@NOUKKB,'',HOST_NAME() )
			IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 45	GOTO PROC_ERR	END

			SELECT @NPPAGE = @NPPAGE + 1
		    END
		-- 材料発注帳票発行テーブルへ１品番目出力(受領書)
		IF (SELECT COUNT(納入番号) FROM 材料発注帳票発行テーブル
			WHERE 納入番号 = @NOUNO
			    AND 頁NO = @PAGE
			    AND カード = 6
			    AND 納品書管理NO = @NKANRINO ) = 0 AND @JCRTKB <> 0
		    BEGIN
			INSERT INTO 材料発注帳票発行テーブル (		
				納品書管理NO,納入番号,頁NO,カード,発行順,契約先,仕入先,受入,納入先,納入先受入,発注区分,納入日,納入便,手配区分,SK区分,
				箱総数,総頁数,作成日,作成時間,グループNO,物理現頁数,物理総頁数,END表示区分,ALLEND表示区分,明細行数,
				行1,材料管理番号1,収容数1,箱数1,端数1,納入数1,
				処理端末,処理区分,TEXTNAME,発行区分,発行種類,発行形態,発行日,作成端末 ) VALUES (
				@NKANRINO ,@NOUNO,@PAGE,'6',2,@KTORCD,@TORCD,@UKEIR,@NONYU,@NOUKE,@HCKBN,@NYMD,@NBIN,@TEKBN,@SKKBN,
				@MAISU,@PAGE,@CRTYMD,@CRTTIME,SUBSTRING(@NOUNO,2,3),0,0,0,0,@GYO,
				1,@ZAIRNO,@SYUYO,@MAISU,@HASU,@HSURYO,
--				HOST_NAME(),1,'',@DENHKB,@DENSYU,@JYUKKB,							2007/12/12 MNT
				HOST_NAME(),1,'',@PRTKBJ,@DENSYU,@JYUKKB,
				'',HOST_NAME() )
			IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 46	GOTO PROC_ERR	END
			SELECT @JPPAGE = @JPPAGE + 1
		    END
		-- 材料発注帳票発行テーブルへ１品番目出力(支給書)
		IF (SELECT COUNT(納入番号) FROM 材料発注帳票発行テーブル
			WHERE 納入番号 = @NOUNO
			    AND 頁NO = @PAGE
			    AND カード = 8
			    AND 納品書管理NO = @NKANRINO ) = 0 AND @SCRTKB <> 0
		    BEGIN
			INSERT INTO 材料発注帳票発行テーブル (		
				納品書管理NO,納入番号,頁NO,カード,発行順,契約先,仕入先,受入,納入先,納入先受入,発注区分,納入日,納入便,手配区分,SK区分,
				箱総数,総頁数,作成日,作成時間,グループNO,物理現頁数,物理総頁数,END表示区分,ALLEND表示区分,明細行数,
				行1,材料管理番号1,収容数1,箱数1,端数1,納入数1,
				処理端末,処理区分,TEXTNAME,発行区分,発行種類,発行形態,発行日,作成端末 ) VALUES (
				@NKANRINO ,@NOUNO,@PAGE,'8',3,@KTORCD,@TORCD,@UKEIR,@NONYU,@NOUKE,@HCKBN,@NYMD,@NBIN,@TEKBN,@SKKBN,
				@MAISU,@PAGE,@CRTYMD,@CRTTIME,SUBSTRING(@NOUNO,2,3),0,0,0,0,@GYO,
				1,@ZAIRNO,@SYUYO,@MAISU,@HASU,@HSURYO,
--				HOST_NAME(),1,'',@DENHKB,@DENSYU,@NOUKKB,'',HOST_NAME() )				2007/12/12 MNT
				HOST_NAME(),1,'',@PRTKBS,@DENSYU,@NOUKKB,'',HOST_NAME() )
			IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 47	GOTO PROC_ERR	END
			SELECT @SPPAGE = @SPPAGE + 1
		    END
	    END
	ELSE
	    BEGIN
		--------------------------
		--	既存レコード更新
		--------------------------
		-- 材料発注帳票発行テーブル 更新
		SELECT @PAGEX = CONVERT(VARCHAR(2),@PAGE)
		SELECT @GYOX = CONVERT(VARCHAR(2),@GYO)
		SELECT @ZAIRNOX = CONVERT(VARCHAR(10),@ZAIRNO)
		SELECT @MAISUX = CONVERT(VARCHAR(5),@MAISU)
		SELECT @SYUYOX = CONVERT(VARCHAR(10),@SYUYO)
		SELECT @HASUX = CONVERT(VARCHAR(10),@HASU)
		SELECT @SURYOX = CONVERT(VARCHAR(12),@HSURYO)

		SELECT @WSEL1 = 'UPDATE 材料発注帳票発行テーブル SET '
		SELECT @WSEL1 = @WSEL1 + '箱総数 = 箱総数 + ' + @MAISUX + ', '
		SELECT @WSEL1 = @WSEL1 + '明細行数 = ' + @GYOX + ', '
		SELECT @WSEL1 = @WSEL1 + '行' + @GYOX + ' = ' + @GYOX + ','
		SELECT @WSEL1 = @WSEL1 + '材料管理番号' + @GYOX + ' = ' + @ZAIRNOX + ', '
		SELECT @WSEL2 = '収容数' + @GYOX + ' = ' + @SYUYOX + ', '
		SELECT @WSEL2 = @WSEL2 + '箱数' + @GYOX + ' = ' + @MAISUX + ', '
		SELECT @WSEL2 = @WSEL2 + '端数' + @GYOX + ' = ' + @HASUX + ', '
		SELECT @WSEL2 = @WSEL2 + '納入数' + @GYOX + ' = ' + @SURYOX + ' '

		SELECT @WSEL2 = @WSEL2 + ' WHERE 納入番号 = ''' + @NOUNO + ''''
		SELECT @WSEL2 = @WSEL2 + ' AND 頁NO = ' + @PAGEX  
		SELECT @WSEL2 = @WSEL2 + ' AND 処理端末 = HOST_NAME()'

		EXEC (@WSEL1+@WSEL2)
		IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 48	GOTO PROC_ERR	END

	    END 

	--((  材料発注累積テーブル　処理区分 更新  ))
	UPDATE 材料発注累積テーブル SET
	    処理区分 = 9
	WHERE 納入番号 = @NOUNO
	  AND 納品書頁 = @PAGE
	  AND 納品書行 = @GYO
	  AND 処理端末 = HOST_NAME()
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 49	GOTO PROC_ERR	END

	--* KEY項目退避 *--
	SELECT @KEY_NOUNO = @NOUNO

------------------------------------------------------------
--  材料発注累積テーブル カーソル スクロール(次レコード）  		       
------------------------------------------------------------
	FETCH NEXT FROM JMCUR INTO
		@KTORCD ,@TORCD ,@UKEIR ,@NONYU ,@NOUKE ,@HCKBN ,@NYMD ,@NBIN ,@ZAIRNO ,
		@NKANRINO ,@NOUNO ,@PAGE ,@GYO ,@TEKBN ,@SKKBN ,@SYUYO ,@MAISU ,@HASU ,@HSURYO ,
		@DENSYU ,@DENHKB ,@NCRTKB ,@SCRTKB ,@JCRTKB ,@NOUKKB ,@JYUKKB
		,@PRTKBN ,@PRTKBS ,@PRTKBJ										-- 2007/12/12 ADD
END

CLOSE JMCUR
DEALLOCATE JMCUR


--((  最終行更新  ))
IF @KEY_NOUNO <> ''
    BEGIN
--(  総頁数（１納入番号1帳票単位）・物理総頁数（１納入番号全帳票単位） 更新
	UPDATE 材料発注帳票発行テーブル SET
	    総頁数 = CASE WHEN カード = 6 THEN @JPPAGE
			       WHEN カード = 7 THEN @NPPAGE
			        WHEN カード = 8 THEN @SPPAGE ELSE 0 END,
	    物理総頁数 = @NPPAGE + @SPPAGE + @JPPAGE
	WHERE 納入番号 = @KEY_NOUNO
	  AND 処理端末 = HOST_NAME()
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 50	GOTO PROC_ERR	END
--(  END表示区分（１納入番号１帳票単位） 更新
	UPDATE 材料発注帳票発行テーブル SET
	    END表示区分 = 1
	WHERE 納入番号 = @KEY_NOUNO
	  AND カード = 6
	  AND 頁NO = @JPPAGE
	  AND 処理端末 = HOST_NAME()
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 51	GOTO PROC_ERR	END
	UPDATE 材料発注帳票発行テーブル SET
	    END表示区分 = 1
	WHERE 納入番号 = @KEY_NOUNO
	  AND カード = 7
	  AND 頁NO = @NPPAGE
	  AND 処理端末 = HOST_NAME()
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 52	GOTO PROC_ERR	END
	UPDATE 材料発注帳票発行テーブル SET
	    END表示区分 = 1
	WHERE 納入番号 = @KEY_NOUNO
	  AND カード = 8
	  AND 頁NO = @SPPAGE
	  AND 処理端末 = HOST_NAME()
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 53	GOTO PROC_ERR	END
	SELECT @NPPAGE = 0,@SPPAGE = 0,@JPPAGE = 0
    END


--==================================================================--
--	ALLEND表示区分・物理現頁数・物理総頁数の更新
--==================================================================--
--------------------------------------------
--     材料発注帳票発行テーブルカーソル定義		
--------------------------------------------
DECLARE JCCUR SCROLL CURSOR
FOR 
	SELECT 発行種類,発行形態,納入番号,頁NO,カード FROM 材料発注帳票発行テーブル
	WHERE 処理端末 = HOST_NAME()
	    AND 処理区分 = 1
	ORDER BY 発行種類,発行形態,納入番号,発行順,頁NO
FOR READ ONLY 
OPEN JCCUR

--(  ｶｰｿﾙ項目定義  )--
DECLARE @CARD VARCHAR(1),@HKEITAI VARCHAR(1)
--(  KEY項目定義  )--
DECLARE @KEY_DENSYU VARCHAR(1),@KEY_HKEITAI VARCHAR(1)
DECLARE @KEY_PAGE TINYINT,@KEY_CARD VARCHAR(1)
--(  KEY項目初期化  )--
SELECT @KEY_DENSYU = 0,@KEY_NOUNO = '',@KEY_PAGE = 0,@KEY_CARD = ''
SELECT @GYO = 0
------------------------------------------------------------------------------------
--   材料発注帳票発行テーブル  読込		
------------------------------------------------------------------------------------
FETCH NEXT FROM JCCUR INTO @DENSYU,@HKEITAI ,@NOUNO,@PAGE,@CARD
WHILE @@FETCH_STATUS = 0
BEGIN
	IF @KEY_NOUNO <> '' AND (@DENSYU <> @KEY_DENSYU OR @HKEITAI <> @KEY_HKEITAI OR @NOUNO <> @KEY_NOUNO)
	    BEGIN
		UPDATE 材料発注帳票発行テーブル SET
		    ALLEND表示区分 = 1
		WHERE 納入番号 = @KEY_NOUNO
		  AND 頁NO = @KEY_PAGE
		  AND カード = @KEY_CARD
		  AND 処理端末 = HOST_NAME()
		IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 61	GOTO PROC_ERR	END
		
		UPDATE 材料発注帳票発行テーブル SET
		    物理総頁数 = @GYO
		WHERE 納入番号 = @KEY_NOUNO
		  AND 発行種類 = @KEY_DENSYU
		  AND 発行形態 = @KEY_HKEITAI
		  AND 処理端末 = HOST_NAME()
		IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 62	GOTO PROC_ERR	END
		SELECT @GYO = 0
	    END

	SELECT @GYO = @GYO +1

	UPDATE 材料発注帳票発行テーブル SET
	    物理現頁数 = @GYO,
	    処理区分 = 2
	WHERE 納入番号 = @NOUNO
	  AND 頁NO = @PAGE
	  AND カード = @CARD
	  AND 処理端末 = HOST_NAME()
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 63	GOTO PROC_ERR	END

	SELECT @KEY_DENSYU = @DENSYU
	SELECT @KEY_HKEITAI = @HKEITAI
	SELECT @KEY_NOUNO = @NOUNO
	SELECT @KEY_PAGE = @PAGE
	SELECT @KEY_CARD = @CARD
------------------------------------------------------------
--  材料発注帳票発行テーブルカーソルスクロール(次レコード）  		       
------------------------------------------------------------
	FETCH NEXT FROM JCCUR INTO @DENSYU,@HKEITAI ,@NOUNO,@PAGE,@CARD
END

CLOSE JCCUR
DEALLOCATE JCCUR

IF @KEY_NOUNO <> '' 
    BEGIN
	UPDATE 材料発注帳票発行テーブル SET
	    ALLEND表示区分 = 1,
	    処理区分 = 2
	WHERE 納入番号 = @KEY_NOUNO
	  AND 頁NO = @KEY_PAGE
	  AND カード = @KEY_CARD
	  AND 処理端末 = HOST_NAME()
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 64	GOTO PROC_ERR	END

	UPDATE 材料発注帳票発行テーブル SET
	    物理総頁数 = @GYO
	WHERE 納入番号 = @KEY_NOUNO
	  AND 発行種類 = @KEY_DENSYU
	  AND 発行形態 = @KEY_HKEITAI
	  AND 処理端末 = HOST_NAME()
	IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 65	GOTO PROC_ERR	END

    END


-----------------------------------------------
--<< 	帳票出力テーブルへ出力			     >>--
-----------------------------------------------
--自社伝票発行用　帳票出力テーブル出力
INSERT INTO 帳票出力テーブル (端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日)
SELECT HOST_NAME(),25,納入番号,カード,納品書管理NO,0,頁NO,0,GETDATE() FROM 材料発注帳票発行テーブル
WHERE 処理端末 = HOST_NAME() AND 処理区分 = 2
    AND 発行区分 <> 0 AND 発行種類 = '1' AND 発行形態 = '1'
IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 35	GOTO PROC_ERR	END

--自社伝票ファイル出力用　帳票出力テーブル出力
INSERT INTO 帳票出力テーブル (端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日)
SELECT HOST_NAME(),26,納入番号,カード,納品書管理NO,0,頁NO,0,GETDATE() FROM 材料発注帳票発行テーブル
WHERE 処理端末 = HOST_NAME() AND 処理区分 = 2
    AND 発行区分 <> 0 AND 発行種類 = '1' AND 発行形態 = '2'
IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 36	GOTO PROC_ERR	END

--JAMAファイル出力用　帳票出力テーブル出力
INSERT INTO 帳票出力テーブル (端末番号,帳票区分,管理文字,検索情報,管理NO,管理行NO,補助番号,出力先,作成日)
SELECT HOST_NAME(),27,納入番号,カード,納品書管理NO,0,頁NO,0,GETDATE() FROM 材料発注帳票発行テーブル
WHERE 処理端末 = HOST_NAME() AND 処理区分 = 2
    AND 発行区分 <> 0 AND 発行種類 = '2' AND 発行形態 = '2'
IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 37	GOTO PROC_ERR	END

-----------------------------------------------
--<< 	件数獲得					     >>--
-----------------------------------------------
SELECT @NPAGE = (SELECT COUNT(納入番号) FROM 材料発注帳票発行テーブル
			WHERE 処理端末 = HOST_NAME() AND 処理区分 = 2 
			    AND 発行区分 <> 0 AND 発行種類 = '1' AND 発行形態 = '1' AND カード = '7')
SELECT @SPAGE = (SELECT COUNT(納入番号) FROM 材料発注帳票発行テーブル
			WHERE 処理端末 = HOST_NAME() AND 処理区分 = 2 
			    AND 発行区分 <> 0 AND 発行種類 = '1' AND 発行形態 = '1' AND カード = '8')
SELECT @JPAGE = (SELECT COUNT(納入番号) FROM 材料発注帳票発行テーブル
			WHERE 処理端末 = HOST_NAME() AND 処理区分 = 2 
			    AND 発行区分 <> 0 AND 発行種類 = '1' AND 発行形態 = '1' AND カード = '6')
SELECT @JAMACNT = (SELECT COUNT(納入番号) FROM 材料発注帳票発行テーブル
			WHERE 処理端末 = HOST_NAME() AND 処理区分 = 2 
			    AND 発行区分 <> 0 AND 発行種類 = '2' AND 発行形態 = '2')
SELECT @TXTCNT = (SELECT COUNT(納入番号) FROM 材料発注帳票発行テーブル
			WHERE 処理端末 = HOST_NAME() AND 処理区分 = 2 
			    AND 発行区分 <> 0 AND 発行種類 = '1' AND 発行形態 = '2')

-----------------------------------------------
--<<	 材料発注帳票発行テーブル　正常終了更新 	     >>--
-----------------------------------------------
UPDATE 材料発注帳票発行テーブル SET
    処理端末 = '',
    処理区分 = 0
WHERE 処理端末 = HOST_NAME()
  AND 処理区分 = 2
IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 66	GOTO PROC_ERR	END

-----------------------------------------------
--	終了処理　材料発注累積テーブル　削除	
-----------------------------------------------
DELETE FROM 材料発注累積テーブル
WHERE 処理端末 = HOST_NAME()
  AND 処理区分 = 9
IF @@ERROR <> 0 BEGIN SELECT @ERRCD = 67	GOTO PROC_ERR	END


PROC_END:
--*----------*--
--*  正常終了 *--
--*----------*--
--SELECT '納品書頁数' = @NPAGE,'支給書頁数' = @SPAGE,'受領書頁数' = @JPAGE,'JAMA件数' = @JAMACNT,'自社ファイル' = @TXTCNT

----------------------------
--<<　トランザクション終了        >>--
----------------------------
COMMIT TRANSACTION DENCRT

RETURN

PROC_ERR:
--*----------*--
--*  異常終了 *--
--*----------*--

--SELECT @ERRCD
RETURN


GO
