USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[かんばん発注予定発行抽出]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE            PROCEDURE [dbo].[かんばん発注予定発行抽出] (
					@HYMD 	VARCHAR(08),
					@KAISU 	TINYINT,
					@ERR 	TINYINT OUTPUT
					 )  AS 

------------------------------------------------------------------------------------------------
--	かんばん発注予定発行抽出
--
--	発注テーブルによるかんばん発注予定発行用データ作成
--
--	ﾊﾟﾗﾒﾀ	  : 	@HYMD	 VARCHAR(08)    ･･･	指定発注日(発行日）
--		      : 	@KAISU	 TINYINT	    ･･･	指定回数
--							
--	Return	  : 
--		  : 	@ERRNO	 TINYINT	･･･	ｴﾗｰｺｰﾄﾞ
--										
--			ｴﾗｰ要因 	0   : 正常終了
--			 		0≠: 異常終了
--					
--	作成日  :  2005/04/26 
--	変更日  :  2005/07/22	曜日発注機能追加
--					
------------------------------------------------------------------------------------------------
SET NOCOUNT ON
--T
/*
DECLARE @HYMD VARCHAR(08)
DECLARE @KAISU TINYINT
DECLARE @ERR TINYINT

SELECT @HYMD = '20050722'
SELECT @KAISU = 1
*/
-- T END
-- T END

-- 退避エリア
DECLARE @RTN  		TINYINT

-- 初期値設定
SELECT @ERR = 0
--  ｶｰｿﾙ項目定義  --
DECLARE @NO INT,@TORCD VARCHAR(8),@UKEIR VARCHAR(2),@CYCLE VARCHAR(6),@BIN VARCHAR(2),
	@EHYMD VARCHAR(8),@HTSYMD VARCHAR(8)
DECLARE @HYDATE	VARCHAR(8)
--  ワーク項目定義  --
DECLARE @YDATE	VARCHAR(8)
DECLARE @HDATE 	VARCHAR(8)
DECLARE @HBIN 	VARCHAR(2)
DECLARE @NDATE 	VARCHAR(8)
DECLARE @NBIN 	VARCHAR(2)

DECLARE @HI		INT
DECLARE @W_NYMD 	VARCHAR(8)
DECLARE @W_NBIN 	VARCHAR(2)
DECLARE @HTIME 	VARCHAR(4)
DECLARE @PDATE 	VARCHAR(8) 
DECLARE @PTIME 	VARCHAR(4)
DECLARE @ADDDAY INT
DECLARE @HYYMD VARCHAR(8),@HKASAN INT,@PRTYMD VARCHAR(8)


-- 前回　発注予定テーブル削除
DELETE FROM 発注予定発行テーブル WHERE 端末番号 = Host_Name()
IF @@ERROR <> 0 BEGIN SELECT @ERR = 1 GOTO PROC_ERROR END

--*==================================================================================*--
--	今回対象となる仕入先・受入・サイクルを抽出する
--*==================================================================================*--
Insert Into 発注予定発行テーブル
	( 端末番号,仕入先,受入,サイクル,発行日,発行加算日,発注日,発注便,納入日,納入便,
	発注予定日,発注予定便,最終発注日,最終発注便,曜日発注,発注時間,昼夜区分 )
SELECT HOST_NAME(),HC.仕入先,HC.受入,HC.サイクル,@HYMD,ISNULL(HC.発行加算日,0),
	CASE WHEN ISNULL(HC.発行加算日,0) = 0 THEN @HYMD ELSE '' END,HC.振出便,'','',
	'',HC.振出便,HC.最終発注日,HC.最終発注便,ISNULL(TU.曜日発注,0),HC.振出時間,HC.昼夜区分
  FROM 発注サイクルマスタ HC
LEFT OUTER JOIN 取引先受入マスタ TU
	ON  TU.取引先ＣＤ = HC.仕入先
	AND TU.受入 = HC.受入
	AND TU.取引先区分 = 1
 WHERE HC.行識別 = 0
     AND HC.最終発注日 <> ''
IF @@ERROR <> 0 BEGIN SELECT @ERR = 3 GOTO PROC_ERROR END

--*==================================================================================*--
--      発注日を求める		
--*==================================================================================*--
DECLARE HYSCUR SCROLL CURSOR
FOR 

	SELECT HY.番号,HY.発行加算日,HY.発行日
	  FROM 発注予定発行テーブル HY
	WHERE 端末番号 = HOST_NAME()
	    And 発注日 = ''
FOR READ ONLY 
OPEN HYSCUR
----------------------------------------------------------------------
--   発注予定テーブル  読込		
----------------------------------------------------------------------
FETCH NEXT FROM HYSCUR INTO @NO ,@HKASAN ,@PRTYMD
WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @HDATE = @PRTYMD
	IF @HKASAN <> 0
	    BEGIN
		--発行日加算
		EXEC 日付加算 @PRTYMD,@HKASAN,@HDATE OUTPUT,@RTN OUTPUT
		IF @RTN <> 0 BEGIN SELECT @ERR = 15 GOTO PROC_ERROR END

	    END

	UPDATE 発注予定発行テーブル SET
	    発注日 = @HDATE
	WHERE 端末番号 = HOST_NAME()
	     And 番号 = @NO
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 16 GOTO PROC_ERROR END

-- ----------------------------------------------------------
--   発注予定テーブルカーソルスクロール(次レコード）  		      
-- ----------------------------------------------------------
	FETCH NEXT FROM HYSCUR INTO @NO , @HKASAN ,@PRTYMD
END

CLOSE HYSCUR
DEALLOCATE HYSCUR

--*==================================================================================*--
--      発注予定日を求める		
--*==================================================================================*--
--------------------------------
--	《サイクル (1-XX-XX) 》
--------------------------------
	UPDATE 発注予定発行テーブル SET
	    発注予定日 = 発注日
	WHERE 端末番号 = HOST_NAME()
	     And 曜日発注 = 0
	     And SUBSTRING(サイクル,1,1) = '1'
--------------------------------
--	《サイクル (2-XX-XX) 》
--------------------------------
DECLARE HYSCUR SCROLL CURSOR
FOR 

	SELECT HY.番号,HY.サイクル,HY.発注日,HY.最終発注日,ISNULL(TR.開始発注日,'')
	  FROM 発注予定発行テーブル HY
	LEFT OUTER JOIN 取引先マスタ TR
		ON  TR.取引先CD = HY.仕入先
		AND TR.取引先区分 = 1
	WHERE 端末番号 = HOST_NAME()
	    And 発注予定日 = ''
	     And 曜日発注 = 0
	    And SUBSTRING(サイクル,1,1) <> '1'
	    And (ISNULL(HY.最終発注日,'') <> '' OR ISNULL(TR.開始発注日,'') <> '')
FOR READ ONLY 
OPEN HYSCUR
----------------------------------------------------------------------------------
--   発注予定テーブル  読込		
----------------------------------------------------------------------------------
FETCH NEXT FROM HYSCUR INTO @NO , @CYCLE , @HDATE, @EHYMD, @HTSYMD 
WHILE @@FETCH_STATUS = 0
BEGIN
	-- サイクルより日を求める
	SELECT @ADDDAY = CAST(SUBSTRING(@CYCLE,1,1) AS INT)
	--*-----------------------------*--
	--*	最終発注日を求める
	--*-----------------------------*--
	IF @EHYMD = ''
	    BEGIN
		SELECT @YDATE = @HTSYMD
		WHILE @YDATE < @HYMD
		BEGIN
			SELECT @EHYMD = @YDATE
			-- 日付減算（稼働日）
			EXEC 日付加算 @EHYMD,@ADDDAY,@YDATE OUTPUT,@RTN OUTPUT
			IF @RTN <> 0 BEGIN SELECT @ERR = 5 GOTO PROC_ERROR END
		END
	    END
	--*-----------------------------*--
	--*	発注予定日を求める
	--*-----------------------------*--
	SELECT @YDATE = @EHYMD,@NDATE = @EHYMD
	WHILE @YDATE < @HDATE
	BEGIN
		SELECT @NDATE = @YDATE
		-- 日付減算（稼働日）
		EXEC 日付加算 @NDATE,@ADDDAY,@YDATE OUTPUT,@RTN OUTPUT
		IF @RTN <> 0 BEGIN SELECT @ERR = 6 GOTO PROC_ERROR END
	END
	SELECT @HYDATE = @YDATE
	--*-----------------------------*--
	--*	納入日を求める
	--*-----------------------------*--
	-- 日付減算（稼働日）
	EXEC 日付加算 @YDATE,@ADDDAY,@NDATE OUTPUT,@RTN OUTPUT
	IF @RTN <> 0 BEGIN SELECT @ERR = 8 GOTO PROC_ERROR END

	UPDATE 発注予定発行テーブル SET
		発注予定日 = @HYDATE,
		発注予定便 = '01',
		納入日 = @NDATE,
		納入便 = '01'
	WHERE 端末番号 = HOST_NAME()
	     And 番号 = @NO
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 9 GOTO PROC_ERROR END

-- ----------------------------------------------------------
--   発注予定テーブルカーソルスクロール(次レコード）  		      
-- ----------------------------------------------------------
	FETCH NEXT FROM HYSCUR INTO @NO , @CYCLE , @HDATE, @EHYMD, @HTSYMD 
END

CLOSE HYSCUR
DEALLOCATE HYSCUR

--------------------------------
--	《曜日発注 》
--------------------------------
DECLARE HYSCUR SCROLL CURSOR
FOR 

	SELECT HY.番号,HY.仕入先,HY.受入,HY.サイクル,HY.発注日,HY.最終発注日,ISNULL(TR.開始発注日,''),HY.昼夜区分,
		ISNULL(TU.曜日1,0),ISNULL(TU.曜日2,0),ISNULL(TU.曜日3,0),ISNULL(TU.曜日4,0),ISNULL(TU.曜日5,0)
	  FROM 発注予定発行テーブル HY
	LEFT OUTER JOIN 取引先マスタ TR
		ON  TR.取引先CD = HY.仕入先
		AND TR.取引先区分 = 1
	LEFT OUTER JOIN 取引先受入マスタ TU
		ON  TU.取引先CD = HY.仕入先
		AND TU.受入 = HY.受入
		AND TU.取引先区分 = 1
	WHERE HY.端末番号 = HOST_NAME()
	    And HY.発注予定日 = ''
	     And HY.曜日発注 <> 0
	    And (ISNULL(HY.最終発注日,'') <> '' OR ISNULL(TR.開始発注日,'') <> '')
FOR READ ONLY 
OPEN HYSCUR

DECLARE @DAYKB		VARCHAR(31)		-- 昼勤稼動区分
DECLARE @NIGHTKB		VARCHAR(31)		-- 夜勤稼動区分
DECLARE @DAYNIGHT	TINYINT		-- 昼夜勤区分
DECLARE @WDATE		DATETIME
DECLARE @WBIN		SMALLINT
DECLARE @SYM		VARCHAR(06)		-- 年月退避
DECLARE @YOUBI1		TINYINT		-- 月曜日発注区分
DECLARE @YOUBI2		TINYINT		-- 火曜日発注区分
DECLARE @YOUBI3		TINYINT		-- 水曜日発注区分
DECLARE @YOUBI4		TINYINT		-- 木曜日発注区分
DECLARE @YOUBI5		TINYINT		-- 金曜日発注区分
DECLARE @WIDX		SMALLINT
----------------------------------------------------------------------------------
--   発注予定テーブル  読込		
----------------------------------------------------------------------------------
FETCH NEXT FROM HYSCUR INTO @NO ,@TORCD ,@UKEIR ,@CYCLE ,@HDATE, @EHYMD, @HTSYMD ,@DAYNIGHT ,
					@YOUBI1 ,@YOUBI2 ,@YOUBI3 ,@YOUBI4 ,@YOUBI5 
WHILE @@FETCH_STATUS = 0
BEGIN
	--*-----------------------------*--
	--*	最終発注日を求める
	--*-----------------------------*--
	IF @EHYMD = ''
	    BEGIN
		SELECT @EHYMD = @HTSYMD
	    END

	SELECT @WDATE = CONVERT(DATETIME,@EHYMD,112)
	SELECT @SYM = SUBSTRING(@EHYMD,1,6)
	IF @YOUBI1 <> 0 BEGIN SELECT @YOUBI1 = 2 	END
	IF @YOUBI2 <> 0 BEGIN SELECT @YOUBI2 = 3 	END
	IF @YOUBI3 <> 0 BEGIN SELECT @YOUBI3 = 4 	END
	IF @YOUBI4 <> 0 BEGIN SELECT @YOUBI4 = 5 	END
	IF @YOUBI5 <> 0 BEGIN SELECT @YOUBI5 = 6 	END
	-- ( 稼動区分 )
	SELECT @DAYKB = '',@NIGHTKB = ''
	SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
	WHERE 取引先区分 = 1
	  AND 取引先 = ''
	  AND 年 = SUBSTRING(@SYM,1,4)
	  AND 月 = SUBSTRING(@SYM,5,2)
	  AND 受入 = ''
	IF @DAYKB = ''  	BEGIN SELECT @RTN = 1 	GOTO PROC_ERROR 	END		--カレンダーマスタ未登録

	--*-----------------------------*--
	--*	発注予定日を求める
	--*-----------------------------*--
	SELECT @YDATE = @EHYMD
	WHILE @YDATE < @HDATE
	BEGIN
	--(( 日の加算 ))
		SELECT @WDATE = DATEADD(dd,1,@WDATE)
		SELECT @WBIN = DATEPART(WEEKDAY,@WDATE)
		IF @WBIN = @YOUBI1 OR @WBIN = @YOUBI2 OR @WBIN = @YOUBI3 OR @WBIN = @YOUBI4 OR @WBIN = @YOUBI5 
		    BEGIN
			IF @SYM <> CONVERT(VARCHAR(6),@WDATE,112) 
			    BEGIN	-- (( 年月が変わった時、ｶﾚﾝﾀﾞｰﾏｽﾀ読込み ))
				SELECT @SYM = CONVERT(VARCHAR(6),@WDATE,112) 
				SELECT @DAYKB = ''
				SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
				WHERE 取引先区分 = 1
				  AND 取引先 = ''
				  AND 年 = SUBSTRING(@SYM,1,4)
				  AND 月 = SUBSTRING(@SYM,5,2)
				  AND 受入 = ''
				IF @DAYKB = ''  	BEGIN SELECT @RTN = 1 	GOTO PROC_ERROR 	END
			    END

			IF @DAYNIGHT = 0
			    BEGIN
				IF SUBSTRING(@DAYKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @YDATE = CONVERT(VARCHAR(8),@WDATE,112)
				    END
			    END 
			ELSE
			    BEGIN
				IF SUBSTRING(@NIGHTKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @YDATE = CONVERT(VARCHAR(8),@WDATE,112)
				    END
			    END
		    END
	END
	SELECT @HDATE = @YDATE
	--*-----------------------------*--
	--*	納入日を求める
	--*-----------------------------*--
	SELECT @WDATE = CONVERT(DATETIME,@HDATE,112)
	SELECT @WIDX = 0
	WHILE @WIDX = 0
	BEGIN
	--(( 日の加算 ))
		SELECT @WDATE = DATEADD(dd,1,@WDATE)
		SELECT @WBIN = DATEPART(WEEKDAY,@WDATE)
		IF @WBIN = @YOUBI1 OR @WBIN = @YOUBI2 OR @WBIN = @YOUBI3 OR @WBIN = @YOUBI4 OR @WBIN = @YOUBI5 
		    BEGIN
			IF @SYM <> CONVERT(VARCHAR(6),@WDATE,112) 
			    BEGIN	-- (( 年月が変わった時、ｶﾚﾝﾀﾞｰﾏｽﾀ読込み ))
				SELECT @SYM = CONVERT(VARCHAR(6),@WDATE,112) 
				SELECT @DAYKB = ''
				SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
				WHERE 取引先区分 = 1
				  AND 取引先 = ''
				  AND 年 = SUBSTRING(@SYM,1,4)
				  AND 月 = SUBSTRING(@SYM,5,2)
				  AND 受入 = ''
				IF @DAYKB = ''  	BEGIN SELECT @RTN = 1 	GOTO PROC_ERROR 	END
			    END

			IF @DAYNIGHT = 0
			    BEGIN
				IF SUBSTRING(@DAYKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @YDATE = CONVERT(VARCHAR(8),@WDATE,112)
					SELECT @WIDX = 1
				    END
			    END 
			ELSE
			    BEGIN
				IF SUBSTRING(@NIGHTKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @YDATE = CONVERT(VARCHAR(8),@WDATE,112)
					SELECT @WIDX = 1
				    END
			    END
		    END
	END
	SELECT @NDATE = @YDATE


	UPDATE 発注予定発行テーブル SET
		発注予定日 = @HDATE,
		発注予定便 = '01',
		納入日 = @NDATE,
		納入便 = '01'
	WHERE 端末番号 = HOST_NAME()
	     And 番号 = @NO
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 9 GOTO PROC_ERROR END

-- ----------------------------------------------------------
--   発注予定テーブルカーソルスクロール(次レコード）  		      
-- ----------------------------------------------------------
	FETCH NEXT FROM HYSCUR INTO @NO ,@TORCD ,@UKEIR ,@CYCLE, @HDATE, @EHYMD, @HTSYMD ,@DAYNIGHT ,
						@YOUBI1 ,@YOUBI2 ,@YOUBI3 ,@YOUBI4 ,@YOUBI5 
END

CLOSE HYSCUR
DEALLOCATE HYSCUR


-- ------------------------------------------
--      発注予定回テーブルカーソル定義		
-- ------------------------------------------
DECLARE HYCUR SCROLL CURSOR
FOR 

	SELECT 番号,仕入先,受入,サイクル,発注予定日,発注予定便,発行加算日,昼夜区分
	  FROM 発注予定発行テーブル
	WHERE 端末番号 = HOST_NAME()
	   AND  納入日 = ''
	   AND  SUBSTRING(サイクル,1,1) = '1'

FOR READ ONLY 
OPEN HYCUR

DECLARE @BINIDX		SMALLINT
DECLARE @WBINX		VARCHAR(02)
DECLARE @WENDBIN		SMALLINT
DECLARE @ENDHKAI		TINYINT		--発注サイクルマスタ　最終発注回
----------------------------------------------------------------------------------
--   発注予定テーブル  読込		
----------------------------------------------------------------------------------
FETCH NEXT FROM HYCUR INTO @NO,@TORCD,@UKEIR,@CYCLE,@HDATE,@HBIN ,@HKASAN ,@DAYNIGHT
			
WHILE @@FETCH_STATUS = 0
BEGIN

	--(( 当月カレンダ読込み ))
	SELECT @SYM = SUBSTRING(@HDATE,1,6) 
	SELECT @DAYKB = '',@NIGHTKB = ''
	SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
	WHERE 取引先区分 = 1
	  AND 取引先 = ''
	  AND 年 = SUBSTRING(@HDATE,1,4)
	  AND 月 = SUBSTRING(@HDATE,5,2)
	  AND 受入 = ''
	IF @DAYKB = ''  	BEGIN SELECT @RTN = 10 	GOTO PROC_ERROR 	END		--カレンダーマスタ未登録
	/*-----------------------------------------------------------------------------------------*/
	/*    納入日・便を求める													*/
	/*-----------------------------------------------------------------------------------------*/
	SELECT @BINIDX = 0
	SELECT @WDATE = CONVERT(DATETIME,@HDATE,112)
	SELECT @WBIN = CONVERT(SMALLINT,@HBIN)
	SELECT @WENDBIN = 99
	SELECT @WENDBIN = CONVERT(SMALLINT,SUBSTRING(@CYCLE,2,2))

	WHILE ( @BINIDX < CONVERT(SMALLINT,SUBSTRING(@CYCLE,4,2)) ) 
		BEGIN
		--(( 便の加算 ))
			SELECT @WBIN = @WBIN + 1
			IF @WBIN > @WENDBIN
			    BEGIN
				SELECT @WDATE = DATEADD(dd,1,@WDATE)
				IF @SYM <> CONVERT(VARCHAR(6),@WDATE,112) 
				    BEGIN	-- (( 年月が変わった時、ｶﾚﾝﾀﾞｰﾏｽﾀ読込み ))
					SELECT @SYM = CONVERT(VARCHAR(6),@WDATE,112) 
					SELECT @DAYKB = ''
					SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
					WHERE 取引先区分 = 1
					  AND 取引先 = ''
					  AND 年 = SUBSTRING(@SYM,1,4)
					  AND 月 = SUBSTRING(@SYM,5,2)
					  AND 受入 = ''
					IF @DAYKB = ''  	BEGIN SELECT @RTN = 12 	GOTO PROC_ERROR 	END
				    END
			    END
			IF @WBIN > CONVERT(SMALLINT,SUBSTRING(@CYCLE,2,2)) 
			    BEGIN
				SELECT @WBIN = 1
			    END
			SELECT @WBINX = '' 
			IF @WBIN < 10
				BEGIN	SELECT @WBINX = '0' + CONVERT(VARCHAR(1),@WBIN)	END			ELSE
				BEGIN	SELECT @WBINX = CONVERT(VARCHAR(2),@WBIN)	END
	
			IF @DAYNIGHT = 0
			    BEGIN
				IF SUBSTRING(@DAYKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @BINIDX = @BINIDX + 1
				    END
			    END 
			ELSE
			    BEGIN
				IF SUBSTRING(@NIGHTKB,DATEPART(dd,@WDATE),1) = '0'
				    BEGIN
					SELECT @BINIDX = @BINIDX + 1
				    END
			    END
		END
	SELECT @NDATE = CONVERT(VARCHAR(8),@WDATE,112)
	SELECT @NBIN = @WBINX

	UPDATE 発注予定発行テーブル SET
		納入日 = @NDATE,
		納入便 = @NBIN
	WHERE 端末番号 = HOST_NAME()
	     And 番号 = @NO
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 14 GOTO PROC_ERROR END

-- ----------------------------------------------------------
--   発注予定テーブルカーソルスクロール(次レコード）  		      
-- ----------------------------------------------------------
	FETCH NEXT FROM HYCUR INTO @NO,@TORCD,@UKEIR,@CYCLE,@HDATE,@HBIN ,@HKASAN ,@DAYNIGHT
END

CLOSE HYCUR
DEALLOCATE HYCUR


PROC_END:
/*
SELECT * FROM 発注予定発行テーブル
WHERE 端末番号 = HOST_NAME()
*/
-- 正常終了 --
--RETURN
RETURN(0)
PROC_ERROR:
-- 異常終了 --
---TEST --------------------------------------------------
/*
IF @ERR <> 0
   BEGIN
	 SELECT 'ERROR=',CONVERT(CHAR(2),@ERR)
	RETURN
   END	
*/
------- --------------------------------------------------
RETURN(@ERR)
--return
















GO
