USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[構成マスタメンテ入力チェック]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[構成マスタメンテ入力チェック] ( @OHINBN VARCHAR(25) ,
													   @KHINBN VARCHAR(25) ,
													   @CHINBN VARCHAR(25) ) AS

/*	TEST	 */
-- DECLARE @OHINBN		VARCHAR(25)
-- DECLARE @KHINBN		VARCHAR(25)
-- DECLARE @CHINBN		VARCHAR(25)
-- SELECT @OHINBN = '081721203000'
-- SELECT @KHINBN = '081721204000'
/*	TEST	*/

DECLARE @IND		TINYINT
DECLARE @INDX		VARCHAR(3)
DECLARE @LOOP		TINYINT
DECLARE @MAX_LOOP	TINYINT
DECLARE @WHINBN		VARCHAR(25)

DECLARE @EXIT_CNT   TINYINT

SELECT @IND = 0
SELECT @MAX_LOOP = 99
SET NOCOUNT ON
-- *-----------------------------------------------------------------
-- *	構成メンテチェック	削除
-- *-----------------------------------------------------------------
DELETE 構成メンテチェック 
	WHERE 処理端末 = HOST_NAME()
IF @@ERROR <> 0	BEGIN	GOTO PROC_ERR	END

-- *-----------------------------------------------------------------
-- *	親子品番チェック
-- *-----------------------------------------------------------------
IF @OHINBN = @KHINBN BEGIN GOTO PROC_ERR END
IF @OHINBN = @CHINBN BEGIN GOTO PROC_ERR END
-- *-----------------------------------------------------------------
-- *	レベル１ セット
-- *-----------------------------------------------------------------
IF (SELECT COUNT(*) FROM 構成マスタ
	WHERE 親品番 = @KHINBN) = 0 

    BEGIN GOTO PROC_END END --PROC_CHECK2	END

INSERT INTO 構成メンテチェック
	(処理端末,順位,レベル,親品番,子品番,構成数,展開区分,適用開始日,適用終了日)
	SELECT HOST_NAME(),'',1,親品番,子品番,構成数,展開区分,適用開始日,適用終了日	
		FROM 構成マスタ 
		WHERE 親品番 = @KHINBN

	IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END


IF (SELECT COUNT(*) FROM 構成メンテチェック 
	WHERE 処理端末 = HOST_NAME()
	  AND 子品番 = @OHINBN) <> 0
    BEGIN GOTO PROC_ERR END

IF @CHINBN <> ''
    BEGIN
	IF (SELECT COUNT(*) FROM 構成メンテチェック 
		WHERE 処理端末 = HOST_NAME()
		  AND 子品番 = @CHINBN) <> 0
	    BEGIN GOTO PROC_ERR END
    END

-- *-----------------------------------------------------------------
-- *	レベル２以降 セット
-- *-----------------------------------------------------------------
SELECT @LOOP = 1
SELECT @WHINBN = ''
SELECT @EXIT_CNT = 0
WHILE @LOOP < @MAX_LOOP
    BEGIN
	
	INSERT INTO 構成メンテチェック
		(処理端末,レベル,親品番,子品番,構成数)
		SELECT HOST_NAME(),@LOOP + 1,KO.親品番,KO.子品番,@EXIT_CNT
			FROM 構成メンテチェック KW
			LEFT OUTER JOIN 構成マスタ KO
			  ON KO.親品番 = KW.子品番
			WHERE KW.処理端末 = HOST_NAME()
			  AND KW.レベル = @LOOP
			  AND ISNULL(KW.親品番,'') <> ''
	
	IF @EXIT_CNT = (SELECT COUNT(*) FROM 構成メンテチェック WHERE 処理端末 = HOST_NAME()) BEGIN SELECT @LOOP = 99 END	
	SELECT @EXIT_CNT = (SELECT COUNT(*) FROM 構成メンテチェック WHERE 処理端末 = HOST_NAME())

	IF @@ERROR <> 0 BEGIN	GOTO PROC_ERR	END

	IF (SELECT COUNT(*) FROM 構成メンテチェック 
		WHERE 処理端末 = HOST_NAME()
		  AND レベル = @LOOP + 1
		  AND 子品番 = @OHINBN) <> 0
	    BEGIN GOTO PROC_ERR END

	IF @CHINBN <> ''
	    BEGIN
		IF (SELECT COUNT(*) FROM 構成メンテチェック 
			WHERE 処理端末 = HOST_NAME()
			  AND レベル = @LOOP + 1
			  AND 子品番 = @CHINBN) <> 0
		    BEGIN GOTO PROC_ERR END
	    END

	SELECT @LOOP = @LOOP + 1
	
	END

-- *--------------------------------------------------*
-- *	正  常  終  了
-- *--------------------------------------------------*
PROC_END:
RETURN(0)
-- *--------------------------------------------------*
-- *	異  常  終  了
-- *--------------------------------------------------*
PROC_ERR:
RETURN(1)





GO
