USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[増減開始日作成]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE         PROCEDURE [dbo].[増減開始日作成] (@NJYM VARCHAR(6),@ERR TINYINT OUTPUT ) AS
--*-------------------------------------------------------------------------------------------------
--*	増減開始日作成
--*
--*	処理内容	基本開始日・かんばん増減開始日マスタより適用開始日・終了日を算出する
--*				
--*	ﾊﾟﾗﾒﾀ		@NJYM	   : 内示年月
--*
--*	戻り値		@ERR     :      処理結果
--*								0  :正常終了
--*								≠0:異常終了
--*
--*	作成日　：	2007/07/07
--*
--*-------------------------------------------------------------------------------------------------
SET NOCOUNT ON
/*
DECLARE @NJYM VARCHAR(6),@ERR TINYINT
SELECT @NJYM = '200707'
*/
DECLARE @STARTYMD VARCHAR(8)

DECLARE @KSYMD VARCHAR(8)
DECLARE @KEYMD VARCHAR(8)
DECLARE @KZYMD VARCHAR(8)
DECLARE @TSYMD VARCHAR(8)
DECLARE @TEYMD VARCHAR(8)
DECLARE @TZYMD VARCHAR(8)

DECLARE @KIHON INT
DECLARE @KIDX INT
DECLARE @DAYKB VARCHAR(31)
DECLARE @NIGHTKB VARCHAR(31)
DECLARE @SAVEYM VARCHAR(6)
DECLARE @INCNT INT
DECLARE @KASAN INT

SELECT @KIHON = 0,@ERR = 0
SELECT @STARTYMD = @NJYM + '01'

--*---------------------------------------------------------------*--
--*	基本開始日 獲得
--*---------------------------------------------------------------*--
SELECT @KIHON = (SELECT CONVERT(INT,ISNULL(英数字1,'')) FROM 名称マスタ
						WHERE 区分名称 = 'かんばん増減基本開始日'
						  AND 区分タイプ = ''
						  AND 値 = '1')

IF @KIHON < 0
	BEGIN
		SELECT @KASAN = -1
	END
ELSE
	BEGIN
		SELECT @KASAN = 1
	END
--*---------------------------------------------------------------*--
--*	基本開始日 算出
--*---------------------------------------------------------------*--
SELECT @SAVEYM = ''
SELECT @KSYMD = @STARTYMD
SELECT @KIDX = @KIHON
WHILE @KIDX <> 0
	BEGIN
		SELECT @KSYMD = CONVERT(VARCHAR(8),DATEADD(d,@KASAN,CONVERT(DATETIME,@KSYMD)),112)
		IF @SAVEYM <> SUBSTRING(@KSYMD,1,6)
			BEGIN
				SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
				WHERE 取引先区分 = 1
				  AND 取引先 = ''
				  AND 受入 = ''
				  AND 年 = SUBSTRING(@KSYMD,1,4)
				  AND 月 = SUBSTRING(@KSYMD,5,2)
				IF @DAYKB IS NULL BEGIN SELECT @ERR = 4 GOTO PROC_ERROR END

				SELECT @SAVEYM = SUBSTRING(@KSYMD,1,6)
			END
		IF SUBSTRING(@DAYKB,CONVERT(INT,SUBSTRING(@KSYMD,7,2)),1) = '0' OR SUBSTRING(@NIGHTKB,CONVERT(INT,SUBSTRING(@KSYMD,7,2)),1) = '0'
			BEGIN
				SELECT @KIDX = @KIDX - @KASAN
			END
	END
--*---------------------------------------------------------------*--
--*	基本終了日 算出
--*---------------------------------------------------------------*--
SELECT @SAVEYM = ''
SELECT @KEYMD = CONVERT(VARCHAR(8),DATEADD(d,-1,DATEADD(m,1,CONVERT(DATETIME,@STARTYMD))),112)
SELECT @KIDX = @KIHON
WHILE @KIDX <> 0
	BEGIN
		SELECT @KEYMD = CONVERT(VARCHAR(8),DATEADD(d,@KASAN,CONVERT(DATETIME,@KEYMD)),112)
		IF @SAVEYM <> SUBSTRING(@KEYMD,1,6)
			BEGIN
				SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
				WHERE 取引先区分 = 1
				  AND 取引先 = ''
				  AND 受入 = ''
				  AND 年 = SUBSTRING(@KEYMD,1,4)
				  AND 月 = SUBSTRING(@KEYMD,5,2)
				IF @DAYKB IS NULL BEGIN SELECT @ERR = 4 GOTO PROC_ERROR END

				SELECT @SAVEYM = SUBSTRING(@KEYMD,1,6)
			END
		IF SUBSTRING(@DAYKB,CONVERT(INT,SUBSTRING(@KEYMD,7,2)),1) = '0' OR SUBSTRING(@NIGHTKB,CONVERT(INT,SUBSTRING(@KEYMD,7,2)),1) = '0'
			BEGIN
				SELECT @KIDX = @KIDX - @KASAN
			END
	END

SELECT @KZYMD = CONVERT(VARCHAR(8),DATEADD(d,-1,CONVERT(DATETIME,@KSYMD)),112)

-- *-------------------------------------------------*
-- *  回転枚数ワーク 基本適用開始日・終了日更新			     *
-- *-------------------------------------------------*
UPDATE 回転枚数ワーク SET
	適用開始日 = @KSYMD,
	適用終了日 = @KEYMD,
	前月適用終了日 = @KZYMD
WHERE 作成端末 = SUBSTRING( HOST_NAME(), 1, 20 )
IF @@ERROR <> 0 BEGIN SELECT @ERR = 1 GOTO PROC_ERROR END


-- *-------------------------------------------------*
-- *  かんばん増減開始日マスタ ｶｰｿﾙ定義			     *
-- *-------------------------------------------------*
DECLARE KZCUR SCROLL CURSOR
FOR 

	SELECT 取引先,受入,品番,CONVERT(INT,開始日) FROM かんばん増減開始日マスタ
	ORDER BY 取引先,受入,品番,開始日

FOR READ ONLY
OPEN KZCUR
-- *   かんばん増減開始日マスタ ｶｰｿﾙ定義	     *
DECLARE @TORCD VARCHAR(7),@UKEIR VARCHAR(2),@HINBN VARCHAR(25),@SDD INT

SELECT @INCNT = 0
-- *--------------------------------------------*
-- *     かんばん増減開始日マスタ読込み(1件目)		*
-- *--------------------------------------------*
FETCH NEXT FROM KZCUR INTO @TORCD ,@UKEIR ,@HINBN ,@SDD
WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @INCNT = @INCNT + 1

	IF @SDD < 0
		BEGIN
			SELECT @KASAN = -1
		END
	ELSE
		BEGIN
			SELECT @KASAN = 1
		END
	--*---------------------------------------------------------------*--
	--*	適用開始日 算出
	--*---------------------------------------------------------------*--
	SELECT @TSYMD = @STARTYMD
	SELECT @KIDX = @SDD
	WHILE @KIDX <> 0
		BEGIN
			SELECT @TSYMD = CONVERT(VARCHAR(8),DATEADD(d,@KASAN,CONVERT(DATETIME,@TSYMD)),112)
			IF @SAVEYM <> SUBSTRING(@TSYMD,1,6)
				BEGIN
					SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
					WHERE 取引先区分 = 1
					  AND 取引先 = ''
					  AND 受入 = ''
					  AND 年 = SUBSTRING(@TSYMD,1,4)
					  AND 月 = SUBSTRING(@TSYMD,5,2)
					IF @DAYKB IS NULL BEGIN SELECT @ERR = 4 GOTO PROC_ERROR END

					SELECT @SAVEYM = SUBSTRING(@TSYMD,1,6)
				END
			IF SUBSTRING(@DAYKB,CONVERT(INT,SUBSTRING(@TSYMD,7,2)),1) = '0' OR SUBSTRING(@NIGHTKB,CONVERT(INT,SUBSTRING(@TSYMD,7,2)),1) = '0'
				BEGIN
					SELECT @KIDX = @KIDX - @KASAN
				END
		END
	--*---------------------------------------------------------------*--
	--*	適用終了日 算出
	--*---------------------------------------------------------------*--
	SELECT @TEYMD = CONVERT(VARCHAR(8),DATEADD(d,-1,DATEADD(m,1,CONVERT(DATETIME,@STARTYMD))),112)
	SELECT @KIDX = @SDD
	WHILE @KIDX <> 0
		BEGIN
			SELECT @TEYMD = CONVERT(VARCHAR(8),DATEADD(d,@KASAN,CONVERT(DATETIME,@TEYMD)),112)
			IF @SAVEYM <> SUBSTRING(@TEYMD,1,6)
				BEGIN
					SELECT @DAYKB = 稼動区分,@NIGHTKB = 夜勤区分 FROM カレンダマスタ
					WHERE 取引先区分 = 1
					  AND 取引先 = ''
					  AND 受入 = ''
					  AND 年 = SUBSTRING(@TEYMD,1,4)
					  AND 月 = SUBSTRING(@TEYMD,5,2)
					IF @DAYKB IS NULL BEGIN SELECT @ERR = 4 GOTO PROC_ERROR END

					SELECT @SAVEYM = SUBSTRING(@TEYMD,1,6)
				END
			IF SUBSTRING(@DAYKB,CONVERT(INT,SUBSTRING(@TEYMD,7,2)),1) = '0' OR SUBSTRING(@NIGHTKB,CONVERT(INT,SUBSTRING(@TEYMD,7,2)),1) = '0'
				BEGIN
					SELECT @KIDX = @KIDX - @KASAN
				END
		END

	SELECT @TZYMD = CONVERT(VARCHAR(8),DATEADD(d,-1,CONVERT(DATETIME,@TSYMD)),112)


	-- *-------------------------------------------------*
	-- *  回転枚数ワーク 基本適用開始日・終了日更新			     *
	-- *-------------------------------------------------*
	IF @HINBN = '' SELECT @HINBN = '%'
	UPDATE 回転枚数ワーク SET
		適用開始日 = @TSYMD,
		適用終了日 = @TEYMD,
		前月適用終了日 = @TZYMD
	WHERE 作成端末 = SUBSTRING( HOST_NAME(), 1, 20 )
		AND 仕入先 = @TORCD
		AND 受入 = @UKEIR
		AND 品番 LIKE @HINBN
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 2 GOTO PROC_ERROR END

-- *--------------------------------------------*
-- *    かんばん増減開始日マスタ読込み(次レコード)		*
-- *--------------------------------------------*
	FETCH NEXT FROM KZCUR INTO @TORCD ,@UKEIR ,@HINBN ,@SDD
END			
DEALLOCATE KZCUR 

PROC_END:
RETURN

PROC_ERROR:
RETURN

/*
SELECT 適用開始日,適用終了日,前月適用終了日,* FROM 回転枚数ワーク
WHERE 作成端末 = SUBSTRING( HOST_NAME(), 1, 20 )
ORDER BY 仕入先,受入,品番
*/




GO
