USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[受注かんばん処理]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[受注かんばん処理] (
					@JYKBN 	TINYINT,
					@NYMD 	VARCHAR(08),
					@NBIN 		VARCHAR(02),
					@HINBN  	VARCHAR(25),
					@SEBAN 	VARCHAR(08),
					@TORCD 	VARCHAR(07),
					@UKEIR 	VARCHAR(02),
					@SYUYO 	INT,
					@CYCLE	VARCHAR(5), 
					@RENNO	SMALLINT,
					@ERRNO 	TINYINT OUTPUT,
					@POKET 	TINYINT OUTPUT
					 )  AS
------------------------------------------------------------------------------------------------
--	受注かんばん入力チェック
--
--	かんばんソーター入力時、かんばん内容のチェックを行う
--
--	Create Date  :  2004/03/30 
--					
--	ﾊﾟﾗﾒﾀ	  : 	@JYKBN	 TINYINT	･･･	受注区分
--		  : 	@NYMD	 VARCHAR(08)    ･･･	納入日
--		  : 	@NBIN	 	 VARCHAR(02)    ･･･	納入便
--		  : 	@HINBN	 VARCHAR(18)    ･･･	品番
--		  : 	@SEBAN	 VARCHAR(04)    ･･･	背番号
--		  : 	@TORCD	 VARCHAR(07)    ･･･	取引先(納入先)
--		  : 	@UKEIR	 VARCHAR(03)    ･･･	受入
--		  : 	@SYUYO	 INT		     ･･･	収容数
--		  : 	@CYCLE	VARCHAR(5)     ･･･	サイクル
--		  : 	@RENNO	 SMALLINT	     ･･･	連番
--							
--	Return	  :  ( ﾎﾟｹｯﾄ指定 )
--		  : 	@ERRNO	 TINYINT	･･･	ｴﾗｰｺｰﾄﾞ
--		  : 	@POKET 	 TINYINT	･･･	ポケットNO
--										
--			ｴﾗｰ要因 	0  :  正常データ			
--					2 ：品番取引先未登録
--					5 ：かんばん重複読取
--					10：収容数相違
--					11：背番号相違
--
--	Up Date	:	2005.02.24	By CIS	エラー時のトランザクションの開放
--  Up Date :   2008.04.03  By CIS  背番号の桁数を５桁から８桁に修正
--
------------------------------------------------------------------------------------------------
SET NOCOUNT ON
--T
/*
DECLARE @JYKBN SMALLINT
DECLARE @NYMD VARCHAR(08)
DECLARE @NBIN VARCHAR(02)
DECLARE @HINBN  VARCHAR(22)
DECLARE @SEBAN VARCHAR(08)
DECLARE @TORCD VARCHAR(07)
DECLARE @UKEIR VARCHAR(02)
DECLARE @SYUYO INT
DECLARE @CYCLE	VARCHAR(5)
DECLARE @RENNO SMALLINT
DECLARE @ERRNO TINYINT 
DECLARE @POKET TINYINT

SELECT @JYKBN = 0
SELECT @NYMD = '20040330'
SELECT @NBIN = '01'
SELECT @HINBN = '7410330020A0'
SELECT @SEBAN = ' 11'
SELECT @TORCD = '33693'
SELECT @UKEIR = '30'
SELECT @SYUYO = 24
SELECT @CYCLE = '010103'
SELECT @RENNO = 001
*/
-- T END
-- 退避エリア
DECLARE @ERR  		TINYINT
DECLARE @RTN  		TINYINT
DECLARE @W_SYUYO1 	INT
DECLARE @W_SYUYO2 	INT
DECLARE @W_SEBAN    VARCHAR(8)--      DECLARE @W_SEBAN  	VARCHAR(5) 2008.04.03
DECLARE @W_KYMD  	VARCHAR(8)
DECLARE @W_KBIN    	VARCHAR(2)	
DECLARE @W_SKKB 		TINYINT		-- SK区分
DECLARE @W_CYCLE 	VARCHAR(5)		-- サイクル

DECLARE @JKNO	INT			-- 受注管理番号
DECLARE @ERKNO	INT			-- エラー管理番号
DECLARE @CHONO	INT			-- 帳票区分
DECLARE @HNPOKET TINYINT		-- 品番ポケット指定

-- 初期値設定
SELECT @ERR = 0
SELECT @POKET = 0
SELECT @ERRNO = 0
SELECT @ERKNO = 0
SELECT @CHONO = 0
SELECT @HNPOKET = 0
SELECT @W_CYCLE = @CYCLE 
-----------------------------
--<<　 トランザクション開始         >>--
-----------------------------
BEGIN TRANSACTION JYCRT

--////// かんばん重複チェック
IF EXISTS(Select 品番 From かんばん重複チェックテーブル
			Where 処理区分 = 'J'
			And 納入日 = @NYMD
			And 納入便 = @NBIN
			And 取引先 = @TORCD
			And 品番 	 = @HINBN
			And 背番号  = @SEBAN
			And 受入    = @UKEIR
			And 連番 = @RENNO )
   BEGIN
	SELECT @POKET = 2
	SELECT @ERRNO = 5
	GOTO PROC_DB
   END

--////////////////////////////////
--//		マスタ入力チェック
--////////////////////////////////
--//////    品番取引先マスタ
SELECT @W_SEBAN = 背番号,@W_SYUYO1 = 収容数1,@W_SYUYO2 = 収容数2,
	   @W_KYMD = 変更日,@W_KBIN = 変更便,@HNPOKET = Isnull(PNO,0),
	   @W_SKKB = SK区分,@W_CYCLE = サイクル
		From 品番取引先マスタ
		Where 品番 	 = @HINBN
		    And 取引先 = @TORCD
		    And 受入    = @UKEIR
IF @@ROWCOUNT = 0
   BEGIN
	SELECT @POKET = 3
	SELECT @ERRNO = 2
	GOTO PROC_DB
   END


--////////////////////////////////
--//		マスタ整合性チェック
--////////////////////////////////
--//////   品番取引先マスタ
-- 収容数チェック
IF @W_KYMD = '' 
   BEGIN
	IF @SYUYO <> @W_SYUYO1 
	      BEGIN
		SELECT @POKET = 3
		SELECT @ERRNO = 10
		GOTO PROC_DB
	      END  
   END
ELSE
   BEGIN
	IF @NYMD + @NBIN < @W_KYMD + @W_KBIN
	   BEGIN
	      	IF @SYUYO <> @W_SYUYO1 
	         	   BEGIN
			SELECT @POKET = 3
			SELECT @ERRNO = 10
			GOTO PROC_DB
	             END
	   END	
          ELSE
             BEGIN
		IF @SYUYO <> @W_SYUYO2 
		   BEGIN
			SELECT @POKET = 3
			SELECT @ERRNO = 10
			GOTO PROC_DB
	             END	
	   END
   END
-- 背番号チェック
IF @W_SEBAN <> @SEBAN
   BEGIN
	SELECT @POKET = 3
	SELECT @ERRNO = 11
	GOTO PROC_DB
   END

PROC_DB:
--////////////////////////////////////////////
--//
--//	かんばん読取エラーテーブル　作成
--//
--////////////////////////////////////////////
-- 読取エラーがある時は、エラー管理番号を求める
IF @ERRNO <> 0 
   BEGIN
	SELECT @ERKNO = MAX(管理NO) From 帳票出力テーブル
				Where 端末番号 = Host_Name()
				    And 帳票区分 IN(41)
	IF @ERKNO IS NULL
	    BEGIN
		EXEC 番号獲得 2,@ERKNO OUTPUT,@RTN OUTPUT
		IF @ERKNO = 0 
		   BEGIN
			 SELECT @ERR = 10 
			 GOTO PROC_ERROR
		   END
	    END
   END
-- ERRNO が40未満はかんばんエラーリスト作成
SELECT @CHONO = 41
IF @ERRNO > 0  And @ERRNO < 40 
   BEGIN
	IF Not EXISTS(Select 品番 From かんばん読取エラーテーブル
				Where エラー管理番号 = @ERKNO
				   And エラー種類 = @CHONO
	  			   And 品番 	 = @HINBN
				   And 取引先 = @TORCD
				   And 受入    = @UKEIR 
				   And 発行NO = @RENNO
				   And 収容数 = @SYUYO )
	   BEGIN
		INSERT INTO かんばん読取エラーテーブル 
			( エラー管理番号,エラー種類,品番,取引先,受入,
			 背番号,手配区分,サイクル,収容数,発行NO,エラー要因,
			 作成日,作成端末)
			Values 
			(@ERKNO,@CHONO,@HINBN,@TORCD,@UKEIR,
			 @SEBAN,0,@W_CYCLE,@SYUYO,@RENNO,@ERRNO,
			 Getdate(),Host_Name() )
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 31 GOTO PROC_ERROR END

		IF Not EXISTS(Select * From 帳票出力テーブル
					Where 端末番号 = Host_Name()
					   And 帳票区分 = @CHONO )
		   BEGIN

			INSERT INTO 帳票出力テーブル 
					( 端末番号,帳票区分,管理NO,作成日)
				Values 
					(Host_Name(),@CHONO,@ERKNO,Getdate())
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 41 GOTO PROC_ERROR END
		   END	
	   END
   END

-- 受注対象外データは終了
IF @ERRNO <> 0  BEGIN GOTO PROC_END END

--//////////////////////////////////
--//
--//	データ更新
--//

--//////////////////////////////////
--//////////////////////////////////////////////
--// 受注かんばん読取テーブル
--//////////////////////////////////////////////
SELECT @JKNO = 0
SELECT @JKNO = 受注管理NO From 受注かんばん読取テーブル
			Where 受注区分 = @JYKBN
			And 納入日 = @NYMD
			And 納入便 = @NBIN
			And 納入先 = @TORCD
			And 品番 	 = @HINBN
			And 背番号  = @SEBAN
			And 受入    = @UKEIR
			And 収容数 = @SYUYO
IF @JKNO = 0
   BEGIN
	EXEC 番号獲得 11,@JKNO OUTPUT,@RTN OUTPUT
	IF @JKNO = 0 
	   BEGIN
		 SELECT @ERR = 11 
		 GOTO PROC_ERROR
	   END
	INSERT INTO 受注かんばん読取テーブル
			(受注区分, 納入日, 納入便, 納入先, 受入, 
			 品番, 背番号, 収容数, 枚数, 受注数, 受注管理NO,
			 作成日)
		VALUES
			(@JYKBN,@NYMD,@NBIN,@TORCD,@UKEIR,
			 @HINBN,@SEBAN,@SYUYO,1,@SYUYO,@JKNO,
			 Getdate() )
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 2 GOTO PROC_ERROR END
   END
ELSE
   BEGIN
	UPDATE 受注かんばん読取テーブル Set
			枚数    = 枚数 + 1,
			受注数 = 受注数 + @SYUYO
		Where 受注管理NO = @JKNO
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 3 GOTO PROC_ERROR END
   END			

--//////////////////////////////////////////////
--// かんばん重複チェックテーブル
--//////////////////////////////////////////////
IF Not EXISTS(Select 品番 From かんばん重複チェックテーブル
			Where 処理区分 = 'J'
			And 納入日 = @NYMD
			And 納入便 = @NBIN
			And 取引先 = @TORCD
			And 品番 	 = @HINBN
			And 背番号  = @SEBAN
			And 受入    = @UKEIR
			And 連番 = @RENNO )
   BEGIN
	Insert Into かんばん重複チェックテーブル
		( 処理区分, 納入日, 納入便, 取引先, 品番, 背番号, 受入, 連番,作成端末,作成日)
		Values
		('J',@NYMD,@NBIN,@TORCD,@HINBN,@SEBAN,@UKEIR,@RENNO,Host_Name(),Getdate())
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 1 GOTO PROC_ERROR END
   END

-- 品番にてポケット指定がある時、ポケットNOをセット
IF @HNPOKET <> 0 And @POKET = 0
   BEGIN
	SELECT @POKET = @HNPOKET
   END

PROC_END:
----------------------------
--<<　トランザクション終了        >>--
----------------------------
COMMIT TRANSACTION JYCRT

--* 正常終了 *--
RETURN(0)
PROC_ERROR:
-- ====================================< 2005.02.24 ADD START >
ROLLBACK TRANSACTION JYCRT
-- ====================================< 2005.02.24 ADD  END  >

--* 異常終了 *--
---TEST --------------------------------------------------
/*
IF @ERR <> 0 or @ERRNO <> 0
   BEGIN
	 SELECT 'ERROR=',CONVERT(CHAR(2),@ERR), 'ERRNo=',CONVERT(CHAR(2),@ERRNO)  
   END	*/
------- --------------------------------------------------
RETURN(@ERR)

GO
