USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[材料買掛購入実績作成]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE         PROCEDURE [dbo].[材料買掛購入実績作成]	( @JYM VARCHAR(6),@JTORCD VARCHAR(7),@JSHIME TINYINT,
		   			@JSYORI VARCHAR(1),@TANTO VARCHAR(15),@ERR TINYINT OUTPUT,
		   			@KNYCNT INT OUTPUT,@KNKCNT INT OUTPUT,@KTECNT INT OUTPUT,
		   			@KTMCNT INT OUTPUT,@KJSCNT INT OUTPUT,@KMSCNT INT OUTPUT )
AS
---------------------------------------------------------------------------------------------------
--	材料買掛購入実績作成
--
--	処理内容	1.(材料買掛購入明細)材料入荷テーブルより材料購入実績データを作成する
--			2.(材料買掛購入入庫)材料実績管理テーブルより材料購入実績データを作成する
--				
--	ﾊﾟﾗﾒﾀ		@JYM	   : 	購入年月
--		  	@JTORCD :    契約先
--		  	@JSHIME :     締日 (0:全て、99:末日、その他:締日）		
--		  	@JSYORI :     処理区分 (0:新規,1:再処理)
--		  	@TANTO  :     処理担当者
--
--	戻り値		@ERR     :      処理結果
--					0  :正常終了
--					≠0:異常終了
--			@KNYCNT  :  購入対象データ件数（材料入荷テーブル）
--			@KNKCNT  :  購入入庫データ件数（実績管理テーブル）
--			@KTECNT  :  購入訂正データ件数（購入実績テーブル）
--			@KTMCNT :   単価未決件数
--			@KJSCNT   :  購入実績作成件数
--			@KMSCNT  :  購入実績明細作成件数
--
--	作成日　：	2008/06/13
--	変更日　：	
--
--	備考　：	取引先マスタの締日の末日設定は 0
---------------------------------------------------------------------------------------------------
SET NOCOUNT ON

--T 
/*
DECLARE @JYM	VARCHAR(6)
DECLARE @JTORCD VARCHAR(7)
DECLARE @JSHIME   TINYINT
DECLARE @JSYORI  VARCHAR(1)
DECLARE @TANTO  VARCHAR(15)
DECLARE @ERR	TINYINT

DECLARE @KNYCNT INT,@KNKCNT INT
DECLARE @KTMCNT INT
DECLARE @KJSCNT INT
DECLARE @KMSCNT INT
DECLARE @KTECNT INT

SELECT @JYM = '200806'
SELECT @JSHIME = 99
SELECT @JTORCD = '%'
SELECT @TANTO = ''
SELECT @JSYORI = '1'
*/
--T

-- ワーク 	
DECLARE @SSHIME		TINYINT
DECLARE @ESHIME		TINYINT
DECLARE @CNT1		INT,@CNT2		INT,@CNT3		INT
--*--------------------*--
-- 初期値セット
--*--------------------*--
SELECT @ERR = 0
SELECT @KNYCNT = 0,@KNKCNT = 0,@KTECNT = 0
SELECT @KTMCNT = 0,@KJSCNT = 0,@KMSCNT = 0
SELECT @CNT1 = 0,@CNT2 = 0,@CNT3 = 0

SELECT @JTORCD = @JTORCD + '%'
----------------------------------+
-- 締日セット（開始・終了)
----------------------------------+
SELECT @SSHIME  = 0
SELECT @ESHIME  = 99
IF @JSHIME = 99  
    BEGIN
	SELECT @JSHIME = 0
	SELECT @ESHIME = 0
    END
IF @JSHIME <> 0 
   BEGIN
	SELECT @SSHIME  = @JSHIME
	SELECT @ESHIME  = @JSHIME
   END 	
----------------------------------+
-- データ削除
----------------------------------+
TRUNCATE TABLE 材料購入単価未決ワーク

--*-----------------------------------------------------------------*--
--*	【購入】　入荷			識別子 = '51'		入力区分 = '1'
--*-----------------------------------------------------------------*--
EXEC 材料買掛購入明細 @JYM ,@JTORCD ,@SSHIME ,@ESHIME ,@JSYORI ,@TANTO ,
		   @ERR OUTPUT,@KNYCNT OUTPUT,@KTMCNT OUTPUT,@KJSCNT OUTPUT,@KMSCNT OUTPUT
IF @ERR <> 0 BEGIN 	GOTO PROC_ERROR 	END
--*-----------------------------------------------------------------*--
--*	【購入】　入庫			識別子 = '55'		入力区分 = '3'
--*-----------------------------------------------------------------*--
EXEC 材料買掛購入入庫 @JYM ,@JTORCD ,@SSHIME ,@ESHIME ,@JSYORI ,@TANTO ,
		   @ERR OUTPUT,@KNKCNT OUTPUT,@CNT1 OUTPUT,@CNT2 OUTPUT,@CNT3 OUTPUT
IF @ERR <> 0 BEGIN 	GOTO PROC_ERROR 	END
SELECT @KTMCNT = @KTMCNT + @CNT1
SELECT @KJSCNT = @KJSCNT + @CNT2
SELECT @KMSCNT = @KMSCNT + @CNT3
/*
--*-----------------------------------------------------------------*--
--*	【購入】　訂正			識別子 = '10','11'		入力区分 = ''
--*-----------------------------------------------------------------*--
EXEC 買掛購入訂正 @JYM ,@JTORCD ,@SSHIME ,@ESHIME ,@JSYORI ,@TANTO ,
		   @ERR OUTPUT,@KTECNT OUTPUT,@CNT2 OUTPUT
IF @ERR <> 0 BEGIN 	GOTO PROC_ERROR 	END
SELECT @KJSCNT = @KJSCNT + @CNT2
*/

------------------------------
--         終 了　
------------------------------
END_PROC:
--SELECT '入荷件数' = @KNYCNT,'型費件数' = @KKTCNT,'入庫件数' = @KNKCNT,'訂正件数' = @KTECNT,
--			'購入実績件数' = @KJSCNT,'購入明細件数' = @KMSCNT,'購入未決件数' = @KTMCNT	--T 

RETURN(0)
------------------------------
--    エラー処理
------------------------------
PROC_ERROR:
--T
/*
IF @ERR <> 0 
   BEGIN
	SELECT 'ERR=' + CONVERT(CHAR(2),@ERR)
  END
*/
--T END

RETURN(@ERR)

GO
