USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[cREPMOJI]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




/****** Object:  Stored Procedure dbo.cREPMOJI    Script Date: 99/03/11 10:57:24 ******/
/****** Object:  Stored Procedure dbo.cREPMOJI    Script Date: 98/10/15 18:53:22 ******/
/****** Object:  Stored Procedure dbo.cREPMOJI    Script Date: 98/10/14 21:46:19 ******/
CREATE PROCEDURE [dbo].[cREPMOJI](@STR VARCHAR(50) OUTPUT,@MOJI VARCHAR(10),
				@REPMOJI VARCHAR(10),@MOJISU TINYINT ) AS
--*-----------------------------------------------------------------------------------------*--
--*	文字列の置換え
--*
--*	ﾊﾟﾗﾒﾀ :	@STR	･･･	置換え文字列 		( MAX 50 )
--*		@MOJI	･･･	置換えられる文字列	( MAX 10 )
--*		@REPMOJI･･･	置換える文字列		( MAX 10 )
--*		@MOJISU	･･･	置換えられる文字列長	( MAX 50 )
--*		
--*	戻り値	@STR	･･･	置換えられた文字列	( MAX 50 )	
--*		
--*	例:	cREPMOJI('1_12','_','0',1)   → @STR = '1012'
--*		cREPMOJI('1_12','_1','1',2)  → @STR = '112'
--*-----------------------------------------------------------------------------------------*--
DECLARE @IDX SMALLINT

SET NOCOUNT ON


	SELECT @IDX = 1
	WHILE ( @IDX <> 0 )
		BEGIN
			SELECT @IDX = CHARINDEX	(@MOJI, @STR)
			IF @IDX <> 0
				BEGIN
					SELECT @STR = STUFF(@STR,@IDX,@MOJISU,@REPMOJI)
				END
		END







GO
