USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[売上実績作成]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE       PROCEDURE [dbo].[売上実績作成]
		(  @JYM	VARCHAR(6),
		   @JEYMD	VARCHAR(8),
		   @JTORCD   VARCHAR(7),
		   @JSHIME    TINYINT,
 		   @JSYORI    VARCHAR(1),
		   @TANTO    VARCHAR(15),
		   @ERR	TINYINT OUTPUT,
		   @TCNT 	INT  OUTPUT,
		   @ECNT	INT OUTPUT,
		   @SCNT	INT  OUTPUT )

AS
---------------------------------------------------------------------------------------------------
--	売上実績作成
--
--	処理内容		検収テーブルより売上実績データを作成する
--				
--	ﾊﾟﾗﾒﾀ		@JYM	   : 	売上年月
--			@JEYMD :      終了対象年月日
--		  	@JTORCD :    契約先
--		  	@JSHIME :     締日 (0:全て、99:末日、その他:締日）		
--		  	@JSYORI :     処理区分 (0:新規,1:再処理)
--		  	@TANTO  :     処理担当者
--
--	戻り値		@ERR     :      処理結果
--					0  :正常終了
--					≠0:異常終了
--			@TCNT    :      売上対象データ件数
--			@ECNT    :      単価未決件数
--			@SCNT    :      売上データ作成件数
--
--	Create Date	2004/03/22
--	UpDate Date	2004/04/22	計算方法=伝票単位の時、品番・納入番号・契約先・納入先・受入・単価・仮単価区分・赤黒区分で数量集計
--					計算方法=月単位の時、品番・契約先・単価・仮単価区分・赤黒区分で数量集計
--					(集計に対しての明細は売上明細テーブルに出力　関連付けKey = 実績検収管理NO・実績検収管理行NO)
--	Update Date    2004/11/15     売上元データを 出荷 Or 検収 に対応
--	Update Date    2005/01/18  受注区分=7(代替)は売上対象外とする
--	Update Date    2008/06/11  取引先マスタ[計算位]追加､計算単位：３（詳細設定）
--	Update Date    2010/02/15  検収日条件追加
--	Update Date    2010/06/28  検収日範囲追加（月内のみ対象）
--	Update Date    2011/02/01  テスト用：トランザクション廃止
--
--	備考　：	取引先マスタの締日の末日設定は 0
---------------------------------------------------------------------------------------------------
SET NOCOUNT ON

--T 
/*
DECLARE @JYM	VARCHAR(6)
DECLARE @JEYMD	VARCHAR(8)
DECLARE @JTORCD VARCHAR(7)
DECLARE @JSHIME   TINYINT
DECLARE @JSYORI  VARCHAR(1)
DECLARE @TANTO  VARCHAR(15)
DECLARE @ERR		TINYINT

DECLARE @TCNT 	INT
DECLARE @ECNT	INT
DECLARE @SCNT	INT

SELECT @JYM = '200403'
SELECT @JEYMD = '20040399'
SELECT @JSHIME = 99
SELECT @JTORCD = '%'
SELECT @TANTO = ''
SELECT @JSYORI = '1'
*/
--T

-- ワーク 	
DECLARE @SSHIME		TINYINT
DECLARE @ESHIME		TINYINT
DECLARE @SYORI		VARCHAR(6)
DECLARE @KIN		INT
DECLARE @URIAGE		VARCHAR(1)
--*--------------------*--
--<<　トランザクション開始 >>------
-----BEGIN TRANSACTION URCRT
--*--------------------*--
-- 初期値セット
SELECT @ERR = 0
SELECT @TCNT = 0
SELECT @ECNT = 0
SELECT @SCNT = 0

SELECT @JTORCD = @JTORCD + '%'

SELECT @URIAGE = ''
SELECT @URIAGE = Isnull(Substring(oyian,1,1),'') From Irnaksic
		Where bk = 'Option'
		    And rno = 50


-- 売上テーブル データ削除(再処理用・実績入力以外)
/*
IF @JSYORI = ''
   BEGIN
	DELETE 売上実績テーブル
		WHERE 実績年月 = @YM
		    AND 	
   		    AND 作成区分 = '1'
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 1 GOTO PROC_ERROR END	
   END
*/
-- 検収テーブルを実績更新前に戻す
/*
UPDATE 検収テーブル SET
	実績年月 = '',
	実績処理日 = '',
	実績結果 = ''
	WHERE 実績年月 = @YM
IF @@ERROR <> 0 BEGIN SELECT @ERR = 3 GOTO PROC_ERROR END	
*/
-- 締日セット（開始・終了)
SELECT @SSHIME  = 0
SELECT @ESHIME  = 99
IF @JSHIME = 99  
    BEGIN
	SELECT @JSHIME = 0
	SELECT @ESHIME = 0
    END
IF @JSHIME <> 0 
   BEGIN
	SELECT @SSHIME  = @JSHIME
	SELECT @ESHIME  = @JSHIME
   END 	

-- 再処理用 実績年月セット
SELECT @SYORI = ''
IF @JSYORI = '1'
   BEGIN
	SELECT @SYORI = @JYM

	DELETE 売上実績テーブル
	 WHERE 実績年月 = @JYM
	   AND ISNULL(契約先,'') LIKE @JTORCD
	   AND ISNULL(締日,0) >= @SSHIME
	   AND ISNULL(締日,0) <= @ESHIME
	   AND 入力区分 = ''
 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 11 GOTO PROC_ERROR END

	DELETE 売上明細テーブル
	 WHERE 実績年月 = @JYM
	   AND ISNULL(契約先,'') LIKE @JTORCD
	   AND ISNULL(締日,0) >= @SSHIME
	   AND ISNULL(締日,0) <= @ESHIME
	   AND 入力区分 = ''
 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 12 GOTO PROC_ERROR END
   END		
-- *------------------------------------*
-- * 検収テーブルカーソル定義  			*
-- *------------------------------------*
IF @URIAGE <> '1'
   BEGIN
	DECLARE KNCUR SCROLL CURSOR
	FOR 
		SELECT TR.計算方法,TR.計算単位,TR.締日,HT.契約先,HN.車型,
			  KN.検収管理NO,KN.検収管理行NO,KN.品番,KN.背番号,
			  KN.納入先,KN.受入,KN.検収日,
			  KN.納入番号,KN.検収数,KN.赤黒区分
			  ----------------------------------***** 2008/06/11 Start				
			  ,ISNULL(TR.計算位1,0) , ISNULL(TR.計算位2,0)
			  ----------------------------------***** 2008/06/11 End
			From 検収テーブル KN
			LEFT OUTER JOIN 品番マスタ HN
			ON HN.品番 = KN.品番
			Left Outer Join 品番取引先マスタ HT
			ON  HT.品番 = KN.品番
			And HT.取引先 = KN.納入先
			And HT.受入  = KN.受入
			Left Outer Join 取引先マスタ TR
			ON TR.取引先区分 = 0 
			And TR.取引先CD = HT.契約先
		 WHERE 検収日 <= CASE WHEN ISNULL(TR.締日,0) = 0 THEN @JYM + '99' ELSE @JYM + CAST(ISNULL(TR.締日,0) as char(2)) END	
		   AND  ISNULL(HT.契約先,'') LIKE @JTORCD
		   AND ISNULL(TR.締日,0) >= @SSHIME
		   AND ISNULL(TR.締日,0) <= @ESHIME		
		   AND ISNULL(検収日,'') >= @JYM + '01'	 AND  ISNULL(検収日,'') <= @JYM + '99'		-- 2010/06/28 土岐津Ver 月内のみ対象
		   AND ( ISNULL(実績年月,'') = '' 
		      OR ISNULL(実績年月,'') = @SYORI ) 
	FOR READ ONLY 
   END 
ELSE
   BEGIN
	DECLARE KNCUR SCROLL CURSOR
	FOR 
		SELECT TR.計算方法,TR.計算単位,TR.締日,HT.契約先,HN.車型,
			  KN.出荷指示書NO,KN.出荷指示書行NO,KN.品番,KN.背番号,
			  KN.納入先,KN.受入,JS.出荷日,
			  KN.納入番号,JS.出荷数,0 赤黒区分
			  ----------------------------------***** 2008/06/11 Start				
			  ,ISNULL(TR.計算位1,0) , ISNULL(TR.計算位2,0)
			  ----------------------------------***** 2008/06/11 End
			From 出荷テーブル JS
			LEFT OUTER JOIN 受注テーブル KN
			ON   KN.出荷指示書NO = JS.出荷指示書NO
			AND KN.出荷指示書行NO = JS.出荷指示書行NO
			LEFT OUTER JOIN 品番マスタ HN
			ON HN.品番 = KN.品番
			Left Outer Join 品番取引先マスタ HT
			ON  HT.品番 = KN.品番
			And HT.取引先 = KN.納入先
			And HT.受入  = KN.受入
			Left Outer Join 取引先マスタ TR
			ON TR.取引先区分 = 0 
			And TR.取引先CD = HT.契約先
		 WHERE JS.出荷日 <= CASE WHEN ISNULL(TR.締日,0) = 0 THEN @JYM + '99' ELSE @JYM + CAST(ISNULL(TR.締日,0) as char(2)) END	
		   AND  ISNULL(HT.契約先,'') LIKE @JTORCD
		   AND ISNULL(TR.締日,0) >= @SSHIME
		   AND ISNULL(TR.締日,0) <= @ESHIME		
		   AND ISNULL(出荷日,'') >= @JYM + '01'	 AND  ISNULL(出荷日,'') <= @JYM + '99'		-- 2010/06/28 土岐津Ver 月内のみ対象
		   AND ( ISNULL(実績年月,'') = '' 
		      OR ISNULL(実績年月,'') = @SYORI ) 
		   AND ISNULL(KN.受注区分,0) <> 7			--( 2005/01/18 追加 受注区分=7(代替)は売上対象外 ) 
	FOR READ ONLY 
   END 

OPEN KNCUR

--* ｶｰｿﾙ項目定義 *--
DECLARE @TR_TANI TINYINT,@TR_KHOHO TINYINT,@TR_SHIME TINYINT,@HT_KTORCD VARCHAR(8),@HN_SYAKEI VARCHAR(5)
DECLARE @KN_KNO  INT,@KN_KNGYO  TINYINT,@KN_HINBN VARCHAR(25),@KN_SEBAN VARCHAR(8),
	    @KN_TORCD VARCHAR(7),@KN_UKEIR VARCHAR(2),@KN_KYMD VARCHAR(8),
	    @KN_NOUNO VARCHAR(9),@KN_KSU INT,@KN_AKKB TINYINT
-------------------------------------------***** 2008/06/11 Start
DECLARE @TR_KURAI1 TINYINT , @TR_KURAI2 TINYINT
-------------------------------------------***** 2008/06/11 End
--* ﾜｰｸ項目定義 *--
DECLARE @SAVE_KANRINO INT,@SAVE_KANRIGYO TINYINT
--* 単価決定　戻り値
DECLARE @TANK DECIMAL(10,2) ,@TKBN VARCHAR(1) , @TSYMD VARCHAR(8),@RNO INT
--*--------------------------------------------------------------------------------*--
--* 検収テーブル  読込 							           *
--*--------------------------------------------------------------------------------*--
FETCH NEXT FROM KNCUR INTO 
			@TR_KHOHO,@TR_TANI ,@TR_SHIME ,@HT_KTORCD ,@HN_SYAKEI ,
			@KN_KNO,@KN_KNGYO  ,@KN_HINBN ,@KN_SEBAN ,
			@KN_TORCD ,@KN_UKEIR ,@KN_KYMD ,
			@KN_NOUNO ,@KN_KSU ,@KN_AKKB
			-------------------------------------***** 2008/06/11 Start
			,  @TR_KURAI1 , @TR_KURAI2
			-------------------------------------***** 2008/06/11 End
WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @TCNT = @TCNT + 1
-- *----------------------------------------------------*
-- *  単価チェック
-- *----------------------------------------------------*
	EXEC 受注単価決定 @KN_HINBN,@KN_TORCD,@KN_KYMD,
				 @TANK OUTPUT,@TKBN OUTPUT,@TSYMD OUTPUT,@RNO OUTPUT
	IF @TKBN = '9' 
	   BEGIN
-- *----------------------------------------------------*
-- *  売上単価未決ワーク 作成
-- *----------------------------------------------------*
		INSERT INTO 売上単価未決ワーク 
			( 処理端末, 検収管理NO, 検収管理行NO)
	 		VALUES
			(Host_Name(), @KN_KNO,@KN_KNGYO )
	 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 13 GOTO PROC_ERROR END 
		SELECT @ECNT = @ECNT + 1
	   END
	ELSE
	   BEGIN
		SELECT @KIN = 0
		IF @KN_AKKB = 1 
		   BEGIN
			SELECT @KN_KSU = @KN_KSU  * -1
		   END
		IF @TR_TANI = 0 
		   BEGIN
			SELECT @KIN = ROUND( @KN_KSU * @TANK,0,1)	-- 切捨て
		   END
		IF @TR_TANI = 1 
		   BEGIN
			SELECT @KIN = CEILING( @KN_KSU * @TANK)	-- 切上げ
		   END
		IF @TR_TANI = 2
		   BEGIN
			SELECT @KIN = ROUND( @KN_KSU * @TANK,0)	-- 四捨五入
		   END
		-------------------------------------------------***** 2008/06/11 Start
		-- 詳細設定 小数点１桁単位にて計算
		IF @TR_TANI = 3
		   BEGIN
				IF ISNULL(@TR_KURAI1, 0) = 0 
				   BEGIN									
					    IF ISNULL(@TR_KURAI2, 0) = 0
						   BEGIN
								SELECT @KIN = ROUND(ROUND(@KN_KSU * @TANK, 1, 1), 0, 1)			-- １：切捨て　　２：切捨て
						   END
						IF ISNULL(@TR_KURAI2, 0) = 1
						   BEGIN	
								SELECT @KIN = ROUND(CEILING(@KN_KSU * @TANK * 10) / 10, 0, 1)	-- １：切捨て　　２：切上げ
						   END
						IF ISNULL(@TR_KURAI2, 0) = 2
						   BEGIN	
								SELECT @KIN = ROUND(ROUND(@KN_KSU * @TANK, 1) , 0, 1)			-- １：切捨て　　２：四捨五入
						   END
				   END	
				IF ISNULL(@TR_KURAI1, 0) = 1
				   BEGIN
					    IF ISNULL(@TR_KURAI2, 0) = 0
						   BEGIN
								SELECT @KIN = CEILING(ROUND(@KN_KSU * @TANK, 1, 1))			-- １：切上げ　　２：切捨て
						   END
						IF ISNULL(@TR_KURAI2, 0) = 1
						   BEGIN
								SELECT @KIN = CEILING(CEILING(@KN_KSU * @TANK * 10) / 10)	-- １：切上げ　　２：切上げ
						   END
						IF ISNULL(@TR_KURAI2, 0) = 2
						   BEGIN
								SELECT @KIN = CEILING(ROUND(@KN_KSU * @TANK, 1))			-- １：切上げ　　２：四捨五入
						   END
	 		       END
				IF ISNULL(@TR_KURAI1, 0) = 2
				   BEGIN	
					    IF ISNULL(@TR_KURAI2, 0) = 0
						   BEGIN
								SELECT @KIN = ROUND(ROUND(@KN_KSU * @TANK, 1, 1), 0)		-- １：四捨五入　２：切捨て
						   END
						IF ISNULL(@TR_KURAI2, 0) = 1
						   BEGIN
								SELECT @KIN = ROUND(CEILING(@KN_KSU * @TANK * 10)/ 10, 0)	-- １：四捨五入　２：切上げ
						   END
						IF ISNULL(@TR_KURAI2, 0) = 2
						   BEGIN	
								SELECT @KIN = ROUND(ROUND(@KN_KSU * @TANK, 1 ), 0)			-- １：四捨五入　２：四捨五入
						   END
				   END
		   END
		-------------------------------------------------***** 2008/06/11 End
	----------------------------------+
	-- 売上明細テーブル出力
	----------------------------------+
		IF (SELECT COUNT(*) FROM 売上実績テーブル
					WHERE 検収管理NO  = @KN_KNO
					    AND 検収管理行NO  = @KN_KNGYO
					    AND 実績年月      = @JYM  ) <> 0 
		   BEGIN
			UPDATE 売上明細テーブル SET
					品番 = @KN_HINBN,
					背番号 = @KN_SEBAN,
					納入先 = @KN_TORCD,
					受入    = @KN_UKEIR,
					契約先 = @HT_KTORCD,
					車型    = @HN_SYAKEI,
					実績処理日 = CONVERT(VARCHAR(8),GETDATE(),112),
					納入番号    = @KN_NOUNO,
					検収年月日 = @KN_KYMD,
					単価   = @TANK,
					仮単価区分 = @TKBN,
					納入数 = @KN_KSU,
					適用開始日付 = @TSYMD,
					金額   = @KIN,
					計算単位 = @TR_TANI,
					締日  = @TR_SHIME,
					作成日 = Getdate(),
					作成端末 = Host_Name(),
					作成者 = @TANTO
			Where 検収管理NO  = @KN_KNO
			    AND 検収管理行NO  = @KN_KNGYO
			    AND 実績年月      = @JYM
		 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 14 GOTO PROC_ERROR END
			SELECT @SCNT = @SCNT + 1
		   END
		ELSE
		   BEGIN
			INSERT INTO 売上明細テーブル
				( 検収管理NO,検収管理行NO,実績年月,実績検収管理NO,実績検収管理行NO,品番,背番号,納入先,契約先,受入,
				  車型,実績区分,実績処理日,正式実績年月,正式実績処理日,
				  納入番号,検収年月日,赤黒区分,単価,仮単価区分,納入数,適用開始日付,
				  金額,計算方法,計算単位,締日,
				  前回実績年月,明細件数,入力区分,作成日,作成端末,作成者 )
			    VALUES
				( @KN_KNO,@KN_KNGYO,@JYM,@KN_KNO,@KN_KNGYO,@KN_HINBN,@KN_SEBAN,@KN_TORCD,@HT_KTORCD,@KN_UKEIR,
				  @HN_SYAKEI,0,CONVERT(VARCHAR(8),GETDATE(),112),'','',
				  @KN_NOUNO,@KN_KYMD,@KN_AKKB,@TANK,@TKBN,@KN_KSU,@TSYMD,
				  @KIN,@TR_KHOHO,@TR_TANI,@TR_SHIME,'',0,'',
				  Getdate(),Host_Name(),@TANTO )
		 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 15 GOTO PROC_ERROR END
			SELECT @SCNT = @SCNT + 1
		   END
	----------------------------------+
	-- 売上実績テーブル出力
	----------------------------------+
		SELECT @SAVE_KANRINO = 0,@SAVE_KANRIGYO = 0
		IF @TR_KHOHO = 0
		    BEGIN		
		--(( 計算方法 = 伝票単位 ))		品番・納入番号・契約先・納入先・受入・単価・仮単価区分・赤黒区分で数量集計
			SELECT @SAVE_KANRINO = 検収管理NO,@SAVE_KANRIGYO = 検収管理行NO
			 FROM 売上実績テーブル
			WHERE 実績年月      = @JYM
			    AND 品番  = @KN_HINBN
			    AND 納入番号  = @KN_NOUNO
			    AND 契約先  = @HT_KTORCD
			    AND 納入先  = @KN_TORCD
			    AND 受入  = @KN_UKEIR
			    AND 単価  = @TANK
			    AND 仮単価区分  = @TKBN
			    AND 赤黒区分 = @KN_AKKB 
				AND 検収年月日 = @KN_KYMD			--'2010/02/15
			IF @SAVE_KANRINO <> 0 AND @SAVE_KANRINO IS NOT NULL
			   BEGIN
				UPDATE 売上実績テーブル SET
					検収年月日 = @KN_KYMD,
					納入数 = 納入数 + @KN_KSU,

					明細件数  = 明細件数 + 1
				WHERE 実績年月      = @JYM
				    AND 品番  = @KN_HINBN
				    AND 納入番号  = @KN_NOUNO
				    AND 契約先  = @HT_KTORCD
				    AND 納入先  = @KN_TORCD
				    AND 受入  = @KN_UKEIR
				    AND 単価  = @TANK
				    AND 仮単価区分  = @TKBN
				    AND 赤黒区分 = @KN_AKKB 
					AND 検収年月日 = @KN_KYMD			--'2010/02/15
			 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 16 GOTO PROC_ERROR END
				--	売上明細テーブル　実績検収管理NOの更新
				UPDATE 売上明細テーブル SET
					実績検収管理NO = @SAVE_KANRINO,
					実績検収管理行NO = @SAVE_KANRIGYO,
					明細件数  = 1
				WHERE 実績年月      = @JYM
				    AND 品番  = @KN_HINBN
				    AND 納入番号  = @KN_NOUNO
				    AND 契約先  = @HT_KTORCD
				    AND 納入先  = @KN_TORCD
				    AND 受入  = @KN_UKEIR
				    AND 単価  = @TANK
				    AND 仮単価区分  = @TKBN
				    AND 赤黒区分 = @KN_AKKB 
					AND 検収年月日 = @KN_KYMD			--'2010/02/15
			 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 17 GOTO PROC_ERROR END


			   END
			ELSE
			   BEGIN
				INSERT INTO 売上実績テーブル
					( 検収管理NO,検収管理行NO,実績年月,品番,背番号,納入先,契約先,受入,
					  車型,実績区分,実績処理日,正式実績年月,正式実績処理日,
					  納入番号,検収年月日,赤黒区分,単価,仮単価区分,納入数,適用開始日付,
					  金額,計算方法,計算単位,締日,
					  前回実績年月,明細件数,入力区分,作成日,作成端末,作成者 )
				    VALUES
					( @KN_KNO,@KN_KNGYO,@JYM,@KN_HINBN,@KN_SEBAN,@KN_TORCD,@HT_KTORCD,@KN_UKEIR,
					  @HN_SYAKEI,0,CONVERT(VARCHAR(8),GETDATE(),112),'','',
					  @KN_NOUNO,@KN_KYMD,@KN_AKKB,@TANK,@TKBN,@KN_KSU,@TSYMD,
					  @KIN,@TR_KHOHO,@TR_TANI,@TR_SHIME,'',1,'',
					  Getdate(),Host_Name(),@TANTO )
			 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 18 GOTO PROC_ERROR END
			   END
		    END
		ELSE
		    BEGIN		
		--(( 計算方法 = 月位 ))		品番・契約先・単価・仮単価区分・赤黒区分で数量集計
			SELECT @SAVE_KANRINO = 検収管理NO,@SAVE_KANRIGYO = 検収管理行NO
			 FROM 売上実績テーブル
			WHERE 実績年月      = @JYM
			    AND 品番  = @KN_HINBN
			    AND 契約先  = @HT_KTORCD
			    AND 単価  = @TANK
			    AND 仮単価区分  = @TKBN
			    AND 赤黒区分 = @KN_AKKB 
			IF @SAVE_KANRINO <> 0 AND @SAVE_KANRINO IS NOT NULL
			   BEGIN
				UPDATE 売上実績テーブル SET
					検収年月日 = '',
					納入番号 = '',
					納入数 = 納入数 + @KN_KSU,
					明細件数  = 明細件数 + 1
				WHERE 実績年月      = @JYM
				    AND 品番  = @KN_HINBN
				    AND 契約先  = @HT_KTORCD
				    AND 単価  = @TANK
				    AND 仮単価区分  = @TKBN
				    AND 赤黒区分 = @KN_AKKB 
			 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 19 GOTO PROC_ERROR END
				--	売上明細テーブル　実績検収管理NOの更新
				UPDATE 売上明細テーブル SET
					実績検収管理NO = @SAVE_KANRINO,
					実績検収管理行NO = @SAVE_KANRIGYO,
					明細件数  = 1
				WHERE 実績年月      = @JYM
				    AND 品番  = @KN_HINBN
				    AND 契約先  = @HT_KTORCD
				    AND 単価  = @TANK
				    AND 仮単価区分  = @TKBN
				    AND 赤黒区分 = @KN_AKKB 
			 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 20 GOTO PROC_ERROR END

			   END
			ELSE
			   BEGIN
				INSERT INTO 売上実績テーブル
					( 検収管理NO,検収管理行NO,実績年月,品番,背番号,納入先,契約先,受入,
					  車型,実績区分,実績処理日,正式実績年月,正式実績処理日,
					  納入番号,検収年月日,赤黒区分,単価,仮単価区分,納入数,適用開始日付,
					  金額,計算方法,計算単位,締日,
					  前回実績年月,明細件数,入力区分,作成日,作成端末,作成者 )
				    VALUES
					( @KN_KNO,@KN_KNGYO,@JYM,@KN_HINBN,@KN_SEBAN,@KN_TORCD,@HT_KTORCD,@KN_UKEIR,
					  @HN_SYAKEI,0,CONVERT(VARCHAR(8),GETDATE(),112),'','',
					  @KN_NOUNO,@KN_KYMD,@KN_AKKB,@TANK,@TKBN,@KN_KSU,@TSYMD,
					  @KIN,@TR_KHOHO,@TR_TANI,@TR_SHIME,'',1,'',
					  Getdate(),Host_Name(),@TANTO )
			 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 21 GOTO PROC_ERROR END
			   END
		    END
	   END

	-------------------------
	--     検収テーブル更新
	-------------------------
	IF @URIAGE <> '1'
	   BEGIN
		UPDATE 検収テーブル SET
			実績年月 = CASE WHEN @TKBN <> '9' THEN @JYM ELSE '' END,
			実績処理日 = CONVERT(VARCHAR(8),GETDATE(),112),
			実績結果 = @TKBN
		   WHERE 検収管理NO = @KN_KNO
		       AND 検収管理行NO  = @KN_KNGYO
	 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 22 GOTO PROC_ERROR END
	   END	
	ELSE
	   BEGIN
		UPDATE 出荷テーブル SET
			実績年月 = CASE WHEN @TKBN <> '9' THEN @JYM ELSE '' END,
			実績処理日 = CONVERT(VARCHAR(8),GETDATE(),112),
			実績結果 = @TKBN
		   WHERE 出荷指示書NO = @KN_KNO
		       AND 出荷指示書行NO  = @KN_KNGYO
	 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 22 GOTO PROC_ERROR END
	   END	
-- *----------------------------------------------------*
-- *  検収テーブルカーソルスクロール(次レコード）  		       *
-- *----------------------------------------------------*
	FETCH NEXT FROM KNCUR INTO
			@TR_KHOHO ,@TR_TANI ,@TR_SHIME ,@HT_KTORCD ,@HN_SYAKEI ,
			@KN_KNO,@KN_KNGYO  ,@KN_HINBN ,@KN_SEBAN ,
			@KN_TORCD ,@KN_UKEIR ,@KN_KYMD ,
			@KN_NOUNO ,@KN_KSU  ,@KN_AKKB
			-------------------------------------***** 2008/06/11 Start
			,  @TR_KURAI1 , @TR_KURAI2
			-------------------------------------***** 2008/06/11 End
END

CLOSE KNCUR
DEALLOCATE KNCUR

---------------------------------------------------------------------
--	明細が複数ある時、金額再計算
---------------------------------------------------------------------
UPDATE 売上実績テーブル SET
    金額 = CASE WHEN 計算単位 = 0 THEN ROUND( 納入数 * 単価,0,1)	-- 切捨て
    		   WHEN 計算単位 = 1 THEN CEILING( 納入数 * 単価)	-- 切上げ
    		   WHEN 計算単位 = 2 THEN ROUND( 納入数 * 単価,0)	-- 四捨五入
    		   WHEN 計算単位 =3 THEN CEILING( 納入数 * 単価)	-- 切上げ  とりあえず
	END
 WHERE 実績年月 = @JYM
   AND 契約先 LIKE @JTORCD
   AND 締日 >= @SSHIME
   AND 締日 <= @ESHIME
   AND 入力区分 = ''
   AND 明細件数 > 1
IF @@ERROR <> 0 BEGIN SELECT @ERR = 22 GOTO PROC_ERROR END

------------------------------
--         終 了　
------------------------------
END_PROC:
--	SELECT @TCNT,@SCNT,@ECNT	--T 
--<<　トランザクション終了 >>------
---COMMIT TRANSACTION URCRT

RETURN(0)

------------------------------
--    エラー処理
------------------------------
PROC_ERROR:
--T
/*
IF @ERR <> 0 
   BEGIN
	SELECT 'ERR=' + CONVERT(CHAR(2),@ERR)
  END
*/
--T END

RETURN(@ERR)









GO
