USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[買掛支給実績作成]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[買掛支給実績作成]	( @JYM VARCHAR(6),@JTORCD VARCHAR(7),@JSHIME TINYINT,
		   			@JSYORI VARCHAR(1),@TANTO VARCHAR(15),@ERR TINYINT OUTPUT,
		   			@SNYCNT INT OUTPUT,@JKSCNT INT OUTPUT,@STECNT INT OUTPUT,
		   			@STMCNT INT OUTPUT,@SJSCNT INT OUTPUT,@SMSCNT INT OUTPUT )
AS
---------------------------------------------------------------------------------------------------
--	買掛支給実績作成
--
--	処理内容	1.(買掛支給明細)入荷テーブルより支給実績データを作成する
--			2.(買掛支給実績)実績管理テーブルより支給実績データを作成する
--				
--	ﾊﾟﾗﾒﾀ		@JYM	   : 	支給年月
--		  	@JTORCD :    契約先
--		  	@JSHIME :     締日 (0:全て、99:末日、その他:締日）		
--		  	@JSYORI :     処理区分 (0:新規,1:再処理)
--		  	@TANTO  :     処理担当者
--
--	戻り値		@ERR     :      処理結果
--					0  :正常終了
--					≠0:異常終了
--			@SNYCNT  :  支給対象データ件数（入荷テーブル = 直送）
--			@JKSCNT  :  支給データ件数（実績管理テーブル = 支給）
--			@STECNT  :  訂正データ件数（支給実績テーブル 入力区分= ''）
--			@STMCNT :   単価未決件数
--			@SJSCNT   :  支給実績作成件数
--			@SMSCNT  :  支給実績明細作成件数
--
--	作成日　：	2004/11/30
--	変更日　：	2009/01/21
--
--	備考　：	取引先マスタの締日の末日設定は 0
---------------------------------------------------------------------------------------------------
SET NOCOUNT ON

--T 
/*
DECLARE @JYM	VARCHAR(6)
DECLARE @JTORCD VARCHAR(7)
DECLARE @JSHIME   TINYINT
DECLARE @JSYORI  VARCHAR(1)
DECLARE @TANTO  VARCHAR(15)
DECLARE @ERR	TINYINT

DECLARE @SNYCNT INT,@JKSCNT INT,@STECNT INT
DECLARE @STMCNT INT
DECLARE @SJSCNT INT
DECLARE @SMSCNT INT

SELECT @JYM = '200410'
SELECT @JSHIME = 99
SELECT @JTORCD = '%'
SELECT @TANTO = ''
SELECT @JSYORI = '1'
*/
--T

-- ワーク 	
DECLARE @SSHIME		TINYINT
DECLARE @ESHIME		TINYINT
DECLARE @CNT1		INT,@CNT2		INT,@CNT3		INT
--*--------------------*--
-- 初期値セット
--*--------------------*--
SELECT @ERR = 0
SELECT @SNYCNT = 0,@JKSCNT = 0,@STECNT = 0
SELECT @STMCNT = 0,@SJSCNT = 0,@SMSCNT = 0
SELECT @CNT1 = 0,@CNT2 = 0,@CNT3 = 0

SELECT @JTORCD = @JTORCD + '%'
----------------------------------+
-- 締日セット（開始・終了)
----------------------------------+
SELECT @SSHIME  = 0
SELECT @ESHIME  = 99
IF @JSHIME = 99  
    BEGIN
	SELECT @JSHIME = 0
	SELECT @ESHIME = 0
    END
IF @JSHIME <> 0 
   BEGIN
	SELECT @SSHIME  = @JSHIME
	SELECT @ESHIME  = @JSHIME
   END 	
----------------------------------+
-- データ削除
----------------------------------+
TRUNCATE TABLE 支給単価未決ワーク

--*-----------------------------------------------------------------*--
--*	【支給】　入荷直送			識別子 = '21'		入力区分 = '1'
--*-----------------------------------------------------------------*--
--2009/01/21 コメント
--EXEC 買掛支給明細 @JYM ,@JTORCD ,@SSHIME ,@ESHIME ,@JSYORI ,@TANTO ,
--		   @ERR OUTPUT,@SNYCNT OUTPUT,@STMCNT OUTPUT,@SJSCNT OUTPUT,@SMSCNT OUTPUT
--IF @ERR <> 0 BEGIN 	GOTO PROC_ERROR 	END
--*-----------------------------------------------------------------*--
--*	【支給】　支給			識別子 = '25'		入力区分 = '3'
--*-----------------------------------------------------------------*--
EXEC 買掛支給実績 @JYM ,@JTORCD ,@SSHIME ,@ESHIME ,@JSYORI ,@TANTO ,
		   @ERR OUTPUT,@JKSCNT OUTPUT,@CNT1 OUTPUT,@CNT2 OUTPUT,@CNT3 OUTPUT
IF @ERR <> 0 BEGIN 	GOTO PROC_ERROR 	END
SELECT @STMCNT = @STMCNT + @CNT1
SELECT @SJSCNT = @SJSCNT + @CNT2
SELECT @SMSCNT = @SMSCNT + @CNT3
--*-----------------------------------------------------------------*--
--*	【支給】　訂正			識別子 = '30','31'		入力区分 = ''
--*-----------------------------------------------------------------*--
EXEC 買掛支給訂正 @JYM ,@JTORCD ,@SSHIME ,@ESHIME ,@JSYORI ,@TANTO ,
		   @ERR OUTPUT,@STECNT OUTPUT,@CNT2 OUTPUT
IF @ERR <> 0 BEGIN 	GOTO PROC_ERROR 	END
SELECT @SJSCNT = @SJSCNT + @CNT2

------------------------------
--         終 了　
------------------------------
END_PROC:
--SELECT '入荷件数' = @SNYCNT,'実績件数' = @JKSCNT,'訂正件数' = @STECNT,
--			'支給実績件数' = @SJSCNT,'支給明細件数' = @SMSCNT,'支給未決件数' = @STMCNT	--T 

RETURN(0)
--RETURN
------------------------------
--    エラー処理
------------------------------
PROC_ERROR:
--T
/*
IF @ERR <> 0 
   BEGIN
	SELECT 'ERR=' + CONVERT(CHAR(2),@ERR)
  END
*/
--T END
--RETURN
RETURN(@ERR)

GO
