USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[材料実績納入番号獲得]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE PROCEDURE [dbo].[材料実績納入番号獲得] (@NOUNO VARCHAR(5) OUTPUT,@ERTN TINYINT OUTPUT) AS
--*=============================================================================*--
--*	材料実績納入番号　採番
--*
--*	処理内容　：	名称マスタの'材料実績納入番号管理'より納入番号を採番する
--*
--*	    ﾊﾟﾗﾒﾀ　(OUTPUT) 　@NOUNO　…  納入番号(XX99)の４桁
--*				  @ERTN    …　エラーコード
--*
--*	作成日　　：	2004/02/26
--*
--*=============================================================================*--
--DECLARE @NOUNO VARCHAR(5)
DECLARE @EIJI   VARCHAR(30)
DECLARE @POS1   VARCHAR(30)
DECLARE @POS2   VARCHAR(30)
DECLARE @RENBAN INT
DECLARE @MAXNO  INT
DECLARE @EIJINO INT
DECLARE @LEN    INT
DECLARE @ADD1   INT
DECLARE @ADD2   INT
DECLARE @ERR    TINYINT
DECLARE @RESULT VARCHAR(20)

SELECT @NOUNO  = ''
      ,@EIJI   = ''
      ,@RENBAN = 0
--*----------------------------------------------------------------------------*--
--*	名称マスタ確認
--*----------------------------------------------------------------------------*--
SELECT @EIJI   = 英数字1
      ,@POS1   = 英数字2
      ,@POS2   = 英数字3
      ,@RENBAN = 数字1
      ,@MAXNO  = 数字2
  FROM 名称マスタ
 WHERE 区分名称 = '材料実績納入番号管理'
   AND 区分タイプ = ''
   AND 値 = '1'
IF @EIJI = ''
    BEGIN
	SELECT @EIJI = 'ABCDEFGHJKMNPQRSTUVWXYZ'
          ,@POS1 = '1'
          ,@POS2 = '1'
          ,@RENBAN = 0
          ,@MAXNO  = 99
	EXEC 名称マスタ作成 '材料実績納入番号管理','1','材料実績納入番号',1,
				@EIJI,@POS1,@POS2,@RENBAN,@MAXNO,0,'X',@ERR OUTPUT
    END

--*----------------------------------------------------------------------------*--
--*	頭英字・連番　決定
--*----------------------------------------------------------------------------*--
SELECT @ADD1 = CAST(@POS1 AS NUMERIC)
      ,@ADD2 = CAST(@POS2 AS NUMERIC)
SELECT @RENBAN = @RENBAN + 1
IF @RENBAN > @MAXNO
    BEGIN
    SELECT @LEN  = LEN(@EIJI)
    SELECT @ADD2 = @ADD2 + 1
    IF @ADD2 > @LEN
        BEGIN
        SELECT @ADD2 = 1
        SELECT @ADD1 = @ADD1 + 1
        IF @ADD1 > @LEN
            BEGIN
            SELECT @ADD1 = 1
            END
        END
	SELECT @RENBAN = 1
    END
SELECT @POS1 = CONVERT(CHAR(30),@ADD1)
      ,@POS2 = CONVERT(CHAR(30),@ADD2)
--* 納入番号　編集 *--
SELECT @NOUNO = RTRIM(SUBSTRING(@EIJI,@ADD1,1)) + RTRIM(SUBSTRING(@EIJI,@ADD2,1)) + RIGHT(REPLICATE('0',3)+LTRIM(STR(@RENBAN,3)),2)

--* 名称マスタ　更新 *--
UPDATE 名称マスタ
   SET 数字1 = @RENBAN
      ,英数字2 = @POS1
      ,英数字3 = @POS2
 WHERE 区分名称 = '材料実績納入番号管理'
   AND 区分タイプ = ''
   AND 値 = '1'
IF @@ERROR <> 0 SELECT @ERTN = 1 GOTO PROC_ERR

IF @NOUNO = '' OR @RENBAN = 0  SELECT @ERTN = 2 GOTO PROC_ERR

PROC_END:
RETURN

PROC_ERR:
RETURN




GO
