USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[買掛購入受給]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE             PROCEDURE [dbo].[買掛購入受給]
		(  @JYM VARCHAR(6),@JTORCD VARCHAR(7),@SSHIME TINYINT,@ESHIME TINYINT,@JSYORI VARCHAR(1),@TANTO VARCHAR(15),
		   @ERR TINYINT OUTPUT,@TCNT INT OUTPUT,@ECNT INT OUTPUT,@JCNT INT OUTPUT,@MCNT INT OUTPUT ) AS
---------------------------------------------------------------------------------------------------
--	買掛購入受給
--
--	処理内容	受給検収テーブルより購入実績データを作成する	( 識別子 = '41' )
--	*変更*		受給検収テーブル or 入荷テーブル(手配区分:受給) より購入実績データを作成する	( 識別子 = '41' )  2007/07/03
--				
--	ﾊﾟﾗﾒﾀ		@JYM	   : 	購入年月
--			@JEYMD :      終了対象年月日
--		  	@JTORCD :    契約先
--		  	@JSHIME :     締日 (0:全て、99:末日、その他:締日）		
--		  	@JSYORI :     処理区分 (0:新規,1:再処理)
--		  	@TANTO  :     処理担当者
--
--	戻り値		@ERR     :      処理結果
--					0  :正常終了
--					≠0:異常終了
--			@TCNT    :      購入対象データ件数（受給検収テーブル）
--			@ECNT    :      単価未決件数
--			@JCNT    :      購入実績作成件数
--			@MCNT    :      購入実績明細作成件数
--
--	作成日　：	2006/08/21
--	変更日　：	2007/07/03		受給検収対象仕入先ﾏｽﾀを使用し、元ﾃﾞｰﾀの振分を行う
--								ﾏｽﾀ登録：入荷テーブル　ﾏｽﾀ未登録：受給検収テーブル
--	作成日　：	2008/01/22		キノックスより移行
--				2008/04/03  背番号8桁,車型5桁
--	Update Date    2008/06/11  取引先マスタ[計算位]追加､計算単位：３（詳細設定）
--*	更新日  :	2009/04/03  再処理時のデータ削除は実績年月以上とする     千代田Ver
--
--	備考　：	取引先マスタの締日の末日設定は 0
---------------------------------------------------------------------------------------------------
SET NOCOUNT ON

--T 
/*
DECLARE @JYM	VARCHAR(6)
DECLARE @JEYMD	VARCHAR(8)
DECLARE @JTORCD VARCHAR(7)
DECLARE @SSHIME   TINYINT
DECLARE @ESHIME   TINYINT
DECLARE @JSYORI  VARCHAR(1)
DECLARE @TANTO  VARCHAR(15)
DECLARE @ERR		TINYINT

DECLARE @TCNT 	INT
DECLARE @ECNT	INT
DECLARE @JCNT	INT
DECLARE @MCNT	INT

SELECT @JYM = '200608'
SELECT @JEYMD = '20060899'
SELECT @SSHIME = 0
SELECT @ESHIME = 0
SELECT @JTORCD = '%'
SELECT @TANTO = ''
SELECT @JSYORI = '1'
*/
--T

-- ワーク 	
DECLARE @SYORI		VARCHAR(6)
DECLARE @KIN		INT
DECLARE @URIAGE		VARCHAR(1)

DECLARE @SCODE  VARCHAR(2)	-- 識別子
DECLARE @INKBN    VARCHAR(1)	-- 入力区分
--*--------------------*--
--<<　トランザクション開始 >>------
BEGIN TRANSACTION NYCRT
--*--------------------*--
-- 初期値セット
SELECT @ERR = 0
SELECT @TCNT = 0
SELECT @ECNT = 0
SELECT @JCNT = 0,@MCNT = 0

SELECT @SCODE = '41'
SELECT @INKBN = '4'

-- 再処理用 実績年月セット
SELECT @SYORI = ''
IF @JSYORI = '1'
   BEGIN
	SELECT @SYORI = @JYM

	DELETE 購入実績テーブル
--	 WHERE 実績年月 = @JYM					2009/04/03
	 WHERE 実績年月 >= @JYM
	   AND 契約先 LIKE @JTORCD
	   AND 締日 >= @SSHIME
	   AND 締日 <= @ESHIME
	   AND 入力区分 = @INKBN
 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 11 GOTO PROC_ERROR END

	DELETE 購入明細テーブル
--	 WHERE 実績年月 = @JYM					2009/04/03
	 WHERE 実績年月 >= @JYM					
	   AND 契約先 LIKE @JTORCD
	   AND 締日 >= @SSHIME
	   AND 締日 <= @ESHIME
	   AND 入力区分 = @INKBN
 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 12 GOTO PROC_ERROR END

   END		
-- *------------------------------------*
-- * 入荷テーブルカーソル定義  			*
-- *------------------------------------*
DECLARE NYCUR SCROLL CURSOR
FOR 
	--* 2007/07/03 Update Start
	--* SELECT TR.計算方法,TR.計算単位,TR.締日,HT.契約先,HN.車型,
	SELECT 1 区分,TR.計算方法,TR.計算単位,TR.締日,ISNULL(HT.契約先,JK.契約先),HN.車型,
	--* 2007/07/03 Update End
		  JK.受給管理NO,JK.品番,JK.背番号,
		  JK.仕入先,JK.受入,JK.検収日,
		  JK.納入番号,JK.検収数,HT.手配区分,HT.納入先
		  ,JK.赤黒区分			--*2007/08/24
		  ----------------------------------***** 2008/06/11 Start				
		  ,ISNULL(TR.計算位1,0) , ISNULL(TR.計算位2,0)
		  ----------------------------------***** 2008/06/11 End
	 FROM 受給検収テーブル JK
	LEFT OUTER JOIN 品番マスタ HN
		ON HN.品番 = JK.品番
	LEFT OUTER JOIN 品番取引先マスタ HT
		ON  HT.品番 = JK.品番
		AND HT.取引先 = JK.仕入先
		AND HT.受入  = JK.受入
		AND HT.品目  = 1
	LEFT OUTER JOIN 取引先マスタ TR
		ON TR.取引先区分 = 1 
		AND TR.取引先CD = ISNULL(HT.契約先,JK.契約先)
	--* 2007/07/03 Add Start 
	LEFT OUTER JOIN TNS送信対象取引先マスタ JS
		ON  JS.契約先 = ISNULL(HT.契約先,JK.契約先)
		AND JS.取引先 = JK.仕入先
		AND JS.受入 = JK.受入
	--*	AND JS.切替日付 > JK.検収日
	--* 2007/07/03 Add End
	 WHERE 検収日 <= CASE WHEN ISNULL(TR.締日,0) = 0 THEN @JYM + '99' ELSE @JYM + CAST(ISNULL(TR.締日,0) as char(2)) END	
	   AND  ISNULL(HT.契約先,'') LIKE @JTORCD
	   AND ISNULL(TR.締日,0) >= @SSHIME
	   AND ISNULL(TR.締日,0) <= @ESHIME		
	   AND ( ISNULL(実績年月,'') = '' 
--	      OR ISNULL(実績年月,'') = @SYORI )				'2009/04/03
	      OR ISNULL(実績年月,'') >= @SYORI ) 
	--* 2007/07/03 Add Start
	--*   AND ISNULL(JS.契約先,'') = ''
	   AND ( ( ISNULL(JS.契約先,'') = ''  )
    			OR ( ( ISNULL(JS.契約先,'') <> '' AND JS.切替日付 < JK.検収日 ) ) )
	--* 2007/07/03 Add End
	--* 2007/07/03 Add Start
	UNION
	SELECT 2 区分,TR.計算方法,TR.計算単位,TR.締日,ISNULL(HT.契約先,''),HN.車型,
		  HC.発注管理NO,HC.品番,HC.背番号,
		  HC.仕入先,HC.受入,NY.入荷日,
		  HC.納入番号,NY.入荷数,HC.手配区分,HT.納入先
		  ,0					--*2007/08/24	
		  ----------------------------------***** 2008/06/11 Start				
		  ,ISNULL(TR.計算位1,0) , ISNULL(TR.計算位2,0)
		  ----------------------------------***** 2008/06/11 End
	 FROM 入荷テーブル NY
	LEFT OUTER JOIN 発注テーブル HC
		ON HC.発注管理NO = NY.発注管理NO
	LEFT OUTER JOIN 品番マスタ HN
		ON HN.品番 = HC.品番
	LEFT OUTER JOIN 品番取引先マスタ HT
		ON  HT.品番 = HC.品番
		AND HT.取引先 = HC.仕入先
		AND HT.受入  = HC.受入
		AND HT.品目  = 1
	LEFT OUTER JOIN 取引先マスタ TR
		ON TR.取引先区分 = 1 
		AND TR.取引先CD = ISNULL(HT.契約先,'')
	LEFT OUTER JOIN TNS送信対象取引先マスタ JS
		ON  JS.契約先 = ISNULL(HT.契約先,'')
		AND JS.取引先 = HC.仕入先
		AND JS.受入 = HC.受入
	 WHERE 入荷日 <= CASE WHEN ISNULL(TR.締日,0) = 0 THEN @JYM + '99' ELSE @JYM + CAST(ISNULL(TR.締日,0) as char(2)) END	
	   AND  ISNULL(HT.契約先,'') LIKE @JTORCD
	   AND  HC.手配区分 = '3'						--* 受給のみ対象
	   AND ISNULL(TR.締日,0) >= @SSHIME
	   AND ISNULL(TR.締日,0) <= @ESHIME		
	   AND ( ISNULL(検収年月,'') = '' 
--	      OR ISNULL(検収年月,'') = @SYORI )					'2009/04/03
	      OR ISNULL(検収年月,'') >= @SYORI ) 
--	   AND ( ( ISNULL(JS.契約先,'') = ''  )
--    			OR ( ( ISNULL(JS.契約先,'') <> '' AND JS.切替日付 >= NY.入荷日 ) ) )
	--* 2007/07/03 Add End
FOR READ ONLY 

OPEN NYCUR

--* ｶｰｿﾙ項目定義 *--
DECLARE @KTANI TINYINT,@KHOHO TINYINT,@SHIME TINYINT,@KTORCD VARCHAR(8),@SYAKEI VARCHAR(5)
DECLARE @HCNO  INT,@HINBN VARCHAR(25),@SEBAN VARCHAR(8),
	    @TORCD VARCHAR(7),@UKEIR VARCHAR(2),@NYMD VARCHAR(8),
	    @NOUNO VARCHAR(9),@SURYO INT,@TEKBN VARCHAR(1),@NONYU VARCHAR(7)
-------------------------------------------***** 2008/06/11 Start
DECLARE @TR_KURAI1 TINYINT , @TR_KURAI2 TINYINT
-------------------------------------------***** 2008/06/11 End
DECLARE @AKKBN	TINYINT			--*2007/08/24
--* 2007/07/03 Add Start
DECLARE @DATAKB AS TINYINT
--* 2007/07/03 Add End
--* ﾜｰｸ項目定義 *--
DECLARE @KANRINO INT,@RTN TINYINT
DECLARE @SAVE_KANRINO INT
--* 単価決定　戻り値
DECLARE @TANK DECIMAL(10,2) ,@TKBN VARCHAR(1) , @TSYMD VARCHAR(8),@RNO INT
DECLARE @UMUSYO TINYINT
--*--------------------------------------------------------------------------------*--
--* 入荷テーブル  読込 							           *
--*--------------------------------------------------------------------------------*--
FETCH NEXT FROM NYCUR INTO 
--*	2007/07/03 Update Start
--*			@KHOHO,@KTANI ,@SHIME ,@KTORCD ,@SYAKEI ,
			@DATAKB ,@KHOHO,@KTANI ,@SHIME ,@KTORCD ,@SYAKEI ,
--*	2007/07/03 Update End
			@HCNO,@HINBN ,@SEBAN ,@TORCD ,@UKEIR ,@NYMD ,
			@NOUNO ,@SURYO ,@TEKBN ,@NONYU
			,@AKKBN							--*2007/08/24
			-------------------------------------***** 2008/06/11 Start
			,  @TR_KURAI1 , @TR_KURAI2
			-------------------------------------***** 2008/06/11 End
WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @TCNT = @TCNT + 1

-- *----------------------------------------------------*
-- *  単価チェック
-- *----------------------------------------------------*
	EXEC 購入単価決定 @HINBN,@TORCD,@KTORCD,@NYMD,
				 @TANK OUTPUT,@TKBN OUTPUT,@UMUSYO OUTPUT,@TSYMD OUTPUT,@RNO OUTPUT
	IF @TKBN = '9' 
	   BEGIN
-- *----------------------------------------------------*
-- *  購入単価未決ワーク 作成
-- *----------------------------------------------------*
		INSERT INTO 購入単価未決ワーク 
			( 契約先,仕入先,品番,検収日,数量,処理端末)
	 		VALUES
			(@KTORCD,@TORCD,@HINBN,@NYMD,@SURYO,HOST_NAME() )
	 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 13 GOTO PROC_ERROR END 
		SELECT @ECNT = @ECNT + 1
	   END
	ELSE
	   BEGIN
		SELECT @KIN = 0
		IF @KTANI = 0 
		   BEGIN
			SELECT @KIN = ROUND( @SURYO * @TANK,0,1)	-- 切捨て
		   END
		IF @KTANI = 1 
		   BEGIN
			SELECT @KIN = CEILING( @SURYO * @TANK)	-- 切上げ
		   END
		IF @KTANI = 2
		   BEGIN
			SELECT @KIN = ROUND( @SURYO * @TANK,0)	-- 四捨五入
		   END
		-------------------------------------------------***** 2008/06/11 Start
		-- 詳細設定 小数点１桁単位にて計算
		IF @KTANI = 3
		   BEGIN
				IF ISNULL(@TR_KURAI1, 0) = 0 
				   BEGIN									
					    IF ISNULL(@TR_KURAI2, 0) = 0
						   BEGIN
								SELECT @KIN = ROUND(ROUND(@SURYO * @TANK, 1, 1), 0, 1)			-- １：切捨て　　２：切捨て
						   END
						IF ISNULL(@TR_KURAI2, 0) = 1
						   BEGIN	
								SELECT @KIN = ROUND(CEILING(@SURYO * @TANK * 10) / 10, 0, 1)	-- １：切捨て　　２：切上げ
						   END
						IF ISNULL(@TR_KURAI2, 0) = 2
						   BEGIN	
								SELECT @KIN = ROUND(ROUND(@SURYO * @TANK, 1) , 0, 1)			-- １：切捨て　　２：四捨五入
						   END
				   END	
				IF ISNULL(@TR_KURAI1, 0) = 1
				   BEGIN
					    IF ISNULL(@TR_KURAI2, 0) = 0
						   BEGIN
								SELECT @KIN = CEILING(ROUND(@SURYO * @TANK, 1, 1))			-- １：切上げ　　２：切捨て
						   END
						IF ISNULL(@TR_KURAI2, 0) = 1
						   BEGIN
								SELECT @KIN = CEILING(CEILING(@SURYO * @TANK * 10) / 10)	-- １：切上げ　　２：切上げ
						   END
						IF ISNULL(@TR_KURAI2, 0) = 2
						   BEGIN
								SELECT @KIN = CEILING(ROUND(@SURYO * @TANK, 1))			-- １：切上げ　　２：四捨五入
						   END
	 		       END
				IF ISNULL(@TR_KURAI1, 0) = 2
				   BEGIN	
					    IF ISNULL(@TR_KURAI2, 0) = 0
						   BEGIN
								SELECT @KIN = ROUND(ROUND(@SURYO * @TANK, 1, 1), 0)		-- １：四捨五入　２：切捨て
						   END
						IF ISNULL(@TR_KURAI2, 0) = 1
						   BEGIN
								SELECT @KIN = ROUND(CEILING(@SURYO * @TANK * 10)/ 10, 0)	-- １：四捨五入　２：切上げ
						   END
						IF ISNULL(@TR_KURAI2, 0) = 2
						   BEGIN	
								SELECT @KIN = ROUND(ROUND(@SURYO * @TANK, 1 ), 0)			-- １：四捨五入　２：四捨五入
						   END
				   END
		   END
		-------------------------------------------------***** 2008/06/11 End

	----------------------------------+
	-- 買掛検収管理NO 獲得
	----------------------------------+
		EXEC 番号獲得 16,@KANRINO OUTPUT,@RTN OUTPUT
		IF @RTN <> 0 BEGIN 	SELECT @ERR = 14 	GOTO PROC_ERROR 	END
	----------------------------------+
	-- 購入実績テーブル出力
	----------------------------------+
		SELECT @SAVE_KANRINO = 0
		IF @KHOHO = 0
		    BEGIN		
		----------------------------------+
		-- 購入実績テーブル出力
		----------------------------------+
			INSERT INTO 購入実績テーブル
				( 検収管理NO,実績年月,入力区分,識別子,契約先,品番,仕入先,受入,背番号,
				車型,納入番号,検収日,赤黒区分,単価,仮単価区分,数量,金額,
				部品区分,単位,持込先,購入区分,訂正理由,科目,発注管理NO,遡り区分,
				訂正管理NO,実績区分,実績処理日,計算方法,計算単位,締日,明細件数,
				送信区分,送信処理日,作成日,作成端末,作成者 )
			    VALUES
				( @KANRINO,@JYM,@INKBN,@SCODE,@KTORCD,@HINBN,@TORCD ,@UKEIR ,@SEBAN,
--*2007/08/24 Start
--*				  @SYAKEI,@NOUNO,@NYMD,0,@TANK,@TKBN,@SURYO,@KIN,
				  @SYAKEI,@NOUNO,@NYMD,@AKKBN,@TANK,@TKBN,@SURYO,@KIN,
--*2007/08/24 End
				  '','',@NONYU,@TEKBN,'','',@HCNO,0,
				  0,0,CONVERT(VARCHAR(8),GETDATE(),112),@KHOHO,@KTANI,@SHIME,0,
				  0,'',Getdate(),Host_Name(),@TANTO )
		 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 15 GOTO PROC_ERROR END
			SELECT @JCNT = @JCNT + 1
		    END
		ELSE
		    BEGIN		
		--(( 計算方法 = 月位 ))		品番・契約先・単価・仮単価区分・赤黒区分で数量集計
			SELECT @SAVE_KANRINO = 検収管理NO FROM 購入実績テーブル
			WHERE 実績年月 = @JYM
			    AND 品番  = @HINBN
			    AND 契約先  = @KTORCD
			    AND 単価  = @TANK
			    AND 仮単価区分  = @TKBN
			    AND 入力区分  = @INKBN
			IF @SAVE_KANRINO <> 0 AND @SAVE_KANRINO IS NOT NULL
			   BEGIN
				UPDATE 購入実績テーブル SET
					検収日 = '',
					納入番号 = '',
					数量 = 数量 + @SURYO,
					明細件数  = 明細件数 + 1
				WHERE 実績年月 = @JYM
				    AND 品番  = @HINBN
				    AND 契約先  = @KTORCD
				    AND 単価  = @TANK
				    AND 仮単価区分  = @TKBN
				    AND 入力区分  = @INKBN
			 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 16 GOTO PROC_ERROR END

			   END
			ELSE
			   BEGIN
				INSERT INTO 購入実績テーブル
					( 検収管理NO,実績年月,入力区分,識別子,契約先,品番,仕入先,受入,背番号,
					車型,納入番号,検収日,赤黒区分,単価,仮単価区分,数量,金額,
					部品区分,単位,持込先,購入区分,訂正理由,科目,発注管理NO,遡り区分,
					訂正管理NO,実績区分,実績処理日,計算方法,計算単位,締日,明細件数,
					送信区分,送信処理日,作成日,作成端末,作成者 )
				    VALUES
					( @KANRINO,@JYM,@INKBN,@SCODE,@KTORCD,@HINBN,@TORCD ,@UKEIR ,@SEBAN,
--*2007/08/24 Start
--*					  @SYAKEI,@NOUNO,@NYMD,0,@TANK,@TKBN,@SURYO,@KIN,
					  @SYAKEI,@NOUNO,@NYMD,@AKKBN,@TANK,@TKBN,@SURYO,@KIN,
--*2007/08/24 End
					  '','',@NONYU,@TEKBN,'','',@HCNO,0,
					  0,0,CONVERT(VARCHAR(8),GETDATE(),112),@KHOHO,@KTANI,@SHIME,1,
					  0,'',Getdate(),Host_Name(),@TANTO )
			 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 17 GOTO PROC_ERROR END
				SELECT @JCNT = @JCNT + 1
			   END
		    END

		IF @SAVE_KANRINO = 0 BEGIN SELECT @SAVE_KANRINO = @KANRINO END
	----------------------------------+
	-- 購入明細テーブル出力
	----------------------------------+
		INSERT INTO 購入明細テーブル
			( 検収管理NO,実績年月,入力区分,識別子,契約先,品番,仕入先,受入,背番号,
			車型,納入番号,検収日,赤黒区分,単価,仮単価区分,数量,金額,
			部品区分,単位,持込先,購入区分,訂正理由,科目,発注管理NO,遡り区分,
			実績区分,実績処理日,計算方法,計算単位,締日,明細件数,
			集約検収管理NO,送信区分,送信処理日,作成日,作成端末,作成者,
			照合年月,照合処理日,照合日付,照合品番,照合納番,照合管理, 照合赤黒, 照合結果,照合区分,更新日,更新端末 )
		    VALUES
			( @KANRINO,@JYM,@INKBN,@SCODE,@KTORCD,@HINBN,@TORCD ,@UKEIR ,@SEBAN,
--*2007/08/24 Start
--*			  @SYAKEI,@NOUNO,@NYMD,0,@TANK,@TKBN,@SURYO,@KIN,
			  @SYAKEI,@NOUNO,@NYMD,@AKKBN,@TANK,@TKBN,@SURYO,@KIN,
--*2007/08/24 End
			  '','',@NONYU,@TEKBN,'','',@HCNO,0,
			  0,CONVERT(VARCHAR(8),GETDATE(),112),@KHOHO,@KTANI,@SHIME,0,
			  @SAVE_KANRINO,0,'',Getdate(),Host_Name(),@TANTO,
			  '','','','','','',0,'','',NULL,'' )
	 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 18 GOTO PROC_ERROR END
		SELECT @MCNT = @MCNT + 1

		-------------------------
		--     買掛契約先ワーク更新
		-------------------------
		IF (SELECT COUNT(*) FROM 買掛契約先ワーク WHERE 契約先 = @KTORCD) = 0 
		    BEGIN 
			INSERT INTO 買掛契約先ワーク (契約先,締日,作成端末) VALUES (@KTORCD,@SHIME,HOST_NAME())
		 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 20 GOTO PROC_ERROR END
		    END

	   END

--* 2007/07/03 Update Start
/*
	-------------------------
	--     受給検収テーブル更新
	-------------------------
	UPDATE 受給検収テーブル SET
		実績年月 = CASE WHEN @TKBN <> '9' THEN @JYM ELSE '' END,
		実績処理日 = CONVERT(VARCHAR(8),GETDATE(),112),
		実績結果 = @TKBN,
		更新日 = GETDATE(),
		更新端末 = host_name()
	   WHERE 受給検収管理NO = @HCNO
*/
	IF @DATAKB = 1 
	   BEGIN
		-------------------------
		--     受給検収テーブル更新
		-------------------------
		UPDATE 受給検収テーブル SET
			実績年月 = CASE WHEN @TKBN <> '9' THEN @JYM ELSE '' END,
			実績処理日 = CONVERT(VARCHAR(8),GETDATE(),112),
			実績結果 = @TKBN,
			更新日 = GETDATE(),
			更新端末 = host_name()
		   WHERE 受給管理NO = @HCNO
	   END
	ELSE
	   BEGIN
		-------------------------
		--     入荷テーブル更新
		-------------------------
		UPDATE 入荷テーブル SET
			検収年月 = CASE WHEN @TKBN <> '9' THEN @JYM ELSE '' END,
			検収処理日 = CONVERT(VARCHAR(8),GETDATE(),112),
			検収区分 = @TKBN,
			更新日 = GETDATE(),
			更新端末 = host_name()
		   WHERE 発注管理NO = @HCNO
	   END
--* 2007/07/03 Update End
 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 19 GOTO PROC_ERROR END



-- *----------------------------------------------------*
-- *  入荷テーブルカーソルスクロール(次レコード）  		       *
-- *----------------------------------------------------*
	FETCH NEXT FROM NYCUR INTO
--*	2007/07/03 Update Start
--*			@KHOHO,@KTANI ,@SHIME ,@KTORCD ,@SYAKEI ,
			@DATAKB ,@KHOHO,@KTANI ,@SHIME ,@KTORCD ,@SYAKEI ,
--*	2007/07/03 Update End
			@HCNO,@HINBN ,@SEBAN ,@TORCD ,@UKEIR ,@NYMD ,
			@NOUNO ,@SURYO ,@TEKBN ,@NONYU
			,@AKKBN							--*2007/08/24
			-------------------------------------***** 2008/06/11 Start
			,  @TR_KURAI1 , @TR_KURAI2
			-------------------------------------***** 2008/06/11 End
END

CLOSE NYCUR
DEALLOCATE NYCUR

---------------------------------------------------------------------
--	明細が複数ある時、金額再計算
---------------------------------------------------------------------
UPDATE 購入実績テーブル SET
    金額 = CASE WHEN 計算単位 = 0 THEN ROUND( 数量 * 単価,0,1)	-- 切捨て
    		   WHEN 計算単位 = 1 THEN CEILING( 数量 * 単価)	-- 切上げ
    		   WHEN 計算単位 = 2 THEN ROUND( 数量 * 単価,0)	-- 四捨五入
	END
 WHERE 実績年月 = @JYM
   AND 契約先 LIKE @JTORCD
   AND 締日 >= @SSHIME
   AND 締日 <= @ESHIME
   AND 入力区分 = @INKBN
   AND 明細件数 > 1
IF @@ERROR <> 0 BEGIN SELECT @ERR = 21 GOTO PROC_ERROR END

------------------------------
--         終 了　
------------------------------
END_PROC:
--SELECT '入力件数' = @TCNT,'実績件数' = @JCNT,'明細件数' = @MCNT,'未決件数' = @ECNT	--T 
--<<　トランザクション終了 >>------
COMMIT TRANSACTION NYCRT

RETURN(0)
--RETURN
------------------------------
--    エラー処理
------------------------------
PROC_ERROR:
/*
--T

IF @ERR <> 0 
   BEGIN
	SELECT 'ERR=' + CONVERT(CHAR(2),@ERR)
  END
*/
--T END

--RETURN
RETURN(@ERR)

GO
