USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[前工程入荷データチェック]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE      PROCEDURE [dbo].[前工程入荷データチェック] (@SYORIKB TINYINT,@SNOUNO VARCHAR(5),@SNYMD VARCHAR(8),@SNPAGE TINYINT,
							@OUTCNT INT OUTPUT,@ERRCNT INT OUTPUT,@ERR TINYINT OUTPUT) AS

--*-------------------------------------------------------------------------------------*--
--*	前工程入荷データチェック
--*
--*	処理内容　：	前工程入荷テーブルにあるJAMA読取データより
--*				品番マスタ・品番取引先マスタ・取引先変換マスタの存在をチェックする
--*
--*	パラメタ　：	@SNOUNO 	:	納入番号（省略可）
--*			@SNYMD	:	納入日（省略可）
--*			@SNPAGE	:	納品書頁（省略可）
--*			@ERRCNT	:	エラー件数
--*
--*	作成日　：	2007/12/20
--*
--*-------------------------------------------------------------------------------------*--
SET NOCOUNT ON
--*
/*
DECLARE @SYORIKB TINYINT
DECLARE @SNOUNO VARCHAR(5),@SNYMD VARCHAR(8),@SNPAGE TINYINT,@ERRCNT INT,@OUTCNT INT,@ERR TINYINT

SELECT @SYORIKB = 1
SELECT @SNOUNO = 'F1820',@SNYMD = '20071219',@SNPAGE = 1
*/
--* ﾜｰｸ定義
DECLARE @TCNT INT,@ERRCD TINYINT
DECLARE @SPAGE TINYINT,@EPAGE TINYINT
--* 初期化
SELECT @TCNT = 0,@OUTCNT = 0,@ERRCNT = 0,@ERR = 0
--*
IF @SNOUNO = '' 	BEGIN SELECT @SNOUNO = '%' 	END
IF @SNYMD = '' 	BEGIN SELECT @SNYMD = '%' 	END
IF @SNPAGE = 0 	
    BEGIN 
	SELECT @SPAGE = 0
	SELECT @EPAGE = 99
    END
ELSE
    BEGIN 
	SELECT @SPAGE = @SNPAGE
	SELECT @EPAGE = @SNPAGE
    END
--*-----------------------------------*
--*	処理区分　初期化
--*-----------------------------------*
UPDATE 前工程入荷ワーク SET
    ERR伝票区分 = 0,
    ERRCD = 0
WHERE 処理端末 = HOST_NAME()
    AND 納入番号 LIKE @SNOUNO
    AND 納入日 LIKE @SNYMD
    AND 納品書頁 >= @SPAGE
    AND 納品書頁 <= @EPAGE

-- *------------------------------------*
-- * 前工程入荷テーブルカーソル定義  			*
-- *------------------------------------*
DECLARE NYCUR SCROLL CURSOR
FOR 
	SELECT 納入番号,納品書頁,納品書行,納入日,納入便,
		受注者+受注者工場,発注者+発注者工場,受入,支給元1,支給元2,品番
	 FROM 前工程入荷ワーク
	WHERE 処理端末 = HOST_NAME()
	    AND 納入番号 LIKE @SNOUNO
	    AND 納入日 LIKE @SNYMD
	    AND 納品書頁 >= @SPAGE
	    AND 納品書頁 <= @EPAGE
FOR READ ONLY 
OPEN NYCUR

--* ｶｰｿﾙ項目定義 *--
DECLARE @NOUNO VARCHAR(5),@NPAGE TINYINT,@NGYO TINYINT
DECLARE @NYMD VARCHAR(8),@NBIN VARCHAR(2)
DECLARE @KSIIRE VARCHAR(7),@KSIKYU VARCHAR(7),@KUKEIR VARCHAR(2)
DECLARE @SMOTO1 VARCHAR(5),@SMOTO2 VARCHAR(5),@HINBN VARCHAR(25)

DECLARE @TH_TORCD VARCHAR(7),@TH_UKEIR VARCHAR(2)
--* ﾜｰｸ項目定義 *--
DECLARE @THCNT INT
DECLARE @SMOTO VARCHAR(5)
DECLARE @KTORCD VARCHAR(7),@DTORCD VARCHAR(7),@TORCD VARCHAR(7),@UKEIR VARCHAR(2)

SELECT @ERRCD = 0,@ERRCNT = 0
--*--------------------------------------------------------------------------------*--
--* 前工程入荷テーブル  読込 							           *
--*--------------------------------------------------------------------------------*--
FETCH NEXT FROM NYCUR INTO 
			@NOUNO,@NPAGE ,@NGYO ,@NYMD ,@NBIN ,
			@KSIIRE,@KSIKYU ,@KUKEIR ,@SMOTO1 ,@SMOTO2 ,@HINBN
WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @TCNT = @TCNT + 1

	SELECT @ERRCD = 0
	--*----------------------------
	--*	品番マスタ存在確認		--
	--*----------------------------
	IF (SELECT COUNT(品番) FROM 品番マスタ
		WHERE 品番 = @HINBN ) = 0
	    BEGIN
		SELECT @ERRCD = 1
		SELECT @ERRCNT = @ERRCNT + 1
	    END
	--*----------------------------
	--*	取引先変換マスタ存在確認	--
	--*----------------------------
	IF @ERRCD = 0
	    BEGIN
		IF @SMOTO2 <> '' 
		    BEGIN
			SELECT @SMOTO = @SMOTO2
		    END
		ELSE
		    BEGIN
			SELECT @SMOTO = @SMOTO1
		    END
	
		SELECT @THCNT = 0
		SELECT @THCNT =  (SELECT COUNT(契約先) FROM 取引先変換マスタ
						WHERE 支給元 = @SMOTO
						    AND 契約取引先CD = @KSIIRE 
						    AND (品番 = '' OR 品番 = @HINBN) )
		IF @THCNT = 0
		    BEGIN
			SELECT @ERRCD = 2
			SELECT @ERRCNT = @ERRCNT + 1
		    END
		ELSE	
		    BEGIN
	
			SELECT @KTORCD = '',@DTORCD = '',@TORCD = '',@UKEIR = ''
			SELECT @KTORCD = HT.契約先,@DTORCD = HT.代行契約先,@TORCD = HT.取引先,@UKEIR = HT.受入
			 FROM 取引先変換マスタ TH
			LEFT OUTER JOIN 品番取引先マスタ HT
				ON  HT.取引先 = TH.取引先
				AND HT.受入 = TH.受入
				AND HT.品番 = @HINBN
				AND HT.契約先 = TH.契約先
				AND HT.代行契約先 = TH.代行契約先
				AND HT.品目 = 1
			WHERE TH.支給元 = @SMOTO
			    AND TH.契約取引先CD = @KSIIRE
			    AND (TH.品番 = '' OR TH.品番 = @HINBN)
			    AND HT.品番 IS NOT NULL
			ORDER BY TH.取引先,TH.受入,TH.契約先,TH.代行契約先
	
			IF @KTORCD = ''
			    BEGIN
				SELECT @ERRCD = 3
				SELECT @ERRCNT = @ERRCNT + 1
			    END
		    END
	    END


	--*----------------------------
	--*	ワーク更新			--
	--*----------------------------
	IF @ERRCD <> 0
	    BEGIN
		UPDATE 前工程入荷ワーク SET
		    ERRCD = @ERRCD
		WHERE 処理端末 = HOST_NAME()
		    AND 納入番号 = @NOUNO
		    AND 納品書頁 = @NPAGE
		    AND 納品書行 = @NGYO
		IF @@ERROR <> 0 	BEGIN SELECT @ERR = 1 GOTO PROC_ERR 	END

		UPDATE 前工程入荷ワーク SET
		    ERR伝票区分 = 1
		WHERE 処理端末 = HOST_NAME()
		    AND 納入番号 = @NOUNO
		    AND 納品書頁 = @NPAGE
		IF @@ERROR <> 0 	BEGIN SELECT @ERR = 2 GOTO PROC_ERR 	END
	    END
	ELSE
	    BEGIN
		UPDATE 前工程入荷ワーク SET
		    仕入先 = @TORCD,
		    仕入先受入 = @UKEIR,
		    契約先 = @KTORCD,
		    代行契約先 = @DTORCD
		WHERE 処理端末 = HOST_NAME()
		    AND 納入番号 = @NOUNO
		    AND 納品書頁 = @NPAGE
		    AND 納品書行 = @NGYO
		IF @@ERROR <> 0 	BEGIN SELECT @ERR = 3 GOTO PROC_ERR 	END

	    END
		
-- *----------------------------------------------------*
-- *  前工程入荷テーブルカーソルスクロール(次レコード）  		       *
-- *----------------------------------------------------*
	FETCH NEXT FROM NYCUR INTO
			@NOUNO,@NPAGE ,@NGYO ,@NYMD ,@NBIN ,
			@KSIIRE,@KSIKYU ,@KUKEIR ,@SMOTO1 ,@SMOTO2 ,@HINBN
END

CLOSE NYCUR
DEALLOCATE NYCUR

--*-------------*--
--*	処理分岐
--*-------------*--
IF @SYORIKB = 0 BEGIN 	GOTO PROC_END 	END

-- *===============================================================================*--
-- *	前工程入荷データ　更新
-- *===============================================================================*--
DECLARE NYCUR SCROLL CURSOR
FOR 
	SELECT ERR伝票区分,納入番号,納品書頁,納品書行,納入日,
		仕入先,仕入先受入,契約先,代行契約先
	 FROM 前工程入荷ワーク
	WHERE 処理端末 = HOST_NAME()
	    AND 納入番号 = @SNOUNO
	    AND 納入日 = @SNYMD
	    AND 納品書頁 = @SNPAGE
	ORDER BY 納品書行
FOR READ ONLY 
OPEN NYCUR

--* ｶｰｿﾙ項目定義 *--
DECLARE @ERRKB TINYINT

--* ﾜｰｸ項目定義 *--
DECLARE @RTN TINYINT,@KANRINO INT
DECLARE @KEY_NOUNO VARCHAR(5)

SELECT @KEY_NOUNO = ''
SELECT @TCNT = 0
--*--------------------------------------------------------------------------------*--
--* 前工程入荷テーブル  読込 							           *
--*--------------------------------------------------------------------------------*--
FETCH NEXT FROM NYCUR INTO 
			@ERRKB ,@NOUNO,@NPAGE ,@NGYO ,@NYMD  ,
			@KSIIRE,@KUKEIR ,@KTORCD ,@DTORCD
WHILE @@FETCH_STATUS = 0
BEGIN
	SELECT @TCNT = @TCNT + 1

	--*----------------------------
	--*	ワーク更新			--
	--*----------------------------
	IF @ERRKB <> 0
	    BEGIN

		UPDATE 前工程入荷ワーク SET
		    処理区分 = 1
		WHERE 処理端末 = HOST_NAME()
		    AND 納入番号 = @NOUNO
		    AND 納品書頁 = @NPAGE
		    AND 納品書行 = @NGYO
		IF @@ERROR <> 0 	BEGIN SELECT @ERR = 10 GOTO PROC_ERR 	END
	    END
	ELSE
	    BEGIN
	----------------------------------+
	-- 受給検収管理NO 獲得
	----------------------------------+
		IF @KEY_NOUNO = ''
		    BEGIN
			EXEC 番号獲得 19,@KANRINO OUTPUT,@RTN OUTPUT
			IF @RTN <> 0 BEGIN 	SELECT @ERR = 14 	GOTO PROC_ERR 	END
		    END

		INSERT INTO 受給検収テーブル
			         (受給管理NO,受給管理行NO,検収日,仕入先,受入,契約先, 代行契約先, 支給元,納入日,納入便,納入番号,納品書頁,納品書行,
				品番,背番号,赤黒区分,枚数,収容数,検収数,支給元体系,支給元1,支給元2,出荷場, 契約先仕入先,契約先納入先,契約先受入,
				受注者,受注者工場,発注者,発注者工場,発行日,発注区分,カード,機番,総頁,伝票種類,作成種別,
				TNS作成区分,TNS作成管理NO,TNS作成日,TNS作成処理日,TNS連番,実績年月,実績処理日,実績結果,
				作成日,作成端末,作成者,更新日,更新端末,更新者)
		SELECT @KANRINO,@TCNT,検収日,仕入先,仕入先受入,契約先,代行契約先,
			CASE WHEN 支給元2 = '' THEN 支給元1 ELSE 支給元2 END,納入日,納入便,納入番号,納品書頁,納品書行,
			品番,背番号,0,枚数,収容数,納入数,支給元体系,支給元1,支給元2,出荷場, 受注者+受注者工場,発注者+発注者工場,受入,
			受注者,受注者工場,発注者,発注者工場,発行日,発注区分,カード,機番,総頁,
			10,'M',	0,0,'',NULL,0,'','','',GETDATE(),HOST_NAME(),'',NULL,'',''
		 FROM 前工程入荷ワーク
		WHERE 処理端末 = HOST_NAME()
		    AND 納入番号 = @NOUNO
		    AND 納品書頁 = @NPAGE
		    AND 納品書行 = @NGYO
		IF @@ERROR <> 0 	BEGIN SELECT @ERR = 11 GOTO PROC_ERR 	END

		SELECT @OUTCNT = @OUTCNT + 1
		SELECT @KEY_NOUNO = @NOUNO

		UPDATE 前工程入荷ワーク SET
		    処理区分 = 0
		WHERE 処理端末 = HOST_NAME()
		    AND 納入番号 = @NOUNO
		    AND 納品書頁 = @NPAGE
		    AND 納品書行 = @NGYO
		IF @@ERROR <> 0 	BEGIN SELECT @ERR = 12 GOTO PROC_ERR 	END
	    END
		
-- *----------------------------------------------------*
-- *  前工程入荷テーブルカーソルスクロール(次レコード）  		       *
-- *----------------------------------------------------*
	FETCH NEXT FROM NYCUR INTO
			@ERRKB ,@NOUNO,@NPAGE ,@NGYO ,@NYMD  ,
			@KSIIRE,@KUKEIR ,@KTORCD ,@DTORCD
END

CLOSE NYCUR
DEALLOCATE NYCUR


PROC_END:

--SELECT @TCNT,@ERRCNT,@OUTCNT
RETURN(0)

PROC_ERR:
RETURN






GO
