USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[購入単価未決作成]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE         PROCEDURE [dbo].[購入単価未決作成]
		(  @PROC	TINYINT,
		   @SYMD	VARCHAR(8),
		   @EYMD	VARCHAR(8),
		   @TORCD   	VARCHAR(7),
		   @ERR		TINYINT OUTPUT,
		   @ECNT	INT OUTPUT )

AS
---------------------------------------------------------------------------------------------------
--	購入単価未決作成
--
--	処理内容	入荷テーブル･実績管理テーブルより単価未決データを作成する
--				
--			@PROC   :  処理区分   0/入荷･実績管理 ,1/単価未決(買掛実績)
--	ﾊﾟﾗﾒﾀ		@SYMD   :  開始対象年月日
--			@EYMD   :  終了対象年月日
--		  	@TORCD  :  仕入先
--
--	戻り値		@ERR     :      処理結果
--					0  :正常終了
--					≠0:異常終了
--			@ECNT    :      単価未決件数
--
--	Create Date	2005/06/13
--	UpDate Date	
---------------------------------------------------------------------------------------------------
SET NOCOUNT ON

--T 
-- DECLARE @PROC   TINYINT
-- DECLARE @YM	VARCHAR(6)
-- DECLARE @SYMD	VARCHAR(8)
-- DECLARE @EYMD	VARCHAR(8)
-- DECLARE @TORCD  VARCHAR(7)
-- DECLARE @ERR	TINYINT
-- 
-- DECLARE @ECNT	INT
-- 
-- SELECT @PROC = 0
-- SELECT @SYMD = '20050401'
-- SELECT @EYMD = '20050699'
-- SELECT @TORCD = ''
--T
------------------------
--	ワーク
------------------------
--- 単価決定　戻り値
DECLARE @TANK DECIMAL(10,2) ,@TKBN VARCHAR(1) , @TSYMD VARCHAR(8),@RNO INT
DECLARE @UMUSYO TINYINT
-- 初期値セット
SELECT @ERR = 0
SELECT @ECNT = 0

SELECT @TORCD = @TORCD + '%'

-- 単価未登録一覧ワーク データ削除
DELETE 単価未登録一覧ワーク
	WHERE 処理端末 = Host_Name()
IF @@ERROR <> 0 BEGIN SELECT @ERR = 1 GOTO PROC_ERROR END	
-- /------------------------------------/
-- / 対象テーブルカーソル定義  		/
-- /------------------------------------/
IF @PROC = 0
   BEGIN
	DECLARE KNCUR SCROLL CURSOR
	FOR 
		SELECT HC.品番,HC.仕入先,HC.契約先,NY.入荷日,SUM(NY.入荷数)
		   FROM 入荷テーブル NY
			LEFT OUTER JOIN 発注テーブル HC
				ON HC.発注管理NO = NY.発注管理NO
		Where NY.入荷数 <> 0
		  And ISNULL(HC.品番,'') <> ''
		  And NY.入荷日 Between @SYMD ANd @EYMD
		  And HC.仕入先 Like @TORCD
		Group By HC.品番,HC.仕入先,HC.契約先,NY.入荷日

		Union All

		SELECT JK.品番,JK.実績元,
			CASE WHEN HT.契約先 IS NULL THEN ISNULL(TR2.契約先,'') ELSE ISNULL(HT.契約先,'') END 契約先,
			JK.実績日,SUM(JK.実績数)
		 FROM 実績管理テーブル JK
		LEFT OUTER JOIN 品番取引先マスタ HT
			ON  HT.品番 = JK.品番
			AND HT.取引先 = JK.実績元
			AND HT.品目  = 1
		LEFT OUTER JOIN 取引先マスタ TR2
			ON TR2.取引先CD = JK.実績元
			AND TR2.取引先区分 = 1
		WHERE JK.実績区分 = 1
		   AND JK.実績元 <> ''
		   AND TR2.社内区分 = 0
		   AND  (HT.契約先 IS NOT NULL AND TR2.契約先 IS NOT NULL) 
		   And JK.実績日 Between @SYMD ANd @EYMD
		   And JK.実績元 Like @TORCD
		Group by JK.品番,JK.実績元,JK.実績日,TR2.契約先,HT.契約先
	FOR READ ONLY 
   END 
ELSE
   BEGIN
	DECLARE KNCUR SCROLL CURSOR
	FOR 
		SELECT 品番,仕入先,契約先,検収日,SUM(数量)
		  From 購入単価未決ワーク 
		Where ISNULL(品番,'') <> '' 
		  And Isnull(仕入先,'') Like @TORCD
		Group By 品番,仕入先,契約先,検収日
	FOR READ ONLY 
   END
OPEN KNCUR

-- ｶｰｿﾙ項目定義 --
DECLARE @KN_HINBN VARCHAR(25),@KN_TORCD VARCHAR(7),@KN_KTORCD VARCHAR(7),@KN_KYMD VARCHAR(8),@KN_SU INT

------------------------------------------------------------------------------------
-- 対象テーブル  読込 							          
------------------------------------------------------------------------------------
FETCH NEXT FROM KNCUR INTO 
			@KN_HINBN ,@KN_TORCD ,@KN_KTORCD,@KN_KYMD,@KN_SU
WHILE @@FETCH_STATUS = 0
BEGIN
-- ----------------------------------------------------
--   単価チェック
-- ----------------------------------------------------
	EXEC 購入単価決定 @KN_HINBN,@KN_TORCD,@KN_KTORCD,@KN_KYMD,
				 @TANK OUTPUT,@TKBN OUTPUT,@UMUSYO OUTPUT,@TSYMD OUTPUT,@RNO OUTPUT
	IF @TKBN = '9' 
	   BEGIN
-- ----------------------------------------------------
--   購入単価未決ワーク 作成
-- ----------------------------------------------------
		INSERT INTO 単価未登録一覧ワーク 
			( 処理端末, 取引先, 契約先, 品番 ,日付 , 数量 ,作成日)
	 		VALUES
			(Host_Name(), @KN_TORCD, @KN_KTORCD, @KN_HINBN,@KN_KYMD,@KN_SU,Getdate() )
	 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 13 GOTO PROC_ERROR END 
		SELECT @ECNT = @ECNT + 1
	   END
-- ----------------------------------------------------
--   対象テーブルカーソルスクロール(次レコード）  	
-- ----------------------------------------------------
	FETCH NEXT FROM KNCUR INTO 
			@KN_HINBN ,@KN_TORCD ,@KN_KTORCD,@KN_KYMD,@KN_SU
END

CLOSE KNCUR
DEALLOCATE KNCUR

------------------------------
--         終 了　
------------------------------
END_PROC:
--	SELECT @ECNT	--T 

RETURN(0)

------------------------------
--    エラー処理
------------------------------
PROC_ERROR:
--T
-- IF @ERR <> 0 
--    BEGIN
-- 	SELECT 'ERR=' + CONVERT(CHAR(2),@ERR)
--   END
--T END

RETURN(@ERR)

GO
