USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[メンテ材料用仕掛手配日算出]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE PROCEDURE [dbo].[メンテ材料用仕掛手配日算出]	@ZAINO INT, @TORCD VARCHAR(7), @UKEIR VARCHAR(2), @NYMD VARCHAR(8),
						@SYMD VARCHAR(8) OUTPUT, @TYMD VARCHAR(8) OUTPUT AS
SET NOCOUNT ON
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 * ( 		 )
 *
 *		納　期　よ　り、　仕　掛　日・手　配　日　を　算　出
 *
 *			PARAMETER	@ZAINO	(  INPUT )	材料管理番号
 *					@TORCD	(  INPUT )	取引先
 *					@UKEIR	(  INPUT )	受入
 *					@NYMD	(  INPUT )	納期
 *					@SYMD	( OUTPUT )	仕掛日
 *					@TYMD	( OUTPUT )	手配日
 *
 *			RETURN		0 : 正常終了
 *			 		1 : 「メンテ用カレンダワーク作成」パラメータのメンテ対象年月と異なる
 *			 		9 : 異常終了
 *
 *			COMMENT		「メンテ用カレンダワーク作成」(ストアド)を前処理として実行しておく事。
 *
 *			CREATE DATE	2004 / 03 / 02	By CIS
 *	    		UP DATE
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
DECLARE	@RTN		INT		/* リターン						*/

DECLARE	@STR1		VARCHAR(1000)	/* ワーク						*/
DECLARE	@INT1		INT		/* ワーク						*/
DECLARE	@INT2		INT		/* ワーク						*/
DECLARE	@CNT		TINYINT		/* ワーク						*/

DECLARE	@LT		TINYINT		/* リードタイム						*/
DECLARE	@WEEK1		TINYINT		/* 曜日指定1						*/
DECLARE	@WEEK2		TINYINT		/* 曜日指定2						*/
DECLARE	@WEEK3		TINYINT		/* 曜日指定3						*/
DECLARE	@WEEK4		TINYINT		/* 曜日指定4						*/
DECLARE	@WEEK5		TINYINT		/* 曜日指定5						*/
DECLARE	@DAY1		TINYINT		/* 日にち指定1						*/
DECLARE	@DAY2		TINYINT		/* 日にち指定2						*/
DECLARE	@DAY3		TINYINT		/* 日にち指定3						*/
DECLARE	@DAY4		TINYINT		/* 日にち指定4						*/
DECLARE	@DAY5		TINYINT		/* 日にち指定5						*/
		
/*::::::::::::::::::::::*
 *	初期処理		*
 *::::::::::::::::::::::*/
SELECT	@RTN = 9, @SYMD = '', @TYMD = '', @STR1 = ''
SELECT	@STR1 = 作成指示年月 
	FROM カレンダワークメンテ用
	WHERE 作成端末 = SUBSTRING( HOST_NAME(), 1, 20 )
	GROUP BY 作成指示年月 

IF	@STR1 <> SUBSTRING( @NYMD, 1, 6 )	BEGIN	SELECT	@RTN = 1	GOTO PROC_END	END

/*::::::::::::::::::::::::::::::*
 *	材料取引先マスタ　読込	*
 *::::::::::::::::::::::::::::::*/
SELECT	@LT = LT,
	@WEEK1 = Week1, @WEEK2 = Week2, @WEEK3 = Week3, @WEEK4 = Week4, @WEEK5 = Week5,
	@DAY1  = Day1,  @DAY2  = Day2,  @DAY3  = Day3,  @DAY4  = Day4,  @DAY5  = Day5
	FROM	材料取引先マスタ
	WHERE	材料管理番号 = @ZAINO
	AND	取引先 = @TORCD
	AND	受入 = @UKEIR

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *						仕　掛　日　の　決　定　（　リ　ー　ド　タ　イ　ム　分　の　前　倒　し　）
 *
 *				注) 前倒し最大日数は９３日(３ヶ月)とし、それを超えるものは、３ヶ月前の１日(稼働・非稼働に関わらず)とする。
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
SELECT	@INT1 = 0, @INT2 = 1, @CNT = 0

WHILE	( @INT1 >= -93 AND @SYMD = '' )
    BEGIN

	SELECT	@SYMD =	CASE	WHEN SUBSTRING( 稼働区分, DAY( DATEADD( D, @INT1, @NYMD ) ), 1 ) > 0
					AND  @LT <= @CNT
					THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, @NYMD ), 112 )
					ELSE ''
				END,
		@CNT =	CASE	WHEN SUBSTRING( 稼働区分, DAY( DATEADD( D, @INT1, @NYMD ) ), 1 ) = 0
					THEN @CNT
					ELSE @CNT + 1
				END

		FROM	カレンダワークメンテ用 CL
		WHERE	CL.取引先 = @TORCD
		AND	CL.受入 = @UKEIR
		AND	CL.年月 = CONVERT( VARCHAR(6), DATEADD( D, @INT1, @NYMD ), 112 )
		AND	DATEADD( M, -3, SUBSTRING( @NYMD, 1, 6 ) + '01' ) <= DATEADD( D, @INT1, @NYMD )

	SELECT	@INT1 = @INT1 - 1
    END

IF	@SYMD = '' OR @INT1 < -93
    BEGIN
	SELECT	@SYMD = CONVERT( VARCHAR(8), DATEADD( M, -3, SUBSTRING( @NYMD, 1, 6 ) + '01' ), 112 )
    END

/*=================================================================================================================================================================*
 *
 *
 *					仕　掛　日　を　指　定　曜　日　又　は、　指　定　日　で　前　倒　し　し　て、　手　配　日　を　算　出
 *
 *				注) 前倒し最大日数は９３日(３ヶ月)とし、それを超えるものは、３ヶ月前の１日(稼働・非稼働に関わらず)とする。
 *
 *=================================================================================================================================================================*/
IF	@WEEK1 + @WEEK2 + @WEEK3 + @WEEK4 + @WEEK5 + 
	@DAY1  + @DAY2  + @DAY3  + @DAY4  + @DAY5  = 0
    BEGIN
	SELECT	@TYMD = @SYMD, @RTN = 0
	GOTO	PROC_END
    END

SELECT	@INT1 = 0
WHILE	( @INT1 >= -93 AND @TYMD = '' )
    BEGIN

	SELECT	@TYMD = CASE	WHEN SUBSTRING( 稼働区分, DAY( DATEADD( D, @INT1, @SYMD ) ), 1 ) = 0
				THEN ''
				ELSE
				  CASE 	WHEN DATEPART( DW, DATEADD( D, @INT1, @SYMD ) ) = 2 AND @WEEK1 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, @SYMD ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, @SYMD ) ) = 3 AND @WEEK2 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, @SYMD ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, @SYMD ) ) = 4 AND @WEEK3 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, @SYMD ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, @SYMD ) ) = 5 AND @WEEK4 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, @SYMD ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, @SYMD ) ) = 6 AND @WEEK5 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, @SYMD ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, @SYMD ) ) = @DAY1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, @SYMD ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, @SYMD ) ) = @DAY2 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, @SYMD ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, @SYMD ) ) = @DAY3 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, @SYMD ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, @SYMD ) ) = @DAY4 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, @SYMD ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, @SYMD ) ) = @DAY5 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, @SYMD ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, @SYMD ) ) >= 稼働末日 AND @DAY1 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, @SYMD ), 112 ) + CAST( 稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, @SYMD ) ) >= 稼働末日 AND @DAY2 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, @SYMD ), 112 ) + CAST( 稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, @SYMD ) ) >= 稼働末日 AND @DAY3 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, @SYMD ), 112 ) + CAST( 稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, @SYMD ) ) >= 稼働末日 AND @DAY4 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, @SYMD ), 112 ) + CAST( 稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, @SYMD ) ) >= 稼働末日 AND @DAY5 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, @SYMD ), 112 ) + CAST( 稼働末日 AS VARCHAR(2) )
					ELSE ''
				  END
			END
		FROM	カレンダワークメンテ用
		WHERE	取引先 = @TORCD
		AND	受入 = @UKEIR
		AND	年月 = CONVERT( VARCHAR(6), DATEADD( D, @INT1, @SYMD ), 112 )
		AND	DATEADD( M, -3, SUBSTRING( @SYMD, 1, 6 ) + '01' ) <= DATEADD( D, @INT1, @SYMD )

	SELECT	@INT1 = @INT1 - 1
    END

IF	@TYMD = '' OR @INT1 < -93
    BEGIN
	SELECT	@TYMD = CONVERT( VARCHAR(8), DATEADD( M, -3, SUBSTRING( @NYMD, 1, 6 ) + '01' ), 112 )
    END

IF	@RTN = 9	BEGIN	SELECT	@RTN = 0	END	

/*::::::::::::::::::::::*
 *	終 了 処 理	*
 *::::::::::::::::::::::*/
PROC_END:
	RETURN ( @RTN )



GO
