USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[S展開処理_確定]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[S展開処理_確定]	@TG_NJYM VARCHAR(6), @LVLCNT1 TINYINT, @OUTCNT INT OUTPUT AS
SET NOCOUNT ON
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 * ( CNJ0310 )
 *			展　　開　　処　　理　　_　　確　　定
 *
 *				展開処理より、呼出される処理。
 *					１レベル内での処理 ( 手配先・数量・納期 確定処理 )
 *
 *			PARAMETER	@TG_NJYM( INPUT  )	対象内示年月
 *					@LVLCNT1( INPUT  )	展開レベルカウント
 *					@OUTCNT ( OUTPUT )	出力件数 ( 発注内示データ件数 )
 *
 *			RETURN		0 : 正常終了
 *			 		9 : 異常終了
 *
 *			CREATE DATE	2004 / 02 / 23	By CIS
 *	    		UP DATE
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
DECLARE	@RTN		INT		/* リターン						*/
DECLARE	@LVLCNT2	TINYINT		/* 階層レベル　カウント					*/
DECLARE	@TG_NJYM_ZN	VARCHAR(6)	/* 前月内示年月						*/
DECLARE	@TG_NJYM_YKYK	VARCHAR(6)	/* 翌々月内示年月					*/

DECLARE	@TGW_NJYM_YG	VARCHAR(6)	/* 翌月内示年月						*/
DECLARE	@TGW_NJYM_YYG	VARCHAR(6)	/* 翌々月内示年月					*/

DECLARE	@STR1		VARCHAR(1000)	/* ワーク						*/
DECLARE	@STR2		VARCHAR(1000)	/* ワーク						*/
DECLARE	@CNT1		TINYINT		/* ワーク						*/
DECLARE	@CNT2		TINYINT		/* ワーク						*/
DECLARE	@INT1		INT		/* ワーク						*/
DECLARE	@INT2		INT		/* ワーク						*/

DECLARE	@DEBUG		TINYINT		/* デバッグ用						*/
DECLARE	@TIMEST		DATETIME	/* デバッグ用						*/
DECLARE	@TIMEED		DATETIME	/* デバッグ用						*/

/*::::::::::::::::::::::*
 *	初期処理		*
 *::::::::::::::::::::::*/
SELECT	@RTN = 9, @OUTCNT = 0, @DEBUG = 0,
	@LVLCNT2 = @LVLCNT1 - 1,
	@TG_NJYM_ZN = CONVERT( VARCHAR(6), DATEADD( M, -1, @TG_NJYM + '01' ), 112 ),
	@TG_NJYM_YKYK = CONVERT( VARCHAR(6), DATEADD( M, 2, @TG_NJYM + '01' ), 112 ),

	@TGW_NJYM_YG = CONVERT( VARCHAR(6), DATEADD( M, 1, @TG_NJYM + '01' ), 112 ),
	@TGW_NJYM_YYG = CONVERT( VARCHAR(6), DATEADD( M, 2, @TG_NJYM + '01' ), 112 ),
	@STR1 = CONVERT( VARCHAR(6), DATEADD( M, 2, @TG_NJYM + '01' ), 112 )

/*::::::::::::::::::::::::::::::::::::::::::::::*
 *	自社カレンダ確認	 ( 発注・先月 )		*
 *::::::::::::::::::::::::::::::::::::::::::::::*/
EXEC	社内カレンダチェック 1, @STR1, -5

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *			当　月　月　初　在　庫　算　出  < 月 初 有 効 在 庫 数 >		( 展開在庫ワーク作成 )
 *
 *								入　庫　情　報　／　前月発注内示データで 納期が 前月の データ
 *								出　庫　情　報　／　前月発注内示データで 納期が 前月の 親品番データ
 *
 *			①：展開在庫品番ワーク作成	･･･	構成展開ワーク内の該当同レベルの在庫管理データの前月在庫数、当月安全在庫数を求める
 *			②：展開在庫ワーク作成		･･･	展開在庫品番ワークの在庫に、前月発注内示より入庫、直親の前月発注内示を出庫とし、
 *								　前月月末在庫(当月月初在庫を求める)
 *
 *::::::::::::::::::::::::::::::::::::::*
 *	 展開在庫品番ワーク　削除		*
 *::::::::::::::::::::::::::::::::::::::* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*
TRUNCATE TABLE	S展開在庫品番ワーク
*/
/*::::::::::::::::::::::::::::::::::::::*
 *	 展開在庫品番ワーク　作成		*
 *::::::::::::::::::::::::::::::::::::::*/
/*
INSERT	INTO	S展開在庫品番ワーク	( 年月度, 品番, 在庫数, 実棚日, 安全在庫数 )

	SELECT	ZK.年月度, ZK.品番, ZK.在庫数, ZK.実棚日, 
		CASE ZH.在庫管理区分
			WHEN 2	THEN CEILING( ZH.数量 * ( ZH.在庫管理数値 / 100 ) )
			WHEN 3	THEN ZH.在庫管理数値
			WHEN 4	THEN CEILING( ZH.数量 / CL.稼動日数 * ZH.在庫管理数値 )
				ELSE 0
		END 安全在庫数
		FROM ( SELECT	品番, SUBSTRING( 納期, 1, 6 ) 年月, SUM( 数量 ) 数量,
						MAX( 在庫管理区分 ) 在庫管理区分,
						MAX( 在庫管理数値 ) 在庫管理数値
					FROM 構成展開ワーク
					WHERE ローレベル = @LVLCNT1
						AND   SUBSTRING( 納期, 1, 6 ) = @TG_NJYM
						AND   ISNULL( 在庫管理区分, 0 ) > 1
					GROUP BY 品番, SUBSTRING( 納期, 1, 6 )
			    ) ZH
		INNER JOIN 在庫マスタ ZK
		ON  ZK.年月度 = @TG_NJYM_ZN
		AND ZK.品番 = ZH.品番
		LEFT OUTER JOIN カレンダマスタ CL
		ON  CL.取引先 = ''
		AND CL.受入 = ''
		AND CL.年 = SUBSTRING( @TG_NJYM, 1, 4 )
		AND CL.月 = SUBSTRING( @TG_NJYM, 5, 2 )
		AND CL.取引先区分 = 1
*/
/*::::::::::::::::::::::::::::::*
 *	展開在庫ワーク　削除	*
 *::::::::::::::::::::::::::::::*/
/*
TRUNCATE TABLE	S展開在庫ワーク
*/
/*::::::::::::::::::::::::::::::*
 *	展開在庫ワーク　作成	*
 *::::::::::::::::::::::::::::::*/
/*
INSERT	INTO	S展開在庫ワーク	( 品番, 月初有効在庫数 )

	SELECT	ZK.品番,
		ZK.在庫数 + NK.入庫数 - SK.出庫数 - ZK.安全在庫数
		FROM S展開在庫品番ワーク ZK
		LEFT OUTER JOIN (SELECT	ZK.品番, 
					SUM( CASE WHEN ZK.実棚日 <= ISNULL( HJ.納期, '' ) THEN ISNULL( HJ.数量, 0 ) ELSE 0 END ) 入庫数 
					FROM S展開在庫品番ワーク ZK
					LEFT OUTER JOIN S発注内示テーブル HJ
					ON  HJ.内示年月 = ZK.年月度
					AND HJ.品番 = ZK.品番
					AND SUBSTRING( HJ.納期, 1, 6 ) = @TG_NJYM_ZN
					GROUP BY ZK.品番
				) NK
		ON  NK.品番 = ZK.品番
		LEFT OUTER JOIN (SELECT	ZK.品番,
					SUM( CASE WHEN ZK.実棚日 <= ISNULL( HJ.納期, '' ) THEN ISNULL( HJ.数量, 0 )  * ISNULL( KS.構成数, 0 ) ELSE 0 END ) 出庫数
					FROM 展開在庫品番ワーク ZK
					LEFT OUTER JOIN 構成マスタ KS
					ON  KS.子品番 = ZK.品番
					LEFT OUTER JOIN 発注内示テーブル HJ
					ON  HJ.内示年月 = ZK.年月度
					AND HJ.品番 = ISNULL( KS.親品番, '' )
					AND SUBSTRING( HJ.納期, 1, 6 ) = @TG_NJYM_ZN
					GROUP BY ZK.品番
				) SK
		ON  SK.品番 = ZK.品番
*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *						構　成　展　開　集　計　ワ　ー　ク　作　成
 *
 *
 *::::::::::::::::::::::::::::::::::::::*
 *	  構成展開集計ワーク　削除	*
 *::::::::::::::::::::::::::::::::::::::* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
TRUNCATE TABLE	S構成展開集計ワーク

/*::::::::::::::::::::::::::::::::::::::*
 *	  構成展開集計ワーク　作成	*
 *::::::::::::::::::::::::::::::::::::::*/
INSERT 	INTO	S構成展開集計ワーク ( 品番, 親手配先, 納期, 数量, 展開レベル, ローレベル, 引当後数量, 在庫管理区分, 月初有効在庫数, 件数, 展開区分 )
	
	SELECT	KT.品番, ISNULL( HT.納入先, '' ) 親手配先, KT.納期, SUM( KT.数量 ) 数量, ローレベル, ローレベル,

/*		SUM( KT.引当後数量 ) 引当後数量,	KT.在庫管理区分, MAX( ISNULL( ZK.月初有効在庫数, 0 ) ), MAX( ISNULL( HC.件数, 0 ) ), KT.展開区分 */
		SUM( KT.引当後数量 ) 引当後数量,	KT.在庫管理区分, 0 , MAX( ISNULL( HC.件数, 0 ) ), KT.展開区分 
		FROM S構成展開ワーク KT
		LEFT OUTER JOIN (SELECT	HTS.品番, COUNT(*) 件数
					FROM (SELECT DISTINCT 品番, 親手配先
								FROM S構成展開ワーク
								WHERE ローレベル = @LVLCNT1
					     ) HTS
					GROUP BY HTS.品番
				)HC
		ON  HC.品番 = KT.品番
/*		LEFT OUTER JOIN 展開在庫ワーク ZK
		ON  ZK.品番 = KT.品番
*/
		LEFT OUTER JOIN 品番取引先マスタ HT
		ON  HT.品番 = KT.品番
		AND HT.品目 = 1
		AND HT.手配区分 = 1				/* 手配区分 = 1 : 直送 */
		AND HT.納入先 = KT.親手配先
		AND HT.有効期限開始 <= KT.納期
		AND CASE WHEN HT.有効期限終了 = '' THEN '9' ELSE HT.有効期限終了 END >= KT.納期
		WHERE KT.ローレベル = @LVLCNT1
		GROUP BY KT.品番, ISNULL( HT.納入先, '' ), KT.納期, ローレベル, KT.在庫管理区分, KT.展開区分

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *			在　　庫　　引　　当	( 月初有効在庫数：月初在庫数より安全在庫数を減算した値、当月月初に一度のみ反映し、月が変わっても反映しない )
 *
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *	１品番に対し、１親手配先のデータの引当 ( 件数 = 1 )	*
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
SELECT	@CNT1 = 0, @CNT2 = 0
SELECT	@STR1 = CONVERT( VARCHAR(8), DATEADD( D, @CNT1,     @TG_NJYM + '01' ), 112 ),
	@STR2 = CONVERT( VARCHAR(8), DATEADD( D, @CNT1 + 1, @TG_NJYM + '01' ), 112 )

WHILE	( @CNT1 < 93 AND @CNT2 = 0 )
    BEGIN

	UPDATE	S構成展開集計ワーク SET
		引当後数量 =	CASE	WHEN 月初有効在庫数 >= HN.累計 + 数量	THEN 0
					WHEN 月初有効在庫数 <= HN.累計		THEN 数量
										ELSE ( 数量 + HN.累計 ) - 月初有効在庫数
		    		END
	FROM  (SELECT	品番, SUM( CASE WHEN 納期 < @STR1 THEN 数量 ELSE 0 END ) 累計 
				FROM S構成展開集計ワーク
				WHERE ローレベル = @LVLCNT1
					AND   在庫管理区分 > 0
					AND   納期 < @STR2
				GROUP BY 品番	) HN
	WHERE S構成展開集計ワーク.ローレベル = @LVLCNT1
		AND   S構成展開集計ワーク.在庫管理区分 > 0
		AND   S構成展開集計ワーク.納期 = @STR1
		AND   S構成展開集計ワーク.品番 = HN.品番
		AND   S構成展開集計ワーク.件数 = 1
		AND   S構成展開集計ワーク.月初有効在庫数 > HN.累計

	SELECT	@CNT1 = @CNT1 + 1
	SELECT	@STR1  = CONVERT( VARCHAR(8), DATEADD( D, @CNT1,     @TG_NJYM + '01' ), 112 ),
		@STR2  = CONVERT( VARCHAR(8), DATEADD( D, @CNT1 + 1, @TG_NJYM + '01' ), 112 )
	IF	@STR1 >= CONVERT( VARCHAR(8), DATEADD( M, 3,         @TG_NJYM + '01' ), 112 )	BEGIN	SELECT	@CNT2 = 1	END
    END

DECLARE	@CUR_HINBN		VARCHAR(25)
DECLARE	@CUR_SURYO		DECIMAL(11,4)
DECLARE	@CUR_ZIKO		DECIMAL(11,0)
DECLARE	@SV_HINBN		VARCHAR(25)
DECLARE	@SV_SURYO		DECIMAL(11,4)
DECLARE	@UPD_SURYO		DECIMAL(11,4)

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *	１品番に対し、複数親手配先のデータの引当 ( 件数 = ｎ )	*
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
IF	EXISTS( SELECT 品番 FROM S構成展開集計ワーク WHERE 件数 > 1 )
    BEGIN
	SELECT	@SV_HINBN = '', @SV_SURYO = 0

	DECLARE	PS_CURSOR	CURSOR
	FOR
		SELECT	品番, 引当後数量, 月初有効在庫数
			FROM S構成展開集計ワーク
			WHERE 納期 > = @TG_NJYM + '01'
			AND   件数 > 1
			ORDER BY 品番, 納期, 親手配先
	FOR	UPDATE	OF 引当後数量
	
	OPEN	PS_CURSOR
	
	FETCH NEXT FROM	PS_CURSOR INTO	@CUR_HINBN, @CUR_SURYO, @CUR_ZIKO

	WHILE @@FETCH_STATUS = 0
	    BEGIN
		IF	@SV_HINBN <> @CUR_HINBN
		    BEGIN
			SELECT	@SV_HINBN = @CUR_HINBN, @SV_SURYO = 0
		    END

		IF	@SV_SURYO < @CUR_ZIKO
		    BEGIN
			IF	@SV_SURYO + @CUR_SURYO <= @CUR_ZIKO
			    BEGIN
				SELECT	@UPD_SURYO = 0,
					@SV_SURYO  = @SV_SURYO + @CUR_SURYO
			    END
			ELSE
			    BEGIN
				SELECT	@UPD_SURYO = ( @SV_SURYO + @CUR_SURYO ) - @CUR_ZIKO,
					@SV_SURYO  = @SV_SURYO + @CUR_SURYO
			    END

			UPDATE	S構成展開集計ワーク SET
				引当後数量 = @UPD_SURYO
				WHERE CURRENT OF PS_CURSOR
		    END

		FETCH NEXT FROM	PS_CURSOR INTO	@CUR_HINBN, @CUR_SURYO, @CUR_ZIKO
	    END

	CLOSE		PS_CURSOR
	DEALLOCATE	PS_CURSOR

    END

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *						発　注　内　示　ワ　ー　ク　テ　ー　ブ　ル　の　作　成
 *
 *
 *::::::::::::::::::::::::::::::*
 *	発注内示ワーク	削除	*
 *::::::::::::::::::::::::::::::* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
TRUNCATE TABLE	S発注内示ワーク

/*::::::::::::::::::::::::::::::*
 *	発注内示ワーク	作成	*
 *::::::::::::::::::::::::::::::*/
INSERT 	INTO	S発注内示ワーク 
		( 品番, 手配先, 受入, 直送先, 納期, 指定納期, 仕掛日, 数量, 引当後数量, 係数1, 係数2, 係数3, サイクル, LT, ロット, 
			Week1, Week2, Week3, Week4, Week5, Day1, Day2, Day3, Day4, Day5, 手配区分, 発注比率, 発注比率計, 件数, 展開区分 )

	SELECT	KT.品番,
		CASE ISNULL( H1.取引先, '' ) WHEN '' THEN ISNULL( H2.取引先, '' ) ELSE H1.取引先 END 手配先,
		CASE ISNULL( H1.受入,   '' ) WHEN '' THEN ISNULL( H2.受入,   '' ) ELSE H1.受入   END 受入,
		ISNULL( H1.納入先, '' ) 直送先, KT.納期, '' 指定納期, '' 仕掛日, KT.数量, KT.引当後数量,

		CASE WHEN H1.係数1 IS NULL 	THEN ISNULL( H2.係数1, 0 ) 	ELSE H1.係数1 	END 係数1,
		CASE WHEN H1.係数2 IS NULL 	THEN ISNULL( H2.係数2, 0 ) 	ELSE H1.係数2 	END 係数2,
		CASE WHEN H1.係数3 IS NULL 	THEN ISNULL( H2.係数3, 0 ) 	ELSE H1.係数3 	END 係数3,
		CASE WHEN H1.サイクル IS NULL	THEN ISNULL( H2.サイクル, '' )	ELSE H1.サイクル	END サイクル,
		CASE WHEN H1.LT IS NULL		THEN ISNULL( H2.LT, '' ) 	ELSE H1.LT 	END LT,

		CASE WHEN H1.変更日 IS NULL	THEN CASE WHEN ISNULL( H2.変更日, '' ) <> '' 
							   AND ISNULL( H2.変更日, '' ) <= KT.納期
								THEN CASE WHEN ISNULL( H2.ロット2, 0 ) = 0 THEN ISNULL( H2.収容数2, 0 ) ELSE ISNULL( H2.ロット2, 0 ) END
								ELSE CASE WHEN ISNULL( H2.ロット1, 0 ) = 0 THEN ISNULL( H2.収容数1, 0 ) ELSE ISNULL( H2.ロット1, 0 ) END
						     END
						ELSE CASE WHEN H1.変更日 <> '' 
							   AND H1.変更日 <= KT.納期
								THEN CASE WHEN H1.ロット2 = 0 THEN H1.収容数2 ELSE H1.ロット2 END
								ELSE CASE WHEN H1.ロット1 = 0 THEN H1.収容数1 ELSE H1.ロット1 END
						     END
						END ロット,

		CASE WHEN H1.Week1 IS NULL 	THEN ISNULL( H2.Week1, 0 ) 	ELSE H1.Week1 	END Week1,
		CASE WHEN H1.Week2 IS NULL 	THEN ISNULL( H2.Week2, 0 ) 	ELSE H1.Week2 	END Week2,
		CASE WHEN H1.Week3 IS NULL 	THEN ISNULL( H2.Week3, 0 ) 	ELSE H1.Week3 	END Week3,
		CASE WHEN H1.Week4 IS NULL 	THEN ISNULL( H2.Week4, 0 ) 	ELSE H1.Week4 	END Week4,
		CASE WHEN H1.Week5 IS NULL 	THEN ISNULL( H2.Week5, 0 ) 	ELSE H1.Week5 	END Week5,

		CASE WHEN H1.Day1 IS NULL 	THEN ISNULL( H2.Day1, 0 ) 	ELSE H1.Day1 	END Day1,
		CASE WHEN H1.Day2 IS NULL 	THEN ISNULL( H2.Day2, 0 ) 	ELSE H1.Day2 	END Day2,
		CASE WHEN H1.Day3 IS NULL 	THEN ISNULL( H2.Day3, 0 ) 	ELSE H1.Day3 	END Day3,
		CASE WHEN H1.Day4 IS NULL 	THEN ISNULL( H2.Day4, 0 ) 	ELSE H1.Day4 	END Day4,
		CASE WHEN H1.Day5 IS NULL 	THEN ISNULL( H2.Day5, 0 ) 	ELSE H1.Day5 	END Day5,

		CASE WHEN H1.手配区分 IS NULL 	THEN ISNULL( H2.手配区分, 0 ) 	ELSE H1.手配区分 END 手配区分,
		CASE WHEN H1.発注比率 IS NULL 	THEN CASE WHEN ISNULL( H2.発注比率, 0 ) = 0
								THEN 100
								ELSE H2.発注比率
						     END
						ELSE CASE WHEN H1.発注比率 = 0
								THEN 100
								ELSE H1.発注比率
						     END
						END 発注比率,
		CASE WHEN H1.発注比率 IS NULL 	THEN CASE WHEN ISNULL( H2.発注比率, 0 ) = 0
								THEN 100
								ELSE H2.発注比率
						     END
						ELSE CASE WHEN H1.発注比率 = 0
								THEN 100
								ELSE H1.発注比率
						     END
						END 発注比率計,
		1 件数, KT.展開区分
		FROM S構成展開集計ワーク KT

		LEFT OUTER JOIN 品番取引先マスタ H1
			ON   H1.品番 = KT.品番	
			AND  H1.品目 = 1
			AND  H1.手配区分 = 1
			AND  H1.納入先 = KT.親手配先
			AND  H1.有効期限開始 <= KT.納期
			AND  CASE WHEN H1.有効期限終了 = '' THEN '9' ELSE H1.有効期限終了 END >= KT.納期
		LEFT OUTER JOIN 品番取引先マスタ H2
			ON   H2.品番 = CASE WHEN ISNULL( H1.品番, '' ) = '' THEN KT.品番 ELSE '' END 	
			AND  H2.品目 = 1
			AND  H2.手配区分 <> 1
			AND  H2.有効期限開始 <= KT.納期
			AND  CASE WHEN H2.有効期限終了 = '' THEN '9' ELSE H2.有効期限終了 END >= KT.納期
		WHERE KT.ローレベル = @LVLCNT1

/*::::::::::::::::::::::::::::::::::::::::::::::*
 *	手配先・受入違いデータの件数更新		*
 *::::::::::::::::::::::::::::::::::::::::::::::*/
UPDATE	S発注内示ワーク SET
	件数 = HJ.件数,
	発注比率計 = HJ.発注比率計
	FROM ( SELECT 品番, 直送先, 納期, COUNT(*) 件数, SUM( 発注比率 ) 発注比率計
			FROM S発注内示ワーク
			WHERE 手配先 <> ''
			GROUP BY 品番, 直送先, 納期
			HAVING COUNT(*) > 1 ) HJ
	WHERE S発注内示ワーク.品番 = HJ.品番
	AND   S発注内示ワーク.直送先 = HJ.直送先
	AND   S発注内示ワーク.納期 = HJ.納期

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *		複　数　発　注　時　の　発　注　比　率　に　よ　る　数　量　配　分
 *
 *						発 注 比 率 計 に 基 づ い た 分 配 を 行 う ( 比率/比率計 ex. 10/70, 20/70, 40/70 )
 *	
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
DECLARE	@CUR_NYMD	VARCHAR(8)		-- 納期
--									DECLARE	@CUR_HINBN	VARCHAR(25)		-- 品番
DECLARE	@CUR_CHOKU	VARCHAR(7)		-- 直送先
--									DECLARE	@CUR_SURYO	INT			-- 数量
DECLARE	@CUR_HIKISU	INT			-- 引当後数量
DECLARE	@CUR_RITU	TINYINT			-- 発注比率
DECLARE	@CUR_RITUK	SMALLINT		-- 発注比率計
DECLARE	@CUR_RECNT	TINYINT			-- 件数

DECLARE	@SV_NYMD	VARCHAR(8)		-- 納期
--									DECLARE	@SV_HINBN	VARCHAR(25)		-- 品番
DECLARE	@SV_CHOKU	VARCHAR(1)		-- 直送先
--									DECLARE	@SV_SURYO	INT			-- 数量
DECLARE	@SV_HIKISU	INT			-- 引当後数量

DECLARE	@WK_SURYO	INT			-- 数量
DECLARE	@WK_HIKISU	INT			-- 引当後数量

DECLARE	PS_CURSOR	CURSOR
FOR
	SELECT	納期, 品番, 直送先, 数量, 引当後数量, 発注比率, 発注比率計, 件数
		FROM S発注内示ワーク
		WHERE 件数 > 1
		ORDER BY 納期, 品番, 発注比率 DESC, 手配先, 受入
FOR	UPDATE	OF 数量, 引当後数量

OPEN	PS_CURSOR

FETCH NEXT FROM	PS_CURSOR 
		INTO @CUR_NYMD, @CUR_HINBN, @CUR_CHOKU, @CUR_SURYO, @CUR_HIKISU, @CUR_RITU, @CUR_RITUK, @CUR_RECNT

SELECT	@SV_NYMD = @CUR_NYMD, @SV_HINBN = @CUR_HINBN, @SV_CHOKU = @CUR_CHOKU, @SV_SURYO = 0, @SV_HIKISU = 0

WHILE @@FETCH_STATUS = 0
    BEGIN

--	[ 分配数計算 [ 数量 × ( 発注比率 ÷ 発注比率計 ) ] ]	< ROUND( 999, 0 ) ：四捨五入 >
	SELECT	@WK_SURYO  = ROUND( @CUR_SURYO  * ( CAST( @CUR_RITU AS DECIMAL( 5, 2 ) ) / @CUR_RITUK ), 0 ),
		@WK_HIKISU = ROUND( @CUR_HIKISU * ( CAST( @CUR_RITU AS DECIMAL( 5, 2 ) ) / @CUR_RITUK ), 0 )

--	< 引当前　数量 >
	IF	@SV_SURYO = @CUR_SURYO OR @WK_SURYO = 0
	    BEGIN										-- [ 累積分配数が分配前数量を超える又は、計算後分配数がゼロの場合 ]
		SELECT	@WK_SURYO = 0
	    END
	ELSE
	    BEGIN
		IF	@SV_SURYO + @WK_SURYO <= @CUR_SURYO
		    BEGIN									-- [ 分配前数量内で、分配数が出来た場合 ]
			SELECT	@SV_SURYO  = @SV_SURYO + @WK_SURYO
		    END
		ELSE
		    BEGIN									-- [ 分配数　一部オーバー時 ]
			SELECT	@WK_SURYO = @CUR_SURYO - @SV_SURYO, @SV_SURYO = @CUR_SURYO
		    END
	    END

--	< 引当後　数量 >
	IF	@SV_HIKISU = @CUR_HIKISU OR @WK_HIKISU = 0
	    BEGIN										-- [ 累積分配数が分配前数量を超える又は、計算後分配数がゼロの場合 ]
		SELECT	@WK_HIKISU = 0
	    END
	ELSE
	    BEGIN
		IF	@SV_HIKISU + @WK_HIKISU <= @CUR_HIKISU
		    BEGIN									-- [ 分配前数量内で、分配数が出来た場合 ]
			SELECT	@SV_HIKISU  = @SV_HIKISU + @WK_HIKISU
		    END
		ELSE
		    BEGIN									-- [ 分配数　一部オーバー時 ]
			SELECT	@WK_HIKISU = @CUR_HIKISU - @SV_HIKISU, @SV_HIKISU = @CUR_HIKISU
		    END
	    END

	UPDATE	S発注内示ワーク SET
		数量 = @WK_SURYO,
		引当後数量 = @WK_HIKISU
		WHERE CURRENT OF PS_CURSOR

	FETCH NEXT FROM	PS_CURSOR 
			INTO @CUR_NYMD, @CUR_HINBN, @CUR_CHOKU, @CUR_SURYO, @CUR_HIKISU, @CUR_RITU, @CUR_RITUK, @CUR_RECNT


	IF	@SV_NYMD  <> @CUR_NYMD
	     OR @SV_HINBN <> @CUR_HINBN
	     OR @SV_CHOKU <> @CUR_CHOKU
	    BEGIN
		SELECT	@SV_NYMD = @CUR_NYMD, @SV_HINBN = @CUR_HINBN, @SV_CHOKU = @CUR_CHOKU, @SV_SURYO = 0, @SV_HIKISU = 0
	    END

    END

CLOSE		PS_CURSOR
DEALLOCATE	PS_CURSOR

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *						発　注　内　示　必　要　数　テ　ー　ブ　ル　出　力
 *
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
INSERT	INTO	S発注内示必要数テーブル	( 内示年月, 品番, 手配先, 受入, 直送先, 納期, 数量, ローレベル, 計画年月, 作成者, 作成日, 作成端末 )

	SELECT	@TG_NJYM 内示年月, 品番, 手配先, 受入, 直送先, 納期, 数量, @LVLCNT1 ローレベル,
		SUBSTRING( 納期, 1, 6 ) 計画年月,
		'CNJ0450', GETDATE(), SUBSTRING( HOST_NAME(), 1, 20 )
		FROM S発注内示ワーク
		WHERE 数量 <> 0
		AND   展開区分 <> 3		/* 展開区分 = 3 : のみ対象外 */

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *				発　注　内　示　ワ　ー　ク　内　ゼ　ロ　デ　ー　タ　削　除
 *
 *									注）以降、使用する数量項目は、「引当後数量」のみとなる
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
DELETE	S発注内示ワーク	WHERE 引当後数量 = 0

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *							係　数　１　・　２　・　３　の　反　映
 *
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
UPDATE	S発注内示ワーク	SET
	引当後数量 = CEILING( 引当後数量 * ( 1 + 係数1 + 係数2 + 係数3 ) )
	WHERE 係数1 <> 0 OR 係数2 <> 0 OR 係数3 <> 0

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *		カレンダワークの作成 ( 日程を変更する為に、手配先のカレンダなければ、自社カレンダ等の面倒な条件が予想される為、
 *									予め該当分のみのカレンダワークを作成し、結合又は、処理を簡素化する )
 *
 *::::::::::::::::::::::::::::::::::::::*
 *	自社カレンダ確認	 ( 発注 )	*
 *::::::::::::::::::::::::::::::::::::::* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
EXEC	社内カレンダチェック 1, @TG_NJYM_YKYK, -5

/*::::::::::::::::::::::::::::::*
 *	カレンダワーク削除	*
 *::::::::::::::::::::::::::::::*/
TRUNCATE TABLE	カレンダワーク

/*::::::::::::::::::::::::::::::*
 *	カレンダワーク作成	*
 *::::::::::::::::::::::::::::::*/
SELECT	@INT1 = 0, @INT2 = -5
WHILE	( @INT1 >= @INT2 )
    BEGIN

	SELECT	@STR1 = CONVERT( VARCHAR(6), DATEADD( M, @INT1, @TG_NJYM_YKYK + '01' ), 112 )

	INSERT	INTO カレンダワーク
		( 取引先, 受入, 年月, 末日, 稼働末日, 稼働区分, 昼勤区分, 夜勤区分 )
		SELECT	CK.手配先, CK.受入, @STR1,
			C1.末日, 0, '', C1.稼動区分, C1.夜勤区分
			FROM (SELECT 手配先, 受入
					FROM S発注内示ワーク
					WHERE 手配先 <> ''
					GROUP BY 手配先, 受入) CK
			INNER JOIN カレンダマスタ C1
			ON  C1.取引先区分 = 1
			AND C1.取引先 = CK.手配先
			AND C1.受入 = CK.受入
			AND C1.年 = SUBSTRING( @STR1, 1, 4 )
			AND C1.月 = SUBSTRING( @STR1, 5, 2 )
		UNION
		SELECT	CK.手配先, CK.受入, @STR1,
			C2.末日, 0, '', C2.稼動区分, C2.夜勤区分
			FROM (SELECT 手配先, 受入
					FROM S発注内示ワーク
					WHERE 手配先 <> ''
					GROUP BY 手配先, 受入) CK
			LEFT OUTER JOIN カレンダマスタ C1
			ON  C1.取引先区分 = 1
			AND C1.取引先 = CK.手配先
			AND C1.受入 = CK.受入
			AND C1.年 = SUBSTRING( @STR1, 1, 4 )
			AND C1.月 = SUBSTRING( @STR1, 5, 2 )
			INNER JOIN カレンダマスタ C2
			ON  C2.取引先区分 = 1
			AND C2.取引先 = CK.手配先
			AND C2.受入 = ''
			AND C2.年 = SUBSTRING( @STR1, 1, 4 )
			AND C2.月 = SUBSTRING( @STR1, 5, 2 )
			WHERE C1.取引先 IS NULL
		UNION
		SELECT	CK.手配先, CK.受入, @STR1,
			C3.末日, 0, '', C3.稼動区分, C3.夜勤区分
			FROM (SELECT 手配先, 受入
					FROM S発注内示ワーク
					WHERE 手配先 <> ''
					GROUP BY 手配先, 受入) CK
			LEFT OUTER JOIN カレンダマスタ C1
			ON  C1.取引先区分 = 1
			AND C1.取引先 = CK.手配先
			AND C1.受入 = CK.受入
			AND C1.年 = SUBSTRING( @STR1, 1, 4 )
			AND C1.月 = SUBSTRING( @STR1, 5, 2 )
			LEFT OUTER JOIN カレンダマスタ C2
			ON  C2.取引先区分 = 1
			AND C2.取引先 = CK.手配先
			AND C2.受入 = ''
			AND C2.年 = SUBSTRING( @STR1, 1, 4 )
			AND C2.月 = SUBSTRING( @STR1, 5, 2 )
			LEFT OUTER JOIN カレンダマスタ C3
			ON  C3.取引先区分 = 1
			AND C3.取引先 = ''
			AND C3.受入 = ''
			AND C3.年 = SUBSTRING( @STR1, 1, 4 )
			AND C3.月 = SUBSTRING( @STR1, 5, 2 )
			WHERE C1.取引先 IS NULL
			AND   C2.取引先 IS NULL
		UNION
		SELECT	'', '', @STR1,
			末日, 0, '', 稼動区分, 夜勤区分
			FROM カレンダマスタ
			WHERE 取引先区分 = 1
			AND   取引先 = ''
			AND   受入 = ''
			AND   年 = SUBSTRING( @STR1, 1, 4 )
			AND   月 = SUBSTRING( @STR1, 5, 2 )

	SELECT	@INT1 = @INT1 - 1
    END

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *	稼働区分(0:休み、1:半稼働、2:全稼働)、稼働末日(稼働日内の末日) 更新		*
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
UPDATE	カレンダワーク	SET
	稼働区分 = REPLACE(	REPLACE(	CAST(	CAST( REPLACE( REPLACE( 昼勤区分, '1', '2' ), '0', '1' ) AS DECIMAL(31) ) +
							CAST( REPLACE( REPLACE( 夜勤区分, '1', '2' ), '0', '1' ) AS DECIMAL(31) )
							AS VARCHAR(31) )
					, '4', '0' )
			, '3', '1' ),
	稼働末日 = CASE 
			WHEN SUBSTRING( 昼勤区分, 末日,      1 ) = 0 OR SUBSTRING( 夜勤区分, 末日,      1 ) = 0 THEN 末日
			WHEN SUBSTRING( 昼勤区分, 末日 -  1, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  1, 1 ) = 0 THEN 末日 -  1
			WHEN SUBSTRING( 昼勤区分, 末日 -  2, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  2, 1 ) = 0 THEN 末日 -  2
			WHEN SUBSTRING( 昼勤区分, 末日 -  3, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  3, 1 ) = 0 THEN 末日 -  3
			WHEN SUBSTRING( 昼勤区分, 末日 -  4, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  4, 1 ) = 0 THEN 末日 -  4
			WHEN SUBSTRING( 昼勤区分, 末日 -  5, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  5, 1 ) = 0 THEN 末日 -  5
			WHEN SUBSTRING( 昼勤区分, 末日 -  6, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  6, 1 ) = 0 THEN 末日 -  6
			WHEN SUBSTRING( 昼勤区分, 末日 -  7, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  7, 1 ) = 0 THEN 末日 -  7
			WHEN SUBSTRING( 昼勤区分, 末日 -  8, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  8, 1 ) = 0 THEN 末日 -  8
			WHEN SUBSTRING( 昼勤区分, 末日 -  9, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 -  9, 1 ) = 0 THEN 末日 -  9
			WHEN SUBSTRING( 昼勤区分, 末日 - 10, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 - 10, 1 ) = 0 THEN 末日 - 10
			WHEN SUBSTRING( 昼勤区分, 末日 - 11, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 - 11, 1 ) = 0 THEN 末日 - 11
			WHEN SUBSTRING( 昼勤区分, 末日 - 12, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 - 12, 1 ) = 0 THEN 末日 - 12
			WHEN SUBSTRING( 昼勤区分, 末日 - 13, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 - 13, 1 ) = 0 THEN 末日 - 13
			WHEN SUBSTRING( 昼勤区分, 末日 - 14, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 - 14, 1 ) = 0 THEN 末日 - 14
			WHEN SUBSTRING( 昼勤区分, 末日 - 15, 1 ) = 0 OR SUBSTRING( 夜勤区分, 末日 - 15, 1 ) = 0 THEN 末日 - 15
			ELSE 末日 - 16
		   END
--			( ↑ 通常末日より１５日間も確認しとけば、よっぽどよいかと･･･ ↑ )

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *						指　定　納　期　確　定　（　指　定　曜　日　・　指　定　日　反　映　）
 *
 *				注) 前倒し最大日数は９３日(３ヶ月)とし、それを超えるものは、３ヶ月前の１日(稼働・非稼働に関わらず)とする。
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *	指定曜日又は、指定日と納期にて、指定納期を更新	*
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
SELECT	@INT1 = 0, @INT2 = 1
WHILE	( @INT1 >= -93 AND @INT2 <> 0 )
    BEGIN
	UPDATE	S発注内示ワーク	SET
		指定納期 = CASE	WHEN SUBSTRING( CL.稼働区分, DAY( DATEADD( D, @INT1, SK.納期 ) ), 1 ) = 0
				THEN ''
				ELSE
				  CASE 	WHEN DATEPART( DW, DATEADD( D, @INT1, SK.納期 ) ) = 2 AND SK.WeeK1 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.納期 ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, SK.納期 ) ) = 3 AND SK.WeeK2 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.納期 ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, SK.納期 ) ) = 4 AND SK.WeeK3 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.納期 ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, SK.納期 ) ) = 5 AND SK.WeeK4 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.納期 ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, SK.納期 ) ) = 6 AND SK.WeeK5 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.納期 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.納期 ) ) = SK.Day1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.納期 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.納期 ) ) = SK.Day2 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.納期 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.納期 ) ) = SK.Day3 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.納期 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.納期 ) ) = SK.Day4 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.納期 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.納期 ) ) = SK.Day5 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.納期 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.納期 ) ) >= CL.稼働末日 AND SK.Day1 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.納期 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.納期 ) ) >= CL.稼働末日 AND SK.Day2 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.納期 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.納期 ) ) >= CL.稼働末日 AND SK.Day3 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.納期 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.納期 ) ) >= CL.稼働末日 AND SK.Day4 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.納期 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.納期 ) ) >= CL.稼働末日 AND SK.Day5 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.納期 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					WHEN WeeK1 + WeeK2 + WeeK3 + WeeK4 + WeeK5 + Day1  + Day2  + Day3  + Day4  + Day5 = 0 THEN 納期
					ELSE ''
				  END
			   END
		FROM	S発注内示ワーク SK, カレンダワーク CL
		WHERE	CL.取引先 = SK.手配先
		AND	CL.受入 = SK.受入
		AND	CL.年月 = CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.納期 ), 112 )
		AND	SK.指定納期 = ''
		AND	DATEADD( M, -3, SUBSTRING( SK.納期, 1, 6 ) + '01' ) <= DATEADD( D, @INT1, SK.納期 )

	SELECT	@INT2 = @@ROWCOUNT
	SELECT	@INT1 = @INT1 - 1
    END

IF	@INT2 = 0 OR @INT1 < -93
    BEGIN
	SELECT	@INT1 = 0
	SELECT	@INT1 = COUNT(*) FROM S発注内示ワーク
				 WHERE 指定納期 = ''
	IF	@INT1 <> 0
	    BEGIN
		SELECT	@RTN = 2

		UPDATE	S発注内示ワーク	SET
			指定納期 = CONVERT( VARCHAR(8), DATEADD( M, -3, SUBSTRING( 納期, 1, 6 ) + '01' ), 112 )
			WHERE	指定納期 = ''
	    END
    END

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *					発　注　内　示　仕　掛　ワ　ー　ク　作　成 [ 確定した納期(指定納期)での 集計 ]
 *													   
 *
 *::::::::::::::::::::::::::::::::::::::*
 *	 発注内示仕掛ワーク　削除		*
 *::::::::::::::::::::::::::::::::::::::* ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
TRUNCATE TABLE	S発注内示仕掛ワーク

/*::::::::::::::::::::::::::::::::::::::*
 *	 発注内示仕掛ワーク　作成		*
 *::::::::::::::::::::::::::::::::::::::*/
INSERT	INTO	S発注内示仕掛ワーク ( 品番, 手配先, 受入, 直送先, 納期, 仕掛日, 発注日, 数量, LT, ロット,
				    Week1, Week2, Week3, Week4, Week5, Day1, Day2, Day3, Day4, Day5, 展開区分, 稼動カウント, ロット端数, 処理番号 )
		
	SELECT	品番, 手配先, 受入, 直送先, 指定納期 納期, '' 仕掛日, '' 発注日,
		SUM( 引当後数量 ),
		MAX( LT ), MAX( ロット ),
		MAX( Week1 ), MAX( Week2 ), MAX( Week3 ), MAX( Week4 ), MAX( Week5 ),
		MAX( Day1 ),  MAX( Day2 ),  MAX( Day3 ),  MAX( Day4 ),  MAX( Day5 ),
		展開区分, 0, 0, 0
		FROM	S発注内示ワーク
		GROUP BY 品番, 手配先, 受入, 直送先, 指定納期, 展開区分

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *								ロ　ッ　ト　ま　る　め
 *
 *					対 象 年 月 以 降 の デ ー タ に 対 し て 「 ロットまるめ 」 を 行 う
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
SELECT	@STR2 = DATEADD( M, -3, @TG_NJYM + '01' )
SELECT	@INT1 = DATEDIFF( D, @STR2, @TG_NJYM + '01' )
		FROM	S発注内示仕掛ワーク
		WHERE	ロット > 0

WHILE	( @INT1 <= 186 )
    BEGIN
	SELECT	@STR1 = CONVERT( VARCHAR(8), DATEADD( D, @INT1, @STR2 ), 112 )

	UPDATE	S発注内示仕掛ワーク SET
		      数量 =                           CEILING( ( 数量 + PV.ロット端数 ) / CAST( ロット AS DECIMAL( 7,1 ) ) ) * ロット,
		ロット端数 = ( 数量 + PV.ロット端数 ) - CEILING( ( 数量 + PV.ロット端数 ) / CAST( ロット AS DECIMAL( 7,1 ) ) ) * ロット,
		処理番号   = @INT1
		FROM ( SELECT SK.品番, SK.手配先, SK.受入, SK.直送先, SK.ロット端数
				FROM S発注内示仕掛ワーク SK
				INNER JOIN ( SELECT 品番, 手配先, 受入, 直送先, MAX(処理番号) 処理番号
							FROM S発注内示仕掛ワーク
							WHERE ロット > 0
							AND   納期 <= @STR1 
							GROUP BY 品番, 手配先, 受入, 直送先 ) PV
				ON  PV.品番     = SK.品番
				AND PV.手配先   = SK.手配先
				AND PV.受入     = SK.受入
				AND PV.直送先   = SK.直送先
				AND PV.処理番号 = SK.処理番号
		      ) PV
		WHERE S発注内示仕掛ワーク.ロット > 0
		AND   S発注内示仕掛ワーク.納期   =  @STR1
		AND   S発注内示仕掛ワーク.品番   =  PV.品番
		AND   S発注内示仕掛ワーク.手配先 =  PV.手配先
		AND   S発注内示仕掛ワーク.受入   =  PV.受入
		AND   S発注内示仕掛ワーク.直送先 =  PV.直送先

	/*::::::::::::::::::::::*
	 *   ループ終了チェック	*
	 *::::::::::::::::::::::*/
	IF	EXISTS ( SELECT 処理番号 FROM S発注内示仕掛ワーク WHERE ロット > 0 AND 処理番号 = 0 )
	    BEGIN
		SELECT	@INT1 = @INT1 + 1
	    END
	ELSE
	    BEGIN
		SELECT	@INT1 = 200
	    END

    END

/*----------------------------------------------*
 *	ロットまるめ後数量ゼロデータ　削除		*
 *----------------------------------------------*/
DELETE	S発注内示仕掛ワーク WHERE 数量 = 0


/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *						仕　掛　日　の　決　定　（　リ　ー　ド　タ　イ　ム　分　の　前　倒　し　）
 *
 *				注) 前倒し最大日数は９３日(３ヶ月)とし、それを超えるものは、３ヶ月前の１日(稼働・非稼働に関わらず)とする。
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
SELECT	@INT1 = 0, @INT2 = 1
WHILE	( @INT1 >= -93 AND @INT2 <> 0 )
    BEGIN

	UPDATE	S発注内示仕掛ワーク SET
		仕掛日 = 	CASE	WHEN SUBSTRING( CL.稼働区分, DAY( DATEADD( D, @INT1, SK.納期 ) ), 1 ) > 0
					AND  LT <= 稼動カウント
					THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.納期 ), 112 )
					ELSE ''
				END,
		稼動カウント =	CASE	WHEN SUBSTRING( CL.稼働区分, DAY( DATEADD( D, @INT1, SK.納期 ) ), 1 ) = 0
					THEN 稼動カウント
					ELSE 稼動カウント + 1
				END
		FROM	S発注内示仕掛ワーク SK, カレンダワーク CL
		WHERE	CL.取引先 = SK.手配先
		AND	CL.受入 = SK.受入
		AND	CL.年月 = CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.納期 ), 112 )
		AND	SK.仕掛日 = ''
		AND	DATEADD( M, -3, SUBSTRING( SK.納期, 1, 6 ) + '01' ) <= DATEADD( D, @INT1, SK.納期 )

	SELECT	@INT2 = @@ROWCOUNT
	SELECT	@INT1 = @INT1 - 1
    END

IF	@INT2 = 0 OR @INT1 < -93
    BEGIN
	SELECT	@INT1 = 0
	SELECT	@INT1 = COUNT(*) FROM S発注内示仕掛ワーク
				 WHERE 仕掛日 = ''
	IF	@INT1 <> 0
	    BEGIN
		SELECT	@RTN = 3

		UPDATE	S発注内示仕掛ワーク	SET
			仕掛日 = CONVERT( VARCHAR(8), DATEADD( M, -3, SUBSTRING( 納期, 1, 6 ) + '01' ), 112 )
			WHERE	仕掛日 = ''
	    END
    END

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*
 *
 *
 *					仕　掛　日　を　指　定　曜　日　又　は、　指　定　日　で　前　倒　し　し　て、発　注　日　を　更　新
 *
 *				注) 前倒し最大日数は９３日(３ヶ月)とし、それを超えるものは、３ヶ月前の１日(稼働・非稼働に関わらず)とする。
 *
 *::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
SELECT	@INT1 = 0, @INT2 = 1
WHILE	( @INT1 >= -93 AND @INT2 <> 0 )
    BEGIN
	UPDATE	S発注内示仕掛ワーク SET
		発注日 = CASE	WHEN SUBSTRING( CL.稼働区分, DAY( DATEADD( D, @INT1, SK.仕掛日 ) ), 1 ) = 0
				THEN ''
				ELSE
				  CASE 	WHEN DATEPART( DW, DATEADD( D, @INT1, SK.仕掛日 ) ) = 2 AND SK.WeeK1 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, SK.仕掛日 ) ) = 3 AND SK.WeeK2 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, SK.仕掛日 ) ) = 4 AND SK.WeeK3 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, SK.仕掛日 ) ) = 5 AND SK.WeeK4 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
					WHEN DATEPART( DW, DATEADD( D, @INT1, SK.仕掛日 ) ) = 6 AND SK.WeeK5 = 1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) = SK.Day1 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) = SK.Day2 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) = SK.Day3 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) = SK.Day4 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )

					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) = SK.Day5 THEN CONVERT( VARCHAR(8), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) >= CL.稼働末日 AND SK.Day1 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.仕掛日 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) >= CL.稼働末日 AND SK.Day2 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.仕掛日 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) >= CL.稼働末日 AND SK.Day3 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.仕掛日 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) >= CL.稼働末日 AND SK.Day4 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.仕掛日 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					WHEN DATEPART( D,  DATEADD( D, @INT1, SK.仕掛日 ) ) >= CL.稼働末日 AND SK.Day5 >= 28 THEN CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.仕掛日 ), 112 ) + CAST( CL.稼働末日 AS VARCHAR(2) )
					ELSE ''
				  END
			  END
		FROM	S発注内示仕掛ワーク SK, カレンダワーク CL
		WHERE	CL.取引先 = SK.手配先
		AND	CL.受入 = SK.受入
		AND	CL.年月 = CONVERT( VARCHAR(6), DATEADD( D, @INT1, SK.仕掛日 ), 112 )
		AND	SK.発注日 = ''
		AND	SK.LT <> 0
		AND	WeeK1 + WeeK2 + WeeK3 + WeeK4 + WeeK5
		      + Day1  + Day2  + Day3  + Day4  + Day5  <> 0
		AND	DATEADD( M, -3, SUBSTRING( SK.仕掛日, 1, 6 ) + '01' ) <= DATEADD( D, @INT1, SK.仕掛日 )

	SELECT	@INT2 = @@ROWCOUNT
	SELECT	@INT1 = @INT1 - 1
    END

IF	@INT2 = 0 OR @INT1 < -93
    BEGIN
	SELECT	@INT1 = 0
	SELECT	@INT1 = COUNT(*) FROM S発注内示仕掛ワーク
				 WHERE  発注日 = ''
				 AND	LT <> 0
				 AND	WeeK1 + WeeK2 + WeeK3 + WeeK4 + WeeK5
				      + Day1  + Day2  + Day3  + Day4  + Day5  <> 0
	IF	@INT1 <> 0
	    BEGIN
		SELECT	@RTN = 4

		UPDATE	S発注内示仕掛ワーク	SET
			発注日 = CONVERT( VARCHAR(8), DATEADD( M, -3, SUBSTRING( 仕掛日, 1, 6 ) + '01' ), 112 )
			WHERE	発注日 = ''
			AND	LT <> 0
			AND	WeeK1 + WeeK2 + WeeK3 + WeeK4 + WeeK5
			      + Day1  + Day2  + Day3  + Day4  + Day5  <> 0
	    END
    END

SELECT	@OUTCNT = COUNT(*) FROM S発注内示仕掛ワーク WHERE 展開区分 <> 3


/*::::::::::::::::::::::*
 *	終 了 処 理	*
 *::::::::::::::::::::::*/
PROC_END:
	RETURN ( @RTN )





GO
