USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[売上単価未決作成]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE        PROCEDURE [dbo].[売上単価未決作成]
		(  @PROC	TINYINT,
		   @SYMD	VARCHAR(8),
		   @EYMD	VARCHAR(8),
		   @TORCD   	VARCHAR(7),
		   @ERR		TINYINT OUTPUT,
		   @ECNT	INT OUTPUT )

AS
---------------------------------------------------------------------------------------------------
--	売上単価未決作成
--
--	処理内容	検収テーブル又は出荷テーブルより単価未決データを作成する
--				
--			@PROC   :  処理区分   0/検収or出荷 ,1/単価未決(売上実績)
--	ﾊﾟﾗﾒﾀ		@SYMD   :  開始対象年月日
--			@EYMD   :  終了対象年月日
--		  	@TORCD  :  納入先
--
--	戻り値		@ERR     :      処理結果
--					0  :正常終了
--					≠0:異常終了
--			@ECNT    :      単価未決件数
--
--	Create Date	2005/06/10
--	UpDate Date	
---------------------------------------------------------------------------------------------------
SET NOCOUNT ON

--T 
-- DECLARE @YM	VARCHAR(6)
-- DECLARE @SYMD	VARCHAR(8)
-- DECLARE @EYMD	VARCHAR(8)
-- DECLARE @TORCD  VARCHAR(7)
-- DECLARE @ERR	TINYINT
-- 
-- DECLARE @ECNT	INT
-- 
-- SELECT @SYMD = '20040301'
-- SELECT @EYMD = '20050699'
-- SELECT @TORCD = ''
--T
------------------------
--	ワーク
------------------------
DECLARE @URIAGE		VARCHAR(1)
--- 単価決定　戻り値
DECLARE @TANK DECIMAL(10,2) ,@TKBN VARCHAR(1) , @TSYMD VARCHAR(8),@RNO INT

-- 初期値セット
SELECT @ERR = 0
SELECT @ECNT = 0

SELECT @TORCD = @TORCD + '%'

SELECT @URIAGE = ''
SELECT @URIAGE = Isnull(Substring(oyian,1,1),'') From Irnaksic
		Where bk = 'Option'
		    And rno = 50


-- 単価未登録一覧ワーク データ削除
DELETE 単価未登録一覧ワーク
	WHERE 処理端末 = Host_Name()
IF @@ERROR <> 0 BEGIN SELECT @ERR = 1 GOTO PROC_ERROR END	
-- /------------------------------------/
-- / 対象テーブルカーソル定義  		/
-- /------------------------------------/
IF @PROC = 0
   BEGIN
	IF @URIAGE <> '1'
	   BEGIN
		DECLARE KNCUR SCROLL CURSOR
		FOR 
			SELECT 品番,納入先,検収日,SUM(検収数)
				From 検収テーブル
			Where 検収日 Between @SYMD ANd @EYMD
			  And 納入先 Like @TORCD
			Group By 品番,納入先,検収日
		FOR READ ONLY 
	   END 
	ELSE
	   BEGIN
		DECLARE KNCUR SCROLL CURSOR
		FOR 
			SELECT KN.品番,KN.納入先,JS.出荷日,SUM(JS.出荷数)
				From 出荷テーブル JS
				LEFT OUTER JOIN 受注テーブル KN
				ON   KN.出荷指示書NO = JS.出荷指示書NO
				AND KN.出荷指示書行NO = JS.出荷指示書行NO
			Where JS.出荷日 Between @SYMD ANd @EYMD
			  And Isnull(KN.納入先,'') Like @TORCD
			Group By KN.品番,KN.納入先,JS.出荷日
		FOR READ ONLY 
	   END
   END
ELSE
   BEGIN
	IF @URIAGE <> '1'
	   BEGIN
		DECLARE KNCUR SCROLL CURSOR
		FOR 
			SELECT KN.品番,KN.納入先,KN.検収日,SUM(KN.検収数)
			  From 売上単価未決ワーク TW
			   Left Outer Join 検収テーブル KN
			    ON KN.検収管理NO = TW.検収管理NO
			    AND KN.検収管理行NO = TW.検収管理行NO
			Where ISNULL(KN.品番,'') <> '' 
			  And Isnull(KN.納入先,'') Like @TORCD
			Group By KN.品番,KN.納入先,KN.検収日
		FOR READ ONLY 
	   END
	ELSE
	   BEGIN
		DECLARE KNCUR SCROLL CURSOR
		FOR 
			SELECT KN.品番,KN.納入先,JS.出荷日,SUM(JS.出荷数)
			  From 売上単価未決ワーク TW
			   Left Outer Join 受注テーブル KN
			    ON KN.出荷指示書NO = TW.検収管理NO
			    AND KN.出荷指示書行NO = TW.検収管理行NO
			   Left Outer Join 出荷テーブル JS
			    ON JS.出荷指示書NO = TW.検収管理NO
			    AND JS.出荷指示書行NO = TW.検収管理行NO
			Where ISNULL(KN.品番,'') <> '' 
			  And Isnull(KN.納入先,'') Like @TORCD
			Group By KN.品番,KN.納入先,JS.出荷日
		FOR READ ONLY 
	   END
   END 
OPEN KNCUR

-- ｶｰｿﾙ項目定義 --
DECLARE @KN_HINBN VARCHAR(25),@KN_TORCD VARCHAR(7),@KN_KYMD VARCHAR(8),@KN_SU INT

------------------------------------------------------------------------------------
-- 対象テーブル  読込 							          
------------------------------------------------------------------------------------
FETCH NEXT FROM KNCUR INTO 
			@KN_HINBN ,@KN_TORCD ,@KN_KYMD,@KN_SU
WHILE @@FETCH_STATUS = 0
BEGIN
-- ----------------------------------------------------
--   単価チェック
-- ----------------------------------------------------
	EXEC 受注単価決定 @KN_HINBN,@KN_TORCD,@KN_KYMD,
				 @TANK OUTPUT,@TKBN OUTPUT,@TSYMD OUTPUT,@RNO OUTPUT
	IF @TKBN = '9' 
	   BEGIN
-- ----------------------------------------------------
--   売上単価未決ワーク 作成
-- ----------------------------------------------------
		INSERT INTO 単価未登録一覧ワーク 
			( 処理端末, 取引先, 品番 ,日付 , 数量 ,作成日)
	 		VALUES
			(Host_Name(), @KN_TORCD,@KN_HINBN,@KN_KYMD,@KN_SU,Getdate() )
	 	IF @@ERROR <> 0 BEGIN SELECT @ERR = 13 GOTO PROC_ERROR END 
		SELECT @ECNT = @ECNT + 1
	   END
-- ----------------------------------------------------
--   対象テーブルカーソルスクロール(次レコード）  	
-- ----------------------------------------------------
	FETCH NEXT FROM KNCUR INTO 
			@KN_HINBN ,@KN_TORCD ,@KN_KYMD,@KN_SU
END

CLOSE KNCUR
DEALLOCATE KNCUR

------------------------------
--         終 了　
------------------------------
END_PROC:
--	SELECT @ECNT	--T 

RETURN(0)

------------------------------
--    エラー処理
------------------------------
PROC_ERROR:
--T
-- IF @ERR <> 0 
--    BEGIN
-- 	SELECT 'ERR=' + CONVERT(CHAR(2),@ERR)
--   END
--T END

RETURN(@ERR)



GO
