USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[eかんばん受注出荷更新]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     PROCEDURE [dbo].[eかんばん受注出荷更新] (
				@PROCTYPE TINYINT,
				@PROCYMD VARCHAR(8),
				@PROCRNO INT,
				@RIREKI INT,
				@RTCD TINYINT OUTPUT
) AS

-- ------------------------------------------------------------------------------------------------------
-- 
-- 	eかんばん 受注出荷更新処 理
-- 
-- 
-- 		パラメータ：	@PROCTYPE	-	処理区分(0:受注,1:出荷)
-- 			  ：	@PROCYMD	-	処理日
-- 			  ：	@PROCRNO	-	処理日内連番
-- 			  ：	@RIREKI		-	履歴管理番号
-- 
--		Return	   :  	@RTCD	 	･･･	ｴﾗｰｺｰﾄﾞ
--										
-- 
--*----------------------------------------------------------------------------------------*--
-- 		    UP	DATE	:	2006.03.09	品番取引先Ｍ項目変更に伴う修正
-- 		    UP	DATE	:	2006/03/28      誤品照合区分(初期値変更:対象)
-- 		    UP	DATE	:       2006/06/14	出荷データ行連番対応 [ eかんばん変換テーブル：行連番 項目追加 ]
--							(便内分割で行連番のみが違う実績が２つのテキストに
--									分かれるとダブリとなってしまう為、変更)
-- 		    UP	DATE	:	2006/07/27	出荷/分納分処理追加
--							　・１回前の出荷データ作成(全未納)
--							　・受注データ作成(該当分納分の受注データ)
--*----------------------------------------------------------------------------------------*--
-- 
-- 		作 成 日	:       2008/07/18
-- 		変 更 日	:		2009/07/07   千代田Verにｺﾝﾊﾞｰﾄ
-- 
-- ------------------------------------------------------------------------------------------------------
SET NOCOUNT ON
-- TEST
-- DECLARE @PROCTYPE TINYINT
-- DECLARE @PROCYMD VARCHAR(8)
-- DECLARE @PROCRNO INT
-- DECLARE @RIREKI  int
-- DECLARE @RTCD TINYINT
-- 
-- SELECT @PROCTYPE = 1
-- SELECT @PROCYMD = '20080722'
-- SELECT @PROCRNO = 1
-- SELECT @RIREKI = 33174
-- TEST END


DECLARE @TX_CNT		INT		-- 入力件数	
DECLARE @TX_OTCNT 	INT		-- 変換件数
DECLARE @TX_KRCNT 	INT		-- 空件数
DECLARE @TX_DBLCNT 	INT		-- 重複件数
DECLARE @TX_SYUCNT 	INT		-- 収容数エラー件数
DECLARE @TX_SEBCNT 	INT		-- 背番号エラー件数

-- 仮登録フラグ
DECLARE @KARI_TOR_FLG 	TINYINT	-- 取引先マスタ
DECLARE @KARI_UKE_FLG 	TINYINT	-- 取引先受入マスタ　
DECLARE @KARI_HIN_FLG 	TINYINT	-- 品番マスタ
DECLARE @KARI_HINT_FLG 	TINYINT	-- 品番取引先マスタ
-- 仮登録件数
DECLARE @KARI_TOR 	INT		-- 取引先マスタ
DECLARE @KARI_UKE 	INT		-- 取引先受入マスタ
DECLARE @KARI_HIN 		INT		-- 品番マスタ
DECLARE @KARI_HINT 	INT		-- 品番取引先マスタ
-- マスタ入力確認情報（仮登録確認)
DECLARE @READ_TR		VARCHAR(7)	-- 取引先マスタ(取引先CD)
DECLARE @READ_TU		VARCHAR(7)	-- 取引先受入マスタ(取引先CD)
DECLARE @READ_HN		VARCHAR(25)	-- 品番マスタ(品番)
DECLARE @READ_HT		VARCHAR(25)	-- 品番取引先マスタ(品番)	
-- 取引先情報
DECLARE @TR_DENSYU	VARCHAR(1)	-- 伝票種類
DECLARE @TR_NOUKB	VARCHAR(1)	-- 納品書形態
DECLARE @TR_JYUKB	VARCHAR(1)	-- 受領書形態
DECLARE @TR_JYUHB	TINYINT	-- 受領書発行
-- 受入情報
DECLARE @TU_CYCLE		VARCHAR(5)	-- サイクル
-- 品番取引先情報
DECLARE @HT_SEBAN	VARCHAR(5)	-- 背番号
DECLARE @HT_SYUYO1	INT		-- 収容数1
DECLARE @HT_SYUYO2	INT		-- 収容数2
DECLARE @HT_HYMD		VARCHAR(8)	-- 変更日
DECLARE @HT_HBIN		VARCHAR(2)	-- 変更便
-- 分納管理
DECLARE @BN_BSU		INT		-- 分納数
DECLARE @BN_KB		TINYINT	-- 分納区分

-- エラー管理
DECLARE @ERR_SEBAN	TINYINT	-- 背番号エラー
DECLARE @ERR_SYUYO      	TINYINT	-- 収容数エラー

DECLARE @ERR 		TINYINT

--
DECLARE @READ_JY		TINYINT	-- 受注重複チェック
DECLARE @KARAPRINT	TINYINT	-- 空出荷指示書発行フラグ (0:発行あり,1:発行なし)

-- < 2006/07/27 ADD >
--
--<< 分納分データのみで使用 >>
--<< 分納データ前回用 >>
DECLARE	@BUNKAI		TINYINT		-- 分納回数	(納入番号 下１桁)
DECLARE	@ZNOUNO		VARCHAR(5)		-- 納入番号	(１回前)
DECLARE	@ZSK_SU		INT			-- 出荷数	(１回前)
DECLARE	@ZJYNO		INT			-- 受注管理№	(１回前)
DECLARE	@ZJYGYO		TINYINT		-- 受注管理行№	(１回前)
DECLARE	@ZSJNO		INT			-- 出荷指示書№	(１回前)
DECLARE	@ZSJGYO		TINYINT		-- 出荷指示書行№(１回前)
DECLARE	@ZNYMD		VARCHAR(8)		-- 納入日	(１回前)
DECLARE	@ZNBIN		VARCHAR(2)		-- 納入便	(１回前)
--<< 分納データ今回用 >>
DECLARE	@BJYNO		INT			-- 受注管理№	(今回)
DECLARE	@BJYGYO		TINYINT		-- 受注管理行№	(今回)
DECLARE	@BSJNO		INT			-- 出荷指示書№	(今回)
DECLARE	@BSJGYO		TINYINT		-- 出荷指示書行№(今回)
DECLARE	@BNOUSU		INT			-- 納入数	(今回)
-- < 2006/07/27 ADD END >

-------------------------------------------
---	初期処理（ワークエリア初期化)
-------------------------------------------
SELECT @TX_CNT = 0
SELECT @TX_OTCNT = 0
SELECT @TX_KRCNT = 0
SELECT @TX_DBLCNT = 0
SELECT @KARI_TOR = 0	
SELECT @KARI_UKE = 0
SELECT @KARI_HIN = 0
SELECT @KARI_HINT= 0
SELECT @TX_SYUCNT = 0
SELECT @TX_SEBCNT = 0
-- < 2006/07/27 ADD >
SELECT	@BJYNO = 0, @BJYGYO = 0
-- < 2006/07/27 ADD END >

-----------------------------------------
--<<　 トランザクション開始         >>--
-----------------------------------------
BEGIN TRANSACTION TOPPSCRT

SELECT @ERR = 0 
SELECT @KARAPRINT = 0

IF @PROCTYPE = 0
   BEGIN
	--------------------------------------
	---	受注入力ワーク削除
	--------------------------------------
	DELETE 受注入力ワーク Where 端末番号 = Host_Name()
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 10 GOTO PROC_ERROR END
/*
	--------------------------------------
	---	指示書空ワーク
	--------------------------------------
	DELETE 指示書空ワーク Where 端末番号 = Host_Name()
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 11 GOTO PROC_ERROR END

	-- 空出荷指示書発行確認
	SELECT @KARAPRINT = CONVERT(TINYINT,SUBSTRING(oyian,1,1)) FROM irnaksic
				WHERE bk = 'Option'
				    AND rno = 52
*/
   END
	
--------------------------------------
---	eかんばん変換テーブルカーソル
--------------------------------------
DECLARE TXCUR SCROLL CURSOR
FOR
	SELECT 	受注管理番号,受注管理行番号,
		ファイル名,納入先,受入,納入番号,
		納入日,納入便,品番,便内分割区分,
		背番号,収容数,
		受注日,受注便,
		かんばん枚数,納入数,
		打切端数,打切区分,打切残数,
		納入先名,品名,
		ERR受注,ERR重複,出荷指示書NO,出荷指示書行NO,出荷数
		, 行連番			-- < 2006/06/14 ADD >
		, 挽回日, 挽回便		-- < 2006/07/27 ADD >
		, 納入先事業体, 納入先事業体工区,仕入先事業体,出荷場		-- < 2008/07/18 ADD >
		From eかんばん変換テーブル
		Where 処理日   = @PROCYMD
		  And 処理回数  = @PROCRNO
		  And 処理区分 = @PROCTYPE
		Order By 受注管理番号,受注管理行番号
FOR READ ONLY
OPEN TXCUR

DECLARE @TX_KNO INT,@TX_KGNO TINYINT
DECLARE @TX_FILENAME VARCHAR(50),@TX_NTORCD VARCHAR(5),@TX_UKEIR VARCHAR(2),@TX_NOUNO VARCHAR(5)
DECLARE @TX_NYMD VARCHAR(8),@TX_NBIN VARCHAR(2),@TX_HINBN VARCHAR(12),@TX_BINKB VARCHAR(1)

DECLARE @TX_SEBAN VARCHAR(3),@TX_SYUYO INT
DECLARE @TX_JYMD VARCHAR(8),@TX_JBIN VARCHAR(8)
DECLARE @TX_KMAI INT,@TX_NSU INT,@TX_HASU INT,@TX_UKB  TINYINT,@TX_UZAN INT

DECLARE @TX_NTORNM VARCHAR(12),@TX_HINNM VARCHAR(15)

DECLARE @TX_ERRJY TINYINT,@TX_ERRDBL TINYINT,@TX_SJNO INT,@TX_SJGYO TINYINT,@TX_SSU INT
DECLARE @TX_NOGYO	SMALLINT			-- < 2006/06/14 ADD >
DECLARE @TX_BYMD VARCHAR(8), @TX_BBIN VARCHAR(2)	-- < 2006/07/27 ADD >
DECLARE @TX_NJIGYO VARCHAR(2), @TX_NJIGYOKJ VARCHAR(1),@TX_SJIGYO VARCHAR(2), @TX_SYUKABA VARCHAR(3)	-- < 2008/07/18 ADD >

--* 2009/07/07 Start
DECLARE @HX_NTORCD	VARCHAR(07)
DECLARE @HX_UKEIR   VARCHAR(02)
DECLARE @HX_HINBN   VARCHAR(14)
--* 2009/07/07 End

--  eかんばん変換テーブル
FETCH NEXT FROM TXCUR INTO 
		@TX_KNO	     ,@TX_KGNO,	
		@TX_FILENAME ,@TX_NTORCD ,@TX_UKEIR ,@TX_NOUNO ,
		@TX_NYMD     ,@TX_NBIN   ,@TX_HINBN ,@TX_BINKB ,
		@TX_SEBAN    ,@TX_SYUYO  ,
		@TX_JYMD     ,@TX_JBIN   ,
		@TX_KMAI     ,@TX_NSU    ,@TX_HASU  ,@TX_UKB   ,@TX_UZAN,
		@TX_NTORNM   ,@TX_HINNM  ,
		@TX_ERRJY    ,@TX_ERRDBL ,@TX_SJNO  ,@TX_SJGYO ,@TX_SSU
	      , @TX_NOGYO		-- < 2006/06/14 ADD >
	      ,	@TX_BYMD     ,@TX_BBIN	-- < 2006/07/27 ADD >
	      ,	@TX_NJIGYO     ,@TX_NJIGYOKJ ,	@TX_SJIGYO     ,@TX_SYUKABA  			-- < 2008/07/18 ADD >
WHILE @@FETCH_STATUS = 0
    BEGIN
		
	SELECT @TX_CNT = @TX_CNT + 1 

	---------------------------------------------------------------
	---
	---		仮　登　録　処　理
	---
	---------------------------------------------------------------

	SELECT @KARI_TOR_FLG  = 0
	SELECT @KARI_UKE_FLG = 0
	SELECT @KARI_HIN_FLG  = 0
	SELECT @KARI_HINT_FLG = 0

	SELECT @READ_TR	= Null
	SELECT @READ_TU	= Null
	SELECT @READ_HN	= Null
	SELECT @READ_HT	= Null

	--* 2009/07/07 Start
	SELECT @HX_NTORCD = @TX_NTORCD
	SELECT @HX_UKEIR = @TX_UKEIR	
	--品番千代田Ver	
	SELECT @HX_HINBN = Case When Substring(@TX_HINBN,11,2) = '' THEN 
						  Substring(@TX_HINBN,1,5) + '-' + Substring(@TX_HINBN,6,5)
	  						 Else Substring(@TX_HINBN,1,5) + '-' + Substring(@TX_HINBN,6,5)+ '-' + Substring(@TX_HINBN,11,2) End

	--* 2009/07/07 End

	---  取引先マスタ確認
	Select @READ_TR = 取引先CD,@TR_DENSYU = 伝票種類,
			@TR_NOUKB = 納品書形態,@TR_JYUKB = 受領書形態,@TR_JYUHB = 受領書発行
			from 取引先マスタ
			Where 取引先CD   = @TX_NTORCD
			  And 取引先区分 = 0
	
	--* 2009/07/07 Start	受注取引先CD変換マスタを参照し､変換先取引先CDを取得
	IF @READ_TR IS NULL 
	   BEGIN
		SELECT @READ_TR = Null
		---  取引先マスタ確認
--		SELECT @READ_TR = MIN(変換先CD)
--				from 受注取引先CD変換マスタ
--				Where 変換元CD = @TX_NTORCD

		SELECT @READ_TR = MIN(変換先CD)
				FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HT 
					WHERE JH.変換元CD   = @TX_NTORCD
					  AND JH.変換元受入 = @TX_UKEIR
					  AND HT.取引先 = JH.変換先CD
					  AND HT.受入 = JH.変換先受入
					  AND REPLACE(HT.品番,'-','') = @TX_HINBN
		IF @READ_TR IS NULL
		   BEGIN
			SELECT @READ_TR = MIN(変換先CD)
					FROM 受注取引先CD変換マスタ JH,品番取引先マスタ HT 
						WHERE JH.変換元CD   = @TX_NTORCD
						  AND HT.取引先 = JH.変換先CD
						  AND REPLACE(HT.品番,'-','') = @TX_HINBN
		   END

		IF ISNULL(@READ_TR,'') <> '' 
		   BEGIN
			SELECT @TR_DENSYU = 伝票種類,
					@TR_NOUKB = 納品書形態,@TR_JYUKB = 受領書形態,@TR_JYUHB = 受領書発行
					from 取引先マスタ
					Where 取引先CD   = @READ_TR
					  And 取引先区分 = 0

			SELECT @HX_NTORCD = @READ_TR

		   END 
		ELSE
		   BEGIN
			SELECT @READ_TR = NULL	
		   END
	   END	
	--* 2009/07/07 End

	IF @READ_TR IS NULL
	   BEGIN
		SELECT @KARI_TOR = @KARI_TOR + 1
		SELECT @KARI_TOR_FLG = 1
		
		SELECT @TR_DENSYU = ''	-- 伝票種類('':伝票なし、1:自社伝票)
		SELECT @TR_NOUKB  = ''	-- 納品書形態('':発行なし、1:発行する,2:ﾌｧｲﾙ出力)
		SELECT @TR_JYUKB  = ''	-- 受領書形態('':発行なし、1:発行する,2:ﾌｧｲﾙ出力)
		SELECT @TR_JYUHB  = 0	-- 受領書発行(0:受注時、1:出荷時)
		
		INSERT INTO 取引先マスタ(
				取引先CD,取引先区分,取引先,工場CD,
				社内区分,契約先区分,正式名称,略称,工場名,索引カナ,
				下請法対象,被自社,被自社工場,被自社CD,契約先,計算方法,計算単位,締日,
				平準化区分,平準化係数,伝票種類,納品書形態,受領書形態,受領書発行,発注内示,
				明細書発行,前倒日数,郵便番号,代表TEL,代表FAX,住所1,住所2,部署名1,
				部署名2,役職名,担当者,TEL1,TEL2,FAX,EMAIL,銀行,銀行名,支店,支店名,口座番号,預金区分,
				名義人,作成日, 作成者,作成端末,
				FAX取引先1,FAX取引先2,FAX取引先3,MAIL取引先1,MAIL取引先2,MAIL取引先3,
				開始発注日,MSGTYPE,
				納品書発行区分,支給書発行区分,受領書発行区分,号補区分,前工程区分,計算位1,計算位2,	-- 2009/07/06
				納入先事業体,納入先事業体工区,仕入先事業体,出荷場)									-- 2009/07/06
			Values (@TX_NTORCD,0,SUBSTRING(@TX_NTORCD,1,4),SUBSTRING(@TX_NTORCD,5,1),
				0,1,@TX_NTORNM,@TX_NTORNM,'','',
				0,'','','','',0,0,0,
				0,0,@TR_DENSYU,@TR_NOUKB,@TR_JYUKB,@TR_JYUHB,0,
				'',0,'','','','','','',
				'','','','','','','','','','','','','',
				'',Getdate(),'',Substring(Host_Name(),1,20),
				'','','','','','',
				'','',
				0,0,0,'',0,0,0,											-- 2009/07/06
				@TX_NJIGYO,@TX_NJIGYOKJ ,@TX_SJIGYO,@TX_SYUKABA)		-- 2009/07/06
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 21 GOTO PROC_ERROR END
					
	   END	
	---  取引先受入マスタ確認
	Select @READ_TU = 取引先CD,@TU_CYCLE = サイクル
			 from 取引先受入マスタ
			Where 取引先CD   = @HX_NTORCD
			  And 取引先区分 = 0 
			  And 受入 	 = @TX_UKEIR 

	--* 2009/07/07 Start
	IF @READ_TU IS NULL 
	   BEGIN
		SELECT @READ_TU = Null
		---  変換マスタ確認
		SELECT @READ_TU = MIN(変換先受入)
				from 受注取引先CD変換マスタ
				WHERE 変換元CD = @HX_NTORCD
				AND   変換元受入 = @TX_UKEIR
		IF ISNULL(@READ_TU,'') <> '' 
		   BEGIN
			SELECT @TU_CYCLE = サイクル
					 FROM 取引先受入マスタ
					Where 取引先CD   = @HX_NTORCD
					  And 取引先区分 = 0 
					  And 受入 	 = @READ_TU

			SELECT @HX_UKEIR = @READ_TU

		   END 
		ELSE
		   BEGIN
			SELECT @READ_TU = NULL	
		   END
		
	   END
	--* 2009/07/07 End

	IF @READ_TU IS NULL
	   BEGIN
		SELECT @KARI_UKE = @KARI_UKE + 1
		SELECT @KARI_UKE_FLG = 1

		SELECT @TU_CYCLE = ''
		INSERT INTO 取引先受入マスタ(
			取引先CD,取引先区分,受入,
			受入名称,サイクル,空明細,曜日発注,曜日1,曜日2,曜日3,曜日4,曜日5 )
		   Values (
			@TX_NTORCD,0,@TX_UKEIR,
			'',@TU_CYCLE,'',0,0,0,0,0,0 )
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 22 GOTO PROC_ERROR END

	   END
	---  品番マスタ確認
	SELECT @ERR_SEBAN = 0
	SELECT @ERR_SYUYO = 0

	IF @TX_HINBN <> ''
	   BEGIN
		Select @READ_HN = 品番 from 品番マスタ
--				Where 品番   = @TX_HINBN				2009/07/07
				Where REPLACE(品番,'-','')   = @TX_HINBN
 
		IF @READ_HN IS NULL
		   BEGIN
			SELECT @KARI_HIN = @KARI_HIN + 1
			SELECT @KARI_HIN_FLG = 1
	
			INSERT INTO 品番マスタ(
				品番,社内背番,車型,品名,
				品番編集,表示品番,基本収容器,基本収容数,
				在庫管理区分,在庫管理数値,在庫係数,在庫日数,在庫発注点,
				工程,次工程,担当,型NO,型所在地,[IMAGE],実数区分,
				ABC,品番区分,仮区分,
				作成日,作成者,作成端末,設定数,部品区分 )
			   Values (
--				@TX_HINBN,		2009/07/07 千代田Ver
				@HX_HINBN,

				'','',@TX_HINNM,
--				'5-5-2',Case When Substring(@TX_HINBN,11,2) = '' THEN			2009/07/07
--						  Substring(@TX_HINBN,1,5) + '-' + Substring(@TX_HINBN,6,5)
--	  				     Else Substring(@TX_HINBN,1,5) + '-' + Substring(@TX_HINBN,6,5)+ '-' + Substring(@TX_HINBN,11,2) End,'',0,
				'',@HX_HINBN,'',0,
				0,0,0,0,0,
				'','','','','','',0,
				'','',1,
				Getdate(),'',Substring(Host_Name(),1,20),0,0 )
			IF @@ERROR <> 0 BEGIN SELECT @ERR = 23 GOTO PROC_ERROR END

		   END
	---  品番取引先マスタ確認
		Select @READ_HT = 品番,@HT_SEBAN = 背番号,
			@HT_SYUYO1 = 収容数1,@HT_SYUYO2 = 収容数2,
			@HT_HYMD = 変更日,@HT_HBIN = 変更便
				 from 品番取引先マスタ
--				Where 品番   = @TX_HINBN			2009/07/07
				Where REPLACE(品番,'-','')  = @TX_HINBN 
				  And 取引先 = @HX_NTORCD 
				  And 受入   = @HX_UKEIR

		IF @READ_HT IS NULL
		   BEGIN
			SELECT @KARI_HINT = @KARI_HINT + 1
			SELECT @KARI_HINT_FLG = 1

-- =====     =====     =====     =====     =====     =====     =====     =====     =====     < 2006/03/09 MNT START >
-- =====     削除項目：サイクル変更日,サイクル変更便,変更後サイクル
-- =====     追加項目：工場集荷順路
			INSERT 品番取引先マスタ(
				品番,取引先,受入,
				アドレス,品目,背番号,SK区分,か係数,手配区分,
				納入先, 納入先受入,契約先,サイクル,収容数1,収容器1,変更日,変更便,収容数2,収容器2,
				置場,最終発行連番,伝票種類,納品書形態,受領書形態,受領書発行,明細書発行,
				平準化区分,平準化係数,係数1,係数2,係数3,LT,ロット1,ロット2,
				Week1,Week2,Week3,Week4,Week5,
				Day1,Day2,Day3,Day4,Day5,
				内示発注,発注比率,有効期限開始,有効期限終了,基準工数,PNO,備考,
				作成日,作成者,作成端末,
				色パターン,納品書発行区分,支給書発行区分,受領書発行区分,
				代行区分,代行契約先,自社工区,号補区分,前工程区分,直送伝票発行区分,
				 出荷場 )										--2008/07/18追加
			   Values (
--				@TX_HINBN,@TX_NTORCD,@TX_UKEIR,
				@HX_HINBN,@HX_NTORCD,@HX_UKEIR,

				'',0,@TX_SEBAN,0,0,'',
				'','',@TX_NTORCD,'',@TX_SYUYO,'','','',0,'',
				'',0,@TR_DENSYU,@TR_NOUKB,@TR_JYUKB,@TR_JYUHB,'',
				0,0,0,0,0,0,0,0,
				0,0,0,0,0,
				0,0,0,0,0,
				0,0,'','',0,0,'',
				Getdate(),'',Substring(Host_Name(),1,20),
				0,0,0,0,
				0,'','','',0,0,
				 @TX_SYUKABA)
-- =====     =====     =====     =====     =====     =====     =====     =====     =====     < 2006/03/09 MNT  END  >

			IF @@ERROR <> 0 BEGIN SELECT @ERR = 24 GOTO PROC_ERROR END

		   END
		ELSE
		   BEGIN
			-------- 背番号ﾁｪｯｸ
			IF ISNULL(RTRIM(@HT_SEBAN),'') <> RTRIM(@TX_SEBAN)
			   BEGIN
				SELECT @ERR_SEBAN = 1
				SELECT @TX_SEBCNT = @TX_SEBCNT + 1
			   END
			-------- 収容数チェック
			IF @HT_HYMD = '' 
			   BEGIN
				IF @TX_SYUYO <> @HT_SYUYO1 
				      BEGIN
					SELECT @ERR_SYUYO = 1
					SELECT @TX_SYUCNT = @TX_SYUCNT + 1
				      END  
			   END
			ELSE
			   BEGIN
				IF @TX_NYMD + @TX_NBIN < @HT_HYMD + @HT_HBIN
				   BEGIN
				      	IF @TX_SYUYO <> @HT_SYUYO1 
				         	   BEGIN
						SELECT @ERR_SYUYO = 1
						SELECT @TX_SYUCNT = @TX_SYUCNT + 1
				             END
				   END	
			          ELSE
			             BEGIN
					IF @TX_SYUYO <> @HT_SYUYO2 
					   BEGIN
						SELECT @ERR_SYUYO = 1
						SELECT @TX_SYUCNT = @TX_SYUCNT + 1
				             END	
				   END
			   END
		   END
	   END



-------------------------------------------------------------------------
--------------------------------
--------------------------------	受注・出荷処理　分岐
--------------------------------
-------------------------------------------------------------------------
	IF @PROCTYPE <> 0 BEGIN GOTO PROC_SYUKA END

----------------------------------------------------------------------
--/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_
--/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_
--/_/_/
--/_/_/			 ★★	受 注 処 理    ★★
--/_/_/	
--/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_
--/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_
----------------------------------------------------------------------
	
--	------------------------------------
--	 ≪ 受注入力ワーク 重複チェック ≫ 
--	------------------------------------
	SELECT @READ_JY = 0
	IF ( SELECT Count(品番)
			From 受注入力ワーク
		  Where 端末番号  = Host_Name()
--		    And 納入先	= @TX_NTORCD				2009/07/07
--		    And	受入	     	= @TX_UKEIR
		    And 納入先	= @HX_NTORCD
		    And	受入	     	= @HX_UKEIR

		    And	納入番号     	= @TX_NOUNO
		    And	納品書行     	= @TX_NOGYO		--< 2006/06/14 ADD >
		    And 納入日	= @TX_NYMD	
		    And 納入便	= @TX_NBIN
--		    And 品番	     	= @TX_HINBN			2009/07/07
		    And REPLACE(品番,'-','')	     	= @TX_HINBN	
		    And ISNULL(便内分割区分,'') = @TX_BINKB ) <> 0
	   BEGIN
		SELECT @READ_JY = 1
	   END
--	------------------------------------
--	 ≪ 受注テーブル 重複チェック ≫ 
--	------------------------------------
	IF @READ_JY = 0
	   BEGIN
		IF ( SELECT Count(品番)
				From 受注テーブル
--			  Where 納入先	     = @TX_NTORCD			2009/07/07
--			    And	受入	     = @TX_UKEIR
			  Where 納入先	     = @HX_NTORCD		
			    And	受入	     = @HX_UKEIR

			    And	納入番号     = @TX_NOUNO	
			    And	納品書行     = @TX_NOGYO		--< 2006/06/14 ADD >
			    And 納入日	     = @TX_NYMD	
			    And 納入便	     = @TX_NBIN
--			    And 品番	     = @TX_HINBN			2009/07/07
			    And REPLACE(品番,'-','')	     = @TX_HINBN	
			    And ISNULL(便内分割区分,'') = @TX_BINKB ) <> 0 
		   BEGIN
			SELECT @READ_JY = 2
		   END
	   END

	IF @READ_JY <> 0
	   BEGIN
		SELECT @TX_DBLCNT = @TX_DBLCNT + 1
	   END

	IF @READ_JY	 <> 0 or
	   @ERR_SEBAN <> 0 or
	   @ERR_SYUYO <> 0 or
	   @KARI_TOR_FLG <> 0 or
	   @KARI_UKE_FLG <> 0 or
	   @KARI_HIN_FLG <> 0 or

	   @KARI_HINT_FLG <> 0
	   BEGIN
		Update eかんばん変換テーブル Set
			ERR重複 = @READ_JY,
			ERR背番号 = @ERR_SEBAN,
			ERR収容数 = @ERR_SYUYO,
			取引先仮 = @KARI_TOR_FLG,
			受入仮    = @KARI_UKE_FLG,
			品番仮    = @KARI_HIN_FLG,
			品取仮	   = @KARI_HINT_FLG
	  	  Where 処理日     = @PROCYMD
		    And 処理回数   = @PROCRNO
		    And 処理区分   = @PROCTYPE
		    And	ファイル名   = @TX_FILENAME
		    And 納入先	     = @TX_NTORCD
		    And	受入	     = @TX_UKEIR
		    And	納入番号   = @TX_NOUNO	
		    And	行連番     = @TX_NOGYO	--< 2006/06/14 ADD >
		    And 納入日	     = @TX_NYMD	
		    And 納入便	     = @TX_NBIN
		    And 品番	     = @TX_HINBN	
		    And 便内分割区分 = @TX_BINKB
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 31 GOTO PROC_ERROR END

	   END	

--	-------------------------------
--	 ≪ 受注入力ワーク INSERT ≫ 
--	-------------------------------
	IF @READ_JY = 0
	   BEGIN
		IF @TX_HINBN <> ''

		   BEGIN
			SELECT @BN_KB = 0
			IF SUBSTRING(@TX_NOUNO,5,1) <> '0' 
			   BEGIN
				SELECT @BN_KB = 1
			   END
		          INSERT INTO 受注入力ワーク 
					(端末番号, 受注管理NO,受注管理行NO,受注区分, 受注日, 受注便,
					 納入日,納入便, 納入先, 出荷予定日, 出荷予定便,受入, 機番,
					 納入番号,納品書頁,納品書行,分納区分, 分納回数,
					 品番, 背番号,枚数,収容数, 納入数, 端数,
					 出荷指示書NO,出荷指示書行NO, 抜取枚数, 納品書発行区分,
					 エフ発行枚数, エフ発行端数,
					 作成種別, 累積区分, 納品書管理NO, 元出荷指示書NO,元出荷指示書行NO,
					 便内分割区分,打切端数,打切区分,打切残数,TOPPS連番)
--					 OCR区分,便内分割区分,打切端数,打切区分,打切残数,TOPPS連番)
				Values
					(Host_Name(),@TX_KNO,@TX_KGNO,1,@TX_JYMD,@TX_JBIN,
--					 @TX_NYMD,@TX_NBIN,@TX_NTORCD,@TX_NYMD,@TX_NBIN,@TX_UKEIR,'',		2009/07/07
					 @TX_NYMD,@TX_NBIN,@HX_NTORCD,@TX_NYMD,@TX_NBIN,@HX_UKEIR,'',

-- -----     -----     -----     -----     -----     -----     -----     -----     < 2006/06/14 MNT >
--					 @TX_NOUNO,1,@TX_KGNO,@BN_KB,0,
					 @TX_NOUNO,1,@TX_NOGYO,@BN_KB,0,
-- -----     -----     -----     -----     -----     -----     -----     -----     < 2006/06/14 MNT END >

--					 @TX_HINBN,@TX_SEBAN,@TX_KMAI,@TX_SYUYO,@TX_NSU,@TX_HASU,		2009/07/07
					 @HX_HINBN,@TX_SEBAN,@TX_KMAI,@TX_SYUYO,@TX_NSU,@TX_HASU,
		 			 0,0,0,1,
					 0,0,
					'S',0,0,0,0,
					 @TX_BINKB,@TX_HASU,@TX_UKB,@TX_UZAN,@RIREKI)
--					 0,@TX_BINKB,@TX_HASU,@TX_UKB,@TX_UZAN,@RIREKI)
			  IF @@ERROR <> 0  BEGIN	SELECT @ERR = 32  GOTO PROC_ERROR	END
			  SELECT @TX_OTCNT = @TX_OTCNT + 1
		  END
/*		ELSE
		  BEGIN
			/*
			IF ISNULL(@KARAPRINT,0) = 0
			   BEGIN
				INSERT INTO 指示書空ワーク
						(端末番号,処理区分,受注管理NO,受注管理行NO,
						 受注区分, 納入日, 納入便, 出荷予定日,出荷予定便,
						 納入先,受入, OCR区分)
					VALUES
						(Host_Name(),0,@TX_KNO,@TX_KGNO,
						 1,@TX_NYMD,@TX_NBIN,@TX_NYMD,@TX_NBIN,
						 @TX_NTORCD,@TX_UKEIR,0 )
				  IF @@ERROR <> 0  BEGIN	SELECT @ERR = 33  GOTO PROC_ERROR	END
			   END
			*/
				  SELECT @TX_KRCNT = @TX_KRCNT + 1
		  END
*/
	   END

	GOTO NEXT_READ
PROC_SYUKA:

----------------------------------------------------------------------
--/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_
--/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_
--/_/_/
--/_/_/			 ★★	出 荷 処 理    ★★
--/_/_/	
--/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_
--/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_
----------------------------------------------------------------------
	-- 重複件数加算
	SELECT @TX_DBLCNT = @TX_DBLCNT + @TX_ERRDBL

	IF @ERR_SEBAN <> 0 or
	   @ERR_SYUYO <> 0 or
	   @KARI_TOR_FLG <> 0 or
	   @KARI_UKE_FLG <> 0 or
	   @KARI_HIN_FLG <> 0 or
	   @KARI_HINT_FLG <> 0
	   BEGIN
		Update eかんばん変換テーブル Set
			ERR背番号 = @ERR_SEBAN,
			ERR収容数 = @ERR_SYUYO,
			取引先仮 = @KARI_TOR_FLG,
			受入仮    = @KARI_UKE_FLG,
			品番仮    = @KARI_HIN_FLG,
			品取仮	   = @KARI_HINT_FLG
	  	  Where 処理日     = @PROCYMD
		    And 処理回数   = @PROCRNO
		    And 処理区分   = @PROCTYPE
		    And	ファイル名   = @TX_FILENAME
		    And 納入先	     = @TX_NTORCD
		    And	受入	     = @TX_UKEIR
		    And	納入番号     = @TX_NOUNO	
		    And	行連番       = @TX_NOGYO		--< 2006/06/14 ADD >
		    And 納入日	     = @TX_NYMD	
		    And 納入便	     = @TX_NBIN
		    And 品番	     = @TX_HINBN	
		    And 便内分割区分 = @TX_BINKB
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 50 GOTO PROC_ERROR END

	   END	


-- ┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛< 2006/07/27 ADD >
--	-------------------------------------------------
--	 （分納）前回出荷データ及び、今回受注データの作成
--	-------------------------------------------------
 	IF @TX_ERRDBL = 0 And @TX_ERRJY = 1 And RIGHT( @TX_NOUNO, 1 ) <> 0
	   BEGIN

--		-------------------------------
--		 （分納）前回出荷データチェック
--		-------------------------------
--		< 前回納入番号作成 >
		SELECT	@BUNKAI = CAST( RIGHT( @TX_NOUNO, 1 ) AS TINYINT ),
				@ZNOUNO = LEFT( @TX_NOUNO, LEN(@TX_NOUNO) - 1) 
		SELECT	@ZNOUNO = @ZNOUNO + CAST( ( @BUNKAI - 1 ) AS VARCHAR(1) )

--		< 前回出荷実績確認 >
		SELECT	@ZSK_SU = NULL, @BNOUSU = 0, @ZJYNO = NULL
		SELECT	@ZSK_SU = SK.出荷数,
				@BNOUSU = JY.納入数 - ISNULL( SK.出荷数, 0 ),
				@ZJYNO  = JY.受注管理NO,		@ZJYGYO = JY.受注管理行NO,
				@ZSJNO  = JY.出荷指示書NO,	@ZSJGYO = JY.出荷指示書行NO,
				@ZNYMD  = JY.納入日,
				@ZNBIN  = JY.納入便
			FROM 受注テーブル JY
			LEFT OUTER JOIN 出荷テーブル SK
			ON  SK.出荷指示書NO   = JY.出荷指示書NO
			AND SK.出荷指示書行NO = JY.出荷指示書行NO
			WHERE	JY.納入番号	= @ZNOUNO
			AND	JY.納品書行	= @TX_NOGYO
--		    	AND	JY.納入先	= @TX_NTORCD				2009/07/07
--		    	AND	JY.受入	= @TX_UKEIR
		    	AND	JY.納入先	= @HX_NTORCD
		    	AND	JY.受入	= @HX_UKEIR

			AND	JY.納入日	= @TX_NYMD	
			AND	JY.納入便	= @TX_NBIN
--			AND	JY.品番	= @TX_HINBN							2009/07/07
			AND	JY.品番	= @HX_HINBN
			AND	JY.作成種別	= 'S'
		IF @ZJYNO IS NOT NULL
		   BEGIN
			IF @ZSK_SU IS NULL
			   BEGIN
--			-------------------------------
--			 （分納）前回出荷データの作成
--			-------------------------------
				INSERT INTO 出荷テーブル
						( 出荷指示書NO, 出荷指示書行NO, 出荷日, 出荷便, 
						  出荷枚数, 出荷端数, 出荷数, 分納数,
						  照合年月, 照合処理日, 照合結果, 実績年月, 実績処理日, 実績結果,
						  作成日, 作成端末, 作成者,
--						  テキスト出力日付, テキスト出力時刻, TOPPS連番, 挽回日, 挽回便 )
						   TOPPS連番, 挽回日, 挽回便 )
					VALUES
						( @ZSJNO, @ZSJGYO, @ZNYMD, @ZNBIN, 
						  0, 0, 0, 0, 
						  '', '', '', '', '', '',
						  GETDATE(), HOST_NAME(), 'B_' + @TX_NOUNO + '_S',
--						  '', '', @RIREKI, @TX_BYMD, @TX_BBIN )
						  @RIREKI, @TX_BYMD, @TX_BBIN )
	 			IF @@ERROR <> 0  BEGIN	SELECT @ERR = 53  GOTO PROC_ERROR	END
				SELECT @TX_OTCNT = @TX_OTCNT + 1
--			-------------------------------
--			 （分納）前回受注データの更新
--			-------------------------------
				UPDATE	受注テーブル	SET
					出荷実績区分 = 1,
					更新日 = GETDATE(),
					更新端末 = HOST_NAME(),
					更新者 = 'B_' + @TX_NOUNO + '_S'
					WHERE 受注管理NO		= @ZJYNO
					AND   受注管理行NO	= @ZJYGYO
					AND   出荷指示書NO	= @ZSJNO
					AND   出荷指示書行NO	= @ZSJGYO

	 			IF @@ERROR <> 0  BEGIN	SELECT @ERR = 54  GOTO PROC_ERROR	END
			   END
--			--------------------------------------
--			 （分納）今回受注データ作成用各種採番
--			--------------------------------------
--			(( 受注管理NO ))
			SELECT	@BJYNO = @ZJYNO, @BJYGYO = @ZJYGYO

--			(( 出荷指示書NO 採番 ))
			EXEC 番号獲得 12,@BSJNO OUTPUT,@ERR OUTPUT
			IF @ERR <> 0 	BEGIN	 SELECT @ERR = 55 	GOTO PROC_ERROR	END
			SELECT	@BSJGYO = 1

--			-------------------------------
--			 （分納）今回受注データ作成
--			-------------------------------
	 		IF (SELECT COUNT(受注管理NO) From 受注テーブル
 						Where 受注管理NO = @BJYNO
 						  And 受注管理行NO = @BJYGYO
						  And 出荷指示書NO = @BSJNO
						  And 出荷指示書行NO = @BSJGYO ) = 0
	 		   BEGIN
 				INSERT INTO 受注テーブル
						( 受注管理NO, 受注管理行NO, 出荷指示書NO, 出荷指示書行NO,
						  受注区分, 受注日, 受注便, 納入日, 納入便, 出荷予定日, 出荷予定便,
						  納入先, 受入, 機番, 納入番号, 納品書頁, 納品書行, 分納区分, 分納回数,
						  品番, 背番号, 枚数, 収容数, 納入数, 端数, 抜取枚数, エフ発行枚数, エフ発行端数,
						  作成種別, 納品書発行区分, 指示書発行区分, 出荷実績区分, 納品書管理NO,
						  元出荷指示書NO, 元出荷指示書行NO, 作成日, 作成端末, 作成者,
--						  便内分割区分, 打切端数, 打切区分, 打切残数, OCR区分, TOPPS連番, テキスト出力日付, テキスト出力時刻,
--						  サイクル, 収容器, 置場, 照合出力日付, 照合出力時刻 )
						  便内分割区分, 打切端数, 打切区分, 打切残数, TOPPS連番 ) 
					SELECT	@BJYNO, @BJYGYO, @BSJNO, @BSJGYO,
						受注区分, 受注日, 受注便, 納入日, 納入便, @TX_BYMD, @TX_BBIN,
						納入先, 受入, 機番, @TX_NOUNO, 1, @TX_NOGYO, 1, @BUNKAI,
						品番, 背番号, 
						( @BNOUSU / CASE WHEN 収容数 = 0 THEN 1 ELSE 収容数 END ) +
						CASE WHEN ( @BNOUSU % CASE WHEN 収容数 = 0 THEN 1 ELSE 収容数 END ) = 0 THEN 0 ELSE 1 END,
						収容数, @BNOUSU, @BNOUSU % CASE WHEN 収容数 = 0 THEN 1 ELSE 収容数 END, 0, 0, 0,
						'S', 納品書発行区分, 指示書発行区分, 0, 0,
						@ZSJNO, @ZSJGYO, GETDATE(), HOST_NAME(), 'B_' + @TX_NOUNO,
--						便内分割区分, 打切端数, 打切区分, 打切残数, OCR区分, @RIREKI, '', '',
--						サイクル, 収容器, 置場, 照合出力日付, 照合出力時刻
						便内分割区分, 打切端数, 打切区分, 打切残数, @RIREKI
						FROM	受注テーブル
						WHERE 受注管理NO		= @ZJYNO
						AND   受注管理行NO	= @ZJYGYO
						AND   出荷指示書NO	= @ZSJNO
						AND   出荷指示書行NO	= @ZSJGYO
				IF @ERR <> 0 	BEGIN	 SELECT @ERR = 56 	GOTO PROC_ERROR	END
			   END

			SELECT	@TX_ERRJY = 0, @TX_SJNO = @BSJNO, @TX_SJGYO = @BSJGYO,
				@TX_NSU = @BNOUSU, @TX_KNO = @BJYNO, @TX_KGNO = @BJYGYO
		   END
	   END
--
-- ┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛┛< 2006/07/27 ADD END >

--	-------------------------------------------------
--	 ≪ 出荷テーブル INSERT (受注あり & 重複でない) ≫ 
--	-------------------------------------------------
	IF @TX_ERRJY = 0 And @TX_ERRDBL = 0 And @TX_SJNO <> 0
	   BEGIN
		IF (SELECT COUNT(出荷指示書NO) From 出荷テーブル
					Where 出荷指示書NO = @TX_SJNO
					  And 出荷指示書行NO = @TX_SJGYO ) = 0
		   BEGIN
			SELECT @BN_BSU    = @TX_NSU - @TX_SSU	-- 分納数
			IF @BN_BSU < 0
			   BEGIN
				SELECT @BN_BSU    = 0
			   END

			INSERT INTO 出荷テーブル
				(出荷指示書NO,出荷指示書行NO,出荷日,出荷便,
				 出荷枚数,出荷端数,出荷数,分納数,
				 照合年月,照合処理日,照合結果,
				 実績年月,実績処理日,実績結果,
				 作成日,作成端末,作成者,
--				 テキスト出力日付,テキスト出力時刻,TOPPS連番, 
				 TOPPS連番, 
				挽回日, 挽回便)
			   VALUES
				(@TX_SJNO,@TX_SJGYO,@TX_NYMD,@TX_NBIN,
				 @TX_KMAI,@TX_HASU,@TX_SSU,@BN_BSU,	
				 '','','',
				 '','','',
			 	 Getdate(),Substring(Host_Name(),1,20),'',
--				 '','',@RIREKI ,'','')
				 @RIREKI ,'','')
			IF @@ERROR <> 0  BEGIN	SELECT @ERR = 51  GOTO PROC_ERROR	END
			SELECT @TX_OTCNT = @TX_OTCNT + 1

			Update 受注テーブル Set
				出荷実績区分 = 1
				Where 受注管理NO = @TX_KNO
				  And 受注管理行NO = @TX_KGNO
			IF @@ERROR <> 0  BEGIN	SELECT @ERR = 52  GOTO PROC_ERROR	END
		   END	
	   END

NEXT_READ:
	--* 次ﾚｺｰﾄﾞ
	FETCH NEXT FROM TXCUR INTO 
		@TX_KNO	     ,@TX_KGNO,	
		@TX_FILENAME ,@TX_NTORCD ,@TX_UKEIR ,@TX_NOUNO ,
		@TX_NYMD     ,@TX_NBIN   ,@TX_HINBN ,@TX_BINKB ,
		@TX_SEBAN    ,@TX_SYUYO  ,
		@TX_JYMD     ,@TX_JBIN   ,
		@TX_KMAI     ,@TX_NSU    ,@TX_HASU  ,@TX_UKB   ,@TX_UZAN,
		@TX_NTORNM   ,@TX_HINNM  ,
		@TX_ERRJY    ,@TX_ERRDBL ,@TX_SJNO  ,@TX_SJGYO ,@TX_SSU
	      , @TX_NOGYO		-- < 2006/06/14 ADD >
	      ,	@TX_BYMD     ,@TX_BBIN	-- < 2006/07/27 ADD >
	      ,	@TX_NJIGYO     ,@TX_NJIGYOKJ ,	@TX_SJIGYO     ,@TX_SYUKABA  			-- < 2008/07/18 ADD >

    END

--*  CLOSE & DEALLOCATE
CLOSE TXCUR
DEALLOCATE TXCUR

--*----------------------------------*--
--*	 eかんばん履歴更新
--*----------------------------------*--
IF @RIREKI <> 0 
   BEGIN
	Update eかんばん変換履歴テーブル Set
		 変換件数 = @TX_OTCNT,
		 空       = @TX_KRCNT,
		 重複     = @TX_DBLCNT,	
		 ERR収容数 = @TX_SYUCNT,
		 ERR背番号 = @TX_SEBCNT, 
		 仮品番   = @KARI_HIN,
		 仮品取   = @KARI_HINT,
		 仮取引先 = @KARI_TOR,
		 仮受入   = @KARI_UKE
	   Where 履歴管理番号 = @RIREKI
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 34 GOTO PROC_ERROR END
   END


--SELECT @TX_CNT,@KARI_TOR,@KARI_UKE,@KARI_HIN,@KARI_HINT
--SELECT '変換件数' = @TX_OTCNT, '空' = @TX_KRCNT,'重複' = @TX_DBLCNT, 'ERR収容数' = @TX_SYUCNT,'ERR背番号' = @TX_SEBCNT
------------------------------
--<<　トランザクション終了        >>--
------------------------------
COMMIT TRANSACTION TOPPSCRT
-- 正常終了 --
RETURN(0)
--RETURN
PROC_ERROR:
-- 異常終了 --
---TEST --------------------------------------------------
-- IF @ERR <> 0 
--    BEGIN
 --	 SELECT 'ERROR=',CONVERT(CHAR(2),@ERR)
--    END	
------- --------------------------------------------------
SELECT @RTCD = @ERR
------------------------------
--<<　トランザクション破棄        >>--
------------------------------
--ROLLBACK TRANSACTION TOPPSCRT
RETURN(@ERR)










GO
