USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[CRT_BCP_CMD]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO




CREATE PROCEDURE [dbo].[CRT_BCP_CMD]	@TBLNM	VARCHAR(40),
				@SVRNM	VARCHAR(40),
				@DBNM	VARCHAR(40),
				@UID	VARCHAR(30) = NULL,
				@PWD	VARCHAR(30) = NULL,
				@TXTDIR VARCHAR(50),
				@TXTNM	VARCHAR(40),
				@EXKB	TINYINT	= 0	AS
-- *------------------------------------------------------------------------------------*
-- *											*
-- *	PROCEDURE	CRT_BCP_CMD							*
-- *											*
-- *	PARAMETER	@TBLNM	- テーブル名		(個別指定の時、有効)		*
-- *			@SVRNM	- サーバー名		(必須)				*
-- *			@DBNM	- データベース名	(必須)				*
-- *			@UID	- ユーザＩＤ		(必須)				*
-- *			@PWD	- パスワード						*
-- *			@TXTDIR - 出力先ディレクトリ	(必須)				*
-- *			@TXTNM	- 出力テキスト名	(個別指定の時、有効)		*
-- *			@EXKB	- 拡張子区分		(データベース全体の時、有効)	*
-- *				  0/CSV,NOT 0/TXT					*
-- *											*
-- *			注】出力テキスト名を指定する場合は、拡張子まで指定すること！	*
-- *											*
-- *	OUT-LINE	ＢＣＰコマンドライン記述の作成					*
-- *			  テーブル名を指定すれば個別					*
-- *			  テーブル名を指定しなければ、					*
-- *			    ワークテーブルを除くデータベース全体			*
-- *											*
-- *			  個別作成の時、出力先テキスト名の指定可能			*
-- *				  指定がない場合はテーブル名とする			*
-- *											*
-- *	RETURN		0   -	正常終了						*
-- *			1   -	指定テーブルがない					*
-- *			2   -	サーバーが指定されてない				*
-- *			3   -	指定データベースがない					*
-- *			4   -	指定ユーザＩＤがない					*
-- *			6   -	出力先ディレクトリが指定されてない			*
-- *											*
-- *------------------------------------------------------------------------------------*
SET NOCOUNT ON

DECLARE	@MYQUERY	VARCHAR(255)
DECLARE @ID		INT

-- *----------------------------*
-- *	テーブル名チェック	*
-- *----------------------------*
IF @TBLNM <> ''
   BEGIN
	SELECT @ID = OBJECT_ID(@TBLNM)
	IF @ID IS NULL	RETURN(1)

	IF @TXTNM = ''	SELECT @TXTNM = @TBLNM + '.CSV'
   END

-- *----------------------------*
-- *	サーバ名チェック	*
-- *----------------------------*
IF @SVRNM = ''	RETURN(2)

-- *------------------------------------*
-- *	データベース名チェック		*
-- *------------------------------------*
SELECT @ID = DB_ID(@DBNM)
IF @ID IS NULL	RETURN(3)

-- *----------------------------*
-- *	ユーザ名チェック	*
-- *----------------------------*
SELECT @ID = SUSER_ID(@UID)

IF @ID IS NULL	RETURN(4)

-- *------------------------------------*
-- *	出力先ディレクトリチェック	*
-- *------------------------------------*
IF @TXTDIR = ''	RETURN(6)

-- *------------------------------------*
-- *	Ｂｃｐコマンドライン作成	*
-- *------------------------------------*
IF @TBLNM = ''
--	*------------*
-- 	* 全テーブル *
--	*------------*
	SELECT @MYQUERY	= 'SELECT ''bcp '	+ 
			@DBNM		+	'..'' + name + '''	+ 
			' out ' 	+ 
			@TXTDIR 	+ 	
			CASE	@EXKB			
			    WHEN 0	THEN	''' + name + ''.CSV'
					ELSE	''' + name + ''.TXT'
			END		+
			' -t"," -r\n -c'	+ 
			' -S' 		+	@SVRNM	+ 
			' -P' 		+	@PWD	+ 
			' -U' 		+ 	@UID	+	''''	+
			' FROM ' 	+ 	
			@DBNM		+ 	'..sysobjects'	+
			' WHERE type = ''U'''	+
			' AND 	NOT name LIKE ''WK%'''	+
			' ORDER BY name'
ELSE
--	*--------------*
-- 	* 指定テーブル *
--	*--------------*
	SELECT @MYQUERY	= 'SELECT ''bcp '	+ 
			@DBNM		+	'..' 	+ @TBLNM 	+
			' out ' 	+ 
			@TXTDIR 	+ 	@TXTNM 	+

			' -t"," -r\n -c'	+ 
			' -S' 		+	@SVRNM	+ 
			' -P' 		+	@PWD	+ 
			' -U' 		+ 	@UID	+	''''


EXEC	(@MYQUERY)

-- *------------*
-- *	終了	* 
-- *------------*
RETURN(0)





GO
