USE [SIMTOKIDB]
GO
/****** Object:  StoredProcedure [dbo].[テキスト受注TEXT変換_リバース]    Script Date: 2026/08/05 13:51:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[テキスト受注TEXT変換_リバース] (
				@PROCYMD 	VARCHAR(8),
				@PROCRNO 	INT,
				@RIREKI		INT,
				@FILENAME 	VARCHAR(50),
				@RTCD 		TINYINT OUTPUT
) AS
-- ------------------------------------------------------------------------------------------------------
-- 
-- 	テキスト受注TEXT変換_リバース
-- 
-- 
-- 		パラメータ	 ：	@PROCYMD	 -	処理日
-- 					 ：	@PROCRNO	 -	処理日内連番
-- 					 ：	@RIREKI		 -	履歴管理番号
-- 					 ：	@FILENAME	 -	TEXTファイル名
-- 
--		Return		 ： @RTCD	 	･･･	ｴﾗｰｺｰﾄﾞ
-- 
-- 		作 成 日	 ： 2026/01/06
--
-- 		UP	DATE	 ：
-- 
-- ------------------------------------------------------------------------------------------------------
--
-- テキスト受注データ(REC1) CSVの内容(配置)
--
--   1:品番     2:納入先    3:受入   4:納入日   5:納入数   6:受注日
--
-- ------------------------------------------------------------------------------------------------------

SET NOCOUNT ON

DECLARE @TX_CNT			INT		-- 入力件数
DECLARE @ERR 			TINYINT -- エラーコード
DECLARE @JNO			INT		-- 受注管理番号
DECLARE @JGNO			TINYINT	-- 受注管理行番号
DECLARE @TX_TYPE		TINYINT	-- 0:受注,1:出荷
DECLARE @WRTN			TINYINT	-- リターン
DECLARE @PROCCNT		INT		-- 退避連番

SET @TX_CNT = 0					-- 入力件数初期化	
SET @ERR = 0 					-- エラーコード初期化
SET @TX_TYPE = 0				-- 受注種別：受注

SELECT @PROCCNT = 退避連番	From	テキスト変換履歴テーブル
							Where	履歴管理番号 = @RIREKI

-- -----------------------
--  テキスト変換テーブル削除
-- -----------------------
Delete From テキスト変換テーブル
	Where 処理日     = @PROCYMD
	  And 処理回数   = @PROCRNO
	  And 処理区分   = @TX_TYPE
	  And ファイル名 = @FILENAME
IF @@ERROR <> 0 BEGIN SELECT @ERR = 70 GOTO PROC_ERROR END

-------------- 受注TOPPSテーブル（回数=1) 削除
IF @PROCRNO = 1 
BEGIN
	Delete 受注TOPPSテーブル
		FROM  受注TOPPSテーブル
	 	Left  Outer Join 受注テーブル WK
		  ON  受注TOPPSテーブル.受注管理NO   = WK.受注管理NO
		 AND  受注TOPPSテーブル.受注管理行NO = WK.受注管理行NO
		Where IsNull(WK.受注管理NO,0) = 0
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 17 GOTO PROC_ERROR END
END

DECLARE TXCUR SCROLL CURSOR
FOR
	SELECT REC1
	  From テキスト受注データ
FOR READ ONLY
OPEN TXCUR

DECLARE @TX_REC1		VARCHAR(MAX)	--1レコード分のCSVデータ

-- Aレコード
DECLARE @TA_JYMD		VARCHAR(8)		--受注日（処理日）
DECLARE @TA_JBIN		VARCHAR(2)		--受注便
DECLARE @TA_NYMD		VARCHAR(8)		--納入日
DECLARE @TA_NBIN		VARCHAR(2)		--納入便
DECLARE @TA_NTORCD		VARCHAR(6)		--納入先
DECLARE	@TA_UKEIR		VARCHAR(2)		--受入　（納入場所の1～2桁）
DECLARE	@TA_NOUNO		VARCHAR(9)		--納入番号
DECLARE @TA_NTORNM		VARCHAR(20)		--納入先名
DECLARE @TA_NJIGYO		VARCHAR(2)		--納入先事業体
DECLARE @TA_NJIGYOKJ	VARCHAR(1)		--納入先事業体工区
DECLARE @TA_SJIGYO		VARCHAR(2)		--仕入先事業体
DECLARE @TA_SYUKABA		VARCHAR(3)		--出荷場

-- Bレコード
DECLARE	@TB_BINKB		VARCHAR(1)		--便内分割区分
DECLARE	@TB_HINBN		VARCHAR(20)		--品番
DECLARE @TB_SEBAN		VARCHAR(8)		--背番号
DECLARE @TB_KMAI		INT				--枚数
DECLARE @TB_SYUYO		INT				--収容数
DECLARE @TB_NSU			INT				--納入数
DECLARE @TB_HASU		INT				--打切端数（通常端数として使用）
DECLARE @TB_UKB			TINYINT			--打切区分
DECLARE @TB_UZAN		INT				--打切残数
DECLARE @TB_HINNM		VARCHAR(40)		--品名
DECLARE @TB_NOGYO		SMALLINT		--行連番

-- KEY項目
DECLARE @KEY_NTORCD	VARCHAR(5)			--納入先
DECLARE	@KEY_UKEIR	VARCHAR(2)			--受入
DECLARE	@KEY_NYMD	VARCHAR(8)			--納入日
DECLARE	@KEY_NBIN	VARCHAR(2)			--納入便
DECLARE	@KEY_NOUNO	VARCHAR(5)			--納入番号

DECLARE @WDEC1 DECIMAL(7,1)

SELECT @TA_NOUNO = '', @TB_NOGYO = 0
SELECT @KEY_NTORCD = '',@KEY_UKEIR = '',@KEY_NYMD = '',@KEY_NBIN = '',@KEY_NOUNO = ''

-- * TOPPS受注テキスト
FETCH NEXT FROM TXCUR INTO @TX_REC1

WHILE @@FETCH_STATUS = 0 
BEGIN
	SET @TX_CNT	     = @TX_CNT + 1 
	SET @TB_HINBN    = (SELECT Data FROM dbo.Split(@TX_REC1, ',') WHERE Id = 1) 			--品番
	SET @TA_NTORCD   = (SELECT Data FROM dbo.Split(@TX_REC1, ',') WHERE Id = 2) 			--納入先
	SET @TA_UKEIR    = (SELECT Data FROM dbo.Split(@TX_REC1, ',') WHERE Id = 3) 			--受入		
	SET @TA_NYMD     = (SELECT Data FROM dbo.Split(@TX_REC1, ',') WHERE Id = 4)				--納入日
	SET @TB_NSU      = (SELECT Data FROM dbo.Split(@TX_REC1, ',') WHERE Id = 5)				--納入数
	SET @TA_JYMD     = (SELECT Data FROM dbo.Split(@TX_REC1, ',') WHERE Id = 6)				--受注日
	EXEC 番号獲得  4,  @TA_NOUNO OUTPUT, @WRTN OUTPUT										--納入番号：納品書管理NOを採番
	IF @WRTN <> 0 	BEGIN	SET @ERR = 99 GOTO PROC_ERROR END
	SET @TA_NBIN     = '01'																	--納入便
	SET @TA_JBIN     = ''																	--受注便
	SET @TA_NTORNM   = '' 																	--納入先名
	SET @TA_NJIGYO   = ''  																	--納入先事業体
	SET @TA_NJIGYOKJ = ''  																	--納入先事業体工区
	SET @TA_SJIGYO   = ''																	--仕入先事業体
	SET @TA_SYUKABA  = '' 																	--出荷場
	SET @TB_BINKB    = ''  																	--便内分割区分
	SET @TB_UKB      = 0 																	--打切区分
	SET @TB_UZAN     = 0 																	--打切残数
	SET @TB_HINNM    = '' 																	--品名
	SET @TB_NOGYO = '1'																		--行連番

	SET @TB_SEBAN = ''																		--背番号
	SELECT @TB_SEBAN = ISNULL(背番号,'') From 品番取引先マスタ
	  Where 取引先 = @TA_NTORCD
	  And 受入  = @TA_UKEIR
	  And 品番  = @TB_HINBN
	  And 品目  = 0

	SET @TB_SYUYO    = 0																	--収容数
	SELECT @TB_SYUYO = ISNULL(収容数1,0) From 品番取引先マスタ
	  Where 取引先 = @TA_NTORCD
	  And 受入  = @TA_UKEIR
	  And 品番  = @TB_HINBN
	  And 品目  = 0

	SET @TB_KMAI  = 0																		--枚数
	IF @TB_SYUYO <> 0
    BEGIN
        SET @WDEC1 = @TB_SYUYO
        SET @TB_KMAI = CEILING(@TB_NSU / @WDEC1)
    END
	Else
	BEGIN
		 SET @TB_KMAI = 0
	END

	SET @TB_HASU     = 0																	--打切端数（通常端数として使用）
	IF @TB_SYUYO <> 0
    BEGIN
        SELECT @TB_HASU = @TB_NSU % @TB_SYUYO
    END
	Else
	BEGIN
		 SET @TB_HASU = 0
	END

	IF (SELECT Count(品番) From テキスト変換テーブル
		Where 処理日   = @PROCYMD
		  And 処理回数  = @PROCRNO
		  And 処理区分 = @TX_TYPE
		  And ファイル名 = @FILENAME
		  And 納入先   = @TA_NTORCD
		  And 受入      = @TA_UKEIR
		  And 納入番号 = @TA_NOUNO
		  And 行連番   = @TB_NOGYO
		  And 納入日    = @TA_NYMD
		  And 納入便    = @TA_NBIN
		  And 品番       = @TB_HINBN
	      And 便内分割区分 =	@TB_BINKB ) = 0
	BEGIN

		IF @KEY_NTORCD   <> @TA_NTORCD OR @KEY_UKEIR  <> @TA_UKEIR
		  	  OR @KEY_NOUNO <> @TA_NOUNO OR @KEY_NYMD   <> @TA_NYMD
		  	  OR @KEY_NBIN     <> @TA_NBIN
		BEGIN
			-- -----------------
			--  受注管理NO 採番 
			-- -----------------
			EXEC 番号獲得  11,  @JNO OUTPUT, @WRTN OUTPUT
			IF @WRTN <> 0 	BEGIN	SET @ERR = 99 GOTO PROC_ERROR END
			SET @JGNO = 0
		END

		SET @JGNO = @JGNO + 1

		INSERT INTO テキスト変換テーブル
			(処理日,処理回数, 処理区分,ファイル名,納入先, 受入, 納入番号, 納入日, 納入便,
			 品番,便内分割区分,退避連番,受注管理番号,受注管理行番号,出荷指示書NO,出荷指示書行NO,受注日,受注便,背番号,収容数,
			 かんばん枚数,納入数,打切端数,打切区分,打切残数,出荷数,挽回日,挽回便,
			 ERR重複,ERR収容数,ERR背番号,ERR受注,品番仮,品取仮,取引先仮,受入仮,
			 納入先名,品名, 作成日,作成端末, 行連番,
			納入先事業体,納入先事業体工区,仕入先事業体,出荷場 )
		VALUES
			(@PROCYMD,@PROCRNO,@TX_TYPE,@FILENAME,@TA_NTORCD,@TA_UKEIR,@TA_NOUNO,@TA_NYMD,@TA_NBIN,
			 @TB_HINBN,@TB_BINKB,@PROCCNT,@JNO,@JGNO,0,0,@TA_JYMD,@TA_JBIN,@TB_SEBAN,@TB_SYUYO,
			 @TB_KMAI,@TB_NSU,@TB_HASU,@TB_UKB,@TB_UZAN,0,'','',
			 0,0,0,0,0,0,0,0,
			@TA_NTORNM,@TB_HINNM,
			 Getdate(),Substring(Host_Name(),1,20), @TB_NOGYO,
			 @TA_NJIGYO,@TA_NJIGYOKJ,@TA_SJIGYO,@TA_SYUKABA)
		IF @@ERROR <> 0 BEGIN SELECT @ERR = 2 GOTO PROC_ERROR END
	END

	SELECT @KEY_NTORCD = @TA_NTORCD, @KEY_UKEIR = @TA_UKEIR
	SELECT @KEY_NYMD   = @TA_NYMD  , @KEY_NBIN  = @TA_NBIN, @KEY_NOUNO = @TA_NOUNO
	
	--* 次ﾚｺｰﾄﾞ
	FETCH NEXT FROM TXCUR INTO @TX_REC1
END

--*  CLOSE & DEALLOCATE
CLOSE TXCUR
DEALLOCATE TXCUR

------------ TOPPS履歴更新
IF @RIREKI <> 0 
BEGIN
	Update テキスト変換履歴テーブル
	   Set 入力件数 = 入力件数 + @TX_CNT
	 Where 履歴管理番号 = @RIREKI
	IF @@ERROR <> 0 BEGIN SELECT @ERR = 4 GOTO PROC_ERROR END
END

PROC_END:
--* 正常終了 *--
RETURN(0)
PROC_ERROR:

--* 異常終了 *--
SELECT @RTCD = @ERR
RETURN(@ERR)
GO
