USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[TEXTERRMSG]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEXTERRMSG](
	[ERRCODE] [varchar](6) NOT NULL,
	[ERRLEBEL] [varchar](1) NULL,
	[ERRMSG1] [varchar](100) NULL,
	[ERRMSG2] [varchar](100) NULL,
 CONSTRAINT [PK_TEXTERRMSG] PRIMARY KEY CLUSTERED 
(
	[ERRCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
