USE [SIMTOKIDB]
GO
/****** Object:  View [dbo].[材料買掛内示状況管理ビュー]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[材料買掛内示状況管理ビュー] AS
SELECT '内示' 区分,
        CASE WHEN ISNULL(TR1.略称,'') <> ''
		     THEN ISNULL(HTM.契約先, '') + ':' + ISNULL(TR1.略称, '')
		     ELSE ISNULL(HTM.契約先, '')
        END 編集契約先,
		ISNULL(HTM.契約先, '') 契約先,
        ISNULL(TR1.略称, '') 契約先名,
        SUM(
        CASE WHEN ISNULL(KT.単価, 0) <> 0 THEN
          CASE WHEN ISNULL(TR1.計算単位, 0) = 0 THEN   ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0), 0, 1) * ISNULL(KT.単価, 0), 0, 1)
            WHEN ISNULL(TR1.計算単位, 0) = 1 THEN CEILING(CEILING(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0)) * ISNULL(KT.単価, 0))
            WHEN ISNULL(TR1.計算単位, 0) = 2 THEN   ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0), 0)* ISNULL(KT.単価, 0), 0)
            WHEN ISNULL(TR1.計算単位, 0) = 3 THEN
              CASE WHEN ISNULL(TR1.計算位1, 0) = 0 THEN
                CASE WHEN ISNULL(TR1.計算位2, 0) = 0 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0), 1, 1), 0, 1) * KT.単価, 1, 1), 0, 1     )
                     WHEN ISNULL(TR1.計算位2, 0) = 1 THEN   ROUND(CEILING(  ROUND(CEILING(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0) * 10) / 10 , 0, 1)* KT.単価 * 10) / 10 , 0, 1)
                     WHEN ISNULL(TR1.計算位2, 0) = 2 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0), 1), 0, 1) * KT.単価, 1)   , 0, 1     )
                End
                WHEN ISNULL(TR1.計算位1, 0) = 1 THEN
                CASE WHEN ISNULL(TR1.計算位2, 0) = 0 THEN CEILING(  ROUND(CEILING(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0), 1, 1)) * KT.単価, 1, 1)           )
                     WHEN ISNULL(TR1.計算位2, 0) = 1 THEN CEILING(CEILING(CEILING(CEILING(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0)* 10) / 10) * KT.単価 * 10) / 10       )
                     WHEN ISNULL(TR1.計算位2, 0) = 2 THEN CEILING(  ROUND(CEILING(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0), 1)) * KT.単価, 1)              )
                End
                WHEN ISNULL(TR1.計算位1, 0) = 2 THEN
                CASE WHEN ISNULL(TR1.計算位2, 0) = 0 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0), 1, 1), 0) * KT.単価, 1, 1), 0        )
                     WHEN ISNULL(TR1.計算位2, 0) = 1 THEN   ROUND(CEILING(  ROUND(CEILING(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0) * 10) / 10, 0) * KT.単価 * 10 ) / 10, 0   )
                     WHEN ISNULL(TR1.計算位2, 0) = 2 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0), 1), 0) * KT.単価, 1   ), 0        )
                End
              End
            END
        ELSE 0 END)
        予測金額,
		CASE WHEN ISNULL(CM.稼動日数, 0) <> 0 THEN
        ROUND( SUM(
        CASE WHEN ISNULL(KT.単価, 0) <> 0 THEN
          CASE WHEN ISNULL(TR1.計算単位, 0) = 0 THEN   ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0), 0, 1) * ISNULL(KT.単価, 0), 0, 1)
            WHEN ISNULL(TR1.計算単位, 0) = 1 THEN CEILING(CEILING(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0)) * ISNULL(KT.単価, 0))
            WHEN ISNULL(TR1.計算単位, 0) = 2 THEN   ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0), 0)* ISNULL(KT.単価, 0), 0)
            WHEN ISNULL(TR1.計算単位, 0) = 3 THEN
              CASE WHEN ISNULL(TR1.計算位1, 0) = 0 THEN
                CASE WHEN ISNULL(TR1.計算位2, 0) = 0 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0), 1, 1), 0, 1) * KT.単価, 1, 1), 0, 1     )
                     WHEN ISNULL(TR1.計算位2, 0) = 1 THEN   ROUND(CEILING(  ROUND(CEILING(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0) * 10) / 10 , 0, 1)* KT.単価 * 10) / 10 , 0, 1)
                     WHEN ISNULL(TR1.計算位2, 0) = 2 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0), 1), 0, 1) * KT.単価, 1)   , 0, 1     )
                End
                WHEN ISNULL(TR1.計算位1, 0) = 1 THEN
                CASE WHEN ISNULL(TR1.計算位2, 0) = 0 THEN CEILING(  ROUND(CEILING(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0), 1, 1)) * KT.単価, 1, 1)           )
                     WHEN ISNULL(TR1.計算位2, 0) = 1 THEN CEILING(CEILING(CEILING(CEILING(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0)* 10) / 10) * KT.単価 * 10) / 10       )
                     WHEN ISNULL(TR1.計算位2, 0) = 2 THEN CEILING(  ROUND(CEILING(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0), 1)) * KT.単価, 1)              )
                End
                WHEN ISNULL(TR1.計算位1, 0) = 2 THEN
                CASE WHEN ISNULL(TR1.計算位2, 0) = 0 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0), 1, 1), 0) * KT.単価, 1, 1), 0        )
                     WHEN ISNULL(TR1.計算位2, 0) = 1 THEN   ROUND(CEILING(  ROUND(CEILING(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0) * 10) / 10, 0) * KT.単価 * 10 ) / 10, 0   )
                     WHEN ISNULL(TR1.計算位2, 0) = 2 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 0), 1), 0) * KT.単価, 1   ), 0        )
                End
              End
            END
        ELSE 0 END)
        / ISNULL(CM.稼動日数, 1), 0) ELSE 0 END 日当り数,
        0 実績金額, 0 進捗,
        0 実績金額1, 0 実績金額2, 0 実績金額3, 0 実績金額4, 0 実績金額5,0 実績金額6, 0 実績金額7, 0 実績金額8, 0 実績金額9, 0 実績金額10,
        0 実績金額11, 0 実績金額12, 0 実績金額13, 0 実績金額14, 0 実績金額15,0 実績金額16, 0 実績金額17, 0 実績金額18, 0 実績金額19, 0 実績金額20,
		0 実績金額21, 0 実績金額22, 0 実績金額23, 0 実績金額24, 0 実績金額25,0 実績金額26, 0 実績金額27, 0 実績金額28, 0 実績金額29, 0 実績金額30, 0 実績金額31,
        SUBSTRING(NT.内示年月, 1, 6) 年月, ISNULL(SY.値, '') 自社工区, NT.受入
   FROM 材料発注内示テーブル NT
        LEFT OUTER JOIN 材料マスタ HN
             ON HN.材料管理番号 = NT.材料管理番号
        LEFT OUTER JOIN 材料取引先マスタ HTM
             ON HTM.材料管理番号 = NT.材料管理番号
            AND HTM.取引先 = NT.手配先
            AND HTM.受入 = NT.受入
--            AND HTM.品目 = 1
		LEFT OUTER JOIN 取引先マスタ TR1
			 ON TR1.取引先CD = HTM.契約先
		    AND TR1.取引先区分 = 1
        LEFT OUTER JOIN 名称マスタ SY
             ON SY.区分名称 = '自社工区'
            AND SY.英数字1 = NT.受入
            AND SY.区分タイプ = ''
        LEFT OUTER JOIN カレンダマスタ CM
             ON CM.取引先区分 = 0
            AND CM.取引先 = ''
            AND CM.年 = SUBSTRING(NT.内示年月, 1, 4)
            AND CM.月 = SUBSTRING(NT.内示年月, 5, 2)
            AND CM.受入 = ''
        LEFT OUTER JOIN ( SELECT CASE WHEN KT001.単価 <> 0 THEN KT001.単価 ELSE
                                      CASE WHEN KT2001.単価 <> 0 THEN KT2001.単価 ELSE
                                           CASE WHEN KT3001.単価 <> 0 THEN KT3001.単価 ELSE
                                                CASE WHEN KT4001.単価 <> 0 THEN KT4001.単価 ELSE 0 END END END END 単価
                            FROM 材料発注内示テーブル NT
                                 LEFT OUTER JOIN 材料取引先マスタ HTM
                                      ON HTM.材料管理番号 = NT.材料管理番号
                                     AND HTM.取引先 = NT.手配先
                                     AND HTM.受入 = NT.受入
--                                     AND HTM.品目 = 1
                                 LEFT OUTER JOIN 材料購入単価マスタ KT001
                                      ON KT001.材料管理番号 = NT.材料管理番号
                                     AND KT001.取引先 = NT.手配先
			                         AND KT001.契約先 = HTM.契約先
                                     AND KT001.仮単価区分 = ''
                                     AND KT001.履歴NO = (SELECT   MAX(履歴NO) FROM 材料購入単価マスタ KTS001
                                                          WHERE   KTS001.材料管理番号 = NT.材料管理番号
                                                            AND   KTS001.取引先 = NT.手配先
								                            AND   KTS001.契約先 = HTM.契約先
							                                AND   KTS001.仮単価区分 = ''
                                                            AND ((KTS001.適用開始日付 < NT.納期
                                                            AND   KTS001.適用開始日付 <> '')
                                                             OR   KTS001.適用開始日付 = '')
                                                            AND ((KTS001.適用終了日付 > NT.納期
                                                            AND   KTS001.適用終了日付 <> '')
                                                             OR   KTS001.適用終了日付 = ''))
                                 LEFT OUTER JOIN 材料購入単価マスタ KT2001
                                      ON KT2001.材料管理番号 = NT.材料管理番号
                                     AND KT2001.取引先 = NT.手配先
			                         AND KT2001.契約先 = HTM.契約先
                                     AND KT2001.仮単価区分 = '1'
                                     AND KT2001.履歴NO = (SELECT   MAX(履歴NO) FROM 材料購入単価マスタ KTS2001
                                                       WHERE   KTS2001.材料管理番号 = NT.材料管理番号
                                                         AND   KTS2001.取引先 = NT.手配先
								                         AND   KTS2001.契約先 = HTM.契約先
								                         AND   KTS2001.仮単価区分 = '1'
                                                         AND ((KTS2001.適用開始日付 < NT.納期
                                                         AND   KTS2001.適用開始日付 <> '')
                                                          OR   KTS2001.適用開始日付 = '')
                                                         AND ((KTS2001.適用終了日付 > NT.納期
                                                         AND   KTS2001.適用終了日付 <> '')
                                                          OR   KTS2001.適用終了日付 = ''))
                                 LEFT OUTER JOIN 材料購入単価マスタ KT3001
                                      ON KT3001.材料管理番号 = NT.材料管理番号
                                     AND KT3001.取引先 = NT.手配先
			                         AND KT3001.契約先 = ''
                                     AND KT3001.仮単価区分 = ''
                                     AND KT3001.履歴NO = (SELECT   MAX(履歴NO) FROM 材料購入単価マスタ KTS3001
                                                          WHERE   KTS3001.材料管理番号 = NT.材料管理番号
                                                            AND   KTS3001.取引先 = NT.手配先
								                            AND   KTS3001.契約先 = ''
								                            AND   KTS3001.仮単価区分 = ''
                                                            AND ((KTS3001.適用開始日付 < NT.納期
                                                            AND   KTS3001.適用開始日付 <> '')
                                                             OR   KTS3001.適用開始日付 = '')
                                                            AND ((KTS3001.適用終了日付 > NT.納期
                                                            AND   KTS3001.適用終了日付 <> '')
                                                             OR   KTS3001.適用終了日付 = ''))
                                 LEFT OUTER JOIN 材料購入単価マスタ KT4001
                                      ON KT4001.材料管理番号 = NT.材料管理番号
                                     AND KT4001.取引先 = NT.手配先
			                         AND KT4001.契約先 = ''
                                     AND KT4001.仮単価区分 = '1'
                                     AND KT4001.履歴NO = (SELECT   MAX(履歴NO) FROM 材料購入単価マスタ KTS4001
                                                       WHERE   KTS4001.材料管理番号 = NT.材料管理番号
                                                         AND   KTS4001.取引先 = NT.手配先
								                         AND   KTS4001.契約先 = ''
								                         AND   KTS4001.仮単価区分 = '1'
                                                         AND ((KTS4001.適用開始日付 < NT.納期
                                                         AND   KTS4001.適用開始日付 <> '')
                                                          OR   KTS4001.適用開始日付 = '')
                                                         AND ((KTS4001.適用終了日付 > NT.納期
                                                         AND   KTS4001.適用終了日付 <> '')
                                                          OR   KTS4001.適用終了日付 = ''))
		                         LEFT OUTER JOIN 材料入荷テーブル NY
			                          ON SUBSTRING(NY.入荷日, 1, 6) = NT.内示年月
			                         AND NY.材料管理番号 = NT.材料管理番号
			                         AND NY.仕入先 = NT.手配先
			                        AND NY.受入 = NT.受入
                           WHERE ISNULL(NY.発注管理NO, 0) = 0
                        ) KT
             ON KT.単価 = KT.単価
		LEFT OUTER JOIN 材料入荷テーブル NY
			 ON SUBSTRING(NY.入荷日, 1, 6) = NT.内示年月
			AND NY.材料管理番号 = NT.材料管理番号
			AND NY.仕入先 = NT.手配先
			AND NY.受入 = NT.受入
 WHERE ISNULL(NY.発注管理NO, 0) = 0
 GROUP BY TR1.略称, HTM.契約先, TR1.計算単位,
          CM.稼動日数, TR1.計算位1, NT.内示年月,
          ISNULL(SY.値, ''), NT.受入
GO
