USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[帳票可変項目テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[帳票可変項目テーブル](
	[帳票番号] [smallint] NOT NULL,
	[連番] [smallint] NOT NULL,
	[帳票名] [varchar](30) NULL,
	[可変項目] [varchar](100) NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_帳票可変項目テーブル] PRIMARY KEY NONCLUSTERED 
(
	[帳票番号] ASC,
	[連番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
