USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[S在庫ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S在庫ワーク](
	[年月度] [varchar](6) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[在庫数] [decimal](11, 0) NULL,
	[実棚日] [varchar](8) NULL,
	[月末在庫] [decimal](11, 0) NULL,
	[作成端末] [varchar](20) NOT NULL,
 CONSTRAINT [PK_S在庫ワーク] PRIMARY KEY CLUSTERED 
(
	[品番] ASC,
	[年月度] ASC,
	[作成端末] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
