USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[購入単価ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[購入単価ワーク](
	[処理端末] [varchar](20) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[契約先] [varchar](7) NOT NULL,
	[履歴NO] [int] NULL,
	[仮単価区分] [varchar](1) NULL,
	[単価] [decimal](9, 2) NULL,
	[有無償区分] [varchar](1) NULL,
	[適用開始日付] [varchar](8) NULL,
	[適用終了日付] [varchar](8) NULL,
	[前回履歴NO] [int] NULL,
	[前回仮単価区分] [varchar](1) NULL,
	[前回単価] [decimal](9, 2) NULL,
	[前回有無賞区分] [varchar](1) NULL,
 CONSTRAINT [PK_購入単価ワーク] PRIMARY KEY CLUSTERED 
(
	[処理端末] ASC,
	[品番] ASC,
	[取引先] ASC,
	[契約先] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
