USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料入荷テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料入荷テーブル](
	[発注管理NO] [int] NOT NULL,
	[納入番号] [varchar](5) NOT NULL,
	[納品書頁] [tinyint] NOT NULL,
	[納品書行] [tinyint] NOT NULL,
	[分納区分] [tinyint] NULL,
	[仕入先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[材質] [varchar](25) NOT NULL,
	[板厚] [decimal](6, 2) NOT NULL,
	[幅] [decimal](6, 2) NOT NULL,
	[長さ] [decimal](6, 2) NOT NULL,
	[材料管理番号] [int] NOT NULL,
	[背番号] [varchar](8) NULL,
	[入荷日] [varchar](8) NULL,
	[入荷便] [varchar](2) NULL,
	[収容数] [decimal](9, 3) NULL,
	[入荷枚数] [int] NULL,
	[入荷端数] [decimal](9, 3) NULL,
	[入荷数] [decimal](11, 3) NULL,
	[分割数] [decimal](11, 3) NULL,
	[挽回日] [varchar](8) NULL,
	[挽回便] [varchar](2) NULL,
	[入荷備考] [varchar](6) NULL,
	[分割納品書NO] [varchar](5) NULL,
	[検収区分] [varchar](1) NULL,
	[検収年月] [varchar](6) NULL,
	[検収処理日] [varchar](8) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[作成者] [varchar](15) NULL,
	[更新日] [datetime] NULL,
	[更新端末] [varchar](20) NULL,
	[更新者] [varchar](15) NULL,
	[支給検収区分] [varchar](1) NULL,
	[支給検収年月] [varchar](6) NULL,
	[支給検収処理日] [varchar](8) NULL,
	[支給納入番号] [varchar](5) NULL,
	[支給実績管理NO] [int] NULL,
 CONSTRAINT [PK_材料入荷テーブル] PRIMARY KEY CLUSTERED 
(
	[発注管理NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
