USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[納入指示進捗ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[納入指示進捗ワーク](
	[処理端末] [varchar](20) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[区分] [tinyint] NOT NULL,
	[値1] [varchar](20) NULL,
	[値2] [varchar](20) NULL,
	[値3] [varchar](20) NULL,
	[値4] [varchar](20) NULL,
	[値5] [varchar](20) NULL,
	[値6] [varchar](20) NULL,
	[値7] [varchar](20) NULL,
	[値8] [varchar](20) NULL,
	[値9] [varchar](20) NULL,
	[値10] [varchar](20) NULL,
	[値11] [varchar](20) NULL,
	[値12] [varchar](20) NULL,
	[値13] [varchar](20) NULL,
	[値14] [varchar](20) NULL,
	[値15] [varchar](20) NULL,
	[値16] [varchar](20) NULL,
	[値17] [varchar](20) NULL,
	[値18] [varchar](20) NULL,
	[値19] [varchar](20) NULL,
	[値20] [varchar](20) NULL,
	[値21] [varchar](20) NULL,
	[値22] [varchar](20) NULL,
	[値23] [varchar](20) NULL,
	[値24] [varchar](20) NULL,
	[値25] [varchar](20) NULL,
	[値26] [varchar](20) NULL,
	[値27] [varchar](20) NULL,
	[値28] [varchar](20) NULL,
	[値29] [varchar](20) NULL,
	[値30] [varchar](20) NULL,
	[値31] [varchar](20) NULL,
	[値32] [varchar](20) NULL,
	[値33] [varchar](20) NULL,
	[値34] [varchar](20) NULL,
	[値35] [varchar](20) NULL,
	[値36] [varchar](20) NULL,
	[値37] [varchar](20) NULL,
	[値38] [varchar](20) NULL,
	[値39] [varchar](20) NULL,
	[値40] [varchar](20) NULL,
	[値41] [varchar](20) NULL,
	[値42] [varchar](20) NULL,
	[値43] [varchar](20) NULL,
	[値44] [varchar](20) NULL,
	[値45] [varchar](20) NULL,
	[値46] [varchar](20) NULL,
	[値47] [varchar](20) NULL,
	[値48] [varchar](20) NULL,
	[値49] [varchar](20) NULL,
	[値50] [varchar](20) NULL,
	[値51] [varchar](20) NULL,
	[値52] [varchar](20) NULL,
	[値53] [varchar](20) NULL,
	[値54] [varchar](20) NULL,
	[値55] [varchar](20) NULL,
	[値56] [varchar](20) NULL,
	[値57] [varchar](20) NULL,
	[値58] [varchar](20) NULL,
	[値59] [varchar](20) NULL,
	[値60] [varchar](20) NULL,
	[値61] [varchar](20) NULL,
	[値62] [varchar](20) NULL,
	[値63] [varchar](20) NULL,
	[値64] [varchar](20) NULL,
	[値65] [varchar](20) NULL,
	[値66] [varchar](20) NULL,
	[値67] [varchar](20) NULL,
	[値68] [varchar](20) NULL,
	[値69] [varchar](20) NULL,
	[値70] [varchar](20) NULL,
	[値71] [varchar](20) NULL,
	[値72] [varchar](20) NULL,
 CONSTRAINT [PK_納入指示進捗ワーク_1] PRIMARY KEY CLUSTERED 
(
	[処理端末] ASC,
	[品番] ASC,
	[取引先] ASC,
	[区分] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
