USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[K_構成マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[K_構成マスタ](
	[上位品目コード] [varchar](20) NULL,
	[下位品目コード] [varchar](20) NULL,
	[原単位] [varchar](10) NULL,
	[不良加算率] [varchar](4) NULL,
	[支給区分] [varchar](1) NULL,
	[直送区分] [varchar](1) NULL,
	[上位品目ダミー] [varchar](1) NULL,
	[使用開始日] [varchar](6) NULL,
	[使用終了日] [varchar](6) NULL,
	[下位品目区分] [varchar](1) NULL,
	[空き] [varchar](4) NULL
) ON [PRIMARY]
GO
