USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料棚卸理論在庫マイナスワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料棚卸理論在庫マイナスワーク](
	[材料管理番号] [int] NOT NULL,
	[在庫数] [int] NULL,
	[処理端末] [varchar](20) NULL
) ON [PRIMARY]
GO
