USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[売上実績テーブル_BAK]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[売上実績テーブル_BAK](
	[検収管理NO] [int] NOT NULL,
	[検収管理行NO] [tinyint] NOT NULL,
	[実績年月] [varchar](6) NOT NULL,
	[品番] [varchar](25) NULL,
	[背番号] [varchar](8) NULL,
	[納入先] [varchar](7) NULL,
	[契約先] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[車型] [varchar](5) NULL,
	[実績区分] [tinyint] NULL,
	[実績処理日] [varchar](8) NULL,
	[正式実績年月] [varchar](6) NULL,
	[正式実績処理日] [varchar](8) NULL,
	[納入番号] [varchar](9) NULL,
	[検収年月日] [varchar](8) NULL,
	[赤黒区分] [tinyint] NULL,
	[単価] [decimal](11, 2) NULL,
	[仮単価区分] [varchar](1) NULL,
	[納入数] [int] NULL,
	[適用開始日付] [varchar](8) NULL,
	[金額] [int] NULL,
	[計算方法] [tinyint] NULL,
	[計算単位] [tinyint] NULL,
	[締日] [tinyint] NULL,
	[前回実績年月] [varchar](6) NULL,
	[明細件数] [smallint] NULL,
	[入力区分] [varchar](1) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[作成者] [varchar](15) NULL
) ON [PRIMARY]
GO
