USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料代用マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料代用マスタ](
	[材料管理番号] [int] NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[板厚] [decimal](6, 2) NOT NULL,
	[幅] [decimal](6, 2) NOT NULL,
	[長さ] [decimal](6, 2) NOT NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
 CONSTRAINT [PK_材料品番代用マスタ_1] PRIMARY KEY CLUSTERED 
(
	[材料管理番号] ASC,
	[品番] ASC,
	[板厚] ASC,
	[幅] ASC,
	[長さ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
