USE [SIMTOKIDB]
GO
/****** Object:  View [dbo].[検収状況問合ビュー]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  VIEW [dbo].[検収状況問合ビュー]
AS
SELECT
	CASE WHEN ISNULL(KN.検収日,'') <> '' THEN
		SUBSTRING(KN.検収日,1,4) + '/' + SUBSTRING(KN.検収日,5,2) + '/' + 
		SUBSTRING(KN.検収日,7,2)
	END 表示検収日,
	CASE WHEN ISNULL(KN.実績年月,'') <> '' THEN
		SUBSTRING(KN.実績年月,1,4) + '/' + SUBSTRING(KN.実績年月,5,2) 
	END 表示実績年月,
	CASE WHEN KN.更新日 Is NUll THEN
		Convert(Varchar(10),KN.作成日,111)
	        Else
		Convert(Varchar(10),KN.更新日,111)
	END 表示入力日,
	CASE WHEN ISNULL(HN.表示品番,'') = '' THEN KN.品番 ELSE HN.表示品番 END 表示品番,
	' ' + KN.背番号 表示背番号,HN.品名,
	CASE WHEN ISNULL(TR.取引先CD,'') = '' Then KN.納入先 ELSE KN.納入先 + '：' + RTRIM(TR.略称) End 編集納入先,
	KN.受入,KN.収容数,
	CASE WHEN KN.赤黒区分 <> 0 THEN KN.枚数 * -1 ELSE KN.枚数 END 枚数,
	CASE WHEN KN.赤黒区分 <> 0 THEN KN.検収数 * -1 ELSE KN.検収数 END 検収数,
	KN.納入番号 + '-' + CAST(KN.納品書頁 As VARCHAR(2)) 表示納入番号,
	ISNULL(HN.車型,'') 車型,
	ISNULL(HT.置場,'') 置場,
	CASE WHEN ISNULL(TR3.取引先CD,'') = '' Then '' ELSE HT.契約先 + '：' + RTRIM(TR3.略称) End 編集契約先,
	
	KN.検収日,KN.納入先,KN.品番,KN.背番号,
	KN.納入番号,KN.納品書頁,KN.納品書行,KN.実績年月,
	KN.検収管理NO
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2008/06/11 INSERT START
   ,ISNULL(HT.自社工区, '') 自社工区, ISNULL(SY1.値名称, '') 自社工区名,
	CASE WHEN ISNULL(JT.単価,0) <> 0 THEN 
		 CASE WHEN ISNULL(TR3.計算単位, 0) = 0 THEN   ROUND(KN.検収数 * JT.単価, 0, 1) -- 切捨て
			  WHEN ISNULL(TR3.計算単位, 0) = 1 THEN CEILING(KN.検収数 * JT.単価) 	  -- 切上げ
			  WHEN ISNULL(TR3.計算単位, 0) = 2 THEN   ROUND(KN.検収数 * JT.単価, 0)	  -- 四捨五入
			  WHEN ISNULL(TR3.計算単位, 0) = 3 THEN 
			  CASE WHEN ISNULL(TR3.計算位1, 0) = 0 THEN
					    CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND(  ROUND(KN.検収数 * JT.単価, 1, 1), 0, 1    )	-- １：切捨て　　２：切捨て
							 WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND(CEILING(KN.検収数 * JT.単価 * 10) / 10, 0, 1)	-- １：切捨て　　２：切上げ
							 WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND(  ROUND(KN.検収数 * JT.単価, 1)   , 0, 1    ) -- １：切捨て　　２：四捨五入
					    END
				   WHEN ISNULL(TR3.計算位1, 0) = 1 THEN
					    CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN CEILING(  ROUND(KN.検収数 * JT.単価, 1, 1)          )	-- １：切上げ　　２：切捨て
							 WHEN ISNULL(TR3.計算位2, 0) = 1 THEN CEILING(CEILING(KN.検収数 * JT.単価 * 10) / 10      )	-- １：切上げ　　２：切上げ
							 WHEN ISNULL(TR3.計算位2, 0) = 2 THEN CEILING(  ROUND(KN.検収数 * JT.単価, 1)             )	-- １：切上げ　　２：四捨五入
					    END
				   WHEN ISNULL(TR3.計算位1, 0) = 2 THEN
					    CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND(  ROUND(KN.検収数 * JT.単価, 1, 1), 0       )	-- １：四捨五入　２：切捨て
							 WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND(CEILING(KN.検収数 * JT.単価 * 10 )/ 10, 0   )	-- １：四捨五入　２：切上げ
							 WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND(  ROUND(KN.検収数 * JT.単価, 1   ), 0       )	-- １：四捨五入　２：四捨五入
					    END
			  END
         WHEN ISNULL(JT2.単価,0) <> 0 THEN 
			  CASE WHEN ISNULL(TR3.計算単位, 0) = 0 THEN   ROUND(KN.検収数 * JT2.単価, 0, 1) -- 切捨て
			  	   WHEN ISNULL(TR3.計算単位, 0) = 1 THEN CEILING(KN.検収数 * JT2.単価) 	  -- 切上げ
				   WHEN ISNULL(TR3.計算単位, 0) = 2 THEN   ROUND(KN.検収数 * JT2.単価, 0)	  -- 四捨五入
				   WHEN ISNULL(TR3.計算単位, 0) = 3 THEN 
				   CASE WHEN ISNULL(TR3.計算位1, 0) = 0 THEN
							 CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND(  ROUND(KN.検収数 * JT2.単価, 1, 1), 0, 1    )	-- １：切捨て　　２：切捨て
							 	  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND(CEILING(KN.検収数 * JT2.単価 * 10) / 10, 0, 1)	-- １：切捨て　　２：切上げ
								  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND(  ROUND(KN.検収数 * JT2.単価, 1)   , 0, 1    )	-- １：切捨て　　２：四捨五入
							 END
					    WHEN ISNULL(TR3.計算位1, 0) = 1 THEN
							 CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN CEILING(  ROUND(KN.検収数 * JT2.単価, 1, 1)          )	-- １：切上げ　　２：切捨て
								  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN CEILING(CEILING(KN.検収数 * JT2.単価 * 10) / 10      )	-- １：切上げ　　２：切上げ
								  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN CEILING(  ROUND(KN.検収数 * JT2.単価, 1)             )	-- １：切上げ　　２：四捨五入
							 END
					    WHEN ISNULL(TR3.計算位1, 0) = 2 THEN
							 CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND(  ROUND(KN.検収数 * JT2.単価, 1, 1), 0       )	-- １：四捨五入　２：切捨て
								  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND(CEILING(KN.検収数 * JT2.単価 * 10 )/ 10, 0   )	-- １：四捨五入　２：切上げ
								  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND(  ROUND(KN.検収数 * JT2.単価, 1   ), 0       )	-- １：四捨五入　２：四捨五入
							 END
				  END
              END
         END
	 ELSE 0 END 金額
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2008/06/11 INSERT END
	FROM 検収テーブル KN ( NoLock)
	Left Outer Join 品番マスタ HN ( NoLock)
		ON HN.品番 = KN.品番
	Left Outer Join 品番取引先マスタ HT ( NoLock)
		ON HT.品番 = KN.品番
		And HT.取引先 = KN.納入先
		And HT.受入 = KN.受入
	Left Outer Join 取引先マスタ TR ( Nolock )
		ON TR.取引先区分 = 0
	 	And TR.取引先CD = KN.納入先
	Left Outer Join 取引先マスタ TR3 ( Nolock )
		ON TR3.取引先区分 = 0
	 	And TR3.取引先CD = HT.契約先
		And TR3.契約先区分 = 1
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2008/06/11 INSERT START
	LEFT OUTER JOIN 名称マスタ SY1
		 ON SY1.区分名称 = '自社工区'
		AND SY1.値 = ISNULL(HT.自社工区, '')
		AND SY1.区分タイプ = ''
	Left Outer Join 受注単価マスタ JT
         ON  JT.品番 = KN.品番
        AND  JT.取引先 = KN.納入先
        AND  JT.適用開始日付 <= KN.検収日
        AND  JT.仮単価区分 = ''
        AND (JT.適用終了日付 = '' Or (JT.適用終了日付 <> ''
        AND  JT.適用終了日付 >= KN.検収日 ))
        AND  JT.履歴NO = ( SELECT MAX(JT1.履歴NO) FROM  受注単価マスタ JT1
                             Where  JT1.品番 = KN.品番
                               AND  JT1.取引先 = KN.納入先
                               AND  JT1.仮単価区分 = ''
                               AND  JT1.適用開始日付 <= KN.検収日
                               And (JT1.適用終了日付 = '' Or (JT1.適用終了日付 <> ''
                               And  JT1.適用終了日付 >= KN.検収日 )) )
    Left Outer Join 受注単価マスタ JT2
         ON  JT2.品番 = KN.品番
        AND  JT2.取引先 = KN.納入先
        AND  JT2.適用開始日付 <= KN.検収日
        AND  JT2.仮単価区分 = '1'
        AND (JT2.適用終了日付 = '' Or (JT2.適用終了日付 <> ''
        AND  JT2.適用終了日付 >= KN.検収日 ))
        AND  JT2.履歴NO = ( SELECT MAX(JT3.履歴NO) FROM  受注単価マスタ JT3
                             Where  JT3.品番 = KN.品番
                               AND  JT3.取引先 = KN.納入先
                               AND  JT3.仮単価区分 = ''
                               AND  JT3.適用開始日付 <= KN.検収日
                               And (JT3.適用終了日付 = '' Or (JT3.適用終了日付 <> ''
                               And  JT3.適用終了日付 >= KN.検収日 )) )
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2008/06/11 INSERT END
GO
