USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[売上予想未登録テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[売上予想未登録テーブル](
	[内示年月] [varchar](6) NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[管理番号] [varchar](6) NOT NULL,
	[号補区分] [varchar](1) NOT NULL,
	[工区] [varchar](1) NULL,
	[内示数] [int] NULL,
	[翌月内示数] [int] NULL,
	[翌々月内示数] [int] NULL,
	[作成端末] [varchar](15) NULL,
	[作成日] [varchar](10) NULL,
	[作成時間] [varchar](5) NULL
) ON [PRIMARY]
GO
