USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[K_取引先マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[K_取引先マスタ](
	[取引先コード] [varchar](7) NULL,
	[取引先区分] [varchar](1) NULL,
	[取引先名] [varchar](30) NULL,
	[取引先名略称] [varchar](12) NULL,
	[取引先名カナ] [varchar](1) NULL,
	[住所1] [varchar](30) NULL,
	[住所2] [varchar](30) NULL,
	[郵便番号] [varchar](6) NULL,
	[電話番号] [varchar](12) NULL,
	[注文書形式区分] [varchar](1) NULL,
	[締日1] [varchar](2) NULL,
	[締日2] [varchar](2) NULL,
	[締日3] [varchar](2) NULL,
	[集金日] [varchar](2) NOT NULL,
	[与信限度額] [varchar](50) NULL,
	[請求先コード] [varchar](7) NULL
) ON [PRIMARY]
GO
