USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[売上単価未決ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[売上単価未決ワーク](
	[処理端末] [varchar](20) NOT NULL,
	[検収管理NO] [int] NULL,
	[検収管理行NO] [tinyint] NULL
) ON [PRIMARY]
GO
