USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[売上照合結果ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[売上照合結果ワーク](
	[照合結果] [varchar](2) NOT NULL,
	[照合日付] [varchar](8) NULL,
	[照合品番] [varchar](25) NULL,
	[照合納番] [varchar](10) NULL,
	[照合管理] [varchar](10) NULL,
	[財務管理番号] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [KEY]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [KEY] ON [dbo].[売上照合結果ワーク]
(
	[照合結果] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [KEY2]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [KEY2] ON [dbo].[売上照合結果ワーク]
(
	[照合日付] ASC,
	[照合品番] ASC,
	[照合納番] ASC,
	[照合管理] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
