USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[入荷テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[入荷テーブル](
	[発注管理NO] [int] NOT NULL,
	[納入番号] [varchar](5) NOT NULL,
	[納品書頁] [tinyint] NOT NULL,
	[納品書行] [tinyint] NOT NULL,
	[分納区分] [tinyint] NULL,
	[仕入先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[背番号] [varchar](8) NULL,
	[入荷日] [varchar](8) NULL,
	[入荷便] [varchar](2) NULL,
	[収容数] [int] NULL,
	[入荷枚数] [int] NULL,
	[入荷端数] [int] NULL,
	[入荷数] [int] NULL,
	[分割数] [int] NULL,
	[挽回日] [varchar](8) NULL,
	[挽回便] [varchar](2) NULL,
	[分割納品書NO] [varchar](5) NULL,
	[検収区分] [varchar](1) NULL,
	[検収年月] [varchar](6) NULL,
	[検収処理日] [varchar](8) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[作成者] [varchar](15) NULL,
	[更新日] [datetime] NULL,
	[更新端末] [varchar](20) NULL,
	[更新者] [varchar](15) NULL,
	[支給検収区分] [varchar](1) NULL,
	[支給検収年月] [varchar](6) NULL,
	[支給検収処理日] [varchar](8) NULL,
	[TNS作成区分] [tinyint] NULL,
	[TNS作成管理NO] [int] NULL,
	[TNS作成日] [varchar](8) NULL,
	[TNS作成処理日] [datetime] NULL,
	[TNS連番] [int] NULL,
	[TNS作成区分2] [tinyint] NULL,
	[TNS作成管理NO2] [int] NULL,
	[TNS作成日2] [varchar](8) NULL,
	[TNS作成処理日2] [datetime] NULL,
	[TNS連番2] [int] NULL,
 CONSTRAINT [PK_入荷テーブル] PRIMARY KEY CLUSTERED 
(
	[発注管理NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [計画対比]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [計画対比] ON [dbo].[入荷テーブル]
(
	[入荷日] ASC,
	[受入] ASC,
	[仕入先] ASC,
	[品番] ASC,
	[背番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
