USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[生産負荷表示ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[生産負荷表示ワーク](
	[作成端末] [varchar](20) NULL,
	[部門] [varchar](50) NULL,
	[機械] [varchar](50) NULL,
	[ﾛﾎﾞｯﾄ区分] [varchar](10) NULL,
	[機械NO] [varchar](50) NULL,
	[工程] [varchar](50) NULL,
	[種別] [varchar](4) NULL,
	[数量] [int] NULL,
	[表示工程数] [decimal](10, 1) NULL,
	[基準時間] [decimal](10, 3) NULL,
	[ワーク部門] [varchar](7) NULL,
	[ワーク機械] [varchar](3) NULL,
	[ワークロボット] [tinyint] NULL,
	[ワーク機械NO] [varchar](3) NULL,
	[ワーク工程] [varchar](3) NULL,
	[ワーク種別] [tinyint] NULL,
	[ワーク工程数] [decimal](4, 1) NULL
) ON [PRIMARY]
GO
