USE [SIMTOKIDB]
GO
/****** Object:  View [dbo].[受給検収問合ビュー]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO



CREATE       VIEW [dbo].[受給検収問合ビュー]
AS

SELECT
	CASE WHEN ISNULL(MK.納入日,'') = '' THEN
		CASE WHEN ISNULL(MK.納入便,'') = '' THEN '' 
		ELSE SPACE(10) + '-' + MK.納入便 END
	ELSE
		CASE WHEN ISNULL(MK.納入便,'') = '' THEN 
			SUBSTRING(MK.納入日,1,4) + '/' + SUBSTRING(MK.納入日,5,2) + '/' + 
			SUBSTRING(MK.納入日,7,2)
		ELSE
			SUBSTRING(MK.納入日,1,4) + '/' + SUBSTRING(MK.納入日,5,2) + '/' + 
			SUBSTRING(MK.納入日,7,2) + '- ' + MK.納入便 END
	END 納入日便,
	CASE WHEN ISNULL(MK.検収日,'') <> '' THEN
			SUBSTRING(MK.検収日,1,4) + '/' + SUBSTRING(MK.検収日,5,2) + '/' + 
			SUBSTRING(MK.検収日,7,2)
		ELSE SPACE(10)  END 編集検収日,
	MK.納入日,MK.納入便,MK.検収日,MK.品番,MK.背番号,MK.発注区分,MK.代行契約先,
	MK.仕入先,CASE WHEN ISNULL(TR2.略称,'') <> '' THEN MK.仕入先 + ':' + TR2.略称 ELSE MK.仕入先 END 編集仕入先,
	CASE WHEN ISNULL(HN.表示品番,'') = '' THEN MK.品番 ELSE HN.表示品番 END 表示品番,
	' ' + MK.背番号 表示背番号,HN.品名,
	MK.契約先,CASE WHEN ISNULL(TR.略称,'') <> '' THEN MK.契約先 + ':' + TR.略称 ELSE MK.契約先 END 編集契約先,
	MK.支給元1,
	MK.支給元体系,MK.支給元2,
	CASE WHEN ISNULL(MK.受注者工場,'') = '' Then MK.受注者 ELSE MK.受注者 + '-' + MK.受注者工場 End 編集契約仕入先,
	MK.受入,MK.収容数,MK.枚数,MK.検収数,
	MK.納入番号,
	CASE WHEN MK.納品書頁 <> 0 AND MK.総頁 <> 0 THEN CAST(MK.納品書頁 As VARCHAR(2)) + '/' + CAST(MK.総頁 As VARCHAR(2)) ELSE '' END 表示頁,
	ISNULL(SY1.値名称,'') 発注区分名,
	CASE WHEN ISNULL(MK.発注者工場,'') = '' Then MK.発注者 ELSE MK.発注者 + '-' + MK.発注者工場 End 編集契約納入先,
	MK.出荷場,MK.カード,
	CASE WHEN MK.赤黒区分 <> 0 THEN '赤' ELSE '' END 赤黒区分,
	CASE WHEN ISNULL(MK.発行日,'') <> '' THEN
		SUBSTRING(MK.発行日,1,4) + '/' + SUBSTRING(MK.発行日,5,2) + '/' + 
		SUBSTRING(MK.発行日,7,2)
	ELSE '' END 編集発行日,
	CASE WHEN ISNULL(MK.TNS作成日,'') <> '' THEN
		SUBSTRING(MK.TNS作成日,1,4) + '/' + SUBSTRING(MK.TNS作成日,5,2) + '/' + 
		SUBSTRING(MK.TNS作成日,7,2)
	ELSE '' END 編集TNS送信日,MK.TNS作成日,
	CASE WHEN ISNULL(MK.TNS作成日2,'') <> '' THEN
		SUBSTRING(MK.TNS作成日2,1,4) + '/' + SUBSTRING(MK.TNS作成日2,5,2) + '/' + 
		SUBSTRING(MK.TNS作成日2,7,2)
	ELSE '' END 編集TNS送信日2,MK.TNS作成日2,
	CASE WHEN ISNULL(MK.実績年月,'') <> '' THEN
		SUBSTRING(MK.実績年月,1,4) + '/' + SUBSTRING(MK.実績年月,5,2)
	ELSE '' END 編集実績年月,
	MK.受給管理NO,
	CASE WHEN MK.作成種別 = 'M' THEN '前工程JAMA'
		WHEN MK.作成種別 = 'G' THEN '画面入力'
	         ELSE 'その他' END 作成種別

	FROM 受給検収テーブル MK ( NoLock)
	LEFT OUTER JOIN 品番マスタ HN ( NoLock)
	    ON HN.品番 = MK.品番
	LEFT OUTER JOIN 取引先マスタ TR ( Nolock )
		ON TR.取引先区分 = 1
	 	And TR.取引先CD = MK.契約先
	LEFT OUTER JOIN 取引先マスタ TR2 ( Nolock )
		ON TR2.取引先区分 = 1
	 	And TR2.取引先CD = MK.仕入先
	LEFT OUTER JOIN 名称マスタ SY1 ( Nolock )
		ON  SY1.区分名称 = 'JAMA発注区分'
		And SY1.区分タイプ = ''
		And SY1.値 = MK.発注区分





GO
