USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[売上変更履歴テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[売上変更履歴テーブル](
	[連番] [int] IDENTITY(1,1) NOT NULL,
	[処理区分] [varchar](1) NULL,
	[削除区分] [varchar](1) NULL,
	[売上年月] [varchar](6) NULL,
	[日付] [varchar](8) NULL,
	[便] [varchar](2) NULL,
	[契約先] [varchar](7) NULL,
	[納入先] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[処理件数] [int] NULL,
	[変更前年月] [varchar](6) NULL,
	[作成元区分] [varchar](1) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[作成者] [varchar](15) NULL,
 CONSTRAINT [PK_売上変更履歴テーブル] PRIMARY KEY CLUSTERED 
(
	[連番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_売上変更履歴テーブル]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [IX_売上変更履歴テーブル] ON [dbo].[売上変更履歴テーブル]
(
	[売上年月] ASC,
	[処理区分] ASC,
	[削除区分] ASC,
	[日付] ASC,
	[便] ASC,
	[契約先] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
