USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[かんばん平準化テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[かんばん平準化テーブル](
	[取引先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[開始日] [varchar](8) NOT NULL,
	[終了日] [varchar](8) NULL,
	[設定内容区分] [tinyint] NULL,
	[平準化区分] [tinyint] NULL,
	[便上限枚数] [int] NULL,
	[日上限枚数] [int] NULL,
	[月上限枚数] [int] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
	[内示年月] [varchar](6) NULL,
 CONSTRAINT [PK_かんばん平準化テーブル] PRIMARY KEY NONCLUSTERED 
(
	[取引先] ASC,
	[受入] ASC,
	[品番] ASC,
	[開始日] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
