USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料発注内示仕掛ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料発注内示仕掛ワーク](
	[材料管理番号] [int] NOT NULL,
	[手配先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[直送先] [varchar](7) NOT NULL,
	[納期] [varchar](8) NOT NULL,
	[仕掛日] [varchar](8) NULL,
	[発注日] [varchar](8) NULL,
	[数量] [decimal](12, 3) NULL,
	[LT] [tinyint] NULL,
	[ロット] [decimal](9, 3) NULL,
	[WEEK1] [tinyint] NULL,
	[WEEK2] [tinyint] NULL,
	[WEEK3] [tinyint] NULL,
	[WEEK4] [tinyint] NULL,
	[WEEK5] [tinyint] NULL,
	[DAY1] [tinyint] NULL,
	[DAY2] [tinyint] NULL,
	[DAY3] [tinyint] NULL,
	[DAY4] [tinyint] NULL,
	[DAY5] [tinyint] NULL,
	[稼動カウント] [tinyint] NULL,
	[ロット端数] [decimal](12, 3) NULL,
	[処理番号] [int] NULL,
 CONSTRAINT [PK_材料発注内示仕掛ワーク] PRIMARY KEY NONCLUSTERED 
(
	[材料管理番号] ASC,
	[手配先] ASC,
	[受入] ASC,
	[直送先] ASC,
	[納期] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 60, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
