USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[受注単価マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[受注単価マスタ](
	[品番] [varchar](25) NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[履歴NO] [int] NOT NULL,
	[仮単価区分] [varchar](1) NULL,
	[単価] [decimal](9, 2) NULL,
	[適用開始日付] [varchar](8) NULL,
	[適用終了日付] [varchar](8) NULL,
	[部品単価] [decimal](9, 2) NULL,
	[梱包単価] [decimal](9, 2) NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_受注単価マスタ] PRIMARY KEY CLUSTERED 
(
	[品番] ASC,
	[取引先] ASC,
	[履歴NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
