USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[単価未登録一覧ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[単価未登録一覧ワーク](
	[処理端末] [varchar](20) NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[契約先] [varchar](7) NULL,
	[品番] [varchar](25) NULL,
	[日付] [varchar](8) NULL,
	[数量] [int] NULL,
	[作成日] [datetime] NULL
) ON [PRIMARY]
GO
