USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[かんばん流動社内テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[かんばん流動社内テーブル](
	[取引先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[発行NO] [smallint] NOT NULL,
	[流動日付] [varchar](8) NULL,
	[発行区分] [tinyint] NULL,
	[版数] [tinyint] NULL,
	[有効指示日] [varchar](8) NULL,
	[無効指示日] [varchar](8) NULL,
	[回収日] [varchar](8) NULL,
	[収容区分] [tinyint] NULL,
	[所番地区分] [tinyint] NULL,
	[所番地] [varchar](8) NULL,
	[収容数] [int] NULL,
	[箱種] [varchar](10) NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_かんばん流動社内テーブル] PRIMARY KEY CLUSTERED 
(
	[取引先] ASC,
	[受入] ASC,
	[品番] ASC,
	[発行NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
