USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[構成マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[構成マスタ](
	[親品番] [varchar](25) NOT NULL,
	[子品番] [varchar](25) NOT NULL,
	[構成数] [decimal](8, 4) NULL,
	[展開区分] [tinyint] NULL,
	[LT] [tinyint] NULL,
	[適用開始日] [varchar](8) NULL,
	[適用終了日] [varchar](8) NULL,
	[レベル] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_構成マスタ] PRIMARY KEY NONCLUSTERED 
(
	[親品番] ASC,
	[子品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_構成マスタ]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [IX_構成マスタ] ON [dbo].[構成マスタ]
(
	[展開区分] ASC,
	[親品番] ASC,
	[子品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_構成マスタ_1]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [IX_構成マスタ_1] ON [dbo].[構成マスタ]
(
	[子品番] ASC,
	[レベル] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
