USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[abc01]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[abc01](
	[計算方法] [tinyint] NULL,
	[計算単位] [tinyint] NULL,
	[締日] [tinyint] NULL,
	[契約先] [varchar](7) NULL,
	[車型] [varchar](5) NULL,
	[出荷指示書NO] [int] NULL,
	[出荷指示書行NO] [tinyint] NULL,
	[品番] [varchar](25) NULL,
	[背番号] [varchar](8) NULL,
	[納入先] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[出荷日] [varchar](8) NULL,
	[納入番号] [varchar](9) NULL,
	[出荷数] [int] NULL,
	[赤黒区分] [int] NOT NULL,
	[計算位1] [tinyint] NOT NULL,
	[計算位2] [tinyint] NOT NULL
) ON [PRIMARY]
GO
