USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[展開在庫品番集計ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[展開在庫品番集計ワーク](
	[年月度] [varchar](6) NULL,
	[品番] [varchar](25) NULL,
	[在庫数] [decimal](11, 0) NULL,
	[実棚日] [varchar](8) NULL
) ON [PRIMARY]
GO
