USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[内示日量取引先WK]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[内示日量取引先WK](
	[処理端末] [varchar](20) NOT NULL,
	[内示年月] [varchar](6) NOT NULL,
	[計画年月] [varchar](6) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[取引先] [varchar](8) NOT NULL,
	[受入] [varchar](2) NULL,
	[発注比率] [int] NULL,
	[発注比率計] [int] NULL,
	[納期] [varchar](8) NULL,
	[内示数量] [int] NULL
) ON [PRIMARY]
GO
