USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[構成レベルワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[構成レベルワーク](
	[親品番] [varchar](25) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[レベル] [tinyint] NOT NULL,
	[展開区分] [tinyint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_構成レベルワーク]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [IX_構成レベルワーク] ON [dbo].[構成レベルワーク]
(
	[レベル] ASC,
	[品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
