USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[eかんばん変換履歴テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eかんばん変換履歴テーブル](
	[履歴管理番号] [int] NOT NULL,
	[受注出荷区分] [tinyint] NOT NULL,
	[開始日時] [datetime] NULL,
	[終了日時] [datetime] NULL,
	[処理日付] [varchar](8) NULL,
	[処理回数] [int] NULL,
	[退避連番] [int] NULL,
	[入力件数] [int] NULL,
	[変換件数] [int] NULL,
	[変換エラー件数] [int] NULL,
	[空] [int] NULL,
	[重複] [int] NULL,
	[ERR収容数] [int] NULL,
	[ERR背番号] [int] NULL,
	[ERR受注] [int] NULL,
	[仮品番] [int] NULL,
	[仮品取] [int] NULL,
	[仮取引先] [int] NULL,
	[仮受入] [int] NULL,
	[処理区分] [tinyint] NULL,
	[起動] [tinyint] NULL,
	[入力ファイル数] [int] NULL,
	[ERR] [varchar](2) NULL,
	[退避先] [varchar](250) NULL,
	[退避先UNC] [varchar](250) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
 CONSTRAINT [PK_eかんばん変換履歴テーブル] PRIMARY KEY NONCLUSTERED 
(
	[履歴管理番号] ASC,
	[受注出荷区分] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
