USE [SIMTOKIDB]
GO
/****** Object:  View [dbo].[品番材料ビュー]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[品番材料ビュー]
AS
SELECT          1 区分, '' 表示品番, '' 品番,ZT.取引先, ZT.受入, ZT.アドレス, ZR.材質, ZR.寸法区分,ZR.板厚, ZR.幅, 
                ZR.長さ,ZR.材料管理番号
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2008/02/12 INSERT START
                ,ZT.品目
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2008/02/12 INSERT END
FROM            材料取引先マスタ ZT LEFT OUTER JOIN
                      材料マスタ ZR ON ZR.材料管理番号 = ZT.材料管理番号
UNION ALL
SELECT          0 区分, HN.表示品番, HN.品番,HT.取引先, HT.受入, HT.アドレス, '' 材質,0 寸法区分, 0 板厚, 0 幅, 
                      0 長さ,0 材料管理番号
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2008/02/12 INSERT START
                ,HT.品目
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2008/02/12 INSERT END
FROM            品番取引先マスタ HT LEFT OUTER JOIN
                      品番マスタ HN ON HN.品番 = HT.品番






GO
