USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[かんばん増減一括詳細ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[かんばん増減一括詳細ワーク](
	[処理端末] [varchar](20) NULL,
	[増減区分] [int] NULL,
	[設定枚数] [int] NULL,
	[便当枚数] [int] NULL,
	[累積枚数] [int] NULL,
	[開始日] [varchar](8) NULL,
	[終了日] [varchar](8) NULL,
	[設定内容区分] [tinyint] NULL,
	[完了日] [varchar](8) NULL,
	[平準化区分] [int] NULL,
	[平準設定枚数] [int] NULL,
	[データ更新日] [datetime] NULL
) ON [PRIMARY]
GO
