USE [SIMTOKIDB]
GO
/****** Object:  View [dbo].[内示最新ビュー]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[内示最新ビュー]
AS
Select 内示年月,FILECODE,HEAD作成日,HEADSEQ,TK.ｵﾌﾟｼｮﾝ3  内示区分,TK.契約先
	From 内示TEXTテーブル NT
	Left Outer Join TEXT管理テーブル TK
		On TK.FILECD = NT.FILECODE
	Where 内示年月 + FILECODE + HEAD作成日 + HEADSEQ  =
		( Select MAX(内示年月 + FILECODE + HEAD作成日 + HEADSEQ) 
			  	From 内示TEXTテーブル NT
					Left Outer Join TEXT管理テーブル TK
					On TK.FILECD = NT.FILECODE 
			                    And TK.ｵﾌﾟｼｮﾝ3 = 1
				Where Not TK.FILECD IS NULL )
	Group By NT.内示年月,NT.FILECODE,NT.HEAD作成日,NT.HEADSEQ,TK.ｵﾌﾟｼｮﾝ3,TK.契約先



GO
