USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[S構成展開ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S構成展開ワーク](
	[品番] [varchar](25) NOT NULL,
	[親手配先] [varchar](7) NOT NULL,
	[納期] [varchar](8) NOT NULL,
	[数量] [decimal](11, 4) NULL,
	[展開レベル] [tinyint] NULL,
	[ローレベル] [tinyint] NULL,
	[引当後数量] [decimal](11, 4) NULL,
	[在庫管理区分] [tinyint] NULL,
	[在庫管理数値] [decimal](8, 2) NULL,
	[展開区分] [tinyint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_S構成展開ワーク]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [IX_S構成展開ワーク] ON [dbo].[S構成展開ワーク]
(
	[納期] ASC,
	[品番] ASC,
	[親手配先] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_S構成展開ワーク_1]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [IX_S構成展開ワーク_1] ON [dbo].[S構成展開ワーク]
(
	[在庫管理区分] ASC,
	[納期] ASC,
	[品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_S構成展開ワーク_2]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [IX_S構成展開ワーク_2] ON [dbo].[S構成展開ワーク]
(
	[展開レベル] ASC,
	[品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
