USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[生産実績テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[生産実績テーブル](
	[生産指示書NO] [int] NOT NULL,
	[生産指示書行] [tinyint] NOT NULL,
	[明細NO] [tinyint] NOT NULL,
	[生産日] [varchar](8) NULL,
	[機械] [varchar](5) NULL,
	[担当] [varchar](3) NULL,
	[作業開始] [varchar](4) NULL,
	[作業終了] [varchar](4) NULL,
	[工数] [int] NULL,
	[実績数] [int] NULL,
	[不良数] [int] NULL,
	[備考] [varchar](40) NULL,
	[実績管理NO] [int] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_生産実績テーブル] PRIMARY KEY CLUSTERED 
(
	[生産指示書NO] ASC,
	[生産指示書行] ASC,
	[明細NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
