USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[S発注内示構成テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S発注内示構成テーブル](
	[処理端末] [varchar](20) NULL,
	[順位] [varchar](300) NULL,
	[レベル] [tinyint] NULL,
	[親品番] [varchar](25) NULL,
	[品番] [varchar](25) NULL,
	[手配先] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[直送先] [varchar](7) NULL,
	[親納期] [varchar](8) NULL,
	[納期] [varchar](8) NULL,
	[仕掛日] [varchar](8) NULL,
	[手配日] [varchar](8) NULL,
	[数量] [decimal](11, 4) NULL,
	[構成数] [decimal](11, 4) NULL,
	[手配区分] [varchar](1) NULL,
	[展開区分] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL
) ON [PRIMARY]
GO
