USE [SIMTOKIDB]
GO
/****** Object:  View [dbo].[材料支給実績状況問合ビュー]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[材料支給実績状況問合ビュー]
AS
SELECT
	HC.実績区分,
	HC.実績日,
	HC.実績便,
	CASE WHEN ISNULL(HC.実績日,'') = '' THEN
		CASE WHEN ISNULL(HC.実績便,'') = '' THEN '' 
		ELSE SPACE(10) + '-' + HC.実績便 END
	ELSE
		CASE WHEN ISNULL(HC.実績便,'') = '' THEN 
			SUBSTRING(HC.実績日,1,4) + '/' + SUBSTRING(HC.実績日,5,2) + '/' + 
			SUBSTRING(HC.実績日,7,2)
		ELSE
			SUBSTRING(HC.実績日,1,4) + '/' + SUBSTRING(HC.実績日,5,2) + '/' + 
			SUBSTRING(HC.実績日,7,2) + '- ' + HC.実績便 END
	END 実績日便,
	HC.納品書頁,
	HC.納品書行,
	HC.納入番号,
	HC.納入番号 + '-' + CAST(HC.納品書頁 As VARCHAR(2)) 表示納入番号,
	HN.材料管理番号 材料管理番号,					-- 材料管理番号を追加
	HC.材質,
	HC.背番号,
	' ' + HC.背番号 表示背番号,
	HC.収容数,
	HC.実績枚数,
	HC.実績数,
	ME1.値名称 単位名,
	HC.板厚,
	HC.幅,
	HC.長さ,
	HN.表示寸法 表示寸法,
	HC.実績先,
	HC.実績先 支給先,
	TR.略称,
	CASE WHEN ISNULL(TR.略称,'') = '' THEN
		HC.実績先
	ELSE
		HC.実績先 + '：' + RTRIM(TR.略称)
	END 編集支給先,
	HC.受入,
	HN.材種コード 材種コード,
	CASE WHEN (ISNULL(HC.入力種類,'') = '') or (ISNULL(HC.入力種類, '') = ' ') THEN 
		1 
	ELSE
		CASE WHEN ISNULL(HC.入力種類,'') = 'A' THEN
			2
		ELSE 
			0
		END
	END	入力種類コード,
	CASE WHEN (ISNULL(HC.入力種類,'') = '') or (ISNULL(HC.入力種類, '') = ' ') THEN 
		'支給' 
	ELSE
		CASE WHEN ISNULL(HC.入力種類,'') = 'A' THEN
			'直送支給'
		ELSE 
			''
		END
	END	データ区分名,
	ME2.値名称 材種名,
	ME3.値名称 形状名,
	ISNULL(HT.置場,'') 置場,
	CASE WHEN (ISNULL(HC.入力種類,'') = '') or (ISNULL(HC.入力種類, '') = ' ') THEN 
		CASE WHEN ISNULL(HT.サイクル,'') <> '' Then 
			Substring(HT.サイクル,1,1) + '-' + Substring(HT.サイクル,2,2) + '-' + Substring(HT.サイクル,4,2)
		Else '' 
		END
	ELSE
		CASE WHEN ISNULL(HC.入力種類,'') = 'A' THEN
			CASE WHEN ISNULL(HT2.サイクル,'') <> '' Then 
				Substring(HT2.サイクル,1,1) + '-' + Substring(HT2.サイクル,2,2) + '-' + Substring(HT2.サイクル,4,2)
			Else '' 
			END
		ELSE ''
		END
	End サイクル,
	HC.有無償区分,									-- 有無償区分を追加
	CASE WHEN ISNULL(HC.有無償区分,0) = '1' THEN	-- 表示用有無償区分を追加
		 '有償'
	ELSE '無償'
	END 表示有無償区分,

	CASE WHEN (ISNULL(HC.入力種類,'') = '') or (ISNULL(HC.入力種類, '') = ' ') THEN 
		CASE WHEN (ISNULL(HT.実績換算値,0) <> 0) THEN
			HT.実績換算値
		ELSE
			1
		END 
	ELSE
		CASE WHEN ISNULL(HC.入力種類,'') = 'A' THEN
			CASE WHEN ISNULL(HT2.実績換算値,0) <> 0 THEN
				HT2.実績換算値
			ELSE
				1
			END
		ELSE	1
		END
	End  実績換算値,

	HN.材料名,								-- 材料名を追加
	CASE WHEN ISNULL(KT.単価,0) <> 0 THEN	-- 単価を追加
		KT.単価
	ELSE CASE WHEN ISNULL(KT2.単価,0) <> 0 THEN
			KT2.単価
		 ELSE 0
		 END
	END 単価,


	-- 金額試験中 --	--	HC.実績数 * KT.単価 金額
CASE WHEN (ISNULL(HC.入力種類,'') = '') or (ISNULL(HC.入力種類, '') = ' ') THEN 
	CASE WHEN ISNULL(HC.有無償区分,0) <> 0 THEN 
		CASE WHEN ISNULL(KT.単価, 0) <> 0 THEN
					--* 切捨て
               CASE WHEN ISNULL(TR.計算単位, 0) = 0 THEN   ROUND( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 0, 1) * ISNULL(KT.単価, 0), 0, 1)
					--* 切上げ
                    WHEN ISNULL(TR.計算単位, 0) = 1 THEN CEILING(CEILING(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END)) * ISNULL(KT.単価, 0))
					--*  四捨五入
                    WHEN ISNULL(TR.計算単位, 0) = 2 THEN   ROUND(ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 0) * ISNULL(KT.単価, 0), 0)
					--*  詳細
                    WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                    CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
							  --*1：切捨て　2：切捨て
                         CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN   ROUND( ROUND( ROUND( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END) , 1, 1), 0, 1) * ISNULL(KT.単価,0), 1, 1), 0, 1     )			--'１：切捨て　  ２：切捨て
							  --*1：切捨て　2：切上げ
                              WHEN ISNULL(TR.計算位2, 0) = 1 THEN   ROUND( CEILING( ROUND( CEILING(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END) * 10) / 10, 0, 1) * ISNULL(KT.単価,0) * 10) / 10 , 0, 1)	--'１：切捨て 　 ２：切上げ
							  --*1：切捨て　2：四捨五入
                              WHEN ISNULL(TR.計算位2, 0) = 2 THEN   ROUND( ROUND( ROUND( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 1), 0, 1) * ISNULL(KT.単価,0), 1)   , 0, 1     )				--'１：切捨て 　 ２：四捨五入
                         End
                         WHEN ISNULL(TR.計算位1, 0) = 1 THEN
							  --*1：切上げ　2：切捨て
                         CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN CEILING( ROUND( CEILING( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 1, 1)) * ISNULL(KT.単価,0), 1, 1)           )			--'１：切上げ  　２：切捨て
							  --*1：切上げ　2：切上げ
							  WHEN ISNULL(TR.計算位2, 0) = 1 THEN CEILING( CEILING( CEILING( CEILING(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END) * 10) / 10) * ISNULL(KT.単価,0) * 10) / 10       )		--'１：切上げ  　２：切上げ
							  --*1：切上げ　2：四捨五入
                              WHEN ISNULL(TR.計算位2, 0) = 2 THEN CEILING( ROUND( CEILING( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END),1)) * ISNULL(KT.単価,0), 1)              )				--'１：切上げ  　２：四捨五入
                         End
                         WHEN ISNULL(TR.計算位1, 0) = 2 THEN
							  --*1：四捨五入　2：切捨て
                         CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN   ROUND( ROUND( ROUND( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 1, 1), 0) * ISNULL(KT.単価,0), 1, 1), 0        )			--'１：四捨五入  ２：切捨て
							  --*1：四捨五入　2：切上
                              WHEN ISNULL(TR.計算位2, 0) = 1 THEN   ROUND( CEILING( ROUND( CEILING(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END) * 10) / 10, 0) * ISNULL(KT.単価,0) * 10 ) / 10, 0   )	--'１：四捨五入  ２：切上げ
							  --*1：四捨五入　2：四捨五入
                              WHEN ISNULL(TR.計算位2, 0) = 2 THEN   ROUND( ROUND( ROUND( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 1), 0) * ISNULL(KT.単価,0), 1   ), 0        )				--'１：四捨五入  ２：四捨五入
                         End
                    End
               END
          WHEN ISNULL(KT2.単価, 0) <> 0 THEN
					--* 切捨て
               CASE WHEN ISNULL(TR.計算単位, 0) = 0 THEN   ROUND( ROUND(HC.実績数 * ISNULL(HT.実績換算値,0), 0, 1) * ISNULL(KT2.単価, 0), 0, 1)	--' 切捨て
					--* 切上げ
                    WHEN ISNULL(TR.計算単位, 0) = 1 THEN CEILING(CEILING(HC.実績数 * ISNULL(HT.実績換算値,0)) * ISNULL(KT2.単価, 0))		--' 切上げ
					--*  四捨五入
                    WHEN ISNULL(TR.計算単位, 0) = 2 THEN   ROUND(ROUND(HC.実績数 * ISNULL(HT.実績換算値,0), 0) * ISNULL(KT2.単価, 0), 0)	--' 四捨五入
					--*  詳細
                    WHEN ISNULL(TR.計算単位, 0) = 3 THEN
					CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
							 --*1：切捨て　2：切捨て
						CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN   ROUND( ROUND( ROUND( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END) , 1, 1), 0, 1) * ISNULL(KT2.単価,0), 1, 1), 0, 1     )			--'１：切捨て　  ２：切捨て
							 --*1：切捨て　2：切上げ
							 WHEN ISNULL(TR.計算位2, 0) = 1 THEN   ROUND( CEILING( ROUND( CEILING(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END) * 10) / 10, 0, 1) * ISNULL(KT2.単価,0) * 10) / 10 , 0, 1)	--'１：切捨て 　 ２：切上げ
							 --*1：切捨て　2：四捨五入
							 WHEN ISNULL(TR.計算位2, 0) = 2 THEN   ROUND( ROUND( ROUND( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 1), 0, 1) * ISNULL(KT2.単価,0), 1)   , 0, 1     )				--'１：切捨て 　 ２：四捨五入
						End
						WHEN ISNULL(TR.計算位1, 0) = 1 THEN
							 --*1：切上げ　2：切捨て
						CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN CEILING( ROUND( CEILING( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 1, 1)) * ISNULL(KT2.単価,0), 1, 1)           )			--'１：切上げ  　２：切捨て
							 --*1：切上げ　2：切上げ
							 WHEN ISNULL(TR.計算位2, 0) = 1 THEN CEILING( CEILING( CEILING( CEILING(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END) * 10) / 10) * ISNULL(KT2.単価,0) * 10) / 10       )	--'１：切上げ  　２：切上げ
							 --*1：切上げ　2：四捨五入
							 WHEN ISNULL(TR.計算位2, 0) = 2 THEN CEILING( ROUND( CEILING( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END),1)) * ISNULL(KT2.単価,0), 1)              )				--'１：切上げ  　２：四捨五入
						End
						WHEN ISNULL(TR.計算位1, 0) = 2 THEN
							 --*1：四捨五入　2：切捨て
						CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN   ROUND( ROUND( ROUND( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 1, 1), 0) * ISNULL(KT2.単価,0), 1, 1), 0        )			--'１：四捨五入  ２：切捨て
							 --*1：四捨五入　2：切上
                             WHEN ISNULL(TR.計算位2, 0) = 1 THEN   ROUND( CEILING( ROUND( CEILING(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END) * 10) / 10, 0) * ISNULL(KT2.単価,0) * 10 ) / 10, 0   )	--'１：四捨五入  ２：切上げ
							 --*1：四捨五入　2：四捨五入
                             WHEN ISNULL(TR.計算位2, 0) = 2 THEN   ROUND( ROUND( ROUND( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 1), 0) * ISNULL(KT2.単価,0), 1   ), 0        )				--'１：四捨五入  ２：四捨五入
						End
					End
				END
			END
		ELSE 0 
	END
ELSE
  CASE WHEN ISNULL(HC.入力種類,'') = 'A' THEN
	CASE WHEN ISNULL(HC.有無償区分,0) <> 0 THEN 
		CASE WHEN ISNULL(KT.単価, 0) <> 0 THEN
					--* 切捨て
               CASE WHEN ISNULL(TR3.計算単位, 0) = 0 THEN   ROUND( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 0, 1) * ISNULL(KT.単価, 0), 0, 1)
					--* 切上げ
                    WHEN ISNULL(TR3.計算単位, 0) = 1 THEN CEILING(CEILING(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END)) * ISNULL(KT.単価, 0))
					--*  四捨五入
                    WHEN ISNULL(TR3.計算単位, 0) = 2 THEN   ROUND(ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 0) * ISNULL(KT.単価, 0), 0)
					--*  詳細
                    WHEN ISNULL(TR3.計算単位, 0) = 3 THEN
                    CASE WHEN ISNULL(TR3.計算位1, 0) = 0 THEN
							  --*1：切捨て　2：切捨て
                         CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND( ROUND( ROUND( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END) , 1, 1), 0, 1) * ISNULL(KT.単価,0), 1, 1), 0, 1     )			--'１：切捨て　  ２：切捨て
							  --*1：切捨て　2：切上げ
                              WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND( CEILING( ROUND( CEILING(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END) * 10) / 10, 0, 1) * ISNULL(KT.単価,0) * 10) / 10 , 0, 1)	--'１：切捨て 　 ２：切上げ
							  --*1：切捨て　2：四捨五入
                              WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND( ROUND( ROUND( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 1), 0, 1) * ISNULL(KT.単価,0), 1)   , 0, 1     )				--'１：切捨て 　 ２：四捨五入
                         End
                         WHEN ISNULL(TR3.計算位1, 0) = 1 THEN
							  --*1：切上げ　2：切捨て
                         CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN CEILING( ROUND( CEILING( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 1, 1)) * ISNULL(KT.単価,0), 1, 1)           )			--'１：切上げ  　２：切捨て
							  --*1：切上げ　2：切上げ
							  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN CEILING( CEILING( CEILING( CEILING(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END) * 10) / 10) * ISNULL(KT.単価,0) * 10) / 10       )		--'１：切上げ  　２：切上げ
							  --*1：切上げ　2：四捨五入
                              WHEN ISNULL(TR3.計算位2, 0) = 2 THEN CEILING( ROUND( CEILING( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END),1)) * ISNULL(KT.単価,0), 1)              )				--'１：切上げ  　２：四捨五入
                         End
                         WHEN ISNULL(TR3.計算位1, 0) = 2 THEN
							  --*1：四捨五入　2：切捨て
                         CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND( ROUND( ROUND( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 1, 1), 0) * ISNULL(KT.単価,0), 1, 1), 0        )			--'１：四捨五入  ２：切捨て
							  --*1：四捨五入　2：切上
                              WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND( CEILING( ROUND( CEILING(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END) * 10) / 10, 0) * ISNULL(KT.単価,0) * 10 ) / 10, 0   )	--'１：四捨五入  ２：切上げ
							  --*1：四捨五入　2：四捨五入
                              WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND( ROUND( ROUND( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 1), 0) * ISNULL(KT.単価,0), 1   ), 0        )				--'１：四捨五入  ２：四捨五入
                         End
                    End
               END
          WHEN ISNULL(KT2.単価, 0) <> 0 THEN
					--* 切捨て
               CASE WHEN ISNULL(TR3.計算単位, 0) = 0 THEN   ROUND( ROUND(HC.実績数 * ISNULL(HT.実績換算値,0), 0, 1) * ISNULL(KT2.単価, 0), 0, 1)	--' 切捨て
					--* 切上げ
                    WHEN ISNULL(TR3.計算単位, 0) = 1 THEN CEILING(CEILING(HC.実績数 * ISNULL(HT.実績換算値,0)) * ISNULL(KT2.単価, 0))		--' 切上げ
					--*  四捨五入
                    WHEN ISNULL(TR3.計算単位, 0) = 2 THEN   ROUND(ROUND(HC.実績数 * ISNULL(HT.実績換算値,0), 0) * ISNULL(KT2.単価, 0), 0)	--' 四捨五入
					--*  詳細
                    WHEN ISNULL(TR3.計算単位, 0) = 3 THEN
					CASE WHEN ISNULL(TR3.計算位1, 0) = 0 THEN
							 --*1：切捨て　2：切捨て
						CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND( ROUND( ROUND( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END) , 1, 1), 0, 1) * ISNULL(KT2.単価,0), 1, 1), 0, 1     )			--'１：切捨て　  ２：切捨て
							 --*1：切捨て　2：切上げ
							 WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND( CEILING( ROUND( CEILING(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END) * 10) / 10, 0, 1) * ISNULL(KT2.単価,0) * 10) / 10 , 0, 1)	--'１：切捨て 　 ２：切上げ
							 --*1：切捨て　2：四捨五入
							 WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND( ROUND( ROUND( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 1), 0, 1) * ISNULL(KT2.単価,0), 1)   , 0, 1     )				--'１：切捨て 　 ２：四捨五入
						End
						WHEN ISNULL(TR3.計算位1, 0) = 1 THEN
							 --*1：切上げ　2：切捨て
						CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN CEILING( ROUND( CEILING( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 1, 1)) * ISNULL(KT2.単価,0), 1, 1)           )			--'１：切上げ  　２：切捨て
							 --*1：切上げ　2：切上げ
							 WHEN ISNULL(TR3.計算位2, 0) = 1 THEN CEILING( CEILING( CEILING( CEILING(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END) * 10) / 10) * ISNULL(KT2.単価,0) * 10) / 10       )	--'１：切上げ  　２：切上げ
							 --*1：切上げ　2：四捨五入
							 WHEN ISNULL(TR3.計算位2, 0) = 2 THEN CEILING( ROUND( CEILING( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END),1)) * ISNULL(KT2.単価,0), 1)              )				--'１：切上げ  　２：四捨五入
						End
						WHEN ISNULL(TR3.計算位1, 0) = 2 THEN
							 --*1：四捨五入　2：切捨て
						CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND( ROUND( ROUND( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 1, 1), 0) * ISNULL(KT2.単価,0), 1, 1), 0        )			--'１：四捨五入  ２：切捨て
							 --*1：四捨五入　2：切上
                             WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND( CEILING( ROUND( CEILING(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END) * 10) / 10, 0) * ISNULL(KT2.単価,0) * 10 ) / 10, 0   )	--'１：四捨五入  ２：切上げ
							 --*1：四捨五入　2：四捨五入
                             WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND( ROUND( ROUND( ROUND(HC.実績数 * (CASE WHEN ISNULL(HT.実績換算値,0) = 0 THEN 1 ELSE HT.実績換算値 END), 1), 0) * ISNULL(KT2.単価,0), 1   ), 0        )				--'１：四捨五入  ２：四捨五入
						End
					End
				END
			END
		ELSE 0 
	END
  ELSE 0
  END
END 金額	

	FROM 材料実績管理テーブル HC ( NoLock)
	Left Outer Join 材料マスタ HN ( NoLock)
		ON  HN.材質 = HC.材質
		And HN.板厚 = HC.板厚
		And HN.幅   = HC.幅
		And HN.長さ = HC.長さ
	Left Outer Join 材料取引先マスタ HT ( NoLock)
		ON  HT.材料管理番号 = HN.材料管理番号
		And HT.材質 = HC.材質
		And HT.板厚 = HC.板厚
		And HT.幅   = HC.幅
		And HT.長さ = HC.長さ
		And HT.取引先 = HC.実績先
		And HT.受入 = HC.受入
---		And HT.品目 = 1
	Left Outer Join 材料取引先マスタ HT2 ( NoLock)
		ON  HT2.材料管理番号 = HN.材料管理番号
		And HT2.材質 = HC.材質
		And HT2.板厚 = HC.板厚
		And HT2.幅   = HC.幅
		And HT2.長さ = HC.長さ
		And HT2.取引先 = HC.実績元
		And HT2.受入 = HC.受入
--		And HT2.品目 = 1
	Left Outer Join 取引先マスタ TR ( Nolock )
		ON  TR.取引先区分 = 1
	 	And TR.取引先CD   = HT.取引先 --HC.実績先		-- HT.取引先？ HC.実績先？
	Left Outer Join 取引先マスタ TR3 ( Nolock )
		ON  TR3.取引先区分 = 1
	 	And TR3.取引先CD   = HT.契約先
		And TR3.契約先区分 = 1
	Left Outer Join 材料支給単価マスタ KT
		ON   KT.材料管理番号 = HN.材料管理番号			-- ON  KT.品番 = HC.品番
		AND  KT.取引先 = HC.実績先
		AND  KT.適用開始日付 <= HC.実績日
		AND  KT.仮単価区分 = ''
		AND (KT.適用終了日付 = '' Or (KT.適用終了日付 <> ''
		AND  KT.適用終了日付 >= HC.実績日 ))
		AND  KT.履歴NO = ( SELECT MAX(KT1.履歴NO) FROM  材料支給単価マスタ KT1
                             Where  KT1.材料管理番号 = HN.材料管理番号
                               AND  KT1.取引先 = HC.実績先
                               AND  KT1.仮単価区分 = ''
                               AND  KT1.適用開始日付 <= HC.実績日
                               And (KT1.適用終了日付 = '' Or (KT1.適用終了日付 <> ''
                               And  KT1.適用終了日付 >= HC.実績日 )) )
	Left Outer Join 材料支給単価マスタ KT2
		ON   KT2.材料管理番号 = HN.材料管理番号			--ON  KT2.品番 = HC.品番
		AND  KT2.取引先 = HC.実績先
		AND  KT2.適用開始日付 <= HC.実績日
		AND  KT2.仮単価区分 = '1'
		AND (KT2.適用終了日付 = '' Or (KT2.適用終了日付 <> ''
		AND  KT2.適用終了日付 >= HC.実績日 ))
		AND  KT2.履歴NO = ( SELECT MAX(KT3.履歴NO) FROM  材料支給単価マスタ KT3
                             Where  KT3.材料管理番号 = HN.材料管理番号
                               AND  KT3.取引先 = HC.実績先
                               AND  KT3.仮単価区分 = ''
                               AND  KT3.適用開始日付 <= HC.実績日
                               And (KT3.適用終了日付 = '' Or (KT3.適用終了日付 <> ''
                               And  KT3.適用終了日付 >= HC.実績日 )) )
	Left Outer Join 名称マスタ ME1 ( Nolock )			-- 以降、追加
		ON  ME1.区分名称 = '単位区分'
	 	And ME1.値       = HN.手配単位
	Left Outer Join 名称マスタ ME2 ( Nolock )
		ON  ME2.区分名称 = '材種区分'
	 	And ME2.値       = HN.材種
	Left Outer Join 名称マスタ ME3 ( Nolock )
		ON  ME3.区分名称 = '形状区分'
	 	And ME3.値       = HN.形状
GO
