USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料JIS規格変換マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料JIS規格変換マスタ](
	[材質] [varchar](25) NOT NULL,
	[JIS規格] [varchar](25) NOT NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](50) NULL,
	[作成端末] [varchar](20) NULL,
 CONSTRAINT [PK_材料JIS規格変換マスタ] PRIMARY KEY CLUSTERED 
(
	[材質] ASC,
	[JIS規格] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
