USE [SIMTOKIDB]
GO
/****** Object:  View [dbo].[材料買掛入荷状況管理ビュー]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[材料買掛入荷状況管理ビュー] AS
SELECT '入荷' 区分,
        CASE WHEN ISNULL(TR.略称,'') <> ''
             THEN ISNULL(HTM.契約先, '') + ':' + ISNULL(TR.略称, '')
             ELSE ISNULL(HTM.契約先, '') END 編集契約先, ISNULL(HTM.契約先, '') 契約先, ISNULL(TR.略称, '') 契約先名,
		SUM(
		CASE WHEN ISNULL(KTN.単価, 0) <> 0 THEN
             CASE WHEN ISNULL(TR.計算単位, 0) = 0 THEN   ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTN.単価, 0), 0, 1)
                  WHEN ISNULL(TR.計算単位, 0) = 1 THEN CEILING(CEILING(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTN.単価, 0))
                  WHEN ISNULL(TR.計算単位, 0) = 2 THEN   ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTN.単価, 0), 0)
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTN.単価, 1, 1), 0, 1     )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN   ROUND(CEILING(  ROUND(CEILING(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTN.単価 * 10) / 10 , 0, 1)
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTN.単価, 1)   , 0, 1     )
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN CEILING(  ROUND(CEILING(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTN.単価, 1, 1)           )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN CEILING(CEILING(CEILING(CEILING(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTN.単価 * 10) / 10       )
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN CEILING(  ROUND(CEILING(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1), 1)) * KTN.単価, 1)              )
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTN.単価, 1, 1), 0        )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN   ROUND(CEILING(  ROUND(CEILING(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTN.単価 * 10 ) / 10, 0   )
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTN.単価, 1   ), 0        )
                       End
                  End
             END
        ELSE 0 END) 予測金額,
        ROUND(SUM(
		CASE WHEN ISNULL(KTN.単価, 0) <> 0 THEN
             CASE WHEN ISNULL(TR.計算単位, 0) = 0 THEN   ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTN.単価, 0), 0, 1)
                  WHEN ISNULL(TR.計算単位, 0) = 1 THEN CEILING(CEILING(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTN.単価, 0))
                  WHEN ISNULL(TR.計算単位, 0) = 2 THEN   ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTN.単価, 0), 0)
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTN.単価, 1, 1), 0, 1     )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN   ROUND(CEILING(  ROUND(CEILING(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTN.単価 * 10) / 10 , 0, 1)
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTN.単価, 1)   , 0, 1     )
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN CEILING(  ROUND(CEILING(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTN.単価, 1, 1)           )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN CEILING(CEILING(CEILING(CEILING(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTN.単価 * 10) / 10       )
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN CEILING(  ROUND(CEILING(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1), 1)) * KTN.単価, 1)              )
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTN.単価, 1, 1), 0        )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN   ROUND(CEILING(  ROUND(CEILING(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTN.単価 * 10 ) / 10, 0   )
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTN.単価, 1   ), 0        )
                       End
                  End
             END
        ELSE 0 END) / CM.稼動日数, 0) 日当り数,
		SUM(
		CASE WHEN ISNULL(NT.納期, NTM.納期) <> NTM.納期 THEN 0 ELSE
        CASE WHEN ISNULL(KTJ.単価, 0) <> 0 THEN
             CASE WHEN ISNULL(TR.計算単位, 0) = 0 THEN   ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1)
                  WHEN ISNULL(TR.計算単位, 0) = 1 THEN CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0))
                  WHEN ISNULL(TR.計算単位, 0) = 2 THEN   ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0)
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN   ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1)
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     )
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       )
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              )
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN   ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   )
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN   ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        )
                       End
                  End
             END
        ELSE 0 END END) 実績金額,
        CASE WHEN SUM(CASE WHEN ISNULL(KTN.単価, 0) <> 0 THEN ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1) * ISNULL(KTN.単価, 0)
                  ELSE 0 END) = 0
             THEN 0
             ELSE
			     CASE WHEN SUM(ISNULL(NY.入荷数 * ISNULL(HN.換算値, 1) * ISNULL(KTJ.単価, 0), 0)) = 0
                      THEN 0
                      ELSE ROUND(SUM(ROUND(NY.入荷数 * ISNULL(HN.換算値, 1) * ISNULL(KTJ.単価, 0), 0)) / 
			          SUM(CASE WHEN ISNULL(KTN.単価, 0) <> 0 THEN ISNULL(NT.数量, 0) * ISNULL(HN.換算値, 1) * ISNULL(KTN.単価, 0)
				               ELSE 0
                          END) * 100, 1)
             END
        END 進捗,
        CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '01' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額1
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '02' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額2
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '03' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額3
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '04' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額4
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '05' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額5
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '06' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額6
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '07' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額7
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '08' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額8
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '09' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額9
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '10' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額10
        ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '11' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額11
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '12' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額12
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '13' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額13
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '14' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額14
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '15' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額15
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '16' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額16
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '17' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額17
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '18' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額18
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '19' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額19
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '20' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額20
        ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '21' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額21
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '22' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額22
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '23' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額23
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '24' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額24
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '25' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額25
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '26' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額26
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '27' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額27
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '28' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額28
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '29' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額29
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0  AND SUBSTRING(NY.入荷日, 7, 2) = '30' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額30
       ,CASE WHEN ISNULL(KTJ.単価, 0) <> 0 AND SUBSTRING(NY.入荷日, 7, 2) = '31' THEN
             CASE WHEN ISNULL(TR.計算単位, '') = 0 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0, 1) * ISNULL(KTJ.単価, 0), 0, 1))
                  WHEN ISNULL(TR.計算単位, '') = 1 THEN SUM(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1)) * ISNULL(KTJ.単価, 0)))
                  WHEN ISNULL(TR.計算単位, '') = 2 THEN SUM(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 0) * ISNULL(KTJ.単価, 0), 0))
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0, 1) * KTJ.単価, 1, 1), 0, 1     ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0, 1) * KTJ.単価 * 10) / 10 , 0, 1))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0, 1) * KTJ.単価, 1)   , 0, 1     ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1)) * KTJ.単価, 1, 1)           ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(CEILING(CEILING(CEILING(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10) * KTJ.単価 * 10) / 10       ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(CEILING(  ROUND(CEILING(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1)) * KTJ.単価, 1)              ))
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1, 1), 0) * KTJ.単価, 1, 1), 0        ))
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN SUM(  ROUND(CEILING(  ROUND(CEILING(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1) * 10) / 10, 0) * KTJ.単価 * 10 ) / 10, 0   ))
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN SUM(  ROUND(  ROUND(  ROUND(  ROUND(ISNULL(NY.入荷数, 0) * ISNULL(HN.換算値, 1), 1), 0) * KTJ.単価, 1   ), 0        ))
                       End
                  End
             END
        ELSE 0 END 実績金額31
        , SUBSTRING(NY.入荷日, 1, 6) 年月, ISNULL(SY.値, '') 自社工区, NY.受入
   FROM 材料入荷テーブル NY
        LEFT OUTER JOIN 材料発注テーブル HT
             ON HT.発注管理NO = NY.発注管理NO
        LEFT OUTER JOIN (SELECT CASE WHEN 換算値 = 0 THEN 1 ELSE 換算値 END 換算値, 材料管理番号 FROM 材料マスタ) HN
             ON HN.材料管理番号 = HT.材料管理番号
        LEFT OUTER JOIN 材料取引先マスタ HTM
             ON HTM.材料管理番号 = HT.材料管理番号
            AND HTM.取引先 = HT.仕入先
            AND HTM.受入 = HT.受入
--            AND HTM.品目 = 1
        LEFT OUTER JOIN 取引先マスタ TR
             ON TR.取引先CD = HTM.契約先
            AND TR.取引先区分 = 1
		LEFT OUTER JOIN 名称マスタ SY
			 ON SY.区分名称 = '自社工区'
		    AND SY.英数字1 = NY.受入
			AND SY.区分タイプ = ''
        LEFT OUTER JOIN (SELECT MAX(発注管理NO) 発注管理NO,
                                材料管理番号, 仕入先, 受入
                           FROM 材料発注テーブル
                          GROUP BY 材料管理番号, 仕入先, 受入) HT2
             ON HT2.発注管理NO = HT.発注管理NO
        LEFT OUTER JOIN 材料発注内示テーブル NT
             ON NT.内示年月 = SUBSTRING(NY.入荷日, 1, 6)
            AND NT.材料管理番号 = HT2.材料管理番号
            AND NT.手配先 = HT2.仕入先
            AND NT.受入 = HT2.受入
        LEFT OUTER JOIN (SELECT MAX(納期) 納期, 内示年月, 材料管理番号, 手配先, 受入
						   FROM 材料発注内示テーブル
						  GROUP BY 内示年月, 材料管理番号, 手配先, 受入) NTM
             ON NTM.内示年月 = SUBSTRING(NY.入荷日, 1, 6)
            AND NTM.材料管理番号 = HT2.材料管理番号
            AND NTM.手配先 = HT2.仕入先
            AND NTM.受入 = HT2.受入
        LEFT OUTER JOIN カレンダマスタ CM
             ON CM.取引先区分 = 0
            AND CM.取引先 = ''
            AND CM.年 = SUBSTRING(NY.入荷日, 1, 4)
            AND CM.月 = SUBSTRING(NY.入荷日, 5, 2)
            AND CM.受入 = ''
       LEFT OUTER JOIN ( SELECT CASE WHEN KT.単価 <> 0 THEN KT.単価 ELSE
                                     CASE WHEN KT2.単価 <> 0 THEN KT2.単価 ELSE
                                          CASE WHEN KT3.単価 <> 0 THEN KT3.単価 ELSE
                                               CASE WHEN KT4.単価 <> 0 THEN KT4.単価 ELSE 0 END END END END 単価, NY.発注管理NO
                           FROM 材料入荷テーブル NY
                                LEFT OUTER JOIN 材料発注テーブル HT
                                     ON HT.発注管理NO = NY.発注管理NO
                                LEFT OUTER JOIN 材料取引先マスタ HTM
                                     ON HTM.材料管理番号 = HT.材料管理番号
                                    AND HTM.取引先 = HT.仕入先
                                    AND HTM.受入 = HT.受入
--                                    AND HTM.品目 = 1
                                LEFT OUTER JOIN 材料購入単価マスタ KT
                                     ON KT.材料管理番号 = HT.材料管理番号
                                    AND KT.取引先 = HT.仕入先
			                            AND KT.契約先 = HTM.契約先
			                            AND KT.仮単価区分 = ''
                                    AND KT.履歴NO = (SELECT   MAX(履歴NO) FROM 材料購入単価マスタ KT1
                                                      WHERE   KT1.材料管理番号 = HT.材料管理番号
                                                        AND   KT1.取引先 = HT.仕入先
								                            AND   KT1.仮単価区分 = ''
                                                        AND ((KT1.適用開始日付 < NY.入荷日
                                                        AND   KT1.適用開始日付 <> '')
                                                         OR   KT1.適用開始日付 = '')
                                                        AND ((KT1.適用終了日付 > NY.入荷日
                                                        AND   KT1.適用終了日付 <> '')
                                                         OR   KT1.適用終了日付 = ''))
                                LEFT OUTER JOIN 材料購入単価マスタ KT2
                                     ON KT2.材料管理番号 = HT.材料管理番号
                                    AND KT2.取引先 = HT.仕入先
			                            AND KT2.契約先 = HTM.契約先
			                            AND KT2.仮単価区分 = '1'
                                    AND KT2.履歴NO = (SELECT   MAX(履歴NO) FROM 材料購入単価マスタ KT12
                                                      WHERE   KT12.材料管理番号 = HT.材料管理番号
                                                        AND   KT12.取引先 = HT.仕入先
								                            AND   KT12.仮単価区分 = '1'
                                                        AND ((KT12.適用開始日付 < NY.入荷日
                                                        AND   KT12.適用開始日付 <> '')
                                                         OR   KT12.適用開始日付 = '')
                                                        AND ((KT12.適用終了日付 > NY.入荷日
                                                        AND   KT12.適用終了日付 <> '')
                                                         OR   KT12.適用終了日付 = ''))
                                LEFT OUTER JOIN 材料購入単価マスタ KT3
                                     ON KT3.材料管理番号 = HT.材料管理番号
                                    AND KT3.取引先 = HT.仕入先
			                            AND KT3.契約先 = ''
			                            AND KT3.仮単価区分 = ''
                                    AND KT3.履歴NO = (SELECT   MAX(履歴NO) FROM 材料購入単価マスタ KT13
                                                      WHERE   KT13.材料管理番号 = HT.材料管理番号
                                                        AND   KT13.取引先 = HT.仕入先
								                            AND   KT13.仮単価区分 = ''
                                                        AND ((KT13.適用開始日付 < NY.入荷日
                                                        AND   KT13.適用開始日付 <> '')
                                                         OR   KT13.適用開始日付 = '')
                                                        AND ((KT13.適用終了日付 > NY.入荷日
                                                        AND   KT13.適用終了日付 <> '')
                                                         OR   KT13.適用終了日付 = ''))
                                LEFT OUTER JOIN 材料購入単価マスタ KT4
                                     ON KT4.材料管理番号 = HT.材料管理番号
                                    AND KT4.取引先 = HT.仕入先
			                            AND KT4.契約先 = ''
			                            AND KT4.仮単価区分 = '1'
                                    AND KT4.履歴NO = (SELECT   MAX(履歴NO) FROM 材料購入単価マスタ KT14
                                                      WHERE   KT14.材料管理番号 = HT.材料管理番号
                                                        AND   KT14.取引先 = HT.仕入先
								                            AND   KT14.仮単価区分 = '1'
                                                        AND ((KT14.適用開始日付 < NY.入荷日
                                                        AND   KT14.適用開始日付 <> '')
                                                         OR   KT14.適用開始日付 = '')
                                                        AND ((KT14.適用終了日付 > NY.入荷日
                                                        AND   KT14.適用終了日付 <> '')
                                                         OR   KT14.適用終了日付 = ''))
                        ) KTJ
             ON NY.発注管理NO = KTJ.発注管理NO
       LEFT OUTER JOIN ( SELECT CASE WHEN KT001.単価 <> 0 THEN KT001.単価 ELSE
                                     CASE WHEN KT2001.単価 <> 0 THEN KT2001.単価 ELSE
                                          CASE WHEN KT3001.単価 <> 0 THEN KT3001.単価 ELSE
                                               CASE WHEN KT4001.単価 <> 0 THEN KT4001.単価 ELSE 0 END END END END 単価, NY.発注管理NO
                           FROM 材料入荷テーブル NY
                                LEFT OUTER JOIN 材料発注テーブル HT
                                     ON HT.発注管理NO = NY.発注管理NO
                                LEFT OUTER JOIN 材料取引先マスタ HTM
                                     ON HTM.材料管理番号 = HT.材料管理番号
                                    AND HTM.取引先 = HT.仕入先
                                    AND HTM.受入 = HT.受入
--                                    AND HTM.品目 = 1
                                LEFT OUTER JOIN (SELECT MAX(発注管理NO) 発注管理NO,
                                                        材料管理番号, 仕入先, 受入
                                                   FROM 材料発注テーブル
                                                  GROUP BY 材料管理番号, 仕入先, 受入) HT2
                                     ON HT2.発注管理NO = HT.発注管理NO
                                LEFT OUTER JOIN 材料発注内示テーブル NT
                                     ON NT.内示年月 = SUBSTRING(NY.入荷日, 1, 6)
                                    AND NT.材料管理番号 = HT2.材料管理番号
                                    AND NT.手配先 = HT2.仕入先
                                    AND NT.受入 = HT2.受入
                                LEFT OUTER JOIN 材料購入単価マスタ KT001
                                     ON KT001.材料管理番号 = NT.材料管理番号
                                    AND KT001.取引先 = NT.手配先
			                        AND KT001.契約先 = HTM.契約先
                                    AND KT001.仮単価区分 = ''
                                    AND KT001.履歴NO = (SELECT   MAX(履歴NO) FROM 材料購入単価マスタ KTS001
                                                         WHERE   KTS001.材料管理番号 = NT.材料管理番号
                                                           AND   KTS001.取引先 = NT.手配先
								                           AND   KTS001.仮単価区分 = ''
                                                           AND ((KTS001.適用開始日付 < NT.納期
                                                           AND   KTS001.適用開始日付 <> '')
                                                            OR   KTS001.適用開始日付 = '')
                                                           AND ((KTS001.適用終了日付 > NT.納期
                                                           AND   KTS001.適用終了日付 <> '')
                                                            OR   KTS001.適用終了日付 = ''))
                                   LEFT OUTER JOIN 材料購入単価マスタ KT2001
                                        ON KT2001.材料管理番号 = NT.材料管理番号
                                       AND KT2001.取引先 = NT.手配先
			                           AND KT2001.契約先 = HTM.契約先
                                       AND KT2001.仮単価区分 = '1'
                                       AND KT2001.履歴NO = (SELECT   MAX(履歴NO) FROM 材料購入単価マスタ KTS2001
                                                         WHERE   KTS2001.材料管理番号 = NT.材料管理番号
                                                           AND   KTS2001.取引先 = NT.手配先
								                           AND   KTS2001.仮単価区分 = '1'
                                                           AND ((KTS2001.適用開始日付 < NT.納期
                                                           AND   KTS2001.適用開始日付 <> '')
                                                            OR   KTS2001.適用開始日付 = '')
                                                           AND ((KTS2001.適用終了日付 > NT.納期
                                                           AND   KTS2001.適用終了日付 <> '')
                                                            OR   KTS2001.適用終了日付 = ''))
                                   LEFT OUTER JOIN 材料購入単価マスタ KT3001
                                        ON KT3001.材料管理番号 = NT.材料管理番号
                                       AND KT3001.取引先 = NT.手配先
			                           AND KT3001.契約先 = ''
                                       AND KT3001.仮単価区分 = ''
                                       AND KT3001.履歴NO = (SELECT   MAX(履歴NO) FROM 材料購入単価マスタ KTS3001
                                                            WHERE   KTS3001.材料管理番号 = NT.材料管理番号
                                                              AND   KTS3001.取引先 = NT.手配先
								                              AND   KTS3001.仮単価区分 = ''
                                                              AND ((KTS3001.適用開始日付 < NT.納期
                                                              AND   KTS3001.適用開始日付 <> '')
                                                               OR   KTS3001.適用開始日付 = '')
                                                              AND ((KTS3001.適用終了日付 > NT.納期
                                                              AND   KTS3001.適用終了日付 <> '')
                                                               OR   KTS3001.適用終了日付 = ''))
                                   LEFT OUTER JOIN 材料購入単価マスタ KT4001
                                        ON KT4001.材料管理番号 = NT.材料管理番号
                                       AND KT4001.取引先 = NT.手配先
			                           AND KT4001.契約先 = ''
                                       AND KT4001.仮単価区分 = '1'
                                       AND KT4001.履歴NO = (SELECT   MAX(履歴NO) FROM 材料購入単価マスタ KTS4001
                                                         WHERE   KTS4001.材料管理番号 = NT.材料管理番号
                                                           AND   KTS4001.取引先 = NT.手配先
								                           AND   KTS4001.仮単価区分 = '1'
                                                           AND ((KTS4001.適用開始日付 < NT.納期
                                                           AND   KTS4001.適用開始日付 <> '')
                                                            OR   KTS4001.適用開始日付 = '')
                                                           AND ((KTS4001.適用終了日付 > NT.納期
                                                           AND   KTS4001.適用終了日付 <> '')
                                                            OR   KTS4001.適用終了日付 = ''))
                          ) KTN
             ON NY.発注管理NO = KTN.発注管理NO
 GROUP BY TR.略称, HTM.契約先, TR.計算単位, CM.稼動日数, KTJ.単価, KTN.単価,
          TR.計算位1, TR.計算位2, NY.入荷日, ISNULL(SY.値, ''), NY.受入
GO
