USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[帳票出力設定値テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[帳票出力設定値テーブル](
	[帳票区分] [smallint] NOT NULL,
	[関連] [smallint] NULL,
	[帳票名称] [varchar](30) NULL,
	[管理文字] [varchar](30) NULL,
	[検索情報] [varchar](30) NULL,
	[管理NO] [varchar](30) NULL,
	[管理行NO] [varchar](30) NULL,
	[補助番号] [varchar](30) NULL,
	[出力先] [varchar](30) NULL,
	[作成日] [datetime] NULL
) ON [PRIMARY]
GO
