USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[買掛支払テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[買掛支払テーブル](
	[実績年月] [varchar](6) NOT NULL,
	[契約先] [varchar](7) NOT NULL,
	[前月繰越] [int] NULL,
	[仕入金額] [int] NULL,
	[仕入消費税] [int] NULL,
	[相殺金額] [int] NULL,
	[相殺消費税] [int] NULL,
	[請求金額] [int] NULL,
	[請求書NO] [varchar](10) NULL,
	[支払金額] [int] NULL,
	[繰越金額] [int] NULL,
	[支払区分1] [varchar](1) NULL,
	[支払率1] [tinyint] NULL,
	[支払日1] [varchar](8) NULL,
	[支払手数料1] [int] NULL,
	[支払金額1] [int] NULL,
	[支払区分2] [varchar](1) NULL,
	[支払率2] [tinyint] NULL,
	[支払日2] [varchar](8) NULL,
	[支払手数料2] [int] NULL,
	[支払金額2] [int] NULL,
	[請求件数] [int] NULL,
	[締日] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[作成者] [varchar](15) NULL,
	[更新日] [datetime] NULL,
	[更新端末] [varchar](20) NULL,
	[更新者] [varchar](15) NULL,
 CONSTRAINT [PK_買掛支払テーブル] PRIMARY KEY CLUSTERED 
(
	[実績年月] ASC,
	[契約先] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
