USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[内示日程テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[内示日程テーブル](
	[内示年月] [varchar](6) NOT NULL,
	[計画年月] [varchar](6) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[工区] [varchar](1) NOT NULL,
	[納期] [varchar](8) NOT NULL,
	[数量] [int] NULL,
	[内示数] [int] NULL,
	[翌月内示数] [int] NULL,
	[翌々月内示数] [int] NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
 CONSTRAINT [PK_内示日程テーブル] PRIMARY KEY CLUSTERED 
(
	[内示年月] ASC,
	[計画年月] ASC,
	[品番] ASC,
	[工区] ASC,
	[納期] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
