USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[発注展開テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[発注展開テーブル](
	[内示年月] [varchar](6) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[手配先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[直送先] [varchar](7) NOT NULL,
	[部品材料区分] [tinyint] NOT NULL,
	[必要数] [decimal](11, 3) NULL,
	[翌月必要数] [decimal](11, 3) NULL,
	[翌々月必要数] [decimal](11, 3) NULL,
	[必要数量01] [decimal](11, 3) NULL,
	[必要数量02] [decimal](11, 3) NULL,
	[必要数量03] [decimal](11, 3) NULL,
	[必要数量04] [decimal](11, 3) NULL,
	[必要数量05] [decimal](11, 3) NULL,
	[必要数量06] [decimal](11, 3) NULL,
	[必要数量07] [decimal](11, 3) NULL,
	[必要数量08] [decimal](11, 3) NULL,
	[必要数量09] [decimal](11, 3) NULL,
	[必要数量10] [decimal](11, 3) NULL,
	[必要数量11] [decimal](11, 3) NULL,
	[必要数量12] [decimal](11, 3) NULL,
	[必要数量13] [decimal](11, 3) NULL,
	[必要数量14] [decimal](11, 3) NULL,
	[必要数量15] [decimal](11, 3) NULL,
	[必要数量16] [decimal](11, 3) NULL,
	[必要数量17] [decimal](11, 3) NULL,
	[必要数量18] [decimal](11, 3) NULL,
	[必要数量19] [decimal](11, 3) NULL,
	[必要数量20] [decimal](11, 3) NULL,
	[必要数量21] [decimal](11, 3) NULL,
	[必要数量22] [decimal](11, 3) NULL,
	[必要数量23] [decimal](11, 3) NULL,
	[必要数量24] [decimal](11, 3) NULL,
	[必要数量25] [decimal](11, 3) NULL,
	[必要数量26] [decimal](11, 3) NULL,
	[必要数量27] [decimal](11, 3) NULL,
	[必要数量28] [decimal](11, 3) NULL,
	[必要数量29] [decimal](11, 3) NULL,
	[必要数量30] [decimal](11, 3) NULL,
	[必要数量31] [decimal](11, 3) NULL,
	[処理区分] [tinyint] NULL,
	[削除区分] [tinyint] NULL,
	[変更回数] [tinyint] NULL,
	[作成者] [varchar](15) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[更新者] [varchar](15) NULL,
	[更新日] [datetime] NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_発注展開テーブル] PRIMARY KEY NONCLUSTERED 
(
	[内示年月] ASC,
	[品番] ASC,
	[手配先] ASC,
	[受入] ASC,
	[直送先] ASC,
	[部品材料区分] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
