USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料在庫更新ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料在庫更新ワーク](
	[処理端末] [varchar](20) NULL,
	[材料管理番号] [int] NULL,
	[材質] [varchar](25) NULL,
	[寸法区分] [tinyint] NULL,
	[板厚] [decimal](7, 3) NULL,
	[幅] [decimal](7, 3) NULL,
	[長さ] [decimal](7, 3) NULL,
	[在庫数] [decimal](18, 3) NULL,
	[入庫数] [decimal](18, 3) NULL,
	[出庫数] [decimal](18, 3) NULL,
	[実棚日] [varchar](8) NULL,
	[作成区分] [tinyint] NULL,
	[区分] [tinyint] NULL,
	[SIZE] [varchar](21) NULL
) ON [PRIMARY]
GO
