USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料支給単価未決ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料支給単価未決ワーク](
	[契約先] [varchar](7) NOT NULL,
	[支給先] [varchar](7) NOT NULL,
	[支給元] [varchar](7) NOT NULL,
	[材料管理番号] [int] NULL,
	[検収日] [varchar](8) NULL,
	[数量] [int] NULL,
	[処理端末] [varchar](20) NULL
) ON [PRIMARY]
GO
