USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料マスタ](
	[材料管理番号] [int] NOT NULL,
	[材質] [varchar](25) NOT NULL,
	[寸法区分] [tinyint] NOT NULL,
	[板厚] [decimal](6, 2) NOT NULL,
	[幅] [decimal](6, 2) NOT NULL,
	[長さ] [decimal](6, 2) NOT NULL,
	[材料名] [varchar](40) NULL,
	[材種] [varchar](2) NULL,
	[形状] [varchar](2) NULL,
	[単位] [varchar](2) NULL,
	[換算値] [decimal](9, 3) NULL,
	[手配単位] [varchar](2) NULL,
	[実数区分] [tinyint] NULL,
	[在庫管理区分] [tinyint] NULL,
	[在庫管理数値] [decimal](8, 2) NULL,
	[在庫管理係数] [decimal](3, 0) NULL,
	[在庫管理日数] [decimal](3, 1) NULL,
	[在庫管理発注点] [int] NULL,
	[在庫区分] [tinyint] NULL,
	[材種コード] [varchar](15) NULL,
	[仮区分] [tinyint] NULL,
	[表示寸法] [varchar](25) NULL,
	[SIZE] [varchar](21) NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
	[設定数] [decimal](11, 3) NULL,
	[所要量区分] [tinyint] NULL,
 CONSTRAINT [PK_材料マスタ] PRIMARY KEY CLUSTERED 
(
	[材料管理番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
