USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[かんばん発行テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[かんばん発行テーブル](
	[かんばん種類] [tinyint] NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[発行NO] [smallint] NOT NULL,
	[発行種類] [tinyint] NULL,
	[材料管理番号] [int] NULL,
	[背番号] [varchar](8) NULL,
	[版数] [tinyint] NULL,
	[発行区分] [tinyint] NULL,
	[表示品番] [varchar](30) NULL,
	[品番14] [varchar](14) NULL,
	[品番30] [varchar](30) NULL,
	[品目] [tinyint] NULL,
	[品名] [varchar](40) NULL,
	[受入名] [varchar](20) NULL,
	[収容器] [varchar](10) NULL,
	[収容数] [decimal](11, 3) NULL,
	[収容区分] [tinyint] NULL,
	[手配区分] [varchar](1) NULL,
	[手配区分名] [varchar](4) NULL,
	[アドレス] [varchar](10) NULL,
	[IMAGE] [varchar](255) NULL,
	[取引先CD] [varchar](8) NULL,
	[取引先名] [varchar](20) NULL,
	[取引先名1] [varchar](10) NULL,
	[取引先名2] [varchar](10) NULL,
	[取引先工場名] [varchar](20) NULL,
	[取引先工場名1] [varchar](10) NULL,
	[取引先工場名2] [varchar](10) NULL,
	[納入先固定] [varchar](8) NULL,
	[納入先] [varchar](7) NULL,
	[納入先CD] [varchar](8) NULL,
	[納入先名] [varchar](20) NULL,
	[納入先名1] [varchar](10) NULL,
	[納入先名2] [varchar](10) NULL,
	[納入先工場名] [varchar](20) NULL,
	[納入先受入] [varchar](2) NULL,
	[メーカ固定] [varchar](8) NULL,
	[メーカ] [varchar](7) NULL,
	[メーカCD] [varchar](8) NULL,
	[メーカ名] [varchar](20) NULL,
	[メーカ名1] [varchar](10) NULL,
	[メーカ名2] [varchar](10) NULL,
	[メーカ受入] [varchar](2) NULL,
	[サイクル] [varchar](7) NULL,
	[置場] [varchar](10) NULL,
	[車型] [varchar](5) NULL,
	[自社CD] [varchar](7) NULL,
	[自社名1] [varchar](20) NULL,
	[自社名2] [varchar](14) NULL,
	[工程] [varchar](3) NULL,
	[工程名] [varchar](16) NULL,
	[次工程] [varchar](3) NULL,
	[次工程名] [varchar](16) NULL,
	[基準工数] [decimal](4, 1) NULL,
	[生産ロット] [int] NULL,
	[基準生産日] [varchar](14) NULL,
	[管理番号] [varchar](15) NULL,
	[材質] [varchar](25) NULL,
	[材質18] [varchar](18) NULL,
	[寸法区分] [tinyint] NULL,
	[板厚] [decimal](6, 2) NULL,
	[幅] [decimal](6, 2) NULL,
	[長さ] [decimal](6, 2) NULL,
	[材料名] [varchar](40) NULL,
	[使用品番] [varchar](25) NULL,
	[単位名] [varchar](4) NULL,
	[手配単位名] [varchar](4) NULL,
	[実数区分] [tinyint] NULL,
	[材種コード] [varchar](15) NULL,
	[備考] [varchar](30) NULL,
	[StHNo] [tinyint] NULL,
	[EdHNo] [tinyint] NULL,
	[Stack1] [tinyint] NULL,
	[Stack2] [tinyint] NULL,
	[区分] [varchar](4) NULL,
	[納入時間1] [varchar](5) NULL,
	[納入時間2] [varchar](5) NULL,
	[納入時間3] [varchar](5) NULL,
	[納入時間4] [varchar](5) NULL,
	[納入時間5] [varchar](5) NULL,
	[納入時間6] [varchar](5) NULL,
	[納入時間7] [varchar](5) NULL,
	[納入時間8] [varchar](5) NULL,
	[得意先背番1] [varchar](3) NULL,
	[得意先背番2] [varchar](3) NULL,
	[得意先背番3] [varchar](3) NULL,
	[得意先背番4] [varchar](3) NULL,
	[得意先工場名1] [varchar](6) NULL,
	[得意先工場名2] [varchar](6) NULL,
	[得意先工場名3] [varchar](6) NULL,
	[得意先工場名4] [varchar](6) NULL,
	[部品区分] [tinyint] NULL,
	[ポイント] [varchar](2) NULL,
	[ポイントIMAGE] [varchar](255) NULL,
	[部署] [varchar](6) NULL,
	[部署名] [varchar](20) NULL,
	[返却場所] [varchar](3) NULL,
	[返却場所名] [varchar](30) NULL,
	[後工程] [varchar](3) NULL,
	[後工程名1] [varchar](30) NULL,
	[後工程名2] [varchar](30) NULL,
	[得意先] [varchar](7) NULL,
	[得意先名] [varchar](20) NULL,
	[生産区分] [varchar](1) NULL,
	[かんばん枠色] [decimal](18, 0) NULL,
	[発行済] [tinyint] NULL,
	[発行FLG] [varchar](1) NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
 CONSTRAINT [PK_かんばん発行テーブル] PRIMARY KEY CLUSTERED 
(
	[かんばん種類] ASC,
	[品番] ASC,
	[取引先] ASC,
	[受入] ASC,
	[発行NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
