USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料発注内示必要数テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料発注内示必要数テーブル](
	[内示年月] [varchar](6) NOT NULL,
	[材料管理番号] [int] NOT NULL,
	[手配先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[直送先] [varchar](7) NOT NULL,
	[納期] [varchar](8) NOT NULL,
	[数量] [decimal](12, 3) NULL,
	[計画年月] [varchar](6) NULL,
	[作成者] [varchar](15) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
 CONSTRAINT [PK_材料発注内示必要数テーブル] PRIMARY KEY CLUSTERED 
(
	[内示年月] ASC,
	[材料管理番号] ASC,
	[手配先] ASC,
	[受入] ASC,
	[直送先] ASC,
	[納期] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
