USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[受給照合結果ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[受給照合結果ワーク](
	[照合結果] [varchar](2) NOT NULL,
	[照合日付] [varchar](8) NULL,
	[照合品番] [varchar](25) NULL,
	[照合納番] [varchar](10) NULL,
	[照合管理] [varchar](10) NULL,
	[照合赤黒] [tinyint] NULL,
	[財務管理番号] [int] NULL,
	[部品材料区分] [varchar](1) NULL
) ON [PRIMARY]
GO
