USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[構成問合せワーク2]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[構成問合せワーク2](
	[処理端末] [varchar](20) NULL,
	[順位] [varchar](300) NULL,
	[レベル] [tinyint] NULL,
	[親品番] [varchar](25) NULL,
	[子品番] [varchar](25) NULL,
	[構成数] [decimal](8, 4) NULL,
	[展開区分] [tinyint] NULL,
	[LT] [tinyint] NULL,
	[適用開始日] [varchar](8) NULL,
	[適用終了日] [varchar](8) NULL,
	[区分] [varchar](1) NULL,
	[表示品番] [varchar](30) NULL,
	[表示寸法] [varchar](30) NULL,
	[品名] [varchar](40) NULL,
	[材料管理番号] [int] NULL
) ON [PRIMARY]
GO
