USE [SIMTOKIDB]
GO
/****** Object:  View [dbo].[材料発注入荷状況問合ﾋﾞｭｰ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[材料発注入荷状況問合ﾋﾞｭｰ]
AS
SELECT
	CASE WHEN ISNULL(HC.納入日,'') = '' THEN
		CASE WHEN ISNULL(HC.納入便,'') = '' THEN '' 
		ELSE SPACE(10) + '-' + HC.納入便 END
	ELSE
		CASE WHEN ISNULL(HC.納入便,'') = '' THEN 
			SUBSTRING(HC.納入日,1,4) + '/' + SUBSTRING(HC.納入日,5,2) + '/' + 
			SUBSTRING(HC.納入日,7,2)
		ELSE
			SUBSTRING(HC.納入日,1,4) + '/' + SUBSTRING(HC.納入日,5,2) + '/' + 
			SUBSTRING(HC.納入日,7,2) + '- ' + HC.納入便 END
	END 納入日便,
	HN.表示寸法,' ' + HC.背番号 表示背番号,HN.材料名,HN.材種コード,
	CASE WHEN ISNULL(TR.取引先CD,'') = '' Then HC.仕入先 ELSE HC.仕入先 + '：' + RTRIM(TR.略称) End 編集仕入先,
	HC.受入,HC.収容数,HC.枚数 発注枚数,HC.発注数,
	ISNULL(NK.入荷枚数,0) 入荷枚数,ISNULL(NK.入荷数,0) 入荷数, 
	CASE WHEN ISNULL(NK.入荷日,'') = '' THEN
		CASE WHEN ISNULL(NK.入荷便,'') = '' THEN '' 
		ELSE SPACE(10) + '-' + NK.入荷便 END
	ELSE
		CASE WHEN ISNULL(NK.入荷便,'') = '' THEN 
			SUBSTRING(NK.入荷日,1,4) + '/' + SUBSTRING(NK.入荷日,5,2) + '/' + 
			SUBSTRING(NK.入荷日,7,2)
		ELSE
			SUBSTRING(NK.入荷日,1,4) + '/' + SUBSTRING(NK.入荷日,5,2) + '/' + 
			SUBSTRING(NK.入荷日,7,2) + '- ' + NK.入荷便 END
	END 入荷日便,

	HC.納入番号 + '-' + CAST(HC.納品書頁 As VARCHAR(2)) 表示納入番号,
	CASE WHEN ISNULL(NK.入荷日,'') = '' OR ISNULL(NK.挽回日,'') = '' THEN 0 ELSE ISNULL(HC.発注数,0) - ISNULL(NK.入荷数,0) END 分納数,
	CASE WHEN ISNULL(NK.挽回日,'') = '' THEN
		CASE WHEN ISNULL(NK.挽回便,'') = '' THEN '' 
		ELSE SPACE(10) + '-' + NK.挽回便 END
	ELSE
		CASE WHEN ISNULL(NK.挽回便,'') = '' THEN 
			SUBSTRING(NK.挽回日,1,4) + '/' + SUBSTRING(NK.挽回日,5,2) + '/' + 
			SUBSTRING(NK.挽回日,7,2)
		ELSE
			SUBSTRING(NK.挽回日,1,4) + '/' + SUBSTRING(NK.挽回日,5,2) + '/' + 
			SUBSTRING(NK.挽回日,7,2) + '- ' + NK.挽回便 END
	END 入荷予定日便,ISNULL(NK.入荷備考,'') 入荷備考,
	ISNULL(SY1.値名称,'') 手配区分名,
	ISNULL(SY2.値名称,'') 発注区分名,
	ISNULL(SY3.値名称,'') 材種名,
	ISNULL(SY4.値名称,'') 形状名,
	ISNULL(SY5.値名称,'') 手配単位名,
	CASE WHEN HC.手配区分 = '1' THEN
		CASE WHEN ISNULL(TR2.取引先CD,'') = '' Then HC.納入先 ELSE HT.ﾒｰｶｰ + '：' + RTRIM(TR2.略称) End
	ELSE ''  END 編集納入先,
	CASE WHEN HC.手配区分 = '1' THEN	HT.ﾒｰｶｰ受入 ELSE '' END 編集納受,
	CASE WHEN HC.手配区分 <> '1' THEN
		CASE WHEN ISNULL(TR2.取引先CD,'') = '' Then HC.納入先 ELSE HT.ﾒｰｶｰ + '：' + RTRIM(TR2.略称) End
	ELSE ''  END 編集メーカ,
	CASE WHEN HC.手配区分 <> '1' THEN HT.ﾒｰｶｰ受入 ELSE '' END 編集メ受,
	CASE WHEN ISNULL(HC.SK区分,0) = 0 THEN 'かんばん' ELSE '指示' END SK区分名,
	ISNULL(HT.置場,'') 置場,
	CASE WHEN ISNULL(HT.サイクル,'') <> '' Then 
			Substring(HT.サイクル,1,1) + '-' + Substring(HT.サイクル,2,2) + '-' + Substring(HT.サイクル,4,2)
		Else '' End サイクル,
	CASE WHEN ISNULL(TR3.取引先CD,'') = '' Then HC.契約先 ELSE HT.契約先 + '：' + RTRIM(TR3.略称) End 編集契約先,
	
	HC.納入日,HC.納入便,HC.仕入先,HC.材質,HC.板厚,HC.幅,HC.長さ,HN.寸法区分,HC.材料管理番号,
	HC.背番号,HC.手配区分,HC.発注区分,
	HC.分納区分,HC.納入番号,HC.納品書頁,HC.納品書行,
	ISNULL(NK.入荷日,'') 入荷日,ISNULL(NK.入荷便,'') 入荷便,
	ISNULL(NK.挽回日,'') 入荷予定日,ISNULL(NK.挽回便,'') 入荷予定便,
	HC.発注管理NO

	FROM 材料発注テーブル HC ( NoLock)
	Left Outer Join 材料入荷テーブル NK  ( NoLock)
		ON NK.発注管理NO = HC.発注管理NO
	Left Outer Join 材料マスタ HN ( NoLock)
		ON HN.材料管理番号 = HC.材料管理番号
	Left Outer Join 材料取引先マスタ HT ( NoLock)
		ON HT.材料管理番号 = HC.材料管理番号
		And HT.取引先 = HC.仕入先
		And HT.受入 = HC.受入
	Left Outer Join 取引先マスタ TR ( Nolock )
		ON TR.取引先区分 = 1
	 	And TR.取引先CD = HC.仕入先
	Left Outer Join 取引先マスタ TR2 ( Nolock )
		ON TR2.取引先区分 = 1
	 	And TR2.取引先CD = HT.ﾒｰｶｰ
	Left Outer Join 取引先マスタ TR3 ( Nolock )
		ON TR3.取引先区分 = 1
	 	And TR3.取引先CD = HT.契約先
		And TR3.契約先区分 = 1
	Left Outer Join 名称マスタ SY1 ( Nolock )
		ON  SY1.区分名称 = '手配区分'
		And SY1.区分タイプ = ''
		And SY1.値 = HC.手配区分
	Left Outer Join 名称マスタ SY2 ( Nolock )
		ON  SY2.区分名称 = '発注区分'
		And SY2.区分タイプ = ''
		And SY2.値 = HC.発注区分
	Left Outer Join 名称マスタ SY3  ( NoLock)
		ON  SY3.区分名称 = '材種区分'
		And SY3.区分タイプ = ''
		And SY3.値 = HN.材種
	Left Outer Join 名称マスタ SY4  ( NoLock)
		ON  SY4.区分名称 = '形状区分'
		And SY4.区分タイプ = ''
		And SY4.値 = HN.形状
	Left Outer Join 名称マスタ SY5  ( NoLock)
		ON  SY5.区分名称 = '単位区分'
		And SY5.区分タイプ = ''
		And SY5.値 = HN.手配単位

GO
