USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[デバッグ用]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[デバッグ用](
	[処理日] [varchar](max) NULL,
	[処理回数] [varchar](max) NULL,
	[処理区分] [varchar](max) NULL,
	[ファイル名] [varchar](max) NULL,
	[納入先] [varchar](max) NULL,
	[受入] [varchar](max) NULL,
	[納入番号] [varchar](max) NULL,
	[行連番] [varchar](max) NULL,
	[納入日] [varchar](max) NULL,
	[納入便] [varchar](max) NULL,
	[品番] [varchar](max) NULL,
	[便内分割区分] [varchar](max) NULL,
	[有無] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
