USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[発注帳票発行テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[発注帳票発行テーブル](
	[納品書管理NO] [int] NOT NULL,
	[納入番号] [varchar](5) NOT NULL,
	[頁NO] [tinyint] NOT NULL,
	[カード] [varchar](1) NOT NULL,
	[発行順] [tinyint] NOT NULL,
	[契約先] [varchar](7) NOT NULL,
	[仕入先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[納入先] [varchar](7) NOT NULL,
	[納入先受入] [varchar](2) NOT NULL,
	[発注区分] [tinyint] NULL,
	[納入日] [varchar](8) NULL,
	[納入便] [varchar](2) NULL,
	[手配区分] [varchar](1) NULL,
	[SK区分] [tinyint] NULL,
	[代行契約先] [varchar](7) NULL,
	[箱総数] [int] NULL,
	[総頁数] [tinyint] NULL,
	[作成日] [varchar](8) NULL,
	[作成時間] [varchar](8) NULL,
	[グループNO] [varchar](3) NULL,
	[物理現頁数] [tinyint] NULL,
	[物理総頁数] [tinyint] NULL,
	[END表示区分] [varchar](1) NOT NULL,
	[ALLEND表示区分] [varchar](1) NOT NULL,
	[明細行数] [tinyint] NULL,
	[行1] [tinyint] NULL,
	[アドレス1] [varchar](5) NULL,
	[背番号1] [varchar](8) NULL,
	[部品番号1] [varchar](25) NULL,
	[表示品番1] [varchar](30) NULL,
	[部品名称1] [varchar](40) NULL,
	[収容数1] [int] NULL,
	[箱数1] [int] NULL,
	[端数1] [int] NULL,
	[納入数1] [int] NULL,
	[行2] [tinyint] NULL,
	[アドレス2] [varchar](5) NULL,
	[背番号2] [varchar](8) NULL,
	[部品番号2] [varchar](25) NULL,
	[表示品番2] [varchar](30) NULL,
	[部品名称2] [varchar](40) NULL,
	[収容数2] [int] NULL,
	[箱数2] [int] NULL,
	[端数2] [int] NULL,
	[納入数2] [int] NULL,
	[行3] [tinyint] NULL,
	[アドレス3] [varchar](5) NULL,
	[背番号3] [varchar](8) NULL,
	[部品番号3] [varchar](25) NULL,
	[表示品番3] [varchar](30) NULL,
	[部品名称3] [varchar](40) NULL,
	[収容数3] [int] NULL,
	[箱数3] [int] NULL,
	[端数3] [int] NULL,
	[納入数3] [int] NULL,
	[行4] [tinyint] NULL,
	[アドレス4] [varchar](5) NULL,
	[背番号4] [varchar](8) NULL,
	[部品番号4] [varchar](25) NULL,
	[表示品番4] [varchar](30) NULL,
	[部品名称4] [varchar](40) NULL,
	[収容数4] [int] NULL,
	[箱数4] [int] NULL,
	[端数4] [int] NULL,
	[納入数4] [int] NULL,
	[行5] [tinyint] NULL,
	[アドレス5] [varchar](5) NULL,
	[背番号5] [varchar](8) NULL,
	[部品番号5] [varchar](25) NULL,
	[表示品番5] [varchar](30) NULL,
	[部品名称5] [varchar](40) NULL,
	[収容数5] [int] NULL,
	[箱数5] [int] NULL,
	[端数5] [int] NULL,
	[納入数5] [int] NULL,
	[行6] [tinyint] NULL,
	[アドレス6] [varchar](5) NULL,
	[背番号6] [varchar](8) NULL,
	[部品番号6] [varchar](25) NULL,
	[表示品番6] [varchar](30) NULL,
	[部品名称6] [varchar](40) NULL,
	[収容数6] [int] NULL,
	[箱数6] [int] NULL,
	[端数6] [int] NULL,
	[納入数6] [int] NULL,
	[行7] [tinyint] NULL,
	[アドレス7] [varchar](5) NULL,
	[背番号7] [varchar](8) NULL,
	[部品番号7] [varchar](25) NULL,
	[表示品番7] [varchar](30) NULL,
	[部品名称7] [varchar](40) NULL,
	[収容数7] [int] NULL,
	[箱数7] [int] NULL,
	[端数7] [int] NULL,
	[納入数7] [int] NULL,
	[行8] [tinyint] NULL,
	[アドレス8] [varchar](5) NULL,
	[背番号8] [varchar](8) NULL,
	[部品番号8] [varchar](25) NULL,
	[表示品番8] [varchar](30) NULL,
	[部品名称8] [varchar](40) NULL,
	[収容数8] [int] NULL,
	[箱数8] [int] NULL,
	[端数8] [int] NULL,
	[納入数8] [int] NULL,
	[行9] [tinyint] NULL,
	[アドレス9] [varchar](5) NULL,
	[背番号9] [varchar](8) NULL,
	[部品番号9] [varchar](25) NULL,
	[表示品番9] [varchar](30) NULL,
	[部品名称9] [varchar](40) NULL,
	[収容数9] [int] NULL,
	[箱数9] [int] NULL,
	[端数9] [int] NULL,
	[納入数9] [int] NULL,
	[行10] [tinyint] NULL,
	[アドレス10] [varchar](5) NULL,
	[背番号10] [varchar](8) NULL,
	[部品番号10] [varchar](25) NULL,
	[表示品番10] [varchar](30) NULL,
	[部品名称10] [varchar](40) NULL,
	[収容数10] [int] NULL,
	[箱数10] [int] NULL,
	[端数10] [int] NULL,
	[納入数10] [int] NULL,
	[処理端末] [varchar](20) NOT NULL,
	[処理区分] [tinyint] NULL,
	[TEXTNAME] [varchar](30) NULL,
	[発行区分] [tinyint] NULL,
	[発行種類] [varchar](1) NULL,
	[発行形態] [varchar](1) NULL,
	[発行日] [varchar](8) NULL,
	[作成端末] [varchar](20) NULL,
	[発注日] [varchar](8) NULL,
	[発注便] [varchar](2) NULL,
	[打切区分1] [tinyint] NULL,
	[打切区分2] [tinyint] NULL,
	[打切区分3] [tinyint] NULL,
	[打切区分4] [tinyint] NULL,
	[打切区分5] [tinyint] NULL,
	[打切区分6] [tinyint] NULL,
	[打切区分7] [tinyint] NULL,
	[打切区分8] [tinyint] NULL,
	[打切区分9] [tinyint] NULL,
	[打切区分10] [tinyint] NULL,
	[担当者] [varchar](10) NULL,
	[分納時初回行] [tinyint] NULL,
 CONSTRAINT [PK_発注帳票発行テーブル] PRIMARY KEY CLUSTERED 
(
	[納品書管理NO] ASC,
	[納入番号] ASC,
	[頁NO] ASC,
	[カード] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
