USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料在庫マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料在庫マスタ](
	[年月度] [varchar](6) NOT NULL,
	[材料管理番号] [int] NOT NULL,
	[材質] [varchar](25) NULL,
	[寸法区分] [tinyint] NULL,
	[板厚] [decimal](7, 3) NULL,
	[幅] [decimal](7, 3) NULL,
	[長さ] [decimal](7, 3) NULL,
	[在庫数] [decimal](12, 3) NULL,
	[実棚日] [varchar](8) NULL,
	[変更事由] [varchar](40) NULL,
	[SIZE] [varchar](21) NULL,
	[作成区分] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
 CONSTRAINT [PK_材料在庫マスタ] PRIMARY KEY CLUSTERED 
(
	[年月度] ASC,
	[材料管理番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
