USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[棚卸プレシート発行テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[棚卸プレシート発行テーブル](
	[発行年月] [varchar](6) NOT NULL,
	[伝票NO] [int] NOT NULL,
	[伝票行NO] [int] NOT NULL,
	[在庫場所1] [varchar](2) NULL,
	[在庫場所2] [varchar](2) NULL,
	[棚番] [varchar](5) NULL,
	[背番号] [varchar](8) NULL,
	[品番] [varchar](25) NULL,
	[取引先] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[工順] [tinyint] NULL,
	[在庫数] [int] NULL,
	[棚卸入力済フラグ] [tinyint] NULL,
	[部品区分] [tinyint] NULL,
	[自動車ガス] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
 CONSTRAINT [PK_棚卸プレシート発行テーブル_1] PRIMARY KEY CLUSTERED 
(
	[発行年月] ASC,
	[伝票NO] ASC,
	[伝票行NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
