USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[受給検収テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[受給検収テーブル](
	[受給管理NO] [int] NOT NULL,
	[受給管理行NO] [tinyint] NOT NULL,
	[検収日] [varchar](8) NULL,
	[仕入先] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[契約先] [varchar](7) NULL,
	[代行契約先] [varchar](7) NULL,
	[支給元] [varchar](5) NULL,
	[納入日] [varchar](8) NOT NULL,
	[納入便] [varchar](2) NOT NULL,
	[納入番号] [varchar](9) NULL,
	[納品書頁] [tinyint] NULL,
	[納品書行] [tinyint] NULL,
	[品番] [varchar](25) NULL,
	[背番号] [varchar](8) NULL,
	[赤黒区分] [tinyint] NULL,
	[枚数] [int] NULL,
	[収容数] [int] NULL,
	[検収数] [int] NULL,
	[支給元体系] [varchar](4) NULL,
	[支給元1] [varchar](4) NULL,
	[支給元2] [varchar](4) NULL,
	[出荷場] [varchar](3) NULL,
	[契約先仕入先] [varchar](5) NOT NULL,
	[契約先納入先] [varchar](5) NOT NULL,
	[契約先受入] [varchar](2) NOT NULL,
	[受注者] [varchar](4) NOT NULL,
	[受注者工場] [varchar](1) NOT NULL,
	[発注者] [varchar](4) NULL,
	[発注者工場] [varchar](1) NULL,
	[発行日] [varchar](8) NULL,
	[発注区分] [varchar](1) NULL,
	[カード] [varchar](1) NULL,
	[機番] [varchar](2) NULL,
	[総頁] [tinyint] NOT NULL,
	[伝票種類] [tinyint] NULL,
	[作成種別] [varchar](1) NULL,
	[TNS作成区分] [tinyint] NULL,
	[TNS作成管理NO] [int] NULL,
	[TNS作成日] [varchar](8) NULL,
	[TNS作成処理日] [datetime] NULL,
	[TNS連番] [int] NULL,
	[TNS作成区分2] [tinyint] NULL,
	[TNS作成管理NO2] [int] NULL,
	[TNS作成日2] [varchar](8) NULL,
	[TNS作成処理日2] [datetime] NULL,
	[TNS連番2] [int] NULL,
	[実績年月] [varchar](6) NULL,
	[実績処理日] [varchar](8) NULL,
	[実績結果] [varchar](1) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[作成者] [varchar](15) NULL,
	[更新日] [datetime] NULL,
	[更新端末] [varchar](20) NULL,
	[更新者] [varchar](15) NULL,
	[工区] [varchar](1) NULL,
 CONSTRAINT [PK_受給検収テーブル] PRIMARY KEY CLUSTERED 
(
	[受給管理NO] ASC,
	[受給管理行NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
