USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料発注帳票発行テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料発注帳票発行テーブル](
	[納品書管理NO] [int] NOT NULL,
	[納入番号] [varchar](5) NOT NULL,
	[頁NO] [tinyint] NOT NULL,
	[カード] [varchar](1) NOT NULL,
	[発行順] [tinyint] NOT NULL,
	[契約先] [varchar](7) NOT NULL,
	[仕入先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[納入先] [varchar](7) NOT NULL,
	[納入先受入] [varchar](2) NOT NULL,
	[発注区分] [tinyint] NULL,
	[納入日] [varchar](8) NULL,
	[納入便] [varchar](2) NULL,
	[手配区分] [varchar](1) NULL,
	[SK区分] [tinyint] NULL,
	[箱総数] [int] NULL,
	[総頁数] [tinyint] NULL,
	[作成日] [varchar](8) NULL,
	[作成時間] [varchar](8) NULL,
	[グループNO] [varchar](3) NULL,
	[物理現頁数] [tinyint] NULL,
	[物理総頁数] [tinyint] NULL,
	[END表示区分] [varchar](1) NOT NULL,
	[ALLEND表示区分] [varchar](1) NOT NULL,
	[明細行数] [tinyint] NULL,
	[行1] [tinyint] NULL,
	[材料管理番号1] [int] NULL,
	[収容数1] [decimal](9, 3) NULL,
	[箱数1] [int] NULL,
	[端数1] [decimal](9, 3) NULL,
	[納入数1] [decimal](11, 3) NULL,
	[行2] [tinyint] NULL,
	[材料管理番号2] [int] NULL,
	[収容数2] [decimal](9, 3) NULL,
	[箱数2] [int] NULL,
	[端数2] [decimal](9, 3) NULL,
	[納入数2] [decimal](11, 3) NULL,
	[行3] [tinyint] NULL,
	[材料管理番号3] [int] NULL,
	[収容数3] [decimal](9, 3) NULL,
	[箱数3] [int] NULL,
	[端数3] [decimal](9, 3) NULL,
	[納入数3] [decimal](11, 3) NULL,
	[行4] [tinyint] NULL,
	[材料管理番号4] [int] NULL,
	[収容数4] [decimal](9, 3) NULL,
	[箱数4] [int] NULL,
	[端数4] [decimal](9, 3) NULL,
	[納入数4] [decimal](11, 3) NULL,
	[行5] [tinyint] NULL,
	[材料管理番号5] [int] NULL,
	[収容数5] [decimal](9, 3) NULL,
	[箱数5] [int] NULL,
	[端数5] [decimal](9, 3) NULL,
	[納入数5] [decimal](11, 3) NULL,
	[行6] [tinyint] NULL,
	[材料管理番号6] [int] NULL,
	[収容数6] [decimal](9, 3) NULL,
	[箱数6] [int] NULL,
	[端数6] [decimal](9, 3) NULL,
	[納入数6] [decimal](11, 3) NULL,
	[行7] [tinyint] NULL,
	[材料管理番号7] [int] NULL,
	[収容数7] [decimal](9, 3) NULL,
	[箱数7] [int] NULL,
	[端数7] [decimal](9, 3) NULL,
	[納入数7] [decimal](11, 3) NULL,
	[行8] [tinyint] NULL,
	[材料管理番号8] [int] NULL,
	[収容数8] [decimal](9, 3) NULL,
	[箱数8] [int] NULL,
	[端数8] [decimal](9, 3) NULL,
	[納入数8] [decimal](11, 3) NULL,
	[行9] [tinyint] NULL,
	[材料管理番号9] [int] NULL,
	[収容数9] [decimal](9, 3) NULL,
	[箱数9] [int] NULL,
	[端数9] [decimal](9, 3) NULL,
	[納入数9] [decimal](11, 3) NULL,
	[行10] [tinyint] NULL,
	[材料管理番号10] [int] NULL,
	[収容数10] [decimal](9, 3) NULL,
	[箱数10] [int] NULL,
	[端数10] [decimal](9, 3) NULL,
	[納入数10] [decimal](11, 3) NULL,
	[処理端末] [varchar](20) NOT NULL,
	[処理区分] [tinyint] NULL,
	[TEXTNAME] [varchar](30) NULL,
	[発行区分] [tinyint] NULL,
	[発行種類] [varchar](1) NULL,
	[発行形態] [varchar](1) NULL,
	[発行日] [varchar](8) NULL,
	[作成端末] [varchar](20) NULL,
 CONSTRAINT [PK_材料発注帳票発行テーブル] PRIMARY KEY CLUSTERED 
(
	[納品書管理NO] ASC,
	[納入番号] ASC,
	[頁NO] ASC,
	[カード] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
