USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[TEXT変換システムワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEXT変換システムワーク](
	[cname] [varchar](128) NOT NULL,
	[tname] [varchar](128) NOT NULL,
	[prec] [smallint] NULL,
	[scale] [int] NULL
) ON [PRIMARY]
GO
