USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料取引先マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料取引先マスタ](
	[材料管理番号] [int] NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[材質] [varchar](25) NULL,
	[寸法区分] [tinyint] NULL,
	[板厚] [decimal](6, 2) NULL,
	[幅] [decimal](6, 2) NULL,
	[長さ] [decimal](6, 2) NULL,
	[背番号] [varchar](8) NULL,
	[SK区分] [tinyint] NULL,
	[手配区分] [tinyint] NULL,
	[メーカー] [varchar](7) NULL,
	[メーカー受入] [varchar](2) NULL,
	[契約先] [varchar](7) NULL,
	[サイクル] [varchar](5) NULL,
	[収容数１] [decimal](9, 3) NULL,
	[収容器１] [varchar](10) NULL,
	[ロット１] [decimal](9, 3) NULL,
	[変更日] [varchar](8) NULL,
	[変更便] [varchar](2) NULL,
	[収容数２] [decimal](9, 3) NULL,
	[収容器２] [varchar](10) NULL,
	[ロット２] [decimal](9, 3) NULL,
	[置場] [varchar](10) NULL,
	[最終発行連番] [smallint] NULL,
	[係数１] [decimal](3, 2) NULL,
	[係数２] [decimal](3, 2) NULL,
	[係数３] [decimal](3, 2) NULL,
	[LT] [tinyint] NULL,
	[Week１] [tinyint] NULL,
	[Week２] [tinyint] NULL,
	[Week３] [tinyint] NULL,
	[Week４] [tinyint] NULL,
	[Week５] [tinyint] NULL,
	[Ｄａｙ１] [tinyint] NULL,
	[Ｄａｙ２] [tinyint] NULL,
	[Ｄａｙ３] [tinyint] NULL,
	[Ｄａｙ４] [tinyint] NULL,
	[Ｄａｙ５] [tinyint] NULL,
	[発注比率] [tinyint] NULL,
	[有効期限開始] [varchar](8) NULL,
	[有効期限終了] [varchar](8) NULL,
	[内示発注区分] [tinyint] NULL,
	[アドレス] [varchar](10) NULL,
	[伝票種類] [varchar](1) NULL,
	[納品書形態] [varchar](1) NULL,
	[受領書形態] [varchar](1) NULL,
	[受領書発行] [tinyint] NULL,
	[明細書発行] [varchar](1) NULL,
	[備考] [varchar](30) NULL,
	[PNO] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
	[納品書発行区分] [tinyint] NULL,
	[支給書発行区分] [tinyint] NULL,
	[受領書発行区分] [tinyint] NULL,
	[受給品番] [varchar](30) NULL,
	[発注品番] [varchar](30) NULL,
	[自社品番] [varchar](30) NULL,
	[加工先] [varchar](7) NULL,
	[加工先背景色] [decimal](20, 0) NULL,
	[得意先] [varchar](7) NULL,
	[かんばんサイズ] [tinyint] NULL,
	[現品票サイズ] [tinyint] NULL,
	[使用品番1] [varchar](25) NULL,
	[使用品番2] [varchar](25) NULL,
	[前工程区分] [tinyint] NULL,
	[実績換算値] [decimal](9, 3) NULL,
	[材質表示] [tinyint] NULL,
	[直送伝票発行区分] [tinyint] NULL,
	[棚卸区分] [tinyint] NULL,
 CONSTRAINT [PK_材料手配マスタ] PRIMARY KEY CLUSTERED 
(
	[材料管理番号] ASC,
	[取引先] ASC,
	[受入] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
