USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[内示発注チェックテーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[内示発注チェックテーブル](
	[区分] [tinyint] NOT NULL,
	[発注年月] [varchar](6) NOT NULL,
	[手配先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[材料管理番号] [int] NOT NULL,
	[発注処理日] [varchar](8) NULL
) ON [PRIMARY]
GO
