USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[納入指示構成ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[納入指示構成ワーク](
	[処理端末] [varchar](20) NULL,
	[順位] [varchar](50) NULL,
	[レベル] [tinyint] NULL,
	[部品材料区分] [varchar](1) NULL,
	[大親品番] [varchar](25) NULL,
	[大親納入先] [varchar](7) NULL,
	[品番] [varchar](25) NULL,
	[材料管理番号] [int] NULL,
	[材質] [varchar](25) NULL,
	[板厚] [decimal](6, 2) NULL,
	[幅] [decimal](6, 2) NULL,
	[長さ] [decimal](6, 2) NULL,
	[使用品番] [varchar](25) NULL,
	[仕入先] [varchar](7) NULL,
	[加工CD] [varchar](4) NULL,
	[展開区分] [tinyint] NULL,
	[構成数] [decimal](8, 4) NULL,
	[SEQNO] [tinyint] NULL,
	[受入] [varchar](2) NULL,
	[作業順] [tinyint] NULL
) ON [PRIMARY]
GO
