USE [SIMTOKIDB]
GO
/****** Object:  View [dbo].[売上内示状況管理ビュー]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[売上内示状況管理ビュー] AS 
SELECT '内示' 区分,
		CASE WHEN NT.契約先 <> ''
             THEN CASE WHEN ISNULL(TR.略称,'') <> ''
			 	       THEN ISNULL(NT.契約先, '') + ':' + ISNULL(TR.略称, '')
				       ELSE ISNULL(NT.契約先, '')
                  END
             ELSE CASE WHEN ISNULL(TR1.略称,'') <> ''
			 	       THEN ISNULL(HTM.契約先, '') + ':' + ISNULL(TR1.略称, '')
				       ELSE ISNULL(HTM.契約先, '')
                  END
        END 編集契約先,
		CASE WHEN ISNULL(NT.契約先, '') <> ''
             THEN ISNULL(NT.契約先, '')
             ELSE ISNULL(HTM.契約先, '')
        END 契約先,
		CASE WHEN ISNULL(TR.略称, '') <> ''
             THEN ISNULL(TR.略称, '')
             ELSE ISNULL(TR1.略称, '')
        END 契約先名,
        SUM(
        CASE WHEN ISNULL(JT001.単価, 0) <> 0 THEN
             CASE WHEN ISNULL(TR.計算単位, 0) = 0 THEN   ROUND(ISNULL(NW.数量, 0) * ISNULL(JT001.単価, 0), 0, 1)
                  WHEN ISNULL(TR.計算単位, 0) = 1 THEN CEILING(ISNULL(NW.数量, 0) * ISNULL(JT001.単価, 0))
                  WHEN ISNULL(TR.計算単位, 0) = 2 THEN   ROUND(ISNULL(NW.数量, 0) * ISNULL(JT001.単価, 0), 0)
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN   ROUND(  ROUND(NW.数量 * JT001.単価, 1, 1), 0, 1     )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN   ROUND(CEILING(NW.数量 * JT001.単価 * 10) / 10 , 0, 1)
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN   ROUND(  ROUND(NW.数量 * JT001.単価, 1)   , 0, 1     )
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN CEILING(  ROUND(NW.数量 * JT001.単価, 1, 1)           )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN CEILING(CEILING(NW.数量 * JT001.単価 * 10) / 10       )
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN CEILING(  ROUND(NW.数量 * JT001.単価, 1)              )
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN   ROUND(  ROUND(NW.数量 * JT001.単価, 1, 1), 0        )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN   ROUND(CEILING(NW.数量 * JT001.単価 * 10 ) / 10, 0   )
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN   ROUND(  ROUND(NW.数量 * JT001.単価, 1   ), 0        )
                       End
                  End
             END
             WHEN ISNULL(JT2001.単価, 0) <> 0 THEN
             CASE WHEN ISNULL(TR.計算単位, 0) = 0 THEN   ROUND(ISNULL(NW.数量, 0) * ISNULL(JT2001.単価, 0), 0, 1)
                  WHEN ISNULL(TR.計算単位, 0) = 1 THEN CEILING(ISNULL(NW.数量, 0) * ISNULL(JT2001.単価, 0))
                  WHEN ISNULL(TR.計算単位, 0) = 2 THEN   ROUND(ISNULL(NW.数量, 0) * ISNULL(JT2001.単価, 0), 0)
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN   ROUND(  ROUND(NW.数量 * JT2001.単価, 1, 1), 0, 1     )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN   ROUND(CEILING(NW.数量 * JT2001.単価 * 10) / 10 , 0, 1)
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN   ROUND(  ROUND(NW.数量 * JT2001.単価, 1)   , 0, 1     )
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN CEILING(  ROUND(NW.数量 * JT2001.単価, 1, 1)           )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN CEILING(CEILING(NW.数量 * JT2001.単価 * 10) / 10       )
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN CEILING(  ROUND(NW.数量 * JT2001.単価, 1)              )
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN   ROUND(  ROUND(NW.数量 * JT2001.単価, 1, 1), 0        )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN   ROUND(CEILING(NW.数量 * JT2001.単価 * 10 ) / 10, 0   )
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN   ROUND(  ROUND(NW.数量 * JT2001.単価, 1   ), 0        )
                       End
                  End
             END
        ELSE 0 END)
        予測金額,
		CASE WHEN ISNULL(CM.稼動日数, 0) <> 0 THEN
        ROUND( SUM(
        CASE WHEN ISNULL(JT001.単価, 0) <> 0 THEN
             CASE WHEN ISNULL(TR.計算単位, 0) = 0 THEN   ROUND(ISNULL(NW.数量, 0) * ISNULL(JT001.単価, 0), 0, 1)
                  WHEN ISNULL(TR.計算単位, 0) = 1 THEN CEILING(ISNULL(NW.数量, 0) * ISNULL(JT001.単価, 0))
                  WHEN ISNULL(TR.計算単位, 0) = 2 THEN   ROUND(ISNULL(NW.数量, 0) * ISNULL(JT001.単価, 0), 0)
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN   ROUND(  ROUND(NW.数量 * JT001.単価, 1, 1), 0, 1     )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN   ROUND(CEILING(NW.数量 * JT001.単価 * 10) / 10 , 0, 1)
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN   ROUND(  ROUND(NW.数量 * JT001.単価, 1)   , 0, 1     )
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN CEILING(  ROUND(NW.数量 * JT001.単価, 1, 1)           )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN CEILING(CEILING(NW.数量 * JT001.単価 * 10) / 10       )
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN CEILING(  ROUND(NW.数量 * JT001.単価, 1)              )
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN   ROUND(  ROUND(NW.数量 * JT001.単価, 1, 1), 0        )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN   ROUND(CEILING(NW.数量 * JT001.単価 * 10 ) / 10, 0   )
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN   ROUND(  ROUND(NW.数量 * JT001.単価, 1   ), 0        )
                       End
                  End
             END
             WHEN ISNULL(JT2001.単価, 0) <> 0 THEN
             CASE WHEN ISNULL(TR.計算単位, 0) = 0 THEN   ROUND(ISNULL(NW.数量, 0) * ISNULL(JT2001.単価, 0), 0, 1)
                  WHEN ISNULL(TR.計算単位, 0) = 1 THEN CEILING(ISNULL(NW.数量, 0) * ISNULL(JT2001.単価, 0))
                  WHEN ISNULL(TR.計算単位, 0) = 2 THEN   ROUND(ISNULL(NW.数量, 0) * ISNULL(JT2001.単価, 0), 0)
                  WHEN ISNULL(TR.計算単位, 0) = 3 THEN
                  CASE WHEN ISNULL(TR.計算位1, 0) = 0 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN   ROUND(  ROUND(NW.数量 * JT2001.単価, 1, 1), 0, 1     )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN   ROUND(CEILING(NW.数量 * JT2001.単価 * 10) / 10 , 0, 1)
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN   ROUND(  ROUND(NW.数量 * JT2001.単価, 1)   , 0, 1     )
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 1 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN CEILING(  ROUND(NW.数量 * JT2001.単価, 1, 1)           )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN CEILING(CEILING(NW.数量 * JT2001.単価 * 10) / 10       )
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN CEILING(  ROUND(NW.数量 * JT2001.単価, 1)              )
                       End
                       WHEN ISNULL(TR.計算位1, 0) = 2 THEN
                       CASE WHEN ISNULL(TR.計算位2, 0) = 0 THEN   ROUND(  ROUND(NW.数量 * JT2001.単価, 1, 1), 0        )
                            WHEN ISNULL(TR.計算位2, 0) = 1 THEN   ROUND(CEILING(NW.数量 * JT2001.単価 * 10 ) / 10, 0   )
                            WHEN ISNULL(TR.計算位2, 0) = 2 THEN   ROUND(  ROUND(NW.数量 * JT2001.単価, 1   ), 0        )
                       End
                  End
             END
        ELSE 0 END)
        / ISNULL(CM.稼動日数, 1), 0) ELSE 0 END 日当り数,
        0 実績金額, 0 進捗,
        0 実績金額1, 0 実績金額2, 0 実績金額3, 0 実績金額4, 0 実績金額5,0 実績金額6, 0 実績金額7, 0 実績金額8, 0 実績金額9, 0 実績金額10,
        0 実績金額11, 0 実績金額12, 0 実績金額13, 0 実績金額14, 0 実績金額15,0 実績金額16, 0 実績金額17, 0 実績金額18, 0 実績金額19, 0 実績金額20,
		0 実績金額21, 0 実績金額22, 0 実績金額23, 0 実績金額24, 0 実績金額25,0 実績金額26, 0 実績金額27, 0 実績金額28, 0 実績金額29, 0 実績金額30, 0 実績金額31,
        SUBSTRING(NT.内示年月, 1, 6) 年月, ISNULL(HTM.自社工区, '0') 自社工区
   FROM 内示テーブル NT
		LEFT OUTER JOIN 内示日付別ワーク NW
			 ON NW.処理端末 = SUBSTRING(HOST_NAME(), 1, 20)
            AND NW.内示年月 = NT.内示年月
            AND NW.品番 = NT.品番
            AND NW.納入先 = NT.納入先
            AND NW.受入 = NT.受入
            AND NW.内示区分 = NT.内示区分
        LEFT OUTER JOIN 品番マスタ HN
             ON HN.品番 = NT.品番
        LEFT OUTER JOIN 品番取引先マスタ HTM
             ON HTM.品番 = NT.品番
            AND HTM.取引先 = NT.納入先
            AND HTM.受入 = NT.受入
            AND HTM.品目 = 0
        LEFT OUTER JOIN 取引先マスタ TR
             ON TR.取引先CD = NT.契約先
            AND TR.取引先区分 = 0
		LEFT OUTER JOIN 取引先マスタ TR1
			 ON TR1.取引先CD = HTM.契約先
		    AND TR1.取引先区分 = 0
        LEFT OUTER JOIN 名称マスタ SY1
             ON SY1.区分名称 = '自社工区'
            AND SY1.値 = HTM.自社工区
            AND SY1.区分タイプ = ''
        LEFT OUTER JOIN カレンダマスタ CM
             ON CM.取引先区分 = 0
            AND CM.取引先 = ''
            AND CM.年 = SUBSTRING(NT.内示年月, 1, 4)
            AND CM.月 = SUBSTRING(NT.内示年月, 5, 2)
            AND CM.受入 = ''
        LEFT OUTER JOIN 受注単価マスタ JT001
             ON JT001.品番 = NW.品番
            AND JT001.取引先 = NW.納入先
            AND JT001.仮単価区分 = ''
            AND JT001.履歴NO = (SELECT   MAX(履歴NO) FROM 受注単価マスタ JTS001
                                          WHERE   JTS001.品番 = NW.品番
                                            AND   JTS001.取引先 = NW.納入先
											AND   JTS001.仮単価区分 = ''
                                            AND ((JTS001.適用開始日付 < NW.納期
                                            AND   JTS001.適用開始日付 <> '')
                                             OR   JTS001.適用開始日付 = '')
                                            AND ((JTS001.適用終了日付 > NW.納期
                                            AND   JTS001.適用終了日付 <> '')
                                             OR   JTS001.適用終了日付 = ''))
        LEFT OUTER JOIN 受注単価マスタ JT2001
             ON JT2001.品番 = NW.品番
            AND JT2001.取引先 = NW.納入先
            AND JT2001.仮単価区分 = '1'
            AND JT2001.履歴NO = (SELECT   MAX(履歴NO) FROM 受注単価マスタ JTS2001
                              WHERE   JTS2001.品番 = NW.品番
                                AND   JTS2001.取引先 = NW.納入先
								AND   JTS2001.仮単価区分 = '1'
                                AND ((JTS2001.適用開始日付 < NW.納期
                                AND   JTS2001.適用開始日付 <> '')
                                 OR   JTS2001.適用開始日付 = '')
                                AND ((JTS2001.適用終了日付 > NW.納期
                                AND   JTS2001.適用終了日付 <> '')
                                 OR   JTS2001.適用終了日付 = ''))
 WHERE NT.内示区分 = ''
 GROUP BY TR.略称, TR1.略称, NT.契約先, HTM.契約先, TR.計算単位, CM.稼動日数, TR.計算位1, TR.計算位2, NT.内示年月, ISNULL(HTM.自社工区, '0')



GO
