USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[かんばん設定詳細テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[かんばん設定詳細テーブル](
	[かんばん種類] [tinyint] NOT NULL,
	[設定区分] [tinyint] NOT NULL,
	[設定連番] [int] NOT NULL,
	[表示] [varchar](1) NULL,
	[始点X] [int] NULL,
	[始点Y] [int] NULL,
	[終点X] [int] NULL,
	[終点Y] [int] NULL,
	[種別] [int] NULL,
	[幅] [int] NULL,
	[丸み] [int] NULL,
	[横倍] [tinyint] NULL,
	[縦倍] [tinyint] NULL,
	[フォント] [varchar](1) NULL,
	[文字間] [smallint] NULL,
	[回転] [tinyint] NULL,
	[背景] [varchar](1) NULL,
	[フィールド] [varchar](20) NULL,
	[固有設定] [varchar](2) NULL,
	[固定] [varchar](255) NULL,
	[桁数] [int] NULL,
	[少数] [tinyint] NULL,
	[編集] [varchar](1) NULL,
	[位置] [tinyint] NULL,
	[文字幅] [int] NULL,
	[文字高] [int] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_かんばん設定詳細テーブル] PRIMARY KEY CLUSTERED 
(
	[かんばん種類] ASC,
	[設定区分] ASC,
	[設定連番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
