USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[テキスト出荷データ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[テキスト出荷データ](
	[REC1] [varchar](500) NULL,
	[REC2] [varchar](500) NULL,
	[REC3] [varchar](500) NULL,
	[REC4] [varchar](500) NULL
) ON [PRIMARY]
GO
