USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[品番工順セット品番マスタ]    Script Date: 2026/08/05 13:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[品番工順セット品番マスタ](
	[品番] [varchar](25) NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[品目] [tinyint] NOT NULL,
	[工順] [tinyint] NOT NULL,
	[セット品番] [varchar](25) NOT NULL,
	[取数] [int] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_品番工順セット品番マスタ] PRIMARY KEY CLUSTERED 
(
	[品番] ASC,
	[取引先] ASC,
	[受入] ASC,
	[品目] ASC,
	[工順] ASC,
	[セット品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
