USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[S内示問合せワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S内示問合せワーク](
	[処理端末] [varchar](20) NULL,
	[年月] [varchar](6) NULL,
	[順位] [varchar](300) NULL,
	[レベル] [tinyint] NULL,
	[品番] [varchar](25) NULL,
	[手配先] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[直送先] [varchar](7) NULL,
	[区分] [tinyint] NULL,
	[当月数] [int] NULL,
	[翌月数] [int] NULL,
	[翌々月数] [int] NULL,
	[日量数01] [decimal](11, 4) NULL,
	[日量数02] [decimal](11, 4) NULL,
	[日量数03] [decimal](11, 4) NULL,
	[日量数04] [decimal](11, 4) NULL,
	[日量数05] [decimal](11, 4) NULL,
	[日量数06] [decimal](11, 4) NULL,
	[日量数07] [decimal](11, 4) NULL,
	[日量数08] [decimal](11, 4) NULL,
	[日量数09] [decimal](11, 4) NULL,
	[日量数10] [decimal](11, 4) NULL,
	[日量数11] [decimal](11, 4) NULL,
	[日量数12] [decimal](11, 4) NULL,
	[日量数13] [decimal](11, 4) NULL,
	[日量数14] [decimal](11, 4) NULL,
	[日量数15] [decimal](11, 4) NULL,
	[日量数16] [decimal](11, 4) NULL,
	[日量数17] [decimal](11, 4) NULL,
	[日量数18] [decimal](11, 4) NULL,
	[日量数19] [decimal](11, 4) NULL,
	[日量数20] [decimal](11, 4) NULL,
	[日量数21] [decimal](11, 4) NULL,
	[日量数22] [decimal](11, 4) NULL,
	[日量数23] [decimal](11, 4) NULL,
	[日量数24] [decimal](11, 4) NULL,
	[日量数25] [decimal](11, 4) NULL,
	[日量数26] [decimal](11, 4) NULL,
	[日量数27] [decimal](11, 4) NULL,
	[日量数28] [decimal](11, 4) NULL,
	[日量数29] [decimal](11, 4) NULL,
	[日量数30] [decimal](11, 4) NULL,
	[日量数31] [decimal](11, 4) NULL
) ON [PRIMARY]
GO
