USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[HOST変換エラーワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOST変換エラーワーク](
	[SEQNO] [int] NOT NULL,
	[取引先] [varchar](2) NULL,
	[品番] [varchar](14) NULL,
	[品番編集] [varchar](1) NULL,
	[背番号] [varchar](8) NULL,
	[車型] [varchar](8) NULL,
	[収容器] [varchar](6) NULL,
	[収容数] [int] NULL,
	[ロット] [int] NULL,
	[サイクル] [varchar](8) NULL,
	[か係数] [decimal](3, 1) NULL,
	[置場] [varchar](10) NULL,
	[品名] [varchar](28) NULL,
	[品番区分] [varchar](1) NULL,
	[手配区分] [varchar](1) NULL,
	[契約先] [varchar](2) NULL,
	[エラーフラグ] [smallint] NULL,
	[エラー内容] [varchar](50) NULL,
	[作成端末] [varchar](20) NOT NULL,
 CONSTRAINT [PK_HOST変換エラーワーク] PRIMARY KEY NONCLUSTERED 
(
	[SEQNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
