USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[品番取引機械マスタ]    Script Date: 2026/08/05 13:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[品番取引機械マスタ](
	[品番] [varchar](25) NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[機械] [varchar](5) NOT NULL,
	[基本] [varchar](1) NULL,
	[機械備考] [varchar](40) NULL,
	[削除区分] [varchar](1) NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_品番取引機械マスタ] PRIMARY KEY CLUSTERED 
(
	[品番] ASC,
	[取引先] ASC,
	[受入] ASC,
	[機械] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
