USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[受注かんばん読取テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[受注かんばん読取テーブル](
	[受注区分] [tinyint] NOT NULL,
	[納入日] [varchar](8) NOT NULL,
	[納入便] [varchar](2) NOT NULL,
	[納入先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[背番号] [varchar](8) NOT NULL,
	[収容数] [int] NOT NULL,
	[枚数] [int] NULL,
	[受注数] [int] NULL,
	[受注管理NO] [int] NOT NULL,
	[作成日] [datetime] NULL,
 CONSTRAINT [PK_受注かんばん読取テーブル] PRIMARY KEY CLUSTERED 
(
	[受注区分] ASC,
	[納入日] ASC,
	[納入便] ASC,
	[納入先] ASC,
	[受入] ASC,
	[品番] ASC,
	[背番号] ASC,
	[収容数] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
