USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[発注予定テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[発注予定テーブル](
	[端末番号] [varchar](20) NOT NULL,
	[番号] [int] IDENTITY(1,1) NOT NULL,
	[仕入先] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[サイクル] [varchar](5) NULL,
	[便] [varchar](2) NULL,
	[指定発注日] [varchar](8) NULL,
	[指定発行時間] [varchar](4) NULL,
	[最終発注日] [varchar](8) NULL,
	[発注予定日] [varchar](8) NULL,
	[納入日] [varchar](8) NULL,
	[納入便] [varchar](2) NULL,
	[処理日時] [datetime] NULL,
 CONSTRAINT [PK_発注予定テーブル] PRIMARY KEY CLUSTERED 
(
	[端末番号] ASC,
	[番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
