USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[TNS送信設定テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TNS送信設定テーブル](
	[送信先] [varchar](7) NOT NULL,
	[FCODE] [varchar](3) NOT NULL,
	[代行送信先] [varchar](7) NOT NULL,
	[送信先区分] [tinyint] NOT NULL,
	[枝番] [tinyint] NOT NULL,
	[送信] [tinyint] NULL,
	[TNS宛先] [char](16) NULL,
	[宛先] [char](5) NULL,
	[発信元] [char](5) NULL,
	[ファイル名称] [varchar](50) NULL,
	[処理区分] [varchar](2) NULL,
	[削除日数] [tinyint] NULL,
	[識別子] [varchar](8) NULL,
	[TNSタイプ] [tinyint] NULL,
	[TNSフォーマット] [tinyint] NULL,
	[TNS送信ファイル名] [varchar](20) NULL,
	[レコード長] [int] NULL,
	[作成先区分1] [tinyint] NULL,
	[作成先区分2] [tinyint] NULL,
	[ゼロ件データ] [tinyint] NULL,
	[出力区分] [tinyint] NULL,
	[送信開始日] [varchar](8) NULL,
	[TNSシステム起動] [tinyint] NULL,
	[品番CHK] [tinyint] NULL,
	[受入CHK] [tinyint] NULL,
	[品番ERRLIST] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新端末] [varchar](15) NULL,
 CONSTRAINT [PK___4__15] PRIMARY KEY CLUSTERED 
(
	[送信先] ASC,
	[FCODE] ASC,
	[代行送信先] ASC,
	[送信先区分] ASC,
	[枝番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
