USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[生産負荷問合せワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[生産負荷問合せワーク](
	[部門] [varchar](7) NULL,
	[機械] [varchar](3) NULL,
	[ロボット区分] [tinyint] NULL,
	[機械NO] [varchar](3) NULL,
	[工程] [varchar](3) NULL,
	[種別] [tinyint] NULL,
	[工程数] [decimal](3, 1) NULL,
	[作成端末] [varchar](20) NULL
) ON [PRIMARY]
GO
