USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[内示一覧画面ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[内示一覧画面ワーク](
	[処理端末] [varchar](20) NULL,
	[品番] [varchar](25) NULL,
	[納入先] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[表示品番] [varchar](30) NULL,
	[表示納入先] [varchar](30) NULL,
	[背番号] [varchar](8) NULL,
	[収容数] [int] NULL,
	[前月当月内示] [int] NULL,
	[前月翌月内示] [int] NULL,
	[内示数] [int] NULL,
	[翌月内示数] [int] NULL,
	[翌々月内示数] [int] NULL,
	[品番登録済FLG] [varchar](1) NULL,
	[内示登録FLG] [varchar](1) NULL
) ON [PRIMARY]
GO
