USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[HOST名称マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOST名称マスタ](
	[名称区分] [varchar](1) NOT NULL,
	[名称CD] [varchar](3) NOT NULL,
	[名称] [varchar](30) NULL,
	[工数計算用係数] [decimal](5, 2) NULL,
	[工数計算用基準数] [decimal](5, 0) NULL,
	[工数計算用SPH] [decimal](5, 0) NULL,
	[請求区分] [tinyint] NULL,
	[消費税区分] [tinyint] NULL,
 CONSTRAINT [PK_HOST名称マスタ] PRIMARY KEY CLUSTERED 
(
	[名称区分] ASC,
	[名称CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
