USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料かんばん重複チェックテーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料かんばん重複チェックテーブル](
	[納入日] [varchar](8) NOT NULL,
	[納入便] [varchar](2) NOT NULL,
	[材料管理番号] [int] NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[背番号] [varchar](8) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[連番] [smallint] NOT NULL,
	[作成端末] [varchar](20) NULL,
	[作成日] [datetime] NULL,
 CONSTRAINT [PK_材料かんばん重複チェックテーブル] PRIMARY KEY CLUSTERED 
(
	[納入日] ASC,
	[納入便] ASC,
	[材料管理番号] ASC,
	[取引先] ASC,
	[背番号] ASC,
	[受入] ASC,
	[連番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
