USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[回転枚数ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[回転枚数ワーク](
	[年月] [varchar](6) NOT NULL,
	[仕入先] [varchar](7) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[背番号] [varchar](8) NULL,
	[回転枚数] [int] NULL,
	[稼動日数] [decimal](3, 1) NULL,
	[便数] [tinyint] NULL,
	[平準化区分] [tinyint] NULL,
	[平準化係数] [tinyint] NULL,
	[更新区分] [tinyint] NULL,
	[現回転枚数] [int] NULL,
	[前月回転枚数] [int] NULL,
	[作成端末] [varchar](20) NOT NULL,
	[適用開始日] [varchar](8) NULL,
	[適用終了日] [varchar](8) NULL,
	[前月適用終了日] [varchar](8) NULL,
 CONSTRAINT [PK_回転枚数ワーク] PRIMARY KEY NONCLUSTERED 
(
	[年月] ASC,
	[仕入先] ASC,
	[品番] ASC,
	[受入] ASC,
	[作成端末] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
