USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[受給照合ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[受給照合ワーク](
	[照合結果] [varchar](1) NULL,
	[照合日付] [varchar](8) NULL,
	[照合品番] [varchar](25) NULL,
	[照合納番] [varchar](10) NULL,
	[照合管理] [varchar](10) NULL,
	[照合赤黒] [tinyint] NULL,
	[照合単価] [decimal](11, 2) NULL,
	[照合数量] [int] NULL,
	[照合金額] [int] NULL,
	[金額] [int] NULL,
	[計算方法] [tinyint] NULL,
	[計算単位] [tinyint] NULL,
	[品番] [varchar](25) NULL,
	[納入番号] [varchar](10) NULL,
	[最大日付] [varchar](8) NULL,
	[件数] [int] NULL,
	[部品材料区分] [varchar](1) NULL
) ON [PRIMARY]
GO
