USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[生産計画表発行ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[生産計画表発行ワーク](
	[処理端末] [varchar](20) NOT NULL,
	[区分] [varchar](1) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[工区] [varchar](1) NOT NULL,
	[前月計画数] [int] NULL,
	[当月計画数] [int] NULL,
	[前月内示数] [int] NULL,
	[当月内示数] [int] NULL,
	[翌月内示数] [int] NULL,
	[翌々月内示数] [int] NULL,
	[変更区分] [tinyint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [生産計画表当月ワーク_K1]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [生産計画表当月ワーク_K1] ON [dbo].[生産計画表発行ワーク]
(
	[処理端末] ASC,
	[区分] ASC,
	[品番] ASC,
	[工区] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
