USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[TEXT買掛金テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEXT買掛金テーブル](
	[財務管理番号] [int] NOT NULL,
	[FILECODE] [varchar](10) NOT NULL,
	[HEAD作成日] [varchar](8) NOT NULL,
	[HEADSEQ] [varchar](3) NOT NULL,
	[FCD] [varchar](5) NOT NULL,
	[契約先] [varchar](5) NOT NULL,
	[対象年月] [varchar](6) NOT NULL,
	[対象期] [tinyint] NOT NULL,
	[対象日] [varchar](2) NOT NULL,
	[識別子] [varchar](2) NOT NULL,
	[データ] [varchar](2) NOT NULL,
	[カード] [varchar](2) NULL,
	[購買] [varchar](2) NOT NULL,
	[貸借] [varchar](1) NOT NULL,
	[工区] [varchar](1) NULL,
	[品番] [varchar](12) NOT NULL,
	[納入番号] [varchar](10) NOT NULL,
	[受入] [varchar](4) NOT NULL,
	[依頼部署] [varchar](3) NOT NULL,
	[単位] [varchar](2) NULL,
	[重量] [decimal](6, 3) NULL,
	[繰越] [varchar](1) NULL,
	[品名] [varchar](20) NULL,
	[数量] [decimal](11, 3) NULL,
	[単価] [decimal](12, 2) NULL,
	[金額] [int] NULL,
	[検収日] [varchar](8) NULL,
	[支給先] [varchar](4) NULL,
	[持込先] [varchar](5) NULL,
	[出庫者] [varchar](4) NULL,
	[支給区分] [varchar](1) NULL,
	[管理番号] [varchar](11) NULL,
	[型台帳NO] [varchar](12) NULL,
	[支払開始年月] [varchar](6) NULL,
	[設定月数] [tinyint] NULL,
	[経過月数] [tinyint] NULL,
	[型投資額] [int] NULL,
	[当月支払額] [decimal](11, 2) NULL,
	[科目コード] [varchar](4) NULL,
	[仕入先] [varchar](4) NULL,
	[データ元] [varchar](1) NULL,
	[補助品番] [varchar](12) NULL,
	[自動遡り区分] [varchar](1) NULL,
	[購入区分] [varchar](1) NULL,
	[仮号試] [varchar](1) NULL,
	[訂正理由] [varchar](2) NULL,
	[連番] [varchar](7) NULL,
	[決済番号] [varchar](4) NULL,
	[部品管理区分] [varchar](1) NULL,
	[仮単価] [varchar](1) NULL,
	[マイナス] [varchar](1) NULL,
	[照合年月] [varchar](6) NULL,
	[照合処理日] [varchar](8) NULL,
	[照合日付] [varchar](8) NULL,
	[照合品番] [varchar](12) NULL,
	[照合納番] [varchar](10) NULL,
	[照合管理] [varchar](10) NULL,
	[照合結果] [varchar](2) NULL,
	[照合区分] [varchar](1) NULL,
	[作成端末] [varchar](20) NULL,
	[作成日] [datetime] NULL,
	[更新端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[照合赤黒] [tinyint] NULL,
 CONSTRAINT [PK_TEXT買掛金テーブル] PRIMARY KEY CLUSTERED 
(
	[財務管理番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
