USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料かんばん読取エラーテーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料かんばん読取エラーテーブル](
	[エラー管理番号] [int] NOT NULL,
	[エラー種類] [tinyint] NOT NULL,
	[材料管理番号] [int] NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[発行NO] [tinyint] NOT NULL,
	[収容数] [decimal](9, 3) NOT NULL,
	[材質] [varchar](25) NULL,
	[板厚] [decimal](6, 2) NULL,
	[幅] [decimal](6, 2) NULL,
	[長さ] [decimal](6, 2) NULL,
	[背番号] [varchar](8) NULL,
	[手配区分] [varchar](1) NULL,
	[サイクル] [varchar](5) NULL,
	[エラー要因] [tinyint] NULL,
	[平準化区分] [tinyint] NULL,
	[平準化設定枚数] [int] NULL,
	[平準化超過枚数] [int] NULL,
	[打切種別] [tinyint] NULL,
	[打切区分] [tinyint] NULL,
	[完了区分] [varchar](1) NULL,
	[起算日] [varchar](8) NULL,
	[起算便] [varchar](2) NULL,
	[完了日] [varchar](8) NULL,
	[完了便] [varchar](2) NULL,
	[打切日] [varchar](8) NULL,
	[打切設定数] [decimal](11, 3) NULL,
	[警告数] [decimal](11, 3) NULL,
	[警告日] [varchar](8) NULL,
	[発注済数] [decimal](11, 3) NULL,
	[今回発注数] [decimal](11, 3) NULL,
	[設定残数] [decimal](11, 3) NULL,
	[今回発注枚数] [int] NULL,
	[今回発注端数] [decimal](11, 3) NULL,
	[打切エラー枚数] [int] NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
 CONSTRAINT [PK_材料かんばん読取エラーテーブル] PRIMARY KEY CLUSTERED 
(
	[エラー管理番号] ASC,
	[エラー種類] ASC,
	[材料管理番号] ASC,
	[取引先] ASC,
	[受入] ASC,
	[発行NO] ASC,
	[収容数] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
