USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[かんばんチェックテーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[かんばんチェックテーブル](
	[納入日] [varchar](8) NOT NULL,
	[納入便] [varchar](2) NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[枚数] [int] NULL,
	[増減枚数] [int] NULL,
	[月完了区分] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[更新日] [datetime] NULL,
 CONSTRAINT [PK_かんばんチェックテーブル] PRIMARY KEY CLUSTERED 
(
	[納入日] ASC,
	[納入便] ASC,
	[取引先] ASC,
	[受入] ASC,
	[品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
