USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[有償売上書ワーク]    Script Date: 2026/08/05 13:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[有償売上書ワーク](
	[処理端末] [varchar](20) NULL,
	[納入先] [varchar](5) NULL,
	[納入先工場CD] [varchar](2) NULL,
	[納入先CD] [varchar](8) NULL,
	[納入先名] [varchar](50) NULL,
	[受入] [varchar](2) NULL,
	[自社工区名] [varchar](20) NULL,
	[品番] [varchar](30) NULL,
	[背番号] [varchar](8) NULL,
	[手配単位] [varchar](8) NULL,
	[材質] [varchar](30) NULL,
	[表示寸法] [varchar](30) NULL,
	[単価] [decimal](9, 2) NULL,
	[単重] [decimal](9, 3) NULL,
	[納入日] [varchar](8) NULL,
	[納入数] [decimal](11, 3) NULL,
	[金額] [money] NULL,
	[部品材料区分] [varchar](2) NULL
) ON [PRIMARY]
GO
