USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料展開在庫ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料展開在庫ワーク](
	[材料管理番号] [int] NOT NULL,
	[月初有効在庫数] [decimal](12, 3) NULL,
 CONSTRAINT [PK_材料展開在庫ワーク] PRIMARY KEY CLUSTERED 
(
	[材料管理番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 60, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
