USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[TNS支給送信品番確認テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TNS支給送信品番確認テーブル](
	[契約先] [varchar](7) NULL,
	[FILECD] [varchar](10) NULL,
	[FCD] [varchar](4) NULL,
	[処理日時] [varchar](12) NULL,
	[HEADKEY] [varchar](30) NULL,
	[区分] [varchar](1) NULL,
	[識別子] [varchar](1) NULL,
	[ブランク1] [varchar](2) NULL,
	[カード] [varchar](4) NULL,
	[仕入先] [varchar](4) NULL,
	[仕入先工区] [varchar](1) NULL,
	[管理番号] [varchar](6) NULL,
	[ブランク2] [varchar](5) NULL,
	[品番] [varchar](12) NULL,
	[単位] [varchar](2) NULL,
	[納入場所] [varchar](4) NULL,
	[納入区分] [varchar](1) NULL,
	[支給区分] [varchar](1) NULL,
	[部品区分] [varchar](1) NULL,
	[背番号] [varchar](8) NULL,
	[収容数] [varchar](5) NULL,
	[ブランク3] [varchar](14) NULL,
	[品名] [varchar](40) NULL,
	[担当者] [varchar](2) NULL,
	[提供依頼者] [varchar](4) NULL,
	[REC] [varchar](1000) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [TNS支給品番K1]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [TNS支給品番K1] ON [dbo].[TNS支給送信品番確認テーブル]
(
	[契約先] ASC,
	[FILECD] ASC,
	[処理日時] ASC,
	[HEADKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [TNS支給品番K2]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [TNS支給品番K2] ON [dbo].[TNS支給送信品番確認テーブル]
(
	[契約先] ASC,
	[HEADKEY] ASC,
	[品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
