USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[前工程入荷テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[前工程入荷テーブル](
	[入荷管理NO] [int] IDENTITY(1,1) NOT NULL,
	[納入番号] [varchar](5) NOT NULL,
	[納品書頁] [tinyint] NOT NULL,
	[納品書行] [tinyint] NOT NULL,
	[納入日] [varchar](8) NOT NULL,
	[納入便] [varchar](2) NOT NULL,
	[仕入先] [varchar](7) NULL,
	[受注者] [varchar](4) NOT NULL,
	[受注者工場] [varchar](1) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[支給元体系] [varchar](4) NULL,
	[支給元1] [varchar](4) NULL,
	[支給元2] [varchar](4) NULL,
	[出荷場] [varchar](3) NULL,
	[納入先] [varchar](7) NULL,
	[発注者] [varchar](4) NULL,
	[発注者工場] [varchar](1) NULL,
	[発行日] [varchar](8) NULL,
	[発注区分] [varchar](1) NULL,
	[カード] [varchar](1) NULL,
	[機番] [varchar](2) NULL,
	[総頁] [tinyint] NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[背番号] [varchar](8) NULL,
	[収容数] [int] NULL,
	[枚数] [int] NULL,
	[納入数] [int] NULL,
	[入荷日] [varchar](8) NULL,
	[入荷便] [varchar](2) NULL,
	[TNS作成区分] [tinyint] NULL,
	[TNS作成管理NO] [int] NULL,
	[TNS作成日] [varchar](8) NULL,
	[TNS作成処理日] [datetime] NULL,
	[TNS連番] [int] NULL,
	[検収区分] [varchar](1) NULL,
	[検収年月] [varchar](6) NULL,
	[検収処理日] [varchar](8) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[作成者] [varchar](15) NULL,
	[更新日] [datetime] NULL,
	[更新端末] [varchar](20) NULL,
	[更新者] [varchar](15) NULL,
 CONSTRAINT [PK_前工程入荷テーブル] PRIMARY KEY CLUSTERED 
(
	[入荷管理NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
