USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[支給明細テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[支給明細テーブル](
	[検収管理NO] [int] NOT NULL,
	[実績年月] [varchar](6) NOT NULL,
	[入力区分] [varchar](1) NULL,
	[識別子] [varchar](2) NULL,
	[契約先] [varchar](7) NULL,
	[品番] [varchar](25) NULL,
	[支給先] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[背番号] [varchar](8) NULL,
	[出庫者] [varchar](7) NULL,
	[車型] [varchar](5) NULL,
	[納入番号] [varchar](9) NULL,
	[検収日] [varchar](8) NULL,
	[赤黒区分] [tinyint] NULL,
	[単価] [decimal](11, 2) NULL,
	[仮単価区分] [varchar](1) NULL,
	[数量] [int] NULL,
	[金額] [money] NULL,
	[有無償区分] [tinyint] NULL,
	[部品区分] [varchar](1) NULL,
	[単位] [varchar](2) NULL,
	[訂正理由] [varchar](2) NULL,
	[科目] [varchar](4) NULL,
	[発注管理NO] [int] NULL,
	[遡り区分] [varchar](1) NULL,
	[実績区分] [tinyint] NULL,
	[実績処理日] [varchar](8) NULL,
	[計算方法] [tinyint] NULL,
	[計算単位] [tinyint] NULL,
	[締日] [tinyint] NULL,
	[明細件数] [smallint] NULL,
	[集約検収管理NO] [int] NULL,
	[送信区分] [tinyint] NULL,
	[送信処理日] [varchar](8) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[作成者] [varchar](15) NULL,
 CONSTRAINT [PK_支給明細テーブル] PRIMARY KEY CLUSTERED 
(
	[検収管理NO] ASC,
	[実績年月] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
