USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[S生産計画ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S生産計画ワーク](
	[内示年月] [varchar](6) NOT NULL,
	[計画年月] [varchar](6) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[手配先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[工区] [varchar](1) NOT NULL,
	[納期] [varchar](8) NOT NULL,
	[指定納期] [varchar](8) NULL,
	[仕掛日] [varchar](8) NULL,
	[数量] [int] NULL,
	[引当後数量] [int] NULL,
	[係数1] [decimal](3, 2) NULL,
	[係数2] [decimal](3, 2) NULL,
	[係数3] [decimal](3, 2) NULL,
	[サイクル] [varchar](5) NULL,
	[LT] [tinyint] NULL,
	[ロット] [int] NULL,
	[Week1] [tinyint] NULL,
	[Week2] [tinyint] NULL,
	[Week3] [tinyint] NULL,
	[Week4] [tinyint] NULL,
	[Week5] [tinyint] NULL,
	[Day1] [tinyint] NULL,
	[Day2] [tinyint] NULL,
	[Day3] [tinyint] NULL,
	[Day4] [tinyint] NULL,
	[Day5] [tinyint] NULL,
	[手配区分] [varchar](1) NULL,
	[発注比率] [tinyint] NULL,
	[発注比率計] [smallint] NULL,
	[件数] [tinyint] NULL,
	[計画稼動区分] [varchar](31) NULL,
	[稼働日末日] [tinyint] NULL,
	[内示数] [int] NULL,
	[翌月内示数] [int] NULL,
	[翌々月内示数] [int] NULL,
 CONSTRAINT [PK_S生産計画ワーク] PRIMARY KEY NONCLUSTERED 
(
	[内示年月] ASC,
	[計画年月] ASC,
	[品番] ASC,
	[手配先] ASC,
	[受入] ASC,
	[納期] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_S生産計画ワーク]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [IX_S生産計画ワーク] ON [dbo].[S生産計画ワーク]
(
	[内示年月] ASC,
	[納期] ASC,
	[品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
