USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[S内示集計前ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S内示集計前ワーク](
	[内示年月] [varchar](6) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[納入先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[内示数] [int] NULL,
	[翌月内示数] [int] NULL,
	[翌々月内示数] [int] NULL,
	[繰越在庫数] [int] NULL,
	[収容数] [int] NULL,
	[背番号] [varchar](8) NULL,
	[サイクル] [varchar](5) NULL,
	[内示数量01] [int] NULL,
	[内示数量02] [int] NULL,
	[内示数量03] [int] NULL,
	[内示数量04] [int] NULL,
	[内示数量05] [int] NULL,
	[内示数量06] [int] NULL,
	[内示数量07] [int] NULL,
	[内示数量08] [int] NULL,
	[内示数量09] [int] NULL,
	[内示数量10] [int] NULL,
	[内示数量11] [int] NULL,
	[内示数量12] [int] NULL,
	[内示数量13] [int] NULL,
	[内示数量14] [int] NULL,
	[内示数量15] [int] NULL,
	[内示数量16] [int] NULL,
	[内示数量17] [int] NULL,
	[内示数量18] [int] NULL,
	[内示数量19] [int] NULL,
	[内示数量20] [int] NULL,
	[内示数量21] [int] NULL,
	[内示数量22] [int] NULL,
	[内示数量23] [int] NULL,
	[内示数量24] [int] NULL,
	[内示数量25] [int] NULL,
	[内示数量26] [int] NULL,
	[内示数量27] [int] NULL,
	[内示数量28] [int] NULL,
	[内示数量29] [int] NULL,
	[内示数量30] [int] NULL,
	[内示数量31] [int] NULL,
	[品番置換区分] [tinyint] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_S内示集計前ワーク]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [IX_S内示集計前ワーク] ON [dbo].[S内示集計前ワーク]
(
	[内示年月] ASC,
	[品番] ASC,
	[納入先] ASC,
	[受入] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
