USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[在庫マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[在庫マスタ](
	[年月度] [varchar](6) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[受入] [varchar](7) NOT NULL,
	[工順] [varchar](7) NOT NULL,
	[在庫数] [decimal](11, 0) NULL,
	[実棚日] [varchar](8) NOT NULL,
	[変更事由] [varchar](40) NULL,
	[作成区分] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
 CONSTRAINT [PK_在庫マスタ] PRIMARY KEY CLUSTERED 
(
	[年月度] ASC,
	[品番] ASC,
	[取引先] ASC,
	[受入] ASC,
	[工順] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
