USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[売上照合ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[売上照合ワーク](
	[照合結果] [varchar](1) NULL,
	[照合日付] [varchar](8) NULL,
	[照合品番] [varchar](25) NULL,
	[照合納番] [varchar](10) NULL,
	[照合管理] [varchar](10) NULL,
	[照合単価] [decimal](11, 2) NULL,
	[照合数量] [int] NULL,
	[照合金額] [int] NULL,
	[金額] [int] NULL,
	[計算方法] [tinyint] NULL,
	[計算単位] [tinyint] NULL,
	[品番] [varchar](25) NULL,
	[納入番号] [varchar](10) NULL,
	[最大日付] [varchar](8) NULL,
	[件数] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [KEY]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [KEY] ON [dbo].[売上照合ワーク]
(
	[照合結果] ASC,
	[照合日付] ASC,
	[照合品番] ASC,
	[照合納番] ASC,
	[照合管理] ASC,
	[照合単価] ASC,
	[照合数量] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [KEY2]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [KEY2] ON [dbo].[売上照合ワーク]
(
	[照合日付] ASC,
	[照合品番] ASC,
	[照合納番] ASC,
	[照合管理] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
