USE [SIMTOKIDB]
GO
/****** Object:  View [dbo].[発注入荷状況問合ビュー]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--* 2008/06/09 TNS作成日 追加
--* 2009/04/09 単価参照変更

CREATE VIEW [dbo].[発注入荷状況問合ビュー]
AS
SELECT
	CASE WHEN ISNULL(HC.納入日,'') = '' THEN
		CASE WHEN ISNULL(HC.納入便,'') = '' THEN '' 
		ELSE SPACE(10) + '-' + HC.納入便 END
	ELSE
		CASE WHEN ISNULL(HC.納入便,'') = '' THEN 
			SUBSTRING(HC.納入日,1,4) + '/' + SUBSTRING(HC.納入日,5,2) + '/' + 
			SUBSTRING(HC.納入日,7,2)
		ELSE
			SUBSTRING(HC.納入日,1,4) + '/' + SUBSTRING(HC.納入日,5,2) + '/' + 
			SUBSTRING(HC.納入日,7,2) + '- ' + HC.納入便 END
	END 納入日便,
	CASE WHEN ISNULL(HN.表示品番,'') = '' THEN HC.品番 ELSE HN.表示品番 END 表示品番,
	' ' + HC.背番号 表示背番号,HN.品名,
	CASE WHEN ISNULL(TR.取引先CD,'') = '' Then HC.仕入先 ELSE HC.仕入先 + '：' + RTRIM(TR.略称) End 編集仕入先,
	HC.受入,HC.収容数,HC.枚数 発注枚数,HC.発注数,
	ISNULL(NK.入荷枚数,0) 入荷枚数,ISNULL(NK.入荷数,0) 入荷数, 
	CASE WHEN ISNULL(NK.入荷日,'') = '' THEN
		CASE WHEN ISNULL(NK.入荷便,'') = '' THEN '' 
		ELSE SPACE(10) + '-' + NK.入荷便 END
	ELSE
		CASE WHEN ISNULL(NK.入荷便,'') = '' THEN 
			SUBSTRING(NK.入荷日,1,4) + '/' + SUBSTRING(NK.入荷日,5,2) + '/' + 
			SUBSTRING(NK.入荷日,7,2)
		ELSE
			SUBSTRING(NK.入荷日,1,4) + '/' + SUBSTRING(NK.入荷日,5,2) + '/' + 
			SUBSTRING(NK.入荷日,7,2) + '- ' + NK.入荷便 END
	END 入荷日便,

	HC.納入番号 + '-' + CAST(HC.納品書頁 As VARCHAR(2)) 表示納入番号,
	CASE WHEN ISNULL(NK.入荷日,'') = '' OR ISNULL(NK.挽回日,'') = ''  THEN 0 ELSE ISNULL(HC.発注数,0) - ISNULL(NK.入荷数,0) END 分納数,
	CASE WHEN ISNULL(NK.挽回日,'') = '' THEN
		CASE WHEN ISNULL(NK.挽回便,'') = '' THEN '' 
		ELSE SPACE(10) + '-' + NK.挽回便 END
	ELSE
		CASE WHEN ISNULL(NK.挽回便,'') = '' THEN 
			SUBSTRING(NK.挽回日,1,4) + '/' + SUBSTRING(NK.挽回日,5,2) + '/' + 
			SUBSTRING(NK.挽回日,7,2)
		ELSE
			SUBSTRING(NK.挽回日,1,4) + '/' + SUBSTRING(NK.挽回日,5,2) + '/' + 
			SUBSTRING(NK.挽回日,7,2) + '- ' + NK.挽回便 END
	END 入荷予定日便,
	ISNULL(HN.車型,'') 車型,
	ISNULL(SY1.値名称,'') 手配区分名,
	ISNULL(SY2.値名称,'') 発注区分名,
	CASE WHEN ISNULL(TR2.取引先CD,'') = '' Then HC.納入先 ELSE HT.納入先 + '：' + RTRIM(TR2.略称) End 編集納入先,
	HT.納入先受入,
	CASE WHEN ISNULL(HC.SK区分,0) = 0 THEN 'かんばん' ELSE '指示' END SK区分名,
	ISNULL(HT.置場,'') 置場,
	CASE WHEN ISNULL(HT.サイクル,'') <> '' Then 
			Substring(HT.サイクル,1,1) + '-' + Substring(HT.サイクル,2,2) + '-' + Substring(HT.サイクル,4,2)
		Else '' End サイクル,
	0 内示超過,
	CASE WHEN ISNULL(TR3.取引先CD,'') = '' Then HC.契約先 ELSE HT.契約先 + '：' + RTRIM(TR3.略称) End 編集契約先,
	
	HC.納入日,HC.納入便,HC.仕入先,HC.品番,HC.背番号,HC.手配区分,HC.発注区分,
	HC.分納区分,HC.納入番号,HC.納品書頁,HC.納品書行,
	ISNULL(NK.入荷日,'') 入荷日,ISNULL(NK.入荷便,'') 入荷便,
	ISNULL(NK.挽回日,'') 入荷予定日,ISNULL(NK.挽回便,'') 入荷予定便,
	HC.発注管理NO
	--* 2007/07/12 Add Start
	,
	CASE WHEN ISNULL(NK.TNS作成日,'') <> '' THEN 
			SUBSTRING(ISNULL(TNS作成日,''),1,4) + '/' + SUBSTRING(ISNULL(TNS作成日,''),5,2) + '/' + SUBSTRING(ISNULL(TNS作成日,''),7,2)
	ELSE ''
	END TNS作成日
	--* 2008/05/20 Start
	,TNS作成日 元TNS作成日
	--* 2008/05/20 End
	--* 2007/07/12 Add End
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2008/06/11 INSERT START
   ,CASE WHEN ISNULL(KT.単価,0) <> 0 THEN 
			  CASE WHEN ISNULL(TR3.計算単位, 0) = 0 THEN   ROUND(HC.発注数 * KT.単価, 0, 1) -- 切捨て
				   WHEN ISNULL(TR3.計算単位, 0) = 1 THEN CEILING(HC.発注数 * KT.単価) 	  -- 切上げ
				   WHEN ISNULL(TR3.計算単位, 0) = 2 THEN   ROUND(HC.発注数 * KT.単価, 0)	  -- 四捨五入
				   WHEN ISNULL(TR3.計算単位, 0) = 3 THEN 
				   CASE WHEN ISNULL(TR3.計算位1, 0) = 0 THEN
						     CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND(  ROUND(HC.発注数 * KT.単価, 1, 1), 0, 1    )	-- １：切捨て　　２：切捨て
								  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND(CEILING(HC.発注数 * KT.単価 * 10) / 10, 0, 1)	-- １：切捨て　　２：切上げ
								  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND(  ROUND(HC.発注数 * KT.単価, 1)   , 0, 1    )  -- １：切捨て　　２：四捨五入
						     END
					    WHEN ISNULL(TR3.計算位1, 0) = 1 THEN
						     CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN CEILING(  ROUND(HC.発注数 * KT.単価, 1, 1)          )	-- １：切上げ　　２：切捨て
								  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN CEILING(CEILING(HC.発注数 * KT.単価 * 10) / 10      )	-- １：切上げ　　２：切上げ
								  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN CEILING(  ROUND(HC.発注数 * KT.単価, 1)             )	-- １：切上げ　　２：四捨五入
						     END
					    WHEN ISNULL(TR3.計算位1, 0) = 2 THEN
						     CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND(  ROUND(HC.発注数 * KT.単価, 1, 1), 0       )	-- １：四捨五入　２：切捨て
								  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND(CEILING(HC.発注数 * KT.単価 * 10 )/ 10, 0   )	-- １：四捨五入　２：切上げ
								  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND(  ROUND(HC.発注数 * KT.単価, 1   ), 0       )	-- １：四捨五入　２：四捨五入
						     END
			        END
			END
       
         WHEN ISNULL(KT2.単価,0) <> 0 THEN
			  CASE WHEN ISNULL(TR3.計算単位, 0) = 0 THEN   ROUND(HC.発注数 * KT2.単価, 0, 1) -- 切捨て
				   WHEN ISNULL(TR3.計算単位, 0) = 1 THEN CEILING(HC.発注数 * KT2.単価) 	  -- 切上げ
				   WHEN ISNULL(TR3.計算単位, 0) = 2 THEN   ROUND(HC.発注数 * KT2.単価, 0)	  -- 四捨五入
				   WHEN ISNULL(TR3.計算単位, 0) = 3 THEN 
				   CASE WHEN ISNULL(TR3.計算位1, 0) = 0 THEN
						     CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND(  ROUND(HC.発注数 * KT2.単価, 1, 1), 0, 1    )	-- １：切捨て　　２：切捨て
								  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND(CEILING(HC.発注数 * KT2.単価 * 10) / 10, 0, 1)	-- １：切捨て　　２：切上げ
								  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND(  ROUND(HC.発注数 * KT2.単価, 1)   , 0, 1    )  -- １：切捨て　　２：四捨五入
						     END
					    WHEN ISNULL(TR3.計算位1, 0) = 1 THEN
						     CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN CEILING(  ROUND(HC.発注数 * KT2.単価, 1, 1)          )	-- １：切上げ　　２：切捨て
								  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN CEILING(CEILING(HC.発注数 * KT2.単価 * 10) / 10      )	-- １：切上げ　　２：切上げ
								  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN CEILING(  ROUND(HC.発注数 * KT2.単価, 1)             )	-- １：切上げ　　２：四捨五入
						     END
					    WHEN ISNULL(TR3.計算位1, 0) = 2 THEN
						     CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND(  ROUND(HC.発注数 * KT2.単価, 1, 1), 0       )	-- １：四捨五入　２：切捨て
								  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND(CEILING(HC.発注数 * KT2.単価 * 10 )/ 10, 0   )	-- １：四捨五入　２：切上げ
								  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND(  ROUND(HC.発注数 * KT2.単価, 1   ), 0       )	-- １：四捨五入　２：四捨五入
						     END
			        END
			 END
     Else 0 END 金額
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2008/06/11 INSERT END
	FROM 発注テーブル HC ( NoLock)
	Left Outer Join 入荷テーブル NK  ( NoLock)
		ON NK.発注管理NO = HC.発注管理NO
	Left Outer Join 品番マスタ HN ( NoLock)
		ON HN.品番 = HC.品番
	Left Outer Join 品番取引先マスタ HT ( NoLock)
		ON HT.品番 = HC.品番
		And HT.取引先 = HC.仕入先
		And HT.受入 = HC.受入
	Left Outer Join 取引先マスタ TR ( Nolock )
		ON TR.取引先区分 = 1
	 	And TR.取引先CD = HC.仕入先
	Left Outer Join 取引先マスタ TR2 ( Nolock )
		ON TR2.取引先区分 = 1
	 	And TR2.取引先CD = HT.納入先
	Left Outer Join 取引先マスタ TR3 ( Nolock )
		ON TR3.取引先区分 = 1
	 	And TR3.取引先CD = HT.契約先
		And TR3.契約先区分 = 1
	Left Outer Join 名称マスタ SY1 ( Nolock )
		ON  SY1.区分名称 = '手配区分'
		And SY1.区分タイプ = ''
		And SY1.値 = HC.手配区分
	Left Outer Join 名称マスタ SY2 ( Nolock )
		ON  SY2.区分名称 = '発注区分'
		And SY2.区分タイプ = ''
		And SY2.値 = HC.発注区分
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2008/06/10 INSERT START
	Left Outer Join 購入単価マスタ KT
         ON  KT.品番 = HC.品番
        AND  KT.取引先 = HC.仕入先
---* 2009/04/09 START
		AND  KT.契約先 = ( SELECT MAX(契約先) FROM 購入単価マスタ KK
                             Where  KK.品番 = HC.品番
                               AND  KK.取引先 = HC.仕入先
                               AND  KK.仮単価区分 = ''
                               AND  KK.適用開始日付 <= HC.納入日
                               And (KK.適用終了日付 = '' Or (KK.適用終了日付 <> ''
                               And  KK.適用終了日付 >= HC.納入日 ) ) ) 
---* 2009/04/09 END
        AND  KT.適用開始日付 <= HC.納入日
        AND  KT.仮単価区分 = ''
        AND (KT.適用終了日付 = '' Or (KT.適用終了日付 <> ''
        AND  KT.適用終了日付 >= HC.納入日 ))
        AND  KT.履歴NO = ( SELECT MAX(KT1.履歴NO) FROM  購入単価マスタ KT1
                             Where  KT1.品番 = HC.品番
                               AND  KT1.取引先 = HC.仕入先
                               AND  KT1.仮単価区分 = ''
                               AND  KT1.適用開始日付 <= HC.納入日
                               And (KT1.適用終了日付 = '' Or (KT1.適用終了日付 <> ''
                               And  KT1.適用終了日付 >= HC.納入日 )) )
    Left Outer Join 購入単価マスタ KT2
         ON  KT2.品番 = HC.品番
        AND  KT2.取引先 = HC.仕入先
---* 2009/04/09 START
		AND  KT2.契約先 = ( SELECT MAX(契約先) FROM 購入単価マスタ KK1
                             Where  KK1.品番 = HC.品番
                               AND  KK1.取引先 = HC.仕入先
                               AND  KK1.仮単価区分 = ''
                               AND  KK1.適用開始日付 <= HC.納入日
                               And (KK1.適用終了日付 = '' Or (KK1.適用終了日付 <> ''
                               And  KK1.適用終了日付 >= HC.納入日 ) ) ) 
---* 2009/04/09 END
        AND  KT2.適用開始日付 <= HC.納入日
        AND  KT2.仮単価区分 = '1'
        AND (KT2.適用終了日付 = '' Or (KT2.適用終了日付 <> ''
        AND  KT2.適用終了日付 >= HC.納入日 ))
        AND  KT2.履歴NO = ( SELECT MAX(KT3.履歴NO) FROM  購入単価マスタ KT3
                             Where  KT3.品番 = HC.品番
                               AND  KT3.取引先 = HC.仕入先
                               AND  KT3.仮単価区分 = ''
                               AND  KT3.適用開始日付 <= HC.納入日
                               And (KT3.適用終了日付 = '' Or (KT3.適用終了日付 <> ''
                               And  KT3.適用終了日付 >= HC.納入日 )) )
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2008/06/10 INSERT END


GO
