USE [SIMTOKIDB]
GO
/****** Object:  View [dbo].[かんばん発注指示ビュー]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[かんばん発注指示ビュー]
AS

SELECT HY.発注予定日 発注日,HY.便 発注便,HY.指定発行時間 発行時間,
	   HY.納入日,HY.納入便,
	   HKY.仕入先,HKY.受入,HKY.手配区分,HKY.作成種別,
	   COUNT(HKY.品番数) 品番数,SUM(HKY.枚数) 枚数,
             CASE WHEN HKY.作成種別 = 'I' Then '一括' Else '指定' END 入力,
             RTRIM(SY.値名称) 手配区分名,
             RTRIM(TR.略称) 仕入先名,ISNULL(HKY.明細書発行,'1') 明細書発行,
	   CASE When Isnull(HKR.仕入先,'') <> '' Then '済' Else '' End 空発行
	From 発注予定テーブル HY
	Left Outer Join 
		( SELECT HKT.発注日,HKT.発注便,HKT.発行時間,HKT.納入日,HKT.納入便,
			   HKT.仕入先,HKT.受入,HKT.手配区分,HKT.作成種別,
			   COUNT(HKT.品番) 品番数,SUM(HKT.枚数) 枚数,Isnull(HT.明細書発行,'1') 明細書発行
				From 発注かんばん予定テーブル HKT
				Left Outer Join 品番取引先マスタ HT
					ON HT.品番 = HKT.品番
					And HT.取引先 = HKT.仕入先
					And HT.受入 = HKT.受入
					And HT.品目 = 1
				Where HKT.処理区分 <> 2
				Group by HKT.発注日,HKT.発注便,HKT.発行時間,HKT.納入日,HKT.納入便,
					   HKT.仕入先,HKT.受入,HKT.手配区分,HKT.作成種別,HT.明細書発行 ) HKY
		ON HKY.発注日 = HY.発注予定日
		And HKY.発注便 = HY.便
		And HKY.発行時間 = HY.指定発行時間
		And HKY.納入日 = HY.納入日
		And HKY.納入便 = HY.納入便
		And HKY.仕入先 = HY.仕入先
		And HKY.受入	   = HY.受入
	Left Outer Join 
		( SELECT 発注日,発注便,納入日,納入便,発行時間,
			   仕入先,受入
				From 空明細書テーブル
				Where 発行区分 = ''
				Group by 発注日,発注便,納入日,納入便,発行時間,
					   仕入先,受入 ) HKR
		ON HKR.発注日 = HY.発注予定日
		And HKR.発注便 = HY.便
		And HKR.発行時間 = HY.指定発行時間
		And HKR.納入日 = HY.納入日
		And HKR.納入便 = HY.納入便
		And HKR.仕入先 = HY.仕入先
		And HKR.受入	   = HY.受入
         Left Outer Join 名称マスタ SY
             ON  SY.区分名称 = '手配区分'
             And SY.区分タイプ = ''
             And SY.値 = HKY.手配区分
         Left Outer Join 取引先マスタ TR
             ON  TR.取引先区分 = 1
             And TR.取引先CD = HKY.仕入先
	Where HY.端末番号 = host_name()
	   And ISNULL(HKY.仕入先,'') <> ''

        Group by HY.発注予定日,HY.便,HY.指定発行時間,
	   HY.納入日,HY.納入便,
	   HKY.仕入先,HKY.受入,HKY.手配区分,HKY.作成種別,
               SY.値名称 , TR.略称,Isnull(HKR.仕入先,''),HKY.明細書発行

UNION
SELECT HY.発注予定日 発注日,HY.便 発注便,HY.指定発行時間 発行時間,
	   HY.納入日,HY.納入便,
	   HY.仕入先,HY.受入 受入,'' 手配区分,'' 作成種別,
	   0 品番数,0 枚数,
             '' 入力,
             '' 手配区分名,
             RTRIM(TR.略称) 仕入先名,ISNULL(TR.明細書発行,'1') 明細書発行,'' 空発行
	From 発注予定テーブル HY
	Left Outer Join 
		( SELECT 発注日,発注便,発行時間,納入日,納入便,
			   仕入先,受入,手配区分
--			   仕入先,受入,手配区分,作成種別
				From 発注かんばん予定テーブル
				Where 処理区分 <> 2
				Group by 発注日,発注便,発行時間,納入日,納入便,
--					   仕入先,受入,手配区分,作成種別 ) HKY
					   仕入先,受入,手配区分 ) HKY
		ON HKY.発注日 = HY.発注予定日
		And HKY.発注便 = HY.便
		And HKY.発行時間 = HY.指定発行時間
		And HKY.納入日 = HY.納入日
		And HKY.納入便 = HY.納入便
		And HKY.仕入先 = HY.仕入先
		And HKY.受入	   = HY.受入
	Left Outer Join 
		( SELECT 発注日,発注便,納入日,納入便,発行時間,
			   仕入先,受入
				From 空明細書テーブル
				Group by 発注日,発注便,納入日,納入便,発行時間,
					   仕入先,受入 ) HKR
		ON HKR.発注日 = HY.発注予定日
		And HKR.発注便 = HY.便
		And HKR.発行時間 = HY.指定発行時間
		And HKR.納入日 = HY.納入日
		And HKR.納入便 = HY.納入便
		And HKR.仕入先 = HY.仕入先
		And HKR.受入	   = HY.受入
         Left Outer Join 取引先マスタ TR
             ON  TR.取引先区分 = 1
             And TR.取引先CD = HY.仕入先
         Left Outer Join 取引先受入マスタ TU
             ON  TU.取引先区分 = 1
             And TU.取引先CD = HY.仕入先
	   And TU.受入 = HY.受入
	Where HY.端末番号 = host_name()
	    And ISNULL(HKY.仕入先,'') = ''
	    And ISNULL(HKR.仕入先,'') = ''
	    And ISNULL(TU.空明細,'') = ''

        Group by HY.発注予定日,HY.便,HY.指定発行時間,
	   HY.納入日,HY.納入便,
	   HY.仕入先,HY.受入,TR.略称,TR.明細書発行











GO
