USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[K_品目負荷マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[K_品目負荷マスタ](
	[品目コード] [varchar](20) NULL,
	[手配先コード] [varchar](7) NULL,
	[負荷係数1] [varchar](8) NULL,
	[負荷係数2] [varchar](8) NULL,
	[負荷係数3] [varchar](8) NULL,
	[負荷係数4] [varchar](8) NULL,
	[負荷係数5] [varchar](8) NULL,
	[負荷係数6] [varchar](8) NULL,
	[負荷係数7] [varchar](8) NULL,
	[負荷係数8] [varchar](8) NULL,
	[負荷係数9] [varchar](8) NULL,
	[負荷係数10] [varchar](8) NULL,
	[負荷係数11] [varchar](8) NULL,
	[負荷係数12] [varchar](8) NULL,
	[負荷係数13] [varchar](8) NULL,
	[負荷係数14] [varchar](8) NULL,
	[負荷係数15] [varchar](8) NULL,
	[内示負荷数] [varchar](15) NULL,
	[出荷負荷数] [varchar](15) NULL,
	[生産負荷数_日次] [varchar](15) NULL,
	[生産負荷数_月次] [varchar](15) NULL,
	[負荷数5] [varchar](15) NULL,
	[空き] [varchar](132) NULL
) ON [PRIMARY]
GO
