USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[発注内示集計ワーク]    Script Date: 2026/08/05 13:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[発注内示集計ワーク](
	[内示年月] [varchar](6) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[手配先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[数量] [int] NULL,
	[収容数] [int] NULL,
	[背番号] [varchar](8) NULL,
	[か係数] [decimal](3, 2) NULL,
	[サイクルA] [tinyint] NULL,
	[サイクルB] [tinyint] NULL,
	[サイクルC] [tinyint] NULL,
	[稼動日数] [decimal](3, 1) NULL,
	[作成端末] [varchar](20) NOT NULL,
 CONSTRAINT [PK_発注内示集計ワーク] PRIMARY KEY NONCLUSTERED 
(
	[内示年月] ASC,
	[品番] ASC,
	[手配先] ASC,
	[受入] ASC,
	[作成端末] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
