USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[発注サイクル設定マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[発注サイクル設定マスタ](
	[回数] [tinyint] NOT NULL,
	[昼夜区分] [tinyint] NULL,
	[回収時間] [varchar](4) NULL,
	[発注時間] [varchar](4) NULL,
	[引取時間] [varchar](4) NULL,
	[備考] [varchar](40) NOT NULL,
	[最大回数] [tinyint] NULL,
	[最終発注日] [varchar](8) NULL,
	[最終回] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_発注サイクル設定マスタ] PRIMARY KEY CLUSTERED 
(
	[回数] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
