USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[K_GAS品目マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[K_GAS品目マスタ](
	[品目コード] [varchar](20) NULL,
	[品目区分] [varchar](1) NULL,
	[品目分類] [varchar](2) NULL,
	[品目名] [varchar](30) NULL,
	[仕様] [varchar](15) NULL,
	[完成品納入先コード] [varchar](7) NULL,
	[製作場所] [varchar](2) NULL,
	[エフ発行] [varchar](1) NULL,
	[実質在庫管理区分] [varchar](1) NULL,
	[ダミー] [varchar](16) NULL,
	[設変通知NO] [varchar](7) NULL,
	[有効開始期間] [varchar](6) NULL,
	[有効終了期間] [varchar](6) NULL,
	[ローレベルコード] [varchar](2) NULL,
	[手配先] [varchar](7) NULL,
	[リードタイム正味] [varchar](4) NULL,
	[リードタイム安全] [varchar](4) NULL,
	[リードタイム累計] [varchar](4) NULL,
	[ロット方式] [varchar](1) NULL,
	[ロット決定値1] [varchar](7) NULL,
	[ロット決定値2] [varchar](7) NULL,
	[ロット丸め区分] [varchar](1) NULL,
	[発注単位] [varchar](2) NULL,
	[納入場所] [varchar](7) NULL,
	[注文書発行区分] [varchar](1) NULL,
	[棚卸資材区分] [varchar](1) NULL,
	[在庫単位] [varchar](2) NULL,
	[在庫管理区分] [varchar](1) NULL,
	[在庫引当区分] [varchar](1) NULL,
	[安全在庫決定区分] [varchar](1) NULL,
	[安全在庫] [varchar](8) NULL,
	[棚卸評価単位] [varchar](10) NULL,
	[出荷エフ色] [varchar](1) NULL,
	[標準SNP] [varchar](5) NULL,
	[非標準納入場所] [varchar](2) NULL,
	[非標準SNP] [varchar](5) NULL,
	[売上] [varchar](8) NULL,
	[原価] [varchar](8) NULL,
	[前期末棚卸評価単位] [varchar](10) NULL,
	[車種] [varchar](3) NULL,
	[加工費] [varchar](9) NULL,
	[材料費] [varchar](9) NULL,
	[購入品費] [varchar](7) NULL,
	[型費] [varchar](9) NULL,
	[管理費] [varchar](7) NULL,
	[ETC1] [varchar](1) NULL,
	[ETC2] [varchar](2) NULL,
	[ETC3] [varchar](5) NULL
) ON [PRIMARY]
GO
