USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[HOST変換履歴テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOST変換履歴テーブル](
	[履歴管理番号] [int] NOT NULL,
	[変換区分] [tinyint] NULL,
	[開始日時] [datetime] NULL,
	[終了日時] [datetime] NULL,
	[対象年月] [varchar](6) NULL,
	[入力件数1] [int] NULL,
	[入力件数2] [int] NULL,
	[処理件数1] [int] NULL,
	[処理件数2] [int] NULL,
	[出力件数1] [int] NULL,
	[出力件数2] [int] NULL,
	[出力件数3] [int] NULL,
	[出力件数4] [int] NULL,
	[ERR件数] [int] NULL,
	[処理区分] [tinyint] NULL,
	[起動] [tinyint] NULL,
	[ERR] [varchar](250) NULL,
	[出力日付] [varchar](8) NULL,
	[出力時刻] [varchar](6) NULL,
	[退避先UNC1] [varchar](250) NULL,
	[退避先UNC2] [varchar](250) NULL,
	[実行PG] [varchar](20) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
 CONSTRAINT [PK_HOST変換履歴テーブル] PRIMARY KEY CLUSTERED 
(
	[履歴管理番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
