USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[受注テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[受注テーブル](
	[受注管理NO] [int] NOT NULL,
	[受注管理行NO] [tinyint] NOT NULL,
	[出荷指示書NO] [int] NOT NULL,
	[出荷指示書行NO] [tinyint] NOT NULL,
	[受注区分] [tinyint] NULL,
	[受注日] [varchar](8) NULL,
	[受注便] [varchar](2) NULL,
	[納入日] [varchar](8) NULL,
	[納入便] [varchar](2) NULL,
	[出荷予定日] [varchar](8) NULL,
	[出荷予定便] [varchar](2) NULL,
	[納入先] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[機番] [varchar](3) NULL,
	[納入番号] [varchar](9) NULL,
	[納品書頁] [tinyint] NULL,
	[納品書行] [tinyint] NULL,
	[分納区分] [tinyint] NULL,
	[分納回数] [tinyint] NULL,
	[品番] [varchar](25) NULL,
	[背番号] [varchar](8) NULL,
	[枚数] [int] NULL,
	[収容数] [int] NULL,
	[納入数] [int] NULL,
	[端数] [int] NULL,
	[抜取枚数] [smallint] NULL,
	[エフ発行枚数] [smallint] NULL,
	[エフ発行端数] [int] NULL,
	[作成種別] [varchar](1) NULL,
	[納品書発行区分] [tinyint] NULL,
	[指示書発行区分] [tinyint] NULL,
	[出荷実績区分] [tinyint] NULL,
	[納品書管理NO] [int] NULL,
	[元出荷指示書NO] [int] NULL,
	[元出荷指示書行NO] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[作成者] [varchar](50) NULL,
	[更新日] [datetime] NULL,
	[更新端末] [varchar](20) NULL,
	[更新者] [varchar](15) NULL,
	[便内分割区分] [varchar](1) NULL,
	[打切端数] [int] NULL,
	[打切区分] [tinyint] NULL,
	[打切残数] [int] NULL,
	[TOPPS連番] [int] NULL,
 CONSTRAINT [PK_受注テーブル] PRIMARY KEY CLUSTERED 
(
	[受注管理NO] ASC,
	[受注管理行NO] ASC,
	[出荷指示書NO] ASC,
	[出荷指示書行NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [計画対比1]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [計画対比1] ON [dbo].[受注テーブル]
(
	[納入日] ASC,
	[受入] ASC,
	[納入先] ASC,
	[品番] ASC,
	[背番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [受注チェック]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [受注チェック] ON [dbo].[受注テーブル]
(
	[納入先] ASC,
	[受入] ASC,
	[納入番号] ASC,
	[納品書頁] ASC,
	[納入日] ASC,
	[納入便] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [納入進捗]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [納入進捗] ON [dbo].[受注テーブル]
(
	[納入日] ASC,
	[品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [売上実績]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [売上実績] ON [dbo].[受注テーブル]
(
	[出荷指示書NO] ASC,
	[出荷指示書行NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
