USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[生産指示入力テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[生産指示入力テーブル](
	[生産部署] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[生産指示日] [varchar](8) NOT NULL,
	[生産指示年月] [varchar](6) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[背番号] [varchar](8) NOT NULL,
	[機械] [varchar](5) NOT NULL,
	[収容数] [int] NULL,
	[ロット数] [int] NULL,
	[指示数] [int] NULL,
	[処理区分] [tinyint] NULL,
	[入力区分] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_生産指示入力テーブル] PRIMARY KEY CLUSTERED 
(
	[生産部署] ASC,
	[受入] ASC,
	[生産指示日] ASC,
	[生産指示年月] ASC,
	[品番] ASC,
	[背番号] ASC,
	[機械] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
