USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[TEXT管理テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEXT管理テーブル](
	[FILECD] [varchar](10) NOT NULL,
	[発信元] [varchar](5) NULL,
	[FCODE] [varchar](4) NULL,
	[F名称] [varchar](40) NULL,
	[識別名] [varchar](9) NULL,
	[変換元ﾌｧｲﾙ名] [varchar](30) NULL,
	[累積元ﾌｧｲﾙ名] [varchar](30) NULL,
	[TNS区分] [smallint] NULL,
	[TNSタイプ] [smallint] NULL,
	[受信処理] [smallint] NULL,
	[受信方法] [smallint] NULL,
	[TNSFMT] [smallint] NULL,
	[TEXTレイアウト] [tinyint] NULL,
	[契約先] [varchar](7) NULL,
	[最終処理日時] [datetime] NULL,
	[処理件数] [int] NULL,
	[最終処理] [varchar](30) NULL,
	[処理結果] [varchar](3) NULL,
	[有効長] [int] NULL,
	[連続実行] [smallint] NULL,
	[実行GRP] [varchar](2) NULL,
	[チェックリスト] [smallint] NULL,
	[リスト累積期間] [smallint] NULL,
	[ｵﾌﾟｼｮﾝ1] [smallint] NULL,
	[ｵﾌﾟｼｮﾝ2] [smallint] NULL,
	[ｵﾌﾟｼｮﾝ3] [smallint] NULL,
	[ｵﾌﾟｼｮﾝ4] [smallint] NULL,
	[ｵﾌﾟｼｮﾝ5] [smallint] NULL,
	[ｵﾌﾟｼｮﾝ6] [smallint] NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[作成者] [varchar](15) NULL,
	[更新日] [datetime] NULL,
	[更新端末] [varchar](20) NULL,
	[更新者] [varchar](15) NULL,
	[保持期間] [int] NULL,
	[自社CD] [varchar](4) NULL,
	[車体精工コード] [varchar](4) NULL,
 CONSTRAINT [PK_TEXT管理テーブル] PRIMARY KEY CLUSTERED 
(
	[FILECD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
