USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[発注累積ワーク]    Script Date: 2026/08/05 13:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[発注累積ワーク](
	[管理NO] [int] IDENTITY(1,1) NOT NULL,
	[処理端末] [varchar](20) NOT NULL,
	[伝票発行区分] [tinyint] NOT NULL,
	[伝票種類] [tinyint] NOT NULL,
	[納品書形態] [varchar](1) NULL,
	[受領書形態] [varchar](1) NULL,
	[受領書発行] [tinyint] NOT NULL,
	[明細書発行] [varchar](1) NULL,
	[契約先] [varchar](7) NOT NULL,
	[仕入先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[納入先] [varchar](7) NOT NULL,
	[納入先受入] [varchar](2) NOT NULL,
	[発注区分] [varchar](1) NOT NULL,
	[手配区分] [varchar](1) NOT NULL,
	[SK区分] [tinyint] NOT NULL,
	[納入日] [varchar](8) NOT NULL,
	[納入便] [varchar](2) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[背番号] [varchar](8) NULL,
	[収容数] [int] NULL,
	[枚数] [int] NULL,
	[端数] [int] NULL,
	[発注数] [int] NULL,
	[サイクル] [varchar](5) NULL,
	[発注日] [varchar](8) NULL,
	[発注便] [varchar](2) NULL,
	[端数区分] [tinyint] NULL,
	[打切区分] [tinyint] NULL,
	[打切種別] [tinyint] NULL,
	[打切残数] [int] NULL,
	[打切日] [varchar](8) NULL,
	[内示超過区分] [tinyint] NULL,
	[帳票別発行区分] [varchar](10) NULL,
	[作成種別] [varchar](1) NULL,
	[処理区分] [tinyint] NULL,
	[納入番号] [varchar](5) NULL,
	[分納区分] [tinyint] NULL,
	[発注管理NO] [int] NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[作成者] [varchar](15) NULL,
	[納品書行] [tinyint] NULL,
	[納品書発行区分] [tinyint] NULL,
	[支給書発行区分] [tinyint] NULL,
	[受領書発行区分] [tinyint] NULL,
	[代行契約先] [varchar](7) NULL,
 CONSTRAINT [PK_発注累積ワーク] PRIMARY KEY CLUSTERED 
(
	[管理NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
