USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[売上予想テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[売上予想テーブル](
	[内示年月] [varchar](6) NOT NULL,
	[契約先] [varchar](7) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[工区] [varchar](1) NOT NULL,
	[車型] [varchar](5) NOT NULL,
	[号補区分] [varchar](1) NOT NULL,
	[ライン] [varchar](4) NOT NULL,
	[連番] [tinyint] NOT NULL,
	[単価1] [decimal](9, 2) NOT NULL,
	[仮区分1] [varchar](1) NOT NULL,
	[数量1] [int] NULL,
	[金額1] [money] NULL,
	[前月比1] [money] NULL,
	[単価2] [decimal](9, 2) NOT NULL,
	[仮区分2] [varchar](1) NOT NULL,
	[数量2] [int] NULL,
	[金額2] [money] NULL,
	[前月比2] [money] NULL,
	[単価3] [decimal](9, 2) NOT NULL,
	[仮区分3] [varchar](1) NOT NULL,
	[数量3] [int] NULL,
	[金額3] [money] NULL,
	[前月比3] [money] NULL,
	[集約品番] [varchar](25) NULL,
	[品番編集] [varchar](5) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](15) NULL,
	[更新日] [datetime] NULL,
	[更新端末] [varchar](15) NULL,
 CONSTRAINT [PK_売上予想テーブル] PRIMARY KEY CLUSTERED 
(
	[内示年月] ASC,
	[契約先] ASC,
	[品番] ASC,
	[工区] ASC,
	[車型] ASC,
	[単価1] ASC,
	[仮区分1] ASC,
	[単価2] ASC,
	[仮区分2] ASC,
	[単価3] ASC,
	[仮区分3] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
