USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[生産負荷リストワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[生産負荷リストワーク](
	[作成端末] [varchar](20) NULL,
	[部門] [varchar](50) NULL,
	[機械] [varchar](50) NULL,
	[区分] [varchar](10) NULL,
	[機械NO] [varchar](50) NULL,
	[工程] [varchar](50) NULL,
	[品番] [varchar](30) NULL,
	[工程数] [decimal](4, 1) NULL,
	[基準時間1] [decimal](10, 3) NULL,
	[基準時間2] [decimal](10, 3) NULL,
	[数量] [int] NULL,
	[表示工程数] [decimal](10, 1) NULL,
	[基準時間] [decimal](12, 3) NULL,
	[目標時間] [decimal](12, 3) NULL,
	[使用数1] [decimal](9, 2) NULL,
	[使用数2] [decimal](9, 2) NULL,
	[使用数3] [decimal](9, 2) NULL,
	[使用数4] [decimal](9, 2) NULL,
	[使用数5] [decimal](9, 2) NULL
) ON [PRIMARY]
GO
