USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[S生産計画集計ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S生産計画集計ワーク](
	[内示年月] [varchar](6) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[手配先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[納期] [varchar](8) NOT NULL,
	[仕掛日] [varchar](8) NOT NULL,
	[手配日] [varchar](8) NOT NULL,
	[数量] [int] NULL,
 CONSTRAINT [PK_S生産計画集計ワーク] PRIMARY KEY CLUSTERED 
(
	[内示年月] ASC,
	[品番] ASC,
	[手配先] ASC,
	[受入] ASC,
	[納期] ASC,
	[仕掛日] ASC,
	[手配日] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
