USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[月初有効在庫数マイナステーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[月初有効在庫数マイナステーブル](
	[年月度] [varchar](6) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[レベル] [tinyint] NOT NULL,
	[月初有効在庫数] [decimal](11, 0) NULL,
	[マスタ区分] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
 CONSTRAINT [PK_月初有効在庫数マイナステーブル] PRIMARY KEY CLUSTERED 
(
	[年月度] ASC,
	[品番] ASC,
	[レベル] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
