USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[展開在庫ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[展開在庫ワーク](
	[品番] [varchar](25) NOT NULL,
	[月初有効在庫数] [decimal](11, 0) NULL,
 CONSTRAINT [PK_展開在庫ワーク] PRIMARY KEY CLUSTERED 
(
	[品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 60, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
