USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[かんばん流動履歴テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[かんばん流動履歴テーブル](
	[処理区分] [varchar](1) NOT NULL,
	[流動日] [varchar](8) NOT NULL,
	[納入日] [varchar](8) NOT NULL,
	[納入便] [varchar](2) NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[背番号] [varchar](8) NULL,
	[受入] [varchar](2) NOT NULL,
	[連番] [smallint] NOT NULL,
	[版数] [tinyint] NULL,
	[収容区分] [tinyint] NULL,
	[作成端末] [varchar](20) NULL,
	[作成日] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_かんばん流動履歴テーブル]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [IX_かんばん流動履歴テーブル] ON [dbo].[かんばん流動履歴テーブル]
(
	[処理区分] ASC,
	[品番] ASC,
	[背番号] ASC,
	[流動日] ASC,
	[納入日] ASC,
	[納入便] ASC,
	[取引先] ASC,
	[受入] ASC,
	[連番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
