USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[HOST発注内示読込ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOST発注内示読込ワーク](
	[内示年月] [varchar](6) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[手配先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[前月かんばん枚数] [int] NULL,
	[当月かんばん枚数] [int] NULL,
	[かんばん当月差数] [int] NULL,
	[当月内示数] [int] NULL,
	[翌月内示数] [int] NULL,
	[翌々月内示数] [int] NULL,
	[エラーフラグ] [smallint] NULL,
	[エラー内容] [varchar](50) NULL,
	[作成端末] [varchar](20) NOT NULL,
 CONSTRAINT [PK_HOST発注内示読込ワーク] PRIMARY KEY NONCLUSTERED 
(
	[内示年月] ASC,
	[品番] ASC,
	[手配先] ASC,
	[受入] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
