USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料発注点発注ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料発注点発注ワーク](
	[処理端末] [varchar](20) NOT NULL,
	[材料管理番号] [int] NOT NULL,
	[仕入先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[現在庫数] [decimal](11, 3) NULL,
	[発注予定数] [decimal](11, 3) NULL,
	[所要量] [decimal](11, 3) NULL,
	[作成日] [datetime] NULL
) ON [PRIMARY]
GO
