USE [SIMTOKIDB]
GO
/****** Object:  View [dbo].[S内示問合せビュー]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[S内示問合せビュー]
AS
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, SUM(数量) 日01, 
                      0 日02, 0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 
                      0 日11, 0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 
                      0 日20, 0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '01'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, SUM(数量) 
                      日02, 0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 0 日20, 
                      0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 0 日29, 
                      0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '02'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      SUM(数量) 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 
                      0 日11, 0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 
                      0 日20, 0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '03'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, SUM(数量) 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 
                      0 日11, 0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 
                      0 日20, 0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '04'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, SUM(数量) 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 
                      0 日11, 0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 
                      0 日20, 0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '05'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, SUM(数量) 日06, 0 日07, 0 日08, 0 日09, 0 日10, 
                      0 日11, 0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 
                      0 日20, 0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '06'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, SUM(数量) 日07, 0 日08, 0 日09, 0 日10, 
                      0 日11, 0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 
                      0 日20, 0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '07'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, SUM(数量) 日08, 0 日09, 0 日10, 
                      0 日11, 0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 
                      0 日20, 0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '08'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, SUM(数量) 日09, 0 日10, 
                      0 日11, 0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 
                      0 日20, 0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '09'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, SUM(数量) 日10, 
                      0 日11, 0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 
                      0 日20, 0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '10'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, SUM(数量) 
                      日11, 0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 0 日20, 
                      0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 0 日29, 
                      0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '11'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      SUM(数量) 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 
                      0 日20, 0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '12'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, SUM(数量) 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 
                      0 日20, 0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '13'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, 0 日13, SUM(数量) 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 
                      0 日20, 0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '14'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, 0 日13, 0 日14, SUM(数量) 日15, 0 日16, 0 日17, 0 日18, 0 日19, 
                      0 日20, 0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '15'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, 0 日13, 0 日14, 0 日15, SUM(数量) 日16, 0 日17, 0 日18, 0 日19, 
                      0 日20, 0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '16'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, 0 日13, 0 日14, 0 日15, 0 日16, SUM(数量) 日17, 0 日18, 0 日19, 
                      0 日20, 0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '17'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, SUM(数量) 日18, 0 日19, 
                      0 日20, 0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '18'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, SUM(数量) 日19, 
                      0 日20, 0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '19'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, SUM(数量) 
                      日20, 0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 0 日29, 
                      0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '20'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 0 日20, 
                      SUM(数量) 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '21'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 0 日20, 
                      0 日21, SUM(数量) 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '22'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 0 日20, 
                      0 日21, 0 日22, SUM(数量) 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '23'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 0 日20, 
                      0 日21, 0 日22, 0 日23, SUM(数量) 日24, 0 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '24'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 0 日20, 
                      0 日21, 0 日22, 0 日23, 0 日24, SUM(数量) 日25, 0 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '25'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 0 日20, 
                      0 日21, 0 日22, 0 日23, 0 日24, 0 日25, SUM(数量) 日26, 0 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '26'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 0 日20, 
                      0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, SUM(数量) 日27, 0 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '27'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 0 日20, 
                      0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, SUM(数量) 日28, 
                      0 日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '28'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 0 日20, 
                      0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, SUM(数量) 
                      日29, 0 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '29'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 0 日20, 
                      0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 0 日29, 
                      SUM(数量) 日30, 0 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '30'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      HK.納期
UNION ALL
SELECT          HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, 
                      SUBSTRING(納期, 1, 6) 年月, SUBSTRING(納期, 7, 2) 日, 0 日01, 0 日02, 
                      0 日03, 0 日04, 0 日05, 0 日06, 0 日07, 0 日08, 0 日09, 0 日10, 0 日11, 
                      0 日12, 0 日13, 0 日14, 0 日15, 0 日16, 0 日17, 0 日18, 0 日19, 0 日20, 
                      0 日21, 0 日22, 0 日23, 0 日24, 0 日25, 0 日26, 0 日27, 0 日28, 0 日29, 
                      0 日30, SUM(数量) 日31
FROM            S発注内示構成テーブル HK
WHERE           SUBSTRING(納期, 7, 2) = '31'
GROUP BY     HK.順位, HK.レベル, HK.品番, HK.手配先, HK.受入, HK.直送先, HK.納期

GO
