USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[カレンダマスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[カレンダマスタ](
	[取引先区分] [tinyint] NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[年] [varchar](4) NOT NULL,
	[月] [varchar](2) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[末日] [tinyint] NULL,
	[稼動日数] [decimal](3, 1) NULL,
	[昼勤日数] [tinyint] NULL,
	[夜勤日数] [tinyint] NULL,
	[稼動区分] [varchar](31) NULL,
	[夜勤区分] [varchar](31) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新端末] [varchar](20) NULL,
	[臨時昼区分] [varchar](31) NULL,
	[臨時夜区分] [varchar](31) NULL,
 CONSTRAINT [PK_カレンダマスタ] PRIMARY KEY CLUSTERED 
(
	[取引先区分] ASC,
	[取引先] ASC,
	[年] ASC,
	[月] ASC,
	[受入] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
