USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[仕入先スクラップ単価マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[仕入先スクラップ単価マスタ](
	[仕入先] [varchar](7) NOT NULL,
	[履歴NO] [int] NOT NULL,
	[適用開始日付] [varchar](8) NOT NULL,
	[適用終了日付] [varchar](8) NOT NULL,
	[材質] [varchar](25) NOT NULL,
	[対象年] [varchar](4) NOT NULL,
	[対象期] [tinyint] NOT NULL,
	[単価] [decimal](9, 2) NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_仕入先スクラップ単価マスタ] PRIMARY KEY CLUSTERED 
(
	[仕入先] ASC,
	[履歴NO] ASC,
	[適用開始日付] ASC,
	[適用終了日付] ASC,
	[材質] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
