USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[S発注内示仕掛ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S発注内示仕掛ワーク](
	[品番] [varchar](25) NOT NULL,
	[手配先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[直送先] [varchar](7) NOT NULL,
	[納期] [varchar](8) NOT NULL,
	[仕掛日] [varchar](8) NULL,
	[発注日] [varchar](8) NULL,
	[数量] [int] NULL,
	[LT] [tinyint] NULL,
	[ロット] [int] NULL,
	[Week1] [tinyint] NULL,
	[Week2] [tinyint] NULL,
	[Week3] [tinyint] NULL,
	[Week4] [tinyint] NULL,
	[Week5] [tinyint] NULL,
	[Day1] [tinyint] NULL,
	[Day2] [tinyint] NULL,
	[Day3] [tinyint] NULL,
	[Day4] [tinyint] NULL,
	[Day5] [tinyint] NULL,
	[展開区分] [tinyint] NULL,
	[稼動カウント] [tinyint] NULL,
	[ロット端数] [int] NULL,
	[処理番号] [int] NULL,
 CONSTRAINT [PK_S発注内示仕掛ワーク] PRIMARY KEY NONCLUSTERED 
(
	[品番] ASC,
	[手配先] ASC,
	[受入] ASC,
	[直送先] ASC,
	[納期] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_S発注内示仕掛ワーク]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [IX_S発注内示仕掛ワーク] ON [dbo].[S発注内示仕掛ワーク]
(
	[ロット] ASC,
	[納期] ASC,
	[品番] ASC,
	[手配先] ASC,
	[受入] ASC,
	[処理番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
