USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[発注サイクルマスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[発注サイクルマスタ](
	[仕入先] [varchar](7) NOT NULL,
	[サイクル] [varchar](5) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[振出便] [varchar](2) NOT NULL,
	[行識別] [tinyint] NOT NULL,
	[昼夜区分] [tinyint] NULL,
	[振出時間] [varchar](4) NULL,
	[発行時間] [varchar](4) NULL,
	[回収時間] [varchar](4) NULL,
	[入荷時間] [varchar](4) NULL,
	[振出開始] [varchar](4) NULL,
	[振出終了] [varchar](4) NULL,
	[振出加算日] [smallint] NULL,
	[発注加算日] [smallint] NULL,
	[発注便] [varchar](2) NULL,
	[発行加算日] [smallint] NULL,
	[シーケンス便] [varchar](2) NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
	[最終発注日] [varchar](8) NULL,
	[最終発注便] [varchar](2) NULL,
	[発注処理回数] [tinyint] NULL,
	[最終便] [tinyint] NULL,
 CONSTRAINT [PK_発注サイクルマスタ] PRIMARY KEY CLUSTERED 
(
	[仕入先] ASC,
	[サイクル] ASC,
	[受入] ASC,
	[振出便] ASC,
	[行識別] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
