USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[品番置換マスタ]    Script Date: 2026/08/05 13:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[品番置換マスタ](
	[品番] [varchar](25) NOT NULL,
	[得意先品番] [varchar](25) NOT NULL,
	[納入先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_品番置換マスタ] PRIMARY KEY CLUSTERED 
(
	[品番] ASC,
	[得意先品番] ASC,
	[納入先] ASC,
	[受入] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
