USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[出荷画面入力ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[出荷画面入力ワーク](
	[処理端末] [varchar](20) NOT NULL,
	[処理区分] [tinyint] NULL,
	[受注管理NO] [int] NOT NULL,
	[受注管理行NO] [tinyint] NOT NULL,
	[受注区分] [tinyint] NULL,
	[受注日] [varchar](8) NULL,
	[受注便] [varchar](2) NULL,
	[納入日] [varchar](8) NULL,
	[納入便] [varchar](2) NULL,
	[納入先] [varchar](7) NULL,
	[出荷予定日] [varchar](8) NULL,
	[出荷予定便] [varchar](2) NULL,
	[受入] [varchar](2) NULL,
	[機番] [varchar](3) NULL,
	[納入番号] [varchar](9) NULL,
	[納品書頁] [tinyint] NULL,
	[納品書行] [tinyint] NULL,
	[分納区分] [tinyint] NULL,
	[分納回数] [tinyint] NULL,
	[品番] [varchar](25) NULL,
	[背番号] [varchar](8) NULL,
	[枚数] [int] NULL,
	[収容数] [int] NULL,
	[納入数] [int] NULL,
	[端数] [int] NULL,
	[出荷指示書NO] [int] NULL,
	[出荷指示書行NO] [tinyint] NULL,
	[契約先] [varchar](7) NULL,
	[SK区分] [tinyint] NULL,
	[作成種別] [varchar](1) NULL,
	[伝票種類] [varchar](1) NULL,
	[納品書管理NO] [int] NULL,
	[作成者] [varchar](15) NULL
) ON [PRIMARY]
GO
