USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[棚卸読取結果テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[棚卸読取結果テーブル](
	[対象年月] [varchar](6) NOT NULL,
	[処理日] [varchar](10) NOT NULL,
	[処理時間] [varchar](8) NOT NULL,
	[機種名] [varchar](30) NOT NULL,
	[担当者] [varchar](20) NOT NULL,
	[置場] [varchar](30) NOT NULL,
	[読取連番] [int] NOT NULL,
	[かんばんQR内容] [varchar](300) NULL,
	[品番] [varchar](30) NOT NULL,
	[実棚数] [int] NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[作成者] [varchar](20) NULL,
 CONSTRAINT [PK_棚卸読取結果テーブル] PRIMARY KEY CLUSTERED 
(
	[対象年月] ASC,
	[処理日] ASC,
	[処理時間] ASC,
	[機種名] ASC,
	[担当者] ASC,
	[置場] ASC,
	[読取連番] ASC,
	[品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
