USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[TOPPS変換履歴テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOPPS変換履歴テーブル](
	[履歴管理番号] [int] NOT NULL,
	[受注出荷区分] [tinyint] NOT NULL,
	[ファイルID] [varchar](30) NULL,
	[開始日時] [datetime] NULL,
	[終了日時] [datetime] NULL,
	[入力件数] [int] NULL,
	[変換件数] [int] NULL,
	[変換エラー件数] [int] NULL,
	[処理区分] [tinyint] NULL,
	[削除区分] [tinyint] NULL,
	[ERR] [varchar](2) NULL,
	[ERR内容] [varchar](50) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL
) ON [PRIMARY]
GO
