USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[展開在庫品番ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[展開在庫品番ワーク](
	[年月度] [varchar](6) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[在庫数] [decimal](11, 0) NULL,
	[実棚日] [varchar](8) NOT NULL,
	[安全在庫数] [decimal](11, 0) NULL,
 CONSTRAINT [PK_展開在庫品番ワーク] PRIMARY KEY CLUSTERED 
(
	[年月度] ASC,
	[品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 60, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_展開在庫品番ワーク]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [IX_展開在庫品番ワーク] ON [dbo].[展開在庫品番ワーク]
(
	[年月度] ASC,
	[品番] ASC,
	[実棚日] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 60, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
