USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[在庫更新ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[在庫更新ワーク](
	[処理端末] [varchar](20) NULL,
	[品番] [varchar](25) NULL,
	[取引先] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[工順] [tinyint] NULL,
	[在庫数] [decimal](18, 3) NULL,
	[入庫数] [decimal](18, 3) NULL,
	[出庫数] [decimal](18, 3) NULL,
	[実棚日] [varchar](8) NULL,
	[作成区分] [tinyint] NULL,
	[区分] [tinyint] NULL
) ON [PRIMARY]
GO
