USE [SIMTOKIDB]
GO
/****** Object:  View [dbo].[支給実績状況問合ビュー]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[支給実績状況問合ビュー]
AS
SELECT
	HC.実績日,
	HC.実績便,
	CASE WHEN ISNULL(HC.実績日,'') = '' THEN
		CASE WHEN ISNULL(HC.実績便,'') = '' THEN '' 
		ELSE SPACE(10) + '-' + HC.実績便 END
	ELSE
		CASE WHEN ISNULL(HC.実績便,'') = '' THEN 
			SUBSTRING(HC.実績日,1,4) + '/' + SUBSTRING(HC.実績日,5,2) + '/' + 
			SUBSTRING(HC.実績日,7,2)
		ELSE
			SUBSTRING(HC.実績日,1,4) + '/' + SUBSTRING(HC.実績日,5,2) + '/' + 
			SUBSTRING(HC.実績日,7,2) + '- ' + HC.実績便 END
	END 実績日便,
	HC.納品書頁,
	HC.納品書行,
	HC.納入番号,
	HC.納入番号 + '-' + CAST(HC.納品書頁 As VARCHAR(2)) 表示納入番号,
	HC.品番,
	CASE WHEN ISNULL(HN.表示品番,'') = '' THEN HC.品番 ELSE HN.表示品番 END 表示品番,
	HC.背番号,
	' ' + HC.背番号 表示背番号,
	HC.実績先,
	TR.略称,
	CASE WHEN ISNULL(TR.略称,'') = '' THEN
		HC.実績先
	ELSE
		HC.実績先 + '：' + RTRIM(TR.略称)
	END 編集支給先,
	HC.受入,
	HC.収容数,
	HC.実績枚数,
	HC.実績数,
	ISNULL(HN.車型,'') 車型,
	HC.入力種類,
	CASE WHEN (ISNULL(HC.入力種類,'') = '') or (ISNULL(HC.入力種類, '') = ' ') THEN 
		'支給' 
	ELSE
		CASE WHEN ISNULL(HC.入力種類,'') = 'A' THEN
			'直送支給'
		ELSE 
			''
		END
	END	データ区分名,
	ISNULL(HT.置場,'') 置場,
	CASE WHEN (ISNULL(HC.入力種類,'') = '') or (ISNULL(HC.入力種類, '') = ' ') THEN 
		CASE WHEN ISNULL(HT.サイクル,'') <> '' Then 
			Substring(HT.サイクル,1,1) + '-' + Substring(HT.サイクル,2,2) + '-' + Substring(HT.サイクル,4,2)
		Else '' 
		END
	ELSE
		CASE WHEN ISNULL(HC.入力種類,'') = 'A' THEN
			CASE WHEN ISNULL(HT2.サイクル,'') <> '' Then 
				Substring(HT2.サイクル,1,1) + '-' + Substring(HT2.サイクル,2,2) + '-' + Substring(HT2.サイクル,4,2)
			Else '' 
			END
		ELSE ''
		END
	End サイクル,
	HN.品名,
	HC.実績管理NO,
	HC.有無償区分,									-- 有無償区分を追加
	CASE WHEN ISNULL(HC.有無償区分,0) = '1' THEN	-- 表示用有無償区分を追加
		 '有償'
	ELSE '無償'
	END 表示有無償区分,
	CASE WHEN ISNULL(KT.単価,0) <> 0 THEN			-- 単価を追加
		KT.単価
	ELSE CASE WHEN ISNULL(KT2.単価,0) <> 0 THEN
			KT2.単価
		 ELSE 0
		 END
	END 単価,
	-- 金額試験中 --	--	HC.実績数 * KT.単価 金額
	CASE WHEN ISNULL(HC.有無償区分,0) ='1' THEN
		CASE WHEN ISNULL(KT.単価,0) <> 0 THEN 
				  CASE WHEN ISNULL(TR3.計算単位, 0) = 0 THEN   ROUND(HC.実績数 * KT.単価, 0, 1)	-- 切捨て
					   WHEN ISNULL(TR3.計算単位, 0) = 1 THEN CEILING(HC.実績数 * KT.単価) 		-- 切上げ
					   WHEN ISNULL(TR3.計算単位, 0) = 2 THEN   ROUND(HC.実績数 * KT.単価, 0)	-- 四捨五入
					   WHEN ISNULL(TR3.計算単位, 0) = 3 THEN 
					   CASE WHEN ISNULL(TR3.計算位1, 0) = 0 THEN
								CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND(  ROUND(HC.実績数 * KT.単価, 1, 1), 0, 1   
 )	-- １：切捨て　　２：切捨て
									  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND(CEILING(HC.実績数 * KT.単価 * 10) / 
10, 0, 1)	-- １：切捨て　　２：切上げ
									  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND(  ROUND(HC.実績数 * KT.単価, 1)   , 
0, 1    )	-- １：切捨て　　２：四捨五入
							     END
						    WHEN ISNULL(TR3.計算位1, 0) = 1 THEN
							     CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN CEILING(  ROUND(HC.実績数 * KT.単価, 1, 1)          )	
-- １：切上げ　　２：切捨て
									  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN CEILING(CEILING(HC.実績数 * KT.単価 * 10) / 
10      )	-- １：切上げ　　２：切上げ
									  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN CEILING(  ROUND(HC.実績数 * KT.単価, 1)       
      )	-- １：切上げ　　２：四捨五入
							     END
						    WHEN ISNULL(TR3.計算位1, 0) = 2 THEN
								 CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND(  ROUND(HC.実績数 * KT.単価, 1, 1), 0     
  )	-- １：四捨五入　２：切捨て
									  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND(CEILING(HC.実績数 * KT.単価 * 10 )/ 
10, 0   )	-- １：四捨五入　２：切上げ
									  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND(  ROUND(HC.実績数 * KT.単価, 1   ), 0 
      )	-- １：四捨五入　２：四捨五入
							     END
				        END
				END
       
		     WHEN ISNULL(KT2.単価,0) <> 0 THEN
				  CASE WHEN ISNULL(TR3.計算単位, 0) = 0 THEN   ROUND(HC.実績数 * KT2.単価, 0, 1)	-- 切捨て
					   WHEN ISNULL(TR3.計算単位, 0) = 1 THEN CEILING(HC.実績数 * KT2.単価) 			-- 切上げ
					   WHEN ISNULL(TR3.計算単位, 0) = 2 THEN   ROUND(HC.実績数 * KT2.単価, 0)		-- 四捨五入
					   WHEN ISNULL(TR3.計算単位, 0) = 3 THEN 
					   CASE WHEN ISNULL(TR3.計算位1, 0) = 0 THEN
							     CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND(  ROUND(HC.実績数 * KT2.単価, 1, 1), 0, 1    
)	-- １：切捨て　　２：切捨て
									  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND(CEILING(HC.実績数 * KT2.単価 * 10) / 
10, 0, 1)	-- １：切捨て　　２：切上げ
									  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND(  ROUND(HC.実績数 * KT2.単価, 1)   , 
0, 1    )	-- １：切捨て　　２：四捨五入
							     END
						    WHEN ISNULL(TR3.計算位1, 0) = 1 THEN
							     CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN CEILING(  ROUND(HC.実績数 * KT2.単価, 1, 1)          
)	-- １：切上げ　　２：切捨て
									  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN CEILING(CEILING(HC.実績数 * KT2.単価 * 10) / 
10      )	-- １：切上げ　　２：切上げ
									  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN CEILING(  ROUND(HC.実績数 * KT2.単価, 1)      
       )	-- １：切上げ　　２：四捨五入
							     END
						    WHEN ISNULL(TR3.計算位1, 0) = 2 THEN
								 CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND(  ROUND(HC.実績数 * KT2.単価, 1, 1), 0    
   )	-- １：四捨五入　２：切捨て
									  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND(CEILING(HC.実績数 * KT2.単価 * 10 )/ 
10, 0   )	-- １：四捨五入　２：切上げ
									  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND(  ROUND(HC.実績数 * KT2.単価, 1   ), 
0       )	-- １：四捨五入　２：四捨五入
							     END
				        END
				 END
		Else 0 
		END 
	ELSE 0
	END 金額
	-- 金額試験中 --

	FROM 実績管理テーブル HC ( NoLock)
	Left Outer Join 品番マスタ HN ( NoLock)
		ON HN.品番 = HC.品番
	Left Outer Join 品番取引先マスタ HT ( NoLock)
		ON HT.品番 = HC.品番
		And HT.取引先 = HC.実績先
		And HT.受入 = HC.受入
		And HT.品目 = 1
	Left Outer Join 品番取引先マスタ HT2 ( NoLock)
		ON HT2.品番 = HC.品番
		And HT2.取引先 = HC.実績元
		And HT2.受入 = HC.受入
		And HT2.品目 = 1
	Left Outer Join 取引先マスタ TR ( Nolock )
		ON TR.取引先区分 = 1
	 	And TR.取引先CD = HC.実績先
	Left Outer Join 取引先マスタ TR3 ( Nolock )
		ON TR3.取引先区分 = 1
	 	And TR3.取引先CD = HT.契約先
		And TR3.契約先区分 = 1

	Left Outer Join 支給単価マスタ KT
		ON  KT.品番 = HC.品番
		AND  KT.取引先 = HC.実績先
		AND  KT.適用開始日付 <= HC.実績日
		AND  KT.仮単価区分 = ''
		AND (KT.適用終了日付 = '' Or (KT.適用終了日付 <> ''
		AND  KT.適用終了日付 >= HC.実績日 ))
		AND  KT.履歴NO = ( SELECT MAX(KT1.履歴NO) FROM  支給単価マスタ KT1
                             Where  KT1.品番 = HC.品番
                               AND  KT1.取引先 = HC.実績先
                               AND  KT1.仮単価区分 = ''
                               AND  KT1.適用開始日付 <= HC.実績日
                               And (KT1.適用終了日付 = '' Or (KT1.適用終了日付 <> ''
                               And  KT1.適用終了日付 >= HC.実績日 )) )
	Left Outer Join 支給単価マスタ KT2
		ON  KT2.品番 = HC.品番
		AND  KT2.取引先 = HC.実績先
		AND  KT2.適用開始日付 <= HC.実績日
		AND  KT2.仮単価区分 = '1'
		AND (KT2.適用終了日付 = '' Or (KT2.適用終了日付 <> ''
		AND  KT2.適用終了日付 >= HC.実績日 ))
		AND  KT2.履歴NO = ( SELECT MAX(KT3.履歴NO) FROM  支給単価マスタ KT3
                             Where  KT3.品番 = HC.品番
                               AND  KT3.取引先 = HC.実績先
                               AND  KT3.仮単価区分 = ''
                               AND  KT3.適用開始日付 <= HC.実績日
                               And (KT3.適用終了日付 = '' Or (KT3.適用終了日付 <> ''
                               And  KT3.適用終了日付 >= HC.実績日 )) )
GO
