USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[買掛実績問合ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[買掛実績問合ワーク](
	[処理端末] [varchar](20) NULL,
	[実績年月] [varchar](11) NULL,
	[契約先名] [varchar](28) NULL,
	[契約先] [varchar](7) NULL,
	[品番] [varchar](51) NULL,
	[納入番号] [varchar](9) NULL,
	[数量] [int] NULL,
	[金額] [money] NULL,
	[車型] [varchar](5) NULL
) ON [PRIMARY]
GO
