USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[新TOPPS前工程情報テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[新TOPPS前工程情報テーブル](
	[納入先] [varchar](5) NULL,
	[納入先コード] [varchar](4) NULL,
	[納入先工区] [varchar](1) NULL,
	[納入先事業体] [varchar](2) NULL,
	[納入先事業体工区] [varchar](1) NULL,
	[受入] [varchar](2) NULL,
	[自工程] [varchar](6) NULL,
	[契約先] [varchar](7) NULL,
	[仕入先事業体] [varchar](2) NULL,
	[仕入先] [varchar](5) NULL,
	[仕入先コード] [varchar](4) NULL,
	[仕入先工区] [varchar](1) NULL,
	[出荷場] [varchar](3) NULL,
	[前工程] [varchar](6) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新端末] [varchar](20) NULL
) ON [PRIMARY]
GO
