USE [SIMTOKIDB]
GO
/****** Object:  View [dbo].[かんばん流動管理ビュー]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE VIEW [dbo].[かんばん流動管理ビュー]
AS
SELECT 
	KR.取引先,TR.略称 取引先名,KR.受入,KR.品番
FROM かんばん流動管理テーブル KR
LEFT OUTER JOIN 取引先マスタ TR
ON   TR.取引先CD = KR.取引先
AND TR.取引先区分 = 1
WHERE ISNULL(TR.取引先CD,'') <> ''
GROUP BY KR.取引先,TR.略称,KR.受入,KR.品番







GO
