USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[売上予想未決テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[売上予想未決テーブル](
	[内示年月] [varchar](6) NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[車型] [varchar](5) NULL,
	[管理番号] [varchar](7) NOT NULL,
	[号補区分] [varchar](1) NOT NULL,
	[ライン] [varchar](4) NOT NULL,
	[工区] [varchar](1) NULL,
	[数量1] [int] NULL,
	[数量2] [int] NULL,
	[数量3] [int] NULL,
	[要因] [varchar](20) NULL,
	[作成端末] [varchar](15) NULL,
	[作成日] [varchar](10) NULL,
	[作成時間] [varchar](5) NULL
) ON [PRIMARY]
GO
