USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料発注内示ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料発注内示ワーク](
	[材料管理番号] [int] NOT NULL,
	[手配先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[直送先] [varchar](7) NOT NULL,
	[納期] [varchar](8) NOT NULL,
	[指定納期] [varchar](8) NULL,
	[仕掛日] [varchar](8) NULL,
	[数量] [decimal](12, 3) NULL,
	[引当後数量] [decimal](12, 3) NULL,
	[係数1] [decimal](3, 2) NULL,
	[係数2] [decimal](3, 2) NULL,
	[係数3] [decimal](3, 2) NULL,
	[サイクル] [varchar](5) NULL,
	[LT] [tinyint] NULL,
	[ロット] [decimal](9, 3) NULL,
	[WEEK1] [tinyint] NULL,
	[WEEK2] [tinyint] NULL,
	[WEEK3] [tinyint] NULL,
	[WEEK4] [tinyint] NULL,
	[WEEK5] [tinyint] NULL,
	[DAY1] [tinyint] NULL,
	[DAY2] [tinyint] NULL,
	[DAY3] [tinyint] NULL,
	[DAY4] [tinyint] NULL,
	[DAY5] [tinyint] NULL,
	[手配区分] [varchar](1) NULL,
	[発注比率] [int] NULL,
	[発注比率計] [int] NULL,
	[件数] [int] NULL,
	[換算値] [decimal](9, 3) NULL,
 CONSTRAINT [PK_材料発注内示ワーク] PRIMARY KEY CLUSTERED 
(
	[材料管理番号] ASC,
	[手配先] ASC,
	[受入] ASC,
	[直送先] ASC,
	[納期] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 60, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
