USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[取引先工程マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[取引先工程マスタ](
	[取引先CD] [varchar](7) NOT NULL,
	[機械] [varchar](3) NOT NULL,
	[機械NO] [varchar](3) NOT NULL,
	[稼働時間] [decimal](5, 2) NULL,
	[台数] [tinyint] NULL,
	[代替機械] [varchar](3) NULL,
	[代替機械NO] [varchar](3) NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_取引先工程マスタ] PRIMARY KEY CLUSTERED 
(
	[取引先CD] ASC,
	[機械] ASC,
	[機械NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
