USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[前工程入荷ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[前工程入荷ワーク](
	[処理端末] [varchar](20) NOT NULL,
	[納入番号] [varchar](5) NOT NULL,
	[納品書頁] [tinyint] NOT NULL,
	[納品書行] [tinyint] NOT NULL,
	[納入日] [varchar](8) NOT NULL,
	[納入便] [varchar](2) NOT NULL,
	[受注者] [varchar](4) NOT NULL,
	[受注者工場] [varchar](1) NOT NULL,
	[発注区分] [varchar](1) NULL,
	[カード] [varchar](1) NULL,
	[機番] [varchar](2) NULL,
	[支給元体系] [varchar](4) NULL,
	[支給元1] [varchar](4) NULL,
	[支給元2] [varchar](4) NULL,
	[総頁] [tinyint] NOT NULL,
	[出荷場] [varchar](3) NULL,
	[発注者] [varchar](4) NULL,
	[発注者工場] [varchar](1) NULL,
	[受入] [varchar](2) NOT NULL,
	[発行日] [varchar](8) NULL,
	[品番] [varchar](25) NOT NULL,
	[背番号] [varchar](8) NULL,
	[収容数] [int] NULL,
	[枚数] [int] NULL,
	[納入数] [int] NULL,
	[検収日] [varchar](8) NULL,
	[仕入先] [varchar](7) NULL,
	[仕入先受入] [varchar](2) NULL,
	[契約先] [varchar](7) NULL,
	[代行契約先] [varchar](7) NULL,
	[処理区分] [tinyint] NULL,
	[ERR伝票区分] [tinyint] NULL,
	[ERRCD] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[作成者] [varchar](15) NULL,
 CONSTRAINT [PK_前工程入荷ワーク] PRIMARY KEY CLUSTERED 
(
	[処理端末] ASC,
	[納入番号] ASC,
	[納品書頁] ASC,
	[納品書行] ASC,
	[納入日] ASC,
	[納入便] ASC,
	[受注者] ASC,
	[受注者工場] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
