USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[S内示問合せ日量ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S内示問合せ日量ワーク](
	[処理端末] [varchar](20) NULL,
	[順位] [varchar](300) NULL,
	[レベル] [tinyint] NULL,
	[品番] [varchar](20) NULL,
	[手配先] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[背番号] [varchar](8) NULL,
	[納期] [varchar](8) NULL,
	[数量] [decimal](11, 4) NULL
) ON [PRIMARY]
GO
