USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[TKTTR_取引先マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TKTTR_取引先マスタ](
	[列 0] [nvarchar](7) NULL,
	[列 1] [nvarchar](1) NULL,
	[列 2] [nvarchar](30) NULL,
	[列 3] [nvarchar](12) NULL,
	[列 4] [nvarchar](1) NULL,
	[列 5] [nvarchar](30) NULL,
	[列 6] [nvarchar](30) NULL,
	[列 7] [nvarchar](6) NULL,
	[列 8] [nvarchar](12) NULL,
	[列 9] [nvarchar](1) NULL,
	[列 10] [nvarchar](2) NULL,
	[列 11] [nvarchar](2) NULL,
	[列 12] [nvarchar](2) NULL,
	[列 13] [nvarchar](2) NULL,
	[列 14] [nvarchar](10) NULL,
	[列 15] [nvarchar](7) NULL
) ON [PRIMARY]
GO
