USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[内示TEXTテーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[内示TEXTテーブル](
	[FILECODE] [varchar](10) NOT NULL,
	[HEAD作成日] [varchar](8) NOT NULL,
	[HEADSEQ] [varchar](3) NOT NULL,
	[連番] [int] NOT NULL,
	[対象年月] [varchar](6) NULL,
	[内示年月] [varchar](6) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[納入先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[層別区分] [varchar](1) NULL,
	[号補区分] [varchar](1) NULL,
	[適用開始年月日] [varchar](8) NULL,
	[適用終了年月日] [varchar](8) NULL,
	[内示数] [int] NULL,
	[翌月内示数] [int] NULL,
	[翌々月内示数] [int] NULL,
	[管理NO] [varchar](6) NULL,
	[収容数] [int] NULL,
	[背番号] [varchar](8) NULL,
	[サイクル] [varchar](10) NULL,
	[状態区分] [varchar](1) NULL,
	[納品書不作成区分] [varchar](1) NULL,
	[仕入先工区] [varchar](1) NULL,
	[置換工区] [varchar](1) NULL,
	[持込先] [varchar](4) NULL,
	[持込先工場] [varchar](1) NULL,
	[出庫部署] [varchar](3) NULL,
	[担当] [varchar](2) NULL,
	[支給係] [varchar](2) NULL,
	[内外区分] [varchar](1) NULL,
	[現旧区分] [varchar](1) NULL,
	[整備] [varchar](2) NULL,
	[担当者] [varchar](2) NULL,
	[支給先受入] [varchar](2) NULL,
	[支給先整備] [varchar](2) NULL,
	[支給先担当者] [varchar](2) NULL,
	[管理区分] [varchar](1) NULL,
	[生産区分] [varchar](1) NULL,
	[納品書発行枚数] [smallint] NULL,
	[かんばん回転枚数] [smallint] NULL,
	[かんばん増減符号] [varchar](1) NULL,
	[かんばん増減枚数] [smallint] NULL,
	[当初内示数] [int] NULL,
	[変更数符号] [varchar](1) NULL,
	[変更数] [int] NULL,
	[調整数符号] [varchar](1) NULL,
	[調整数] [int] NULL,
	[納入区分] [varchar](1) NULL,
	[ＡＢ区分] [varchar](1) NULL,
	[変更回数] [int] NULL,
	[内示数量01] [int] NULL,
	[内示数量02] [int] NULL,
	[内示数量03] [int] NULL,
	[内示数量04] [int] NULL,
	[内示数量05] [int] NULL,
	[内示数量06] [int] NULL,
	[内示数量07] [int] NULL,
	[内示数量08] [int] NULL,
	[内示数量09] [int] NULL,
	[内示数量10] [int] NULL,
	[内示数量11] [int] NULL,
	[内示数量12] [int] NULL,
	[内示数量13] [int] NULL,
	[内示数量14] [int] NULL,
	[内示数量15] [int] NULL,
	[内示数量16] [int] NULL,
	[内示数量17] [int] NULL,
	[内示数量18] [int] NULL,
	[内示数量19] [int] NULL,
	[内示数量20] [int] NULL,
	[内示数量21] [int] NULL,
	[内示数量22] [int] NULL,
	[内示数量23] [int] NULL,
	[内示数量24] [int] NULL,
	[内示数量25] [int] NULL,
	[内示数量26] [int] NULL,
	[内示数量27] [int] NULL,
	[内示数量28] [int] NULL,
	[内示数量29] [int] NULL,
	[内示数量30] [int] NULL,
	[内示数量31] [int] NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](15) NULL,
	[品名] [varchar](20) NULL,
	[契約先] [varchar](7) NULL,
 CONSTRAINT [PK_内示TEXTテーブル] PRIMARY KEY CLUSTERED 
(
	[FILECODE] ASC,
	[HEAD作成日] ASC,
	[HEADSEQ] ASC,
	[連番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
