USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[受注TOPPSテーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[受注TOPPSテーブル](
	[受注管理NO] [int] NOT NULL,
	[受注管理行NO] [tinyint] NOT NULL,
	[カード] [varchar](1) NULL,
	[納入先] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[納入日] [varchar](8) NULL,
	[納入便] [varchar](2) NULL,
	[納入番号] [varchar](9) NULL,
	[品番] [varchar](25) NULL,
	[便内分割区分] [varchar](1) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
 CONSTRAINT [PK_受注TOPPSテーブル] PRIMARY KEY CLUSTERED 
(
	[受注管理NO] ASC,
	[受注管理行NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
