USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[かんばん設定テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[かんばん設定テーブル](
	[かんばん種類] [tinyint] NOT NULL,
	[かんばん名] [varchar](20) NULL,
	[ﾗﾍﾞﾙﾋﾟｯﾁ] [int] NULL,
	[有効印字幅] [int] NULL,
	[有効印字長] [int] NULL,
	[印字スピード] [tinyint] NULL,
	[カット間隔] [int] NULL,
	[センサ] [tinyint] NULL,
	[リボン] [tinyint] NULL,
	[ホッパ] [tinyint] NULL,
	[バー種類] [varchar](1) NULL,
	[誤り訂正] [varchar](1) NULL,
	[セル幅] [tinyint] NULL,
	[モード] [varchar](1) NULL,
	[回転] [tinyint] NULL,
	[モデル] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_かんばん設定テーブル] PRIMARY KEY CLUSTERED 
(
	[かんばん種類] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
