USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[工事手配書ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[工事手配書ワーク](
	[端末番号] [varchar](20) NULL,
	[手配先] [varchar](7) NULL,
	[手配先名] [varchar](20) NULL,
	[工場名] [varchar](20) NULL,
	[品番] [varchar](25) NULL,
	[表示品番] [varchar](30) NULL,
	[品名] [varchar](40) NULL,
	[受注実績見込] [int] NULL,
	[当月所要量] [int] NULL
) ON [PRIMARY]
GO
