USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[名称マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[名称マスタ](
	[区分名称] [varchar](30) NOT NULL,
	[区分タイプ] [varchar](1) NOT NULL,
	[値] [varchar](20) NOT NULL,
	[値名称] [varchar](30) NULL,
	[区分桁数] [smallint] NULL,
	[英数字1] [varchar](30) NULL,
	[英数字2] [varchar](30) NULL,
	[英数字3] [varchar](30) NULL,
	[数字1] [decimal](14, 4) NULL,
	[数字2] [decimal](14, 4) NULL,
	[数字3] [decimal](14, 4) NULL,
	[制御区分] [varchar](1) NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_名称マスタ] PRIMARY KEY CLUSTERED 
(
	[区分名称] ASC,
	[区分タイプ] ASC,
	[値] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
