USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[K_GAS単価マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[K_GAS単価マスタ](
	[品目コード] [varchar](20) NULL,
	[単価区分] [varchar](1) NULL,
	[取引先コード] [varchar](7) NULL,
	[新単価] [varchar](10) NULL,
	[旧単価] [varchar](50) NULL,
	[変更日] [varchar](6) NULL,
	[空き] [varchar](8) NULL
) ON [PRIMARY]
GO
