USE [SIMTOKIDB]
GO
/****** Object:  View [dbo].[生産実績状況問合ビュー]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  VIEW [dbo].[生産実績状況問合ビュー]
AS
select  sst.生産指示日
	, case when isnull(hnm.表示品番, '') = '' then sst.品番 else hnm.表示品番 end 表示品番
	, ' ' + sst.背番号 表示背番号
	, sst.生産部署 + ':' + trm.略称 編集生産部署
	, sst.受入
	, sst.機械 + ':' + kmm.機械名称 編集機械
	, sst.収容数
	, sst.ロット数
	, sst.指示数 予定数
	, isnull(ssj.生産日, '') 生産日
	, isnull(ssj.実績数, 0) 実績数
	, isnull(ssj.不良数, 0) 不良数
	, case when ssj.件数 = 1 then ssj.作業開始 else '' end 開始時間
	, case when ssj.件数 = 1 then ssj.作業終了 else '' end 終了時間
	, case when ssj.件数 = 1 then ssj.備考 else '' end 備考
	, isnull(hnm.車型, '') 車型
	, isnull(htm.置場, '') 置場
	, isnull(hnm.品名, '') 品名
	, case when ssj.件数 = 1 and ssj.担当 <> '' then ssj.担当 + ':' + sy1.値名称 else '' end 編集担当
	, sst.生産指示書NO
	, sst.生産指示書行
	, sst.生産部署
	, sst.品番
	, sst.背番号
	, sst.機械
	, case when sst.実績区分 = 0 then '1' else '2' end 表示区分
	, case when sst.実績区分 = 0 then '未実績' else '実績済' end 表示区分名
	, case when ssj.件数 = 1 then ssj.担当 else '' end 担当
	from	生産指示テーブル sst
		left outer join 取引先マスタ trm (nolock)
		  on trm.取引先区分 = 1
		 and trm.取引先CD = sst.生産部署
		left outer join 品番マスタ hnm (nolock)
		  on hnm.品番 = sst.品番
		left outer join 機械マスタ kmm (nolock)
		  on kmm.機械 = sst.機械
		left outer join
		(
		select  xxx.生産指示書NO
			, xxx.生産指示書行
			, min(xxx.生産日) 生産日
			, min(xxx.担当) 担当
			, min(xxx.作業開始) 作業開始
			, max(xxx.作業終了) 作業終了
			, sum(xxx.実績数) 実績数
			, sum(xxx.不良数) 不良数
			, min(xxx.備考) 備考
			, count(*) 件数
			from	生産実績テーブル xxx (nolock)
			group by
			  xxx.生産指示書NO
			, xxx.生産指示書行
		) ssj
		  on ssj.生産指示書NO = sst.生産指示書NO
		 and ssj.生産指示書行 = sst.生産指示書行
		left outer join 名称マスタ sy1 (nolock)
		  on sy1.区分名称 = '担当管理'
		 and sy1.区分タイプ = ''
		 and sy1.値 = ssj.担当
		left outer join 品番取引先マスタ htm (nolock)
		  on htm.品番 = sst.品番
		 and htm.取引先 = sst.生産部署
		 and htm.受入 = sst.受入
union	all
select  snt.生産指示日
	, case when isnull(hnm.表示品番, '') = '' then snt.品番 else hnm.表示品番 end 表示品番
	, ' ' + snt.背番号 表示背番号
	, snt.生産部署 + ':' + trm.略称 編集生産部署
	, snt.受入
	, snt.機械 + ':' + kmm.機械名称 編集機械
	, snt.収容数
	, snt.ロット数
	, snt.指示数 予定数
	, '' 生産日
	, 0 実績数
	, 0 不良数
	, '' 開始時間
	, '' 終了時間
	, '' 備考
	, isnull(hnm.車型, '') 車型
	, isnull(htm.置場, '') 置場
	, isnull(hnm.品名, '') 品名
	, '' 編集担当
	, 0 生産指示書NO
	, 0 生産指示書行
	, snt.生産部署
	, snt.品番
	, snt.背番号
	, snt.機械
	, '3' 表示区分
	, '未指示' 表示区分名
	, '' 担当
	from	生産指示入力テーブル snt
		left outer join 取引先マスタ trm (nolock)
		  on trm.取引先区分 = 1
		 and trm.取引先CD = snt.生産部署
		left outer join 品番マスタ hnm (nolock)
		  on hnm.品番 = snt.品番
		left outer join 機械マスタ kmm (nolock)
		  on kmm.機械 = snt.機械
		left outer join 品番取引先マスタ htm (nolock)
		  on htm.品番 = snt.品番
		 and htm.取引先 = snt.生産部署
		 and htm.受入 = snt.受入
	where snt.処理区分 = 0

GO
