USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[品番取引先マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[品番取引先マスタ](
	[品番] [varchar](25) NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[アドレス] [varchar](10) NULL,
	[品目] [tinyint] NULL,
	[背番号] [varchar](8) NULL,
	[SK区分] [tinyint] NULL,
	[か係数] [decimal](3, 2) NULL,
	[手配区分] [varchar](1) NULL,
	[納入先] [varchar](7) NULL,
	[納入先受入] [varchar](2) NULL,
	[契約先] [varchar](7) NULL,
	[サイクル] [varchar](5) NULL,
	[収容数1] [int] NULL,
	[収容器1] [varchar](10) NULL,
	[変更日] [varchar](8) NULL,
	[変更便] [varchar](2) NULL,
	[収容数2] [int] NULL,
	[収容器2] [varchar](10) NULL,
	[置場] [varchar](10) NULL,
	[最終発行連番] [smallint] NULL,
	[伝票種類] [varchar](1) NULL,
	[納品書形態] [varchar](1) NULL,
	[受領書形態] [varchar](1) NULL,
	[受領書発行] [tinyint] NULL,
	[明細書発行] [varchar](1) NULL,
	[平準化区分] [tinyint] NULL,
	[平準化係数] [tinyint] NULL,
	[係数1] [decimal](3, 2) NULL,
	[係数2] [decimal](3, 2) NULL,
	[係数3] [decimal](3, 2) NULL,
	[LT] [tinyint] NULL,
	[ロット1] [int] NULL,
	[ロット2] [int] NULL,
	[Week1] [tinyint] NULL,
	[Week2] [tinyint] NULL,
	[Week3] [tinyint] NULL,
	[Week4] [tinyint] NULL,
	[Week5] [tinyint] NULL,
	[Day1] [tinyint] NULL,
	[Day2] [tinyint] NULL,
	[Day3] [tinyint] NULL,
	[Day4] [tinyint] NULL,
	[Day5] [tinyint] NULL,
	[内示発注] [tinyint] NULL,
	[発注比率] [tinyint] NULL,
	[有効期限開始] [varchar](8) NULL,
	[有効期限終了] [varchar](8) NULL,
	[基準工数] [decimal](4, 1) NULL,
	[PNO] [tinyint] NULL,
	[備考] [varchar](30) NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
	[色パターン] [tinyint] NULL,
	[納品書発行区分] [tinyint] NULL,
	[支給書発行区分] [tinyint] NULL,
	[受領書発行区分] [tinyint] NULL,
	[代行区分] [tinyint] NULL,
	[代行契約先] [varchar](7) NULL,
	[自社工区] [varchar](1) NULL,
	[号補区分] [varchar](1) NULL,
	[前工程区分] [tinyint] NULL,
	[直送伝票発行区分] [tinyint] NULL,
	[出荷場] [varchar](3) NULL,
	[部品区分] [tinyint] NULL,
	[基準単価] [decimal](8, 2) NULL,
	[指示書発行区分] [tinyint] NULL,
	[出荷管理部署] [varchar](7) NULL,
	[返却場所] [varchar](3) NULL,
	[後工程] [int] NULL,
	[ポイント] [varchar](2) NULL,
	[生産種別] [tinyint] NULL,
	[かんばん区分] [tinyint] NULL,
	[かんばん区分サイクル] [varchar](5) NULL,
	[かんばん区分ロット] [int] NULL,
	[生産区分ロット] [int] NULL,
	[優先順位] [varchar](3) NULL,
	[加工数] [int] NULL,
 CONSTRAINT [PK_品番取引先マスタ] PRIMARY KEY CLUSTERED 
(
	[品番] ASC,
	[取引先] ASC,
	[受入] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [品番取引先KEY]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [品番取引先KEY] ON [dbo].[品番取引先マスタ]
(
	[背番号] ASC,
	[取引先] ASC,
	[受入] ASC,
	[品番] ASC,
	[SK区分] ASC,
	[品目] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
