USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[eかんばん受注データ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eかんばん受注データ](
	[REC1] [varchar](323) NULL,
	[REC2] [varchar](260) NULL,
	[REC3] [varchar](162) NULL,
	[REC4] [varchar](68) NULL,
	[REC5] [varchar](692) NULL,
	[REC6] [varchar](100) NULL,
	[REC7] [varchar](23) NULL
) ON [PRIMARY]
GO
