USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[発注予定稼動ワーク]    Script Date: 2026/08/05 13:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[発注予定稼動ワーク](
	[端末番号] [varchar](20) NOT NULL,
	[仕入先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[便] [varchar](2) NULL,
	[昼夜区分] [tinyint] NULL,
	[処理日] [datetime] NULL
) ON [PRIMARY]
GO
