USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[入荷実績処理ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[入荷実績処理ワーク](
	[処理端末] [varchar](20) NOT NULL,
	[発注管理NO] [int] NOT NULL,
	[処理区分] [tinyint] NULL,
	[作成日] [datetime] NULL,
 CONSTRAINT [PK_入荷実績処理ワーク] PRIMARY KEY CLUSTERED 
(
	[処理端末] ASC,
	[発注管理NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
