USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[TEXT設定テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEXT設定テーブル](
	[レイアウト番号] [tinyint] NOT NULL,
	[区分] [tinyint] NOT NULL,
	[連番] [tinyint] NOT NULL,
	[レコード番号] [int] NOT NULL,
	[レコード定義件数] [tinyint] NULL,
	[開始レコード] [tinyint] NULL,
	[最終レコード] [tinyint] NULL,
	[項目] [varchar](20) NULL,
	[開始位置] [int] NULL,
	[長さ] [int] NULL,
	[データ項目] [varchar](20) NULL,
	[データタイプ] [tinyint] NULL,
	[出力長さ] [int] NULL,
	[少数桁数] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_TEXT設定テーブル] PRIMARY KEY CLUSTERED 
(
	[レイアウト番号] ASC,
	[区分] ASC,
	[連番] ASC,
	[レコード番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
