USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[TOPPS出荷変換テキスト]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOPPS出荷変換テキスト](
	[端末番号] [varchar](20) NULL,
	[仕入先] [varchar](4) NULL,
	[工区] [varchar](1) NULL,
	[出荷場] [varchar](3) NULL,
	[納入先] [varchar](4) NULL,
	[受入] [varchar](2) NULL,
	[便区分] [tinyint] NULL,
	[納入日] [varchar](8) NULL,
	[納入便] [varchar](2) NULL,
	[挽回日] [varchar](8) NULL,
	[挽回便] [varchar](2) NULL,
	[納入番号] [varchar](5) NULL,
	[輸送中FLG] [tinyint] NULL,
	[処理日] [varchar](8) NULL,
	[処理時間] [varchar](4) NULL,
	[行番号] [smallint] NULL,
	[背番号] [varchar](6) NULL,
	[品番] [varchar](12) NULL,
	[収容数] [int] NULL,
	[打切端数] [int] NULL,
	[出荷個数] [int] NULL,
	[打切区分] [tinyint] NULL,
	[端数打出FLG] [tinyint] NULL,
	[前工程情報任意項目] [varchar](8) NULL,
	[ERR] [varchar](2) NULL,
	[作成日] [smalldatetime] NULL,
	[履歴管理番号] [int] NULL,
	[受注出荷区分] [tinyint] NULL,
	[ファイルID] [varchar](30) NULL,
	[受注管理NO] [int] NULL,
	[受注管理行NO] [tinyint] NULL,
	[出荷指示書NO] [int] NULL,
	[出荷指示書行NO] [tinyint] NULL,
	[出荷実績区分] [tinyint] NULL
) ON [PRIMARY]
GO
