USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[仕入明細書ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[仕入明細書ワーク](
	[処理端末] [varchar](20) NULL,
	[区分] [varchar](2) NULL,
	[区分名称] [varchar](20) NULL,
	[契約先] [varchar](7) NULL,
	[契約先名] [varchar](30) NULL,
	[品番] [varchar](30) NULL,
	[材料管理番号] [int] NULL,
	[仕入先] [varchar](7) NULL,
	[仕入先名] [varchar](30) NULL,
	[入荷数] [int] NULL,
	[単価] [decimal](9, 2) NULL,
	[有償支給] [decimal](9, 2) NULL,
	[外注材料] [decimal](9, 2) NULL,
	[外注購入] [decimal](9, 2) NULL,
	[有償支給計] [decimal](12, 2) NULL,
	[外注材料計] [decimal](12, 2) NULL,
	[外注購入計] [decimal](12, 2) NULL,
	[実績換算値] [decimal](9, 3) NULL,
	[金額] [money] NULL,
	[自社工区] [tinyint] NULL,
	[受入] [varchar](2) NULL
) ON [PRIMARY]
GO
