USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[買掛契約先ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[買掛契約先ワーク](
	[契約先] [varchar](7) NULL,
	[締日] [tinyint] NULL,
	[作成端末] [varchar](20) NULL
) ON [PRIMARY]
GO
