USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[取引先マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[取引先マスタ](
	[取引先CD] [varchar](7) NOT NULL,
	[取引先区分] [tinyint] NOT NULL,
	[取引先] [varchar](5) NOT NULL,
	[工場CD] [varchar](2) NOT NULL,
	[社内区分] [tinyint] NULL,
	[契約先区分] [tinyint] NULL,
	[正式名称] [varchar](50) NULL,
	[略称] [varchar](20) NULL,
	[工場名] [varchar](20) NULL,
	[索引カナ] [varchar](1) NULL,
	[下請法対象] [tinyint] NULL,
	[被自社] [varchar](5) NULL,
	[被自社工場] [varchar](2) NULL,
	[被自社CD] [varchar](7) NULL,
	[契約先] [varchar](7) NULL,
	[計算方法] [tinyint] NULL,
	[計算単位] [tinyint] NULL,
	[締日] [tinyint] NULL,
	[平準化区分] [tinyint] NULL,
	[平準化係数] [tinyint] NULL,
	[伝票種類] [varchar](1) NULL,
	[納品書形態] [varchar](1) NULL,
	[受領書形態] [varchar](1) NULL,
	[受領書発行] [tinyint] NULL,
	[発注内示] [tinyint] NULL,
	[明細書発行] [varchar](1) NULL,
	[前倒日数] [tinyint] NULL,
	[郵便番号] [varchar](7) NULL,
	[代表TEL] [varchar](12) NULL,
	[代表FAX] [varchar](12) NULL,
	[住所1] [varchar](40) NULL,
	[住所2] [varchar](40) NULL,
	[部署名1] [varchar](20) NULL,
	[部署名2] [varchar](20) NULL,
	[役職名] [varchar](20) NULL,
	[担当者] [varchar](14) NULL,
	[TEL1] [varchar](13) NULL,
	[TEL2] [varchar](13) NULL,
	[FAX] [varchar](12) NULL,
	[EMAIL] [varchar](40) NULL,
	[銀行] [varchar](4) NULL,
	[銀行名] [varchar](20) NULL,
	[支店] [varchar](3) NULL,
	[支店名] [varchar](20) NULL,
	[口座番号] [varchar](7) NULL,
	[預金区分] [tinyint] NULL,
	[名義人] [varchar](30) NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
	[FAX取引先1] [varchar](7) NULL,
	[FAX取引先2] [varchar](7) NULL,
	[FAX取引先3] [varchar](7) NULL,
	[MAIL取引先1] [varchar](7) NULL,
	[MAIL取引先2] [varchar](7) NULL,
	[MAIL取引先3] [varchar](7) NULL,
	[開始発注日] [varchar](8) NULL,
	[MSGTYPE] [varchar](1) NULL,
	[納品書発行区分] [tinyint] NULL,
	[支給書発行区分] [tinyint] NULL,
	[受領書発行区分] [tinyint] NULL,
	[号補区分] [varchar](1) NULL,
	[前工程区分] [tinyint] NULL,
	[計算位1] [tinyint] NULL,
	[計算位2] [tinyint] NULL,
	[納入先事業体] [varchar](2) NULL,
	[納入先事業体工区] [varchar](1) NULL,
	[仕入先事業体] [varchar](2) NULL,
	[出荷場] [varchar](3) NULL,
	[部門CD1] [varchar](4) NULL,
	[部門CD2] [varchar](4) NULL,
	[正社員人員] [decimal](9, 1) NULL,
	[正社員稼働時間] [decimal](5, 2) NULL,
	[正社員原価] [decimal](7, 2) NULL,
	[パート人員] [decimal](4, 1) NULL,
	[パート稼働時間] [decimal](5, 2) NULL,
	[パート原価] [decimal](7, 2) NULL,
	[その他人員] [decimal](4, 1) NULL,
	[その他稼働時間] [decimal](5, 2) NULL,
	[その他原価] [decimal](7, 2) NULL,
	[日報出力] [tinyint] NULL,
	[負荷管理] [tinyint] NULL,
	[プレススポット区分] [tinyint] NULL,
	[指示書発行区分] [tinyint] NULL,
	[品番チェック桁数] [tinyint] NULL,
 CONSTRAINT [PK_取引先マスタ] PRIMARY KEY CLUSTERED 
(
	[取引先CD] ASC,
	[取引先区分] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
