USE [SIMTOKIDB]
GO
/****** Object:  View [dbo].[TNS支給入荷ﾋﾞｭｰ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE          VIEW [dbo].[TNS支給入荷ﾋﾞｭｰ]
AS

--*---------------------------------------------------------------------------------*--
--*	変更日　：	2007/08/03	前工程発行JAMA 対応
--*	変更日　：	2007/12/27	代行契約先追加
--*	変更日　：	2008/01/17	取引先マスタ変更による変更
--*---------------------------------------------------------------------------------*--
Select 1 データ種別,
	NY.発注管理NO,NY.納入番号,NY.入荷日,HC.納入日,

-- +++   +++   +++   +++   +++   +++   +++   +++   +++   +++   < 2007/06/27 MNT >
--	HC.納入便,
	CASE WHEN HC.納入便 = '' THEN '01' ELSE HC.納入便 END 納入便,
-- +++   +++   +++   +++   +++   +++   +++   +++   +++   +++   < 2007/06/27 MNT END >

-- < 2007/05/07 MNT >
--	NY.品番,
	CASE WHEN ISNULL( HN.品番編集, '' ) = '' THEN REPLACE( NY.品番, '-', '' ) ELSE NY.品番 END 品番,
-- < 2007/05/07 MNT END >

	NY.入荷数,
	HT.契約先,HT.代行契約先,HC.仕入先 自社仕入先,HC.受入 自社受入,
	ISNULL(NY.TNS作成区分,0) TNS作成区分,
	ISNULL(NY.TNS作成管理NO,0) TNS作成管理NO,
	ISNULL(NY.TNS作成区分2,0) TNS作成区分2,
	ISNULL(NY.TNS作成管理NO2,0) TNS作成管理NO2,
	-- 支給元2(支給:空白,直直:支給元) 
	CASE WHEN ISNULL(TH2.契約先,'') = '' THEN
			CASE WHEN ISNULL(TH.直直区分,0) = 0 THEN '' ELSE ISNULL(TH.支給元,'') END
		ELSE CASE WHEN ISNULL(TH2.直直区分,0) = 0 THEN '' ELSE ISNULL(TH2.支給元,'') END
	END 支給元2,
	-- 支給先(納入先) 
	CASE WHEN ISNULL(TH2.契約先,'') = '' THEN
			CASE WHEN ISNULL(TH.納入先,'') <> ''  THEN ISNULL(TH.納入先,'')
				ELSE CASE WHEN ISNULL(TH.直直区分,0) <> 0 then TH.支給元 ELSE TR.被自社 END END
		ELSE
			CASE WHEN ISNULL(TH2.納入先,'') <> ''  THEN ISNULL(TH2.納入先,'')
				ELSE CASE WHEN ISNULL(TH2.直直区分,0) <> 0 then TH2.支給元 ELSE TR.被自社 END END
		END 支給先CD,
	-- 支給先工場(納入先工場) 
	CASE WHEN ISNULL(TH2.契約先,'') = '' THEN
			CASE WHEN ISNULL(TH.納入先工場,'') <> ''  THEN ISNULL(TH.納入先工場,'')
				ELSE CASE WHEN ISNULL(TH.直直区分,0) <> 0 then '' ELSE TR.被自社工場 END END
		ELSE
			CASE WHEN ISNULL(TH2.納入先工場,'') <> ''  THEN ISNULL(TH2.納入先工場,'')
				ELSE CASE WHEN ISNULL(TH2.直直区分,0) <> 0 then '' ELSE TR.被自社工場 END END
		END 支給先工場CD,
	-- 支給先受入(納入先受入) 
	CASE WHEN ISNULL(TH2.契約先,'') = '' THEN
			CASE WHEN ISNULL(TH.納入先受入,'') <> ''  THEN ISNULL(TH.納入先受入,'')
				ELSE   NY.受入 END
		ELSE
			CASE WHEN ISNULL(TH2.納入先受入,'') <> ''  THEN ISNULL(TH2.納入先受入,'')
				ELSE   NY.受入 END
		END 支給先受入,
	-- 支給元
	CASE WHEN ISNULL(TH2.契約先,'') = '' THEN
			CASE WHEN ISNULL(TH.直直区分,0) <> 0 then TH.支給元2 ELSE TH.支給元 END
		ELSE
			CASE WHEN ISNULL(TH2.直直区分,0) <> 0 then TH2.支給元2 ELSE TH2.支給元 END
		END 支給元,
	-- 支給仕入先(支給,直直:契約取引先CD) 
	CASE When ISNULL(TH.契約先,'') = '' AND ISNULL(TH2.契約先,'') = '' THEN 
		NY.仕入先
	     Else
		CASE When ISNULL(TH2.契約先,'') = ''  THEN 
		 	TH.契約取引先CD 
		    Else
		 	TH2.契約取引先CD END
	     END 仕入先

	From 入荷テーブル NY
	Left Outer Join 発注テーブル HC
	    ON  HC.発注管理NO = NY.発注管理NO
	Left Outer Join 品番取引先マスタ HT
	    ON  HT.品番 = HC.品番
	    And HT.取引先 = HC.仕入先
	    And HT.受入 = HC.受入
	Left Outer Join 取引先変換マスタ TH
	    ON  TH.契約先 = HT.契約先
	    And TH.代行契約先 = HT.代行契約先
	    And TH.取引先 = HC.仕入先
	    And TH.受入 = HC.受入
	    And TH.品番 = ''
	Left Outer Join 取引先変換マスタ TH2
	    ON  TH2.契約先 = HT.契約先
	    And TH2.取引先 = HC.仕入先
	    And TH2.受入 = HC.受入
	    And TH2.品番 = HC.品番
 	Left Outer Join 取引先マスタ TR
	    ON  TR.取引先CD = HT.契約先
	    And TR.取引先区分 = 1

-- < 2007/05/07 ADD >
	Left Outer Join 品番マスタ HN
	    ON  HN.品番 = NY.品番
-- < 2007/05/07 ADD END >
-- < 2007/08/03 ADD >
    LEFT OUTER JOIN TNS送信対象取引先マスタ TT
        ON TT.契約先 = HT.契約先
        AND TT.取引先 = HC.仕入先
        AND TT.受入 = HC.受入
-- < 2007/08/03 ADD END >

	WHERE ISNULL(HT.手配区分,0) = 3  				--*手配区分：受給対象
   	  AND (TT.契約先 IS NULL OR TT.切替日付 >= NY.入荷日)	--* 2007/08/03ADD
	  AND NY.入荷数 <> 0						--* 2008/01/18ADD

--* 前工程発行JAMA 対応		< 2007/08/03 ADD >
UNION 

SELECT 2 データ種別,
	NY.受給管理NO,NY.納入番号,NY.検収日,NY.納入日,
	CASE WHEN NY.納入便 = '' THEN '01' ELSE NY.納入便 END 納入便,
	CASE WHEN ISNULL( HN.品番編集, '' ) = '' THEN REPLACE( NY.品番, '-', '' ) ELSE NY.品番 END 品番,
	NY.検収数 入荷数,
	NY.契約先,NY.代行契約先,NY.仕入先 自社仕入先,NY.受入 自社受入,
	ISNULL(NY.TNS作成区分,0) TNS作成区分,
	ISNULL(NY.TNS作成管理NO,0) TNS作成管理NO,
	ISNULL(NY.TNS作成区分2,0) TNS作成区分2,
	ISNULL(NY.TNS作成管理NO2,0) TNS作成管理NO2,
	NY.支給元2,NY.発注者 支給先CD,NY.発注者工場 支給先工場CD,
	NY.契約先受入 支給先受入,
	NY.支給元1 支給元,
	NY.契約先仕入先 仕入先
    FROM 受給検収テーブル NY
    LEFT OUTER JOIN 品番マスタ HN
	ON  HN.品番 = NY.品番
-- < 2007/08/03 ADD >
    LEFT OUTER JOIN TNS送信対象取引先マスタ TT
        ON TT.契約先 = NY.契約先
        AND TT.取引先 = NY.仕入先
        AND TT.受入 = NY.受入
-- < 2007/08/03 ADD END >
    WHERE NY.作成種別 = 'M'
   	  AND (TT.契約先 IS NULL OR TT.切替日付 < NY.検収日)	--* 2007/08/03ADD
	  AND NY.検収数 <> 0						--* 2008/01/18ADD

--* 前工程発行JAMA 対応		< 2007/08/03 ADD END>
GO
