USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料使用量テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料使用量テーブル](
	[材料使用量管理NO] [int] NOT NULL,
	[材料使用量管理行] [int] NOT NULL,
	[作業日] [varchar](8) NULL,
	[部門] [varchar](7) NULL,
	[作業者] [varchar](3) NULL,
	[品番] [varchar](25) NULL,
	[材質] [varchar](25) NULL,
	[板厚] [decimal](6, 2) NULL,
	[幅] [decimal](6, 2) NULL,
	[長さ] [decimal](6, 2) NULL,
	[材料管理番号] [int] NULL,
	[加工数] [int] NULL,
	[単重] [decimal](7, 3) NULL,
	[使用量] [decimal](13, 2) NULL,
	[ラベル重量1] [decimal](12, 3) NULL,
	[ラベル本数1] [tinyint] NULL,
	[ラベル重量2] [decimal](12, 3) NULL,
	[ラベル本数2] [tinyint] NULL,
	[ラベル重量3] [decimal](12, 3) NULL,
	[ラベル本数3] [tinyint] NULL,
	[ラベル重量4] [decimal](12, 3) NULL,
	[ラベル本数4] [tinyint] NULL,
	[戻し重量] [tinyint] NULL,
	[合計重量] [decimal](12, 3) NULL,
	[備考] [varchar](100) NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_材料使用量テーブル] PRIMARY KEY CLUSTERED 
(
	[材料使用量管理NO] ASC,
	[材料使用量管理行] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
