USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[カレンダワークメンテ用]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[カレンダワークメンテ用](
	[取引先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[年月] [varchar](6) NOT NULL,
	[末日] [tinyint] NULL,
	[稼働末日] [tinyint] NULL,
	[稼働区分] [varchar](31) NULL,
	[昼勤区分] [varchar](31) NULL,
	[夜勤区分] [varchar](31) NULL,
	[作成端末] [varchar](20) NOT NULL,
	[作成指示年月] [varchar](6) NULL,
 CONSTRAINT [PK_カレンダワークメンテ用] PRIMARY KEY CLUSTERED 
(
	[作成端末] ASC,
	[取引先] ASC,
	[受入] ASC,
	[年月] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
