USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[TOPPS受注変換テキスト]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOPPS受注変換テキスト](
	[端末番号] [varchar](20) NOT NULL,
	[受注管理NO] [int] NOT NULL,
	[受注管理行NO] [tinyint] NOT NULL,
	[受注区分] [tinyint] NULL,
	[受注日] [varchar](8) NULL,
	[受注便] [varchar](2) NULL,
	[納入日] [varchar](8) NOT NULL,
	[納入便] [varchar](2) NOT NULL,
	[納入先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[出荷予定日] [varchar](8) NULL,
	[出荷予定便] [varchar](2) NULL,
	[納入番号] [varchar](9) NOT NULL,
	[納品書頁] [tinyint] NULL,
	[納品書行] [tinyint] NOT NULL,
	[分納区分] [tinyint] NULL,
	[分納回数] [tinyint] NULL,
	[品番] [varchar](25) NULL,
	[背番号] [varchar](6) NULL,
	[枚数] [int] NULL,
	[収容数] [int] NULL,
	[納入数] [int] NULL,
	[端数] [int] NULL,
	[出荷指示書NO] [int] NULL,
	[出荷指示書行NO] [tinyint] NULL,
	[納品書管理NO] [int] NULL,
	[元出荷指示書NO] [int] NULL,
	[元出荷指示書行NO] [tinyint] NULL,
	[ERR1] [varchar](1) NULL,
	[ERR2] [varchar](1) NULL,
	[ERR3] [varchar](1) NULL,
	[ERR4] [varchar](1) NULL,
	[ERR5] [varchar](1) NULL,
	[ERR6] [varchar](1) NULL,
	[ERR7] [varchar](1) NULL,
	[作成日] [smalldatetime] NULL,
	[履歴管理番号] [int] NULL,
	[受注出荷区分] [tinyint] NULL,
	[ファイルID] [varchar](30) NULL
) ON [PRIMARY]
GO
