USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[テキスト変換テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[テキスト変換テーブル](
	[処理日] [varchar](8) NOT NULL,
	[処理回数] [int] NOT NULL,
	[処理区分] [tinyint] NOT NULL,
	[ファイル名] [varchar](50) NOT NULL,
	[納入先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[納入番号] [varchar](9) NOT NULL,
	[納入日] [varchar](8) NOT NULL,
	[納入便] [varchar](2) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[便内分割区分] [varchar](1) NOT NULL,
	[退避連番] [int] NULL,
	[受注管理番号] [int] NULL,
	[受注管理行番号] [tinyint] NULL,
	[出荷指示書NO] [int] NULL,
	[出荷指示書行NO] [tinyint] NULL,
	[受注日] [varchar](8) NULL,
	[受注便] [varchar](2) NULL,
	[背番号] [varchar](8) NULL,
	[収容数] [int] NULL,
	[かんばん枚数] [int] NULL,
	[納入数] [int] NULL,
	[打切端数] [int] NULL,
	[打切区分] [tinyint] NULL,
	[打切残数] [int] NULL,
	[出荷数] [int] NULL,
	[挽回日] [varchar](8) NULL,
	[挽回便] [varchar](2) NULL,
	[ERR重複] [tinyint] NULL,
	[ERR収容数] [tinyint] NULL,
	[ERR背番号] [tinyint] NULL,
	[ERR受注] [tinyint] NULL,
	[品番仮] [tinyint] NULL,
	[品取仮] [tinyint] NULL,
	[取引先仮] [tinyint] NULL,
	[受入仮] [tinyint] NULL,
	[納入先名] [varchar](20) NULL,
	[品名] [varchar](40) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[行連番] [smallint] NOT NULL,
	[納入先事業体] [varchar](2) NULL,
	[納入先事業体工区] [varchar](1) NULL,
	[仕入先事業体] [varchar](2) NULL,
	[出荷場] [varchar](3) NULL,
 CONSTRAINT [PK_テキスト変換テーブル] PRIMARY KEY CLUSTERED 
(
	[処理日] ASC,
	[処理回数] ASC,
	[処理区分] ASC,
	[ファイル名] ASC,
	[納入先] ASC,
	[受入] ASC,
	[納入番号] ASC,
	[行連番] ASC,
	[納入日] ASC,
	[納入便] ASC,
	[品番] ASC,
	[便内分割区分] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
