USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[支払先スクラップ単価マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[支払先スクラップ単価マスタ](
	[支払先] [varchar](7) NOT NULL,
	[履歴NO] [int] NOT NULL,
	[適用開始日付] [varchar](8) NOT NULL,
	[適用終了日付] [varchar](8) NOT NULL,
	[材質] [varchar](25) NOT NULL,
	[対象年] [varchar](4) NOT NULL,
	[対象期] [tinyint] NOT NULL,
	[単価] [decimal](9, 2) NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL
) ON [PRIMARY]
GO
