USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[品番工順マスタ_20191216退避]    Script Date: 2026/08/05 13:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[品番工順マスタ_20191216退避](
	[品番] [varchar](25) NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[品目] [tinyint] NOT NULL,
	[工順] [tinyint] NOT NULL,
	[機械] [varchar](3) NULL,
	[外注加工] [tinyint] NULL,
	[外注加工先CD] [varchar](7) NULL,
	[機械NO] [varchar](3) NULL,
	[ロボット区分] [tinyint] NULL,
	[工程] [varchar](3) NULL,
	[工数値選択] [tinyint] NULL,
	[基準工数名1] [varchar](8) NULL,
	[基準工数1] [decimal](6, 3) NULL,
	[基準段取1] [decimal](6, 3) NULL,
	[基準工数名2] [varchar](8) NULL,
	[基準工数2] [decimal](6, 3) NULL,
	[基準段取2] [decimal](6, 3) NULL,
	[工程数] [decimal](3, 1) NULL,
	[棚卸プレシート発行] [tinyint] NULL,
	[置場] [varchar](8) NULL,
	[出荷管理] [tinyint] NULL,
	[セット品番] [tinyint] NULL,
	[サイクル] [varchar](5) NULL,
	[実工数] [decimal](4, 2) NULL,
	[係数1] [decimal](3, 2) NULL,
	[係数2] [decimal](3, 2) NULL,
	[LT] [tinyint] NULL,
	[在庫管理区分] [tinyint] NULL,
	[在庫管理数値] [decimal](8, 2) NULL,
	[在庫係数] [decimal](8, 2) NULL,
	[在庫日数] [decimal](3, 1) NULL,
	[在庫発注点] [int] NULL,
	[最大在庫管理区分] [tinyint] NULL,
	[最大在庫管理数値] [decimal](8, 2) NULL,
	[最大在庫係数] [decimal](8, 2) NULL,
	[最大在庫日数] [decimal](3, 1) NULL,
	[最大在庫発注点] [int] NULL,
	[収容数] [int] NULL,
	[収容器] [varchar](10) NULL,
	[日報出力] [tinyint] NULL,
	[生産種別] [tinyint] NULL,
	[かんばん区分] [tinyint] NULL,
	[かんばん区分サイクル] [varchar](5) NULL,
	[かんばん区分ロット] [int] NULL,
	[生産区分ロット] [int] NULL,
	[備考] [varchar](12) NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
	[優先順位] [varchar](3) NULL,
	[加工数] [int] NULL,
	[使用数1] [decimal](7, 2) NULL,
	[使用数2] [decimal](7, 2) NULL,
	[使用数3] [decimal](7, 2) NULL,
	[使用数4] [decimal](7, 2) NULL,
	[使用数5] [decimal](7, 2) NULL
) ON [PRIMARY]
GO
