USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料発注打切テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料発注打切テーブル](
	[打切種別] [tinyint] NOT NULL,
	[材質] [varchar](25) NOT NULL,
	[板厚] [decimal](6, 2) NOT NULL,
	[幅] [decimal](6, 2) NOT NULL,
	[長さ] [decimal](6, 2) NOT NULL,
	[仕入先] [varchar](7) NOT NULL,
	[材料管理番号] [int] NOT NULL,
	[起算日] [varchar](8) NOT NULL,
	[起算便] [varchar](2) NULL,
	[設定数] [decimal](11, 3) NULL,
	[警告数] [decimal](11, 3) NULL,
	[発注数] [decimal](11, 3) NULL,
	[入荷数] [decimal](11, 3) NULL,
	[設定残数] [decimal](11, 3) NULL,
	[完了日] [varchar](8) NULL,
	[完了便] [varchar](2) NULL,
	[打切日] [varchar](8) NULL,
	[警告日] [varchar](8) NULL,
	[切替仕入先] [varchar](7) NULL,
	[切替受入] [varchar](2) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[作成者] [varchar](15) NULL,
	[更新日] [datetime] NULL,
	[更新端末] [varchar](20) NULL,
	[更新者] [varchar](15) NULL,
 CONSTRAINT [PK_材料発注打切テーブル] PRIMARY KEY CLUSTERED 
(
	[打切種別] ASC,
	[材質] ASC,
	[板厚] ASC,
	[幅] ASC,
	[長さ] ASC,
	[仕入先] ASC,
	[材料管理番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
