USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[帳票出力テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[帳票出力テーブル](
	[端末番号] [varchar](20) NULL,
	[帳票区分] [smallint] NULL,
	[管理文字] [varchar](10) NULL,
	[検索情報] [varchar](50) NULL,
	[管理NO] [int] NULL,
	[管理行NO] [smallint] NULL,
	[補助番号] [int] NULL,
	[出力先] [smallint] NULL,
	[作成日] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [帳票検索KEY]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [帳票検索KEY] ON [dbo].[帳票出力テーブル]
(
	[端末番号] ASC,
	[帳票区分] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
