USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[作業日報テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[作業日報テーブル](
	[作業日報管理NO] [int] NOT NULL,
	[作業日報管理行] [int] NOT NULL,
	[作業日] [varchar](8) NULL,
	[部門] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[作業者] [varchar](3) NULL,
	[機械NO] [varchar](3) NULL,
	[品番] [varchar](25) NULL,
	[工順] [tinyint] NULL,
	[加工数] [int] NULL,
	[開始] [varchar](4) NULL,
	[終了] [varchar](4) NULL,
	[不良数] [int] NULL,
	[段取] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_作業日報テーブル] PRIMARY KEY CLUSTERED 
(
	[作業日報管理NO] ASC,
	[作業日報管理行] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [納入進捗]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [納入進捗] ON [dbo].[作業日報テーブル]
(
	[作業日] ASC,
	[品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
