USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料品番マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料品番マスタ](
	[材料管理番号] [int] NOT NULL,
	[使用品番] [varchar](25) NOT NULL,
	[ピッチ] [decimal](6, 2) NULL,
	[取数] [int] NULL,
	[使用量] [decimal](8, 4) NULL,
	[未使用量] [decimal](8, 4) NULL,
	[有効期限開始] [varchar](8) NULL,
	[有効期限終了] [varchar](8) NULL,
	[展開区分] [tinyint] NULL,
	[LT] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_材料品番マスタ] PRIMARY KEY CLUSTERED 
(
	[材料管理番号] ASC,
	[使用品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
