USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[SJWORK]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SJWORK](
	[出荷指示書NO] [int] NOT NULL,
	[出荷指示書行NO] [tinyint] NOT NULL,
	[出荷日] [varchar](8) NULL,
	[出荷便] [varchar](2) NULL,
	[出荷枚数] [int] NULL,
	[出荷端数] [int] NULL,
	[出荷数] [int] NULL,
	[分納数] [int] NULL,
	[照合年月] [varchar](6) NULL,
	[照合処理日] [varchar](8) NULL,
	[照合結果] [varchar](1) NULL,
	[実績年月] [varchar](6) NULL,
	[実績処理日] [varchar](8) NULL,
	[実績結果] [varchar](1) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[作成者] [varchar](15) NULL,
	[更新日] [datetime] NULL,
	[更新端末] [varchar](20) NULL,
	[更新者] [varchar](15) NULL,
	[TOPPS連番] [int] NULL,
	[挽回日] [varchar](8) NULL,
	[挽回便] [varchar](2) NULL
) ON [PRIMARY]
GO
