USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[取引先受入マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[取引先受入マスタ](
	[取引先CD] [varchar](7) NOT NULL,
	[取引先区分] [tinyint] NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[受入名称] [varchar](20) NULL,
	[サイクル] [varchar](5) NULL,
	[空明細] [varchar](1) NULL,
	[曜日発注] [tinyint] NULL,
	[曜日1] [tinyint] NULL,
	[曜日2] [tinyint] NULL,
	[曜日3] [tinyint] NULL,
	[曜日4] [tinyint] NULL,
	[曜日5] [tinyint] NULL,
 CONSTRAINT [PK_取引先受入マスタ] PRIMARY KEY CLUSTERED 
(
	[取引先CD] ASC,
	[取引先区分] ASC,
	[受入] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
