USE [SIMTOKIDB]
GO
/****** Object:  View [dbo].[売上単価マスタ出力]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[売上単価マスタ出力]
AS

SELECT JT.品番,JT.取引先 納入先,TR.正式名称 納入先名,
JT.単価,JT.適用開始日付,JT.適用終了日付,JT.履歴NO
FROM 受注単価マスタ JT
LEFT OUTER JOIN 品番マスタ HM
ON HM.品番 = JT.品番
LEFT OUTER JOIN 取引先マスタ TR
ON TR.取引先区分 = 0
AND TR.取引先CD = JT.取引先
LEFT OUTER JOIN 受注単価マスタ JT1
ON JT1.品番 = JT.品番
AND JT1.取引先 = JT.取引先
AND JT1.仮単価区分 = ''
AND JT1.履歴NO = ( SELECT MAX(履歴NO) FROM 受注単価マスタ JT2
						WHERE JT2.品番 = JT.品番 
						AND JT2.取引先 = JT.取引先
						AND JT2.仮単価区分 = '' )
WHERE JT.履歴NO = JT1.履歴NO

GO
