USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料構成展開集計ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料構成展開集計ワーク](
	[材料管理番号] [int] NOT NULL,
	[親手配先] [varchar](7) NOT NULL,
	[納期] [varchar](8) NOT NULL,
	[数量] [decimal](12, 3) NULL,
	[引当後数量] [decimal](12, 3) NULL,
	[在庫管理区分] [tinyint] NULL,
	[月初有効在庫数] [decimal](11, 3) NULL,
	[件数] [int] NULL,
 CONSTRAINT [PK_材料構成展開集計ワーク] PRIMARY KEY CLUSTERED 
(
	[材料管理番号] ASC,
	[親手配先] ASC,
	[納期] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 60, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
