USE [SIMTOKIDB]
GO
/****** Object:  View [dbo].[受注出荷状況問合ビュー]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  VIEW [dbo].[受注出荷状況問合ビュー]
AS
SELECT
	CASE WHEN ISNULL(JY.納入日,'') = '' THEN
		CASE WHEN ISNULL(JY.納入便,'') = '' THEN '' 
		ELSE SPACE(10) + '-' + JY.納入便 END
	ELSE
		CASE WHEN ISNULL(JY.納入便,'') = '' THEN 
			SUBSTRING(JY.納入日,1,4) + '/' + SUBSTRING(JY.納入日,5,2) + '/' + 
			SUBSTRING(JY.納入日,7,2)
		ELSE
			SUBSTRING(JY.納入日,1,4) + '/' + SUBSTRING(JY.納入日,5,2) + '/' + 
			SUBSTRING(JY.納入日,7,2) + '- ' + JY.納入便 END
	END 納入日便,
	CASE WHEN ISNULL(HN.表示品番,'') = '' THEN JY.品番 ELSE HN.表示品番 END 表示品番,
	' ' + JY.背番号 表示背番号,HN.品名,
	CASE WHEN ISNULL(TR.取引先CD,'') = '' Then JY.納入先 ELSE JY.納入先 + '：' + RTRIM(TR.略称) End 編集納入先,
	JY.受入,JY.収容数,JY.枚数 受注枚数,JY.納入数,
	ISNULL(SK.出荷枚数,0) 出荷枚数,ISNULL(SK.出荷数,0) 出荷数, 
	CASE WHEN ISNULL(SK.出荷日,'') = '' THEN
		CASE WHEN ISNULL(SK.出荷便,'') = '' THEN '' 
		ELSE SPACE(10) + '-' + SK.出荷便 END
	ELSE
		CASE WHEN ISNULL(SK.出荷便,'') = '' THEN 
			SUBSTRING(SK.出荷日,1,4) + '/' + SUBSTRING(SK.出荷日,5,2) + '/' + 
			SUBSTRING(SK.出荷日,7,2)
		ELSE
			SUBSTRING(SK.出荷日,1,4) + '/' + SUBSTRING(SK.出荷日,5,2) + '/' + 
			SUBSTRING(SK.出荷日,7,2) + '- ' + SK.出荷便 END
	END 出荷日便,

	JY.納入番号 + '-' + CAST(JY.納品書頁 As VARCHAR(2)) 表示納入番号,
/*
	CASE WHEN ISNULL(SK.出荷日,'') = '' OR ISNULL(SK.出荷予定日,'') = ''  THEN 0 ELSE ISNULL(JY.発注数,0) - ISNULL(SK.出荷数,0) END 分納数,
	CASE WHEN ISNULL(SK.出荷予定日,'') = '' THEN
		CASE WHEN ISNULL(SK.出荷予定便,'') = '' THEN '' 
		ELSE SPACE(10) + '-' + SK.出荷予定便 END
	ELSE
		CASE WHEN ISNULL(SK.出荷予定便,'') = '' THEN 
			SUBSTRING(SK.出荷予定日,1,4) + '/' + SUBSTRING(SK.出荷予定日,5,2) + '/' + 
			SUBSTRING(SK.出荷予定日,7,2)
		ELSE
			SUBSTRING(SK.出荷予定日,1,4) + '/' + SUBSTRING(SK.出荷予定日,5,2) + '/' + 
			SUBSTRING(SK.出荷予定日,7,2) + '- ' + SK.出荷予定便 END
	END 出荷予定日便, */
	ISNULL(HN.車型,'') 車型,
	ISNULL(SY2.値名称,'') 受注区分名,
-- 	CASE WHEN ISNULL(TR2.取引先CD,'') = '' Then JY.納入先 ELSE HT.納入先 + '：' + RTRIM(TR2.略称) End 編集納入先,
-- 	HT.納入先受入,
	CASE WHEN ISNULL(HT.SK区分,0) = 0 THEN 'かんばん' ELSE '指示' END SK区分名,
	ISNULL(HT.置場,'') 置場,
	CASE WHEN ISNULL(HT.サイクル,'') <> '' Then 
			Substring(HT.サイクル,1,1) + '-' + Substring(HT.サイクル,2,2) + '-' + Substring(HT.サイクル,4,2)
		Else '' End サイクル,
	0 内示超過,
	CASE WHEN ISNULL(TR3.取引先CD,'') = '' Then '' ELSE HT.契約先 + '：' + RTRIM(TR3.略称) End 編集契約先,
	
	JY.納入日,JY.納入便,JY.納入先,JY.品番,JY.背番号,JY.受注区分,
	JY.分納区分,JY.納入番号,JY.納品書頁,JY.納品書行,JY.分納回数,
	ISNULL(SK.出荷日,'') 出荷日,ISNULL(SK.出荷便,'') 出荷便,ISNULL(SK.分納数,0) 分納数,
--	ISNULL(SK.出荷予定日,'') 出荷予定日,ISNULL(SK.出荷予定便,'') 出荷予定便,
	ISNULL(HT.SK区分,0) SK区分,JY.出荷指示書NO,JY.出荷指示書行NO,
	JY.受注管理NO
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2008/05/07 INSERT START
   ,CASE WHEN ISNULL(JT.単価,0) <> 0 THEN 
			  CASE WHEN ISNULL(TR3.計算単位, 0) = 0 THEN   ROUND(JY.納入数 * JT.単価, 0, 1) -- 切捨て
				   WHEN ISNULL(TR3.計算単位, 0) = 1 THEN CEILING(JY.納入数 * JT.単価) 	  -- 切上げ
				   WHEN ISNULL(TR3.計算単位, 0) = 2 THEN   ROUND(JY.納入数 * JT.単価, 0)	  -- 四捨五入
				   WHEN ISNULL(TR3.計算単位, 0) = 3 THEN 
				   CASE WHEN ISNULL(TR3.計算位1, 0) = 0 THEN
						     CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND(  ROUND(JY.納入数 * JT.単価, 1, 1), 0, 1    )	-- １：切捨て　　２：切捨て
								  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND(CEILING(JY.納入数 * JT.単価 * 10) / 10, 0, 1)	-- １：切捨て　　２：切上げ
								  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND(  ROUND(JY.納入数 * JT.単価, 1)   , 0, 1    )  -- １：切捨て　　２：四捨五入
						     END
					    WHEN ISNULL(TR3.計算位1, 0) = 1 THEN
						     CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN CEILING(  ROUND(JY.納入数 * JT.単価, 1, 1)          )	-- １：切上げ　　２：切捨て
								  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN CEILING(CEILING(JY.納入数 * JT.単価 * 10) / 10      )	-- １：切上げ　　２：切上げ
								  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN CEILING(  ROUND(JY.納入数 * JT.単価, 1)             )	-- １：切上げ　　２：四捨五入
						     END
					    WHEN ISNULL(TR3.計算位1, 0) = 2 THEN
						     CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND(  ROUND(JY.納入数 * JT.単価, 1, 1), 0       )	-- １：四捨五入　２：切捨て
								  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND(CEILING(JY.納入数 * JT.単価 * 10 )/ 10, 0   )	-- １：四捨五入　２：切上げ
								  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND(  ROUND(JY.納入数 * JT.単価, 1   ), 0       )	-- １：四捨五入　２：四捨五入
						     END
			        END
			END
       
         WHEN ISNULL(JT2.単価,0) <> 0 THEN
			  CASE WHEN ISNULL(TR3.計算単位, 0) = 0 THEN   ROUND(JY.納入数 * JT2.単価, 0, 1) -- 切捨て
				   WHEN ISNULL(TR3.計算単位, 0) = 1 THEN CEILING(JY.納入数 * JT2.単価) 	  -- 切上げ
				   WHEN ISNULL(TR3.計算単位, 0) = 2 THEN   ROUND(JY.納入数 * JT2.単価, 0)	  -- 四捨五入
				   WHEN ISNULL(TR3.計算単位, 0) = 3 THEN 
				   CASE WHEN ISNULL(TR3.計算位1, 0) = 0 THEN
						     CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND(  ROUND(JY.納入数 * JT2.単価, 1, 1), 0, 1    )	-- １：切捨て　　２：切捨て
								  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND(CEILING(JY.納入数 * JT2.単価 * 10) / 10, 0, 1)	-- １：切捨て　　２：切上げ
								  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND(  ROUND(JY.納入数 * JT2.単価, 1)   , 0, 1    )  -- １：切捨て　　２：四捨五入
						     END
					    WHEN ISNULL(TR3.計算位1, 0) = 1 THEN
						     CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN CEILING(  ROUND(JY.納入数 * JT2.単価, 1, 1)          )	-- １：切上げ　　２：切捨て
								  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN CEILING(CEILING(JY.納入数 * JT2.単価 * 10) / 10      )	-- １：切上げ　　２：切上げ
								  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN CEILING(  ROUND(JY.納入数 * JT2.単価, 1)             )	-- １：切上げ　　２：四捨五入
						     END
					    WHEN ISNULL(TR3.計算位1, 0) = 2 THEN
						     CASE WHEN ISNULL(TR3.計算位2, 0) = 0 THEN   ROUND(  ROUND(JY.納入数 * JT2.単価, 1, 1), 0       )	-- １：四捨五入　２：切捨て
								  WHEN ISNULL(TR3.計算位2, 0) = 1 THEN   ROUND(CEILING(JY.納入数 * JT2.単価 * 10 )/ 10, 0   )	-- １：四捨五入　２：切上げ
								  WHEN ISNULL(TR3.計算位2, 0) = 2 THEN   ROUND(  ROUND(JY.納入数 * JT2.単価, 1   ), 0       )	-- １：四捨五入　２：四捨五入
						     END
			        END
			 END
     Else 0 END 金額,
	 ISNULL(HT.自社工区, '') 自社工区, ISNULL(SY1.値名称, '') 自社工区名
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2008/05/07 INSERT END
	 ,ISNULL(HT.出荷管理部署,'') 出荷管理部署,ISNULl(TR4.略称,'') 出荷管理部署名
	 ,CASE WHEN ISNULL(TR4.略称,'') = '' THEN ISNULL(HT.出荷管理部署,'') ELSE ISNULL(HT.出荷管理部署,'') + ':' + ISNULl(TR4.略称,'') END 編集出荷管理部署
	FROM 受注テーブル JY ( NoLock)
	Left Outer Join 出荷テーブル SK  ( NoLock)
		ON  SK.出荷指示書NO = JY.出荷指示書NO
		And SK.出荷指示書行NO = JY.出荷指示書行NO
	Left Outer Join 品番マスタ HN ( NoLock)
		ON HN.品番 = JY.品番
	Left Outer Join 品番取引先マスタ HT ( NoLock)
		ON HT.品番 = JY.品番
		And HT.取引先 = JY.納入先
		And HT.受入 = JY.受入
	Left Outer Join 取引先マスタ TR ( Nolock )
		ON TR.取引先区分 = 0
	 	And TR.取引先CD = JY.納入先
	Left Outer Join 取引先マスタ TR3 ( Nolock )
		ON TR3.取引先区分 = 0
	 	And TR3.取引先CD = HT.契約先
		And TR3.契約先区分 = 1
	Left Outer Join 取引先マスタ TR4 ( Nolock )
		ON TR4.取引先区分 = 1
	 	And TR4.取引先CD = HT.出荷管理部署
		And TR4.社内区分 = 1
	Left Outer Join 名称マスタ SY2 ( Nolock )
		ON  SY2.区分名称 = '受注区分'
		And SY2.区分タイプ = ''
		And SY2.値 = JY.受注区分
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2008/05/07 INSERT START
	Left Outer Join 受注単価マスタ JT
         ON  JT.品番 = JY.品番
        AND  JT.取引先 = JY.納入先
        AND  JT.適用開始日付 <= JY.納入日
        AND  JT.仮単価区分 = ''
        AND (JT.適用終了日付 = '' Or (JT.適用終了日付 <> ''
        AND  JT.適用終了日付 >= JY.納入日 ))
        AND  JT.履歴NO = ( SELECT MAX(JT1.履歴NO) FROM  受注単価マスタ JT1
                             Where  JT1.品番 = JY.品番
                               AND  JT1.取引先 = JY.納入先
                               AND  JT1.仮単価区分 = ''
                               AND  JT1.適用開始日付 <= JY.納入日
                               And (JT1.適用終了日付 = '' Or (JT1.適用終了日付 <> ''
                               And  JT1.適用終了日付 >= JY.納入日 )) )
    Left Outer Join 受注単価マスタ JT2
         ON  JT2.品番 = JY.品番
        AND  JT2.取引先 = JY.納入先
        AND  JT2.適用開始日付 <= JY.納入日
        AND  JT2.仮単価区分 = '1'
        AND (JT2.適用終了日付 = '' Or (JT2.適用終了日付 <> ''
        AND  JT2.適用終了日付 >= JY.納入日 ))
        AND  JT2.履歴NO = ( SELECT MAX(JT3.履歴NO) FROM  受注単価マスタ JT3
                             Where  JT3.品番 = JY.品番
                               AND  JT3.取引先 = JY.納入先
                               AND  JT3.仮単価区分 = ''
                               AND  JT3.適用開始日付 <= JY.納入日
                               And (JT3.適用終了日付 = '' Or (JT3.適用終了日付 <> ''
                               And  JT3.適用終了日付 >= JY.納入日 )) )
	LEFT OUTER JOIN 名称マスタ SY1
		 ON SY1.区分名称 = '自社工区'
		AND SY1.値 = ISNULL(HT.自社工区, '')
		AND SY1.区分タイプ = ''
--*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* 2008/05/07 INSERT END
GO
