USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[Irnaksic]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Irnaksic](
	[bk] [varchar](20) NOT NULL,
	[rno] [int] NOT NULL,
	[oyian] [varchar](50) NULL,
	[oyian2] [varchar](50) NULL,
	[etadpu] [datetime] NULL,
 CONSTRAINT [PK_Irnaksic] PRIMARY KEY CLUSTERED 
(
	[bk] ASC,
	[rno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
