USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料発注画面入力ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料発注画面入力ワーク](
	[処理端末] [varchar](20) NOT NULL,
	[発注区分] [varchar](1) NOT NULL,
	[仕入先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[納入日] [varchar](8) NOT NULL,
	[納入便] [varchar](2) NOT NULL,
	[発注日] [varchar](8) NOT NULL,
	[発注便] [varchar](2) NOT NULL,
	[材料管理番号] [int] NOT NULL,
	[材質] [varchar](25) NOT NULL,
	[板厚] [decimal](6, 2) NOT NULL,
	[幅] [decimal](6, 2) NOT NULL,
	[長さ] [decimal](6, 2) NOT NULL,
	[背番号] [varchar](8) NULL,
	[手配区分] [varchar](1) NULL,
	[SK区分] [tinyint] NULL,
	[サイクル] [varchar](5) NULL,
	[契約先] [varchar](7) NULL,
	[収容数] [decimal](9, 3) NULL,
	[枚数] [int] NULL,
	[端数] [decimal](9, 3) NULL,
	[発注数] [decimal](11, 3) NULL,
	[端数区分] [tinyint] NULL,
	[打切区分] [tinyint] NULL,
	[打切種別] [tinyint] NULL,
	[打切残数] [decimal](11, 3) NULL,
	[打切日] [varchar](8) NULL,
	[作成種別] [varchar](1) NULL,
	[処理区分] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
 CONSTRAINT [PK_材料発注画面入力ワーク] PRIMARY KEY CLUSTERED 
(
	[処理端末] ASC,
	[発注区分] ASC,
	[仕入先] ASC,
	[受入] ASC,
	[納入日] ASC,
	[納入便] ASC,
	[発注日] ASC,
	[発注便] ASC,
	[材料管理番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
