USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[発注予定回数テーブル]    Script Date: 2026/08/05 13:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[発注予定回数テーブル](
	[端末番号] [varchar](20) NOT NULL,
	[番号] [int] IDENTITY(1,1) NOT NULL,
	[仕入先] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[サイクル] [varchar](5) NULL,
	[発注日] [varchar](8) NULL,
	[発注便] [varchar](2) NULL,
	[納入日] [varchar](8) NULL,
	[納入便] [varchar](2) NULL,
	[手配区分] [varchar](1) NULL,
	[発注区分] [varchar](1) NULL,
	[SK区分] [tinyint] NULL,
	[明細書発行] [varchar](1) NULL,
	[作成種別] [varchar](1) NULL,
	[最終発注日] [varchar](8) NULL,
	[最終発注便] [varchar](2) NULL,
	[発注予定日] [varchar](8) NULL,
	[発注予定便] [varchar](2) NULL,
	[品番数] [int] NULL,
	[枚数] [int] NULL,
	[発行加算日] [tinyint] NULL,
	[発行日] [varchar](8) NULL,
	[曜日発注] [tinyint] NULL,
	[今回区分] [tinyint] NULL,
 CONSTRAINT [PK_発注予定回数テーブル] PRIMARY KEY CLUSTERED 
(
	[端末番号] ASC,
	[番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
