USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[空明細書テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[空明細書テーブル](
	[明細書NO] [int] NOT NULL,
	[発行区分] [varchar](1) NOT NULL,
	[仕入先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[納入日] [varchar](8) NOT NULL,
	[納入便] [varchar](2) NOT NULL,
	[発注日] [varchar](8) NOT NULL,
	[発注便] [varchar](2) NOT NULL,
	[発行時間] [varchar](4) NOT NULL,
	[発注区分] [varchar](1) NULL,
	[手配区分] [varchar](1) NULL,
	[SK区分] [tinyint] NULL,
	[仕入先名] [varchar](20) NULL,
	[明細書発行日] [varchar](8) NULL,
	[作成種別] [varchar](1) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[作成者] [varchar](15) NULL,
 CONSTRAINT [PK_空明細書テーブル] PRIMARY KEY CLUSTERED 
(
	[明細書NO] ASC,
	[発行区分] ASC,
	[仕入先] ASC,
	[受入] ASC,
	[納入日] ASC,
	[納入便] ASC,
	[発注日] ASC,
	[発注便] ASC,
	[発行時間] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [空明細書KEY1]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [空明細書KEY1] ON [dbo].[空明細書テーブル]
(
	[発行区分] ASC,
	[仕入先] ASC,
	[受入] ASC,
	[納入日] ASC,
	[納入便] ASC,
	[発注日] ASC,
	[発注便] ASC,
	[発行時間] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
