USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[発注点発注ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[発注点発注ワーク](
	[処理端末] [varchar](20) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[仕入先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[現在庫数] [int] NULL,
	[発注予定数] [int] NULL,
	[所要量] [int] NULL,
	[作成日] [datetime] NULL,
 CONSTRAINT [PK_発注点発注ワーク] PRIMARY KEY CLUSTERED 
(
	[処理端末] ASC,
	[品番] ASC,
	[仕入先] ASC,
	[受入] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
