USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[TOPPS変換テキスト]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOPPS変換テキスト](
	[履歴管理番号] [int] NOT NULL,
	[受注出荷区分] [tinyint] NOT NULL,
	[ファイルID] [varchar](30) NOT NULL,
	[SEQ] [smallint] NOT NULL,
	[納入番号] [varchar](5) NOT NULL,
	[REC] [varchar](200) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[納入先] [varchar](4) NULL,
	[納入先工場] [varchar](1) NULL,
	[受入] [varchar](2) NULL,
	[納入日] [varchar](8) NULL,
	[納入便] [varchar](2) NULL
) ON [PRIMARY]
GO
