USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[平準化チェックテーブル]    Script Date: 2026/08/05 13:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[平準化チェックテーブル](
	[年月] [varchar](6) NOT NULL,
	[仕入先] [varchar](7) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[背番号] [varchar](8) NULL,
	[平準化区分] [tinyint] NULL,
	[か係数] [decimal](3, 2) NULL,
	[収容数] [int] NULL,
	[サイクル] [varchar](5) NULL,
	[内示数] [int] NULL,
	[計画数] [int] NULL,
	[便枚数] [int] NULL,
	[日枚数] [int] NULL,
	[月枚数] [int] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
 CONSTRAINT [PK_平準化チェックテーブル] PRIMARY KEY NONCLUSTERED 
(
	[年月] ASC,
	[仕入先] ASC,
	[品番] ASC,
	[受入] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
