USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料在庫金額一覧ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料在庫金額一覧ワーク](
	[処理端末] [varchar](20) NULL,
	[材料管理番号] [int] NULL,
	[材質] [varchar](25) NULL,
	[寸法] [varchar](25) NULL,
	[手配先] [varchar](7) NULL,
	[手配先名] [varchar](50) NULL,
	[仕入単価] [decimal](9, 2) NULL,
	[前月末在庫数] [int] NULL,
	[前月末在庫金額] [int] NULL,
	[当月入庫数] [int] NULL,
	[当月入庫金額] [int] NULL,
	[当月出庫数] [int] NULL,
	[当月出庫金額] [int] NULL,
	[調整数] [int] NULL,
	[調整金額] [int] NULL,
	[現在在庫数] [int] NULL,
	[現在在庫金額] [int] NULL,
	[最終入庫日] [varchar](8) NULL
) ON [PRIMARY]
GO
