USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[カレンダ作成キーワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[カレンダ作成キーワーク](
	[取引先区分] [tinyint] NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NOT NULL,
 CONSTRAINT [PK_カレンダ作成キーワーク] PRIMARY KEY CLUSTERED 
(
	[取引先区分] ASC,
	[取引先] ASC,
	[受入] ASC,
	[作成端末] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
