USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[無償支給設定テーブル]    Script Date: 2026/08/05 13:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[無償支給設定テーブル](
	[得意先] [varchar](7) NOT NULL,
	[大親品番] [varchar](25) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_無償支給設定テーブル] PRIMARY KEY CLUSTERED 
(
	[得意先] ASC,
	[大親品番] ASC,
	[品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
