USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[TNS支給送信変換エラーテーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TNS支給送信変換エラーテーブル](
	[履歴管理NO] [int] NULL,
	[契約先] [varchar](7) NULL,
	[FCD] [varchar](4) NULL,
	[HEADKEY] [varchar](30) NULL,
	[品番] [varchar](25) NULL,
	[仕入先] [varchar](7) NULL,
	[REC] [varchar](250) NULL,
	[エラー] [tinyint] NULL,
	[エラー内容] [varchar](250) NULL,
	[納入日] [varchar](8) NULL,
	[納入番号] [varchar](5) NULL,
	[発注管理NO] [int] NULL,
	[変換日付] [varchar](8) NULL,
	[変換時刻] [varchar](8) NULL,
	[変換端末] [varchar](20) NULL,
	[更新日付] [varchar](8) NULL,
	[更新時刻] [varchar](8) NULL,
	[更新端末] [varchar](20) NULL,
	[受入] [varchar](2) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [TNS支給変換K1]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [TNS支給変換K1] ON [dbo].[TNS支給送信変換エラーテーブル]
(
	[契約先] ASC,
	[HEADKEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
