USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[内示テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[内示テーブル](
	[内示年月] [varchar](6) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[納入先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[内示区分] [varchar](1) NOT NULL,
	[契約先] [varchar](7) NULL,
	[工区] [varchar](1) NOT NULL,
	[層別区分] [varchar](1) NULL,
	[号補区分] [varchar](1) NULL,
	[検索品番] [varchar](25) NULL,
	[適用開始年月日] [varchar](8) NULL,
	[適用終了年月日] [varchar](8) NULL,
	[内示数] [int] NULL,
	[翌月内示数] [int] NULL,
	[翌々月内示数] [int] NULL,
	[管理NO] [varchar](6) NULL,
	[収容数] [int] NULL,
	[背番号] [varchar](8) NULL,
	[サイクル] [varchar](10) NULL,
	[担当] [varchar](2) NULL,
	[整備] [varchar](2) NULL,
	[納入区分] [varchar](1) NULL,
	[納品書発行枚数] [smallint] NULL,
	[かんばん回転枚数] [smallint] NULL,
	[かんばん増減符号] [varchar](1) NULL,
	[かんばん増減枚数] [smallint] NULL,
	[変更数符号] [varchar](1) NULL,
	[変更数] [int] NULL,
	[調整数符号] [varchar](1) NULL,
	[調整数] [int] NULL,
	[処理区分] [tinyint] NULL,
	[翌月処理区分] [tinyint] NULL,
	[削除区分] [tinyint] NULL,
	[変更回数] [tinyint] NULL,
	[登録区分] [tinyint] NULL,
	[登録FCODE] [varchar](10) NULL,
	[登録H作成日] [varchar](8) NULL,
	[登録HSEQ] [varchar](3) NULL,
	[登録連番] [int] NULL,
	[内示数量01] [int] NULL,
	[内示数量02] [int] NULL,
	[内示数量03] [int] NULL,
	[内示数量04] [int] NULL,
	[内示数量05] [int] NULL,
	[内示数量06] [int] NULL,
	[内示数量07] [int] NULL,
	[内示数量08] [int] NULL,
	[内示数量09] [int] NULL,
	[内示数量10] [int] NULL,
	[内示数量11] [int] NULL,
	[内示数量12] [int] NULL,
	[内示数量13] [int] NULL,
	[内示数量14] [int] NULL,
	[内示数量15] [int] NULL,
	[内示数量16] [int] NULL,
	[内示数量17] [int] NULL,
	[内示数量18] [int] NULL,
	[内示数量19] [int] NULL,
	[内示数量20] [int] NULL,
	[内示数量21] [int] NULL,
	[内示数量22] [int] NULL,
	[内示数量23] [int] NULL,
	[内示数量24] [int] NULL,
	[内示数量25] [int] NULL,
	[内示数量26] [int] NULL,
	[内示数量27] [int] NULL,
	[内示数量28] [int] NULL,
	[内示数量29] [int] NULL,
	[内示数量30] [int] NULL,
	[内示数量31] [int] NULL,
	[コメント] [varchar](30) NULL,
	[作成者] [varchar](15) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[更新者] [varchar](15) NULL,
	[更新日] [datetime] NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_内示テーブル] PRIMARY KEY CLUSTERED 
(
	[内示年月] ASC,
	[品番] ASC,
	[納入先] ASC,
	[受入] ASC,
	[内示区分] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [内示テーブルKey1]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [内示テーブルKey1] ON [dbo].[内示テーブル]
(
	[内示年月] ASC,
	[登録FCODE] ASC,
	[登録H作成日] ASC,
	[登録HSEQ] ASC,
	[登録連番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
