USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[棚卸最終出庫実績ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[棚卸最終出庫実績ワーク](
	[品番] [varchar](25) NULL,
	[実績先] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[工順] [varchar](2) NULL,
	[処理端末] [varchar](20) NULL
) ON [PRIMARY]
GO
