USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[K_在庫マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[K_在庫マスタ](
	[品目コード] [varchar](20) NULL,
	[在庫場所] [varchar](7) NULL,
	[前月末在庫数] [varchar](11) NULL,
	[入庫数] [varchar](11) NULL,
	[入庫返品数] [varchar](11) NULL,
	[入庫在庫調整数] [varchar](11) NULL,
	[出庫数] [varchar](11) NULL,
	[出庫返品数] [varchar](11) NULL,
	[廃却数] [varchar](11) NULL,
	[出庫在庫調整数] [varchar](11) NULL,
	[現在在庫数] [varchar](11) NULL,
	[在庫金額] [varchar](10) NULL,
	[発注残] [varchar](11) NULL,
	[引当残] [varchar](11) NULL,
	[有効残] [varchar](11) NULL,
	[最終入庫日] [varchar](6) NULL,
	[前月末実質在庫] [varchar](11) NULL,
	[実質在庫数] [varchar](11) NULL,
	[空き] [varchar](7) NULL
) ON [PRIMARY]
GO
