USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[受注取引先CD変換マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[受注取引先CD変換マスタ](
	[変換元CD] [varchar](7) NOT NULL,
	[変換元受入] [varchar](2) NOT NULL,
	[変換先CD] [varchar](7) NULL,
	[変換先受入] [varchar](2) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[契約先] [varchar](7) NOT NULL,
 CONSTRAINT [PK_受注取引先CD変換マスタ_1] PRIMARY KEY CLUSTERED 
(
	[変換元CD] ASC,
	[変換元受入] ASC,
	[契約先] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
