USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[TNS送信履歴テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TNS送信履歴テーブル](
	[履歴管理NO] [int] NOT NULL,
	[送信先] [varchar](8) NULL,
	[FCODE] [varchar](8) NULL,
	[契約先] [varchar](7) NULL,
	[送信先区分] [tinyint] NULL,
	[枝番] [tinyint] NULL,
	[HTYPE] [varchar](1) NULL,
	[開始日時] [datetime] NULL,
	[終了日時] [datetime] NULL,
	[データ件数] [int] NULL,
	[送信件数] [int] NULL,
	[処理コード] [tinyint] NULL,
	[処理結果] [varchar](3) NULL,
	[ERR] [varchar](6) NULL,
	[送信開始日時] [datetime] NULL,
	[送信終了日時] [datetime] NULL,
	[送信日] [varchar](8) NULL,
	[送信連番] [tinyint] NULL,
	[送信管理NO] [int] NULL,
	[処理連番] [tinyint] NULL,
	[実行区分] [tinyint] NULL,
	[自動区分] [tinyint] NULL,
	[対象ファイル] [varchar](100) NULL,
	[対象ファイルUNC] [varchar](100) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[ERR件数] [int] NULL,
 CONSTRAINT [PK_TNS送信履歴テーブル] PRIMARY KEY CLUSTERED 
(
	[履歴管理NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
