USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[購入単価内訳マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[購入単価内訳マスタ](
	[品番] [varchar](25) NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[契約先] [varchar](7) NOT NULL,
	[履歴NO] [int] NOT NULL,
	[単価内訳区分] [tinyint] NOT NULL,
	[連番] [tinyint] NOT NULL,
	[内訳コード] [varchar](3) NULL,
	[内訳内容] [varchar](12) NULL,
	[材料管理番号] [int] NULL,
	[材料取引先] [varchar](7) NULL,
	[材料契約先] [varchar](7) NULL,
	[単価] [decimal](9, 2) NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_購入単価内訳マスタ] PRIMARY KEY CLUSTERED 
(
	[品番] ASC,
	[取引先] ASC,
	[契約先] ASC,
	[履歴NO] ASC,
	[単価内訳区分] ASC,
	[連番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
