USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[受給差異明細テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[受給差異明細テーブル](
	[照合年月] [varchar](6) NOT NULL,
	[照合結果] [varchar](2) NOT NULL,
	[契約先] [varchar](7) NOT NULL,
	[照合日付] [varchar](8) NOT NULL,
	[照合品番] [varchar](25) NOT NULL,
	[照合納番] [varchar](10) NOT NULL,
	[照合管理] [varchar](10) NOT NULL,
	[照合赤黒] [tinyint] NOT NULL,
	[財務管理番号] [int] NOT NULL,
	[受入] [varchar](4) NULL,
	[繰越] [varchar](1) NOT NULL,
	[実績年月] [varchar](6) NOT NULL,
	[対象年月] [varchar](6) NOT NULL,
	[管理番号] [varchar](15) NULL,
	[品番] [varchar](25) NULL,
	[納入日] [varchar](8) NULL,
	[納入番号] [varchar](10) NULL,
	[FCD] [varchar](5) NULL,
	[繰越区分] [varchar](1) NULL,
	[識別子] [varchar](2) NULL,
	[支給先] [varchar](4) NULL,
	[仮単価] [tinyint] NULL,
	[自社単価] [decimal](10, 2) NULL,
	[自社数量] [int] NULL,
	[自社金額] [int] NULL,
	[契約先単価] [decimal](13, 2) NULL,
	[契約先数量] [int] NULL,
	[契約先金額] [int] NULL,
	[最大日付] [varchar](8) NULL,
	[削除区分] [varchar](1) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_受給差異明細テーブル] PRIMARY KEY CLUSTERED 
(
	[照合年月] ASC,
	[照合結果] ASC,
	[契約先] ASC,
	[照合日付] ASC,
	[照合品番] ASC,
	[照合納番] ASC,
	[照合管理] ASC,
	[照合赤黒] ASC,
	[財務管理番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
