USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[機械マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[機械マスタ](
	[機械] [varchar](5) NOT NULL,
	[機械名称] [varchar](20) NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_機械マスタ] PRIMARY KEY CLUSTERED 
(
	[機械] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
