USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[eかんばん出荷データ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eかんばん出荷データ](
	[REC1] [varchar](356) NULL,
	[REC2] [varchar](100) NULL,
	[REC3] [varchar](32) NULL
) ON [PRIMARY]
GO
