USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料実績管理テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料実績管理テーブル](
	[実績管理NO] [int] NOT NULL,
	[実績区分] [tinyint] NOT NULL,
	[納入番号] [varchar](5) NULL,
	[納品書頁] [tinyint] NULL,
	[納品書行] [tinyint] NULL,
	[分納区分] [tinyint] NULL,
	[実績先] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[実績元] [varchar](7) NULL,
	[材質] [varchar](25) NULL,
	[寸法区分] [tinyint] NULL,
	[板厚] [decimal](6, 2) NULL,
	[幅] [decimal](6, 2) NULL,
	[長さ] [decimal](6, 2) NULL,
	[背番号] [varchar](8) NULL,
	[実績日] [varchar](8) NULL,
	[実績便] [varchar](2) NULL,
	[収容数] [decimal](11, 3) NULL,
	[実績枚数] [decimal](11, 3) NULL,
	[実績端数] [decimal](11, 3) NULL,
	[実績数] [decimal](11, 3) NULL,
	[分割数] [decimal](11, 3) NULL,
	[挽回日] [varchar](8) NULL,
	[挽回便] [varchar](2) NULL,
	[有無償区分] [tinyint] NULL,
	[分割納品書NO] [varchar](5) NULL,
	[検収区分] [varchar](1) NULL,
	[検収年月] [varchar](6) NULL,
	[検収処理日] [varchar](8) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[作成者] [varchar](15) NULL,
	[更新日] [datetime] NULL,
	[更新端末] [varchar](20) NULL,
	[更新者] [varchar](15) NULL,
	[入力種類] [varchar](1) NULL,
 CONSTRAINT [PK_材料実績管理テーブル] PRIMARY KEY CLUSTERED 
(
	[実績管理NO] ASC,
	[実績区分] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
