USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[売上予想型費テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[売上予想型費テーブル](
	[年度] [varchar](4) NOT NULL,
	[予想年月] [varchar](6) NOT NULL,
	[契約先] [varchar](7) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[開始年月] [varchar](6) NOT NULL,
	[車型] [varchar](5) NULL,
	[工区] [varchar](1) NULL,
	[金額1] [money] NULL,
	[金額2] [money] NULL,
	[金額3] [money] NULL,
	[金額4] [money] NULL,
	[金額5] [money] NULL,
	[金額6] [money] NULL,
	[金額7] [money] NULL,
	[金額8] [money] NULL,
	[金額9] [money] NULL,
	[金額10] [money] NULL,
	[金額11] [money] NULL,
	[金額12] [money] NULL,
	[金額13] [money] NULL,
	[金額14] [money] NULL,
	[内示位置] [tinyint] NULL,
	[集約品番] [varchar](25) NULL,
	[品番編集] [varchar](5) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](15) NULL,
	[更新日] [datetime] NULL,
	[更新端末] [varchar](15) NULL,
 CONSTRAINT [PK_売上予想型費テーブル] PRIMARY KEY CLUSTERED 
(
	[年度] ASC,
	[予想年月] ASC,
	[契約先] ASC,
	[品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
