USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[買掛型費テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[買掛型費テーブル](
	[取引先] [varchar](7) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[連番] [tinyint] NOT NULL,
	[対象開始年月] [varchar](6) NOT NULL,
	[適用開始年月] [varchar](6) NOT NULL,
	[適用終了年月] [varchar](6) NOT NULL,
	[月発生金額] [int] NULL,
	[投資金額] [int] NULL,
	[回数] [tinyint] NULL,
	[調整金額] [int] NULL,
	[切替年月] [varchar](6) NULL,
	[金額] [int] NULL,
	[照合年月] [varchar](6) NULL,
	[照合処理日] [varchar](8) NULL,
	[照合結果] [varchar](1) NULL,
	[実績年月] [varchar](6) NULL,
	[実績処理日] [varchar](8) NULL,
	[実績結果] [varchar](1) NULL,
	[予想年月] [varchar](6) NULL,
	[予想処理日] [varchar](8) NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
 CONSTRAINT [PK_買掛型費テーブル_1__15] PRIMARY KEY NONCLUSTERED 
(
	[取引先] ASC,
	[品番] ASC,
	[対象開始年月] ASC,
	[連番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
