USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[エラー伝票内容テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[エラー伝票内容テーブル](
	[エラー要因] [tinyint] NOT NULL,
	[伝票種類] [tinyint] NOT NULL,
	[端末番号] [varchar](20) NOT NULL,
	[エラー管理NO] [int] NOT NULL,
	[処理中端末] [varchar](20) NULL,
	[受注区分] [tinyint] NULL,
	[受注日] [varchar](8) NULL,
	[受注便] [varchar](2) NULL,
	[納入日] [varchar](8) NULL,
	[納入便] [varchar](2) NULL,
	[納入先] [varchar](7) NULL,
	[納入番号] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[機番] [varchar](3) NULL,
	[井] [varchar](1) NULL,
	[仕入先] [varchar](6) NULL,
	[支給先] [varchar](5) NULL,
	[発注者] [varchar](5) NULL,
	[伝票受入] [varchar](4) NULL,
	[納頭] [varchar](2) NULL,
	[納入場所] [varchar](4) NULL,
	[CD] [varchar](3) NULL,
	[工区] [varchar](1) NULL,
	[区] [varchar](1) NULL,
	[管理番号] [varchar](6) NULL,
	[部管] [varchar](2) NULL,
	[有無区] [varchar](5) NULL,
	[出庫部署] [varchar](3) NULL,
	[単位] [varchar](2) NULL,
	[納区] [varchar](1) NULL,
	[支区] [varchar](1) NULL,
	[部区] [varchar](1) NULL,
	[月日便] [varchar](6) NULL,
	[行] [varchar](1) NULL,
	[受付NO] [varchar](5) NULL,
	[担当] [varchar](2) NULL,
	[購区] [varchar](1) NULL,
	[ロット数] [smallint] NULL,
	[組コード] [varchar](3) NULL,
	[作成日] [datetime] NULL,
	[自社工区] [varchar](1) NULL
) ON [PRIMARY]
GO
