USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[TEXT変換履歴テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEXT変換履歴テーブル](
	[履歴管理番号] [int] NOT NULL,
	[FILECD] [varchar](10) NULL,
	[HTYPE] [varchar](1) NULL,
	[FCODE] [varchar](4) NULL,
	[開始日時] [datetime] NULL,
	[終了日時] [datetime] NULL,
	[件数] [int] NULL,
	[変換件数] [int] NULL,
	[HEAD件数] [smallint] NULL,
	[TAIL件数] [smallint] NULL,
	[文言件数] [smallint] NULL,
	[出力件数] [int] NULL,
	[処理コード] [smallint] NULL,
	[受信ｴﾗｰ] [varchar](6) NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
 CONSTRAINT [PK_TEXT変換履歴テーブル] PRIMARY KEY CLUSTERED 
(
	[履歴管理番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
