USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[品番マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[品番マスタ](
	[品番] [varchar](25) NOT NULL,
	[社内背番] [varchar](5) NULL,
	[車型] [varchar](5) NULL,
	[品名] [varchar](40) NULL,
	[品番編集] [varchar](5) NULL,
	[表示品番] [varchar](30) NULL,
	[基本収容器] [varchar](10) NULL,
	[基本収容数] [int] NULL,
	[在庫管理区分] [tinyint] NULL,
	[在庫管理数値] [decimal](8, 2) NULL,
	[在庫係数] [decimal](3, 0) NULL,
	[在庫日数] [decimal](3, 1) NULL,
	[在庫発注点] [int] NULL,
	[工程] [varchar](3) NULL,
	[次工程] [varchar](3) NULL,
	[担当] [varchar](3) NULL,
	[型NO] [varchar](13) NULL,
	[型所在地] [varchar](7) NULL,
	[IMAGE] [varchar](255) NULL,
	[実数区分] [tinyint] NULL,
	[ABC] [varchar](1) NULL,
	[品番区分] [varchar](1) NULL,
	[仮区分] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
	[更新日] [datetime] NULL,
	[更新者] [varchar](15) NULL,
	[更新端末] [varchar](20) NULL,
	[設定数] [int] NULL,
	[部品区分] [tinyint] NULL,
	[得意先] [varchar](7) NULL,
 CONSTRAINT [PK_品番マスタ] PRIMARY KEY CLUSTERED 
(
	[品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
