USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[S内示日量ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[S内示日量ワーク](
	[内示年月] [varchar](6) NOT NULL,
	[計画年月] [varchar](6) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[工区] [varchar](2) NOT NULL,
	[内示数] [int] NULL,
	[翌月内示数] [int] NULL,
	[翌々月内示数] [int] NULL,
	[内示数量01] [int] NULL,
	[内示数量02] [int] NULL,
	[内示数量03] [int] NULL,
	[内示数量04] [int] NULL,
	[内示数量05] [int] NULL,
	[内示数量06] [int] NULL,
	[内示数量07] [int] NULL,
	[内示数量08] [int] NULL,
	[内示数量09] [int] NULL,
	[内示数量10] [int] NULL,
	[内示数量11] [int] NULL,
	[内示数量12] [int] NULL,
	[内示数量13] [int] NULL,
	[内示数量14] [int] NULL,
	[内示数量15] [int] NULL,
	[内示数量16] [int] NULL,
	[内示数量17] [int] NULL,
	[内示数量18] [int] NULL,
	[内示数量19] [int] NULL,
	[内示数量20] [int] NULL,
	[内示数量21] [int] NULL,
	[内示数量22] [int] NULL,
	[内示数量23] [int] NULL,
	[内示数量24] [int] NULL,
	[内示数量25] [int] NULL,
	[内示数量26] [int] NULL,
	[内示数量27] [int] NULL,
	[内示数量28] [int] NULL,
	[内示数量29] [int] NULL,
	[内示数量30] [int] NULL,
	[内示数量31] [int] NULL,
	[計画稼動区分] [varchar](31) NULL,
	[稼働日末日] [tinyint] NULL,
	[在庫管理区分] [tinyint] NULL,
	[安全在庫数] [int] NULL,
	[月初在庫数] [int] NULL,
	[月初有効在庫数] [int] NULL,
	[必要数量01] [int] NULL,
	[必要数量02] [int] NULL,
	[必要数量03] [int] NULL,
	[必要数量04] [int] NULL,
	[必要数量05] [int] NULL,
	[必要数量06] [int] NULL,
	[必要数量07] [int] NULL,
	[必要数量08] [int] NULL,
	[必要数量09] [int] NULL,
	[必要数量10] [int] NULL,
	[必要数量11] [int] NULL,
	[必要数量12] [int] NULL,
	[必要数量13] [int] NULL,
	[必要数量14] [int] NULL,
	[必要数量15] [int] NULL,
	[必要数量16] [int] NULL,
	[必要数量17] [int] NULL,
	[必要数量18] [int] NULL,
	[必要数量19] [int] NULL,
	[必要数量20] [int] NULL,
	[必要数量21] [int] NULL,
	[必要数量22] [int] NULL,
	[必要数量23] [int] NULL,
	[必要数量24] [int] NULL,
	[必要数量25] [int] NULL,
	[必要数量26] [int] NULL,
	[必要数量27] [int] NULL,
	[必要数量28] [int] NULL,
	[必要数量29] [int] NULL,
	[必要数量30] [int] NULL,
	[必要数量31] [int] NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
 CONSTRAINT [PK_S内示日量ワーク] PRIMARY KEY CLUSTERED 
(
	[内示年月] ASC,
	[計画年月] ASC,
	[品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
