USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[かんばん回転枚数テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[かんばん回転枚数テーブル](
	[年月] [varchar](6) NOT NULL,
	[仕入先] [varchar](7) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[背番号] [varchar](8) NULL,
	[回転枚数] [int] NULL,
	[前回回転枚数] [int] NULL,
	[回転枚数差] [int] NULL,
	[増発枚数] [int] NULL,
	[抜取枚数] [int] NULL,
	[増減区分] [tinyint] NULL,
	[前月回転枚数] [int] NULL,
	[平準化区分] [tinyint] NULL,
	[便上限枚数] [int] NULL,
	[日上限枚数] [int] NULL,
	[月上限枚数] [int] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
 CONSTRAINT [PK_かんばん回転枚数テーブル] PRIMARY KEY NONCLUSTERED 
(
	[年月] ASC,
	[仕入先] ASC,
	[品番] ASC,
	[受入] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
