USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[内示日付別ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[内示日付別ワーク](
	[処理端末] [varchar](20) NOT NULL,
	[内示年月] [varchar](6) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[納入先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[内示区分] [varchar](1) NOT NULL,
	[納期] [varchar](8) NOT NULL,
	[数量] [int] NULL,
 CONSTRAINT [PK_内示日付別ワーク] PRIMARY KEY CLUSTERED 
(
	[処理端末] ASC,
	[内示年月] ASC,
	[品番] ASC,
	[納入先] ASC,
	[受入] ASC,
	[内示区分] ASC,
	[納期] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
