USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[K_プレス製造指示データ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[K_プレス製造指示データ](
	[優先度] [varchar](2) NULL,
	[プレス部品番号] [varchar](20) NULL,
	[材料サイズ] [varchar](20) NULL,
	[打切M] [varchar](1) NULL,
	[加工数1] [varchar](11) NULL,
	[加工数2] [varchar](11) NULL,
	[材料在庫量] [varchar](11) NULL,
	[材料使用量] [varchar](11) NULL,
	[共用材] [varchar](1) NULL,
	[原単位] [varchar](11) NULL,
	[BL種類] [varchar](3) NULL,
	[親部品番号] [varchar](20) NULL,
	[内示当月] [varchar](11) NULL,
	[内示次月] [varchar](11) NULL,
	[プレス工程数] [varchar](9) NULL,
	[プレス種] [varchar](3) NULL,
	[空き] [varchar](18) NULL
) ON [PRIMARY]
GO
