USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[発注内示仕掛ワーク]    Script Date: 2026/08/05 13:50:35 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[発注内示仕掛ワーク](
	[品番] [varchar](25) NOT NULL,
	[手配先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[直送先] [varchar](7) NOT NULL,
	[納期] [varchar](8) NOT NULL,
	[仕掛日] [varchar](8) NULL,
	[発注日] [varchar](8) NULL,
	[数量] [decimal](11, 4) NULL,
	[LT] [tinyint] NULL,
	[ロット] [int] NULL,
	[WEEK1] [tinyint] NULL,
	[WEEK2] [tinyint] NULL,
	[WEEK3] [tinyint] NULL,
	[WEEK4] [tinyint] NULL,
	[WEEK5] [tinyint] NULL,
	[DAY1] [tinyint] NULL,
	[DAY2] [tinyint] NULL,
	[DAY3] [tinyint] NULL,
	[DAY4] [tinyint] NULL,
	[DAY5] [tinyint] NULL,
	[展開区分] [tinyint] NOT NULL,
	[稼動カウント] [tinyint] NULL,
	[ロット端数] [decimal](11, 4) NULL,
	[処理番号] [int] NULL,
 CONSTRAINT [PK_発注内示仕掛ワーク] PRIMARY KEY NONCLUSTERED 
(
	[品番] ASC,
	[手配先] ASC,
	[受入] ASC,
	[直送先] ASC,
	[納期] ASC,
	[展開区分] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 60, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_発注内示仕掛ワーク]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [IX_発注内示仕掛ワーク] ON [dbo].[発注内示仕掛ワーク]
(
	[ロット] ASC,
	[納期] ASC,
	[品番] ASC,
	[手配先] ASC,
	[受入] ASC,
	[処理番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 60, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_発注内示仕掛ワーク_1]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [IX_発注内示仕掛ワーク_1] ON [dbo].[発注内示仕掛ワーク]
(
	[展開区分] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 60, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
