USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[材料展開在庫品番ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[材料展開在庫品番ワーク](
	[年月度] [varchar](6) NOT NULL,
	[材料管理番号] [int] NOT NULL,
	[在庫数] [decimal](12, 3) NULL,
	[実棚日] [varchar](8) NOT NULL,
	[安全在庫数] [decimal](12, 3) NULL,
 CONSTRAINT [PK_材料展開在庫品番ワーク] PRIMARY KEY CLUSTERED 
(
	[年月度] ASC,
	[材料管理番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 60, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
