USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[取引先変換マスタ]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[取引先変換マスタ](
	[契約先] [varchar](7) NOT NULL,
	[代行契約先] [varchar](7) NOT NULL,
	[取引先] [varchar](7) NOT NULL,
	[受入] [varchar](2) NOT NULL,
	[品番] [varchar](25) NOT NULL,
	[支給元] [varchar](5) NULL,
	[支給元2] [varchar](5) NULL,
	[契約取引先] [varchar](5) NULL,
	[契約工場] [varchar](2) NULL,
	[契約取引先CD] [varchar](7) NULL,
	[納入先] [varchar](5) NULL,
	[納入先工場] [varchar](2) NULL,
	[納入先CD] [varchar](5) NULL,
	[納入先受入] [varchar](2) NULL,
	[納入先名称] [varchar](24) NULL,
	[直直区分] [tinyint] NULL,
	[作成日] [datetime] NULL,
	[作成者] [varchar](15) NULL,
	[作成端末] [varchar](20) NULL,
 CONSTRAINT [PK_取引先変換マスタ] PRIMARY KEY CLUSTERED 
(
	[契約先] ASC,
	[代行契約先] ASC,
	[取引先] ASC,
	[受入] ASC,
	[品番] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
