USE [SIMTOKIDB]
GO
/****** Object:  View [dbo].[工程かんばん情報検索ビュー]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[工程かんばん情報検索ビュー]
AS
SELECT 
	HN.品番,CASE WHEN ISNULL(HN.表示品番,'') = '' Then HT.品番 Else HN.表示品番 End 表示品番,
	HN.社内背番,' ' + HN.社内背番 表示社内背番,HN.品名,HN.車型,
	ISNULL(HT.取引先,'') 取引先,ISNULL(HT.受入,'') 受入,
	CASE WHEN ISNULL(TR.略称,'') <> '' Then ISNULL(HT.取引先,'') + '：' + TR.略称 Else ISNULL(HT.取引先,'') End 表示取引先,
	CASE WHEN ISNULL(TR2.略称,'') <> '' Then ISNULL(HT.契約先,'') + '：' + TR2.略称 Else ISNULL(HT.契約先,'') End 表示契約先,
	CASE WHEN ISNULL(HT.手配区分,'') = '1' THEN
	     CASE WHEN ISNULL(TR3.略称,'') <> '' Then ISNULL(HT.納入先,'') + '：' + TR3.略称 Else ISNULL(HT.納入先,'') End
	Else '' END  表示納入先,
	ISNULL(HT.背番号,'') 背番号,' ' + ISNULL(HT.背番号,'') 表示背番号,
	ISNULL(HT.収容数1,0) 収容数1,ISNULL(HT.SK区分,0) SK区分,
	CASE WHEN HT.SK区分 IS NUll THEN '' Else Case When ISNULL(HT.SK区分,0) = 0 Then 'K' Else 'S' End End SK,
	CASE When ISNULL(HT.サイクル,'') <> '' Then Substring(HT.サイクル,1,1) + '-' + Substring(HT.サイクル,2,2) + '-' + Substring(HT.サイクル,4,2)
	Else '' End 表示サイクル,
	ISNull(HT.手配区分,'') 手配区分,RTRIM(ISNULL(SY.値名称,'')) 手配区分名,
	ISNULL(HT.品目,0) 品目,
	CASE WHEN HT.品目 IS Null Then '' Else Case When ISnull(HT.品目,0) = 0 Then '受' Else '発' End End 品目名,
	ISNULL(HT.収容器1,'') 収容器1,
	CASE WHEN ISNULL(HT.変更日,'') <> '' THEN
	     SubString(HT.変更日,1,4) + '/' + SubString(HT.変更日,5,2) + '/' + SubString(HT.変更日,7,2) + '-' + HT.変更便
	Else '' END 変更日便,
	ISNULL(HT.収容器2,'') 収容器2,ISNULL(HT.収容数2,0) 収容数2,ISNULL(HT.納入先受入,'') 納入先受入,
	ISNULL(HT.置場,'') 置場,ISNULL(HT.アドレス,'') アドレス,
	CASE WHEN ISNULL(TR4.略称,'') <> '' Then ISNULL(HN.得意先,'') + '：' + TR4.略称 Else ISNULL(HN.得意先,'') End 取引先名,
	ISNULL(HT.最終発行連番,'') 最終発行連番,
	CASE WHEN ISNULL(HN.部品区分,0) = 0 THEN '部品'
	     WHEN ISNULL(HN.部品区分,0) = 1 THEN '外注加工'
	     WHEN ISNULL(HN.部品区分,0) = 2 THEN '補助材'
	     ELSE '' END 部品区分名
	,ISNULL(HN.得意先,'') 得意先
	,CASE WHEN ISNULL(HT.返却場所,'') <> '' THEN 
			RTRIM(ISNULL(SY1.値名称,''))
     ELSE   '' END 返却場所
	,CASE WHEN ISNULL(HT.後工程,0) <> 0 THEN
		CASE WHEN ISNULL(TR5.略称,'') <> '' THEN 
				ISNULL(SY2.英数字2,'') + '：' + ISNULL(TR5.略称,'')
		ELSE '' END 
	 ELSE   '' END 後工程
	,CASE WHEN ISNULL(HT.後工程,0) <> 0 THEN 
		CASE WHEN ISNULL(SY3.値名称,'') <> '' THEN 
			RTRIM(ISNULL(SY3.値名称,''))
		ELSE '' END
	 ELSE '' END 後工程返却場所
	,ISNULL(HT.ロット1,0) ロット1,ISNULL(HT.ロット2,0) ロット2
	,ISNULL(HN.ABC,'') 生産区分
	,CASE WHEN ISNULL(HT.部品区分,0) = 0 THEN  '完成品'
		  WHEN ISNULL(HT.部品区分,0) = 1 THEN  '購入品'
		  WHEN ISNULL(HT.部品区分,0) = 2 THEN  '仕掛品'   
	 END 品目区分
	From 品番取引先マスタ HT
	Left Outer Join 品番マスタ HN
	  ON HT.品番 = HN.品番
	Left Outer Join 取引先マスタ TR
	  ON TR.取引先区分 = ISNULL(HT.品目,'')
	 AND TR.取引先CD = ISNULL(HT.取引先,'')
	Left Outer Join 取引先マスタ TR2
	  ON TR2.取引先区分 = ISNULL(HT.品目,'')
	 AND TR2.取引先CD = ISNULL(HT.契約先,'')
	Left Outer Join 取引先マスタ TR3
	  ON TR3.取引先区分 = ISNULL(HT.品目,'')
	 AND TR3.取引先CD = ISNULL(HT.納入先,'')
	Left Outer Join 取引先マスタ TR4
	  ON TR4.取引先CD   = ISNULL(HN.得意先,'')
	 AND TR4.取引先区分 = 0
	Left Outer Join 名称マスタ SY
	  ON SY.区分名称 = '手配区分'
	 And Sy.区分タイプ = ''
	 And SY.値 = ISNULL(HT.手配区分,'')
	Left Outer Join 名称マスタ SY1
	  ON SY1.区分名称 = '返却場所'
	 And Sy1.区分タイプ = ''
	 And SY1.値 = ISNULL(HT.返却場所,'')
	Left Outer Join 名称マスタ SY2
	  ON SY2.区分名称 = '工程かんばん発行パターン'
	 And Sy2.区分タイプ = ''
	 And CONVERT(INT,SY2.値) = ISNULL(HT.後工程,0)
	Left Outer Join 取引先マスタ TR5
	  ON TR5.取引先CD   = ISNULL(SY2.英数字2,'')
	 AND TR5.取引先区分 = 1
	Left Outer Join 名称マスタ SY3
	  ON SY3.区分名称 = '返却場所'
	 And Sy3.区分タイプ = ''
	 And SY3.値 = ISNULL(SY2.英数字3,'')
GO
