USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[かんばん増減一括更新ワーク]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[かんばん増減一括更新ワーク](
	[処理端末] [varchar](20) NULL,
	[取引先] [varchar](7) NULL,
	[取引先名] [varchar](40) NULL,
	[受入] [varchar](2) NULL,
	[品番] [varchar](25) NULL,
	[表示品番] [varchar](30) NULL,
	[背番号] [varchar](8) NULL,
	[収容数] [int] NULL,
	[前回回転枚数] [int] NULL,
	[回転枚数] [int] NULL,
	[当月内示数] [int] NULL,
	[有効枚数] [int] NULL,
	[増減区分] [int] NULL,
	[設定枚数] [int] NULL,
	[便当枚数] [int] NULL,
	[累積枚数] [int] NULL,
	[開始日] [varchar](8) NULL,
	[終了日] [varchar](8) NULL,
	[増減設定内容区分] [int] NULL,
	[完了日] [varchar](8) NULL,
	[平準化区分] [int] NULL,
	[平準設定枚数] [int] NULL,
	[平準設定内容区分] [int] NULL,
	[今回回転枚数] [int] NULL
) ON [PRIMARY]
GO
