USE [SIMTOKIDB]
GO
/****** Object:  Table [dbo].[検収テーブル]    Script Date: 2026/08/05 13:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[検収テーブル](
	[検収管理NO] [int] NOT NULL,
	[検収管理行NO] [tinyint] NOT NULL,
	[指示書NO] [int] NOT NULL,
	[指示書行NO] [tinyint] NOT NULL,
	[データ区分] [tinyint] NULL,
	[検収日] [varchar](8) NULL,
	[納入先] [varchar](7) NULL,
	[受入] [varchar](2) NULL,
	[機番] [varchar](3) NULL,
	[納入番号] [varchar](9) NULL,
	[納品書頁] [tinyint] NULL,
	[納品書行] [tinyint] NULL,
	[品番] [varchar](25) NULL,
	[背番号] [varchar](8) NULL,
	[赤黒区分] [tinyint] NULL,
	[枚数] [int] NULL,
	[収容数] [int] NULL,
	[検収数] [int] NULL,
	[作成種別] [varchar](1) NULL,
	[照合年月] [varchar](6) NULL,
	[照合処理日] [varchar](8) NULL,
	[照合結果] [varchar](1) NULL,
	[実績年月] [varchar](6) NULL,
	[実績処理日] [varchar](8) NULL,
	[実績結果] [varchar](1) NULL,
	[作成日] [datetime] NULL,
	[作成端末] [varchar](20) NULL,
	[作成者] [varchar](15) NULL,
	[更新日] [datetime] NULL,
	[更新端末] [varchar](20) NULL,
	[更新者] [varchar](15) NULL,
 CONSTRAINT [PK_検収テーブル] PRIMARY KEY CLUSTERED 
(
	[検収管理NO] ASC,
	[検収管理行NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [計画対比]    Script Date: 2026/08/05 13:50:35 ******/
CREATE NONCLUSTERED INDEX [計画対比] ON [dbo].[検収テーブル]
(
	[検収日] ASC,
	[受入] ASC,
	[納入先] ASC,
	[品番] ASC,
	[背番号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
